Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

move: runner build sln
  packages/qunit-runner/build-dotnet.sln
Owners: none

refactor: remove unused transpile-tests task
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/package.json
Owners: none

fix: update paths in docker-ci.sh
  e2e/qunit/docker-ci.sh
Owners: none

fix: implement launching of qunit server
  e2e/qunit/launch
  e2e/qunit/package.json
Owners: none

move: runner
  packages/qunit-runner/.gitignore
  packages/qunit-runner/.vscode/launch.json
  packages/qunit-runner/.vscode/tasks.json
  packages/qunit-runner/Controllers/MainController.cs
  packages/qunit-runner/Controllers/TestVectorMapDataController.cs
  packages/qunit-runner/Controllers/ThemesTestController.cs
  packages/qunit-runner/Models/BaseRunViewModel.cs
  packages/qunit-runner/Models/Results/ResultItem.cs
  packages/qunit-runner/Models/Results/TestCase.cs
  packages/qunit-runner/Models/Results/TestResults.cs
  packages/qunit-runner/Models/Results/TestSuite.cs
  packages/qunit-runner/Models/RunAllViewModel.cs
  packages/qunit-runner/Models/RunSuiteViewModel.cs
  packages/qunit-runner/Models/UI/Category.cs
  packages/qunit-runner/Models/UI/Suite.cs
  packages/qunit-runner/Program.cs
  packages/qunit-runner/Tools/ConsoleHelper.cs
  packages/qunit-runner/Tools/ExtensionMethods.cs
  packages/qunit-runner/Tools/Ports.cs
  packages/qunit-runner/Tools/RunFlags.cs
  packages/qunit-runner/Tools/UIModelHelper.cs
  packages/qunit-runner/Tools/ViewLocationExpander.cs
  packages/qunit-runner/Views/Main/Index.cshtml
  packages/qunit-runner/Views/Main/RunAll.cshtml
  packages/qunit-runner/Views/Main/RunSuite.cshtml
  packages/qunit-runner/Views/_ViewImports.cshtml
  packages/qunit-runner/runner.csproj
Owners: none

fix: gh workflow
  .github/actions/run-qunit-tests/action.yml
Owners: @DevExpress/devextreme-devops

fix: systemjs transpiling
  packages/devextreme/build/gulp/systemjs-builder.js
  packages/devextreme/build/gulp/systemjs.js
Owners: none

fix: add RawLog to gitignore
  e2e/qunit/.gitignore
  packages/devextreme/.gitignore
Owners: none

refactor: add e2e/qunit package & project
  packages/qunit-runner/package.json
  packages/qunit-runner/project.json
Owners: none

move: docker-ci.sh
  e2e/qunit/docker-ci.sh
Owners: none

fix: remove building dotnet from package json
  packages/devextreme/package.json
Owners: none

fix: csp testing
  packages/devextreme/build/gulp/systemjs-builder.js
Owners: none

fix: update paths
  packages/devextreme/build/gulp/overwrite-qunit-renovation-widget.js
  packages/devextreme/js/renovation/components.js
  packages/qunit-runner/Controllers/MainController.cs
  packages/qunit-runner/Controllers/TestVectorMapDataController.cs
  packages/qunit-runner/Program.cs
  packages/qunit-runner/Tools/ConsoleHelper.cs
  packages/qunit-runner/Tools/UIModelHelper.cs
  packages/qunit-runner/Tools/ViewLocationExpander.cs
  packages/qunit-runner/Views/Main/RunSuite.cshtml
Owners: none

fix: remove qunit from devextreme package
  packages/devextreme/package.json
  packages/devextreme/project.json
Owners: none

gen: package-lock
  package-lock.json
Owners: none

fix: COMPAT_TESTS_PARTS path
  packages/devextreme/build/gulp/generator/gulpfile.js
Owners: none

Fix common import name and order
  apps/demos/Demos/Common/EditorAppearanceVariants/React/App.tsx
  apps/demos/Demos/DataGrid/ColumnResizing/React/App.tsx
  apps/demos/Demos/Form/CustomizeItem/React/App.tsx
  apps/demos/Demos/SelectBox/SearchAndEditing/React/App.tsx
  apps/demos/Demos/Sortable/Customization/React/App.tsx
  apps/demos/Demos/TreeView/TreeViewWithSearchBar/React/App.tsx
Owners: none

fix: path to artifacts in CI
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
Owners: @DevExpress/devextreme-devops

refactor
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/index.js
Owners: none

fix: paths & gitignore
  e2e/qunit/.gitignore
  e2e/qunit/docker-ci.sh
Owners: none

fix lint
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/index.js
Owners: none

fix: update paths in helpers
  e2e/qunit/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importQuill.tests.js
  e2e/qunit/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  e2e/qunit/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importTurnDown.tests.js
  e2e/qunit/tests/DevExpress.ui.widgets/diagramParts/importDiagram.tests.js
  e2e/qunit/tests/DevExpress.ui.widgets/ganttParts/importGantt.tests.js
  e2e/qunit/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  e2e/qunit/tests/DevExpress.ui.widgets/mapParts/googleTests.js
  packages/devextreme/build/gulp/systemjs-builder.js
Owners: none

Menu scrolling: extend show and hide handlers API (update .d.ts files) (#27210)
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

skip charts customaannotation test in react demo
  apps/demos/testing/common.test.js
Owners: none

DataGrid: Fix rows overlapping each other when dragging when virtual scrolling is enabled and rowDragging.dropFeedbackMode = "push"' (T1179218) (#27181)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Owners: none

Rename rtl and width test & Rename etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light-compact).png
Owners: none

Remove unnecessary test & Remove etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different widths (material-blue-light-compact).png
Owners: none

Create getDarkThemName helper
  e2e/testcafe-devextreme/helpers/themeUtils.ts
Owners: none

Create TestCafe tests
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Add etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light-compact).png
Owners: none

use dimensionChanged instead of resize observer
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Scheduler(T1202036): Fix mistake in columnIdx calculations
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
Owners: none

Fix convert-to-js script CI error
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

Scheduler(T1202036): Add e2e test cases
  e2e/testcafe-devextreme/tests/scheduler/appointments/adaptive.ts
Owners: none

test fix
  apps/demos/testing/common.test.js
Owners: none

TagBox: fix PR comments suggestions
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Scheduler(T1202036): Add etalons
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_appts_view-month.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_appts_view-week.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_long-appts-without-all-day-panel_view-week.png
Owners: none

Fix convert-to-js script CI error (#27225)
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

test if custom annotation is required on vectorMap
  apps/demos/testing/common.test.js
Owners: none

Tagbox: revert changes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
