Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

cancellable resize events for splitter
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

wip. fix workflow add local interanl-tools package
  .github/workflows/wrapper_tests.yml
  devextreme-internal-tools-12.0.0-beta.16.tgz
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

revert changes in git workflow
  .github/workflows/lint.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

feat: implement dte
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

fix: add cache to test--* tasks
  e2e/bundlers/project.json
Owners: none

fix: set outputs for bundler build
  e2e/bundlers/project.json
Owners: none

tmp: remove other workflows
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Fix test (part 3)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

feat: write testcafe nx plugin
  e2e/testcafe-devextreme/runner.js
  nx.json
  packages/testcafe-plugin/index.js
  packages/testcafe-plugin/package.json
  packages/testcafe-plugin/project.json
Owners: none

refactor: add tests to ci
  .github/workflows/default_workflow.yml
  packages/testcafe-plugin/index.js
Owners: @DevExpress/devextreme-devops

test
  .github/workflows/default_workflow.yml
  e2e/testcafe-devextreme/package.json
  packages/testcafe-plugin/index.js
Owners: @DevExpress/devextreme-devops

Splitter: add demo description (#27094)
  apps/demos/Demos/Splitter/Overview/description.md
Owners: none

Scheduler in shadow DOM: Fix drag and drop appointments (#27100)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

gen: package-lock
  package-lock.json
Owners: none

update nx to 18
  package-lock.json
  package.json
Owners: none

fix
  .github/workflows/default_workflow.yml
  packages/testcafe-plugin/index.js
Owners: @DevExpress/devextreme-devops

gen: package-lock
  package-lock.json
Owners: none

fix: add cache
  packages/testcafe-plugin/index.js
Owners: none

TreeList/DataGrid - Focus indicator is not visible when the Toolbar includes a DropDownButton item (T1225005) (#27115)
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

fix
  e2e/testcafe-devextreme/project.json
  packages/testcafe-plugin/index.js
Owners: none

fix
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

ignore TS error for e2e scheduler test
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/apiCallbacks.ts
Owners: none

fix
  packages/testcafe-plugin/index.js
Owners: none

Form: add captionRender link to demo description
  apps/demos/Demos/Form/GroupedFields/React/description.md
  apps/demos/Demos/Form/GroupedFields/ReactJs/description.md
Owners: none

fix
  packages/testcafe-plugin/index.js
Owners: none

ignore TS error for e2e scheduler test
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/apiCallbacks.ts
Owners: none

remove angularjs integration
  apps/demos/.eslintrc.js
  apps/demos/package.json
  apps/demos/utils/interactive/add-demo.js
  apps/demos/utils/templates/AngularJS/data.js
  apps/demos/utils/templates/AngularJS/index.html
  apps/demos/utils/templates/AngularJS/index.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
  package-lock.json
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/vendor.js
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/bundles/modules/parts/core.js
  packages/devextreme/js/integration/angular.js
  packages/devextreme/js/integration/angular/action_executors.js
  packages/devextreme/js/integration/angular/component_registrator.js
  packages/devextreme/js/integration/angular/components.js
  packages/devextreme/js/integration/angular/event_registrator.js
  packages/devextreme/js/integration/angular/module.js
  packages/devextreme/js/integration/angular/template.js
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/testing/tests/Bundles/dx.all.tests.js
  packages/devextreme/testing/tests/Bundles/dx.custom.tests.js
  packages/devextreme/testing/tests/Bundles/dx.viz.tests.js
  packages/devextreme/testing/tests/Bundles/dx.web.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/__meta.json
  packages/devextreme/testing/tests/DevExpress.angular/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/componentRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/eventRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/modelIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/template.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/widgets.tests.js
  packages/devextreme/webpack.config.js
Owners: none

remove BrowserTransferStateModule, it's deprecated in ng v16
  apps/demos/utils/templates/Angular/app/app.component.ts
Owners: none

passing props to nested splitter
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
Owners: none

remove redundant test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
Owners: none

refactoring
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
Owners: none

CI - allow to download package-lock from artifacts (#27046)
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

fix outputs
  packages/devextreme/project.json
Owners: none

Splitter: synch item.size option on initialization
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout_default.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Update splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Update splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

tmp
  packages/testcafe-plugin/index.js
Owners: none

refactor
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
Owners: none

new spike
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

revert angular demos to ng v12
  apps/demos/package.json
  package-lock.json
Owners: none
