Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

fix lint
  js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
Owners: @DevExpress/devextreme-grids

🛠️ Refactoring | Put Grids' methods in order (#27098)
  js/__internal/.eslintrc.js
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Owners: @DevExpress/devextreme-grids

🛠️ Refactoring | Put Grids' methods in order (#27095)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

gen: package-lock
  package-lock.json
Owners: none

Scheduler in shadow DOM: Fix drag and drop appointments
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

TagBox: refactor test cases and fix undefined tag data
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

wip. merge with origin
  apps/angular/package.json
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

update regeneration
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/defer-rendering/index.ts
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-angular/src/ui/load-panel/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/popup-options.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/col-dxi.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/drop-down-options.ts
  packages/devextreme-angular/src/ui/nested/filter-builder-popup.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/nested/popup.ts
  packages/devextreme-angular/src/ui/nested/row-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/nested/validation-rule-dxi.ts
  packages/devextreme-angular/src/ui/nested/view-dxi.ts
  packages/devextreme-angular/src/ui/polar-chart/index.ts
  packages/devextreme-angular/src/ui/popover/index.ts
  packages/devextreme-angular/src/ui/popup/index.ts
  packages/devextreme-angular/src/ui/responsive-box/index.ts
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-angular/src/ui/splitter/ng-package.json
  packages/devextreme-angular/src/ui/toast/index.ts
  packages/devextreme-angular/src/ui/tooltip/index.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/tests/src/server/component-names.ts
Owners: none

wip. disable wrapper generate CI check error
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

wip. dependencies fixes
  apps/angular/package.json
  package-lock.json
Owners: none

wip. remove angular 12 from package-lock.json
  package-lock.json
Owners: none

wip. remove NPM restore cache
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

wip. add --legacy-peer-deps for Lint git workflow
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

set ng 16 for apps set ng 17 for devextreme-angular
  apps/angular/package.json
  apps/demos/package.json
  package-lock.json
Owners: none

update package-lock.json
  apps/angular/package.json
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

update package-lock.json
  package-lock.json
Owners: none

update deps
  apps/angular/package.json
  package-lock.json
Owners: none

update deps
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

update deps
  apps/angular/package.json
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

update deps
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

update deps
  package-lock.json
  packages/devextreme-angular/package.json
Owners: none

remove demos/Demos from package-lock.json
  package-lock.json
Owners: none

update zone.js in devextreme-angular upto 0.14
  package-lock.json
  packages/devextreme-angular/karma.common.test.shim.js
  packages/devextreme-angular/package.json
Owners: none

move
  e2e/bundlers/.eslintrc.js
  e2e/bundlers/generate_entry_files.js
  e2e/bundlers/package-lock.json
  e2e/bundlers/package.json
  e2e/bundlers/rollup.config.js
  e2e/bundlers/vite.config.js
  e2e/bundlers/webpack.config.cjs.js
  e2e/bundlers/webpack.config.js
Owners: none

refactor: move gitignore
  e2e/bundlers/.gitignore
  packages/devextreme/.gitignore
Owners: none

fix: update paths
  e2e/bundlers/generate_entry_files.js
Owners: none

refactor: add nx tasks
  e2e/bundlers/package.json
  e2e/bundlers/project.json
Owners: none

refactor: remove bundlers from package workflow
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

SelectBox: testcafe test for additional margin bottom in fluent theme
  packages/devextreme/testing/testcafe/tests/editors/selectBox/common.ts
Owners: none

Fix Division By Zero
  packages/devextreme/js/viz/translators/translator2d.js
Owners: none

Update splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Update resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
Owners: none

Migrate solution
  packages/devextreme/js/ui/html_editor/modules/mentions.js
Owners: none

Remove attr when popup is hidden
  packages/devextreme/js/ui/html_editor/modules/mentions.js
Owners: none

T1225005
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/testcafe-models/dataGrid/index.ts
Owners: none

Events&Components: Fix some tests for shadow DOM (#27092)
  packages/devextreme/js/core/templates/template_base.js
  packages/devextreme/testing/helpers/qunitExtensions.js
  packages/devextreme/testing/tests/DevExpress.ui.events/drag.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseAndTouchTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

SelectBox: transfer the testcafe test from selectbox to list component.
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
  e2e/testcafe-devextreme/tests/editors/selectBox/common.ts
Owners: none

Splitter: localize resize handle's aria label (#27089)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
Owners: none

Splitter: resize handle should not change its focused state after the pane collapses (#27097)
  e2e/testcafe-devextreme/tests/navigation/splitter/keyboard.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/testcafe-models/splitter/handle.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
