Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Update lockfile
  package-lock.json
Owners: none

Rename /build to /tools/scripts
  .github/workflows/packages_publishing.yml
  package.json
  tools/scripts/build-all.ts
  tools/scripts/change-package-scope.ts
  tools/scripts/common/fs-utils.ts
  tools/scripts/common/npm-utils.ts
  tools/scripts/common/paths.ts
  tools/scripts/common/shell-utils.test.ts
  tools/scripts/common/shell-utils.ts
  tools/scripts/common/version-utils.test.ts
  tools/scripts/common/version-utils.ts
  tools/scripts/jest.config.js
  tools/scripts/make-artifacts-package.ts
  tools/scripts/overwrite-wrappers-packages.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/tsconfig.json
  tools/scripts/update-version.ts
Owners: @DevExpress/devextreme-devops

Fix root path
  tools/scripts/common/paths.ts
Owners: none

try
  packages/devextreme/js/__internal/core/component/component.ts
  packages/devextreme/js/__internal/core/component/dom_component.ts
  packages/devextreme/js/__internal/core/component/widget.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
Owners: none

fix
  packages/devextreme/js/__internal/core/component/component.ts
  packages/devextreme/js/__internal/core/component/dom_component.ts
Owners: none

fix
  packages/devextreme/js/__internal/core/component/widget.ts
Owners: none

Update splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Implement react storybook app (#26764)
  apps/react-storybook/.gitignore
  apps/react-storybook/.storybook/main.ts
  apps/react-storybook/.storybook/preview.tsx
  apps/react-storybook/.storybook/themes/styles.css
  apps/react-storybook/.storybook/themes/themes.tsx
  apps/react-storybook/package.json
  apps/react-storybook/project.json
  apps/react-storybook/stories/assets/images/products/1-small.png
  apps/react-storybook/stories/assets/images/products/2-small.png
  apps/react-storybook/stories/assets/images/products/3-small.png
  apps/react-storybook/stories/assets/images/products/4-small.png
  apps/react-storybook/stories/assets/images/products/5-small.png
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  apps/react-storybook/stories/examples/datagrid/DiscountCell.tsx
  apps/react-storybook/stories/examples/piechart/PieChart.stories.tsx
  apps/react-storybook/stories/examples/piechart/data.ts
  apps/react-storybook/stories/examples/selectbox/Field.tsx
  apps/react-storybook/stories/examples/selectbox/Item.tsx
  apps/react-storybook/stories/examples/selectbox/SelectBox.stories.tsx
  apps/react-storybook/stories/examples/selectbox/data.ts
  apps/react-storybook/stories/examples/selectbox/styles.css
  apps/react-storybook/tsconfig.json
  package-lock.json
  package.json
Owners: none

fix updating failed etalons script
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

single resizeHandle test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Update splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Revert "fix review"
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/highlightChanges.ts
Owners: none

Revert "fix"
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Prevent DropDownBox in Form from refresh on resize
  packages/devextreme/js/ui/form/ui.form.js
Owners: none

fix (not working)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Improve test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

package-lock
  package-lock.json
Owners: none

Bump devextreme-internal-tools
  package-lock.json
  package.json
Owners: none

GridCore: Migrating validating module's extenders to native classes (#26798)
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Ensure correct handling of 'AM' and 'PM' toggling in time input component
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
Owners: none

Separate Logic to a Private Function
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
Owners: none

Fix Function Format
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
Owners: none

DataGrid - ColumnChooser - Height and width types do not include String (T1214374) (#26765)
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/headerFilter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/markup.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

T1214374
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/headerFilter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/markup.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (#26703)
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: none

GridCore: Migrating validating module's extenders to native classes (#26805)
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

DataGrid: update Overview demo description
  apps/demos/Demos/DataGrid/Overview/Angular/description.md
  apps/demos/Demos/DataGrid/Overview/React/description.md
  apps/demos/Demos/DataGrid/Overview/ReactJs/description.md
  apps/demos/Demos/DataGrid/Overview/Vue/description.md
  apps/demos/Demos/DataGrid/Overview/jQuery/description.md
Owners: none

GridCore: Migrating validating module's extenders to native classes
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

T1214374
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/headers/headerFilter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/columnChooser.ts
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  testing/testcafe/tests/dataGrid/markup/markup.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid - ColumnChooser - Height and width types do not include String (T1214374) (#26825)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/headers/headerFilter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/columnChooser.ts
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  testing/testcafe/tests/dataGrid/markup/markup.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid - ColumnChooser - Height and width types do not include String (T1214374) (#26821)
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/headerFilter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/markup.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Bump devextreme-internal-tools (#26820)
  package-lock.json
  package.json
Owners: none

T1210340
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
Owners: none

parameters for test added, redundant tests removed
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

clean code
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

DataGrid: update Overview demo description (#26822)
  apps/demos/Demos/DataGrid/Overview/Angular/description.md
  apps/demos/Demos/DataGrid/Overview/React/description.md
  apps/demos/Demos/DataGrid/Overview/ReactJs/description.md
  apps/demos/Demos/DataGrid/Overview/Vue/description.md
  apps/demos/Demos/DataGrid/Overview/jQuery/description.md
Owners: none

GridCore: Migrating validating module's extenders to native classes (#26824)
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

Failed etalons updating script - Use Node API instead manual path parsing (#26819)
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

Create Unit Test For AM/PM Handling
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

Clean Code
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
