Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix
  testing/testcafe/model/scheduler/groupRow.ts
Owners: none

fix
  testing/testcafe/model/scheduler/groupRow.ts
Owners: none

Skip unstable dataGrid, pivotGrid and scheduler TestCafe tests
  packages/devextreme/testing/testcafe/tests/dataGrid/exportButton.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/pager.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/generic.ts
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: none

Revert "Replace jsbn with bigint"
  packages/devextreme/js/__internal/common/crypto/jsbn.ts
  packages/devextreme/js/__internal/common/crypto/rsa_pkcs1_sha1.ts
Owners: none

Fix lint
  packages/devextreme/js/__internal/common/crypto/jsbn.ts
  packages/devextreme/js/__internal/common/crypto/license_validation.test.ts
  packages/devextreme/js/__internal/common/crypto/license_validation.ts
  packages/devextreme/js/__internal/common/crypto/rsa_pkcs1_sha1.ts
Owners: none

Remove direct import to bundles
  packages/devextreme/js/bundles/modules/core.js
Owners: none

Add basic test cases for temporary public key
  packages/devextreme/js/__internal/common/crypto/__tests__/license_validation.test.ts
  packages/devextreme/js/__internal/common/crypto/__tests__/rsa_pkcs1_sha1.test.ts
  packages/devextreme/js/__internal/common/crypto/license_validation.ts
  packages/devextreme/js/__internal/common/crypto/rsa_pkcs1_sha1.ts
Owners: none

Replace jsbn with bigint
  packages/devextreme/js/__internal/common/crypto/jsbn.ts
  packages/devextreme/js/__internal/common/crypto/rsa_pkcs1_sha1.ts
Owners: none

Try adding tests
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/common/crypto/__tests__/rsa_pkcs1_sha1.test.ts
  packages/devextreme/js/__internal/tsconfig.json
Owners: none

Refactor
  packages/devextreme/js/__internal/core/license/rsa_pkcs1_sha1.ts
Owners: none

Add RSA verification code to bundle
  packages/devextreme/js/bundles/modules/core.js
Owners: none

Add test cases for invalid tokens
  packages/devextreme/js/__internal/common/crypto/license_validation.test.ts
  packages/devextreme/js/__internal/common/crypto/license_validation.ts
Owners: none

Use jest's each
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
Owners: none

Implement RSA verification using jsbn
  package-lock.json
  packages/devextreme/js/__internal/common/crypto/jsbn.ts
  packages/devextreme/js/__internal/common/crypto/rsa_pkcs1_sha1.ts
  packages/devextreme/package.json
Owners: none

Allow extra fields in payload
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
Owners: none

Restore test script
  packages/devextreme/jest.config.js
Owners: none

Fix lint
  packages/devextreme/js/__internal/core/license/license_validation.ts
Owners: none

Fix jsbn descriptions
  packages/devextreme/js/__internal/common/crypto/jsbn.ts
Owners: none

Move everything to core/license
  packages/devextreme/js/__internal/core/license/jsbn.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/rsa_pkcs1_sha1.ts
Owners: none

fix ts errors
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_ui_scheduler_timeline_day.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_ui_scheduler_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

DataGrid - Pushed items are not added (T1176548) (#25334)
  packages/devextreme/js/data/abstract_store.js
  packages/devextreme/js/data/data_source/data_source.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: none

Skip unstable dataGrid, pivotGrid and scheduler TestCafe tests (#25436)
  packages/devextreme/testing/testcafe/tests/dataGrid/exportButton.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/pager.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/generic.ts
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: none

Skip unstable dataGrid, pivotGrid and scheduler TestCafe tests (#25436)
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/pivotGrid/headerFilter.ts
  testing/testcafe/tests/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: @DevExpress/devextreme-grids

change test and refactor styles
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/menu/link.ts
Owners: none

Fix after cherry-pick
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

fix imports
  packages/devextreme/js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  packages/devextreme/js/renovation/ui/scheduler/scheduler.tsx
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/ui/scheduler/appointments.layout_manager.js
  packages/devextreme/js/ui/scheduler/ui.scheduler.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cache.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.cache.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

TypeScript - DataGrid - Some width options only allow numbers (T1184320) (#25435)
  js/common/grids.d.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TypeScript - DataGrid - Some width options only allow numbers (T1184320) (#25434)
  js/common/grids.d.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Skip unstable dataGrid, pivotGrid and scheduler TestCafe tests (#25436) (#25438)
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/pivotGrid/headerFilter.ts
  testing/testcafe/tests/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: @DevExpress/devextreme-grids

Implement signature verification required for license validation (#25377)
  package-lock.json
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/core/license/jsbn.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/rsa_pkcs1_sha1.ts
  packages/devextreme/js/__internal/tsconfig.json
  packages/devextreme/package.json
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Increase timeout for demo visual tests (#25314) (#25433)
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

refactoring
  packages/devextreme/scss/widgets/base/treeView/_common.scss
  packages/devextreme/scss/widgets/base/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Owners: none

Scheduler: Fix the default resource text being rendered in the agenda view when resourceCellTemplate is defined (T1181733) (#25414)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/testcafe/model/scheduler/groupRow.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/grouping/resourceCellTemplate.ts
Owners: none

Scheduler: Fix the default resource text being rendered in the agenda view when resourceCellTemplate is defined (T1181733) (#25413)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/testcafe/model/scheduler/groupRow.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/grouping/resourceCellTemplate.ts
Owners: none

Scheduler: Update test of #25381 (#25417)
  packages/devextreme/testing/testcafe/model/scheduler/groupRow.ts
  packages/devextreme/testing/testcafe/model/scheduler/index.ts
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/resourceCellTemplate.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/etalons/resource-cell-template-currentView=agenda.png
Owners: none

Remove wrong common modules from vue
  packages/devextreme-vue/src/common/common.ts
  packages/vue2-strategy/src/common/common.ts
Owners: none

Bump DevExtreme version (#25442)
  package-lock.json
  package.json
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
