Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Popup - The close icon is misaligned in material themes (T1135851) (#23533) (#23568)
  scss/widgets/base/_toolbar.scss
  scss/widgets/generic/popover/_index.scss
  scss/widgets/generic/popup/_index.scss
  scss/widgets/material/popover/_index.scss
  scss/widgets/material/popup/_index.scss
  scss/widgets/material/popup/_sizes.scss
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
  testing/testcafe/tests/editors/dateBox/dateBoxGeometry.ts
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
Owners: none

Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

Revert "Viz - Improve smartFormatter module (#23449)"
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Owners: none

Extract ComponentWrapper._buildTemplateArgs
  js/renovation/component_wrapper/common/component.ts
Owners: none

Extract mutations_recording
  js/renovation/component_wrapper/common/mutations_recording.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

changed table size options
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
Owners: none

Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

rework
  js/integration/knockout/validation.js
  js/ui/form/ui.form.js
  js/ui/validation_engine.js
  js/ui/validation_group.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Owners: none

fix props
  packages/jquery/src/compatible-radio-group.js
Owners: none

Revert "Viz - Improve smartFormatter module" (#23570)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Owners: none

pass missing props to compat radiogroup
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-example.tsx
Owners: none

add value prop to list
  packages/jquery/src/compatible-radio-group.js
Owners: none

add valueChange prop to list
  packages/jquery/src/compatible-radio-group.js
Owners: none

reorder twoWay
  packages/jquery/src/compatible-radio-group.js
Owners: none

viz ImageCreator: refactor tests (#23565)
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Owners: none

Viz components: Printing must use base64 format (T1136337) (#23554)
  js/exporter/image_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Owners: none

reorder props
  packages/jquery/src/compatible-radio-group.js
Owners: none

DropDownEditor: should not crush on opening in fullScreen mode(T1135997) (#23542)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

DropDownEditor: should not crush on opening in fullScreen mode(T1135997) (#23541)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

DropDownEditor: should not crush on opening in fullScreen mode(T1135997) (#23536)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

refix
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Owners: @DevExpress/devextreme-grids

update etalons
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/label.ts
  testing/testcafe/tests/form/etalons/Form color of the mark-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/Form item padding with screenByWidth=lg-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/Form item padding with screenByWidth=md-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/Form item padding with screenByWidth=xs-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/Form with labelLocation=left-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/Form with labelLocation=right-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/FieldChooser change dataField order with invisible fields-theme=material-blue-light.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/FieldChooser change dataField order with three invisible fields-theme=material-blue-light.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/PivotGrid contextmenu width-theme=material-blue-light.png
Owners: none

update etalons
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=filled-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=filled-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=outlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=underlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render focused,stylingMode=underlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=filled-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=filled-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=outlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=underlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=underlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=outlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=outlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=filled-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=filled-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=outlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=underlined-theme=generic-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=underlined-theme=material-blue-light.png
Owners: none

update yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

dxScheduler - rename end date path in appointment form (#23501)
  js/ui/scheduler/appointmentPopup/form.js
Owners: none

add value to allowNull
  packages/jquery/src/compatible-radio-group.js
Owners: none

add templates
  packages/jquery/src/compatible-radio-group.js
Owners: none

CI: npm publish command for core package
  package-lock.json
  package.json
  packages/core/.npmignore
  packages/core/project.json
Owners: none

remove unnecesary template
  packages/jquery/src/compatible-radio-group.js
Owners: none

update etalons
  testing/testcafe/tests/navigation/pivotGrid/etalons/PivotGrid contextmenu width-theme=material-blue-light.png
Owners: none

Fix coverage
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

refactor
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
  testing/testcafe/tests/form/etalons/Form labels width after render in invisible container-theme=generic-light.png
  testing/testcafe/tests/form/etalons/Form labels width after render in invisible container-theme=material-blue-light.png
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Owners: none

renaming
  testing/testcafe/helpers/themeUtils.ts
Owners: none

Revert "Popup: Fix toolbar padding right (#2308)" (#2348)
  Demos/Popup/Overview/Angular/app/app.component.css
  Demos/Popup/Overview/AngularJS/styles.css
  Demos/Popup/Overview/Knockout/styles.css
  Demos/Popup/Overview/React/styles.css
  Demos/Popup/Overview/Vue/App.vue
  Demos/Popup/Overview/jQuery/styles.css
Owners: none

Initial support styles and themes for react
  packages/react/package.json
  packages/react/rollup/rollup.config.mjs
  packages/react/src/components/radio-button/radio-button-internal.tsx
  packages/styles/package.json
  packages/styles/src/radio-button/radio-button.scss
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/light.scss
Owners: none

fix jquery radiobutton
  packages/jquery/src/radio-button.js
  playgrounds/jquery/index.html
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-api-reviewers

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
