Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Scheduler: Fix DST issue
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
Owners: none

Scheduler: Add & fix e2e tests
  e2e/testcafe-devextreme/tests/scheduler/timezones/dragAndDropDst.ts
  e2e/testcafe-devextreme/tests/scheduler/timezones/renderCrossDst.ts
  e2e/testcafe-devextreme/tests/scheduler/timezones/renderDst.ts
Owners: none

Scheduler(T1225772): fix horizontal workspace width calculation
  packages/devextreme/js/__internal/scheduler/workspaces/const.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
Owners: none

Scheduler(T1225772): fix QUnit tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Owners: none

Scheduler(T1225772): Add e2e tests
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
  packages/testcafe-models/scheduler/index.ts
Owners: none

Scheduler(T1225772): Update etalons
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  e2e/testcafe-devextreme/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=1.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=2.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=1.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=2.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-form.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
Owners: none

Scheduler(T1225772): cherry-pick
  js/__internal/scheduler/workspaces/const.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/workSpace.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Owners: none

DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903) (#27185)
  e2e/testcafe-devextreme/helpers/createWidget.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/testcafe-models/dataGrid/index.ts
Owners: none

Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514) (#27250)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Owners: none

DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903) (#27185)
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
Owners: @DevExpress/devextreme-grids

DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903) (#27185)
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focus.ts
Owners: none

Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514) (#27250)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Owners: none

Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514) (#27250)
  js/__internal/scheduler/m_scheduler.ts
  testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Owners: none

fix: lint
  testing/testcafe/model/dataGrid/index.ts
Owners: @DevExpress/devextreme-grids

fix
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
Owners: none

fix
  packages/devextreme/js/__internal/core/license/key.ts
Owners: none

fix: change chrome cli options
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/react/runner.js
  apps/vue/runner.js
  e2e/testcafe-devextreme/runner.js
Owners: @DevExpress/devextreme-devops

CI: Update internal usage id (#27277)
  packages/devextreme/js/__internal/core/license/key.ts
Owners: none

ContextMenu / Scrolling: Apply in React Demo
  apps/demos/Demos/ContextMenu/Scrolling/React/App.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/index.html
  apps/demos/Demos/ContextMenu/Scrolling/React/index.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/styles.css
Owners: none

fix(tests): comment unstable
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: none

Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514) (#27274)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Owners: none

Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514) (#27275)
  js/__internal/scheduler/m_scheduler.ts
  testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Owners: none

ContextMenu / Scrolling: Apply in ReactJs Demo
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/App.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/index.html
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/index.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/styles.css
Owners: none

ContextMenu / Scrolling: Apply in Angular Demo
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.css
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/index.html
Owners: none

ContextMenu / Scrolling: Apply in Vue Demo
  apps/demos/Demos/ContextMenu/Scrolling/Vue/App.vue
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/Vue/index.html
  apps/demos/Demos/ContextMenu/Scrolling/Vue/index.ts
Owners: none

Rename
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

Hide visible property
  packages/devextreme/js/ui/tab_panel.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler(T1225772): Update demos etalons
  apps/demos/testing/etalons/Scheduler-CustomTemplates (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-CustomTemplates (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-CustomTemplates.png
Owners: none

Hide visible property
  packages/devextreme/js/ui/tab_panel.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

remove duplicate
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903) (#27273)
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
Owners: @DevExpress/devextreme-grids

DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903) (#27272)
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focus.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Bump devextreme version
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

Hide visible property
  js/ui/tab_panel.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Address some more Report's team feedback
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
Owners: none

Update dx.all.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update dx.all.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
