Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Initialize dropzone-active const
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
Owners: none

Implement Menu scrolling KBN
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Rename dropzone external variable
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
Owners: none

React - File Uploader component ref fix
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/widget-config.ts
Owners: none

Update _mixins.scss
  packages/devextreme/scss/widgets/base/splitter/_mixins.scss
Owners: none

refactor
  packages/devextreme-angular/src/http/ajax.ts
Owners: none

revert(PG)
  packages/devextreme/playground/jquery.html
Owners: none

fix(menu): Add detach event
  packages/devextreme/js/ui/menu/ui.menu.js
Owners: none

feat(menu): Add _hideSubmenuOnFocusOut into _optionChanged
  packages/devextreme/js/ui/menu/ui.menu.js
Owners: none

fix(menu): Rename test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix(dataGrid): Remove comments
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: none

feat(menu): Add tests && Remove skipping
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix(menu): Add focusStateEnabled: true
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix(menu)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/playground/jquery.html
Owners: none

feat(menu): Add test with _hideSubmenuOnFocusOut
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix(menu): Update _isTargetOutOfComponent
  packages/devextreme/js/ui/menu/ui.menu.js
Owners: none

Menu: Close menu when element lose focus
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix(menu && dataGrid): Add _hideSubmenuOnFocusOut for skip hide submenu from DataGrid
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/playground/jquery.html
Owners: none

fix(menu): Revert && Add _attachFocusOutHandler
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

refactor(menu): Replace _attachFocusOutHandler with _focusOutHandler && Get rif of extra code in _isTargetOutOfComponent
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

feat(menu): Add tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Form: change styles for custom group template
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/form/_index.scss
  packages/devextreme/scss/widgets/fluent/form/_sizes.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/form/_index.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/form/_index.scss
Owners: none

fix
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/createWidget.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/index.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/multi-platform-test.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/platform-type.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/helpers/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/model/internal/widget.ts
  packages/devextreme/testing/testcafe/model/scrollView/internal/scrollable.ts
  packages/devextreme/testing/testcafe/model/scrollView/scrollView.ts
Owners: none

chore: update follow-redirects to 1.15.6 (#26950)
  package-lock.json
Owners: none

Change time to finish publishing before inhouse tasks start
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

Change time to finish publishing before inhouse tasks start (#26956)
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

fix CSP issue in export
  packages/devextreme/js/viz/core/export.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
Owners: none

allow renderer as param
  packages/devextreme/js/core/utils/svg.js
  packages/devextreme/js/exporter/image_creator.js
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
Owners: none

update type for exportFromMarkup
  packages/devextreme/js/viz/export.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update etalons
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (generic-light).png
Owners: none

Form/GroupFields: add group caption template as added option argument in jquery demo
  apps/demos/Demos/Form/GroupedFields/jQuery/index.js
Owners: none

Form:GroupedFields: Add css styling for icons and for custom group captions
  apps/demos/Demos/Form/GroupedFields/jQuery/styles.css
Owners: none

FileUploader: Fix Custom Drop Zone Multiple Files and Incorrect File Extension Handling (#26921)
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.html
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.ts
  apps/demos/Demos/FileUploader/CustomDropzone/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/ReactJs/App.js
  apps/demos/Demos/FileUploader/CustomDropzone/Vue/App.vue
  apps/demos/Demos/FileUploader/CustomDropzone/jQuery/index.js
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (fluent.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (material.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file.png
Owners: none

Form/GroupedField: apply captionTemplate demo in angular
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.css
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.html
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.ts
Owners: none

Form/GroupedField: apply captionTemplate demo in vue
  apps/demos/Demos/Form/GroupedFields/Vue/App.vue
Owners: none

Form/GroupedFields: fix lint issue in jquery styles.css in demos
  apps/demos/Demos/Form/GroupedFields/jQuery/styles.css
Owners: none

Update DropDownButton template (jQuery)
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
  apps/demos/Demos/DropDownButton/Overview/jQuery/styles.css
Owners: none

Form/GroupedField: apply captionTemplate demo in react
  apps/demos/Demos/Form/GroupedFields/React/App.tsx
  apps/demos/Demos/Form/GroupedFields/React/styles.css
Owners: none

Form/GroupedField: apply captionTemplate demo in reactjs
  apps/demos/Demos/Form/GroupedFields/ReactJs/App.js
  apps/demos/Demos/Form/GroupedFields/ReactJs/styles.css
Owners: none

include HttpClientModule into DxHttpModule refactor
  packages/devextreme-angular/src/http/ajax.ts
  packages/devextreme-angular/src/http/index.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
