Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix device mocking
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

fixes
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

refactor
  js/ui/date_box/ui.date_box.base.js
Owners: none

DateBox - Should not render two dropdown icons in FF on mobile device(T1197922)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

fix device mocking
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

fixes
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

refactor
  js/ui/date_box/ui.date_box.base.js
Owners: none

Pin Chrome 120.0.6099.71 version (#26305)
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Update widgetsRenderStyleRecalculations.tests.js
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

TextBox: clear button should work without focus out if a mask is applied (T1193735) (#26189)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

Fix for old branches
  js/ui/text_box/ui.text_editor.mask.js
Owners: none

Form: prevent DropDownBox from losing its value after the Form is resized (T1196835) (#26280)
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

DateBox - Should not render two dropdown icons in FF on mobile device(T1197922) (#26309)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

DateBox - Should not render two dropdown icons in FF on mobile device(T1197922) (#26283)
  packages/devextreme/js/ui/date_box/ui.date_box.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

DateBox - Should not render two dropdown icons in FF on mobile device(T1197922) (#26310)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

TextBox: clear button should work without focus out if a mask is applied (T1193735) (#26299)
  js/ui/text_box/ui.text_editor.mask.js
  playground/jquery.html
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

TextBox: clear button should work without focus out if a mask is applied (T1193735) (#26298)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166) (#26289)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

fix
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Owners: none

DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166) (#26288)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539) (#26149)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539) (#26149)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539) (#26149)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

TextEditor: rendering process takes much time (T1192938) (#26304)
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.label.js
  testing/testcafe/helpers/themeUtils.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/textBox/label.ts
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Owners: none

Form: prevent DropDownBox from losing its value after the Form is resized (T1196835) (#26307)
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

Form: prevent DropDownBox from losing its value after the Form is resized (T1196835) (#26308)
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

fix test
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

fix test
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

Viz: make LegendItem public (T1191979) (#26150)
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-react/src/chart.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-react/src/polar-chart.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Jest: Add jest types to __internal TS config and fix types in grid_core.
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/tsconfig.json
Owners: @DevExpress/devextreme-grids

Jest: Add jest types to __internal TS config and fix types in grid_core.
  js/__internal/tsconfig.json
Owners: none

etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
Owners: @DevExpress/devextreme-grids

etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
Owners: @DevExpress/devextreme-grids

etalon
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
Owners: @DevExpress/devextreme-grids

TextEditor: rendering process takes much time (T1192938) (#26306)
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.label.js
  testing/testcafe/helpers/themeUtils.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/textBox/label.ts
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Owners: none

DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539) (#26314)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539) (#26313)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

Jest: Add jest types to __internal TS config and fix types in grid_core. (#26286)
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/tsconfig.json
Owners: @DevExpress/devextreme-grids

Jest: Add jest types to __internal TS config and fix types in grid_core. (#26287)
  js/__internal/tsconfig.json
Owners: none

Scheduler(T1205763 + T1205768 + T1205772)
  js/__internal/core/utils/math.test.ts
  js/__internal/core/utils/math.ts
  js/__internal/scheduler/m_scheduler.ts
  js/__internal/scheduler/workspaces/m_timeline.ts
  js/__internal/scheduler/workspaces/m_work_space.ts
  js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none
