Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Fix dialog isFluent problem (#25830)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
Owners: none

tagbox update (#2779)
  Demos/TagBox/Overview/description.md
Owners: none

update version of deprecation update deprecated message
  js/viz/core/base_widget.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix treeview width for tests since gaps between items changed
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.scrolling.tests.js
Owners: none

add fluent styles
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
Owners: none

change tree size for test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.scrolling.tests.js
Owners: none

Fix lockfile
  package-lock.json
Owners: none

Fix custom bundle to include chart utils (#25826)
  js/bundles/modules/parts/viz.js
Owners: none

get rid of redundant custimization
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_sizes.scss
  packages/devextreme/scss/widgets/material/pivotGrid/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_sizes.scss
Owners: none

Fix custom bundle to include chart utils (#25826) (#25831)
  js/bundles/modules/parts/viz.js
Owners: none

tree item styles changed
  packages/devextreme/scss/widgets/base/treeView/_common.scss
Owners: none

increase treeview width for test since items gap has increased
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
Owners: none

Fluent: update popup paddings (#25828)
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/popup/_index.scss
  packages/devextreme/scss/widgets/fluent/popup/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup in loading (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Owners: none

Create script for setting the same version in all packages in monorepo
  .github/workflows/bump_version.yml
  build/bump-version.ts
  build/pack-all.ts
  package.json
Owners: @DevExpress/devextreme-devops

Include workspace root in script. Input version in workflow
  .github/workflows/bump_version.yml
  build/bump-version.ts
Owners: @DevExpress/devextreme-devops

Tabs: add demo descriptions (#2924)
  Demos/Tabs/Overview/description.md
  Demos/Tabs/Selection/description.md
Owners: none

Add padding to appointment content
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

fix menu styles
  packages/devextreme/scss/widgets/base/_menu.scss
  packages/devextreme/scss/widgets/base/treeView/_common.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Owners: none

Move up cell date style
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

fix focus
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Owners: none

fix grid styles
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_sizes.scss
Owners: none

Fluent DropDownEditors: use contained and outlined styleMode for apply/cancel buttons
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
Owners: none

del new tests
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
Owners: none

update etanol
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup in loading (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (fluent-blue-light).png
Owners: none

refactor theme-options + fix theme test
  packages/devextreme-themebuilder/src/modules/themes.ts
  packages/devextreme-themebuilder/tests/modules/themes.test.ts
  packages/devextreme/build/gulp/styles/style-compiler.js
  packages/devextreme/build/gulp/styles/theme-options.js
Owners: none

add dialog screenshot test
  packages/devextreme/testing/testcafe/tests/editors/overlays/dialog.ts
Owners: none

add dialog etanol before changes
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (alert) (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (alert) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (alert) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (confirm) (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (confirm) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (confirm) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (custom) (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (custom) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (custom) (material-blue-light).png
Owners: none

try fix tests
  packages/devextreme/testing/testcafe/tests/editors/overlays/dialog.ts
Owners: none

Update ui.popup.js
  packages/devextreme/js/ui/popup/ui.popup.js
Owners: none

Update dialog.ts
  packages/devextreme/testing/testcafe/tests/editors/overlays/dialog.ts
Owners: none

Update tsconfig
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
  packages/devextreme/js/__internal/tsconfig.json
Owners: none

Update dialog.ts
  packages/devextreme/testing/testcafe/tests/editors/overlays/dialog.ts
Owners: none

Tabs: Fix colors
  packages/devextreme/scss/widgets/fluent/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
Owners: none

Fluent: update defaultOptions where isMaterial is used
  packages/devextreme/js/ui/accordion.d.ts
  packages/devextreme/js/ui/gantt.d.ts
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/toast.d.ts
  packages/devextreme/js/viz/core/base_widget.d.ts
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update lock file
  package-lock.json
Owners: none

Update ui.popover.js
  packages/devextreme/js/ui/popover/ui.popover.js
Owners: none

Copy artifacts for DXBuild
  build/pack-all.ts
Owners: none

Wrap bigint operations with try catch
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none

Update transpile-config
  packages/devextreme/build/gulp/transpile-config.js
Owners: none

Fix lint
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none
