Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

typo
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

Update layoutManager.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Owners: none

Refactoring css
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
Owners: none

Temporary skip npm cache
  .github/workflows/devextreme_react_tests.yml
Owners: @DevExpress/devextreme-devops

Update lockfile
  package-lock.json
Owners: none

Revert "Temporary skip npm cache"
  .github/workflows/devextreme_react_tests.yml
Owners: @DevExpress/devextreme-devops

Remove restore keys option
  .github/workflows/devextreme_react_tests.yml
Owners: @DevExpress/devextreme-devops

Make generator scripts cross-platform (#25401)
  .github/workflows/devextreme_react_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

restore component inline styles after unmounting if React.strictMode (T1180862) +test
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/component-base.ts
Owners: none

Generate id for table
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: none

Change the table role to 'presentation'
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: none

set "sideEffects" as list side-effect imports. It affects the treeShaking
  packages/devextreme/build/gulp/transpile.js
Owners: none

DataGrid/TreeList - The 'container' parameter in a template's render function should be an HtmlElement when integrating a 3rd-party template engine (T1181910) (#25300)
  packages/devextreme/js/core/utils/template_manager.js
  packages/devextreme/testing/tests/DevExpress.core/utils.template_manager.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: none

DataGrid/TreeList - The 'container' parameter in a template's render function should be an HtmlElement when integrating a 3rd-party template engine (T1181910) (#25300)
  js/core/utils/template_manager.js
  testing/tests/DevExpress.core/utils.template_manager.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid/TreeList - The 'container' parameter in a template's render function should be an HtmlElement when integrating a 3rd-party template engine (T1181910) (#25300)
  js/core/utils/template_manager.js
  testing/tests/DevExpress.core/utils.template_manager.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

fix review
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

rename cellText to cellTextElement
  packages/devextreme/js/ui/scheduler/workspaces/ui.scheduler.agenda.js
Owners: none

Do not re-generate sources in npm.pack task
  packages/devextreme-react/gulpfile.js
  packages/devextreme-vue/gulpfile.js
Owners: none

Build devextreme before generating wrappers
  .github/workflows/devextreme_vue_tests.yml
Owners: @DevExpress/devextreme-devops

Don't forget to generate vue2-strategy
  packages/devextreme-vue/gulpfile.js
  packages/vue2-strategy/package.json
  packages/vue2-strategy/src/calendar.ts
  packages/vue2-strategy/src/core/helpers.ts
  packages/vue2-strategy/src/data-grid.ts
  packages/vue2-strategy/src/date-box.ts
  packages/vue2-strategy/src/date-range-box.ts
  packages/vue2-strategy/src/form.ts
  packages/vue2-strategy/src/tab-panel.ts
  packages/vue2-strategy/src/tabs.ts
  packages/vue2-strategy/src/tree-list.ts
Owners: none

Diagram tests: disable toolbox for flaky test (#25399)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/diagramParts/options.tests.js
Owners: none

add images
  packages/devextreme/images/widgets/fluent/color-schemes/dark/colorbox/nocolor.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/area-all.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/area-column.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/area-data.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/area-filter.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/area-row.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/dimension.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/hierarchy.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/grid/text-stub.png
  packages/devextreme/images/widgets/fluent/color-schemes/dark/pulldown.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/colorbox/nocolor.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/area-all.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/area-column.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/area-data.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/area-filter.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/area-row.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/dimension.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/hierarchy.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/grid/text-stub.png
  packages/devextreme/images/widgets/fluent/color-schemes/light/pulldown.png
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Owners: none

DataGrid/TreeList - The 'container' parameter in a template's render function should be an HtmlElement when integrating a 3rd-party template engine (T1181910) (#25403)
  js/core/utils/template_manager.js
  testing/tests/DevExpress.core/utils.template_manager.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid/TreeList - The 'container' parameter in a template's render function should be an HtmlElement when integrating a 3rd-party template engine (T1181910) (#25404)
  js/core/utils/template_manager.js
  testing/tests/DevExpress.core/utils.template_manager.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

add icons
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/scss/widgets/fluent/icons/_index.scss
Owners: none

lint fixes
  packages/devextreme-react/src/core/component-base.ts
Owners: none

fix !default styles
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/button/_index.scss
Owners: none

Fix virtual_scrolling tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.timeline.tests.js
Owners: none

CI: do not regenerate wrappers during packing (#25387)
  .github/workflows/devextreme_vue_tests.yml
  packages/devextreme-react/gulpfile.js
  packages/devextreme-vue/gulpfile.js
  packages/vue2-strategy/package.json
  packages/vue2-strategy/src/calendar.ts
  packages/vue2-strategy/src/core/helpers.ts
  packages/vue2-strategy/src/data-grid.ts
  packages/vue2-strategy/src/date-box.ts
  packages/vue2-strategy/src/date-range-box.ts
  packages/vue2-strategy/src/form.ts
  packages/vue2-strategy/src/tab-panel.ts
  packages/vue2-strategy/src/tabs.ts
  packages/vue2-strategy/src/tree-list.ts
Owners: @DevExpress/devextreme-devops

Add preinstall script for generate package file
  package-lock.json
  packages/devextreme/build/preinstall.js
  packages/devextreme/package.json
Owners: none

Update react and vue generators
  package-lock.json
Owners: none

Remove package file generation from gulp task
  packages/devextreme/build/gulp/npm.js
Owners: none

DDBox: Should be focused when closed by escape
  packages/devextreme/js/ui/drop_down_box.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

Add "bin" in package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/preinstall.js
Owners: none

Monorepo: Update react and vue generators (#25407)
  package-lock.json
Owners: none

TreeList ColumnButtonClickEvent like in DataGrid ref 886cdde032a95026c02ac8a39c3fadce295900fa
  packages/devextreme/js/ui/tree_list.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Publish Events Types
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/js/ui/tree_list.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Generate React Wrapper
  packages/devextreme-react/src/tree-list.ts
Owners: none

Update package-lock.json
  package-lock.json
Owners: none

dx.all.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters
