Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Button: svg icon as background should be fit within icon element (T1178813)
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/button/common.ts
Owners: none

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Owners: @DevExpress/devextreme-grids

Disable nx cloud cache
  nx.json
Owners: none

Fix "subscribe" Deprecate (#2742)
  Demos/Diagram/Adaptability/Angular/app/app.component.ts
  Demos/Diagram/Containers/Angular/app/app.component.ts
  Demos/Diagram/CustomShapesWithIcons/Angular/app/app.component.ts
  Demos/Diagram/CustomShapesWithTexts/Angular/app/app.component.ts
  Demos/Diagram/Overview/Angular/app/app.component.ts
  Demos/Diagram/ReadOnly/Angular/app/app.component.ts
  Demos/Diagram/UICustomization/Angular/app/app.component.ts
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light-compact).png
Owners: none

Remove R0 npm scripts (#25224)
  packages/devextreme/package.json
Owners: none

Disable nx cloud cache (#25254)
  nx.json
Owners: none

Renovated Editor: implement isDirty option (#25228)
  packages/devextreme/js/renovation/component_wrapper/editors/editor.ts
  packages/devextreme/js/renovation/ui/editors/common/editor.tsx
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
Owners: @DevExpress/devextreme-grids

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
Owners: @DevExpress/devextreme-grids

Button: svg icon as background should be fit within icon element (T1178813) (#25250)
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/button/common.ts
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light-compact).png
Owners: none

Button: svg icon as background should be fit within icon element (T1178813)
  scss/widgets/base/button/_index.scss
  testing/testcafe/tests/editors/button/common.ts
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light-compact).png
Owners: none

Button: svg icon as background should be fit within icon element (T1178813)
  scss/widgets/base/button/_index.scss
  testing/testcafe/tests/editors/button/common.ts
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light-compact).png
Owners: none

move TrackerView to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move SeparatorView to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move BlockSeparatorView to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move ColumnsSeparatorView to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move ColumnsResizerViewController to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move TablePositionViewController to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

review: add more types
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move DraggingHeaderViewController to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

move DraggingHeaderView to classes
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

temp declarations for reset function
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

revert wrong rebase changes
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
  packages/devextreme/js/bundles/modules/parts/viz.js
  packages/devextreme/js/common/charts.js
  packages/devextreme/js/core/dom_adapter.d.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/integration/knockout/component_registrator.js
  packages/devextreme/js/viz/chart.js
  packages/devextreme/js/viz/chart_components/advanced_chart.js
  packages/devextreme/js/viz/chart_components/base_chart.js
  packages/devextreme/js/viz/core/base_widget.js
  packages/devextreme/js/viz/funnel/funnel.js
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/js/viz/gauges/base_gauge.js
  packages/devextreme/js/viz/pie_chart.js
  packages/devextreme/js/viz/polar_chart.js
  packages/devextreme/js/viz/range_selector/range_selector.js
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/js/viz/sparklines/base_sparkline.js
  packages/devextreme/js/viz/tree_map/tree_map.base.js
  packages/devextreme/js/viz/vector_map/vector_map.js
  packages/devextreme/testing/helpers/vizMocks.js
  packages/devextreme/testing/tests/DevExpress.common/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/viz.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/pieChart.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Move charts to TS
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
Owners: none

Apply fixes after moving code to TS
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
  packages/devextreme/js/bundles/modules/parts/viz.js
  packages/devextreme/js/common/charts.js
  packages/devextreme/js/core/dom_adapter.d.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/integration/knockout/component_registrator.js
  packages/devextreme/js/viz/chart.js
  packages/devextreme/js/viz/funnel/funnel.js
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/js/viz/gauges/base_gauge.js
  packages/devextreme/js/viz/pie_chart.js
  packages/devextreme/js/viz/polar_chart.js
  packages/devextreme/js/viz/range_selector/range_selector.js
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/js/viz/sparklines/base_sparkline.js
  packages/devextreme/js/viz/tree_map/tree_map.base.js
  packages/devextreme/js/viz/vector_map/vector_map.js
  packages/devextreme/testing/helpers/vizMocks.js
  packages/devextreme/testing/tests/DevExpress.common/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/viz.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/pieChart.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

revert wrong rebase changes
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
  packages/devextreme/js/bundles/modules/parts/viz.js
  packages/devextreme/js/common/charts.js
  packages/devextreme/js/core/dom_adapter.d.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/integration/knockout/component_registrator.js
  packages/devextreme/js/viz/chart.js
  packages/devextreme/js/viz/chart_components/advanced_chart.js
  packages/devextreme/js/viz/chart_components/base_chart.js
  packages/devextreme/js/viz/core/base_widget.js
  packages/devextreme/js/viz/funnel/funnel.js
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/js/viz/gauges/base_gauge.js
  packages/devextreme/js/viz/pie_chart.js
  packages/devextreme/js/viz/polar_chart.js
  packages/devextreme/js/viz/range_selector/range_selector.js
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/js/viz/sparklines/base_sparkline.js
  packages/devextreme/js/viz/tree_map/tree_map.base.js
  packages/devextreme/js/viz/vector_map/vector_map.js
  packages/devextreme/testing/helpers/vizMocks.js
  packages/devextreme/testing/tests/DevExpress.common/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/viz.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/pieChart.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Move charts to TS
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
Owners: none

Apply fixes after moving code to TS
  packages/devextreme/js/__internal/common/m_charts.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/js/__internal/viz/m_polar_chart.ts
  packages/devextreme/js/bundles/modules/parts/viz.js
  packages/devextreme/js/common/charts.js
  packages/devextreme/js/core/dom_adapter.d.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/integration/knockout/component_registrator.js
  packages/devextreme/js/viz/chart.js
  packages/devextreme/js/viz/funnel/funnel.js
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/js/viz/gauges/base_gauge.js
  packages/devextreme/js/viz/pie_chart.js
  packages/devextreme/js/viz/polar_chart.js
  packages/devextreme/js/viz/range_selector/range_selector.js
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/js/viz/sparklines/base_sparkline.js
  packages/devextreme/js/viz/tree_map/tree_map.base.js
  packages/devextreme/js/viz/vector_map/vector_map.js
  packages/devextreme/testing/helpers/vizMocks.js
  packages/devextreme/testing/tests/DevExpress.common/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/viz.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/charts.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/pieChart.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid - move columns_resizing_reordering module to native classes (#25177)
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

fix multiple expand
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

try adding test
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

write test
  packages/devextreme/testing/testcafe/model/dataGrid/columnSeparator.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

fix review
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/testing/testcafe/model/dataGrid/columnSeparator.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Owners: none

update etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Owners: none

fix column order after reordering
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

fix testcafe model
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
Owners: none
