Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Add explicit var declarations
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
  packages/devextreme/js/ui/dialog.js
Owners: none

fix context menu screenshots
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light-compact).png
Owners: none

fix fluent margin
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
Owners: none

refactoring
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

Clean up, add comments, copy bootstrap
  build/pack-all.ts
Owners: none

fix alignment a little
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Owners: none

redundant styles
  packages/devextreme/scss/widgets/base/treeView/_common.scss
Owners: none

Fix naming, add "how to use", do not rewrite artifacts dir
  build/build-all.ts
  build/update-version.ts
  package.json
Owners: none

Rename and fix workflow, add pull_request trigger for tests
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

Add defaults in inputs / Update job name
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

add fluent theme to generator
  packages/devextreme-themebuilder/src/metadata/generator.ts
  packages/devextreme-themebuilder/src/types/types.d.ts
  packages/devextreme-themebuilder/tests/data/metadata.ts
  packages/devextreme-themebuilder/tests/metadata/collector.test.ts
  packages/devextreme-themebuilder/tests/metadata/generator.test.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Test "Update version" action
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

Safe check changed option when its iterable value becomes scalar
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
Owners: none

Remove ref for checkout
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

feat(tabs): Add button tests
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

Wrap bigint operations with try catch (#25839)
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none

fix(tabs): Update container
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

fix(tabs): Update test color
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

fix flex item alignment
  packages/devextreme/scss/widgets/base/treeView/_common.scss
Owners: none

Safe check changed option when its iterable value becomes scalar +WIP
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
Owners: none

fix(etalons): Update
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs nav buttons (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs nav buttons (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs nav buttons (material-blue-light).png
Owners: none

add fluent baseline screenshots
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items mode with link focus (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link and icon focus (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with links (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without links (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=none,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=none,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=normal,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=normal,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=selectAll,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView selection cbm=selectAll,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=none,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=none,rtl=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=none,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=none,rtl=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light-compact).png
Owners: none

Safe check changed option when its iterable value becomes scalar +WIP
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
Owners: none

Safe check changed option when its iterable value becomes scalar +WIP
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
Owners: none

Safe check changed option when its iterable value becomes scalar +test
  packages/devextreme-angular/tests/src/core/component.spec.ts
Owners: none

Support material/fluent UI (#2927)
  Demos/Scheduler/CellTemplates/Angular/app/app.component.css
  Demos/Scheduler/CellTemplates/React/styles.css
  Demos/Scheduler/CellTemplates/Vue/styles.css
  Demos/Scheduler/CellTemplates/jQuery/styles.css
Owners: none

WIP
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  packages/devextreme-angular/tests/src/core/component.spec.ts
Owners: @DevExpress/devextreme-devops

Fluent: update h1-h2 font size and weight
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
  packages/devextreme/scss/widgets/fluent/typography/_sizes.scss
Owners: none

Change latest schematics version to *
  packages/devextreme-angular/package.json
Owners: none

WIP
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
Owners: none

Setup git config
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

Update runner
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

23.2.1
  package-lock.json
  package.json
Owners: none

Bump devextreme version
  package-lock.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

update etalons for fluent theme
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-blue-light).png
Owners: none

styles refactoring
  packages/devextreme/scss/widgets/fluent/treeView/_colors.scss
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_sizes.scss
  packages/devextreme/scss/widgets/generic/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_sizes.scss
  packages/devextreme/scss/widgets/material/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_sizes.scss
Owners: none

Revert testing changes
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

Update lock file
  package-lock.json
Owners: none

Skip committing root package.json changes
  build/update-version.ts
Owners: none

Update branch name for PR / Update PR title
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops
