Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

add same fix for the fluent theme
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
Owners: none

Scheduler: Fix popup deprecation warning.
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
Owners: none

DataGrid: Fix closing editable cell when mouse pointer is dragged to copy data to other cells of the current row (T1203250)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

Try chrome 119
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

DataGrid: Fix closing editable cell when mouse pointer is dragged to copy data to other cells of the current row (T1203250)
  js/__internal/grids/grid_core/editing/m_editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix closing editable cell when mouse pointer is dragged to copy data to other cells of the current row (T1203250)
  js/__internal/grids/grid_core/editing/m_editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

Scheduler: Fix appointment popup error check test.
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/appointmentPopupErrors.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Owners: none

Scheduler: Fix appointment popup error check test.
  testing/testcafe/tests/scheduler/appointmentForm/appointmentPopupErrors.ts
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Owners: none

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731) (#26127)
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: none

DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731) (#26160)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731) (#26161)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

dxDiagram - fix T1197848 (Connectors jump when moving the entire diagram with keyboard arrows)
  package-lock.json
  package.json
Owners: none

dxDiagram - fix T1197848 (Connectors jump when moving the entire diagram with keyboard arrows)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

dxDiagram - fix T1197848 (Connectors jump when moving the entire diag… (#26162)
  package-lock.json
  package.json
Owners: none

dxDiagram - fix T1197848 (Connectors jump when moving the entire diag… (#26163)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

fix review
  packages/devextreme/testing/testcafe/tests/scheduler/header/dateNavigator.ts
Owners: none

FilterBuilder - add tests for treeview items (#26094)
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/model/filterBuilder/index.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/data.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (generic-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (generic-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Owners: @DevExpress/devextreme-devops

TreeList - Parent elements can be dropped into child elements in certain cases (T1179555) (#26109)
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
Owners: none

DataGrid - Fix the E0110 error that occurs when editing a column with setCellValue in form mode (T1193894) (#26134)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

DataGrid - Fix the E0110 error that occurs when editing a column with setCellValue in form mode (T1193894) (#26135)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

fix review
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

fix
  packages/devextreme/testing/testcafe/tests/scheduler/header/dateNavigator.ts
Owners: none

fix
  packages/devextreme/testing/testcafe/tests/scheduler/header/etalons/navigator-state-after-change-currentDate-option.png
Owners: none

T1202736
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/views/month/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

new etalons
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
Owners: none

Review fixes
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/testcafe/model/numberBox.ts
  packages/devextreme/testing/testcafe/tests/editors/numberBox/mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

new etalons
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
Owners: none

research
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
Owners: none

Scheduler: Fix popup deprecation warning. (#26040)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/appointmentPopupErrors.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Owners: none

Scheduler: Fix popup deprecation warning. (#26041)
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/appointmentPopupErrors.ts
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Owners: none

Bump `devextreme-quill` version to 1.6.3
  package-lock.json
  package.json
Owners: none

Bump devextreme-quill version to 1.6.3
  package-lock.json
  package.json
Owners: none

Update renovate bot config
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Fix minimum release age
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Bump devextreme-quill version to 1.6.3
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none
