Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix(accessibility): Move files back
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dateBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookUp.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tagBox.ts
Owners: none

feat(tagBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tagBox.ts
Owners: none

fix(selectBox && tagBox): Skip contrast checking
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tagBox.ts
Owners: none

fix(lookUp): Fix dataSource type && Add []
  packages/devextreme/testing/testcafe/tests/accessibility/lookUp.ts
Owners: none

fix(run-testcafe): Remove old code
  packages/devextreme/testing/testcafe/docker/run-testcafe.js
Owners: none

Editors: Cover components with tests with testAccessibility
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
Owners: none

feat(selectBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
Owners: none

get rid of focusOut delay
  packages/devextreme/js/viz/vector_map/tracker.js
Owners: none

feat(gitHub): Add concurrency 2
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

refactor(accessibility): Remove created hook && Add opened and defetRender options
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dateBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookUp.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
Owners: none

chore: fix code scanning alerts (#26510)
  js/core/utils/string.js
  js/localization/ldml/number.js
  testing/tests/DevExpress.core/utils.string.tests.js
Owners: none

Fix - Chart - Load data on demand (#3106) (#3125)
  Demos/Charts/LoadDataOnDemand/React/App.tsx
  Demos/Charts/LoadDataOnDemand/ReactJs/App.js
Owners: none

DataGrid/TreeList - Navigation via the Tab key should work when cellRender/cellComponent is used (T1207684) (#26499)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

DataGrid/TreeList - Navigation via the Tab key should work when cellRender/cellComponent is used (T1207684) (#26499)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

DataGrid/TreeList - Navigation via the Tab key should work when cellRender/cellComponent is used (T1207684) (#26499)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

To add the capability to track unused variables in SCSS files
  packages/devextreme/testing/styles/unused-elements.test.ts
  packages/devextreme/testing/styles/unused-images.test.ts
Owners: none

fix(dropDownButton): Skip stylingMode && type
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
Owners: none

fix(selectBox && dropDownBox): Skip aria-dialog-name checking
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
Owners: none

Update unused-elements.test.ts
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Update unused-elements.test.ts
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Update unused-elements.test.ts
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Update unused-elements.test.ts
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Editors: Cover components with tests with testAccessibility
  packages/devextreme/testing/testcafe/tests/accessibility/textArea.ts
Owners: none

Update unused-elements.test.ts
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

fix(textArea): Remove tabindex
  packages/devextreme/testing/testcafe/tests/accessibility/textArea.ts
Owners: none

feat(textBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/textBox.ts
Owners: none

feat(numberBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/numberBox.ts
Owners: none

fix(accessibility): Skip stylingMode
  packages/devextreme/testing/testcafe/tests/accessibility/numberBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/textArea.ts
  packages/devextreme/testing/testcafe/tests/accessibility/textBox.ts
Owners: none

feat(switch): Add Axe tests
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/accessibility/switch.ts
Owners: none

feat(chackBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/checkBox.ts
Owners: none

fix(lookup): Rename file
  packages/devextreme/testing/testcafe/tests/accessibility/lookup-1.ts
Owners: none

fix(lookup): Rename file
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
Owners: none

Styles: eliminate redundant variables (#26498)
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme/scss/widgets/fluent/menu/_colors.scss
  packages/devextreme/scss/widgets/fluent/menuBase/_index.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/menu/_colors.scss
  packages/devextreme/scss/widgets/generic/menuBase/_colors.scss
  packages/devextreme/scss/widgets/generic/menuBase/_index.scss
  packages/devextreme/scss/widgets/generic/overlay/_colors.scss
  packages/devextreme/scss/widgets/generic/typography/_index.scss
  packages/devextreme/scss/widgets/generic/typography/_sizes.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/menu/_colors.scss
  packages/devextreme/scss/widgets/material/menuBase/_index.scss
Owners: none

fix(switch): Skip aria-allowed-attr
  packages/devextreme/testing/testcafe/tests/accessibility/switch.ts
Owners: none

T1207467
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix(autocomplete): Skip aria-dialog-name
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
Owners: none

To add the capability to track unused variables in SCSS files (#26514)
  packages/devextreme/testing/styles/unused-elements.test.ts
  packages/devextreme/testing/styles/unused-images.test.ts
Owners: none

add test for update tooltip data of focus out
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Owners: none

move tagbox dropdownbox selectbox accordion autocomplete action_sheet to TS
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_autocomplete.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
Owners: none

fixes after moving to TS
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_autocomplete.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/ui/accordion.js
  packages/devextreme/js/ui/action_sheet.js
  packages/devextreme/js/ui/autocomplete.js
  packages/devextreme/js/ui/drop_down_box.js
  packages/devextreme/js/ui/select_box.js
  packages/devextreme/js/ui/tag_box.js
Owners: none
