Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

ValidationSummary(fluent theme) - update margin between items (#25905)
  packages/devextreme/scss/widgets/fluent/validation/_sizes.scss
Owners: none

update color in calendar
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with left position (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with left position (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with right position (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with right position (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with top position (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/checkBox/etalons/Checkbox validation message with top position (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup in loading (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup horizontal validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=floating (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=hidden (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=outside (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=static (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (fluent-blue-light).png
Owners: none

remove baselines for context menu after unsuccessful merge
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light-compact).png
Owners: none

add pointerEventsStrategy option to GlobalConfig for setting EventsStrategy
  packages/devextreme/js/events/pointer.js
Owners: none

Update baseSize type
  packages/devextreme/js/ui/box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add baselines from master
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light-compact).png
Owners: none

generate
  packages/devextreme-angular/src/ui/box/index.ts
  packages/devextreme-angular/src/ui/nested/base/box-options.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/box.ts
  packages/devextreme-react/src/box.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

remove some variables
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

refactor
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
Owners: none

refactor
  packages/devextreme/scss/widgets/fluent/_colors.scss
Owners: none

remove extra condition in style
  packages/devextreme/scss/widgets/fluent/timeView/_colors.scss
Owners: none

ProgressBar - update color of progressbar-status (#25891)
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/material/progressBar/_colors.scss
Owners: none

Datebox datetime(fluent theme) - update layout & colors (#25909)
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/timeView/_colors.scss
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-blue-light).png
Owners: none

Update baseSize type
  js/ui/box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

Try to fix QUnit runner connection
  packages/devextreme/docker-ci.sh
Owners: none

Dialog: fix typo in cancel button stylingMode
  packages/devextreme/js/ui/dialog.js
Owners: none

Change target and module
  packages/devextreme-angular/tsconfig.json
Owners: none

Run QUnit on older Node version to check if this task fails or the previous ones
  .github/actions/run-qunit-tests/action.yml
Owners: @DevExpress/devextreme-devops

update etanol
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (confirm) (fluent-blue-light).png
Owners: none

Change target to 2017
  packages/devextreme-angular/tsconfig.json
Owners: none

Move Node version down to install it closer to QUnit run
  .github/actions/run-qunit-tests/action.yml
Owners: @DevExpress/devextreme-devops

add fix to ResponseBox
  js/ui/responsive_box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

add fix to ResponseBox
  packages/devextreme/js/ui/responsive_box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

regenerate
  packages/devextreme-angular/src/ui/nested/col-dxi.ts
  packages/devextreme-angular/src/ui/nested/row-dxi.ts
  packages/devextreme-angular/src/ui/responsive-box/index.ts
  packages/devextreme-react/src/responsive-box.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Try to fix port to provide it as a string
  .github/actions/run-qunit-tests/action.yml
  packages/devextreme/ports.json
Owners: @DevExpress/devextreme-devops

Dialog: fix typo in cancel button stylingMode (#25922)
  packages/devextreme/js/ui/dialog.js
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Dialog appearance (confirm) (fluent-blue-light).png
Owners: none

EventInfo / NativeEventInfo: Remove ko model + regenerate-all
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme/js/events/index.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

popover: remove excessive doc tags from js file (model affects knockout docs)
  packages/devextreme/js/ui/popover/ui.popover.js
Owners: none

collection_widget: remove excessive doc tags from js file (model affects knockout docs)
  packages/devextreme/js/ui/collection/ui.collection_widget.edit.js
Owners: none

polar_chart: remove model from onArgumentAxisClick
  packages/devextreme/js/viz/polar_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

sortable: remove model from onAdd
  packages/devextreme/js/ui/sortable.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

drop_down_button: remove excessive doc tags (model affects knockout docs), reaming tags was added along with uid type to prevent from BC after EAP
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Editor: validation mark should be centered
  packages/devextreme/scss/widgets/fluent/common/_mixins.scss
Owners: none

update etanol
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined (fluent-blue-light).png
Owners: none

Create separate TS config for each framework and each demo (#2944)
  configs/Angular/tsconfig.json
  configs/React/tsconfig.json
  configs/Vue/tsconfig.json
Owners: none

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids
