Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Scheduler(T1205763 + T1205768 + T1205772)
  js/__internal/core/utils/math.test.ts
  js/__internal/core/utils/math.ts
  js/__internal/scheduler/m_scheduler.ts
  js/__internal/scheduler/workspaces/m_timeline.ts
  js/__internal/scheduler/workspaces/m_work_space.ts
  js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none

Scheduler(T1205763 + T1205768 + T1205772): Fix the current time indicator related issues (#26284)
  js/__internal/core/utils/math.test.ts
  js/__internal/core/utils/math.ts
  js/__internal/scheduler/m_scheduler.ts
  js/__internal/scheduler/workspaces/m_timeline.ts
  js/__internal/scheduler/workspaces/m_work_space.ts
  js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none

refactor(treeView && utils): Rename tests
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(treeView): Perlace old a11y tests with testAccessibility hook
  packages/devextreme/testing/testcafe/helpers/accessibilityUtils.ts
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(testAccessibility): Move testAccessibility into accessibility folder
  packages/devextreme/testing/testcafe/helpers/accessibility/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
  packages/devextreme/testing/testcafe/tests/accessibility/treeView.ts
Owners: none

test(treeView): Remove some options
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

draft(utils): Add testAccessibility hook
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
Owners: none

refactor
  packages/devextreme/testing/testcafe/tests/accessibility/common.ts
Owners: none

revert(treeView): Revert _setAriaRole setting
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

test(treeView): Remove options from test name
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
Owners: none

fix(tabs): Try to skip again
  packages/devextreme/testing/testcafe/tests/navigation/tabs/accessibility.ts
Owners: none

refactor(tabs): Remove return
  packages/devextreme/testing/testcafe/tests/navigation/tabs/accessibility.ts
Owners: none

fix(gallery): Skip image-alt checking
  packages/devextreme/testing/testcafe/tests/navigation/gallery/a11y.ts
Owners: none

refacor(utils): Remove string from Options interface
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

test(utils): Remove role setting for test
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

refactor(utils && treeView): Move common parts to util
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(utils): Get rid of extra eslint comments
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
Owners: none

feat(test ally): Add a11y common test with Node && Rename file && Refactor
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/accessibility/common.ts
  packages/devextreme/testing/testcafe/tests/gallery/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(utils): Remove any type
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
Owners: none

fix(tabs): Skip color-contrast test in Material
  packages/devextreme/testing/testcafe/tests/accessibility/index.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/accessibility.ts
Owners: none

feat(tabs): Add ally test for Tabs
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/accessibility.ts
Owners: none

fix(gallery): Move ally tests to Navigation
  packages/devextreme/testing/testcafe/tests/navigation/gallery/a11y.ts
Owners: none

feat(gitHub Workflows): Add accessibility into the workflows list
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

fix(gallery): Add disablePageReloads
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
Owners: none

revert
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(testAllyUtil): Refactor structure
  packages/devextreme/testing/testcafe/helpers/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/accessibility/index.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
  packages/devextreme/testing/testcafe/tests/accessibility/treeView.ts
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
Owners: none

refactor(generateOptionMatrix): Replace spread with push and pop
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none

fix(gallary): Add afterEach
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
Owners: none

fix(accessibilityUtils): Move accessibilityUtils into accessibility folder
  packages/devextreme/testing/testcafe/helpers/accessibility/accessibilityUtils.ts
  packages/devextreme/testing/testcafe/helpers/accessibility/testAccessibility.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/common.ts
Owners: none

refactor(generateOptionMatrix): Replace concat with push + spread
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none

fix(gallery): Remove disablePageReload
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
Owners: none

refactor(tabs): Remove extra comment
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
Owners: none

refactor(utils): Move generator algorithm && Minor fixes
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/helpers/accessibility/utils.ts
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
  packages/devextreme/testing/testcafe/tests/accessibility/treeView.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/common.ts
Owners: none

add generics to option type
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
  packages/devextreme/testing/testcafe/tests/accessibility/treeView.ts
Owners: none

Scheduler(T1205763 + T1205768 + T1205772): Fix the current time indicator related issues (#26290)
  js/__internal/core/utils/math.test.ts
  js/__internal/core/utils/math.ts
  js/__internal/scheduler/m_scheduler.ts
  js/__internal/scheduler/workspaces/m_timeline.ts
  js/__internal/scheduler/workspaces/m_work_space.ts
  js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none

Viz: make LegendItem public (T1191979) (#26150)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Viz: make LegendItem public (T1191979) (#26150)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(utils): Add createFullReport
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/helpers/accessibility/utils.ts
Owners: none

revert(treeView): Revert setting of role
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

HtmlEditor: Remove browser version checking
  packages/devextreme/js/ui/html_editor/modules/dropImage.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/dropImageModule.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
