Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

update etalons
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/agenda/etalons/agenda-layout-appointment-state-click.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/basic-recurrence-appointment-after-drag.png
  packages/devextreme/testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-1.png
Owners: none

update etalons
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (generic-light).png
Owners: none

update etalons
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (generic-light).png
Owners: none

reverse
  packages/devextreme/js/core/utils/template_manager.js
  packages/devextreme/testing/tests/DevExpress.core/utils.template_manager.tests.js
Owners: none

new fix
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

fix ci
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

refactor
  packages/devextreme/js/ui/button_group.js
  packages/devextreme/js/ui/html_editor/modules/toolbar.js
  packages/devextreme/js/ui/html_editor/modules/variables.js
  packages/devextreme/scss/widgets/base/buttonGroup/_mixins.scss
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

fix text & icon colors
  packages/devextreme/scss/widgets/generic/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/button/_index.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
Owners: none

update etalons
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (material-blue-light).png
Owners: none

fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

fix date constructor
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

remove qunit-visible
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

Remove extra screenshots
  screenshots/testing/screenshots/TabPanel when 1 item has active state, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel when its available item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel when its disabled item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel without focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when 1 item has active state, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when its available item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when its disabled item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel without focus, rtlEnabled=false (generic-light).png
Owners: none

add test on stylingMode class
  packages/devextreme/js/ui/button_group.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

remove selected state
  packages/devextreme/js/ui/html_editor/modules/toolbar.js
Owners: none

Remove extra screenshots
  screenshots/testing/screenshots/TabPanel when 1 item has active state, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel when its available item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel when its disabled item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/TabPanel without focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when 1 item has active state, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when its available item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel when its disabled item has focus, rtlEnabled=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/TabPanel without focus, rtlEnabled=false (generic-light).png
Owners: none

Change MouseEventAPI to PointerEventAPI
  packages/devextreme/js/events/pointer/mouse.js
Owners: none

TabPanel: Double border in HtmlEditor
  packages/devextreme/scss/widgets/generic/htmlEditor/_index.scss
Owners: none

feat(htmlEditor: TestCafe): Add test for TabPanel
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
Owners: none

dxScheduler - remove magic constant from position calculation in groups (#25343)
  packages/devextreme/js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
Owners: none

Scheduler - fix skipped tests (#25316)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

renames
  packages/devextreme/js/ui/popup/ui.popup.js
Owners: none

fix(htmlEditor): Replace selector for screenshot
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
Owners: none

feat(htmlEditor): Update etalons
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light).png
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

Check only MouseStrategy with dxpointerdown
  packages/devextreme/js/events/pointer.js
  packages/devextreme/js/events/pointer/mouse.js
Owners: none

Remove wrong generic parameter from the dxMultiView class
  packages/devextreme/js/ui/multi_view.d.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add localization messages for de and ja languages
  js/localization/messages/de.json
  js/localization/messages/ja.json
Owners: @DevExpress/devextreme-techwriters

Add localization messages for de and ja languages
  js/localization/messages/de.json
  js/localization/messages/ja.json
Owners: @DevExpress/devextreme-techwriters

Add localization messages for de and ja languages
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/ja.json
Owners: none

TabPanel: Double borders in HtmlEditor
  packages/devextreme/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light).png
Owners: none

Toolbar: fix overflow menu item rendering after item.disable runtime change (#25330)
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

Calendar: pass focusStateEnabled to navigator buttons
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.navigator.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/calendar/_calendar.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

restore playground
  packages/devextreme/playground/jquery.html
Owners: none

Update jquery.html
  packages/devextreme/playground/jquery.html
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
