Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

T1209314
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

fix(lookup && colorBox): Skip aria-dialog-name
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
Owners: none

fix(dropDownButton): Skip aria-dialog-name
  .vscode/settings.json
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
Owners: none

add ticket num to test's name
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Owners: none

DataGrid/TreeList - Navigation via the Tab key should work when cellRender/cellComponent is used (T1207684) (#26512)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

DataGrid/TreeList - Navigation via the Tab key should work when cellRender/cellComponent is used (T1207684) (#26513)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

revert(vsSettings): Revert
  .vscode/settings.json
Owners: none

revart(testcafe_tests.yml): Revert
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

fix(ddEditors): Skip aria-dialog-name if isMaterialBased
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
Owners: none

VectorMap: fix tooltip is empty after moving cursor between layers (T1211755) (#26511)
  packages/devextreme/js/viz/vector_map/tracker.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Owners: none

Update packages/devextreme/testing/testcafe/update_failed_etalons.mjs
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

Review fixes
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/ui/drop_down_button.js
Owners: none

simplifying of folders processing
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

add tests
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

NumberBox - Fix letter enter to editor with number mask(T1211093)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

Apply suggestions from code review
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

fix code style
  packages/devextreme/js/ui/number_box/number_box.mask.js
Owners: none

NumberBox - Fix letter enter to editor with number mask(T1211093)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

Apply suggestions from code review
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

fix code style
  js/ui/number_box/number_box.mask.js
Owners: none

fix test
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
Owners: none

Review fixes
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/ui/drop_down_button.js
Owners: none

simple refactor
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

Add script for updating failed screenshots (#26480)
  packages/devextreme/package.json
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Owners: none

NumberBox: Restrict entering of a letter to editor with number mask (T1211093) (#26467)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

NumberBox: Restrict entering of a letter to editor with number mask (T1211093) (#26520)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

NumberBox: Restrict entering of a letter to editor with number mask (T1211093) (#26521)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

fix test
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
Owners: none

rollback
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
Owners: none

refactoring
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
Owners: none

DropDownEditors: Cover components with tests with testAccessibility
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dateBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tagBox.ts
Owners: none

fix diagram test and validate declarations
  packages/devextreme-angular/src/ui/load-panel/index.ts
  packages/devextreme-angular/src/ui/nested/base/popup-options.ts
  packages/devextreme-angular/src/ui/nested/drop-down-options.ts
  packages/devextreme-angular/src/ui/nested/filter-builder-popup.ts
  packages/devextreme-angular/src/ui/nested/popup.ts
  packages/devextreme-angular/src/ui/popover/index.ts
  packages/devextreme-angular/src/ui/popup/index.ts
  packages/devextreme-angular/src/ui/toast/index.ts
  packages/devextreme-angular/src/ui/tooltip/index.ts
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/autocomplete.ts
  packages/devextreme-vue/src/color-box.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme-vue/src/drop-down-box.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme-vue/src/load-panel.ts
  packages/devextreme-vue/src/lookup.ts
  packages/devextreme-vue/src/popover.ts
  packages/devextreme-vue/src/popup.ts
  packages/devextreme-vue/src/select-box.ts
  packages/devextreme-vue/src/tag-box.ts
  packages/devextreme-vue/src/toast.ts
  packages/devextreme-vue/src/tooltip.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/ui/diagram/ui.diagram.floating_panel.js
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Owners: none

Use native classes instead dxClass for text editor masks rules (#26500)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.rule.js
Owners: none

Use native classes instead dxClass text editor masks rules
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.rule.js
Owners: none

Use native classes instead dxClass text editor masks rules
  js/ui/text_box/ui.text_editor.mask.rule.js
Owners: none

Editors: Cover components with tests with testAccessibility
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/accessibility/checkBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/numberBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/switch.ts
  packages/devextreme/testing/testcafe/tests/accessibility/textArea.ts
  packages/devextreme/testing/testcafe/tests/accessibility/textBox.ts
Owners: none

stash
  packages/devextreme/testing/testcafe/tests/accessibility/list.ts
Owners: none

feat(tabPanel): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/tabPanel.ts
Owners: none

feat(dateRangeBox): Add Axe tests
  packages/devextreme/testing/testcafe/tests/accessibility/dateRangeBox.ts
Owners: none

Other: Cover components with tests with testAccessibility
  packages/devextreme/testing/testcafe/tests/accessibility/list.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
