Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Tabs: Add styles for vertical orientation in Generic
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/generic/tabs/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/navigation-button/_vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tabs/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tabs/_vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/mixins/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/borders/_borders-horizontal.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/borders/_borders-vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/borders/_index.scss
Owners: none

add selected styles for all button types
  packages/devextreme/scss/widgets/generic/button/_colors.scss
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=true.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-appointment.png
Owners: none

review: decrease compexity
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834) (#25261)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/helpers/asyncTemplates.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834) (#25252)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/helpers/asyncTemplates.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834) (#25253)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/helpers/asyncTemplates.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Owners: none

fix(tabPanel): Update test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

ranames
  packages/devextreme/js/ui/popup/ui.popup.js
Owners: none

refactor
  packages/devextreme/js/ui/popup/ui.popup.js
Owners: none

Fix blinking test (T1126013) (#25285)
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/validation/validationPopup.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/treeList/focusedRow.ts
Owners: @DevExpress/devextreme-grids

Fix blinking test (T1126013) (#25284)
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/validation/validationPopup.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/treeList/focusedRow.ts
Owners: @DevExpress/devextreme-grids

Fix blinking text (T1139685) (#25283)
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
Owners: none

feat(tabs: TestCafe): Add tests for vertical Tabs
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item has active state and selectOnFocus=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item has active state and selectOnFocus=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item has active state and selectOnFocus=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item has active state and selectOnFocus=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item is selected, 4 item is hovered and selectOnFocus=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item is selected, 4 item is hovered and selectOnFocus=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item is selected, 4 item is hovered and selectOnFocus=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when 3 item is selected, 4 item is hovered and selectOnFocus=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its available item has focus and selectOnFocus=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its available item has focus and selectOnFocus=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its available item has focus and selectOnFocus=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its available item has focus and selectOnFocus=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its disabled item has focus and selectOnFocus=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its disabled item has focus and selectOnFocus=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its disabled item has focus and selectOnFocus=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs when its disabled item has focus and selectOnFocus=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs without focus and selectOnFocus=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs without focus and selectOnFocus=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs without focus and selectOnFocus=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs without focus and selectOnFocus=true (material-blue-light).png
Owners: none

fix
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

Convert diagram demos to functionality approach (#2733)
  Demos/Diagram/Adaptability/React/App.js
  Demos/Diagram/AdvancedDataBinding/React/App.js
  Demos/Diagram/Containers/React/App.js
  Demos/Diagram/CustomShapesWithIcons/React/App.js
  Demos/Diagram/CustomShapesWithTemplates/React/App.js
  Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.js
  Demos/Diagram/CustomShapesWithTexts/React/App.js
  Demos/Diagram/ImagesInShapes/React/App.js
  Demos/Diagram/ItemSelection/React/App.js
  Demos/Diagram/NodesAndEdgesArrays/React/App.js
  Demos/Diagram/NodesArrayHierarchicalStructure/React/App.js
  Demos/Diagram/NodesArrayPlainStructure/React/App.js
  Demos/Diagram/OperationRestrictions/React/App.js
  Demos/Diagram/Overview/React/App.js
  Demos/Diagram/ReadOnly/React/App.js
  Demos/Diagram/SimpleView/React/App.js
  Demos/Diagram/UICustomization/React/App.js
  Demos/Diagram/WebAPIService/React/App.js
Owners: none

fix: shift+tab should work on first cell
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

lint
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

lint
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: none

fix tests
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: none

add types
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

remove console.log
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix: don't remove tabindex if no need
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

tests
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: none

move fix to separate module
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Owners: none

reload page before a11y test
  packages/devextreme/testing/testcafe/helpers/accessibilityUtils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: none

remove redundant cooments
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
Owners: none

fix: handle case when columns fixed on the right
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: none

final cuts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

move module to extender
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/tree_list/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Owners: none

GA tasks: split form tests (#25299)
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

GA tasks: split form tests (#25297)
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

fix tests
  packages/devextreme/scss/widgets/material/contextMenu/_index.scss
  packages/devextreme/scss/widgets/material/menu/_index.scss
Owners: none

fix(tabs): Fix line-height && Fix wrapper after el position
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
Owners: none

fix(tabs: sizes): Fix paddings
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
Owners: none

Convert react File Manager and HtmlEditor demos to functionality (#2731)
  Demos/FileManager/AzureClientBinding/React/App.js
  Demos/FileManager/AzureServerBinding/React/App.js
  Demos/FileManager/BindingToEF/React/App.js
  Demos/FileManager/BindingToFileSystem/React/App.js
  Demos/FileManager/BindingToHierarchicalStructure/React/App.js
  Demos/FileManager/CustomThumbnails/React/App.js
  Demos/FileManager/Overview/React/App.js
  Demos/FileManager/UICustomization/React/App.js
  Demos/FileUploader/AzureDirectUploading/React/App.js
  Demos/FileUploader/ChunkUploading/React/App.js
  Demos/FileUploader/CustomDropzone/React/App.js
  Demos/FileUploader/FileSelection/React/App.js
  Demos/FileUploader/FileUploading/React/App.js
  Demos/FileUploader/Validation/React/App.js
  Demos/HtmlEditor/Mentions/React/App.js
  Demos/HtmlEditor/OutputFormats/React/App.js
  Demos/HtmlEditor/Overview/React/App.js
  Demos/HtmlEditor/Tables/React/App.js
  Demos/HtmlEditor/ToolbarCustomization/React/App.js
Owners: none

Update dependency semver
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

fix
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

fix
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
