Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

rearrange texteditor sequence of events put mouse wheel events bvefore rendering masks
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Owners: none

Splitter and ContextMenu: update demo descriptions after review
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Splitter/Overview/description.md
Owners: none

Scheduler: fix issue with cells' sizes css classes
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

Scheduler(T1220618): Fix QUnit tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

Fix devextreme/time_zone_utils import
  apps/demos/Demos/Scheduler/TimeZonesSupport/React/App.tsx
  apps/demos/Demos/Scheduler/TimeZonesSupport/ReactJs/App.js
Owners: none

Splitter and ContextMenu: update demo descriptions after review (#27419)
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Splitter/Overview/description.md
Owners: none

Scheduler(T1220618): Minor fixes
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
Owners: none

Scheduler(T1220618): Add e2e tests
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizes.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizesCss.ts
Owners: none

TagBox: Add alt text into Overview demos
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.html
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TagBox/Overview/React/App.tsx
  apps/demos/Demos/TagBox/Overview/React/Item.tsx
  apps/demos/Demos/TagBox/Overview/React/Tag.tsx
  apps/demos/Demos/TagBox/Overview/ReactJs/App.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Item.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Tag.js
  apps/demos/Demos/TagBox/Overview/Vue/Item.vue
  apps/demos/Demos/TagBox/Overview/Vue/Tag.vue
  apps/demos/Demos/TagBox/Overview/jQuery/index.js
Owners: none

fix(common.test): Remove TagBox from skipped config
  apps/demos/testing/common.test.js
Owners: none

fix(angular)
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.html
Owners: none

Splitter: improve collapsed functionality
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Drawer: Fix setting of visibility: hidden
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/scss/widgets/base/_drawer.scss
Owners: none

dxDiagramCustomCommand interface -> type (after @public)
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

GridCore(T1194403): remove redundant refocus of the cells editor
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
Owners: none

feat(drawer): Add tests
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Owners: none

Update etalons 2
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (material.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_orientation_vertical_without_strict_class.png
Owners: none

fix(tagBox demo): Lint
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.html
Owners: none

DataGrid(T1194403): Add e2e tests
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: none

DataGrid(T1194403): Add etalons
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
Owners: none

Scheduler(T1220618): Code review fixes.
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
Owners: none

Research
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

fix(drawer): Fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Owners: none

fix(drawer): Move test from markup tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Owners: none

TagBox: Add alt text into Overview demos
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.html
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TagBox/Overview/React/App.tsx
  apps/demos/Demos/TagBox/Overview/React/Item.tsx
  apps/demos/Demos/TagBox/Overview/React/Tag.tsx
  apps/demos/Demos/TagBox/Overview/ReactJs/App.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Item.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Tag.js
  apps/demos/Demos/TagBox/Overview/Vue/Item.vue
  apps/demos/Demos/TagBox/Overview/Vue/Tag.vue
  apps/demos/Demos/TagBox/Overview/jQuery/index.js
  apps/demos/testing/common.test.js
Owners: none

Rename enums types start with 'Diagram', add re-export for modules and alias for bundle
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.tsx
  apps/demos/Demos/Diagram/UICustomization/React/App.tsx
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

use instead message
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update package.lock
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

Update package-lock.json
  package-lock.json
Owners: none

Update buttonGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

remove excessive setting
  packages/devextreme/testing/styles/jest.config.json
Owners: none

dxDiagramCustomCommand -> CustomCommand after @public
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

alias for prev ee307730e909499ee2aa333a363ba28892d2d50c
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079)
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

Lint
  packages/devextreme/js/ui/diagram.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update version of package
  package-lock.json
  package.json
Owners: none

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

a
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
