Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Review fixes
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
Owners: none

Fix tests
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Review fixes
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
Owners: none

Menu: extend show*/hide* handlers API
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

WIP
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
Owners: none

try
  e2e/testcafe-devextreme/runner.js
Owners: none

Review fixes
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Splitter : refactor react js demo
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/index.js
Owners: none

Scheduler(T1220324): resets data when Repeat switch is toggled (#27215)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/model/scheduler/appointment/popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-hide.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/recurrenceEditor.ts
Owners: none

Scheduler(T1220324): resets data when Repeat switch is toggled (#27216)
  js/__internal/scheduler/appointment_popup/m_form.ts
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-hide.png
  testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
  testing/testcafe/tests/scheduler/appointmentForm/recurrenceEditor.ts
Owners: none

final fonts + no-customElements guard + no panel for wrappers tests
  .github/workflows/wrapper_tests.yml
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: @DevExpress/devextreme-devops

Menu scrolling: recalculate submenu height on dimension change
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Menu scrolling: extend show and hide handlers API (update .d.ts files)
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

itemData @type object
  packages/devextreme/js/ui/menu.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Use larger icon size
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Change any[] to string[]
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Remove unnecessary label configuration
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Remove unnecessary value configuration
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Rename test
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Update apps/demos/Demos/DataGrid/FilteringAPI/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/FilteringAPI/Angular/app/app.component.html
Owners: none

Update apps/demos/Demos/DataGrid/FilteringAPI/React/App.tsx
  apps/demos/Demos/DataGrid/FilteringAPI/React/App.tsx
Owners: none

Update apps/demos/Demos/DataGrid/FilteringAPI/ReactJs/App.js
  apps/demos/Demos/DataGrid/FilteringAPI/ReactJs/App.js
Owners: none

Update apps/demos/Demos/DataGrid/FilteringAPI/Vue/App.vue
  apps/demos/Demos/DataGrid/FilteringAPI/Vue/App.vue
Owners: none

Update apps/demos/Demos/DataGrid/FilteringAPI/jQuery/index.html
  apps/demos/Demos/DataGrid/FilteringAPI/jQuery/index.html
Owners: none

Menu scrolling: add jQuery demos
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.html
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.js
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/styles.css
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/jQuery/index.html
  apps/demos/Demos/Menu/Scrolling/jQuery/index.js
  apps/demos/Demos/Menu/Scrolling/jQuery/styles.css
  apps/demos/menuMeta.json
Owners: none

Review fixes
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add a sample test without private API
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Owners: none

Replace failing etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation (material-blue-light-compact).png
Owners: none

Splitter: non resizable panes shouldn't change their sizes during resize
  e2e/testcafe-devextreme/tests/navigation/splitter/resize.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Update etalon
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light-compact).png
Owners: none

tests and fixes
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

test case added
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Revert minty etalon
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light-compact).png
Owners: none

@type dxMenuItem after prev type change
  packages/devextreme/js/ui/menu.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Splitter: fix collapsed, rtl issues (#27206)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

update etalons
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content, pane_1.size=`100px` (fluent-blue-light).png
Owners: none

Added fixed height
  apps/demos/Demos/DataGrid/ColumnChooser/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ColumnChooser/React/App.tsx
  apps/demos/Demos/DataGrid/ColumnChooser/ReactJs/App.js
  apps/demos/Demos/DataGrid/ColumnChooser/Vue/App.vue
  apps/demos/Demos/DataGrid/ColumnChooser/jQuery/index.js
Owners: none

fix: path in solution
  packages/qunit-runner/build-dotnet.sln
Owners: none

move: ports.json
  e2e/qunit/ports.json
Owners: none
