Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Update dependency semver
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

fix align
  packages/devextreme/scss/widgets/generic/toolbar/_index.scss
  packages/devextreme/scss/widgets/material/menu/_index.scss
Owners: none

Update dependency semver
  themebuilder-scss/package-lock.json
Owners: none

Update dependency semver
  package-lock.json
  packages/devextreme-themebuilder/package.json
Owners: none

reverse commit
  packages/devextreme/scss/widgets/generic/toolbar/_index.scss
  packages/devextreme/scss/widgets/material/menu/_index.scss
Owners: none

T1176377
  package-lock.json
  packages/devextreme/package.json
Owners: none

Update dependency semver [security] (#25305)
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

T1176377
  package-lock.json
  package.json
Owners: none

testing
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
Owners: none

dxDiagram - T1176377 (#25304)
  package-lock.json
  packages/devextreme/package.json
Owners: none

dxDiagram - T1176377 (#25303)
  package-lock.json
  package.json
Owners: none

fix line height for toolbar
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
  packages/devextreme/scss/widgets/material/toolbar/_sizes.scss
Owners: none

baseline updated
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid contextmenu width (material-blue-light).png
Owners: none

Update packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

screenshots updated
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none

simplify material styles
  packages/devextreme/scss/widgets/base/buttonGroup/_mixins.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/button/_index.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

add stylingMode class on buttongroup
  packages/devextreme/js/ui/button_group.js
Owners: none

refactor
  packages/devextreme-themebuilder/src/data/clean-css-options.json
  packages/devextreme-themebuilder/src/data/clean-css-themebuilder-options.json
  packages/devextreme-themebuilder/src/modules/post-compiler.ts
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-css.ts
  packages/devextreme-themebuilder/tests/modules/builder.test.ts
  packages/devextreme/build/gulp/styles/clean-css-options.json
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

fix import
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

DataGrid - TestCafe - Fix TS error in Fixed Columns (#25306)
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

DataGrid - TestCafe - Fix TS error in Fixed Columns (#25307)
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

Scheduler - Move to TS - part 2: move files
  js/__internal/scheduler/base/m_widget_observer.ts
  js/__internal/scheduler/header/m_calendar.ts
  js/__internal/scheduler/header/m_date_navigator.ts
  js/__internal/scheduler/header/m_header.ts
  js/__internal/scheduler/header/m_utils.ts
  js/__internal/scheduler/header/m_view_switcher.ts
  js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  js/__internal/scheduler/resources/m_utils.ts
  js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  js/__internal/scheduler/timezones/timezones_data.ts
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

Scheduler - Move to TS - part 2: move files
  js/__internal/scheduler/base/m_widget_observer.ts
  js/__internal/scheduler/header/m_calendar.ts
  js/__internal/scheduler/header/m_date_navigator.ts
  js/__internal/scheduler/header/m_header.ts
  js/__internal/scheduler/header/m_utils.ts
  js/__internal/scheduler/header/m_view_switcher.ts
  js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  js/__internal/scheduler/resources/m_utils.ts
  js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  js/__internal/scheduler/timezones/timezones_data.ts
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

move variable declarations
  packages/devextreme/scss/widgets/generic/button/_colors.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/button/_sizes.scss
Owners: none

Scheduler - Move to TS - part 2: move files
  packages/devextreme/js/__internal/scheduler/base/m_widget_observer.ts
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
  packages/devextreme/js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  packages/devextreme/js/__internal/scheduler/timezones/timezones_data.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

Convert Gauges (#2762)
  Demos/Gauges/AnglesCustomization/React/App.js
  Demos/Gauges/BaseValueForRangeBar/React/App.js
  Demos/Gauges/CustomLayout/React/App.js
  Demos/Gauges/CustomLayoutLinearGauge/React/App.js
  Demos/Gauges/DifferentSubvalueIndicatorTypes/React/App.js
  Demos/Gauges/DifferentSubvalueIndicatorTypesLinearGauge/React/App.js
  Demos/Gauges/DifferentValueIndicatorTypes/React/App.js
  Demos/Gauges/DifferentValueIndicatorTypesLinearGauge/React/App.js
  Demos/Gauges/GaugeTitleCustomized/React/App.js
  Demos/Gauges/GaugeTooltip/React/App.js
  Demos/Gauges/LabelsCustomization/React/App.js
  Demos/Gauges/Overview/React/App.js
  Demos/Gauges/Palette/React/App.js
  Demos/Gauges/PaletteForRanges/React/App.js
  Demos/Gauges/ScaleCustomTickInterval/React/App.js
  Demos/Gauges/ScaleCustomTickValues/React/App.js
  Demos/Gauges/ScaleLabelFormatting/React/App.js
  Demos/Gauges/ScaleMinorTicks/React/App.js
  Demos/Gauges/SubvalueIndicatorTextFormatting/React/App.js
  Demos/Gauges/Tooltip/React/App.js
  Demos/Gauges/UpdateBarGaugeDataAtRuntime/React/App.js
  Demos/Gauges/UpdateCircularGaugeDataAtRuntime/React/App.js
  Demos/Gauges/UpdateLinearGaugeDataAtRuntime/React/App.js
  Demos/Gauges/ValueIndicatorsAPI/React/App.js
  Demos/Gauges/VariableNumberOfBars/React/App.js
  Demos/Gauges/VariableNumberOfSubvalueIndicators/React/App.js
Owners: none

Update dependency semver [security] (#25308)
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

Calendar - add selectWeekOnClick to declaration (#25292)
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar all widgets appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar all widgets as template appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
Owners: none

Editors: rename editor reset function to clear (BC) (#25274)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/renovation/component_wrapper/editors/editor.ts
  packages/devextreme/js/ui/autocomplete.js
  packages/devextreme/js/ui/date_box/ui.date_box.base.js
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.file_uploader.js
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/js/ui/form/ui.form.layout_manager.js
  packages/devextreme/js/ui/gantt/ui.gantt.dialogs.js
  packages/devextreme/js/ui/number_box/number_box.base.js
  packages/devextreme/js/ui/select_box.js
  packages/devextreme/js/ui/tag_box.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/validation/default_adapter.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update dependency semver [security] (#25309)
  themebuilder-scss/package-lock.json
Owners: none

CSS style files size minification by removing unnecessary characters, spaces, line breaks (#25097)
  packages/devextreme/build/gulp/styles/clean-css-options.json
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

add declaration
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid/PivotGrid - Export demos: Remove e.cancel in the onExporting function (#2763)
  Demos/DataGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSCellCustomization/React/App.js
  Demos/DataGrid/ExcelJSCellCustomization/Vue/App.vue
  Demos/DataGrid/ExcelJSCellCustomization/jQuery/index.js
  Demos/DataGrid/ExcelJSExportImages/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSExportImages/React/App.js
  Demos/DataGrid/ExcelJSExportImages/Vue/App.vue
  Demos/DataGrid/ExcelJSExportImages/jQuery/index.js
  Demos/DataGrid/ExcelJSHeaderAndFooter/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSHeaderAndFooter/React/App.js
  Demos/DataGrid/ExcelJSHeaderAndFooter/Vue/App.vue
  Demos/DataGrid/ExcelJSHeaderAndFooter/jQuery/index.js
  Demos/DataGrid/ExcelJSOverview/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSOverview/React/App.js
  Demos/DataGrid/ExcelJSOverview/Vue/App.vue
  Demos/DataGrid/ExcelJSOverview/jQuery/index.js
  Demos/PivotGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJSCellCustomization/React/App.js
  Demos/PivotGrid/ExcelJSCellCustomization/Vue/App.vue
  Demos/PivotGrid/ExcelJSCellCustomization/jQuery/index.js
  Demos/PivotGrid/ExcelJSOverview/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJSOverview/React/App.js
  Demos/PivotGrid/ExcelJSOverview/Vue/App.vue
  Demos/PivotGrid/ExcelJSOverview/jQuery/index.js
  Demos/PivotGrid/ExcelJsHeaderAndFooter/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJsHeaderAndFooter/React/App.js
  Demos/PivotGrid/ExcelJsHeaderAndFooter/Vue/App.vue
  Demos/PivotGrid/ExcelJsHeaderAndFooter/jQuery/index.js
Owners: none

refactor
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

range selection should start and end on closest available dates
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

upd scenario in testcafe test
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
Owners: none

lint
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

DataGrid: Publish the Column Chooser's container option (#25269)
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update etanol
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=multiple) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=multiple) (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=multiple) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=multiple) (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=range) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=range) (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=range) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Week cell click selection (selectionMode=range) (material-blue-light-compact).png
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
