Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

update
  apps/demos/Demos/Charts/AxisLabelsOverlapping/visualtestrc.json
  apps/demos/Demos/Charts/ClientSideDataProcessing/visualtestrc.json
  apps/demos/Demos/Charts/Colorization/visualtestrc.json
  apps/demos/Demos/Charts/DiscreteAxisZoomingAndScrolling/visualtestrc.json
  apps/demos/Demos/Charts/ExportAndPrintingAPI/visualtestrc.json
  apps/demos/Demos/Charts/PiesWithEqualSize/visualtestrc.json
  apps/demos/Demos/Charts/PointsAggregation/visualtestrc.json
  apps/demos/Demos/Charts/ServerSideDataProcessing/visualtestrc.json
  apps/demos/Demos/Charts/TilingAlgorithms/visualtestrc.json
  apps/demos/testing/common.test.js
Owners: none

ignore chart demos
  apps/demos/Demos/Charts/AxisLabelsOverlapping/visualtestrc.json
  apps/demos/Demos/Charts/ClientSideDataProcessing/visualtestrc.json
  apps/demos/Demos/Charts/Colorization/visualtestrc.json
  apps/demos/Demos/Charts/DiscreteAxisZoomingAndScrolling/visualtestrc.json
  apps/demos/Demos/Charts/ExportAndPrintingAPI/visualtestrc.json
  apps/demos/Demos/Charts/PiesWithEqualSize/visualtestrc.json
  apps/demos/Demos/Charts/PointsAggregation/visualtestrc.json
  apps/demos/Demos/Charts/TilingAlgorithms/visualtestrc.json
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

try wait font loading
  apps/demos/Demos/Charts/AxisLabelsOverlapping/visualtestrc.json
  apps/demos/Demos/Charts/AxisLabelsTemplates/visualtestrc.json
  apps/demos/Demos/Charts/ClientSideDataProcessing/visualtestrc.json
  apps/demos/Demos/Charts/Colorization/visualtestrc.json
  apps/demos/Demos/Charts/DiscreteAxisZoomingAndScrolling/visualtestrc.json
  apps/demos/Demos/Charts/ExportAndPrintingAPI/visualtestrc.json
  apps/demos/Demos/Charts/PiesWithEqualSize/visualtestrc.json
  apps/demos/Demos/Charts/PointsAggregation/visualtestrc.json
  apps/demos/Demos/Charts/ServerSideDataProcessing/visualtestrc.json
  apps/demos/Demos/Charts/TilingAlgorithms/visualtestrc.json
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

turn off chrome flags
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/Demos/Charts/Colorization/Vue/index.html
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_floating_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_outside_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_outlined_hidden_desktop (material.blue.light)_mask.png
Owners: @DevExpress/devextreme-devops

try force adding theme classes to demo
  apps/demos/Demos/Gallery/Overview/Vue/index.html
  apps/demos/Demos/MultiView/Overview/Vue/index.html
Owners: none

update browser setting for material theme
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Owners: @DevExpress/devextreme-devops

revert
  apps/demos/Demos/Gallery/Overview/Vue/index.html
  apps/demos/Demos/MultiView/Overview/Vue/index.html
Owners: none

add import for initialize theme in vue & react demos
  packages/devextreme/js/renovation/ui/editors/check_box/check_box_icon.tsx
Owners: none

update testcafe-runner
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Owners: none

revert change
  apps/demos/Demos/Charts/Colorization/Vue/index.html
Owners: none

update
  apps/demos/testing/etalons/vector_map_viewport-changing (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_disabled_collapsible (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/range_selector_slider_drag (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vector_map_viewport-changing (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
Owners: none

reduce sensitivity
  apps/demos/testing/common.test.js
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - before scroll (material-blue-light).png
Owners: none

refactor React
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
Owners: none

update Vue demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
Owners: none

try wait font
  apps/demos/testing/common.test.js
  apps/demos/testing/widgets/charts/etalons/charts_overview_tooltip (material.blue.light).png
Owners: none

Fix option manager guard is not working in strict mode
  packages/devextreme-react/src/core/options-manager.ts
Owners: none

Add test for guard handlers in strict mode
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Owners: none

Add guard handlers test for non strict mode
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Owners: none

Add semicolon
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/core/renderer.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Downgrade devextreme-angular to Angular 16 (#27303)
  apps/demos/package.json
  apps/demos/rollup.ng.umd.config.mjs
  package-lock.json
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/karma.common.test.shim.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-angular/src/core/transfer-state.ts
  packages/devextreme-angular/tests/src/core/component-extension.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/core/template.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-ajax.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-is-platform-server.spec.ts
  packages/devextreme-angular/webpack.test.js
Owners: none

Menu/ContextMenu: add Scrolling demo descriptions
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
Owners: none

apply on angular demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.ts
Owners: none

apply on jquery demo
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
Owners: none

apply on react demo
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
Owners: none

apply on vue demo
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
Owners: none

fix
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/testcafe-models/dataGrid/index.ts
Owners: none

refactor vue demo
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
Owners: none

Create rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Reduce rangeSlider configurations
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

fix react demo doesnt render paneState properly
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
Owners: none

Update rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Add dxRangeSlider
  packages/testcafe-models/types.ts
Owners: none

Update rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Update rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Create slider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

Splitter: change focusable element (#27306)
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
  apps/demos/testing/widgets/splitter/Overview.test.js
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane.png
Owners: none

Fix skipped visual demos tests (#27309)
  apps/demos/testing/widgets/datagrid/BatchUpdateRequest.test.js
  apps/demos/testing/widgets/datagrid/CellEditingAndEditingAPI.test.js
  apps/demos/testing/widgets/datagrid/EditStateManagement.test.js
  apps/demos/testing/widgets/datagrid/MultipleRecordSelectionAPI.test.js
  apps/demos/testing/widgets/datagrid/RowEditingAndEditingEvents.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/list/ItemDragging.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

Update rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Update slider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
