Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

update etalons
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
  packages/devextreme/testing/testcafe/tests/scheduler/agenda/etalons/agenda-layout-appointment-state-click.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-switch-off-all-day.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-before-click-all-day.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/basic-recurrence-appointment-after-drag.png
  packages/devextreme/testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-1.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  packages/devextreme/testing/testcafe/tests/form/etalons/grid-popup-editing-checkbox.png
  packages/devextreme/testing/testcafe/tests/form/etalons/grid-popup-editing-checkbox_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-tooltip-template.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/appointment-mobile-tooltip-screenshot.png
Owners: none

show split button for ddbutton
  packages/devextreme/scss/widgets/base/dropDownButton/_mixins.scss
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/data/abstract_store.js
Owners: none

object type declaration changed to record
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Improve TestCafe tests (#25329)
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/selection.ts
Owners: @DevExpress/devextreme-grids

tag changed
  packages/devextreme/js/ui/form.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix after cherry-pick
  testing/testcafe/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

Scheduler - Move to TS - part 2: move files
  packages/devextreme/js/__internal/scheduler/base/m_widget_observer.ts
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
  packages/devextreme/js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  packages/devextreme/js/__internal/scheduler/timezones/timezones_data.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

Scheduler - Move to TS - part 2: move files
  js/__internal/scheduler/base/m_widget_observer.ts
  js/__internal/scheduler/header/m_calendar.ts
  js/__internal/scheduler/header/m_date_navigator.ts
  js/__internal/scheduler/header/m_header.ts
  js/__internal/scheduler/header/m_utils.ts
  js/__internal/scheduler/header/m_view_switcher.ts
  js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  js/__internal/scheduler/resources/m_utils.ts
  js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  js/__internal/scheduler/timezones/timezones_data.ts
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

Scheduler - Move to TS - part 2: move files
  js/__internal/scheduler/base/m_widget_observer.ts
  js/__internal/scheduler/header/m_calendar.ts
  js/__internal/scheduler/header/m_date_navigator.ts
  js/__internal/scheduler/header/m_header.ts
  js/__internal/scheduler/header/m_utils.ts
  js/__internal/scheduler/header/m_view_switcher.ts
  js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  js/__internal/scheduler/resources/m_utils.ts
  js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  js/__internal/scheduler/timezones/timezones_data.ts
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/__internal/scheduler/utils/is_scheduler_component.ts
Owners: none

Add skipped skip
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

GridCore - RowsView scrollable should have focusable element inside when column fixing is enabled (#25247)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumnsA11y.ts
Owners: none

Improve TestCafe tests (#25329)
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/selection.ts
Owners: @DevExpress/devextreme-grids

Fix after cherry-pick
  testing/testcafe/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

Monorepo: Add "vue:generate" npm script (#25327)
  .github/workflows/devextreme_vue_tests.yml
  package.json
Owners: @DevExpress/devextreme-devops

refactor
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

feat(d.ts): Update TS
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TabPanel: Add tabsPosition option
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

dxDiagram - T1176377 (#25328)
  packages/devextreme/js/ui/diagram/ui.diagram.context_toolbox.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/diagramParts/contextToolbox.tests.js
Owners: none

GridCore - Accessibility - Modified and removed cells should have aria-roledescription (#25312)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

fix(vue): Fix vue test
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tab-panel.ts
Owners: none

using logical property
  packages/devextreme/scss/widgets/material/menu/_index.scss
Owners: none

Improve TestCafe tests (#25329) (#25335)
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
Owners: @DevExpress/devextreme-grids

Improve TestCafe tests (#25329) (#25336)
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
Owners: @DevExpress/devextreme-grids

fix(tabPanel): Fix typo
  packages/devextreme/js/ui/tab_panel.js
Owners: none

Fix test
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

fix tests
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
Owners: none

fix(tabPanel: QUnit): Replace equal with strictEqual
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

using logical props for context menu
  packages/devextreme/scss/widgets/material/contextMenu/_index.scss
Owners: none

update baselines
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
Owners: none

Add etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-3.png
Owners: none

Fix test
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

Fix test
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-2.png
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-3.png
Owners: @DevExpress/devextreme-grids

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-2.png
  testing/testcafe/tests/dataGrid/etalons/T1089634-virtual-scrolling-3.png
Owners: @DevExpress/devextreme-grids

Skip NX cache in vue workflow
  .github/workflows/devextreme_vue_tests.yml
Owners: @DevExpress/devextreme-devops

Sync script changes from hg
  packages/devextreme/package.json
Owners: none

change metadata order
  packages/devextreme/js/ui/form.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxGantt: cleanup deps versions, update node version in core package
  package-lock.json
  package.json
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
