Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Fix react playground (#25657)
  package-lock.json
  playgrounds/angular/package.json
  playgrounds/react/app.tsx
  playgrounds/react/drawer-example.tsx
  playgrounds/react/package.json
  playgrounds/react/tsconfig.json
  playgrounds/react/webpack.config.js
  playgrounds/vue/package.json
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

resource color spike
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

reafactoring
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Owners: none

Tabs: new tabs demo added and 'Overview' moved to 'Selection' (#2837)
  Demos/Tabs/Overview/Angular/app/app.component.css
  Demos/Tabs/Overview/Angular/app/app.component.html
  Demos/Tabs/Overview/Angular/app/app.component.ts
  Demos/Tabs/Overview/Angular/app/app.service.ts
  Demos/Tabs/Overview/AngularJS/index.js
  Demos/Tabs/Overview/React/App.js
  Demos/Tabs/Overview/React/data.js
  Demos/Tabs/Overview/React/styles.css
  Demos/Tabs/Overview/Vue/App.vue
  Demos/Tabs/Overview/Vue/data.js
  Demos/Tabs/Overview/jQuery/data.js
  Demos/Tabs/Overview/jQuery/index.html
  Demos/Tabs/Overview/jQuery/index.js
  Demos/Tabs/Overview/jQuery/styles.css
  Demos/Tabs/Selection/Angular/app/app.component.css
  Demos/Tabs/Selection/Angular/app/app.component.html
  Demos/Tabs/Selection/Angular/app/app.component.ts
  Demos/Tabs/Selection/Angular/app/app.service.ts
  Demos/Tabs/Selection/Angular/index.html
  Demos/Tabs/Selection/React/App.js
  Demos/Tabs/Selection/React/data.js
  Demos/Tabs/Selection/React/index.html
  Demos/Tabs/Selection/React/index.js
  Demos/Tabs/Selection/React/styles.css
  Demos/Tabs/Selection/Vue/App.vue
  Demos/Tabs/Selection/Vue/data.js
  Demos/Tabs/Selection/Vue/index.html
  Demos/Tabs/Selection/Vue/index.js
  Demos/Tabs/Selection/jQuery/data.js
  Demos/Tabs/Selection/jQuery/index.html
  Demos/Tabs/Selection/jQuery/index.js
  Demos/Tabs/Selection/jQuery/styles.css
  menuMeta.json
Owners: none

DataGrid - fix ts compilation (#25672)
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

move function declaration up
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Owners: none

move
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Owners: none

Fluent: Add copy fonts into fluent typography
  packages/devextreme/build/gulp/npm.js
Owners: none

adjust color and paddings
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

revert && feat(fluent): Cancel copy fonts && Remove import Roboto
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Owners: none

Fluent: Remove Roboto font imports
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Owners: none

Remove allDay appts shift.
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
Owners: none

Add ESM builds to devextreme-react
  packages/devextreme-react/gulpfile.js
Owners: none

Update ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

split test
  packages/devextreme/testing/testcafe/tests/editors/dateBox/keyboard.ts
Owners: none

testcafe
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/dialog.ts
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/reccurence-dialog-screenshot.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/reccurence-edit-dialog-screenshot.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/recurrence-delete-dialog-screenshot.png
Owners: none

etalon
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/recurrence-edit-dialog-screenshot.png
Owners: none

header buttons color
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

etalon
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/recurrence-delete-dialog-screenshot.png
Owners: none

header buttons active/hover color
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

recurring appointment dialog
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Owners: none

refactor
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

DataGrid - "W1024 - The client-side export is enabled" warning occurs when the exporting feature is used in Angular (T1188932) (#25665)
  js/__internal/grids/data_grid/export/m_export.ts
  testing/testcafe/tests/dataGrid/export/export.ts
Owners: @DevExpress/devextreme-grids

Update playgrounds bg when change theme
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: none

FileUploader: onDropZoneEnter event should fire in Firefox (T1188612) (#25667)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

FileUploader: onDropZoneEnter event should fire in Firefox (T1188612) (#25667)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

FileUploader: onDropZoneEnter event should fire in Firefox (T1188612) (#25667)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

fix
  package-lock.json
  playgrounds/vue/package.json
Owners: none

Check directory before and after cache
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Change caching directory
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Split bash commands on run steps
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Fix cd command
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Fix tar command
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

update renovate
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Review fixes - part5
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/core/errors.js
Owners: none

Try to use wget
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops
