Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Add ESM builds to devextreme-react
  packages/devextreme-react/gulpfile.js
  packages/devextreme-react/package.json
  packages/devextreme-react/tsconfig.esm.json
Owners: none

Revert "Try to break tests"
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

another try
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118 (#25700)
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  packages/devextreme/testing/testcafe/tests/treeList/scrolling.ts
Owners: none

TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118 (#25704)
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Owners: @DevExpress/devextreme-grids

TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118 (#25705)
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Owners: @DevExpress/devextreme-grids

use public getter for overlayContent
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

refactoring
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

refactor test
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
Owners: none

types and doccomments
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

Fix config for new devextreme-react version with cjs/esm bundles
  Demos/Calendar/Overview/Angular/app/app.component.ts
  Demos/Drawer/LeftOrRightPosition/React/NavigationList.js
  Demos/Drawer/TopOrBottomPosition/React/NavigationList.js
  configs/React/config.js
Owners: none

modified/invalid cell background color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

focused overlay modified cell
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

fix themebuilder
  packages/devextreme-themebuilder/src/metadata/dependency-collector.ts
Owners: none

fix themebuilder
  themebuilder-scss/src/metadata/dependency-collector.ts
Owners: none

fix themebuilder
  themebuilder-scss/src/metadata/dependency-collector.ts
Owners: none

Gallery - fix Axe errors (#25540)
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/gallery.js
  packages/devextreme/testing/testcafe/tests/gallery/accessibility.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gallery.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

focused overlay invalid cell
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Text Editors: clear valid mark after resetting value to initial (#25688)
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

split editors tests
  .github/workflows/testcafe_tests.yml
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/colorbox/etalons/Colorbox with placeholder (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled, labelMode=outside (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined, labelMode=hidden (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DRB range cells, start in view and in row & end in view and in row (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox validation message (fluent-blue-light).png
Owners: @DevExpress/devextreme-devops

Themebuilder - fix type imports (#25709)
  packages/devextreme-themebuilder/src/metadata/dependency-collector.ts
Owners: none

Themebuilder - fix type imports (#25710)
  themebuilder-scss/src/metadata/dependency-collector.ts
Owners: none

Themebuilder - fix type imports (#25711)
  themebuilder-scss/src/metadata/dependency-collector.ts
Owners: none

add mask
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled, labelMode=static (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup in loading (fluent-blue-light)_mask.png
Owners: none

fix tests
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
  packages/devextreme/testing/testcafe/tests/form/common.ts
  packages/devextreme/testing/testcafe/tests/form/form.labelMode.ts
Owners: none

add fluent theme imports
  packages/devextreme/testing/testcafe/tests/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/containerQuill.html
Owners: none

fix expectations
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
  packages/devextreme/testing/testcafe/tests/editors/textArea/index.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

Update common.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
Owners: none

Form Validation Demo: update editors' settings to make `reset` button behavior more intuitive (#2870)
  Demos/Form/Validation/Angular/app/app.component.html
  Demos/Form/Validation/Angular/app/app.component.ts
  Demos/Form/Validation/React/App.js
  Demos/Form/Validation/Vue/App.vue
  Demos/Form/Validation/jQuery/index.js
Owners: none

fix TreeView Item selection by a click does not work when the "selectAll" mode is enabled at runtime
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/js/ui/tree_view/ui.tree_view.search.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

rename func
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

Fluent: display shevron icon in group header in List by default
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/scss/widgets/fluent/list/_index.scss
Owners: none

Update commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

skip calendar test
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
Owners: none

Fluent: htmlEditor redesign
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/button/_sizes.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_colors.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
Owners: none

turn on htmlEditor testcafe job for testing with fluent theme
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/tests/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/containerQuill.html
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
Owners: @DevExpress/devextreme-devops

move
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity_types.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/search/m_search.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

fix
  js/__internal/grids/grid_core/editing/m_editing.ts
Owners: @DevExpress/devextreme-grids

fix test name
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: none

fix
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids
