Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

a
  apps/demos/utils/visual-tests/matrix-test-helper.js
  package.json
Owners: none

a
  .npmrc
Owners: none

Apply reviews
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Rename test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Add corepack enable
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
  package.json
Owners: @DevExpress/devextreme-devops

set depth for git clone
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Splitter/Menu/ContextMenu: update demo descriptions
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
  apps/demos/Demos/Splitter/Overview/description.md
Owners: none

ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079) (#27415)
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/selection.ts
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  packages/testcafe-models/button.ts
  packages/testcafe-models/buttonGroup/index.ts
Owners: none

Publish dxDiagram types, arrange "commands" props types (T1227506) (#27344)
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.tsx
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/ReactJs/App.js
  apps/demos/Demos/Diagram/UICustomization/React/App.tsx
  apps/demos/Demos/Diagram/UICustomization/ReactJs/App.js
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079) (#27422)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

Research
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

Remake getVersion implementation to eliminate the warning while building
  packages/devextreme-vue/src/core/version.ts
Owners: none

chore: update jest (#27387)
  apps/demos/jest.config.js
  apps/demos/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/.eslintrc.js
  jest.config.base.js
  package-lock.json
  package.json
  packages/devextreme-monorepo-tools/jest.config.ts
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/template.test.tsx
  packages/devextreme-react/tsconfig.json
  packages/devextreme-themebuilder/jest.config.js
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/tests/modules/logger.test.ts
  packages/devextreme-vue/package.json
  packages/devextreme-vue/src/core/__tests__/button.test.ts
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/__tests__/data-grid.test.ts
  packages/devextreme-vue/src/core/__tests__/form.test.ts
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/tsconfig.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/core/utils/date.test.ts
  packages/devextreme/js/renovation/component_wrapper/common/__tests__/component.test.tsx
  packages/devextreme/js/renovation/test_utils/transformers/declaration.js
  packages/devextreme/js/renovation/test_utils/transformers/tsx.js
  packages/devextreme/js/renovation/ui/pager/page_size/__tests__/selector.test.tsx
  packages/devextreme/js/renovation/ui/scroll_view/strategy/__tests__/native.test.tsx
  packages/devextreme/package.json
  packages/devextreme/testing/styles/.eslintrc.js
  packages/devextreme/testing/styles/tsconfig.json
  packages/devextreme/tsconfig.json
  tsconfig.json
Owners: none

ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079) (#27423)
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Owners: none

Apply reviews
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Fix noted comments
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Refactor test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Owners: none

Charts: unskip testcafe tests (#27394)
  apps/demos/testing/widgets/charts/Crosshair.test.js
  apps/demos/testing/widgets/charts/CustomAnnotationsDrag.test.js
  apps/demos/testing/widgets/charts/CustomLegendMarkers.test.js
  apps/demos/testing/widgets/charts/LoadDataOnDemand.test.js
  apps/demos/testing/widgets/charts/PieLabelsOverlapping.test.js
  apps/demos/testing/widgets/charts/ZoomingOnAreaSelection.test.js
  apps/demos/testing/widgets/charts/etalons/annotations_drag (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/annotations_drag (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_crosshair (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_crosshair (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_custom_legend_marker (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_custom_legend_marker (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_drag (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_drag (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_overview_tooltip (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_hide (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_hide (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_none (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_none (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/reset_zooming_by_selection (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/reset_zooming_by_selection (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/zooming_by_selection (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/zooming_by_selection (material.blue.light).png
Owners: none

Publish dxDiagram types, arrange "commands" props types (T1227506) (#27344)
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

regenerate-all
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Drawer: Fix setting of visibility: hidden
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/scss/widgets/base/_drawer.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Owners: none

Update data in Both context menu and menu
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
Owners: none

Revert "Update etalons 2"
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (material.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_orientation_vertical_without_strict_class.png
Owners: none

Publish dxDiagram types, arrange "commands" props types (T1227506) (#27428)
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert "Update angular fluent etalons"
  apps/demos/Demos/Charts/PieWithCustomStyles/Vue/utils.js
  apps/demos/testing/widgets/charts/etalons/charts_overview_tooltip (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_ajax_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_7_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_by_range_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_odata_service_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_simple_array_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/form/etalons/form_validation_after_reset (fluent.blue.light).png
  apps/demos/testing/widgets/form/etalons/form_validation_before_reset (fluent.blue.light).png
  apps/demos/testing/widgets/form/etalons/form_validation_summary (fluent.blue.light).png
  apps/demos/testing/widgets/pivotgrid/etalons/Integrated field chooser (fluent.blue.light).png
  apps/demos/testing/widgets/pivotgrid/etalons/Integrated field chooser after search of hierarchy field (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_CellTemplates_view_dates_changed (fluent.blue.light).png
  apps/demos/testing/widgets/tabpanel/etalons/tabpanel_stylingmode_primary (fluent.blue.light).png
  apps/demos/testing/widgets/tabpanel/etalons/tabpanel_tabsposition_top (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_iconposition_end (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_orientation_horizontal_with_strict_class (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_orientation_vertical (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_orientation_vertical_without_strict_class (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_rtlenabled_true (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_shownavbuttons_true (fluent.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_stylingmode_secondary (fluent.blue.light).png
Owners: none

push api fixes and tests
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.push_api.tests.js
Owners: none

Splitter/Menu/ContextMenu: update demo descriptions (#27426)
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
  apps/demos/Demos/Splitter/Overview/description.md
Owners: none

dxGantt: fix fullscreen issue (T1230629)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

dxGantt: fix fullscreen issue (T1230629)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

dxGantt: fix fullscreen mode issue (T1230629)
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

additional changes
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/ContextMenu/Scrolling/React/App.tsx
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/App.js
  apps/demos/Demos/ContextMenu/Scrolling/Vue/App.vue
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.html
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/Menu/Scrolling/React/App.tsx
  apps/demos/Demos/Menu/Scrolling/ReactJs/App.js
  apps/demos/Demos/Menu/Scrolling/Vue/App.vue
  apps/demos/Demos/Menu/Scrolling/jQuery/index.js
Owners: none

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

DateRangeBox: use not consistent type imports
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
Owners: none

DataGrid: Fix focus stuck in grid when first column is fixed and it contains a link (T1216832) (#27397)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DateRangeBox: use not consistent type imports (#27434)
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
Owners: none

DataGrid: Fix focus stuck in grid when first column is fixed and it contains a link (T1216832) (#27397)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

Skip exit on error (too early)
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

dxGantt: fix fullscreen mode issue (T1230629) (#27373)
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
