Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix(tabs): Fix badge size
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
Owners: none

fix(tabs): Set aligh-items: stretch
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabs.scss
Owners: none

fix(tabPanel): Update tests
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

fix(form): Update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.option_tabs.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

fix(tabs): Add span for all themes && Hide span for G&M && Fix tests
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
  packages/devextreme/testing/helpers/wrappers/tabsWrappers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Owners: none

Tabs: Fix icon line-height in Fluent
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
Owners: none

fix(toolbar): Update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.markup.tests.js
Owners: none

fix(popup): Update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

fix(etalons): Update
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel tabs min-width (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected stylingMode=secondary,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected stylingMode=secondary,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected stylingMode=secondary,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected stylingMode=secondary,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected,active stylingMode=secondary,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected,active stylingMode=secondary,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected,active stylingMode=secondary,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 1 selected,active stylingMode=secondary,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (material-blue-light).png
Owners: none

fix(tabs): Set fb 100% && Update stretched condition && Update test
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Owners: none

fix(tabs): Update condition
  packages/devextreme/js/ui/tabs.js
Owners: none

fix(tabs): Update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

Scheduler: Fix the Google Calendar Integration demo for Angular approach (#26078)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
Owners: none

update
  packages/devextreme-themebuilder/src/modules/themes.ts
  packages/devextreme/build/gulp/styles/style-compiler.js
  packages/devextreme/build/gulp/styles/theme-options.js
  packages/devextreme/playground/themeSelector.js
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/form/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
Owners: none

SaaS: Try get screenshots
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Update style-compiler.js
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

Update style-compiler.js
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

DateBox: time inputs should have values when root element is used as container (T1193495)
  packages/devextreme/scss/widgets/base/dropDownEditor/_mixins.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
Owners: none

Drawer,List demos - Remove absolute positioned container (#3036)
  Demos/Drawer/LeftOrRightPosition/Angular/app/app.component.css
  Demos/Drawer/LeftOrRightPosition/React/styles.css
  Demos/Drawer/LeftOrRightPosition/ReactJs/styles.css
  Demos/Drawer/LeftOrRightPosition/Vue/App.vue
  Demos/Drawer/LeftOrRightPosition/jQuery/styles.css
  Demos/List/ItemTemplate/Angular/app/app.component.css
  Demos/List/ItemTemplate/React/styles.css
  Demos/List/ItemTemplate/ReactJs/styles.css
  Demos/List/ItemTemplate/Vue/App.vue
  Demos/List/ItemTemplate/jQuery/styles.css
Owners: none

try fix test
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
Owners: none

update etanol
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Owners: none

get rid of depricated api (#3039)
  Demos/NumberBox/Overview/Angular/app/app.component.ts
  Demos/NumberBox/Overview/AngularJS/index.js
  Demos/NumberBox/Overview/React/App.tsx
  Demos/NumberBox/Overview/ReactJs/App.js
  Demos/NumberBox/Overview/Vue/App.vue
  Demos/NumberBox/Overview/jQuery/index.js
Owners: none

fix shadow dom test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Owners: none

Transfer to TS and Functional - Localization (#3012)
  Demos/Localization/UsingGlobalize/React/App.js
  Demos/Localization/UsingGlobalize/React/App.tsx
  Demos/Localization/UsingGlobalize/React/data.ts
  Demos/Localization/UsingGlobalize/React/index.html
  Demos/Localization/UsingGlobalize/React/index.tsx
  Demos/Localization/UsingGlobalize/ReactJs/App.js
  Demos/Localization/UsingGlobalize/ReactJs/data.js
  Demos/Localization/UsingGlobalize/ReactJs/index.html
  Demos/Localization/UsingGlobalize/ReactJs/index.js
  Demos/Localization/UsingGlobalize/ReactJs/styles.css
  Demos/Localization/UsingIntl/React/App.js
  Demos/Localization/UsingIntl/React/App.tsx
  Demos/Localization/UsingIntl/React/data.ts
  Demos/Localization/UsingIntl/React/index.html
  Demos/Localization/UsingIntl/React/index.tsx
  Demos/Localization/UsingIntl/ReactJs/App.js
  Demos/Localization/UsingIntl/ReactJs/data.js
  Demos/Localization/UsingIntl/ReactJs/index.html
  Demos/Localization/UsingIntl/ReactJs/index.js
  Demos/Localization/UsingIntl/ReactJs/styles.css
  configs/React/config.bundle.js
  configs/React/config.js
  configs/ReactJs/config.bundle.js
  configs/ReactJs/config.js
Owners: none

update pages
  packages/devextreme/testing/testcafe/tests/container.html
  packages/devextreme/testing/testcafe/tests/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/containerQuill.html
Owners: none

Update _colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
Owners: none

Fluent: add new SaaS color scheme (#26045)
  packages/devextreme-themebuilder/src/modules/themes.ts
  packages/devextreme/build/gulp/styles/style-compiler.js
  packages/devextreme/build/gulp/styles/theme-options.js
  packages/devextreme/playground/themeSelector.js
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/form/_colors.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/scrollable/_colors.scss
  packages/devextreme/scss/widgets/fluent/selectBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
Owners: none

Remove branches to update dependencies for the latest version only
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Increase attempts to 5 in TestCafe quarantine mode
  packages/devextreme/testing/testcafe/runner.js
Owners: none

Fix remark
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: none

Fix remark
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

Fix remark
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

Change titles of fields in ThemeBuilder after tech writer review
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/checkBox/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/generic/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme/scss/widgets/generic/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/material/scheduler/_colors.scss
Owners: none

Update _colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
Owners: none

Update _colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
Owners: none

fix when a template is first rendered on component update
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/template-manager.test.tsx
  packages/devextreme-react/src/core/__tests__/template.test.tsx
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/options-manager.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Owners: none

enhance typings
  packages/devextreme-react/src/core/__tests__/template-manager.test.tsx
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Owners: none

stash
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/mixins/_index.scss
Owners: none

lint
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Owners: none

more lint
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/template-manager.tsx
Owners: none
