Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Splitter: registerKeyHandler() method, required accessibility attributes, allowKeyboardNavigation option were added
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

commit missed file
  packages/devextreme/js/__internal/ui/splitter/utils/component.ts
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
Owners: none

DropDownButton: add template option in declarations (#26718)
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

FileUploader: hint with "null" text should not be shown when hint option is not defined (T1218499)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Owners: none

TileView: Fix active descendant setting
  packages/devextreme/js/ui/tile_view.js
Owners: none

feat(tileView: QUnit): Add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Owners: none

fix(tileView): Add focusStateEnabled: true
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Owners: none

fix(tileView): Minor
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Owners: none

Fixes after cherry-pick
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

Fixes after cherry-pick
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/masterDetail.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Owners: none

List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Owners: none

List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Owners: none

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704) (#26739)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
  testing/testcafe/tests/scheduler/etalons/view_markup_ordering-appts_T1212573.png
Owners: none

The new dispose widget helper func
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/helpers/widgetTypings.ts
Owners: none

Fixes after cherry-pick
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
Owners: @DevExpress/devextreme-grids

fix(tileView): Replace test with testInActiveWindow && Remove instance
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Owners: none

fix changing allowKeyboard navigation option in runtime
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

run testcafe testing
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/model/splitter/handle.ts
  packages/devextreme/testing/testcafe/model/splitter/index.ts
  packages/devextreme/testing/testcafe/model/splitter/item.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/keyboard.ts
Owners: none

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
Owners: none

add test
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
Owners: none

List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Owners: none

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218964) (#26740)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Owners: none

Splitter: registerKeyHandler() method, required accessibility attributes, allowKeyboardNavigation option were added (#26741)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/component.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/model/splitter/handle.ts
  packages/devextreme/testing/testcafe/model/splitter/index.ts
  packages/devextreme/testing/testcafe/model/splitter/item.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/keyboard.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632) (#26747)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Owners: none

move splitter tests to widget folder
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Fix ASP links in JS demo descriptions
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/DataGrid/SignalRService/description.md
  apps/demos/Demos/DataGrid/WebAPIService/description.md
  apps/demos/Demos/List/WebAPI/description.md
  apps/demos/Demos/Scheduler/SignalRService/description.md
  apps/demos/Demos/Scheduler/WebAPIService/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Owners: none

Update apps/demos/Demos/TreeList/WebAPIService/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Owners: none

DropDownButton - datasource integration refactoring (#26497)
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/data_controller.js
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Owners: none

Splitter tests: move tests to widget folder (#26749)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

aspnetcore -> ASPNetCore
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Owners: none

TextBox: Fix readonly input border state
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

Fix ASP links in JS demo descriptions (#26750)
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/DataGrid/SignalRService/description.md
  apps/demos/Demos/DataGrid/WebAPIService/description.md
  apps/demos/Demos/List/WebAPI/description.md
  apps/demos/Demos/Scheduler/SignalRService/description.md
  apps/demos/Demos/Scheduler/WebAPIService/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Owners: none

revert(textBox): Get rid extra vars
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

feat(tileView): Add AXE test
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tileView.ts
Owners: none

German localization message values for dxDateRangeBox*
  packages/devextreme/js/localization/messages/de.json
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

fix linter
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
Owners: none

Drawer: overlap, bottom, expand configurations do not work in React
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Owners: none
