Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix(d.ts): Update d.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Rename type
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(angular): Generate
  packages/devextreme-angular/src/common/index.ts
Owners: none

fix(react && vue): Generate
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
Owners: none

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Update d.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Rename type
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(tabs): Fix paddings
  packages/devextreme/scss/widgets/material/tabs/_sizes.scss
Owners: none

feat(tabPanel: QUnit): Add tests for stylingMode
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

TabPanel: Add stylingMode option
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/tab-panel/index.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tab-panel.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tab-panel.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tab_panel_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/tabs.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(regenerate-all)
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/tabs.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Rename type
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add one more skipped test
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997) (#25504)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997) (#25524)
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997) (#25525)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

T1187314
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Owners: none

T1186741: Scheduler - It's impossible to drag and drop an element in all day panel cells (#25532) (#25545)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Owners: none

T1186741: Scheduler - It's impossible to drag and drop an element in all day panel cells (#25532) (#25546)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Owners: none

Fluent: texteditors redesign
  packages/devextreme/scss/widgets/base/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/base/dropDownEditor/_mixins.scss
  packages/devextreme/scss/widgets/base/textArea/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/fluent/dateRangeBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/lookup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textArea/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_sizes.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/generic/lookup/_sizes.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/dateBox/_index.scss
  packages/devextreme/scss/widgets/material/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_sizes.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

Scheduler: Fix R1 codebase
  packages/devextreme/js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/appointment_edit_form/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/appointment_tooltip/__tests__/item_layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/appointment_tooltip/item_layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/appointment_tooltip/types.ts
  packages/devextreme/js/renovation/ui/scheduler/appointment_tooltip/utils/default_functions.tsx
  packages/devextreme/js/renovation/ui/scheduler/appointment_tooltip/utils/get_current_appointment.tsx
  packages/devextreme/js/renovation/ui/scheduler/common.ts
  packages/devextreme/js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  packages/devextreme/js/renovation/ui/scheduler/model/appointments.ts
  packages/devextreme/js/renovation/ui/scheduler/model/utils.ts
  packages/devextreme/js/renovation/ui/scheduler/props.ts
  packages/devextreme/js/renovation/ui/scheduler/scheduler.tsx
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/createTimeZoneCalculator.ts
  packages/devextreme/js/renovation/ui/scheduler/utils/data.ts
  packages/devextreme/js/renovation/ui/scheduler/utils/recurrence/excludeFromRecurrence.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/types.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/base.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/timeline_week.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/week.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/toolbar/toolbar_props.ts
Owners: none

Scheduler: Fix QUnit imports
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cache.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/loading.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/tableCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.cache.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

fix lint
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
Owners: none

Scheduler: Fix R1 codebase
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/layout.tsx
  js/renovation/ui/scheduler/appointment_tooltip/__tests__/item_layout.test.tsx
  js/renovation/ui/scheduler/appointment_tooltip/item_layout.tsx
  js/renovation/ui/scheduler/appointment_tooltip/types.ts
  js/renovation/ui/scheduler/appointment_tooltip/utils/default_functions.tsx
  js/renovation/ui/scheduler/appointment_tooltip/utils/get_current_appointment.tsx
  js/renovation/ui/scheduler/common.ts
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/model/appointments.ts
  js/renovation/ui/scheduler/model/utils.ts
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/timeZoneCalculator/createTimeZoneCalculator.ts
  js/renovation/ui/scheduler/utils/data.ts
  js/renovation/ui/scheduler/utils/recurrence/excludeFromRecurrence.ts
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/view_model/to_test/views/types.ts
  js/renovation/ui/scheduler/view_model/to_test/views/utils/base.ts
  js/renovation/ui/scheduler/view_model/to_test/views/utils/timeline_week.ts
  js/renovation/ui/scheduler/view_model/to_test/views/utils/week.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/toolbar/toolbar_props.ts
Owners: none

Scheduler: Fix QUnit imports
  testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/cache.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/loading.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/tableCreator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.api.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.cache.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

Scheduler: Fix build
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/build/gulp/typescript/compiler.js
  packages/devextreme/js/__internal/tsconfig.json
Owners: none

Scheduler: Fix build
  build/gulp/generator/gulpfile.js
  build/gulp/transpile.js
  build/gulp/typescript/compiler.js
  js/__internal/tsconfig.json
Owners: none

fix lint
  packages/devextreme/testing/testcafe/tests/dataGrid/editing/editingEvents.ts
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix vertical alignment
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering (#25551)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Owners: none

T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Owners: @DevExpress/devextreme-grids

remove debug
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

remove disableFxAnimation (enabled by default)
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Owners: @DevExpress/devextreme-grids

Fix spelling
  packages/devextreme-themebuilder/src/metadata/generator.ts
Owners: none

Update package-lock
  package-lock.json
Owners: none

Rename 'override' to 'overriden'
  packages/devextreme-themebuilder/src/metadata/generator.ts
Owners: none

T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering (#25556)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Owners: @DevExpress/devextreme-grids
