Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Splitter: add collapse/expand on resize handle double click
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

fix vue
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/testing/common.test.js
Owners: none

Update etalon
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-1.png
Owners: none

Add button-content style
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.css
  apps/demos/Demos/DropDownButton/Overview/React/styles.css
  apps/demos/Demos/DropDownButton/Overview/ReactJs/styles.css
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
  apps/demos/Demos/DropDownButton/Overview/jQuery/styles.css
Owners: none

Fix Button Click String
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.ts
  apps/demos/Demos/DropDownButton/Overview/React/App.tsx
  apps/demos/Demos/DropDownButton/Overview/ReactJs/App.js
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
Owners: none

Rever Broken Indent (Vue)
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
Owners: none

Fix Image Indent (Vue)
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
Owners: none

Fix Styling Lint (Vue)
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
Owners: none

Remove Unnecessary Style (Vue)
  .husky/pre-commit
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
Owners: none

Update pre-commit
  .husky/pre-commit
Owners: none

Update Etalons
  apps/demos/testing/etalons/DropDownButton-Overview (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (material.blue.light).png
Owners: none

Splitter: actions should be created with validators for disabled and read-only states
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Update splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Update etalon (part 2)
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-3.png
Owners: none

Splitter: fix inaccuracies in declarations after review of documentation
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

General WA for List Numbering Sequence
  apps/demos/Demos/HtmlEditor/Overview/jQuery/styles.css
Owners: none

Grids: add aria-live a11y zones
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
Owners: none

Scheduler - A memory leak occurs when groups and resources are used (T1221180) (#26961)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

DropDownButton Demo: Set Button Template for DropDownButton (#26958)
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.css
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.html
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.ts
  apps/demos/Demos/DropDownButton/Overview/React/App.tsx
  apps/demos/Demos/DropDownButton/Overview/React/DropDownButtonTemplate.tsx
  apps/demos/Demos/DropDownButton/Overview/React/styles.css
  apps/demos/Demos/DropDownButton/Overview/ReactJs/App.js
  apps/demos/Demos/DropDownButton/Overview/ReactJs/DropDownButtonTemplate.js
  apps/demos/Demos/DropDownButton/Overview/ReactJs/styles.css
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
  apps/demos/Demos/DropDownButton/Overview/Vue/data.ts
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.html
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
  apps/demos/Demos/DropDownButton/Overview/jQuery/styles.css
  apps/demos/images/employees/51.png
  apps/demos/testing/etalons/DropDownButton-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DropDownButton-Overview (material.blue.light).png
  apps/demos/testing/etalons/DropDownButton-Overview.png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action.png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text.png
Owners: none

Calendar: Add current date text to current date cell's aria-label
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.views.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Owners: none

fix rendering widgets to detached elements
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/helpers.ts
Owners: none

add test
  packages/devextreme-react/src/core/__tests__/component.test.tsx
Owners: none

Grids: fix QUnit test cases
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Owners: none

Demos: Fix convert-to-js
  apps/demos/Demos/Charts/BiDirectionalBarChart/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/ReactJs/App.js
  apps/demos/Demos/Gantt/ChartAppearance/React/App.tsx
  apps/demos/Demos/Gantt/ExportToPDF/React/App.tsx
  apps/demos/package.json
  package-lock.json
Owners: none

lint
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/helpers.ts
Owners: none

Remove ol counter-reset
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
Owners: none

Create Unit Test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Owners: none

stash
  packages/devextreme/js/ui/calendar/ui.calendar.js
Owners: none

Calendar: Add aria-selected to cell
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.js
Owners: none

refactor(minor)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

feat(calendar): Update tests
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

refactor
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
Owners: none

Set ol counter-reset: none explicity
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
Owners: none

Refactor Test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Owners: none

Revert Test
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Owners: none

Set ol counter-reset: list-item 0 explicity
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
Owners: none

Splitter: actions should be created with validators for disabled and read-only states (#26999)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
Owners: none

Fix remarks
  packages/devextreme/scss/widgets/generic/treeList/_index.scss
  packages/devextreme/scss/widgets/generic/treeList/_sizes.scss
Owners: none

DataGrid: add job for testcafe tests in shadowDom
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Scheduler: add job for testcafe tests in shadowDom
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
