Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix(popup): Add condition if title is undefined
  packages/devextreme/js/ui/popup/ui.popup.js
Owners: none

only for desctop
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

no nojquery test param
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Remove testcafe dashboard reporter from tests (#25466)
  .github/workflows/testcafe_tests.yml
  .testcafe-dashboardrc.json
  package-lock.json
  package.json
  testing/testcafe/runner.js
Owners: @DevExpress/devextreme-devops

Remove testcafe dashboard reporter from tests (#25465)
  .github/workflows/testcafe_tests.yml
  .testcafe-dashboardrc.json
  package-lock.json
  package.json
  testing/testcafe/runner.js
Owners: @DevExpress/devextreme-devops

react
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
Owners: none

angular
  packages/devextreme-angular/src/ui/nested/calendar-options.ts
Owners: none

Scheduler - onAppointmentContextMenu is not triggered for an appointment in the appointment collector (T1181442) (#25461)
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
Owners: none

Scheduler - onAppointmentContextMenu is not triggered for an appointment in the appointment collector (T1181442) (#25462)
  js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
Owners: none

remove
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/testing/renovation-npm/.gitignore
  packages/devextreme/testing/renovation-npm/.testcaferc.json
  packages/devextreme/testing/renovation-npm/angular-app/.browserslistrc
  packages/devextreme/testing/renovation-npm/angular-app/.editorconfig
  packages/devextreme/testing/renovation-npm/angular-app/.gitignore
  packages/devextreme/testing/renovation-npm/angular-app/angular.json
  packages/devextreme/testing/renovation-npm/angular-app/karma.conf.js
  packages/devextreme/testing/renovation-npm/angular-app/package.json
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.css
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.html
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.module.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/assets/.gitkeep
  packages/devextreme/testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/environments/environment.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/favicon.ico
  packages/devextreme/testing/renovation-npm/angular-app/src/index.html
  packages/devextreme/testing/renovation-npm/angular-app/src/main.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/polyfills.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/styles.css
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.app.json
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.json
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.spec.json
  packages/devextreme/testing/renovation-npm/gulpfile.js
  packages/devextreme/testing/renovation-npm/package.json
  packages/devextreme/testing/renovation-npm/react-app/.env
  packages/devextreme/testing/renovation-npm/react-app/.gitignore
  packages/devextreme/testing/renovation-npm/react-app/README.md
  packages/devextreme/testing/renovation-npm/react-app/package.json
  packages/devextreme/testing/renovation-npm/react-app/public/index.html
  packages/devextreme/testing/renovation-npm/react-app/src/App.jsx
  packages/devextreme/testing/renovation-npm/react-app/src/index.jsx
  packages/devextreme/testing/renovation-npm/tests/.eslintrc
  packages/devextreme/testing/renovation-npm/tests/etalons/shot-angular.png
  packages/devextreme/testing/renovation-npm/tests/etalons/shot-react.png
  packages/devextreme/testing/renovation-npm/tests/run-and-capture.test.js
Owners: none

fix(popup): Fix minor issues
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/dialog.tests.js
Owners: none

fix(popup): Fix minor
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

fix(minor)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

Fluent accessibility tests (#25452)
  packages/devextreme/testing/testcafe/helpers/themes.ts
  packages/devextreme/testing/testcafe/tests/container.html
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: none

Review fixes
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  build/copy-metadata.js
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/package.json
  packages/devextreme-react/project.json
  packages/devextreme-vue/package.json
  packages/devextreme-vue/project.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/preinstall.js
Owners: @DevExpress/devextreme-devops

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

fix
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

fix
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

Accessibility: DataGrid - Fix #25428 (#25470)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: none

Accessibility: DataGrid - Fix #25428 (#25471)
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

Accessibility: DataGrid - Fix #25428 (#25472)
  js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: @DevExpress/devextreme-grids

Dialog/Popup: Add aria-labelledby (T1182767)
  packages/devextreme/js/ui/dialog.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/dialog.tests.js
Owners: none

localization
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Owners: none

implementation
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
Owners: none

test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Owners: none

Dialog/Popup: Add aria-labelledby (T1182767)
  js/ui/dialog.js
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Owners: none

Fix package version in package.json from artifacts
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/preinstall.js
Owners: none

Use shx instead of node script
  build/copy-metadata.js
  package-lock.json
  package.json
Owners: none

Fix package.json path
  packages/devextreme/build/gulp/npm.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
Owners: none

Dialog/Popup: Add aria-labelledby (T1182767)
  js/ui/dialog.js
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Owners: none

CI: generalize wrappers generate scripts (#25459)
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  .github/workflows/ts_declarations.yml
  nx.json
  package-lock.json
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/package.json
  packages/devextreme-react/project.json
  packages/devextreme-vue/package.json
  packages/devextreme-vue/project.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/preinstall.js
  packages/devextreme/package.json
Owners: @DevExpress/devextreme-devops

fix
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
Owners: none

feat(tabs): Update TS
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(react && vue): Generate
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/vue2-strategy/src/common/index.ts
Owners: none

fix(d.ts): Rename type
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(angular): Generate
  packages/devextreme-angular/src/common/index.ts
Owners: none

Fix package version in package.json from artifacts (#25475)
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/preinstall.js
Owners: none

fix(d.ts): Update d.ts
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
