Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

DataGrid - native classes - editor factory (#26803)
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/ui/shared/ui.editor_factory_mixin.js
Owners: none

DataGrid - native classes - types for getController & getView (#26659)
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

DataGrid - native classes - dataHelperMixin (#26802)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
Owners: none

DataGrid - native classes - core classes (#26804)
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/grid_core.modules.tests.js
Owners: none

1st approach
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/js/ui/menu/ui.menu.js
Owners: none

DataGrid - native classes - grouping helpers (#26775)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - summary (#26776)
  js/__internal/grids/data_grid/summary/m_summary.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - other (#26777)
  js/__internal/grids/data_grid/m_aggregate_calculator.ts
  js/__internal/grids/data_grid/m_data_controller.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - grouping (#26790)
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - editor factory (#26803)
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/ui/filter_builder/filter_builder.js
  js/ui/shared/ui.editor_factory_mixin.js
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - types for getController & getView (#26659)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/pager/m_pager.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Owners: @DevExpress/devextreme-grids

HtmlEditor - Repair tests ShadowDom
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/multilineIntegration.tests.js
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
Owners: none

T1210340
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

Min width for text command button
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

DataGrid - native classes - dataHelperMixin (#26802)
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/search/m_search.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - core classes (#26804)
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/m_modules.ts
  js/__internal/grids/grid_core/m_types.ts
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grid_core.modules.tests.js
Owners: @DevExpress/devextreme-grids

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

dxAjaxModule
  packages/devextreme-angular/src/ajax/dx-ajax.ts
Owners: none

fix
  js/__internal/grids/grid_core/validating/m_validating.ts
Owners: @DevExpress/devextreme-grids

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Owners: none

Fix path to package.json
  tools/scripts/set-timestamp-version.ts
Owners: none

Create devextreme-monorepo-tools package
  package-lock.json
  package.json
  packages/devextreme-monorepo-tools/README.md
  packages/devextreme-monorepo-tools/jest.config.ts
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-monorepo-tools/project.json
  packages/devextreme-monorepo-tools/src/index.ts
  packages/devextreme-monorepo-tools/tsconfig.build.json
  packages/devextreme-monorepo-tools/tsconfig.json
  packages/devextreme-monorepo-tools/tsconfig.test.json
  tools/scripts/build-all.ts
  tools/scripts/common/index.ts
  tools/scripts/common/nx.ts
  tools/scripts/pack.ts
  tsconfig.json
Owners: none

Move scripts commons to devextreme-monorepo-tools
  packages/devextreme-monorepo-tools/src/fs-utils.ts
  packages/devextreme-monorepo-tools/src/index.ts
  packages/devextreme-monorepo-tools/src/npm-utils.ts
  packages/devextreme-monorepo-tools/src/shell-utils.test.ts
  packages/devextreme-monorepo-tools/src/shell-utils.ts
  packages/devextreme-monorepo-tools/src/version-utils.test.ts
  packages/devextreme-monorepo-tools/src/version-utils.ts
  tools/scripts/change-package-scope.ts
  tools/scripts/common/monorepo-tools.ts
  tools/scripts/common/version.ts
  tools/scripts/make-artifacts-package.ts
  tools/scripts/pack.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/update-version.ts
Owners: none

Switch testing from tools/scripts to devextreme-monorepo-tools
  .github/workflows/renovation.yml
  package-lock.json
  package.json
  packages/devextreme-monorepo-tools/jest.config.ts
  tools/scripts/jest.config.js
Owners: @DevExpress/devextreme-devops

fix
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
  js/__internal/grids/grid_core/m_modules.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
Owners: @DevExpress/devextreme-grids

fix
  js/ui/filter_builder/filter_builder.js
Owners: none

jsonp test
  packages/devextreme-angular/tests/src/dx-ajax/ajax.spec.ts
Owners: none

DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (#26703)
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: none

DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (#26703)
  js/__internal/grids/grid_core/validating/m_validating.ts
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: @DevExpress/devextreme-grids

refactor
  packages/devextreme-angular/src/ajax/dx-ajax.ts
Owners: none

refactor
  packages/devextreme-angular/src/ajax/dx-ajax.ts
Owners: none

fix comments
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553) (#26800)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Owners: none

Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553) (#26800)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Owners: none

Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553) (#26800)
  js/ui/number_box/number_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Owners: none

Rename test label
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: none

Splitter: declare Item.collapsedSize, Splitter.seperatorSize and remove Splitter.resizeMode options
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Simplify QUnit test to focus on lossColor property change
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: none

Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553) (#26838)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Owners: none
