Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

add rule
  packages/devextreme/js/__internal/.eslintrc.js
Owners: none

GHA research
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/.eslintrc.js
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.bundle.js
  apps/demos/configs/Vue/config.bundle.js
  apps/demos/configs/Vue/config.js
  apps/demos/package.json
  apps/demos/utils/bundle/index.js
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

Pivot native class
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

add resize options for splitter
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Owners: none

pass parameter to tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Owners: none

(react?): back to old prop name ref ed6d37f1fd78386597957fce5d6416caa9aa1a6d
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

(react): re-generate with proposed fix in tools with ignoring nested splitter (for items) like for box
  packages/devextreme-react/src/splitter.ts
Owners: none

(vue): re-generate with proposed fix in tools with ignoring nested splitter (for items) like for box
  packages/devextreme-vue/src/splitter.ts
Owners: none

Fix remarks
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Owners: none

DataGrid: Fix selection by shift when grid has real time updates (T1214734)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Owners: none

Fix remarks
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Owners: none

DataGrid: Fix selection by shift when grid has real time updates (T1214734)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Owners: @DevExpress/devextreme-grids

Fix remarks
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  testing/testcafe/tests/dataGrid/selection.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Owners: @DevExpress/devextreme-grids

Validator: add string type to Range rule min/max properties (T1215659) (#26663)
  packages/devextreme-angular/src/ui/nested/validation-rule-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Validator: add string type to Range rule min/max properties (T1215659)
  packages/devextreme-angular/src/ui/nested/validation-rule-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Validator: add string type to Range rule min/max properties (T1215659)
  js/common.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799) (#26662)
  packages/devextreme/js/ui/slider/ui.slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Owners: none

Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799) (#26662)
  packages/devextreme/js/ui/slider/ui.slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Owners: none

Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799)
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Owners: none

onResize optionChanged handlers added
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

fix test
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

fix
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

filter panel icon
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

grou panel and header icons
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

fix header icons alignment
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

group panel item height
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
Owners: none

﻿pager navigation icons
  packages/devextreme/scss/widgets/fluent/pager/_index.scss
  packages/devextreme/scss/widgets/fluent/pager/_sizes.scss
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Owners: none

etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/icon-sizes-fluent-compact.png
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Owners: none

DataGrid: Fix selection by shift when grid has real time updates (T1214734) (#26657)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
Owners: none

DataGrid: Fix selection by shift when grid has real time updates (T1214734) (#26673)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/testcafe/tests/dataGrid/selection.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix selection by shift when grid has real time updates (T1214734) (#26672)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
Owners: none

temporary disable canvg package
  apps/demos/Demos/Charts/ExportCustomMarkup/Angular/app/app.component.ts
  apps/demos/Demos/Charts/ExportCustomMarkup/React/App.tsx
  apps/demos/Demos/Charts/ExportCustomMarkup/ReactJs/App.js
  apps/demos/Demos/Charts/ExportCustomMarkup/Vue/App.vue
Owners: none

GridCore: Migrate Editing module. (#26667)
  js/__internal/grids/data_grid/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate Editing module. (#26666)
  packages/devextreme/js/__internal/grids/data_grid/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
Owners: none

add onitemexpanded, onitemcollapsed events declaration
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/icon-sizes-fluent-compact.png
Owners: none

RangeSelector - Update signature 'translate' method of interval translator(t1212681)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/js/viz/translators/interval_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/translator2D.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
