Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Update common.test.js
  apps/demos/testing/common.test.js
Owners: none

Update common.test.js
  apps/demos/testing/common.test.js
Owners: none

dxAjaxModule
  packages/devextreme-angular/tests/src/ajax/ajax.spec.ts
Owners: none

wait fonts loading for material theme
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

dxAjaxModule
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme/js/core/utils/ajax.js
Owners: none

dxAjaxModule
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme/js/core/utils/ajax.js
Owners: none

change playgrounds to apps
  .github/workflows/playgrounds_tests.yml
  apps/README.md
Owners: @DevExpress/devextreme-devops

Update matrix-test-helper.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

DataGrid - native classes - base widget (#26555)
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
Owners: none

DataGrid - native classes - grouping helpers (#26775)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
Owners: none

DataGrid - native classes - summary (#26776)
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Owners: none

DataGrid - native classes - other (#26777)
  packages/devextreme/js/__internal/grids/data_grid/m_aggregate_calculator.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_controller.ts
Owners: none

dxAjaxModule
  packages/devextreme-angular/tests/src/ajax/ajax.spec.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Owners: none

German localization message values for dxDateRangeBox* (#26780)
  packages/devextreme/js/localization/messages/de.json
Owners: none

Scheduler(T1218078): Fix machine's local time DST issues. (#26752)
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

Scheduler(T1218078): Fix machine's local time DST issues. (#26752)
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
Owners: none

Unify Toast (Vue & Angular)
  apps/demos/Demos/Toast/Overview/Angular/app/app.component.html
  apps/demos/Demos/Toast/Overview/Vue/App.vue
Owners: none

Splitter: add handle and expand icons markup
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
Owners: none

Update Title and Label
  apps/demos/Demos/Charts/Strips/Angular/app/app.component.html
  apps/demos/Demos/Charts/Strips/React/App.tsx
  apps/demos/Demos/Charts/Strips/ReactJs/App.js
  apps/demos/Demos/Charts/Strips/Vue/App.vue
  apps/demos/Demos/Charts/Strips/jQuery/index.js
  apps/demos/testing/etalons/Charts-Strips.png
Owners: none

Drawer: fix overlap, bottom, expand configurations in React (#26786)
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Owners: none

German localization message values for dxDateRangeBox (cherry-pick #26780) (#26791)
  packages/devextreme/js/localization/messages/de.json
Owners: none

German localization message values for dxDateRangeBox* (#26780)
  js/localization/messages/de.json
Owners: @DevExpress/devextreme-techwriters

Scheduler(T1218078): Fix machine's local time DST issues. (#26752) (#26792)
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

CI: Fix github packages publishing (#26785)
  build/common/version-utils.ts
  package-lock.json
Owners: none

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: none

German localization message values for dxDateRangeBox (cherry-pick #26791) (#26796)
  js/localization/messages/de.json
Owners: @DevExpress/devextreme-techwriters

fix
  apps/angular/package.json
  package-lock.json
Owners: none

refactor
  apps/demos/testing/common.test.js
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

Drawer: fix overlap, bottom, expand configurations in React (#26787)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Owners: none

CI: get rid of duplicating demos tests
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

refactor
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

Update common.test.js
  apps/demos/testing/common.test.js
Owners: none

GridCore: Migrating validating module's extenders to native classes
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
