Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

DataGrid - Fix the issue with page index being reset when the grid is refreshed and virtual scrolling is used (T1196099) (#25997)
  js/renovation/ui/pager/pages/small.tsx
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/pager.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Fix the issue with page index being reset when the grid is refreshed and virtual scrolling is used (T1196099) (#25998)
  js/renovation/ui/pager/pages/small.tsx
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/pager.ts
Owners: @DevExpress/devextreme-grids

Update etalons
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (material-blue-light).png
Owners: none

fix icon floating in material theme
  packages/devextreme/scss/widgets/material/list/_index.scss
Owners: none

nodata color fix
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

new etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/etalons/no-data_fluent.blue.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/etalons/no-data_fluent.blue.light.png
Owners: none

Context Menu Demo: custom item template alignment and icons size styles changed (#2972)
  Demos/ContextMenu/Templates/Angular/app/app.component.css
  Demos/ContextMenu/Templates/Angular/app/app.component.html
  Demos/ContextMenu/Templates/React/App.js
  Demos/ContextMenu/Templates/React/styles.css
  Demos/ContextMenu/Templates/Vue/App.vue
  Demos/ContextMenu/Templates/jQuery/index.js
  Demos/ContextMenu/Templates/jQuery/styles.css
Owners: none

fix collapsibleGroups
  packages/devextreme/scss/widgets/generic/list/_index.scss
Owners: none

Remove pointerEventStrategy option from type GlobalConfig (#25990)
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/events/pointer.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

test added
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

fix tests
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

fix controlled mode and guards
  packages/devextreme-react/jest.config.js
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/options-manager.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Owners: none

etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (material-blue-light).png
Owners: none

feat(tabs): Add addititional tests
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

Tabs: Get rid min-width of tab item in Material
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_secondary.scss
Owners: none

fix lint
  packages/devextreme-react/src/core/template-manager.tsx
Owners: none

lint
  packages/devextreme-react/src/core/template-manager.tsx
Owners: none

feat(etalons): Add new etalons
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (material-blue-light).png
Owners: none

final lint
  packages/devextreme-react/src/core/template-manager.tsx
Owners: none

increase dataGrid tasks
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

refactor(tabs): Text transform && Set stylingMode
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

fix(tabs): Remove icons && Add text
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

increase grid tasks
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

fix(etalons)
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (material-blue-light).png
Owners: none

pass drb options to calendar
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Owners: none

Tabs: Get rid min-width of tab item in the Material secondary styling mode
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tab item width in secondary stylingMode (material-blue-light).png
Owners: none

rename test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Owners: none

Tabs: Set focusedElement in optionChanged
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_vertical.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
Owners: none

fix(tests)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tests)
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabs): Update focused after all updates
  packages/devextreme/js/ui/tabs.js
Owners: none

fix(etalons): Update
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel focus borders (material-blue-light).png
Owners: none

fix(tabs: generic): Fix disabled focused color
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
Owners: none

Grouped list - Fix arrow vertical alignment (#25977)
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

HtmlEditor: fix mention render in React strict mode (T1187274) (#25960)
  packages/devextreme/js/ui/html_editor/formats/mention.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

HtmlEditor: fix mention render in React strict mode (T1187274) (#25960)
  js/ui/html_editor/formats/mention.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

HtmlEditor: fix mention render in React strict mode (T1187274) (#25960)
  js/ui/html_editor/formats/mention.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

HtmlEditor: fix mention render in React strict mode (T1187274) (#26003)
  js/ui/html_editor/formats/mention.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

HtmlEditor: fix mention render in React strict mode (T1187274) (#26004)
  js/ui/html_editor/formats/mention.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

Drawer - change list background color and add shadow on toolbar (#2992)
  Demos/Drawer/LeftOrRightPosition/Angular/app/app.component.css
  Demos/Drawer/LeftOrRightPosition/Angular/app/app.component.html
  Demos/Drawer/LeftOrRightPosition/React/NavigationList.js
  Demos/Drawer/LeftOrRightPosition/React/styles.css
  Demos/Drawer/LeftOrRightPosition/Vue/App.vue
  Demos/Drawer/LeftOrRightPosition/Vue/NavigationList.vue
  Demos/Drawer/LeftOrRightPosition/jQuery/index.js
  Demos/Drawer/LeftOrRightPosition/jQuery/styles.css
  Demos/Drawer/TopOrBottomPosition/Angular/app/app.component.css
  Demos/Drawer/TopOrBottomPosition/Angular/app/app.component.html
  Demos/Drawer/TopOrBottomPosition/React/NavigationList.js
  Demos/Drawer/TopOrBottomPosition/React/styles.css
  Demos/Drawer/TopOrBottomPosition/Vue/App.vue
  Demos/Drawer/TopOrBottomPosition/Vue/NavigationList.vue
  Demos/Drawer/TopOrBottomPosition/jQuery/index.js
  Demos/Drawer/TopOrBottomPosition/jQuery/styles.css
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
