Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix(tabs: QUnit): Add tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

feat(regenerate-all)
  packages/devextreme-angular/src/ui/tabs/index.ts
  packages/devextreme-react/src/tabs.ts
  packages/devextreme-vue/src/tabs.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Tabs: Add icons
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/generic/account-box.svg
  packages/devextreme/images/icons/generic/clear-circle.svg
  packages/devextreme/images/icons/generic/orders-box.svg
  packages/devextreme/images/icons/generic/task-complete.svg
  packages/devextreme/images/icons/generic/task-helpneeded.svg
  packages/devextreme/images/icons/generic/task-inprogress.svg
  packages/devextreme/images/icons/generic/task-rejected.svg
  packages/devextreme/images/icons/generic/task-stop.svg
  packages/devextreme/images/icons/material/account-box.svg
  packages/devextreme/images/icons/material/clear-circle.svg
  packages/devextreme/images/icons/material/orders-box.svg
  packages/devextreme/images/icons/material/task-complete.svg
  packages/devextreme/images/icons/material/task-helpneeded.svg
  packages/devextreme/images/icons/material/task-inprogress.svg
  packages/devextreme/images/icons/material/task-rejected.svg
  packages/devextreme/images/icons/material/task-stop.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

refactor
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
Owners: none

Tabs: Update icon etalons
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

fix CI
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  package-lock.json
  package.json
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/gulpfile.js
  packages/devextreme/package.json
  packages/devextreme/project.json
  packages/devextreme/testing/bundlers/package.json
Owners: @DevExpress/devextreme-devops

fix(icons): Update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
Owners: none

Tabs: Add stylingMode option
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-angular/src/ui/tabs/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/tabs.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/tabs.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/js/ui/tabs_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Tabs: Update icon etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

Skip unstable tests
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/scheduler/deleteAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/basic.ts
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/basic.ts
Owners: none

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

rebase from TabPanel: Add iconPosition option
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
Owners: none

feat(tabs): Add icon position
  packages/devextreme/scss/widgets/material/tabs/_sizes.scss
Owners: none

fix(d.ts): Rename type
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(angular): Generate
  packages/devextreme-angular/src/common/index.ts
Owners: none

fix(d.ts): Update d.ts
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
Owners: none

fix(package-lock): Update sha512
  package-lock.json
Owners: none

fix(d.ts): Update d.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Rename type
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Update d.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(d.ts): Rename type
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(tabPanel): Update TS
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(d.ts): Update TS
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(etalons): Update etalon && Add new etalons
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (generic-light).png
Owners: none

revert(tabs: styles): Revert paddings
  packages/devextreme/scss/widgets/material/tabs/_sizes.scss
Owners: none

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(package-lock): Update sha512
  package-lock.json
Owners: none

feat(tabs): Update etalons
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (generic-light).png
Owners: none

regenerate-all
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(tabs): Update TS
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

REFENERATE ALL
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
Owners: none

feat(tabs): Add icon position
  packages/devextreme/scss/widgets/material/tabs/_sizes.scss
Owners: none

feat(tabs): Add icon position
  packages/devextreme/playground/jquery.html
Owners: none

fix(d.ts): Rename type
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

stash
  packages/devextreme/playground/jquery.html
Owners: none

feat(d.ts): Update d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

feat(tabs: TextCafe): Remove old etalons && Add tests for iconPosition
  packages/vue2-strategy/src/common/index.ts
Owners: none

feat(tabs): Update TS
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
