Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix(angular): Generate
  packages/devextreme-angular/src/common/index.ts
Owners: none

fix(d.ts): Update d.ts
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TabPanel: Add stylingMode option
  packages/vue2-strategy/src/tabs.ts
Owners: none

feat(tabs: TextCafe): Remove old etalons && Add tests for iconPosition
  packages/vue2-strategy/src/common/index.ts
Owners: none

dirty(tabs: styles): Add styles for secondary styling mode
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

feat(tabs): Change styles structure
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
Owners: none

refactor(tabs: styles): Separete styling modes
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
Owners: none

revert(style-compiler)
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

Tabs/TabPanel: Add stylingMode in Fluent
  packages/devextreme/scss/widgets/fluent/tabPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_primary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/mixins/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
Owners: none

Tabs/TabPanel: Toggle render scrolling after iconPosition has changed
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
Owners: none

revert(PG)
  packages/devextreme/playground/jquery.html
Owners: none

Tabs/TabPanel: Add stylingMode, iconPosition in Fluent
  packages/devextreme/scss/widgets/fluent/tabPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_primary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/mixins/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
Owners: none

feat(tabs): Remove extra code && Add tests
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabs: QUnit): Replace test type
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabs): Skip if serverSide
  packages/devextreme/js/ui/tabs.js
Owners: none

Scheduler: Remove redundant type cast.
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

wip for test
  packages/devextreme-react/.eslintrc
Owners: none

Scheduler: Remove redundant type cast.
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

Scheduler: Remove redundant type cast.
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

fix(tabs): Add showNavButtons
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

Scheduler: Remove redundant type cast. (#25560)
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Scheduler: Remove redundant type cast. (#25562)
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

Scheduler: Remove redundant type cast. (#25563)
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

change remove tag on icon in tagbox
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (material-blue-light).png
Owners: none

Tabs: Toggle render scrolling after iconPosition has changed
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

ThemeBuilder: Rework use customer variables (#25383)
  package-lock.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/src/metadata/generator.ts
  packages/devextreme-themebuilder/src/modules/compiler.ts
  packages/devextreme-themebuilder/src/modules/parse-value.ts
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/accordion/_colors.scss
  packages/devextreme-themebuilder/tests/metadata/generator.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler-sass.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
Owners: none

Remove redundant dependencies on internal-tools
  package-lock.json
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
Owners: none

Install internal-tools v12
  package-lock.json
  package.json
Owners: none

Renamed internal-tools scripts and args names
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
Owners: none

Move some ambiguous dx-tools calls to the root
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
Owners: none

update etalon
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
Owners: none

Add scripts for injecting descriptions to devextreme
  package.json
Owners: none

fix small issues
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_sizes.scss
Owners: none

fix numberbox styling in disabled state
  packages/devextreme/scss/widgets/fluent/common/_sizes.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/numberBox/_index.scss
  packages/devextreme/scss/widgets/generic/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/material/numberBox/_index.scss
  packages/devextreme/scss/widgets/material/numberBox/_sizes.scss
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (material-blue-light-compact).png
Owners: none

fix icon color in dark theme
  packages/devextreme/scss/widgets/fluent/_colors.scss
Owners: none

Fluent: new design for Slider & RangeSlider components
  packages/devextreme/js/ui/themes.js
  packages/devextreme/scss/widgets/base/_rangeSlider.scss
  packages/devextreme/scss/widgets/base/_slider.scss
  packages/devextreme/scss/widgets/fluent/rangeSlider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/generic/rangeSlider/_index.scss
  packages/devextreme/scss/widgets/generic/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_sizes.scss
Owners: none

add Progressbar styles
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_sizes.scss
Owners: none

rename variables
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_sizes.scss
Owners: none

DataGrid - Master-detail - It's not possible to focus all rows after rows are expanded and collapsed (T1187124) (#25543)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
