Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Update Trial Panel Buy Now Links (#27560)
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-vue/src/core/component.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update Trial Panel Buy Now Links (#27560)
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-vue/src/core/component.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Tabs, TabPanel: move files to TS
  packages/devextreme/js/__internal/ui/tab_panel/m_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/constants.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Owners: none

Tabs, TabPanel: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/tab_panel/m_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
Owners: none

Overlay: move files to TS
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_utils.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
Owners: none

Overlay: ignore errors after move to TS
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_utils.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip_position_controller.ts
  packages/devextreme/js/ui/diagram/ui.diagram.js
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/js/ui/popover/popover_position_controller.js
  packages/devextreme/js/ui/popup/popup_position_controller.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Owners: none

SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706) (#27402)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706) (#27568)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706) (#27569)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

FileUploader: move files to TS
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
Owners: none

Add etalon
  testing/testcafe/tests/dataGrid/etalons/popup-edit-form-with-initial-editrowkey.png
Owners: @DevExpress/devextreme-grids

Update Trial Panel Buy Now Links (#27575)
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-vue/src/core/component.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/popup-edit-form-with-initial-editrowkey.png
Owners: none

create draft qunit test
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Owners: none

apply fix
  packages/devextreme/js/viz/axes/tick_generator.js
Owners: none

fix duplicate pack target
  packages/devextreme-angular/project.json
Owners: none

FileUploader: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/file_uploader.js
Owners: none

DropDownButton, DropDownList, DropDownEditor: move files to TS
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_utils.ts
Owners: none

fix lock
  pnpm-lock.yaml
Owners: none

FloatingActionButton, SpeeDialAction: move files to TS
  packages/devextreme/js/__internal/ui/speed_dial_action/m_repaint_floating_action_button.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_action.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_main_item.ts
Owners: none

NumberBox: move files to TS
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.ts
  packages/devextreme/js/__internal/ui/number_box/m_utils.ts
Owners: none

Add display: none to DxLicenseTrigger
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: none

Add display: none to DxLicenseTrigger
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: none

DataGrid: Fix the 'Cannot read properties of undefined (reading 'done')' error that occurs under certain conditions (T1219612) (#27574)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix the 'Cannot read properties of undefined (reading 'done')' error that occurs under certain conditions (T1219612) (#27572)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

Revert "esModule for devextreme"
  apps/demos/utils/bundle/index.js
Owners: none

Revert "no minify, uglify"
  apps/demos/utils/bundle/index.js
Owners: none

Add display: none to DxLicenseTrigger (#27581)
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: none

apply fix (fast way)
  packages/devextreme/js/viz/gauges/bar_gauge.js
Owners: none

refactor color and textoption
  packages/devextreme/js/viz/gauges/bar_gauge.js
Owners: none

NumberBox: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.ts
  packages/devextreme/js/__internal/ui/number_box/m_utils.ts
  packages/devextreme/js/ui/number_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Owners: none

CI: save all demos frameworks screenshots into single archive
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

Apply suggestions from code review
  apps/demos/Demos/DropDownBox/MultipleSelection/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/description.md
Owners: none

FloatingActionButton, SpeeDialAction: ignore errors after move to TS
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_repaint_floating_action_button.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_action.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_main_item.ts
  packages/devextreme/js/__internal/ui/toast/m_toast.ts
  packages/devextreme/js/ui/speed_dial_action.js
  packages/devextreme/js/ui/speed_dial_action/repaint_floating_action_button.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Owners: none

DropDownButton, DropDownList, DropDownEditor: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/color_box/m_color_box.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.list.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_utils.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/testing/helpers/widgetsList.js
Owners: none

Update after review
  apps/demos/Demos/DropDownBox/MultipleSelection/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/description.md
Owners: none

Update after review
  apps/demos/Demos/DropDownBox/MultipleSelection/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/description.md
Owners: none

FileUploader: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/file_uploader.js
Owners: none

FileUploader: move files to TS
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
Owners: none

NumberBox: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.ts
  packages/devextreme/js/__internal/ui/number_box/m_utils.ts
  packages/devextreme/js/ui/number_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Owners: none
