Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Scheduler(T1218078): Fix render issue related to DST
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
Owners: none

Scheduler(T1218078): Fix drag-n-drop issues related to DST
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

Try testcafe 2.6.2
  package-lock.json
  package.json
Owners: none

Try testcafe 3.5.0
  package-lock.json
  package.json
Owners: none

Add e2e timezone testing (#26755) (#26761)
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/check.ts
Owners: @DevExpress/devextreme-devops

🛠️ Refactoring | Grid native classes: validating (#26714)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

🛠️ Refactoring | Grid native classes: validating
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

🛠️ Refactoring | Grid native classes: validating
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/tree_list/m_validating.ts
Owners: @DevExpress/devextreme-grids

🛠️ Refactoring | Grid native classes: validating (#26762)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

🛠️ Refactoring | Grid native classes: validating (#26763)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/tree_list/m_validating.ts
Owners: @DevExpress/devextreme-grids

Init storybook app. Resolve paths to devextreme-react and its deps. Add theme decorator.
  apps/react-storybook/.storybook/main.ts
  apps/react-storybook/.storybook/preview.tsx
  apps/react-storybook/.storybook/themes.tsx
  apps/react-storybook/package.json
  apps/react-storybook/tsconfig.json
  package-lock.json
Owners: none

Add stories examples
  apps/react-storybook/stories/assets/images/products/1-small.png
  apps/react-storybook/stories/assets/images/products/2-small.png
  apps/react-storybook/stories/assets/images/products/3-small.png
  apps/react-storybook/stories/assets/images/products/4-small.png
  apps/react-storybook/stories/assets/images/products/5-small.png
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  apps/react-storybook/stories/examples/datagrid/DiscountCell.tsx
  apps/react-storybook/stories/examples/piechart/PieChart.stories.tsx
  apps/react-storybook/stories/examples/piechart/data.ts
  apps/react-storybook/stories/examples/selectbox/Field.tsx
  apps/react-storybook/stories/examples/selectbox/Item.tsx
  apps/react-storybook/stories/examples/selectbox/SelectBox.stories.tsx
  apps/react-storybook/stories/examples/selectbox/data.ts
  apps/react-storybook/stories/examples/selectbox/styles.css
Owners: none

T1214374
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax.ng.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax.ng.js
  packages/devextreme/js/core/utils/ajax.old.js
Owners: none

WIP. ajax via NG HttpClient +BUNDLE
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/core/utils/_webpack.cfg.js
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax.old.js
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient +BUNDLE
  packages/devextreme/js/core/utils/_webpack.cfg.js
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax.prev.js
  packages/devextreme/testing/tests/DevExpress.core/utils.ajax.tests.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/ajax.prev.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/_webpack.cfg.js
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax.prev.js
  packages/devextreme/testing/helpers/xmlHttpRequestMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

WIP. ajax via NG HttpClient
  packages/devextreme/js/core/utils/_webpack.cfg.js
  packages/devextreme/js/core/utils/ajax.js
Owners: none

fix review
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: none

changes for tests
  package-lock.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: none

Switch: Fix aria attributes
  packages/devextreme/js/ui/switch.js
  packages/devextreme/testing/testcafe/tests/accessibility/switch.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Owners: none

Return testcafe 2.5.0, skip some tests
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/utils/visual-tests/matrix-test-helper.js
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

changes for tests
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/core/utils/ajax.prev.js
  packages/devextreme/package.json
Owners: none

changes for tests
  package-lock.json
Owners: none

Calendar: Fix aria-readonly setting
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/testing/testcafe/tests/accessibility/calendar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

TextBox: Fix readonly input border state (T1217197)
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

TextBox: Fix readonly input border state (T1217197)
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

Pass additional fields array to sendValidationRequest and populate from params.data
  packages/devextreme/js/aspnet.js
Owners: none

Revert "Merge branch '24_1' of https://github.com/DevExpress/DevExtreme into 24_1"
  .github/workflows/testcafe_tests.yml
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/switch.js
  packages/devextreme/js/ui/tile_view.js
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/tests/accessibility/calendar.ts
  packages/devextreme/testing/testcafe/tests/accessibility/switch.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tileView.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/check.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Owners: @DevExpress/devextreme-devops

Lint
  packages/devextreme/js/aspnet.js
Owners: none

Fix theme decorator classname
  apps/react-storybook/.storybook/preview.tsx
  apps/react-storybook/.storybook/themes.tsx
Owners: none

Remove unused addon
  apps/react-storybook/package.json
  package-lock.json
Owners: none

Tests
  packages/devextreme/testing/tests/DevExpress.aspnet/aspnet.tests.js
Owners: none
