Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified (T1199553)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/testcafe/model/numberBox.ts
  packages/devextreme/testing/testcafe/tests/editors/numberBox/mask.ts
Owners: none

DataGrid - The collapse icon is missing in a group row in certain usage scenarios (#26118)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Owners: @DevExpress/devextreme-grids

move etalon
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
Owners: @DevExpress/devextreme-grids

Chart - Remove rounding values on translation for line/area series(T1195064) (#26137)
  js/viz/series/points/symbol_point.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Owners: none

T1201981
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Owners: @DevExpress/devextreme-grids

new etalon
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
Owners: @DevExpress/devextreme-grids

new etalon
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
Owners: @DevExpress/devextreme-grids

pr requested changes( refactoring)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

pr requested changes
  packages/devextreme/js/viz/utils.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

DataGrid - The collapse icon is missing in a group row in certain usage scenarios (#26142)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Owners: @DevExpress/devextreme-grids

remove redundant settings
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

DataGrid - The collapse icon is missing in a group row in certain usage scenarios (#26141)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Owners: @DevExpress/devextreme-grids

NumberBox tests: get rid of deprecation warnings (#26088)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

Chart: fix tooltip for hovered series after zooming (T1197697) (#26138)
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/viz/utils.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

DropDownEditor: popup should be closed on parent element scroll (T1195950) (#26130)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover/ui.popover.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Owners: none

DropDownEditor: popup should be closed on parent element scroll (T1195950) (#26131)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover/ui.popover.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Owners: none

Chart: fix tooltip for hovered series after zooming (T1197697) (#26138)
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/viz/utils.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

Rename
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
Owners: none

Revert "Rename"
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
Owners: none

merge
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/viz/utils.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

DateBox: time inputs should have values when root element is used as container (T1193495) (#26133)
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/dateBox.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Owners: none

Chart: fix tooltip for hovered series after zooming (T1197697) (#26145)
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/viz/utils.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

Chart: fix tooltip for hovered series after zooming (T1197697) (#26144)
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/viz/utils.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Owners: none

DateBox: time inputs should have values when root element is used as container (T1193495) (#26133)
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/dateBox.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Owners: none

update etanol
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Owners: none

DateBox: time inputs should have values when root element is used as container (T1193495) (#26133) (#26146)
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/dateBox.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Owners: none

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: none

etalon
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

cherry-pick from #26073
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

cherry-pick from #26073
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

etalon
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Owners: @DevExpress/devextreme-grids

FileManager: test for ddButton width in various themes
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/fileManager/common.ts
Owners: @DevExpress/devextreme-devops

Chart - Remove rounding values on translation for line/area series(T1195064) (#26136)
  js/viz/series/points/symbol_point.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Viz: make BaseChartLegendItem public
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update chrome version to 117
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

material: toolbar switch vertical align center
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
Owners: none

Update chrome version to 117
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

add visual test
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
Owners: none

Review fix
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
