Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

refactor
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

add tests
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/keyboard.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

Remove wrong generic params from dxMultiView and dxTabs (#25360)
  packages/devextreme/js/ui/multi_view.d.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

refactor
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

lint
  packages/devextreme/js/core/utils/template_manager.js
Owners: none

ThemeBuilder: Update sass-embedded dependency
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

test
  packages/devextreme/testing/tests/DevExpress.core/utils.template_manager.tests.js
Owners: none

fix grid tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: none

Cleanup
  devextreme-angular-generator/gulpfile.js
  devextreme-angular-generator/package.json
  devextreme-angular-generator/spec/support/jasmine.json
  devextreme-angular-generator/spec/tests/metadata-generator.spec.js
  devextreme-angular-generator/src/common-reexports-generator.ts
  devextreme-angular-generator/src/component-names-generator.ts
  devextreme-angular-generator/src/dot-generator.ts
  devextreme-angular-generator/src/facade-generator.ts
  devextreme-angular-generator/src/helpers.ts
  devextreme-angular-generator/src/import-helper.ts
  devextreme-angular-generator/src/logger.ts
  devextreme-angular-generator/src/metadata-generator.ts
  devextreme-angular-generator/src/metadata-model.ts
  devextreme-angular-generator/src/module.facade-generator.ts
  devextreme-angular-generator/src/templates/base-nested-component.tst
  devextreme-angular-generator/src/templates/component.tst
  devextreme-angular-generator/src/templates/nested-component.tst
  devextreme-angular-generator/tsconfig.json
Owners: none

revert
  packages/devextreme/js/core/utils/style.js
  packages/devextreme/js/mobile/init_mobile_viewport/init_mobile_viewport.js
  packages/devextreme/js/viz/chart_components/zoom_and_pan.js
  packages/devextreme/js/viz/core/renderers/renderer.js
Owners: none

revert
  packages/vue2-strategy/sandbox/public/css/bootstrap.css
  playgrounds/vue/public/css/bootstrap.css
Owners: none

Get rid of styles for ms
  packages/devextreme/js/core/utils/style.js
  packages/devextreme/js/mobile/init_mobile_viewport/init_mobile_viewport.js
  packages/devextreme/js/viz/chart_components/zoom_and_pan.js
  packages/devextreme/js/viz/core/renderers/renderer.js
  packages/devextreme/js/viz/core/tooltip.js
  packages/devextreme/scss/widgets/base/_dropDownEditor.scss
  packages/devextreme/scss/widgets/base/_fileUploader.scss
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/base/_widget.scss
  packages/devextreme/scss/widgets/base/scrollable/_index.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.exporter/svgCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.renderers/Renderer.tests.js
  packages/vue2-strategy/sandbox/public/css/bootstrap.css
  playgrounds/vue/public/css/bootstrap.css
Owners: none

revert
  packages/devextreme/js/viz/core/renderers/renderer.js
Owners: none

Get rid of styles for old platforms
  packages/devextreme/scss/widgets/base/_gallery.scss
  packages/devextreme/scss/widgets/base/_overlay.scss
  packages/devextreme/scss/widgets/base/_tileView.scss
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/base/popover/_index.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

Get rid of styles for ms
  packages/devextreme/js/viz/chart_components/zoom_and_pan.js
  packages/devextreme/js/viz/core/renderers/renderer.js
  packages/devextreme/js/viz/core/tooltip.js
  packages/devextreme/scss/widgets/base/_dropDownEditor.scss
  packages/devextreme/scss/widgets/base/_fileUploader.scss
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/base/_widget.scss
  packages/devextreme/scss/widgets/base/scrollable/_index.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.exporter/svgCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Owners: none

Add description for editable cell
  packages/devextreme/js/__internal/grids/grid_core/editing/const.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

Add localization
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Owners: none

Get rid of styles for old platforms
  packages/devextreme/scss/widgets/base/_gallery.scss
  packages/devextreme/scss/widgets/base/_overlay.scss
  packages/devextreme/scss/widgets/base/_tileView.scss
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/base/popover/_index.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

TreeList: Replace 'treegrid' role to 'group' of the root container (#25346)
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_widget_base.ts
  js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/tree_list/ui.tree_list.column_headers.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

TreeList: Replace 'treegrid' role to 'group' of the root container (#25347)
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_widget_base.ts
  js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/lv.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/tree_list/ui.tree_list.column_headers.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

TreeList: Replace 'treegrid' role to 'group' of the root container (#25348)
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/tree_list/ui.tree_list.column_headers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: none

test commit
  packages/devextreme/js/ui/drop_down_box.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

add tests
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

Toolbar: fix overflow menu item rendering after item.disable runtime change
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
  packages/devextreme/js/ui/toolbar/ui.toolbar.js
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: none

refactroring
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

fix tests
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

Small refactoring
  packages/devextreme-themebuilder/src/modules/compiler.ts
  packages/devextreme-themebuilder/src/modules/parse-value.ts
Owners: none

Fix some tests
  packages/devextreme-themebuilder/tests/metadata/generator.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler-sass.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
Owners: none

change etalon name
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button via options.disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button via options.disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button via options.disabled (material-blue-light).png
Owners: none

dxGantt: fix scroll (T1183386)
  js/ui/gantt/ui.gantt.treelist.js
Owners: none

dxGantt: fix scroll (T1183386)
  js/ui/gantt/ui.gantt.treelist.js
Owners: none

dxGantt: fix scroll (T1183386)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
Owners: none

dxGantt: fix scroll (T1183386) (#25379)
  js/ui/gantt/ui.gantt.treelist.js
Owners: none

dxGantt: fix scroll (T1183386) (#25378)
  js/ui/gantt/ui.gantt.treelist.js
Owners: none

dxGantt: fix scroll (T1183386) (#25380)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
Owners: none

ThemeBuilder: Update sass-embedded dependency (#25373)
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Owners: none

Add tests for editing
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/colorContrast.ts
Owners: none

Add test for row drag and drop
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/colorContrast.ts
Owners: none

Add test for sorting and group panel
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/colorContrast.ts
Owners: none
