Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

DataGrid - move HeaderPanel to native class (#25681)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Owners: none

DataGrid - move HeaderPanel to native class (#25682)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
Owners: @DevExpress/devextreme-grids

DataGrid - move HeaderPanel to native class (#25683)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
Owners: @DevExpress/devextreme-grids

Charts - Publish SeriesPoint & SeriesLabel types (#25608)
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update etalons
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
Owners: none

publish CommonSeriesPoint
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

move CommonSeriesLabel to common
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix imports
  js/common/charts.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

renames
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fixes
  js/common/charts.d.ts
  ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add aliases to modules
  js/viz/chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix messages
  js/viz/chart.d.ts
  ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix deprecation messages
  js/viz/chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Testcafe - add typing for createWidget (#25694)
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  testing/testcafe/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/navigation/toolbar/integration.ts
Owners: @DevExpress/devextreme-grids

Testcafe - add typing for createWidget (#25695)
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  testing/testcafe/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/navigation/toolbar/integration.ts
Owners: @DevExpress/devextreme-grids

rewrite test
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
Owners: none

update dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

publish CommonSeriesPoint
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

move CommonSeriesLabel to common
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix imports
  js/common/charts.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

renames
  js/common/charts.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fixes
  js/common/charts.d.ts
  ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add aliases to modules
  js/viz/chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix messages
  js/viz/chart.d.ts
  ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix deprecation messages
  js/viz/chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix issues
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/scss/widgets/base/colorBox/_index.scss
  packages/devextreme/scss/widgets/base/colorBox/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/colorBox/_index.scss
  packages/devextreme/scss/widgets/fluent/colorBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_sizes.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/colorBox/_index.scss
  packages/devextreme/scss/widgets/material/colorBox/_sizes.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_sizes.scss
Owners: none

enable fluent visual tests
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

update dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

update path
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

Add ESM builds to devextreme-react
  packages/devextreme-react/gulpfile.js
Owners: none

fix after cherrypick
  ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers

fix
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
Owners: @DevExpress/devextreme-grids

small refactoring
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
Owners: @DevExpress/devextreme-grids

test
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Owners: @DevExpress/devextreme-grids

update etalons
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
Owners: @DevExpress/devextreme-grids

fix
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
Owners: @DevExpress/devextreme-grids

small refactoring
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
Owners: @DevExpress/devextreme-grids

test
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Owners: @DevExpress/devextreme-grids

update etalons
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
Owners: @DevExpress/devextreme-grids

Try to break tests
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none
