Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Move license-check to DomComponent
  packages/devextreme/js/core/component.js
  packages/devextreme/js/core/dom_component.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
Owners: none

get rid of deprecation messages in tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Owners: none

Move license-check to DomComponent (#26087)
  packages/devextreme/js/core/component.js
  packages/devextreme/js/core/dom_component.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
Owners: none

Fluent: fix delete button appearance in static item delete mode
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

update scenario
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

Improve renovate config and increase TestCafe stability (#26083)
  .github/renovate.json
  packages/devextreme/testing/testcafe/runner.js
Owners: @DevExpress/devextreme-devops

update height
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

Change titles of fields in ThemeBuilder after tech writer review (#26084)
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/checkBox/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/generic/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme/scss/widgets/generic/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/material/scheduler/_colors.scss
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (material-blue-light).png
Owners: none

feat(etalons): Update
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (material-blue-light).png
Owners: none

Tabs: Fix flex-basis
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_secondary.scss
Owners: none

feat(tabs): Add TestCafe tests
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

revert(tabs): Revert paddings
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
Owners: none

fix(tabs): Update tests
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

fix(etalons): Update etalons
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs text-overflow when height is limited (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs text-overflow when iconPosition is top (generic-light).png
Owners: none

fix(tabs): Paddings
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
Owners: none

fix(tabPanel)
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

Use secure context links
  packages/devextreme/js/core/utils/error.js
  packages/devextreme/testing/tests/DevExpress.core/utils.error.tests.js
  packages/devextreme/testing/tests/DevExpress.data/odataStore.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
Owners: none

remove redundant import
  packages/devextreme/scss/widgets/fluent/form/_index.scss
Owners: none

Fluent Form: remove redundant padding for special editors (#26075)
  packages/devextreme/scss/widgets/fluent/form/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup horizontal validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=hidden,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=hidden,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=hidden,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=top,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=floating,alignInAllGrp=false,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=floating,alignInAllGrp=false,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=floating,alignInAllGrp=true,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=floating,alignInAllGrp=true,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=outside,alignInAllGrp=false,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=outside,alignInAllGrp=false,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=outside,alignInAllGrp=true,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=outside,alignInAllGrp=true,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=floating, shwSmclnAfterlbl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=floating, shwSmclnAfterlbl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=outside, shwSmclnAfterlbl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=outside, shwSmclnAfterlbl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=static, shwSmclnAfterlbl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/show semicolon, lblMode=static, shwSmclnAfterlbl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/allday-and-reccurence-form_fluent.blue.light.png
Owners: none

Calendar - fix cellComponent props in React demo (#3045)
  Demos/Calendar/Overview/React/CustomCell.tsx
  Demos/Calendar/Overview/ReactJs/CustomCell.js
Owners: none

popup scrolling demo: remove custom color style (#3041)
  Demos/Popup/Scrolling/Angular/app/app.component.css
  Demos/Popup/Scrolling/React/styles.css
  Demos/Popup/Scrolling/ReactJs/styles.css
  Demos/Popup/Scrolling/Vue/App.vue
  Demos/Popup/Scrolling/jQuery/styles.css
Owners: none

HtmlEditor: fix toolbar focus for textbox (T1196805) (#26074)
  packages/devextreme/js/ui/html_editor/modules/toolbar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Owners: none

DataGrid: Fixes sending the same request twice when using filterValue and the lookup column (T1195882) (#26056)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fixes sending the same request twice when using filterValue and the lookup column (T1195882) (#26057)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fixes sending the same request twice when using filterValue and the lookup column (T1195882) (#26058)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Owners: none

Fluent: fix delete button appearance in static item delete mode (#26090)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance,collapsibleGroups=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none

fix
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/model/filterBuilder/index.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/data.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Owners: @DevExpress/devextreme-devops

fix
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Owners: none

Fix scrollview demo (#3040)
  Demos/ScrollView/Overview/React/App.tsx
  Demos/ScrollView/Overview/ReactJs/App.js
Owners: none

Fluent Form: prevent editors "jumping" in one column mode
  packages/devextreme/scss/widgets/base/_form.scss
  packages/devextreme/scss/widgets/generic/form/_index.scss
  packages/devextreme/scss/widgets/generic/form/_sizes.scss
  packages/devextreme/scss/widgets/material/form/_index.scss
  packages/devextreme/scss/widgets/material/form/_sizes.scss
Owners: none

Viz: fix labels background in candlestick series
  packages/devextreme/js/viz/series/financial_series.js
Owners: none

fix
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown.png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown.png
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Owners: none

Tabs: Fix flex-basis in Material && Add row-gap in Generic
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=primary (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/Tab item width in a bounded container, stylingMode=secondary (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs text-overflow when height is limited (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs text-overflow when iconPosition is top (generic-light).png
Owners: none

TabPanel: Fix text contrast && Remove nav checkbox
  Demos/TabPanel/Overview/Angular/app/app.component.css
  Demos/TabPanel/Overview/Angular/app/app.component.html
  Demos/TabPanel/Overview/Angular/app/app.component.ts
  Demos/TabPanel/Overview/React/App.tsx
  Demos/TabPanel/Overview/React/data.ts
  Demos/TabPanel/Overview/React/styles.css
  Demos/TabPanel/Overview/ReactJs/App.js
  Demos/TabPanel/Overview/ReactJs/data.js
  Demos/TabPanel/Overview/ReactJs/styles.css
  Demos/TabPanel/Overview/Vue/App.vue
  Demos/TabPanel/Overview/Vue/TaskItem.vue
  Demos/TabPanel/Overview/Vue/data.js
  Demos/TabPanel/Overview/jQuery/data.js
  Demos/TabPanel/Overview/jQuery/index.html
  Demos/TabPanel/Overview/jQuery/index.js
  Demos/TabPanel/Overview/jQuery/styles.css
Owners: none

fix material selector, update fluent etalon
  packages/devextreme/scss/widgets/material/form/_index.scss
  packages/devextreme/testing/testcafe/tests/form/etalons/Form item padding with screenByWidth=xs (fluent-blue-light).png
Owners: none

Fix material padding
  packages/devextreme/scss/widgets/material/form/_index.scss
Owners: none

Use secure context links (#26093)
  packages/devextreme/js/core/utils/error.js
  packages/devextreme/testing/tests/DevExpress.core/utils.error.tests.js
  packages/devextreme/testing/tests/DevExpress.data/odataStore.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
Owners: none

Fix test
  packages/devextreme/testing/tests/DevExpress.viz.core.series/financialSeries.tests.js
Owners: none

TabPanel: Get rid the showNavButtons prop
  Demos/TabPanel/Overview/Angular/app/app.component.html
  Demos/TabPanel/Overview/React/App.tsx
  Demos/TabPanel/Overview/ReactJs/App.js
  Demos/TabPanel/Overview/Vue/App.vue
  Demos/TabPanel/Overview/jQuery/index.js
Owners: none
