Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Fix some DataGrid tests
  apps/demos/testing/widgets/datagrid/CellEditingAndEditingAPI.test.js
  apps/demos/testing/widgets/datagrid/EditStateManagement.test.js
  apps/demos/testing/widgets/datagrid/MultipleRecordSelectionAPI.test.js
  apps/demos/testing/widgets/datagrid/RowEditingAndEditingEvents.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_4_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_6_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_6_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_remove_row_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_remove_row_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_remove_row_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_4_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_5_desktop (material.blue.light).png
Owners: none

Fix some DataGrid and List tests
  apps/demos/testing/widgets/datagrid/ColumnCustomization.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_cell_editing_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_remove_row_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_6_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_7_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_4_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_6_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_6_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_7_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_7_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_8_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_row_editing_and_editing_events_8_desktop (material.blue.light).png
  apps/demos/testing/widgets/list/ItemDragging.test.js
Owners: none

Research List.ItemDragging test. Update etalons.
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_4 (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/list/ItemDragging.test.js
Owners: none

Fix material invalid state border
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
Owners: none

refactor types
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/ui/collection/ui.collection_widget.live_update.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert material etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
Owners: none

Fix related inkRipple size
  packages/devextreme/scss/widgets/material/checkBox/_sizes.scss
Owners: none

add queue
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

fix visibility check
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Quill: Bump version to 1.7.1
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

Fix etalons
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_record_grouping_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_record_grouping_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_gridbox (material.blue.light).png
  apps/demos/testing/widgets/gauges/etalons/bargauge_hide_bars (material.blue.light).png
  apps/demos/testing/widgets/gauges/etalons/bargauge_show_bars (material.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after click on item, selectionMode=all (material.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_rtlenabled_true (material.blue.light).png
  apps/demos/testing/widgets/tabs/etalons/tabs_shownavbuttons_true (material.blue.light).png
  apps/demos/testing/widgets/toolbar/etalons/toolbar_singleline_mode_init (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-adaptive-checkbox.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with left position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with left position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with right position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with right position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with top position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with top position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be checked after enter press in multiple mode (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in multiple mode (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be checked after enter press (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be focused after tab press (material-blue-light).png
Owners: none

Splitter: create solution on focusing only necessary elements on react and angular demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
Owners: none

fix(package-lock): Update dep
  package-lock.json
Owners: none

Splitter: add demo test to check for focus style
  apps/demos/testing/widgets/splitter/Overview.test.js
Owners: none

Update T1179218-virtual-scrolling-dragging-row.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
Owners: none

fix test errors
  apps/demos/testing/widgets/splitter/Overview.test.js
Owners: none

Fix unnecessary changes
  apps/demos/Demos/Charts/ExportCustomMarkup/Angular/app/app.component.ts
  apps/demos/Demos/Charts/ExportCustomMarkup/React/App.tsx
Owners: none

Update App.tsx
  apps/demos/Demos/Charts/ExportCustomMarkup/React/App.tsx
Owners: none

Update material checkbox ripple size
  packages/devextreme/scss/widgets/material/checkBox/_sizes.scss
Owners: none

Quill: Bump version to 1.7.1
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

Accessibility: Reduce the number of testAccessibility configurations
  e2e/testcafe-devextreme/tests/accessibility/calendar.ts
  e2e/testcafe-devextreme/tests/accessibility/checkBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dateRangeBox.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
Owners: none

update etalons and fix lint issues
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane.png
Owners: none

Skip broken DataGrid tests
  apps/demos/testing/widgets/datagrid/ColumnCustomization.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

fix lint issue
  apps/demos/testing/widgets/splitter/Overview.test.js
Owners: none

fix checkbox dimensions in DataGrid
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
Owners: none

Skip some tests again
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop (material.blue.light).png
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

update etalons
  apps/demos/testing/etalons/DataGrid-CustomSummaries.png
  apps/demos/testing/etalons/DataGrid-DeferredSelection.png
  apps/demos/testing/etalons/TreeList-Overview.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_cell_editing_4_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_2_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_6_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_record_selection_and_API_7_desktop.png
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_gridbox.png
Owners: none

refactor react demo to use render instead of template
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
Owners: none

fix lint issue in test
  apps/demos/testing/widgets/splitter/Overview.test.js
Owners: none

fix styling issues in angular and vue demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
Owners: none

revert etalons
  apps/demos/testing/widgets/datagrid/etalons/datagrid_master_detail_view_2_desktop.png
  apps/demos/testing/widgets/toolbar/etalons/toolbar_singleline_mode_init (material.blue.light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be checked after enter press (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be focused after tab press (material-blue-light).png
Owners: none

testcafe demo tests: remove skipped in material theme
  apps/demos/testing/common.test.js
Owners: none

update etalons
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_appearance_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_record_grouping_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_gridbox (material.blue.light).png
  apps/demos/testing/widgets/gauges/etalons/bargauge_hide_bars (material.blue.light).png
  apps/demos/testing/widgets/toolbar/etalons/toolbar_singleline_mode_init (material.blue.light).png
Owners: none

fix styling issues in angular and vue demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
Owners: none

fix lint issue
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
Owners: none

fix chart demo
  apps/demos/Demos/Gauges/VariableNumberOfBars/test-styles.css
  packages/devextreme/scss/widgets/generic/checkBox/_sizes.scss
  packages/devextreme/scss/widgets/material/checkBox/_sizes.scss
Owners: none

update config
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Owners: @DevExpress/devextreme-devops

use default comparison options
  apps/demos/testing/common.test.js
Owners: none

update etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox states (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox states with column count style (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with bottom position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with left position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with left position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with right position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with right position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with top position (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/Checkbox validation message with top position (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in multiple mode (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be focused after tab press (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/TreeView selection cbm=normal,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/TreeView selection cbm=normal,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/TreeView selection cbm=selectAll,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/TreeView selection cbm=selectAll,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (material-blue-light).png
Owners: none

add masks and skip flucky demos
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_hidden_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_static_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_underlined_floating_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_underlined_hidden_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_underlined_outside_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_underlined_static_desktop (material.blue.light)_mask.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
