Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

remove renovation-npm folder
  build/gulp/transpile.js
  testing/renovation-npm/.gitignore
  testing/renovation-npm/.testcaferc.json
  testing/renovation-npm/angular-app/.browserslistrc
  testing/renovation-npm/angular-app/.editorconfig
  testing/renovation-npm/angular-app/.gitignore
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/karma.conf.js
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.css
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/assets/.gitkeep
  testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/favicon.ico
  testing/renovation-npm/angular-app/src/index.html
  testing/renovation-npm/angular-app/src/main.ts
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/src/styles.css
  testing/renovation-npm/angular-app/tsconfig.app.json
  testing/renovation-npm/angular-app/tsconfig.json
  testing/renovation-npm/angular-app/tsconfig.spec.json
  testing/renovation-npm/gulpfile.js
  testing/renovation-npm/package.json
  testing/renovation-npm/react-app/.env
  testing/renovation-npm/react-app/.gitignore
  testing/renovation-npm/react-app/README.md
  testing/renovation-npm/react-app/package.json
  testing/renovation-npm/react-app/public/index.html
  testing/renovation-npm/react-app/src/App.jsx
  testing/renovation-npm/react-app/src/index.jsx
  testing/renovation-npm/tests/.eslintrc
  testing/renovation-npm/tests/etalons/shot-angular.png
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/renovation-npm/tests/run-and-capture.test.js
Owners: none

R1 - remove testing/renovation-npm (#25507)
  build/gulp/transpile.js
  testing/renovation-npm/.gitignore
  testing/renovation-npm/.testcaferc.json
  testing/renovation-npm/angular-app/.browserslistrc
  testing/renovation-npm/angular-app/.editorconfig
  testing/renovation-npm/angular-app/.gitignore
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/karma.conf.js
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.css
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/assets/.gitkeep
  testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/favicon.ico
  testing/renovation-npm/angular-app/src/index.html
  testing/renovation-npm/angular-app/src/main.ts
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/src/styles.css
  testing/renovation-npm/angular-app/tsconfig.app.json
  testing/renovation-npm/angular-app/tsconfig.json
  testing/renovation-npm/angular-app/tsconfig.spec.json
  testing/renovation-npm/gulpfile.js
  testing/renovation-npm/package.json
  testing/renovation-npm/react-app/.env
  testing/renovation-npm/react-app/.gitignore
  testing/renovation-npm/react-app/README.md
  testing/renovation-npm/react-app/package.json
  testing/renovation-npm/react-app/public/index.html
  testing/renovation-npm/react-app/src/App.jsx
  testing/renovation-npm/react-app/src/index.jsx
  testing/renovation-npm/tests/.eslintrc
  testing/renovation-npm/tests/etalons/shot-angular.png
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/renovation-npm/tests/run-and-capture.test.js
Owners: none

Rename test file
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
Owners: @DevExpress/devextreme-grids

Form: fix for dateRangeBox and validation summary (#25502)
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

Form validation: 'reset form' button added (#2802)
  Demos/Form/Validation/Angular/app/app.component.css
  Demos/Form/Validation/Angular/app/app.component.html
  Demos/Form/Validation/Angular/app/app.component.ts
  Demos/Form/Validation/Angular/app/app.service.ts
  Demos/Form/Validation/React/App.js
  Demos/Form/Validation/React/data.js
  Demos/Form/Validation/React/styles.css
  Demos/Form/Validation/Vue/App.vue
  Demos/Form/Validation/Vue/data.js
  Demos/Form/Validation/jQuery/data.js
  Demos/Form/Validation/jQuery/index.js
  Demos/Form/Validation/jQuery/styles.css
Owners: none

HtmlEditor - Fix validation's aria labels rendering (#25476)
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Owners: none

implementation
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Try to use latest v18 Node.js
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/ts_declarations.yml
Owners: @DevExpress/devextreme-devops

feature: license checking
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/core/component.js
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.core/core.licensing.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update lock file
  package-lock.json
Owners: none

Revert "Update lock file"
  package-lock.json
Owners: none

Refactoring onRowUpdating test
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
Owners: @DevExpress/devextreme-grids

Fix branches order in renovate bot config. Remove .github folder from ignore paths
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

etalons
  packages/devextreme/testing/testcafe/tests/navigation/drawer/etalons/drawer_overlap_shading_TabPanelInner_#popup1.png
  packages/devextreme/testing/testcafe/tests/navigation/drawer/etalons/drawer_push_shading_TabPanelInner_#popup1.png
  packages/devextreme/testing/testcafe/tests/navigation/drawer/etalons/drawer_shrink_shading_TabPanelInner_#popup1.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar all widgets as template appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button via options.disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button via options.disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button via options.disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button via options.disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with invisible fields (generic-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with three invisible fields (generic-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with two invisible fields (generic-light).png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
Owners: none

etalons
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
Owners: none

Update renovate bot config to watch .github folder (#25512)
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Extend POM - add getLinkDelete method
  testing/testcafe/model/dataGrid/data/cell.ts
Owners: @DevExpress/devextreme-grids

Add onRowRemoving test
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
Owners: @DevExpress/devextreme-grids

update d.ts
  js/common/grids.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.png
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
Owners: none

add ESM building to package + add folder mapping
  packages/devextreme-react/gulpfile.js
Owners: none

Fix "Invalid value used as weak map key" error (T1186521)
  packages/devextreme-react/gulpfile.js
Owners: none

Fix "Invalid value used as weak map key" error (T1186521)
  packages/devextreme-react/gulpfile.js
  packages/devextreme-react/package.json
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
Owners: none

first and last header cell hover
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

remove
  packages/devextreme/playground/react/.gitignore
  packages/devextreme/playground/react/README.md
  packages/devextreme/playground/react/config/env.js
  packages/devextreme/playground/react/config/getHttpsConfig.js
  packages/devextreme/playground/react/config/jest/cssTransform.js
  packages/devextreme/playground/react/config/jest/fileTransform.js
  packages/devextreme/playground/react/config/modules.js
  packages/devextreme/playground/react/config/paths.js
  packages/devextreme/playground/react/config/pnpTs.js
  packages/devextreme/playground/react/config/webpack.config.js
  packages/devextreme/playground/react/config/webpackDevServer.config.js
  packages/devextreme/playground/react/package.json
  packages/devextreme/playground/react/public/index.html
  packages/devextreme/playground/react/scripts/start.js
  packages/devextreme/playground/react/src/App.tsx
  packages/devextreme/playground/react/src/index.tsx
  packages/devextreme/playground/react/src/react-app-env.d.ts
  packages/devextreme/playground/react/src/serviceWorker.js
  packages/devextreme/playground/react/tsconfig.json
  packages/devextreme/playground/vue/.gitignore
  packages/devextreme/playground/vue/README.md
  packages/devextreme/playground/vue/babel.config.js
  packages/devextreme/playground/vue/package.json
  packages/devextreme/playground/vue/public/favicon.ico
  packages/devextreme/playground/vue/public/index.html
  packages/devextreme/playground/vue/src/App.vue
  packages/devextreme/playground/vue/src/assets/logo.png
  packages/devextreme/playground/vue/src/main.js
  packages/devextreme/playground/vue/tsconfig.json
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

remove
  playground/react/.gitignore
  playground/react/README.md
  playground/react/config/env.js
  playground/react/config/getHttpsConfig.js
  playground/react/config/jest/cssTransform.js
  playground/react/config/jest/fileTransform.js
  playground/react/config/modules.js
  playground/react/config/paths.js
  playground/react/config/pnpTs.js
  playground/react/config/webpack.config.js
  playground/react/config/webpackDevServer.config.js
  playground/react/package.json
  playground/react/public/index.html
  playground/react/scripts/start.js
  playground/react/src/App.tsx
  playground/react/src/index.tsx
  playground/react/src/react-app-env.d.ts
  playground/react/src/serviceWorker.js
  playground/react/tsconfig.json
  playground/vue/.gitignore
  playground/vue/README.md
  playground/vue/babel.config.js
  playground/vue/package.json
  playground/vue/public/favicon.ico
  playground/vue/public/index.html
  playground/vue/src/App.vue
  playground/vue/src/assets/logo.png
  playground/vue/src/main.js
  playground/vue/tsconfig.json
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

remove unused file
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
Owners: none

fix screen reading for summaries
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Owners: none

add ability to focus footer
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Owners: none

fix outline
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
Owners: none

fix keyboard trap
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix test
  packages/devextreme/testing/testcafe/tests/dataGrid/summary.ts
Owners: none

fix review: extract variable
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

fix tests
  packages/devextreme/testing/testcafe/tests/dataGrid/summary.ts
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/group-summary-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/total-summary-focused.png
Owners: none

tests
  packages/devextreme/testing/testcafe/tests/dataGrid/summary.ts
Owners: none

DataGrid - fix focusing for groupFooter & footer (#25505)
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/group-summary-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/total-summary-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/summary.ts
Owners: none

click by popup
  packages/devextreme/testing/testcafe/tests/dataGrid/filterPanel.ts
Owners: none
