Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

update etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none

Update renovate to automatically merge minor and patch version updates (#26168)
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Update package-lock.json
  package-lock.json
Owners: none

Bump `devextreme-quill` version to 1.6.3 (#26165)
  package-lock.json
  package.json
Owners: none

Bump `devextreme-quill` version to 1.6.3 (#26166)
  package-lock.json
  package.json
Owners: none

Bump `devextreme-quill` version to 1.6.3 (#26167)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

workspace only
  packages/devextreme/testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

new etalons
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
Owners: none

Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736) (#26164)
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/views/month/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736) (#26164)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Owners: none

LoadPanel: outside click should not be propagated when shading enabled (T1194035)
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Owners: none

TagBox - Fix custom item rendering after deleting equal value(T1197444)
  packages/devextreme/js/ui/tag_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

TreeView - Fix rising onItemCollapsed event when 'collapseItem' called after expandAll(T1202248)
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

Fix blinking Form tests with DateRangeBox
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position auto for DateRangeBox before opening (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position left for DateRangeBox before opening (material-blue-light).png
Owners: none

Bugfix: TextBox - clear button doesn't work without focus out if a mask is applied [T1193735]
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
Owners: none

new etalon
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
Owners: none

Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736) (#26170)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736) (#26170)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

simplify test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057) (#26147)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: none

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057) (#26159)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057) (#26158)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Owners: @DevExpress/devextreme-grids

Fix QUnit performance tests
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
Owners: none

try to fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

debug
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

negative values should be displayed after multiple axes are synchronized to zero - (T1193670)
  packages/devextreme/js/viz/chart_components/multi_axes_synchronizer.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Owners: none

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553] (#26140)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553] (#26140)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553] (#26140)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736) (#26190)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

try to rework tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553] (#26195)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553] (#26194)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

skip test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Owners: none

Fix blinking Form tests with DateRangeBox (#26188)
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position auto for DateRangeBox before opening (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position left for DateRangeBox before opening (material-blue-light).png
Owners: none

test commit to see failed tests
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Owners: none

dxGantt: fix treeList null dates displaying (T1204937)
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/ganttParts/dataSource.tests.js
Owners: none

dxGantt: fix treeList null dates displaying (T1204937)
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/ganttParts/dataSource.tests.js
Owners: none

dxGantt: fix treeList null dates displaying (T1204937)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/dataSource.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
