Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Scheduler all day panel title migration (#27124)
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

refactor: add meta: tests
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/exportButton.ts
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/masterDetail.ts
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/selection.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/validationPopup.ts
  e2e/testcafe-devextreme/tests/editors/map/map.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/base/generic.ts
  e2e/testcafe-devextreme/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: none

refactor: add meta: ci
  e2e/testcafe-devextreme/runner.js
Owners: none

try: enable unstable tests
  e2e/testcafe-devextreme/runner.js
Owners: none

Scheduler all day panel title migration (#27124) (#27134)
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

Tabs: Set correct aria and remove aria from nested buttons
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

replace package-lock.json from CI artifacts
  package-lock.json
Owners: none

fix: set all artifacts in devextreme as outputs
  packages/devextreme/project.json
Owners: none

fix: update timeout
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

Scheduler: migrate TimePanelTable
  packages/devextreme/js/__internal/scheduler/__migration/components/base/time_panel_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/time_panel_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

remove GridBase on* props
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid / TreeList: Add types for nested RowDragging component
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/row-dragging.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/js/ui/tree_list.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

no docs
  tools/scripts/build-all.ts
Owners: none

no EventsIntegrityCheckingHelper
  packages/devextreme/js/ui/data_grid.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

no docs
  tools/scripts/build-all.ts
Owners: none

fix: targets full option
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

fix bundlers build
  e2e/bundlers/project.json
Owners: none

fix: remove --stop-agents-after=test
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

Skip exit on error (too early)
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

fix: add outputs to task
  e2e/testcafe-devextreme/package.json
  packages/testcafe-plugin/index.js
Owners: none

Update grouping.ts
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
Owners: none

Update grouping.ts
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
Owners: none

Update grouping.ts
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
Owners: none

Update grouping.ts
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
Owners: none

Update grouping.ts
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
Owners: none

feat: add profiling
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

add etalons
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (generic-light).png
Owners: none

feat: add lint task
  e2e/testcafe-devextreme/package.json
Owners: none

feat: add task to CI
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

update options at runtime for nested splitters
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

delete redundant tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
Owners: none

Create Grouped List with correct margin bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (material-blue-light).png
Owners: none

fix: add extension to eslint command
  e2e/testcafe-devextreme/package.json
Owners: none

gen: eslint --fix
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

Load Indicator / Load Panel: refactor testcafe and modify loadPanel get aria methods
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Owners: none

remove unused constant wrapper class
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Owners: none

Tagbox: refactor code based from PR comments
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

fix(test): set visibility to false
  e2e/testcafe-devextreme/tests/dataGrid/headerPanel.ts
Owners: none

remove disablePageReloads
  e2e/testcafe-devextreme/tests/dataGrid/bandColumns/runtimeChange.ts
  e2e/testcafe-devextreme/tests/dataGrid/builder.ts
  e2e/testcafe-devextreme/tests/dataGrid/columnChooser.ts
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/export/export.ts
  e2e/testcafe-devextreme/tests/dataGrid/exportButton.ts
  e2e/testcafe-devextreme/tests/dataGrid/filterPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/filterRow/filterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/markup.ts
  e2e/testcafe-devextreme/tests/dataGrid/grouping/grouping.ts
  e2e/testcafe-devextreme/tests/dataGrid/headerFilter/headerFilter.ts
  e2e/testcafe-devextreme/tests/dataGrid/headerPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/customButtons.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/markup.screenshots.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/masterDetail/index.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/group-panel/T1163515_alternateRowGroupBorders.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/iconSizes.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/markup.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/noDataText.ts
  e2e/testcafe-devextreme/tests/dataGrid/masterDetail.ts
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/selection.ts
  e2e/testcafe-devextreme/tests/dataGrid/sorting/sorting.ts
  e2e/testcafe-devextreme/tests/dataGrid/stateStoring/stateStoring.ts
  e2e/testcafe-devextreme/tests/dataGrid/summary.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/validationPopup.ts
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
Owners: none

using typed event instead of native
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
