Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

update drb etanol
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light-compact).png
Owners: none

Fix declaration
  packages/devextreme/js/ui/list/ui.list.edit.js
Owners: none

add 4 icons
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/fluent/dataarea.svg
  packages/devextreme/images/icons/fluent/datapie.svg
  packages/devextreme/images/icons/fluent/datatrending.svg
  packages/devextreme/images/icons/fluent/datausage.svg
  packages/devextreme/images/icons/generic/dataarea.svg
  packages/devextreme/images/icons/generic/datapie.svg
  packages/devextreme/images/icons/generic/datatrending.svg
  packages/devextreme/images/icons/generic/datausage.svg
  packages/devextreme/images/icons/material/dataarea.svg
  packages/devextreme/images/icons/material/datapie.svg
  packages/devextreme/images/icons/material/datatrending.svg
  packages/devextreme/images/icons/material/datausage.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

add note
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

Refactoring styles
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

Editor: validation mark should be centered (#25925)
  packages/devextreme/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined (fluent-blue-light).png
Owners: none

TreeList and DataGrid always show the W1025 warning regardless of the height option value or CSS limiting the component height (T1196939) (#25876)
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

Fix tests (part 2)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

Fix tests (part 2)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

Add etalon
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
Owners: @DevExpress/devextreme-grids

Add etalon
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
Owners: @DevExpress/devextreme-grids

add 4 icons +update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Owners: none

Box/ResponsiveBox baseSize option - Add string to accepted type (#25923)
  js/ui/box.d.ts
  js/ui/responsive_box.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Box/ResponsiveBox baseSize option - Add string to accepted type (#25920)
  packages/devextreme-angular/src/ui/box/index.ts
  packages/devextreme-angular/src/ui/nested/base/box-options.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/box.ts
  packages/devextreme-angular/src/ui/nested/col-dxi.ts
  packages/devextreme-angular/src/ui/nested/row-dxi.ts
  packages/devextreme-angular/src/ui/responsive-box/index.ts
  packages/devextreme-react/src/box.ts
  packages/devextreme-react/src/responsive-box.ts
  packages/devextreme/js/ui/box.d.ts
  packages/devextreme/js/ui/responsive_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

refactor solution
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

fix draggable item double paddings
  packages/devextreme/js/__internal/m_draggable.ts
Owners: none

Viz widgets - Fix fluent theme aliases
  packages/devextreme/js/viz/core/themes/fluent.js
Owners: none

add errorcircle icon
  packages/devextreme/images/icons/fluent/errorcircle.svg
  packages/devextreme/images/icons/generic/errorcircle.svg
  packages/devextreme/images/icons/material/errorcircle.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

colors for different states + sizes
  packages/devextreme/scss/widgets/fluent/toast/_colors.scss
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
  packages/devextreme/scss/widgets/fluent/toast/_sizes.scss
Owners: none

Toast(fluent theme) - Change height & text color
  packages/devextreme/scss/widgets/fluent/toast/_colors.scss
  packages/devextreme/scss/widgets/fluent/toast/_sizes.scss
Owners: none

fix shadow
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
Owners: none

add errorcircle icon +update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Owners: none

move header filter to filter folder
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/header_filter.ts
  packages/devextreme/js/ui/grid_core/ui.grid_core.header_filter.js
  packages/devextreme/js/ui/grid_core/ui.grid_core.header_filter_core.js
Owners: none

Viz widgets - Fix fluent theme aliases (#25945)
  packages/devextreme/js/viz/core/themes/fluent.js
Owners: none

extract sync lookup utils
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_sync_lookup_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
Owners: none

move closures up
  packages/devextreme/js/__internal/grids/grid_core/filter/m_sync_lookup_utils.ts
Owners: none

add some typing
  packages/devextreme/js/__internal/grids/grid_core/filter/m_sync_lookup_utils.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/filter/m_sync_lookup_utils.ts
Owners: none

remove overflow hidden from stack container
  packages/devextreme/scss/widgets/base/_toast.scss
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
Owners: none

Add styles
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887)
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: none

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887)
  js/__internal/grids/tree_list/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887)
  js/__internal/grids/tree_list/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

Fix tests
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

Fix tests (part 2)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

Add etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
Owners: none

DataGrid: Fix headerFilter variable declaration
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

DataGrid: Fix headerFilter variable declaration (#25931)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

List: select next item after deletion (#25864)
  packages/devextreme/js/ui/list/ui.list.edit.js
  packages/devextreme/testing/testcafe/tests/editors/list/focus.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none
