Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

change solution
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: none

revert some changes
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (material-blue-light-compact).png
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/current-time-indicator-in-day-with-many-groups.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/current-time-indicator-in-week-with-many-groups.png
Owners: none

new baselines for grid
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1167889-master-detail-with-scrolling.useNative=true-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-band_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-band_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-usual_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-usual_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-band_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-band_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-usual_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-usual_scrolling-virtual.png
Owners: none

Remove devDependencies from devextreme package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/gulp/npm.js
Owners: none

Update package-lock.json
  package-lock.json
Owners: none

Scheduler(T1180373): Rollback changes made in PR #23614. (#25315)
  packages/devextreme/js/renovation/component_wrapper/common/__tests__/component.test.tsx
  packages/devextreme/js/renovation/component_wrapper/common/mutations_recording.ts
  packages/devextreme/js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Scheduler(T1180373): Rollback changes made in PR #23614. (#25315)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/mutations_recording.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

fix(tabPanel): Update etalons && Fix hover tests
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=bottom (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=left (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=right (material-blue-light).png
Owners: none

Fix gulp npm task (#25344)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/gulp/npm.js
Owners: none

replace etalons
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup (material-blue-light).png
Owners: none

fix(tabPanel: TestCafe): Set disableFxAnimation: true
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

fix(tabs: TestCafe): Set disableFxAnimation: true
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

baselines changed
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1167889-master-detail-with-scrolling.useNative=true-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-theme.png
Owners: none

fix(tabPanel): Replace hovered nav button in rtl
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

TreeList: Replace 'treegrid' role to 'group' of the root container
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_widget_base.ts
  js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/localization/messages/en.json
  js/localization/messages/ru.json
  js/ui/tree_list/ui.tree_list.column_headers.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

revert(tabs && tabPanel): Remove disableFxAnimation: true
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

Small refactoring
  js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: @DevExpress/devextreme-grids

TreeList: Replace 'treegrid' role to 'group' of the root container
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_widget_base.ts
  js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/localization/messages/en.json
  js/localization/messages/ru.json
  js/ui/tree_list/ui.tree_list.column_headers.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

Small refactoring
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

TreeList: Replace 'treegrid' role to 'group' of the root container
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/ui/tree_list/ui.tree_list.column_headers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: none

fix(tabs && tabPanel): Remove animation
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
Owners: none

revert(tabPanel): Remove click on body
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

remove separation for contained mode in generic
  packages/devextreme/scss/widgets/base/buttonGroup/_mixins.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
Owners: none

add etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling toolbar button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling menu button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling overflow button (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after disabling toolbar button (material-blue-light).png
Owners: none

refactor
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
Owners: none

remove artifacts
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/artifacts/npm/devextreme/project.json
Owners: none

Revert "remove artifacts"
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/artifacts/npm/devextreme/project.json
Owners: none

revert
  packages/devextreme/package.json
Owners: none

revert
  packages/devextreme/artifacts/npm/devextreme/package.json
Owners: none

revert package json
  packages/devextreme/package.json
Owners: none

update etalon
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar appearance after cancel disabling menu button (material-blue-light).png
Owners: none

dirty fix
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
Owners: none

update etalons
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true-horizontal-grouping.png
Owners: none

fix qunit + rename vars
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
Owners: none

write test
  testing/testcafe/tests/scheduler/layout/timeIndication/currentTimeIndicator.ts
Owners: none

fix mistake in new test
  testing/testcafe/tests/scheduler/layout/timeIndication/currentTimeIndicator.ts
Owners: none

add etalons
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/current-time-indicator-in-day-with-many-groups.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/current-time-indicator-in-week-with-many-groups.png
Owners: none

dirty fix
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
Owners: none
