Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Change generic bg
  packages/devextreme/scss/widgets/generic/checkBox/_index.scss
Owners: none

DataGrid: Add displayValue and text properties for editCellTemplate (T1226432) (#27238)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

DataGrid: Add displayValue and text properties for editCellTemplate (T1226432) (#27238)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

Fix 3rd level visibility bug on iOS
  packages/devextreme/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Create padding parameter
  packages/devextreme/scss/widgets/base/checkBox/_mixins.scss
Owners: none

Unify material theme
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
Owners: none

Refactor fluent theme
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

Refactor generic theme
  packages/devextreme/scss/widgets/generic/checkBox/_index.scss
Owners: none

allow specifying custom styles for the Trial Panel
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
Owners: none

Refactor material variables
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
Owners: none

Fix border color
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
Owners: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Change font size to even number
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
Owners: none

Change font size to even number
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
Owners: none

refactor
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

Skip exit on error (too early)
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Menu and ContextMenu scrolling: fix 3rd level visibility bug on iOS (#27263)
  packages/devextreme/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

Revert to 7px
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
Owners: none

Revert to 7px
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
Owners: none

Bump devextreme-internal-tools to 14.0.0-beta.1
  package-lock.json
  package.json
Owners: none

Revert "Skip exit on error (too early)"
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

DataGrid: Add displayValue and text properties for editCellTemplate (T1226432) (#27261)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

DataGrid: Add displayValue and text properties for editCellTemplate (T1226432) (#27262)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

try new variant
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

chore: refactor trial panel (#27232)
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
  packages/devextreme/js/__internal/utils/version.ts
Owners: none

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249)
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Owners: none

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249)
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Owners: none

Scheduler(T1203033): fix in fullscreen popup scrollable [accidentally missed commit]
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Owners: none

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249)
  js/__internal/scheduler/header/m_calendar.ts
Owners: none

Create a global private option
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Replace isEqualLocalTimeZoneByDeclaration
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
Owners: none

Scheduler(T1203033): fullscreen popup issue, add missing commit (#27267)
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Owners: none

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249) (#27265)
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Owners: none

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249) (#27266)
  js/__internal/scheduler/header/m_calendar.ts
Owners: none

Invalid date fix
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Owners: none

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Owners: none

Throw errors in unexpected scenarios
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

Remove unused code
  packages/devextreme/build/gulp/create_timezones_data.js
  packages/devextreme/gulpfile.js
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  packages/devextreme/js/__internal/scheduler/timezones/timezones_data.ts
Owners: none

Skip test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Owners: none
