Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

dxGantt: cleanup deps versions, update node version in core package
  package-lock.json
  package.json
Owners: none

TabPanel: Add tabsPosition option
  .github/workflows/devextreme_vue_tests.yml
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tab-panel.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-devops, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxGantt: cleanup deps versions, update node version in core package
  package-lock.json
  packages/devextreme/package.json
Owners: none

revert(styleCompiler): Revert style compiler
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

fix(tabs && tabPanel): Fix bugs && Fix styles
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

revert(tabs): Revert old removing method
  packages/devextreme/js/ui/tabs.js
Owners: none

fix(tabPanel: TestCafe): Fix typo
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

fix(tabPanel): Set is okay when tabs is focused
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/focus.ts
Owners: none

fix(tabs && tabPanel): Fix tabs wrapper borders
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tabs/_base.scss
Owners: none

revert(playground): Revert PG
  packages/devextreme/playground/jquery.html
Owners: none

revert(tabPanel && tabs): Revert update focus && Refactor remove class
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/focus.ts
Owners: none

TabPanel/Tabs: Add styles for different tabs positions (Generic)
  packages/devextreme/build/gulp/styles/style-compiler.js
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabPanel.scss
Owners: none

fix(tabs): Fix typo
  packages/devextreme/js/ui/tabs.js
Owners: none

fix(tabPael): Fix tabs wrapper height
  packages/devextreme/scss/widgets/base/_tabPanel.scss
Owners: none

feat(etalons): Add etalons for tabsPosition
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has active state, tabsPosition=bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has active state, tabsPosition=left (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has active state, tabsPosition=right (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=left (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when 1 item has hover state, tabsPosition=right (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its available item has focus, tabsPosition=bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its available item has focus, tabsPosition=left (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its available item has focus, tabsPosition=right (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its disabled item has focus, tabsPosition=bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its disabled item has focus, tabsPosition=left (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its disabled item has focus, tabsPosition=right (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel without focus, tabsPosition=bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel without focus, tabsPosition=left (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel without focus, tabsPosition=right (generic-light).png
Owners: none

fix(tabPanel): Fix borders with nav buttons
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
Owners: none

fix(tabPanel): Set is okay when tabs is focused 2
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/focus.ts
Owners: none

fix(tabPanel): Fix double borders around disabled tab
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
Owners: none

feat(tabPanele): Add top, bottom and draft left
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-bottom.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-left.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-top.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-bottom.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-top.scss
Owners: none

fix(tabPanel): Fix && Add tests
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

feat(tabPanel): Add right position
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-right.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-right.scss
Owners: none

fix(tabs && tabPanel): Fix borders
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_position-right.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_vertical.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tabs/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tabs/_vertical.scss
Owners: none

fix(etalon): Update etalon
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel when its disabled item has focus, tabsPosition=right (generic-light).png
Owners: none

revert(tabPanel): Remove extra test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

feat(tabPanel): Add screenshot tests
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
Owners: none

Resolve devexpress-gantt versions in package-lock.json
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
Owners: none

Sync script changes from hg (#25338)
  packages/devextreme/package.json
Owners: none

dxGantt: cleanup deps versions, update node version in core package (#25341)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

Form: declaration for reset function (#25258)
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxGantt: cleanup deps versions, update node version in core package (#25339)
  package-lock.json
  package.json
Owners: none

dxGantt: cleanup deps versions, update node version in core package (#25340)
  package-lock.json
  package.json
Owners: none

Update packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
Owners: none

jQuery playground: fix path to the axe script.
  packages/devextreme/playground/jquery.html
Owners: none

fix grid styles
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

jQuery playground: fix path to the axe script. (#25317)
  packages/devextreme/playground/jquery.html
Owners: none

DataGrid - Rows are scrolled to the right when scrolling down and focus is on a column header that is far right (T1181439) (#25320)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/ui/shared/accessibility.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Rows are scrolled to the right when scrolling down and focus is on a column header that is far right (T1181439) (#25321)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/ui/shared/accessibility.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

replace etalon
  testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Owners: @DevExpress/devextreme-grids

replace etalon
  testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Owners: @DevExpress/devextreme-grids

Remove magic constant from calculation
  packages/devextreme/js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
Owners: none
