Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Add invalid state class
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Set definite container size
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Splitter: change Pane.visible option at runtime
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

address Ilya's feedback
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
  packages/devextreme/js/__internal/utils/version.ts
  packages/devextreme/js/core/trial_panel.js
Owners: none

Create scaling test
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Remove .only
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

fix effects in new React wrappers
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/component.tsx
  packages/devextreme-react/src/core/extension-component.tsx
Owners: none

Splitter: non resizable panes shouldn't change their sizes during resize (#27221)
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/resize.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Review fixes
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

DEMOS. fix configs add umd generators fix devextreme.angular.systemjs bundling
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Angular/config.js
  apps/demos/package.json
  apps/demos/rollup.devextreme-angular.umd.config.mjs
  apps/demos/rollup.ng.umd.config.mjs
  apps/demos/utils/bundle/index.js
  apps/demos/utils/internal/create-config.js
Owners: none

update common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Remove old etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different iconSizes (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations different rtlOrientation and width (material-blue-light-compact).png
Owners: none

Fix typo
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Owners: none

Add new etalons
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
Owners: none

Splitter: change Pane.visible option at runtime (#27226)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Tests fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

CheckBox: Test all configuration using TestCafe (#27224)
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
Owners: none

update roughEqual
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

DEMOS. fix bundle/index.js update README
  apps/demos/README.md
  apps/demos/package.json
  apps/demos/utils/bundle/index.js
  package-lock.json
Owners: none

Splitter: fix collapsed, rtl issues (#27206)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Menu scrolling: extend show and hide handlers API (update .d.ts files) (#27210)
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid: Fix rows overlapping each other when dragging when virtual scrolling is enabled and rowDragging.dropFeedbackMode = "push"' (T1179218) (#27181)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Owners: none

Fix convert-to-js script CI error (#27225)
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

Splitter: non resizable panes shouldn't change their sizes during resize (#27221)
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/resize.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Splitter: change Pane.visible option at runtime (#27226)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

CheckBox: Test all configuration using TestCafe (#27224)
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
Owners: none

Adjust padding
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

DEMOS. Update to Angular 17
  apps/demos/Demos/Gantt/ChartAppearance/Angular/app/app.component.ts
  apps/demos/Demos/Gantt/TaskTemplate/Angular/app/app.component.ts
  apps/demos/Demos/HtmlEditor/Mentions/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/README.md
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Angular/config.js
  apps/demos/package.json
  apps/demos/rollup.devextreme-angular.umd.config.mjs
  apps/demos/rollup.ng.umd.config.mjs
  apps/demos/utils/bundle/index.js
  apps/demos/utils/internal/create-config.js
  package-lock.json
Owners: none

DEMOS. Update to Angular 17 +update package-lock.json
  package-lock.json
Owners: none

Adjust padding
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

DX-NG. Update to Angular 17 +regenerate
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-angular/src/ui/splitter/ng-package.json
Owners: none

Adjust padding
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
Owners: none

DX-NG. Update to Angular 17 + fix creating angular bundle
  apps/demos/package.json
  apps/demos/utils/bundle/index.js
Owners: none

DX-NG. Update to Angular 17 + disable ts checking in scheduler test
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/apiCallbacks.ts
Owners: none

DEMOS. Update to Angular 17 + fix workflow. Not error mkdir if folder exist
  .github/workflows/demos_visual_tests_frameworks.yml
Owners: @DevExpress/devextreme-devops

DEMOS. Update to Angular 17 + refactor config.bundle.js
  apps/demos/configs/Angular/config.bundle.js
Owners: none

DEMOS. Update to Angular 17 + disable lint ban ts comment
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/apiCallbacks.ts
Owners: none

Add converted JS files
  apps/demos/Demos/Common/EditorAppearanceVariants/ReactJs/App.js
  apps/demos/Demos/DataGrid/ColumnResizing/ReactJs/App.js
  apps/demos/Demos/Form/CustomizeItem/ReactJs/App.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/App.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/data.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/index.html
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/index.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/styles.css
  apps/demos/Demos/Sortable/Customization/ReactJs/App.js
Owners: none

TagBox: fix issue on tag aria-label being numerical instead of tagText (#27157)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Fix remove import file extension
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/App.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/data.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/index.html
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/index.js
  apps/demos/Demos/SelectBox/SearchAndEditing/ReactJs/styles.css
Owners: none
