Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix(pl)
  packages/devextreme/js/localization/messages/pl.json
Owners: none

fix(pl)
  packages/devextreme/js/localization/messages/pl.json
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position auto for DateRangeBox before opening (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position auto for DateRangeBox before opening (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/The validation message overlay position left for DateRangeBox before opening (material-blue-light).png
Owners: none

add types for reset method of ProgressBar and FileUploader
  packages/devextreme/js/ui/file_uploader.d.ts
  packages/devextreme/js/ui/progress_bar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TextArea: Placeholder is not removed when text is inserted into a field and the current browser tab is duplicated (T1187078) (#26026)
  js/ui/text_area.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.markup.tests.js
Owners: none

TextArea: Placeholder is not removed when text is inserted into a field and the current browser tab is duplicated (T1187078) (#26023) (#26027)
  js/ui/text_area.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.markup.tests.js
Owners: none

Gallery - Content should not be moved on focus state
  packages/devextreme/scss/widgets/base/_gallery.scss
  packages/devextreme/scss/widgets/fluent/gallery/_index.scss
  packages/devextreme/scss/widgets/generic/gallery/_index.scss
  packages/devextreme/scss/widgets/material/gallery/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

Use major version of Node.js in workflows (#26014)
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/ts_declarations.yml
  ports.json
Owners: @DevExpress/devextreme-devops

fix(tabs): Update testCafe test
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/focus.ts
Owners: none

fix(etalons): Update && Add new
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none

Revert "Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901)"
  js/common.d.ts
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add @deprecated tag
  js/common.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler day length: Add QUnit test for DST issues.
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/types.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/base.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/timeline_week.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/week.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.viewOffset.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

visualize content of gallery
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

revert(tabs: Fluent): Come back icon sizes
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
Owners: none

TextBox: the caret should be moved after input even if maskChar is empty (T1197442) (#26009)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

rework tests
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

TextBox: the caret should be moved after input even if maskChar is empty (T1197442) (#26009)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

Scheduler day length: Skip failed test cases in Australia/ACT timezone.
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.viewOffset.tests.js
Owners: none

TextBox: the caret should be moved after input even if maskChar is empty (T1197442) (#26009)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

update etalon
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=left,lVis=true,lAl=center,e.lMode=undefined,e.sMode=outlined (material-blue-light).png
Owners: none

fix screenshot size
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

fix(etalons): Update
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (fluent-blue-light-compact).png
Owners: none

TextBox: the caret should be moved after input even if maskChar is empty (T1197442) (#26031)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

TextBox: the caret should be moved after input even if maskChar is empty (T1197442) (#26030)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

Convert vue Diagram Demos to Composition API (#2994)
  Demos/Diagram/Adaptability/Vue/App.vue
  Demos/Diagram/Adaptability/Vue/index.html
  Demos/Diagram/AdvancedDataBinding/Vue/App.vue
  Demos/Diagram/AdvancedDataBinding/Vue/index.html
  Demos/Diagram/Containers/Vue/App.vue
  Demos/Diagram/Containers/Vue/index.html
  Demos/Diagram/CustomShapesWithIcons/Vue/App.vue
  Demos/Diagram/CustomShapesWithIcons/Vue/index.html
  Demos/Diagram/CustomShapesWithTemplates/Vue/App.vue
  Demos/Diagram/CustomShapesWithTemplates/Vue/CustomShapeTemplate.vue
  Demos/Diagram/CustomShapesWithTemplates/Vue/index.html
  Demos/Diagram/CustomShapesWithTemplatesWithEditing/Vue/App.vue
  Demos/Diagram/CustomShapesWithTemplatesWithEditing/Vue/CustomShapeTemplate.vue
  Demos/Diagram/CustomShapesWithTemplatesWithEditing/Vue/CustomShapeToolboxTemplate.vue
  Demos/Diagram/CustomShapesWithTemplatesWithEditing/Vue/index.html
  Demos/Diagram/CustomShapesWithTexts/Vue/App.vue
  Demos/Diagram/CustomShapesWithTexts/Vue/index.html
  Demos/Diagram/ImagesInShapes/Vue/App.vue
  Demos/Diagram/ImagesInShapes/Vue/index.html
  Demos/Diagram/ItemSelection/Vue/App.vue
  Demos/Diagram/ItemSelection/Vue/index.html
  Demos/Diagram/NodesAndEdgesArrays/Vue/App.vue
  Demos/Diagram/NodesAndEdgesArrays/Vue/index.html
  Demos/Diagram/NodesArrayHierarchicalStructure/Vue/App.vue
  Demos/Diagram/NodesArrayHierarchicalStructure/Vue/index.html
  Demos/Diagram/NodesArrayPlainStructure/Vue/App.vue
  Demos/Diagram/NodesArrayPlainStructure/Vue/index.html
  Demos/Diagram/OperationRestrictions/Vue/App.vue
  Demos/Diagram/OperationRestrictions/Vue/index.html
  Demos/Diagram/Overview/Vue/App.vue
  Demos/Diagram/Overview/Vue/index.html
  Demos/Diagram/ReadOnly/Vue/App.vue
  Demos/Diagram/ReadOnly/Vue/index.html
  Demos/Diagram/SimpleView/Vue/App.vue
  Demos/Diagram/SimpleView/Vue/index.html
  Demos/Diagram/UICustomization/Vue/App.vue
  Demos/Diagram/UICustomization/Vue/index.html
  Demos/Diagram/WebAPIService/Vue/App.vue
  Demos/Diagram/WebAPIService/Vue/index.html
Owners: none

change width
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

screenshots added
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (material-blue-light).png
Owners: none

Form Validation Demo: fix button alignment in one column mode (#3007)
  Demos/Form/Validation/Angular/app/app.component.css
  Demos/Form/Validation/React/styles.css
  Demos/Form/Validation/ReactJs/styles.css
  Demos/Form/Validation/Vue/App.vue
  Demos/Form/Validation/jQuery/styles.css
Owners: none

DateRangeBox: hover style should be applied on second date pick in disableDatesOutOfRange mode
  packages/devextreme/js/ui/calendar/ui.calendar.js
Owners: none

add test
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/calendar.ts
Owners: none

update etanol
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (material-blue-light).png
Owners: none

Revert "update etanol"
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (material-blue-light).png
Owners: none

update etanol
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/Hover styles on second date pick (material-blue-light).png
Owners: none

Tabs: Reduce icon size in Compact themes
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/material/tabs/variables/_sizes.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs with width auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none

Log devextreme-demos top commit
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

add hover etanol
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light-compact).png
Owners: none

Revert "add hover etanol"
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light-compact).png
Owners: none

reupdate etanol
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.strategy.tests.js
Owners: none

Fix remarks
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Owners: none
