Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
Owners: none

Fix angular playground (#25731)
  playgrounds/angular/package.json
  playgrounds/angular/src/app/app.module.ts
  playgrounds/angular/tsconfig.json
  tsconfig.json
Owners: none

DataGrid/TreeList - Fluent theme - Changes of colors (#25732)
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/scss/widgets/base/treeList/_index.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/widget/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/generic/widget/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/widget/_index.scss
  packages/devextreme/testing/testcafe/tests/container.html
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is #grid, after scrolling (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is #grid, before scrolling (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is undefined, after scrolling (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is undefined, before scrolling (fluent-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

renaming
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

FormsAndMultiPurposeOverview: get rid of custom background (#2867)
  Demos/Common/FormsAndMultiPurposeOverview/Angular/app/app.component.css
  Demos/Common/FormsAndMultiPurposeOverview/Angular/app/app.component.html
  Demos/Common/FormsAndMultiPurposeOverview/AngularJS/index.js
  Demos/Common/FormsAndMultiPurposeOverview/AngularJS/styles.css
  Demos/Common/FormsAndMultiPurposeOverview/React/App.js
  Demos/Common/FormsAndMultiPurposeOverview/React/styles.css
  Demos/Common/FormsAndMultiPurposeOverview/Vue/App.vue
  Demos/Common/FormsAndMultiPurposeOverview/jQuery/index.js
  Demos/Common/FormsAndMultiPurposeOverview/jQuery/styles.css
Owners: none

styles changed
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Owners: none

baselines for slider
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (material-blue-light).png
Owners: none

update font icons in material
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
Owners: none

Update Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
Owners: none

Slider: getting rid of custom tooltips styles in material and fluent (#25726)
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Owners: none

TreeView: fix selectByClick selection after changing showCheckboxesMode to 'selectAll' at runtime (T1190412) (#25713)
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/js/ui/tree_view/ui.tree_view.search.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

Icons: update `bookmark` icon and and `arrowback` icon (#25733)
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/fluent/arrowback.svg
  packages/devextreme/images/icons/generic/arrowback.svg
  packages/devextreme/images/icons/generic/bookmark.svg
  packages/devextreme/images/icons/material/arrowback.svg
  packages/devextreme/images/icons/material/bookmark.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
Owners: none

DropDownEditor: Add flex-box into dropdown button
  packages/devextreme/scss/widgets/base/dropDownEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/selectBox/actionButton.ts
  packages/devextreme/testing/testcafe/tests/editors/selectBox/etalons/SelectBox Customize DropDown Button (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/selectBox/etalons/SelectBox Customize DropDown Button (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/selectBox/etalons/SelectBox Customize DropDown Button (material-blue-light).png
Owners: none

TreeView: fix selectByClick selection after changing showCheckboxesMode to 'selectAll' at runtime (T1190412) (#25713)
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

fix select by click
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

Resolve svg path as node src attr (fails in WG) (#2819)
  Demos/SelectBox/CustomizeDropDownButton/Vue/App.vue
Owners: none

Tabs: move role attr to wrapper to fix Axe error
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Owners: none

Build alias
  package.json
Owners: none

TreeView: fix selectByClick selection after changing showCheckboxesMode to 'selectAll' at runtime (T1190412) (#25735)
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

TreeView: fix selectByClick selection after changing showCheckboxesMode to 'selectAll' at runtime (T1190412) (#25736)
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Owners: none

DataGrid - Opening an editor with the Enter key is inconsistent when scrolling is enabled (T1190668) (#25720)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Opening an editor with the Enter key is inconsistent when scrolling is enabled (T1190668) (#25719)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - fix test name (#25718)
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: none

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856)
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

fix icon color
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

fix sizing
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

remove cycle deps. Move Font to common
  js/common/charts.d.ts
  js/viz/bar_gauge.d.ts
  js/viz/chart.d.ts
  js/viz/common.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/funnel.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/pie_chart.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DropDownButton: types
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/js/ui/drop_down_button_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix unnecessary paddings
  packages/devextreme/scss/widgets/base/_gridBase.scss
Owners: none

fix tagbox in generic
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/generic/tagBox/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_sizes.scss
Owners: none

Update toolbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

Fluent: Scheduler - CSS fixes (part 3) (#2874)
  Demos/Scheduler/GroupByDate/Angular/app/app.component.html
  Demos/Scheduler/GroupByDate/React/App.js
  Demos/Scheduler/GroupByDate/Vue/App.vue
  Demos/Scheduler/GroupByDate/jQuery/index.js
  Demos/Scheduler/Overview/Angular/app/app.component.css
  Demos/Scheduler/Overview/React/styles.css
  Demos/Scheduler/Overview/Vue/DataCell.vue
  Demos/Scheduler/Overview/Vue/ResourceCell.vue
  Demos/Scheduler/Overview/jQuery/styles.css
Owners: none

header fields
  packages/devextreme/scss/widgets/fluent/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
Owners: none

icon size
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
Owners: none

fixes
  js/viz/bar_gauge.d.ts
  js/viz/chart.d.ts
  js/viz/common.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/funnel.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/pie_chart.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856) (#25740)
  packages/devextreme/js/ui/toolbar/strategy/toolbar.singleline.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856) (#25740)
  js/ui/toolbar/strategy/toolbar.singleline.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856) (#25740)
  js/ui/toolbar/strategy/toolbar.singleline.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856) (#25740) (#25744)
  js/ui/toolbar/strategy/toolbar.singleline.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none

Toolbar: buttons declared via template should be hidden if there is no enough free space for them (T1191856) (#25740) (#25743)
  js/ui/toolbar/strategy/toolbar.singleline.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Owners: none
