Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Add test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Owners: none

Add more tests
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Owners: none

Add fix
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
Owners: none

Update etalons
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (generic-light).png
Owners: none

Scheduler(T1192564): Fix allDayPanelMode option runtime issue. (#26263)
  js/__internal/scheduler/m_scheduler.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/allDayPanel/allDayPanelMode.ts
Owners: none

Scheduler(T1192564): Fix allDayPanelMode option runtime issue. (#26264)
  js/__internal/scheduler/m_scheduler.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/allDayPanel/allDayPanelMode.ts
Owners: none

Cherry-pick T1204120 (#26274)
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (generic-light).png
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Owners: @DevExpress/devextreme-techwriters

Remove absent package from lock file
  package-lock.json
Owners: none

Scheduler(T1202735): Remove redundant console.log
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
Owners: none

Scheduler(T1202735 + T1205763 + ⁠⁠T1205768 + T1205772): Fix current time indicator related issues (#26197)
  packages/devextreme/js/__internal/core/utils/date.test.ts
  packages/devextreme/js/__internal/core/utils/math.test.ts
  packages/devextreme/js/__internal/core/utils/math.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/props.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none

Fix custom.config
  packages/devextreme/build/gulp/bundler-config.js
Owners: none

Refactor
  packages/devextreme/build/gulp/bundler-config.js
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/build/gulp/utils.js
Owners: none

Refactor
  packages/devextreme/build/gulp/bundler-config.js
  packages/devextreme/build/gulp/npm.js
Owners: none

Calendar: it should not be possible to focus dates that are disabled using combination of disabledDates+min/max
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

Remove absent package from lock file (#26277)
  package-lock.json
Owners: none

refactor
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Set retention period
  .github/workflows/packages_publishing.yml
Owners: @DevExpress/devextreme-devops

Form: prevent DropDownBox from losing its value after the Form is resized (T1196835)
  packages/devextreme/js/ui/drop_down_box.js
  packages/devextreme/js/ui/form/ui.form.js
Owners: none

Add env variables for inputs
  .github/workflows/packages_publishing.yml
Owners: @DevExpress/devextreme-devops

Grouped list - Add test for rtl mode (#26002)
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly (#26232)
  packages/devextreme/js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.dialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Owners: none

T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly (#26275)
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Owners: none

T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly (#26276)
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Owners: none

Fix dx.custom.config.js missing from internal packages (#26278)
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/build/gulp/utils.js
Owners: none

fix performance
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Fix scheduled packages publishing (#26281)
  .github/workflows/packages_publishing.yml
Owners: @DevExpress/devextreme-devops

refactoring
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Update widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

formatting
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

typo
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Update widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Update widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Release 22.1.12
  drone-cache.sh
Owners: none

DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166) (#26249)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: none

DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166) (#26249)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166) (#26249)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Owners: @DevExpress/devextreme-grids

Calendar: it should not be possible to focus dates that are disabled using combination of disabledDates+min/max (#26279)
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
Owners: @DevExpress/devextreme-grids

Add etalon
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Owners: @DevExpress/devextreme-grids
