Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

isDirty change handler
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form/ui.form.js
Owners: none

is dirty check added
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/js/ui/range_slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

test changed since isDirty prop change occur on value change
  packages/devextreme/testing/tests/DevExpress.angular/modelIntegration.tests.js
Owners: none

tests and refactoring
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

T1178847: Change attr -> removeAttr in the PivotGrid render.
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Owners: none

DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207) (#25153)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

rename multi to multiple
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

RadioGroup: fix blinking testcafe test
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/common.ts
Owners: none

restore value after selectionMode change
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.single.selection.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Owners: none

fix styles
  packages/devextreme/scss/widgets/base/_icons.scss
Owners: none

pass single selectionMode to calendar config in dateBox
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

replace etalons
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

fix ts error
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/common.ts
Owners: none

RadioGroup: fix blinking testcafe test
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

RadioGroup: fix blinking testcafe test
  testing/testcafe/tests/editors/radioGroup/common.ts
Owners: none

update etalons
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

Use logical css properties in styles
  packages/devextreme/scss/widgets/base/_icons.scss
Owners: none

List: add extra div with list items inside scrollView (#25147)
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
  packages/devextreme/js/ui/collection/ui.collection_widget.live_update.js
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.reorder.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/list/_index.scss
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Owners: none

DataGrid: Fix noDataText not being centered if stateStoring is enabled and dataSource is not supplied (T1178289) (#25130)
  js/__internal/grids/grid_core/m_utils.ts
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  testing/testcafe/tests/dataGrid/markup/noDataText.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix noDataText not being centered if stateStoring is enabled and dataSource is not supplied (T1178289) (#25130)
  js/__internal/grids/grid_core/m_utils.ts
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  testing/testcafe/tests/dataGrid/markup/noDataText.ts
Owners: @DevExpress/devextreme-grids

cherry-pick
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/noDataText.ts
Owners: none

fix review
  packages/devextreme/js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
Owners: none

Form: prepare declaration for isDirty prop (#25067)
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/angular.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/react.tsconfig.json
  packages/devextreme/build/gulp/renovation-npm/.gitignore
  packages/devextreme/build/gulp/renovation-npm/common-steps.js
  packages/devextreme/build/gulp/renovation-npm/data/messages.js
  packages/devextreme/build/gulp/renovation-npm/index.js
  packages/devextreme/build/gulp/renovation-npm/package.json
  packages/devextreme/build/gulp/renovation-npm/remove-unused-modules.js
  packages/devextreme/build/gulp/renovation-npm/replacements-import.js
  packages/devextreme/build/gulp/renovation-npm/replacements-package.js
  packages/devextreme/build/gulp/renovation-npm/steps-angular.js
  packages/devextreme/build/gulp/renovation-npm/steps-react.js
  packages/devextreme/build/gulp/renovation-npm/utils/create-gulp-file.js
  packages/devextreme/build/gulp/renovation-npm/utils/index.js
  packages/devextreme/build/gulp/renovation-npm/utils/version-utils.js
  packages/devextreme/build/gulp/renovation-testing-playground.js
  packages/devextreme/gulpfile.js
  packages/devextreme/jest.config.js
  packages/devextreme/renovation.tsconfig.json
Owners: @DevExpress/devextreme-devops

FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596) (#25085)
  packages/devextreme/js/ui/filter_builder/utils.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Owners: none

DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207) (#25167)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207) (#25166)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

RadioGroup: fix blinking testcafe test (#25170)
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

RadioGroup: fix blinking testcafe test (#25169)
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

RadioGroup: fix blinking testcafe test (#25168)
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/common.ts
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Owners: none

Icons: refactor build cycle (#25151)
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/material/icons/_index.scss
Owners: none

fix isDirty for dataRangeBox
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

implementation
  js/__internal/grids/data_grid/export/m_export.ts
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/dataGrid/export/export.ts
Owners: @DevExpress/devextreme-grids

PivotGrid(T1178847): shows CSP errors in the console when jQuery is referenced (#25165)
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Owners: none

PivotGrid(T1178847): shows CSP errors in the console when jQuery is referenced (#25165)
  js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Owners: @DevExpress/devextreme-grids

PivotGrid(T1178847): shows CSP errors in the console when jQuery is referenced (#25165)
  js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Owners: @DevExpress/devextreme-grids

Correct @type doc tags on Event Types members (#25157)
  js/common/grids.d.ts
  js/events/index.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/draggable.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/editor/editor.d.ts
  js/ui/gantt.d.ts
  js/ui/list.d.ts
  js/ui/sortable.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tree_list.d.ts
  js/viz/bar_gauge.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/gauges/base_gauge.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/angular.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/react.tsconfig.json
  packages/devextreme/build/gulp/renovation-npm/.gitignore
  packages/devextreme/build/gulp/renovation-npm/common-steps.js
  packages/devextreme/build/gulp/renovation-npm/data/messages.js
  packages/devextreme/build/gulp/renovation-npm/index.js
  packages/devextreme/build/gulp/renovation-npm/package.json
  packages/devextreme/build/gulp/renovation-npm/remove-unused-modules.js
  packages/devextreme/build/gulp/renovation-npm/replacements-import.js
  packages/devextreme/build/gulp/renovation-npm/replacements-package.js
  packages/devextreme/build/gulp/renovation-npm/steps-angular.js
  packages/devextreme/build/gulp/renovation-npm/steps-react.js
  packages/devextreme/build/gulp/renovation-npm/utils/create-gulp-file.js
  packages/devextreme/build/gulp/renovation-npm/utils/index.js
  packages/devextreme/build/gulp/renovation-npm/utils/version-utils.js
  packages/devextreme/build/gulp/renovation-testing-playground.js
  packages/devextreme/gulpfile.js
  packages/devextreme/jest.config.js
  packages/devextreme/renovation.tsconfig.json
Owners: @DevExpress/devextreme-devops
