Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Rename QUnit Test for other characters
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Owners: none

DataGrid - Changing dataField for a banded column with the columnOption method does not work as expected (T1210340) (#26846)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

refactor
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme-angular/tests/src/dx-ajax/ajax.spec.ts
Owners: none

DataGrid - Changing dataField for a banded column with the columnOption method does not work as expected (T1210340) (#26847)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: @DevExpress/devextreme-grids

size distribution fixed when sum pane sizes over 100%
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

HtmlEditor - Support CSP for inline styles (#26772)
  packages/devextreme/js/ui/html_editor/matchers/wordLists.js
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converters.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/paste.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
Owners: none

HtmlEditor - Update test matrix
  .github/workflows/qunit_tests-additional-renovation.yml
Owners: @DevExpress/devextreme-devops

Refix Viz.Charts tests
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartParts/commons.js
Owners: none

Update code comments
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartParts/commons.js
Owners: none

Refactor instance option
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Owners: none

Change keyboard action
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Owners: none

fix
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

implement functional for dataType=script
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme/js/core/utils/ajax.js
  packages/devextreme/js/core/utils/ajax_utils.js
Owners: none

fix
  apps/demos/Demos/Scheduler/ContextMenuIntegration/jQuery/index.js
Owners: none

HtmlEditor - Repair tests in ShadowDom (#26831)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/multilineIntegration.tests.js
Owners: none

update screenshots
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init.png
Owners: none

HtmlEditor - Update test matrix (#26849)
  .github/workflows/qunit_tests-additional-renovation.yml
Owners: @DevExpress/devextreme-devops

Add Ticket Number to Test label
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: none

Add Ticket Number to Test label
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Owners: none

Splitter: add control element icons to DevExtreme project
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/fluent/handlehorizontal.svg
  packages/devextreme/images/icons/fluent/handlevertical.svg
  packages/devextreme/images/icons/fluent/triangledown.svg
  packages/devextreme/images/icons/fluent/triangleleft.svg
  packages/devextreme/images/icons/fluent/triangleright.svg
  packages/devextreme/images/icons/fluent/triangleup.svg
  packages/devextreme/images/icons/generic/handlehorizontal.svg
  packages/devextreme/images/icons/generic/handlevertical.svg
  packages/devextreme/images/icons/generic/triangledown.svg
  packages/devextreme/images/icons/generic/triangleleft.svg
  packages/devextreme/images/icons/generic/triangleright.svg
  packages/devextreme/images/icons/generic/triangleup.svg
  packages/devextreme/images/icons/material/handlehorizontal.svg
  packages/devextreme/images/icons/material/handlevertical.svg
  packages/devextreme/images/icons/material/triangledown.svg
  packages/devextreme/images/icons/material/triangleleft.svg
  packages/devextreme/images/icons/material/triangleright.svg
  packages/devextreme/images/icons/material/triangleup.svg
  packages/devextreme/scss/widgets/base/_icons.scss
Owners: none

Splitter: add icons and svg to icon set test list
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

chrome headless
  apps/react/runner.js
  apps/vue/runner.js
Owners: none

Splitter: replace existing etalons for icons and svg's
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Owners: none

ASP.NET: Pass additional fields values from DataGrid / TreeList edit form to remote attr endpoint (#26769)
  packages/devextreme/js/aspnet.js
  packages/devextreme/testing/tests/DevExpress.aspnet/aspnet.tests.js
Owners: none

Fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

refactor add test for dataType = script cross domain
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme-angular/tests/src/dx-ajax/ajax.spec.ts
Owners: none

Scheduler: fix timezone tests
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

Scheduler: add hack for disabling current date highlighting
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

Scheduler: add hack for disabling current date highlighting [1]
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

refactor add test for dataType = script cross domain
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme-angular/tests/src/dx-ajax/ajax.spec.ts
  packages/devextreme/js/core/utils/ajax_utils.js
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Scheduler: fix timezone tests (#26855)
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

Bump DevExtreme version (23.1.9) (#26858)
  package-lock.json
  package.json
Owners: none

Scheduler: fix timezone tests (#26855)
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

Scheduler: fix timezone tests (#26855) (#26860)
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Owners: none

Splitter: Fix Lint Error in icons.ts needs to have space before value
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Owners: none

refactor timeout add test for it
  packages/devextreme-angular/src/ajax/dx-ajax.ts
  packages/devextreme-angular/tests/src/dx-ajax/ajax.spec.ts
Owners: none

Bump devextreme version
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

Use text instead of html in FilterBuilder
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Owners: none

Demos: skip blinking scenarios in multi theme testing
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
