Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Fix tests
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

Fix tests
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

Fluent: fix color of hour and minute arrows
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
Owners: none

Fluent: fix color of hour and minute arrows (#25932)
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
Owners: none

Update lock file
  package-lock.json
Owners: none

Lint - remove tmp package (#25913)
  js/__internal/.eslint-tmp-local-plugin/index.js
  js/__internal/.eslint-tmp-local-plugin/package.json
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-grids

Review fixes
  packages/devextreme/js/ui/load_panel.d.ts
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update color for light, dark theme
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
Owners: none

Fluent: load panel&indicator restyle
  packages/devextreme/js/ui/load_panel.d.ts
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

FileManager: set custom DropDown width for Material and Fluent themes
  packages/devextreme/js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

Review fixes
  packages/devextreme/js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

Add testcafe tests
  packages/devextreme/js/ui/list/ui.list.edit.js
  packages/devextreme/testing/testcafe/tests/editors/list/focus.ts
Owners: none

dxList: select next item after deletion
  packages/devextreme/js/ui/list/ui.list.edit.js
Owners: none

Fluent: fix DataGrid border color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

FilterPanel, selected and deleted row background colors (#25916)
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Review fixes
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
Owners: none

fix after merge
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

🎨 Fluent: Set Grid/TreeList/Scheduler border radius to zero (#25897)
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

add open of field click option (#2951)
  Demos/Form/Validation/Angular/app/app.component.ts
  Demos/Form/Validation/React/App.js
  Demos/Form/Validation/Vue/App.vue
  Demos/Form/Validation/jQuery/index.js
Owners: none

Fluent: load panel&indicator restyle (#25914)
  packages/devextreme/js/ui/load_panel.d.ts
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

refactor solution
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Owners: none

Update scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

fix(etalons): Update
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Owners: none

fix(htmlEditor: formDialog): Add new config for Fluent
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
Owners: none

HtmlEditor: fix dialogs' design issues
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
Owners: none

fix(htmlEditor): Fix fileUploader sizes
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
Owners: none

WIP: tests fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

Fluent: fix DataGrid border color (#25933)
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

FileManager: set custom DropDown width for Material and Fluent themes (#25915)
  packages/devextreme/js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

FileManager: set custom DropDown width for Material theme
  js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

FileManager: set custom DropDown width for Material theme
  js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

refactor(htmlEditor): Reduce selector
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
Owners: none

Fix convert-to-js script and corresponding task (#2947)
  Demos/Common/EditorAppearanceVariants/ReactJs/App.js
  Demos/Common/EditorAppearanceVariants/ReactJs/styles.css
  Demos/Common/EditorsRightToLeftSupport/React/styles.css
  Demos/Scheduler/Adaptability/ReactJs/App.js
  Demos/Scheduler/AllDayPanelMode/ReactJs/App.js
  Demos/Scheduler/CellTemplates/ReactJs/App.js
  Demos/Scheduler/CellTemplates/ReactJs/DataCellMonth.js
  Demos/Scheduler/CellTemplates/ReactJs/DateCell.js
  Demos/Scheduler/CellTemplates/ReactJs/TimeCell.js
  Demos/Scheduler/CellTemplates/ReactJs/styles.css
  Demos/Scheduler/ContextMenuIntegration/React/App.tsx
  Demos/Scheduler/ContextMenuIntegration/ReactJs/App.js
  Demos/Scheduler/ContextMenuIntegration/ReactJs/AppointmentTemplate.js
  Demos/Scheduler/CustomDragAndDrop/React/App.tsx
  Demos/Scheduler/CustomDragAndDrop/ReactJs/App.js
  Demos/Scheduler/CustomTemplates/React/styles.css
  Demos/Scheduler/CustomTemplates/ReactJs/App.js
  Demos/Scheduler/GoogleCalendarIntegration/React/styles.css
  Demos/Scheduler/Overview/ReactJs/data.js
  Demos/Scheduler/TimeZonesSupport/ReactJs/App.js
  Demos/Scheduler/Timelines/ReactJs/data.js
  Demos/Scheduler/WebAPIService/ReactJs/App.js
  Demos/TreeList/FocusedRow/ReactJs/App.js
  Demos/TreeList/KeyboardNavigation/ReactJs/index.js
  Demos/TreeList/LoadDataOnDemand/React/App.tsx
  Demos/TreeList/LoadDataOnDemand/ReactJs/App.js
  Demos/TreeList/LocalReordering/ReactJs/App.js
Owners: none

fix(etalons && htmlEditor): Update && Add shouldTestInCompact
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Owners: none

feat(etalons): Add new etalons
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light-compact).png
Owners: none

FileManager: set custom DropDown width for Material theme (#25935)
  js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

FileManager: set custom DropDown width for Material theme (#25934)
  js/ui/file_manager/ui.file_manager.toolbar.js
Owners: none

HtmlEditor: fix dialogs' design issues
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light-compact).png
Owners: none

Components: get rid of h1 tag in demos (#2931)
  Demos/Accordion/Overview/Angular/app/app.component.css
  Demos/Accordion/Overview/Angular/app/app.component.html
  Demos/Accordion/Overview/React/CustomTitle.js
  Demos/Accordion/Overview/React/styles.css
  Demos/Accordion/Overview/Vue/App.vue
  Demos/Accordion/Overview/Vue/CustomTitle.vue
  Demos/Accordion/Overview/jQuery/index.html
  Demos/Accordion/Overview/jQuery/styles.css
  Demos/LoadPanel/Overview/Angular/app/app.component.css
  Demos/LoadPanel/Overview/Angular/app/app.component.html
  Demos/LoadPanel/Overview/React/App.js
  Demos/LoadPanel/Overview/React/styles.css
  Demos/LoadPanel/Overview/Vue/App.vue
  Demos/LoadPanel/Overview/jQuery/index.html
  Demos/LoadPanel/Overview/jQuery/styles.css
  Demos/MultiView/Overview/Angular/app/app.component.css
  Demos/MultiView/Overview/Angular/app/app.component.html
  Demos/MultiView/Overview/React/CompanyItem.js
  Demos/MultiView/Overview/React/styles.css
  Demos/MultiView/Overview/Vue/App.vue
  Demos/MultiView/Overview/jQuery/index.html
  Demos/MultiView/Overview/jQuery/styles.css
  Demos/Popup/Overview/Angular/app/app.component.css
  Demos/Popup/Overview/Angular/app/app.component.html
  Demos/Popup/Overview/React/App.js
  Demos/Popup/Overview/React/styles.css
  Demos/Popup/Overview/Vue/App.vue
  Demos/Popup/Overview/jQuery/index.html
  Demos/Popup/Overview/jQuery/styles.css
  Demos/Toast/Overview/Angular/app/app.component.css
  Demos/Toast/Overview/Angular/app/app.component.html
  Demos/Toast/Overview/React/App.js
  Demos/Toast/Overview/React/styles.css
  Demos/Toast/Overview/Vue/App.vue
  Demos/Toast/Overview/jQuery/index.html
  Demos/Toast/Overview/jQuery/styles.css
Owners: none

Fix qunit test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
