Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Fix remarks
  packages/devextreme/testing/testcafe/model/dataGrid/commandCell.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
Owners: none

Replace etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-true.png
Owners: none

Replace etalons (part 2)
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-false.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
Owners: none

Set "sideEffects" in true if module not contains exports. It affects the treeShaking
  packages/devextreme/build/gulp/transpile.js
Owners: none

DataGrid: Fix unstable test (#25280)
  packages/devextreme/testing/testcafe/model/dataGrid/commandCell.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-false.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-true.png
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/ui/shared/accessibility.js
Owners: none

code refactoring
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/helpers/asyncTemplates.ts
Owners: @DevExpress/devextreme-grids

code refactoring
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/helpers/asyncTemplates.ts
Owners: @DevExpress/devextreme-grids

disablePageReloads
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
Owners: none

Convert Actions and List demos to functionality approach (#2728)
  Demos/ActionSheet/Basics/React/App.js
  Demos/ActionSheet/PopoverMode/React/App.js
  Demos/Button/Icons/React/App.js
  Demos/Button/PredefinedTypes/React/App.js
  Demos/Common/ActionAndListsOverview/React/App.js
  Demos/ContextMenu/Basics/React/App.js
  Demos/ContextMenu/Templates/React/App.js
  Demos/DropDownBox/SingleSelection/React/App.js
  Demos/DropDownButton/Overview/React/App.js
  Demos/FloatingActionButton/Overview/React/App.js
  Demos/Gallery/ItemTemplate/React/App.js
  Demos/Gallery/Overview/React/App.js
  Demos/List/GroupedList/React/App.js
  Demos/List/ItemDragging/React/App.js
  Demos/List/ItemTemplate/React/App.js
  Demos/List/ListEditingAndAPI/React/App.js
  Demos/List/ListWithSearchBar/React/App.js
  Demos/List/WebAPI/React/App.js
  Demos/Lookup/Basics/React/App.js
  Demos/Lookup/EventHandling/React/App.js
  Demos/Lookup/Templates/React/App.js
  Demos/PivotGrid/ExcelJSCellCustomization/React/App.js
  Demos/Resizable/Overview/React/App.js
  Demos/TileView/Basics/React/App.js
  Demos/TileView/Directions/React/App.js
  Demos/TileView/ItemTemplate/React/App.js
Owners: none

prune history of vue-playground
  playgrounds/vue/app.vue
  playgrounds/vue/components/accessing-instance-example.vue
  playgrounds/vue/components/button-example.vue
  playgrounds/vue/components/chart-example.vue
  playgrounds/vue/components/example-block.vue
  playgrounds/vue/components/form-example.vue
  playgrounds/vue/components/grid-example.vue
  playgrounds/vue/components/list-example.vue
  playgrounds/vue/components/map-example.vue
  playgrounds/vue/components/menu-example.vue
  playgrounds/vue/components/number-box-example.vue
  playgrounds/vue/components/popup-example.vue
  playgrounds/vue/components/scheduler-example.vue
  playgrounds/vue/components/scroll-view-example.vue
  playgrounds/vue/components/tab-panel-example.vue
  playgrounds/vue/components/text-box-example.vue
  playgrounds/vue/components/validation-example.vue
  playgrounds/vue/data.ts
  playgrounds/vue/main.ts
  playgrounds/vue/package.json
  playgrounds/vue/public/css/bootstrap.css
  playgrounds/vue/public/css/index.css
  playgrounds/vue/public/index.html
  playgrounds/vue/tsconfig.json
  playgrounds/vue/vue-shim.d.ts
  playgrounds/vue/webpack.config.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

test
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

TabPanel: Replace box-shadow with border
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_borders.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_mixins.scss
  packages/devextreme/scss/widgets/generic/tabs/old/_colors.scss
  packages/devextreme/scss/widgets/generic/tabs/old/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/old/_sizes.scss
Owners: none

stash
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
Owners: none

refactor(tabPanel: styles): Remove extra mixin
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabPanel/mixins/_index.scss
Owners: none

refactor(tabs && tabPanel): Reduce selectors
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_navigation-button.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

fix(tabs && tabPanel): Fix double borders
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

refactor(tabPanel: styles): Add new structure
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_colors.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabPanel/mixins/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/variables/_borders.scss
  packages/devextreme/scss/widgets/generic/tabPanel/variables/_colors.scss
  packages/devextreme/scss/widgets/generic/tabPanel/variables/_sizes.scss
Owners: none

refactor(tabPanel: styles): Remove extra code
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
Owners: none

refactor(tabs: styles): Add after mixin
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
  packages/devextreme/scss/widgets/generic/tabs/mixins/_index.scss
Owners: none

refactor(tabs && tabPanel): Remove extra styles
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabs/layout/_navigation-button.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

fix(tabs: styles): Fix lint issues
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

feat(collectionWidget && tabPanel): Refactor && Add test
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

stash
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabs/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
  packages/devextreme/scss/widgets/generic/tabs/mixins/_index.scss
Owners: none

refactor(tabPanel: styles): Reduce selectors
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab-panel.scss
Owners: none

fix(tabs): Fix cutting border with hover state
  packages/devextreme/scss/widgets/generic/tabs/layout/_tab.scss
Owners: none

fix(tabs: styles): Fix lint issues
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

fix(tabs && tabPanel): Fix wrapper borders && Remove posotion styles
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tab.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/_tabs.scss
Owners: none

refactor(tabs && tabPanel): Fix last tab border issue && Add class for tabpanel tab
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/generic/tabPanel/layout/_tab.scss
Owners: none

disable aria-required-children
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
Owners: none

actualize tests
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

Tabs: Add orientation option
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/js/ui/tabs_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(tabs): Remove extra code
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

Revert "actualize tests"
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

actualize tests
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Owners: none

Fix test
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

Fix test
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

CheckBox: allow to customize border & background colors of checkboxes
  packages/devextreme-themebuilder/src/data/migration-metadata/migration-metadata.ts
  packages/devextreme/scss/widgets/base/checkBox/_index.scss
  packages/devextreme/scss/widgets/base/checkBox/_mixins.scss
  packages/devextreme/scss/widgets/generic/checkBox/_colors.scss
  packages/devextreme/scss/widgets/generic/checkBox/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
Owners: none

Replace etalon
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
Owners: @DevExpress/devextreme-grids

fix
  packages/devextreme/scss/widgets/base/_pager.scss
Owners: none
