Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix test
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Owners: @DevExpress/devextreme-grids

fix test
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Cannot focus an inserted row if it appears on the same position as the currently focused row (T1202646) (#26297)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Cannot focus an inserted row if it appears on the same position as the currently focused row (T1202646) (#26296)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Owners: @DevExpress/devextreme-grids

update nx
  .gitignore
  nx.json
  package-lock.json
  package.json
Owners: none

update package-lock
  package-lock.json
Owners: none

Get rid of circular dependencies
  js/common/charts.d.ts
  js/viz/bar_gauge.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/common.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/funnel.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/pie_chart.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Viz: make LegendItem public (T1191979) (#26317)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(utils): Replace options with optionConfiguration
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
Owners: none

revert(treeView): Revert role setting
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/sorting/sorting.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Owners: none

DataGrid: Re-Fix auto scroll up when scrolling horizontally (T1176160)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Re-Fix auto scroll up when scrolling horizontally (T1176160)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: @DevExpress/devextreme-grids

htmlEditor: add ability to localize border style names
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/html_editor/utils/toolbar_helper.js
Owners: none

Fix deprecation
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix deprecation
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

HtmlEditor: Remove browser version check when inserting an image
  packages/devextreme/js/ui/html_editor/modules/dropImage.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/dropImageModule.tests.js
Owners: none

Fix test
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: @DevExpress/devextreme-grids

Fix test
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
Owners: @DevExpress/devextreme-grids

Add etalon
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Owners: @DevExpress/devextreme-grids

move files to TS
  packages/devextreme/js/__internal/viz/core/themes/fluent.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.carmine.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.contrast.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.dark.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.darkmoon.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.darkviolet.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.greenmist.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.light.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.softblue.ts
  packages/devextreme/js/__internal/viz/core/themes/material.ts
Owners: none

fix after moving to TS
  packages/devextreme/js/__internal/viz/core/themes/fluent.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.carmine.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.contrast.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.dark.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.darkmoon.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.darkviolet.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.greenmist.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.light.ts
  packages/devextreme/js/__internal/viz/core/themes/generic.softblue.ts
  packages/devextreme/js/__internal/viz/core/themes/material.ts
  packages/devextreme/js/viz/themes.js
Owners: none

rename theme files
  packages/devextreme/js/__internal/viz/core/themes/generic/carmine.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/contrast.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/dark.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/darkmoon.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/darkviolet.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/greenmist.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/softblue.ts
Owners: none

update import after renames
  packages/devextreme/js/viz/themes.js
Owners: none

rename light to index
  packages/devextreme/js/__internal/viz/core/themes/generic/light/index.ts
Owners: none

separate generic.light theme by components
  packages/devextreme/js/__internal/viz/core/themes/generic/light/chart.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/contants.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/funnel.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/gauges.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/index.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/map.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/pie.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/polar.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/range_selector.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/sankey.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/sparklines.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/tree_map.ts
Owners: none

fix import generic theme
  packages/devextreme/js/viz/themes.js
Owners: none

themes file. simple refactor
  packages/devextreme/js/viz/themes.js
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724) (#26295)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724) (#26293)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Owners: @DevExpress/devextreme-grids

DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724) (#26294)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Owners: @DevExpress/devextreme-grids

TreeView: selectAll checkBox should change value on enter key
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Owners: none

try fix mobile tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Owners: none

selectAll checkBox should have the same focusStateEnabled as treeview
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Owners: none

Viz: make LegendItem public - 2 (T1191979) (#26323)
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Viz: make LegendItem public - 2 (T1191979) (#26323)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Viz: make LegendItem public - 2 (T1191979) (#26331)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

optimize test
  packages/devextreme/testing/testcafe/tests/dataGrid/sorting/sorting.ts
Owners: none
