Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Bump DevExtreme version (#25441)
  package-lock.json
  package.json
Owners: none

Bump DevExtreme version (#25440)
  package-lock.json
  package.json
Owners: none

DataGrid - Component sends unexpected filtering request after inserting a new row if focusedRowEnabled is true (T1181477) (#25418)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_utils.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - Component sends unexpected filtering request after inserting a new row if focusedRowEnabled is true (T1181477) (#25416)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_utils.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Owners: @DevExpress/devextreme-grids

Email Validation - Symbol 'plus' in email address should be accepted(T1110928) (#25437)
  packages/devextreme/js/ui/validation_engine.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Owners: none

DataGrid Accessibility: Fix the 'Table headers in a data table must refer to data cells' AXE error (#25412)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/ui/tree_list/ui.tree_list.column_headers.js
  packages/devextreme/testing/testcafe/helpers/accessibilityUtils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Syntax
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

Order fix
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

Avoid checkout
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

Editors: height standardization in material default & compact themes
  packages/devextreme/scss/widgets/base/_colorBox.scss
  packages/devextreme/scss/widgets/base/_tagBox.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/colorBox/_index.scss
  packages/devextreme/scss/widgets/material/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_sizes.scss
  packages/devextreme/scss/widgets/material/tagBox/_index.scss
  packages/devextreme/scss/widgets/material/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_sizes.scss
Owners: none

fix datebox scenario
  packages/devextreme/scss/widgets/base/_dateBox.scss
  packages/devextreme/scss/widgets/base/_tagBox.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/autocomplete/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/generic/popup/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_index.scss
  packages/devextreme/scss/widgets/generic/toolbar/_mixins.scss
  packages/devextreme/scss/widgets/material/autocomplete/_index.scss
  packages/devextreme/scss/widgets/material/badge/_index.scss
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/material/tagBox/_index.scss
  packages/devextreme/scss/widgets/material/textBox/_index.scss
  packages/devextreme/scss/widgets/material/toolbar/_mixins.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  packages/devextreme/testing/testcafe/tests/editors/colorbox/etalons/Colorbox with placeholder (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/colorbox/etalons/Colorbox with placeholder (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=true (material-blue-light).png
Owners: none

use logical properties
  packages/devextreme/scss/widgets/base/_checkBox.scss
  packages/devextreme/scss/widgets/base/_colorBox.scss
  packages/devextreme/scss/widgets/base/_lookup.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/toolbar/_mixins.scss
  packages/devextreme/scss/widgets/material/colorBox/_index.scss
  packages/devextreme/scss/widgets/material/contextMenu/_index.scss
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/dateView/_index.scss
  packages/devextreme/scss/widgets/material/textBox/_index.scss
  packages/devextreme/scss/widgets/material/timeView/_index.scss
Owners: none

refactor
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/toolbar/_mixins.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render hover,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light-compact).png
  screenshots/testing/screenshots/focused-row_markup (material.blue.light).png
  screenshots/testing/screenshots/thumbnails/focused-row_markup (material.blue.light).png
Owners: none

TimeView: minimize size of svg for clock
  packages/devextreme/images/widgets/common/timeView/clock-bg.svg
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/scss/widgets/generic/timeView/_index.scss
  packages/devextreme/scss/widgets/material/timeView/_index.scss
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (material-blue-light).png
Owners: none

fix daterangebox padding
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
Owners: none

refactor
  packages/devextreme/scss/widgets/base/_dateBox.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
Owners: none

DataGrid - Pushed items are not added (T1176548) (#25334)
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - Pushed items are not added (T1176548) (#25334)
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

update test
  packages/devextreme/testing/testcafe/tests/dataGrid/filterPanel.ts
Owners: none

etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.-with-editor-popup.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.png
Owners: none

fix
  packages/devextreme/testing/testcafe/tests/dataGrid/filterPanel.ts
Owners: none

fix(angular): Generate
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-angular/src/ui/tabs/index.ts
Owners: none

feat(tabs): Update TS
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(react && vue): Generate
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/tabs.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/tabs.ts
  packages/vue2-strategy/src/common/index.ts
  packages/vue2-strategy/src/tabs.ts
Owners: none

Tabs: icon position
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

feat(tabs: QUnit): Add tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(d.ts): Rename type
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix(tabs: QUnit): Add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

feat(tabs): Add iconPosition option
  packages/devextreme/js/ui/tabs.js
Owners: none

fix(d.ts): Update d.ts
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tabs_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

CI: check file path lengths
  .github/workflows/paths.yml
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/linters/validate-cyrillic-symbols.js
  packages/devextreme/build/pre-commit/chalks.js
  packages/devextreme/build/pre-commit/index.js
  packages/devextreme/build/pre-commit/validate-max-path.js
  packages/devextreme/build/pre-commit/validate-workflows.js
  packages/devextreme/package.json
Owners: @DevExpress/devextreme-devops

DataGrid - Pushed items are not added (T1176548) (#25448)
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

click action for treeviewItem in menu
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

TimeView: minimize size of svg for clock (#25446)
  packages/devextreme/images/widgets/common/timeView/clock-bg.svg
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/scss/widgets/generic/timeView/_index.scss
  packages/devextreme/scss/widgets/material/timeView/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (material-blue-light).png
Owners: none

try to simplify daterangebox floating styles
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/scss/widgets/base/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/base/dateRangeBox/_mixins.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

fix undefined
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Owners: none

Review fixes
  .github/workflows/paths.yml
Owners: @DevExpress/devextreme-devops

CI: check file path lengths (#25449)
  .github/workflows/paths.yml
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/linters/validate-cyrillic-symbols.js
  packages/devextreme/build/pre-commit/chalks.js
  packages/devextreme/build/pre-commit/index.js
  packages/devextreme/build/pre-commit/validate-max-path.js
  packages/devextreme/build/pre-commit/validate-workflows.js
  packages/devextreme/package.json
Owners: @DevExpress/devextreme-devops

fix textarea floating label position
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=filled (material-blue-light).png
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
