Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Owners: none

Review fixes
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/core/component.js
  packages/devextreme/js/core/utils/license.js
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/utils.license.tests.js
Owners: none

DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621) (#25640)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Owners: none

DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621) (#25639)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621) (#25638)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486) (#25621)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486) (#25622)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486) (#25623)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: none

Scheduler: add React description to Custom Templates demo (#2857)
  Demos/Scheduler/CustomTemplates/React/description.md
Owners: none

update etalons
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Owners: none

DropDownEditors: fix popup elements focus order
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

move utils test to jest
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.license.tests.js
Owners: none

Small changes in tests.
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
Owners: none

Fluent: testing PivotGrid with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: testing Form with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: run Editors test cafe tests with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: run Navigation testcafe tests with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: run HtmlEditor testcafe tests with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: change background color for outlined editors
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

Update _mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
Owners: none

Calendar: range should not be rendered on non month views (T1186223) (#25614)
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Owners: none

blue dot
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

container
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

tooltip
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

add test
  packages/devextreme/testing/testcafe/tests/dataGrid/export/export.ts
Owners: none

rename playground packages
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

add own tsconfig
  playgrounds/react/tsconfig.json
  playgrounds/react/webpack.config.js
Owners: none

move devextreme to normal deps
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

update packages
  playgrounds/react/package.json
Owners: none

fix drawer
  playgrounds/react/drawer-example.tsx
Owners: none

add empty build task
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

pin deps
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

disable some examples
  playgrounds/react/app.tsx
Owners: none

update package lock
  package-lock.json
Owners: none

fix eof
  playgrounds/react/tsconfig.json
Owners: none

manual cherry-pick
  js/ui/calendar/ui.calendar.base_view.js
  testing/testcafe/tests/editors/calendar/common.ts
Owners: none

add etanol
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Owners: none

decrease top margin
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Owners: none

Grid summary - column width fix (#2856)
  Demos/DataGrid/CustomSummaries/Angular/app/app.component.html
  Demos/DataGrid/CustomSummaries/AngularJS/index.js
  Demos/DataGrid/CustomSummaries/React/App.js
  Demos/DataGrid/CustomSummaries/Vue/App.vue
  Demos/DataGrid/CustomSummaries/jQuery/index.js
  Demos/DataGrid/GridSummaries/Angular/app/app.component.html
  Demos/DataGrid/GridSummaries/AngularJS/index.js
  Demos/DataGrid/GridSummaries/React/App.js
  Demos/DataGrid/GridSummaries/Vue/App.vue
  Demos/DataGrid/GridSummaries/jQuery/index.js
  Demos/DataGrid/GroupSummaries/Angular/app/app.component.html
  Demos/DataGrid/GroupSummaries/AngularJS/index.js
  Demos/DataGrid/GroupSummaries/React/App.js
  Demos/DataGrid/GroupSummaries/Vue/App.vue
  Demos/DataGrid/GroupSummaries/jQuery/index.js
  Demos/DataGrid/RecalculateWhileEditing/Angular/app/app.component.html
  Demos/DataGrid/RecalculateWhileEditing/AngularJS/index.js
  Demos/DataGrid/RecalculateWhileEditing/React/App.js
  Demos/DataGrid/RecalculateWhileEditing/Vue/App.vue
  Demos/DataGrid/RecalculateWhileEditing/jQuery/index.js
Owners: none

try
  .github/workflows/qunit_tests-renovation.yml
Owners: @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
