Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-api-reviewers

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Refactor shouldComponentUpdate method
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/templated.tsx
  js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Renovation: jQuery radio group (#23566)
  packages/jquery/src/bundle.js
  packages/jquery/src/compatible-radio-group.js
  packages/jquery/src/radio-button.js
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  playgrounds/jquery/index.html
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-example.tsx
Owners: none

DataGrid - try adding ts jsdocs (#23551)
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Owners: @DevExpress/devextreme-grids

DataGrid - try adding ts jsdocs (#23550)
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Owners: @DevExpress/devextreme-grids

DataGrid - try adding ts jsdocs (#23508)
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Owners: @DevExpress/devextreme-grids

cache isForce to avoid maximum call stack error
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
Owners: none

update etalons
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
Owners: none

post test reports from 23.1 to a dedicated project
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

changed optimize logic
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
Owners: none

use declare for ComponentWrapper fields
  packages/interim/src/renovation/component_wrapper/common/component.ts
Owners: none

removed updateDimensions for renovatedRender
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Owners: none

restored updateDimensions
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Owners: none

Fix Index
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
Owners: none

Fix typings for buildTemplateArgs
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Make _buildTemplateArgs available for overriding again
  js/renovation/component_wrapper/common/component.ts
Owners: none

update form tests
  testing/testcafe/tests/form/common.ts
  testing/testcafe/tests/form/form.simpleItem.colSpan.ts
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Owners: none

Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534) (#23572)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534) (#23571)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Owners: none

Renovation: Fix jQuery ComponentWrapper _props undefined exception (#23586)
  packages/interim/src/renovation/component_wrapper/common/component.ts
Owners: none

fix
  js/ui/grid_core/ui.grid_core.editing_form_based.js
Owners: @DevExpress/devextreme-grids

test
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

fix
  js/ui/grid_core/ui.grid_core.editing_form_based.js
Owners: @DevExpress/devextreme-grids

test
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

fix
  js/ui/grid_core/ui.grid_core.editing_form_based.js
Owners: @DevExpress/devextreme-grids

test
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

TestCafe Dashboard Integration: Post test reports from 23.1 to a dedicated project (not "22.2") (#23585)
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Initial support styles and themes for react (#23581)
  packages/react/package.json
  packages/react/rollup/rollup.config.mjs
  packages/react/src/components/radio-button/radio-button-internal.tsx
  packages/styles/package.json
  packages/styles/src/radio-button/radio-button.scss
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/light.scss
Owners: none

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079) (#23577)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079) (#23578)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079) (#23579)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Owners: @DevExpress/devextreme-grids

CI: improve VS Code support
  .eslintignore
  .off.eslintrc.js
  packages/components/rollup/rollup.config.mjs
  packages/core/rollup/rollup.config.mjs
Owners: none

Roll back special processing for index
  js/renovation/component_wrapper/common/component.ts
Owners: none

Add example for itemTemplate (without index)
  packages/jquery/src/compatible-radio-group.js
  packages/jquery/src/component-wrapper.js
  playgrounds/jquery/index.html
Owners: none

Move template args wrapping to packages/jquery and refactor it
  packages/interim/src/index.ts
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/interim/src/renovation/component_wrapper/common/native_component.ts
  packages/jquery/src/component-wrapper.js
  packages/jquery/src/radio-button.js
Owners: none

Wrap data property
  packages/interim/src/index.ts
  packages/interim/src/renovation/component_wrapper/common/native_component.ts
  playgrounds/jquery/index.html
Owners: none

Refactor
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Fix renovation-1 jest tests
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Fix lint and types compilation
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Move raw TemplateWrapper from the spike
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
Owners: none

Refactor shouldComponentUpdate method
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/interim/src/renovation/component_wrapper/common/mutations_recording.ts
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
Owners: none
