Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

add conditional rendering
  packages/devextreme/js/__internal/clicker.ts
  packages/devextreme/js/__internal/core/reactive_dom.ts
  packages/devextreme/js/__internal/core/reactive_jquery.ts
Owners: none

add computed to example
  packages/devextreme/js/__internal/clicker.ts
Owners: none

basic resize implementation
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/splitter.layout_strategy.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
Owners: none

Migrate DataSourceAdapter to native class
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
Owners: none

Migrate DataSourceAdapter extenders to native class
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

Fix tests
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

Migrate DataSourceAdapter to native class
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
Owners: @DevExpress/devextreme-grids

Migrate DataSourceAdapter extenders to native class
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/m_data_source_adapter.ts
  js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/m_state_storing.ts
  js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

Fix tests
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

GridCore: native classes - dataSourceAdapter (#26684)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

fix tests
  packages/devextreme/js/__internal/ui/splitter/utils/splitter.layout_strategy.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
Owners: none

Form: add group caption template in declarations (#26623)
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

GridCore: native classes - dataSourceAdapter (#26701)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

GridCore: native classes - dataSourceAdapter (#26700)
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/m_data_source_adapter.ts
  js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/m_state_storing.ts
  js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: @DevExpress/devextreme-grids

styles for handler depending on orientation, rename helper
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/splitter.layout_helper.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
Owners: none

Revert "(ci): remove re-generate step ref 67e834e8a8b1dafacc0c3dc7f1b55619f4d22796"
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Revert "(ci): skip exit on failed generated code check until fix in tools ref de6b78f2054eab8ce299b9b6b15e2ec4a1281c70"
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Update devextreme-internal-tools to v12.0.0-beta.13
  package-lock.json
  package.json
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

Fix the issue
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
Owners: none

add tests
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/splitter.layout_helper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Owners: none

review fixes
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.strategy.js
Owners: none

Testcafe: add "disposeWidget" helper method.
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
Owners: none

DataGrid(T1213679): Fix nested column update React's issue (#26671)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

DataGrid(T1213679): Fix nested column update React's issue (#26671)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

🛠️ Refactoring | Grid native classes: validating
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

DataGrid(T1213679): Fix nested column update React's issue (#26671) (#26712)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: none

DataGrid(T1213679): Fix nested column update React's issue
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: @DevExpress/devextreme-grids

SelectBox - Fix popup's height calculation when async react templates were used(T1216113)
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
Owners: none

base index.scss file shouldn't contain info about colors
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/scss/widgets/fluent/splitter/_colors.scss
  packages/devextreme/scss/widgets/fluent/splitter/_index.scss
  packages/devextreme/scss/widgets/generic/splitter/_colors.scss
  packages/devextreme/scss/widgets/generic/splitter/_index.scss
  packages/devextreme/scss/widgets/material/splitter/_colors.scss
  packages/devextreme/scss/widgets/material/splitter/_index.scss
Owners: none

Tests fix
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Owners: none

try to fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Owners: none

DataGrid(T1213679): Fix nested column update React's issue (#26671) (#26713)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Owners: @DevExpress/devextreme-grids

List: Revert styles for .dx-button .dx-icon in Generic
  packages/devextreme/scss/widgets/generic/list/_index.scss
Owners: none

fix(list): Fix test description
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
Owners: none

feat(list): Add etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (material-blue-light).png
Owners: none

fix(list): Increase a selector
  packages/devextreme/scss/widgets/generic/list/_index.scss
Owners: none

feat && fix(list): Add tests && Remove old etlaons && Rename etalons
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/The delete button should be displayed correctly after the list item focus (material-blue-light).png
Owners: none

feat(list: TestCafe): Add screenshot test
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
Owners: none
