Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

DRB Demo: add disableOutOfRangeSelection property demonstration (#2964)
  Demos/DateRangeBox/Overview/Angular/app/app.component.html
  Demos/DateRangeBox/Overview/React/App.tsx
  Demos/DateRangeBox/Overview/ReactJs/App.js
  Demos/DateRangeBox/Overview/Vue/App.vue
  Demos/DateRangeBox/Overview/jQuery/index.html
  Demos/DateRangeBox/Overview/jQuery/index.js
Owners: none

fix calendar function declaration
  packages/devextreme-angular/src/ui/calendar/index.ts
  packages/devextreme-angular/src/ui/nested/base/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/calendar-options.ts
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887) (#25946)
  js/__internal/grids/tree_list/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887) (#25947)
  js/__internal/grids/tree_list/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: @DevExpress/devextreme-grids

TreeList: Fix the "Uncaught TypeError: this.callBase is not a function" error occurs with the disabled cacheEnabled option (T1196887) (#25948)
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Owners: none

Focused row color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Selected row bg color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

trying to fix tagbox
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

get rid of reset for tagBox temporarily
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Grid border color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

🎨 Fluent: Redesign FilterBuilder Demo group (#2949)
  Demos/FilterBuilder/Customization/Angular/app/app.component.css
  Demos/FilterBuilder/Customization/React/styles.css
  Demos/FilterBuilder/Customization/Vue/App.vue
  Demos/FilterBuilder/Customization/jQuery/styles.css
  Demos/FilterBuilder/WithDataGrid/Angular/app/app.component.css
  Demos/FilterBuilder/WithDataGrid/React/styles.css
  Demos/FilterBuilder/WithDataGrid/Vue/App.vue
  Demos/FilterBuilder/WithDataGrid/jQuery/styles.css
  Demos/FilterBuilder/WithList/Angular/app/app.component.css
  Demos/FilterBuilder/WithList/React/styles.css
  Demos/FilterBuilder/WithList/Vue/App.vue
  Demos/FilterBuilder/WithList/jQuery/styles.css
Owners: none

Set radius to 6px
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
Owners: none

Focused row border color fix
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

Form GroupedFields: update header styles (#2958)
  Demos/Form/GroupedFields/Angular/app/app.component.css
  Demos/Form/GroupedFields/React/styles.css
  Demos/Form/GroupedFields/Vue/App.vue
  Demos/Form/GroupedFields/jQuery/styles.css
Owners: none

ProgressBar: update padding (#2968)
  Demos/ProgressBar/Overview/Angular/app/app.component.css
  Demos/ProgressBar/Overview/React/styles.css
  Demos/ProgressBar/Overview/Vue/App.vue
  Demos/ProgressBar/Overview/jQuery/styles.css
Owners: none

fix remarks after review
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
  packages/devextreme/scss/widgets/fluent/toast/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

update etalon
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-dark).png
Owners: none

Change field radius in grid
  packages/devextreme/playground/jquery copy.html
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
Owners: none

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25928)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25929)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25930)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

fix defaultOptions test for daterangebox
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

remove line
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

refactor
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Owners: none

add qunits
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
Owners: none

align label for daterangebox
  packages/devextreme/js/ui/date_range_box/ui.multiselect_date_box.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

add tests
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/common.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

rm excess lines
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
Owners: none

add tests
  packages/devextreme/testing/testcafe/model/textBox.ts
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/common.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light-compact).png
Owners: none

prevent active event
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

update etalon names
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DRB with buttons container,stMode=underlined,lMode=outside (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

Fluent: make font consistent between toolbar label & popup's title (#25882)
  packages/devextreme/scss/widgets/fluent/toolbar/_sizes.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light-compact).png
Owners: none

Dark focused color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

omit reset prop
  packages/devextreme/js/ui/date_range_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Removed and focused row bg color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Scheduler day length: Appointment's expressions support (#25811)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/apiCallbacks.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/expressions.ts
Owners: none

Scheduler day length: Fix drag&drop issues (#25802)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-left.png
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-right.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/dragAndDrop.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-735.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Owners: none

Scheduler day length: feature's core (#25750)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/devextreme/js/core/utils/date.js
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/__tests__/getAppointmentTakesAllDay.test.ts
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/getAppointmentTakesAllDay.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/appointments.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/const.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/props.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/multiday.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none
