Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

HtmlEditor: Add dx-dropdowneditor-overlay class to popups (T1141075)
  packages/devextreme/js/ui/html_editor/modules/popup.js
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/popup/_index.scss
  packages/devextreme/scss/widgets/material/popup/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/popupModule.tests.js
Owners: none

fix double-click in data-grid if lazy-loading (T1208575)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

fix double-click in data-grid if lazy-loading (T1208575)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

fix double-click in data-grid if lazy-loading (T1208575)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

HtmlEditor: Add dx-dropdowneditor-overlay class to popups
  packages/devextreme/js/ui/html_editor/modules/popup.js
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/popup/_index.scss
  packages/devextreme/scss/widgets/material/popup/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/popupModule.tests.js
Owners: none

Scheduler(T1213458): Add deep copy for the form data.
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

move baselines
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react_mask.png
Owners: none

rewrite async to promise.then
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
Owners: none

update baseline
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
Owners: none

Accordion: correctly render in StrictMode if wrapped in ValidationGroup (T1191220)
  packages/devextreme/js/__internal/ui/m_accordion.ts
Owners: none

Update VS Code settings
  .vscode/settings.json
Owners: none

Scheduler(T1213458): Refactor e2e tests.
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

fix double-click in data-grid if lazy-loading (T1208575)
  packages/devextreme/js/events/double_click.js
Owners: none

Rename variable
  build/common/version-utils.ts
Owners: none

Add types for test.each. Remove empty lines
  build/common/version-utils.test.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539)
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

Scheduler - Appointment tooltip is incorrectly displayed on the first click when adaptivity is enabled in React (T1187586) (#26484)
  packages/devextreme/js/__internal/core/utils/promise.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react_mask.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: none

Scheduler - Appointment tooltip is incorrectly displayed on the first click when adaptivity is enabled in React (T1187586) (#26485)
  js/__internal/core/utils/promise.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react_mask.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Owners: none

T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539) (#26545)
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539) (#26544)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

revamp existing test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: none

Datagrid: Fix the last row border bottom (T1200567)
  packages/devextreme/scss/widgets/base/_gridBase.scss
Owners: none

Fix the last row border bottom when showRowLines is false
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Datagrid: Fix the last row border bottom (T1200567)
  scss/widgets/base/_gridBase.scss
Owners: @DevExpress/devextreme-grids

Fix the last row border bottom when showRowLines is false
  js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: @DevExpress/devextreme-grids

WIP
  packages/devextreme/js/events/double_click.js
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

restore deprecated tag
  packages/devextreme/js/ui/overlay.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

WIP
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclickInternal.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
