Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Scheduler: Make changes in scheduler API (d.ts) (#25564)
  packages/devextreme-angular/src/ui/nested/view-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler day length: Fix appointment's resize with startDayHour/endDayHour issues (#25812)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/resize.ts
Owners: none

Scheduler day length: Fix recurrent appointments issues. (#25870)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Owners: none

Scheduler day length: Disable the 'offset' option for agenda view (#25821)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/agenda.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset--240.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-240.png
Owners: none

Scheduler day length: Fix virtual scrolling appointments filter issues (#25888)
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Owners: none

Focused link background color
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Toast(fluent theme) - Change height & text color (#25907)
  packages/devextreme/scss/widgets/base/_toast.scss
  packages/devextreme/scss/widgets/fluent/toast/_colors.scss
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
  packages/devextreme/scss/widgets/fluent/toast/_sizes.scss
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

fix material
  packages/devextreme/scss/widgets/material/list/_index.scss
Owners: none

remove unused style
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Set zero border radius
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

Scheduler day length: fix workspace issues related to local machine DST changes.
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

remove reset overload for cb
  packages/devextreme/js/renovation/component_wrapper/editors/check_box.ts
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'selector')" error occurs when a column's dataField is not specified and repaintChangesOnly is enabled in popup edit mode (T1198534)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

DataGrid: Fix the "Cannot read properties of undefined (reading 'selector')" error occurs when a column's dataField is not specified and repaintChangesOnly is enabled in popup edit mode (T1198534)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix the "Cannot read properties of undefined (reading 'selector')" error occurs when a column's dataField is not specified and repaintChangesOnly is enabled in popup edit mode (T1198534)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: @DevExpress/devextreme-grids

Focused row style
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

Deleted row borders
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

get rid of redundant metadata
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/range_slider.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add single workflow to test JS wrappers. Move lint steps to "lint" workflow
  .github/workflows/lint.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Fix typo in step name
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

Use regenerate-all
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

new etalons
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is #grid, after scrolling (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is undefined, after scrolling (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/scrollable/etalons/Grid with scrollable wrapped in td,useNative=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/scrollable/etalons/Grid with scrollable wrapped in td,useNative=true (fluent-blue-light).png
Owners: none

Remove outdated code generation trigger
  .github/workflows/code_generation_trigger.yml
Owners: @DevExpress/devextreme-devops

Remove old workflows
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
Owners: @DevExpress/devextreme-devops

Publish Query type
  packages/devextreme/js/data/query.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Use Node.js major version in CI
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
Owners: @DevExpress/devextreme-devops

Fix regex to match major only version for Node.js
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

pass onHover and onActive handlers as props
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
Owners: none

fix
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

Add border-radius to grid
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_sizes.scss
Owners: none

Remove test playground
  packages/devextreme/playground/jquery copy.html
Owners: none

Fluent: get rid of letter spacing in h1-h6 tags
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Owners: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

CI: Test all wrappers in one workflow (#25969)
  .github/workflows/code_generation_trigger.yml
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
  .github/workflows/lint.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

get rid of var
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
  packages/devextreme/js/ui/dialog.js
Owners: none

fix
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

fix
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

generic
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
Owners: none

Fix after merge
  .github/workflows/lint.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: fix list appearance when collapsibleGroups is false
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
Owners: none
