Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Debug file saving
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Debug file unzip
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Bump devextreme-internal-tools
  package-lock.json
  package.json
Owners: none

Bump devextreme-internal-tools (#25599)
  package-lock.json
  package.json
Owners: none

🎨 Fluent: Insert group header indicator (#25598)
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/scss/widgets/base/dataGrid/_common.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/generic/dataGrid/_index.scss
  packages/devextreme/scss/widgets/material/dataGrid/_index.scss
Owners: none

fix foldername for svg icons
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
Owners: none

fix testcafe yml config
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Owners: @DevExpress/devextreme-devops

Update testcafe_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Update testcafe_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

add etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
Owners: none

Fluent: radiogroup & checkbox redesign
  packages/devextreme/scss/widgets/base/radioButton/_mixins.scss
  packages/devextreme/scss/widgets/base/switch/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/fluent/radioButton/_index.scss
  packages/devextreme/scss/widgets/fluent/radioButton/_sizes.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_colors.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_index.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/radioButton/_index.scss
  packages/devextreme/scss/widgets/material/radioButton/_index.scss
Owners: none

DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Owners: none

DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Owners: @DevExpress/devextreme-grids

Fluent: Scheduler - Make a circle around today date (apply dxCalendar style) (#25558)
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/dateHeaderText.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/layout.tsx
  packages/devextreme/js/renovation/utils/__tests__/getThemeType.test.ts
  packages/devextreme/js/renovation/utils/getThemeType.ts
  packages/devextreme/js/ui/themes.d.ts
  packages/devextreme/js/ui/themes.js
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add etalon
  testing/testcafe/tests/dataGrid/etalons/T1188828-state-storing-with-selected-row-keys.png
Owners: @DevExpress/devextreme-grids

Add etalon
  testing/testcafe/tests/dataGrid/etalons/T1188828-state-storing-with-selected-row-keys.png
Owners: @DevExpress/devextreme-grids

Add etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1188828-state-storing-with-selected-row-keys.png
Owners: none

fix
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Owners: none

test
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Owners: none

Fix deprecated "set-output" command in workflows
  .github/workflows/codeql.yml
Owners: @DevExpress/devextreme-devops

header/filter/data row height
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

header/filter/data row height compact
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

Fix deprecated "set-output" command in workflows (#25607)
  .github/workflows/codeql.yml
Owners: @DevExpress/devextreme-devops

Review fixes
  packages/devextreme/js/core/__tests__/license.test.ts
  packages/devextreme/js/core/component.js
  packages/devextreme/js/core/errors.js
  packages/devextreme/js/core/utils/license.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/core.licensing.js
  packages/devextreme/testing/tests/DevExpress.core/utils.license.tests.js
Owners: none

Fix deprecated "set-output" command in workflows (#25607)
  .github/workflows/codeql.yml
Owners: @DevExpress/devextreme-devops

Fix deprecated "set-output" command in workflows (#25607) (#25609)
  .github/workflows/codeql.yml
Owners: @DevExpress/devextreme-devops

publish CommonSeriesPoint
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

move CommonSeriesLabel to common
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Try to use tar
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Debug workflow run
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Revert "Try to use tar"
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Revert "Debug workflow run"
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Change trigger
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Revert "Revert "Try to use tar""
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Implement custom datasources
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

run regenerate all
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Configure TS transpile paths after moving code to "src" dir.
  packages/devextreme/build/gulp/transpile.js
Owners: none

Add regex manager into renovatebot
  .github/renovate.json
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
Owners: @DevExpress/devextreme-devops

Fluent: radiogroup & checkbox redesign (#25601)
  packages/devextreme/scss/widgets/base/radioButton/_mixins.scss
  packages/devextreme/scss/widgets/base/switch/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/fluent/radioButton/_index.scss
  packages/devextreme/scss/widgets/fluent/radioButton/_sizes.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_colors.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_index.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/radioButton/_index.scss
  packages/devextreme/scss/widgets/material/radioButton/_index.scss
Owners: none
