Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

DataGrid(T1213679): Refactoring
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
Owners: none

flex basis added
  packages/devextreme/scss/widgets/base/splitter/_index.scss
Owners: none

add more tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Owners: none

Try testcafe 2.5.0
  package-lock.json
  package.json
  packages/devextreme/package.json
Owners: none

Splitter: add resize options and render handle after splitter item (#26669)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/event.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

Try testcafe 2.6.2
  package-lock.json
  package.json
Owners: none

fix noop
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

fix
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

revert testcafe to 2.5.0
  package-lock.json
  package.json
Owners: none

Splitter: support nested splitters render
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Owners: none

remove excessive doc tags (from js - re-declaration for hiding only)
  packages/devextreme/js/ui/splitter.js
Owners: none

Splitter: supports rendering nested splitter panes (#26685)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Owners: none

🛠️ Refactoring | Grid native classes: PivotGrid's related migration (6) (#26668)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

🛠️ Refactoring | Grid native classes: PivotGrid's related migration (6) (#26668)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

🛠️ Refactoring | Grid native classes: PivotGrid's related migration (6) (#26668)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: @DevExpress/devextreme-grids

remove excessive initially deprecated types (dxSplitterOptions, Options), merge to public Properties, append dxSplitterOptions docid prefix
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

fix runtime
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

DataGrid(T1213679): Add etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
Owners: none

Revert "remove excessive initially deprecated types (dxSplitterOptions, Options), merge to public Properties, append dxSplitterOptions docid prefix"
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

🛠️ Refactoring | Grid native classes: PivotGrid's related migration (#26689)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: none

Refactoring | Grid native classes: PivotGrid's related migration (#26690)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Owners: @DevExpress/devextreme-grids

re-try to remove initially deprecated types (just Options)
  packages/devextreme/js/ui/splitter.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Owners: none

Migrate DataSourceAdapter to native class
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
Owners: none

Migrate DataSourceAdapter extenders to native class
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799) (#26676)
  packages/devextreme/js/ui/slider/ui.slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Owners: none

Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799) (#26677)
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Owners: none

Fix tests
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Owners: none

fix
  packages/devextreme/js/__internal/clicker.ts
  packages/devextreme/js/__internal/core/reactive.ts
  packages/devextreme/js/__internal/core/reactive_dom.ts
Owners: none

add playground
  packages/devextreme/js/bundles/dx.all.js
  packages/devextreme/playground/jquery.html
Owners: none

jquery-like
  packages/devextreme/js/__internal/clicker.ts
Owners: none

add jquery_helper
  packages/devextreme/js/__internal/clicker.ts
  packages/devextreme/js/__internal/core/reactive_dom.ts
  packages/devextreme/js/__internal/core/reactive_jquery.ts
Owners: none

add components
  packages/devextreme/js/__internal/clicker.ts
  packages/devextreme/js/__internal/core/reactive_dom.ts
  packages/devextreme/js/__internal/core/reactive_jquery.ts
Owners: none

columns view table component
  packages/devextreme/js/__internal/core/reactive_dom.ts
  packages/devextreme/js/__internal/core/reactive_jquery.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/views/components.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

update playgrounds
  packages/devextreme/playground/jquery.html
  packages/devextreme/playground/jquery_grid.html
Owners: none

fix readme
  playgrounds/README.md
Owners: none

readme eofl
  playgrounds/README.md
Owners: none

fix CI tasks
  apps/demos/package.json
  apps/demos/testing/common.test.js
  apps/demos/testing/widgets/charts/Crosshair.test.js
  apps/demos/testing/widgets/charts/CustomAnnotationsDrag.test.js
  apps/demos/testing/widgets/charts/CustomLegendMarkers.test.js
  apps/demos/testing/widgets/charts/LoadDataOnDemand.test.js
  apps/demos/testing/widgets/charts/PieLabelsOverlapping.test.js
  apps/demos/testing/widgets/charts/ZoomingOnAreaSelection.test.js
  apps/demos/utils/visual-tests/testcafe-runner.mjs
  package-lock.json
  package.json
  packages/devextreme/package.json
Owners: none

add component node
  packages/devextreme/js/__internal/clicker.ts
  packages/devextreme/js/__internal/core/reactive_dom.ts
  packages/devextreme/js/__internal/core/reactive_jquery.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
