Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-api-reviewers

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Remove attributes from mutations observer configuration
  packages/interim/src/renovation/component_wrapper/common/mutations_recording.ts
Owners: none

DataGrid - Revert focusStateEnabled property and add hidden tag (#23601)
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters

Update template_wrapper to support generates js-widgets wrapping (#23589)
  packages/interim/src/core/utils/common.d.ts
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/interim/src/renovation/component_wrapper/common/mutations_recording.ts
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
  packages/interim/src/renovation/component_wrapper/utils/utils.ts
  packages/jquery/src/compatible-radio-group.js
  packages/jquery/src/component-wrapper.js
  packages/jquery/src/radio-button.js
  playgrounds/jquery/index.html
Owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters

Add examples for using theme in react
  packages/styles/src/themes/dark-scoped.scss
  packages/styles/src/themes/dark.scss
  packages/styles/src/themes/light-scoped.scss
  packages/styles/src/themes/light.scss
  playgrounds/react/package.json
  playgrounds/react/src/app.tsx
  playgrounds/react/src/examples/themes/dynamic-theme-example.tsx
  playgrounds/react/src/examples/themes/theme-example.tsx
  playgrounds/react/src/home.tsx
Owners: none

Exclude devextreme-quill from system.js bundles (#2356) (#2357)
  configs/Angular/config.bundle.js
  configs/React/config.bundle.js
  configs/Vue/config.bundle.js
Owners: none

fix notes
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Owners: none

DataGrid - Fix incorrect group summaries in export when a "buttons" column is present (T1130167) (#23468)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - Fix incorrect group summaries in export when a "buttons" column is present (T1130167) (#23569)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Owners: @DevExpress/devextreme-grids

move option tests
  testing/tests/DevExpress.exporter/commonParts/options.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
Owners: none

Renovation: A little dx-dynamic-template improvements. (#23544)
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/internal/dynamic-template/dynamic-template.component.ts
  packages/angular/projects/angular/src/internal/dynamic-template/index.ts
  packages/angular/projects/angular/src/internal/index.ts
Owners: none

Button: Remove redundant styles for .dx-theme-ios7 and .dx-theme-android5 (#2355)
  Demos/Button/Icons/Angular/app/app.component.css
  Demos/Button/Icons/AngularJS/styles.css
  Demos/Button/Icons/Knockout/styles.css
  Demos/Button/Icons/React/styles.css
  Demos/Button/Icons/Vue/App.vue
  Demos/Button/Icons/jQuery/styles.css
  Demos/Lookup/EventHandling/Angular/app/app.component.css
  Demos/Lookup/EventHandling/AngularJS/styles.css
  Demos/Lookup/EventHandling/Knockout/styles.css
  Demos/Lookup/EventHandling/React/styles.css
  Demos/Lookup/EventHandling/Vue/styles.css
  Demos/Lookup/EventHandling/jQuery/styles.css
  Demos/Lookup/Templates/Angular/app/app.component.css
  Demos/Lookup/Templates/AngularJS/styles.css
  Demos/Lookup/Templates/Knockout/styles.css
  Demos/Lookup/Templates/React/styles.css
  Demos/Lookup/Templates/Vue/App.vue
  Demos/Lookup/Templates/jQuery/styles.css
  Demos/SelectBox/CustomizeDropDownButton/Angular/app/app.component.css
  Demos/SelectBox/CustomizeDropDownButton/AngularJS/styles.css
  Demos/SelectBox/CustomizeDropDownButton/Knockout/styles.css
  Demos/SelectBox/CustomizeDropDownButton/React/styles.css
  Demos/SelectBox/CustomizeDropDownButton/Vue/App.vue
  Demos/SelectBox/CustomizeDropDownButton/jQuery/styles.css
  Demos/Toast/Overview/Knockout/styles.css
Owners: none

fix unstable tests
  .github/workflows/testcafe_tests.yml
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/form/common.ts
  testing/testcafe/tests/navigation/contextMenu/common.ts
  testing/testcafe/tests/navigation/pivotGrid/etalons/FieldChooser change dataField order with two invisible fields-theme=generic-light.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/FieldChooser change dataField order with two invisible fields-theme=material-blue-light.png
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
Owners: @DevExpress/devextreme-devops

renaming
  js/exporter/exceljs/export_format.js
Owners: none

refactor
  testing/testcafe/tests/form/etalons/Form labels width after render in invisible container-theme=generic-light.png
  testing/testcafe/tests/form/etalons/Form labels width after render in invisible container-theme=material-blue-light.png
  testing/testcafe/tests/scheduler/recurrences/basic.ts
Owners: none

fix unstable tests
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
Owners: none

Rename map -> maps img parent folder
  images/Maps/map-marker.png
Owners: none

update expected values
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Owners: none

skip datagrid unstable test
  testing/testcafe/tests/dataGrid/rowDragging.ts
Owners: none

try proxyless mode
  package-lock.json
  package.json
  testing/testcafe/runner.js
Owners: none

change expected values
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Owners: none

try proxyless
  testing/testcafe/runner.js
Owners: none

refactor
  .npmrc
Owners: none

turn off proxyless
  testing/testcafe/runner.js
Owners: none

fix after merge
  build/gulp/ts.js
  js/exporter/image_creator.js
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/gallery.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/tree_list/ui.tree_list.rows.js
  js/viz/axes/smart_formatter.js
  js/viz/core/export.js
  package.json
  testing/testcafe/runner.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Owners: @DevExpress/devextreme-grids

add npmrc
  .npmrc
Owners: none

revert testcafe version
  package.json
Owners: none

refactor
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Owners: none

try update testcafe version
  package.json
Owners: none

add dashboard
  testing/testcafe/runner.js
Owners: none

make code clearer
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/navigation/pivotGrid/scrolling.ts
Owners: none

update etalons
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement with scaling scale(1.5),direction=both-theme=generic-light.png
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement with scaling scale(1.5),direction=both-theme=material-blue-light.png
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement, element less container direction=both-theme=generic-light.png
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement, element less container direction=both-theme=material-blue-light.png
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement, element more container direction=both-theme=generic-light.png
  testing/testcafe/tests/navigation/scrollable/etalons/ScrollToElement, element more container direction=both-theme=material-blue-light.png
Owners: none

try update testcafe to v2.2.0
  package.json
  testing/testcafe/tests/form/common.ts
Owners: none

try update node version
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Update testcafe to v.2.2.0
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

update etalons
  testing/testcafe/tests/form/etalons/Form color of the mark-theme=generic-contrast.png
  testing/testcafe/tests/form/etalons/Form color of the mark-theme=generic-dark.png
  testing/testcafe/tests/form/etalons/Form color of the mark-theme=generic-light.png
  testing/testcafe/tests/form/etalons/Form color of the mark-theme=material-blue-light.png
Owners: none

T1123386
  package-lock.json
  package.json
Owners: none

update etalons
  testing/testcafe/tests/renovation/navigation/scrollView/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
Owners: none

T1123386
  package-lock.json
  package.json
Owners: none

T1123386
  package-lock.json
  package.json
Owners: none

set default windowsize for all tests
  testing/testcafe/runner.js
Owners: none
