Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Scheduler day length: Fix appointment's resize with startDayHour/endDayHour issues (#25812)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/resize.ts
Owners: none

Scheduler: Make changes in scheduler API (d.ts) (#25564)
  packages/devextreme-angular/src/ui/nested/view-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler day length: Fix recurrent appointments issues. (#25870)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Owners: none

Scheduler day length: Disable the 'offset' option for agenda view (#25821)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/agenda.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset--240.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-240.png
Owners: none

Scheduler day length: feature's core (#25750)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/devextreme/js/core/utils/date.js
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/__tests__/getAppointmentTakesAllDay.test.ts
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/getAppointmentTakesAllDay.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/appointments.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/const.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/props.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/multiday.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Owners: none

Scheduler day length: Appointment's expressions support (#25811)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/apiCallbacks.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/expressions.ts
Owners: none

Scheduler day length: Fix appointments filter virtual scrolling issues.
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_virtual-scrolling_week_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Owners: none

update baselines
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-chooser-checkbox-alignment-plain-structure.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-chooser-checkbox-alignment-tree-structure.png
Owners: none

fix(etalons): Update
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
Owners: none

Calendar: use cellComponent instead of cellRender (#2946)
  Demos/Calendar/Overview/React/App.tsx
  Demos/Calendar/Overview/ReactJs/App.js
Owners: none

remove redundant margin
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/common.ts
Owners: none

Fix packing "devextreme-themebuilder" package
  build/build-all.ts
  build/update-version.ts
Owners: none

HtmlEditor: change type of "lock" button in image uploader form (#25903)
  packages/devextreme/js/ui/html_editor/utils/image_uploader_helper.js
  packages/devextreme/testing/testcafe/model/htmlEditor/dialog/addImageUrlForm.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (material-blue-light).png
Owners: none

Datebox datetime(fluent theme) - update layout & colors
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/timeView/_colors.scss
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
Owners: none

Fix packing "devextreme-themebuilder" package (#25908)
  build/build-all.ts
  build/update-version.ts
Owners: none

add qunit
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

FileUploader: Fix UI issues in Fluent
  packages/devextreme/scss/widgets/fluent/fileUploader/_colors.scss
  packages/devextreme/scss/widgets/fluent/fileUploader/_index.scss
  packages/devextreme/scss/widgets/fluent/fileUploader/_sizes.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
Owners: none

Selected row background
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

add some changes
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/badge/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_colors.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/menu/_colors.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/overlay/_colors.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/selectBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/tooltip/_colors.scss
Owners: none

refactor after merge
  packages/devextreme/scss/widgets/fluent/fileUploader/_colors.scss
  packages/devextreme/scss/widgets/fluent/fileUploader/_index.scss
Owners: none

DateBox: make today button look the same as cancel button (#25902)
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (material-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

Lint - remove tmp package (#25815)
  js/__internal/.eslint-tmp-local-plugin/index.js
  js/__internal/.eslint-tmp-local-plugin/package.json
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-grids

Change target to ES2020
  packages/devextreme-angular/tsconfig.json
Owners: none

Get rid of ts-nocheck
  packages/devextreme-angular/tests/src/core/angular-integration.spec.ts
  packages/devextreme-angular/tests/src/core/component-extension.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/events-strategy.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/core/template.spec.ts
  packages/devextreme-angular/tests/src/ui/chart.spec.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  packages/devextreme-angular/tests/src/ui/events.spec.ts
  packages/devextreme-angular/tests/src/ui/form.spec.ts
  packages/devextreme-angular/tests/src/ui/list.spec.ts
  packages/devextreme-angular/tests/src/ui/responsive-box.spec.ts
  packages/devextreme-angular/tests/src/ui/tab-panel.spec.ts
  packages/devextreme-angular/tests/src/ui/toolbar.spec.ts
  packages/devextreme-angular/tsconfig.json
Owners: none

OData: Update default protocol version to v4 (#25862)
  packages/devextreme/js/data/odata/context.d.ts
  packages/devextreme/js/data/odata/query_adapter.js
  packages/devextreme/js/data/odata/request_dispatcher.js
  packages/devextreme/js/data/odata/store.d.ts
  packages/devextreme/testing/tests/DevExpress.data/dataSource.tests.js
  packages/devextreme/testing/tests/DevExpress.data/odataQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.data/odataStore.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update etalons
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-blue-light).png
Owners: none

Removed row background
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

change colors
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/colorView/_colors.scss
Owners: none

Change type of some properties
  packages/devextreme-angular/tests/src/ui/chart.spec.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  packages/devextreme-angular/tests/src/ui/list.spec.ts
Owners: none

revert disabled state
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
Owners: none

add pointerEventsStrategy option to GlobalConfig for setting EventsStrategy
  packages/devextreme/js/events/pointer.js
Owners: none

rework changes
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/material/progressBar/_colors.scss
  packages/devextreme/scss/widgets/material/progressBar/_index.scss
Owners: none

Border color fix
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Owners: none

update etalon
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (fluent-blue-light).png
Owners: none

cleaning code
  packages/devextreme/scss/widgets/base/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_sizes.scss
Owners: none

Fix type
  packages/devextreme-angular/tests/src/ui/list.spec.ts
Owners: none

move check to resizeCore
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Owners: none

extract color to var
  packages/devextreme/scss/widgets/generic/treeView/_colors.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
Owners: none

add max height to tests
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Owners: none

Toolbar(fluent theme) - Change background color to transparent (#25898)
  packages/devextreme/scss/widgets/fluent/toolbar/_colors.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none
