Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Fluent: testing PivotGrid with new theme
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Slider tooltip: fix arrow rendering artefact in some zoom levels
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_sizes.scss
Owners: none

Add files via upload
  packages/devextreme/js/localization/messages/pl.json
Owners: none

TextEditor: fix remarks after review changes for click implementation on outside label (#25985)
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

Debug self-hosted runners on tool cache existing
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

new etalons
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid contextmenu width (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=both,useNative=false,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=both,useNative=true,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=vertical,useNative=false,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=vertical,useNative=true,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with invisible fields (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with three invisible fields (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with two invisible fields (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_bottom (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_left (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_right (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_top (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (fluent-blue-light).png
Owners: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901) + remove option from globalConfig type
  js/common.d.ts
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

TreeList and DataGrid always show the W1025 warning regardless of the height option value or CSS limiting the component height (T1196939) (#25975)
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

TreeList and DataGrid always show the W1025 warning regardless of the height option value or CSS limiting the component height (T1196939) (#25974)
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Owners: @DevExpress/devextreme-grids

Publish Query type (#25984)
  js/data/query.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Bump devextreme version (23.2.2) (#25982)
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

fix disabledDates being always undefined when is not a function
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
Owners: none

HtmlEditor: change mentions dataSource type (#25979)
  js/ui/html_editor.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Test multiple switch between versions
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

refactoring
  packages/devextreme/js/ui/dialog.js
Owners: none

Remove unused code generations trigger
  .github/workflows/code_generation_trigger.yml
Owners: @DevExpress/devextreme-devops

Update texts
  packages/devextreme/js/core/errors.js
Owners: none

Correct URLs in-text position
  packages/devextreme/js/core/errors.js
Owners: none

Update texts
  packages/devextreme/js/core/errors.js
Owners: none

Update additional errors message
  packages/devextreme/js/core/utils/error.js
Owners: none

Fix texts and links
  packages/devextreme/js/core/errors.js
Owners: none

DataGrid - fix column width (#2981)
  Demos/DataGrid/RemoteVirtualScrolling/Angular/app/app.component.html
  Demos/DataGrid/RemoteVirtualScrolling/React/App.js
  Demos/DataGrid/RemoteVirtualScrolling/React/App.tsx
  Demos/DataGrid/RemoteVirtualScrolling/ReactJs/App.js
  Demos/DataGrid/RemoteVirtualScrolling/Vue/App.vue
  Demos/DataGrid/RemoteVirtualScrolling/jQuery/index.js
Owners: none

Grid contrast
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

Revert "Update additional errors message"
  packages/devextreme/js/core/utils/error.js
Owners: none

HtmlEditor: change mentions dataSource type (#25979) (#25992)
  js/ui/html_editor.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update license-check errors texts (#25953)
  packages/devextreme/js/core/errors.js
Owners: none

CI: Remove unused code generation trigger (#25993)
  .github/workflows/code_generation_trigger.yml
Owners: @DevExpress/devextreme-devops

screenshots
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

Include aria-dialog-name check
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

new etalon
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=vertical,useNative=true,mode=standart (fluent-blue-light).png
Owners: none

Convert vue Gantt Demos to Composition API (#2977)
  Demos/Gantt/ChartAppearance/Vue/App.vue
  Demos/Gantt/ChartAppearance/Vue/index.html
  Demos/Gantt/ContextMenu/Vue/App.vue
  Demos/Gantt/ContextMenu/Vue/index.html
  Demos/Gantt/DataBinding/Vue/App.vue
  Demos/Gantt/DataBinding/Vue/index.html
  Demos/Gantt/ExportToPDF/Vue/App.vue
  Demos/Gantt/ExportToPDF/Vue/index.html
  Demos/Gantt/FilterRow/Vue/App.vue
  Demos/Gantt/FilterRow/Vue/index.html
  Demos/Gantt/HeaderFilter/Vue/App.vue
  Demos/Gantt/HeaderFilter/Vue/index.html
  Demos/Gantt/Overview/Vue/App.vue
  Demos/Gantt/Overview/Vue/index.html
  Demos/Gantt/Sorting/Vue/App.vue
  Demos/Gantt/Sorting/Vue/index.html
  Demos/Gantt/StripLines/Vue/App.vue
  Demos/Gantt/StripLines/Vue/index.html
  Demos/Gantt/TaskTemplate/Vue/App.vue
  Demos/Gantt/TaskTemplate/Vue/index.html
  Demos/Gantt/Toolbar/Vue/App.vue
  Demos/Gantt/Toolbar/Vue/index.html
  Demos/Gantt/Validation/Vue/App.vue
  Demos/Gantt/Validation/Vue/index.html
Owners: none

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901) + revert
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/events/pointer.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

omitting reset function from base class for tagbox
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/tag-box-base/index.ts
  packages/devextreme-angular/src/ui/tag-box-base/ng-package.json
  packages/devextreme-react/src/index.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/js/ui/tag_box_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

change metadata
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme-angular/src/ui/tag-box/ng-package.json
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/js/ui/tag_box_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

hidden attribute added to tagboxBase
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/tag-box-base/index.ts
  packages/devextreme-angular/src/ui/tag-box-base/ng-package.json
  packages/devextreme/js/ui/tag_box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

specify option Type
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme-react/src/index.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme/js/ui/tag_box.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

DataGrid - Fix the issue with page index being reset when the grid is refreshed and virtual scrolling is used (T1196099) (#25978)
  packages/devextreme/js/renovation/ui/pager/pages/small.tsx
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/pager.ts
Owners: none

DataGrid - Fix the issue with page index being reset when the grid is refreshed and virtual scrolling is used (T1196099) (#25978)
  js/renovation/ui/pager/pages/small.tsx
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/pager.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Fix the issue with page index being reset when the grid is refreshed and virtual scrolling is used (T1196099) (#25978)
  js/renovation/ui/pager/pages/small.tsx
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/pager.ts
Owners: @DevExpress/devextreme-grids
