Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

gen: package-lock
  package-lock.json
Owners: none

fix: update tsconfig
  e2e/testcafe-devextreme/tsconfig.json
Owners: none

fix: ci
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/.testcaferc.json
  packages/devextreme/package.json
Owners: @DevExpress/devextreme-devops

refactor: add gitignore
  e2e/testcafe-devextreme/.gitignore
Owners: none

fix: update paths (fixtures)
  e2e/testcafe-devextreme/tests/common/icons.ts
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/containerAspNet.html
  e2e/testcafe-devextreme/tests/containerQuill.html
  e2e/testcafe-devextreme/tests/dataGrid/security/pages/XSS.html
  e2e/testcafe-devextreme/tests/shadowDom/container.html
  e2e/testcafe-devextreme/tests/shadowDom/containerAspNet.html
  e2e/testcafe-devextreme/tests/shadowDom/containerQuill.html
Owners: none

Grids: add aria-live a11y zone
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Owners: none

Grids: code review fixes
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

ESLint: add no-console rule + remove existing console.logs
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

ESLint: add no-console rule + remove existing console.logs
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

ESLint: add no-console rule + remove existing console.logs
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/editing/m_editing.ts
Owners: @DevExpress/devextreme-grids

ESLint: Add '@typescript-eslint/explicit-member-accessibility' rule
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

Grids: add aria-live a11y zones (#27006)
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Owners: none

Fix tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: none

Splitter: pane should have an exact size if the size is specified in percentage
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

ESLint: add no-console rule + remove existing console.logs (#27027)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

ESLint: add no-console rule + remove existing console.logs (#27028)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

fix active-state when allowKeyboardnavigation is false
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_mixins.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

ESLint: add no-console rule + remove existing console.logs
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/editing/m_editing.ts
Owners: @DevExpress/devextreme-grids

tests added
  packages/devextreme/testing/testcafe/tests/navigation/splitter/common.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

change prop
  packages/devextreme/testing/testcafe/tests/navigation/splitter/common.ts
Owners: none

Splitter: pane should have an exact size if the size is specified in percentage (#27031)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

ESLint: add no-console rule + remove existing console.logs (#27034)
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/editing/m_editing.ts
Owners: @DevExpress/devextreme-grids

chore(ci): temporarly turn off unstable playground tests (#27018)
  .github/workflows/playgrounds_tests.yml
Owners: @DevExpress/devextreme-devops

Splitter: the remaining space should be evenly distributed if only the maxSize option is specified
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Splitter: the remaining space should be evenly distributed if only the maxSize option is specified (#27036)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

PivotGrid(T1144885): Fix running total summary issue
  packages/devextreme/js/__internal/grids/pivot_grid/summary_display_modes/m_summary_display_modes.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/runningTotal/runningTotal.ts
Owners: none

Splitter: add scenarios that were skipped to the tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Splitter ResizeHandle should not leak memory by creating redundant event subscriptions after refreshing
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/testing/tests/Memory Leaks/eventsOnRefresh_bundled.tests.js
Owners: none

Splitter.width, splitter.height cases
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Check the configurations when pane.size, pane.maxSize, and pane.minSize are declared with values that are not allowed
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

Add test on skipped scenario
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

refactor: add async (1)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: none

fix: add tickAsync to qunit tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Owners: none

refactor: async (2)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: none

impore: add promise to when func type
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/core/utils/deferred.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

progress: refactor: add types for return values
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: none

refactor has own
  packages/devextreme/js/core/class.js
Owners: none

refactor prototype
  packages/devextreme/js/core/class.js
Owners: none

fix static fields
  packages/devextreme/js/core/class.js
Owners: none

fix constructor problems
  packages/devextreme/js/core/class.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
