Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

delete values and extend value
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/js/ui/date_range_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/calendar.ts
  packages/vue2-strategy/src/common/index.ts
  packages/vue2-strategy/src/date-box.ts
  packages/vue2-strategy/src/date-range-box.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

refactor
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  screenshots/testing/screenshots/Textbox render with limited width stylingMode=filled (generic-light).png
  screenshots/testing/screenshots/thumbnails/Textbox render with limited width stylingMode=filled (generic-light).png
Owners: none

fix style in test
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Owners: none

fix height in compact theme
  packages/devextreme/scss/widgets/generic/textEditor/_sizes.scss
  screenshots/testing/screenshots/DateRangeBox active stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/DateRangeBox active stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/DateRangeBox disabled stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/DateRangeBox disabled stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/DateRangeBox focused stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/DateRangeBox focused stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/DateRangeBox readonly stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/DateRangeBox readonly stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/DateRangeBox stylingMode=filled isValid=false (generic-light).png
  screenshots/testing/screenshots/DateRangeBox stylingMode=filled isValid=false (generic-light-compact).png
  screenshots/testing/screenshots/DateRangeBox stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/DateRangeBox stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/Textbox render with limited width stylingMode=outlined (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox active stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox active stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox disabled stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox disabled stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox focused stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox focused stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox readonly stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox readonly stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox stylingMode=filled isValid=false (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox stylingMode=filled isValid=false (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox stylingMode=filled isValid=true (generic-light).png
  screenshots/testing/screenshots/thumbnails/DateRangeBox stylingMode=filled isValid=true (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/Textbox render with limited width stylingMode=outlined (generic-light).png
Owners: none

fix text cropping
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render stylingMode=underlined (material-blue-light).png
Owners: none

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/model/internal/dropDownList.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

use content to check
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
Owners: none

hotfix: do not run gulp clean tasks on pack (#25492)
  packages/devextreme-react/package.json
  packages/devextreme-vue/gulpfile.js
Owners: none

focused row cell border generic light/dark
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
Owners: none

dxFileUploader - upload operation in azure demo provider (T1185682) (#2804)
  shared/azure.file.system.ts
Owners: none

change separator color in DateRangeBox
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
Owners: none

Update lock file
  package-lock.json
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1136896-virtual-scrolling_editing-buttons.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-checkbox-outline.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-first_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-last_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-pageBottom_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-pageBottom_scroll-mode-virtual_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-pageTop_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-pageTop_scroll-mode-virtual_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportBottom_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportBottom_scroll-mode-standard_top-162.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportBottom_scroll-mode-virtual_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportBottom_scroll-mode-virtual_top-162.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportTop_scroll-mode-standard_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportTop_scroll-mode-standard_top-162.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportTop_scroll-mode-virtual_top-0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-new-row_position-viewportTop_scroll-mode-virtual_top-162.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-band_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-band_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-usual_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-fixed-usual_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-band_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-band_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-usual_scrolling-usual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/T1163100_change-icon_columns-usual-usual_scrolling-virtual.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/etalons/filter-row-overlay.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (generic.light).png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/adaptive-row-closed-via-keyboard.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/adaptive-row-opened-via-keyboard.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-button-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-buttons-cell-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-data-cell-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-header-cell-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/edit-cell-keypress-with-custom-cell-template_template-input.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/focus-position-when-second-adaptive-row-opened.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-button-focused.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-buttons-cell-focused.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-header-cell-focused.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree_list_keyboard-navigation-data-cell-focused.png
Owners: none

Fix lock file
  package-lock.json
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=underlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=underlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=underlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
Owners: none

fix localization
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

CI: increase path length limit to 170
  .github/workflows/paths.yml
Owners: @DevExpress/devextreme-devops

Remove fix T1117245
  packages/devextreme/js/ui/scheduler/recurrence.js
Owners: none

Remove fix T1117245
  js/ui/scheduler/recurrence.js
Owners: none

Remove fix T1117245
  js/ui/scheduler/recurrence.js
Owners: none

refactoring
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Owners: none

reset fixes
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

Remove mistake
  packages/devextreme/js/ui/scheduler/recurrence.js
Owners: none

Remove mistake
  js/ui/scheduler/recurrence.js
Owners: none

Remove mistake
  js/ui/scheduler/recurrence.js
Owners: none

Popup - Actualize focus state
  packages/devextreme/scss/widgets/fluent/popup/_index.scss
  packages/devextreme/scss/widgets/generic/overlay/_index.scss
  packages/devextreme/scss/widgets/generic/popup/_index.scss
  packages/devextreme/scss/widgets/material/popup/_index.scss
Owners: none

React: Treelist transfer to functional (#2768)
  Demos/TreeList/Adaptability/React/App.js
  Demos/TreeList/BatchEditing/React/App.js
  Demos/TreeList/CellEditing/React/App.js
  Demos/TreeList/ColumnChooser/React/App.js
  Demos/TreeList/ColumnFixing/React/App.js
  Demos/TreeList/ColumnHeaderFilter/React/App.js
  Demos/TreeList/CustomizeKeyboardNavigation/React/App.js
  Demos/TreeList/FilterModes/React/App.js
  Demos/TreeList/FilterPanel/React/App.js
  Demos/TreeList/FocusedRow/React/App.js
  Demos/TreeList/FormEditing/React/App.js
  Demos/TreeList/KeyboardNavigation/React/App.js
  Demos/TreeList/LoadDataOnDemand/React/App.js
  Demos/TreeList/LocalReordering/React/App.js
  Demos/TreeList/MultipleRowSelection/React/App.js
  Demos/TreeList/MultipleSorting/React/App.js
  Demos/TreeList/Overview/React/App.js
  Demos/TreeList/Overview/React/EmployeeCell.js
  Demos/TreeList/Paging/React/App.js
  Demos/TreeList/PopupEditing/React/App.js
  Demos/TreeList/Reordering/React/App.js
  Demos/TreeList/Resizing/React/App.js
  Demos/TreeList/RowEditing/React/App.js
  Demos/TreeList/SimpleArrayHierarchicalStructure/React/App.js
  Demos/TreeList/SimpleArrayPlainStructure/React/App.js
  Demos/TreeList/SingleRowSelection/React/App.js
  Demos/TreeList/StatePersistence/React/App.js
  Demos/TreeList/UsingFilterRow/React/App.js
  Demos/TreeList/UsingSearchPanel/React/App.js
  Demos/TreeList/WebAPIService/React/App.js
Owners: none

fix fluent
  packages/devextreme/scss/widgets/fluent/popup/_index.scss
Owners: none

Fix "Invalid value used as weak map key" error (T1186521)
  packages/devextreme/js/events/core/events_engine.js
Owners: none

Revert lock file
  package-lock.json
Owners: none

♿️ Accessibility: The validation state and error message of cells (#25489)
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Owners: none

Add test on allowUpdating
  testing/testcafe/tests/dataGrid/editing/test.ts
Owners: @DevExpress/devextreme-grids

Use ClientFunction in test
  testing/testcafe/tests/dataGrid/editing/test.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341) (#25495)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341) (#25496)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: @DevExpress/devextreme-grids

DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341) (#25497)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/model/internal/dropDownList.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Owners: none

R1 - remove testing/renovation-npm (#25469)
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/testing/renovation-npm/.gitignore
  packages/devextreme/testing/renovation-npm/.testcaferc.json
  packages/devextreme/testing/renovation-npm/angular-app/.browserslistrc
  packages/devextreme/testing/renovation-npm/angular-app/.editorconfig
  packages/devextreme/testing/renovation-npm/angular-app/.gitignore
  packages/devextreme/testing/renovation-npm/angular-app/angular.json
  packages/devextreme/testing/renovation-npm/angular-app/karma.conf.js
  packages/devextreme/testing/renovation-npm/angular-app/package.json
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.css
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.html
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.component.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/app/app.module.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/assets/.gitkeep
  packages/devextreme/testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/environments/environment.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/favicon.ico
  packages/devextreme/testing/renovation-npm/angular-app/src/index.html
  packages/devextreme/testing/renovation-npm/angular-app/src/main.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/polyfills.ts
  packages/devextreme/testing/renovation-npm/angular-app/src/styles.css
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.app.json
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.json
  packages/devextreme/testing/renovation-npm/angular-app/tsconfig.spec.json
  packages/devextreme/testing/renovation-npm/gulpfile.js
  packages/devextreme/testing/renovation-npm/package.json
  packages/devextreme/testing/renovation-npm/react-app/.env
  packages/devextreme/testing/renovation-npm/react-app/.gitignore
  packages/devextreme/testing/renovation-npm/react-app/README.md
  packages/devextreme/testing/renovation-npm/react-app/package.json
  packages/devextreme/testing/renovation-npm/react-app/public/index.html
  packages/devextreme/testing/renovation-npm/react-app/src/App.jsx
  packages/devextreme/testing/renovation-npm/react-app/src/index.jsx
  packages/devextreme/testing/renovation-npm/tests/.eslintrc
  packages/devextreme/testing/renovation-npm/tests/etalons/shot-angular.png
  packages/devextreme/testing/renovation-npm/tests/etalons/shot-react.png
  packages/devextreme/testing/renovation-npm/tests/run-and-capture.test.js
Owners: none

remove renovation-npm folder
  packages/devextreme/build/gulp/transpile.js
  testing/renovation-npm/.gitignore
  testing/renovation-npm/.testcaferc.json
  testing/renovation-npm/angular-app/.browserslistrc
  testing/renovation-npm/angular-app/.editorconfig
  testing/renovation-npm/angular-app/.gitignore
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/karma.conf.js
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.css
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/assets/.gitkeep
  testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/favicon.ico
  testing/renovation-npm/angular-app/src/index.html
  testing/renovation-npm/angular-app/src/main.ts
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/src/styles.css
  testing/renovation-npm/angular-app/tsconfig.app.json
  testing/renovation-npm/angular-app/tsconfig.json
  testing/renovation-npm/angular-app/tsconfig.spec.json
  testing/renovation-npm/gulpfile.js
  testing/renovation-npm/package.json
  testing/renovation-npm/react-app/.env
  testing/renovation-npm/react-app/.gitignore
  testing/renovation-npm/react-app/README.md
  testing/renovation-npm/react-app/package.json
  testing/renovation-npm/react-app/public/index.html
  testing/renovation-npm/react-app/src/App.jsx
  testing/renovation-npm/react-app/src/index.jsx
  testing/renovation-npm/tests/.eslintrc
  testing/renovation-npm/tests/etalons/shot-angular.png
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/renovation-npm/tests/run-and-capture.test.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
