Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fixes
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fix getCanvasForPane
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fixes
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

refactor
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Owners: none

fixes
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
Owners: none

move RollingStock to separate file & rework
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/rolling_stock.ts
Owners: none

refactor buttongroup styles in toolbar
  packages/devextreme/scss/widgets/base/_toolbar.scss
  packages/devextreme/scss/widgets/base/buttonGroup/_mixins.scss
  packages/devextreme/scss/widgets/generic/button/_colors.scss
  packages/devextreme/scss/widgets/generic/button/_index.scss
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/generic/numberBox/_colors.scss
  packages/devextreme/scss/widgets/generic/numberBox/_index.scss
  packages/devextreme/scss/widgets/generic/toolbar/_index.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
Owners: none

refactor dropdownbutton styles
  packages/devextreme/scss/widgets/base/_dropDownButton.scss
  packages/devextreme/scss/widgets/base/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/numberBox/_colors.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbarParts/toolbar.themes.sharedTests.js
Owners: none

refactor material
  packages/devextreme/scss/widgets/base/_dropDownButton.scss
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/material/button/_index.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_sizes.scss
Owners: none

refactor button sizing
  packages/devextreme/scss/widgets/base/_dropDownButton.scss
  packages/devextreme/scss/widgets/base/button/_mixins.scss
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/scss/widgets/generic/calendar/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

button with icon & text should have padding left 12 and padding right 16px
  packages/devextreme/scss/widgets/base/button/_mixins.scss
  packages/devextreme/scss/widgets/generic/button/_mixins.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

split mixin and base styles
  packages/devextreme/scss/widgets/base/_dropDownButton.scss
  packages/devextreme/scss/widgets/base/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/base/dropDownButton/_mixins.scss
  packages/devextreme/scss/widgets/generic/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (generic-light).png
Owners: none

import base styles
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/base/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_index.scss
Owners: none

change spindown size to 24px in default material theme
  packages/devextreme/scss/widgets/base/dropDownButton/_mixins.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_index.scss
  packages/devextreme/scss/widgets/material/dropDownButton/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render hover (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
Owners: none

simplify styles
  packages/devextreme/scss/widgets/base/dropDownButton/_mixins.scss
Owners: none

dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

Fix path to pin-browsers action
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

DropDownButton: add test scenarios without fixed width and modes with icon
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/common.ts
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render hover (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render hover (material-blue-light).png
Owners: none

Fix path
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Fix path
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Add working directories
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

fix generic
  packages/devextreme/scss/widgets/base/dropDownButton/_mixins.scss
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light-compact).png
Owners: none

fix(tabs): Set expanded class when defer
  packages/devextreme/js/ui/tabs.js
Owners: none

Tabs: Replace display table with flex-box
  packages/devextreme/scss/widgets/base/_tabs.scss
Owners: none

feat(tabPanel): Add addShadowDomStyles();
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
Owners: none

fix(toolbar): Update screenshots
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light-compact).png
Owners: none

fix(toolbar: screenshotss): Update screenshots && Remove pld styles
  packages/devextreme/scss/widgets/base/_toolbar.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light).png
Owners: none

fix(tabs: styles): Fix min-width
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Owners: none

fix(tabPanel): Add min/max-widths
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
Owners: none

fix(tabPanel): Fix styles
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
Owners: none

refactor(tabs): Remove extra styles
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
Owners: none

fix(tabs: styles): Add position relative
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabs.scss
Owners: none

revert(build: style-compiler): Return all themes
  packages/devextreme/build/gulp/styles/style-compiler.js
Owners: none

stash
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Owners: none

fix(toolbar): Update screenshots
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light).png
Owners: none

fix(tabs): Fix styling for stretched mode
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Owners: none

fix(tabPanel: styles): Fix tab width in Material
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/material/tabPanel/_index.scss
Owners: none

refactor(tabPanel: styles): Remove max/min widths
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
Owners: none

fix(tabs: styles): Fix nav buttons position and height
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/material/tabPanel/_index.scss
Owners: none

fix(tabs: styles): Add rtl support && Revert playground
  packages/devextreme/playground/jquery.html
  packages/devextreme/scss/widgets/base/_tabs.scss
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
