Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Bump DevExtreme version (#27279)
  package-lock.json
  package.json
Owners: none

Update dx.all.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers

Bump devextreme version (23.2.6) (#27280)
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

Bump DevExtreme version (#27281)
  package-lock.json
  package.json
Owners: none

fix
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/testcafe-models/dataGrid/index.ts
Owners: none

Bump DevExtreme version (#27282)
  package-lock.json
  package.json
Owners: none

ContextMenu / Scrolling: Fix error in Angular Demo
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.ts
Owners: none

typing for splitter parts, part 1
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

Change method order (declaration first)
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

Rename methods
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
Owners: none

fix: remove imports from trial panel (#27286)
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
Owners: none

Add tests
  packages/devextreme/js/__internal/scheduler/timezones/m_utils_timezones_data.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Owners: none

Scheduler: exp commit
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

Test commit
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Owners: none

Get rid of isEqualLocalTimeZoneByDeclarationCore
  .github/workflows/qunit_tests-additional-renovation.yml
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Owners: @DevExpress/devextreme-devops

refactor devextreme-angular gulpfile
  packages/devextreme-angular/gulpfile.js
Owners: none

Make the deepExtendArraySafe copy undefined if prevValue is undefined
  packages/devextreme/js/core/utils/object.js
Owners: none

merge
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update test
  packages/devextreme/testing/tests/DevExpress.core/utils.object.tests.js
Owners: none

Scheduler(T1225772): Fix root container styles
  packages/devextreme/testing/testcafe/tests/container.html
Owners: none

Scheduler(T1225772): Update etalons and container.html
  testing/testcafe/tests/container.html
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
Owners: none

Scheduler(T1225772): Skip unstable test from QUnit
  testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

Scheduler(T1225772): Skip unstable test from QUnit
  packages/devextreme/testing/testcafe/tests/scheduler/workSpace.ts
Owners: none

fix: themebuilder
  packages/devextreme/js/ui/tree_list.js
Owners: none

Fix accessibility issues
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/hierarchical_collection/ui.hierarchical_collection_widget.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Owners: none

DataGrid(T1226946): fix incorrect test case
  e2e/testcafe-devextreme/tests/dataGrid/editing/undefinedValues.ts
Owners: none

Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Owners: none

Core - deepExtendArraySafe - shallow -> deep copying of arrays
  packages/devextreme/js/core/utils/object.js
  packages/devextreme/testing/tests/DevExpress.core/utils.object.tests.js
Owners: none

Scheduler(T1225772): fix horizontal workspace width calculation (#27271)
  js/__internal/scheduler/workspaces/const.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/container.html
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
  testing/testcafe/tests/scheduler/workSpace.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Owners: none

Remove @type_function_param doctags containing EventInfo declaration
  packages/devextreme/js/core/dom_component.d.ts
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.d.ts
  packages/devextreme/js/ui/overlay.d.ts
  packages/devextreme/js/ui/widget/ui.widget.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/js/viz/core/base_widget.d.ts
  packages/devextreme/js/viz/sparklines/base_sparkline.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix: building
  packages/devextreme/js/exporter/common/export_load_panel.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.item_list.details.js
  packages/devextreme/js/ui/gantt/ui.gantt.export_helper.js
  packages/devextreme/js/ui/gantt/ui.gantt.js
Owners: none

CI: Update internal usage id (#27294)
  packages/devextreme/js/__internal/core/license/key.ts
Owners: none

Add reactivty test for named slots
  packages/devextreme-vue/src/core/__tests__/component.test.ts
Owners: none

Fix incorrect raw value
  packages/devextreme-vue/src/core/configuration.ts
  packages/devextreme-vue/src/core/vue-helper.ts
Owners: none

Fix value type
  packages/devextreme-vue/src/core/vue-helper.ts
Owners: none

Add unwrap proxy value test
  packages/devextreme-vue/src/core/__tests__/component.test.ts
Owners: none

Add reactivty test for named slots
  packages/devextreme-vue/src/core/__tests__/component.test.ts
Owners: none

refactor devextreme-angular webpack.test
  packages/devextreme-angular/webpack.test.js
Owners: none

Create _mixins.scss
  packages/devextreme/scss/widgets/base/checkBox/_mixins.scss
Owners: none

Fix incorrect raw value
  packages/devextreme-vue/src/core/configuration.ts
  packages/devextreme-vue/src/core/vue-helper.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
