Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Calendar: add values option to declaration (#25201)
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler - Move to TS - part 1: move files
  js/__internal/scheduler/appointment_popup/m_form.ts
  js/__internal/scheduler/appointment_popup/m_popup.ts
  js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  js/__internal/scheduler/appointments/data_provider/m_appointment_data_source.ts
  js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  js/__internal/scheduler/appointments/data_provider/m_utils.ts
  js/__internal/scheduler/appointments/m_appointment.ts
  js/__internal/scheduler/appointments/m_appointment_collection.ts
  js/__internal/scheduler/appointments/m_appointment_layout.ts
  js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  js/__internal/scheduler/appointments/m_render.ts
  js/__internal/scheduler/appointments/m_settings_generator.ts
  js/__internal/scheduler/appointments/m_text_utils.ts
  js/__internal/scheduler/appointments/m_view_model_generator.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_appointments_positioning_strategy_adaptive.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_appointments_positioning_strategy_base.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_week.ts
  js/__internal/scheduler/appointments/resizing/m_core.ts
  js/__internal/scheduler/appointments/resizing/m_utils.ts
Owners: none

T1178893
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/treeList/focusedRow.ts
Owners: none

fix test
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.nodes_state.js
Owners: none

Remove all badges
  menuMeta.json
Owners: none

start refactor of charts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fix context
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
Owners: none

fixes
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fix getCanvasForPane
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

new tests added
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Owners: none

fixes
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

HtmlEditor: add tabindex to scrollable div in Output Formats demo (#2725)
  Demos/HtmlEditor/OutputFormats/Angular/app/app.component.html
  Demos/HtmlEditor/OutputFormats/React/App.js
  Demos/HtmlEditor/OutputFormats/Vue/App.vue
  Demos/HtmlEditor/OutputFormats/jQuery/index.html
Owners: none

HtmlEditor: add tabindex to message cards in Mentions demo (#2726)
  Demos/HtmlEditor/Mentions/Angular/app/app.component.html
  Demos/HtmlEditor/Mentions/React/App.js
  Demos/HtmlEditor/Mentions/Vue/App.vue
  Demos/HtmlEditor/Mentions/jQuery/index.html
Owners: none

fix redraw chart issue
  packages/devextreme/js/viz/series/line_series.js
Owners: none

fix scheduler toolbar button styles
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
Owners: none

T1178543
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Owners: none

Move PieChartLegendItem (from __internal folder) declaration to d.ts ref #24030
  js/__internal/viz/m_pie_chart.ts
  js/viz/pie_chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Update paths after converting devextreme to monorepo (#743)
  src/autocomplete.ts
  src/calendar.ts
  src/check-box.ts
  src/color-box.ts
  src/common/data/custom-store.ts
  src/data-grid.ts
  src/date-box.ts
  src/date-range-box.ts
  src/drop-down-box.ts
  src/file-uploader.ts
  src/form.ts
  src/html-editor.ts
  src/list.ts
  src/lookup.ts
  src/number-box.ts
  src/progress-bar.ts
  src/radio-group.ts
  src/range-slider.ts
  src/recurrence-editor.ts
  src/select-box.ts
  src/slider.ts
  src/switch.ts
  src/tag-box.ts
  src/text-area.ts
  src/text-box.ts
  src/tree-list.ts
  src/tree-view.ts
Owners: none

Update paths after converting devextreme to monorepo (#743)
  src/autocomplete.ts
  src/calendar.ts
  src/check-box.ts
  src/color-box.ts
  src/common/data/custom-store.ts
  src/data-grid.ts
  src/date-box.ts
  src/date-range-box.ts
  src/drop-down-box.ts
  src/file-uploader.ts
  src/form.ts
  src/html-editor.ts
  src/list.ts
  src/lookup.ts
  src/number-box.ts
  src/progress-bar.ts
  src/radio-group.ts
  src/range-slider.ts
  src/recurrence-editor.ts
  src/select-box.ts
  src/slider.ts
  src/switch.ts
  src/tag-box.ts
  src/text-area.ts
  src/text-box.ts
  src/tree-list.ts
  src/tree-view.ts
Owners: none

Call "npm i" from root directory
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

refactor
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Owners: none

tests moved to editor base class
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Owners: none

Scheduler - Move to TS - part 1: move files
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_source.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_layout.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_render.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_text_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_view_model_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_appointments_positioning_strategy_adaptive.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_appointments_positioning_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_week.ts
  packages/devextreme/js/__internal/scheduler/appointments/resizing/m_core.ts
  packages/devextreme/js/__internal/scheduler/appointments/resizing/m_utils.ts
Owners: none

mistype fixed
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Owners: none

fixes
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
Owners: none

fix polar chart series drawing
  packages/devextreme/js/viz/series/line_series.js
Owners: none

CI: Call "npm i" from root directory in lint workflow (#25211)
  .github/workflows/lint.yml
Owners: @DevExpress/devextreme-devops

fix context
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
Owners: none

fixes
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

refactor
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
  packages/devextreme/js/__internal/viz/m_pie_chart.ts
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Owners: none

fixes
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fixes
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
Owners: none

fix getCanvasForPane
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

start refactor of charts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

move RollingStock to separate file & rework
  packages/devextreme/js/__internal/viz/chart_components/m_base_chart.ts
  packages/devextreme/js/__internal/viz/chart_components/rolling_stock.ts
Owners: none

Fix paths to actions
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Fix paths and naming
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Revert changes in angular tests
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

start refactor of charts
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/__internal/viz/m_chart.ts
Owners: none

fix context
  packages/devextreme/js/__internal/viz/chart_components/m_advanced_chart.ts
Owners: none
