Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901)
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/events/pointer.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901)
  js/common.d.ts
  js/events/pointer.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix tests. try 4
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

TextEditor: 'outside' label should be aligned when before buttons used and input should be focused after label click
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/scss/widgets/base/colorBox/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/colorBox/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/colorBox/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

clean transform property after option was changed
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

etalons added
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-light-compact).png
Owners: none

Update ui.text_editor.label.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Owners: none

hide toasts
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

refactoring
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Owners: none

fix horizontal border margins
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Owners: none

Fix fields style on draging
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
Owners: none

🎨 Fluent - fixes in scheduler(today button, compact header, text in header and time cell, padding in appointment) (#25849)
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

﻿grid
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

grid refactor
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Owners: none

﻿refactor
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

DataGrid - Filter icon in the Header Filter is displayed as active after the 'clearFilter' call (T1193648) (#25894)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Owners: none

DataGrid - Filter icon in the Header Filter is displayed as active after the 'clearFilter' call (T1193648) (#25894)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Filter icon in the Header Filter is displayed as active after the 'clearFilter' call (T1193648) (#25894)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Owners: @DevExpress/devextreme-grids

Fluent: Theme Builder - Add properties to change DataGrid/TreeList/Scheduler's border radius (#25782)
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Owners: none

update etalon
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
Owners: @DevExpress/devextreme-grids

update etalon
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
Owners: @DevExpress/devextreme-grids

List: select next item after deletion (#25864) (#25950)
  js/ui/list/ui.list.edit.js
  playground/jquery.html
  testing/testcafe/tests/editors/list/focus.ts
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

List: select next item after deletion (#25949)
  js/ui/list/ui.list.edit.js
  testing/testcafe/tests/editors/list/focus.ts
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

DataGrid - Filter icon in the Header Filter is displayed as active after the 'clearFilter' call (T1193648) (#25955)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Filter icon in the Header Filter is displayed as active after the 'clearFilter' call (T1193648) (#25956)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/headerFilter/etalons/header-filter-icon-clear-filter.png
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Owners: @DevExpress/devextreme-grids

React Wrappers: New Template Engine (#25781)
  package-lock.json
  packages/devextreme-react/.eslintrc
  packages/devextreme-react/jest.config.js
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/config.test.tsx
  packages/devextreme-react/src/core/__tests__/dx-template.test.tsx
  packages/devextreme-react/src/core/__tests__/extension-component.test.tsx
  packages/devextreme-react/src/core/__tests__/nested-option.test.tsx
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/template.test.tsx
  packages/devextreme-react/src/core/__tests__/templates-renderer.test.tsx
  packages/devextreme-react/src/core/__tests__/templates-store.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/dx-template.ts
  packages/devextreme-react/src/core/helpers.ts
  packages/devextreme-react/src/core/options-manager.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/template-wrapper.ts
  packages/devextreme-react/src/core/template-wrapper.tsx
  packages/devextreme-react/src/core/templates-manager.ts
  packages/devextreme-react/src/core/templates-renderer.tsx
  packages/devextreme-react/src/core/templates-store.ts
  packages/devextreme-react/src/core/types.ts
  packages/devextreme-react/tsconfig.json
Owners: none

Change import type
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-angular/src/core/nested-option.ts
  packages/devextreme-angular/src/core/template.ts
  packages/devextreme-angular/src/core/watcher-helper.ts
Owners: none

TabPanel: Fix updating tabs indicator position
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

Rename import
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-angular/src/core/nested-option.ts
  packages/devextreme-angular/src/core/template.ts
Owners: none

Revert ng update
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/tsconfig.lib.json
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/extension-component.test.tsx
  playgrounds/angular/package.json
  playgrounds/vue/package.json
Owners: none

Downgrade ng core version
  packages/devextreme-angular/package.json
Owners: none

Revert lock file
  package-lock.json
Owners: none

add types for autocomplete's reset fucntion
  packages/devextreme-angular/src/ui/autocomplete/index.ts
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-vue/src/autocomplete.ts
  packages/devextreme/js/ui/autocomplete.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert ng update
  package-lock.json
  package.json
  packages/devextreme-angular/build.config.js
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/ng-package.json
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/core/ng-package.json
  packages/devextreme-angular/src/core/package.json
  packages/devextreme-angular/src/server/ng-package.json
  packages/devextreme-angular/src/server/package.json
  packages/devextreme-angular/tests/src/core/component-extension.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/core/template.spec.ts
  packages/devextreme-angular/tests/src/ui/chart.spec.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  packages/devextreme-angular/tests/src/ui/events.spec.ts
  packages/devextreme-angular/tests/src/ui/form.spec.ts
  packages/devextreme-angular/tests/src/ui/list.spec.ts
  packages/devextreme-angular/tests/src/ui/responsive-box.spec.ts
  packages/devextreme-angular/tests/src/ui/tab-panel.spec.ts
  packages/devextreme-angular/tests/src/ui/toolbar.spec.ts
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-angular/tsconfig.lib.json
  packages/devextreme-angular/tsconfig.tests.json
  packages/devextreme-angular/webpack.test.js
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/extension-component.test.tsx
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

Revert ng and ts update (#25962)
  package-lock.json
  package.json
  packages/devextreme-angular/build.config.js
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/ng-package.json
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/core/ng-package.json
  packages/devextreme-angular/src/core/package.json
  packages/devextreme-angular/src/server/ng-package.json
  packages/devextreme-angular/src/server/package.json
  packages/devextreme-angular/tests/src/core/component-extension.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/core/template.spec.ts
  packages/devextreme-angular/tests/src/ui/chart.spec.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  packages/devextreme-angular/tests/src/ui/events.spec.ts
  packages/devextreme-angular/tests/src/ui/form.spec.ts
  packages/devextreme-angular/tests/src/ui/list.spec.ts
  packages/devextreme-angular/tests/src/ui/responsive-box.spec.ts
  packages/devextreme-angular/tests/src/ui/tab-panel.spec.ts
  packages/devextreme-angular/tests/src/ui/toolbar.spec.ts
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-angular/tsconfig.lib.json
  packages/devextreme-angular/tsconfig.tests.json
  packages/devextreme-angular/webpack.test.js
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/extension-component.test.tsx
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

TabPanel: Fix updating tabs indicator position (#25957)
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Owners: none

HtmlEditor: fix mention render in strict mode
  packages/devextreme/js/ui/html_editor/formats/mention.js
Owners: none

fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Owners: none

DEMOS: showBorders set to true in 'SingleSelection' demo and padding for label changed in 'Menu overview' demo (#2962)
  Demos/DropDownBox/SingleSelection/Angular/app/app.component.html
  Demos/DropDownBox/SingleSelection/React/App.tsx
  Demos/DropDownBox/SingleSelection/ReactJs/App.js
  Demos/DropDownBox/SingleSelection/Vue/App.vue
  Demos/DropDownBox/SingleSelection/jQuery/index.js
  Demos/Menu/Overview/Angular/app/app.component.css
  Demos/Menu/Overview/React/styles.css
  Demos/Menu/Overview/Vue/App.vue
  Demos/Menu/Overview/jQuery/styles.css
Owners: none

temporarily remove tagbox typed reset
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters
