Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

DataGrid - native classes - column headers (#26559)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

DataGrid - native classes - error handling (#26553)
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
Owners: none

DataGrid - native classes - context menu (#26554)
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/core/utils/iterator.js
Owners: none

DataGrid - native classes - filter panel (#26556)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: none

DataGrid - native classes - filter builder (#26557)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
Owners: none

DataGrid - native classes - pager (#26561)
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
Owners: none

DataGrid - native classes - grid view (#26560)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

DataGrid - native classes - column headers (#26559)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: none

DataGrid - native classes - error handling (#26553)
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
Owners: none

DataGrid - native classes - context menu (#26554)
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/core/utils/iterator.js
Owners: none

DataGrid - native classes - filter panel (#26556)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: none

DataGrid - native classes - filter builder (#26557)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
Owners: none

DataGrid - native classes - pager (#26561)
  js/__internal/grids/grid_core/pager/m_pager.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - grid view (#26560)
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - column headers (#26559)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - error handling (#26553)
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - context menu (#26554)
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/core/utils/iterator.js
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - filter panel (#26556)
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - filter builder (#26557)
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26543)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

fix ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
Owners: @DevExpress/devextreme-grids

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26543)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26543)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: @DevExpress/devextreme-grids

cherry-pick from #26543
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - cherry-picks (#26565)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/pager/m_pager.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/core/utils/iterator.js
Owners: @DevExpress/devextreme-grids

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26567)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: none

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26569)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid - native classes - cherry-picks (#26566)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/core/utils/iterator.js
Owners: none

DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829) (#26568)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Owners: @DevExpress/devextreme-grids

fix treeList extenders
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
Owners: none

fix angular test
  playgrounds/angular/src/app/app.component.spec.ts
Owners: none

fix W1023 warning
  playgrounds/angular/src/app/app.component.ts
  playgrounds/angular/src/app/appointment.service.ts
Owners: none

Add Intl types to Localization Format
  packages/devextreme/js/localization.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

ts bundle
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Add test case
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Owners: none

fix
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
Owners: none

DataGrid: Disable row selection by shift for not loaded data when there is grouping and virtual scrolling is enabled (T1180554)
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

Fix TreeList tests
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/ui/selection/selection.js
Owners: @DevExpress/devextreme-grids

Splitter spike
  package-lock.json
  package.json
  packages/devextreme/js/ui/box.js
  packages/devextreme/js/ui/collection/ui.collection_widget.live_update.js
  packages/devextreme/js/ui/resizable.js
  packages/devextreme/js/ui/themes.js
  packages/devextreme/package.json
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/testcafe/helpers/changeTheme.ts
  packages/devextreme/testing/testcafe/runner.js
  packages/devextreme/testing/testcafe/tests/container.html
  packages/devextreme/testing/testcafe/tests/editors/button/common.ts
Owners: none

Add e2e test
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
