Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix translation
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/ru.json
Owners: none

fix
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
Owners: @DevExpress/devextreme-grids

Exclude column types
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
Owners: none

qunit
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
Owners: @DevExpress/devextreme-grids

Apply fixes after moving code to TS
  js/__internal/common/m_charts.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/common/charts.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/funnel/funnel.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.common/charts.tests.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Move code of Charts to TS files
  js/__internal/common/m_charts.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
Owners: none

code refactor
  js/__internal/grids/grid_core/m_utils.ts
Owners: @DevExpress/devextreme-grids

code refactor
  js/__internal/grids/grid_core/m_utils.ts
Owners: @DevExpress/devextreme-grids

add test
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  testing/testcafe/tests/dataGrid/markup/noDataText.ts
Owners: @DevExpress/devextreme-grids

update etalon
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
Owners: @DevExpress/devextreme-grids

fix
  js/__internal/grids/grid_core/m_utils.ts
Owners: @DevExpress/devextreme-grids

HtmlEditor: fix `getModule` naming (#2719) (#2720)
  Demos/HtmlEditor/Tables/description.md
Owners: none

revert test changes
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

fix tests
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

update etalons
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-2.png
Owners: @DevExpress/devextreme-grids

fix tests 3
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Owners: @DevExpress/devextreme-grids

comment
  js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: @DevExpress/devextreme-grids

test
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Owners: @DevExpress/devextreme-grids

fix performance tests
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: @DevExpress/devextreme-grids

refactoring
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/m_sortable.ts
  js/core/renderer.d.ts
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

don't set col.width='auto' when it is undefined
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
Owners: @DevExpress/devextreme-grids

fix 2
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: @DevExpress/devextreme-grids

fix tests 2
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/m_sortable.ts
  js/core/renderer.d.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Owners: @DevExpress/devextreme-grids

fix pronounce of items
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Owners: none

Accessibility: DataGrid Editing - Add aria-label attributes for editors
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

Accessibility: DataGrid Editing - Add aria-label attributes for editors (#25132)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/const.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/shared/ui.editor_factory_mixin.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: none

refactor selector prioritization
  packages/devextreme/scss/widgets/base/_icons.scss
Owners: none

Accessibility: DataGrid Editing - Add aria-label attributes for editors
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

revert gridBase changes
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

fix filter builder when hierarchical field is selected
  packages/devextreme/js/ui/filter_builder/utils.js
Owners: none

test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Owners: none

update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Owners: none

fix
  js/ui/text_box/ui.text_editor.base.js
Owners: none

add axe tests
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
Owners: none

Accessibility: DataGrid Editing - Add aria-label attributes for editors (#25161)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

Accessibility: DataGrid Editing - Add aria-label attributes for editors (#25162)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Owners: @DevExpress/devextreme-grids, @DevExpress/devextreme-techwriters

isDirty prop added
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

isDirty change handler
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form/ui.form.js
Owners: none

isDirty prop added
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters
