Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

DataGrid - The "aria-label" attribute value is "Show filter options for column 'undefined'" for the header filter icon in grouped fields (T1205784) (#26432)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanelItem.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

DataGrid - The "aria-label" attribute value is "Show filter options for column 'undefined'" for the header filter icon in grouped fields (T1205784) (#26432)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanelItem.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

DataGrid - The "aria-label" attribute value is "Show filter options f… (#26436)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/groupPanelItem.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

DataGrid - The "aria-label" attribute value is "Show filter options for column 'undefined'" for the header filter icon in grouped fields (T1205784) (#26432)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/groupPanel.ts
  testing/testcafe/model/dataGrid/groupPanelItem.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: @DevExpress/devextreme-grids

DataGrid - The "aria-label" attribute value is "Show filter options for column 'undefined'" for the header filter icon in grouped fields (T1205784) (#26437)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/groupPanel.ts
  testing/testcafe/model/dataGrid/groupPanelItem.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: @DevExpress/devextreme-grids

Simplify generateOptionMatrix, fix combinations with empty values, use generic for better typings
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none

apply review suggestions
  packages/devextreme/js/__internal/viz/core/themes/fluent/index.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/carmine.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/contrast.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/dark.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/darkmoon.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/darkviolet.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/greenmist.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/index.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/softblue.ts
  packages/devextreme/js/__internal/viz/core/themes/material/index.ts
Owners: none

Add scheduler workflow for daily packages publishing
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

Bump devextreme version
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Owners: none

refactor tests
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=outside-styleMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup placeholder if value is not choosen (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=false,lAl=left,e.lMode=hidden,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=hidden,lLoc=left,lVis=false,lAl=left,e.lMode=hidden,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=hidden,lLoc=left,lVis=false,lAl=left,e.lMode=undefined,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=left,lVis=false,lAl=left,e.lMode=hidden,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=outside,lLoc=left,lVis=false,lAl=left,e.lMode=undefined,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=false,lAl=left,e.lMode=hidden,e.sMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=center,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=center,e.lMode=undefined,e.sMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=right,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=left,lVis=true,lAl=right,e.lMode=undefined,e.sMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=center,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=center,e.lMode=undefined,e.sMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=left,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=left,e.lMode=undefined,e.sMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=right,e.lMode=undefined,e.sMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=static,lLoc=right,lVis=true,lAl=right,e.lMode=undefined,e.sMode=underlined (generic-light).png
Owners: none

Checkout README.md to initialize repo for gh cli usage
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

update etalons
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/common.ts
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (generic-light).png
  screenshots/testing/screenshots/Lookup appearance (generic-light).png
  screenshots/testing/screenshots/Lookup appearance (generic-light-compact).png
  screenshots/testing/screenshots/Lookup width adjust to fit its content (generic-light).png
  screenshots/testing/screenshots/Lookup width adjust to fit its content (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/Lookup appearance (generic-light).png
  screenshots/testing/screenshots/thumbnails/Lookup appearance (generic-light-compact).png
  screenshots/testing/screenshots/thumbnails/Lookup width adjust to fit its content (generic-light).png
  screenshots/testing/screenshots/thumbnails/Lookup width adjust to fit its content (generic-light-compact).png
Owners: none

update etalons
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=center,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=center,e.lMode=undef,e.sMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=left,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=left,e.lMode=undef,e.sMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=right,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=left,lVis=true,lAl=right,e.lMode=undef,e.sMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=center,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=center,e.lMode=undef,e.sMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=left,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=left,e.lMode=undef,e.sMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=right,e.lMode=undef,e.sMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form,lMode=floating,lLoc=right,lVis=true,lAl=right,e.lMode=undef,e.sMode=underlined (material-blue-light).png
Owners: none

update screenshot name
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup appearance with limited width (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup width adjust to fit its content (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/form/form.labelMode.ts
Owners: none

TextEditor: get rid of labelledby to placeholder to fix pronunciation (T1207161) (#26424)
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Owners: none

TextEditor: get rid of labelledby to placeholder to fix pronunciation (T1207161) (#26424)
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Owners: none

Add scheduler workflow for daily gh packages publishing (#26438)
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

Implement exclude for option matrix
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none

Improve e2e tests to add scrolling to different dates and groups
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

Fix typings after merge
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
Owners: none

Improve tests for basic and agenda views
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

Improve tests for timeline views
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

T1209314
  packages/devextreme/js/__internal/scheduler/timezones/timezones_data.ts
Owners: none

Improve testing params
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

Fix vertical virtual scrolling
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Owners: none

Add rtlEnabled into tests, exclude known issues
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

Move tests to template fixture
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/appointmentTemplate.ts
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/appointments.ts
Owners: none

Optimize tests duration
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/appointmentTemplate.ts
Owners: none

Give enough time for rendering
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/appointmentTemplate.ts
Owners: none

Refactor tests
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/appointmentTemplate.ts
Owners: none

Scheduler(T1206036): Fix tests.
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/utils.test.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/multiCellSelection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
Owners: none

Fall back to ubuntu-latest runners, because old git version in devextreme-shr2 does not support sparse checkout
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

TextEditor: get rid of labelledby to placeholder to fix pronunciation (T1207161)
  js/ui/text_box/ui.text_editor.base.js
  scss/widgets/base/textEditor/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Owners: none

Packages Publishing: Fall back to ubuntu-latest runners, to fix sparse checkout (#26445)
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
Owners: @DevExpress/devextreme-devops

(fix) - Scheduler - Custom Templates codesandbox (#3108)
  Demos/Scheduler/CustomTemplates/React/Appointment.tsx
  Demos/Scheduler/CustomTemplates/ReactJs/Appointment.js
Owners: none

TextEditor: get rid of labelledby to placeholder to fix pronunciation (T1207161) (#26446)
  js/ui/text_box/ui.text_editor.base.js
  scss/widgets/base/textEditor/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Owners: none

TextEditor: get rid of labelledby to placeholder to fix pronunciation (T1207161)
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Owners: none

Turn off quarantine mode
  packages/devextreme/testing/testcafe/runner.js
Owners: none

Simplify generateOptionMatrix, fix combinations with empty values, use generic for better typings
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none

Implement exclude for option matrix
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
Owners: none
