Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Fix remarks
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Owners: @DevExpress/devextreme-grids

Fix remarks
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Owners: @DevExpress/devextreme-grids

Tabs: Use base constants for icon width
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/material/tabs/variables/_sizes.scss
Owners: none

refactor(tabs): Remove axpect method
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

test
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Owners: none

fix(tabs): Add condition
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/focus.ts
Owners: none

Switch signature key (#26021)
  packages/devextreme/js/__internal/core/license/key.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
Owners: none

etalon
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/headerRow-highlight-on-drag.png
Owners: none

Tabs: Use base constants for icon width
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_sizes.scss
  packages/devextreme/scss/widgets/material/tabs/variables/_sizes.scss
Owners: none

use changing size of container
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
Owners: none

fix(tabs): Add getting element from jq-object
  packages/devextreme/js/ui/tabs.js
Owners: none

Implement internal-license check
  packages/devextreme/js/__internal/core/license/key.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
Owners: none

update etalons with new size
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (material-blue-light).png
Owners: none

Chart - Palette - fix failing tests (#3013)
  Demos/Charts/Palette/Angular/app/app.component.ts
  Demos/Charts/Palette/Vue/App.vue
  Demos/Charts/Palette/jQuery/index.js
  configs/Angular/config.js
  configs/ReactJs/config.js
  configs/Vue/config.js
Owners: none

Log devextreme-demos top commit (#26036)
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Gallery - Content should not be moved on focus state (#26029)
  packages/devextreme/scss/widgets/base/_gallery.scss
  packages/devextreme/scss/widgets/fluent/gallery/_index.scss
  packages/devextreme/scss/widgets/generic/gallery/_index.scss
  packages/devextreme/scss/widgets/material/gallery/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/gallery/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Focused gallery. showIndicator=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/gallery/etalons/Gallery. showIndicator=true (material-blue-light).png
Owners: none

Convert vue File Management Demos to Composition API (#3000)
  Demos/FileManager/AzureClientBinding/Vue/App.vue
  Demos/FileManager/AzureClientBinding/Vue/index.html
  Demos/FileManager/AzureServerBinding/Vue/App.vue
  Demos/FileManager/AzureServerBinding/Vue/index.html
  Demos/FileManager/BindingToEF/Vue/App.vue
  Demos/FileManager/BindingToEF/Vue/index.html
  Demos/FileManager/BindingToFileSystem/Vue/App.vue
  Demos/FileManager/BindingToFileSystem/Vue/index.html
  Demos/FileManager/BindingToHierarchicalStructure/Vue/App.vue
  Demos/FileManager/BindingToHierarchicalStructure/Vue/index.html
  Demos/FileManager/CustomThumbnails/Vue/App.vue
  Demos/FileManager/CustomThumbnails/Vue/index.html
  Demos/FileManager/Overview/Vue/App.vue
  Demos/FileManager/Overview/Vue/index.html
  Demos/FileManager/UICustomization/Vue/App.vue
  Demos/FileManager/UICustomization/Vue/index.html
  Demos/FileUploader/AzureDirectUploading/Vue/App.vue
  Demos/FileUploader/AzureDirectUploading/Vue/index.html
  Demos/FileUploader/ChunkUploading/Vue/App.vue
  Demos/FileUploader/ChunkUploading/Vue/index.html
  Demos/FileUploader/CustomDropzone/Vue/App.vue
  Demos/FileUploader/CustomDropzone/Vue/index.html
  Demos/FileUploader/FileSelection/Vue/App.vue
  Demos/FileUploader/FileSelection/Vue/index.html
  Demos/FileUploader/FileUploading/Vue/App.vue
  Demos/FileUploader/FileUploading/Vue/index.html
  Demos/FileUploader/Validation/Vue/App.vue
  Demos/FileUploader/Validation/Vue/index.html
Owners: none

Generate internal packages
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/utils.js
Owners: none

Convert vue Dialogs and Notifications Demos to Composition API (#3010)
  Demos/Common/DialogsAndNotificationsOverview/Vue/App.vue
  Demos/Common/DialogsAndNotificationsOverview/Vue/index.html
  Demos/LoadIndicator/Overview/Vue/App.vue
  Demos/LoadIndicator/Overview/Vue/index.html
  Demos/LoadPanel/Overview/Vue/App.vue
  Demos/LoadPanel/Overview/Vue/index.html
  Demos/Popover/Overview/Vue/App.vue
  Demos/Popover/Overview/Vue/index.html
  Demos/Popup/Overview/Vue/App.vue
  Demos/Popup/Overview/Vue/EmployeeItem.vue
  Demos/Popup/Overview/Vue/index.html
  Demos/Popup/Scrolling/Vue/App.vue
  Demos/Popup/Scrolling/Vue/index.html
  Demos/ProgressBar/Overview/Vue/App.vue
  Demos/ProgressBar/Overview/Vue/index.html
  Demos/Toast/Overview/Vue/App.vue
  Demos/Toast/Overview/Vue/ProductItem.vue
  Demos/Toast/Overview/Vue/index.html
  Demos/Toast/Stack/Vue/App.vue
  Demos/Toast/Stack/Vue/index.html
  Demos/Tooltip/Overview/Vue/App.vue
  Demos/Tooltip/Overview/Vue/index.html
Owners: none

Exclude validateLicense from internal packages
  packages/devextreme/build/gulp/npm.js
Owners: none

Implement internal-license check (#26038)
  packages/devextreme/js/__internal/core/license/key.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
Owners: none

Optimize exponentiation
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none

Fix excluding validateLicense function
  packages/devextreme/build/gulp/npm.js
Owners: none

Remove unnecessary mod operation
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none

Optimize license-check performance (#26039)
  packages/devextreme/js/__internal/core/license/rsa_bigint.ts
Owners: none

Scheduler: Fix popup deprecation warning.
  js/__internal/scheduler/appointment_popup/m_popup.ts
Owners: none

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25901) + add deprecated text
  js/common.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Scheduler day length: fix workspace issues related to DST. (#26010)
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/types.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/base.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/timeline_week.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/week.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.viewOffset.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Owners: none

Editors: make "reset" method's types more strict (#25961)
  packages/devextreme/js/ui/autocomplete.d.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/check_box.d.ts
  packages/devextreme/js/ui/color_box.d.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/js/ui/date_range_box.d.ts
  packages/devextreme/js/ui/file_uploader.d.ts
  packages/devextreme/js/ui/number_box.d.ts
  packages/devextreme/js/ui/progress_bar.d.ts
  packages/devextreme/js/ui/range_slider.d.ts
  packages/devextreme/js/ui/slider.d.ts
  packages/devextreme/js/ui/switch.d.ts
  packages/devextreme/js/ui/text_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Convert to composition API Chart/SignalRService demo (#3015)
  Demos/Charts/SignalRService/Vue/TooltipTemplate.vue
  Demos/Charts/SignalRService/Vue/index.html
Owners: none

DateRangeBox: hover style should be applied on second date pick in disableDatesOutOfRange mode (#26035)
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/calendar.ts
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/common.ts
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox hover stylingMode=underlined isValid=true (material-blue-light-compact).png
Owners: none

Fluent: increase customization options for TextEditor in ThemeBuilder
  packages/devextreme/scss/widgets/base/lookup/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
  packages/devextreme/scss/widgets/generic/lookup/_colors.scss
  packages/devextreme/scss/widgets/generic/lookup/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_colors.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Owners: none

dxGantt: fix issue fix DST (T1196559)
  package-lock.json
  package.json
Owners: none

dxGantt: fix issue fix DST (T1196559)
  package-lock.json
  package.json
Owners: none

use bottom border
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Owners: none

draft: add modern color scheme
  packages/devextreme/build/gulp/styles/theme-options.js
  packages/devextreme/playground/themeSelector.js
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
Owners: none

Convert vue Localization Demos to Composition API (#3011)
  Demos/Localization/UsingGlobalize/Vue/App.vue
  Demos/Localization/UsingGlobalize/Vue/index.html
  Demos/Localization/UsingIntl/Vue/App.vue
  Demos/Localization/UsingIntl/Vue/index.html
Owners: none

Tabs/TabPanel: Add demo-container and fix sizes
  Demos/TabPanel/Overview/Angular/app/app.component.css
  Demos/TabPanel/Overview/Angular/app/app.component.html
  Demos/TabPanel/Overview/Angular/app/app.component.ts
  Demos/TabPanel/Overview/React/styles.css
  Demos/TabPanel/Overview/ReactJs/styles.css
  Demos/TabPanel/Overview/Vue/App.vue
  Demos/TabPanel/Overview/Vue/TaskItem.vue
  Demos/TabPanel/Overview/jQuery/index.html
  Demos/TabPanel/Overview/jQuery/styles.css
  Demos/Tabs/Overview/Angular/app/app.component.css
  Demos/Tabs/Overview/Angular/app/app.component.html
  Demos/Tabs/Overview/Angular/app/app.component.ts
  Demos/Tabs/Overview/React/App.tsx
  Demos/Tabs/Overview/React/styles.css
  Demos/Tabs/Overview/ReactJs/App.js
  Demos/Tabs/Overview/ReactJs/styles.css
  Demos/Tabs/Overview/Vue/App.vue
  Demos/Tabs/Overview/jQuery/index.html
  Demos/Tabs/Overview/jQuery/index.js
  Demos/Tabs/Overview/jQuery/styles.css
Owners: none

Drawer: publish css class with background color for demo purposes
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/common/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
  packages/devextreme/scss/widgets/generic/common/_index.scss
  packages/devextreme/scss/widgets/material/common/_index.scss
Owners: none

dxGantt: fix issue with DST (T1196559)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
