Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

dxGantt: fix fullscreen mode issue (T1230629) (#27375)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

dxGantt: fix fullscreen mode issue (T1230629) (#27376)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/fullScreenMode.tests.js
Owners: none

Scheduler(T1220618): fix issue with cells' sizes css classes (#27410)
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizes.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizesCss.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

Scheduler(T1220618): fix issue with cells' sizes css classes (#27410)
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizesCss.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

fix tests
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

EOF
  e2e/testcafe-devextreme/tests/treeList/markup.ts
Owners: none

update etalons
  apps/demos/testing/etalons/ContextMenu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling.png
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (material.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible.png
Owners: none

Scheduler(T1220618): fix issue with cells' sizes css classes (#27410) (#27441)
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizesCss.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Owners: none

Get rid of root deps
  package.json
  pnpm-lock.yaml
Owners: none

Remake getting version implementation to eliminate the warning while build (#27427)
  packages/devextreme-vue/src/core/version.ts
Owners: none

Fix eslint configs
  packages/devextreme/.eslintrc.js
  packages/devextreme/js/__internal/.eslintrc.js
Owners: none

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

Ignore test
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

dxGantt: fix scroll jump (T1233562)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

dxGantt: fix scroll jump (T1233562)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

dxGantt: fix scroll jump (T1233562)
  js/ui/gantt/ui.gantt.treelist.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

Lint tune
  packages/devextreme/js/__internal/.eslintrc.js
Owners: none

Remake getting version implementation to eliminate the warning while build (#27427)
  packages/devextreme-vue/src/core/version.ts
Owners: none

fix on PR review missed typos and indention of lines
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/Menu/Scrolling/React/App.tsx
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/App.js
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Vue/App.vue
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/jQuery/index.js
Owners: none

update etalons
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
Owners: none

update menu etalons
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
Owners: none

dxGantt: fix scroll jump (T1233562) (#27444)
  js/ui/gantt/ui.gantt.treelist.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

dxGantt: fix scroll jump (T1233562) (#27443)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

dxGantt: fix scroll jump (T1233562) (#27442)
  packages/devextreme/js/ui/gantt/ui.gantt.treelist.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/taskData.js
Owners: none

Remake getting version implementation to eliminate the warning while build (#27446)
  packages/devextreme-vue/src/core/version.ts
Owners: none

fix ci
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

lint fix
  e2e/testcafe-devextreme/tests/treeList/markup.ts
Owners: none

NX: devextreme scripts configs
  packages/devextreme/project.json
Owners: none

update babel
  apps/demos/package.json
  package-lock.json
  packages/devextreme/package.json
Owners: none

Update known-warnings.json
  apps/demos/testing/known-warnings.json
Owners: none

update runtime (again)
  package-lock.json
Owners: none

downgrade babel and plugins to fix TestCafe
  apps/demos/package.json
  package-lock.json
  packages/devextreme/package.json
Owners: none

Put dxToolbarItem doc tag name (aka docid) into correct relative js module (like other CollectionWidgetItem)
  packages/devextreme-angular/src/ui/toolbar/index.ts
  packages/devextreme/js/ui/toolbar.js
Owners: none

Revert "Skip exit on error (too early)"
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Bump "devextreme-internal-tools" to "14.0.0-beta.2"
  package-lock.json
  package.json
Owners: none

GridCore(T1194403): Core review fixes.
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: none

Revert "Lint"
  packages/devextreme/js/ui/diagram.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert "use instead message"
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert "dxDiagramCustomCommand -> CustomCommand after @public"
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Revert "Rename enums types start with 'Diagram', add re-export for modules and alias for bundle"
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.tsx
  apps/demos/Demos/Diagram/UICustomization/React/App.tsx
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
