Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Disable accessibility tests
  e2e/testcafe-devextreme/tests/accessibility/autocomplete.ts
  e2e/testcafe-devextreme/tests/accessibility/button.ts
  e2e/testcafe-devextreme/tests/accessibility/buttonGroup.ts
  e2e/testcafe-devextreme/tests/accessibility/calendar.ts
  e2e/testcafe-devextreme/tests/accessibility/checkBox.ts
  e2e/testcafe-devextreme/tests/accessibility/colorBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dateBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dateRangeBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dropDownButton.ts
  e2e/testcafe-devextreme/tests/accessibility/list.ts
  e2e/testcafe-devextreme/tests/accessibility/lookup.ts
  e2e/testcafe-devextreme/tests/accessibility/numberBox.ts
  e2e/testcafe-devextreme/tests/accessibility/popup.ts
  e2e/testcafe-devextreme/tests/accessibility/selectBox.ts
  e2e/testcafe-devextreme/tests/accessibility/splitter.ts
  e2e/testcafe-devextreme/tests/accessibility/switch.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
  e2e/testcafe-devextreme/tests/accessibility/tagBox.ts
  e2e/testcafe-devextreme/tests/accessibility/textArea.ts
  e2e/testcafe-devextreme/tests/accessibility/textBox.ts
  e2e/testcafe-devextreme/tests/accessibility/tileView.ts
  e2e/testcafe-devextreme/tests/accessibility/treeView.ts
Owners: none

Test hint, name, height configurations
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
Owners: none

Test width, placeholder, focusStateEnabled configurations
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
Owners: none

Test read only configuration
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
Owners: none

Update transpiling target (#27195)
  apps/demos/utils/bundle/index.js
  package-lock.json
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-angular/tsconfig.tests.json
  packages/devextreme-vue/tsconfig.json
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/transpile-config.js
  packages/devextreme/js/__internal/tsconfig.json
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests.babelrc.json
  tsconfig.json
Owners: none

Disable test (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
Owners: none

Create a11y test (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
  e2e/testcafe-devextreme/tests/containerQuill.html
Owners: none

Remove disable configuration (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

Remove read only configuration (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

Revert configuration (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

Remove flaky a11y test (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
  e2e/testcafe-devextreme/tests/containerQuill.html
Owners: none

Create a11y test (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
  e2e/testcafe-devextreme/tests/containerQuill.html
Owners: none

Update container.html
  e2e/testcafe-devextreme/tests/container.html
Owners: none

fix linter
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: none

TagBox: Handle when dropdown list is not rendered immediatly
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Create a11y test (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
  e2e/testcafe-devextreme/tests/container.html
Owners: none

escape new panel elements in tests
  packages/devextreme/testing/tests/Memory Leaks/elementsOnDispose_bundled.tests.js
Owners: none

Revert "Update other compilation targets"
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-vue/tsconfig.json
  tsconfig.json
Owners: none

modify test scenarios
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Add process.exit
  apps/demos/utils/bundle/index.js
Owners: none

improve second test scenario
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Rollback transpiling in platform packages to fix demos bundling (#27342)
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-vue/tsconfig.json
  tsconfig.json
Owners: none

enums: @public + @namespace
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

dxDiagramCustomCommand: @public
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

commands prop (+ re-generated react): types via native d.ts (without @type doc tag)
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

commands prop (+ re-generated react): types via native d.ts (without @type doc tag)
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix error catching in bundling for demos (#27343)
  apps/demos/utils/bundle/index.js
Owners: none

Change pagePath (dxHtmlEditor)
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
Owners: none

Fix to not copy nested undefined if shouldCopyUndefined is false
  packages/devextreme/js/core/utils/object.js
Owners: none

remove unused variable
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Disable test (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

Fix NX cache, remove WA for wrappers
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
  packages/devextreme-angular/tsconfig.tests.json
  packages/devextreme-react/project.json
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/options-manager.ts
  packages/devextreme-vue/project.json
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/configuration.ts
  packages/devextreme-vue/src/core/vue-helper.ts
  pnpm-lock.yaml
Owners: @DevExpress/devextreme-devops

Bump devextreme version
  apps/angular/package.json
  apps/demos/package.json
  apps/react-storybook/package.json
  apps/react/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/package.json
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/core/version.js
  packages/devextreme/package.json
  packages/testcafe-models/package.json
Owners: none

gen: package-lock
  package-lock.json
Owners: none

Update other compilation targets
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-vue/tsconfig.json
  tsconfig.json
Owners: none

Turn on transpiling for all sources included into demos bundles
  apps/demos/utils/bundle/index.js
Owners: none

Create dropDownBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dropDownBox.ts
Owners: none

Migrate DateRangeBox component to TS
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range.utils.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
Owners: none

Disable test (dxDropDownBox)
  e2e/testcafe-devextreme/tests/accessibility/dropDownBox.ts
Owners: none

Create dropDownBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dropDownBox.ts
Owners: none
