Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Fix timelineWorkWeek appointments
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
Owners: none

Bump DevExtreme version
  package-lock.json
  package.json
Owners: none

Splitter: implement direction support (#26607)
  packages/devextreme/js/__internal/ui/m_splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
Owners: none

Bump DevExtreme version (#26628)
  package-lock.json
  package.json
Owners: none

Revert "Fix timelineWorkWeek appointments"
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
Owners: none

Bump DevExtreme version (#26627)
  package-lock.json
  package.json
Owners: none

Revert comment about known issues
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
Owners: none

DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554) (#26611)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/selection/selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: none

DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554) (#26610)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/selection/selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: none

DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554) (#26609)
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Owners: @DevExpress/devextreme-grids

chore: drop core's string.utils.replaceAll (#26605)
  packages/devextreme/js/core/utils/string.js
  packages/devextreme/testing/tests/DevExpress.core/utils.string.tests.js
Owners: none

chore: drop core's string.utils.replaceAll (#26605)
  packages/devextreme/js/core/utils/string.js
  packages/devextreme/testing/tests/DevExpress.core/utils.string.tests.js
Owners: none

chore: drop core's string.utils.replaceAll (#26605)
  js/core/utils/string.js
  testing/tests/DevExpress.core/utils.string.tests.js
Owners: none

T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
Owners: none

T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
Owners: none

T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
Owners: none

move
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_area/m_data_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/fields_area/m_fields_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/headers_area/m_headers_area.ts
Owners: none

wip
  packages/devextreme/js/__internal/ui/splitter/resize_handle.js
  packages/devextreme/js/ui/resize_handle.js
  packages/devextreme/scss/widgets/base/splitter/_resizeHandle.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/resizeHandle.tests.js
Owners: none

Fix after cherry-pick
  js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587) (#26631)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
Owners: none

T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587) (#26632)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
Owners: none

Fix access level modifier in Scheduler
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

Fix access level modifier in Scheduler (#26633)
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

Fix access level modifier in Scheduler (#26633)
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

Fix access level modifier in Scheduler (#26633) (#26634)
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

Remove unused scss variables
  packages/devextreme/scss/widgets/base/_validation.scss
  packages/devextreme/scss/widgets/base/calendar/_mixins.scss
  packages/devextreme/scss/widgets/fluent/calendar/_index.scss
  packages/devextreme/scss/widgets/fluent/validation/_index.scss
  packages/devextreme/scss/widgets/fluent/validation/_sizes.scss
  packages/devextreme/scss/widgets/generic/calendar/_index.scss
  packages/devextreme/scss/widgets/material/calendar/_index.scss
  packages/devextreme/scss/widgets/material/validation/_index.scss
  packages/devextreme/scss/widgets/material/validation/_sizes.scss
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Fix tests
  packages/devextreme/scss/widgets/fluent/validation/_sizes.scss
  packages/devextreme/scss/widgets/material/calendar/_index.scss
  packages/devextreme/scss/widgets/material/validation/_sizes.scss
Owners: none

Remove unused generic CSS variables
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/base/treeView/_common.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/treeList/_colors.scss
  packages/devextreme/scss/widgets/generic/button/_colors.scss
  packages/devextreme/scss/widgets/generic/button/_sizes.scss
  packages/devextreme/scss/widgets/generic/htmlEditor/_sizes.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_sizes.scss
  packages/devextreme/scss/widgets/generic/speedDialAction/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/timeView/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeList/_colors.scss
  packages/devextreme/scss/widgets/generic/treeView/_sizes.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/treeList/_colors.scss
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

add name field in template arg
  packages/devextreme-react/src/form.ts
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Remove unused material SCSS variables
  packages/devextreme/scss/widgets/fluent/fileManager/_colors.scss
  packages/devextreme/scss/widgets/material/accordion/_sizes.scss
  packages/devextreme/scss/widgets/material/button/_colors.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/fileManager/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_sizes.scss
  packages/devextreme/scss/widgets/material/pager/_sizes.scss
  packages/devextreme/scss/widgets/material/scheduler/_sizes.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/switch/_colors.scss
  packages/devextreme/scss/widgets/material/tagBox/_sizes.scss
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

Remove unused fluent SCSS variables
  packages/devextreme/scss/widgets/fluent/accordion/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_mixins.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_colors.scss
  packages/devextreme/scss/widgets/fluent/overlay/_colors.scss
  packages/devextreme/scss/widgets/fluent/pager/_sizes.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_sizes.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_sizes.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textBox/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_sizes.scss
  packages/devextreme/testing/styles/unused-elements.test.ts
Owners: none

resizable approach with events is used, some tests added, guid used for namespace generation, refactoring
  packages/devextreme/js/__internal/ui/splitter/resize_handle.js
  packages/devextreme/js/ui/resize_handle.js
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/scss/widgets/base/splitter/_resizeHandle.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

add direction class to resize handle
  packages/devextreme/js/__internal/ui/splitter/resize_handle.js
Owners: none

clean completed todo comments
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/resizeHandle.markup.tests.js
Owners: none

GridCore: Migrate Selection module.
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Owners: none

GridCore: Migrate Editing module.
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
Owners: none

GridCore: Migrate Validating module.
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

GridCore: Migrate Validating module.
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Owners: none

GridCore: Fix Editing module extenders.
  packages/devextreme/js/__internal/grids/data_grid/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
Owners: none
