Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Update types.ts
  packages/testcafe-models/types.ts
Owners: none

Create loadIndicator.ts
  e2e/testcafe-devextreme/tests/accessibility/loadIndicator.ts
Owners: none

Disable test (dxLoadIndicator)
  e2e/testcafe-devextreme/tests/accessibility/loadIndicator.ts
Owners: none

Trial: add close button (#27338)
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/testing/tests/Memory Leaks/elementsOnDispose_bundled.tests.js
Owners: none

Update types.ts
  packages/testcafe-models/types.ts
Owners: none

Bump devextreme version (24.1.2) (#27345)
  apps/angular/package.json
  apps/demos/package.json
  apps/react-storybook/package.json
  apps/react/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/package.json
  package-lock.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/core/version.js
  packages/devextreme/package.json
  packages/testcafe-models/package.json
Owners: none

Create map.ts
  e2e/testcafe-devextreme/tests/accessibility/map.ts
Owners: none

Remove center configuration (dxMap)
  e2e/testcafe-devextreme/tests/accessibility/map.ts
Owners: none

commands prop (+ re-generated react): types via native d.ts (without @type doc tag)
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Migrate DateRangeBox component to TS: fix errors
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/core/r1/template_wrapper.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/utils/update_views_borders.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/m_draggable.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range.utils.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/events/core/events_engine.d.ts
  packages/devextreme/js/renovation/component_wrapper/common/template_wrapper.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/js/ui/date_range_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.strategy.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Use NX for run CI tasks
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
  packages/devextreme-angular/project.json
  packages/devextreme-react/project.json
  packages/devextreme-vue/project.json
  packages/devextreme/project.json
  tools/scripts/build-all.ts
Owners: @DevExpress/devextreme-devops

Lint
  packages/devextreme/js/ui/diagram.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Disable test (dxMap)
  e2e/testcafe-devextreme/tests/accessibility/map.ts
Owners: none

Update types.ts
  packages/testcafe-models/types.ts
Owners: none

demos without any
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.tsx
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/ReactJs/App.js
  apps/demos/Demos/Diagram/UICustomization/React/App.tsx
  apps/demos/Demos/Diagram/UICustomization/ReactJs/App.js
Owners: none

Create drawer.ts
  e2e/testcafe-devextreme/tests/accessibility/drawer.ts
Owners: none

failed tests research
  .github/workflows/testcafe_tests.yml
  tools/scripts/build-all.ts
Owners: @DevExpress/devextreme-devops

Create form.ts
  e2e/testcafe-devextreme/tests/accessibility/form.ts
Owners: none

Disable test (dxForm)
  e2e/testcafe-devextreme/tests/accessibility/form.ts
Owners: none

Update types.ts
  packages/testcafe-models/types.ts
Owners: none

Create validationSummary.ts
  e2e/testcafe-devextreme/tests/accessibility/validationSummary.ts
Owners: none

Fix demos tests
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/package.json
  apps/demos/rollup.devextreme-angular.umd.config.mjs
  apps/demos/rollup.ng.umd.config.mjs
  pnpm-lock.yaml
Owners: @DevExpress/devextreme-devops

Update types.ts
  packages/testcafe-models/types.ts
Owners: none

DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (#26835)
  js/__internal/grids/grid_core/validating/m_validating.ts
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: @DevExpress/devextreme-grids

Create drawer.ts
  e2e/testcafe-devextreme/tests/accessibility/drawer.ts
Owners: none

Create map.ts
  e2e/testcafe-devextreme/tests/accessibility/map.ts
Owners: none

Create form.ts
  e2e/testcafe-devextreme/tests/accessibility/form.ts
Owners: none

Create loadIndicator.ts
  e2e/testcafe-devextreme/tests/accessibility/loadIndicator.ts
Owners: none

Create validationSummary.ts
  e2e/testcafe-devextreme/tests/accessibility/validationSummary.ts
Owners: none

DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (Reopen) (#27168)
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: @DevExpress/devextreme-grids

Migrate DateRangeBox component to TS
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range.utils.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
Owners: none

Migrate DateRangeBox component to TS: fix errors
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/core/r1/template_wrapper.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/utils/update_views_borders.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/m_draggable.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range.utils.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/events/core/events_engine.d.ts
  packages/devextreme/js/renovation/component_wrapper/common/template_wrapper.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/js/ui/date_range_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.strategy.tests.js
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix T1226973
  packages/devextreme-themebuilder/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
  packages/devextreme-themebuilder/tests/modules/bootstrap-extractor.test.ts
Owners: none

Research
  .github/workflows/wrapper_tests.yml
  apps/demos/utils/bundle/index.js
Owners: @DevExpress/devextreme-devops

update browser
  .github/actions/pin-browsers/action.yml
Owners: @DevExpress/devextreme-devops

refactor trial panel button
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Owners: none

Fix for bootstrap >5.0.* and <5.3.*
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
Owners: none

Upgrade testcafe for e2e tests
  .github/workflows/wrapper_tests.yml
  apps/demos/rollup.ng.umd.config.mjs
  e2e/testcafe-devextreme/package.json
  pnpm-lock.yaml
Owners: @DevExpress/devextreme-devops

fix
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Owners: @DevExpress/devextreme-grids

Upgrade testcafe, fix demos deps, fix passing params
  .github/workflows/testcafe_tests.yml
  apps/demos/package.json
  pnpm-lock.yaml
Owners: @DevExpress/devextreme-devops
