Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Revert "alias for prev ee307730e909499ee2aa333a363ba28892d2d50c"
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Warning Fix
  apps/demos/Demos/Scheduler/Agenda/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Agenda/Angular/app/app.service.ts
  apps/demos/Demos/Scheduler/Agenda/React/App.tsx
  apps/demos/Demos/Scheduler/Agenda/React/data.ts
  apps/demos/Demos/Scheduler/Agenda/ReactJs/App.js
  apps/demos/Demos/Scheduler/Agenda/ReactJs/data.js
  apps/demos/Demos/Scheduler/Agenda/Vue/App.vue
  apps/demos/Demos/Scheduler/Agenda/Vue/data.ts
  apps/demos/Demos/Scheduler/Agenda/jQuery/data.js
  apps/demos/Demos/Scheduler/Agenda/jQuery/index.js
Owners: none

Fix EINVAL error on npm run build-themes
  package-lock.json
  packages/devextreme/package.json
Owners: none

Sublevels test
  e2e/testcafe-devextreme/tests/treeList/markup.ts
Owners: none

using theme constants
  e2e/testcafe-devextreme/tests/treeList/markup.ts
Owners: none

update etalons
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
Owners: none

move
  e2e/typescript/.eslintrc.js
  e2e/typescript/consts.ts
  e2e/typescript/core.ts
  e2e/typescript/data/data_source.ts
  e2e/typescript/data/stores.ts
  e2e/typescript/license_validation.ts
  e2e/typescript/package.json
  e2e/typescript/scheduler.ts
  e2e/typescript/tsconfig.json
  packages/devextreme/testing/typescript/package-lock.json
Owners: none

fix: update imports
  e2e/typescript/core.ts
  e2e/typescript/data/data_source.ts
  e2e/typescript/data/stores.ts
  e2e/typescript/license_validation.ts
  e2e/typescript/scheduler.ts
  e2e/typescript/tsconfig.json
Owners: none

refactor: add test target
  e2e/typescript/package.json
Owners: none

refactor: remove gulp
  packages/devextreme/build/gulp/ts.js
Owners: none

refactor: remove old ci checks
  .github/workflows/lint.yml
  .github/workflows/ts_declarations.yml
  packages/devextreme/package.json
Owners: @DevExpress/devextreme-devops

fix: add devextreme-main as dep
  e2e/typescript/package.json
Owners: none

gen: package-lock
  package-lock.json
Owners: none

fix: increase timeout
  .github/workflows/default_workflow.yml
Owners: @DevExpress/devextreme-devops

DataGrid: Fix focus stuck in grid when first column is fixed and it contains a link (T1216832) (#27436)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix EINVAL error on npm run build-themes (#27450)
  package-lock.json
  packages/devextreme/package.json
Owners: none

fix lint issue and some additional typos
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
Owners: none

update
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
Owners: none

fix other spacing issues
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
Owners: none

fix: change tsconfig
  e2e/typescript/tsconfig.json
Owners: none

update
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
Owners: none

Remove unnecessary condition
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

Remove comment
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

Small fixes
  apps/demos/Demos/Scheduler/Agenda/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Agenda/ReactJs/App.js
Owners: none

TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168) (#27231)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Owners: none

GridCore(T1194403): remove redundant refocus of the cells editor (#27411)
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
Owners: none

GridCore(T1194403): remove redundant refocus of the cells editor (#27411)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: none

GridCore(T1194403): remove redundant refocus of the cells editor (#27411)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: @DevExpress/devextreme-grids

chore: update babel (#27429)
  apps/demos/package.json
  package-lock.json
  packages/devextreme/package.json
Owners: none

Revert "Revert "Lint""
  packages/devextreme/js/ui/diagram.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

update nx to 19
  .env
  migrations.json
  nx.json
  package-lock.json
  package.json
Owners: none

remove migrations.json
  migrations.json
Owners: none

recover package lock
  package-lock.json
Owners: none

Refactor test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Refactor _setFieldAria
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
Owners: none

Remove debugger
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Owners: none

Removed existing doc comment with `@name dxToolbarItem` (previosly re-defined in proper module)
  packages/devextreme/js/ui/toolbar/ui.toolbar.js
Owners: none

GridCore(T1194403): Update etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
Owners: none

GridCore(T1194403): Update etalons
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
Owners: @DevExpress/devextreme-grids

Arrange dxToolbarItem type import in Angular toolbar component (#27449)
  packages/devextreme-angular/src/ui/toolbar/index.ts
  packages/devextreme/js/ui/toolbar.js
  packages/devextreme/js/ui/toolbar/ui.toolbar.js
Owners: none
