Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Use different setup chrome and setup firefox actions
  .github/actions/pin-browsers/action.yml
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Remove redundant branch from renovate config
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: none

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Owners: @DevExpress/devextreme-grids

Fix QUnit run action
  .github/actions/run-qunit-tests/action.yml
Owners: @DevExpress/devextreme-devops

Setup renovate bot to update chrome and node version automatically
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Refactor namings in yaml files
  .github/actions/run-qunit-tests/action.yml
  .github/actions/setup-chrome/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Remove version specification in step name to prevent name and version mismatch
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
Owners: @DevExpress/devextreme-devops

update icons
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/images/icons/fluent/arrowdown.svg
  packages/devextreme/images/icons/fluent/arrowleft.svg
  packages/devextreme/images/icons/fluent/arrowright.svg
  packages/devextreme/images/icons/fluent/arrowup.svg
  packages/devextreme/images/icons/fluent/chevrondoubleleft.svg
  packages/devextreme/images/icons/fluent/chevrondoubleright.svg
  packages/devextreme/images/icons/fluent/chevrondown.svg
  packages/devextreme/images/icons/fluent/chevronleft.svg
  packages/devextreme/images/icons/fluent/chevronright.svg
  packages/devextreme/images/icons/fluent/chevronup.svg
  packages/devextreme/images/icons/fluent/sortdown.svg
  packages/devextreme/images/icons/fluent/sorted.svg
  packages/devextreme/images/icons/fluent/sortup.svg
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.navigator.js
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/accordion/_colors.scss
  packages/devextreme/scss/widgets/fluent/accordion/_index.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/button/_mixins.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

Update _colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
Owners: none

Revert "Update _colors.scss"
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
Owners: none

Revert "Revert "Update _colors.scss""
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
Owners: none

Fix workflow run trigger
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Fix workflow run trigger
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Fix storing a cache
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

Fix storing a cache
  .github/workflows/spike.yml
Owners: @DevExpress/devextreme-devops

spike
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_classes.ts
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/material/scheduler/_index.scss
Owners: none

fix default options tests
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/toolbar/ui.toolbar.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Owners: none

update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Owners: none

Scheduler day length: Rework solution.
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/utils/offset_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Owners: none

Use specific version for Firefox
  .github/actions/run-qunit-tests/action.yml
Owners: @DevExpress/devextreme-devops

square toolbar buttons
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Owners: none

fix review
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
Owners: none

fix review
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
Owners: none

editing form button
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
Owners: none

fix qunit
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
Owners: none

add aliases
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix qunit
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
Owners: none

Rework setup browser in workflows (#25620)
  .github/actions/pin-browsers/action.yml
  .github/actions/run-qunit-tests/action.yml
  .github/actions/setup-chrome/action.yml
  .github/renovate.json
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

Implement firefox version update by renovate bot
  .github/renovate.json
Owners: @DevExpress/devextreme-devops

Rework setup browser in workflows (#25620)
  .github/actions/pin-browsers/action.yml
  .github/actions/run-qunit-tests/action.yml
  .github/actions/setup-chrome/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

add aliases to modules
  packages/devextreme/js/viz/chart.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

remove nested package.json
  packages/devextreme/artifacts/npm/devextreme/package.json
Owners: none

fix gitignore
  packages/devextreme/.gitignore
Owners: none

fix messages
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/ts/aliases.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

move copying package.json back
  packages/devextreme/build/gulp/npm.js
Owners: none

remove scripts from prod package.json
  packages/devextreme/build/gulp/npm.js
Owners: none

remove preinstall
  packages/devextreme/build/preinstall.js
  packages/devextreme/package.json
Owners: none
