Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownOptions.tests.js
Owners: none

Update package-lock.json
  package-lock.json
Owners: none

set "sideEffects" as list side-effect files. It affects the treeShaking
  packages/devextreme/build/gulp/transpile.js
Owners: none

Fix timeline tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Owners: none

Fix workspace tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Owners: none

Add preinstall script for generate package file (#25408)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/preinstall.js
  packages/devextreme/package.json
Owners: none

set "sideEffects" as list side-effect files. It affects the treeShaking +refactor
  packages/devextreme/build/gulp/side-effects-finder.js
  packages/devextreme/build/gulp/transpile.js
Owners: none

Fix virtual scrolling tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Owners: none

test CI
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

fix error
  packages/devextreme-react/src/core/__tests__/component.test.tsx
Owners: none

fix test
  packages/devextreme-react/src/core/__tests__/component.test.tsx
Owners: none

Accessibility tree: merge tables with an aria-owns attribute
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/testing/testcafe/helpers/accessibilityUtils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Owners: none

Fix lint tests
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/js/ui/tree_list/ui.tree_list.column_headers.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

set "sideEffects" as list side-effect files. It affects the treeShaking +refactor
  packages/devextreme/build/gulp/side-effects-finder.js
Owners: none

Scheduler: Fix the default resource text being rendered in the agenda view when resourceCellTemplate is defined (T1181733) (#25381)
  packages/devextreme/js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/etalons/resource-cell-template-currentView=agenda.png
Owners: none

cherry-pick
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/scheduler/layout/templates/etalons/resource-cell-template-currentView=agenda.png
Owners: none

cherry-pick
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/scheduler/layout/templates/etalons/resource-cell-template-currentView=agenda.png
Owners: none

add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Owners: none

Refactoring
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

testInActiveWindow
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Owners: none

DataGrid - Component sends unexpected filtering request after inserting a new row if focusedRowEnabled is true (T1181477) (#25210)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Owners: none

DataGrid - Component sends unexpected filtering request after inserting a new row if focusedRowEnabled is true (T1181477)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_utils.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Owners: @DevExpress/devextreme-grids

Revert "etalon"
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/etalons/resource-cell-template-currentView=agenda.png
Owners: none

Revert "lint"
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
Owners: none

DataGrid - Component sends unexpected filtering request after inserting a new row if focusedRowEnabled is true (T1181477)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_utils.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Owners: @DevExpress/devextreme-grids

Revert "test"
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
Owners: none

fix tests in shadow dom
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Owners: none

test
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
Owners: none

Use repository variable
  .github/workflows/ci.yml
Owners: @DevExpress/devextreme-devops

fix
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Owners: none

test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Owners: none

Use ref as target for FileUploader options
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/widget-config.ts
Owners: none

set "sideEffects" as list side-effect files. It affects the treeShaking +refactor
  packages/devextreme/build/gulp/side-effects-finder.js
  packages/devextreme/build/gulp/transpile.js
Owners: none

Require generator modules inside a "generate" task
  packages/devextreme-react/gulpfile.js
  packages/devextreme-vue/gulpfile.js
  packages/vue2-strategy/gulpfile.js
Owners: none

Clear templates store when component does not have slots
  packages/devextreme-vue/src/core/__tests__/templates-manager.test.ts
  packages/devextreme-vue/src/core/templates-manager.ts
Owners: none

Test: set scheduler-header-panel-top-gap to 0px
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_sizes.scss
Owners: none

Review fixes
  .github/workflows/devextreme_angular_tests.yml
  package.json
Owners: @DevExpress/devextreme-devops

set "sideEffects" as list side-effect files. It affects the treeShaking + refactor optimization
  packages/devextreme/build/gulp/side-effects-finder.js
Owners: none

Fix lint
  packages/devextreme-vue/src/core/templates-manager.ts
Owners: none

Use ref as target for FileUploader options (fix T1183211) (#25420)
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/widget-config.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
