Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Use ubuntu-latest in demo tests as a fallback
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

Use ubuntu-latest in demo tests as a fallback
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

CI: Use ubuntu-latest runner in demo tests as a fallback (#27466)
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

CI: Use ubuntu-latest runner in demo tests as a fallback (#27467)
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

CP commit
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Resolve review
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
Owners: none

Fix setDefaultAria
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
Owners: none

Fix CP
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Owners: none

CP commit
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Fix CP
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
Owners: none

Fix CP
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Owners: none

fix: skip
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
Owners: none

DateBox: Rearrange attaching mouseEvents before rendering masks (#27465)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

DateBox: Rearrange attaching mouseEvents before rendering masks (#27464)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Owners: none

Omit invalid attribute on initialization
  packages/devextreme/js/ui/validator.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Remove unnecessary test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

refactor
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

revert change
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Owners: none

DataGrid - skip unstable testcafe tests (#27468)
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
Owners: none

SelectBox: Set "role" when fieldTemplate is rendered (T1230635) (#27457)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set "role" when fieldTemplate is rendered (T1230635) (#27458)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set "role" when fieldTemplate is rendered (T1230635) (#27459)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Create validator test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Splitter: improve collapsed functionality (#27420)
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Owners: none

TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168) (#27461)
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-generic.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/markup.ts
Owners: none

TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168) (#27462)
  scss/widgets/base/_gridBase.scss
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/treeList/etalons/T1223168-expandable-generic.light.png
  testing/testcafe/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  testing/testcafe/tests/treeList/markup.ts
Owners: @DevExpress/devextreme-grids

Bump "devextreme-internal-tools" to "12.0.0"
  package-lock.json
  package.json
Owners: none

Refactor fix & test
  packages/devextreme/js/ui/validator.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Remove unnecessary argument
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

Add assert on existing tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Add assert
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Fix lint
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

Apply fix
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
Owners: none

Switch, Resizable, Map: move files to TS
  packages/devextreme/js/__internal/ui/m_map.ts
  packages/devextreme/js/__internal/ui/m_resizable.ts
  packages/devextreme/js/__internal/ui/m_switch.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/js/__internal/ui/map/m_provider.google_static.ts
  packages/devextreme/js/__internal/ui/map/m_provider.ts
Owners: none

RadioButton, RadioGroup, Gallery, MultiView, TileView: move files to TS
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/multi_view/m_multi_view.animation.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_button.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
Owners: none

Switch, Resizable, Map: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/m_map.ts
  packages/devextreme/js/__internal/ui/m_resizable.ts
  packages/devextreme/js/__internal/ui/m_switch.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/js/__internal/ui/map/m_provider.google_static.ts
  packages/devextreme/js/__internal/ui/map/m_provider.ts
  packages/devextreme/js/ui/map.js
  packages/devextreme/js/ui/resizable.js
  packages/devextreme/js/ui/switch.js
  packages/devextreme/testing/tests/Bootstrap Integration/widget_bundled.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/init_dispose_widget_bundled_tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  packages/devextreme/testing/tests/Memory Leaks/dropDownEditorHideShow_bundled.tests.js
  packages/devextreme/testing/tests/Memory Leaks/elementsOnDispose_bundled.tests.js
  packages/devextreme/testing/tests/Memory Leaks/elementsOnRefresh_bundled.tests.js
  packages/devextreme/testing/tests/Memory Leaks/eventsOnDispose_bundled.tests.js
  packages/devextreme/testing/tests/Memory Leaks/eventsOnRefresh_bundled.tests.js
Owners: none

Fix test labels
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Owners: none

RadioButton, RadioGroup, Gallery, MultiView, TileView: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/editor.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/multi_view/m_multi_view.animation.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_button.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/gallery.js
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/js/ui/radio_group/radio_button.js
  packages/devextreme/js/ui/radio_group/radio_group.js
  packages/devextreme/js/ui/tile_view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Owners: none

Apply fix
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
Owners: none

Create test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
