Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-api-reviewers

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-api-reviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

T1123386
  package-lock.json
  package.json
Owners: none

TestCafe: fix unstable tests
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Owners: none

revert changes
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
Owners: none

T1123386 (#23606)
  package-lock.json
  package.json
Owners: none

T1123386 (#23605)
  package-lock.json
  package.json
Owners: none

T1123386 (#23604)
  package-lock.json
  package.json
Owners: none

T1123386 (#23607)
  package-lock.json
  package.json
Owners: none

fix unstable
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
Owners: none

Update testcafe to v.2.2.0 (#23603)
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

Update testcafe to v.2.2.0 (#23603)
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

Update testcafe to v.2.2.0 (#23603)
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

TestCafe: fix unstable tests (#23608)
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Owners: none

add mask
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
Owners: none

TestCafe: fix unstable tests (#23608)
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Owners: none

set default browser size for all tests
  .github/workflows/testcafe_tests.yml
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/etalons/T1113525.page-size-select.png
  testing/testcafe/tests/dataGrid/etalons/grid-cell-edit-mode-and-new-row-position-last.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-dropdown-button-in-menu.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-dropdown-button.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-in-menu.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-pdf.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
  testing/testcafe/tests/dataGrid/etalons/grid-toolbar-dropdown-menu.png
  testing/testcafe/tests/renovation/etalons/button.png
  testing/testcafe/tests/renovation/etalons/check_box_checked.png
  testing/testcafe/tests/renovation/etalons/check_box_indeterminate.png
  testing/testcafe/tests/renovation/etalons/check_box_unchecked.png
  testing/testcafe/tests/treeList/etalons/T1054312-material.blue.light.png
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Owners: @DevExpress/devextreme-devops

set default window size
  .github/workflows/testcafe_tests.yml
  testing/testcafe/runner.js
Owners: @DevExpress/devextreme-devops

remove npmrc
  .github/workflows/testcafe_tests.yml
  .npmrc
Owners: @DevExpress/devextreme-devops

TestCafe: fix unstable tests (#23608) (#23613)
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Owners: none

Update testcafe to v.2.2.0 (#23603) (#23610)
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

Update testcafe to v.2.2.0 (#23603) (#23609)
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Owners: @DevExpress/devextreme-devops

refactor
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

change jobs
  .github/workflows/testcafe_tests.yml
Owners: @DevExpress/devextreme-devops

removed updateDimensions from renderWorkSpace
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Owners: none

refactor
  testing/testcafe/helpers/clearPage.js
  testing/testcafe/helpers/clearPage.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/form/etalons/Form color of the mark (generic-contrast).png
  testing/testcafe/tests/form/etalons/Form color of the mark (generic-dark).png
  testing/testcafe/tests/htmlEditor/common.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device.png
  testing/testcafe/tests/htmlEditor/format.ts
Owners: none

move security folder to datagrid folder
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/security/pages/XSS.html
  testing/testcafe/tests/dataGrid/security/xss.ts
Owners: none

fix htmlEditor tests
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
Owners: none

fix path in xss test
  testing/testcafe/tests/dataGrid/security/xss.ts
Owners: none

refactor
  .github/workflows/testcafe_tests.yml
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
  testing/testcafe/tests/scheduler/grouping/init/widget.setup.ts
Owners: @DevExpress/devextreme-devops

try fix security test
  testing/testcafe/tests/dataGrid/security/xss.ts
Owners: none

Fix TS - make GlobalConfig type public
  js/core/config.d.ts
  js/core/config.js
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters

rename etalons
  testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (generic-light-compact).png
  testing/testcafe/tests/editors/lookup/etalons/Lookup with no found data (material-blue-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup horizontal validation (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup horizontal validation (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: none

fix node version for demos testcafe tests
  .github/workflows/devextreme_npm_tests.yml
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=true (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=true (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=true (generic-light-compact).png
  testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Owners: @DevExpress/devextreme-devops

set default window size for editor folder
  testing/testcafe/runner.js
Owners: none

update etalons
  testing/testcafe/tests/editors/button/etalons/Button render (generic-light).png
  testing/testcafe/tests/editors/button/etalons/Button render (generic-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button render with overflow (generic-light).png
  testing/testcafe/tests/editors/button/etalons/Button render with overflow (generic-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button stretch of large text (generic-light).png
  testing/testcafe/tests/editors/button/etalons/Button stretch of large text (generic-light-compact).png
  testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=true (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=true (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=true (generic-light-compact).png
Owners: none

Sync with 23.1 (56110244d5ed56252836205cbc799a1555ff1ae6)
  packages/interim/src/common.d.ts
  packages/interim/src/core/dom_adapter.js
  packages/interim/src/core/renderer_base.js
  packages/interim/src/core/utils/style.js
  packages/interim/src/data/abstract_store.d.ts
  packages/interim/src/data/custom_store.d.ts
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/interim/src/renovation/component_wrapper/common/mutations_recording.ts
Owners: @DevExpress/devextreme-api-reviewers, @DevExpress/devextreme-techwriters

Update devextreme-internal-tools package to 7.8.5
  package-lock.json
  package.json
Owners: none
