Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

Fix EINVAL error on npm run build-themes 23_2 (#27516)
  package-lock.json
  packages/devextreme/package.json
Owners: none

Creaet Unit test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Update app.component.html
  apps/demos/Demos/DataGrid/RemoteVirtualScrolling/Angular/app/app.component.html
Owners: none

Removed unnecessary object level to have only array
  apps/demos/Demos/DataGrid/InfiniteScrolling/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/VirtualScrolling/Angular/app/app.component.ts
Owners: none

Menu, ContextMenu, SubMenu: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/hierarchical.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.edit.strategy.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/context_menu.js
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.breadcrumbs.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.context_menu.js
  packages/devextreme/js/ui/menu.js
  packages/devextreme/testing/tests/DevExpress.knockout/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Owners: none

Apply fix
  packages/devextreme/js/__internal/ui/m_tag_box.ts
Owners: none

Create TestCafe test
  e2e/testcafe-devextreme/tests/editors/tagBox/tags.ts
Owners: none

Refactor solution and tests
  e2e/testcafe-devextreme/tests/editors/tagBox/tags.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Fix labels
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Update react peer dependencies
  packages/devextreme-react/package.json
Owners: none

update package lock
  package-lock.json
Owners: none

add NX configs
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  apps/demos/.npmrc
  apps/demos/package.json
  apps/demos/project.json
  e2e/testcafe-devextreme/project.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/project.json
  packages/devextreme-themebuilder/project.json
  packages/devextreme-vue/project.json
  packages/devextreme/project.json
Owners: @DevExpress/devextreme-devops

Apply reviews (Drag&DropHierarchical)
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/data.ts
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/jQuery/styles.css
Owners: none

T1210807
  e2e/testcafe-devextreme/tests/pivotGrid/virtualScrolling_T1210807.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  packages/testcafe-models/pivotGrid/index.ts
  packages/testcafe-models/pivotGrid/rowsArea.ts
Owners: none

Apply reviews (Drag&DropPlainDataStructure)
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/jQuery/styles.css
Owners: none

Splitter: hide repaintChangesOnly option from types and documentation (#27517)
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Apply reviews (ItemSelectionAndCustomization)
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Angular/app/app.component.css
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/React/styles.css
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/ReactJs/styles.css
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/jQuery/styles.css
Owners: none

Fix markup
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
Owners: none

Fix lint
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
Owners: none

Ray's approved text
  packages/devextreme/js/core/errors.js
Owners: none

fix
  e2e/testcafe-devextreme/docker/Dockerfile
  e2e/testcafe-devextreme/docker/run-testcafe.js
  packages/devextreme/.dockerignore
  packages/devextreme/build/gulp/qunit-in-docker.js
  packages/devextreme/gulpfile.js
  packages/devextreme/package.json
Owners: none

Fix label
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Owners: none

Update etalons
  apps/demos/testing/etalons/TreeView-ItemSelectionAndCustomization (fluent.blue.light).png
  apps/demos/testing/etalons/TreeView-ItemSelectionAndCustomization (material.blue.light).png
  apps/demos/testing/etalons/TreeView-ItemSelectionAndCustomization.png
  apps/demos/testing/widgets/treeview/etalons/treeview_selection_field_is_open (fluent.blue.light).png
  apps/demos/testing/widgets/treeview/etalons/treeview_selection_field_is_open (material.blue.light).png
  apps/demos/testing/widgets/treeview/etalons/treeview_selection_field_is_open.png
Owners: none

Apply fix
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/jQuery/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/jQuery/styles.css
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Owners: none

Fix icons
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/data.ts
Owners: none

24_1 Fix W0001 in Angular Remote Virtual Scrolling demo (#27519)
  apps/demos/Demos/DataGrid/RemoteVirtualScrolling/Angular/app/app.component.html
Owners: none

24_1 W1011 Angular demos Fix (#27520)
  apps/demos/Demos/DataGrid/InfiniteScrolling/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/VirtualScrolling/Angular/app/app.component.ts
Owners: none

add more NX configs
  .github/workflows/playgrounds_tests.yml
  .github/workflows/wrapper_tests.yml
  apps/angular/project.json
  apps/react/project.json
  apps/vue/project.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/project.json
  packages/devextreme-vue/project.json
Owners: @DevExpress/devextreme-devops

Build packages on windows-latest runner. Clone, build and run deps scanner in monorepo folder
  .github/workflows/packages_publishing.yml
Owners: @DevExpress/devextreme-devops

chore: add comparing DevExtreme version with dependent product version (#27478)
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/utils/version.ts
  packages/devextreme/js/bundles/modules/core.js
  packages/devextreme/js/core/errors.js
  packages/devextreme/js/core/version_check.js
Owners: none

Update React Peer Dependencies (#27522)
  package-lock.json
  packages/devextreme-react/package.json
Owners: none

Remove <span>
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
Owners: none

add etalon
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807.png
Owners: none

Add NX env vars
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

Lookup: move files to TS
  packages/devextreme/js/__internal/ui/m_lookup.ts
Owners: none

Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Owners: none

Lookup: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/ui/lookup.js
Owners: none

ProgressBar: move files to TS
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
Owners: none

fix lint
  e2e/testcafe-devextreme/tests/pivotGrid/virtualScrolling_T1210807.ts
Owners: none

ProgressBar: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
  packages/devextreme/js/ui/progress_bar.js
Owners: none
