Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

fix(tabPanel): Fix tab width when scrollable is active and without navigation
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
Owners: none

fix(tabPanel): Fix stretched tabs in tabPanel, etc.
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/scss/widgets/fluent/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/scss/widgets/material/tabPanel/_index.scss
Owners: none

fix(tabs): Add span into tab-text && Add second span for Fluent
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Owners: none

fix(tabs): Fix text wrap in vertical tabs && Fix _isItemsHeightExceeded calc
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/base/_tabs.scss
Owners: none

fix(tabPanel): Return 140px min width into Generic
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
Owners: none

fix(tabs: Fluent): Inscrease selector
  packages/devextreme/scss/widgets/fluent/tabPanel/_index.scss
Owners: none

fix(tabs): Increase selector
  packages/devextreme/scss/widgets/material/tabs/layout/tab/styling-mode/_primary.scss
Owners: none

fix(tabs): Add row-gap
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
Owners: none

fix(tabs): Revert _isItemsHeightExceeded && Remove display data cell from tests
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabs): Update test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabPanel): Return 140px width
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/variables/_sizes.scss
Owners: none

fix(tabs): Update _isItemsWidthExceeded condition
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Owners: none

fix(tabs: Fluent): Fix pseudo el disabled color
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
Owners: none

fix(tabs: Fluent): Set em into icon width, height && Set line-height factor for icon
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
Owners: none

fix(tabs: Fluent): Set base line-height
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
Owners: none

stash
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/playground/jquery.html
Owners: none

revert(icons): Revert sizes
  packages/devextreme/scss/widgets/base/_icons.scss
Owners: none

Core: Fix how the Inferno template wrapper removes its children (#26050)
  packages/devextreme/js/renovation/component_wrapper/common/__tests__/component.test.tsx
  packages/devextreme/js/renovation/component_wrapper/common/template_wrapper.ts
  packages/devextreme/testing/tests/DevExpress.ui.events/remove.tests.js
Owners: none

Core: Fix how the Inferno template wrapper removes its children (#26050)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/template_wrapper.ts
  testing/tests/DevExpress.ui.events/remove.tests.js
Owners: none

Core: Fix how the Inferno template wrapper removes its children (#26050)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/utils/utils.ts
  testing/tests/DevExpress.ui.events/remove.tests.js
Owners: none

Core: Fix how the Inferno template wrapper removes its children (#26050)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/utils/utils.ts
  testing/tests/DevExpress.ui.events/remove.tests.js
Owners: none

add a missing import
  js/renovation/component_wrapper/utils/utils.ts
Owners: none

Fluent: fixing variable dependencies for customization via ThemeBuilder (#26066)
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/accordion/_colors.scss
  packages/devextreme/scss/widgets/fluent/accordion/_index.scss
  packages/devextreme/scss/widgets/fluent/accordion/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/card/_index.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/diagram/_index.scss
  packages/devextreme/scss/widgets/fluent/fileManager/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/accordion/_sizes.scss
  packages/devextreme/scss/widgets/material/slider/_colors.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_colors.scss
Owners: none

add a missing import
  js/renovation/component_wrapper/utils/utils.ts
Owners: none

fix cherry-picked line
  js/renovation/component_wrapper/utils/utils.ts
Owners: none

fix cherry-picked line
  js/renovation/component_wrapper/utils/utils.ts
Owners: none

revert(tabs): Move line-height
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
Owners: none

Scheduler day length: Add options validation.
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/index.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validation_functions.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validation_functions.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validator_rules.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/index.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator_error_handler.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator_error_handler.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/types.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator_rules.ts
  packages/devextreme/js/__internal/scheduler/options_validator/index.ts
  packages/devextreme/js/__internal/scheduler/options_validator/options_validator.ts
  packages/devextreme/js/__internal/scheduler/options_validator/options_validator_errors_handler.ts
  packages/devextreme/js/__internal/scheduler/options_validator/types.ts
  packages/devextreme/js/__internal/scheduler/options_validator/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/validator_rules.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/base.ts
Owners: none

Scheduler day length: Modify & add error codes.
  packages/devextreme/js/ui/widget/ui.errors.js
Owners: none

Scheduler day length: Add QUnit tests.
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/optionValidation.tests.js
Owners: none

Scheduler day length: Fix existing QUnit tests.
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.initialization.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Owners: none

Scheduler day length: Fix existing testcafe tests.
  packages/devextreme/testing/testcafe/tests/scheduler/api/deleteRecurrence.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/allDayEndsAtMidnight.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=18.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=undefined.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=18.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=undefined.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=18.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=undefined.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=18.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=undefined.png
  packages/devextreme/testing/testcafe/tests/scheduler/resizeAppointments/cancelAppointmentResize.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Owners: none

Update devextreme-internal-tools to v12.0.0-beta.11
  package-lock.json
  package.json
Owners: none

Propagate built-in types for React / Vue (#26065)
  package-lock.json
  package.json
  packages/devextreme-react/src/bar-gauge.ts
  packages/devextreme-react/src/bullet.ts
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/chart.ts
  packages/devextreme-react/src/circular-gauge.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/funnel.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/linear-gauge.ts
  packages/devextreme-react/src/number-box.ts
  packages/devextreme-react/src/pie-chart.ts
  packages/devextreme-react/src/polar-chart.ts
  packages/devextreme-react/src/range-selector.ts
  packages/devextreme-react/src/range-slider.ts
  packages/devextreme-react/src/sankey.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-react/src/slider.ts
  packages/devextreme-react/src/sparkline.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/tree-map.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/chart.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/pie-chart.ts
  packages/devextreme-vue/src/polar-chart.ts
  packages/devextreme-vue/src/range-selector.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
Owners: none

popup: Add types declaration and component members overrides
  packages/devextreme-angular/src/ui/popup/index.ts
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/popup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme/js/ui/popup.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Angular: regenerate without event types for nested props
  packages/devextreme-angular/src/ui/nested/base/box-options.ts
  packages/devextreme-angular/src/ui/nested/base/button-options.ts
  packages/devextreme-angular/src/ui/nested/base/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/base/filter-builder-options.ts
  packages/devextreme-angular/src/ui/nested/base/form-options.ts
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/base/text-box-options.ts
  packages/devextreme-angular/src/ui/nested/base/text-editor-button-dxi.ts
Owners: none

Skip exit on failed step
  .github/workflows/wrapper_tests.yml
Owners: @DevExpress/devextreme-devops

fix
  packages/devextreme/scss/widgets/generic/filterBuilder/_index.scss
  packages/devextreme/scss/widgets/generic/filterBuilder/_sizes.scss
Owners: none

Add utility for XOR encoding
  packages/devextreme/js/__internal/core/license/byte_utils.test.ts
  packages/devextreme/js/__internal/core/license/byte_utils.ts
Owners: none

Add reexport
  packages/devextreme/js/core/utils/string.d.ts
  packages/devextreme/js/core/utils/string.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters
