Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops

GridCore: Migrate Adaptivity module (#26577)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

GridCore: Migrate ColumnsResizingReordering module. (#26579)
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

GridCore: Migrate ColumnFixing module. (#26578)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

GridCore: Migrate KeyboardNavigation module. (#26582)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
Owners: none

GridCore: Remove redundant exportVar. (#26598)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Owners: none

GridCore: Migrate MasterDetail module. (#26616)
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
Owners: none

GridCore: Migrate RowsDragging module. (#26617)
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
Owners: none

GridCore: Migrate Adaptivity module (#26577)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

GridCore: Migrate ColumnsResizingReordering module. (#26579)
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: none

GridCore: Migrate ColumnFixing module. (#26578)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: none

GridCore: Migrate KeyboardNavigation module. (#26582)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
Owners: none

GridCore: Remove redundant exportVar. (#26598)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Owners: none

GridCore: Migrate MasterDetail module. (#26616)
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
Owners: none

GridCore: Migrate RowsDragging module. (#26617)
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
Owners: none

GridCore: Migrate Adaptivity module (#26577)
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate ColumnsResizingReordering module. (#26579)
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate ColumnFixing module. (#26578)
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate KeyboardNavigation module. (#26582)
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Owners: @DevExpress/devextreme-grids

GridCore: Remove redundant exportVar. (#26598)
  js/__internal/grids/grid_core/m_types.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate MasterDetail module. (#26616)
  js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  js/__internal/grids/tree_list/m_master_detail.ts
Owners: @DevExpress/devextreme-grids

GridCore: Migrate RowsDragging module. (#26617)
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
Owners: @DevExpress/devextreme-grids

Performance QUnit tests: skip unstable configurations (#26602)
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Performance QUnit tests: skip unstable configurations (#26603)
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Performance QUnit tests: skip unstable configurations (#26604)
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Owners: none

Form: add group caption template in declarations
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

code refactoring
  packages/devextreme/js/ui/selection/selection.js
Owners: none

code refactoring
  js/ui/selection/selection.js
Owners: none

code refactoring
  packages/devextreme/js/ui/selection/selection.js
Owners: none

fix: add Intl types to Localization Format (T1205823) (#26570)
  packages/devextreme/js/localization.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add Intl types to localization format
  js/localization.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

add Intl types to localization format
  packages/devextreme/js/localization.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Fix double-click in data-grid if lazy-loading (T1208575) (#26537)
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/events/double_click.js
  packages/devextreme/js/events/utils/index.d.ts
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclick.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

GridCore: Native class migration #0 (#26621)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
Owners: none

GridCore: Native class migration #0 (#26622)
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/tree_list/m_master_detail.ts
Owners: @DevExpress/devextreme-grids

Fix double-click in data-grid if lazy-loading (T1208575) (#26537)
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/events/double_click.js
  packages/devextreme/js/events/utils/index.d.ts
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclick.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix: add Intl types to localization format (#26624)
  js/localization.d.ts
  ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

fix: add Intl types to localization format (#26625)
  packages/devextreme/js/localization.d.ts
  packages/devextreme/ts/dx.all.d.ts
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

Gantt, FileManager Splitter: change 'dx-splitter' class name to 'dx-splitter-bar' (#26614)
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/js/ui/splitter_control.js
  packages/devextreme/scss/widgets/base/_splitterBar.scss
  packages/devextreme/scss/widgets/base/fileManager/_index.scss
  packages/devextreme/scss/widgets/base/gantt/_index.scss
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/scss/widgets/fluent/_index.scss
  packages/devextreme/scss/widgets/fluent/fileManager/_index.scss
  packages/devextreme/scss/widgets/fluent/gantt/_index.scss
  packages/devextreme/scss/widgets/fluent/splitter/_colors.scss
  packages/devextreme/scss/widgets/fluent/splitter/_index.scss
  packages/devextreme/scss/widgets/fluent/splitterBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/splitterBar/_index.scss
  packages/devextreme/scss/widgets/fluent/splitterBar/_sizes.scss
  packages/devextreme/scss/widgets/generic/_index.scss
  packages/devextreme/scss/widgets/generic/fileManager/_index.scss
  packages/devextreme/scss/widgets/generic/gantt/_index.scss
  packages/devextreme/scss/widgets/generic/splitter/_colors.scss
  packages/devextreme/scss/widgets/generic/splitter/_index.scss
  packages/devextreme/scss/widgets/generic/splitter/_sizes.scss
  packages/devextreme/scss/widgets/generic/splitterBar/_colors.scss
  packages/devextreme/scss/widgets/generic/splitterBar/_index.scss
  packages/devextreme/scss/widgets/generic/splitterBar/_sizes.scss
  packages/devextreme/scss/widgets/material/_index.scss
  packages/devextreme/scss/widgets/material/fileManager/_index.scss
  packages/devextreme/scss/widgets/material/gantt/_index.scss
  packages/devextreme/scss/widgets/material/splitter/_colors.scss
  packages/devextreme/scss/widgets/material/splitter/_index.scss
  packages/devextreme/scss/widgets/material/splitter/_sizes.scss
  packages/devextreme/scss/widgets/material/splitterBar/_colors.scss
  packages/devextreme/scss/widgets/material/splitterBar/_index.scss
  packages/devextreme/scss/widgets/material/splitterBar/_sizes.scss
  packages/devextreme/testing/helpers/fileManagerHelpers.js
  packages/devextreme/testing/helpers/ganttHelpers.js
Owners: none

Fix double-click in data-grid if lazy-loading (T1208575) (#26537) (#26626)
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/events/double_click.js
  packages/devextreme/js/events/utils/index.d.ts
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclick.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters

clean code and move classes to file for splitter
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/_splitterBar.scss
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
Owners: none
