Repository DevExpress/DevExtreme, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DevExpress/devextreme-apireviewers, @DevExpress/devextreme-techwriters, @DevExpress/devextreme-grids, @DevExpress/devextreme-devops

Test configurations (dxRadioGroup)
  e2e/testcafe-devextreme/tests/accessibility/radioGroup.ts
Owners: none

Test configurations (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

review fix: rename folder
  e2e/compilation-cases/.eslintrc.js
  e2e/compilation-cases/consts.ts
  e2e/compilation-cases/core.ts
  e2e/compilation-cases/data/data_source.ts
  e2e/compilation-cases/data/stores.ts
  e2e/compilation-cases/license_validation.ts
  e2e/compilation-cases/package.json
  e2e/compilation-cases/scheduler.ts
  e2e/compilation-cases/tsconfig.json
  package-lock.json
Owners: none

review fix: change lib in tsconfig
  e2e/compilation-cases/tsconfig.json
Owners: none

gen: package-lock
  package-lock.json
Owners: none

Disable tests (dxRadioGroup & dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
  e2e/testcafe-devextreme/tests/accessibility/radioGroup.ts
Owners: none

ResponsiveBox, TextArea: move files to TS
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/__internal/ui/map/m_map.ts
  packages/devextreme/js/ui/map.js
Owners: none

Fix test (dxRadioGroup)
  e2e/testcafe-devextreme/tests/accessibility/radioGroup.ts
Owners: none

Fix test (dxFileUploader)
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
Owners: none

Test configuration (dxSlider)
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

GridCore(T1194403): remove redundant refocus of the cells editor (#27411) (#27469)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: none

GridCore(T1194403): remove redundant refocus of the cells editor (#27411) (#27470)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Owners: @DevExpress/devextreme-grids

ResponsiveBox, TextArea: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/ui/responsive_box.js
  packages/devextreme/js/ui/text_area.js
Owners: none

SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635) (#27475)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635) (#27479)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635) (#27480)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Owners: none

Test configurations (dxSlider)
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

Test configurations (dxRangeSlider)
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Dialog, Notify, Toast: move files to TS
  packages/devextreme/js/__internal/ui/m_dialog.ts
  packages/devextreme/js/__internal/ui/m_notify.ts
  packages/devextreme/js/__internal/ui/toast/m_hide_toasts.ts
  packages/devextreme/js/__internal/ui/toast/m_toast.ts
Owners: none

Test configurations (dxSlider & dxRangeSlider)
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

LoadIndicator, LoadPanel: move files to TS
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
Owners: none

LoadIndicator, LoadPanel: ignore errors after move to TS
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/ui/load_indicator.js
  packages/devextreme/js/ui/load_panel.js
Owners: none

Monorepo - move out typescript e2e package (#26957)
  .github/workflows/default_workflow.yml
  .github/workflows/lint.yml
  .github/workflows/ts_declarations.yml
  e2e/compilation-cases/.eslintrc.js
  e2e/compilation-cases/consts.ts
  e2e/compilation-cases/core.ts
  e2e/compilation-cases/data/data_source.ts
  e2e/compilation-cases/data/stores.ts
  e2e/compilation-cases/license_validation.ts
  e2e/compilation-cases/package.json
  e2e/compilation-cases/scheduler.ts
  e2e/compilation-cases/tsconfig.json
  package-lock.json
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/package.json
  packages/devextreme/testing/typescript/license_validation.ts
  packages/devextreme/testing/typescript/package-lock.json
  packages/devextreme/testing/typescript/package.json
  packages/devextreme/testing/typescript/tsconfig.json
Owners: @DevExpress/devextreme-devops

refactor: move gitignore
  e2e/bundlers/.gitignore
  packages/devextreme/.gitignore
Owners: none

fix: update paths: rollup
  e2e/bundlers/rollup.config.js
Owners: none

refactor: add nx tasks
  e2e/bundlers/package.json
  e2e/bundlers/project.json
Owners: none

fix: update paths
  e2e/bundlers/generate_entry_files.js
Owners: none

refactor: remove bundlers from package workflow
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

move
  e2e/bundlers/.eslintrc.js
  e2e/bundlers/generate_entry_files.js
  e2e/bundlers/package-lock.json
  e2e/bundlers/package.json
  e2e/bundlers/rollup.config.js
  e2e/bundlers/vite.config.js
  e2e/bundlers/webpack.config.cjs.js
  e2e/bundlers/webpack.config.js
Owners: none

fix: update paths: webpack
  e2e/bundlers/webpack.config.cjs.js
  e2e/bundlers/webpack.config.js
Owners: none

fix: parcel paths
  e2e/bundlers/package.json
Owners: none

add outputs to build task
  e2e/bundlers/project.json
Owners: none

fix: remove nested package-lock
  e2e/bundlers/package-lock.json
Owners: none

fix: remove devextreme_npm_tests workflow
  .github/workflows/devextreme_npm_tests.yml
Owners: @DevExpress/devextreme-devops

gen: package-lock
  package-lock.json
Owners: none

collapsing fix when repaint changes only is true
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.push_api.tests.js
Owners: none

TrackBar, Slider, RangeSlider, SliderHandle, Tooltip: ignore errors after move to TS
  packages/devextreme-themebuilder/src/metadata/dependency-collector.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  packages/devextreme/js/__internal/ui/m_range_slider.ts
  packages/devextreme/js/__internal/ui/m_tooltip.ts
  packages/devextreme/js/__internal/ui/m_track_bar.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_handle.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip_position_controller.ts
  packages/devextreme/js/__internal/ui/tooltip/m_tooltip.ts
  packages/devextreme/js/ui/range_slider.js
  packages/devextreme/js/ui/slider.js
  packages/devextreme/js/ui/tooltip.js
  packages/devextreme/js/ui/track_bar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/sliderHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/sliderHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/sliderTooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/tooltip.tests.js
Owners: none

Test configurations (dxSlider)
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Owners: none

Disable test (dxRangeSlider)
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

Fix test (dxRangeSlider)
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Owners: none

.github/CODEOWNERS:

# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Localization strings

/js/localization/messages/**           @DevExpress/devextreme-techwriters

# Grids

## grid_core

/js/__internal/grids/**                 @DevExpress/devextreme-grids
/js/ui/grid_core/**                     @DevExpress/devextreme-grids
/js/ui/shared/**                        @DevExpress/devextreme-grids
/js/common/grids.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/scss/widgets/base/_gridBase.scss       @DevExpress/devextreme-grids
/scss/widgets/generic/gridBase/**       @DevExpress/devextreme-grids
/scss/widgets/material/gridBase/**      @DevExpress/devextreme-grids

## data_grid

/js/ui/data_grid.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js                     @DevExpress/devextreme-grids
/js/ui/data_grid/**                     @DevExpress/devextreme-grids
/scss/widgets/base/dataGrid/**          @DevExpress/devextreme-grids
/scss/widgets/generic/dataGrid/**       @DevExpress/devextreme-grids
/scss/widgets/material/dataGrid/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.dataGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/model/dataGrid/**     @DevExpress/devextreme-grids
/testing/testcafe/tests/dataGrid/**     @DevExpress/devextreme-grids

## tree_list

/js/ui/tree_list.d.ts                   @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js                     @DevExpress/devextreme-grids
/js/ui/tree_list/**                     @DevExpress/devextreme-grids
/scss/widgets/base/treeList/**          @DevExpress/devextreme-grids
/scss/widgets/generic/treeList/**       @DevExpress/devextreme-grids
/scss/widgets/material/treeList/**      @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.treeList/**    @DevExpress/devextreme-grids
/testing/testcafe/model/treeList.ts     @DevExpress/devextreme-grids
/testing/testcafe/tests/treeList/**     @DevExpress/devextreme-grids

## pivot_grid

/js/ui/pivot_grid.d.ts                  @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/pivot_grid.js                    @DevExpress/devextreme-grids
/js/ui/pivot_grid/**                    @DevExpress/devextreme-grids
/scss/widgets/base/pivotGrid/**         @DevExpress/devextreme-grids
/scss/widgets/generic/pivotGrid/**      @DevExpress/devextreme-grids
/scss/widgets/material/pivotGrid/**     @DevExpress/devextreme-grids
/testing/tests/DevExpress.ui.widgets.pivotGrid/**   @DevExpress/devextreme-grids
/testing/testcafe/model/pivotGrid/**    @DevExpress/devextreme-grids
/testing/testcafe/tests/pivotGrid/**    @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
