Repository DevExpress/DevExtreme, pull requests merged in 2018-02, with the labels that each got.

#2919 Rename 'repeat' to 'alternate' paltette extension mode
  js/docEnums.js
  js/viz/palette.js
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
  testing/tests/DevExpress.viz.charts/themeManager.tests.js
  testing/tests/DevExpress.viz.core/palette.tests.js
  testing/tests/DevExpress.viz.funnel/funnel.base.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
  testing/tests/DevExpress.viz.gauges/rangeContainer.tests.js
  testing/tests/DevExpress.viz.treeMap/colorizing.tests.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.strategies.tests.js
Labels: 18_1

#21 Add localization messages for 'fr' locale
  js/localization/messages/fr.json
Labels: 17_1, localization

#2918 Add @inheritdoc attribute for width and height properties of dxMap
  js/ui/map.js
Labels: 18_1, cherry-pick

#2911 Add possibility to customize the color of hovered item in dxMenu
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/menuBase.generic.less
Labels: 18_1, cherry-pick

#2873 Fix touch action in the MultiView for IE and Edge browsers only (T600380)
  styles/widgets/common/multiView.less
Labels: 17_2

#2874 Fix touch action in the MultiView for IE and Edge browsers only (T600380)
  styles/widgets/common/multiView.less
Labels: 18_1, cherry-pick

#2920 Implement SSR in Checkbox
  js/ui/check_box.js
  testing/tests/DevExpress.serverSide/button.tests.js
  testing/tests/DevExpress.serverSide/checkbox.tests.js
  testing/tests/DevExpress.serverSide/editor.tests.js
  testing/tests/DevExpress.serverSide/switch.tests.js
  testing/tests/DevExpress.serverSide/widget.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Labels: 18_1

#2923 Fix incorrect layout when the view selector is hidden due to the adaptive dx-scheduler-small CSS class in dxScheduler (T603355)
  styles/widgets/base/scheduler.less
Labels: 17_2

#2924 Fix incorrect layout when the view selector is hidden due to the adaptive dx-scheduler-small CSS class in dxScheduler (T603355)
  styles/widgets/base/scheduler.less
Labels: 18_1, cherry-pick

#2921 Update TS declarations (T603969)
  ts/dx.all.d.ts
Labels: 17_2

#2922 Update TS declarations (T603969)
  ts/dx.all.d.ts
Labels: 18_1

#2929 Fix mistake in events doccomments (#2917)
  js/events.js
Labels: 17_2

#2930 Fix label's connector drawing on rotated chart (T602809)
  js/viz/series/points/label.js
  testing/tests/DevExpress.viz.core.series/label.tests.js
Labels: 17_2

#2928 Fix handling of special data values in AJAX
  js/core/utils/ajax.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 17_2

#2932 Fix label's connector drawing on rotated chart (#2930)
  js/viz/series/points/label.js
  testing/tests/DevExpress.viz.core.series/label.tests.js
Labels: 18_1, cherry-pick

#2931 Fix handling of special data values in AJAX
  js/core/utils/ajax.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 18_1, cherry-pick

#2933 Fix max-height in ie11 after adding flexbox layout to datagrid
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#2934 Fix disposing points on update after aggregation
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
Labels: 18_1

#2935 List enum values in alphabetical order
  js/docEnums.js
Labels: 18_1

#2937 Fix unexpected error in RS (T604369)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorWithAssertion.tests.js
Labels: 18_1

#2936 Fix unexpected error in RS (T604369)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorWithAssertion.tests.js
Labels: 17_2, cherry-pick

#2940 Fix TestCafe tests after SSR implementation in Switch
  js/ui/scroll_view/ui.scrollbar.js
Labels: 18_1

#2939 dxDataGrid - Fix display the vertical scrollbar if stateStoring is enabled and columnAutoWidth is true (T604344)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1, cherry-pick

#2938 dxDataGrid - Fix display the vertical scrollbar if stateStoring is enabled and columnAutoWidth is true (T604344)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 17_2

#2946 Fix 'isWindow' for server side
  js/core/utils/window.js
Labels: 18_1

#2945 Fix continuous and logarithmic axes synchronization (T603397)
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/chart_components/multi_axes_synchronizer.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_1

#2948 Fix width of time view in DateBox for IE browser (T597602)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 17_1

#2947 Fix continuous and logarithmic axes synchronization (T603397)
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/chart_components/multi_axes_synchronizer.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 17_2, cherry-pick

#2949 Fix width of time view in DateBox for IE browser (T597602)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 17_2, cherry-pick

#2950 Fix width of time view in DateBox for IE browser (T597602)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#2944 Use jQuery 3 in test runner shell (chore)
  testing/runner/Views/Main/Index.cshtml
  testing/runner/Views/Main/RunAll.cshtml
Labels: 18_1

#2956 dxDataGrid: content flickers after scrolling and editing in virtual scrolling mode (T605974)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, cherry-pick

#2954 dxDataGrid: content flickers after scrolling and editing in virtual scrolling mode (T605974)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2

#2958 DataGrid: Fix editing if the dateSerializationFormat option is specified using dxDateBox.defaultOptions (T601751)
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 17_2

#2959 DataGrid: Fix editing if the dateSerializationFormat option is specified using dxDateBox.defaultOptions (T601751)
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 18_1, cherry-pick

#2961 Fix unit test in MS browsers after PR#2949
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 17_2

#2965 Fix 'text' option working in NumberBox (T605889)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 18_1

#2960 Fix unit test in MS browsers after PR#2950
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1

#2966 Fix 'text' option working in NumberBox (#2965)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 17_2

#2969 Refactor animation config in Toast
  js/ui/toast.js
Labels: 18_1

#2970 Fix drawing one bar point on datetime axis(T603177)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 17_2

#2957 Add VSCode workspace (chore)
  .editorconfig
  .vscode/settings.json
  .vscode/tasks.json
  build/style-compiler/.vscode/launch.json
  build/style-compiler/.vscode/tasks.json
  devextreme.code-workspace
  testing/runner/.vscode/launch.json
  testing/runner/.vscode/tasks.json
Labels: 18_1

#2967 dxPivotGrid: Fix incorrect height in IE11 if jQuery 3.3.1 is used (T605868)
  js/ui/pivot_grid/ui.pivot_grid.js
Labels: 17_2

#2968 dxPivotGrid: Fix incorrect height in IE11 if jQuery 3.3.1 is used (T605868)
  js/ui/pivot_grid/ui.pivot_grid.js
Labels: 18_1

#2973 Fix drawing one bar point on datetime axis(T603177)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_1, cherry-pick

#2971 dxTreeList - Fix requests for children of empty nodes in on-demand mode (T604935)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 17_2

#2972 dxTreeList - Fix requests for children of empty nodes in on-demand mode (T604935)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 18_1, cherry-pick

#2926 dxDataGrid: fix showing loading panel on the first sorting/grouping callback when grid places in window container (T599943)
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 17_2

#2927 dxDataGrid - fix showing loading panel on the first sorting/grouping callback when grid places in window container (T599943)
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_1, cherry-pick

#2963 Add localization messages for 'fi' locale
  js/localization/messages/fi.json
Labels: 17_2, localization

#2980 Add localization messages for 'fi' locale (#2963)
  js/localization/messages/fi.json
Labels: 18_1, cherry-pick, localization

#2979 Add localization messages for 'fi' locale (#2963)
  js/localization/messages/fi.json
Labels: 17_1, cherry-pick, localization

#2985 dxDataGrid: Fix reordering to the last column if allowHidingEnabled = true
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 18_1, cherry-pick

#2984 dxDataGrid: Fix reordering to the last column if allowHidingEnabled = true
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 17_2

#2976 dxDataGrid: Fix scroll jumping on editing when rows are grouped and the Cell editing mode is enabled (T601360)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2

#2977 dxDataGrid: Fix scroll jumping on editing when rows are grouped and the Cell editing mode is enabled (T601360)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#2983 dxTreeList/dxDataGrid: Fix incorrect work minWidth when widget has a small width (T604970)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_1, cherry-pick

#2982 dxTreeList/dxDataGrid: Fix incorrect work minWidth when widget has a small width (T604970)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 17_2

#2964 Add localization messages for 'fr' locale
  js/localization/messages/fr.json
Labels: 17_2, cherry-pick, localization

#2986 Add localization messages for 'fr' locale (#2964)
  js/localization/messages/fr.json
Labels: 18_1, cherry-pick, localization

#2576 Add localization messages for 'cs' locale
  js/localization/messages/cs.json
Labels: 17_2, cherry-pick, localization

#2987 Add localization messages for 'cs' locale (#2576)
  js/localization/messages/cs.json
Labels: 18_1, cherry-pick, localization

#2990 Fix label/bar overlapping issue when label located on bottom border of point(T605894)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 18_1

#2991 Fix label/bar overlapping issue when label located on bottom border of point(T605894)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 17_2, cherry-pick

#2992 Move Dashboards specific code to their repo (T604619)
  js/viz/gauges/base_gauge.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
Labels: 18_1

#2993 Move Dashboards specific code to their repo (T604619)
  js/viz/gauges/base_gauge.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
Labels: 17_2, cherry-pick

#2978 Show viz components as empty boxes on server
  js/viz/core/base_widget.js
  js/viz/core/helpers.js
  testing/helpers/serverSideDOMAdapterPatch.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
  testing/tests/DevExpress.ui/widget.markup.tests.js
Labels: 18_1

#2962 Use minimal form for pt-BR and zh-CN localizations
  js/localization/messages/pt.json
  js/localization/messages/zh.json
Labels: 17_2, localization

#2988 Use minimal form for pt-BR and zh-CN localizations
  js/localization/messages/pt.json
  js/localization/messages/zh.json
Labels: 18_1, cherry-pick, localization

#2989 Use minimal form for pt-BR and zh-CN localizations
  js/localization/messages/pt.json
  js/localization/messages/zh.json
Labels: 17_1, cherry-pick, localization

#2999 Update TS-modules generation to re-export widgets options interfaces
  build/gulp/npm.js
  build/gulp/ts.js
Labels: 18_1

#2997 Add empty warning to synchronize 17.2 and 18.1
  js/ui/widget/ui.errors.js
Labels: 18_1

#2981 dxFilterBuilder: Add custom operations and the "between" operation
  js/ui/filter_builder/between.js
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/format_utils.js
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/shared/filtering.js
  js/ui/shared/ui.editor_factory_mixin.js
  styles/widgets/common/filterBuilder.less
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1

#2995 Fix gauges rendering in hidden containers (T607069)
  js/viz/core/base_widget.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
Labels: 17_2, cherry-pick

#2994 Fix gauges rendering in hidden containers (T607069)
  js/viz/core/base_widget.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
Labels: 18_1

#3002 dxDataGrid - improve performance when columnHidingEnabled=true (T605520)
  js/ui/grid_core/ui.grid_core.adaptivity.js
Labels: 18_1, cherry-pick

#3001 dxDataGrid - improve performance when columnHidingEnabled=true (T605520)
  js/ui/grid_core/ui.grid_core.adaptivity.js
Labels: 17_2

#2974 Fix unexpected style recalculation on updating a Popup's toolbar item options (T567915)
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 17_2

#2975 Fix unexpected style recalculation on updating a Popup's toolbar item options (T567915)
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_1, cherry-pick

#3000 fix using a simulated scrollbar for Android devices in FireFox browser (T602557)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 17_2

#3005 dxFilterBuilder: Fix doc comments for dxFilterBuilderCustomOperation
  js/ui/filter_builder/filter_builder.js
Labels: 18_1

#3004 Implement SSR in ContextMenu
  js/ui/context_menu/ui.context_menu.js
  js/ui/context_menu/ui.menu_base.js
  js/ui/hierarchical_collection/ui.hierarchical_collection_widget.js
  testing/tests/DevExpress.serverSide/contextMenu.tests.js
  testing/tests/DevExpress.serverSide/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 18_1

#3003 fix using a simulated scrollbar for Android devices in FireFox browser (T602557)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_1, cherry-pick

#3010 dxFilterBuilder: Fix getFilterExpression in onIntialized
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
Labels: 18_1

#3014 Fix returned value of the ContextMenu show / hide methods
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 17_2

#3011 fix tests for firefox browser
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_1, cherry-pick

#3009 fix tests for firefox browser
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 17_2

#2998 Improve DataGrid updateDimensions performance when columnAutoWidth option is enabled
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3008 dxDataGrid: Fix ignoring filter when a state with saved column filter values is restored (T605891)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 18_1, cherry-pick

#3007 dxDataGrid: Fix ignoring filter when a state with saved column filter values is restored (T605891)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 17_2

#2893 Add localization messages for 'it' locale
  js/localization/messages/it.json
Labels: 17_2, help wanted, localization

#3018 Fix getting options of form item by composite path using the itemOption method
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 17_2

#3017 Fix filter expression inside DataGrid if numbers are set as strings (T592001)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 17_2, cherry-pick

#3016 Fix filter expression inside DataGrid if numbers are set as strings (T592001)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 18_1

#3013 Fix Scheduler scrolling in FF with Angular JS (T605785)
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 17_2, cherry-pick

#3012 Fix Scheduler scrolling in FF with Angular JS (T605785)
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_1

#3006 Update TS declarations
  ts/dx.all.d.ts
Labels: 18_1

#3020 Fix Scheduler appointments dragging in a scaled browser (T606647)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 17_2

#3021 Fix DataGrid adaptivity after adding advancedRendering
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.grid_view.js
Labels: 18_1

#3023 Fix Scheduler appointments dragging in a scaled browser (T606647)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_1, cherry-pick

#3022 Support scale breaks when multiple axes
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/multi_axes_synchronizer.js
  testing/tests/DevExpress.viz.charts/chart.part2.tests.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 18_1

#3024 Add localization messages for 'it' locale (#2893)
  js/localization/messages/it.json
Labels: 18_1, cherry-pick, localization

#3025 Add localization messages for 'it' locale (#2893)
  js/localization/messages/it.json
Labels: 17_1, cherry-pick, localization

#2748 Replace multiple byKey with a filter in the dxTagBox (T584740)
  js/core/utils/selection_filter.js
  js/ui/select_box.js
  js/ui/selection/selection.strategy.standard.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1

#3029 Fix width of tooltip when value is formatted in the Slider (T607668)
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 17_2

#3031 Fix width of tooltip when value is formatted in the Slider (T607668)
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 18_1, cherry-pick

#3034 dxFilterBuilder: Fix menu popup settings (T603217)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 18_1

#3027 Fix several viz widgets exporting in FF and IE (T606164)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Labels: 17_2

#3028 Fix several viz widgets exporting in FF and IE (T606164)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Labels: 18_1, cherry-pick

#3033 Fix bullet color and sparkline min/max colors in new generic themes
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.softblue.js
Labels: 17_2

#3041 Fix FF Scheduler tests
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
Labels: 17_2, cherry-pick

#3040 Fix FF Scheduler tests
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
Labels: 18_1

#3036 Fix onItemSelectionChanged event of the TreeView with the "single" selection mode (T602576)
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 17_2

#3044 Fix onItemSelectionChanged event of the TreeView with the "single" selection mode (T602576)
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 18_1, cherry-pick

#3042 Make paletteExtenstionMode option case insensitive
  js/viz/palette.js
  testing/tests/DevExpress.viz.core/palette.tests.js
Labels: 18_1

#3015 Add SSR tests for the LoadIndicator
  js/ui/load_indicator.js
  testing/tests/DevExpress.serverSide/loadIndicator.tests.js
  testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
Labels: 18_1

#3038 Make css cascade bigger for color styles of theme constants
  styles/widgets/generic/common.generic.less
Labels: 17_2

#3049 Fix bullet color and sparkline min/max colors in new generic themes (#3033)
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.softblue.js
Labels: 18_1, cherry-pick

#3046 Publish the "showTitle" parameter of the custom Dialog (T603940)
  js/ui/dialog.js
Labels: 17_2

#3051 Make viz.getTheme method public (#3037)
  js/bundles/modules/parts/viz.js
  js/viz/core/base_theme_manager.js
  js/viz/docs/docStatic.js
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/baseThemeManager.tests.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 18_1, cherry-pick

#3047 Publish the "showTitle" parameter of the custom Dialog (T603940)
  js/ui/dialog.js
Labels: 18_1, cherry-pick

#3039 dxFilterBuilder: Fix menu popup settings (#3034) (T603217)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 17_2, cherry-pick

#3052 Fix TreeList when columnAutoWidth is enabled after adding advancedRendering
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_1

#3053 Fix unnecessary horizontal scroll in ie/firefox after adding advancedRendering
  js/ui/grid_core/ui.grid_core.columns_view.js
Labels: 18_1

#3054 dxDataGrid: Fix adding new row if grouping and content was scrolled (T600046)
  js/ui/data_grid/ui.data_grid.grouping.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_1, cherry-pick

#3048 Update TS declarations (new viz.getTheme method)
  build/gulp/modules_metadata.json
  ts/dx.all.d.ts
Labels: 17_2

#3055 Fix overlapping in ie after adding advancedRendering
  js/ui/grid_core/ui.grid_core.columns_view.js
Labels: 18_1

#3056 dxDataGrid: Fix the incorrect work of the cellValue method when visible column index as the second parameter (T607746)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 17_1

#3057 dxDataGrid: Fix the incorrect work of the cellValue method when visible column index as the second parameter (T607746)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 17_2, cherry-pick

#3058 dxDataGrid: Fix the incorrect work of the cellValue method when visible column index as the second parameter (T607746)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 18_1, cherry-pick

#3059 TreeList: Fix fixed and command column widths after adding advanced rendering
  js/ui/grid_core/ui.grid_core.grid_view.js
  styles/widgets/common/gridBase.less
Labels: 18_1

#3045 Implement SSR in ScrollView
  js/ui/collection/ui.collection_widget.base.js
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.serverSide/scrollView.tests.js
Labels: 18_1

#3064 Update version to 17.1.10
  js/core/version.js
  package.json
Labels: 17_1

#3062 Fix LoadIndicator markup tests for SSR and jQuery 1.x
  testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
Labels: 18_1

#3050 Make css cascade bigger for color styles of theme constants (#3038)
  styles/widgets/generic/common.generic.less
Labels: 18_1, cherry-pick

#3065 Make css cascade bigger for color styles of theme constants (#3038)
  styles/widgets/generic/common.generic.less
Labels: 17_2, cherry-pick

#3066 Update version to 17.2.6
  js/core/version.js
  package.json
Labels: 17_2

#3063 Fix window events listening on server
  js/core/dom_adapter.js
  testing/tests/DevExpress.core/domAdapter.tests.js
Labels: 18_1

#3071 dxFilterBuilder: Fix filterOperations doc comments
  js/ui/filter_builder/filter_builder.js
Labels: 18_1

#3074 Fix `element` method for Viz widgets on server
  js/viz/core/base_widget.js
  testing/tests/DevExpress.serverSide/viz.tests.js
Labels: 18_1

#3075 Fix Gallery behaviour after tab pressed (T608191)
  js/ui/gallery.js
  styles/widgets/common/gallery.less
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 17_2

#3076 dxFilterBuilder: Fix doc comments
  js/docEnums.js
  js/ui/filter_builder/filter_builder.js
Labels: 18_1

#3073 Fix Gallery behaviour after tab pressing (T608191)
  js/ui/gallery.js
  styles/widgets/common/gallery.less
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 18_1

#3077 Fix TileView creation on server
  js/ui/list/ui.list.base.js
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
  js/ui/tile_view.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 18_1

#3078 Test Validator on server side
  testing/tests/DevExpress.serverSide/validator.tests.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
Labels: 18_1

#3079 Reorder declared Enums.FilterBuilderFieldFilterOperations items
  js/docEnums.js
Labels: 18_1, bug

#3068 Fix wrong Toolbar items appearance for Edge browser and jQuery 2.x (T602655)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 18_1, cherry-pick

#3067 Fix wrong Toolbar items appearance for Edge browser and jQuery 2.x (T602655)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 17_2

#3083 Update TS declarations(T603940)
  ts/dx.all.d.ts
Labels: 17_2

#3084 Update TS declarations(T603940)
  ts/dx.all.d.ts
Labels: 18_1
