Repository DevExpress/DevExtreme, pull requests merged in 2018-10, with the labels that each got.

#5576 Publish Drawer target option
  js/ui/drawer/ui.drawer.js
Labels: 18_2

#5575 Remove unnecessary Drawer z-index
  styles/widgets/common/drawer.less
Labels: 18_2

#5578 Skip xmla tests in Edge
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_2, cherry-pick

#5574 Fix Scheduler group cells height in IE with jquery2 (T666326)
  js/ui/scheduler/ui.scheduler.table_creator.js
  styles/widgets/base/scheduler.less
Labels: 18_2, cherry-pick

#5573 Fix Scheduler group cells height in IE with jquery2 (T666326)
  js/ui/scheduler/ui.scheduler.table_creator.js
  styles/widgets/base/scheduler.less
Labels: 18_1

#5580 Hide Recurrence Editor from documentation
  js/ui/recurrence_editor.js
Labels: 18_2

#5532 Add base live update functionality to collection widgets
  js/core/utils/array_compare.js
  js/data/array_utils.js
  js/data/data_source/data_source.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/list/ui.list.base.js
  js/ui/tabs.js
  testing/tests/DevExpress.core/utils.array_compare.tests.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets/list.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: 18_2

#5572 dxDataGrid/dxTreeList - Provide ability to show/hide the built-in editing buttons for a specific row
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 18_2

#5584 Fix Drawer 'top' and 'bottom' positions for 'shrink' and 'push' modes
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  styles/widgets/common/drawer.less
  styles/widgets/generic/drawer.generic.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5583 Fix DataGrid/PivotGrid tests in Edge 18
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 18_2

#5585 Fix visual range behavior on data update in auto mode
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#5582 Update Bootstrap to v4
  package.json
Labels: 18_1, cherry-pick

#5581 Update Bootstrap to v4
  package.json
Labels: 18_2

#5586 ThemeBuilder: remove dependency from widget's groups
  themebuilder/modules/builder.js
  themebuilder/modules/less-template-loader.js
  themebuilder/modules/metadata-loader.js
  themebuilder/modules/metadata-repository.js
  themebuilder/tests/builder-spec.js
  themebuilder/tests/less-template-loader-spec.js
  themebuilder/tests/metadata-loader-spec.js
  themebuilder/tests/metadata-repository-spec.js
Labels: 18_2

#5591 Fix DataGrid tests in Edge 18
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#5592 DataGrid: Fix fixed column double showing on dragging on iOS devices (T674528)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_1

#5593 DataGrid: Fix fixed column double showing on dragging on iOS devices (T674528)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_2, cherry-pick

#5587 DataGrid - Reorganize export tests
  js/client_exporter/excel_creator.js
  js/client_exporter/xlsx/xlsx_file.js
  js/client_exporter/xlsx/xlsx_number_format_helper.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.xlsxCellPrepared.tests.js
Labels: 18_2

#5595 Fix error occurring in Scheduler after trying to render long appointment (T676437)
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2, cherry-pick

#5596 Fix error occurring in Scheduler after trying to render long appointment (T676437)
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_1

#5598 Fix a date parsing with the lowercase in a date of a part (T670973)
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_1

#5600 Fix a date parsing with the lowercase in a date of a part (T670973)
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_2, cherry-pick

#5597 Build a correct mdx query when member has empty key (T675232)
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_2

#5603 Build a correct mdx query when member has empty key (T675232)
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 17_2, cherry-pick

#5602 Build a correct mdx query when member has empty key (T675232)
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_1, cherry-pick

#5594 Fix performance in chunk upload mode
  js/ui/file_uploader.js
Labels: 18_2

#5511 Add icon property to the default dxList item template
  js/ui/list/item.js
  js/ui/list/ui.list.base.js
  styles/widgets/android5/list.android5.less
  styles/widgets/common/list.less
  styles/widgets/generic/list.generic.less
  styles/widgets/ios7/color-schemes/default/ios7.default.less
  styles/widgets/ios7/list.ios7.less
  styles/widgets/material/list.material.less
  styles/widgets/win10/list.win10.less
  testing/tests/DevExpress.ui.widgets/listItem.tests.js
Labels: 18_2

#5604 Fix the TagBox multitag rendering for disabled or read only instance of the widget (T676457)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2

#5605 Fix the TagBox multitag rendering for disabled or read only instance of the widget (T676457)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1, cherry-pick

#5577 Fix DataGrid/PivotGrid tests in Edge 18
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_1

#5590 dxAccordion: Implement live update
  js/ui/accordion.js
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: 18_2

#5601 Fix doc comments for changed event in push scenario
  js/data/data_source/data_source.js
Labels: 18_2

#5607 dxCircularGauge. Fix labels layouting issue with invisible tick(T677202)
  js/viz/gauges/circular_gauge.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
Labels: 18_2

#5608 dxCircularGauge. Fix labels layouting issue with invisible tick(T677202)
  js/viz/gauges/circular_gauge.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
Labels: 18_1, cherry-pick

#5610 Small fix in Drawer mode changing
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5612 Implement Scheduler groupByDate for timelines in basic scenarios
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  styles/widgets/base/scheduler.less
  styles/widgets/generic/scheduler.generic.less
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2

#5617 DataGrid - Add comments with references to 'Ecma Office Open XML' topics
  js/client_exporter/excel_creator.js
  js/client_exporter/xlsx/xlsx_cell_alignment_helper.js
  js/client_exporter/xlsx/xlsx_font_helper.js
  js/client_exporter/xlsx/xlsx_pattern_fill_helper.js
Labels: 18_2

#5611 Close dxTagBox when other overlay content is clicked (T668816)
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#5618 Fix Scheduler devices tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2

#5619 Close dxTagBox when other overlay content is clicked (T668816)
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_1, cherry-pick

#5620 dxChart: Fix setting the visualRange totally out of the wholeRange
  js/viz/axes/base_axis.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#5613 Skip DataGrid/PivotGrid tests in Edge 18
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 17_2, cherry-pick

#5624 Mark chart loadIndicator.show option as bindable
  js/viz/docs/docBaseWidget.js
Labels: 18_1

#5623 Mark chart loadIndicator.show option as bindable
  js/viz/docs/docBaseWidget.js
Labels: 18_2

#5615 Optimize the tabKey handling in the Overlay (T677337)
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#5616 Optimize the tabKey handling in the Overlay (T677337)
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_1

#5626 Set default value of repaintChangesOnly in doc comments of collectionWidget
  js/ui/collection/ui.collection_widget.live_update.js
Labels: 18_2

#5628 Customize Drawer shader
  styles/widgets/common/drawer.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/drawer.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/drawer.material.less
Labels: 18_2

#5609 Add the data placeholder module to the HtmlEditor
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/formats/placeholder.js
  js/ui/html_editor/modules/placeholder.js
  js/ui/html_editor/modules/popover.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/quill_registrator.js
  js/ui/html_editor/ui.html_editor.js
  styles/widgets/common/htmlEditor.less
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/placeholderModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popoverModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2

#5627 DataGrid: Fix repaintChangesOnly for fixed columns and virtual scrolling
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#5631 Don't render dxContextMenu separator if group item is first visible one
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 18_2

#5630 Don't render dxContextMenu separator if group item is first visible one
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 18_1, cherry-pick

#5632 Describe toolbar module of the HtmlEditor
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2

#5634 Update TS
  ts/dx.all.d.ts
Labels: 18_2

#5638 Viz widgets. Fix 'Print picture' functionality for IE(T677474)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.rangeSelector/common.part3.tests.js
  testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Labels: 17_2

#5640 Viz widgets. Fix 'Print picture' functionality for IE(T677474)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Labels: 18_2, cherry-pick

#5639 Viz widgets. Fix 'Print picture' functionality for IE(T677474)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/Renderer.tests.js
Labels: 18_1, cherry-pick

#5641 Fix Drawer content padding in overlap mode
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5633 Adjust days to current month limit when month is changed
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
Labels: 18_2

#5642 Fix Drawer closing on outside click
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5644 Fix Drawer animation stopping after closing on outside click
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5643 Fix editing column width if useIcons is enabled after #5530
  js/ui/grid_core/ui.grid_core.editing.js
Labels: 18_2

#5653 Fix Scheduler IE & Edge tests
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2

#5646 DataGrid/TreeList: Add highlightChanges option and options.oldValue
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.rows.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#5648 DataGrid - Add 'onXlsxCellPrepared' to grid configuration
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.xlsxCellPrepared.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
Labels: 18_2

#5654 Fix Scheduler demos with maxAppointmentsPerCell="auto" by default
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#5625 Add private grouped option to the dxToolbar (T676099)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.markup.tests.js
Labels: 18_2

#5606 Publish openOnFieldClick option in DropDownEditors
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/select_box.js
Labels: 18_2

#5660 Fix Form editors cannot be focused in the Material theme if rtlEnabled is true (T673571)
  styles/widgets/material/textEditor.material.less
Labels: 18_2, cherry-pick

#5658 DataGrid: add watch parameter to cell templates and onCellPrepared event
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#5637 DataGrid - Add focused row events
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5655 Add private grouped option to the dxToolbar (T676099)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.markup.tests.js
Labels: 18_1, cherry-pick

#5656 Documentation: Add DataGrid.onXlsxCellPrepared entries
  js/client_exporter/xlsx/xlsx_elements.js
  js/docEnums.js
  js/ui/data_grid/ui.data_grid.export.js
Labels: 18_2

#5657 Transpile ThemeBuilder modules and move npm results to the single folder
  build/gulp/bundler-config.js
  build/gulp/context.js
  build/gulp/npm.js
  build/gulp/themebuilder-npm.js
Labels: 18_2

#5662 DataGrid - Add scrolling to the focused row
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5661 Update types for the HtmlEditor' doccomments
  js/ui/html_editor/ui.html_editor.js
Labels: 18_2

#5663 DataGrid: Fix test in ios after #5627
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#5666 Update TS declarations
  ts/dx.all.d.ts
Labels: 18_2

#5667 dxViz: calculation of the tick interval starts from the beginning of the date period (T678293)
  js/core/utils/date.js
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_1, cherry-pick

#5668 dxViz: calculation of the tick interval starts from the beginning of the date period (T678293)
  js/core/utils/date.js
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_2

#5664 Fix data expressions changing in Scheduler (T678371)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1

#5670 DataGrid - Should use 'top' field in bounding client rect instead of 'y' one (IE, EDGE support)
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5671 Fix data expressions changing in Scheduler (T678371)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2, cherry-pick

#5673 DataGrid - Corrected test for FF browser when compared elements coordinates
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5674 PivotGrid: Fix several problems with applyChangesMode onDemand (T676235, T676231)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
Labels: 18_1

#5675 PivotGrid: Fix several problems with applyChangesMode onDemand (T676235, T676231)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
Labels: 18_2, cherry-pick

#5678 DataGrid - Enabling focused row should set sorting for the non-sorted key columns
  js/ui/grid_core/ui.grid_core.focus.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5685 DataGrid Fix invoking CustomStore.load on paging if paging is wrapped in bindingOptions (T677650)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#5686 DataGrid Fix invoking CustomStore.load on paging if paging is wrapped in bindingOptions (T677650)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#5681 DataGrid: Hide validation message after scrolling if virtual mode is enabled (T676492)
  js/ui/grid_core/ui.grid_core.error_handling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1

#5683 Mark dxDateBox as valid when clear button is clicked (T678576)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#5684 Mark dxDateBox as valid when clear button is clicked (T678576)
  js/ui/date_box/ui.date_box.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#5669 Add three button styling modes: text, contained, outlined.
  js/docEnums.js
  js/ui/button.js
  js/ui/popup.js
  js/ui/toolbar/ui.toolbar.base.js
  styles/widgets/generic/button.generic.less
  styles/widgets/generic/calendar.generic.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/button.material.less
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 18_2

#5689 DataGrid: Hide validation message after scrolling if virtual mode is enabled (T676492)
  js/ui/grid_core/ui.grid_core.error_handling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2, cherry-pick

#5682 Publish stylingMode option for editors
  js/docEnums.js
  js/ui/text_box/ui.text_editor.base.js
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/dateBox.generic.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/generic/lookup.generic.less
  styles/widgets/generic/numberBox.generic.less
  styles/widgets/generic/textBox.generic.less
  styles/widgets/generic/textEditor.generic.less
  styles/widgets/generic/validation.generic.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/lookup.material.less
  styles/widgets/material/numberBox.material.less
  styles/widgets/material/textBox.material.less
  styles/widgets/material/textEditor.material.less
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_2

#5687 dxChart: Fix drawing bubble series with negative values
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 18_1, cherry-pick

#5688 dxChart: Fix drawing bubble series with negative values
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 18_2

#5691 Fix Scheduler appointment rendering on timelineMonth view (T678380)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2, cherry-pick

#5690 Fix Scheduler appointment rendering on timelineMonth view (T678380)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_1

#5693 Fix Scheduler testcafe tests
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#5694 DataGrid: Fix the "Cannot read property 'pageIndex' of undefined" error on an attempt to insert a row if key is not returned from insert operation (T677310)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#5695 DataGrid: Fix the "Cannot read property 'pageIndex' of undefined" error on an attempt to insert a row if key is not returned from insert operation (T677310)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#5679 ThemeBuilder: Add capability to use custom path to ThemeBuilder less and Bootstrap scss files
  themebuilder/modules/config-normalizer.js
  themebuilder/modules/less-template-loader.js
  themebuilder/tests/config-normalizer-spec.js
  themebuilder/tests/less-template-loader-spec.js
Labels: 18_2

#5692 Hide openOnFieldClick in dxLookup and dxColorBox
  js/ui/color_box/color_box.js
  js/ui/lookup.js
Labels: 18_2

#5700 Specify pickerType in dxDateBox tests
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#5699 Specify pickerType in dxDateBox tests
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#5698 Fix Drawer behaviour after multiple closing on outside click
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5707 Fix test in IE
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_2

#5703 Fix dropdown button radius
  styles/widgets/generic/dropDownEditor.generic.less
Labels: 18_2

#5704 Fix Scheduler appointment rendering after grouping / ungrouping (T678848)
  js/ui/scheduler/ui.scheduler.resource_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Labels: 18_1

#5705 Fix Scheduler appointment rendering after grouping / ungrouping (T678848)
  js/ui/scheduler/ui.scheduler.resource_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Labels: 18_2

#5708 Fix back button styling modes
  styles/widgets/generic/button.generic.less
Labels: 18_2

#5709 Fix calendar caption color in contrast color scheme
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
Labels: 18_2

#5676 dxDataGrid / dxTreeList: Add doc-comments for the command columns
  js/docEnums.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
Labels: 18_2

#5716 Decrease opacity of highlighting and make highlighting for each cell in the entire row at the same time
  js/ui/grid_core/ui.grid_core.columns_view.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
Labels: 18_2

#5713 DataGrid: Fix the edit form row hiding after expand previous row (T677250)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_1

#5714 DataGrid: Fix the edit form row hiding after expand previous row (T677250)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2, cherry-pick

#5721 dxDataGrid / dxTreeList: Fix doc-comments after #5676
  js/ui/grid_core/ui.grid_core.columns_controller.js
Labels: 18_2

#5722 DataGrid: Allow to set the '0000' number format in 'onXlsxCellPrepared'
  js/client_exporter/xlsx/xlsx_cell_format_helper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.xlsxCellPrepared.tests.js
Labels: 18_2

#5696 Add deferRendering option to the dxTreeView (T679457)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 18_2

#5697 Add deferRendering option to the dxTreeView (T679457)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 18_1, cherry-pick

#5711 Update TS declarations
  ts/dx.all.d.ts
Labels: 18_2

#5727 Change Recurrence Editor privacy
  js/ui/recurrence_editor.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
Labels: 18_2

#5728 DataGrid: Fix change dataSource to another type if repaintChangesOnly is true
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#5724 DataGrid: Simplify e.style.numberFormat in onXlsxCellPrepared
  js/client_exporter/excel_creator.js
  js/client_exporter/xlsx/xlsx_cell_format_helper.js
  js/client_exporter/xlsx/xlsx_elements.js
  js/client_exporter/xlsx/xlsx_file.js
  js/client_exporter/xlsx/xlsx_number_format_helper.js
  testing/tests/DevExpress.exporter/xlsxFile.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.xlsxCellPrepared.tests.js
Labels: 18_2

#5731 Fix Column Button declarations
  js/ui/grid_core/ui.grid_core.columns_controller.js
  ts/dx.all.d.ts
Labels: 18_2

#5732 DataGrid: Add tests to set some number formats and clear reference to a style
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.xlsxCellPrepared.tests.js
Labels: 18_2

#5734 DataGrid: Fix adaptive row, edit form row and column widths after group row expand if repaintChangesOnly is enabled.
  js/ui/data_grid/ui.data_grid.grouping.js
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#5735 Move 'disabled' option from rangeSelector to base widget(T677645)
  js/viz/core/base_widget.js
  js/viz/core/renderers/renderer.js
  js/viz/docs/docBaseWidget.js
  js/viz/range_selector/range_selector.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part1.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
  testing/tests/DevExpress.viz.vectorMap/dxVectorMap.tests.js
Labels: 18_2

#5736 Move 'disabled' option from rangeSelector to base widget(T677645)
  js/viz/core/base_widget.js
  js/viz/core/renderers/renderer.js
  js/viz/docs/docBaseWidget.js
  js/viz/range_selector/range_selector.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part1.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
  testing/tests/DevExpress.viz.vectorMap/dxVectorMap.tests.js
Labels: 18_1, cherry-pick

#5659 Remove SPA classes from theme constant selectors
  styles/widgets/generic/common.generic.less
  styles/widgets/material/common.material.less
  themebuilder/modules/less-template-loader.js
  themebuilder/tests/less-template-loader-spec.js
Labels: 18_2

#5745 Fix FF tests for chart's zoomAndPan
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 18_2

#5746 Add form dialogs for the HtmlEditor
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sv.json
  js/localization/messages/zh.json
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/formats/link.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/quill_registrator.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/ui/formDialog.js
  styles/widgets/common/htmlEditor.less
  testing/tests/DevExpress.localization/locales.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/placeholderModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popoverModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2

#5738 Fix Drawer right position and behaviour on closeOnOutsideClick
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5749 Fix iterator.map with big number of items
  js/core/component.js
  js/core/utils/iterator.js
  js/events/transform.js
  js/framework/html/command_manager.js
  js/ui/accordion.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/grid_core/ui.grid_core.sorting.js
  js/ui/pivot_grid/data_source.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/xmla_store/xmla_store.js
  js/ui/responsive_box.js
  js/ui/slide_out.js
  js/ui/toolbar.js
  js/viz/chart_components/header_block.js
  js/viz/gauges/base_range_container.js
  testing/tests/DevExpress.data/storeArray.tests.js
Labels: 18_1

#5750 Fix Scheduler timelineMonth rendering when groupByDate = true
  styles/widgets/base/scheduler.less
Labels: 18_2

#5747 Fix Sheduler long appointments rendering when groupByDate = true
  js/core/utils/date.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_2

#5730 DataGrid: The "Cancel" button should be clicked once to close Editing form when rowTemplate is used (T677605)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#5729 DataGrid: The "Cancel" button should be clicked once to close Editing form when rowTemplate is used (T677605)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#5741 Add editorStylingMode to global config
  js/core/config.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.core/config.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_2

#5755 Fix date.utils tests
  testing/tests/DevExpress.core/utils.date.tests.js
Labels: 18_2

#5753 Get rid of findIndex usage
  js/ui/grid_core/ui.grid_core.sorting.js
Labels: 18_2

#5757 Get rid of findIndex usage
  js/ui/grid_core/ui.grid_core.sorting.js
Labels: 18_1

#5720 New widget dxButtonGroup🥚🐣
  build/style-compiler/LessRegistry.cs
  js/bundles/modules/parts/widgets-base.js
  js/docEnums.js
  js/ui/button_group.js
  styles/widgets/android5/buttonGroup.android5.less
  styles/widgets/common/buttonGroup.less
  styles/widgets/generic/buttonGroup.generic.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/ios7/buttonGroup.ios7.less
  styles/widgets/material/buttonGroup.material.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/win10/buttonGroup.win10.less
  styles/widgets/win8/buttonGroup.win8.less
  testing/tests/DevExpress.serverSide/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: 18_2

#5758 DataGrid - 'Tab key before grid should focus the first row' test should use QUnit timers
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#5767 Fix the typescript compilation task
  js/ui/button_group.js
Labels: 18_2

#5765 Datagrid: Fix calculateFilterExpression for negative groups(T679522)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_2, cherry-pick

#5768 Fix bar point translation issue(T679576)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 18_1

#5766 Fix a default width of the dxButtonGroup
  js/ui/button_group.js
  styles/widgets/common/buttonGroup.less
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: 18_2

#5760 Refactor Scheduler groupByDate option applying
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 18_2
