Repository DevExpress/DevExtreme, pull requests merged in 2018-03, with the labels that each got.

#3131 Fix between separator color in FilterBuilder for themes
  styles/widgets/generic/filterBuilder.generic.less
Labels: 18_1

#3132 Fix the selecteItems option value in TagBox when the hideSelectedItems option is enabled (T606462, T589590)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 17_2

#3133 Fix the selecteItems option value in TagBox when the hideSelectedItems option is enabled (T606462, T589590)
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1

#3136 Fix testcafe tests for TreeList after adding advancedRendering
  js/ui/tree_list/ui.tree_list.grid_view.js
  styles/widgets/android5/treeList.android5.less
  styles/widgets/common/treeList.less
  styles/widgets/generic/treeList.generic.less
  styles/widgets/ios7/treeList.ios7.less
  styles/widgets/win10/treeList.win10.less
Labels: 18_1

#3141 Fix launch tests via cmd script
  testing/launch
Labels: 18_1

#3139 dxDataGrid: Fix updating the data parameter passed to the editCellTemplate callback (T610885)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2

#3140 dxDataGrid: Fix updating the data parameter passed to the editCellTemplate callback (T610885)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#3142 Implement SSR for Slider
  js/ui/progress_bar.js
  js/ui/slider/ui.slider.js
  js/ui/slider/ui.slider_handle.js
  js/ui/track_bar.js
  testing/tests/DevExpress.serverSide/slider.tests.js
  testing/tests/DevExpress.serverSide/trackBar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/trackBar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/trackBar.tests.js
Labels: 18_1

#3145 Fix minor ticks calculation when data range is empty (T610861)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 17_2

#3146 Fix minor ticks calculation when data range is empty (T610861)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_1, cherry-pick

#3143 dxFilterBuilder: Add "dx-filter-builder-menu-custom-operation" class to a custom operation item
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 18_1

#3148 Fix unnecessary horizontal scrollbar in DataGrid if container width is not integer (T608687)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2

#3147 Refactor series points creation
  js/viz/chart.js
  js/viz/chart_components/base_chart.js
  js/viz/components/chart_theme_manager.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/series_data_source.js
  js/viz/series/base_series.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/pie_series.js
  js/viz/sparklines/sparkline.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part2.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.charts/themeManager.tests.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/areaSeries.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/bubbleSeries.tests.js
  testing/tests/DevExpress.viz.core.series/financialSeries.tests.js
  testing/tests/DevExpress.viz.core.series/lineSeries.tests.js
  testing/tests/DevExpress.viz.core.series/pieSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  testing/tests/DevExpress.viz.core.series/rangeSeries.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part1.tests.js
  testing/tests/DevExpress.viz.rangeSelector/seriesDataSource.tests.js
Labels: 18_1

#3151 Fix hiding TextBox placeholder on SSR
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 18_1

#3153 Improve 'widget size' markup tests for List
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_1

#3152 Implement SSR for ProgressBar
  js/ui/progress_bar.js
  testing/tests/DevExpress.serverSide/progressBar.tests.js
  testing/tests/DevExpress.ui.widgets/progressBar.markup.tests.js
  testing/tests/DevExpress.ui.widgets/progressBar.tests.js
Labels: 18_1

#3154 Update Scheduler performance tests after introduce SSR for a base widgets
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
Labels: 18_1

#3155 Implement SSR for RangeSlider
  js/ui/range_slider.js
  testing/tests/DevExpress.serverSide/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Labels: 18_1

#3157 Fix piechart after #3147
  js/viz/chart.js
  js/viz/chart_components/base_chart.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 18_1

#3149 Fix unnecessary horizontal scrollbar in DataGrid if container width is not integer (T608687)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, cherry-pick

#3138 Fix unexpected '10' number reverting on focusout in dxNumberBox (T607513, T605471, T606954)
  js/core/utils/common.js
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3160 Fix fields dragging in PivotGrid with toutch devices in Edge (T606369)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
Labels: 18_1

#3161 Fix fields dragging in PivotGrid with toutch devices in Edge (T606369)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
Labels: 17_2, cherry-pick

#3166 Fix and add DataGrid performance tests
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
Labels: 18_1

#3168 Fix points colors in multiple pie chart (T607678)
  js/viz/series/base_series.js
  js/viz/series/pie_series.js
  testing/tests/DevExpress.viz.core.series/pieSeries.tests.js
Labels: 17_2

#3167 Fix points colors in multiple pie cart (T607678)
  js/viz/pie_chart.js
  js/viz/series/base_series.js
  js/viz/series/pie_series.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core.series/pieSeries.tests.js
Labels: 18_1

#3170 Fix data aggregation in financial series (regression after #3147)
  js/viz/series/financial_series.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
Labels: 18_1

#3169 Fix wrong TreeList height in testcafe tests after adding advancedRendering
  styles/widgets/common/treeList.less
Labels: 18_1

#3171 Fix testcafe theme tests for DataGrid after adding advancedRendering
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/win10/gridBase.win10.less
Labels: 18_1

#3165 Fix unexpected negative number reverting after type in dxNumberBox in accounting format
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.base.tests.js
Labels: 18_1

#3159 fix seconds and milliseconds when value of DateBox is null (T608543)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/date_box/ui.date_box.strategy.list.js
  js/ui/date_box/ui.date_utils.js
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 17_1

#3174 Fix list.markup.tests with JQuery 1
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: 18_1

#3175 dxNumberBox format: Minus sign typed to the end of the incomplete value should revert sign
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3173 Add "no-multiple-empty-line" lint rule
  .eslintrc
  js/animation/position.js
  js/core/utils/dom.js
  js/data/data_source/data_source.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.data/storeCustom.tests.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.framework/html_viewEngine.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_splitLayoutController.tests.js
  testing/tests/DevExpress.knockout/fieldsetParts/shared.js
  testing/tests/DevExpress.knockout/validationExtender.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/usageWithoutKeys.js
  testing/tests/DevExpress.ui/template.tests.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/equalPieSize.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core/utils.math.tests.js
Labels: 17_2, cherry-pick

#3119 Add "no-multiple-empty-line" lint rule
  .eslintrc
  js/animation/position.js
  js/core/utils/dom.js
  js/data/data_source/data_source.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  js/ui/validator.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.data/storeCustom.tests.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.framework/html_viewEngine.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_splitLayoutController.tests.js
  testing/tests/DevExpress.knockout/fieldsetParts/shared.js
  testing/tests/DevExpress.knockout/validationExtender.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/usageWithoutKeys.js
  testing/tests/DevExpress.ui/template.tests.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/equalPieSize.tests.js
  testing/tests/DevExpress.viz.core/utils.math.tests.js
Labels: 18_1

#3176 Fix wrong caret position after sign reverting in NumberBox with 0 value when all text is selected (T601731, T604497)
  js/localization/number.js
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.tests.js
Labels: 17_2, cherry-pick

#3164 Set flexDirection before items rendering for dxBox (T604581) (#3087)
  js/ui/box.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
Labels: 17_2, cherry-pick

#3163 Fix ProgressBar with value behaviour on server
  js/ui/slider/ui.slider.js
  js/ui/track_bar.js
  testing/tests/DevExpress.serverSide/trackBar.tests.js
Labels: 18_1

#3172 Implement SSR for SearchBox
  js/ui/widget/ui.search_box_mixin.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_1

#3177 Fix tests of DateBox for devices
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 17_1

#3178 Fix unexpected '10' number reverting on focusout in dxNumberBox (T607513, T605471, T606954)
  js/core/utils/common.js
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#3179 Input in negative number with required float part should not revert sign
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.base.tests.js
Labels: 17_2, cherry-pick

#3180 dxNumberBox format: Minus sign typed to the end of the incomplete value should revert sign
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#3184 Fix rise onValueChanged event in Safari on Mac
  js/ui/number_box/number_box.mask.js
Labels: 17_2

#3182 dxDataGrid: Fix unnecessary vertical scrollbar in IE11 (T606944)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 17_2

#3183 dxDataGrid: Fix unnecessary vertical scrollbar in IE11 (T606944)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1, cherry-pick

#3187 Fix DataGrid testcafe tests for win10 theme
  styles/widgets/win10/gridBase.win10.less
Labels: 18_1

#3188 Fix rise onValueChanged event in Safari on Mac (T611368)
  js/ui/number_box/number_box.mask.js
Labels: 18_1, cherry-pick

#3189 Implement SSR for DropDownEditor
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.serverSide/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 18_1

#3190 Add markup tests for DropDownBox
  testing/tests/DevExpress.serverSide/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 18_1

#3192 Add possibility to remove minus sign via backspace (T606407)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#3191 Add possibility to remove minus sign via backspace (T606407)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2

#3181 dxChart: Enabling aggregation on series level (series.aggregation.enabled option)
  js/viz/chart.js
  js/viz/components/chart_theme_manager.js
  js/viz/core/themes/generic.light.js
  js/viz/docs/doccharts.js
  js/viz/docs/docchartseries.js
  js/viz/docs/docrangeselector.js
  js/viz/range_selector/range_selector.js
  js/viz/series/base_series.js
  js/viz/series/helpers/range_data_calculator.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/themeManager.tests.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.rangeSelector/seriesDataSource.tests.js
Labels: 18_1

#3185 Fix seconds and milliseconds when value of DateBox is null (T608543)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/date_box/ui.date_box.strategy.list.js
  js/ui/date_box/ui.date_utils.js
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Labels: 17_2

#3186 Fix seconds and milliseconds when value of DateBox is null (T608543)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/date_box/ui.date_box.strategy.list.js
  js/ui/date_box/ui.date_utils.js
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Labels: 18_1, cherry-pick

#3193 Implement SSR for FileUploader
  js/ui/file_uploader.js
  testing/tests/DevExpress.serverSide/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 18_1

#3196 Fix Gallery visibility in Realtor Demo
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 17_2

#3195 Fix Gallery visibility in Realtor Demo
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 18_1, cherry-pick

#3194 Implement SSR for resizing, reordering, fixing, editing, grouping DataGrid features
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1

#3201 Fix regressions in chart and rangeSelector after #3146
  js/viz/chart.js
  js/viz/range_selector/range_selector.js
  js/viz/series/helpers/range_data_calculator.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part1.tests.js
Labels: 18_1

#3200 Fix loading the google map (T612644)
  js/ui/map/provider.dynamic.google.js
  testing/helpers/forMap/googleMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 16_2, cherry-pick

#3199 Fix loading the google map (T612644)
  js/ui/map/provider.dynamic.google.js
  testing/helpers/forMap/googleMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 17_1, cherry-pick

#3198 Fix loading the google map (T612644)
  js/ui/map/provider.dynamic.google.js
  testing/helpers/forMap/googleMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 18_1, cherry-pick

#3206 Fix loading the google map (T612644)
  js/ui/map/provider.dynamic.google.js
  testing/helpers/forMap/googleMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 17_2

#3208 Make dxNumberBox SSR-compatible
  js/ui/editor/editor.js
  js/ui/number_box/number_box.spin.js
  testing/tests/DevExpress.serverSide/numberBox.tests.js
  testing/tests/DevExpress.ui.widgets/numberBox.markup.tests.js
Labels: 18_1

#3205 Implement SSR for SelectBox
  js/ui/select_box.js
  testing/tests/DevExpress.serverSide/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_1

#3202 dxDataGrid: Fix unnecessary vertical scrollbar (T606944) (part 2 - for FF)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 17_2

#3203 dxDataGrid: Fix unnecessary vertical scrollbar (T606944) (part 2 - for FF)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1, cherry-pick

#3212 Implement SSR for ColorBox
  js/ui/color_box/color_box.js
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.serverSide/colorBox.tests.js
  testing/tests/DevExpress.serverSide/colorView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Labels: 18_1

#3156 dxDataGrid: Fix accessibility table structure (T595044)
  js/ui/context_menu/ui.context_menu.js
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/tree_list/ui.tree_list.grid_view.js
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
Labels: 18_1

#3214 implement SSR for TextArea
  js/ui/text_area.js
  testing/tests/DevExpress.serverSide/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 18_1

#3215 Implement SSR for Calendar
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.navigator.js
  testing/tests/DevExpress.serverSide/calendar.tests.js
  testing/tests/DevExpress.serverSide/calendarView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarView.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 18_1

#3216 Add template parameter fields description
  js/ui/calendar/ui.calendar.js
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
Labels: 18_1

#3217 Add template parameter fields description
  js/ui/calendar/ui.calendar.js
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
Labels: 17_2, cherry-pick

#3204 Implement SSR for Autocomplete
  js/ui/autocomplete.js
  testing/tests/DevExpress.serverSide/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 18_1

#3219 Fix FileUploader tests in JQuery1
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 18_1

#3220 Fix Gallery items visibility after wrapAround option changing
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 18_1

#3223 Fix Gallery items visibility after wrapAround option changing
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 17_2

#3213 Fix TreeList testcafe demos with wrong freespace row height after #3194
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
Labels: 18_1

#3227 Fix negative decimals formatting
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.base.tests.js
Labels: 17_2

#3226 Fix negative decimals formatting
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.base.tests.js
Labels: 18_1

#3230 Support SSR for DataGrid Pager and add columnWidth option
  js/ui/data_grid/pager.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
Labels: 18_1

#3232 dxDataGrid: fix test with scrolling for mobile devices
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3231 Implement SSR for Lookup
  testing/tests/DevExpress.serverSide/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 18_1

#3234 Fix overlapping lines of a multiline label if their font size is set in length units (T611688)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 18_1, cherry-pick

#3233 Fix overlapping lines of a multiline label if their font size is set in length units (T611688)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 17_2

#3242 Fix single scale's label cropping in dxRangeSelector (T613328)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/common.part2.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
Labels: 17_2

#3243 Fix single scale's label cropping in dxRangeSelector (T613328)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/common.part2.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
Labels: 18_1, cherry-pick

#3246 Fix incorrect items in header filter for lookup column with custom header filter data source (T612786)
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 17_2

#3247 Fix incorrect items in header filter for lookup column with custom header filter data source (T612786)
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 18_1, cherry-pick

#3248 Fix incorrect items in header filter for lookup column with custom header filter data source (T612786)
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 17_1

#3241 dxDataGrid: Fix editing doesn't work if data object contains readonly properties (with getter only) (T613804)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2, bug

#3245 dxDataGrid: Fix editing should work if data object contains readonly properties (with getter only) (T613804)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, bug

#3240 Refactor virtual scrolling in DataGrid to use logic from VirtualScrollController
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1

#3255 dxTreeList / dxDataGrid: Fix missing row parameter in the onEditorPreparing/onEditorPrepared event handler when the event fires for the Select checkbox (T612318)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#3249 Fix Scrollable subscriptions after changing the "disabled" option (T610446)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_1

#3252 Fix Scrollable subscriptions after changing the "disabled" option (T610446)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 16_2, cherry-pick

#3251 Fix Scrollable subscriptions after changing the "disabled" option (T610446)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 17_1, cherry-pick

#3250 Fix Scrollable subscriptions after changing the "disabled" option (T610446)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 17_2, cherry-pick

#3221 Update SlideOutView doccoments
  js/ui/slide_out_view.js
Labels: 18_1

#3256 Add between to FilterBuilderFieldFilterOperations
  js/docEnums.js
Labels: 18_1

#3261 Update data expressions after the initialization in the dxDropDownBox (T607495)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 18_1

#3262 Update data expressions after the initialization in the dxDropDownBox (T607495)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 17_2, cherry-pick

#3260 Improve cell click possibility in the cells with appointments on mobile devices in dxScheduler (T609120)
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_1, cherry-pick

#3253 Add excludeRecursive flag to TreeList getSelectedRowKeys method
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 18_1

#3237 Fix setter for non existing multi-level property
  js/core/utils/data.js
  testing/tests/DevExpress.core/utils.data.tests.js
Labels: 17_2

#3236 Fix setter for non existing multi-level property
  js/core/utils/data.js
  testing/tests/DevExpress.core/utils.data.tests.js
Labels: 18_1

#3257 Make dxTagBox SSR-compatible
  js/ui/tag_box.js
  testing/tests/DevExpress.serverSide/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1

#3265 Fix DateBox tests after SSR implementation
  testing/tests/DevExpress.ui.widgets.editors/datebox.markup.tests.js
Labels: 18_1

#3267 Fix tests on appointments in dxScheduler (T609120)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_1

#3268 Fix tests on appointments in dxScheduler (T609120)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 17_2

#3269 Fix eslint and jshint for es6
  .eslintrc
  .jshintrc
  testing/helpers/widgetsIterator.js
  testing/tests/DevExpress.core/polyfills.weakMap.tests.js
  testing/tests/DevExpress.core/utils.deferred.tests.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
  testing/tests/DevExpress.jquery/easing.tests.js
  testing/tests/DevExpress.jquery/eventRegistrator.tests.js
  testing/tests/DevExpress.jquery/selectors.tests.js
  testing/tests/DevExpress.jquery/template.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  testing/tests/DevExpress/misc.tests.js
Labels: 18_1

#3271 Remove redundant parameters from dxTreeView's onSelectionChanged documentation
  js/ui/tree_view/ui.tree_view.base.js
Labels: 17_2, cherry-pick

#3270 Remove redundant parameters from dxTreeView's onSelectionChanged documentation
  js/ui/tree_view/ui.tree_view.base.js
Labels: 18_1

#3272 Support SSR for RadioGroup
  js/ui/radio_group/radio_button.js
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.serverSide/radioButton.tests.js
  testing/tests/DevExpress.serverSide/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 18_1

#3266 dxDataGrid: Fix cell / row borders presents for several edit modes
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1, bug

#3276 Correct viz axis tests
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 17_2, cherry-pick

#3275 Correct viz axis tests
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_1

#3273 Fix semidiscrete range selector rendering with no data (T615270)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 17_2

#3274 Fix semidiscrete range selector rendering with no data (T615270)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_1, cherry-pick

#3278 Fix TreeList testcafe demos with wrong checkbox value after #3255
  js/ui/tree_list/ui.tree_list.selection.js
Labels: 18_1, cherry-pick

#3280 Fix unexpected sorting of PivotGrid rows on expanding if one of them has null value (T608790)
  js/ui/pivot_grid/ui.pivot_grid.utils.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 17_2, cherry-pick

#3279 Fix unexpected sorting of PivotGrid rows on expanding if one of them has null value (T608790)
  js/ui/pivot_grid/ui.pivot_grid.utils.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 18_1

#3283 Fix styles for the List with search (T608651)
  styles/widgets/generic/list.generic.less
Labels: 18_1

#3284 Fix styles for List with search (T608651)
  styles/widgets/generic/list.generic.less
Labels: 17_2, cherry-pick

#3282 Add aggregation methods in chart series
  js/viz/docs/docchartseries.js
  js/viz/series/bar_series.js
  js/viz/series/base_series.js
  js/viz/series/bubble_series.js
  js/viz/series/financial_series.js
  js/viz/series/range_series.js
  js/viz/series/scatter_series.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/bubbleSeries.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
Labels: 18_1

#3263 Implement context menu event in Scheduler
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1

#3288 Fix regression after #3279
  js/ui/pivot_grid/ui.pivot_grid.utils.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 18_1

#3289 Fix regression after #3279
  js/ui/pivot_grid/ui.pivot_grid.utils.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 17_2, cherry-pick

#3287 Fix code formatting in doc files
  js/viz/docs/docGaugeIndicators.js
  js/viz/docs/doccharts.js
  js/viz/docs/docchartseries.js
  js/viz/docs/docpiechartseries.js
  js/viz/docs/docpolarchartseries.js
Labels: 18_1

#3292 Fix visibility updating of the MultiView items (T613732)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 17_1, cherry-pick

#3291 Fix visibility updating of the MultiView items (T613732)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 17_2, cherry-pick

#3290 Fix visibility updating of the MultiView items (T613732)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 18_1

#3293 Cover the `optionChanged` by the server-side tests
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
Labels: 18_1

#3294 Fix doc comments for itemOption and getEditor methods (T613592)
  js/ui/form/ui.form.js
Labels: 18_1, cherry-pick

#3285 Fix doc comments for itemOption and getEditor methods (T613592)
  js/ui/form/ui.form.js
Labels: 17_2

#3264 Fix hide submenu on mouseleave event when relatedTarget is children of target
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 17_2

#3295 Fix hide submenu on mouseleave event when relatedTarget is children of target
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_1, cherry-pick

#3300 Fix changing options on SSR for Charts
  js/viz/core/base_widget.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
Labels: 18_1

#3298 Fix containerBackgroundColor and resolveLabelsOverlapping options changing in run-time
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
Labels: 17_2

#3299 Fix containerBackgroundColor and resolveLabelsOverlapping options changing in run-time
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
Labels: 18_1, cherry-pick

#3302 Create aggregationInfo object for aggregated point that contains all group's dataItems and interval info
  js/viz/docs/docObjectsDxChart.js
  js/viz/docs/docchartseries.js
  js/viz/series/base_series.js
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/basePoint.tests.js
Labels: 18_1

#3297 dxDataGrid: Fix adaptive row form after expand contains hidden columns (T531265)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 18_1, cherry-pick

#3296 dxDataGrid: Fix adaptive row form after expand contains hidden columns (T531265)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 17_2, bug

#3301 Test more widgets for "optionChange" on SSR
  js/core/dom_component.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
Labels: 18_1

#3306 Fix doc comments and objects for aggregationInfo after #3302
  js/viz/docs/docObjectsDxChart.js
  js/viz/docs/docchartseries.js
Labels: 18_1

#3304 Fix tests after #3295
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Labels: 17_2, cherry-pick

#3303 Fix tests after #3295
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Labels: 18_1

#3308 Get rid of multiple wrapping of an actions
  js/core/component.js
  testing/tests/DevExpress.core/component.tests.js
Labels: 18_1

#3309 Get rid of multiple wrapping of an actions
  js/core/component.js
  testing/tests/DevExpress.core/component.tests.js
Labels: 17_2
