Repository DevExpress/DevExtreme, pull requests merged in 2018-11, with the labels that each got.

#5994 Fix button colors in date navigators (after 5974)
  styles/widgets/material/button.material.less
Labels: 18_2

#5982 DataGrid: Synchronize doc comments with exporting code
  js/exporter/excel/excel.doc_comments.js
  js/ui/data_grid/ui.data_grid.export.js
Labels: 18_2

#5985 Treeview doesn't recalculate node selection states after 'searchValue' changing
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/optionChanged.js
Labels: 18_1, cherry-pick

#5995 Fix Scheduler tests in AUS timezone
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2

#5996 Revert "fix the form's height when the scrollView is contained inside the tabbed item"
  styles/widgets/common/form.less
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_2

#5991 Fix minor ticks generation with breaks on summer time recall (T686158)
  js/core/utils/date.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_2

#5992 Fix minor ticks generation with breaks on summer time recall (T686158)
  js/core/utils/date.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_1, cherry-pick

#5993 Fix minor ticks generation with breaks on summer time recall (T686158)
  js/core/utils/date.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 17_2, cherry-pick

#5945 Fix TreeView parent nodes expansion after selection of rendered child (T671960)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 18_1

#5999 Fix TreeView parent nodes expansion after selection of rendered child (T671960)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 18_2, cherry-pick

#6001 Refactor Drawer panel size calculation
  js/ui/drawer/ui.drawer.js
Labels: 18_2

#6000 Improve the HtmlEditor HTML markup rendering
  build/gulp/vendor.js
  js/ui/html_editor.js
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/ui.html_editor.js
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importQuill.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
  webpack.config.js
Labels: 18_2

#6003 DataGrid - OData query should be correct if focused row enabled and key column is not present
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6004 Fix image rendering for the HtmlEditor
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/modules/dropImage.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2

#6006 Fix button icon in grid and pivotgrid toolbar
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/pivotGrid.material.less
Labels: 18_2

#6008 Use `focusin` subscribtion instead of `focus` for IE11 test
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#5998 ScrollView.scrollTo works incorrectly with the scaled elements (close T629573)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2

#6011 ScrollView.scrollTo works incorrectly with the scaled elements (close T629573)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_1, cherry-pick

#6012 Fix duplicate items after insert and push item with exists key
  js/data/array_utils.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 18_2

#6005 Fix Tabs scrolling if some items are disabled (T684886)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/tabs.js
  styles/widgets/common/tabs.less
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 18_1

#6014 Fix colspan applying for Scheduler group header cells
  js/ui/scheduler/ui.scheduler.table_creator.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 18_2

#6010 Fix Scheduler appointments overlapping on vertical views
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#6002 Fix import the Quill when the Quill is contained in the window
  js/ui/html_editor/quill_importer.js
Labels: 18_2

#6007 List item doesn't show checked item in radio mode (T686823, side-effect after fix T680199)
  js/ui/radio_group/radio_button.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Labels: 18_2

#6016 Fix Tabs scrolling if some items are disabled (T684886) (#6005)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/tabs.js
  styles/widgets/common/tabs.less
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 18_2, cherry-pick

#6017 List item doesn't show checked item in radio mode (T686823, side-effect after fix T680199)
  js/ui/radio_group/radio_button.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Labels: 18_1, cherry-pick

#5989 DataGrid - Focused row material theming, remove outline
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/dataGrid.material.less
  styles/widgets/material/gridBase.material.less
Labels: 18_2

#6021 dxDataGrid: Fix navigation issues after page down or up arrow key press (T680076)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#6020 dxDataGrid: Fix navigation issues after page down or up arrow key press (T680076)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#6018 DataGrid should navigate by arrow keys if grouping and grid was focused by API
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#6022 Fix Scheduler devices tests
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
Labels: 18_2

#6024 Add chart.refresh method (T686434)
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 18_2

#6026 Fix Tabs border styles
  js/ui/tabs.js
  styles/widgets/common/tabs.less
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 18_2

#5930 Make selectionRequired option work in the dxTreeView (T455574)
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selectAllMode.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 18_2

#6013 numberBox updates value if the formated text has not been changed (close T667187)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2

#6032 numberBox updates value if the formated text has not been changed (close T667187)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#6034 dxDataGrid: Fix IE tests
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#6035 Fixed zoom drag box color in dark themes
  js/viz/core/themes/generic.contrast.js
  js/viz/core/themes/generic.dark.js
  js/viz/core/themes/material.js
Labels: 18_2

#6031 Make selectionRequired option work in the dxTreeView (T455574)
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selectAllMode.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 18_1, cherry-pick

#6030 Don't close dxMenu when the page is scrolled
  js/ui/menu/ui.menu.js
  js/ui/menu/ui.submenu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_2

#6037 dxChart: Fix zooming/scrolling issue for discrete axis
  js/viz/chart_components/zoom_and_pan.js
  js/viz/translators/category_translator.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 18_2

#6033 numberBox updates value if the formated text has not been changed (close T667187)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#6039 Fix onRendered call for tempaltes with `render` method
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2

#6040 Fix onRendered call for tempaltes with `render` method (#6039)
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_1

#6023 Change readonly filled editor background color.
  styles/widgets/generic/textEditor.generic.less
Labels: 18_2

#6038 Fix HtmlEditor focus behavior (fixes T685852)
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2

#6042 Refactor DST processing in Scheduler
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.DstAppointments.tests.js
Labels: 18_1, cherry-pick

#6041 Refactor DST processing in Scheduler
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.DstAppointments.tests.js
Labels: 18_2

#6050 dxDataGrid: Documentation - Fix default expandMode option value for mobile devices(T687189)
  js/ui/data_grid/ui.data_grid.base.js
Labels: 18_2, cherry-pick

#6048 dxDataGrid: Documentation - Fix default expandMode option value for mobile devices(T687189)
  js/ui/data_grid/ui.data_grid.base.js
Labels: 17_2

#6049 dxDataGrid: Documentation - Fix default expandMode option value for mobile devices(T687189)
  js/ui/data_grid/ui.data_grid.base.js
Labels: 18_1, cherry-pick

#6052 Specify return values for isRowFocused and isAdaptiveDetailRowExpanded
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.focus.js
Labels: 18_2

#6051 Remove unnecessary border from datagrid freespace row (T685940)
  styles/widgets/material/gridBase.material.less
Labels: 18_2

#6046 Make registerKeyHandler work with the formatted dxDateBox
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
Labels: 18_2

#6053 Remove unnecessary border from datagrid freespace row (T685940) (#6051)
  styles/widgets/material/gridBase.material.less
Labels: 18_1, cherry-pick

#6043 Don't revert a date part to the null in formatted dxDateBox
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
Labels: 18_2

#6059 dxChart: Keep tooltip and hover states between data updates
  js/viz/chart_components/tracker.js
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 18_2

#6060 dxDataGrid: Fix doc comments for the "editing.allowAdding" option (after #5572)
  js/ui/grid_core/ui.grid_core.editing.js
Labels: 18_2

#6064 Fix Scheduler timeline visibility in IE (T688284)
  styles/widgets/base/scheduler.less
Labels: 18_2, cherry-pick

#6063 Fix Scheduler timeline visibility in IE (T688284)
  styles/widgets/base/scheduler.less
Labels: 18_1

#6065 dxChart: Keep selection state between data updates
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 18_2

#6055 Add singleAppointmentData to Scheduler templates
  js/ui/scheduler/ui.scheduler.appointment_tooltip.js
  js/ui/scheduler/ui.scheduler.appointments.drop_down.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dropDownAppointments.tests.js
Labels: 18_2

#6068 Add singleAppointmentData to Scheduler templates (#6055)
  js/ui/scheduler/ui.scheduler.appointment_tooltip.js
  js/ui/scheduler/ui.scheduler.appointments.drop_down.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dropDownAppointments.tests.js
Labels: 18_1, cherry-pick

#6066 Add selectedRangeUpdateMode option to rangeSelector
  js/viz/axes/base_axis.js
  js/viz/docs/docrangeselector.js
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 18_2

#6073 dxChart: Reset tooltip, hover and selection states after reinitializing chart
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 18_2

#6074 Fix Tabs borders for generic themes
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 18_2

#6077 Fix Tabs borders for generic themes
  styles/widgets/common/tabs.less
Labels: 18_1

#6076 Fix updating name of series on customizeSeries callback(T688232)
  js/viz/core/utils.js
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
Labels: 18_2, cherry-pick

#6075 Fix updating name of series on customizeSeries callback(T688232)
  js/viz/core/utils.js
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.charts/integrationWithAssertions.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
Labels: 18_1

#6085 Provide pt translations for dxHtmlEditor
  js/localization/messages/pt.json
Labels: 18_2, area/localization

#6090 Provide es and pt translations for devextreme 18.2
  js/localization/messages/es.json
  js/localization/messages/pt.json
Labels: 18_2, area/localization

#6062 Fix HtmlEditor height across the supported browsers (T685806)
  styles/widgets/common/htmlEditor.less
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
Labels: 18_2

#6070 Fix handling of a break line in the HtmlEditor
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2

#6093 Fix Scheduler recurrence editor rendering if recurrenceRuleExpr is set (T689342)
  js/ui/scheduler/ui.scheduler.appointment_form.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2

#6072 Fix alignment in Scheduler recurrence editor (T688457)
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 18_1, cherry-pick

#6071 Fix alignment in Scheduler recurrence editor (T688457)
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  styles/widgets/base/recurrenceEditor.less
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 18_2

#6061 TreeList should not render a node twice if 'focusedEnabled' is true and 'focusedRowKey' is set
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_2

#6089 dxDataGrid: Fix blinking test (after #6021)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#6088 dxDataGrid: Fix blinking test (after #6020)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#6086 dxDataGrid: Fix the onContentReady event which isn't triggering when datasource is null and stateStoring is enabled (T689294)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6087 dxDataGrid: Fix the onContentReady event which isn't triggering when datasource is null and stateStoring is enabled (T689294)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, cherry-pick

#6084 dxDataGrid: Fix the filter menu which is hidden when the column has headerCellTemplate (T688843)
  js/ui/grid_core/ui.grid_core.column_headers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 18_2, cherry-pick

#6083 dxDataGrid: Fix the filter menu which is hidden when the column has headerCellTemplate (T688843)
  js/ui/grid_core/ui.grid_core.column_headers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 18_1

#6096 Fix import of the markdown libraries for the HtmlEditor
  js/ui/html_editor/converters/markdown.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importShowdown.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importTurnDown.tests.js
Labels: 18_2

#6094 DataGrid: Fix exception about 'anyof' operation in filterBuilder when customizeColumns is used and column.dataType is defined
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
Labels: 18_1

#6091 Fix updating appointment via store in Scheduler (T688046)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#6095 Fix updating appointment via store in Scheduler (T688046)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1, cherry-pick

#6098 dxDataGrid: Fix IE tests (after #6021)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#6101 dxTreeList: Fix blinking test (after #4367)
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_2, cherry-pick

#6100 dxTreeList: Fix blinking test (after #4336)
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_1

#6097 Fix the keyboard processor for a test of dxMenu to a devices
  js/ui/menu/ui.menu.js
Labels: 18_2

#6105 Fix HtmlEditor tests for the IE11
  testing/helpers/quillDependencies/noQuillDeltaToHtml.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importShowdown.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importTurnDown.tests.js
Labels: 18_2

#6103 Scheduler doesn't support the +30 minutes time-zones (T681124)
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_2

#6107 Fix Scheduler onAppointmentAdding event args processing(T686572)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2

#6109 Fix Scheduler onAppointmentAdding event args processing(T686572)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_1, cherry-pick

#6108 Scheduler doesn't support the +30 minutes time-zones (T681124)
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_1, cherry-pick

#6111 dxTreeList: Fix test for devices after #6101
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_2, cherry-pick

#6110 dxTreeList: Fix test for devices after #6100
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_1

#6056 Expand dxTreeView item by enter when expandEvent is 'click' (T688593)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
Labels: 18_2

#6115 Don't close dxMenu when the page is scrolled (T679700)
  js/ui/menu/ui.menu.js
  js/ui/menu/ui.submenu.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_1

#6079 Update TS definitions
  ts/dx.all.d.ts
Labels: 18_2

#6113 Appointment should rendered correctly if end date appointment coincided translation oт STD(T683568)
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
Labels: 18_2

#6104 DataGrid - fix focused row material theme colors
  styles/widgets/generic/treeList.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/treeList.material.less
Labels: 18_2

#6116 Appointment should rendered correctly if end date appointment coincided translation oт STD(T683568)
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
Labels: 18_1, cherry-pick

#6106 Fix Scheduler recurrenceException calculation (T687347)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#6054 DataGrid - onFocusedCellChanging event should fire if focused row has change
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#6120 Fix Scheduler recurrenceException calculation (T687347) (#6106)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1, cherry-pick

#6121 TreeList - fix arrow icon color
  styles/widgets/generic/treeList.generic.less
  styles/widgets/material/treeList.material.less
Labels: 18_2

#6112 Adding missing messages for French 18.2
  js/localization/messages/fr.json
Labels: 18_2, area/localization

#6124 Revert "Scheduler doesn't support the +30 minutes time-zones (T681124)"
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_1

#6126 Revert "Fix Scheduler recurrenceException calculation (T687347) (#6106)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1

#6128 dxDataGrid: Fix blinking test (after #6021) (attempt 2)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#6127 dxDataGrid: Fix blinking test (after #6020) (attempt 2)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#6129 TreeList - fix arrow icon color
  styles/widgets/generic/treeList.generic.less
  styles/widgets/material/treeList.material.less
Labels: 18_2

#6092 Update description of the E1051 error
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converterController.tests.js
Labels: 18_2

#6132 PivotGrid: Fix TypeScript for the SummaryCell.value method (T687638)
  js/ui/pivot_grid/ui.pivot_grid.summary_display_modes.js
Labels: 18_1, cherry-pick

#6131 PivotGrid: Fix TypeScript for the SummaryCell.value method (T687638)
  js/ui/pivot_grid/ui.pivot_grid.summary_display_modes.js
Labels: 18_2

#6102 DataGrid: Reorganize excel exporting tests
  testing/helpers/dataGridExportTestsHelper.js
  testing/helpers/exportTestsHelper.js
  testing/helpers/pivotGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
Labels: 18_2

#6027 TabPanel rerenders items after badge changed (close #5966, T687958)
  js/ui/tab_panel.js
  js/ui/tab_panel/item.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 18_2

#6133 Fix TypeScript definitions for useLegacyStoreResult and useLegacyVisibleIndex options (T689893)
  js/core/config.js
Labels: 18_2

#6137 Update TS definitions
  ts/dx.all.d.ts
Labels: 18_2

#6125 Use right-to-left direction to fill a year in the dxDateBox with mask (T689719)
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6138 Update TS definitions
  ts/dx.all.d.ts
Labels: 18_1

#6143 Add option to axes adjusting after zooming(T690411)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 18_2

#6146 TreeList focusedRow - fix contrast, material themes
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/treeList.generic.less
  styles/widgets/material/treeList.material.less
Labels: 18_2

#6142 Scheduler doesn't support the +30 minutes time-zones. Re fix bug. (T681124)
  js/ui/scheduler/ui.scheduler.subscribes.js
Labels: 18_2

#6149 DataGrid- fix contrast theme
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
Labels: 18_2

#6144 Use font-measure-safe constant in toolbar.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 18_2

#6148 Disable SvgElement ellipsis tests in Firefox+Linux
  .eslintrc
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 18_2

#6151 DataGrid tests: Firefox on Linux needs more height to display scrollbar
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2

#6135 Fix the Map freezing on frequently updating of routes (Bing provider)
  js/ui/map/provider.dynamic.bing.js
  js/ui/widget/ui.errors.js
  testing/helpers/forMap/bingMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 18_2

#6145 Fix the second parameter of the onUpdated Store event after BC4504 (T689608)
  js/data/abstract_store.js
  testing/tests/DevExpress.data/odataStore.tests.js
  testing/tests/DevExpress.data/storeArray.tests.js
Labels: 18_2

#6136 Fix the Map freezing on frequently updating of routes (Bing provider)
  js/ui/map/provider.dynamic.bing.js
  js/ui/widget/ui.errors.js
  testing/helpers/forMap/bingMock.js
  testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 18_1, cherry-pick

#6153 Revert "Fix Scheduler recurrenceException calculation (T687347) (#6106)"
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#6152 Don't change an active date part when dxDateBox is blured (T690897)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6150 dxDataGrid: Fix editing that does not work in a certain situation when there are fixed columns and repaintChangesOnly is enabled (T689906)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_2

#6155 Localize AM/PM in the dxTimeView (T689313)
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Labels: 18_1, cherry-pick

#6154 Localize AM/PM in the dxTimeView (T689313)
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Labels: 18_2

#6161 Don't rerender a domComponent when elementAttr changed (T688281)
  js/core/dom_component.js
  testing/tests/DevExpress.core/domComponent.tests.js
Labels: 18_1, cherry-pick

#6160 Don't rerender a domComponent when elementAttr changed (T688281)
  js/core/dom_component.js
  testing/tests/DevExpress.core/domComponent.tests.js
Labels: 18_2

#6158 Don't prevent keyboard events in the TextEditor (T691478)
  js/ui/select_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_1, cherry-pick

#6157 Don't prevent keyboard events in the TextEditor (T691478)
  js/ui/select_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_2

#6162 Fix HtmlEditor initial value updating
  .eslintrc
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2

#6159 Add 🦊 to CI matrix
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
  testing/runner/Views/Main/RunAll.cshtml
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#6164 Support +30 minute time zones in Scheduler (T681124)
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_1, cherry-pick

#6165 dxChart: Add extra information for zooming events and calling zoomEnd after render
  js/docEnums.js
  js/viz/axes/base_axis.js
  js/viz/chart.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/docs/doccharts.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#6171 Fix valueAxis resetting on dataSource updates (T684878)
  js/viz/axes/base_axis.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/docs/doccharts.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#6172 Fix renderAsync for column with cellTemplate in angular
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#6173 Fix renderAsync for column with cellTemplate in angular
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#6168 DataGrid: Fix wrong removeCount argument during virtual scrolling if grouping is used with odata and autoExpandAll is true (T681470)
  js/ui/data_grid/ui.data_grid.grouping.core.js
  js/ui/data_grid/ui.data_grid.grouping.expanded.js
  js/ui/data_grid/ui.data_grid.grouping.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2
