Repository DevExpress/DevExtreme, pull requests merged in 2018-07, with the labels that each got.

#4551 Fix Scheduler appointment updating if appointment data is changed
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#4552 Fix Scheduler appointment updating if appointment data is changed
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1, cherry-pick

#4548 Improve theme checking by using special functions
  js/ui/autocomplete.js
  js/ui/button.js
  js/ui/check_box.js
  js/ui/context_menu/ui.menu_base.js
  js/ui/date_box/ui.date_box.strategy.date_view.js
  js/ui/dialog.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/list/ui.list.base.js
  js/ui/load_indicator.js
  js/ui/lookup.js
  js/ui/popup.js
  js/ui/radio_group/radio_button.js
  js/ui/radio_group/radio_group.js
  js/ui/select_box.js
  js/ui/slider/ui.slider.js
  js/ui/switch.js
  js/ui/tabs.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/themes.js
  js/ui/toolbar.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
Labels: 18_1, cherry-pick

#4522 Remove extra customization of buttons in popup's toolbar
  js/ui/popup.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  styles/widgets/material/popup.material.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#4556 Fix applying margins on min/max (after #4539)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#4518 Fix filter area in PivotGrid FiledPanel when there is a lot of fields on it (T645658)
  js/ui/pivot_grid/ui.sortable.js
  styles/widgets/base/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Labels: 18_1

#4519 Fix filter area in PivotGrid FiledPanel when there is a lot of fields on it (T645658)
  js/ui/pivot_grid/ui.sortable.js
  styles/widgets/base/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Labels: 18_2, cherry-pick

#4520 Fix filter area in PivotGrid FiledPanel when there is a lot of fields on it (T645658)
  js/ui/pivot_grid/ui.sortable.js
  styles/widgets/base/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Labels: 17_2, cherry-pick

#4549 Fix tag rendering for a TagBox with displayExpr not based on the item field (T650678)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
Labels: 18_2

#4550 Fix tag rendering for a TagBox with displayExpr not based on the item field (T650678)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
Labels: 18_1, cherry-pick

#4557 Update performance test expected results
  testing/tests/DevExpress.performance/collectionStyleRecalculations.tests.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.performance/frameworkRenderStyleRecalculations.tests.js
Labels: 18_1

#4560 Fix point visibility changing on dataSource updating in pie(T651259)
  js/viz/series/points/base_point.js
  js/viz/series/points/pie_point.js
  testing/tests/DevExpress.viz.core.series/piePoint.tests.js
Labels: 18_1, cherry-pick

#4559 Fix point visibility changing on dataSource updating in pie(T651259)
  js/viz/series/points/base_point.js
  js/viz/series/points/pie_point.js
  testing/tests/DevExpress.viz.core.series/piePoint.tests.js
Labels: 18_2

#4562 Fix Scheduler allDay title visibility after changing currentDate (T652034)
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1

#4563 Fix Recurrence Editor visibility on adding of the editor to custom Scheduler form
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 18_2

#4564 Fix Scheduler allDay title visibility after changing currentDate (T652034)
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2, cherry-pick

#4558 DataGrid: Fix clearing of filter if the boolean column is filtered with the 'false' value (T649274)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#4565 DataGrid: Fix clearing of filter if the boolean column is filtered with the 'false' value (T649274)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#4566 Fix dxSchedulerOptions.views declaration
  js/ui/scheduler/ui.scheduler.js
Labels: 18_1

#4567 Fix dxSchedulerOptions.views declaration
  js/ui/scheduler/ui.scheduler.js
Labels: 18_2

#4575 Make displayExpr work as function in the dxTagBox (T635274)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 17_2, cherry-pick

#4572 Get rid of memory leak in pointer events (T646729)
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
Labels: 18_2

#4573 Get rid of memory leak in pointer events (T646729)
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
Labels: 18_1, cherry-pick

#4574 Get rid of memory leak in pointer events (T646729)
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
Labels: 17_2, cherry-pick

#4577 Change menu item padding according to Material 2.0
  styles/widgets/material/contextMenu.material.less
Labels: 18_2

#4373 dxDataGrid - using simillar approach for scrolling fixed and not fixed columns (T642937)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  styles/widgets/base/dataGrid.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_1

#4570 dxDataGrid: Fix scroll position after expanding the master-detail (T624538)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 17_2

#4584 Fix the filterBuilder.searchTimeout option in PivotGrid (T652270)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1

#4585 Fix the filterBuilder.searchTimeout option in PivotGrid (T652270)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 17_2, cherry-pick

#4586 Fix the filterBuilder.searchTimeout option in PivotGrid (T652270)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2, cherry-pick

#4590 Fix scrollbar after endDayHour option changing when allDay panel is hidden
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1

#4591 Fix DataGrid crash after adding a row if dataSource is not defined (T652111)
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4592 Fix DataGrid crash after adding a row if dataSource is not defined (T652111)
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4593 Fix scrollbar after endDayHour option changing when allDay panel is hidden
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2

#4578 Update TS Declarations
  ts/dx.all.d.ts
Labels: 17_2

#4579 Update TS Declarations
  ts/dx.all.d.ts
Labels: 18_1

#4580 Update TS Declarations
  ts/dx.all.d.ts
Labels: 18_2

#4589 Update styles for editors according to Material 2.0
  styles/widgets/material/autocomplete.material.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/fieldset.material.less
  styles/widgets/material/form.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/lookup.material.less
  styles/widgets/material/numberBox.material.less
  styles/widgets/material/size-schemes/default.less
  styles/widgets/material/size-schemes/shared/base.less
  styles/widgets/material/tagBox.material.less
  styles/widgets/material/textArea.material.less
  styles/widgets/material/textBox.material.less
  styles/widgets/material/textEditor.material.less
  styles/widgets/material/timeView.material.less
  styles/widgets/material/toolbar.material.less
Labels: 18_1

#4598 Update styles for editors according to Material 2.0
  styles/widgets/material/autocomplete.material.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/fieldset.material.less
  styles/widgets/material/form.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/lookup.material.less
  styles/widgets/material/numberBox.material.less
  styles/widgets/material/size-schemes/default.less
  styles/widgets/material/size-schemes/shared/base.less
  styles/widgets/material/tagBox.material.less
  styles/widgets/material/textArea.material.less
  styles/widgets/material/textBox.material.less
  styles/widgets/material/textEditor.material.less
  styles/widgets/material/timeView.material.less
  styles/widgets/material/toolbar.material.less
Labels: 18_2, cherry-pick

#4597 Change Toast styles and behaviour according to Material 2.0
  js/ui/toast.js
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/toast.material.less
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_2

#4587 Change Slider styles according to Material 2.0
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/slider.material.less
Labels: 18_2

#4583 Change ProgressBar styles according to Material 2.0
  styles/widgets/material/progressBar.material.less
Labels: 18_2

#4601 Add material 2.0 styles for Toast, ProgressBar, Slider
  js/ui/toast.js
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/progressBar.material.less
  styles/widgets/material/slider.material.less
  styles/widgets/material/toast.material.less
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_1, cherry-pick

#4602 Update version to 17.2.9
  js/core/version.js
  package.json
Labels: 17_2

#4603 Fix filter area in PivotGrid field panel in rtl case
  styles/widgets/base/pivotGrid.less
Labels: 17_2

#4607 Revert "dxDataGrid - using simillar approach for scrolling fixed and not fixed columns (T642937) (#4373)"
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  styles/widgets/base/dataGrid.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_1

#4608 DataGrid: Fix several problems with validationRules in form editing mode (T652579, T651049, T652602, T651675)
  js/ui/form/ui.form.layout_manager.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2

#4609 DataGrid: Fix several problems with validationRules in form editing mode (T652579, T651049, T652602, T651675)
  js/ui/form/ui.form.layout_manager.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#4610 DataGrid: Fix several problems with validationRules in form editing mode (T652579, T651049, T652602, T651675)
  js/ui/form/ui.form.layout_manager.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2, cherry-pick

#4611 Customize shortcuts buttons in popup's toolbar with type and flat classes (T652892)
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#4612 Customize shortcuts buttons in popup's toolbar with type and flat classes (T652892) (#4611)
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_1, cherry-pick

#4581 Use lowercase in filtering for odata query (T650922)
  js/data/odata/query_adapter.js
  testing/tests/DevExpress.data/odataQuery.tests.js
  testing/tests/DevExpress.data/odataStore.tests.js
Labels: 18_2

#4619 Set 'normal' button type if useDefaultToolbarButtons set to false
  js/ui/popup.js
Labels: 18_2

#4620 Set 'normal' button type if useDefaultToolbarButtons set to false (#4619)
  js/ui/popup.js
Labels: 18_1, cherry-pick

#4618 Change Tab styles according to Material 2.0
  styles/widgets/material/tabs.material.less
Labels: 18_2

#4613 dxDataGrid: Fix the "Cannot read property 'calculateGroupValue' of undefined" error when a group row is removed from the Group Panel under certain (T648268)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_1

#4614 dxDataGrid: Fix the "Cannot read property 'calculateGroupValue' of undefined" error when a group row is removed from the Group Panel under certain (T648268)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2, cherry-pick

#4624 Fix Scheduler appointments ordering on month view (T650429) (#4604)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2, cherry-pick

#4627 Fix export the DataGrid if the columnRenderingMode option is set to "virtual" (T646253)
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/data_grid/ui.data_grid.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 18_1

#4628 Fix export the DataGrid if the columnRenderingMode option is set to "virtual" (T646253)
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/data_grid/ui.data_grid.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 18_2, cherry-pick

#4632 dxDataGrid: Fix rendering of the multi-row headers when all child columns in a specific band are hidden (T652910)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2, cherry-pick

#4631 dxDataGrid: Fix rendering of the multi-row headers when all child columns in a specific band are hidden (T652910)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_1, cherry-pick

#4630 dxDataGrid: Fix rendering of the multi-row headers when all child columns in a specific band are hidden (T652910)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 17_2

#4622 Use lowercase in filtering for odata query (T650922) (#4581)
  js/data/odata/query_adapter.js
  testing/tests/DevExpress.data/odataQuery.tests.js
  testing/tests/DevExpress.data/odataStore.tests.js
Labels: 18_1, cherry-pick

#4623 Use lowercase in filtering for odata query (T650922) (#4581)
  js/data/odata/query_adapter.js
  testing/tests/DevExpress.data/odataQuery.tests.js
  testing/tests/DevExpress.data/odataStore.tests.js
Labels: 17_2, cherry-pick

#4635 Fix Scheduler FF tests
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
Labels: 18_2, cherry-pick

#4621 Change Tab styles according to Material 2.0 (#4618)
  styles/widgets/material/tabs.material.less
Labels: 18_1, cherry-pick

#4626 Pass node with string key to the dxTreeView onItemRendered callback (T652825)
  js/ui/collection/ui.collection_widget.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/rendering.js
Labels: 17_2, cherry-pick

#4625 Pass node with string key to the dxTreeView onItemRendered callback (T652825)
  js/ui/collection/ui.collection_widget.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/rendering.js
Labels: 18_2

#4637 dxDataGrid - adding row when grouping and group summary creates a groupFooter
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4638 Add description for Recurrence Editor options
  js/ui/recurrence_editor.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
Labels: 18_2

#4639 Fix incorrect dxLookup rendering when fullScreen is true in the Material theme (T641990)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 18_2, cherry-pick

#4641 dxDataGrid - adding row when grouping and group summary does not create excess groupFooter
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2, cherry-pick

#4640 DataGrid - adding row when grouping and group summary does not create excess groupFooter
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4642 Add Recurrence Editor description to modules metadata
  build/gulp/modules_metadata.json
  ts/dx.all.d.ts
Labels: 18_2

#4644 Remove unnecessary removing of box-shadow
  styles/widgets/common/dropDownEditor.less
  styles/widgets/common/widget.less
  styles/widgets/generic/calendar.generic.less
  styles/widgets/generic/checkBox.generic.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/generic/contextMenu.generic.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/radioButton.generic.less
  styles/widgets/generic/radioGroup.generic.less
  styles/widgets/generic/slider.generic.less
  styles/widgets/generic/switch.generic.less
  styles/widgets/generic/textEditor.generic.less
  styles/widgets/material/calendar.material.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/list.material.less
Labels: 18_2

#4646 Remove unnecessary removing of box-shadow (#4644)
  styles/widgets/common/dropDownEditor.less
  styles/widgets/common/widget.less
  styles/widgets/generic/calendar.generic.less
  styles/widgets/generic/checkBox.generic.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/generic/contextMenu.generic.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/radioButton.generic.less
  styles/widgets/generic/radioGroup.generic.less
  styles/widgets/generic/slider.generic.less
  styles/widgets/generic/switch.generic.less
  styles/widgets/generic/textEditor.generic.less
  styles/widgets/material/calendar.material.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/list.material.less
Labels: 18_1, cherry-pick

#4636 Add the capability to change a vertical alignment of button item in dxForm
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: 18_1

#4648 Add the capability to change a vertical alignment of button item in dxForm (T651963)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: 18_2, cherry-pick

#4650 Optimize excel cell preparing (T652966)
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/grid_core/ui.grid_core.export_mixin.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 18_1, cherry-pick

#4649 Optimize excel cell preparing (T652966)
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/grid_core/ui.grid_core.export_mixin.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 18_2

#4651 Fix Scheduler formData changing after cancelling event (T653358)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1

#4652 Fix Scheduler formData changing after cancelling event (T653358)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2, cherry-pick

#4647 Add API to get value/argument axes
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/docs/docObjectsDxChart.js
  js/viz/docs/doccharts.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part2.tests.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/chart.tests.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: 18_2

#4656 dxDataGrid: Fix rendering unexpected fixed column when columnFixing and bands are enabled (T652025)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 18_2, cherry-pick

#4655 dxDataGrid: Fix rendering unexpected fixed column when columnFixing and bands are enabled (T652025)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 18_1

#4658 Add wholeRange option to chart axis (bounds)
  js/viz/axes/base_axis.js
  js/viz/axes/polar_axes.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/docs/doccharts.js
  js/viz/pie_chart.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part2.tests.js
  testing/tests/DevExpress.viz.charts/chart.part4.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/integrationWithAssertions.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 18_2

#4662 dxDataGrid - Fix customizeText called for the wrong target (T653374)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2, cherry-pick

#4659 dxDataGrid - Fix customizeText called for the wrong target (T653374)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4665 dxDataGrid - Fix customizeText called for the wrong target (T653374)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4605 Implement mask functionality in the dxDateBox 🎭
  js/localization/ldml/date.parser.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.js
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
Labels: 18_2

#4654 Add dx-card class
  build/style-compiler/LessRegistry.cs
  styles/widgets/android5/card.android5.less
  styles/widgets/common/card.less
  styles/widgets/generic/card.generic.less
  styles/widgets/ios7/card.ios7.less
  styles/widgets/material/card.material.less
  styles/widgets/win10/card.win10.less
  styles/widgets/win8/card.win8.less
Labels: 18_2

#4668 Extend pattern setters only in the masked dxDateBox
  js/ui/date_box/ui.date_box.mask.parts.js
Labels: 18_2

#4669 Add dx-card class
  build/style-compiler/LessRegistry.cs
  styles/widgets/android5/card.android5.less
  styles/widgets/common/card.less
  styles/widgets/generic/card.generic.less
  styles/widgets/ios7/card.ios7.less
  styles/widgets/material/card.material.less
  styles/widgets/win10/card.win10.less
  styles/widgets/win8/card.win8.less
Labels: 18_1, cherry-pick

#4667 Add missing definitions for the `events` module
  build/gulp/modules_metadata.json
Labels: 18_2

#4672 Add missing definitions for the `events` module (#4667)
  build/gulp/modules_metadata.json
Labels: 18_1

#4673 Set range using min/mx in gauges
  js/viz/gauges/common.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.gauges/linearGauge.tests.js
Labels: 18_2

#4588 Prevent passive event listeners problem (T630650)
  js/core/dom_adapter.js
  js/events/core/events_engine.js
  js/events/pointer.js
  testing/tests/DevExpress.ui.events/pointer.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/pointerTests.js
Labels: 18_2

#4676 Add triggerHandler metadata
  build/gulp/modules_metadata.json
Labels: 18_2

#4677 Add triggerHandler metadata
  build/gulp/modules_metadata.json
Labels: 18_1

#4663 Fix missing E4016
  js/core/errors.js
  js/data/errors.js
Labels: 17_1, cherry-pick

#4664 Fix missing E4016
  js/core/errors.js
  js/data/errors.js
Labels: 17_2, cherry-pick

#4675 Fix some widgets styles for material theme
  styles/widgets/material/colorView.material.less
  styles/widgets/material/filterBuilder.material.less
  styles/widgets/material/timeView.material.less
Labels: 18_1

#4678 Fix editors view when using field template for material theme (T654181)
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/lookup.material.less
  styles/widgets/material/tagBox.material.less
  styles/widgets/material/textEditor.material.less
Labels: 18_1

#4681 Prevent passive event listeners problem (T630650)
  js/core/dom_adapter.js
  js/events/core/events_engine.js
  js/events/pointer.js
  testing/tests/DevExpress.ui.events/pointer.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/pointerTests.js
Labels: 18_1, cherry-pick

#4683 Revert events metadata
  build/gulp/modules_metadata.json
Labels: 18_2

#4682 Revert events metadata
  build/gulp/modules_metadata.json
Labels: 18_1

#4685 Set visible bounds for stub range
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#4684 Fix some widgets styles for material theme
  styles/widgets/material/colorView.material.less
  styles/widgets/material/filterBuilder.material.less
  styles/widgets/material/timeView.material.less
Labels: 18_2, cherry-pick

#4688 Fix tests of datebox masks for IE and Edge browsers
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
Labels: 18_2

#4687 Prevent passive event listeners problem (T630650)
  js/events/core/events_engine.js
  js/events/pointer.js
  testing/tests/DevExpress.ui.events/pointer.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/pointerTests.js
Labels: 17_2

#4679 Fix incorrect time offset for new appointments if timeZone is "Etc/UTC" in Scheduler
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1

#4689 Fix the button styles after the editors reworking
  styles/widgets/material/button.material.less
  styles/widgets/material/list.material.less
Labels: 18_2

#4694 Do not set min/max for discrete range
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#4690 Add an event to the valueChanged action of the dxSelectBox when clear button clicked (T654224)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_2

#4691 Add an event to the valueChanged action of the dxSelectBox when clearbutton clicked (T654224)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_1, cherry-pick

#4692 Add an event to the valueChanged action of the dxSelectBox when clear button clicked (T654224)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 17_2, cherry-pick

#4680 Fix incorrect time offset for new appointments if timeZone is "Etc/UTC" in Scheduler
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2, cherry-pick

#4696 Set stub data before apply margin
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#4671 dxDataGrid: Fix the updateDimensions method that does not update the DataGrid content properly after resizing (T654070)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2, cherry-pick

#4670 dxDataGrid: Fix the updateDimensions method that does not update the DataGrid content properly after resizing (T654070)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_1

#4695 Fix button line height calculation
  styles/widgets/material/button.material.less
Labels: 18_2

#4599 ScrollView should consider scaling (T629573)
  js/ui/scroll_view/ui.scroll_view.simulated.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  js/ui/scroll_view/ui.scrollbar.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2

#4362 Add sankey diagram widget
  .eslintrc
  js/bundles/modules/parts/viz.js
  js/docEnums.js
  js/viz/core/errors_warnings.js
  js/viz/core/renderers/renderer.js
  js/viz/core/themes/generic.light.js
  js/viz/docs/docObjectsDxSankey.js
  js/viz/docs/docSankey.js
  js/viz/sankey.js
  js/viz/sankey/constants.js
  js/viz/sankey/data_validator.js
  js/viz/sankey/graph.js
  js/viz/sankey/layout.js
  js/viz/sankey/link_item.js
  js/viz/sankey/node_item.js
  js/viz/sankey/sankey.js
  js/viz/sankey/tooltip.js
  js/viz/sankey/tracker.js
  js/viz/themes.js
  testing/tests/DevExpress.viz.sankey/__meta.json
  testing/tests/DevExpress.viz.sankey/commonParts/common.js
  testing/tests/DevExpress.viz.sankey/sankey.base.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.graph.utils.test.js
  testing/tests/DevExpress.viz.sankey/sankey.items.link.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.items.node.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.layout.test.js
  testing/tests/DevExpress.viz.sankey/sankey.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.tracker.tests.js
Labels: 18_2

#4633 DataGrid: Fix for filter sync in column without dataField (T651579)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.filter_builder.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#4629 DataGrid: Fix for filter sync in column without dataField (T651579)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.filter_builder.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#4701 Fix events module metadata
  build/gulp/modules_metadata.json
  js/events.js
  ts/dx.all.d.ts
Labels: 18_2

#4699 DataGrid: Fix error in the built-in FilterBuilder when boolean data type columns are used (T653737)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1

#4702 Add missing "action" attribute to hidden event handlers
  js/ui/box.js
  js/ui/responsive_box.js
  js/ui/tag_box.js
  js/ui/tooltip/tooltip.js
Labels: 18_2

#4704 Remove inheritdoc from Toast.displayTime
  js/ui/toast.js
Labels: 18_2

#4708 FilterBuilder: Fix getFilterOperations
  js/ui/filter_builder/utils.js
Labels: 18_1

#4706 Add missing "action" attribute to hidden event handlers (#4702)
  js/ui/box.js
  js/ui/responsive_box.js
  js/ui/tag_box.js
  js/ui/tooltip/tooltip.js
Labels: 18_1, cherry-pick

#4707 Remove inheritdoc from Toast.displayTime
  js/ui/toast.js
Labels: 18_1, cherry-pick

#4710 DataGrid: Fix error in the built-in FilterBuilder when boolean data type columns are used (T653737)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_2, cherry-pick

#4693 Fix the button styles after the editors reworking (#4689)
  styles/widgets/material/button.material.less
  styles/widgets/material/list.material.less
Labels: 18_1, cherry-pick

#4714 Fix events module metadata
  build/gulp/modules_metadata.json
  js/events.js
  ts/dx.all.d.ts
Labels: 18_1

#4703 DataGrid - The Text Box widget in a row template is not activated on the first click in Edge
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4705 DataGrid - The Text Box widget in a row template is not activated on the first click in Edge
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#4719 Fix appointments tests for Etc/UTC timezone in Scheduler (after #4680)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2, cherry-pick

#4717 Fix appointments tests for Etc/UTC timezone in Scheduler (after #4679)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1

#4718 Fix ScrollView dimension getters for jQuery v1/v2 (after #4599)
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2

#4722 Fix Toast blinking on changing template (T652869)
  js/ui/toast.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
Labels: 18_2

#4723 Fix Toast blinking on changing template (T652869)
  js/ui/toast.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
Labels: 18_1, cherry-pick

#4727 VizMocks: Do not remove jQuery data on remove element from dom
  testing/helpers/vizMocks.js
Labels: 18_1

#4726 VizMocks: Do not remove jQuery data on remove element from dom
  testing/helpers/vizMocks.js
Labels: 18_2

#4730 DataGrid: Replace require to import in filterSync tests (#4720)
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#4725 Prepare Scheduler tests for updating jquery
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1, cherry-pick

#4724 Prepare Scheduler tests for updating jquery
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2

#4721 Add capability expand all items and collapse all items via API in the dxTreeView (T616274)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 18_1

#4715 Fix styles for disabled radioButton (T654630)
  styles/widgets/generic/radioButton.generic.less
  styles/widgets/ios7/radioButton.ios7.less
  styles/widgets/material/radioButton.material.less
Labels: 18_2
