Repository DevExpress/DevExtreme, pull requests merged in 2018-12, with the labels that each got.

#6298 Set default value "files[]" to name property
  js/ui/file_uploader.js
Labels: 18_2

#6302 dxDataGrid: Fix updating total summary after editing cell when there are fixed columns and recalculateWhileEditing is enabled (T695403)
  js/ui/data_grid/ui.data_grid.summary.js
  testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Labels: 18_2

#6309 DataGrid: Fix grouping after calculateGroupValue option change (T694979)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2

#6310 DataGrid: Fix grouping after calculateGroupValue option change (T694979)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_1

#6308 Fix big text drawing issue in treeMap's tiles(T695996)
  js/viz/tree_map/tree_map.base.js
  testing/tests/DevExpress.viz.treeMap/treeMap.base.tests.js
Labels: 18_2

#6303 Add ignoreEmptyValue option to the validators (T695012)
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 18_2

#6312 dxChart: Restrict zoom depth by the minVisualRangeLength option
  js/viz/axes/base_axis.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#6313 dxChart: Fix chart freezing after "null-object" exception throws
  js/viz/chart_components/zoom_and_pan.js
Labels: 18_2

#6311 Fix big text drawing issue in treeMap's tiles(T695996)
  js/viz/tree_map/tree_map.base.js
  testing/tests/DevExpress.viz.treeMap/treeMap.base.tests.js
Labels: 18_1, cherry-pick

#6304 Fix TextBox placeholder behavior once autofill is enabled (T695300)
  styles/widgets/common/textEditor.less
Labels: 18_2

#6305 Fix TextBox placeholder behavior once autofill is enabled (T695300)
  styles/widgets/common/textEditor.less
Labels: 18_1, cherry-pick

#6316 Make chart exporting and printing work with DOM element
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_2

#6299 Fix for-loops over arrays
  js/data/odata/store.js
  js/framework/html/command_manager.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 18_2

#6321 Fix for-loops over arrays
  js/data/odata/store.js
  js/framework/html/command_manager.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 18_1

#6320 Fix incorrect dxSwitch rendering in the Material theme (T674771)
  styles/widgets/material/switch.material.less
Labels: 18_1

#6319 Improve Scheduler appointments overlapping on timelineMonth view (T685522)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2

#6323 Improve Scheduler appointments overlapping on timelineMonth view (T685522)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_1

#6326 Back to plain 'for'
  js/data/odata/store.js
  js/framework/html/command_manager.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 18_1, cherry-pick

#6327 Fix chart with image points exporting
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 18_2

#6324 Fix incorrect dxSwitch rendering in the Material theme (T674771)
  styles/widgets/material/switch.material.less
Labels: 18_2, cherry-pick

#6328 dxDataGrid: Fix resizing that works incorrectly for banded columns (T694325)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Labels: 18_2

#6330 Delete the search text by clicking the clear button in TagBox (T692854)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1, cherry-pick

#6329 Delete the search text by clicking the clear button in TagBox (T692854)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2

#6331 Scroll dxSelectBox to the selected item when grouped dataSource is used (T695278)
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_2

#6332 Scroll dxSelectBox to the selected item when grouped dataSource is used (T695278)
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_1, cherry-pick

#6337 DataGrid: Fix grid's width in IE 11 when the master-detail layout is used (T689367)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#6338 DataGrid: Fix grid's width in IE 11 when the master-detail layout is used (T689367)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#6336 Fix value selection by the Enter key for the DateBox with the "time" type and "list" picker (T691502)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#6333 Fix chart rendering when points have the same value (T685818, T696532)
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 18_2

#6339 Fix value selection by the Enter key for the DateBox with the "time" type and "list" picker (T691502)
  js/ui/date_box/ui.date_box.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#6342 Fix bundler for webpack 4
  build/npm-bin/bundler.js
Labels: 18_2

#6344 Fix bundler for webpack 4
  build/npm-bin/bundler.js
Labels: 18_1, cherry-pick

#6343 Fix dxSwitch vertical align in the Material theme after T674771 fix
  styles/widgets/material/switch.material.less
Labels: 18_1

#6345 PivotGrid: Fix column headers shifting after scrolling in IE11 and Edge if scrolling.useNative is true and compact themes are used (T696415)
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#6340 DataGrid: Fix the selectedRowKeys option if a composite key contains properties of objects (T696853)
  js/core/utils/selection_filter.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 18_2

#6341 DataGrid: Fix the selectedRowKeys option if a composite key contains properties of objects (T696853)
  js/core/utils/selection_filter.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 18_1, cherry-pick

#6346 Fix IE tests after T689367
  js/ui/grid_core/ui.grid_core.grid_view.js
Labels: 18_2

#6348 Fix IE tests after T689367
  js/ui/grid_core/ui.grid_core.grid_view.js
Labels: 18_1, cherry-pick

#6347 Fix single-point chart axes formatting (T696982)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 18_2

#6349 Fix dxSwitch vertical align in the Material theme after T674771 fix
  styles/widgets/material/switch.material.less
Labels: 18_2, cherry-pick

#6353 dxDataGrid: Fix the button column in the edit form (T697205)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#6335 Improve ability to customize Scheduler appointments collector
  js/ui/scheduler/ui.scheduler.appointments.drop_down.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dropDownAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#6350 Fix multiline text export in treemap (T697125)
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 18_2

#6351 Fix multiline text export in treemap (T697125)
  js/client_exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 17_2, cherry-pick

#6352 Fix multiline text export in treemap (T697125)
  js/client_exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 18_1, cherry-pick

#6357 Fix dxPivotGrid column headers rendering in IE11 and Edge in the Material theme
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/base/pivotGrid.less
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#6359 Fix dxPivotGrid column headers rendering in IE11 and Edge in the Material theme
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/base/pivotGrid.less
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1, cherry-pick

#6360 Small fix in Scheduler appointmentCollectorTemplate description
  js/ui/scheduler/ui.scheduler.js
Labels: 18_2

#6358 DataGrid: Fix showing of extra arrow in pager when the repaintChangesOnly option is enabled (T697587)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
Labels: 18_2

#6361 dxDataGrid: Fix resizing that works incorrectly for banded columns (T694325) (#6328)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Labels: 18_1, cherry-pick

#6363 DataGrid: Fix summaries updating if data is grouped and recalculateWhileEditing is enabled (T697805)
  js/ui/data_grid/aggregate_calculator.js
  js/ui/data_grid/ui.data_grid.summary.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6366 Fix wrong selectedRange in rangeSelector when it initialized async dataSource(T696409)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 18_2

#6364 Update TS
  ts/dx.all.d.ts
Labels: 18_2

#6370 dxDataGrid: Fix the getFixedColumns method when there are grouped columns (after #6288)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2

#6372 Fix qunit tests in IE, Edge
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1

#6373 Fix qunit tests in IE, Edge
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2, cherry-pick

#6356 Allow to input years with leading zeroes in the dxDateBox with masks (T694025)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6369 Render Popup title before Popup content
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#6375 DataGrid/TreeList: Fix loading data twice if dataSource and other options are changed (T697860)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6374 Fix Scheduler currentDate updating when intervalCount is set (#6354)
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.navigator.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 18_1

#6365 Fix export images in VectorMap (T695949)
  js/core/utils/svg.js
  js/exporter/image_creator.js
  js/exporter/svg_creator.js
  js/viz/core/export.js
  testing/content/exporterTestsContent/test-image.png
  testing/content/exporterTestsContent/test-image.png.png
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_2

#6377 Support prevent uploading file chunks(T696857)
  js/ui/file_uploader.js
  testing/helpers/xmlHttpRequestMock.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 18_2

#6382 Do not use promise chains
  js/exporter/image_creator.js
Labels: 18_2

#6380 DataGrid: Fix change pages by pager button click during live update
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 18_2

#6381 Add constants for 'danger' and 'normal' button color to the dxButtonGroup (T697371)
  styles/widgets/material/buttonGroup.material.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Labels: 18_2

#6378 Fix paddings in datagrid adaptive row
  styles/widgets/material/gridBase.material.less
Labels: 18_2

#6376 queryByOptions: don't take grouping into account for totalCount calculation
  js/data/store_helper.js
  testing/tests/DevExpress.data/storeArray.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 18_2

#6385 FilterBuilder: Fix Chinese input (T697525)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/keyboardNavigation.js
Labels: 18_2

#6387 Don't load data when searchDataBeforeSearch is disabled (T697202)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1, cherry-pick

#6386 Don't load data when searchDataBeforeSearch is disabled (T697202)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2

#6388 Fix sparkline export (T698987)
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 18_2

#6389 Fix sparkline export (T698987)
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 18_1

#6391 Fix the loadPanel.shading default value in Grids
  js/ui/grid_core/ui.grid_core.rows.js
Labels: 18_2

#6390 Make Drawer panel dimensions unchangeable after resizing window (T698027)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#6392 Fix the loadPanel.shading default value in Grids
  js/ui/grid_core/ui.grid_core.rows.js
Labels: 18_1, cherry-pick

#6379 Fix the vertical scroll visibility when the adaptive menu doesn't fit in the window height (T672843)
  js/ui/drop_down_box.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.js
  js/ui/overlay/ui.overlay.js
  js/ui/overlay/utils.js
  styles/mixins.less
  styles/widgets/common/menu.less
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_1

#6396 DataGrid - Fix the unexpected Â character in empty cells if charset is not UTF-8 (T698696)
  build/gulp/compression-pipes.js
Labels: 18_2

#6397 DataGrid - Fix the unexpected Â character in empty cells if charset is not UTF-8 (T698696)
  build/gulp/compression-pipes.js
Labels: 18_1, cherry-pick

#6393 DataGrid: Fix unnecessary scrollbar if showScrollbar set to "always" (T697699)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#6398 DataGrid: Fix summaries updating if data is grouped and recalculateWhileEditing is enabled (T697805)
  js/ui/data_grid/ui.data_grid.summary.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6399 Datagrid: Fix showing of value in the FilterPanel when the calculateDisplayValue is defined and column has a lookup (T698723)
  js/ui/grid_core/ui.grid_core.filter_panel.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Labels: 18_2

#6395 Fix the vertical scroll visibility when the adaptive menu doesn't fit in the window height (T672843)
  js/ui/drop_down_box.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.js
  js/ui/overlay/ui.overlay.js
  js/ui/overlay/utils.js
  styles/mixins.less
  styles/widgets/common/menu.less
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_2, cherry-pick

#6401 DataGrid: Fix wrong padding in paging in RTL mode (T699109)
  styles/widgets/common/pager.less
Labels: 18_2

#6400 Describe Scheduler appointmentCollectorTemplate args
  js/ui/scheduler/ui.scheduler.js
Labels: 18_2

#6406 Fix crosshair label value when minBarSize option used (T698924)
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: 18_2

#6407 Fix crosshair label value when minBarSize option used (T698924)
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: 18_1, cherry-pick

#6408 Fix crosshair label value when minBarSize option used (T698924)
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: 17_2, cherry-pick

#6371 Support update appointments on push method of DataSource(T688046)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#6411 Fix the assert rule inside test after fixed T672843
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_1

#6412 DataGrid: Fix page scrolling on IOS if DataGrid has scroll also (T698156)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#6409 Fix internal input updating after UI changes in HTML editor (T692735)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2

#6414 Update scheduler test(change appointment position for device test)
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#6410 Implement Scheduler customizeDateNavigatorText callback (T693576)
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.navigator.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 18_2

#6415 DataGrid: Fix test after T698156
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_2

#6419 Small fix in Scheduler customizeDateNavigatorText description
  js/ui/scheduler/ui.scheduler.js
Labels: 18_2

#6420 Update TS
  ts/dx.all.d.ts
Labels: 18_2

#6427 Update version to 18.2.4
  js/core/version.js
  package.json
Labels: 18_2

#6413 Support ellipsis text-overflow in Scheduler group table
  styles/widgets/base/scheduler.less
Labels: 18_2

#6423 dxChart: Fix default panning behavior for the page with chart
  js/viz/axes/base_axis.js
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 18_2

#6416 Implement Scheduler customizeDateNavigatorText callback (T693576)
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.navigator.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 18_1, cherry-pick

#6421 Fix count of the data source loading when the menu is adaptive (T670764)
  js/ui/menu/ui.menu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_1

#6429 Improve Drawer zIndex processing when async template is used (T697982)
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#6425 Fix multiple value axes synchronisation when zooming (T684665)
  js/viz/axes/base_axis.js
  js/viz/chart.js
  js/viz/chart_components/multi_axes_synchronizer.js
  js/viz/chart_components/zoom_and_pan.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2

#6422 Fix button mode and grid filter menu styles in swatches
  styles/widgets/generic/button.generic.less
  styles/widgets/generic/gridBase.generic.less
Labels: 18_2

#6436 Allow to type numbers with zeroes in the dxDateBox with mask (T700256)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6438 Small fix in Scheduler appointmentCollector template
  js/ui/scheduler/ui.scheduler.appointments.drop_down.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2

#6433 Form: allow to dynamically add/change validation rules (T694778)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 18_2

#6442 Change default value of htmlEditorToolbarItem.location
  js/ui/html_editor/ui.html_editor.js
Labels: 18_2

#6443 RangeSelector: Fix incorrect value initialization (T700301)
  js/viz/range_selector/sliders_controller.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 18_2

#6444 Rollback T690662 fix
  js/viz/sparklines/sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: 18_1

#6426 TagBox should wait for data loading to change selection (close T673636)
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2

#6402 The `equalByValue` util function should compare GUIDs by value (close T698635)
  js/animation/position.js
  js/core/utils/common.js
  js/core/utils/string.js
  js/ui/popover.js
  js/ui/resizable.js
  testing/tests/DevExpress.core/utils.common.tests.js
Labels: 18_2

#6448 Fix T701416: New DevExtreme ThemeBuilder ignores themeId
  themebuilder/modules/config-normalizer.js
Labels: 18_2

#6449 TagBox should wait for data loading to change selection (close T673636)
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1, cherry-pick

#6446 Update Bootstrap to 3.4.0
  package.json
Labels: 16_2

#6445 Update Bootstrap to 3.4.0
  package.json
Labels: 17_1

#6447 Update Bootstrap to 3.4.0
  package.json
Labels: 17_2

#6450 Update TS
  ts/dx.all.d.ts
Labels: 18_1

#6452 DataGrid: Fix null ref error on change dataSource during state loading (T699807)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6432 Fix showAppointmentPopup method with passed a recurrence appointment raises an error(T698732)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2

#6441 Improve dxDateBox performance when masks is used (T700514)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6460 Chart: Fix setting label rotation angle to default value (T701372)
  js/viz/series/points/label.js
  testing/tests/DevExpress.viz.core.series/label.tests.js
Labels: 18_2

#6459 Chart: Fix setting label rotation angle to default value (T701372)
  js/viz/series/points/label.js
  testing/tests/DevExpress.viz.core.series/label.tests.js
Labels: 18_1, cherry-pick

#6456 fix qunit tests in IE
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#6453 Fix context of the customizeDateNavigatorText calling in Scheduler
  js/ui/scheduler/ui.scheduler.navigator.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.tests.js
Labels: 18_2, cherry-pick

#6462 fix showAppointmentPopup test: "replace trigger('click')" on "trigger('dxclick')"
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_1

#6463 fix showAppointmentPopup test: "replace trigger('click')" on "trigger('dxclick')"
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2, cherry-pick

#6465 Form: Changes in tests to fit IE, phone/tablet specifics
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_2

#6468 DataGrid: Skip highlighting when clicking by expand button (T700770)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6469 DataGrid: disable inserted animation styles (T700772)
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
Labels: 18_2

#6418 dxDataGrid/dxTreeList: Fix tests with jQuery 3.3.1
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_2

#6477 Fix updating value of the HtmlEditor via API (T702047)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
Labels: 18_2

#6474 Fix the horizontal scroll position by RTL mode when width of Scrollable is changed (T688562)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_1

#6440 RadioGroup.onContentReady should rise after changing dataSource (close T697809)
  js/core/class.js
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/editor/ui.data_expression.js
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 18_2

#6481 Fix the horizontal scroll position by RTL mode when width of Scrollable is changed (T688562)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2, cherry-pick

#6478 Fix toolbar interaction issue for the HtmlEditor with readOnly state (T701863)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2

#6473 Use percents in Scheduler allDay appointments positioning (T701069, first step)
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/ui.scheduler.work_space.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#6483 dxDataGrid: Fix scroll position resetting when clicking on the custom command button (T700691)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#6485 Fix Scheduler IE && Edge tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
Labels: 18_2

#6484 Fix Drawer resizing when panel size is not obvious (T702576)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#6487 Fix the load indicator location inside the TreeView node (T700706)
  styles/widgets/base/treeView.less
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 18_2

#6479 DataGrid: Fix column header alignment after scroll and re render (T702241)
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6489 RadioGroup should have correct initialized selection
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 18_2

#6492 DataGrid: Fix scrolling test on mobile devices after #6479
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6482 DataGrid fix focusedRowIndex option changing after filtering, paging operations
  js/ui/data_grid/ui.data_grid.focus.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#6488 Fix List with a simple grouped structure
  js/ui/shared/grouped_data_converter_mixin.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_2

#6494 try to fix qunit tests on the farm
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 18_2

#6495 PivotGrid: Fix "Render to invisible container" test for jquery 3.3.1
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#6496 Fix two-way data binding for lookup dataSource in TreeList (T701148)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2

#6486 Update jQuery to 3.3.1
  js/ui/scroll_view/ui.scrollable.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2
