Repository DevExpress/DevExtreme, pull requests merged in 2018-05, with the labels that each got.

#3861 Don't adjust value to boundaries in dxNumberBox before change event (T629928)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3862 Don't adjust value to boundaries in dxNumberBox before change event (T629928)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#3886 Fix Scheduler timeline tests
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
Labels: 18_1

#3878 Fix long recurrence appointment displaying on Scheduler Agenda View (T630113)
  js/ui/scheduler/ui.scheduler.appointments.strategy.agenda.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
Labels: 17_2, cherry-pick

#3884 Add specific width for command column with icons in material theme
  styles/widgets/material/gridBase.material.less
Labels: 18_1

#3889 Get rid of knockout in vendor folder
  build/gulp/vendor.js
  vendor/knockout/knockout-3.4.0.debug.js
  vendor/knockout/knockout-3.4.0.js
Labels: 18_1

#3888 Change the 'text' option after 'format' option change in dxNumberBox (T630386)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#3887 Change the 'text' option after 'format' option change in dxNumberBox (T630386)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3891 Update version to 17.2.8
  js/core/version.js
  package.json
Labels: 17_2

#3806 Fix DataGrid text customization in FilterPanel for header filter values
  js/ui/filter_builder/between.js
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/format_utils.js
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  styles/widgets/common/filterBuilder.less
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1

#3894 Get rid of jszip in vendor folder
  build/gulp/vendor.js
  testing/runner/Views/Main/RunSuite.cshtml
  vendor/jszip/jszip.js
  vendor/jszip/jszip.min.js
Labels: 18_1

#3895 Add "Is" to names of operations in FilterBuilder
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sv.json
  js/localization/messages/zh.json
  js/ui/filter_builder/filter_builder.js
  js/ui/grid_core/ui.grid_core.filter_builder.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1

#3890 Fix color of 'more' icon in dxDataGrid (material theme)
  styles/widgets/material/gridBase.material.less
Labels: 18_1

#3900 Remove old rendering mode in Switch
  js/ui/switch.js
  testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Labels: 18_1

#3901 Fix ie tests after #3806
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1

#3893 fix the focusing the NumberBox when the caret is updated on the focus out event (T630894)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3898 Update TS declarations
  ts/dx.all.d.ts
Labels: 17_2

#3899 Update TS declarations
  ts/dx.all.d.ts
Labels: 18_1

#3892 Fix the form item rendering in IE browser (T604488)
  js/ui/box.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
Labels: 17_2

#3903 Fix the form item rendering in IE browser (T604488)
  js/ui/box.js
  testing/tests/DevExpress.ui.widgets/box.markup.tests.js
Labels: 18_1, cherry-pick

#3865 DataGrid: Fix content ready event problems if scrolling mode is virtual
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3902 Add new Czech localization messages
  js/localization/messages/cs.json
Labels: 18_1, localization

#3905 Fix animation issues in charts (T623895)
  js/viz/chart.js
  js/viz/series/area_series.js
  js/viz/series/base_series.js
  js/viz/series/line_series.js
  js/viz/series/points/base_point.js
  js/viz/series/range_series.js
  js/viz/series/stacked_series.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chartParts/commons.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/equalPieSize.tests.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core.series/areaSeries.tests.js
  testing/tests/DevExpress.viz.core.series/basePoint.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/bubbleSeries.tests.js
  testing/tests/DevExpress.viz.core.series/financialSeries.tests.js
  testing/tests/DevExpress.viz.core.series/lineSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeSeries.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
  testing/tests/DevExpress.viz.rangeSelector/seriesDataSource.tests.js
Labels: 18_1

#3904 Update TS declarations
  ts/dx.all.d.ts
Labels: 17_2

#3907 Fix IE and Edge tests
  testing/tests/DevExpress.ui.widgets/box.markup.tests.js
Labels: 18_1

#3908 DataGrid: Fix device tests after #3865
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3885 Update icon buttons styles for material theme
  styles/widgets/material/button.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/scheduler.material.less
  styles/widgets/material/toolbar.material.less
Labels: 18_1

#3912 Fix format declaration
  js/ui/widget/ui.widget.js
Labels: 18_1

#3909 Update TS declarations
  ts/dx.all.d.ts
Labels: 18_1

#3911 Fix multi series pie chart label layout (T623945)
  js/viz/chart_components/layout_manager.js
  js/viz/pie_chart.js
  js/viz/series/pie_series.js
  testing/tests/DevExpress.viz.charts/equalPieSize.tests.js
  testing/tests/DevExpress.viz.charts/layoutManager.tests.js
Labels: 17_2, cherry-pick

#3910 Fix multi series pie chart label layout (T623945)
  js/viz/chart_components/layout_manager.js
  js/viz/pie_chart.js
  js/viz/series/pie_series.js
  testing/tests/DevExpress.viz.charts/equalPieSize.tests.js
  testing/tests/DevExpress.viz.charts/layoutManager.tests.js
Labels: 18_1

#3914 Fix Scheduler working when groupOrientation is set without groups (T632819)
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 18_1

#3913 Rename base64_encode id
  js/data/utils.js
Labels: 18_1

#3897 Implement styles for material theme in dxLookup
  js/ui/lookup.js
  styles/widgets/material/lookup.material.less
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_1

#3917 Fix Scheduler IE tests without jquery
  js/ui/scheduler/ui.scheduler.work_space.js
Labels: 18_1

#3922 DataGrid: Fix virtual scrolling bugs with large data
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1

#3919 DataGrid: Fix rendering of editor in "anyof" operation
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#3918 DataGrid - Fix restoring of old filter values when the filterSyncEnabled is set to true
  js/ui/grid_core/ui.grid_core.filter_sync.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#3925 Fix optionChanging for Scheduler Resources demo, AngularJS approach
  js/ui/scheduler/ui.scheduler.js
Labels: 18_1

#3923 Fix Scheduler appointments resizing when groupOrientation is vertical (T627091)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_1

#3926 Fix Firefox & IE Scheduler tests
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_1

#3927 DataGrid: optionChanged should not be fired for the command column (T630149)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_1

#3915 dxDataGrid - Fix cell's height is increasing after column resizing in batch edit mode and applied validationRules (T629168)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2, bug

#3928 Get latest jquery scripts via npm
  build/gulp/vendor.js
  package.json
  playground/angular.html
  playground/jquery.html
  playground/knockout.html
  testing/runner/Views/Main/Index.cshtml
  testing/runner/Views/Main/RunAll.cshtml
  testing/runner/Views/Main/RunSuite.cshtml
Labels: 18_1

#3916 dxDataGrid - Fix cell's height is increasing after column resizing in batch edit mode and applied validationRules
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#3934 TreeList - Fix error "TypeError: this.callBase is not a function" when display a context menu
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_1

#3933 Fix exportFromMarkup method (T633471)
  js/viz/core/export.js
  js/viz/docs/docStatic.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_1

#3935 TreeList - Fix error "TypeError: this.callBase is not a function" when display a context menu
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 17_2, cherry-pick

#3929 Get rid of global.json file
  global.json
Labels: 18_1

#3938 Deprecate 'android5' theme
  js/core/devices.js
  js/docEnums.js
  js/ui/themes.js
  testing/tests/DevExpress.core/devices.tests.js
Labels: 18_1

#3936 DataGrid: Fix asynchronous rendering bugs during virtual scrolling
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3937 Fix multiple cell selection in vertical grouped week view in Scheduler (T628219)
  js/ui/scheduler/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1

#3939 DataGrid: Fix null reference exception after change rtlEnabled option if content is scrolled
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#3941 Fix incorrect bar width when axis shows workdays only (T627787)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_1

#3942 Fix incorrect bar width when axis shows workdays only (T627787)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 17_2

#3944 Fix tree map click event (T633107)
  js/viz/components/tracker.js
  testing/tests/DevExpress.viz.treeMap/tracker.tests.js
Labels: 18_1

#3945 Fix tree map click event (T633107)
  js/viz/components/tracker.js
  testing/tests/DevExpress.viz.treeMap/tracker.tests.js
Labels: 17_2, cherry-pick

#3946 Fix multiline text export in viz widgets (T633404)
  js/client_exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 18_1

#3947 Fix multiline text export in viz widgets (T633404)
  js/client_exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 17_2, cherry-pick

#3950 Fix IE tests in Scheduler after #3937
  js/ui/scheduler/ui.scheduler.work_space.js
Labels: 18_1

#3949 dxDataGrid: Fix click near the selectAll checkBox generates exception "Maximum call stack size exceeded" (T628315)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, bug

#3952 Remove strange focus state of the button according to Material 2.0
  styles/widgets/material/button.material.less
Labels: 18_1

#3953 Fix bar width wider than tick interval (T634245)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_1

#3954 Fix bar width wider than tick interval (T634245)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 17_2

#3959 Add material theme to ThemeBuilder
  build/style-compiler/ThemeBuilder/ThemeBuilderAssetGenerator.cs
  build/style-compiler/ThemeId.cs
  styles/widgets/material/calendar.material.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/dataGrid.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/pivotGrid.material.less
  styles/widgets/material/treeList.material.less
Labels: 18_1

#3955 Fix recurrence appointment deleting if appointment has startDateTimeZone field in Scheduler (T632271)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 17_2

#3956 Fix recurrence appointment deleting if appointment has startDateTimeZone field in Scheduler (T632271)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1, cherry-pick

#3957 Autocomplete should show a list of suggestions on paste a value (T626122)
  js/ui/autocomplete.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 18_1

#3958 Autocomplete should show a list of suggestions on paste a value (T626122)
  js/ui/autocomplete.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 17_2, cherry-pick

#3961 Use local Roboto fonts only as fallbacks
  js/viz/core/themes/material.js
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/typography.material.less
Labels: 18_1

#3932 Move caret to the start on focusin in dxNumberBox (T629961)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2, cherry-pick

#3931 Move caret to the start on focusin in dxNumberBox (T629961)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1

#3962 Get rid of cldr and globalize in vendor folder
  build/gulp/vendor.js
  package.json
  playground/angular.html
  playground/jquery.html
  playground/knockout.html
  testing/runner/Views/Main/Index.cshtml
  testing/runner/Views/Main/RunAll.cshtml
  testing/runner/Views/Main/RunSuite.cshtml
  vendor/cldr/cldr.js
  vendor/cldr/cldr.min.js
  vendor/cldr/cldr/event.js
  vendor/cldr/cldr/event.min.js
  vendor/cldr/cldr/supplemental.js
  vendor/cldr/cldr/supplemental.min.js
  vendor/cldr/cldr/unresolved.js
  vendor/cldr/cldr/unresolved.min.js
  vendor/globalize/globalize.js
  vendor/globalize/globalize.min.js
  vendor/globalize/globalize/currency.js
  vendor/globalize/globalize/currency.min.js
  vendor/globalize/globalize/date.js
  vendor/globalize/globalize/date.min.js
  vendor/globalize/globalize/message.js
  vendor/globalize/globalize/message.min.js
  vendor/globalize/globalize/number.js
  vendor/globalize/globalize/number.min.js
Labels: 18_1

#3964 Fix aggregation interval formatting in tooltip (T633412)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 18_1

#3966 dxPieChart/dxPolarChart: fix the series.aggregation.enabled option - should not be used (T634359)
  js/viz/components/chart_theme_manager.js
  testing/tests/DevExpress.viz.charts/themeManager.tests.js
Labels: 18_1

#3965 Fix tests for an old IE browser
  testing/tests/DevExpress.ui.widgets/box.tests.js
Labels: 17_2

#3970 Do not perform summary calculation if data source is empty (T624438)
  js/ui/pivot_grid/data_source.js
  js/ui/pivot_grid/ui.pivot_grid.data_controller.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 18_1

#3969 Do not perform summary calculation if data source is empty (T624438)
  js/ui/pivot_grid/data_source.js
  js/ui/pivot_grid/ui.pivot_grid.data_controller.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 17_2, cherry-pick

#3971 Stop considering the `context.uglify` flag for vendors
  build/gulp/vendor.js
Labels: 18_1

#3975 Fix Scheduler Agenda rendering when groupOrientation is set (T635115)
  js/ui/scheduler/ui.scheduler.agenda.js
  testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
Labels: 18_1

#3967 Parse primitive numbers as invalid date in the built-in localization (T633812)
  js/localization/date.js
  testing/tests/DevExpress.localization/localization.base.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1

#3974 DataGrid - Fix editors of "between" operation is hidden after selecting of first value (T619045)
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 18_1, cherry-pick

#3972 DataGrid - Fix editors of "between" operation is hidden after selecting of first value (T619045)
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 17_2

#3854 dxDataGrid: Fix the filter reset in some scenarios when resetting the grid's state (T619069)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 17_2

#3855 dxDataGrid: Fix the filter reset in some scenarios when resetting the grid's state (T619069)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 18_1, cherry-pick

#3973 Remove margins calculation from Switch
  js/ui/switch.js
  styles/widgets/android5/switch.android5.less
  styles/widgets/common/switch.less
  styles/widgets/generic/switch.generic.less
  styles/widgets/ios7/switch.ios7.less
  styles/widgets/material/switch.material.less
  styles/widgets/win10/switch.win10.less
  styles/widgets/win8/switch.win8.less
  testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Labels: 18_1

#3976 Deprecate SPA framework in doccomments
  js/framework/command.js
  js/framework/html/command_container.js
  js/framework/html/html_application.js
  js/framework/html/view_engine_components.js
  js/framework/router.js
  js/framework/state_manager.js
  js/framework/view_cache.js
Labels: 18_1

#3983 Fix Scheduler visibility in compact theme (T627090)
  styles/widgets/base/scheduler.less
  styles/widgets/generic/scheduler.generic.less
Labels: 18_1

#3978 Discover measure groups captions (T619410)
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_1

#3977 Discover measure groups captions (T619410)
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 17_2, cherry-pick

#3960 Fix the addedItems and removedItems arguments in the onSelectionChanged event (T632505)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 17_2

#3985 Fix recurrent appointments displaying if rule contains DAILY, BYDAY and COUNT options (T619072)
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Labels: 17_2

#3986 Fix recurrent appointments displaying if rule contains DAILY, BYDAY and COUNT options (T619072)
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Labels: 18_1, cherry-pick

#3979 dxDataGrid - fix copy data object at the editing phase
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2, bug

#3980 dxDataGrid - fix copy data object at the editing phase
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#3987 Fix the addedItems and removedItems arguments in the onSelectionChanged event (T632505)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1, cherry-pick

#3993 DataGrid - Fix the required mark in the Edit Form even if the required validation rule of a column is enabled (T631975)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1, cherry-pick

#3992 DataGrid - Fix the required mark in the Edit Form even if the required validation rule of a column is enabled (T631975)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 17_2

#3994 Update AngularJS scripts
  package.json
  vendor/angular-route/angular-route.js
  vendor/angular-route/angular-route.min.js
Labels: 17_2

#3991 Fix ThemeBulder less parser
  build/style-compiler/ThemeBuilder/ThemeBuilderLessParser.cs
Labels: 18_1

#4002 Add metadata for localization methods
  build/gulp/modules_metadata.json
Labels: 18_1

#4006 Fix tests: IE has no Object.assign function
  js/ui/grid_core/ui.grid_core.utils.js
Labels: 17_2

#4004 DataGrid: Fix exception when DataSource instance is assigned to lookup dataSource (T630253)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 17_2

#3990 Background colors and images should be printable (T624061)
  styles/mixins.less
  styles/widgets/common/widget.less
Labels: 17_1, cherry-pick

#3989 Background colors and images should be printable (T624061)
  styles/mixins.less
  styles/widgets/common/widget.less
Labels: 17_2, cherry-pick

#3988 Background colors and images should be printable (T624061)
  styles/mixins.less
  styles/widgets/common/widget.less
Labels: 18_1

#3997 dxTreeList: Fix an exception raising on adding new child node when keyExpr and parentIdExpr are specified as functions (T633865)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 18_1

#3996 dxTreeList: Fix an exception raising on adding new child node when keyExpr and parentIdExpr are specified as functions (T633865)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 17_2

#4009 DataGrid: Fix column resizing when columnResizingMode is widget and grid has no horizontal scroll (T632621)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 17_2

#4010 DataGrid: Fix column resizing when columnResizingMode is widget and grid has no horizontal scroll (T632621)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_1

#4015 DataGrid - Fix infinite scrolling for rows which have big height
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 17_2

#4017 Fix Scheduler timeline visibility in material theme (T627659)
  styles/widgets/material/scheduler.material.less
Labels: 18_1

#4011 Get all vendor scripts via npm
  .eslintignore
  .jshintignore
  package.json
  testing/helpers/sinon/sinon-timers-ie.js
  testing/helpers/sinon/sinon.js
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.jquery/template.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  vendor/jquery/jquery-1.12.3.js
  vendor/jquery/jquery-1.12.3.min.js
  vendor/jquery/jquery-2.2.3.js
  vendor/jquery/jquery-2.2.3.min.js
  vendor/template-engines/doT.min.js
  vendor/template-engines/handlebars.min.js
  vendor/template-engines/hogan-2.0.0.js
  vendor/template-engines/jquery.tmpl.min.js
  vendor/template-engines/jsrender.min.js
  vendor/template-engines/mustache.min.js
  vendor/template-engines/underscore-min.js
Labels: 18_1

#4018 DataGrid - Fix infinite scrolling for rows which have a big height
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1, cherry-pick

#4021 DataGrid - Fix tests in firefox after #4015
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 17_2

#4023 DataGrid - Fix different positions of the popup in the "any of" operations
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#4027 DataGrid: Fix the values parameter of each row in the customizeExportData callback (T633033)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 18_1, cherry-pick

#4020 DataGrid: Fix the values parameter of each row in the customizeExportData callback (T633033)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 17_2

#4025 DataGrid - Fix tests in firefox after #4018
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1, cherry-pick

#4031 Prevent testing framework with jquery 1
  testing/runner/Views/Main/RunSuite.cshtml
Labels: 18_1

#4028 Remove Scheduler group cell sizes recalculation, timeline view
  js/ui/scheduler/ui.scheduler.table_creator.js
  js/ui/scheduler/ui.scheduler.timeline.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_1

#4032 Fix alignment selected view tab in Scheduler (T620573)
  styles/widgets/base/scheduler.less
Labels: 17_2

#4033 Fix alignment selected view tab in Scheduler (T620573)
  styles/widgets/base/scheduler.less
Labels: 18_1

#4034 Prevent testing framework with jquery 1
  testing/runner/Views/Main/RunSuite.cshtml
Labels: 17_2

#4008 Pass correct item indices to the itemTemplate for non-first pages (T635299)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/collection/ui.collection_widget.edit.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 18_1

#4043 Fix view switcher label if view has a name in Scheduler (T636787)
  js/ui/scheduler/ui.scheduler.header.js
  testing/tests/DevExpress.ui.widgets.scheduler/header.tests.js
Labels: 17_2, cherry-pick

#4042 Fix view switcher label if view has a name in Scheduler (T636787)
  js/ui/scheduler/ui.scheduler.header.js
  testing/tests/DevExpress.ui.widgets.scheduler/header.tests.js
Labels: 18_1

#4041 Remove zero margin for form textarea in material theme
  styles/widgets/material/form.material.less
Labels: 18_1

#4047 Remove Scheduler group cell sizes recalculation, vertical grouping
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  styles/widgets/base/scheduler.less
  styles/widgets/generic/scheduler.generic.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 18_1

#4049 Fix appointment form alignment for material theme and generic rtl
  styles/widgets/base/scheduler.less
  styles/widgets/material/scheduler.material.less
Labels: 18_1

#4026 DataGrid: Fix selection if rowRenderingMode is virtual (T558632)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4048 Fix test
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4050 Fix IE & FF Scheduler tests
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_1

#4052 Fix Scheduler WG tests after #4033
  styles/widgets/base/scheduler.less
Labels: 18_1, cherry-pick

#4053 Fix Switch perfomance tests
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Labels: 18_1

#4036 dxNumberBox caret should be placed at the end on focus in the MS Edge
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#4038 dxNumberBox caret should be placed at the end on focus in the MS Edge
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 17_2

#4058 Reduce the size of dxSwitch ripple in material theme according to Mat…
  styles/widgets/material/scheduler.material.less
  styles/widgets/material/switch.material.less
Labels: 18_1

#4057 Fix test
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4045 Fix itemTitleTemplate option in dxAccordion for material theme
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
Labels: 18_1

#4060 Add possibility to customize padding in resources row through resourceCellTemplate in material theme
  styles/widgets/material/scheduler.material.less
Labels: 18_1

#4030 dxTreeList: Fix the autoExpandAll option that doesn't work if the refresh method is called when the control is displayed in the Popup container (T622381)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 18_1, cherry-pick

#4029 dxTreeList: Fix the autoExpandAll option that doesn't work if the refresh method is called when the control is displayed in the Popup container (T622381)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 17_2

#4056 Map should initialize Google Map instance with a LatLng object (T620980)
  js/ui/map/provider.dynamic.google.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 17_1, cherry-pick

#4055 Map should initialize Google Map instance with a LatLng object (T620980)
  js/ui/map/provider.dynamic.google.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 17_2, cherry-pick

#4054 Map should initialize Google Map instance with a LatLng object (T620980)
  js/ui/map/provider.dynamic.google.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 18_1

#4061 Add possibility force using a proxy to file saving
  js/client_exporter.js
  js/client_exporter/file_saver.js
  js/client_exporter/image_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_1

#4039 Fix loading items when the DropDownList is recreated (T634350)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 17_2

#4040 Fix loading items when the DropDownList is recreated (T634350)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 18_1, cherry-pick

#4073 Tabs should consider RTL on rendering a navigation buttons (T637160)
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 17_1, cherry-pick
