Repository DevExpress/DevExtreme, pull requests merged in 2018-08, with the labels that each got.

#4856 Fix lookup appearance in material theme (#4851)
  styles/widgets/material/lookup.material.less
  styles/widgets/material/size-schemes/shared/base.less
Labels: 18_2, cherry-pick

#4868 Publish showDropDownButton option for drop down editors (T657477)
  js/ui/autocomplete.js
  js/ui/color_box/color_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/lookup.js
  js/ui/select_box.js
  js/ui/tag_box.js
Labels: 18_1, cherry-pick

#4863 Don't create duplicate items in dxTreeView with search if createChildren is used (T655919)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 18_1, cherry-pick

#4874 Correct alignment in the .jshintrc file
  testing/.jshintrc
Labels: 18_1, cherry-pick

#4873 Correct alignment in the .jshintrc file
  testing/.jshintrc
Labels: 18_2

#4849 Change header of dx.vectormaputils file (T656485)
  build/gulp/vectormap.js
  build/gulp/vectormaputils-template.jst
  js/viz/vector_map.utils/_settings.json
  package.json
  testing/tests/DevExpress.viz.vectorMap.utils/tests.js
Labels: 18_2

#4876 Revert "Add angular playground project"
  .gitignore
  .vscode/tasks.json
  playground/angular-app/README.md
  playground/angular-app/angular.json
  playground/angular-app/package.json
  playground/angular-app/src/app/app.component.css
  playground/angular-app/src/app/app.component.html
  playground/angular-app/src/app/app.component.ts
  playground/angular-app/src/app/app.module.ts
  playground/angular-app/src/app/app.service.ts
  playground/angular-app/src/browserslist
  playground/angular-app/src/environments/environment.prod.ts
  playground/angular-app/src/environments/environment.ts
  playground/angular-app/src/favicon.ico
  playground/angular-app/src/index.html
  playground/angular-app/src/main.ts
  playground/angular-app/src/polyfills.ts
  playground/angular-app/src/styles.css
  playground/angular-app/src/tsconfig.app.json
  playground/angular-app/src/tsconfig.spec.json
  playground/angular-app/src/tslint.json
  playground/angular-app/tsconfig.json
  playground/angular-app/tslint.json
Labels: 18_2

#4875 Revert "Add angular playground project (#4859)"
  .gitignore
  .vscode/tasks.json
  playground/angular-app/README.md
  playground/angular-app/angular.json
  playground/angular-app/package.json
  playground/angular-app/src/app/app.component.css
  playground/angular-app/src/app/app.component.html
  playground/angular-app/src/app/app.component.ts
  playground/angular-app/src/app/app.module.ts
  playground/angular-app/src/app/app.service.ts
  playground/angular-app/src/browserslist
  playground/angular-app/src/environments/environment.prod.ts
  playground/angular-app/src/environments/environment.ts
  playground/angular-app/src/favicon.ico
  playground/angular-app/src/index.html
  playground/angular-app/src/main.ts
  playground/angular-app/src/polyfills.ts
  playground/angular-app/src/styles.css
  playground/angular-app/src/tsconfig.app.json
  playground/angular-app/src/tsconfig.spec.json
  playground/angular-app/src/tslint.json
  playground/angular-app/tsconfig.json
  playground/angular-app/tslint.json
Labels: 18_1

#4861 DataGrid - The first cell should not have focus after click if column 'allowEditing' is false and edit mode is 'cell' or 'batch' (T657612)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4850 Make it possible to set values via the calendar in the dxDateBox with masks
  js/ui/date_box/ui.date_box.mask.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2

#4877 Change header of dx.vectormaputils file (T656485)
  build/gulp/vectormap.js
  build/gulp/vectormaputils-template.jst
  js/viz/vector_map.utils/_settings.json
  package.json
  testing/tests/DevExpress.viz.vectorMap.utils/tests.js
Labels: 18_1, cherry-pick

#4878 DataGrid - The first cell should not have focus after click if column 'allowEditing' is false and edit mode is 'cell' or 'batch' (T657612)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#4881 Change order of 'gulp-tap' package in package.json
  package.json
Labels: 18_2

#4882 Change order of 'gulp-tap' package in package.json
  package.json
Labels: 18_1, cherry-pick

#4880 DataGrid: Fix clearFilter() for filterValue (T659816)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2

#4866 DataGrid: Fix TabPanel width in a master-detail layout (T650963)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#4865 DataGrid: Fix TabPanel width in a master-detail layout (T650963)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4889 DataGrid: Fix clearFilter() for filterValue (T659816) (#4880)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1, cherry-pick

#4892 DataGrid: Fix scrolling after master-detail size changing when switching between detail tabs (T654402)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 17_2, cherry-pick

#4891 DataGrid: Fix scrolling after master-detail size changing when switching between detail tabs (T654402)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2, cherry-pick

#4890 DataGrid: Fix scrolling after master-detail size changing when switching between detail tabs (T654402)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1

#4886 FilterBuilder: isBlank returns empty string and null for field with dataType=string (T659408, T660857)
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  js/ui/shared/filtering.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_2

#4896 FilterBuilder: isBlank returns empty string and null for field with dataType=string (T659408, T660857) (#4886)
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  js/ui/shared/filtering.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_1, cherry-pick

#4857 Fix Scheduler multiple reloading when several properties are changed (T656320)
  js/core/component.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1

#4883 Remove unsupported image formats from export menu (T658839)
  js/client_exporter.js
  js/client_exporter/image_creator.js
  js/viz/core/errors_warnings.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_1

#4884 Remove unsupported image formats from export menu (T658839)
  js/client_exporter.js
  js/client_exporter/image_creator.js
  js/viz/core/errors_warnings.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_2, cherry-pick

#4906 Fix chart to pdf exporting (T659660)
  js/client_exporter/pdf_creator.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
Labels: 18_1

#4907 Fix chart to pdf exporting (T659660)
  js/client_exporter/pdf_creator.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
Labels: 18_2, cherry-pick

#4897 Fix incorrect layers order after updating(T657634)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer_new.tests.js
Labels: 18_2

#4898 Fix incorrect layers order after updating(T657634)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer_new.tests.js
Labels: 18_1, cherry-pick

#4901 Use DataHelperMixin instead getDataSource method description in viz widgets
  js/viz/docs/docSankey.js
  js/viz/docs/doccharts.js
  js/viz/docs/docfunnel.js
  js/viz/docs/docrangeselector.js
  js/viz/docs/docsparklines.js
  js/viz/docs/doctreemap.js
Labels: 18_2

#4905 DataGrid: Fix header cell widths if banded columns are used and columnAutoWidth is enabled (T659247)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4904 DataGrid: Fix header cell widths if banded columns are used and columnAutoWidth is enabled (T659247)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4899 DataGrid: Fix incorrect rows rendering when using knockout components within cell templates and virtual scrolling is enabled (T655083)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4900 DataGrid: Fix incorrect rows rendering when using knockout components within cell templates and virtual scrolling is enabled (T655083)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4888 Fix dx-fieldset in material to allow use the different types of editors
  styles/widgets/material/fieldset.material.less
Labels: 18_2

#4887 Fix behaviour of filled dxTagBox
  styles/widgets/material/tagBox.material.less
Labels: 18_2

#4902 Fix Scheduler multiple reloading when several properties are changed (T656320)
  js/core/component.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2, cherry-pick

#4913 Fix excess gap after placing Scheduler into the SctollView (T656716)
  styles/widgets/base/scheduler.less
Labels: 18_1

#4912 Fix excess gap after placing Scheduler into the SctollView (T656716)
  styles/widgets/base/scheduler.less
Labels: 18_2

#4908 Animate axis' elements on chart updating
  js/viz/axes/base_axis.js
  js/viz/axes/constant_line.js
  js/viz/axes/polar_axes.js
  js/viz/axes/strip.js
  js/viz/axes/tick.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/scroll_bar.js
  js/viz/series/base_series.js
  js/viz/series/points/pie_point.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.charts/integrationWithAssertions.tests.js
  testing/tests/DevExpress.viz.core.series/piePoint.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 18_2

#4917 Fix error occuring in the ColorBox after changing value if editAlphaChannel=true (T661093)
  js/ui/color_box/color_box.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: 18_1

#4918 Fix error occuring in the ColorBox after changing value if editAlphaChannel=true (T661093)
  js/ui/color_box/color_box.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: 18_2

#4914 Don't close dxSelectBox after the search when focus state is disabled (T659551)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_2

#4895 Fix keyboard navigation issues in the dxDateBox with masks
  js/ui/date_box/ui.date_box.mask.js
  js/ui/text_box/ui.text_editor.base.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/dateboxMaskTests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_2

#4930 Fix updating hovered layer issue (T660942)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.collection.tests.js
Labels: 18_2

#4931 Fix updating hovered layer issue (T660942)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.collection.tests.js
Labels: 18_1, cherry-pick

#4928 New code for unsupported export formats warning
  js/viz/core/errors_warnings.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_1, cherry-pick

#4927 New code for unsupported export formats warning
  js/viz/core/errors_warnings.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 18_2

#4926 Publish dropDownButtonTemplate and showDropDownButton for dxAutoComplete
  js/ui/autocomplete.js
Labels: 18_2

#4925 Publish dropDownButtonTemplate and showDropDownButton for dxAutoComplete
  js/ui/autocomplete.js
Labels: 18_1, cherry-pick

#4939 DataGrid: Fix the filter row editor loses its focus when a filter is applied and the filter panel is visible (T657041)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#4940 DataGrid: Fix the filter row editor loses its focus when a filter is applied and the filter panel is visible (T657041)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#4944 Fix updating hovered series issue(T661080)
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/basePoint.tests.js
Labels: 18_1, cherry-pick

#4941 Fix updating hovered series issue(T661080)
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/basePoint.tests.js
Labels: 18_2

#4942 DataGrid - After apply the edit value and focus the editor do not display the revert button while the save process, if editing mode is cell (T657148)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#4933 DataGrid - Virtual row cells should not have focus
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4903 DataGrid - After apply the edit value with the ENTER key do not display the revert button when the save process, if editing mode is cell (T657148)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4946 Fix jumping value of slider (T657157)
  js/ui/slider/ui.slider.js
  js/ui/track_bar.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 18_2, cherry-pick

#4943 Fix jumping value of slider (T657157)
  js/ui/slider/ui.slider.js
  js/ui/track_bar.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 18_1

#4922 DataGrid: Fix content rendering when rowRenderingMode is set to virtual and scrolling mode is set to infinite (T641931)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#4923 DataGrid: Fix content rendering when rowRenderingMode is set to virtual and scrolling mode is set to infinite (T641931)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#4953 DataGrid - fixed keyboard navigation tests for IE11 by replacing lambda func with usual function
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4956 DataGrid - fixed keyboard navigation tests for IE11 by replacing lambda func with usual function
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#4948 Set width of the dxDropDownBox's popup if hidden container is used (T658300)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 18_1, cherry-pick

#4947 Set width of the dxDropDownBox's popup if hidden container is used (T658300)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 18_2

#4949 Fix adaptive menu position when Discard Changes button is clicked (T630875)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1

#4950 Fix adaptive menu position when Discard Changes button is clicked (T630875)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2, cherry-pick

#4936 dxDataGrid/dxTreeList - Fix initial width of a column with specified percentage width and fixed min-width when columnAutoWidth is true (T626875)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2, cherry-pick

#4935 dxDataGrid/dxTreeList - Fix initial width of a column with specified percentage width and fixed min-width when columnAutoWidth is true (T626875)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_1

#4934 dxDataGrid/dxTreeList - Fix initial width of a column with specified percentage width and fixed min-width when columnAutoWidth is true (T626875)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 17_2

#4959 Fix right drawer panel position
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.persistent.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.temporary.js
  styles/widgets/common/drawer.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#4951 Fix errors occuring after navigating between months in ACST timezone (T661408)
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_1

#4965 Fix regressions after #4908
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  js/viz/axes/xy_axes.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
Labels: 18_2

#4964 Add files validation to dxFileUploader(maxSize, minSize and allowExtensions)
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sv.json
  js/localization/messages/zh.json
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 18_2

#4968 Fix skipped ticks after change data
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_2

#4963 Fix errors occuring after navigating between months in ACST timezone (T661408)
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2, cherry-pick

#4961 DataGrid: Fix error row if the showColumnHeaders option is false (T653307)
  js/ui/grid_core/ui.grid_core.error_handling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/errorHandling.tests.js
Labels: 18_1

#4962 DataGrid: Fix error row if the showColumnHeaders option is false (T653307)
  js/ui/grid_core/ui.grid_core.error_handling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/errorHandling.tests.js
Labels: 18_2, cherry-pick

#4967 dxDataGrid - Fix calculateCellValue that does not raise when Tab is pressed (T661049)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#4966 dxDataGrid - Fix calculateCellValue that does not raise when Tab is pressed (T661049)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4752 Add compact mode for bottom toolbar popup buttons (T651511)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/menu/ui.menu.js
  js/ui/popup.js
  js/ui/tabs.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  styles/widgets/generic/toolbar.generic.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 17_2, cherry-pick

#4971 DataGrid: Fix unnecessary horizontal scrollbar if columnAutoWidth and columnHidingEnabled are set (T648744)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#4972 DataGrid: Fix unnecessary horizontal scrollbar if columnAutoWidth and columnHidingEnabled are set (T648744)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1, cherry-pick

#4979 Fix Scheduler tests in AUS Eastern Standard Time
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/utils.recurrence.js
Labels: 18_2, cherry-pick

#4980 Fix Scheduler tests in AUS Eastern Standard Time
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/utils.recurrence.js
Labels: 18_1

#4937 Make date parser case insensitive (T660596)
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_2

#4938 Make date parser case insensitive (T660596)
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_1, cherry-pick

#4751 Add compact mode for bottom toolbar popup buttons (T651511)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/menu/ui.menu.js
  js/ui/popup.js
  js/ui/tabs.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  styles/widgets/generic/toolbar.generic.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 18_1, cherry-pick

#4977 Update compact mode for bottom toolbar popup buttons (T651511)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/menu/ui.menu.js
  js/ui/popup.js
  js/ui/tabs.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  styles/widgets/generic/popup.generic.less
  styles/widgets/generic/toolbar.generic.less
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 18_2, cherry-pick

#4973 DataGrid - Data is lost when pressing Enter to accept the newly added row with data in IE11, EDGE (T652590, T635192)
  js/ui/filter_builder/filter_builder.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/keyboardNavigation.js
Labels: 18_1

#4929 DataGrid - The onRowUpdating event is raised twice for a Boolean column if the eventArgs.cancel is true (T656376)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_1

#4985 DataGrid - The onRowUpdating event is raised twice for a Boolean column if the eventArgs.cancel is true (T656376)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2, cherry-pick

#4988 Do not render grid line on the char's border line
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_2

#4978 FileUploader validation design
  js/ui/file_uploader.js
  styles/widgets/common/fileUploader.less
  styles/widgets/generic/fileUploader.generic.less
  styles/widgets/ios7/fileUploader.ios7.less
  styles/widgets/material/fileUploader.material.less
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 18_2

#4958 Don't trigger native focus on tabs when dxTabPanel is focused (T661209)
  js/ui/tab_panel.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 18_1, cherry-pick

#4957 Don't trigger native focus on tabs when dxTabPanel is focused (T661209)
  js/ui/tab_panel.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 18_2

#4986 Use UTC dates in the dateUtils test
  testing/tests/DevExpress.core/utils.date.tests.js
Labels: 18_2

#4987 Use UTC dates in the dateUtils test
  testing/tests/DevExpress.core/utils.date.tests.js
Labels: 18_1, cherry-pick

#4989 PivotGrid: Rework row fields panel layout rendering (T656699)
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#4974 Save valueChangeEvent instance on clearButton click in editors (T655478)
  js/ui/autocomplete.js
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  js/ui/lookup.js
  js/ui/range_slider.js
  js/ui/select_box.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_2

#4993 Fix polar axis grid updating
  js/viz/axes/polar_axes.js
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
Labels: 18_2

#4994 Fix value in the DrawerOpenedStateMode enum
  js/docEnums.js
Labels: 18_2

#4995 Gauge indicator
  js/viz/docs/docGaugeIndicators.js
  js/viz/docs/docgauges.js
Labels: 18_1

#4998 Gauge indicator 182
  js/viz/docs/docGaugeIndicators.js
  js/viz/docs/docgauges.js
Labels: 18_2, cherry-pick

#4976 Add color swatches support for overlay widgets
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#4975 Save valueChangeEvent instance on clearButton click in editors (T655478)
  js/ui/autocomplete.js
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  js/ui/lookup.js
  js/ui/range_slider.js
  js/ui/select_box.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_1, cherry-pick

#5003 PivotGrid: Use alternative rending of description cell in IE browsers
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#5005 PivotGrid: Use alternative rending of description cell in IE browsers (T656699)
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1, cherry-pick

#4999 Template Engine: Use only first child non-executable script tag as a widget template
  js/aspnet.js
  js/core/utils/dom.js
  js/ui/widget/jquery.template.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 18_2

#5006 Fix tests in AUS Eastern time zone
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
Labels: 18_2

#5009 Add dev and test commands to npm scripts
  package.json
Labels: 18_1

#5001 Fix some colors in Material Dark themes
  js/viz/core/themes/material.js
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Labels: 18_2

#5014 Add dev and test-env commands to npm scripts (#5009)
  package.json
Labels: 17_2, cherry-pick

#5010 Add dev and test-env commands to npm scripts (#5009)
  package.json
Labels: 18_2, cherry-pick

#5015 Fix some colors in Material Dark themes (#5001)
  js/viz/core/themes/material.js
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Labels: 18_1, cherry-pick

#5012 dxDataGrid: Re-fix calculateCellValue that does not raise when Tab is pressed (T661049)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2, cherry-pick

#5011 dxDataGrid: Re-fix calculateCellValue that does not raise when Tab is pressed (T661049)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_1

#4997 DataGrid - Column hiding should work if the last not fixed column was hidden with redundant space when columnAutoWidth is true and columns has minWidth
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#5002 DataGrid - Column hiding should work if the last not fixed column was hidden with redundant space when columnAutoWidth is true and columns has minWidth (T656342)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#5024 Remove legacy TS
  build/gulp/ts.js
  ts/legacy/core.d.ts
  ts/legacy/framework.d.ts
  ts/legacy/viz-charts.d.ts
  ts/legacy/viz-core.d.ts
  ts/legacy/viz-funnel.d.ts
  ts/legacy/viz-gauges.d.ts
  ts/legacy/viz-rangeselector.d.ts
  ts/legacy/viz-sparklines.d.ts
  ts/legacy/viz-treemap.d.ts
  ts/legacy/viz-vectormap.d.ts
  ts/legacy/widgets-base.d.ts
  ts/legacy/widgets-mobile.d.ts
  ts/legacy/widgets-web.d.ts
Labels: 18_2

#5026 Fix a formatted value when using big float part (T613615)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick

#5021 Fix Scheduler duplicated elements rendering (T661335)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_2, cherry-pick

#5020 Fix Scheduler duplicated elements rendering (T661335)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_1

#5017 Fix Drawer animation
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5022 DataGrid: Fix header filter of a lookup column with the built-in filter builder (T663205)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_1

#5023 DataGrid: Fix header filter of a lookup column with the built-in filter builder (T663205)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#5031 PivotGrid: Fix misaligned column and data areas in IE (T651805)
  js/ui/pivot_grid/ui.pivot_grid.data_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#5036 dxDataGrid - Fix the header filter popup which scrolls the page (T644753)
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 18_1

#5030 Add TS aliases and remove ts_metadata.json
  build/gulp/ts.js
  build/gulp/ts_metadata.json
  js/viz/docs/docSankey.js
  js/viz/docs/doccharts.js
  js/viz/docs/docfunnel.js
  js/viz/docs/docgauges.js
  js/viz/docs/docrangeselector.js
  js/viz/docs/docsparklines.js
  js/viz/docs/doctreemap.js
  js/viz/docs/docvectormap.js
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 18_2

#5028 DataGrid - Should apply column width if it was set between beginUpdate / endUpdate methods in onContentReady callback (T628065)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_1

#5032 DataGrid - Should apply column width if it was set between beginUpdate / endUpdate methods in onContentReady callback (T628065)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#5038 PivotGrid: Rework row fields panel layout rendering (T656699)
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  styles/widgets/common/pivotGrid.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 17_2, cherry-pick

#5033 PivotGrid: Fix misaligned column and data areas in IE (T651805)
  js/ui/pivot_grid/ui.pivot_grid.data_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_1, cherry-pick

#5037 dxDataGrid - Fix the header filter popup which scrolls the page (T644753)
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 18_2, cherry-pick

#5034 Remove deferreds from Drawer
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#5007 Fix Sheduler recurrence appointment startDate calculation (T660901)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_1

#5025 Fix a formatted value when using big float part (T613615)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#5040 Improve shrink Drawer mode with flexes
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  styles/widgets/common/drawer.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#4992 Don't block outside click for other overlays in the dxMenu (T655391)
  js/ui/context_menu/ui.context_menu.js
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_1, cherry-pick

#4991 Don't block outside click for other overlays in the dxMenu (T655391)
  js/ui/context_menu/ui.context_menu.js
  js/ui/overlay.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#5051 Issue Drawer strategies as ES6 classes
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
Labels: 18_2

#5045 Determine a click on the detached container as non-outside
  js/ui/overlay.js
Labels: 18_2

#5044 Determine a click on the detached container as non-outside
  js/ui/overlay.js
Labels: 18_1, cherry-pick

#5046 Clear text when clearButton pressed and value has non been changed (T664452)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_2

#5047 Clear text when clearButton pressed and value has non been changed (T664452)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 18_1, cherry-pick

#5050 Fix Gauge Indicators TS declarations
  js/core/devices.js
  js/data/odata/utils.js
  js/framework/html/presets.js
  js/ui/widget/ui.widget.js
  ts/dx.all.d.ts
Labels: 18_2

#5056 Hide placeholder after value change in the dxNumberBox with a mask (T664319)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2

#5058 Hide placeholder after value change in the dxNumberBox with a mask (T664319)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#5059 Fix focused state for monitors with different pixel dense.
  styles/widgets/material/textEditor.material.less
Labels: 18_2
