Repository DevExpress/DevExtreme, pull requests merged in 2019-01, with the labels that each got.

#6526 List can select item from the invisible page now (close T700447)
  js/core/utils/common.js
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/context_menu/ui.menu_base.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 18_2

#6533 Fix ldml test for 2019 new year
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_2

#6534 ThemeBuilder: change the order of assigning less compiler options (T703972)
  themebuilder/modules/less-template-loader.js
  themebuilder/package.json
Labels: 18_2

#6536 FilterBuilder: Clear keyup & dxpointerdown events after dispose
  js/ui/filter_builder/filter_builder.js
  testing/helpers/filterBuilderTestData.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/constants.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/helpers.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/keyboardNavigation.js
Labels: 18_2

#6535 DataGrid - navigateToRow() method should scroll to the navigating row if the focusedRowEnabled option is false (T702571)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6539 DataGrid - Fix detail row expanding after scrolling if scrolling.mode is 'infinite' and rowRenderingMode is 'virtual' (T698112)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6540 DataGrid: Fix wrong fixed column position if masterDetail is enabled (T703779)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2

#6543 FilterBuilder: Fix onValueChanged and add public onContentReady (T701542)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
Labels: 18_2

#6545 DataGrid should focus row by focusedRowIndex if virtual or infinite scrolling
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#6549 DataGrid: Fix content rendering after scrolling if the rowRenderingMode option is set to virtual and the rows have a big height (T699304)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6551 DataGrid: Fix group cell text if column dataType is number and calculateDisplayValue is defined (T700356)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6550 Fix incorrect Toolbar buttons' size when it's placed inside a dxPopup
  styles/widgets/material/popup.material.less
Labels: 18_2

#6554 Fix Drawer content paddings (T705764)
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#6538 TileView repaints items after collection changing (close T686243)
  js/ui/tile_view.js
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
Labels: 18_2

#6546 Fix Scheduler onAppointmentUpdating event cancelling
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#6558 Fix incorrect Toolbar buttons' size when it's placed inside a dxPopup
  styles/widgets/material/popup.material.less
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_1, cherry-pick

#6559 DataGrid - selection with shift should work after partial refresh
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 18_2

#6565 DataGrid: Fix additional requests for filtering of lookup column (T703158)
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2

#6560 Fix dxLookup drop down button position in the material theme (T703447)
  styles/widgets/material/lookup.material.less
Labels: 18_2

#6567 FilterBuilder: Remove useless doccoment
  js/ui/filter_builder/filter_builder.js
Labels: 18_2

#6566 Correct comments in test assertions
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 18_2

#6555 SelectBox should not be refocused while value changing (close T435827)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/widget/ui.widget.js
Labels: 18_2

#6569 Stop previous showing animation before the new animation start for Popup (T553821)
  js/ui/overlay/ui.overlay.js
Labels: 18_2

#6568 Fix dxLookup drop down button position in material theme (T703447)
  styles/widgets/material/lookup.material.less
Labels: 18_1, cherry-pick

#6573 Stop previous showing animation before the new animation start for Popup (T553821)
  js/ui/overlay/ui.overlay.js
Labels: 18_1, cherry-pick

#6522 Choose closest available date on init of the dxCalendar (T701103)
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 18_2

#6576 Choose closest available date on init of the dxCalendar (T701103)
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 18_1, cherry-pick

#6548 Unfocused DateBox should not change value by mouse wheel (close T703859)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/number_box/number_box.base.js
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 18_2

#6574 Filter Builder: Fix scrolling if context menu is too high (T704561)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 18_2

#6570 Recurrence exception date should equal date of appointment, which excluded from recurrence (T697037)
  js/ui/scheduler/ui.scheduler.appointment_tooltip.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#6581 Fix the height of cell in the datagrid adaptive row (T706910)
  styles/widgets/material/gridBase.material.less
Labels: 18_2

#6582 Fix the height of cell in the datagrid adaptive row (T706910) (#6581)
  styles/widgets/material/gridBase.material.less
Labels: 18_1, cherry-pick

#6575 DataGrid - Error row should contains a clickable link to the error description page
  js/core/utils/error.js
  js/ui/grid_core/ui.grid_core.error_handling.js
  styles/widgets/common/gridBase.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6579 Detach Scheduler pointerup events on workspace disposing
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2

#6589 Fix Scheduler workspace tests after #6579
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2

#6586 DataGrid should save pageSize to state if scrolling mode is virtual and pager.showPageSizeSelector is set (T706575)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 18_2

#6547 Extract DOM template from jquery.template
  js/ui/set_template_engine.js
  js/ui/widget/jquery.template.js
  js/ui/widget/template.js
  js/ui/widget/template_engine_registry.js
  js/ui/widget/template_engines.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.jquery/template.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2

#6590 Fix 'Recurrence exception date should equal date of appointment, which excluded from recurrence' test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#6588 TabPanel: Fix showing of 'No data to display' text after add first item(T704910)
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 18_2

#6592 DataGrid: Fix null ref error on grouping if datebox with datetime is rendered and columnRenreringMode is virtual (T706583)
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#6583 Export - Allow to change an Excel cell value to a value of another type (T704474)
  js/exporter/excel_creator.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 18_2

#6584 DateBox should execute custom validator while validation state reevaluating (close T705549)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#6598 Refactor Scheduler appointment popup rendering (T703290)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2

#6596 Dialogs should hide by Esc (close t686065)
  js/ui/dialog.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Labels: 18_2

#6457 Fix DropDownBox height auto resizing (T685238)
  js/core/utils/size.js
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#6595 Parse dates formatted with escaped pattern chars
  js/localization/ldml/date.parser.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.localization/ldml.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6599 Fix cutting of the dxCheckbox ripple circle inside dxForm when scrolling is enabled in the material theme
  styles/widgets/material/form.material.less
Labels: 18_2

#6613 Bump version 18.1.8
  js/core/version.js
  package.json
Labels: 18_1

#6608 Update TS
  ts/dx.all.d.ts
Labels: 18_2

#6617 DataGrid: Fix column chooser test on mobile devices after #6605
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Labels: 18_2

#6616 Update version to 18.2.5
  js/core/version.js
  package.json
Labels: 18_2

#6621 Fix Scheduler doc comments
  js/ui/scheduler/ui.scheduler.js
Labels: 18_2

#6623 Fix axes visualRange manipulations on zooming and data updates (T695042)
  js/viz/axes/axes_constants.js
  js/viz/axes/base_axis.js
  js/viz/axes/constant_line.js
  js/viz/axes/polar_axes.js
  js/viz/axes/strip.js
  js/viz/axes/tick.js
  js/viz/axes/tick_generator.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/crosshair.js
  js/viz/chart_components/multi_axes_synchronizer.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/core/utils.js
  js/viz/pie_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/series_data_source.js
  js/viz/range_selector/sliders_controller.js
  js/viz/translators/range.js
  js/viz/translators/translator2d.js
  testing/helpers/chartMocks.js
  testing/helpers/pointerMock.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
  testing/tests/DevExpress.viz.charts/crosshair.tests.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.charts/scrollBar.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part1.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part2.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
Labels: 18_2

#6603 Fix HtmlEditor toolbar dialog width in the IE11 (T702531)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2

#6530 Fix event bubbling for items located into a Toolbar adaptive menu (T701588)
  js/ui/drop_down_menu.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/toolbar/ui.toolbar.strategy.drop_down_menu.js
  styles/widgets/common/htmlEditor.less
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 18_2

#6601 Fix touch events detection for the Chrome browser has version more 70 (T706179)
  js/core/utils/support.js
  testing/tests/DevExpress.utils/utils.support.tests.js
Labels: 18_1

#6624 Fix touch events detection for the Chrome browser has version more 70 (T706179)
  js/core/utils/support.js
  testing/tests/DevExpress.utils/utils.support.tests.js
Labels: 18_2, cherry-pick

#6612 Fix border line alignment in cells(T705883)
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.base.tests.js
Labels: 18_2

#6628 Update TS
  ts/dx.all.d.ts
Labels: 18_2

#6631 Change buttonGroup hover and focused styles (fixes T698825)
  styles/widgets/generic/buttonGroup.generic.less
  styles/widgets/material/buttonGroup.material.less
Labels: 18_2

#6633 TagBox filtering should pass 'customQueryParams' to the data source (close T683047)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2

#6606 Make masks work properly with non-english number shaping (T702864)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2

#6629 Fix Scheduler header scrolling on timelines (T708008)
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2

#6634 Fix page scrolling issue when chart shows whole range(T702708)
  js/viz/axes/base_axis.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 18_2

#6638 Make masks work properly with non-english number shaping (T702864)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#6636 Don't show ellipsis when there is no text inside the dxButton (T636219)
  styles/widgets/common/button.less
Labels: 18_2

#6637 Don't show ellipsis when there is no text inside the dxButton (T636219)
  styles/widgets/common/button.less
Labels: 18_1, cherry-pick

#6639 DataGrid - focusedRow shoul be visible inside group if OData and grouping.autoExpandEnabled is false (T708711)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6641 Don't set readonly attribute to the native date pickers (T692239)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#6642 Don't set readonly attribute to the native date pickers (T692239)
  js/ui/date_box/ui.date_box.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#6643 Add the ability to search in a grouped array source in drop-down editors and list (T694197, T691665)
  js/data/store_helper.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/list/ui.list.base.js
  js/ui/shared/grouped_data_converter_mixin.js
  js/ui/slide_out.js
  testing/tests/DevExpress.data/storeArray.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
Labels: 18_2

#6644 Support DropDownBox height auto resizing (T685238)
  js/core/utils/size.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#6646 Support DropDownBox height auto resizing (T685238)
  js/core/utils/size.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_1, cherry-pick

#6632 Change the appearance of editors in read-only mode (Generic)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/textEditor.generic.less
Labels: 18_2

#6640 DataGrid: Fix grouping applying after dataSource and columns options are changed at runtime (T708525)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6610 DataGrid - Fix the "Cannot read property 'split' of undefined" error if one negative condition is specified inside another (T707084)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 18_2

#6647 DataGrid - tab and arrow keys should select a data cell in group column with showWhenGrouped option
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6650 Eslint - Add no-debugger rule
  .eslintrc
Labels: 18_2

#6649 DataGrid: Fix ArrayStore.push method for inserting when paging is disabled (T709020)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6604 Add ability to turn off lowercase in filtering for OData query
  js/core/config.js
  js/data/odata/context.js
  js/data/odata/mixins.js
  js/data/odata/query_adapter.js
  js/data/odata/store.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.data/odataQuery.tests.js
  testing/tests/DevExpress.data/odataStore.tests.js
Labels: 18_2

#6657 Fix range selector rendering with empty data source (T709754)
  js/viz/axes/xy_axes.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_2

#6651 Eslint - Add no-extra-semi rule
  .eslintrc
  build/gulp/npm.js
  js/exporter/excel/excel.fill_helper.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  js/ui/form/instance_storage.js
  js/ui/html_editor/quill_registrator.js
  js/ui/shared/grouped_data_converter_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
  themebuilder/modules/less-template-loader.js
  themebuilder/modules/metadata-loader.js
  themebuilder/modules/metadata-repository.js
Labels: 18_2

#6659 Use imports instead of require in DropDownList tests
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 18_1, cherry-pick

#6620 Recurrence exception date should equal date of appointment, which excluded from recurrence (T697037)
  js/ui/scheduler/ui.scheduler.appointment_tooltip.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_1, cherry-pick

#6662 Fix chart's scrollbar
  js/viz/chart_components/scroll_bar.js
  testing/tests/DevExpress.viz.charts/scrollBar.tests.js
Labels: 18_2

#6614 Update CONTRIBUTING.md (T700680)
  CONTRIBUTING.md
Labels: 18_2

#6663 Use imports instead of require in ODataQuery tests
  testing/tests/DevExpress.data/odataQuery.tests.js
Labels: 18_2

#6668 Fix customStoreOptions.load declaration
  js/data/custom_store.js
Labels: 18_1, cherry-pick

#6656 DataGrid: Fix column widths if all columns have width auto and columnAutoWidth is true (T709106)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6664 Eslint - Add no-fallthrough rule
  .eslintrc
  js/ui/drawer/ui.drawer.js
  js/ui/text_box/ui.text_editor.base.js
Labels: 18_2

#6660 Eslint - Add no-duplicate-case rule
  .eslintrc
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_2

#6667 Eslint - Add no-self-assign rule
  .eslintrc
  js/core/utils/ajax.js
  js/data/odata/utils.js
  testing/tests/DevExpress.viz.charts/chart.part4.tests.js
Labels: 18_2

#6670 Remove unnecessary code in zoomAndPan module
  js/viz/chart_components/zoom_and_pan.js
Labels: 18_2

#6675 Disable editor invalidation on stylingMode option change
  js/ui/text_box/ui.text_editor.base.js
Labels: 18_2

#6653 Fix PointerEvent detection for the latest Edge and IE11 browsers (T673292)
  js/core/utils/support.js
  js/events/pointer.js
  js/events/pointer/mspointer.js
  styles/widgets/common/list.less
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/pointer.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/msPointerTests.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  testing/tests/DevExpress.utils/utils.support.tests.js
Labels: 18_2

#6676 Viz - Get rid of useless escape
  js/viz/chart.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 18_2

#6594 Use invalid state for the DateBox if isValid is set to false in start configuration (T706292)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2

#6652 DataGrid: Fix select all operation if paging is remote and filtering is local (T708122)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 18_2

#6671 DataGrid: Fix uneccessery column widths updating if change selectedRowKeys option in onEditingStart handler via angular binding (T709078)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6683 dxDataGrid: Fix incorrect display of band columns after adding columns and group summaries dynamically (T709033)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6681 Use invalid state for the DateBox if isValid is set to false in start configuration (T706292)
  js/ui/date_box/ui.date_box.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick

#6682 Revert "Improve Scheduler appointments overlapping on timelineMonth view (T685522)"
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2

#6684 Revert "Improve Scheduler appointments overlapping on timelineMonth view (T685522)"
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_1

#6691 Eslint - Add no-undef-init rule
  .eslintrc
Labels: 18_2

#6497 Replace using of the legacy KeyboardEvent attributes with a modern API
  js/events/utils.js
  js/ui/drop_down_box.js
  js/ui/filter_builder/filter_builder.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/number_box/number_box.base.js
  js/ui/number_box/number_box.mask.js
  js/ui/overlay/ui.overlay.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/tag_box.js
  js/ui/text_box/text_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/tree_list/ui.tree_list.keyboard_navigation.js
  js/ui/widget/ui.keyboard_processor.js
  js/ui/widget/ui.widget.js
  layouts/Split/SplitLayout.js
  testing/helpers/calendarFixtures.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/keyboardNavigation.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
  testing/tests/DevExpress.ui/keyboardProcessor.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2

#6687 Fix PointerEvent detection for the latest Edge and IE11 browsers (T673292)
  js/core/utils/support.js
  js/events/pointer.js
  js/events/pointer/mspointer.js
  styles/widgets/common/list.less
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/drag.tests.js
  testing/tests/DevExpress.ui.events/pointer.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/msPointerTests.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  testing/tests/DevExpress.utils/utils.support.tests.js
Labels: 18_1, cherry-pick

#6678 PivotGrid - Get rid of useless escape in tests
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Labels: 18_2

#6696 Eslint - Add no-constant-condition rule
  .eslintrc
  js/exporter/excel_creator.js
Labels: 18_2

#6692 Eslint - Add no-unsafe-finally rule
  .eslintrc
  js/viz/vector_map.utils/parser-dbf.js
  js/viz/vector_map.utils/parser-shp.js
Labels: 18_2

#6680 ThemeBuilder - Get rid of useless escape
  testing/tests/DevExpress.ui/themes.tests.js
  themebuilder/modules/less-template-loader.js
  themebuilder/tests/less-template-loader-spec.js
Labels: 18_2

#6694 Eslint - Add no-inner-declarations rule
  .eslintrc
  js/exporter/image_creator.js
  js/ui/html_editor/formats/image.js
  js/viz/chart_components/zoom_and_pan.js
Labels: 18_2

#6679 Widgets - Get rid of useless escape
  js/ui/button.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.angular/widgets.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/markupTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/lazyRendering.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalDataAdapter.js
Labels: 18_2

#6688 Export - Get rid of useless escape
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 18_2

#6693 Eslint - Add no-empty rule
  .eslintrc
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.ui/widget.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 18_2

#6677 DataGrid - Get rid of useless escape in tests
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#6689 AspNet - Fix T531137 test fixture
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 18_2

#6706 DataGrid: Fix validation editing mode is batch and hidden column has empty validationRules (T709466)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#6701 TreeList: Fix expanding and selection performance if there are many expanded rows (T707482)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/tree_list/ui.tree_list.data_controller.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.selection.js
Labels: 18_2

#6702 Сompensate some popup content horizontal paddings after set box-sizing: content-box for dx-popup-content after fix T685238
  styles/widgets/common/popup.less
  styles/widgets/generic/popup.generic.less
  styles/widgets/material/popup.material.less
  styles/widgets/material/slider.material.less
Labels: 18_2

#6705 Fix rangeSelector scale range calculation with data aggregation
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 18_2

#6707 Сompensate some popup content horizontal paddings after set box-sizing: content-box for dx-popup-content after fix T685238
  styles/widgets/common/popup.less
  styles/widgets/generic/popup.generic.less
  styles/widgets/material/popup.material.less
  styles/widgets/material/slider.material.less
Labels: 18_1, cherry-pick

#6704 Core - Get rid of useless escape
  build/gulp/npm.js
  js/animation/fx.js
  js/core/component.js
  js/core/renderer_base.js
  js/core/utils/browser.js
  js/core/utils/date_serialization.js
  js/core/utils/html_parser.js
  js/core/utils/string.js
  js/data/utils.js
  js/framework/router.js
  js/localization/number.js
  testing/helpers/qunitExtensions.js
  testing/helpers/ssrEmulator.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.framework/routing.tests.js
  testing/tests/DevExpress.jquery/template.tests.js
Labels: 18_2

#6690 Eslint - Add no-useless-escape rule
  .eslintrc
  js/ui/validation_engine.js
Labels: 18_2

#6699 Remove double border in TimelineMonth view in grouped mode(T710040)
  styles/widgets/base/scheduler.less
Labels: 18_2

#6703 Save custom value in SelectBox after focus disappearance (T708199)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_2

#6708 Fix a subscription the onItemClick event when a title of item is changed in the dxAccordion
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: 18_2

#6711 Fix a subscription the onItemClick event when a title of item is changed in the dxAccordion (T708279)
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: 19_1, cherry-pick

#6718 Bump version to 16.2.14
  js/core/version.js
  package.json
Labels: 16_2

#6716 Bump version to 17.1.14
  js/core/version.js
  package.json
Labels: 17_1

#6720 Bump version to 17.2.12
  js/core/version.js
  package.json
Labels: 17_2

#6719 Bump version to 18.1.9
  js/core/version.js
  package.json
Labels: 18_1

#6710 DataGrid - columns accessibility id should not be set for column editors (T710132)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.knockout/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6724 DataGrid - columns accessibility id should not be set for column editors (T710132)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.knockout/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#6709 Eslint - Enable eslint:recommended preset
  .eslintrc
  js/core/utils/date_serialization.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/menu/ui.menu.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.work_space_week.js
  js/viz/core/renderers/renderer.js
  js/viz/tree_map/plain_data_source.js
Labels: 18_2

#6717 Bump version to 18.2.6
  js/core/version.js
  package.json
Labels: 18_2

#6721 DataGrid: Fix adaptive detail expanding after scrolling if scrolling mode is virtual (T708072)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6713 Chart: Add option to control 'sticky' hovering
  js/viz/chart.js
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  js/viz/core/themes/generic.light.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part6.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 19_1

#6712 Fix a limit getter for the seconds part of the DateBox with mask behavior (T710246)
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1

#6725 Fix reset points view issue after hoverMode changing(T708642)
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 18_2

#6729 Fix a limit getter for the seconds part of the DateBox with mask behavior (T710246)
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#6714 Prevent browser to clear the dxDateBox selection when up key pressed (T710547)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2

#6730 Add the invalid state and fix a validation error for the Slider (T705263)
  js/ui/slider/ui.slider.js
  styles/widgets/common/validation.less
  styles/widgets/generic/slider.generic.less
  styles/widgets/material/slider.material.less
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 18_2

#6736 Add the invalid state and fix a validation error for the Slider (T705263)
  js/ui/slider/ui.slider.js
  styles/widgets/common/validation.less
  styles/widgets/generic/slider.generic.less
  styles/widgets/material/slider.material.less
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 19_1, cherry-pick

#6737 RadioGroup - Get rid of redundant double negation
  js/ui/radio_group/radio_group.js
Labels: 18_1

#6732 Remove double border from month view
  styles/widgets/base/scheduler.less
Labels: 18_2

#6733 Remove double border from month view
  styles/widgets/base/scheduler.less
Labels: 19_1, cherry-pick

#6727 Allow to define layout for exported Viz widgets
  build/gulp/modules_metadata.json
  js/bundles/modules/parts/viz.js
  js/viz/core/export.js
  js/viz/docs/docStatic.js
  testing/tests/DevExpress.viz.core/export.tests.js
Labels: 19_1

#6738 Eslint - Enable eslint:recommended preset (#6709)
  .eslintrc
  js/core/utils/date_serialization.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/hierarchical_collection/ui.data_adapter.js
  js/ui/menu/ui.menu.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.work_space_week.js
  js/viz/core/renderers/renderer.js
  js/viz/tree_map/plain_data_source.js
Labels: 19_1, cherry-pick

#6728 Fix reset points view issue after hoverMode changing(T708642)
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 19_1, cherry-pick

#6734 DataGrid: Fix save button click if a column with the calculateCellValue field is used (T710380)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2
