Repository DevExpress/DevExtreme, pull requests merged in 2019-10, with the labels that each got.

#9956 Remove padding from custom headers of scheduler-header-panel
  styles/widgets/generic/scheduler.generic.less
Labels: 19_1

#9959 FileManager - Publish API for getting selection
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9949 FIX editors validation icon added to mobile theme
  js/ui/date_box/ui.date_box.base.js
  styles/widgets/ios7/textEditor.ios7.less
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#9964 DataGrid: Fix onFocusedRowChanged/ing events were not fired after setting focusedRowEnabled programmaticaly (T818734)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#9963 DataGrid: Fix onFocusedRowChanged/ing events were not fired after setting focusedRowEnabled programmaticaly (T818734)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2

#9966 FIX editors validation icon added to mobile theme
  js/ui/date_box/ui.date_box.base.js
  styles/widgets/ios7/textEditor.ios7.less
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2, cherry-pick

#9962 FileManager - Fix root directory key uniqueness
  js/ui/file_manager/file_provider/file_provider.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 19_2

#9961 DataGrid: Fix long validation message is cut off in the form editing mode (T819068)
  styles/widgets/generic/gridBase.generic.less
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1, cherry-pick

#9960 DataGrid: Fix long validation message is cut off in the form editing mode (T819068)
  styles/widgets/generic/gridBase.generic.less
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#9968 dxScheduler - appointment should correct position with multiple resources if rtlEnabled is true (T803275)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 19_2

#9970 dxScheduler - appointment should correct position with multiple resources if rtlEnabled is true (T803275)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 19_1, cherry-pick

#9967 TreeList - reshape data after update dataSource if reshapeOnPush set true (T815367)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2, cherry-pick

#9974 dxScheduler - appointment should correct position with multiple resources if rtlEnabled is true (T803275)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 18_2, cherry-pick

#9981 dxSchedeuler - fix qunit test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 19_2

#9980 dxSchedeuler - fix qunit test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 18_2

#9977 Speed Dial Action - Fix position after changing for one visible action
  js/ui/speed_dial_action/speed_dial_main_item.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Labels: 19_2

#9849 TreeList - reshape data after update dataSource if reshapeOnPush set true (T815367)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_1

#9985 Revert T743726 (#9930 + #9949)
  js/ui/date_box/ui.date_box.base.js
  js/ui/editor/editor.js
  styles/widgets/generic/textEditor.generic.less
  styles/widgets/ios7/textEditor.ios7.less
  styles/widgets/material/textEditor.material.less
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#9978 Validate - small refactoring
  js/integration/knockout/validation.js
  js/ui/validation_engine.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
Labels: 19_2

#9896 DataGrid - Fix test for #9868 (T816256)
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1

#9976 DataGrid: Fix enter key incorrectly worked for dateBox editor (T819067)
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9975 DataGrid: Fix enter key incorrectly worked for dateBox editor (T819067)
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9958 Default date for the DateBox with the "time" and "useMaskBehavior" should be new Date(null) (T758357)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_2

#9983 dxSchedeuler - fix qunit test
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
Labels: 19_1

#9986 DataGrid - Column resizing separator height should be equal to the header's one if not resizing (T816406)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Labels: 19_1

#9989 Default date for the DateBox with the "time" and "useMaskBehavior" should be new Date(null) (T758357)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1, cherry-pick

#9988 DataGrid - Column resizing separator height should be equal to the header's one if not resizing (T816406)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Labels: 19_2, cherry-pick

#9993 Fix flaky chart.integration tests
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2

#9994 Fix flaky chart.integration tests
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_1, cherry-pick

#9991 DateBox FIX paddings in material theme
  styles/widgets/material/common.material.less
  styles/widgets/material/textEditor.material.less
Labels: 19_2

#9971 DataGrid - Fix applying columns.filterValue option on first showing if state storing is enabled (T814522)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 19_2

#9972 DataGrid - Fix applying columns.filterValue option on first showing if state storing is enabled (T814522)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 19_1, cherry-pick

#9973 DataGrid - Fix applying columns.filterValue option on first showing if state storing is enabled (T814522)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 18_2, cherry-pick

#9997 File Manager - Fix non-scrollable detailsView bug
  js/ui/file_manager/ui.file_manager.notification.js
  styles/widgets/common/fileManager.less
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 19_2

#10002 DataGrid - The cellValue method does not work when it is invoked immediately after setting an edit form item's option (T817880)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#9984 DataGrid - The cellValue method does not work when it is invoked immediately after setting an edit form item's option (T817880)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10006 FilterBuilder - The lookup field selection does not work when displayExpr is specified as a custom function (T819529)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 19_2, cherry-pick

#9995 FilterBuilder - The lookup field selection does not work when displayExpr is specified as a custom function (T819529)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 19_1

#10001 FileManager - Fix file content access request params
  js/ui/file_manager/file_provider/webapi.js
Labels: 19_2

#10008 File Manager - Fix progress panel items slide down
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: 19_2

#10009 Fix dxValidator.onValidated doc comments
  js/ui/validator.js
  ts/dx.all.d.ts
Labels: 19_2

#10005 Change colors for focused scheduler date table cells in generic themes (T819016)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
Labels: 19_2

#10004 Change colors for focused scheduler date table cells in generic themes (T819016)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
Labels: 19_1

#10000 Rename title to label in snakey node object
  js/viz/docs/docObjectsDxSankey.js
  js/viz/docs/docSankey.js
  js/viz/sankey/node_item.js
  js/viz/sankey/sankey.js
  js/viz/sankey/tooltip.js
  testing/tests/DevExpress.viz.sankey/sankey.tracker.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10019 Fix HtmlEditor scrolling when it is part of Overlay or ScrollView content (T802879) (#10013)
  js/events/utils.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/text_area.js
  js/ui/text_box/utils.scroll.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/scrolling.tests.js
Labels: 19_1, cherry-pick

#10022 Fix toolbar button icons for showText: 'inMenu'
  styles/widgets/material/toolbar.material.less
Labels: 19_2

#10003 Select preloaded items in dxTagBox with pre-grouped data (part of T756894)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2

#10007 FileUploader - Add doc comments for custom upload operations
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10014 Tooltip FIX The widget can be shown when showEvent is triggered not on the target (T818491)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Labels: 19_2

#10015 Tooltip FIX The widget can be shown when showEvent is triggered not on the target (T818491)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Labels: 19_1, cherry-pick

#10032 Get rid of global Node
  js/core/dom_adapter.js
  js/ui/html_editor/ui.html_editor.js
Labels: 19_1

#10027 Select preloaded items in dxTagBox with pre-grouped data (part of T756894)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1, cherry-pick

#10033 Fix dxFileUploaderOptions.uploadFile declaration
  js/ui/file_uploader.js
  ts/dx.all.d.ts
Labels: 19_2

#10034 Get rid of global Node
  js/core/dom_adapter.js
  js/ui/html_editor/ui.html_editor.js
Labels: 19_2, cherry-pick

#10031 Make it possible to open and close dxTagBox using keyboard (T819219)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1, cherry-pick

#10030 Make it possible to open and close dxTagBox using keyboard (T819219)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2

#10029 Update gulp-typescript to recover TS gulp tasks
  package.json
Labels: 19_2

#10028 TagBox FIX Error occurs when tagBox input size updates (no Jquery) (T818690)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2

#10035 TagBox FIX Error occurs when tagBox input size updates (no Jquery) (T818690)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1, cherry-pick

#10020 Check render possibility when appointment started in non-visible time range (T819852)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_2

#10021 Check render possibility when appointment started in non-visible time range (T819852)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1

#10042 Alter styles for demo fixes v2
  styles/widgets/base/scheduler.less
  styles/widgets/generic/scheduler.generic.less
Labels: 19_2

#10037 Fix annotation for async template
  js/viz/core/plaque.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_2

#10018 DataGrid: Fix editor closing on click when fixedPosition is "right"
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#10017 DataGrid: Fix editor closing on click when fixedPosition is "right"
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1, cherry-pick

#10016 DataGrid: Fix editor closing on click when fixedPosition is "right"
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#9979 dxScheduler: Drag-and-Drop refactoring
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: 19_2

#10023 DataGrid - focused row changing should not affect on focused row in master detail (T818808)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1

#10024 DataGrid - focused row changing should not affect on focused row in master detail (T818808)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2, cherry-pick

#10036 Revert borders without opacity after #9859
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Labels: 19_2

#10039 Sortable: Fix addition space jumping during cross cross component drag and drop
  styles/widgets/common/sortable.less
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#10038 Sortable: Add styles for dragging element
  styles/widgets/base/dataGrid.less
  styles/widgets/base/sortable.less
  styles/widgets/base/treeList.less
  styles/widgets/common/sortable.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/gridBase.material.less
Labels: 19_2

#10047 Increase weight of styles of group-row-header in flex-container
  styles/widgets/base/scheduler.less
Labels: 19_2

#9999 DataGrid: Reverted #9088 and fix regression after #9039 (T818434, T817555, T819729)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#10044 DataGrid - CustomStore.load should contain the 'select' parameter after grouping operations (T817511)
  js/ui/data_grid/ui.data_grid.grouping.collapsed.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10049 Use searchEnabled and acceptCustomValue to check if TagBox have editable input (T807069)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2

#10051 DataGrid - CustomStore.load should contain the 'select' parameter after grouping operations (T817511)
  js/ui/data_grid/ui.data_grid.grouping.collapsed.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10060 Do not ignore axes' valueMargins (T819986)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_2, cherry-pick

#10059 Do not ignore axes' valueMargins (T819986)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#10063 Rename annotation customData to data
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10045 DataGrid - Should not generate exception if handle not valid cell by tab key press (T817348)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#10068 DataGrid - Should not generate exception if handle not valid cell by tab key press (T817348)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardKeys.tests.js
Labels: 19_2, cherry-pick

#10064 Fix appearance of the DropDownButton's nested List (T818183)
  js/ui/drop_down_button.js
  styles/widgets/generic/common.generic.less
  styles/widgets/generic/dropDownButton.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownButton.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_1

#10052 Enable rendering a zero-minute appointment as one minute appointment (T817857)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1

#10054 Enable rendering a zero-minute appointment as one minute appointment (T817857)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_2

#10057 DataGrid: Reverted #9088 and fix regression after #9039 (T818434, T817555, T819729)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#10058 AsyncValidation - Remove valid mark on reset
  js/integration/knockout/validation.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/validation_engine.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: 19_2

#10061 Sortable: Add content template to fix transcluded content in angularjs
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#10072 DataGrid: Fix error occured while searching in calculated column with lookup (T820316)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#10048 DataGrid: Fix error occured while searching in calculated column with lookup (T820316)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#10073 Fix test for Tokyo timezone
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Labels: 19_1

#10074 Fix test for Tokyo timezone
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Labels: 19_2

#10076 DataGrid: Removed font-weight attribute for sort index
  styles/widgets/common/gridBase.less
Labels: 19_2

#10069 DataGrid - Fix Internet Explorer test for "focused row changing should not affect on focused row in master detail" (T818808)
  js/ui/grid_core/ui.grid_core.focus.js
Labels: 19_1

#10070 DataGrid - Fix Internet Explorer test for "focused row changing should not affect on focused row in master detail" (T818808)
  js/ui/grid_core/ui.grid_core.focus.js
Labels: 19_2, cherry-pick

#10067 Fix toolbar button padding
  styles/widgets/material/toolbar.material.less
Labels: 19_2

#10075 Draggable: Rename template to dragTemplate and add doc comments for parameters
  js/ui/draggable.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/list/ui.list.edit.decorator.reorder.js
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10079 Sortable: update dragging shadow color
  styles/widgets/base/sortable.less
Labels: 19_2

#10041 ContextMenu - fix blinking test on farm, rewrite as functional
  .drone.yml
  .travis.yml
  shippable.yml
  testing/functional/model/contextMenu.ts
  testing/functional/tests/navigation/contextMenu.ts
  testing/functional/tests/scheduler/tooltipBehaviour/init/widget.setup.ts
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
Labels: 19_2

#10080 Draggable/Sortable: Fix DataGrid Local Reordering test cafe test and internal components rendering in angularjs approach
  js/ui/color_box/color_view.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/list/ui.list.edit.decorator.reorder.js
Labels: 19_2

#10062 Use searchEnabled and acceptCustomValue to check if TagBox have editable input (T807069)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1, cherry-pick

#10065 Use searchEnabled and acceptCustomValue to check if TagBox have editable input (T807069)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#10077 Fix appearance of the DropDownButton's nested List (T818183)
  js/ui/drop_down_button.js
  styles/widgets/generic/common.generic.less
  styles/widgets/generic/dropDownButton.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownButton.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2, cherry-pick

#10010 DataGrid - Master grid should not render it's overlay in detail grid (T818373)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#10082 List: Deprecate allowitemReordering option
  js/ui/list/ui.list.edit.decorator.reorder.js
  js/ui/list/ui.list.edit.js
  js/ui/list/ui.list.edit.provider.js
  testing/functional/tests/editors/pages/t727360.html
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  ts/dx.all.d.ts
Labels: 19_2

#10081 ContextMenu - fix blinking test on farm, rewrite as functional (#10041)
  .drone.yml
  .travis.yml
  shippable.yml
  testing/functional/model/contextMenu.ts
  testing/functional/tests/navigation/contextMenu.ts
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
Labels: 19_1, cherry-pick

#10083 L10n: Fix getMonthNames for standalone format (T820253)
  js/localization/globalize/date.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
Labels: 19_1

#10086 Sortable: Fix dragging element width if source item does not have width
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#10087 TreeList: Fix rowDragging in vue approach when DataGrid is not imported
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.treeList/rowDragging.tests.js
Labels: 19_2

#10089 L10n: Fix getMonthNames for standalone format (T820253) (#10083)
  js/localization/globalize/date.js
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
Labels: 19_2, cherry-pick

#10084 Form - Clear validation summary when resetValues is called (T816684)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_1, cherry-pick

#9998 ScrollView - scroll thumb is visible on 'mouseenter' when content size less container size (T817096)
  js/ui/scroll_view/ui.scrollable.simulated.js
  js/ui/scroll_view/ui.scrollbar.js
  testing/functional/model/scrollView.ts
  testing/functional/tests/navigation/contextMenu.ts
  testing/functional/tests/navigation/helpers/domUtils.ts
  testing/functional/tests/navigation/scrollView.ts
Labels: 19_2

#9982 ExcelJS export - handle alignment/wrapText
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2

#10093 ScrollView - scroll thumb is visible on 'mouseenter' when content size less container size (T817096) (#9998)
  js/ui/scroll_view/ui.scrollable.simulated.js
  js/ui/scroll_view/ui.scrollbar.js
  testing/functional/model/scrollView.ts
  testing/functional/tests/navigation/contextMenu.ts
  testing/functional/tests/navigation/helpers/domUtils.ts
  testing/functional/tests/navigation/scrollView.ts
Labels: 19_1, cherry-pick

#10088 DataGrid - Refix T818373 (Master grid should not render it's overlay in detail grid)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_1

#10043 DataGrid - Master grid should not render it's overlay in detail grid (T818373)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_2

#10090 Sortable: Allow dragging to root if allowDropInsideItem is true
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#10095 Apply annotation font settings to group element
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_2

#10050 dxDropDownButton FIX overlay stretches across the entire width of the screen (T820768)
  js/ui/drop_down_box.js
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2

#10097 TreeList: Publish 'matchOnly' value for 'filterMode' option
  js/docEnums.js
  ts/dx.all.d.ts
Labels: 19_2

#10098 DataGrid - Add 'autoNavigateToFocusedRow' option
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/realControllers.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9297 Implement resetOption method
  js/core/component.js
  js/core/option_manager.js
  js/core/utils/common.js
  js/core/utils/data.js
  js/core/utils/selection_filter.js
  js/integration/angular/component_registrator.js
  js/ui/collection/ui.collection_widget.edit.strategy.js
  js/ui/data_grid/ui.data_grid.focus.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/number_box/number_box.mask.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  js/ui/selection/selection.strategy.js
  js/ui/tag_box.js
  js/ui/tree_list/ui.tree_list.data_controller.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.selection.js
  js/viz/core/base_widget.js
  js/viz/tree_map/tree_map.base.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.angular/modelIntegration.tests.js
  testing/tests/DevExpress.core/component.tests.js
  testing/tests/DevExpress.core/domComponent.tests.js
  testing/tests/DevExpress.core/utils.common.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10085 FileManager - ArrayFileProvdier - Fix copy to root directory and issues with duplicate item names
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/file_provider.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 19_2

#10109 Fix uncaught exception when calling svgText.setMaxSize with detached element (T820606)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_1, cherry-pick

#10108 Fix uncaught exception when calling svgText.setMaxSize with detached element (T820606)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_2

#10106 Fix ie tests after #9297
  js/core/component.js
Labels: 19_2

#10110 ExcelJS export - fix tests after (#9982). Math.trunc is not supported in IE.
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
Labels: 19_2

#10116 Add CSS classes for new icons
  styles/widgets/base/icons.less
Labels: 19_2

#10102 DataGrid export - impossible change filename on exporting. Chrome browser blocks cross-origin <a download> attribute (T819469)
  js/exporter/file_saver.js
Labels: 19_2

#10099 dxScheduler - wrap data arguments to single object in appointmentTooltipTemplate and AppointmentTemplate(T812750, T817862)
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10122 L10n: Use the latest version for cldr-core and cldr-numbers-full
  package.json
Labels: 19_2

#10123 DataGrid - Fix test for "navigateToRow method should work if rowRenderingMode is 'virtual' and paging is disabled" (T820359)
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10105 DataGrid - Cell focus should restore after rowsView render in IE
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Labels: 19_2

#10119 Do not use .dx-button-sizing for toolbar buttons
  styles/widgets/material/toolbar.material.less
Labels: 19_2

#10120 Fix validation issues after dynamically update items in the Form (T819450, T819427)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: 19_2

#10111 DataGrid export - impossible change filename on exporting (T819469)
  js/exporter/file_saver.js
Labels: 18_2, cherry-pick

#10092 ExcelJS export - handle alignment/wrapText (#9982)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_1, cherry-pick

#10128 Bump DevExtreme version
  package.json
Labels: 19_1

#10131 DataGrid - Fix test for "navigateToRow method should work if rowRenderingMode is 'virtual' and paging is disabled" (T820359)
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10132 DataGrid - Fix test for "navigateToRow method should work if rowRenderingMode is 'virtual' and paging is disabled" (T820359)
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10130 DataGrid: Fix differences between dxSortableOptions and GridBaseOptions.rowDragging
  js/ui/grid_core/ui.grid_core.row_dragging.js
  ts/dx.all.d.ts
Labels: 19_2

#10133 dxScheduler - fix qunit test
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_2

#10118 Add support the dxHtmlEditor in the dxForm (T819020) ✌
  js/docEnums.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#10138 Add support the dxHtmlEditor in the dxForm (T819020)
  js/docEnums.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  ts/dx.all.d.ts
Labels: 19_2, cherry-pick

#10135 dxScheduler - make dropDownAppointmentTemplate deprecated
  js/ui/scheduler/ui.scheduler.js
  ts/dx.all.d.ts
Labels: 19_2

#10137 File Providers - Rename WebApiFileProvider to RemoteFileProvider
  build/gulp/modules_metadata.json
  js/bundles/modules/file_providers.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/remote.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10142 dxScheduler - Revert "Alter appointment sorting normalize condition according to smaller cell width (T816873)"
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1

#10144 DataGrid - Increase timeout in test (T820359)
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10145 dxScheduler - return back "Alter appointment sorting normalize condition according to smaller cell width (T816873)"
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_2

#10078 Provide a way to resolve template name conflicts between inner and outer widget (T817778)
  js/core/dom_component_with_template.js
  js/ui/text_box/texteditor_button_collection/custom.js
  testing/tests/DevExpress.core/domComponent.tests.js
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 19_2
