Repository DevExpress/DevExtreme, pull requests merged in 2019-08, with the labels that each got.

#8961 Fix swipe of MultiView for an one item of data source (T748697)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 19_1, cherry-pick

#9054 Fix test with getComputedStyle of a pseudo element in the MS Edge
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Labels: 19_1, cherry-pick

#9053 Fix test with getComputedStyle of a pseudo element in the MS Edge
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Labels: 19_2

#9047 Remove prevent safari scrolling data on overlay dispose
  js/ui/overlay/ui.overlay.js
Labels: 19_2

#9049 Calculate DropDownList maxHeight according to the popup's container (T800233)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_2

#9052 Fix min/max height calculation specified in pixels in TextArea (T802427)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_2

#9058 Fix min/max height calculation specified in pixels in TextArea (T802427)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_1, cherry-pick

#9059 Fix min/max height calculation specified in pixels in TextArea (T802427)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 18_2, cherry-pick

#9057 DataGrid: Fix QUnit tests
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#9062 Calculate DropDownList maxHeight according to the popup's container (T800233)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_1, cherry-pick

#9061 Prevent scrolling of fullScreen Popup to focused input in Safari (T714801)
  js/ui/overlay/ui.overlay.js
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_1, cherry-pick

#9065 DataGrid - Click the virtual row cell should not throw Exception (T800604)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2, cherry-pick

#9067 DataGrid: Fix filter parameter in loadOptions after search in header filter if remote filtering is enabled (T801018)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 19_1, cherry-pick

#9066 DataGrid: Fix filter parameter in loadOptions after search in header filter if remote filtering is enabled (T801018)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 19_2

#9056 Add tests for the default button/menu template styles (T747772, T738205, T742980, T636219) (#8878)
  testing/helpers/checkStyleHelper.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 19_1, cherry-pick

#9071 DataGrid - Groups are exported incorrectly if the unbound column is grouped, and only the selected rows are exported (T802280)
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 19_2

#9083 DataGrid - Groups are exported incorrectly if the unbound column is grouped, and only the selected rows are exported (T802280) (#9071)
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 18_2, cherry-pick

#9084 DataGrid - Groups are exported incorrectly if the unbound column is grouped, and only the selected rows are exported (T802280) (#9071)
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 19_1, cherry-pick

#9073 DataGrid: Fix selection checkboxes appeared on space key press if showCheckBoxesMode='none' and focusedRowEnabled=true (T802790)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9074 DataGrid: Fix selection checkboxes appeared on space key press if showCheckBoxesMode='none' and focusedRowEnabled=true (T802790)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#9077 Fix uncaught exception when axis type and visualRange are changed (T757368)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_2, cherry-pick

#9076 Fix uncaught exception when axis type and visualRange are changed (T757368)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#9090 Add hole template for pieChart
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 19_2

#9070 Fix unexpected HtmlEditor focusing events when pasting content (T802186)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 19_2

#9091 File Manager - Apply dialog's result by enter key
  js/ui/file_manager/ui.file_manager.dialog.js
  js/ui/file_manager/ui.file_manager.dialog.name_editor.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 19_2

#9096 Fix blinking test in MS Edge
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_2

#9097 Fix blinking test in MS Edge (https://trello.com/c/HyC0Shoz)
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_1, cherry-pick

#9100 DataGrid: Fix infinite calls of calculateFilterExpression if it returns function and scrolling mode is virtual (T802967)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9099 DataGrid: Fix infinite calls of calculateFilterExpression if it returns function and scrolling mode is virtual (T802967)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9079 File Manager - Ability to set current directory by path
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.utils.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9095 Fix unexpected HtmlEditor focusing events when pasting content (T802186)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 18_2, cherry-pick

#9094 Fix unexpected HtmlEditor focusing events when pasting content (T802186)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 19_1, cherry-pick

#9101 Fix blinking test in MS Edge (https://trello.com/c/HyC0Shoz)
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 18_2, cherry-pick

#9082 DataGrid: Fix fixed column width when it has width is 'auto' and columnAutoWidth is enabled (T802804)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 19_2, cherry-pick

#9081 DataGrid: Fix fixed column width when it has width is 'auto' and columnAutoWidth is enabled (T802804)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 19_1

#9102 Use native offsetHeight property instead jQuery
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
Labels: 19_2

#9104 dxTextBox with an invalid value and a mask should be invalid
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 18_2, cherry-pick

#9105 Fix animation test after #9086
  testing/tests/DevExpress.animation/fx.tests.js
Labels: 19_2

#9106 Add plumber for test launcher
  build/gulp/style-compiler.js
  build/gulp/transpile.js
Labels: 19_2

#9107 Fix work of 'values' method
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 19_1

#9108 Fix work of 'values' method
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 19_2, cherry-pick

#9111 Do not rerender html content on tooltip move (T804106)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 19_1

#9110 Do not redraw html content on tooltip move (T804106)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 19_2

#9089 DataGrid: Fix sortOrder option value was not reverted after it's change and canceling in onOptionChanged handler (T734761)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9088 DataGrid: Fix sortOrder option value was not reverted after it's change and canceling in onOptionChanged handler (T734761)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9122 Fix visualRange updating issue(T804296)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 18_2, cherry-pick

#9121 Fix visualRange updating issue(T804296)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2, cherry-pick

#9119 Fix visualRange updating issue(T804296)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_1

#9112 Localization: Fix getThousandsSeparator() method for Spanish culture in Chrome Version 76 (T803422)
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.custom.tests.js
Labels: 19_2

#9113 Localization: Fix getThousandsSeparator() method for Spanish culture in Chrome Version 76 (T803422)
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.custom.tests.js
Labels: 19_1, cherry-pick

#9114 Localization: Fix getThousandsSeparator() method for Spanish culture in Chrome Version 76 (T803422)
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.custom.tests.js
Labels: 18_2, cherry-pick

#9118 File Manager - Change selected items background in thumbnail view
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Labels: 19_2

#9123 Fix TabPanel content rendering inside master detail template (T803640)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 19_1

#9124 Fix TabPanel content rendering inside master detail template (T803640)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 19_2, cherry-pick

#9109 ContextMenu - The popup element location is incorrect if a new menu item is added in the onShowing event handler (T755681)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 19_2

#9125 Calculate dropDownList popup height with considering of container 's parent's limits
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_2

#9130 dxScheduler - fix don't appear tooltip after click on appointment in agenda view (T802158)
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_2

#9134 dxScheduler - fix don't appear tooltip after click on appointment in agenda view (T802158)
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_1, cherry-pick

#9002 Fix perfomance issue with lots of appointments (T751129)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: 18_2

#9136 Calculate dropDownList popup height with considering of container 's parent's limits
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_1, cherry-pick

#9129 ContextMenu - The popup element location is incorrect if a new menu item is added in the onShowing event handler (T755681) (#9109)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 18_2, cherry-pick

#9128 ContextMenu - The popup element location is incorrect if a new menu item is added in the onShowing event handler (T755681) (#9109)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 19_1, cherry-pick

#9117 DataGrid: Fix edit command cell had dx-hidden-cell class if it's unfixed (T803784)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9116 DataGrid: Fix edit command cell had dx-hidden-cell class if it's unfixed (T803784)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9142 Test/CI upates
  docker-ci.sh
  testing/runner/.gitignore
  testing/runner/Program.cs
  testing/runner/runner.csproj
Labels: 19_2

#9143 Pick #9142 to 19_1
  docker-ci.sh
  testing/runner/.gitignore
  testing/runner/Program.cs
  testing/runner/runner.csproj
Labels: 19_1

#9153 File Manager - Fix test that change current path in jQuery configuration
  js/ui/file_manager/ui.file_manager.utils.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 19_2

#9146 dxScheduler - Refactoring integration.appointmentTooltip tests
  js/ui/scheduler/compact_strategies/compactAppointmentsMobileStrategy.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_1

#9133 Make dxCalendar test stable
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 18_2, cherry-pick

#9132 Make dxCalendar test stable
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 19_1, cherry-pick

#9131 Make dxCalendar test stable
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 19_2

#9147 Fix perfomance issue with lots of appointments (T751129)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: 19_1, cherry-pick

#9148 Fix perfomance issue with lots of appointments (T751129)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: 19_2, cherry-pick

#9156 dxScheduler - Refactoring integration.appointmentTooltip tests
  js/ui/scheduler/compact_strategies/compactAppointmentsMobileStrategy.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_2, cherry-pick

#9103 Split scrollable.tests.js into several files (T739041) (#8859)
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.constants.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
Labels: 19_1, cherry-pick

#9024 Add doccomments for cellInfo in grid cell templates
  js/ui/grid_core/ui.grid_core.columns_controller.js
  ts/dx.all.d.ts
Labels: 19_2

#9144 DataGrid: Fix QUnit tests after T800761
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2, cherry-pick

#9141 Fix masked TextBox editing for modern android devices (T564703)
  js/core/devices.js
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.android.js
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  js/ui/text_box/ui.text_editor.mask.strategy.default.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.core/devices.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_2

#9149 DataGrid: Fix focusedRowChanging event was not raised when a cell in a boolean column is clicked (T804439)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9150 DataGrid: Fix focusedRowChanging event was not raised when a cell in a boolean column is clicked (T804439)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#9159 DataGrid: Fix T803784 test for Edge
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9160 DataGrid: Fix T803784 test for Edge
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#9161 DataGrid: Fix T803784 test for Edge
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9162 Fix TextEditor tests for IE after #9141
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  testing/helpers/keyboardMock.js
Labels: 19_2

#9152 Fix an exception on Chrome for iOS
  js/core/utils/browser.js
  testing/tests/DevExpress.core/utils.browser.tests.js
Labels: 19_1

#9120 DataGrid - should restore previous row index after the focus losing (T804103)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2

#9163 Fix an exception on Chrome for iOS (#9152)
  js/core/utils/browser.js
  testing/tests/DevExpress.core/utils.browser.tests.js
Labels: 19_2, cherry-pick

#9027 TextArea doesn't scroll its content if it is placed in the ScrollView (T721595)
  js/events/gesture/emitter.gesture.js
  js/events/utils.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_1

#9164 dxScheduler - Tooltip marker should be color up by resource color
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_1

#9166 DataGrid - should restore previos row index after the focus losing (T804103)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2, cherry-pick

#9165 DataGrid - should restore previos row index after the focus losing (T804103)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#9137 Scrollable/TreeView: Correct size when placed inside a Box/ResponsiveBox (T739041)
  styles/widgets/common/box.less
  testing/helpers/scrollableTestsHelper.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.size.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/treeview.size.tests.js
Labels: 19_2

#9087 dxScheduler - workspace should use native scrolling on Mac OS (T756746)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  styles/widgets/common/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/native.scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 19_1

#9048 ScrollView - does not update the scrollbar position on scrolling its content using Tab(T742436)
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
Labels: 19_2

#9171 TextArea doesn't scroll its content if it is placed in the ScrollView (T721595) (#9027)
  js/events/gesture/emitter.gesture.js
  js/events/utils.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 18_2, cherry-pick

#9172 TextArea doesn't scroll its content if it is placed in the ScrollView (T721595) (#9027)
  js/events/gesture/emitter.gesture.js
  js/events/utils.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_2, cherry-pick

#9182 Move Travis cache workaround to .travis.yml
  .travis.yml
  docker-ci.sh
Labels: 18_2

#9184 Move Travis cache workaround to .travis.yml
  .travis.yml
  docker-ci.sh
Labels: 19_1

#9183 Move Travis cache workaround to .travis.yml
  .travis.yml
  docker-ci.sh
Labels: 19_2

#9145 Fix HtmlEditor hyperlink formatting (T804376)
  js/ui/html_editor/formats/link.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_2

#9154 HtmlEditor should take into account the "text-decoration" styles of content when inserting (T803689)
  js/ui/html_editor/matchers/textDecoration.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 19_2

#9173 dxScheduler - Tooltip marker should be color up by resource colo
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_2, cherry-pick

#9140 Detach focus events before fieldTemplate rendering in SelectBox (T751314)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_2

#9186 Detach focus events before fieldTemplate rendering in SelectBox (T751314)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_1, cherry-pick

#9174 Fix masked TextBox editing for modern android devices (T564703) (#9141)
  js/core/devices.js
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.android.js
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  js/ui/text_box/ui.text_editor.mask.strategy.default.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.core/devices.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_1, cherry-pick

#9181 ScrollView - does not update the scrollbar position on scrolling its content using Tab(T742436) (#9048)
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2, cherry-pick

#9180 ScrollView - does not update the scrollbar position on scrolling its content using Tab(T742436) (#9048)
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
Labels: 19_1, cherry-pick

#9187 Detach focus events before fieldTemplate rendering in SelectBox (T751314)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 18_2, cherry-pick

#9191 Fix HtmlEditor hyperlink formatting (T804376) (#9145)
  js/ui/html_editor/formats/link.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2, cherry-pick

#9190 Fix HtmlEditor hyperlink formatting (T804376) (#9145)
  js/ui/html_editor/formats/link.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_1, cherry-pick

#9189 HtmlEditor should take into account the "text-decoration" styles of content when inserting (T803689) (#9154)
  js/ui/html_editor/matchers/textDecoration.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 18_2, cherry-pick

#9188 HtmlEditor should take into account the "text-decoration" styles of content when inserting (T803689) (#9154)
  js/ui/html_editor/matchers/textDecoration.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 19_1, cherry-pick

#9178 Fix selection behavior if null assigned to selectedRowKeys option
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9179 Fix selection behavior if null assigned to selectedRowKeys option
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9138 DataGrid: Fix row was not focused after click on readonly cell if editor is opened (T804082)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9139 DataGrid: Fix row was not focused after click on readonly cell if editor is opened (T804082)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#9196 Fix sparkline rendering with all zero values (T805150)
  js/viz/sparklines/base_sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: 18_2

#9197 Fix sparkline rendering with all zero values (T805150)
  js/viz/sparklines/base_sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: 19_1, cherry-pick

#9198 Fix sparkline rendering with all zero values (T805150)
  js/viz/sparklines/base_sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: 19_2, cherry-pick

#8888 Make overlay wrapper full screen and transparent when shading is disabled (T758340)
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  styles/widgets/common/menu.less
  styles/widgets/common/overlay.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_2

#9167 Update VizRange doc comments
  js/viz/docs/docBaseWidget.js
Labels: 19_1

#9169 Update VizRange doc comments
  js/viz/docs/docBaseWidget.js
Labels: 19_2, cherry-pick

#9170 Update VizRange doc comments
  js/viz/docs/docBaseWidget.js
Labels: 18_2, cherry-pick

#9201 Make overlay wrapper full screen and transparent when shading is disabled (T758340)
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  styles/widgets/common/menu.less
  styles/widgets/common/overlay.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_1, cherry-pick

#9151 File Manager - Add sorting items by filetype in details view
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 19_2

#9158 DataGrid - Cell click should handled by pointerup event (T801616)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9202 Rename option for rendering content inside pie chart
  js/viz/docs/doccharts.js
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9205 Fix tooltip position in container with offset(T803622)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 19_1

#9209 DataGrid - fix keyboard navigation tests (pointerevent)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9208 Correct vectorMap projection doc
  js/viz/docs/docObjectsDxVectorMap.js
  js/viz/docs/docStatic.js
  ts/dx.all.d.ts
Labels: 19_2

#9210 Gulp-Gulp
  gulpfile.js
Labels: 19_2

#9206 Fix tooltip position in container with offset(T803622)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 19_2, cherry-pick

#9207 File Manager - Corrected localization constants
  js/localization/messages/es.json
  js/localization/messages/ru.json
Labels: 19_2

#9195 DataGrid: Fix rows synchronization if error is occured after the details grid is updated (T804060)
  js/ui/grid_core/ui.grid_core.error_handling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9194 DataGrid: Fix rows synchronization if error is occured after the details grid is updated (T804060)
  js/ui/grid_core/ui.grid_core.error_handling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#9199 Scrollable/TreeView: Reorganize tests to check scenarios in mobile environment (for #9137)
  testing/helpers/scrollableTestsHelper.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.size.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/treeview.size.tests.js
Labels: 19_2

#9064 DataGrid - Should hide filter row menu after losing it's focus
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9203 Don't prevent mousewheel event on elements with contenteditable attribute (T802879)
  js/events/utils.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 19_2

#9063 DataGrid - Should hide filter row menu after losing it's focus
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9213 Don't prevent mousewheel event on elements with contenteditable attribute (T802879)
  js/events/utils.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 19_1, cherry-pick

#9175 DataGrid: Fix cursor didn't switch style when moved to column separator if grid has one row (T804582)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9177 DataGrid: Fix cursor didn't switch style when moved to column separator if grid has one row (T804582)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#9176 DataGrid: Fix cursor didn't switch style when moved to column separator if grid has one row (T804582)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9217 DataGrid: Fix whole row selection if the Tab key is pressed on new row with focusedRowEnabled (T803763)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2

#9218 DataGrid: Fix whole row selection if the Tab key is pressed on new row with focusedRowEnabled (T803763)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#9223 File Manager - Repair sorting test for ios9
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 19_2

#9214 Fix validation result from the validation method of Form and remove the E1036 error (T804042)
  js/ui/form/ui.form.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_1

#9225 dxChart: Add an option to specify the size of the chart pane
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/core/utils.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.core/utils.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9228 Fix validation result from the validation method of Form and remove the E1036 error (T804042)
  js/ui/form/ui.form.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 18_2, cherry-pick

#9229 Fix validation result from the validation method of Form and remove the E1036 error (T804042)
  js/ui/form/ui.form.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_2, cherry-pick
