Repository DevExpress/DevExtreme, pull requests merged in 2019-11, with the labels that each got.

#10414 Fix changing options of the tab in the tabbed item of the Form(T822602)
  js/ui/form/ui.form.item_option_action.js
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 19_1, cherry-pick

#10415 fix ie qunit tests
  js/ui/button.js
Labels: 19_2

#10416 dxSpeedDialAction - Add actionElement argument in doc comments for click, contentReady, initialized, disposing events
  js/ui/speed_dial_action/speed_dial_action.js
  ts/dx.all.d.ts
Labels: 19_2

#10410 Renovation: get rid of validation mixin
  js/ui/button.js
  js/ui/editor/editor.js
  js/ui/validation/validation_mixin.js
  js/ui/validation_engine.js
  js/ui/validation_summary.js
  js/ui/validator.js
Labels: 19_2

#10421 dxSpeedDialAction - Add actionElement argument in doc comments for click, contentReady, initialized, disposing events
  js/ui/speed_dial_action/speed_dial_action.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#10381 Drawer: Add tests, introduce templateSize for T813710
  js/ui/drawer/ui.drawer.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 19_2

#10423 Fixes overlay container
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_2

#10346 Menu - The 'aria-activedescendant' attribute doesn't refer to any element (T826163)
  .eslintrc
  js/ui/collection/ui.collection_widget.base.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/tab_panel.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/helpers/ariaAccessibilityTestHelper.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 19_2

#10424 Fixes overlay container
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1, cherry-pick

#10426 Menu - The 'aria-activedescendant' attribute doesn't refer to any element (T826163) (#10346)
  .eslintrc
  js/ui/collection/ui.collection_widget.base.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/tab_panel.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/helpers/ariaAccessibilityTestHelper.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 19_1, cherry-pick

#10418 DropDownButton: Popup content is truncated when its width is set by css (T827680)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2

#10429 dxScheduler - fix viewStartByOptions for month view(T828646)
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
Labels: 19_2

#10432 dxScheduler - fix viewStartByOptions for month view(T828646)
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
Labels: 19_1, cherry-pick

#10404 DataGrid should not overwrite fixed column data with non-fixed column data in Firefox (T823783)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10430 DataGrid should not overwrite fixed column data with non-fixed column data in Firefox (T823783)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10433 DateBox: fix validation icon formatting with readOnly option enabled (T829356)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2

#10435 dxScheduler - support e.cancel in onAppointmentFormOpening event
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#10419 T820149: Fix default filterValue applying if state is empty
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 19_2

#10420 T820149: Fix default filterValue applying if state is empty
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 19_1, cherry-pick

#10439 T829032 - FileManager: CustomFileProvider cannot be imported in React
  js/ui/file_manager/file_provider/custom.js
Labels: 19_2

#10437 Pivot Grid: Fix rows rendering if scrolling mode is virtual and cell styles are customized to small sizes (T818578)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 19_1, cherry-pick

#10436 Pivot Grid: Fix rows rendering if scrolling mode is virtual and cell styles are customized to small sizes (T818578)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 19_2

#10431 DropDownButton/ButtonGroup height option change proceseed (T826558)
  js/ui/button_group.js
  js/ui/drop_down_button.js
  styles/widgets/common/buttonGroup.less
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2

#10441 dxScheduler - fix qunit tests on mobile devices
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 19_2

#10444 DropDownButton/ButtonGroup height option change proceseed (T826558)
  js/ui/button_group.js
  js/ui/drop_down_box.js
  js/ui/drop_down_button.js
  styles/widgets/common/buttonGroup.less
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_1, cherry-pick

#10446 Aria accessibility - Fix IE browsers after commit (#10346) (T826163)
  testing/helpers/ariaAccessibilityTestHelper.js
Labels: 19_1, cherry-pick

#10445 Aria accessibility - Fix IE browsers after commit (#10346) (T826163)
  testing/helpers/ariaAccessibilityTestHelper.js
Labels: 19_2

#10384 Fix appointment positioning with recurrence interval more than 1 (T823073)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Labels: 19_2

#10443 HtmlEditor's "register" method should not repaint the widget when it is called at initializing(T829725)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
Labels: 19_2

#10450 Aria accessibility - Fix phone devices after commit (#10346) (T826163)
  testing/helpers/ariaAccessibilityTestHelper.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
Labels: 19_2

#10447 HtmlEditor's "register" method should not repaint the widget when it is called at initializing(T829725) (#10443)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
Labels: 19_1, cherry-pick

#10448 HtmlEditor's "registerModules" method should not repaint the widget when it is called at initializing(T829725) (#10443)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
Labels: 18_2, cherry-pick

#10428 DataGrid: Fix focus resetting when click to another row after editing if showEditorAlways to true (T816039)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#10427 DataGrid: Fix focus resetting when click to another row after editing if showEditorAlways to true (T816039)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#10455 DataGrid: Fix context menu if rowTemplate is defined (T827323)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Labels: 19_1, cherry-pick

#10454 DataGrid: Fix context menu if rowTemplate is defined (T827323)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Labels: 19_2

#10460 Aria accessibility - Fix tests on phone devices after commit (#10346) (T826163)
  testing/helpers/ariaAccessibilityTestHelper.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
Labels: 19_1, cherry-pick

#10459 Aria accessibility - Fix tests on phone devices after commit (#10346)(T826163)
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 19_2

#10422 DataGrid - Rows render incorrectly while grid has fixed columns and property scrolling UseNative is true (T817249)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
Labels: 19_2

#10449 ExcelJS - check worksheet.autofilter when exporting several DataGrids to the same worksheet
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2

#10462 DataGrid - Rows render incorrectly while grid has fixed columns and property scrolling UseNative is true (T817249) (#10422)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
Labels: 19_1, cherry-pick

#10463 ExcelJS - check autofilter when export several DataGrids to the same worksheet (#10449)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_1, cherry-pick

#10465 Move init validation to constructor of editor
  js/ui/editor/editor.js
Labels: 19_2

#10417 File manager localization
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 19_2

#10467 Fix appointment positioning with recurrence interval more than 1 (T823073)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Labels: 19_1, cherry-pick

#10468 Fix appointment positioning with recurrence interval more than 1 (T823073)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Labels: 18_2, cherry-pick

#10453 Default item template of the CollectionWidget should correctly handle zero or empty string values (T827713)
  js/ui/collection/ui.collection_widget.base.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 19_2

#10451 Read only editors should prevent navigation by pressing the "backspace" key (T828734)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 19_2

#10475 Read only editors should prevent navigation by pressing the "backspace" key(T828734) (#10451)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 19_1, cherry-pick

#10474 Default item template of the CollectionWidget should correctly handle zero or empty string values (T827713) (#10453)
  js/ui/collection/ui.collection_widget.base.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 18_2, cherry-pick

#10440 Force height recalculation for popover in FF (T655040)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_2

#10457 DataGrid - Fix changing the columnWidth option at runtime (T829029)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10456 DataGrid - Fix changing the columnWidth option at runtime (T829029)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10473 Default item template of the CollectionWidget should correctly handle zero or empty string values (T827713) (#10453)
  js/ui/collection/ui.collection_widget.base.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 19_1, cherry-pick

#10477 Fix aggregated bar chart rendering when it has one point (T829705)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1, cherry-pick

#10476 Fix aggregated bar chart rendering when it has one point (T829705)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_2

#10461 DropDownButton: splitButton height should be equal to main button height
  js/ui/button_group.js
  styles/widgets/common/buttonGroup.less
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2

#10480 DropDownButton: splitButton height should be equal to main button height
  js/ui/button_group.js
  styles/widgets/common/buttonGroup.less
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_1, cherry-pick

#10478 DataGrid - Rows render incorrectly while grid has fixed columns and property scrolling UseNative is true (T817249)
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 19_2

#10472 Drawer: Add tests, introduce templateSize for T813710 (#10381)
  js/ui/drawer/ui.drawer.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 19_1, cherry-pick

#10479 Fix promise resolving with async jsZip in excel creator (T828913)
  js/exporter/excel_creator.js
  testing/helpers/pivotGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
Labels: 19_2

#10485 Increment version to 18.2.11
  package.json
Labels: 18_2

#10458 New row items should be added to the correct position at paging if virtual scrolling (T812340)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#10483 Fix sankey export issue with gradient fill(T826306)
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 19_1

#10484 Fix sankey export issue with gradient fill(T826306)
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 19_2, cherry-pick

#10488 DataGrid - Rows render incorrectly while grid has fixed columns and property scrolling UseNative is true (T817249)
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 19_2

#10489 New row items should be added to the correct position at paging if virtual scrolling (T812340)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2, cherry-pick

#10491 dxViz: Clear tooltip content (with integration scope) after hide (T829815)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 19_2

#10411 DataGrid - Command buttons navigation and focusing row by selecting rowsView
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/shared/accessibility.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_1

#10481 DataGrid - Rows render incorrectly while grid has fixed columns and property scrolling UseNative is true (T817249) (#10478)
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 19_1, cherry-pick

#10492 Fix labels align when item option is changed in a group or a tab (T819419)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: 19_2

#10490 NumberBox: The control returns an incorrect value when a certain format is specified (T829935)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_2

#10498 NumberBox: The control returns an incorrect value when a certain format is specified (T829935)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1, cherry-pick

#10499 NumberBox: The control returns an incorrect value when a certain format is specified (T829935)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 20_1, cherry-pick

#10487 DataGrid - Fixed table rows should be synchronized after change column width if wordWrapEnabled and height are set (T830739)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_1

#10495 Move lookup element to the body element in height recalculation test
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_2

#10504 DataGrid - Fixed rows should be synchronized after resize column if wordWrapEnabled and grid height are set (T830739)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_2, cherry-pick

#10493 DataGrid - Command buttons navigation and focusing row by selecting rowsView
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/shared/accessibility.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2, cherry-pick

#10505 Do not use lookup height recalculation test for mobile devices
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_2

#10500 DropDownList: Fix exception when the 'container' option is an empty jQuery set (T831152)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_2

#10506 DropDownList: Fix exception when the 'container' option is an empty jQuery set (T831152)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_1, cherry-pick

#10507 DropDownList: Fix exception when the 'container' option is an empty jQuery set (T831152)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 20_1, cherry-pick

#10496 T823593 - FileUploader - The file list is not visible when the component is in Controlled Mode and allowedFileExtensions is used in React
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_2

#10501 T823593 - FileUploader - The file list is not visible when the component is in Controlled Mode and allowedFileExtensions is used in React
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_1, cherry-pick

#10508 T823593 - FileUploader - The file list is not visible when the component is in Controlled Mode and allowedFileExtensions is used in React
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_1, cherry-pick

#10494 Added missing French translations to fr.js
  js/localization/messages/en.json
  js/localization/messages/fr.json
Labels: 19_2, area/localization

#10512 Added tests on the null reference exception for item option actions and support the name of the tabbed item (T826223)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_1

#10513 Added tests on the null reference exception for item option actions (T826223)
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_2, cherry-pick

#10510 Fix popup title width in Material theme (T831201)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 19_2

#10503 Move lookup element to the body element in height recalculation test
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 20_1, cherry-pick

#10502 Force height recalculation for popover in FF (T655040)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_1, cherry-pick

#10516 Diagram - add context bar for touch UI
  images/widgets/common/diagram/bring-to-front.svg
  images/widgets/common/diagram/image-delete.svg
  images/widgets/common/diagram/image-edit.svg
  images/widgets/common/diagram/image-insert.svg
  images/widgets/common/diagram/select-all.svg
  images/widgets/common/diagram/send-to-back.svg
  js/docEnums.js
  js/ui/diagram/ui.diagram.commands.js
  js/ui/diagram/ui.diagram.contextmenu.js
  js/ui/diagram/ui.diagram.js
  package.json
  styles/widgets/base/diagram.less
  styles/widgets/common/diagram.less
  ts/dx.all.d.ts
Labels: cherry-pick

#10497 Remove unnecessary doc comments for the reset() method (T823490)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/range_slider.js
  ts/dx.all.d.ts
Labels: 19_2

#10519 Diagram - fix focusing after the image dialog showing
  js/ui/diagram/ui.diagram.contextmenu.js
  js/ui/diagram/ui.diagram.dialogs.js
  js/ui/diagram/ui.diagram.js
Labels: cherry-pick

#10523 Try to stabilize Intl parsing tests
  testing/tests/DevExpress.localization/localization.intl.tests.js
Labels: 19_2

#10526 Diagram - fix context touch bar for dark and material themes
  images/widgets/common/diagram/bring-to-front.svg
  images/widgets/common/diagram/image-delete.svg
  images/widgets/common/diagram/image-edit.svg
  images/widgets/common/diagram/image-insert.svg
  images/widgets/common/diagram/lock.svg
  images/widgets/common/diagram/select-all.svg
  images/widgets/common/diagram/send-to-back.svg
  images/widgets/common/diagram/unlock.svg
  js/ui/diagram/ui.diagram.contextmenu.js
  styles/widgets/common/diagram.less
Labels: cherry-pick

#10515 NumberBox should set the "aria-valuetext" attribute if value is unknown (T826160)
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 19_2

#10509 Add a link to TS declaration file to package.json
  package.json
Labels: 19_2

#10517 Update datagrid selection bg color for the carmine theme
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
Labels: 19_2

#10531 Update datagrid selection bg color for the carmine theme
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
Labels: 20_1, cherry-pick

#10530 Diagram - fix context menu tests on touch devices
  package.json
  testing/tests/DevExpress.ui.widgets/diagram.tests.js
Labels: cherry-pick

#10521 DataGrid - Fixed rows should be synchronized after resize column if wordWrapEnabled and grid height are set (T830739)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_1

#10528 NumberBox should set the "aria-valuetext" attribute if value is unknown (T826160) (#10515)
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 19_1, cherry-pick

#10527 NumberBox should set the "aria-valuetext" attribute if value is unknown (T826160) (#10515)
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 20_1, cherry-pick

#10537 DataGrid - Fixed rows should be synchronized after resize column if wordWrapEnabled and grid height are set (T830739)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_2, cherry-pick

#10452 DataGrid: Fix row dragging when there is master-detail (T828366)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 19_2

#10541 DataGrid - Fixed rows should be synchronized after resize column if wordWrapEnabled and grid height are set (T830739)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_1, cherry-pick

#10540 DataGrid: Fix row dragging when there is master-detail (T828366)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 20_1, cherry-pick

#10466 DataGrid - the form editor should not lose focus when changing its value in setCellValue (T822877)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#10532 Remove unnecessary doc comments for the reset() method (T823490)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/range_slider.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#10533 Remove unnecessary doc comments for the reset() method (T823490)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/range_slider.js
  ts/dx.all.d.ts
Labels: 20_1, cherry-pick

#10542 DataGrid - the form editor should not lose focus when changing its value in setCellValue (T822877)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#10538 Use only the internal validation conditions to prevent new invalid value applying(T828302)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2

#10514 Renovation: Options manager refactoring
  js/core/component.js
  js/core/option_manager.js
Labels: 20_1

#10535 Add logging of internal-tools package version
  docker-ci.sh
Labels: 19_2

#10545 Add logging for internal-tools package version
  docker-ci.sh
Labels: 19_1, cherry-pick

#10546 Add logging for internal-tools package version
  docker-ci.sh
Labels: 20_1, cherry-pick

#10552 DataGrid - the form editor should not lose focus when changing its value in setCellValue (T822877)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#10549 Use only the internal validation conditions to prevent new invalid value applying (T828302)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1, cherry-pick

#10548 Use only the internal validation conditions to prevent new invalid value applying (T828302)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#10556 Alternate ASP.NET template syntax
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 20_1

#10557 Alternate ASP.NET template syntax
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 19_2

#10558 Alternate ASP.NET template syntax
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 19_1

#10547 Renovation: Events attach refactoring
  js/ui/widget/ui.widget.js
Labels: 20_1

#10564 Add types to package.json (#10509)
  package.json
Labels: 20_1, cherry-pick

#10550 Fix popup title width in Material theme (T831201) (#10510)
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 20_1, cherry-pick

#10571 Move init validation to constructor of editor
  js/ui/editor/editor.js
Labels: 19_1

#10559 FilterBuilder: Fix type in doc comments for fields.lookup.dataSource option (T829837)
  js/ui/filter_builder/filter_builder.js
  ts/dx.all.d.ts
Labels: 20_1

#10560 FilterBuilder: Fix type in doc comments for fields.lookup.dataSource option (T829837)
  js/ui/filter_builder/filter_builder.js
  ts/dx.all.d.ts
Labels: 19_2, cherry-pick

#10563 Add missing French translations (#10494)
  js/localization/messages/en.json
  js/localization/messages/fr.json
Labels: 20_1, cherry-pick

#10574 Diagram - fix context touch bar icons color
  js/ui/diagram/ui.diagram.commands.js
  styles/widgets/base/diagram.less
  styles/widgets/generic/diagram.generic.less
  styles/widgets/ios7/diagram.ios7.less
  styles/widgets/material/diagram.material.less
Labels: cherry-pick

#10561 DataGrid - How to customize export in an Angular application(T829866)
  js/exporter.js
  js/exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 19_2

#10583 DataGrid - How to customize export in an Angular application(T829866)
  js/exporter.js
  js/exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 20_1, cherry-pick

#10582 DataGrid - How to customize export in an Angular application(T829866)
  js/exporter.js
  js/exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 19_1, cherry-pick

#10565 Fix validator._validationInfo.result.complete updating
  js/integration/knockout/validation.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
Labels: 19_2

#10584 FileManager - T832579 - ASP.NET Core - It is not possible to specify the Name property for context menu sub-items
  js/ui/file_manager/ui.file_manager.js
  ts/dx.all.d.ts
Labels: 19_2

#10585 FileManager - T832579 - ASP.NET Core - It is not possible to specify the Name property for context menu sub-items
  js/ui/file_manager/ui.file_manager.js
  ts/dx.all.d.ts
Labels: 20_1, cherry-pick

#10587 Fix type of rangeSelector.scale.label.customizeText callback args(T832367)
  js/viz/docs/docrangeselector.js
  ts/dx.all.d.ts
Labels: 19_1

#10589 Fix type of rangeSelector.scale.label.customizeText callback args(T832367)
  js/viz/docs/docrangeselector.js
  ts/dx.all.d.ts
Labels: 19_2

#10590 Fix type of rangeSelector.scale.label.customizeText callback args(T832367)
  js/viz/docs/docrangeselector.js
  ts/dx.all.d.ts
Labels: 20_1, cherry-pick

#10588 Fix validator._validationInfo.result.complete updating
  js/integration/knockout/validation.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
Labels: 20_1, cherry-pick

#10575 DataGrid: Fix refresh after reordering if focusedRowEnabled is true (T829761)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 20_1

#10576 DataGrid: Fix refresh after reordering if focusedRowEnabled is true (T829761)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 19_2, cherry-pick

#10567 Scheduler - Fix drag and drop recurrent appointment (T825252)
  js/ui/draggable.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: 19_2

#10568 DataGrid: Fix markup of the draggable row when defaultOptions is specified (T831020)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2

#10555 Sortable: Fix drag template in React (T826089)
  js/ui/draggable.js
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/sortable.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2, cherry-pick

#10554 Sortable: Fix drag template in React (T826089)
  js/ui/draggable.js
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/sortable.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_1

#10604 DataGrid: Fix styles for cell template in focused row in material theme if showRowLines is false (T824100)
  styles/widgets/material/gridBase.material.less
Labels: 19_2, cherry-pick

#10603 DataGrid: Fix styles for cell template in focused row in material theme if showRowLines is false (T824100)
  styles/widgets/material/gridBase.material.less
Labels: 20_1

#10602 Scheduler - Fix drag and drop recurrent appointment (T825252)
  js/ui/draggable.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: 19_2, cherry-pick
