Repository DevExpress/DevExtreme, pull requests merged in 2019-02, with the labels that each got.

#6673 Add possibility to customize inner overlay options for editors
  js/ui/dialog.js
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Labels: 18_2

#6771 Slider focus handler should keep widget's context and consider the state of 'focusStateEnabled' option
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 18_2, cherry-pick

#6770 Slider focus handler should keep widget's context and consider the state of 'focusStateEnabled' option
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 19_1

#6773 DataGrid: Fix duplicate rows after adding sixth row via store.push method if repaintChangesOnly is true and rowRenderingMode is virtual (T711198)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6774 DataGrid: Fix duplicate rows after adding sixth row via store.push method if repaintChangesOnly is true and rowRenderingMode is virtual (T711198)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#6769 Update TS
  ts/dx.all.d.ts
Labels: 18_1

#6775 NumberBox should parse float numbers with the ',' separator (close T711069)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#6777 Get rid of double running the gulp tasks
  build/gulp/npm.js
  build/gulp/ts.js
Labels: 18_2, cherry-pick

#6782 Removing timeouts on tooltip showing from viz widgets
  js/viz/gauges/tracker.js
  js/viz/sparklines/base_sparkline.js
  js/viz/vector_map/tracker.js
  testing/tests/DevExpress.viz.gauges/tracker.tests.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Labels: 19_1

#6779 Fix discrete datetime empty chart rendering (T712167)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 18_2

#6780 Fix discrete datetime empty chart rendering (T712167)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 19_1, cherry-pick

#6776 Viz: Add customizeItems callback in legend
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/components/legend.js
  js/viz/docs/docObjectsBaseChart.js
  js/viz/docs/docObjectsDxFunnel.js
  js/viz/docs/docObjectsDxPieChart.js
  js/viz/docs/docObjectsDxVectorMap.js
  js/viz/docs/doccharts.js
  js/viz/docs/docfunnel.js
  js/viz/docs/docvectormap.js
  js/viz/funnel/funnel.js
  js/viz/pie_chart.js
  js/viz/vector_map/legend.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/legend.tests.js
  testing/tests/DevExpress.viz.funnel/funnel.legend.tests.js
  testing/tests/DevExpress.viz.vectorMap/legend.tests.js
Labels: 19_1

#6786 DataGrid should not set tabIndex for the master-detail cells (T712004)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#6787 DataGrid should not set tabIndex for the master-detail cells (T712004)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#6790 dxViz: Force the tickInterval option in gauges, add division factor option
  js/viz/core/themes/generic.light.js
  js/viz/docs/docgauges.js
  js/viz/gauges/common.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
Labels: 19_1

#6744 Overlay's percentage size should work when the 'shading' is disabled (T709788)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#6792 Overlay's percentage size should work when the 'shading' is disabled (T709788)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_1, cherry-pick

#6795 Fix exportWidgets function overloading doc
  js/viz/docs/docStatic.js
  testing/tests/DevExpress.viz.core/export.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#6798 Update TS
  ts/dx.all.d.ts
Labels: 19_1

#6760 CI - Add TS task
  .drone.yml
  .travis.yml
  build/gulp/npm.js
  docker-ci.sh
  shippable.yml
Labels: 19_1

#6800 DataGrid: Fix deleting after selection if editing mode is batch (T712073)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#6801 DataGrid: Fix deleting after selection if editing mode is batch (T712073)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#6805 Add inheritdoc in PieChart.legend.customizeItems descritption
  js/viz/docs/doccharts.js
Labels: 19_1

#6804 dxGauges: Fix inheritance of the scaleDivisionFactor option in the documentation
  js/viz/docs/docgauges.js
Labels: 19_1

#6799 DataGrid should show error message on adding row if dataSource is not specified (T711831)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/widget/ui.errors.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 19_1, cherry-pick

#6783 Add possibility to prevent an outside click without preventing the event (T710079)
  js/ui/context_menu/ui.context_menu.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1

#6794 Export - keep objectURL active for 30s
  js/exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 18_2

#6813 fix performance tests
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 19_1

#6811 Add possibility to prevent an outside click without preventing the event (T710079)
  js/ui/context_menu/ui.context_menu.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2, cherry-pick

#6814 Fix default minimal value of the DateView (T713300)
  js/ui/date_box/ui.date_box.strategy.date_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#6815 Fix default minimal value of the DateView (T713300)
  js/ui/date_box/ui.date_box.strategy.date_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#6806 Fix the display of the HtmlEditor selected format (T691925)
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/widget_collector.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 19_1

#6808 Fix the display of the HtmlEditor selected format (T691925)
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/widget_collector.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 18_2, cherry-pick

#6809 DataGrid: Fix pager navigation buttons in light mode (T712224)
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 18_2

#6810 DataGrid: Fix pager navigation buttons in light mode (T712224)
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 19_1, cherry-pick

#6819 Export - keep objectURL active for 30s
  js/client_exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 18_1, cherry-pick

#6818 Export - keep objectURL active for 30s
  js/exporter/file_saver.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
Labels: 19_1, cherry-pick

#6758 DataGrid: Allow to customize Excel group/total summary cells
  js/ui/data_grid/ui.data_grid.export.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
Labels: 18_2

#6802 Increase month when day out of limit in the dxDateBox with masks (T710987)
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1

#6820 DataGrid - should fire onFocusedRowChanging, onFocusedRowChanged events if focusedRowKey is not undefined
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#6807 Numberbox should ignore backspace/delete key down when the caret in the start/end of input (T713045)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#6424 Move z-index logic from the dxOverlay to the utility file (T689794)
  js/ui/overlay/ui.overlay.js
  js/ui/overlay/utils.js
  js/ui/overlay/z_index.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#6762 DataGrid excel navigation feature
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 19_1

#6821 Increase month when day out of limit in the dxDateBox with masks (T710987)
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#6822 DataGrid - should fire onFocusedRowChanging, onFocusedRowChanged events if focusedRowKey is not undefined
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#6826 Numberbox should ignore backspace/delete key down when the caret in the start/end of input (T713045)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick

#6825 Move z-index logic from the dxOverlay to the utility file (T689794)
  js/ui/overlay/ui.overlay.js
  js/ui/overlay/utils.js
  js/ui/overlay/z_index.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1, cherry-pick

#6828 Numberbox should ignore backspace/delete key down when the caret in the start/end of input (T713045)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_1, cherry-pick

#6834 DataGrid - excel navigation feature should test only on desktop devices
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#6827 DataGrid: Allow to customize Excel group/total summary cells
  js/ui/data_grid/ui.data_grid.export.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
Labels: 19_1, cherry-pick

#6833 DateBox shouldn't prevent the "keydown" event at "Esc" key was pressed (T713759)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#6832 DateBox shouldn't prevent the "keydown" event at "Esc" key was pressed (T713759)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1

#6829 Allow caret move to next part after short year input (T711074)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1

#6837 Allow caret move to next part after short year input (T711074)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#6839 Update TS declarations
  ts/dx.all.d.ts
Labels: 19_1

#6840 Fix incorrect assertions with jquery approach
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1, cherry-pick

#6838 Fix incorrect assertions with jquery approach
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#6830 Add simple annotations to chart
  js/viz/chart.js
  js/viz/chart_components/base_chart.js
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#6843 DataGrid excel navigation - rename option from 'excelNavigation' to 'editing.excelLikeNavigation'
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#6844 Update TS declarations
  ts/dx.all.d.ts
Labels: 19_1

#6841 Rollback T709788 fix
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_1

#6842 Revert T709788 fix
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#6845 dxTreeList - Implement new filter modes
  js/docEnums.js
  js/ui/tree_list/ui.tree_list.data_controller.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 19_1

#6847 Fix point click on rotated multipanes chart (T712569)
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
Labels: 18_2

#6848 Fix point click on rotated multipanes chart (T712569)
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
Labels: 19_1, cherry-pick

#6812 Fix lookup popup position if usePopover is true in Material (T710832) (#6803)
  js/ui/lookup.js
  styles/widgets/material/popover.material.less
Labels: 19_1, cherry-pick

#6846 Drop down should not open overlay if the focus has been lost (T712942)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 19_1

#6852 Drop down should not open overlay if the focus has been lost (T712942)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 18_2, cherry-pick

#6859 Update TS declarations
  ts/dx.all.d.ts
Labels: 19_1

#6857 Fix error if repaintChangesOnly is enabled and data contains circular structure (T710896)
  js/core/utils/array_compare.js
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 18_2

#6858 Fix error if repaintChangesOnly is enabled and data contains circular structure (T710896)
  js/core/utils/array_compare.js
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 19_1, cherry-pick

#6853 VectorMap. Fix drawing zero values issue for pie markers(T712894)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.strategies.tests.js
Labels: 18_2

#6856 VectorMap. Fix drawing zero values issue for pie markers(T712894)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.strategies.tests.js
Labels: 19_1, cherry-pick

#6854 VectorMap. Fix drawing zero values issue for pie markers(T712894)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.strategies.tests.js
Labels: 18_1, cherry-pick

#6850 Improve Scheduler appointments overlapping on timelineMonth view (refix) (T685522)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2

#6862 Add 'shift' option to chart's axis ticks and minor ticks
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  js/viz/axes/xy_axes.js
  js/viz/core/themes/generic.light.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 19_1

#6864 DataGrid: Fix the "Cannot read property 'pageIndex' of undefined" error on an attempt to insert a row if key is not returned from insert operation (T677310, T681663)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 17_2, cherry-pick

#6865 Fix type mismatch in tests for IE
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2

#6866 Fix type mismatch in tests for IE
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1, cherry-pick

#6860 Add Australia/Eucla and Australia/Lord_Howe time zones(T710843)
  js/ui/scheduler/ui.scheduler.timezones_data.js
Labels: 18_2

#6868 Improve Scheduler appointments overlapping on timelineMonth view (refix) (T685522)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_1

#6867 Improve Scheduler appointments overlapping on timelineMonth view (refix) (T685522)
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/ui.scheduler.timeline.js
  js/ui/scheduler/ui.scheduler.timeline_month.js
  js/ui/scheduler/ui.scheduler.work_space.js
  js/ui/scheduler/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 19_1

#6861 Add legend to BarGauge
  js/viz/core/themes/generic.light.js
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
Labels: 19_1

#6872 Add Australia/Eucla and Australia/Lord_Howe time zones (T710843)
  js/ui/scheduler/ui.scheduler.timezones_data.js
Labels: 19_1, cherry-pick

#6849 DataGrid: Doc comments for CustomizeExcelCell group/total summary exporting members
  js/exporter/excel/excel.doc_comments.js
Labels: 19_1

#6876 DataGrid - Fixed table scrolling should performs with delay if FF
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_1, cherry-pick

#6875 DataGrid - Fixed table scrolling should performs with delay if FireFox browser
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_2

#6879 Fix tooltip showing issue in sparklines(T714171)
  js/viz/sparklines/sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparklineTooltip.tests.js
Labels: 19_1, cherry-pick

#6878 Fix tooltip showing issue in sparklines(T714171)
  js/viz/sparklines/sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparklineTooltip.tests.js
Labels: 18_1, cherry-pick

#6877 Fix tooltip showing issue in sparklines(T714171)
  js/viz/sparklines/sparkline.js
  testing/tests/DevExpress.viz.sparklines/sparklineTooltip.tests.js
Labels: 18_2

#6869 DateBox should validate the value after removing an invalid chars (fix T714695)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#6870 DateBox should validate the value after removing an invalid chars (fix T714695)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#6873 DataGrid - Fix beginCustomLoading method calling inside the onExporting handler (T713135)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#6874 DataGrid - Fix beginCustomLoading method calling inside the onExporting handler (T713135)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 19_1, cherry-pick

#6880 dxTreeList: Fix issue with display of data when using the es6 classes (T713250)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 18_1

#6881 dxTreeList: Fix issue with display of data when using the es6 classes (T713250)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 18_2, cherry-pick

#6882 dxTreeList: Fix issue with display of data when using the es6 classes (T713250)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 19_1, cherry-pick

#6824 dxDataGrid: Fix content rendering on scrolling when virtual scrolling is enabled and a row template is used (T712541)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/errorHandling.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_1, cherry-pick

#6823 dxDataGrid: Fix content rendering on scrolling when virtual scrolling is enabled and a row template is used (T712541)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/errorHandling.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#6887 Fix DateBox test for mobile devices after #6869
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#6888 Fix DateBox test for mobile devices after #6870
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#6885 TreeList: Fix LoadDataOnDemand demo for vue and react
  js/ui/tree_list/ui.tree_list.data_controller.js
Labels: 18_2

#6886 TreeList: Fix LoadDataOnDemand demo for vue and react
  js/ui/tree_list/ui.tree_list.data_controller.js
Labels: 19_1, cherry-pick

#6863 DateBox should rise validation event once after value is changed by calendar (T714599)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#6890 Fix slider's tooltips in Material theme
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/popover.material.less
Labels: 19_1

#6894 DateBox should rise validation event once after value is changed by calendar (T714599)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#6889 Rework axis' value margins
  js/viz/axes/base_axis.js
  js/viz/axes/polar_axes.js
  js/viz/axes/xy_axes.js
  js/viz/chart_components/multi_axes_synchronizer.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/points/bar_point.js
  js/viz/series/points/range_symbol_point.js
  js/viz/series/scatter_series.js
  js/viz/sparklines/base_sparkline.js
  js/viz/translators/translator2d.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
  testing/tests/DevExpress.viz.charts/multiAxesSynchronizer.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/basePoint.tests.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  testing/tests/DevExpress.viz.core.series/rangePoint.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
Labels: 19_1

#6898 fix qunit tests on the mobile devices
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#6900 fix qunit tests on the mobile devices
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#6901 Fix slider's tooltips in Material theme (#6890)
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/popover.material.less
Labels: 18_2, cherry-pick

#6892 Add the date field to data argument of the timeCellTemplate (T714302)
  js/ui/scheduler/ui.scheduler.table_creator.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_2

#6906 Fix visibility in nested drawers (T713500)
  styles/widgets/common/drawer.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 19_1, cherry-pick

#6903 Fix visibility in nested drawers (T713500)
  styles/widgets/common/drawer.less
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2

#6896 rename dialog's 'message' parameter (part of T702830)
  js/ui/dialog.js
  testing/tests/DevExpress.ui/dialog.tests.js
  ts/dx.all.d.ts
Labels: 18_2

#6905 Don't remove the last zIndex when non-existing one removed (T715260)
  js/ui/overlay/z_index.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1

#6899 Lookup should have the event property in onValueChange handler argument (fix T715252)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_1

#6897 DataGrid: Doc comments for CustomizeExcelCell group/total summary exporting members (#6849)
  js/exporter/excel/excel.doc_comments.js
Labels: 18_2, cherry-pick

#6908 Don't remove the last zIndex when non-existing one removed (T715260)
  js/ui/overlay/z_index.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2, cherry-pick

#6907 rename dialog's 'message' parameter (part of T702830)
  js/ui/dialog.js
  testing/tests/DevExpress.ui/dialog.tests.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#6910 Add an invalid state appearance for HTMLEditor
  js/ui/html_editor/ui.html_editor.js
  styles/widgets/common/htmlEditor.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/htmlEditor.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/htmlEditor.material.less
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
Labels: 19_1

#6912 Lookup should have the event property in onValueChange handler argument (fix T715252) (#6899)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 18_2, cherry-pick

#6883 DataGrid - Fix tab clicking in the master detail after expand in Edge (T713635)
  styles/widgets/common/gridBase.less
Labels: 18_2

#6884 DataGrid - Fix tab clicking in the master detail after expand in Edge (T713635)
  styles/widgets/common/gridBase.less
Labels: 19_1, cherry-pick

#6914 Fix regressions after #6889
  js/viz/axes/base_axis.js
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#6909 Add title to legend
  js/viz/chart_components/base_chart.js
  js/viz/components/chart_theme_manager.js
  js/viz/components/legend.js
  js/viz/core/themes/generic.light.js
  js/viz/core/title.js
  js/viz/funnel/funnel.js
  js/viz/gauges/bar_gauge.js
  js/viz/vector_map/legend.js
  js/viz/vector_map/theme_manager.js
  testing/tests/DevExpress.viz.core/legend.tests.js
  testing/tests/DevExpress.viz.core/title.integration.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.vectorMap/legend.tests.js
Labels: 19_1

#6916 dxTreeList: Fix order of values in the TreeListFilterMode enum
  js/docEnums.js
Labels: 19_1

#6645 Fix TabPanel updating after width option changing, first step (T707073)
  js/ui/tab_panel.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 18_2

#6917 Fix some tests
  testing/tests/DevExpress.viz.charts/chartParts/commons.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
Labels: 19_1

#6851 The click by radioButton/checkBox should be processed before the validation message is shown (T570458)
  js/ui/check_box.js
  js/ui/editor/editor.js
  js/ui/radio_group/radio_button.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Labels: 19_1

#6913 Add an invalid state appearance for HTMLEditor
  js/ui/html_editor/ui.html_editor.js
  styles/widgets/common/htmlEditor.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/htmlEditor.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/htmlEditor.material.less
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
Labels: 18_2, cherry-pick

#6921 skip focus tests for mobile devices
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Labels: 19_1

#6920 The click by radioButton/checkBox should be processed before the validation message is shown (T570458)
  js/ui/check_box.js
  js/ui/editor/editor.js
  js/ui/radio_group/radio_button.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Labels: 18_2, cherry-pick

#6922 Fix margins calculation on redraw axis
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#6895 Fix browser freezing on the third series editing in Scheduler (T710140)
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 18_2

#6902 DataGrid navigation should not freeze on the group cell after navigate by the tab key from the editing cell (T715092)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#6915 DataGrid should not scroll back to the focused editing cell after append rows in virtual scrolling (T715091)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#6911 Fix navigator disable state in Day view, if currentDate value equal min value (T714398)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dateNavigator.tests.js
Labels: 18_2

#6925 Fix valueAxis categories sorting issue(T714928)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1, cherry-pick

#6924 Fix valueAxis categories sorting issue(T714928)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_2, cherry-pick

#6923 Fix valueAxis categories sorting issue(T714928)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 18_1

#6927 Fix browser freezing on the third series editing in Scheduler (T710140)
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 19_1

#6893 DataGrid - advanced keyboard navigation
  js/docEnums.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#6928 DataGrid should not scroll back to the focused editing cell after append rows in virtual scrolling (T715091)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#6932 Update TS declarations
  ts/dx.all.d.ts
Labels: 19_1

#6929 DataGrid navigation should not freeze on the group cell after navigate by the tab key from the editing cell (T715092)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#6930 Fix groups order in legend
  js/viz/chart_components/base_chart.js
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Labels: 19_1

#6934 Make chart printing work without additional tab/window (T714927)
  js/core/utils/window.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: 18_2

#6935 Make chart printing work without additional tab/window (T714927)
  js/core/utils/window.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: 19_1, cherry-pick

#6919 Add the date field to data argument of the timeCellTemplate (T714302)
  js/ui/scheduler/ui.scheduler.table_creator.js
  js/ui/scheduler/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 19_1, cherry-pick

#6936 DataGrid - add options for the advanced keyboard navigation feature
  ts/dx.all.d.ts
Labels: 19_1
