Repository DevExpress/DevExtreme, pull requests merged in 2019-06, with the labels that each got.

#8201 DataGrid - onFocusedCellChanging event should execute on cell click in batch edit mode (T743530, T718459)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#8255 Remove unnecessary dates from viewing routine (T742932)
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 19_1

#8267 Fix onAppointmentUpdating event oldData (T744223)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1

#8269 DataGrid - onFocusedCellChanging event should fire before onStartEdit…
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#8270 Fix test after #8262
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 19_1

#8264 DataGrid should reset focused row if 'newRowIndex < 0" in the onFocusedRowChanging event (T745451)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#8263 DataGrid should reset focused row if 'newRowIndex < 0" in the onFocusedRowChanging event (T745451)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#8271 Change Object.assign to custom extend (T744223)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_1

#8274 DataGrid - Fix test by removing onEditingStart check (T743530)
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1

#8149 Don't hide custom editor buttons in readonly state (T743776)
  js/ui/button.js
  js/ui/drop_down_editor/ui.drop_down_button.js
  js/ui/number_box/number_box.spins.js
  js/ui/text_box/texteditor_button_collection/button.js
  js/ui/text_box/texteditor_button_collection/custom.js
  styles/widgets/generic/textEditor.generic.less
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 19_1

#8272 Fix themebuilder for material compact theme (T746303)
  themebuilder/modules/config-normalizer.js
  themebuilder/tests/config-normalizer-spec.js
Labels: 19_1

#8230 Add functional testing using TestCafe tool
  package.json
  testing/functional/helpers/dataGrid.test.helper.ts
  testing/functional/helpers/testHelper.ts
  testing/functional/runner.js
  testing/functional/tests/container.html
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 19_1

#8275 DataGrid - Fix test by removing onEditingStart check (T743530)
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2, cherry-pick

#8268 Fix validation message and help text display via the Enter key (T717025)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 19_1

#8280 dxChart: Fix unstable test (markers auto-hiding for financial series)
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_1

#8279 Increase timeout for font waiting 0.5->2s approx.
  js/ui/themes.js
  testing/tests/DevExpress.ui/themes.tests.js
Labels: 19_1

#8285 DataGrid: Fix a fixed column rendering after scrolling widget (T745680)
  js/ui/grid_core/ui.grid_core.column_fixing.js
Labels: 18_2

#8140 DataGrid - Extend test wrappers and tests refactoring
  testing/helpers/wrappers/dataGridWrappers.js
  testing/helpers/wrappers/filterPanelWrapper.js
  testing/helpers/wrappers/pagerWrapper.js
  testing/helpers/wrappers/wrapperBase.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#8283 Fix validation message and help text display via the Enter key (T717025)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_2, cherry-pick

#8289 Restore the day after moving through February in dxDateBox (T744573)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#8296 Reanimate Panorama tests in IE after jQuery update
  testing/tests/DevExpress.ui.widgets/panorama.tests.js
Labels: 18_2

#8297 Implement plaque corner radius
  js/viz/core/plaque.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#8290 Null and NaN values should not be set in renderer.css method
  js/core/renderer_base.js
  testing/tests/DevExpress.core/renderer.tests.js
Labels: 19_1

#8292 Update jQuery to v3.4.1+
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
  package.json
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/panorama.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 18_1, cherry-pick

#8291 dxDateBox - control shouldn't changes PM to AM when increment hours (T721723)
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#8301 Fix annotation blurring
  js/viz/core/plaque.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#8298 Null and NaN values should not be set in renderer.css method (#8290)
  js/core/renderer_base.js
  testing/tests/DevExpress.core/renderer.tests.js
Labels: 18_2, cherry-pick

#8288 Floating Action Button - Fix rendering for React and Vue approaches
  js/ui/speed_dial_action/speed_dial_action.js
Labels: 19_1

#8302 dxDateBox - control shouldn't changes PM to AM when increment hours (T721723)
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#8304 Remove excess TagBox test
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_1

#8303 Add select to extraOptions of byKey method
  js/data/odata/store.js
  testing/tests/DevExpress.data/odataStore.tests.js
  ts/dx.all.d.ts
Labels: 18_2, cherry-pick

#8305 dxScheduler - fix tests after update jquery version
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_1

#8307 dxDataGrid: Fix tests after update jQuery to 3.4.1
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_1

#8295 `devexpress-diagram` must be a dependency and its scripts and styles must be copied to artifacts
  build/gulp/npm.js
  build/gulp/vendor.js
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
Labels: 19_1

#8309 Fix margin calculation on range with breaks (T746463)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 19_1

#8312 Update handlebars
  package.json
Labels: 19_1

#8313 Update handlebars
  package.json
Labels: 18_2

#8314 Update handlebars
  package.json
Labels: 18_1, cherry-pick

#8311 Fix tag text when display value is empty (T745958)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1

#8316 Fix tick generation on discrete axis (after #8309)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#8317 Fix tag text when display value is empty (T745958)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#8310 DataGrid- Add Array.find polyfill when our ExcelJS integration tests are started in IE (T747222)
  testing/tests/DevExpress.exporter/exceljsParts/arrayFindHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_1

#8308 Fix HtmlEditor "Link" formatting (T742575, T742566)
  js/ui/html_editor/formats/link.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui/formDialog.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_1

#8315 Drone CI - add functional tests
  .drone.yml
  docker-ci.sh
  package.json
  testing/functional/runner.js
Labels: 19_1

#8319 Fix validation of an empty ValidationGroup (T746941)
  js/ui/validation_group.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
Labels: 19_1

#8321 Fix validation of an empty ValidationGroup (T746941) (#8319)
  js/ui/validation_group.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
Labels: 18_2, cherry-pick

#8320 Fix object prototype pollution
  js/core/utils/extend.js
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 19_1

#8323 Fix object prototype pollution (#8320)
  js/core/utils/extend.js
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 18_2, cherry-pick

#8322 Fix object prototype pollution (#8320)
  js/core/utils/extend.js
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 18_1, cherry-pick

#8286 DataGrid - add functional tests on the dblClick action
  testing/functional/helpers/dataGrid.test.helper.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 19_1

#8328 Use ES5 in object tests
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 18_1

#8330 Fix object prototype pollution
  js/core/utils/extend.js
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 17_1, cherry-pick

#8331 deepExtendArraySafe - Fix object prototype pollution
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 16_2, cherry-pick

#8332 Remove right margin for dropdown button (AM/PM) in date view (T747245)
  styles/widgets/material/timeView.material.less
Labels: 19_1

#8327 The "repaint" Overlay method should trigger the content resize callbacks (T747248)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1

#8338 Fix visualRange applying on empty chart (T747908)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 19_1

#8339 Fix visualRange applying on empty chart (T747908)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_2, cherry-pick

#8333 Remove comments from svg files (T746888)
  images/widgets/generic/color-schemes/contrast/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/contrast/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/contrast/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/min-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/material/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/material/color-schemes/light/timeView/clock-bg.svg
  images/widgets/material/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/light/timeView/min-arrow.svg
Labels: 19_1

#8334 Fix infinite scaling multi axes chart (T746896)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#8341 Remove comments from svg files (T746888) (#8333)
  images/widgets/generic/color-schemes/contrast/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/contrast/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/contrast/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/min-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/material/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/material/color-schemes/light/timeView/clock-bg.svg
  images/widgets/material/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/light/timeView/min-arrow.svg
Labels: 18_2, cherry-pick

#8342 Remove comments from svg files (T746888) (#8333)
  images/widgets/generic/color-schemes/contrast/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/contrast/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/contrast/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/clock-bg.svg
  images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/generic/color-schemes/light/timeView/min-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/clock-bg.svg
  images/widgets/material/color-schemes/dark/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/dark/timeView/min-arrow.svg
  images/widgets/material/color-schemes/light/timeView/clock-bg.svg
  images/widgets/material/color-schemes/light/timeView/hour-arrow.svg
  images/widgets/material/color-schemes/light/timeView/min-arrow.svg
Labels: 18_1, cherry-pick

#8335 Overlay should adjust height on iOS after positioning (T742021)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1

#8343 Overlay should adjust height on iOS after positioning (T742021)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2, cherry-pick

#8324 Fix generation of recurrent appointments with changed firstDayOfWeek (T744191)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 19_1

#8344 Revert "Update SelectBox behavior after DataSource change (T728469)"
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_1

#8346 Revert "Update SelectBox behavior after DataSource change (T728469) (#8258)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_1, cherry-pick

#8345 Revert "Update SelectBox behavior after DataSource change (T728469) (#8257)"
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_2, cherry-pick

#8329 Fix object prototype pollution
  js/core/utils/extend.js
  js/core/utils/object.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
Labels: 17_2, cherry-pick

#8336 DataGrid: Fix upper border of group rows if showRowLines and columnFixing are enabled (T745266)
  styles/widgets/common/gridBase.less
Labels: 19_1

#8349 Fix value margin calculation with breaks (fix after #8334)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 19_1

#8300 DataGrid - Should fire onKeyDown event for each keyboard supported element
  js/ui/data_grid/ui.data_grid.grouping.js
  js/ui/grid_core/ui.grid_core.accessibility.js
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.filter_panel.js
  js/ui/grid_core/ui.grid_core.pager.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#8355 dxScheduler - Always show tooltip scroll on touch screen (T724287)
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_1

#8357 Set readOnly attribute to the dxDateBox's input on ios when the readOnly option is true (T749294)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#8356 DataGrid - Using the right way to call "executeAction" from pager
  js/ui/grid_core/ui.grid_core.pager.js
Labels: 19_1

#8348 Floating Action Button - Fix render in Angular approach
  js/ui/speed_dial_action/speed_dial_action.js
Labels: 19_1

#8359 Add offsetX and offsetY options in annotation
  js/viz/core/annotations.js
  js/viz/core/plaque.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#8360 Fix recurring appointment check of scheduler firstDayOfWeek (T749155)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#8361 Change default for contentTemplate of the dxDropDownBox
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 19_1

#8363 Fix TagBox disposing in case of async data loading (T744587)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1

#8370 dxChart: Fix the layout of the legend title (T747194)
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Labels: 19_1

#8369 Fix TagBox disposing in case of async data loading (T744587)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#8371 dxViz: Add missed legend.title options to the doc comments
  js/viz/docs/docBaseWidget.js
  ts/dx.all.d.ts
Labels: 19_1

#8365 File Manager - Validate Move and Copy operations in JSON provider
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.messages.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
Labels: 19_1

#8347 DataGrid - incorrectly exports group summary values if the column.allowExporting is false (T746913)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 19_1

#8378 Remove built-in required validation rule from the dxTextBox with a mask (T747933)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_1

#8379 Remove built-in required validation rule from the dxTextBox with a mask (T747933)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 18_2, cherry-pick

#8350 DataGrid - cell should preserve focus after Enter key pressed if enterKeyDirection is 'none' and enterKeyAction is 'moveFocus'
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/helpers/dataGrid.test.helper.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 19_1

#8374 Floating Action Button - Add position change handler
  js/ui/speed_dial_action/speed_dial_main_item.js
  testing/tests/DevExpress.ui.widgets/floatingActionButton.tests.js
Labels: 19_1

#8384 TagBox filtering should pass 'expand' to the data source (T747917)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1

#8385 TagBox filtering should pass 'expand' to the data source (T747917)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#8380 DataGrid: Fix the getSelectedRowsData method when selectedRowKeys used and stateStoring enabled (T748677)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#8382 DataGrid: Fix free space row flicking when a cell from the last row is updated using the Tab key (T744592)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#8383 DataGrid: Fix free space row flicking when a cell from the last row is updated using the Tab key (T744592)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#8386 Fix pivotGrid rendering to container with css transformation (T749971)
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 18_2

#8387 Fix pivotGrid rendering to container with css transformation (T749971)
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 19_1

#8390 dxScheduler - support drag appoinment in touch Edge browser (T672752)
  js/ui/scheduler/ui.scheduler.js
  styles/widgets/base/scheduler.less
Labels: 19_1

#8377 DataGrid - incorrectly exports group summary values if the column.allowExporting is false (T746913)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 18_2

#8364 Scrollbar - different colors on IE and Chrome (T725007)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/scrollable.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/scrollable.material.less
Labels: 19_1

#8376 ScrollView - fix counting error for IE browsers after update jQuery (#8117)
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
Labels: 19_1

#8392 dxScheduler - support drag appoinment in touch Edge browser (T672752)
  js/ui/scheduler/ui.scheduler.js
  styles/widgets/base/scheduler.less
Labels: 18_2, cherry-pick

#8399 dxScheduler - support drag appoinment in touch Edge browser (T672752)
  js/ui/scheduler/ui.scheduler.js
  styles/widgets/base/scheduler.less
Labels: 18_1, type/bug

#8396 Fix axis labels overlapping in neighbour breaks (T743310)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 19_1

#8397 Fix axis labels overlapping in neighbour breaks (T743310)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_2, cherry-pick

#8394 ScrollView - fix counting error for IE browsers after update jQuery (#8117)
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
Labels: 18_2, cherry-pick

#8393 Scrollbar - different colors on IE and Chrome (T725007) (#8364)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/scrollable.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/scrollable.material.less
Labels: 18_2, cherry-pick

#8340 Support popup auto resizing for dropDownBox with TreeView in Search mode (T724029)
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_1

#8407 Temporary disable some ThemeBuilder tests
  themebuilder/tests/builder-spec.js
Labels: 19_1

#8408 Temporary disable some ThemeBuilder tests (#8407)
  themebuilder/tests/builder-spec.js
Labels: 18_2, cherry-pick

#8389 File Manager - Input of "New folder" dialog should has default value and active state
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/file_manager/ui.file_manager.dialog.js
  js/ui/file_manager/ui.file_manager.dialog.name_editor.js
  js/ui/file_manager/ui.file_manager.editing.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 19_1

#8402 DataGrid: Fix data loading after changing editing.popup options (T749733)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#8401 DataGrid: Fix data loading after changing editing.popup options (T749733)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#8411 DataGrid: Fix unnecessary editor value converting to string (T749989)
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 19_1

#8352 Remove doT dependency
  package.json
  testing/tests/DevExpress.jquery/template.tests.js
Labels: 19_1

#8409 DataGrid: Fix unnecessary loading after scrolling and grouping (T746935)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_1

#8410 DataGrid: Fix unnecessary loading after scrolling and grouping (T746935)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 18_2, cherry-pick

#8412 DataGrid: Fix sorting if only paging is remote and sorting is defined (T748688)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 19_1

#8414 Support popup auto resizing for dropDownBox with TreeView in Search mode (T724029) (#8340)
  js/ui/popup.js
  styles/widgets/common/popup.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2, cherry-pick

#8395 TreeView - A focused item is jumping under certain conditions (T746645)
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 19_1

#8417 DataGrid: Fix loading data on scrolling when infinite scrolling is enabled with summary items (T748954)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#8418 TreeView - A focused item is jumping under certain conditions (T746645) (#8395)
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2, cherry-pick

#8405 ScrollView - The error occurs on the first load if pullDown and reachBottom events handlers are defined(T720245)
  js/ui/scroll_view/ui.scroll_view.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 19_1

#8419 DataGrid: Fix selectTextOnEditStart option for a lookup column with a remote data source (T744711)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#8406 Fix prerender filter to ensure correct appointment render (T736600)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#8423 Fix prerender to ensure right render mechanic (T736600)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 19_1

#8416 Stylelint: Enable "no-duplicate-selectors" rule
  .stylelintrc
  styles/widgets/base/pivotGrid.less
  styles/widgets/base/scheduler.less
  styles/widgets/common/actionSheet.less
  styles/widgets/common/box.less
  styles/widgets/common/gridBase.less
  styles/widgets/common/htmlEditor.less
  styles/widgets/common/pivotGrid.less
  styles/widgets/common/scrollable.less
  styles/widgets/common/switch.less
  styles/widgets/generic/button.generic.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/generic/fileUploader.generic.less
  styles/widgets/generic/form.generic.less
  styles/widgets/generic/numberBox.generic.less
  styles/widgets/generic/popover.generic.less
  styles/widgets/generic/scheduler.generic.less
  styles/widgets/ios7/fieldset.ios7.less
  styles/widgets/ios7/gallery.ios7.less
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/ios7/list.ios7.less
  styles/widgets/ios7/popover.ios7.less
  styles/widgets/ios7/popup.ios7.less
  styles/widgets/material/button.material.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/diagram.material.less
  styles/widgets/material/fileManager.material.less
  styles/widgets/material/fileUploader.material.less
  styles/widgets/material/form.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/numberBox.material.less
  styles/widgets/material/pivotGrid.material.less
  styles/widgets/material/popover.material.less
  styles/widgets/material/radioButton.material.less
  styles/widgets/material/scheduler.material.less
  styles/widgets/material/treeList.material.less
Labels: 19_1

#8421 Fix submit of DropDownEditor-based editors value (T747166)
  js/ui/calendar/ui.calendar.js
  js/ui/check_box.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/number_box/number_box.base.js
  js/ui/select_box.js
  js/ui/slider/ui.slider.js
  js/ui/switch.js
  js/ui/tag_box.js
  testing/tests/DevExpress.knockout/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1

#8428 Stylelint: Add rules for autoprefixer
  .stylelintrc
  styles/mixins.less
  styles/widgets/base/pivotGrid.less
  styles/widgets/base/scheduler.less
  styles/widgets/common/box.less
  styles/widgets/common/colorBox.less
  styles/widgets/common/form.less
  styles/widgets/common/gridBase.less
  styles/widgets/common/list.less
  styles/widgets/common/loadIndicator.less
  styles/widgets/common/loadPanel.less
  styles/widgets/common/numberBox.less
  styles/widgets/common/pivotGrid.less
  styles/widgets/common/popover.less
  styles/widgets/common/scrollable.less
  styles/widgets/common/textEditor.less
  styles/widgets/common/timeView.less
  styles/widgets/common/widget.less
  styles/widgets/generic/loadIndicator.generic.less
  styles/widgets/generic/progressBar.generic.less
  styles/widgets/generic/scrollable.generic.less
  styles/widgets/ios7/fieldset.ios7.less
  styles/widgets/ios7/loadIndicator.ios7.less
  styles/widgets/ios7/progressBar.ios7.less
  styles/widgets/ios7/slideOut.ios7.less
  styles/widgets/ios7/textBox.ios7.less
  styles/widgets/ios7/textEditor.ios7.less
  styles/widgets/material/loadIndicator.material.less
  styles/widgets/material/progressBar.material.less
  styles/widgets/material/scrollable.material.less
  styles/widgets/ui.less
Labels: 19_1

#8430 Stylelint: Enable "declaration-no-important" rule
  .stylelintrc
  styles/widgets/base/pivotGrid.less
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/base/scheduler.less
  styles/widgets/common/dataGrid.less
  styles/widgets/common/deferRendering.less
  styles/widgets/common/diagram.less
  styles/widgets/common/gridBase.less
  styles/widgets/common/pivotGrid.less
  styles/widgets/common/scrollable.less
  styles/widgets/generic/common.generic.less
  styles/widgets/material/common.material.less
  styles/widgets/material/form.material.less
  styles/widgets/material/tagBox.material.less
  styles/widgets/ui.less
Labels: 19_1

#8400 Force numeric keyboard in dxNumberBox for modern mobiles (T746753)
  js/core/utils/browser.js
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.core/utils.browser.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 19_1

#8432 Force numeric keyboard in dxNumberBox for modern mobiles (T746753)
  js/core/utils/browser.js
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.core/utils.browser.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 18_2, cherry-pick

#8431 Don't update dxDateBox submit value when an invalid one is selected (T749860)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#8433 Don't update dxDateBox submit value when an invalid one is selected (T749860)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#8427 dxTextBox with an invalid value and a mask should be invalid
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_1

#8436 Stylelint: Enable "selector-max-id" and "selector-class-pattern" rules
  .stylelintrc
  styles/mixins.less
  styles/widgets/common/htmlEditor.less
  styles/widgets/common/widget.less
  styles/widgets/generic/common.generic.less
  styles/widgets/ios7/common.ios7.less
  styles/widgets/material/common.material.less
Labels: 19_1

#8435 Fix tests and styles after improvement of the popup auto resizing for TreeView with Search (T724029)
  styles/widgets/common/popup.less
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 18_2

#8434 dxScheduler - prevent rounded position value on resize appointment in case browser zoom
  js/core/utils/common.js
  js/ui/resizable.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/utils.js
  testing/tests/DevExpress.utils/utils.common.js
Labels: 19_1

#8424 DataGrid: Fix toolbar doesn't update immediately after option change (T750728)
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#8425 DataGrid: Fix toolbar doesn't update immediately after option change (T750728)
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#8442 dxScheduler - prevent rounded position value on resize appointment in case browser zoom(T706922)
  js/core/utils/common.js
  js/ui/resizable.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/utils.js
  testing/tests/DevExpress.utils/utils.common.js
Labels: 18_2, cherry-pick

#8422 ScrollView - The error occurs on the first load if pullDown and reachBottom events handlers are defined(T720245)
  js/ui/scroll_view/ui.scroll_view.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 18_2, cherry-pick

#8444 Fix eslint run on pre-commit
  package.json
Labels: 19_1

#8445 ScrollView - fix tests after pullDown and reachBottom events handlers are defined (T720245)
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 18_2

#8446 ScrollView - The error occurs on the first load if pullDown and reachBottom events handlers are defined(T720245)
  js/ui/scroll_view/ui.scroll_view.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 19_1, cherry-pick

#8457 Force calendar pickerType in dxDateBox test to make it work on mobiles
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#8458 Force calendar pickerType in dxDateBox test to make it work on mobiles
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#8454 TreeList: Fix selection for nested nodes after T742205 (T751539)
  js/ui/selection/selection.strategy.standard.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 19_1

#8455 TreeList: Fix selection for nested nodes after T742205 (T751539)
  js/ui/selection/selection.strategy.standard.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 18_2, cherry-pick

#8452 TreeView: Fix focused CheckBox style
  styles/widgets/generic/treeView.generic.less
Labels: 19_1

#8453 TreeView: Fix focused CheckBox style
  styles/widgets/generic/treeView.generic.less
Labels: 18_2, cherry-pick

#8451 Remove UTC timezone from recurrenceException of broken test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 19_1
