Repository DevExpress/DevExtreme, pull requests merged in 2019-05, with the labels that each got.

#7930 Update version to 19.1.3
  package.json
Labels: 19_1

#7891 Change scheduler popup dialog option message => messageHtml (T726931)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2

#7931 Add de and ja localization for Scheduler recurrence editor
  js/localization/messages/de.json
  js/localization/messages/ja.json
Labels: 19_1

#7934 Fix cellData calculation in Scheduler when groupByDate = true
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 19_1

#7904 Fix a problem with recurrent appointment if started before startDayHour (T735635)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
Labels: 18_2

#7932 Fix rendering of the long appointment in Scheduler on timelines (T678380)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1

#7924 Fix Scheduler empty classes applying on timelines (T735171)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1

#7928 Fix Scheduler time indicator offset calculation (T737095)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
Labels: 19_1

#7940 Fix rendering of the long appointment in Scheduler on timelines (T678380)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_2, cherry-pick

#7941 Fix Scheduler time indicator offset calculation (T737095)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
Labels: 18_2, cherry-pick

#7942 Fix Scheduler empty classes applying on timelines (T735171)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2, cherry-pick

#7937 Fix the "event" field of the "ValueChange" event for the DateBox with the "datetime" type (T736734)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#7945 PivotGrid: Fix applyPartialDataSource for rows after column collapsing (T737140)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 19_1

#7943 Fix cellData calculation in Scheduler when groupByDate = true (T730838)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 18_2, cherry-pick

#7950 FileManager - Implement adaptivity
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  styles/widgets/common/fileManager.less
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/fileManager.material.less
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
Labels: 19_1

#7935 PivotGrid.Export: Add tests for T737292 configuration: [string x date x number] + customize year field
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
Labels: 19_1

#7949 Fix the "event" field of the "ValueChange" event for the DateBox with the "datetime" type (T736734)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#7955 FileManager: Fix test with jquery after #7950
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
Labels: 19_1

#7954 Fix chart export menu position (T733759)
  js/viz/core/title.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_1

#7938 Fix date passing in Scheduler dateCellTemplate (T732376)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 19_1

#7946 Fix the vertical scrollbar visibility when an appointment popup fill to the small window's height
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 19_1

#7956 Fix date passing in Scheduler dateCellTemplate (T732376) (#7938)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_2, cherry-pick

#7923 Split accepted values enums for buttons option for different widget types
  js/docEnums.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/number_box/number_box.base.js
  js/ui/text_box/ui.text_editor.base.js
  ts/dx.all.d.ts
Labels: 19_1

#7957 Mark DropDownButton as acceptable Toolbar widget (T738649)
  js/docEnums.js
  ts/dx.all.d.ts
Labels: 19_1

#7958 Fix empty-appointments in Scheduler on month view (testcafe)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#7960 Fix empty-appointments in Scheduler on month view (testcafe)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1, cherry-pick

#7962 Fix Scheduler tests in IE
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 18_2, cherry-pick

#7961 Fix Scheduler tests in IE
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 19_1

#7959 Fix chart export menu position (T733759)
  js/viz/core/title.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 18_2

#7948 dxDataGrid: Fix the caption option that does not apply to command columns (T737789)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1, cherry-pick

#7947 dxDataGrid: Fix the caption option that does not apply to command columns (T737789)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2

#7953 dxDataGrid: Fix vertical position of the fixed table when scrolling.useNative is true (T737955)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_1, cherry-pick

#7952 dxDataGrid: Fix vertical position of the fixed table when scrolling.useNative is true (T737955)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 18_2

#7963 File Manager - Ajax provider throws exception when tries to get file items
  js/ui/file_manager/file_provider/ajax.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/ajaxProvider.tests.js
Labels: 19_1

#7965 Update label hint on axis updating (T738583)
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 19_1, cherry-pick

#7964 Update label hint on axis updating (T738583)
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 18_2

#7968 Fix crash treeMap on apply ellipsis (T735141)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 18_2

#7951 File Manager - Hide expand button in dirs tree if needed
  js/ui/file_manager/file_provider/ajax.js
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/onedrive.js
  js/ui/file_manager/file_provider/webapi.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#7973 Fix title clipping in material theme (T736056)
  js/viz/core/title.js
  testing/tests/DevExpress.viz.core/title.tests.js
Labels: 19_1

#7972 FileManager - Fix dialogs sizes on different screen sizes
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  js/ui/file_manager/ui.file_manager.dialog.name_editor.js
  js/ui/file_manager/ui.file_manager.editing.js
  styles/widgets/common/fileManager.less
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
Labels: 19_1

#7982 dxDataGrid: Fix test for Edge browser after #7953
  js/ui/grid_core/ui.grid_core.column_fixing.js
Labels: 19_1, cherry-pick

#7983 dxDataGrid: Fix test for Edge browser after #7952
  js/ui/grid_core/ui.grid_core.column_fixing.js
Labels: 18_2

#7979 Make min/maxBubbleSize options public for RangeSelector (T737493)
  js/viz/docs/docrangeselector.js
  ts/dx.all.d.ts
Labels: 18_2

#7980 Make min/maxBubbleSize options public for RangeSelector (T737493)
  js/viz/docs/docrangeselector.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#7993 Floating Action Button - Fix animation
  js/ui/speed_dial_action/speed_dial_action.js
  js/ui/speed_dial_action/speed_dial_main_item.js
Labels: 19_1

#7994 List: Fix keyboard navigation using down key if select all checkbox is focused in header filter of DataGrid (T739247)
  js/ui/list/ui.list.edit.decorator.selection.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 19_1

#7992 Fix adjusting issue for logarithmic scale
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 19_1

#7998 Fix adjusting issue for logarithmic scale (#7992)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_2, cherry-pick

#7999 Fix adjusting issue for logarithmic scale
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
Labels: 18_1

#7984 File Manager - Use the Dirercory term instead of Folder in public API
  js/ui/file_manager/file_provider/ajax.js
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/onedrive.js
  js/ui/file_manager/file_provider/webapi.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/ajaxProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#7967 Fix collector visibility in Scheduler, compact theme (T727887)
  js/ui/scheduler/compactAppointmentsHelper.js
  styles/widgets/common/scheduler.less
  styles/widgets/generic/scheduler.generic.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 19_1

#8002 Consider shadow parameters when move annotations from borders (T737064)
  js/viz/core/plaque.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#8001 Fix chart panning with empty value axis (T735148)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 18_2, cherry-pick

#8000 Fix chart panning with empty value axis (T735148)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 19_1

#7970 DataGrid: Fix error on editing start if change form tabs in contentReady (T736360)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#7971 DataGrid: Fix error on editing start if change form tabs in contentReady (T736360)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2, cherry-pick

#8008 Fix clear button position in the TagBox
  styles/widgets/material/tagBox.material.less
Labels: 18_2

#8015 Fix label's background issue when textOverflow = 'hide'(T731604)
  js/viz/core/renderers/renderer.js
  js/viz/series/points/label.js
  testing/tests/DevExpress.viz.core.series/label.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_1

#8007 Fix delete button disappearance in List (T732829)
  js/ui/list/ui.list.edit.decorator.switchable.js
  js/ui/list/ui.list.edit.decorator.switchable.slide.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 19_1

#7986 Fix delete button disappearance in the List (T732829)
  js/ui/list/ui.list.edit.decorator.switchable.js
  js/ui/list/ui.list.edit.decorator.switchable.slide.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 18_2, cherry-pick

#7936 ButtonGroup - initial state without any button selected in single selection mode (T733001)
  js/ui/button_group.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: 19_1

#8009 Fix Scheduler appointment dragging on timelines (T739132)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 19_1

#8016 Fix rendering of the long appointment in Scheduler on timelines (T678380)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 18_1, cherry-pick

#8014 FileManager - Fix widget height and context menu text item align
  js/ui/file_manager/ui.file_manager.context_menu.js
  styles/widgets/common/fileManager.less
  styles/widgets/material/fileManager.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
Labels: 19_1

#8018 Fix tags rendering for the TagBox with a mapped dataSource (T739517)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1

#8006 Form: Reconstruct layout according to the screen size (T724833)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 19_1

#8020 Fix tags rendering for the TagBox with a mapped dataSource (T739517)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 18_2, cherry-pick

#8022 Fix doccomments for OneDriveFileProvider
  js/ui/file_manager/file_provider/onedrive.js
Labels: 19_1

#8023 Convert tests of the TreeView to the ES6 syntax
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 18_2

#8011 Make it possible to remove the value when stubs and min option are used in the dxNumberBox (T734587)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick

#8025 ButtonGroup - initial state without any button selected in single selection mode (T733001)
  js/ui/button_group.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: 18_2, cherry-pick

#8026 Draw axes w/o animation if adaptive layout (T735672)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 19_1

#8027 Draw axes w/o animation if adaptive layout (T735672)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 18_2

#8028 Floating Action Button - Fix animation delay
  js/ui/speed_dial_action/speed_dial_action.js
  js/ui/speed_dial_action/speed_dial_main_item.js
Labels: 19_1

#8019 Fix Scheduler moile tests after T739132 fixing
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1

#8017 Fix Scheduler appointment dragging on timelines (T739132)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2, cherry-pick

#8012 Fix Scheduler resources runtime updating (T737160)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_1

#8024 Convert tests of the TreeView to the ES6 syntax
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 19_1, cherry-pick

#7990 Avoid dataSource reloading after repaint in Scheduler (T737181)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_1

#8031 Form: Reconstruct layout according to the screen size (T724833) (#8006)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 18_2, cherry-pick

#8010 Make it possible to remove the value when stubs and min option are used in the dxNumberBox (T734587)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#8021 Fix position of input in a tagbox (T739332)
  styles/widgets/material/tagBox.material.less
Labels: 18_2

#8030 Fix position of input in tagbox (T739332)
  styles/widgets/material/tagBox.material.less
Labels: 19_1

#8032 Avoid dataSource reloading after repaint in Scheduler (T737181)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2, cherry-pick

#8033 Fix Scheduler resources runtime updating (T737160) (#8012)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2, cherry-pick

#8035 FileManager - Fix create folder command operation and visualization
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 19_1

#8036 dxChart: Fix incorrect pane border layout (T731904)
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  js/viz/axes/xy_axes.js
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_1

#8034 Use ES6 syntax in List Editing UI tests
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 19_1, cherry-pick

#8029 Use ES6 syntax in List Editing UI tests
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 18_2

#8039 DataGrid - filter panel icon element outline should have correct width
  styles/widgets/base/dataGrid.less
  styles/widgets/common/gridBase.less
Labels: 19_1

#8038 Fix the same height for text editors with custom buttons or without them (T730398)
  styles/widgets/generic/button.generic.less
  styles/widgets/material/button.material.less
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Labels: 19_1

#8042 Fix paddings for dxDropDownButton in compact material theme
  styles/widgets/material/dropDownButton.material.less
Labels: 19_1

#8037 Trigger resizeEvent for Drawer's content when animation was completed (T739866, first step)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 19_1

#8041 Trigger resizeEvent for Drawer's content when animation was completed (T739866, first step)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2, cherry-pick

#8040 Reserve space for empty title if text is not set (T696379)
  js/viz/core/title.js
  testing/tests/DevExpress.viz.core/title.tests.js
Labels: 19_1

#8044 Scheduler should correctly process dimension changing after resizing (T739866)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 19_1

#8003 Add devextreme-internal-tools package to package.json
  README_DEVELOPERS.md
  package.json
Labels: 19_1

#8050 dxChart: Fix incorrect grid layout and axis updating (T731904)
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 19_1

#8045 Scheduler should correctly process dimension changing after resizing (T739866)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 18_2, cherry-pick

#8048 TreeList - Fix doc comments for onRowPrepared and onRowClick options (T740905)
  js/ui/grid_core/ui.grid_core.rows.js
  ts/dx.all.d.ts
Labels: 18_2

#8049 TreeList - Fix doc comments for onRowPrepared and onRowClick options (T740905)
  js/ui/grid_core/ui.grid_core.rows.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#8057 Fix Scheduler tests in IE
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 18_2, cherry-pick

#8056 Fix Scheduler tests in IE
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 19_1

#7975 DataGrid should fire onFocusedRowChanged event if focused row is reset
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#8052 ButtonGroup - Buttons are no longer selected at startup in single selection mode (T733001)
  js/ui/button_group.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
Labels: 19_1

#8053 ButtonGroup - Buttons are no longer selected at startup in single selection mode (T733001)
  js/ui/button_group.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
Labels: 18_2, cherry-pick

#8060 DataGrid should fire onFocusedRowChanged event if focused row is reset
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#8047 DataGrid: Fix checkbox vertical alignment (T735960)
  styles/widgets/generic/gridBase.generic.less
Labels: 18_2, cherry-pick

#8066 DataGrid: Fix column chooser scroll position reseting after drag and drop (T739323)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Labels: 18_2, cherry-pick

#8065 DataGrid: Fix column chooser scroll position resetting after drag and drop (T739323)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Labels: 19_1

#8067 Opt-out of the scroll anchoring for the simulated ScrollView (T671061)
  styles/widgets/common/scrollable.less
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 19_1

#8061 Remove deprecated API usage from the pointer mock (#7261)
  testing/helpers/nativePointerMock.js
Labels: 18_2, cherry-pick

#7996 DataGrid - onFocusedRowChanged event should fire once if changed via API (T729593, T737102)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#8068 Opt-out of the scroll anchoring for the simulated ScrollView (T671061)
  styles/widgets/common/scrollable.less
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2, cherry-pick

#8070 Remove unexpected margins in legend
  js/viz/components/legend.js
  js/viz/core/title.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Labels: 19_1

#8069 Make annotation tooltip hide on zoom
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/core/annotations.js
  js/viz/core/base_widget.js
  js/viz/core/loading_indicator.js
  js/viz/core/plaque.js
  js/viz/core/tooltip.js
  js/viz/range_selector/range_selector.js
  js/viz/sparklines/base_sparkline.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.core/loadingIndicator.integration.tests.js
  testing/tests/DevExpress.viz.core/tooltip.integration.tests.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
Labels: 19_1

#8064 Make it possible to search value by number after the string search in dxDateBox
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 18_2, cherry-pick

#8063 Make it possible to search value by number after the string search in dxDateBox
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1

#8058 Let itemTemplate function to return default template name in dxRadioGroup and dxDropDownMenu (T741327)
  js/ui/drop_down_menu.js
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
Labels: 19_1

#8073 Let itemTemplate function to return default template name in dxRadioGroup and dxDropDownMenu (T741327)
  js/ui/drop_down_menu.js
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
Labels: 18_2, cherry-pick

#8072 Fix viz tests on mobile devices
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
Labels: 19_1

#8075 Fix uncaught exception in export (T740915)
  js/exporter.js
  js/exporter/image_creator.js
  js/exporter/pdf_creator.js
  js/exporter/svg_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/clientExporter.tests.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: 18_2, cherry-pick

#8077 Fix legend.title alignment issue(T738245)
  js/viz/components/legend.js
  js/viz/core/title.js
  testing/tests/DevExpress.viz.core/legend.tests.js
  testing/tests/DevExpress.viz.core/title.tests.js
Labels: 19_1

#8078 Convert tests of Box to ES6 and refactoring
  testing/tests/DevExpress.ui.widgets/box.tests.js
Labels: 18_2

#8080 Move Scheduler appointment collector tests to a single file
  testing/tests/DevExpress.ui.widgets.scheduler/dropDownAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1

#8046 DataGrid: Fix checkbox vertical alignment (T735960)
  styles/widgets/generic/gridBase.generic.less
Labels: 19_1

#8055 Update drone TS check
  build/gulp/npm.js
  build/gulp/ts.js
  docker-ci.sh
  ts/dx.all.d.ts
Labels: 19_1

#8079 dxChart: Fix incorrect constant lines and crosshair layout and axes group location(T731904)
  js/viz/axes/base_axis.js
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/crosshair.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/crosshair.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Labels: 19_1

#8084 Prevent DateBox validation error according to min/max rules on widget init (T741986)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1

#8086 DataGrid - onFocusedRowChanged event should fire once if changed via API (T729593, T737102)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#8083 DataGrid should not process focused row by index on change if invalid focusedRowIndex
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#8088 DataGrid should not process focused row by index on change if invalid focusedRowIndex
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#8091 dxScheduler - should re-render appointments in Agenda view (T714780)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1

#8092 DataGrid: Fix page scrolling on an attempt to scroll the widget content (T737554)
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 18_2

#8093 DataGrid: Fix page scrolling on an attempt to scroll the widget content (T737554)
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
Labels: 19_1, cherry-pick

#8087 Fix tests. True way to pass options to title
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
Labels: 19_1

#8098 Fix pie chart crash on container scroll
  js/viz/core/helpers.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 19_1

#8089 dxDataGrid - Fix custom command button that redirects the end user to the home URL in emulation mode (T739789)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 18_2

#8090 dxDataGrid - Fix custom command button that redirects the end user to the home URL in emulation mode (T739789)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 19_1, cherry-pick

#7939 Fix drag position of multiday appointment if left day panel exists
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 18_2

#8094 DataGrid: Fix validation message positioning when edit column without dataType and alignment (T741739)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1

#8095 DataGrid: Fix validation message positioning when edit column without dataType and alignment (T741739)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 18_2, cherry-pick

#8099 dxOverlay - qunit test refactroing (#7390)
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 18_2, cherry-pick

#8101 Fix appointment jumping behavior when dropping on cell (T732885)
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 19_1

#8096 dxScheduler - should re-render appointments in Agenda view (T714780)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2, cherry-pick

#8100 dxScheduler - onAppointmentDblClick event should raised after click on tooltip in adaptivity mode(T741691)
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 19_1

#8085 TreeView - add possibility change selectionMode using the option method (T726132)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 19_1

#8105 Fix sparkline crash on container scroll
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
Labels: 19_1

#8106 TreeView - add possibility change selectionMode using the option method (T726132)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 18_2, cherry-pick

#8108 Prevent DateBox validation error according to min/max rules on widget init (T741986)
  js/ui/date_box/ui.date_box.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_1, cherry-pick
