Repository DevExpress/DevExtreme, pull requests merged in 2019-09, with the labels that each got.

#9507 Improve the Draggable component
  js/ui/draggable.js
  styles/widgets/common/draggable.less
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: 19_2

#9530 DataGrid: Fix onFocusedRowChanging was not fired after pressing tab key if cell was being edited
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2

#9518 DataGrid: Fix searched text highlighting for group rows in React (T808974)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_1, cherry-pick

#9517 DataGrid: Fix searched text highlighting for group rows in React (T808974)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_2, cherry-pick

#9540 Fix lost aspnet.createComponent calls (T810336)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 19_2

#9544 Pick #9540 (Fix lost aspnet.createComponent calls)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 19_1

#9545 Pick #9540 (Fix lost aspnet.createComponent calls)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 18_2

#9541 ExcelJS - implementation of export only selected rows
  js/exporter/exceljs/exportDataGrid.js
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 19_2

#9537 Fix tests after #9356
  js/events/gesture/emitter.gesture.js
  js/ui/file_uploader.js
  js/ui/list/ui.list.base.js
  js/ui/lookup.js
  js/ui/number_box/number_box.base.js
  js/ui/overlay/ui.overlay.js
  js/ui/popup.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/tabs.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/editing.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Labels: 19_2

#9376 DataGrid: Add promise support for setCellValue
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#9552 Increase timeouts in vectorMapUtils tests
  testing/runner/Controllers/TestVectorMapDataController.cs
Labels: 19_1, cherry-pick

#9553 DataGrid: Fix tests after #9376
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#9551 Increase timeouts in vectorMapUtils tests
  testing/runner/Controllers/TestVectorMapDataController.cs
Labels: 18_2, cherry-pick

#9546 FileUploader - Implement API for customisation uploading process
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_2

#9547 DataGrid.ExcelJS - Set excel column width in accordance with DataGrid column width
  js/exporter/exceljs/excelExporter.js
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_1, cherry-pick

#9534 TreeList: Fix style for sort index icons
  styles/widgets/base/treeList.less
Labels: 19_2

#9555 DataGrid.ExcelJS - Avoid third party check error messages.
  js/exporter/exceljs/exportDataGrid.js
Labels: 19_2, cherry-pick

#9556 VectorMap. Projection by data
  js/viz/vector_map/vector_map.js
  testing/tests/DevExpress.viz.vectorMap/dxVectorMap.tests.js
Labels: 19_2

#9561 File Manager return incorrect directory content for the root folder in Web API provider
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/webapi.js
Labels: 19_2

#9562 DataGrid.ExcelJS - Handle WinPhone10/Lumia specifics in tests
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_1

#9550 Increase timeouts in vectorMapUtils tests
  testing/runner/Controllers/TestVectorMapDataController.cs
Labels: 19_2

#9560 DataGrid: Fix two way binding after expand master detail row (T810967)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#9559 DataGrid: Fix two way binding after expand master detail row (T810967)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#9549 Add template in tooltip
  js/viz/core/annotations.js
  js/viz/core/plaque.js
  js/viz/core/tooltip.js
  js/viz/docs/docObjectsDxFunnel.js
  js/viz/docs/docSankey.js
  js/viz/docs/doccharts.js
  js/viz/docs/docfunnel.js
  js/viz/docs/docgauges.js
  js/viz/docs/docsparklines.js
  js/viz/docs/doctreemap.js
  js/viz/docs/docvectormap.js
  js/viz/sankey/tooltip.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
  testing/tests/DevExpress.viz.sankey/sankey.tracker.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9557 ExcelJS - implementation of export only selected rows (#9541)
  js/exporter/exceljs/exportDataGrid.js
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 19_1, cherry-pick

#9569 Fix loadIndicator hiding issue(T811315)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 19_2, cherry-pick

#9568 Fix loadIndicator hiding issue(T811315)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 19_1

#9542 Update bottom paddings for TagBox with multiline elements (T808604)
  styles/widgets/generic/tagBox.generic.less
  styles/widgets/generic/textEditor.generic.less
Labels: 19_2

#9570 Fix loadIndicator hiding issue(T811315)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Labels: 18_2, cherry-pick

#9566 Fix tests for jquery 2 after #9376
  js/ui/grid_core/ui.grid_core.editing.js
Labels: 19_2

#9576 Custom textEditor buttons icons have incorrect vertical alignment inthe Material theme (T809959)
  styles/widgets/material/button.material.less
Labels: 19_1, cherry-pick

#9572 Fix HtmlEditor TS definitions after #9535
  js/ui/html_editor/ui.html_editor.js
  ts/dx.all.d.ts
Labels: 19_2

#9548 DataGrid: Add promise support to onInitNewRow
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/tree_list/ui.tree_list.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#9577 Update bottom paddings for TagBox with multiline elements (T808604)
  styles/widgets/generic/tagBox.generic.less
  styles/widgets/generic/textEditor.generic.less
Labels: 19_1, cherry-pick

#9574 List: should focus first item after changing selection mode (T811770)
  js/ui/collection/ui.collection_widget.base.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t718398.html
Labels: 19_2

#9578 List: should focus first item after changing selection mode (T811770)
  js/ui/collection/ui.collection_widget.base.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t718398.html
Labels: 19_1, cherry-pick

#9358 File Manager and Gantt - Add splitter and extract common parts of its functionality
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  js/ui/splitter.js
  styles/theme.less
  styles/widgets/common/fileManager.less
  styles/widgets/common/gantt.less
  styles/widgets/common/splitter.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/generic/splitter.generic.less
  styles/widgets/ios7/splitter.ios7.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/gantt.material.less
  styles/widgets/material/splitter.material.less
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/gantt.markup.tests.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Labels: 19_2

#9580 Fix pasting of the invalid list paragraph to the HtmlEditor from MS Word (T810378)
  js/ui/html_editor/matchers/wordLists.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 19_2

#9582 Fix HtmlEditor TS definitions after #9535 (#9572)
  js/ui/html_editor/ui.html_editor.js
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#9567 Fix TextBox editing in IE (T810808)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 19_2

#9583 Fix pasting of the invalid list paragraph to the HtmlEditor from MS Word (T810378) (#9580)
  js/ui/html_editor/matchers/wordLists.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 19_1, cherry-pick

#9585 Fix pasting of the invalid list paragraph to the HtmlEditor from MS Word (T810378) (#9580) (#9583)
  js/ui/html_editor/matchers/wordLists.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Labels: 18_2, cherry-pick

#9586 Fix TextBox editing in IE (T810808) (#9567)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 18_2, cherry-pick

#9587 Fix TextBox editing in IE (T810808) (#9567)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 19_1, cherry-pick

#9589 Splitter css fix
  styles/bundles/dx.common.less
Labels: 19_2

#9579 SelectBox: Fix items non-display when element focused out before search completion (T809439)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_2

#9590 TreeList: Fix changing the filterPanel.visible option to false (T812031)
  styles/widgets/common/gridBase.less
  styles/widgets/ui.less
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2

#9591 TreeList: Fix changing the filterPanel.visible option to false (T812031)
  styles/widgets/common/gridBase.less
  styles/widgets/ui.less
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_1, cherry-pick

#9573 Fix resize of appointment with custom view startDayHour & endDayHour (T804779)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/functional/tests/scheduler/resizeAppointments/basic.ts
  testing/functional/tests/scheduler/resizeAppointments/init/widget.setup.ts
  testing/functional/tests/scheduler/resizeAppointments/timeline.ts
Labels: 19_2

#9564 PivotGrid: Fix virtual scrolling did not work if there is no data (T810822)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 19_1, cherry-pick

#9563 PivotGrid: Fix virtual scrolling did not work if there is no data (T810822)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 19_2

#9581 FileManager - Replace internal file uploader with a standalone FileUploader widget
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_uploader.js
  styles/widgets/common/fileManager.less
  testing/helpers/fileManager/file_uploader.mock.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
Labels: 19_2

#9594 SelectBox: Fix items non-display when element focused out before search completion (T809439) (#9579)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_1

#9595 SelectBox: Fix items non-display when element focused out before search completion (T809439) (#9579)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 18_2

#9597 FileManager - FileProvider upload API simplification
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/ajax.js
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/onedrive.js
  js/ui/file_manager/file_provider/webapi.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  testing/helpers/fileManager/file_provider.test.js
Labels: 19_2

#9600 Add 'event' field to valueChanged event args
  js/viz/docs/docrangeselector.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
  js/viz/range_selector/tracker.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
  testing/tests/DevExpress.viz.rangeSelector/tracker.tests.js
  ts/dx.all.d.ts
Labels: 19_2, cherry-pick

#9599 Add 'event' field to valueChanged event args
  js/viz/docs/docrangeselector.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
  js/viz/range_selector/tracker.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
  testing/tests/DevExpress.viz.rangeSelector/tracker.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#9602 dxTextArea: remove preventing scrolling with touch events (T811266)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_1, cherry-pick

#9601 dxTextArea: remove preventing scrolling with touch events (T811266)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_2

#9603 dxTextArea: remove preventing scrolling with touch events (T811266)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 18_2, cherry-pick

#9596 dxViz: API for zooming in dxPolarChart
  js/docEnums.js
  js/viz/axes/base_axis.js
  js/viz/axes/polar_axes.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/core/utils.js
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9607 Default date for the DateBox with the "time" type should be equal for the "native" and "list" pickerType (T758357)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.js
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2

#9612 TextArea should have a scrollbar when it reaches its maximum height (T810339)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_2

#9608 File Manager - It's not possible to specify enpointUrl or url that points to a Razor Page handler (T805064)
  js/ui/file_manager/file_provider/webapi.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Labels: 19_2

#9613 Default date for the DateBox with the "time" type should be equal for the "native" and "list" pickerType (T758357) (#9607)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.js
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1, cherry-pick

#9614 TextArea should have a scrollbar when it reaches its maximum height (T810339) (#9612)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 19_1, cherry-pick

#9615 TextArea should have a scrollbar when it reaches its maximum height (T810339) (#9612)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 18_2, cherry-pick

#9565 Implement a basic Sortable component
  js/bundles/modules/parts/widgets-base.js
  js/ui/draggable.js
  js/ui/pivot_grid/ui.sortable.js
  js/ui/sortable.js
  styles/bundles/dx.common.less
  styles/widgets/common/sortable.less
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#9618 Improve rounding for scroll location calculation (T810287)
  js/ui/scroll_view/ui.scroll_view.simulated.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_2

#9619 dxChart: Fix setting the visualRange option by single edge (start/end)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_1

#9620 dxViz: Fix raising the option changed event by setting single edge of visualRange
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2

#9622 FilterBuilder: Fix hierarchical fields did not work (T812261)
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 19_1, cherry-pick

#9621 FilterBuilder: Fix hierarchical fields did not work (T812261)
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 19_2

#9623 Refactor HtmlEditor link formatting tests [fix after upgrade to quill@1.3.7]
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_2

#9624 Make the "ColorBox.showClearButton" option public (T812406)
  js/ui/color_box/color_box.js
Labels: 19_2

#9617 dxScheduler - fix wrong drag'n'drop movement
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/tooltip_strategies/desktopTooltipStrategy.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  styles/widgets/base/scheduler.less
  testing/helpers/pointerMock.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.draggingFromTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 19_2

#9592 Repaint appointments when changing editing option (T807933)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/editing.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
Labels: 19_2

#9626 Make ColorBox.showClearButton option public (T812406) (#9624)
  js/ui/color_box/color_box.js
Labels: 19_1, cherry-pick

#9628 Refactor HtmlEditor link formatting tests [fix after upgrade to quill@1.3.7] (#9623)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 18_2, cherry-pick

#9627 Refactor HtmlEditor link formatting tests [fix after upgrade to quill@1.3.7] (#9623)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_1, cherry-pick

#9630 File Manager - Web API Provider: generation end point test fix in IE browser
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Labels: 19_2

#9625 File Manager - It is not possible to create a new folder via the context menu in the Thumbnails view (T808568)
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 19_1

#9629 File Manager - Web API Provider: generation end point test fix in IE browser
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Labels: 19_1

#9631 dxScheduler - fix unit tests
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 19_2

#9604 TextEditor Fix Form value is not updated when using ngModel with a mask (T759547)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_2

#9640 TextEditor Fix Form value is not updated when using ngModel with a mask (T759547) (#9604)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 19_1, cherry-pick

#9633 Improve rounding for scroll location calculation (T810287)
  js/ui/scroll_view/ui.scroll_view.simulated.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_1, cherry-pick

#9634 Fix lags on scrolling on touch devices (T810771)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 19_1

#9641 Fix PivotGrid tests for IE
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  js/ui/pivot_grid/ui.sortable.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Labels: 19_2

#9642 NumberBox should correctly update the caret after entering a point or comma (T811070)
  js/ui/number_box/number_box.caret.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_2

#9605 dxOverlay: make it possible to change 'container' using defaultProps (T811495)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_2

#9647 dxOverlay: make it possible to change 'container' using defaultProps (T811495) (#9605)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 18_2, cherry-pick

#9639 DataGrid: Fix focus returned to cell from filter row after filtering (T809900)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#9638 DataGrid: Fix focus returned to cell from filter row after filtering (T809900)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_2

#9649 NumberBox must correctly update the caret after entering a point or comma (T811070) (#9642)
  js/ui/number_box/number_box.caret.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1, cherry-pick

#9650 NumberBox must correctly update the caret after entering a point or comma (T811070) (#9642)
  js/ui/number_box/number_box.caret.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick

#9648 Editor should be described by the validation message (T812250)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 19_2

#9651 Editor should be described by the validation message (T812250) (#9648)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 19_1, cherry-pick

#9652 Editor should be described by the validation message (T812250) (#9648)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 18_2, cherry-pick

#9653 Move File Providers to the DevExpress.fileProvider namespace
  build/gulp/modules_metadata.json
  js/bundles/modules/file_providers.js
  js/bundles/modules/parts/file_providers.js
  js/ui/file_manager/file_provider/ajax.js
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/webapi.js
  ts/dx.all.d.ts
Labels: 19_2

#9654 dxScheduler - fix nunit test in IE
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
Labels: 19_2

#9636 FileManager - Implement file validation options
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/ja.json
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.messages.js
  js/ui/file_uploader.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9658 Fix widget turns non-interactive after export (T813842)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_1, cherry-pick

#9657 Fix widget turns non-interactive after export (T813842)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_2

#9661 Fix vertical align of switch in the form (T813166)
  styles/widgets/material/form.material.less
Labels: 19_2

#9662 Fix vertical align of switch in the form (#9661)
  styles/widgets/material/form.material.less
Labels: 19_1, cherry-pick

#9663 Update quill to 1.3.7
  package.json
Labels: 19_2

#9664 Update quill to 1.3.7
  package.json
Labels: 19_1, cherry-pick

#9665 Update quill to 1.3.7
  package.json
Labels: 18_2, cherry-pick

#9656 dxPolar: Fix margin calculation for inverted linear axes
  js/viz/axes/polar_axes.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2

#9637 DataGrid - focused row style is incorrect on hover in multiple selection mode
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/gridBase.material.less
Labels: 19_1

#9646 dxOverlay: make it possible to change 'container' using defaultProps (T811495) (#9605)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 19_1, cherry-pick

#9669 DataGrid - focused row style is incorrect on hover in multiple selection mode
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/gridBase.material.less
Labels: 19_2, cherry-pick

#9644 DataGrid - The cancel argument in onFocusedRowChanging event args should prevent focus row if selection checkBox clicked (T812681)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#9668 DataGrid: FIx null ref error on right click in master detail template with table (T813135)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Labels: 18_2, cherry-pick

#9667 DataGrid: FIx null ref error on right click in master detail template with table (T813135)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Labels: 19_1, cherry-pick

#9666 DataGrid: FIx null ref error on right click in master detail template with table (T813135)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Labels: 19_2

#9671 Use the actual number of days in a month when changing the date using the keyboard (T812547)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_2

#9678 Sort modules alphabetically in dx.all.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 19_2

#9645 Improve sortable: Add sourceElement, fromIndex and toIndex arguments for onDragChange and onDragEnd events
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#9673 Grouped list can not reorder items (T727360)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t727360.html
Labels: 19_2

#9679 Sort modules alphabetically in dx.all.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 19_1, cherry-pick

#9670 DataGrid - Should be possible cancel focus row with tabindex
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1

#9632 Add doc comments for dxDraggable and dxSortable and some renames
  build/gulp/modules_metadata.json
  js/docEnums.js
  js/ui/color_box/color_view.js
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9684 FileManager - Fix metadata name error and remove OneDriveProvider from namespace
  build/gulp/modules_metadata.json
  js/bundles/modules/file_providers.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/onedrive.js
  ts/dx.all.d.ts
Labels: 19_2

#9680 Grouped list can not reorder items (T727360) (#9673)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t727360.html
Labels: 19_1, cherry-pick

#9683 DataGrid - Should be possible cancel focus row with tabindex (#9670)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1

#9686 Sortable: Fix devextreme-vue compilation by hiding filter option
  js/ui/sortable.js
  ts/dx.all.d.ts
Labels: 19_2

#9692 Fix MS Edge tests after #9690
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2

#9696 Improve sizes and icon position for underlined texteditor in the material theme (T809959)
  styles/widgets/material/button.material.less
Labels: 19_2

#9697 Fix jQuery 2 tests
  js/ui/validation_engine.js
Labels: 19_2

#9695 Sortable: Fix issue with dragging to empty list
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#9694 TextBox Fix Tapping the clear button triggers the valueChanged event (T812448)
  js/ui/text_box/ui.text_editor.clear.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 19_2

#9698 Sortable: Fix drag and drop with default filter without jquery
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#9700 TextBox Fix Tapping the clear button triggers the valueChanged event (T812448)
  js/ui/text_box/ui.text_editor.clear.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 19_1, cherry-pick

#9704 Fix NumberBox and DataGrid tests for MS Edge after #9690
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 19_2

#9643 Fix changing an item's option without re-render Form when using the itemOption method (T801789)
  js/ui/form/ui.form.item_option_action.js
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_1

#9708 Fix changing an item's option without re-render Form when using the itemOption method (T801789) (#9643)
  js/ui/form/ui.form.item_option_action.js
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 19_2, cherry-pick

#9709 Add module and export to the Devices doc comment
  js/core/devices.js
Labels: 18_2

#9710 Add module and export attributes to the Devices doc comment
  js/core/devices.js
Labels: 19_1, cherry-pick

#9711 Add module and export attributes to the Devices doc comment
  js/core/devices.js
Labels: 19_2, cherry-pick

#9677 DataGrid: Fix filter panel text when filtering a Lookup column with the "Is any of" condition if valueExpr is "key" (T813868)
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Labels: 19_1, cherry-pick

#9676 DataGrid: Fix filter panel text when filtering a Lookup column with the "Is any of" condition if valueExpr is "key" (T813868)
  js/ui/grid_core/ui.grid_core.header_filter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Labels: 19_2

#9713 TextBox Fix Tapping the clear button triggers the valueChanged event (T812448) - fix test
  js/ui/text_box/ui.text_editor.clear.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 19_2

#9723 Update devextreme-internal-tools to 1.1.0
  package.json
Labels: 19_2

#9718 TextEditor buttons should not trigger unexpected focus events (T811890) (#9690)
  js/ui/date_box/ui.date_box.mask.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/number_box/number_box.base.js
  js/ui/number_box/number_box.mask.js
  js/ui/select_box.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/widget/ui.widget.js
  testing/functional/model/selectBox.ts
  testing/functional/tests/editors/pages/selectBox.html
  testing/functional/tests/editors/selectBox.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 19_1, cherry-pick

#9719 Improve sizes and icon position for underlined texteditor in compact material theme (T809959)
  styles/widgets/material/textEditor.material.less
Labels: 19_2

#9722 Toolbar - Internal components ignore the "disabled" property if parent component is disabled (T744107)
  js/core/dom_component.js
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 19_2

#9715 Sortable: Add dropFeedbackMode and allowDropInside options, remove placeholderTemplate
  js/docEnums.js
  js/ui/sortable.js
  styles/theme.less
  styles/widgets/base/sortable.less
  styles/widgets/common/sortable.less
  styles/widgets/generic/sortable.generic.less
  styles/widgets/ios7/sortable.ios7.less
  styles/widgets/material/sortable.material.less
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#9724 TextBox Fix Tapping the clear button triggers the valueChanged event (T812448) - fix test
  js/ui/text_box/ui.text_editor.clear.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 19_1, cherry-pick
