Repository DevExpress/DevExtreme, pull requests merged in 2019-03, with the labels that each got.

#7102 Make dropdown button visible for readonly field templates (T718354) (#7068)
  styles/widgets/generic/dropDownEditor.generic.less
Labels: 18_2, cherry-pick

#7110 Fix Scheduler recurrence-icon offset (T718691, first step) (#7106)
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_1, cherry-pick

#7116 Convert Box and it's tests to ES6 syntax
  js/ui/box.js
  testing/tests/DevExpress.ui.widgets/box.markup.tests.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
Labels: 19_1

#7114 Update dx.all.d.ts
  ts/dx.all.d.ts
Labels: 19_1

#7118 Fix Scheduler timezone tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_1, cherry-pick

#7117 Fix Scheduler timezone tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 18_2

#7073 DataGrid should not scroll back to the focusedRow after change pageSize if virtualScrolling (T718905, T719205)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7119 Publish maxLength option for dxTagBox and dxDropDownBox (T717053)
  js/ui/drop_down_box.js
  js/ui/tag_box.js
Labels: 19_1

#7120 Publish maxLength option for dxTagBox and dxDropDownBox (T717053)
  js/ui/drop_down_box.js
  js/ui/tag_box.js
Labels: 18_2, cherry-pick

#7128 DataGrid should not scroll back to the focusedRow after change pageSize if virtualScrolling (T718905, T719205)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7122 Clear text in the dxNumberBox when clearButton clicked before change event (T718734)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 19_1

#7123 Clear text in the dxNumberBox when clearButton clicked before change event (T718734)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 18_2, cherry-pick

#7124 dxDataGrid: Fix the master-detail template when the rowTemplate option is used (T718316)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_1, cherry-pick

#7099 dxDataGrid: Fix the master-detail template when the rowTemplate option is used (T718316)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 18_2

#7115 Form: Change item.cssClass without rerendering, performance (T714157, T714782)
  js/ui/form/instance_storage.js
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.API.getEditor.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_formData.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.registerKeyHandler.tests.js
Labels: 19_1, cherry-pick

#7104 Publish 'stack' and 'barOverlapGroup' series fields
  js/viz/docs/docObjectsDxChart.js
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
Labels: 19_1

#7131 Return offset calculation for bar series
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 19_1

#6931 Wait for dblClick before caret moving to support numberBox selection on double click for ie11(T698588)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#7138 Fix bars order when barOverlapGrpup is set
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 19_1

#7135 DataGrid: Fix group summary footer updating on refresh with changesOnly flag (T719655)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#7136 DataGrid: Fix group summary footer updating on refresh with changesOnly flag (T719655)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 19_1, cherry-pick

#7126 DataGrid: Fix editing start on edit button click after scrolling if virtual scrolling mode is enabled (T717716)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 19_1, cherry-pick

#7127 DataGrid: Fix editing start on edit button click after scrolling if virtual scrolling mode is enabled (T717716)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2

#7139 Fix uncaught exception when a hovered series removed from the chart (T720002, T719994)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_1, cherry-pick

#7140 Fix uncaught exception when a hovered series removed from the chart (T720002, T719994)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 18_2

#7015 Add dxDropDownButton component
  build/gulp/modules_metadata.json
  build/style-compiler/LessRegistry.cs
  js/bundles/modules/parts/widgets-base.js
  js/ui/drop_down_button.js
  styles/widgets/android5/dropDownButton.android5.less
  styles/widgets/common/dropDownButton.less
  styles/widgets/generic/dropDownButton.generic.less
  styles/widgets/ios7/dropDownButton.ios7.less
  styles/widgets/material/dropDownButton.material.less
  styles/widgets/win10/dropDownButton.win10.less
  styles/widgets/win8/dropDownButton.win8.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#7137 Add autoprefixer to ThemeBuilder
  .eslintrc
  build/gulp/themebuilder-npm.js
  themebuilder/.npmignore
  themebuilder/modules/less-template-loader.js
  themebuilder/package.json
  themebuilder/tests/less-template-loader-spec.js
Labels: 19_1

#7143 Update bootstrap version
  package.json
  themebuilder/package.json
Labels: 18_2, cherry-pick

#7132 Save dropDown options when dropDownEditor repaints (T706671)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_1

#7133 Save dropDown options when dropDownEditor repaints (T706671)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 18_2, cherry-pick

#7134 Fix Scheduler dateTable width, grouped timelineMonth (T718364)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 18_2

#7141 Fix Scheduler dateTable width, grouped timelineMonth (T718364)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 19_1, cherry-pick

#7151 TreeList - Hide 'matchOnly' value from 'filterMode' option
  js/docEnums.js
  ts/dx.all.d.ts
Labels: 19_1

#7111 ActionButtons Feature - Stage 1. Collect all existing action buttons in one place
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/number_box/number_box.base.js
  js/ui/number_box/number_box.spins.js
  js/ui/select_box.js
  js/ui/tag_box.js
  js/ui/text_box/action_button_collection/button.js
  js/ui/text_box/action_button_collection/index.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.clear.js
  styles/widgets/common/numberBox.less
  styles/widgets/common/textEditor.less
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 19_1

#7121 DataGrid should skip groupped rows by Tab key navigation in editing if cell or batch editing mode (T715092)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#7149 Use right autoResizeEnabled in DropDownMenu (T720458)
  js/ui/drop_down_menu.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
Labels: 18_2

#7153 Use right autoResizeEnabled in DropDownMenu (T720458)
  js/ui/drop_down_menu.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
Labels: 19_1, cherry-pick

#7157 DataGrid should skip groupped rows by Tab key navigation in editing if cell or batch editing mode (T715092) (#7121)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1, cherry-pick

#7152 Get the version from package.json only (#6871) (#7020)
  build/gulp/context.js
  build/gulp/js-bundles.js
  build/gulp/transpile.js
  js/core/version.js
  package.json
  playground/webpack.config.dev.js
Labels: 18_1, cherry-pick

#7154 Viz. refactoring font patching
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/components/chart_theme_manager.js
  js/viz/core/base_theme_manager.js
  js/viz/core/base_widget.js
  js/viz/core/export.js
  js/viz/core/helpers.js
  js/viz/core/loading_indicator.js
  js/viz/core/title.js
  js/viz/core/tooltip.js
  js/viz/funnel/funnel.js
  js/viz/funnel/label.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/base_gauge.js
  js/viz/gauges/circular_gauge.js
  js/viz/gauges/common.js
  js/viz/gauges/linear_gauge.js
  js/viz/gauges/theme_manager.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/series_data_source.js
  js/viz/range_selector/theme_manager.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/sparklines/bullet.js
  js/viz/sparklines/sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/theme_manager.js
  js/viz/vector_map/vector_map.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.charts/themeManager.tests.js
  testing/tests/DevExpress.viz.core/baseThemeManager.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.gauges/rangeContainer.tests.js
  testing/tests/DevExpress.viz.gauges/themeManager.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
  testing/tests/DevExpress.viz.rangeSelector/themeManager.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
  testing/tests/DevExpress.viz.vectorMap/dxVectorMap.tests.js
  testing/tests/DevExpress.viz.vectorMap/themeManager.tests.js
  testing/tests/DevExpress.viz.vectorMap/vectorMapParts/commons.js
Labels: 19_1

#7146 dxTreeList - Fix collapsing the child nodes of a filtered node after sorting
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 19_1

#7155 DropDownEditor should not render placeholder if fieldTemplate is used (T626078)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_1

#7162 DropDownEditor should not render placeholder if fieldTemplate is used (T626078)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 18_2, cherry-pick

#7150 Clean data of deleted item (fix T715868)
  js/ui/collection/ui.collection_widget.edit.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: 19_1

#7164 Clean data of deleted item (fix T715868)
  js/ui/collection/ui.collection_widget.edit.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: 18_2, cherry-pick

#7163 get rid of native Array.find
  js/core/utils/array.js
  js/ui/text_box/action_button_collection/index.js
Labels: 19_1

#7172 Add label annotaiton
  js/viz/core/annotations.js
  js/viz/core/themes/generic.light.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#7166 DataGrid should restore focused row by the focusedRowIndex after row deleted (T720083)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 18_2

#7168 dxDataGrid - Fix wrong width of the fixed column after expanding a detail row (T719132)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2

#7169 dxDataGrid - Fix wrong width of the fixed column after expanding a detail row (T719132)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 19_1, cherry-pick

#7171 DataGrid: Fix grouping and ungrouping if repaintChangesOnly is enabled (T720721, T720597)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7170 DataGrid: Fix grouping and ungrouping if repaintChangesOnly is enabled (T720721, T720597)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7159 List: Fix store.push method if paging or grouping are defined
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 18_2

#7160 List: Fix store.push method if paging or grouping are defined
  js/ui/collection/ui.collection_widget.live_update.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 19_1, cherry-pick

#7161 DataGrid - Should not move focus to the previously edited cell if editing is canceled in the onEditingStart event handler (T718459)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 18_2

#7173 DataGrid should restore focused row by the focusedRowIndex after row deleted (T720083)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_1, cherry-pick

#7174 Add 'location' option to image annotations
  js/viz/core/annotations.js
  js/viz/core/themes/generic.light.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#7158 Replace inner options cache to the widget's level
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 19_1

#7176 Declare dxDropDownButtonOptions.itemTemplate
  js/ui/drop_down_button.js
  ts/dx.all.d.ts
Labels: 19_1

#7179 SPA framework: Remove layouts and tests
  build/gulp/layouts.js
  gulpfile.js
  layouts/Desktop/DesktopLayout.css
  layouts/Desktop/DesktopLayout.html
  layouts/Desktop/DesktopLayout.js
  layouts/Empty/EmptyLayout.css
  layouts/Empty/EmptyLayout.html
  layouts/Empty/EmptyLayout.js
  layouts/Navbar/NavbarLayout.css
  layouts/Navbar/NavbarLayout.html
  layouts/Navbar/NavbarLayout.js
  layouts/Pivot/PivotLayout.css
  layouts/Pivot/PivotLayout.html
  layouts/Pivot/PivotLayout.js
  layouts/Popup/PopupLayout.css
  layouts/Popup/PopupLayout.html
  layouts/Popup/PopupLayout.js
  layouts/Simple/SimpleLayout.css
  layouts/Simple/SimpleLayout.html
  layouts/Simple/SimpleLayout.js
  layouts/SlideOut/SlideOutLayout.css
  layouts/SlideOut/SlideOutLayout.html
  layouts/SlideOut/SlideOutLayout.js
  layouts/Split/SplitLayout.css
  layouts/Split/SplitLayout.html
  layouts/Split/SplitLayout.js
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.framework/html_navbarLayoutController.tests.js
  testing/tests/DevExpress.framework/html_navbarLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/html_pivotLayoutController.tests.js
  testing/tests/DevExpress.framework/html_pivotLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/html_popupLayoutController.tests.js
  testing/tests/DevExpress.framework/html_popupLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/html_slideoutLayoutController.tests.js
  testing/tests/DevExpress.framework/html_slideoutLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/html_splitLayoutController.tests.js
  testing/tests/DevExpress.framework/html_splitLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/html_win8SimpleLayoutController.tests.js
  testing/tests/DevExpress.framework/html_win8SimpleLayoutController_bundled.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_navbarLayoutController.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_pivotLayoutController.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_popupLayoutController.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_slideoutLayoutController.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_splitLayoutController.tests.js
  testing/tests/DevExpress.framework/layoutParts/html_win8SimpleLayoutController.tests.js
Labels: 19_1

#7178 viz.Renderer: Implement word wrap
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 19_1

#7145 Update caret position changing in NumberBox tests
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#7181 DataGrid - Should not move focus to the previously edited cell if editing is canceled in the onEditingStart event handler (T718459)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Labels: 19_1

#7180 Replace inner options cache to the widget's level
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 18_2, cherry-pick

#7148 Add autoprefixer to ThemeBuilder (#7137)
  .eslintrc
  build/gulp/themebuilder-npm.js
  themebuilder/.npmignore
  themebuilder/modules/less-template-loader.js
  themebuilder/package.json
  themebuilder/tests/less-template-loader-spec.js
Labels: 18_2, cherry-pick

#7144 Add a script that generates dx.all.d.ts
  build/update-ts.js
  package.json
  ts/dx.all.d.ts
Labels: 19_1

#7188 Wait for dblClick before caret moving to support numberBox selection on double click for IE11(T698588)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick

#7187 Fix devextreme-themebuilder npm package building
  build/gulp/themebuilder-npm.js
  package.json
  themebuilder/package.json
Labels: 19_1

#7198 Update version to 17.2.13
  js/core/version.js
  package.json
Labels: 17_2

#7200 Update version to 16.2.15
  js/core/version.js
  package.json
Labels: 16_2

#7199 Update version to 17.1.15
  js/core/version.js
  package.json
Labels: 17_1

#7196 Revert "dxDataGrid - Fix wrong width of the fixed column after expanding a detail row (T719132) (#7168)"
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2

#7197 Revert "dxDataGrid - Fix wrong width of the fixed column after expanding a detail row (T719132) (#7169)"
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 19_1, cherry-pick

#7190 Fix devextreme-themebuilder npm package building (#7187)
  build/gulp/themebuilder-npm.js
  package.json
  themebuilder/package.json
Labels: 18_2, cherry-pick

#7191 Update version to 18.2.7
  package.json
Labels: 18_2

#7192 DataGrid - Fix search highlighting if repaintChangedOnly is enabled (T721235)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 18_2, cherry-pick

#7193 DataGrid - Fix search highlighting if repaintChangedOnly is enabled (T721235)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: 19_1

#7202 DataGrid: Fix state restoring if virtual scrolling and pager is used (T721065)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7203 DataGrid: Fix state restoring if virtual scrolling and pager is used (T721065)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7204 DataGrid: Fix state resetting if widget contains lookup column with remote data source (T721368)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7205 DataGrid: Fix state resetting if widget contains lookup column with remote data source (T721368)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7208 DataGrid: Fix grouping in the Remote Grouping demo (T720420)
  js/ui/data_grid/ui.data_grid.grouping.expanded.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 18_2

#7209 DataGrid: Fix grouping in the Remote Grouping demo (T720420)
  js/ui/data_grid/ui.data_grid.grouping.expanded.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 19_1, cherry-pick

#7210 DataGrid - Fix E1046 error after adding row and virtual scrolling (T719938)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7211 DataGrid - Fix E1046 error after adding row and virtual scrolling (T719938)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7207 Fix rising valueChanged event handler issue (T717643)
  js/viz/range_selector/sliders_controller.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 19_1, cherry-pick

#7206 Fix rising valueChanged event handler issue (T717643)
  js/viz/range_selector/sliders_controller.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 18_2

#7215 Update DropDownEditor buttons container styles for the generic theme
  styles/widgets/generic/dropDownEditor.generic.less
Labels: 19_1

#7214 Refactor Drawer strategies
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
Labels: 18_2

#7216 Close submenu when the page is scrolled (T707970)
  js/ui/menu/ui.submenu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_1

#7219 Close submenu when the page is scrolled (T707970)
  js/ui/menu/ui.submenu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_2, cherry-pick

#7222 Close submenu when the page is scrolled (T707970)
  js/ui/menu/ui.submenu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 19_1, cherry-pick

#7221 dxDataGrid - Refix wrong width of the fixed column after expanding a detail row (T719132)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 19_1, cherry-pick

#7220 dxDataGrid - Refix wrong width of the fixed column after expanding a detail row (T719132)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 18_2

#7224 Update dx.all.d.ts
  ts/dx.all.d.ts
Labels: 19_1

#7185 Remove SPA framework
  build/gulp/modules_metadata.json
  js/bundles/modules/framework.js
  js/bundles/modules/parts/core.js
  js/framework/action_executors.js
  js/framework/application.js
  js/framework/browser_adapters.js
  js/framework/command.js
  js/framework/command_mapping.js
  js/framework/errors.js
  js/framework/html/command_container.js
  js/framework/html/command_manager.js
  js/framework/html/html_application.js
  js/framework/html/layout_controller.js
  js/framework/html/markup_component.js
  js/framework/html/presets.js
  js/framework/html/view_engine.js
  js/framework/html/view_engine_components.js
  js/framework/html/widget_command_adapters.js
  js/framework/navigation_devices.js
  js/framework/navigation_manager.js
  js/framework/router.js
  js/framework/state_manager.js
  js/framework/utils.js
  js/framework/view_cache.js
  styles/framework/common/framework.less
  testing/helpers/frameworkMocks.js
  testing/helpers/htmlFrameworkMocks.js
  testing/helpers/layoutHelper.js
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/Bundles/bundlesParts/framework.tests.js
  testing/tests/Bundles/dx.all.tests.js
  testing/tests/Bundles/dx.custom.tests.js
  testing/tests/Bundles/dx.mobile.tests.js
  testing/tests/Bundles/dx.viz-web.tests.js
  testing/tests/Bundles/dx.web.tests.js
  testing/tests/DevExpress.framework/__meta.json
  testing/tests/DevExpress.framework/actionExecutors.tests.js
  testing/tests/DevExpress.framework/application.tests.js
  testing/tests/DevExpress.framework/browserAdapters.tests.js
  testing/tests/DevExpress.framework/browserNavigationDevice.tests.js
  testing/tests/DevExpress.framework/command.tests.js
  testing/tests/DevExpress.framework/commandMapping.tests.js
  testing/tests/DevExpress.framework/frameworkParts/html_commandManager.markup.html
  testing/tests/DevExpress.framework/frameworkParts/html_layoutController.markup.html
  testing/tests/DevExpress.framework/frameworkParts/html_viewEngine.markup.html
  testing/tests/DevExpress.framework/frameworkParts/html_widgetCommandAdapters.markup.html
  testing/tests/DevExpress.framework/html_application.tests.js
  testing/tests/DevExpress.framework/html_commandManager.tests.js
  testing/tests/DevExpress.framework/html_layoutController.tests.js
  testing/tests/DevExpress.framework/html_markupComponent.tests.js
  testing/tests/DevExpress.framework/html_viewEngine.tests.js
  testing/tests/DevExpress.framework/html_widgetCommandAdapters.tests.js
  testing/tests/DevExpress.framework/navigationManager.tests.js
  testing/tests/DevExpress.framework/routing.tests.js
  testing/tests/DevExpress.framework/stateManager.tests.js
  testing/tests/DevExpress.framework/utils.tests.js
  testing/tests/DevExpress.framework/viewCache.tests.js
  testing/tests/DevExpress.performance/frameworkRenderStyleRecalculations.tests.js
  ts/dx.all.d.ts
Labels: 19_1

#7226 Fix test close submenu after #7222 (T707970)
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 19_1

#7225 Refactor Drawer strategies
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
Labels: 19_1, cherry-pick

#7165 Refactoring AppointmentLayoutManager
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#7212 Improved render performance: reduces the count of changes in DOM (T665469)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
Labels: 18_2

#7231 Fix Scheduler timelineMonth end view date calculation (T720694)
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Labels: 18_2

#7232 Refactoring AppointmentLayoutManager
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: cherry-pick

#7217 Fix Lookup field rendering after #6998 (T717174)
  js/ui/drop_down_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 18_2

#7218 Fix Lookup field rendering after #6993 (T717174)
  js/ui/color_box/color_box.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/number_box/number_box.base.js
  js/ui/number_box/number_box.mask.js
  js/ui/select_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 19_1

#7233 Improved render performance: reduces the count of changes in DOM (T665469)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
Labels: 19_1, cherry-pick

#7235 Remove the string type from types of onClick event in the Button (T721942)
  js/ui/button.js
  ts/dx.all.d.ts
Labels: 19_1

#7234 Fix Scheduler timelineMonth end view date calculation (T720694)
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Labels: 19_1, cherry-pick

#7242 Fix TextEditor test after #7218
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 19_1

#7245 Legend: Add text hint on marker (T721751)
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Labels: 19_1, cherry-pick

#7244 Legend: Add text hint on marker (T721751)
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Labels: 18_2

#7240 Update bootstrap version
  package.json
Labels: 17_1

#7239 Update bootstrap version
  package.json
Labels: 17_2

#7238 Update bootstrap version
  package.json
Labels: 18_1

#7246 Update buttons container width for invalid state for the material theme
  styles/widgets/material/textEditor.material.less
Labels: 19_1

#7247 Scheduler - qunit tests refactoring
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 18_2

#7248 Scheduler - qunit tests refactoring
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.appointments.layout_manager.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: cherry-pick

#7250 Scheduler - qunit tests refactoring
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1

#7251 Scheduler - qunit tests refactoring
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: 19_1, cherry-pick

#7229 Remove styles definitions used in the removed SPA framework
  build/style-compiler/LessRegistry.cs
  styles/widgets/android5/color-schemes/light/android5.light.less
  styles/widgets/android5/spa.android5.less
  styles/widgets/common/spa.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/spa.generic.less
  styles/widgets/ios7/color-schemes/default/ios7.default.less
  styles/widgets/ios7/spa.ios7.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/spa.material.less
  styles/widgets/win10/spa.win10.less
  styles/widgets/win8/spa.win8.less
Labels: 19_1

#7227 DataGrid - Fix column minWidth option if column width is set in percentages (T720298)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7228 DataGrid - Fix column minWidth option if column width is set in percentages (T720298)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7236 DataGrid - Fix exception on column visibility change via columns option (T722785)
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7237 DataGrid - Fix exception on column visibility change via columns option (T722785)
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7254 Scheduler - qunit tests refactoring
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
Labels: 19_1

#7255 Scheduler - qunit tests refactoring
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
Labels: 18_2, cherry-pick

#7243 Fix skipping mouse wheel event of ScrollView inside the contenteditable container (T721099)
  js/events/utils.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 18_2

#7260 Fix skipping mouse wheel event of ScrollView inside the contenteditable container (T721099)
  js/events/utils.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 19_1, cherry-pick

#7261 Remove usage of a deprecated API from the pointer mock
  testing/helpers/nativePointerMock.js
Labels: 19_1

#7262 Tooltip for annotation
  js/viz/chart_components/base_chart.js
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_1

#7265 Fix test close submenu after #7219 (T707970)
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_2, cherry-pick

#7266 Fix test close submenu after #7216 (T707970)
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 18_1, cherry-pick

#7182 Fix HtmlEditor image formatting
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 19_1

#7253 dxDataGrid: Fix band columns rendering in rtl mode when there are fixed and grouped columns (T721413)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 19_1, cherry-pick

#7252 dxDataGrid: Fix band columns rendering in rtl mode when there are fixed and grouped columns (T721413)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  styles/widgets/base/dataGrid.less
  styles/widgets/base/treeList.less
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 18_2

#7249 Fix Scheduler DST appointment rendering (T722757)
  js/core/utils/date.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 18_2

#7277 Fix Scheduler DST appointment rendering (T722757)
  js/core/utils/date.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 19_1, cherry-pick

#7275 Fix dxDrawer.opened declaration
  js/ui/drawer/ui.drawer.js
  ts/dx.all.d.ts
Labels: 19_1

#7276 Fix dxDrawer.opened declaration
  js/ui/drawer/ui.drawer.js
Labels: 18_2, cherry-pick

#7279 Fix Scheduler tests after merge
  js/ui/scheduler/ui.scheduler.subscribes.js
Labels: 18_2

#7282 DataGrid - Click by the first row on the next page should focus it without grid refresh if scrolling.mode is virtual and focusedRowEnabled is true (T722879)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1, cherry-pick

#7274 DataGrid - Click by the first row on the next page should focus it without grid refresh if scrolling.mode is virtual and focusedRowEnabled is true (T722879)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 18_2

#7281 Fix HtmlEditor tests for IE11
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
Labels: 19_1

#7286 Fix Scheduler recurrence editor visibility after occurence editing(T722522)
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 18_2

#7287 Fix Scheduler recurrence editor visibility after occurence editing(T722522)
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 19_1, cherry-pick

#7283 Fix long labels cutting in BarGauge (T723497)
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 18_2

#7284 Fix long labels cutting in BarGauge (T723497)
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 18_1, cherry-pick

#7285 Fix long labels cutting in BarGauge (T723497)
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 19_1

#7288 Fix resolveLabelOverlapping option changing in BarGauge (T723567)
  js/viz/gauges/bar_gauge.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 19_1

#7289 Save numberBox value selection after focus by Tab for IE and Edge (T717319)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_1

#7292 Save numberBox value selection after focus by Tab for IE and Edge (T717319)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 18_2, cherry-pick
