Repository DevExpress/DevExtreme, pull requests merged in 2020-12, with the labels that each got.

#15352 dxScheduler - add groups and groupIndex parameters to dateCellTemplate and timeCellTemplate
  js/ui/scheduler/ui.scheduler.table_creator.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
Labels: 21_1

#15461 DataGrid: Fix error when adding new row if rowTemplate and columnAutoWidth are used (T952701)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 21_1, cherry-pick

#15453 DataGrid: Fix error when adding new row if rowTemplate and columnAutoWidth are used (T952701)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#15462 DataGrid: Fix error when adding new row if rowTemplate and columnAutoWidth are used (T952701)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#15482 List - Fix dragging after scroll if pageLoadMode is scrollBottom
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 20_2, cherry-pick

#15481 List - Fix dragging after scroll if pageLoadMode is scrollBottom
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 21_1

#15425 DataGrid - Fix blank row after reordering if the columnFixing and remoteOperations options are enabled (T952492)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 21_1, cherry-pick

#15424 DataGrid - Fix blank row after reordering if the columnFixing and remoteOperations options are enabled (T952492)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_2

#15474 DataGrid - extends the rowInfo object declaration in the rowTemplate
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 20_2

#15475 DataGrid - extends the rowInfo object declaration in the rowTemplate (#15474)
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 21_1, cherry-pick

#15449 Update devextreme-quill version
  package.json
Labels: 21_1

#15450 Update devextreme-quill version
  package.json
Labels: 20_2, cherry-pick

#15480 Scheduler - Agenda refactoring
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 21_1

#15492 Extract ValidationRules interfaces
  js/renovation/ui/data_grid/props.tsx
  js/ui/data_grid.d.ts
  js/ui/form.d.ts
  js/ui/validation_engine.d.ts
  js/ui/validation_group.d.ts
  js/ui/validation_rules.d.ts
  js/ui/validator.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#15494 Remove dropDownButton in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownButton.scss
  scss/widgets/generic/dropDownButton/_index.scss
  scss/widgets/material/dropDownButton/_index.scss
Labels: 20_2

#15495 Remove loadindicator in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_loadIndicator.scss
  scss/widgets/generic/loadIndicator/_index.scss
  scss/widgets/material/loadIndicator/_index.scss
  testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
Labels: 20_2

#15496 Remove dropDownButton common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownButton.scss
  scss/widgets/generic/dropDownButton/_index.scss
  scss/widgets/material/dropDownButton/_index.scss
Labels: 21_1, cherry-pick

#15497 Remove loadindicator in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_loadIndicator.scss
  scss/widgets/generic/loadIndicator/_index.scss
  scss/widgets/material/loadIndicator/_index.scss
  testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
Labels: 21_1, cherry-pick

#15487 Remove calendar from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_calendar.scss
  scss/widgets/generic/calendar/_index.scss
  scss/widgets/material/calendar/_index.scss
Labels: 21_1

#15485 DataGrid/TreeList: Add component parameter to onDragStart
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.row_dragging.js
  ts/dx.all.d.ts
Labels: 20_2

#15385 Remove slider and rangeSlider styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_rangeSlider.scss
  scss/widgets/base/_slider.scss
  scss/widgets/generic/rangeSlider/_index.scss
  scss/widgets/generic/slider/_index.scss
  scss/widgets/material/rangeSlider/_index.scss
  scss/widgets/material/slider/_index.scss
  testing/tests/DevExpress.knockout/overlay.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Labels: 21_1

#15507 Extract ValidationRules interfaces (#15492)
  js/renovation/ui/data_grid/props.tsx
  js/ui/data_grid.d.ts
  js/ui/form.d.ts
  js/ui/validation_engine.d.ts
  js/ui/validation_group.d.ts
  js/ui/validation_rules.d.ts
  js/ui/validator.d.ts
Labels: 20_2

#15506 Remove slider and rangeSlider styles from dx.common.css (#15385)
  scss/bundles/dx.common.scss
  scss/widgets/base/_rangeSlider.scss
  scss/widgets/base/_slider.scss
  scss/widgets/generic/rangeSlider/_index.scss
  scss/widgets/generic/slider/_index.scss
  scss/widgets/material/rangeSlider/_index.scss
  scss/widgets/material/slider/_index.scss
  testing/tests/DevExpress.knockout/overlay.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
Labels: 20_2, cherry-pick

#15508 TagBox should remove selected items from list data source when hideSelectedItems=true even if minSearchLength is specified (T951777)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#15465 DateBox with pickerType=rollers should scroll date view rollers to selected item correctly even when valueChangeEvent is keyup and value is changed using kbn (T948310)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view.js
  js/ui/date_box/ui.date_view_roller.js
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/tests/editors/dateBox.ts
  testing/testcafe/tests/editors/pages/T948310.html
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_1

#15488 Remove docid tag values for Viz widgets
  js/viz/bar_gauge.d.ts
  js/viz/bullet.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/circular_gauge.d.ts
  js/viz/common.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/docs/docBaseWidget.js
  js/viz/docs/docGaugeIndicators.js
  js/viz/docs/docObjectsBaseChart.js
  js/viz/docs/docObjectsDxChart.js
  js/viz/docs/docObjectsDxFunnel.js
  js/viz/docs/docObjectsDxPieChart.js
  js/viz/docs/docObjectsDxPolarChart.js
  js/viz/docs/docObjectsDxSankey.js
  js/viz/docs/docObjectsDxTreeMap.js
  js/viz/docs/docObjectsDxVectorMap.js
  js/viz/docs/docSankey.js
  js/viz/docs/docStatic.js
  js/viz/docs/doccharts.js
  js/viz/docs/docchartseries.js
  js/viz/docs/docfunnel.js
  js/viz/docs/docgauges.js
  js/viz/docs/docpiechartseries.js
  js/viz/docs/docpolarchartseries.js
  js/viz/docs/docrangeselector.js
  js/viz/docs/docsparklines.js
  js/viz/docs/doctreemap.js
  js/viz/docs/docvectormap.js
  js/viz/funnel.d.ts
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/base_gauge.d.ts
  js/viz/gauges/base_gauge.js
  js/viz/gauges/circular_gauge.js
  js/viz/gauges/common.js
  js/viz/gauges/linear_gauge.js
  js/viz/linear_gauge.d.ts
  js/viz/pie_chart.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/sparkline.d.ts
  js/viz/sparklines/base_sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  js/viz/vector_map/projection.d.ts
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
Labels: 21_1

#15509 dxScheduler - delete non-working test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 21_1

#15512 TagBox should remove selected items from list data source when hideSelectedItems=true even if minSearchLength is specified (T951777) (#15508)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#15514 DateBox with pickerType=rollers should scroll date view rollers to selected item correctly even when valueChangeEvent is keyup and value is changed using kbn (T948310) (#15465)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view.js
  js/ui/date_box/ui.date_view_roller.js
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/tests/editors/dateBox.ts
  testing/testcafe/tests/editors/pages/T948310.html
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#15501 Remove switch in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_switch.scss
  scss/widgets/generic/switch/_index.scss
  scss/widgets/material/switch/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
Labels: 20_2

#15502 Remove progressBar in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_progressBar.scss
  scss/widgets/generic/progressBar/_index.scss
  scss/widgets/material/progressBar/_index.scss
  testing/tests/DevExpress.ui.widgets/progressBar.markup.tests.js
  testing/tests/DevExpress.ui.widgets/progressBar.tests.js
Labels: 20_2

#15499 Remove calendar from dx.common.css (#15487)
  scss/bundles/dx.common.scss
  scss/widgets/base/_calendar.scss
  scss/widgets/generic/calendar/_index.scss
  scss/widgets/material/calendar/_index.scss
Labels: 20_2, cherry-pick

#15505 ScrollView - move to separate folder
  js/bundles/modules/parts/renovation.js
  js/bundles/modules/parts/widgets-renovation.js
  js/renovation/ui/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/types.d.ts
  package.json
  testing/tests/Renovation/compatibility.test.js
Labels: 21_1, cherry-pick, renovation

#15520 Add font carrier in devDependencies
  docker-ci.sh
  package.json
Labels: 20_2

#15521 Add font-carrier package in devDependencies
  docker-ci.sh
  package.json
Labels: 21_1, cherry-pick

#14912 dxScheduler - create a phantom draggable appointment
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/constants.js
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 20_2

#15493 wrap renovated widget for qunit tests in gulp tasks
  build/gulp/context.js
  build/gulp/generator/gulpfile.js
  build/gulp/js-bundles.js
  build/gulp/overwrite-qunit-renovation-widget.js
  build/gulp/overwrite-renovation-widget.js
  build/gulp/renovation-pipes.js
  build/gulp/transpile.js
  js/bundles/modules/parts/renovation.js
  js/bundles/modules/parts/widgets-renovation.js
  js/events/core/keyboard_processor.js
  js/renovation/preact_wrapper/__tests__/component.test.tsx
  js/renovation/preact_wrapper/component.ts
  testing/helpers/dataGridHelper.js
  testing/helpers/renovationPagerHelper.js
  testing/helpers/wrapRenovatedWidget.js
  testing/launch
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
  testing/tests/DevExpress.ui/keyboardProcessor.tests.js
  testing/tests/Renovation/compatibility.test.js
Labels: 21_1

#15525 Scrollable - add scrollable
  jest.config.js
  js/renovation/ui/scroll_view/scrollable.tsx
Labels: 21_1, renovation

#15516 Remove unused styles and fix screenshot tests
  scss/widgets/base/_slider.scss
Labels: 20_2

#15332 Run testcafe tests in concurrency mode
  .github/workflows/testcafe_tests.yml
  testing/testcafe/runner.js
  testing/testcafe/tests/scheduler/deleteAppointments.ts
  testing/testcafe/tests/scheduler/workSpace.ts
Labels: 21_1

#15530 Scrollable - check incorrect params passed to scrollToElement
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1

#15527 Circular&linear gauges. Draw subvalueIndicators under valueIndicators(T953122)
  js/viz/gauges/common.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
Labels: 21_1

#15528 Circular&linear gauges. Draw subvalueIndicators under valueIndicators(T953122)
  js/viz/gauges/common.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
Labels: 20_2, cherry-pick

#15500 Remove resizable in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_resizable.scss
  scss/widgets/generic/_index.scss
  scss/widgets/material/_index.scss
  testing/tests/DevExpress.ui.widgets/resizable.markup.tests.js
  testing/tests/DevExpress.ui.widgets/resizable.tests.js
Labels: 20_2

#15517 Tabs added in runtime don't have accessibility `role` attributes if repaintChangesOnly is "true" (T953552)
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 21_1

#15531 Remove lookup in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_lookup.scss
  scss/widgets/generic/lookup/_index.scss
  scss/widgets/material/lookup/_index.scss
Labels: 21_1, cherry-pick

#15513 DateBox with pickerType=rollers should scroll date view rollers to selected item correctly even when valueChangeEvent is keyup and value is changed using kbn (T948310) (#15465)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view.js
  js/ui/date_box/ui.date_view_roller.js
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/tests/editors/dateBox.ts
  testing/testcafe/tests/editors/pages/T948310.html
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_2, cherry-pick

#15511 TagBox should remove selected items from list data source when hideSelectedItems=true even if minSearchLength is specified (T951777) (#15508)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#15519 Tabs added in runtime don't have accessibility `role` attributes if repaintChangesOnly is "true" (T953552)
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 20_1

#15518 Tabs added in runtime don't have accessibility `role` attributes if repaintChangesOnly is "true" (T953552)
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 20_2, cherry-pick

#15532 Remove switch in dx.common.css (#15501)
  scss/bundles/dx.common.scss
  scss/widgets/base/_switch.scss
  scss/widgets/generic/switch/_index.scss
  scss/widgets/material/switch/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/switch.markup.tests.js
Labels: 21_1, cherry-pick

#15533 Remove progressBar in dx.common.css (#15502)
  scss/bundles/dx.common.scss
  scss/widgets/base/_progressBar.scss
  scss/widgets/generic/progressBar/_index.scss
  scss/widgets/material/progressBar/_index.scss
  testing/tests/DevExpress.ui.widgets/progressBar.markup.tests.js
  testing/tests/DevExpress.ui.widgets/progressBar.tests.js
Labels: 21_1, cherry-pick

#15544 Remove resizable in dx.common.css (#15500)
  scss/bundles/dx.common.scss
  scss/widgets/base/_resizable.scss
  scss/widgets/generic/_index.scss
  scss/widgets/material/_index.scss
  testing/tests/DevExpress.ui.widgets/resizable.markup.tests.js
  testing/tests/DevExpress.ui.widgets/resizable.tests.js
Labels: 21_1, cherry-pick

#15549 ContextMenu - fix closing by Esc (part of T952882)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 21_1

#15546 Remove unused styles and fix screenshot tests (#15516)
  scss/widgets/base/_slider.scss
Labels: 21_1, cherry-pick

#15498 Remove lookup in dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_lookup.scss
  scss/widgets/generic/lookup/_index.scss
  scss/widgets/material/lookup/_index.scss
Labels: 20_2

#15555 Tabs - repair GA tests after fix T953552
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 21_1

#15557 Tabs - repair GA tests after fix T953552
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 20_2, cherry-pick

#15558 Tabs - repair GA tests after fix T953552
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Labels: 20_1, cherry-pick

#15400 dxScheduler - show a border between the DateTable and TimePanel when virtual scrolling and crossScrollingEnabled are used
  js/renovation/ui/scheduler/workspaces/base/__tests__/row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-cell.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-row.tsx
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 21_1, renovation

#15522 DataGrid - Moves tests fixed columns tests from dataGrid.tests to columnFixing.integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#15523 DataGrid - Moves tests fixed columns tests from dataGrid.tests to columnFixing.integration.tests (#15522)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 21_1, cherry-pick

#15524 DataGrid - Moves tests fixed columns tests from dataGrid.tests to columnFixing.integration.tests (#15522)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#15489 dxScheduler - provide correct targetedAppointmentData for onAppointmentClick when a tooltip's list item is clicked
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Labels: 21_1

#15526 File Manager - Disable inaccessible nodes in the folder chooser dialog (T939043)
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog_manager.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 21_1

#15559 File Manager - Disable inaccessible nodes in the folder chooser dialog (T939043)
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog_manager.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_2, cherry-pick

#15556 File Manager - Disable inaccessible nodes in the folder chooser dialog (T939043)
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog_manager.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1, cherry-pick

#15469 DataGrid: Fix focus overlay stayed after cancel new row editing via escape (T952470)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 20_2

#15503 DataGrid: Fix focus overlay stayed after cancel new row editing via escape (T952470)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 20_1, cherry-pick

#15504 DataGrid: Fix focus overlay stayed after cancel new row editing via escape (T952470)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 21_1, cherry-pick

#15476 Menu - fix keyboard navigation (T952461)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 21_1

#15535 DataGrid - Moves row dragging and column resizing tests from dataGrid.tests to (rowDragging/columnResizing).integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: 20_2

#15536 DataGrid - Moves row dragging and column resizing tests from dataGrid.tests to (rowDragging/columnResizing).integration.tests (#15535)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: 21_1, cherry-pick

#15562 DataGrid - Moves row dragging and column resizing tests from dataGrid.tests to (rowDragging/columnResizing).integration.tests (#15535)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: 20_1, cherry-pick

#15561 dxScheduler - use timeZoneConverter in navigator(T948280)
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.navigator.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 21_1, cherry-pick

#15510 dxScheduler - use timeZoneConverter in navigator(T948280)
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.navigator.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 20_2

#15541 Failed test(s) screenshot
  .gitignore
  .testcaferc.json
Labels: 21_1

#15571 Menu & ContextMenu - fix keyboard navigation (T952461)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 20_2, cherry-pick

#15572 Menu & ContextMenu - fix keyboard navigation (T952461)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 20_1, cherry-pick

#15573 Revert #15261 (T955542)
  js/ui/drop_down_box.js
Labels: 21_1

#15574 Revert #15261 (T955542)
  js/ui/drop_down_box.js
Labels: 20_2, cherry-pick

#15575 Revert #15261 (T955542)
  js/ui/drop_down_box.js
Labels: 20_1, cherry-pick

#15564 Run QUnit for renovated widget in github actions
  .github/workflows/qunit_tests.yml
  build/gulp/transpile.js
  docker-ci.sh
  js/renovation/preact_wrapper/component.ts
Labels: 21_1, renovation

#15576 File Manager - Temporarily disable tests for T939043
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 21_1

#15577 File Manager - Temporarily disable tests for T939043
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_2, cherry-pick

#15579 File Manager - Temporarily disable tests for T939043
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1, cherry-pick

#15560 Datagrid export to PDF - implement loadPanel option
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/commonParts/loadPanel.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: 21_1, WIP

#15547 dxScheduler - refactor dragging from tooltip
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/compactAppointmentsHelper.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_2

#15540 Scheduler - Virtual Scrolling - Fix recurrent appointment duplicate render
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#15581 dxScheduler - fix dark or high contrast themes(T953922)
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/base/scheduler/_tooltip.scss
  scss/widgets/generic/scheduler/_colors.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_colors.scss
  scss/widgets/material/scheduler/_index.scss
Labels: 20_2

#15582 dxScheduler - fix dark or high contrast themes(T953922)
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/base/scheduler/_tooltip.scss
  scss/widgets/generic/scheduler/_colors.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_colors.scss
  scss/widgets/material/scheduler/_index.scss
Labels: 21_1, cherry-pick

#15569 Scheduler - Virtual Scrolling - Correct render appointment by viewport
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#15583 dxScheduler - show a border between the DateTable and TimePanel when virtual scrolling and crossScrollingEnabled are used
  js/renovation/ui/scheduler/workspaces/base/__tests__/row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-cell.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-row.tsx
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 20_2, cherry-pick

#15543 dxScheduler - create a phantom draggable appointment
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/constants.js
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1, cherry-pick

#15550 DataGrid - Moves state storing, adaptive columns and column chooser tests to (stateStoring/adaptiveColumns/columnChooser).integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
Labels: 20_2

#15551 DataGrid - Moves state storing, adaptive columns and column chooser tests to (stateStoring/adaptiveColumns/columnChooser).integration.tests (#15550)
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
Labels: 21_1, cherry-pick

#15566 DataGrid - Moves state storing, adaptive columns and column chooser tests to (stateStoring/adaptiveColumns/columnChooser).integration.tests (#15550)
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
Labels: 20_1, cherry-pick

#15592 dxScheduler - refactor dragging from tooltip
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/compactAppointmentsHelper.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 21_1, cherry-pick

#15591 Scheduler - Virtual scrolling integration tests refactoring
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#15587 Fix native DateBox picker for iOS devices (T950897)
  js/ui/date_box/ui.date_box.strategy.native.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_2

#15584 Datagrid export to PDF - implement loadPanel option (#15560)
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/commonParts/loadPanel.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: 20_2, cherry-pick

#15586 fix T692907: ajax utils should execute functional data fields
  js/core/utils/ajax.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 21_1

#15548 ScrollView - add scrollview
  jest.config.js
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollview.test.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#15585 Export to PDF - add definition for loadPanel option
  js/excel_exporter.d.ts
  js/exporter/export_load_panel.d.ts
  js/pdf_exporter.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#15596 Fix native DateBox picker for iOS devices (T950897) (#15587)
  js/ui/date_box/ui.date_box.strategy.native.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#15595 Fix native DateBox picker for iOS devices (T950897) (#15587)
  js/ui/date_box/ui.date_box.strategy.native.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_1, cherry-pick

#15600 Fix updating an image in a HtmlEditor if it was the first item (T952474)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_2

#15598 Scheduler - Correct render duplicate recurrent appointments
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 20_2, cherry-pick

#15606 Fix updating an image in a HtmlEditor if it was the first item (T952474) (#15600)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_1, cherry-pick

#15593 Hide helpText in form if template used (material) (T949269)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: 21_1

#15601 Replace "removeAttr" method with "prop" for Boolean properties (T955952)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.markup.tests.js
Labels: 20_2

#15608 Add 'generic_light.css' style in tests for dxContextMenu
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 20_2

#15605 Fix updating an image in a HtmlEditor if it was the first item (T952474) (#15600)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 21_1, cherry-pick

#15594 fix T692907: ajax utils should execute functional data fields (#15586)
  js/core/utils/ajax.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 20_1, cherry-pick

#15589 fix T692907: ajax utils should execute functional data fields
  js/core/utils/ajax.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
Labels: 20_2, cherry-pick

#15609 Hide helpText in form if template used (material) (T949269) (#15593)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: 20_2, cherry-pick

#15611 Replace "removeAttr" method with "prop" for Boolean properties (T955952) (#15601)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.markup.tests.js
Labels: 21_1, cherry-pick

#15610 Add 'generic_light' style in tests (#15608)
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 21_1, cherry-pick

#15612 Replace "removeAttr" method with "prop" for Boolean properties (T955952) (#15601)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.markup.tests.js
Labels: 20_1, cherry-pick

#15599 ScrollView - extract common parts to utils
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_utils.ts
  js/renovation/ui/scroll_view/types.d.ts
Labels: 21_1, renovation

#15607 Scheduler - Deprecate some tests with scrolling for devices
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#15622 Scheduler - Deprecate some tests with scrolling for devices
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 20_2, cherry-pick

#15602 Export to PDF - add definition for loadPanel option (#15585)
  js/excel_exporter.d.ts
  js/exporter/export_load_panel.d.ts
  js/pdf_exporter.d.ts
  ts/dx.all.d.ts
Labels: 20_2, cherry-pick

#15615 Hide helpText in form if template used (material) (T949269) (#15593)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: 20_1, cherry-pick

#15567 TagBox text option value should be equal to input text (T953792, T953788)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#15471 dxChart - Tooltip renovation (step #1)
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/common/__tests__/tooltip_utils.test.tsx
  js/renovation/viz/core/common/tooltip_utils.ts
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/renderers/svg_path.tsx
  js/renovation/viz/core/renderers/svg_text.tsx
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#15603 dxScheduler - publish scrollTo method
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#15625 ScrollView - generalization test scenarios before fix T936630
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: 20_2, cherry-pick

#15621 ScrollView - fix test configuration
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
Labels: 21_1, renovation

#15638 Scheduler - Appointment model should take into account current view "startDayHour", "endDayHour"
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
Labels: 21_1

#15639 Scheduler - Appointment model should take into account current view "startDayHour", "endDayHour"
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
Labels: 20_2, cherry-pick

#15644 TreeView - use default scrollable strategy
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: 20_2

#15578 ScrollView - generalization common parts before fix T936630
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: 21_1

#15645 Scheduler - Ignore blinking scroll tests for mobile
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#15646 Scheduler - Ignore blinking scroll tests for mobile
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 20_2, cherry-pick

#15637 TagBox text option change tests should wait until tagbox opens
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#15631 TagBox text option value should be equal to input text (T953792, T953788) (#15567)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#15630 TagBox text option value should be equal to input text (T953792, T953788) (#15567)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#15545 dropDownLists - support container limits for popup position calculation (T948335)
  js/animation/position.js
  js/core/utils/position.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/overlay/ui.overlay.js
  testing/helpers/positionFixtures.js
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.core/utils.position.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 21_1

#15643 dxScheduler - publish scrollTo method (#15603)
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 20_2, cherry-pick

#15654 Fix keyboard navigation between HtmlEditor list items (T948274)
  scss/widgets/base/_htmlEditor.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/quillMarkup.tests.js
Labels: 20_2

#15542 dropDownLists - support container limits for popup position calculation (T948335)
  js/animation/position.js
  js/core/utils/position.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/overlay/ui.overlay.js
  testing/helpers/positionFixtures.js
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.core/utils.position.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 20_2, cherry-pick

#15656 Fix keyboard navigation between HtmlEditor list items (T948274) (#15654)
  scss/widgets/base/_htmlEditor.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/quillMarkup.tests.js
Labels: 21_1, cherry-pick

#15620 dxScheduler - remove converting recurrence exception(T923667)
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/recurrence.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
Labels: 21_1

#15640 dxScheduler - remove converting recurrence exception(T923667)
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/recurrence.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
Labels: 20_2, cherry-pick

#15490 Viz - Bullet renovation
  js/bundles/modules/parts/renovation.js
  js/renovation/viz/core/__tests__/base_widget.test.tsx
  js/renovation/viz/core/base_props.ts
  js/renovation/viz/core/base_widget.tsx
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/renderers/__tests__/gray_scale_filter.test.tsx
  js/renovation/viz/core/renderers/__tests__/pattern.test.tsx
  js/renovation/viz/core/renderers/__tests__/shadow_filter.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_path.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_rect.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_root.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/core/renderers/base_props.ts
  js/renovation/viz/core/renderers/svg_path.tsx
  js/renovation/viz/core/renderers/svg_root.tsx
  js/renovation/viz/core/renderers/svg_text.tsx
  js/renovation/viz/core/renderers/utils.ts
  js/renovation/viz/core/utils.ts
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
  js/renovation/viz/sparklines/utils.ts
  testing/tests/Renovation/compatibility.test.js
Labels: 21_1, renovation

#15641 Scheduler - Appointment model tests refactoring -> ES6
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
Labels: 21_1

#15642 Scheduler - Appointment model tests refactoring -> ES6
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
Labels: 20_2, cherry-pick

#15660 Drawer - rollback T948509 changes (T956751)
  js/ui/drawer/ui.drawer.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 20_2

#15663 Menu - The onItemClick event handler is not updated in Submenu (T955742)
  js/ui/menu/ui.menu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 20_2, cherry-pick
