Repository DevExpress/DevExtreme, pull requests merged in 2020-09, with the labels that each got.

#14364 Fix the visibility of item when it is located inside the group and item is changed outside group (T918350)
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: 20_1

#14417 Fix the visibility of item when it is located inside the group and item is changed outside group (T918350)
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: 20_2, cherry-pick

#14421 Scheduler - Embedding tests in modules
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 20_2

#14392 List: it should be possible to subscribe on `itemSwipe` event using `on` method (T926077)
  js/ui/list/ui.list.base.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 20_2

#14393 List: it should be possible to subscribe on `itemSwipe` event using `on` method (T926077)
  js/ui/list/ui.list.base.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 20_1, cherry-pick

#14422 DropDownButton should not try to load selectedItem when it's undefined (T925687)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_2

#14424 DropDownButton should not try to load selectedItem when it's undefined (T925687) (#14422)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_1, cherry-pick

#14428 Export - exclude import DataGrid & PivotGrid from utility
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.option.tests.js
Labels: 20_1

#14403 Remove doccomments for dxzoom event
  js/events/transform.js
Labels: 20_2

#14429 Export - exclude import DataGrid & PivotGrid from utility
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.option.tests.js
Labels: 20_2, cherry-pick

#14402 DataGrid PDF Export - Columns widths for exported table
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdfTestHelper.js
Labels: 20_2

#14420 Integrate the Quill fork
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/formats/align.js
  js/ui/html_editor/formats/font.js
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/formats/link.js
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/formats/size.js
  js/ui/html_editor/formats/variable.js
  js/ui/html_editor/matchers/newLine.js
  js/ui/html_editor/matchers/textDecoration.js
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/modules/popup.js
  js/ui/html_editor/modules/resizing.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/variables.js
  js/ui/html_editor/modules/widget_collector.js
  js/ui/html_editor/quill_importer.js
  js/ui/html_editor/themes/base.js
  js/ui/html_editor/ui.html_editor.js
  package.json
  playground/angular/config.js
  testing/helpers/ignoreQuillTimers.js
  testing/helpers/nativePointerMock.js
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/importQuill.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  webpack.config.js
Labels: 20_2

#14431 Fix blinking HtmlEditor tests
  testing/helpers/ignoreQuillTimers.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Labels: 20_2

#14418 DataGrid: Reanimate renovated DataGrid wrapper, add methods and configure qunit tests.
  js/bundles/modules/parts/widgets-renovation.js
  js/renovation/ui/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/data_grid/data_grid.tsx
  testing/helpers/dataGridHelper.js
  testing/tests/Renovation/compatibility.test.js
Labels: 20_2

#14425 DataGrid: Fix auto navigation to focused row if grouping and virtual scrolling are enabled after fix two pages loading on start
  js/ui/data_grid/ui.data_grid.grouping.collapsed.js
  testing/testcafe/tests/dataGrid/focusedRow.ts
Labels: 20_2

#14416 dxScheduler - clean renovated views correctly
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2, renovation

#14264 DataGrid/TreeList: Implement new editing events
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14410 Changes for pager workarounds:
  js/docEnums.js
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/pager.test.tsx
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/page_size/__tests__/selector.test.tsx
  js/renovation/ui/pager/page_size/selector.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.pager.js
  ts/dx.all.d.ts
Labels: 20_2, renovation

#14415 Timezones list renewal in Scheduler
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/timezones/ui.scheduler.timezone_editor.js
  js/ui/scheduler/timezones/ui.scheduler.timezones.js
  js/ui/scheduler/timezones/ui.scheduler.timezones_data.js
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezoneEditor.tests.js
Labels: 20_2

#14426 Remove popover styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/popover/_index.scss
  scss/widgets/base/popover/_mixins.scss
  scss/widgets/common/_slider.scss
  scss/widgets/generic/popover/_index.scss
  scss/widgets/material/popover/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 20_2

#14263 dxScheduler - add templates to views
  js/renovation/ui/scheduler/consts.ts
  js/renovation/ui/scheduler/types.d.ts
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/header_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/month/header_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/month/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/renovation/ui/scheduler/workspaces/utils.ts
  js/renovation/ui/scheduler/workspaces/week/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2, renovation

#14439 Fix tests in MS Edge
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Labels: 20_2

#14419 DropDownButton: selectedItem should be kept after dataSource reload when new dataSource includes selectedItemKey (T919804)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_2

#14423 dxScheduler - prevent borders from flickering when virtual scrolling is used
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#14444 DropDownButton: selectedItem should be kept after dataSource reload when new dataSource includes selectedItemKey (T919804) (#14419)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_1, cherry-pick

#14430 Fix editors padding in form without labels (T924055)
  js/ui/form/ui.form.js
  styles/widgets/material/form.material.less
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: 20_1

#14442 DataGrid - Speed up TestCafe tests
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#14446 Fix 'America/Indiana/Indianapolis' timezone setting in Scheduler (T913941)
  js/ui/scheduler/timezones/ui.scheduler.timezones_data.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_1

#14437 TreeList: Fix node selection with id equal to 0 (T927652)
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 20_2, cherry-pick

#14436 TreeList: Fix node selection with id equal to 0 (T927652)
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 20_1, cherry-pick

#14435 TreeList: Fix node selection with id equal to 0 (T927652)
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 19_2

#14368 Add props and the content, scrollBy, scrollTo, scrollToElement methods to the ScrollView
  js/core/utils/type.d.ts
  js/renovation/ui/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view.tsx
Labels: 20_2, renovation

#14382 dxScheduler- refactoring settingsGenerator and timeZoneConverter
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/dateAdapter.js
  js/ui/scheduler/recurrence.js
  js/ui/scheduler/timeZoneCalculator.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeZoneCalculator.test.js
Labels: 20_2

#14432 List should set dataSource pageIndex to 0 on init (T915805)
  js/ui/list/ui.list.base.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 20_2

#14448 List should set dataSource pageIndex to 0 on init (T915805) (#14432)
  js/ui/list/ui.list.base.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 20_1, cherry-pick

#14443 Create editing.changes public option
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14447 Fix 'America/Indiana/Indianapolis' timezone setting in Scheduler (T913941)
  js/ui/scheduler/timezones/ui.scheduler.timezones_data.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 19_2, cherry-pick

#14434 Add timezones data generator for Scheduler
  build/gulp/create_timezones_data.js
  gulpfile.js
  package.json
Labels: 20_2

#14452 Fix editors padding in form without labels (T924055) (#14430)
  js/ui/form/ui.form.js
  scss/widgets/material/form/_index.scss
  scss/widgets/material/form/_sizes.scss
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: 20_2, cherry-pick

#14451 File Manager - Publish toolbar item icon property
  js/ui/file_manager.d.ts
  ts/dx.all.d.ts
Labels: 20_2

#14450 Gallery: duplicate items should be updated after new page load (T927179)
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 20_2

#14454 Menu - Accessibility Insights throws the "aria-required-children" error (T927422)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 20_2

#14462 Gallery: duplicate items should be updated after new page load (T927179) (#14450)
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 20_1, cherry-pick

#14465 Menu - Accessibility Insights throws the "aria-required-children" error (T927422) (#14454)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 20_1, cherry-pick

#14456 dxChart - fix shared tooltip (T922119)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
Labels: 20_2

#14459 dxChart - fix shared tooltip (T922119)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
Labels: 20_1, cherry-pick

#14457 dxChart - fix shared tooltip (T922119)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
Labels: 19_2, cherry-pick

#14467 LoadPanel: indicatorSrc option change handler refactoring
  js/ui/load_panel.js
  testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Labels: 20_2

#14466 Remove gantt and diagramm styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_mixins.scss
  scss/widgets/base/diagram/_index.scss
  scss/widgets/base/diagram/_mixins.scss
  scss/widgets/base/gantt/_index.scss
  scss/widgets/base/gantt/_mixins.scss
  scss/widgets/common/_overlay.scss
  scss/widgets/common/_splitter.scss
  scss/widgets/generic/diagram/_index.scss
  scss/widgets/generic/gantt/_index.scss
  scss/widgets/material/diagram/_index.scss
  scss/widgets/material/gantt/_index.scss
  testing/tests/DevExpress.ui.widgets/diagram.tests.js
Labels: 20_2

#14463 DropDownEditor: popup should be rendered immediately after deferRendering option runtime change
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_2

#14479 dxScheduler -Remove overflow and add break-spaces
  styles/widgets/base/scheduler.less
Labels: 19_2, cherry-pick

#14475 LoadPanel: indicatorSrc option change handler refactoring (#14467)
  js/ui/load_panel.js
  testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Labels: 20_1, cherry-pick

#14476 DropDownEditor: popup should be rendered immediately after deferRendering option runtime change (#14463)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_1, cherry-pick

#14477 Remove filemanager styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/fileManager/_index.scss
  scss/widgets/base/fileManager/_mixins.scss
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/material/fileManager/_index.scss
  testing/tests/DevExpress.ui.widgets/fileManagerParts/markup.tests.js
Labels: 20_2

#14489 Remove pivotGrid styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/pivotGrid/_common.scss
  scss/widgets/base/pivotGrid/_index.scss
Labels: 20_2

#14483 dxChart - fix fullstacked series with zero values (T925244)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 20_2

#14485 dxChart - fix fullstacked series with zero values (T925244)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 19_2, cherry-pick

#14484 dxChart - fix fullstacked series with zero values (T925244)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 20_1, cherry-pick

#14488 Fix axis' labels adjusting issue(t929077)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 20_1, cherry-pick

#14486 Fix axis' labels adjusting issue(t929077)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 19_2

#14487 Fix axis' labels adjusting issue(t929077)
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 20_2, cherry-pick

#14455 Form - delete redundant deprecated 'alignment' option
  js/ui/form.d.ts
  ts/dx.all.d.ts
Labels: 20_2

#14482 fix HtmlEditor styles after #14420
  scss/widgets/common/_htmlEditor.scss
Labels: 20_2

#14498 PivotGrid - remove redundant styles for area field
  styles/widgets/base/pivotGrid.less
Labels: 20_1

#14492 Fix renovation flag while running all tests
  testing/runner/Views/Main/RunAll.cshtml
Labels: 20_2, renovation

#14474 Texteditor buttons - Update icon-only button sizes (T927517)
  build/gulp/scss/theme-replacements.js
  styles/widgets/generic/button.generic.less
Labels: 20_1

#14458 DataGrid - Fixes textarea height in a cell (T928363)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2

#14460 DataGrid - Fixes textarea height in a cell (T928363)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1, cherry-pick

#14461 DataGrid - Fixes textarea height in a cell (T928363)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2, cherry-pick

#14497 PivotGrid - Doesn't hide summary cells when value is empty for column totals (T925625)
  js/ui/pivot_grid/ui.pivot_grid.summary_display_modes.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
Labels: 20_1, cherry-pick

#14440 Update generator version (1.0.115)
  js/core/component.d.ts
  js/core/dom_component.d.ts
  js/core/element.d.ts
  js/core/template_manager.d.ts
  js/core/templates/function_template.d.ts
  js/renovation/preact_wrapper/__tests__/utils/test_components/base_test_widget.ts
  js/renovation/preact_wrapper/component.ts
  js/renovation/ui/common/__tests__/ink_ripple.test.tsx
  js/renovation/ui/pager/common/consts.ts
  js/renovation/ui/pager/common/types.d.ts
  js/renovation/ui/pager/page_size/large.tsx
  js/renovation/ui/pager/page_size/selector.tsx
  js/renovation/ui/pager/page_size/small.tsx
  js/renovation/ui/scheduler/appointment_tooltip/appointment_list.tsx
  js/renovation/ui/scheduler/appointment_tooltip/item_layout.tsx
  js/renovation/ui/scheduler/appointment_tooltip/marker.tsx
  js/renovation/ui/scheduler/appointment_tooltip/types.d.ts
  js/renovation/ui/scheduler/appointment_tooltip/utils/default_functions.tsx
  js/renovation/ui/scheduler/appointment_tooltip/utils/get_current_appointment.tsx
  package.json
Labels: 20_2, renovation

#14469 Fix data-theme scenario with initialized function (T928681)
  js/ui/themes.js
  testing/tests/DevExpress.serverSide/themes.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
Labels: 20_2

#14500 PivotGrid - remove redundant styles for area field (#14498)
  styles/widgets/base/pivotGrid.less
Labels: 19_2, cherry-pick

#14503 File Manager - Fix 'visible' option for context menu items (T922557)
  js/ui/file_manager/ui.file_manager.context_menu.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Labels: 20_2

#14505 File Manager - Fix 'visible' option for context menu items (T922557)
  js/ui/file_manager/ui.file_manager.context_menu.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Labels: 20_1, cherry-pick

#14453 File Uploader - Sync default browser file input behavior and editor value option (T921595)
  js/ui/file_uploader.js
Labels: 20_2

#14470 File Uploader - Sync default browser file input behavior and editor value option (T921595)
  js/ui/file_uploader.js
Labels: 20_1, cherry-pick

#14507 Fix HtmlEditor styles for ordered lists
  scss/widgets/common/_htmlEditor.scss
Labels: 20_2

#14509 Viz - fix merging custom and default themes (T925673)
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.contrast.js
  js/viz/core/themes/generic.dark.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.light.js
  js/viz/core/themes/generic.softblue.js
  js/viz/core/themes/material.js
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 20_2

#14510 Viz - fix merging custom and default themes (T925673)
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.contrast.js
  js/viz/core/themes/generic.dark.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.light.js
  js/viz/core/themes/generic.softblue.js
  js/viz/core/themes/material.js
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 20_1, cherry-pick

#14511 Viz - fix merging custom and default themes (T925673)
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.contrast.js
  js/viz/core/themes/generic.dark.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.light.js
  js/viz/core/themes/generic.softblue.js
  js/viz/core/themes/material.js
  js/viz/themes.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 19_2, cherry-pick

#14471 File Manager - Fix clear button issue in failed upload notification (T922436)
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  styles/widgets/common/fileManager.less
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: 20_1, cherry-pick

#14512 Texteditor buttons - Update icon-only button sizes (T927517)
  scss/widgets/generic/button/_index.scss
  scss/widgets/generic/button/_sizes.scss
Labels: 20_2

#14513 Texteditor buttons - Update icon-only button sizes (T927517)
  styles/widgets/generic/button.generic.less
Labels: 19_2, cherry-pick

#14501 PivotGrid - remove redundant styles for area field (#14498)
  scss/widgets/base/pivotGrid/_index.scss
Labels: 20_2, cherry-pick

#14494 File Uploader - Fix readOnly mode issues (T922646)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_2

#14496 File Uploader - Fix readOnly mode issues (T922646)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_1, cherry-pick

#14517 PivotGrid - remove redundant styles for area field (#14498)
  styles/widgets/base/pivotGrid.less
Labels: 20_1, cherry-pick

#14396 DataGrid - Fixes keyboard navigation with virtual column rendering mode (T829600)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/helpers/gridBaseMocks.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: 20_2

#14409 Scheduler - Virtual Scrolling - Rendering appointments
  js/renovation/ui/scheduler/workspaces/base/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/const.ts
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#14521 Update diagram buttons style cascade after #14512
  scss/widgets/generic/diagram/_index.scss
Labels: 20_2

#14514 Remove dx.viz-web.js bundle
  build/gulp/js-bundles.js
  js/bundles/dx.viz-web.js
  testing/tests/Bundles/dx.viz-web.tests.js
Labels: 20_2

#14531 dxChart - Update label hint if the dataSource is changed (T926456)
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 20_1

#14532 dxChart - Update label hint if the dataSource is changed (T926456)
  js/viz/axes/base_axis.js
  js/viz/axes/tick.js
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 20_2, cherry-pick

#14526 Update diagram buttons style cascade after #14512
  styles/widgets/generic/diagram.generic.less
Labels: 20_1, cherry-pick

#14528 Remove htmlEditor styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_htmlEditor.scss
  scss/widgets/generic/htmlEditor/_index.scss
  scss/widgets/material/htmlEditor/_index.scss
Labels: 20_2

#14534 Update devextreme-quill filename and add dx-quill to the artifacts
  build/gulp/npm.js
  build/gulp/vendor.js
  package.json
  playground/angular/config.js
  testing/runner/Views/Main/RunSuite.cshtml
Labels: 20_2

#14520 Fix creating appointment with a blank BYDAY rule (T928339)
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 20_1

#14481 dxScheduler - Implement DST for native Date
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/dateAdapter.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 20_2

#14539 Scheduler - Fix - Height should be correct in material theme for the month view (T927862)
  styles/widgets/material/scheduler.material.less
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/material.html
  testing/testcafe/tests/scheduler/layout/material.ts
Labels: 20_1, cherry-pick

#14544 dxChart - Fix scatter series hiding when autoHidePointMarkers is enabled (T929480)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2, cherry-pick

#14545 dxChart - Fix scatter series hiding when autoHidePointMarkers is enabled (T929480)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_1

#14546 dxChart - Fix scatter series hiding when autoHidePointMarkers is enabled (T929480)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2, cherry-pick

#14533 dxPivotGrid - don't scroll inside drawer component (T926913) (#14522)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_1, cherry-pick

#14542 Update Popup styles recalculation test after Chrome update to v85
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 19_2, cherry-pick

#14541 Update Popup styles recalculation test after Chrome update to v85
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 20_1, cherry-pick

#14540 Update Popup styles recalculation test after Chrome update to v85
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 20_2

#14537 Scheduler - Fix - Height should be correct in material theme for the month view (T927862)
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/material.html
  testing/testcafe/tests/scheduler/layout/material.ts
Labels: 20_2

#14538 Update generator version
  js/renovation/ui/pager/page_size/large.tsx
  js/renovation/ui/pager/page_size/selector.tsx
  js/renovation/ui/pager/page_size/small.tsx
  js/renovation/ui/pager/pages/large.tsx
  js/renovation/ui/pager/pages/page_index_selector.tsx
  js/renovation/ui/pager/pages/small.tsx
  package.json
Labels: 20_2, renovation

#14536 DataGrid: Fix two loading after scrolling if scrolling mode is virtual
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 20_2

#14535 Run renovation tasks at CI
  build/gulp/env-variables.js
  package.json
Labels: 20_2, renovation

#14518 Prevent call onRendered for async template
  js/core/utils/template_manager.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 20_2

#14553 Fix CI 20.1
  ts/dx.all.d.ts
Labels: 20_1

#14552 Fix CI 20.2
  ts/dx.all.d.ts
Labels: 20_2

#14558 Fix Lookup display text rendering (T929376)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 20_2

#14563 Scheduler - Fix unstable testCafe test: 'Drag-n-drop when browser has vertical scroll'
  testing/testcafe/tests/scheduler/dragAndDrop/basic.ts
Labels: 20_2

#14524 DataGrid: Fix loading data on scroll after a push to store when scrolling mode is 'infinite' and refreshMode is 'repaint' (T914296)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_1, cherry-pick

#14525 DataGrid: Fix loading data on scroll after a push to store when scrolling mode is 'infinite' and refreshMode is 'repaint' (T914296)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2, cherry-pick

#14523 DataGrid: Fix loading data on scroll after a push to store when scrolling mode is 'infinite' and refreshMode is 'repaint' (T914296)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#14560 PDF Export - exclude import DataGrid from utility
  js/bundles/modules/parts/widgets-renovation.js
  js/exporter/jspdf/export_data_grid.js
Labels: 20_2

#14568 Fix CI 19.2
  ts/dx.all.d.ts
Labels: 19_2

#14566 Fix Lookup display text rendering (T929376) (#14558)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 20_1, cherry-pick

#14567 Fix Lookup display text rendering (T929376) (#14558)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 19_2, cherry-pick

#14551 Scheduler - Virtual Scrolling - Correct filtering appointments by viewport
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 20_2

#14433 dxScheduler - display text in Week's and WorkWeek's Time Panel
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2, renovation

#14530 PivotGrid - Fix incorrect filter applied if applyChangesMode is set to onDemand (T928525)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_1

#14572 File Uploader - Publish api to manually cancel upload
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/file_uploader.d.ts
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14571 Remove scrollable and scrollview styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_scrollView.scss
  scss/widgets/base/_scrollable.scss
  scss/widgets/generic/scrollView/_index.scss
  scss/widgets/generic/scrollable/_index.scss
  scss/widgets/material/scrollView/_index.scss
  scss/widgets/material/scrollable/_index.scss
  testing/tests/DevExpress.knockout/list.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/list.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.size.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
Labels: 20_2

#14561 dxScheduler - fix Time Panel DOM structure
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
Labels: 20_2, renovation

#14562 Prevent call onRendered for async template (#14518)
  js/core/utils/template_manager.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 20_1, cherry-pick

#14578 Remove list styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_list.scss
  scss/widgets/base/button/_mixins.scss
  scss/widgets/common/_actionSheet.scss
  scss/widgets/common/_button.scss
  scss/widgets/generic/list/_index.scss
  scss/widgets/material/list/_index.scss
Labels: 20_2

#14580 Add the 'getModule' method to the HtmlEditor
  js/ui/html_editor.d.ts
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14577 PivotGrid - Fix incorrect filter applied if applyChangesMode is set to onDemand (T928525)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_2, cherry-pick

#14519 Scheduler - Add method for getting timezone list
  build/gulp/modules_metadata.json
  js/ui/scheduler.d.ts
  js/ui/scheduler/timezones/timezones_data.js
  js/ui/scheduler/timezones/utils.timezones_data.js
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14586 Fix TS description for Scheduler getTimezones
  ts/dx.all.d.ts
Labels: 20_2

#14549 dxScheduler - View Data Generator refactoring
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#14589 Fix Lookup placeholder rendering after #14558
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 20_2

#14590 Fix Lookup placeholder rendering after #14558
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 20_1, cherry-pick

#14591 Fix Lookup placeholder rendering after #14558
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
Labels: 19_2, cherry-pick

#14584 File Uploader - Add custom drop zone
  js/ui/file_uploader.d.ts
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14593 Remove colorView and colorbox styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_colorBox.scss
  scss/widgets/base/colorView/_index.scss
  scss/widgets/base/colorView/_mixins.scss
  scss/widgets/generic/colorBox/_index.scss
  scss/widgets/generic/colorView/_index.scss
  scss/widgets/material/colorBox/_index.scss
  scss/widgets/material/colorView/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Labels: 20_2

#14574 Add gulp task for testing timezones generator
  build/gulp/create_timezones_data.js
  build/gulp/test_timezones_data.js
  gulpfile.js
Labels: 20_2

#14597 Remove fileUploader styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_fileUploader.scss
  scss/widgets/generic/fileUploader/_index.scss
  scss/widgets/material/fileUploader/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_2

#14588 Update generator version
  package.json
Labels: 20_2, renovation

#14600 Remove DropDownMenu d.ts and doc comments
  js/ui/drop_down_menu.d.ts
  ts/dx.all.d.ts
Labels: 20_2

#14547 Add templates to axes
  js/viz/axes/base_axis.js
  js/viz/axes/constant_line.js
  js/viz/axes/strip.js
  js/viz/axes/tick.js
  js/viz/axes/xy_axes.js
  js/viz/chart.d.ts
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/tracker.js
  js/viz/gauges/common.js
  js/viz/range_selector/range_selector.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#14564 DataGrid: Editing state refactoring (editColumnName, editRowKey)
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2

#14605 Remove form styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_form.scss
  scss/widgets/generic/form/_index.scss
  scss/widgets/material/form/_index.scss
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Labels: 20_2

#14595 TreeView - fix "Cannot read property 'internalFields' of null" after removing item from custom store (T930532)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/initialization.js
Labels: 20_1

#14606 File Uploader - Add dropZoneEnter and dropZoneLeave events
  js/ui/file_uploader.d.ts
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  ts/dx.all.d.ts
Labels: 20_2
