Repository DevExpress/DevExtreme, pull requests merged in 2020-03, with the labels that each got.

#12173 Fix sass generator
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/base/scheduler.less
  styles/widgets/common/htmlEditor.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/navBar.generic.less
  styles/widgets/generic/popup.generic.less
  styles/widgets/generic/scheduler.generic.less
  styles/widgets/generic/scrollable.generic.less
  styles/widgets/generic/switch.generic.less
  styles/widgets/ios7/color-schemes/default/ios7.default.less
  styles/widgets/ios7/scheduler.ios7.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/navBar.material.less
  styles/widgets/material/radioButton.material.less
  styles/widgets/material/scheduler.material.less
  styles/widgets/material/scrollable.material.less
  styles/widgets/material/size-schemes/shared/base.less
  styles/widgets/material/switch.material.less
Labels: 20_1

#12172 Add additional margin for selection command column in compact material theme (T865880)
  styles/widgets/material/gridBase.material.less
Labels: 19_2, cherry-pick

#12178 Fix scheduler label offset
  styles/widgets/generic/scheduler.generic.less
Labels: 20_1

#12136 Renovation: pass event on keyboard press
  js/renovation/button.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/tests/Renovation/button.tests.js
Labels: renovation

#12053 DataGrid - Async validation (row/cell/batch)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/widget/ui.errors.js
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/material/gridBase.material.less
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1

#12174 Renovation: add onContentReady property to button and widget
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/dist/widget.j.jsx
  js/renovation/widget.tsx
  testing/tests/Renovation/button.tests.js
Labels: renovation

#12183 Use preventDefault for Home and End keydowns for the DateBox widget only (T865192)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_1

#12184 Fix HtmlEditor resizing frame position for an image placed within a list (T865205)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 20_1

#12139 Remove unnecessary convertDatesByTimezone in Scheduler
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
Labels: 20_1

#12193 DataGrid/TreeList: Fix column was unhideable via columnChooser if widget contains this column and another with allowHiding: false (T865218)
  js/ui/grid_core/ui.grid_core.column_headers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#12194 DataGrid/TreeList: Fix column was unhideable via columnChooser if widget contains this column and another with allowHiding: false (T865218)
  js/ui/grid_core/ui.grid_core.column_headers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#12197 Use preventDefault for Home and End keydowns for the DateBox widget only (T865192)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_2, cherry-pick

#12198 Use preventDefault for Home and End keydowns for the DateBox widget only (T865192)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_1, cherry-pick

#12201 Fix HtmlEditor resizing frame position for an image placed within a list (T865205) (#12184)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 19_1, cherry-pick

#12191 Scroll tags to the end after the value change for the focused TagBox only (T865611)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1

#12204 Remove unnecessary convertDatesByTimezone in Scheduler
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
Labels: 19_2, cherry-pick

#12206 dxScheduler - fix margin in light compact theme for recurring appointment(T862880)
  build/gulp/scss/replacements.js
  styles/widgets/base/scheduler.less
  styles/widgets/ios7/scheduler.ios7.less
Labels: 20_1, cherry-pick

#12202 Fix update-ts script
  package.json
Labels: 19_2

#12203 Fix update-ts script
  package.json
Labels: 20_1

#12200 Fix HtmlEditor resizing frame position for an image placed within a list (T865205) (#12184)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 19_2, cherry-pick

#12213 Skips unstable test
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1

#12212 Fix progress styles
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
Labels: 20_1

#12214 Make the colors of focused and selected rows different (#12210)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#12215 Bump DevExtreme version
  package.json
Labels: 20_1

#12219 Rename time markers to strip lines
  js/ui/gantt.d.ts
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  package.json
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12205 Reduce fontSize for Scheduler dates, time panel and group header
  styles/widgets/generic/scheduler.generic.less
Labels: 20_1

#12208 Scroll tags to the end after the value change for the focused TagBox only (T865611)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2, cherry-pick

#12209 Scroll tags to the end after the value change for the focused TagBox only (T865611)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_1, cherry-pick

#12218 RadioGroup should render layout before validation message (T867281)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 20_1

#12211 Test if scss-generated css is the same that less-generated
  .eslintrc
  build/gulp/scss/generator.js
  build/gulp/scss/replacements.js
  build/gulp/scss/snippets/string.scss
  build/gulp/scss/tests/identical.test.js
  docker-ci.sh
  package.json
  styles/widgets/base/scheduler.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/slideOut.generic.less
  styles/widgets/generic/slideOutView.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/slideOut.material.less
  styles/widgets/material/slideOutView.material.less
  styles/widgets/material/treeView.material.less
Labels: 20_1

#12224 RadioGroup should render layout before validation message (T867281) (#12218)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 19_2, cherry-pick

#12227 RadioGroup should render layout before validation message (T867281) (#12218)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 19_1, cherry-pick

#12226 dxPieChart: Fix series hoverMode (legend item callback)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 19_2, cherry-pick

#12225 dxPieChart: Fix series hoverMode (legend item callback)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_1

#12164 DataGrid: Fix wrong header filter icon position when rtl is enabled (T862537)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 19_2, cherry-pick

#12163 DataGrid: Fix wrong header filter icon position when rtl is enabled (T862537)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 20_1

#12192 ExcelJS - implement string format adress for topLeftCell
  js/excel_exporter.d.ts
  js/exporter/exceljs/export_data_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12157 dxSchedulre - Improve form
  js/ui/scheduler.d.ts
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/timezones/ui.scheduler.timezone_editor.js
  js/ui/scheduler/ui.scheduler.appointment_form.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/base/scheduler.less
  styles/widgets/generic/recurrenceEditor.generic.less
  styles/widgets/material/recurrenceEditor.material.less
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12217 DataGrid: Fix validation trigger after deleting newly added row (T865329)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2

#12216 DataGrid: Fix validation trigger after deleting newly added row (T865329)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1

#12232 File Manager - Derive ThumbnailsView from CollectionWidget
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/fileManager.material.less
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 20_1

#12220 Fix appointment rendering in Scheduler Google Calendar Integration demo
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 20_1

#12234 Fix angular typescript hack (#11884)
  build/gulp/ts.js
Labels: 19_2

#12238 Fix appointment rendering in Scheduler Google Calendar Integration demo
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 19_2

#12221 Drone CI - Extend test matrix for mobile devices: "android 6 + jQuery"
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Labels: 20_1

#12196 DataGrid - Unit test wrappers refactoring
  testing/helpers/wrappers/dataGridWrappers.js
  testing/helpers/wrappers/wrapperBase.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2, cherry-pick

#12240 Drone CI - Extend test matrix for mobile devices: "android 6 + jQuery"
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Labels: 19_2, cherry-pick

#12235 DataGird - Fix unstable tests for async validation
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1

#12239 Drawer - Rename non-public functions/vars/args, simplify code #12109
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 20_1, cherry-pick

#12243 dxScheduler - Fix startDate default value for docgen
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
Labels: 20_1

#12246 DataGrid: Fix column chooser's treeview checkboxes were not updated after column visibility change via API (T868198)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Labels: 19_2, cherry-pick

#12245 DataGrid: Fix column chooser's treeview checkboxes were not updated after column visibility change via API (T868198)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Labels: 20_1

#12229 ExcelJS - implement string format adress for topLeftCell (#12192)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2, cherry-pick

#12231 DataGrid / TreeList - The rowAlternationEnabled option does not affect fixed columns in FireFox 73.0 (T865179)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#12230 DataGrid / TreeList - The rowAlternationEnabled option does not affect fixed columns in FireFox 73.0 (T865179)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#12242 Fix styles in recurrenceEditor for radioGroup and buttonGroup widgets after #12157
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/generic/recurrenceEditor.generic.less
  styles/widgets/material/recurrenceEditor.material.less
Labels: 20_1

#12241 Refactor dxmousewheel event (T850104)
  js/events/core/wheel.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/wheel.tests.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Labels: 20_1

#12258 dxScheduler - remove minutely recurrence from UI
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 20_1

#12252 FileUploader - Impossible to drag-drop .msg files from Microsoft Office365 Outlook (T862613)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_1

#12253 FileUploader - Impossible to drag-drop .msg files from Microsoft Office365 Outlook (T862613)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_2, cherry-pick

#12244 Add note to E1057 error
  js/ui/widget/ui.errors.js
Labels: 20_1

#12259 Refactor dxmousewheel event (T850104) (#12241)
  js/events/core/wheel.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/wheel.tests.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Labels: 19_2, cherry-pick

#12222 Update babel
  package.json
Labels: 20_1

#12271 dxViz: Fix updating the series style to the normal state (T863113)
  js/viz/series/base_series.js
  js/viz/series/line_series.js
  testing/tests/DevExpress.viz.core.series/areaSeries.tests.js
  testing/tests/DevExpress.viz.core.series/lineSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeSeries.tests.js
Labels: 20_1

#12272 dxViz: Fix updating the series style to the normal state (T863113)
  js/viz/series/base_series.js
  js/viz/series/line_series.js
  testing/tests/DevExpress.viz.core.series/areaSeries.tests.js
  testing/tests/DevExpress.viz.core.series/lineSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeSeries.tests.js
Labels: 19_2, cherry-pick

#12268 Generate all themes with sass generator
  build/gulp/scss/compiler.js
  build/gulp/scss/generator.js
  build/gulp/scss/replacements.js
  build/gulp/scss/snippets/color.scss
  build/gulp/scss/tests/identical.test.js
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/common.material.less
Labels: 20_1

#12269 File Manager: Fix displaying files if its extension contains capitalized letters (T868274 and T854231)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 20_1

#12270 File Manager: Fix displaying files if its extension contains capitalized letters (T868274 and T854231)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 19_2, cherry-pick

#12267 Add the showValidationMark option to Editor
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: 20_1

#12274 Renovation: refactor actions in button
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/preact-wrapper/component.js
  js/renovation/preact-wrapper/utils.js
  js/renovation/widget.tsx
Labels: renovation

#12265 dxScheduler - fix nunit test
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 20_1

#12280 Removation: implement validationGroup
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/tests/Renovation/button.tests.js
Labels: renovation

#12277 DataGrid - Fix false positive TestCafe test
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 19_2

#12282 DataGrid - Fix false positive TestCafe test by increasing validation timeout
  testing/functional/tests/dataGrid/editing.ts
Labels: 20_1

#12190 Accordion - fix title icon aligment + TabPanel - fix container indent after initialization (T865742, t869858)
  js/ui/accordion.js
  js/ui/tab_panel.js
  styles/widgets/common/accordion.less
  styles/widgets/generic/accordion.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/accordion.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 20_1

#12281 DateBox: max time value should be included in the range (T869203)
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1

#12260 Remove delayed dependency request
  js/file_management/object_provider.js
  js/ui/diagram/diagram.importer.js
  js/ui/gantt/gantt_importer.js
  js/ui/html_editor/formats/align.js
  js/ui/html_editor/formats/font.js
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/formats/link.js
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/formats/size.js
  js/ui/html_editor/formats/variable.js
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/modules/popup.js
  js/ui/html_editor/modules/resizing.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/variables.js
  js/ui/html_editor/quill_importer.js
  js/ui/html_editor/quill_registrator.js
  js/ui/html_editor/themes/base.js
  js/ui/html_editor/ui/formDialog.js
Labels: 20_1

#12247 TreeList: Fix filtering of child nodes when customStore receives a response that is an object (T866113)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 19_2

#12248 TreeList: Fix filtering of child nodes when customStore receives a response that is an object (T866113)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 20_1, cherry-pick

#12291 Accordion and tabPanel - Fix test for IE
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 20_1

#12285 SelectBox: valueChange should not be raised after focusout (T869821)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 20_1

#12293 SelectBox: valueChange should not be raised after focusout (T869821)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_2, cherry-pick

#12279 dxScheduler - fix form in material theme
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/generic/recurrenceEditor.generic.less
  styles/widgets/material/recurrenceEditor.material.less
  styles/widgets/material/scheduler.material.less
Labels: 20_1

#12294 Update turndown to version 6.0.0
  package.json
Labels: 20_1

#12297 Update turndown to version 6.0.0 (#12294)
  package.json
Labels: 19_1, cherry-pick

#12296 Update turndown to version 6.0.0 (#12294)
  package.json
Labels: 19_2, cherry-pick

#12292 Accordion - fix title icon aligment + TabPanel - fix container indent after initialization (T865742, t869858)
  js/ui/accordion.js
  js/ui/tab_panel.js
  styles/widgets/common/accordion.less
  styles/widgets/generic/accordion.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/accordion.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 19_2, cherry-pick

#12289 Autocomplete: maxItemCount should limit items count on init (T869431)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 20_1

#12298 Autocomplete: maxItemCount should limit items count on init (T869431)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 19_2, cherry-pick

#12155 dxLookup - Add itemCenteringEnabled option for the Material theme
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  ts/dx.all.d.ts
Labels: 19_2

#12299 Renovation: implement submit behavior
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/preact-wrapper/component.js
  testing/jest/button.tests.tsx
  testing/tests/Renovation/button.tests.js
Labels: renovation

#12302 Fix tests after #12281
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1

#12287 DateBox: max time value should be included to the range (T869203)
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_1, cherry-pick

#12288 DateBox: max time value should be included to the range (T869203)
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 18_2, cherry-pick

#12295 dxScheduler - fix label switch on the apointment form in ie
  styles/widgets/base/scheduler.less
Labels: 20_1

#12303 File Manager - Thumbnails view multiselection on touch devices
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
Labels: 20_1

#12310 Publishing toolbar items
  js/docEnums.js
  js/ui/gantt.d.ts
  js/ui/gantt/ui.gantt.bars.js
  js/ui/gantt/ui.gantt.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12307 Generate and check sass for dx.common.css bundle
  build/gulp/scss/common-replacements.js
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/tasks.js
  build/gulp/scss/tests/identical.test.js
  build/gulp/scss/theme-replacements.js
  styles/widgets/common/actionSheet.less
  styles/widgets/common/button.less
  styles/widgets/common/colorView.less
  styles/widgets/common/dataGrid.less
  styles/widgets/common/fieldset.less
  styles/widgets/common/gridBase.less
  styles/widgets/common/htmlEditor.less
  styles/widgets/common/list.less
  styles/widgets/common/lookup.less
  styles/widgets/common/radioGroup.less
  styles/widgets/common/scrollView.less
  styles/widgets/common/scrollable.less
  styles/widgets/common/tabs.less
  styles/widgets/common/toolbar.less
  styles/widgets/common/widget.less
Labels: 20_1

#12286 DateBox: max time value should be included to the range (T869203)
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2, cherry-pick

#12311 File Manager - Thumbnail view adjusting colors
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/fileManager.material.less
Labels: 20_1

#12304 Accordion - fix layout rendering if option with long path is used
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: 20_1

#12315 dxChart: Show bar with min/max value when showZero is false (T862823)
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
Labels: 19_2, cherry-pick

#12314 dxChart: Show bar with min/max value when showZero is false (T862823)
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
Labels: 20_1

#12317 dxPolarChart: Add description (doc, ts) for customizeAnnotation method
  js/viz/docs/doccharts.js
  js/viz/polar_chart.d.ts
  ts/dx.all.d.ts
Labels: 20_1

#12316 dxViz: Redesign descriptions (ts, doc) for annotations
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/core/annotations.js
  js/viz/docs/doccharts.js
  js/viz/polar_chart.d.ts
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12319 dxChart: Fix custom 'valueOf' function for axes (after #12314)
  js/viz/axes/base_axis.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 20_1

#12320 dxChart: Fix custom 'valueOf' function for axes (after #12315)
  js/viz/axes/base_axis.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 19_2, cherry-pick

#12322 Accordion - fix layout rendering if option with long path is used
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: 19_2, cherry-pick

#12166 Prettified draggable and sortable test modules
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_1

#12167 Prettified draggable and sortable test modules
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 19_2

#12328 Renovation: code coverage for jest tests
  jest.config.js
  testing/.gitignore
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
Labels: renovation

#12069 DataGrid - Row should not focus on scrolling by pointer (T861577)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1

#12333 dxChart - fix image with string values (T863063)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 20_1

#12334 dxChart - fix image with string values (T863063)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_2, cherry-pick

#12335 dxChart - fix corner radius in annotations (T863991)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 20_1

#12336 dxChart - fix corner radius in annotations (T863991)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Labels: 19_2, cherry-pick

#12305 Fix - DataController should return correct lastIndex for the focusedRow (T864478)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2

#12306 Fix - DataController should return correct lastIndex for the focusedRow (T864478)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#12342 DataGrid - Fix test for android device (#12069)
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 20_1

#12278 DataGrid - Fix false positive TestCafe test
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 20_1, cherry-pick

#12346 Renovation: jest tests refactoring
  jest.config.js
  js/events/short.js
  js/renovation/button.tsx
  js/renovation/utils/noop.js
  js/renovation/widget.tsx
  js/ui/widget/ui.widget.js
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
  testing/jest/widget.tests.tsx
Labels: renovation

#12347 Renovation: remove unstable button qunit tests
  testing/tests/Renovation/button.tests.js
Labels: renovation

#12350 dxGantt: toolbar refactoring
  js/ui/gantt/ui.gantt.bars.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Labels: 20_1

#12261 DateBox should not raise any errors when useMaskBehavior is enabled and locale digits are different to arabic digits (T867867)
  js/localization/globalize/date.js
  js/localization/ldml/date.format.js
  package.json
  testing/helpers/l10n/NOTICE.txt
  testing/helpers/l10n/cldrCalendarDataAr.js
  testing/helpers/l10n/cldrCalendarDataDe.js
  testing/helpers/l10n/cldrCalendarDataRu.js
  testing/helpers/l10n/cldrCurrencyDataEn.js
  testing/helpers/l10n/cldrCurrencyDataRu.js
  testing/helpers/l10n/cldrNumberDataAr.js
  testing/helpers/l10n/cldrNumberDataDe.js
  testing/helpers/l10n/cldrNumberDataRu.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
  testing/tests/DevExpress.localization/localization.intl.widgets.tests.js
  testing/tests/DevExpress.localization/sharedParts/localization.shared.js
  testing/tests/DevExpress.localization/validation.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.utils/utils.formatHelper.fromat.tests.js
Labels: 20_1

#12331 Update handlebars to version 4.7.3
  package.json
Labels: 20_1

#12330 Update underscore to version 1.9.2
  package.json
Labels: 20_1

#12353 DateBox should not raise any errors when useMaskBehavior is enabled and locale digits are different to arabic digits (T867867) (#12261)
  js/localization/globalize/date.js
  js/localization/ldml/date.format.js
  package.json
  testing/helpers/l10n/NOTICE.txt
  testing/helpers/l10n/cldrCalendarDataAr.js
  testing/helpers/l10n/cldrCalendarDataDe.js
  testing/helpers/l10n/cldrCalendarDataRu.js
  testing/helpers/l10n/cldrCurrencyDataEn.js
  testing/helpers/l10n/cldrCurrencyDataRu.js
  testing/helpers/l10n/cldrNumberDataAr.js
  testing/helpers/l10n/cldrNumberDataDe.js
  testing/helpers/l10n/cldrNumberDataRu.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
  testing/tests/DevExpress.localization/localization.intl.widgets.tests.js
  testing/tests/DevExpress.localization/sharedParts/localization.shared.js
  testing/tests/DevExpress.localization/validation.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.utils/utils.formatHelper.fromat.tests.js
Labels: 19_2, cherry-pick

#12071 DataGrid - Row should not focus on scrolling by pointer (T861577)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 19_2, cherry-pick

#12177 DataGrid - Column separators don't reach the bottom border under certain conditions (T865137)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#12175 DataGrid - Column separators don't reach the bottom border under certain conditions (T865137)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#12356 HtmlEditor should keep List attributes (T867149)
  js/ui/html_editor/converters/delta.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 20_1

#12352 Add Angular and React generators
  build/gulp/generator.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/preact.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/generator/ts-configs/tsconfig.json
  build/gulp/transpile.js
  gulpfile.js
  js/events/pointer.js
  js/renovation/widget.tsx
  package.json
  playground/angular/README.md
  playground/angular/app/app.component.html
  playground/angular/app/app.component.ts
  playground/angular/config.js
  playground/angular/index.html
  playground/angular/tsconfig.json
  playground/angular/tslint.json
  playground/react/App.js
  playground/react/README.md
  playground/react/config.js
  playground/react/index.html
  playground/react/index.js
Labels: renovation

#12340 DataGrid: Fix placeholder was wider than grid if it has horizontal scroll and fixed column (T868007)
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 19_2, cherry-pick

#12339 DataGrid: Fix placeholder was wider than grid if it has horizontal scroll and fixed column (T868007)
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 20_1

#12362 HtmlEditor should keep List attributes (T867149) (#12356)
  js/ui/html_editor/converters/delta.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 19_2, cherry-pick

#12363 HtmlEditor should keep List attributes (T867149) (#12356)
  js/ui/html_editor/converters/delta.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 19_1, cherry-pick

#12360 Skip default options generation for Icon and widget components
  docker-ci.sh
  jest.config.js
  js/renovation/button.tsx
  js/renovation/icon.tsx
  js/renovation/widget.tsx
  package.json
Labels: renovation

#12364 dxChart: Add the customPositionAxis option (for multi-axes positioning)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.d.ts
  js/viz/chart.js
  js/viz/docs/doccharts.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12355 DateBox: Use 'beforeInput' event for mask on Android devices (T838638)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 20_1

#12370 dxChart: Fix test (IE, Edge) for the customPositionAxis option
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_1

#12361 DropDown-based editors: make dropDownOptions public
  js/ui/drop_down_box.d.ts
  js/ui/drop_down_editor/ui.drop_down_editor.d.ts
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.d.ts
  js/ui/lookup.js
  ts/dx.all.d.ts
Labels: 20_1

#12365 Update "validate-declaration" script
  package.json
Labels: 20_1

#12367 Update "validate-declaration" script
  package.json
Labels: 19_2

#12369 DateBox: Use 'beforeInput' event for mask on Android devices (T838638) (#12355)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_1, cherry-pick

#12368 DateBox: Use 'beforeInput' event for mask on Android devices (T838638) (#12355)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_2, cherry-pick

#12375 Fix IE tests after fix (T863158) (#12325)
  testing/helpers/drawerHelpers.js
Labels: 20_1

#12377 Drawer - The shading option doesn't work if content contains TabPanel or DataGrid and openedStateMode is 'shrink' (T863158) (#12325)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 19_2, cherry-pick

#12376 File Manager - Publish itemClick event for toolbar and context menu
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#12378 Popup should not pass the "content" template to the nested Toolbar (T872394)
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 19_2

#12379 File Manager - Fix context menu test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Labels: 20_1
