Repository DevExpress/DevExtreme, pull requests merged in 2020-06, with the labels that each got.

#13231 Fix allDay appointments overlapping in Scheduler week view (T893803)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  testing/functional/tests/scheduler/appointmentOverlapping/basic.ts
  testing/functional/tests/scheduler/appointmentOverlapping/init/widget.data.ts
Labels: 20_1

#12999 Renovation: events mock refactoring
  testing/jest/utils/events-mock.ts
Labels: renovation

#13251 Remove own themebuilder linter
  .eslintignore
  package.json
  themebuilder-scss/.eslintrc-themebuilder
  themebuilder-scss/jest.config.js
  themebuilder-scss/package.json
  themebuilder-scss/src/.eslintrc
  themebuilder-scss/src/modules/bundle-resolver.ts
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/src/modules/compiler.ts
  themebuilder-scss/src/modules/post-compiler.ts
  themebuilder-scss/tests/.eslintrc
  themebuilder-scss/tsconfig.json
Labels: 20_2

#13257 FileManager - Fix IE test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
Labels: 20_2, cherry-pick

#13256 FileManager - Fix IE test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
Labels: 20_1

#13258 FileManager - Update localization
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 20_1

#13259 FileManager - Update localization
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 20_2, cherry-pick

#13268 Scss themebuilder: make compiler async and build package
  .eslintignore
  themebuilder-scss/package.json
  themebuilder-scss/src/modules/compiler.ts
  themebuilder-scss/src/tools/copy-resources.ts
  themebuilder-scss/tests/modules/builder.test.ts
Labels: 20_2

#13269 Fix ipdating of vectorMap dataSource using 'push' method (T890687)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/map.integration.tests.js
Labels: 20_1

#13273 Fix ipdating of vectorMap dataSource using 'push' method (T890687)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/map.integration.tests.js
Labels: 20_2, cherry-pick

#13272 Fix ipdating of vectorMap dataSource using 'push' method (T890687)
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/map.integration.tests.js
Labels: 19_2, cherry-pick

#13254 Fix allDay appointments overlapping in Scheduler week view (T893803)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  testing/functional/tests/scheduler/appointmentOverlapping/basic.ts
  testing/functional/tests/scheduler/appointmentOverlapping/init/widget.data.ts
Labels: 19_2, cherry-pick

#13282 TreeView - override base event params for onSelectionChanged
  js/ui/tree_view.d.ts
Labels: 20_1, cherry-pick

#13264 DataGrid - Fixes loosing focus on master row expand (T892203)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 20_2

#13265 DataGrid - Fixes loosing focus on master row expand (T892203)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 20_1, cherry-pick

#13267 DataGrid - Fixes loosing focus on master row expand (T892203)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 19_2, cherry-pick

#13293 Fix inserting images into a HtmlEditor for Chrome v83+ (T894297)
  js/ui/html_editor/modules/dropImage.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
Labels: 20_1

#13294 Renovation: fix tabIndex warning in React
  js/renovation/widget.tsx
  testing/jest/widget.tests.tsx
Labels: 20_2, renovation

#13285 Fix allDay appointments overlapping in Scheduler week view (T893803)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  testing/functional/tests/scheduler/appointmentOverlapping/basic.ts
  testing/functional/tests/scheduler/appointmentOverlapping/init/widget.data.ts
Labels: 20_2, cherry-pick

#13296 Fix inserting images into a HtmlEditor for Chrome v83+ (T894297) (#13293)
  js/ui/html_editor/modules/dropImage.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
Labels: 19_2, cherry-pick

#13295 Fix inserting images into a HtmlEditor for Chrome v83+ (T894297) (#13293)
  js/ui/html_editor/modules/dropImage.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
Labels: 20_2, cherry-pick

#13290 Scss themebuilder: Use the single source of clean-css options
  build/gulp/scss/compiler.js
  themebuilder-scss/package.json
  themebuilder-scss/src/data/clean-css-options.json
  themebuilder-scss/src/modules/clean-css-options.ts
  themebuilder-scss/src/modules/post-compiler.ts
Labels: 20_2

#13279 DataGrid: Fix editor closing after click on cell inside DropDownBox content (T869676)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2, cherry-pick

#13280 DataGrid: Fix editor closing after click on cell inside DropDownBox content (T869676)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2, cherry-pick

#13278 DataGrid: Fix editor closing after click on cell inside DropDownBox content (T869676)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1

#13281 DataGrid: Fix editor closing after click on cell inside DropDownBox content (T869676)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_1, cherry-pick

#13297 Renovation: unstable qunit tests refactoring
  testing/helpers/preactHelper.js
  testing/tests/Renovation/button.tests.js
Labels: 20_2, renovation

#13271 PivotGrid.ExcelJS export - implement customizeCell callback
  js/exporter/exceljs/export_pivot_grid.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 20_2

#13304 Renovation: fix IOS Button tests
  testing/tests/Renovation/button.tests.js
Labels: 20_2, renovation

#13302 DateBox: value should not contain time after value change when type is date and useMaskBehavior is true (T895591)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 20_1

#13310 DateBox: value should not contain time after value change when type is date and useMaskBehavior is true (T895591) (#13302)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 19_2, cherry-pick

#13303 Remove 'Default' as accepted value for 'palette' option
  js/docEnums.js
  js/viz/bar_gauge.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/docs/docgauges.js
  js/viz/docs/docvectormap.js
  js/viz/funnel.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/palette.d.ts
  js/viz/palette.js
  js/viz/pie_chart.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  testing/tests/DevExpress.viz.core/palette.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#13308 Stop trim the button aria-label value (T893304)
  js/ui/button.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 20_1

#13307 Pass templates from text editor to the custom buttons (T894344)
  js/ui/text_box/texteditor_button_collection/custom.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_1

#13305 Fix HtmlEditor mention filtering (T894506)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: 20_1

#13313 Fix issue related to axes types updating(T891599)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_1

#13317 Fix issue related to axes types updating(T891599)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2, cherry-pick

#13315 Pass templates from text editor to the custom buttons (T894344) (#13307)
  js/ui/text_box/texteditor_button_collection/custom.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 19_2, cherry-pick

#13314 Pass templates from text editor to the custom buttons (T894344) (#13307)
  js/ui/text_box/texteditor_button_collection/custom.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_2, cherry-pick

#13316 Fix issue related to axes types updating(T891599)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2, cherry-pick

#13301 dxScheduler - don't show 'Done' button of appointment popup in read-only mode(T895434)
  js/ui/scheduler/appointmentPopup.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/editing.tests.js
Labels: 20_1

#13319 Fix HtmlEditor mention filtering (T894506) (#13305)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: 19_2, cherry-pick

#13318 Fix HtmlEditor mention filtering (T894506) (#13305)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: 20_2, cherry-pick

#13320 Stop trim the button aria-label value (T893304)
  js/renovation/button.tsx
  js/ui/button.js
  testing/jest/button.tests.tsx
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 20_2

#13324 dxScheduler - don't show 'Done' button of appointment popup in read-only mode(T895434)
  js/ui/scheduler/appointmentPopup.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/editing.tests.js
Labels: 20_2, cherry-pick

#13323 Scheduler - Revert splitting tests
  .drone.yml
  .travis.yml
  shippable.yml
  testing/runner/Tools/UIModelHelper.cs
  testing/tests/DevExpress.ui.widgets.scheduler.integration/__meta.json
  testing/tests/DevExpress.ui.widgets.scheduler.integrationBase/__meta.json
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dateNavigator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurrenceRuleValidation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.viewSwitcher.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 20_2

#13325 Destroy Preact component on jQuery widget disposing
  js/renovation/preact-wrapper/component.js
  testing/tests/Renovation/jquery.component.tests.js
Labels: 20_2, renovation

#13276 dxScheduler - Select cells in Day View with horizontal grouping correctly (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#13331 dxScheduler - Select cells in Day View with horizontal grouping correctly (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 19_2, cherry-pick

#13330 dxScheduler - Select cells in Day View with horizontal grouping correctly (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_1, cherry-pick

#13322 Renovation: Add prefix for registered renovation jQuery components
  jest.config.js
  package.json
  testing/jest/button.tests.tsx
  testing/tests/Renovation/button.markup.tests.js
  testing/tests/Renovation/button.tests.js
  testing/tests/Renovation/widget.tests.js
Labels: 20_2, renovation

#13336 dxGantt: Fix ConstraintViolation dialog appearance
  js/ui/gantt/ui.gantt.dialogs.js
  styles/widgets/generic/gantt.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
Labels: cherry-pick

#13332 PivotGrid - Fix initializing of fields with groupName and groupInterval and without groupIndex (T892304)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 20_2

#13333 PivotGrid - Fix initializing of fields with groupName and groupInterval and without groupIndex (T892304)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 20_1, cherry-pick

#13334 PivotGrid - Fix initializing of fields with groupName and groupInterval and without groupIndex (T892304)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 19_2, cherry-pick

#13343 dxGantt: Fix problems with keyExpr (T891343)
  js/ui/gantt/ui.gantt.js
Labels: cherry-pick

#13339 DataGrid: Add test for T895531
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 20_1, cherry-pick

#13337 DataGrid: Add test for T895531
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: 19_2, cherry-pick

#13298 DataGrid - Fixes group row update when repaintChangesOnly is enabled (T893032)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_2

#13299 DataGrid - Fixes group row update when repaintChangesOnly is enabled (T893032)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_1, cherry-pick

#13300 DataGrid - Fixes group row update when repaintChangesOnly is enabled (T893032)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_2, cherry-pick

#13232 Scheduler - RRule integration
  js/ui/scheduler/recurrence.js
  js/ui/scheduler/ui.scheduler.appointment.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.recurrence.js
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
  webpack.config.js
Labels: 20_2

#13328 DataGrid - Fixes showing error when reject is called in stateStoring.customLoad (T894590)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#13327 DataGrid - Fixes showing error when reject is called in stateStoring.customLoad (T894590)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#13326 DataGrid - Fixes showing error when reject is called in stateStoring.customLoad (T894590)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#13352 dxScheduler - fix time zone converting startDate and endDate in appointment form
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Labels: 20_2

#13353 Scroll Event: Clean up the dxscroll test
  testing/tests/DevExpress.ui.events/scroll.tests.js
Labels: 19_2

#13355 Scroll Event: Clean up the dxscroll test
  testing/tests/DevExpress.ui.events/scroll.tests.js
Labels: 20_2, cherry-pick

#13354 Scroll Event: Clean up the dxscroll test
  testing/tests/DevExpress.ui.events/scroll.tests.js
Labels: 20_1, cherry-pick

#13356 Scroll Event: Clean up the dxscroll test
  testing/tests/DevExpress.ui.events/scroll.tests.js
Labels: 19_1

#13289 DataGrid: Add dropFeedbackMode switch to 'indicate' for IE (T893965)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 19_2, cherry-pick

#13288 DataGrid: Add dropFeedbackMode switch to 'indicate' for IE (T893965)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 20_1

#13287 DataGrid: Add dropFeedbackMode switch to 'indicate' for IE (T893965)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 20_2, cherry-pick

#13346 DataGrid: Fix header filter if column's dataField matches other column's caption (T896131)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 20_2

#13347 DataGrid: Fix header filter if column's dataField matches other column's caption (T896131)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 20_1, cherry-pick

#13350 DataGrid: Fix header filter if column's dataField matches other column's caption (T896131)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 19_2

#13366 Fix HtmlEditor Markdown markup rendering (T897327)
  js/ui/html_editor/converters/markdown.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 20_1

#13260 Scheduler - Fix cell hover state when nothing is dropped in it (refix T885459)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 19_2

#13262 Scheduler - Fix cell hover state when nothing is dropped in it (refix T885459)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_2, cherry-pick

#13261 Scheduler - Fix cell hover state when nothing is dropped in it (refix T885459)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_1, cherry-pick

#13345 DataGrid - Fixes closing a cell on DropDownBox update (T896030)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#13348 DataGrid - Fixes closing a cell on DropDownBox update (T896030)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#13349 DataGrid - Fixes closing a cell on DropDownBox update (T896030)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#13369 Fix HtmlEditor Markdown markup rendering (T897327) (#13366)
  js/ui/html_editor/converters/markdown.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 20_2, cherry-pick

#13368 Fix HtmlEditor Markdown markup rendering (T897327) (#13366)
  js/ui/html_editor/converters/markdown.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 19_2, cherry-pick

#13357 Renovation: Provide only event into onKeyDown handler
  js/renovation/button.tsx
  js/renovation/preact-wrapper/component.js
  js/renovation/utils/base-props.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
Labels: 20_2, renovation

#13284 Renovation: add capability to test declaration files
  jest.config.js
  js/renovation/button.tsx
  js/renovation/error-message.tsx
  js/renovation/icon.tsx
  js/renovation/ink-ripple.tsx
  js/renovation/number-box.tsx
  js/renovation/select-box.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/error-message.tests.tsx
Labels: renovation

#13370 Diagram - Data is not passed to template correctly on DataSource reload (T895526)
  js/ui/diagram/diagram.items_option.js
  testing/tests/DevExpress.ui.widgets/diagramParts/options.tests.js
Labels: cherry-pick

#13361 DataGrid: Fix e.row.isEditing argument is 'undefined' in onCellPrepared (T893985)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1, cherry-pick

#13360 DataGrid: Fix e.row.isEditing argument is 'undefined' in onCellPrepared (T893985)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2, cherry-pick

#13359 DataGrid: Fix e.row.isEditing argument is 'undefined' in onCellPrepared (T893985)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2

#13376 Make 'option' return props from preact component
  .vscode/launch.json
  build/gulp/generator/gulpfile.js
  jest.config.js
  js/renovation/preact-wrapper/component.js
  package.json
  testing/jest/jquery.tests.tsx
  testing/jest/test_components/.eslintrc
  testing/jest/test_components/preact_test_widget.tsx
  testing/jest/utils/declaration-transformer.js
  testing/tests/Renovation/button.markup.tests.js
  testing/tests/Renovation/button.tests.js
  testing/tests/Renovation/jquery.component.tests.js
  testing/tests/Renovation/widget.tests.js
Labels: 20_2, renovation

#13344 Scheduler - Remove extra code
  js/ui/scheduler/appointmentDragBehavior.js
Labels: 20_2

#13364 DataGrid: Fix detail grid content scrolling on mouse wheel if native scrolling is enabled and column fixing is enabled (T894352)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 19_2, cherry-pick

#13363 DataGrid: Fix detail grid content scrolling on mouse wheel if native scrolling is enabled and column fixing is enabled (T894352)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 20_1, cherry-pick

#13362 DataGrid: Fix detail grid content scrolling on mouse wheel if native scrolling is enabled and column fixing is enabled (T894352)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 20_2

#13393 Renovation: tsconfig optimization
  tsconfig.json
Labels: 20_2, renovation

#13402 Fix datebox popup margins for generic theme (T896846)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  styles/widgets/generic/dateBox.generic.less
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#13403 Fix datebox popup margins for generic theme (T896846)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  styles/widgets/generic/dateBox.generic.less
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2, cherry-pick

#13405 dxChart - fix screenshot tests after fix T889259
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 20_2

#13390 dxChart - fix update range with scale breaks for translator (T889259)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 19_2, cherry-pick

#13389 dxChart - fix update range with scale breaks for translator (T889259)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 20_1, cherry-pick

#13406 Enhance NumberBox custom formatting support (T891203)
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 20_1

#13377 Renovation: Rename `style` property
  js/renovation/widget.tsx
  testing/jest/widget.tests.tsx
Labels: 20_2, renovation

#13409 Enhance NumberBox custom formatting support (T891203) (#13406)
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 19_2, cherry-pick

#13408 Enhance NumberBox custom formatting support (T891203) (#13406)
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 20_2, cherry-pick

#13379 DataGrid - Fixes applying column options when other options are changed (T895552)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#13380 DataGrid - Fixes applying column options when other options are changed (T895552)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#13381 DataGrid - Fixes applying column options when other options are changed (T895552)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#13394 DataGrid.ExcelJS export - thrown the deprecate warning when the 'cell' field of customizeCell handler argument is used
  js/exporter/exceljs/export_data_grid.js
  testing/tests/DevExpress.exporter/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljs.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Labels: 20_2

#13395 PivotGrid.ExcelJS export - support the predefined date formats
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Labels: 20_2

#13392 Scheduler - Workspaces -> ES6
  js/ui/scheduler/base/widgetObserver.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_day.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_work_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  js/ui/scheduler/workspaces/utils.work_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_2

#13419 PivotGrid.ExcelJS export - support the date format (#13395)
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Labels: 20_1, cherry-pick

#13292 dxScheduler - Select cells correctly when either vertical grouping or groupByDate is applied (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#13420 dxScheduler - Select cells correctly when either vertical grouping or groupByDate is applied (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 19_2, cherry-pick

#13422 dxScheduler - Select cells correctly when either vertical grouping or groupByDate is applied (T894533)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_1, cherry-pick

#13384 DropDownList based editors: dropDownOptions.width should be passed to the popup correctly (T897820)
  js/ui/autocomplete.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.js
  js/ui/date_box/ui.date_box.strategy.list.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1

#13426 DropDownList based editors: dropDownOptions.width should be passed to the popup correctly (T897820) (#13384)
  js/ui/autocomplete.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.js
  js/ui/date_box/ui.date_box.strategy.list.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#13428 Fix tooltipHidden calling issue after several call showTooltip(T899520)
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 20_1

#13424 Lookup: toolbarItems should be passed to the popup even if usePopover is true (T896951)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 20_1

#13429 Fix tooltipHidden calling issue after several call showTooltip(T899520)
  js/viz/chart_components/tracker.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: 20_2, cherry-pick

#13430 Fix domUtils.contains method for window
  js/core/utils/dom.js
  js/events/core/events_engine.js
  testing/tests/DevExpress.core/utils.dom.tests.js
Labels: 20_2

#13411 DataGrid - Fixes updating selectedRowKeys when editing.refreshMode is set to'reshape'/'repaint' (T896582)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2

#13412 DataGrid - Fixes updating selectedRowKeys when editing.refreshMode is set to'reshape'/'repaint' (T896582)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1, cherry-pick

#13413 DataGrid - Fixes updating selectedRowKeys when editing.refreshMode is set to'reshape'/'repaint' (T896582)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 19_2, cherry-pick

#13432 Lookup: toolbarItems should be passed to the popup even if usePopover is true (T896951) (#13424)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 20_2, cherry-pick

#13431 DataGrid: Fix validation message showing for a cell when Switch is used as an editor (T897363)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 20_2

#13399 DataGrid: Fix validation message showing for a cell when Switch is used as an editor (T897363)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 20_1

#13400 DataGrid: Fix validation message showing for a cell when Switch is used as an editor (T897363)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 19_2

#13434 Fix domUtils.contains method for window (#13430)
  js/core/utils/dom.js
  js/events/core/events_engine.js
  testing/tests/DevExpress.core/utils.dom.tests.js
Labels: 20_1, cherry-pick

#13439 Fix multiline Toolbar height for mobile devices (T899911)
  styles/widgets/common/toolbar.less
  testing/tests/DevExpress.ui.widgets/toolbar.multiline.tests.js
Labels: 20_1, cherry-pick

#13410 ExcelJS export - error is thrown when file opens with using the predefined 'billions' or 'millions' format (T899905)
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Labels: 20_2

#13440 Fix regression after #13424
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1

#13442 Fix multiline Toolbar height for mobile devices (T899911) (#13439)
  styles/widgets/common/toolbar.less
  testing/tests/DevExpress.ui.widgets/toolbar.multiline.tests.js
Labels: 20_2, cherry-pick

#13446 Fix regression after #13424 (#13440)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#13451 Scheduler - SchedulerTableCreator -> ES6
  js/ui/scheduler/ui.scheduler.table_creator.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/tableCreator.tests.js
Labels: 20_2

#13444 ExcelJS export - error is thrown when file opens with using the predefined 'billions' or 'millions' format (T899905)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2, cherry-pick

#13445 ExcelJS export - error is thrown when file opens with using the predefined 'billions' or 'millions' format (T899905) (#13410)
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Labels: 20_1, cherry-pick

#13418 Remove custom clean-css types
  themebuilder-scss/package.json
  themebuilder-scss/src/types/clean-css.d.ts
  themebuilder-scss/tests/tsconfig.json
Labels: 20_2

#13435 DataGrid - Fixes updating cell value in a last cell on Tab (T898356)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: 20_2

#13436 DataGrid - Fixes updating cell value in a last cell on Tab (T898356)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: 20_1, cherry-pick

#13437 DataGrid - Fixes updating cell value in a last cell on Tab (T898356)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: 19_2, cherry-pick

#13454 DataGrid: Fix duplicate grouped column with showWhenGrouped is enabled (T895529)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 20_2, cherry-pick

#13453 DataGrid: Fix duplicate grouped column with showWhenGrouped is enabled (T895529)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 20_1, cherry-pick

#13452 DataGrid: Fix duplicate grouped column with showWhenGrouped is enabled (T895529)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 19_2

#13456 Pass the "event" field of the HtmlEditor "valueChanged" event (T897800)
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/ui/formDialog.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_1

#13421 dxScheduler - add argument 'e.popup' to onAppointmentFormOpening
  js/ui/scheduler.d.ts
  js/ui/scheduler/appointmentPopup.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  ts/dx.all.d.ts
Labels: 20_2

#13461 LoadPanel - stop to force templatesRenderAsynchronously option value (T896267)
  js/ui/load_panel.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Labels: 20_1

#13467 Pass event related to the HtmlEditor valueChanged event (T897800) (#13456)
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/ui/formDialog.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 19_2, cherry-pick

#13465 Pass event related to the HtmlEditor valueChanged event (T897800) (#13456)
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/ui/formDialog.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_2, cherry-pick
