Repository DevExpress/DevExtreme, pull requests merged in 2020-11, with the labels that each got.

#15072 dxScheduler - refactoring time zone tests
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Labels: 20_2

#15108 Revert "Fix currentTime indication in Scheduler after refactoring"
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_1

#15111 Fix memory leaks in click and feedback events
  js/events/click.js
  js/events/core/emitter.feedback.js
  js/events/utils/event_nodes_disposing.js
Labels: 20_1, cherry-pick

#15110 Revert "Refactor Scheduler currentTimeIndicator rendering"
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_1

#15094 dxScheduler - Revert isDesktopEnvironment
  testing/helpers/scheduler/helpers.js
Labels: 20_2

#15120 Fix keyboard navigation in the SelectBox when using the IE11 (T945185)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 20_2

#15113 dxScheduler - Fix E1032 error on resize when "startDateExpr" is used (T944693)
  js/ui/scheduler/ui.scheduler.appointments.js
  testing/testcafe/tests/scheduler/resizeAppointments/basic.ts
Labels: 20_2

#15125 Fix keyboard navigation in the SelectBox when using the IE11 (T945185) (#15120)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 19_2, cherry-pick

#15123 Fix keyboard navigation in the SelectBox when using the IE11 (T945185) (#15120)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 20_1, cherry-pick

#15114 Themebuilder: add logging and error handling for DartClient
  package.json
  themebuilder-scss/dart-compiler/compiler-result.dart
  themebuilder-scss/dart-compiler/compiler.dart
  themebuilder-scss/dart-compiler/logger.dart
  themebuilder-scss/dart-compiler/run.js
  themebuilder-scss/dart-compiler/server.dart
  themebuilder-scss/package.json
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/src/modules/compiler.ts
  themebuilder-scss/src/modules/config-normalizer.ts
  themebuilder-scss/src/modules/dart-client.ts
  themebuilder-scss/src/modules/logger.ts
  themebuilder-scss/src/types/types.ts
  themebuilder-scss/tests/modules/compiler.test.ts
  themebuilder-scss/tests/modules/dart-client.test.ts
  themebuilder-scss/tests/modules/logger.test.ts
Labels: 20_2

#15119 Fix $base-border-radius customization with ThemeBuilder (T944915)
  scss/widgets/material/_sizes.scss
  themebuilder-scss/src/metadata/generator.ts
  themebuilder-scss/tests/metadata/generator.test.ts
Labels: 20_2

#15116 Refactor fixing wrong end date of appointment in Scheduler
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentModel.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 20_2

#15053 File Manager - Fix large files uploading (T928871)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_2

#15126 dxChart - Fix allowNegatives option for adjusting visualRange (T943983)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 20_2

#15127 dxChart - Fix allowNegatives option for adjusting visualRange (T943983)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 21_1, cherry-pick

#15130 File Manager - Fix large files uploading (T928871)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1, cherry-pick

#14919 ScrollView displays a horizontal scrollbar incorrectly on window resize when RTL is enabled (T934842)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 20_2

#15135 dxChart - fix incorrect bar width (T942650)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 21_1

#15134 dxChart - fix incorrect bar width (T942650)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 19_2, cherry-pick

#15140 DropDownEditor: Disallow dragging drop-down popup (T946143)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_2

#15142 DropDownEditor: Disallow dragging drop-down popup (T946143)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_2, cherry-pick

#15117 DataGrid - Fixes the width of the text command button (T945472)
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#15122 DataGrid - Fixes the width of the text command button (T945472)
  build/gulp/scss/theme-replacements.js
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/material/gridBase.material.less
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_1

#15124 DataGrid - Fixes the width of the text command button (T945472)
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/material/gridBase.material.less
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 19_2, cherry-pick

#15136 Moves sorting tests from dataGrid.tests.js to sorting.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: 20_2

#15138 Moves sorting tests from dataGrid.tests.js to sorting.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: 20_1, cherry-pick

#15139 Moves sorting tests from dataGrid.tests.js to sorting.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: 19_2, cherry-pick

#15141 DropDownEditor: Disallow dragging drop-down popup (T946143)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_1, cherry-pick

#15143 Fix perf tests in Google Chrome v86+
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 20_2

#15145 Fix perf tests in Google Chrome v86+
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 19_2

#15144 Fix perf tests in Google Chrome v86+
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Labels: 20_1, cherry-pick

#15137 ScrollView displays a horizontal scrollbar incorrectly on window resize when RTL is enabled (T934842) (#14919)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 20_1, cherry-pick

#15150 PivotGrid - fix tests after update Firefox version from 67.0.4 to 82.0.2
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_2

#15151 PivotGrid - fix tests after update Firefox version from 67.0.4 to 82.0.2
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 19_2, cherry-pick

#15152 PivotGrid - fix tests after update Firefox version from 67.0.4 to 82.0.2
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_1, cherry-pick

#15147 Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: 20_2

#15148 Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: 20_1, cherry-pick

#15149 Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: 19_2, cherry-pick

#15112 DataGrid: Fix data in validationCallback was empty after cancelEditData
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#15132 Fix current time indicator & shader rendering on timeline (T923329)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2

#15153 Fix current time indicator & shader rendering on timeline (T923329)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_1, cherry-pick

#15133 dateBox - show value with invalid hours with internal validation result (T939117)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_2

#15159 dateBox - show value with invalid hours with internal validation result (T939117)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#15160 dateBox - show value with invalid hours with internal validation result (T939117)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 19_2, cherry-pick

#15107 dxScheduler - fix height for MonthView on Mac (T943506)
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_2

#15166 dxScheduler - fix height for MonthView on Mac (T943506) (#15107)
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_1, cherry-pick

#15169 ResponsieBox - fix memory leaks if item option is changed (T940715)
  js/ui/responsive_box.js
  testing/tests/DevExpress.ui.widgets/responsiveBox.tests.js
Labels: 20_1, cherry-pick

#15163 DataGrid: Fix validation callback was not called if keys are composite (T946816)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2

#15173 Fix blinking HtmlEditor tests (#14431)
  testing/helpers/ignoreQuillTimers.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Labels: 19_2, cherry-pick

#15172 Fix blinking HtmlEditor tests (#14431)
  testing/helpers/ignoreQuillTimers.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Labels: 20_1, cherry-pick

#15155 Moves virtual/infinite scrolling tests from scrolling.integration.tests to virtualScrolling.integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_2

#15156 Moves virtual/infinite scrolling tests from scrolling.integration.tests to virtualScrolling.integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_1, cherry-pick

#15157 Moves virtual/infinite scrolling tests from scrolling.integration.tests to virtualScrolling.integration.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 19_2, cherry-pick

#15180 dxChart - Fix the calculation of synchronized multi-axis (T946603)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 19_2, cherry-pick

#15179 dxChart - Fix the calculation of synchronized multi-axis (T946603)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2

#15181 dxChart - Fix the calculation of synchronized multi-axis (T946603)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_1, cherry-pick

#15171 Animation position util should not raise any errors when position.of is html (T946851)
  js/animation/position.js
  testing/testcafe/tests/editors/pages/T946851.html
  testing/testcafe/tests/editors/popup.ts
Labels: 20_1

#15182 Animation position util should not raise any errors when position.of is html (T946851) (#15171)
  js/animation/position.js
  testing/testcafe/tests/editors/pages/T946851.html
  testing/testcafe/tests/editors/popup.ts
Labels: 20_2, cherry-pick

#15167 Fix Scheduler shader rendering on week view (T923862)
  js/ui/scheduler/shaders/ui.scheduler.current_time_shader.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
Labels: 20_2

#15170 Fix scroll position updating in Scheduler (T946739)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 20_2

#15174 Fix Scheduler shader rendering on week view (T923862)
  js/ui/scheduler/shaders/ui.scheduler.current_time_shader.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
Labels: 20_1, cherry-pick

#15183 Change the location of fonts and icons in npm packages
  build/gulp/npm.js
Labels: 20_2

#15178 Slider should work correctly with very small float step(T945742)
  js/core/utils/math.js
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 20_1

#15186 Slider should work correctly with very small float step(T945742) (#15178)
  js/core/utils/math.js
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 20_2, cherry-pick

#15189 Replace List toggle delete icon with SVG and optimize list styles (T946908)
  images/widgets/common/list/toggle-delete.svg
  images/widgets/generic/color-schemes/contrast/list/delete.png
  images/widgets/generic/color-schemes/dark/list/delete.png
  images/widgets/generic/color-schemes/light/list/delete.png
  images/widgets/material/color-schemes/dark/list/delete.png
  images/widgets/material/color-schemes/light/list/delete.png
  scss/widgets/base/list/_index.scss
  scss/widgets/base/list/_mixins.scss
  scss/widgets/generic/list/_colors.scss
  scss/widgets/generic/list/_index.scss
  scss/widgets/material/list/_colors.scss
  scss/widgets/material/list/_index.scss
Labels: 20_2

#15039 DataGrid PDF Export - Customize Cell
  js/exporter/jspdf/export.js
  js/pdf_exporter.d.ts
  js/pdf_exporter.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdfTestHelper.js
  ts/dx.all.d.ts
Labels: 20_2

#15190 Replace List toggle delete icon with SVG and optimize list styles (T946908) (#15189)
  images/widgets/common/list/toggle-delete.svg
  images/widgets/generic/color-schemes/contrast/list/delete.png
  images/widgets/generic/color-schemes/dark/list/delete.png
  images/widgets/generic/color-schemes/light/list/delete.png
  images/widgets/material/color-schemes/dark/list/delete.png
  images/widgets/material/color-schemes/light/list/delete.png
  scss/widgets/base/list/_index.scss
  scss/widgets/base/list/_mixins.scss
  scss/widgets/generic/list/_colors.scss
  scss/widgets/generic/list/_index.scss
  scss/widgets/material/list/_colors.scss
  scss/widgets/material/list/_index.scss
Labels: 21_1, cherry-pick

#15192 PivotGrid - Try to fix infinity state loading in React demo (T945988)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_1, cherry-pick

#15193 PivotGrid - Try to fix infinity state loading in React demo (T945988)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 21_1, cherry-pick

#15191 DataGrid PDF Export - Customize Cell (#15039)
  js/exporter/jspdf/export.js
  js/pdf_exporter.d.ts
  js/pdf_exporter.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdfTestHelper.js
  ts/dx.all.d.ts
Labels: 21_1, cherry-pick

#15201 Revert "Change the location of fonts and icons in npm packages (#15183)" (#15185)
  build/gulp/npm.js
Labels: 21_1

#15050 HtmlEditor - Save empty lines if valueType is changed (T937886)
  js/ui/html_editor/converters/markdown.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 20_1

#15195 File Manager - Fix widget repaint on directory sublevels (T931481)
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 20_1, cherry-pick

#15194 File Manager - Fix widget repaint on directory sublevels (T931481)
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 20_2

#15203 File Manager - Fix widget repaint on directory sublevels (T931481)
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 21_1, cherry-pick

#15204 dxChart: Fix bar width and point argument according to aggregation interval (T811576)
  js/viz/axes/base_axis.js
  js/viz/core/series_family.js
  js/viz/range_selector/range_selector.js
  js/viz/series/bar_series.js
  js/viz/series/bubble_series.js
  js/viz/series/financial_series.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/points/bar_point.js
  js/viz/series/range_series.js
  js/viz/series/scatter_series.js
  js/viz/translators/category_translator.js
  js/viz/translators/datetime_translator.js
  js/viz/translators/interval_translator.js
  js/viz/translators/logarithmic_translator.js
  js/viz/translators/translator2d.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 21_1

#15196 dxChart - fix zoom with `minVisualRangeLength` option and categories (T946599)
  js/viz/axes/base_axis.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/translators/category_translator.js
  js/viz/translators/datetime_translator.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 20_2

#15197 dxChart - fix zoom with `minVisualRangeLength` option and categories (T946599)
  js/viz/axes/base_axis.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/translators/category_translator.js
  js/viz/translators/datetime_translator.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/tracker.tests.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 21_1, cherry-pick

#15205 Remove dropDownEditor styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownEditor.scss
  scss/widgets/common/_dropDownBox.scss
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
Labels: 20_2

#15128 Remove scss generator
  .drone.yml
  .gitignore
  .travis.yml
  build/gulp/scss/common-replacements.js
  build/gulp/scss/compiler.js
  build/gulp/scss/config.js
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/snippets/color.scss
  build/gulp/scss/snippets/string.scss
  build/gulp/scss/tasks.js
  build/gulp/scss/tests/identical.test.js
  build/gulp/scss/theme-replacements.js
  docker-ci.sh
  gulpfile.js
  package.json
  shippable.yml
Labels: 20_1

#15207 Mark the "key" option of the Map widget as obsolete
  js/ui/map.d.ts
  js/ui/map.js
  js/ui/map/provider.js
  testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
  ts/dx.all.d.ts
Labels: 20_2

#15209 HtmlEditor clear formatting button should be active when selecting a fragment with mixed formatting (T947981)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_2

#15215 Fix TextBox keyboard hotkeys operability in IE11 (T944726, T944493)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 20_2

#15199 Popover wrapper should have correct position and dimensions when page is scrolled (T945429)
  js/core/utils/type.js
  js/ui/lookup.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.core/utils.type.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 20_2

#15221 Fix TextBox keyboard hotkeys operability in IE11 (T944726, T944493) (#15215)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 20_1, cherry-pick

#15220 Fix TextBox keyboard hotkeys operability in IE11 (T944726, T944493) (#15215)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 21_1, cherry-pick

#15217 Mark the "key" option of the Map widget as obsolete (#15207)
  js/ui/map.d.ts
  js/ui/map.js
  js/ui/map/provider.js
  testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
  ts/dx.all.d.ts
Labels: 21_1, cherry-pick

#15218 HtmlEditor clear formatting button should be active when selecting a fragment with mixed formatting (T947981) (#15209)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 21_1, cherry-pick

#15213 Remove dropDownEditor styles from dx.common.css (#15205)
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownEditor.scss
  scss/widgets/common/_dropDownBox.scss
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
Labels: 21_1, cherry-pick

#15219 HtmlEditor clear formatting button should be active when selecting a fragment with mixed formatting (T947981) (#15209)
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 20_1, cherry-pick

#15058 Testcafe screenshot test for pager
  .github/workflows/testcafe_tests.yml
  .testcaferc.json
  package.json
  testing/testcafe/helpers/screenshort-comparer.ts
  testing/testcafe/model/dataGrid/SelectableElement.ts
  testing/testcafe/model/dataGrid/navPage.ts
  testing/testcafe/model/dataGrid/pager.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/etalons/pager-compact.png
  testing/testcafe/tests/dataGrid/etalons/pager-full-allpages.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-small.png
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tsconfig.json
Labels: 20_2

#15188 dropDownBox - update popup maxHeight recalculation if popup is shown above the editor (T942217)
  js/ui/overlay/utils.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 20_2

#15206 ScrollView - scrollToElement() method works incorrecty when the element boundaries position on the level of scrollbars
  js/renovation/ui/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view.tsx
Labels: 20_2

#15212 Remove textBox styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_textBox.scss
  scss/widgets/generic/textBox/_index.scss
  scss/widgets/material/textBox/_index.scss
Labels: 20_2

#15237 ScrollView - scrollToElement() method works incorrecty when the element boundaries position on the level of scrollbars (#15206)
  js/renovation/ui/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view.tsx
Labels: 21_1, cherry-pick

#15175 ScrollView - scrollTo() method does not take into account the scrollbars dimension in Firefox (T947463)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 20_2

#15146 DataGrid: Add testcafe matrix tests for editing
  js/ui/shared/ui.editor_factory_mixin.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/editForm.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: 20_2

#15244 DataGrid: Add testcafe matrix tests for editing
  js/ui/shared/ui.editor_factory_mixin.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/editForm.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: 21_1, cherry-pick

#15231 DataGrid: Fix unnecessary scroll when a button in a cell is clicked (T945907)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#15232 DataGrid: Fix unnecessary scroll when a button in a cell is clicked (T945907)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#15233 DataGrid: Fix unnecessary scroll when a button in a cell is clicked (T945907)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_1, cherry-pick

#15241 TagBox should pass correct event to valueChanged parameter (T947619)
  js/ui/list/ui.list.base.js
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/list/ui.list.edit.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2

#15230 Diagram - remove data layout orientation 'Auto'
  js/docEnums.js
  js/ui/diagram.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick

#15235 HtmlEditor - Save empty lines if valueType is changed (T937886) (#15050)
  js/ui/html_editor/converters/markdown.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 20_2, cherry-pick

#15236 HtmlEditor - Save empty lines if valueType is changed (T937886) (#15050)
  js/ui/html_editor/converters/markdown.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
Labels: 21_1, cherry-pick

#15251 dropDownBox - update popup maxHeight recalculation if popup is shown above the editor (T942217)
  js/ui/overlay/utils.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 20_1, cherry-pick

#15252 dropDownBox - update popup maxHeight recalculation if popup is shown above the editor (T942217)
  js/ui/overlay/utils.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 21_1, cherry-pick

#15176 ScrollView - scrollTo() method does not take into account the scrollbars dimension in Firefox (T947463)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 20_1, cherry-pick

#15200 ScrollView - scrollTo() method does not take into account the scrollbars dimension in Firefox (T947463)
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 21_1, cherry-pick

#15238 dxScheduler - pass current resource to TargetedAppointment arg in AppointmentClick event
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 20_2, WIP

#15255 TagBox should pass correct event to valueChanged parameter (T947619)
  js/ui/list/ui.list.base.js
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/list/ui.list.edit.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1, cherry-pick

#15254 TagBox should pass correct event to valueChanged parameter (T947619)
  js/ui/list/ui.list.base.js
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/list/ui.list.edit.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#15198 dxScheduler - Fix step's rounding while resizing horizontally (T948164)
  js/ui/scheduler/ui.scheduler.appointment.js
  testing/testcafe/tests/scheduler/resizeAppointments/timeline.ts
Labels: 20_2

#15210 DataGrid - Fixes horizontal scroll position when RTL enabled (T934842) (#15208)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 21_1, cherry-pick

#15208 DataGrid - Fixes horizontal scroll position when RTL enabled (T934842)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 20_2

#15211 DataGrid - Fixes horizontal scroll position when RTL enabled (T934842) (#15208)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 20_1, cherry-pick

#15262 Mark "items" option of the DropDownBox as hidden
  js/ui/drop_down_box.js
Labels: 20_2, cherry-pick

#15263 Mark "items" option of the DropDownBox as hidden
  js/ui/drop_down_box.js
Labels: 20_1, cherry-pick

#15261 Mark "items" option of the DropDownBox as hidden
  js/ui/drop_down_box.js
Labels: 21_1

#15265 dxScheduler - Fix step's rounding while resizing horizontally (T948164)
  js/ui/scheduler/ui.scheduler.appointment.js
  testing/testcafe/tests/scheduler/resizeAppointments/timeline.ts
Labels: 21_1, cherry-pick

#15258 DataGrid: scrolling.showScrollbar - fix default value for desktop
  js/ui/data_grid.d.ts
Labels: 21_1, cherry-pick

#15257 DataGrid: scrolling.showScrollbar - fix default value for desktop
  js/ui/data_grid.d.ts
Labels: 20_2, cherry-pick

#15256 DataGrid: scrolling.showScrollbar - fix default value for desktop
  js/ui/data_grid.d.ts
Labels: 20_1

#15264 dxScheduler - pass current resource to TargetedAppointment arg in AppointmentClick event
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 21_1, cherry-pick

#15266 dxScheduler - Fix step's rounding while resizing horizontally (T948164)
  js/ui/scheduler/ui.scheduler.appointment.js
  testing/testcafe/tests/scheduler/resizeAppointments/timeline.ts
Labels: 20_1, cherry-pick

#15271 Update tools version
  package.json
Labels: 21_1

#15245 Fix tests after #15199
  js/ui/overlay/ui.overlay.js
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 20_2

#15259 Remove tabs styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_tabs.scss
  scss/widgets/generic/tabs/_index.scss
  scss/widgets/material/tabs/_index.scss
  testing/tests/DevExpress.performance/collectionStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Labels: 20_2

#15225 Popover wrapper should have correct position and dimensions when page is scrolled (T945429) (#15199)
  js/core/utils/type.js
  js/ui/lookup.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.core/utils.type.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 21_1, cherry-pick

#15224 Popover wrapper should have correct position and dimensions when page is scrolled (T945429) (#15199)
  js/core/utils/type.js
  js/ui/lookup.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.core/utils.type.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 20_1, cherry-pick

#15216 DataGrid: Fix edit buttons were disabled after editing start in batch
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_1

#15273 Testcafe screenshot test for pager (#15058)
  .github/workflows/testcafe_tests.yml
  .testcaferc.json
  package.json
  testing/testcafe/helpers/screenshort-comparer.ts
  testing/testcafe/model/dataGrid/SelectableElement.ts
  testing/testcafe/model/dataGrid/navPage.ts
  testing/testcafe/model/dataGrid/pager.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/dataGrid/etalons/pager-compact.png
  testing/testcafe/tests/dataGrid/etalons/pager-full-allpages.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-small.png
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tsconfig.json
Labels: 21_1, cherry-pick

#15277 Remove tabs styles from dx.common.css (#15259)
  scss/bundles/dx.common.scss
  scss/widgets/base/_tabs.scss
  scss/widgets/generic/tabs/_index.scss
  scss/widgets/material/tabs/_index.scss
  testing/tests/DevExpress.performance/collectionStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Labels: 21_1, cherry-pick

#15239 Remove textBox styles from dx.common.css (#15212)
  scss/bundles/dx.common.scss
  scss/widgets/base/_textBox.scss
  scss/widgets/generic/textBox/_index.scss
  scss/widgets/material/textBox/_index.scss
Labels: 21_1, cherry-pick

#15268 Add flag option to use deferUpdate in templates
  js/core/template_manager.js
  testing/tests/DevExpress.core/domComponent.tests.js
  testing/tests/DevExpress.core/template_manager.tests.js
Labels: 20_1

#15280 dxScheduler - use field expression for disabled property(T948297)
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_2

#15281 dxScheduler - use field expression for disabled property(T948297)
  js/ui/scheduler/appointmentAdapter.js
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 21_1, cherry-pick

#15214 TreeView - The control is rendered slowly when itemRender is used to render a large number of child items (T895775)
  js/ui/tree_view/ui.tree_view.base.js
Labels: 20_2

#15222 TreeView - The control is rendered slowly when itemRender is used to render a large number of child items (T895775)
  js/ui/tree_view/ui.tree_view.base.js
Labels: 20_1, cherry-pick

#15223 TreeView - The control is rendered slowly when itemRender is used to render a large number of child items (T895775)
  js/ui/tree_view/ui.tree_view.base.js
Labels: 21_1, cherry-pick

#15283 DataGrid - Fixes firing onToolbarPreparing when editing.editRowKey is changed (T949025)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#15284 DataGrid - Fixes firing onToolbarPreparing when editing.editRowKey is changed (T949025) #15283
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_1, cherry-pick

#14103 Fix replacement of the RadioGroup's asynchronous custom store (T901779)
  js/ui/radio_group/radio_group.js
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 20_1

#15282 dxScheduler - use field expression for disabled property(T948297)
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_1, cherry-pick

#15275 Drawer - 'opened: true' doesn't show panel in Angular app (T948509)
  js/ui/drawer/ui.drawer.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 20_2

#15184 Fix datagrid editing behavior (T943074)
  scss/widgets/material/gridBase/_index.scss
  scss/widgets/material/gridBase/_sizes.scss
Labels: 20_2

#15226 dxScheduler - fix multiple DnD from tooltip
  js/ui/scheduler/appointmentDragBehavior.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_2

#15202 dxScheduler - fix appointments dragged from an appointment collector are displayed behind List (T938908)
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 20_2

#15287 Fix replacement of the RadioGroup's asynchronous custom store (T901779) (#14103)
  js/ui/radio_group/radio_group.js
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 20_2, cherry-pick

#15289 Fix replacement of the RadioGroup's asynchronous custom store (T901779) (#14103)
  js/ui/radio_group/radio_group.js
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 19_2, cherry-pick
