Repository DevExpress/DevExtreme, pull requests merged in 2020-02, with the labels that each got.

#11823 Fix "Initialized and Disposing events" tests for IE (#11814)
  testing/tests/DevExpress.ui.widgets/init_dispose_widget_bundled_tests.js
Labels: 19_2, cherry-pick

#11810 Add missing TagBox tests
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1

#11827 Renovation: add Button's text tests
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Labels: renovation

#11826 Renovation: add Button's integration tabIndex tests
  testing/jest/button.tests.tsx
Labels: renovation

#11828 ESLint: Add additional rules from "qunit/recommended" configuration (#10858)
  testing/.eslintrc
Labels: 19_2, cherry-pick

#11822 Renovation: fix tests tsx compilation
  docker-ci.sh
  package.json
  testing/jest/.eslintrc
  testing/jest/button.tests.tsx
  testing/jest/widget.tests.tsx
  tsconfig.json
Labels: renovation

#11835 Editors: Fix globals in tests (#10797) (#11780)
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
Labels: 19_1, cherry-pick

#11834 HtmlEditor: Fix globals in tests (#10793) (#11777)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converterController.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/quillRegistrator.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/variablesModule.tests.js
Labels: 19_1, cherry-pick

#11836 Events: Fix globals in tests (#10817) (#11781)
  testing/tests/DevExpress.ui.events/click.tests.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
  testing/tests/DevExpress.ui.events/eventRegistrator.tests.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/msPointerTests.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  testing/tests/DevExpress.ui.events/swipe.tests.js
Labels: 19_1, cherry-pick

#11840 Exporter: Fix globals in tests (#10795) (#11795)
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
Labels: 19_1, cherry-pick

#11839 Core: Fix globals in tests (#10804) (#11791)
  testing/helpers/registerKeyHandlerTestHelper.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.core/action.tests.js
  testing/tests/DevExpress.core/class.tests.js
  testing/tests/DevExpress.core/component.tests.js
  testing/tests/DevExpress.core/renderer.tests.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
  testing/tests/DevExpress.core/utils.callbacks.tests.js
  testing/tests/DevExpress.core/utils.common.tests.js
  testing/tests/DevExpress.core/utils.data.tests.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.data/abstractStore.test.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.data/queryArray.tests.js
  testing/tests/DevExpress.data/storeArray.tests.js
  testing/tests/DevExpress.data/utils.tests.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
Labels: 19_1, cherry-pick

#11837 Widgets: Fix globals in tests (#11787)
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.serverSide/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/box.markup.tests.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/diagram.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/gallery.markup.tests.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/responsiveBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/slideOutView.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  testing/tests/DevExpress.ui/floatingActionButtonRepaint.tests.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalCollectionWidget.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalDataAdapter.js
  testing/tests/DevExpress.ui/keyboardProcessor.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
  testing/tests/DevExpress.utils/utils.caret.tests.js
  testing/tests/DevExpress.utils/utils.common.js
  testing/tests/DevExpress.utils/utils.support.tests.js
Labels: 19_1, cherry-pick

#11838 Form: Fix globals in tests (#10801) (#11789)
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_formData.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Labels: 19_1, cherry-pick

#11841 Scheduler: Fix globals in tests (#10800) (#11792)
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 19_1, cherry-pick

#11843 QUnit: Make extensions compatible with IE
  testing/helpers/qunitExtensions.js
Labels: 20_1

#11842 Add eslint-plugin-qunit (#11802)
  docker-ci.sh
  package.json
  testing/.eslintrc
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.local.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/legend.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.element.tests.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.tests.js
Labels: 19_1, cherry-pick

#11831 Scss: add new widgets to generator
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/generic/dateBox.generic.less
  styles/widgets/material/textArea.material.less
  styles/widgets/material/timeView.material.less
  styles/widgets/material/treeView.material.less
Labels: 20_1

#11659 DataGrid: Fix cell was not highlighted after editing another cell and click (refix T836391)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_1, cherry-pick

#11848 ESLint: Enable "qunit/no-arrow-tests" rule (#10830) (#11808)
  testing/.eslintrc
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.serverSide/scheduler.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
  testing/tests/DevExpress.ui/themes.tests.js
Labels: 19_1, cherry-pick

#11849 ESLint: Add additional rules from "qunit/recommended" configuration (#10858)
  testing/.eslintrc
Labels: 19_1, cherry-pick

#11855 DOTNET_USE_POLLING_FILE_WATCHER=true (docker-ci)
  docker-ci.sh
Labels: 20_1

#11844 QUnit: Make extensions compatible with IE (#11843)
  testing/helpers/qunitExtensions.js
Labels: 19_2, cherry-pick

#11857 Add missing TagBox tests
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 19_2, cherry-pick

#11853 FileManager - Update result type for file provider's methods
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/custom.js
  js/ui/file_manager/file_provider/file_provider.d.ts
  js/ui/file_manager/file_provider/file_provider.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11658 DataGrid: Fix cell was not highlighted after editing another cell and click (refix T836391)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 19_2

#11865 DOTNET_USE_POLLING_FILE_WATCHER=true (docker-ci) (#11855)
  docker-ci.sh
Labels: 19_2, cherry-pick

#11864 DOTNET_USE_POLLING_FILE_WATCHER=true (docker-ci) (#11855)
  docker-ci.sh
Labels: 19_1, cherry-pick

#11868 Scss: add new widgets to generator
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/base/colorView.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/tooltip.material.less
Labels: 20_1

#11801 ThemeBuilder tests refactoring
  themebuilder/tests/builder-spec.js
  themebuilder/tests/less-template-loader-spec.js
Labels: 20_1

#11845 Renovation: implement Button.useSubmitBehavior
  js/renovation/button.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
  testing/jest/widget.tests.tsx
Labels: renovation

#11825 dxLookup - Fix field paddings in the Material theme
  styles/widgets/material/lookup.material.less
Labels: 19_2

#11861 QUnit: Extensions refactoring (#11645, #11765, #11843)
  testing/.eslintrc
  testing/helpers/ignoreAngularTimers.js
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.angular/modelIntegration.tests.js
  testing/tests/DevExpress.angular/widgets.tests.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.gauges/linearGauge.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/bulletTooltip.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
  testing/tests/DevExpress.viz.sparklines/sparklineTooltip.tests.js
  testing/tests/DevExpress/misc.tests.js
Labels: 19_1, cherry-pick

#11833 DataGrid: Fix group cell that has the dx-datagrid-hidden-column class when the hidingPriority property is specified for a grid column (T857506)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 20_1, cherry-pick

#11832 DataGrid: Fix group cell that has the dx-datagrid-hidden-column class when the hidingPriority property is specified for a grid column (T857506)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: 19_2

#11851 Support ScrollView reachBottom event for dropDownLists keyboard navigation if the browser is zoomed (T858013)
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
  js/ui/scroll_view/ui.scroll_view.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 20_1

#11877 DataGrid: The onFocusedRowChanged event firing refactoring
  js/ui/grid_core/ui.grid_core.focus.js
  testing/functional/helpers/testHelper.ts
  testing/functional/tests/dataGrid/focusedRow.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 19_2, cherry-pick

#11856 FilterBuilder: Fix field menu showing for the last items if there's not enough space in the bottom (T852701) (#11607)
  js/ui/filter_builder/filter_builder.js
  testing/functional/model/filterBuilder.ts
  testing/functional/tests/filterBuilder/filterBuilder.ts
  testing/functional/tests/filterBuilder/pages/T852701.html
Labels: 19_1, cherry-pick

#11850 ESLint: Add "qunit/literal-compare-order" rule (#10761) (#11811)
  testing/.eslintrc
  testing/tests/DevExpress.core/utils.topOverlay.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui/themes.tests.js
Labels: 19_1, cherry-pick

#11878 HtmlEditor: Ignore Quill timers in tests (#11818) (#11821)
  testing/helpers/ignoreQuillTimers.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.converterController.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.missingModules.tests.part1.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.missingModules.tests.part2.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
Labels: 19_1, cherry-pick

#11754 dxScheduler - fix appointment popup on closing (T854500)
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.appointment_form.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 20_1

#11884 Fix angular typescript hack
  build/gulp/ts.js
Labels: 20_1

#11876 Fix FF test after #11724
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#11873 ThemeBuilder tests refactoring (#11801)
  themebuilder/tests/builder-spec.js
  themebuilder/tests/less-template-loader-spec.js
Labels: 19_2, cherry-pick

#11882 Support ScrollView reachBottom event for dropDownLists keyboard navigation if the browser is zoomed (T858013)
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
  js/ui/scroll_view/ui.scroll_view.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 19_2, cherry-pick

#11883 Support ScrollView reachBottom event for dropDownLists keyboard navigation if the browser is zoomed (T858013)
  js/ui/scroll_view/ui.scroll_view.native.pull_down.js
  js/ui/scroll_view/ui.scroll_view.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 19_1, cherry-pick

#11881 dxScheduler - fix appointment popup on closing (T854500)
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.appointment_form.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 19_2, cherry-pick

#11887 Widgets: Eliminate global object pollution
  js/ui/tooltip/tooltip.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 20_1

#11872 Move components input to separate class
  jest.config.js
  js/component_declaration/common.ts
  js/component_declaration/jsx-g.js
  js/component_declaration/jsx-g.ts
  js/component_declaration/jsx.d.ts
  js/component_declaration/jsx.js
  js/renovation/button.tsx
  js/renovation/widget.tsx
  package.json
  testing/jest/tsconfig.json
  testing/jest/tslint.json
  tsconfig.json
Labels: renovation

#11794 TreeList: Fix values were not assigned by e.promise in onInitNewRow (T857405)
  js/ui/tree_list/ui.tree_list.editing.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_1, cherry-pick

#11793 TreeList: Fix values were not assigned by e.promise in onInitNewRow (T857405)
  js/ui/tree_list/ui.tree_list.editing.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2

#11846 Fix Calendar accessibility issues
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.views.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarView.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 20_1

#11880 Support zero value as a new selected item key for the DropDownButton (T858698)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_1

#11888 DataGrid: Remove globals in tests
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 20_1

#11885 FileManager - Add public constructor for FileManagerItem class
  js/ui/file_manager/file_provider/file_provider.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/ajaxProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/common.tests.js
Labels: 20_1

#11871 TreeList: Add node property for a detail adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.treeList/adaptiveColumns.tests.js
Labels: 20_1, cherry-pick

#11870 TreeList: Add node property for a detail adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.treeList/adaptiveColumns.tests.js
Labels: 19_2

#11807 ExcelJS - add doс comments for arguments of the 'exportDataGrid' function
  build/gulp/modules_metadata.json
  js/exporter/excel/excel.doc_comments.d.ts
  js/exporter/excel/excel.doc_comments.js
  js/exporter/exceljs/excelExporter.d.ts
  js/exporter/exceljs/excelExporter.js
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 20_1

#11889 Support zero value as a new selected item key for the DropDownButton (T858013)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_2, cherry-pick

#11890 Support zero value as a new selected item key for the DropDownButton (T858013)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 19_1, cherry-pick

#11894 Renovation: move click and key handlers into Button declaration
  js/renovation/button.tsx
  package.json
Labels: renovation

#11895 TreeList: Fix navigateTo to the same page with row expanding after #11724
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_1

#11897 Don't hang if QUnit runner is broken (docker-ci)
  docker-ci.sh
Labels: 20_1

#11896 TreeList: Fix navigateTo to the same page with row expanding after #11724
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2, cherry-pick

#11898 Revert "ExcelJS - add doc comments for arguments of the 'exportDataGrid' function (#11807)"
  build/gulp/modules_metadata.json
  js/exporter/excel/excel.doc_comments.d.ts
  js/exporter/excel/excel.doc_comments.js
  js/exporter/exceljs/excelExporter.d.ts
  js/exporter/exceljs/excelExporter.js
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 20_1

#11893 Fix Calendar accessibility issues (#11846)
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.views.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarView.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 19_1, cherry-pick

#11892 Fix Calendar accessibility issues (#11846)
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.views.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarView.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 19_2, cherry-pick

#11901 Merge js/events.d.ts into js/events/index.d.ts
  js/events.d.ts
  js/events/index.d.ts
Labels: 20_1

#11902 DataGrid - KeyboardNavigation - Replace pointerUp with pointerDown
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 19_2, cherry-pick

#11900 DataGrid - KeyboardNavigation - Replace pointerUp with pointerDown
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1

#11905 FileManager - Update public API
  build/gulp/modules_metadata.json
  js/bundles/modules/file_management.js
  js/bundles/modules/file_providers.js
  js/bundles/modules/parts/file_management.js
  js/bundles/modules/parts/file_providers.js
  js/bundles/modules/parts/widgets-base.js
  js/docEnums.js
  js/file_management/custom_provider.d.ts
  js/file_management/custom_provider.js
  js/file_management/errors.js
  js/file_management/file_system_item.d.ts
  js/file_management/file_system_item.js
  js/file_management/object_provider.d.ts
  js/file_management/object_provider.js
  js/file_management/provider_base.d.ts
  js/file_management/provider_base.js
  js/file_management/remote_provider.d.ts
  js/file_management/remote_provider.js
  js/file_management/utils.js
  js/ui/file_manager.d.ts
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/ajax.d.ts
  js/ui/file_manager/file_provider/ajax.js
  js/ui/file_manager/file_provider/array.d.ts
  js/ui/file_manager/file_provider/custom.d.ts
  js/ui/file_manager/file_provider/file_provider.d.ts
  js/ui/file_manager/file_provider/file_provider.js
  js/ui/file_manager/file_provider/remote.d.ts
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.common.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.messages.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManager/file_provider.test.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/ajaxProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11907 File Manager - ProgressPanel items appearance
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/fileManager.material.less
Labels: 20_1

#11866 RadioGroup: add some event tests
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 20_1

#11908 RadioGroup: add some event tests
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 19_2, cherry-pick

#11904 TreeList: Fix getSelectedRowsData method when calling navigateToRow in the onNodesInitialized event (T858312)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_1, cherry-pick

#11903 TreeList: Fix getSelectedRowsData method when calling navigateToRow in the onNodesInitialized event (T858312)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 19_2

#11912 ExcelJS - add doс comments for arguments of the 'exportDataGrid' function
  js/exporter/excel/excel.doc_comments.d.ts
  js/exporter/excel/excel.doc_comments.js
  js/exporter/exceljs/excelExporter.d.ts
  js/exporter/exceljs/excelExporter.js
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 20_1

#11909 Drone CI - Add performance tests, fix setting timezones and correct timezones in test matrix
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Labels: 19_2

#11910 DataGrid: Fix onFocusedRowChanged firing on scroll if autoNavigateToFocusedRow is false after #11724
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 20_1

#11911 DataGrid: Fix onFocusedRowChanged firing on scroll if autoNavigateToFocusedRow is false after #11724
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Labels: 19_2, cherry-pick

#11869 Fix zero-time appointment width in month & timelineMonth views (T858496)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month_line.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 19_2

#11860 Fix zero-time appointment width in month & timelineMonth views (T858496)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month_line.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Labels: 20_1, cherry-pick

#11906 Drone CI - Fix setting timezone
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Labels: 20_1

#11918 List: Fix incorrect dragged item render if RTL is enabled (T859557)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 20_1

#11919 List: Fix incorrect dragged item render if RTL is enabled (T859557)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 19_2, cherry-pick

#11922 Fix "event" argument of the Switch "valueChanged" event when value changed by gesture (T860005)
  js/ui/switch.js
  testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Labels: 20_1

#11925 Fix "event" argument of the Switch "valueChanged" event when value changed by gesture (T860005) (#11922)
  js/ui/switch.js
  testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Labels: 19_1, cherry-pick

#11920 Renovation: Rename declaration decorators
  js/renovation/button.tsx
  js/renovation/widget.tsx
  package.json
Labels: renovation

#11924 Fix "event" argument of the Switch "valueChanged" event when value changed by gesture (T860005) (#11922)
  js/ui/switch.js
  testing/tests/DevExpress.ui.widgets.editors/switch.tests.js
Labels: 19_2, cherry-pick

#11926 File Manager - ProgressPanel close button alignment
  styles/widgets/common/fileManager.less
Labels: 20_1

#11916 Renovation: inkRipple refactoring
  js/ui/widget/utils.ink_ripple.js
  testing/tests/DevExpress.utils/utils.inkRipple.tests.js
Labels: renovation

#11933 FileManager - Update FileSystemProviderBase.getItems() method signature
  js/file_management/custom_provider.js
  js/file_management/file_system_item.js
  js/file_management/object_provider.js
  js/file_management/provider_base.d.ts
  js/file_management/provider_base.js
  js/file_management/remote_provider.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.breadcrumbs.js
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11936 ExcelJS - rename cellsRange to cellRange
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 20_1

#11923 Fix the knokout binding with the observable array in the Form
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.knockout/form.tests.js
Labels: 19_2

#11914 DataGrid: fix column header's sort icon remains after grouping by this column if showWhenGrouped (T859208)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.sorting_mixin.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#11915 DataGrid: fix column header's sort icon remains after grouping by this column if showWhenGrouped (T859208)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.sorting_mixin.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#11891 dxLookup - Fix field paddings in the Material theme
  styles/widgets/material/lookup.material.less
Labels: 20_1, cherry-pick

#11941 ExcelJS - rename cellsRange to cellRange (#11936)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2, cherry-pick

#11937 DataGrid - Click by command select cell should not highlight focus if editing is enabled (refix T836391)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 20_1

#11938 CI: QUnit runner watchdog
  docker-ci.sh
  testing/runner/Controllers/MainController.cs
Labels: 20_1

#11935 ExcelJS - change doc comments
  js/bundles/modules/core.js
  js/excel_exporter.d.ts
  js/excel_exporter.js
  js/exporter/exceljs/export_data_grid.js
  js/ui/data_grid.d.ts
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11932 Renovation: implement Button.useInkRipple
  js/renovation/button.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/widget.tests.tsx
Labels: renovation

#11946 DataGrid - Click by command select cell should not highlight focus if editing is enabled (refix T836391)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 19_2, cherry-pick

#11939 Don't build all themes in TEST_CI mode
  build/gulp/style-compiler.js
  gulpfile.js
Labels: 20_1

#11950 File Manager - ProgressPanel file icons size
  styles/widgets/common/fileManager.less
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/fileManager.material.less
Labels: 20_1

#11951 FileManager - Progress panel close button alignment
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/fileManager.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
Labels: 20_1

#11954 Fix the knokout binding with the observable array in the Form (T856224)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.knockout/form.tests.js
Labels: 19_2, cherry-pick

#11952 FileManager - Update CustomFileSystemProviderOptions declarations
  js/file_management/custom_provider.d.ts
  js/file_management/custom_provider.js
  js/file_management/file_system_item.d.ts
  js/file_management/upload_info.d.ts
  js/ui/file_uploader.d.ts
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11953 FileManager - Update event / callback function signatures
  js/file_management/object_provider.d.ts
  js/file_management/provider_base.d.ts
  js/file_management/remote_provider.d.ts
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11929 Draggable: fix clone had incorrect direction if rtlEnabled (T859557 refix)
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 19_2, cherry-pick

#11928 Draggable: fix clone had incorrect direction if rtlEnabled (T859557 refix)
  js/ui/draggable.js
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 20_1

#11955 Fix label and bar point overlapping on the edge of pane (T856746)
  js/viz/series/points/bar_point.js
  js/viz/series/points/candlestick_point.js
  js/viz/series/points/polar_point.js
  js/viz/series/points/range_bar_point.js
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
Labels: 20_1

#11956 Fix label and bar point overlapping on the edge of pane (T856746)
  js/viz/series/points/bar_point.js
  js/viz/series/points/candlestick_point.js
  js/viz/series/points/polar_point.js
  js/viz/series/points/range_bar_point.js
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
Labels: 19_2, cherry-pick

#11960 Fix double min-width rule in the CSS bundle
  styles/widgets/base/pivotGrid.less
  styles/widgets/ios7/pivotGrid.ios7.less
Labels: 20_1

#11961 Fix double min-width rule in the CSS bundle
  styles/widgets/base/pivotGrid.less
  styles/widgets/ios7/pivotGrid.ios7.less
Labels: 19_2, cherry-pick

#11934 ASP.NET: warning about the alternate template syntax
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 20_1

#11948 Renovation: Button.icon refactoring
  js/renovation/button.tsx
Labels: renovation

#11949 Limit DropDownLists popup height if the container is larger than a window (T859133)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 20_1

#11966 FileManager - Add upload.chunkSize option
  js/ui/file_manager.d.ts
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  ts/dx.all.d.ts
Labels: 20_1

#11968 Limit DropDownLists popup height if the container is larger than a window (T859133)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_2, cherry-pick

#11970 Limit DropDownLists popup height if the container is larger than a window (T859133)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 19_1, cherry-pick

#11874 Form - fix labels width, if group container has colSpan property (T857646)
  js/ui/form/ui.form.js
  testing/helpers/FormLayoutTestWrapper.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.scenarios.tests.js
Labels: 20_1

#11969 Fix Intl date formatting for small years
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
Labels: 20_1

#11972 Form - Fix layout tests
  testing/tests/DevExpress.ui.widgets.form/form.scenarios.tests.js
Labels: 20_1

#11973 Fix Intl date formatting for small years
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
Labels: 19_2, cherry-pick

#11975 Renovation: use tslint before commit
  js/renovation/widget.tsx
  package.json
  tslint.json
Labels: renovation

#11976 DataGrid - Fix TestCafe test - Decrease click operations speed
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 19_2

#11977 DataGrid - Fix TestCafe test - Decrease click operations speed
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Labels: 20_1, cherry-pick

#11979 Fix stock points label rendering out of visible area
  js/viz/series/points/bar_point.js
  js/viz/series/points/candlestick_point.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
Labels: 20_1

#11980 Fix stock points label rendering out of visible area
  js/viz/series/points/bar_point.js
  js/viz/series/points/candlestick_point.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
Labels: 19_2, cherry-pick

#11967 ExcelJS - save 'boolean' format in cells for 'boolean' columns in DataGrid.
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 20_1

#11986 TS: Skip default library compilation checks
  build/gulp/ts.js
Labels: 20_1

#11971 Form - fix labels width, if group container has colSpan property (T857646)
  js/ui/form/ui.form.js
  testing/helpers/FormLayoutTestWrapper.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.scenarios.tests.js
Labels: 19_2

#11945 DataGrid - Group row headers has the incorrect color in Firefox when fixed columns are enabled (T852898)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#11947 DataGrid - Group row headers has the incorrect color in Firefox when fixed columns are enabled (T852898)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_2, cherry-pick

#11988 TS: Skip default library compilation checks (#11986)
  build/gulp/ts.js
Labels: 19_2, cherry-pick

#11987 ExcelJS - save 'boolean' format in cells for 'boolean' columns in DataGrid. (#11967)
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Labels: 19_2, cherry-pick

#11990 TS: Skip default library compilation checks
  build/gulp/npm.js
  build/gulp/ts.js
Labels: 19_1

#11927 DropDownEditor: Move 'contentTemplate' option to DropDownBox (T860163)
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.knockout/dropDownBox.tests.js
  testing/tests/DevExpress.knockout/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 19_1

#11982 Focusing should be hidden if document.visibilityState changed to visible (T858241, T833123)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Labels: 19_2

#11942 Focusing should be hidden if document.visibilityState changed to visible (T858241, T833123)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Labels: 20_1

#11757 Renovation: implement button's iconPosition
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Labels: renovation

#11711 Renovation: implement base widget focus and add icon test
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
  testing/jest/widget.tests.tsx
Labels: renovation

#11989 Fix HtmlEditor keyboard navigation during mentions data source loading (T859362)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: 20_1

#11999 FileUploader for Angular - The "$statusMessage is null" error occurs when the component is hidden via the ngIf expression in the OnUploaded handler (T857021)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_1, cherry-pick

#11998 FileUploader for Angular - The "$statusMessage is null" error occurs when the component is hidden via the ngIf expression in the OnUploaded handler (T857021)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 19_2, cherry-pick

#11997 FileUploader for Angular - The "$statusMessage is null" error occurs when the component is hidden via the ngIf expression in the OnUploaded handler (T857021)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_1

#12004 Fix TS compilation check
  build/gulp/ts.js
Labels: 20_1

#11931 dxScheduler - time panel should correct time in case daylight saving time(T852308)
  js/ui/scheduler/utils.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 19_2

#11985 Use actual rollers value as a new date if click to DateBox Apply button without any rollers navigation (T860282)
  js/ui/date_box/ui.date_box.strategy.date_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1

#12008 DataGrid - Redesign test for jQuery 1, 2
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Labels: 20_1
