Repository DevExpress/DevExtreme, pull requests merged in 2021-02, with the labels that each got.

#16221 Remove map from dx.common.css
  js/ui/map.js
  scss/bundles/dx.common.scss
  scss/widgets/base/_map.scss
  scss/widgets/generic/_index.scss
  scss/widgets/generic/map/_index.scss
  scss/widgets/material/_index.scss
  scss/widgets/material/map/_index.scss
  testing/tests/DevExpress.ui.widgets/map.tests.js
Labels: 20_2

#16226 Remove map from dx.common.css (#16221)
  js/ui/map.js
  scss/bundles/dx.common.scss
  scss/widgets/base/_map.scss
  scss/widgets/generic/_index.scss
  scss/widgets/generic/map/_index.scss
  scss/widgets/material/_index.scss
  scss/widgets/material/map/_index.scss
  testing/tests/DevExpress.ui.widgets/map.tests.js
Labels: 21_1, cherry-pick

#16188 Fix: domAdapter.isNode should ignore objects with nodeType field (T962165)
  js/core/dom_adapter.js
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.core/domAdapter.tests.js
Labels: 21_1

#16141 Update gridComponent options then props changed
  js/core/utils/type.d.ts
  js/renovation/ui/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/data_grid/common/data_grid_props.tsx
  js/renovation/ui/data_grid/data_grid.tsx
  js/renovation/ui/data_grid/utils/__tests__/get_updated_options.test.ts
  js/renovation/ui/data_grid/utils/get_updated_options.ts
  js/renovation/viz/core/renderers/utils.ts
Labels: 21_1, renovation

#16224 Remove sortable from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_sortable.scss
  scss/widgets/common/_sortable.scss
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_2

#16229 Fix: domAdapter.isNode should ignore objects with nodeType field (T962165) (#16188)
  js/core/dom_adapter.js
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.core/domAdapter.tests.js
Labels: 20_2, cherry-pick

#16182 Makes DataGrid load several pages at once on virtual scrolling
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  js/ui/pivot_grid/ui.pivot_grid.data_controller.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 21_1

#16227 DataGrid.Pdf - Allow to show/hide cell borders using onCellExporting
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#16192 Renovated DataGrid: Fix error when there are grouped columns in jQuery approach
  js/core/templates/function_template.d.ts
  js/renovation/preact_wrapper/__tests__/component.test.tsx
  js/renovation/preact_wrapper/component.ts
Labels: 21_1

#16230 Remove sortable from dx.common.css (#16224)
  scss/bundles/dx.common.scss
  scss/widgets/base/_sortable.scss
  scss/widgets/common/_sortable.scss
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 21_1, cherry-pick

#16210 Bullet - fix tooltip showing and add events
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/tooltip.tsx
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
  js/viz/sparklines/base_sparkline.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
Labels: 21_1, renovation

#16223 Remove slideOut from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_slideOut.scss
  scss/widgets/base/_slideOutView.scss
  scss/widgets/generic/slideOut/_index.scss
  scss/widgets/generic/slideOutView/_index.scss
  scss/widgets/material/slideOut/_index.scss
  scss/widgets/material/slideOutView/_index.scss
  testing/tests/DevExpress.ui.widgets/slideOut.markup.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/slideOutView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/slideOutView.tests.js
Labels: 20_2

#16232 Remove widget from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_widget.scss
  scss/widgets/generic/widget/_index.scss
  scss/widgets/material/widget/_index.scss
  testing/tests/DevExpress.ui/widget.markup.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 20_2

#16234 The HtmlEditor should return the correct event when the value changes
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 20_2

#16233 Remove ui from dx.common.css
  build/gulp/styles/bundle-template.generic.scss
  build/gulp/styles/bundle-template.material.scss
  scss/bundles/dx.common.scss
  scss/widgets/base/_ui.scss
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
Labels: 20_2

#16212 Remove responsiveBox styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/common/_responsiveBox.scss
Labels: 21_1

#16225 Scheduler - Virtual scrolling - Recurrent appointment settings should be generated by groups visible in viewport
  js/ui/scheduler/appointmentSettingsGenerator.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16237 The HtmlEditor should return the correct event when the value changes (#16234)
  js/ui/html_editor/converters/delta.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/ui.html_editor.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 21_1, cherry-pick

#16240 ScrollView - moveContentByTranslator function uses incorrect element
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 21_1, renovation

#16236 Remove widget from dx.common.css (#16232)
  scss/bundles/dx.common.scss
  scss/widgets/base/_widget.scss
  scss/widgets/generic/widget/_index.scss
  scss/widgets/material/widget/_index.scss
  testing/tests/DevExpress.ui/widget.markup.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Labels: 21_1, cherry-pick

#16246 Remove responsiveBox styles from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/common/_responsiveBox.scss
Labels: 20_2, cherry-pick

#16235 Remove slideOut from dx.common.css (#16223)
  scss/bundles/dx.common.scss
  scss/widgets/base/_slideOut.scss
  scss/widgets/base/_slideOutView.scss
  scss/widgets/generic/slideOut/_index.scss
  scss/widgets/generic/slideOutView/_index.scss
  scss/widgets/material/slideOut/_index.scss
  scss/widgets/material/slideOutView/_index.scss
  testing/tests/DevExpress.ui.widgets/slideOut.markup.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/slideOutView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/slideOutView.tests.js
Labels: 21_1, cherry-pick

#16241 Move max-integer to mixins
  scss/widgets/base/_draggable.scss
  scss/widgets/base/_mixins.scss
  scss/widgets/base/_sortable.scss
  scss/widgets/base/_ui.scss
Labels: 20_2

#15789 File Manager - Fix tree view nodes expanded state after folder delete (T946436)
  js/file_management/object_provider.js
  js/file_management/provider_base.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 21_1

#15797 File Manager - Fix tree view nodes expanded state after folder delete (T946436)
  js/file_management/object_provider.js
  js/file_management/provider_base.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 20_2, cherry-pick

#15798 File Manager - Fix tree view nodes expanded state after folder delete (T946436)
  js/file_management/object_provider.js
  js/file_management/provider_base.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 20_1, cherry-pick

#16238 Remove ui from dx.common.css (#16233)
  build/gulp/styles/bundle-template.generic.scss
  build/gulp/styles/bundle-template.material.scss
  scss/bundles/dx.common.scss
  scss/widgets/base/_ui.scss
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
Labels: 21_1, cherry-pick

#16251 Scheduler - Virtual scrolling - Skip tests for mobile devices
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.timeline.tests.js
Labels: 21_1

#15965 Tooltip's container implementation
  js/core/utils/window.js
  js/renovation/viz/core/__tests__/base_widget.test.tsx
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/base_widget.tsx
  js/renovation/viz/core/common/__tests__/tooltip_utils.test.tsx
  js/renovation/viz/core/common/tooltip_utils.ts
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/tooltip.tsx
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
Labels: 21_1, renovation

#16239 Tree Shaking: Add setWindow method to utils for devextreme-angular tests
  js/core/utils/window.js
  testing/helpers/ssrEmulator.js
  testing/tests/DevExpress.core/utils.resize_callbacks.tests.js
  testing/tests/DevExpress.core/utils.window.tests.js
Labels: 21_1

#16228 Fix: T968279 - FocusedRowKey does not work when StateStoring is enabled
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 21_1, type/bug

#16242 ScrollView - add ineria and bounce animator classes
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/utils.ts
  js/renovation/ui/scroll_view/_toDelete/animator.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/animator.ts
  js/renovation/ui/scroll_view/bounce_animator.ts
  js/renovation/ui/scroll_view/inertia_animator.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_1, renovation

#16259 ScrollView - Change cachedVariables object props to Mutable variables
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/utils.ts
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/types.d.ts
Labels: 21_1, renovation

#16255 DataGrid - Fixes the scrollbar position for the virtual scrolling mode (T968361) (#16253)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_1, cherry-pick

#16254 DataGrid - Fixes the scrollbar position for the virtual scrolling mode (T968361) (#16253)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_2, cherry-pick

#16253 DataGrid - Fixes the scrollbar position for the virtual scrolling mode (T968361)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1

#16247 Scheduler - Virtual scrolling - Recurrent all day appointments should be rendered correctly with multiple grouping
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_1

#16252 Remove common bundle
  .gitignore
  build/gulp/styles/bundle-template.common.scss
  build/gulp/styles/style-compiler.js
  scss/bundles/dx.common.scss
Labels: 21_1

#16250 Move max-integer to mixins (#16241)
  scss/widgets/base/_draggable.scss
  scss/widgets/base/_mixins.scss
  scss/widgets/base/_sortable.scss
  scss/widgets/base/_ui.scss
Labels: 21_1, cherry-pick

#16263 Remove common bundle (#16252)
  .gitignore
  build/gulp/styles/bundle-template.common.scss
  build/gulp/styles/style-compiler.js
  scss/bundles/dx.common.scss
Labels: 20_2, cherry-pick

#16257 File Manager - Fixes fallen test (T939043)
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_2, cherry-pick

#16258 File Manager - Fixes fallen test (T939043)
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1, cherry-pick

#16256 File Manager - Fixes fallen test (T939043)
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 21_1

#16261 DataGrid.Pdf -Move code_v2 from test.js to the sources tree
  js/exporter/jspdf/export_data_grid_2.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#16270 Fix: T968279 - FocusedRowKey does not work when StateStoring is enabled (#16228)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 20_2, cherry-pick

#16269 Fix: T968279 - FocusedRowKey does not work when StateStoring is enabled (#16228)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 20_1, cherry-pick

#16274 Fix "wheel" event processing by overlays and editors when the command key is pressed (T968207)
  js/ui/overlay/ui.overlay.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.mask.js
  testing/helpers/nativePointerMock.js
  testing/helpers/pointerMock.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/scroll.tests.js
  testing/tests/DevExpress.ui.events/wheel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
Labels: 21_1

#16283 DropDownList-based and dropDownButton editors: publish useItemTextAsTitle option
  js/ui/collection/ui.collection_widget.base.js
  js/ui/drop_down_button.d.ts
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16286 dxScheduler - use valid data in tests for resourceTemplate
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_1

#16290 TagBox: rename maxFilterLength option to maxFilterQueryLength
  js/ui/tag_box.d.ts
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16291 Fix "wheel" event processing by overlays and editors when the command key is pressed (T968207) (#16274)
  js/ui/overlay/ui.overlay.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.mask.js
  testing/helpers/nativePointerMock.js
  testing/helpers/pointerMock.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/scroll.tests.js
  testing/tests/DevExpress.ui.events/wheel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
Labels: 20_2, cherry-pick

#16292 Fix "wheel" event processing by overlays and editors when the command key is pressed (T968207) (#16274)
  js/ui/overlay/ui.overlay.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.mask.js
  testing/helpers/nativePointerMock.js
  testing/helpers/pointerMock.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/scroll.tests.js
  testing/tests/DevExpress.ui.events/wheel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
Labels: 20_1, cherry-pick

#16248 dxScheduler - show text in time panel in horizontal virtual scrolling
  js/renovation/ui/scheduler/workspaces/base/layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/renovation/ui/scheduler/workspaces/utils.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 21_1, renovation

#16293 Update DropDownBox "items" and "dataSource" option types
  js/ui/drop_down_box.d.ts
  ts/dx.all.d.ts
Labels: 20_1, cherry-pick

#16294 dxScheduler - fix angularJS data binding
  js/ui/scheduler/ui.scheduler.js
Labels: 21_1

#16262 dxScheduler - provide correct keys to rows in date-table
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_1, renovation

#16231 DataGrid - Caches loadPageCount
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 21_1

#16295 ScrollView - rewrite scrollTo, scrollBy methods
  js/events/gesture/emitter.gesture.scroll.js
  js/renovation/ui/scroll_view/__tests__/scollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_utils.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: renovation

#16284 Pager: Use Mutable instead of Ref
  js/renovation/ui/pager/pages/large.tsx
Labels: 21_1, renovation

#16264 Scheduler - Month view - Support appointment rendering in virtual scrolling
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.filtering.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16296 ScrollView - apply scale ratio in scrollTo method
  js/renovation/ui/scroll_view/__tests__/scollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#16260 Renovated DataGrid: Add beginUpdate, endUpdate and dispose methods
  js/renovation/preact_wrapper/__tests__/data_grid.test.tsx
  js/renovation/preact_wrapper/data_grid.ts
  js/renovation/ui/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/data_grid/data_grid.tsx
Labels: 21_1

#16277 Make store not to change items before pushAggregationTimeout
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 21_1

#16298 Make store not to change items before pushAggregationTimeout (#16277)
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2, cherry-pick

#16300 Viz - fix typescript
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/core/base_widget.tsx
  js/renovation/viz/core/tooltip.tsx
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
Labels: 21_1, renovation

#16301 ScrollView - repair keyboard handlers
  js/renovation/ui/scroll_view/__tests__/scollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#16289 Lookup - Fix drop-down closing when parent container scroll in Material theme (T968552)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 20_2

#16123 DataGrid: extract formBased from editing
  js/ui/data_grid/ui.data_grid.editing_form_based.js
  js/ui/data_grid/ui.data_grid.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/tree_list/ui.tree_list.base.js
  js/ui/tree_list/ui.tree_list.editing.js
  js/ui/tree_list/ui.tree_list.editing_form_based.js
  js/ui/tree_list/ui.tree_list.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 21_1

#16299 Fix display switch with overlay styles (T967656)
  scss/widgets/base/_switch.scss
  scss/widgets/material/switch/_index.scss
  testing/tests/DevExpress.ui.widgets/popup.materialTheme.tests.js
Labels: 20_2

#16243 TreeList: Fix getSelectedRowKeys("all") method in selection recursive mode (T968433, T968435)
  js/ui/tree_list/ui.tree_list.core.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_1

#16244 TreeList: Fix getSelectedRowKeys("all") method in selection recursive mode (T968433, T968435)
  js/ui/tree_list/ui.tree_list.core.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_2, cherry-pick

#16245 TreeList: Fix getSelectedRowKeys("all") method in selection recursive mode (T968433, T968435)
  js/ui/tree_list/ui.tree_list.core.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 21_1, cherry-pick

#16308 Fix display switch with overlay styles (T967656) (#16299)
  scss/widgets/base/_switch.scss
  scss/widgets/material/switch/_index.scss
  testing/tests/DevExpress.ui.widgets/popup.materialTheme.tests.js
Labels: 21_1, cherry-pick

#16304 Lookup - Fix drop-down closing when parent container scroll in Material theme (T968552)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 21_1, cherry-pick

#16313 ScrollView - update location of scrollbars on tab
  js/renovation/ui/scroll_view/__tests__/scollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/utils.ts
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 20_1, renovation

#16312 Lookup - Fix drop-down closing when parent container scroll in Material theme (T968552)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 20_1, cherry-pick

#16311 dxScheduler - fix virtual rows and cells rendering
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
Labels: 21_1, renovation

#16314 Scheduler - Fix recurrence rule DAILY validation (T970273)
  js/ui/scheduler/recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
Labels: 20_2, cherry-pick

#16318 dxScheduler - fix virtual rows and cells rendering (#16311)
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
Labels: 20_2, cherry-pick, renovation

#16266 DataGrid: Fix text in edit form was highlighted by search (T969363)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_1, cherry-pick

#16267 DataGrid: Fix text in edit form was highlighted by search (T969363)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 21_1

#16265 DataGrid: Fix text in edit form was highlighted by search (T969363)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 20_2, cherry-pick

#16272 TreeList: Fix navigateToRow doesn't expand nodes if scrolling is standard (T969796)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1

#16305 TreeList: Fix navigateToRow doesn't expand nodes if scrolling is standard (T969796)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2, cherry-pick

#16306 TreeList: Fix navigateToRow doesn't expand nodes if scrolling is standard (T969796)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_1, cherry-pick

#16275 DataGrid.Pdf - Split grid into pages
  js/exporter/jspdf/export_data_grid_2.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#16319 Lookup - Fix drop-down closing when parent container scroll in Material theme (T968552)
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 19_2, cherry-pick

#16276 TreeList: Fix additional border when header panel is visible (T969977)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1

#16282 Sortable: Fix cursor while dragging (T969161)
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 21_1, cherry-pick

#16281 Sortable: Fix cursor while dragging (T969161)
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_2, cherry-pick

#16280 Sortable: Fix cursor while dragging (T969161)
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_1

#16310 Scheduler - Fix recurrence rule DAILY validation (T970273)
  js/ui/scheduler/recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrence.tests.js
Labels: 21_1

#16320 ScrollView - scroll event should be triggered if scroll position changed
  js/animation/translator.js
  js/renovation/ui/scroll_view/__tests__/scollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 21_1, renovation

#16328 TagBox - remove unnecessary dataSource requests on item selection (T970259)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#16329 HtmlEditor: add toolbar localization
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/html_editor/modules/toolbar.js
Labels: 21_1

#16327 TreeList: Fix additional border when header panel is visible (T969977)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2

#16326 TreeList: Fix additional border when header panel is visible (T969977)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_1

#16268 Pager: Fix infinite rendering in react on resize from large to small
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/common/consts.ts
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/resizable_container.tsx
  scss/widgets/base/_pager.scss
Labels: 21_1, renovation

#16330 Widget - call onDimensionChanged handler on window resize
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
Labels: 21_1, renovation

#16339 Fix handling of the "space" key presses in the masked DateBox [IE11] (T972456)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 21_1

#16331 Fix timeout in angular SSR application on first start (T968400)
  js/ui/themes.js
  testing/tests/DevExpress.serverSide/themes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 21_1

#16335 Fix timeout in angular SSR application on first start (T968400)
  js/ui/themes.js
  testing/tests/DevExpress.serverSide/themes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 20_2, cherry-pick

#16338 TagBox - remove unnecessary dataSource requests on item selection (T970259)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#16337 TagBox - remove unnecessary dataSource requests on item selection (T970259)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#16341 Make pushAggregationTimeout to work not only for the first throttling
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 20_2

#16343 Fix the mismatch between the submitted value of the masked TextBox and the actual value (T969736)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 21_1

#16344 Fix handling of the "space" key presses in the masked DateBox [IE11] (T972456) (#16339)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 20_2, cherry-pick

#16345 Fix handling of the "space" key presses in the masked DateBox [IE11] (T972456) (#16339)
  js/ui/date_box/ui.date_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 20_1, cherry-pick

#16340 DateBox should update its time on enter pressing when type=datetime (T969012)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_1

#16354 Fix the mismatch between the submitted value of the masked TextBox and the actual value (T969736) (#16343)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 20_1, cherry-pick

#16355 Fix the mismatch between the submitted value of the masked TextBox and the actual value (T969736) (#16343)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 20_2, cherry-pick

#16334 File Manager - T946436 additional fix
  js/file_management/remote_provider.js
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_1, cherry-pick

#16333 File Manager - T946436 additional fix
  js/file_management/remote_provider.js
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 20_2, cherry-pick

#16332 File Manager - T946436 additional fix
  js/file_management/remote_provider.js
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 21_1

#16353 DateBox should update its time on enter pressing when type=datetime (T969012) (#16340)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_2, cherry-pick

#16352 DateBox should update its time on enter pressing when type=datetime (T969012) (#16340)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#16351 DropDownList-based editors: contentReady should be fired after base content rendering (T971115)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 21_1

#16356 DropDownList-based editors: contentReady should be fired after base content rendering (T971115)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 20_2, cherry-pick

#16357 DropDownList-based editors: contentReady should be fired after base content rendering (T971115)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 20_1, cherry-pick

#16342 Make pushAggregationTimeout to work not only for the first throttling
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 21_1, cherry-pick

#16336 Remove dx.viz and dx.web bundles from npm package to make package size less 100M
  build/gulp/npm.js
Labels: 21_1

#16360 Fix timeout in angular SSR application on first start (T968400)
  js/ui/themes.js
  testing/tests/DevExpress.serverSide/themes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
Labels: 20_1

#16346 Scheduler - Virtual scrolling dispatcher should work with integer cell sizes
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1

#16361 File manager - Fix unsupported properties for default toolbar items (T948755)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 20_2, cherry-pick

#16285 File manager - Fix unsupported properties for default toolbar items (T948755)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 21_1

#16271 dxScheduler - improve viewData generation speed
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_1

#16297 Scheduler - Multi week appointment rendering if virtual scrolling
  js/core/utils/date.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.filtering.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_1

#16362 TextEditor: only editor input placeholder should change visibility depending on input text (T970003)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 21_1

#16364 TextEditor: only editor input placeholder should change visibility depending on input text (T970003) (#16362)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_2, cherry-pick

#16365 TextEditor: only editor input placeholder should change visibility depending on input text (T970003) (#16362)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_1, cherry-pick

#16366 Scheduler - Fix Push API - "store.push" should call "dataSource.load"
  js/ui/scheduler/ui.scheduler.appointment_model.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: 21_1

#16325 File Manager - Add API to customize context menu
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16303 DataGrid - Fixes resetting tabindex of the expanded cell in the master row (T969832)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#16307 DataGrid - Fixes resetting tabindex of the expanded cell in the master row (T969832) (#16303)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#16369 TreeList: Fix the Select All checkbox position when first defined column has no dataField and showColumnLines is false (T972125)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 21_1, cherry-pick

#16368 TreeList: Fix the Select All checkbox position when first defined column has no dataField and showColumnLines is false (T972125)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_2, cherry-pick

#16367 TreeList: Fix the Select All checkbox position when first defined column has no dataField and showColumnLines is false (T972125)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_1

#16371 File manager - Fix unsupported properties for default toolbar items (T948755)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 20_1, cherry-pick

#16323 DataGrid - Fixes scrolling position with focused row (T970969) (#16322)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#16322 DataGrid - Fixes scrolling position with focused row (T970969)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#16375 NumberBox: fix issues with format containing several dot characters
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  js/ui/number_box/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 21_1

#16382 NumberBox: fix issues with format containing several dot characters
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  js/ui/number_box/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 20_1, cherry-pick

#16381 NumberBox: fix issues with format containing several dot characters
  js/ui/number_box/number_box.caret.js
  js/ui/number_box/number_box.mask.js
  js/ui/number_box/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 20_2, cherry-pick

#16372 Add default exports to internal cjs modules
  build/gulp/npm.js
Labels: 21_1

#16388 Fix some issues for Angular approch
  js/renovation/viz/core/renderers/__tests__/svg_path.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_root.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/core/renderers/svg_path.tsx
  js/renovation/viz/core/renderers/svg_root.tsx
  js/renovation/viz/core/renderers/svg_text.tsx
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#16379 dxScheduler - use scrollTo with horizontal virtual scrolling
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/scrollTo.tests.js
Labels: 21_1

#16348 Fix checkbox value option's type (T972061)
  js/ui/check_box.d.ts
Labels: 20_1

#16350 Fix checkbox value option's type (T972061)
  js/ui/check_box.d.ts
Labels: 20_2

#16273 Tree Shaking: build esm package by default
  build/gulp/utils.js
  package.json
Labels: 21_1

#16349 Fix checkbox value option's type (T972061)
  js/ui/check_box.d.ts
Labels: 21_1
