Repository DevExpress/DevExtreme, pull requests merged in 2021-03, with the labels that each got.

#16495 dxScheduler - fix eslint errors in types.d.ts
  js/renovation/ui/scheduler/workspaces/types.d.ts
Labels: 21_1, renovation

#16501 dxChart - fix infinity generates value axes in angular (T972285)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 21_1

#16502 dxChart - fix infinity generates value axes in angular (T972285)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 20_2, cherry-pick

#16453 dxScheduler - fix failing in renovated render tests, part 4
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/layout_props.ts
  js/renovation/ui/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 21_1, renovation

#16499 Fix visualRange multiple updating(T974722)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 21_1

#16500 Fix visualRange multiple updating(T974722)
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2, cherry-pick

#16506 dxScheduler - fix incorrect tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 21_1

#16497 dxScheduler - fix compilation errors
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/__tests__/layout.test.tsx
Labels: 21_1, renovation

#16509 Fix innerRadius option behavior in pieChart(T976554)
  js/viz/chart_components/layout_manager.js
  testing/tests/DevExpress.viz.charts/layoutManager.tests.js
Labels: 20_2

#16510 Fix innerRadius option behavior in pieChart(T976554)
  js/viz/chart_components/layout_manager.js
  testing/tests/DevExpress.viz.charts/layoutManager.tests.js
Labels: 21_1, cherry-pick

#16517 Fix native components compilation after #16460
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/react.tsconfig.json
Labels: 21_1

#16486 DataGrid - Fixes focused row when rowRenderingMode is virtual (T971695)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#16487 DataGrid - Fixes focused row when rowRenderingMode is virtual (T971695) (#16486)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#16488 DataGrid - Fixes focused row when rowRenderingMode is virtual (T971695) (#16486)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_1, cherry-pick

#16498 File Manager - Disable auto hiding of detailsView columns without hidingPriority (T950675)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 20_2, cherry-pick

#16496 File Manager - Disable auto hiding of detailsView columns without hidingPriority (T950675)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 21_1

#16480 Get rid of default export in the data/errors module
  js/bundles/modules/data.js
  js/data/abstract_store.js
  js/data/array_query.js
  js/data/array_store.js
  js/data/array_utils.js
  js/data/custom_store.js
  js/data/data_source/data_source.js
  js/data/errors.js
  js/data/local_store.js
  js/data/odata/context.js
  js/data/odata/query_adapter.js
  js/data/odata/store.js
  js/data/odata/utils.js
  js/data/remote_query.js
  js/file_management/object_provider.js
  js/ui/data_grid/aggregate_calculator.js
  js/ui/data_grid/ui.data_grid.grouping.collapsed.js
  js/ui/filter_builder/utils.js
  js/ui/pivot_grid/xmla_store/xmla_store.js
  testing/helpers/data.errorHandlingHelper.js
  testing/tests/Bundles/bundlesParts/data.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#16514 Fixes errors found by LGTM (T977384)
  js/animation/fx.js
  js/core/utils/icon.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 21_1

#16515 dxScheduler - skip some tests for renovated render
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.js
Labels: 21_1, renovation

#16520 Fix scalebreaks generation on empty range(T976735)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 21_1

#16511 File Manager - Fix sorting by file size in detailsView (T962735)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 20_2, cherry-pick

#16512 File Manager - Fix sorting by file size in detailsView (T962735)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 21_1

#16508 Toolbar - click on the buttonGroup item doesn't hide the drop down menu (T977105)
  js/ui/toolbar/ui.toolbar.menu.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 20_2

#16483 T973335 - DataGrid scrolls to the top after modifying a cell value when details are expanded (#16430)
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 20_1, cherry-pick, type/bug

#16482 T973335 - DataGrid scrolls to the top after modifying a cell value when details are expanded (#16430)
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 20_2, cherry-pick, type/bug

#16490 Fix: T971119 - List - itemDragging is not working if a parent element has the "overflow:auto" and "padding" CSS rules
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_2, cherry-pick, type/bug

#16489 Fix: T971119 - List - itemDragging is not working if a parent elemenehas the "overflow:auto" and "padding" CSS rules
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_1, cherry-pick, type/bug

#16485 DataGrid - Fix T970651: Unnecessary "cancel changes" buttons are shown for the grid when a cell is validated if the onFocusedCellChanging event is handled and the e.isHighlighted option is enabled (#16363)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2, cherry-pick, type/bug

#16504 DataSource: Fix parameter passing from customizeStoreLoadOptions to customizeLoadResult (T975035)
  js/core/events_strategy.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 21_1

#16507 DataSource: Fix parameter passing from customizeStoreLoadOptions to customizeLoadResult (T975035)
  js/core/events_strategy.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 20_2, cherry-pick

#16530 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/data/array_query.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 16_2, cherry-pick

#16529 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/data/array_query.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 17_1, cherry-pick

#16528 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/data/array_query.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 17_2, cherry-pick

#16527 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/data/array_query.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 18_1, cherry-pick

#16526 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 18_2, cherry-pick

#16450 HtmlEditor - support stylingMode option
  js/ui/editor/editor.d.ts
  js/ui/editor/editor.js
  js/ui/html_editor.d.ts
  js/ui/html_editor/ui.html_editor.js
  js/ui/text_box/ui.text_editor.base.js
  scss/widgets/generic/htmlEditor/_colors.scss
  scss/widgets/generic/htmlEditor/_index.scss
  scss/widgets/generic/htmlEditor/_sizes.scss
  scss/widgets/material/htmlEditor/_index.scss
  scss/widgets/material/htmlEditor/_sizes.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16525 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/core/utils/icon.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 19_1, cherry-pick

#16503 dxScheduler - fixed 'tail' definition in a long appointment for month view(T976642)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-february.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-january.png
  testing/testcafe/tests/scheduler/month/longAppointments.ts
Labels: 21_1

#16523 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/core/utils/icon.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 19_2, cherry-pick

#16522 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/core/utils/icon.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 20_2, cherry-pick

#16531 dxScheduler - get rid of dxCellData in several tests
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
Labels: 21_1

#16535 Simplify svg icon regex (T977384)
  js/core/utils/icon.js
Labels: 21_1

#16524 Fixes errors found by LGTM (T977384) (#16514)
  js/animation/fx.js
  js/core/utils/icon.js
  js/data/array_query.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.animation/fx.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Labels: 20_1, cherry-pick

#16537 Renovation: Remove default empty functions for events to improve performance
  js/renovation/ui/button.tsx
  js/renovation/ui/check_box.tsx
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/utils/base_props.ts
  js/renovation/viz/core/base_props.ts
Labels: 21_1

#16519 Optimize gulp and add names to anonymous tasks
  build/gulp/env-variables.js
  build/gulp/generator/gulpfile.js
  build/gulp/js-bundles.js
  build/gulp/styles/style-compiler.js
  build/gulp/transpile.js
  build/gulp/utils.js
  gulpfile.js
  package.json
Labels: 21_1

#16534 Chart - fix point placing in the interval (T969297)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 20_2, cherry-pick

#16533 Chart - fix point placing in the interval (T969297)
  js/viz/core/series_family.js
  testing/tests/DevExpress.viz.core.series/seriesFamily.tests.js
Labels: 21_1

#16536 Improve Inferno component wrapper performance
  js/renovation/component_wrapper/component.ts
  webpack.config.js
Labels: 21_1

#16539 Renovation: Fix CheckBox performance on first render if validation message is not visible
  js/renovation/ui/__tests__/check_box.test.tsx
  js/renovation/ui/check_box.tsx
  js/renovation/ui/validation_message.tsx
Labels: 21_1

#16541 Toolbar - click on the buttonGroup item doesn't hide the drop down menu (T977105)
  js/ui/toolbar/ui.toolbar.menu.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 21_1, cherry-pick

#16540 dxScheduler - fixed 'tail' definition in a long appointment for month view(T976642)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-february.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-january.png
  testing/testcafe/tests/scheduler/month/longAppointments.ts
Labels: 20_2, cherry-pick

#16553 Viz - redesign file structure
  js/renovation/viz/common/__tests__/base_widget.test.tsx
  js/renovation/viz/common/__tests__/tooltip.test.tsx
  js/renovation/viz/common/__tests__/tooltip_utils.test.tsx
  js/renovation/viz/common/base_props.ts
  js/renovation/viz/common/base_widget.tsx
  js/renovation/viz/common/renderers/__tests__/gray_scale_filter.test.tsx
  js/renovation/viz/common/renderers/__tests__/pattern.test.tsx
  js/renovation/viz/common/renderers/__tests__/shadow_filter.test.tsx
  js/renovation/viz/common/renderers/__tests__/svg_path.test.tsx
  js/renovation/viz/common/renderers/__tests__/svg_rect.test.tsx
  js/renovation/viz/common/renderers/__tests__/svg_root.test.tsx
  js/renovation/viz/common/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/common/renderers/__tests__/utils.test.tsx
  js/renovation/viz/common/renderers/base_graphics_props.ts
  js/renovation/viz/common/renderers/base_props.ts
  js/renovation/viz/common/renderers/gray_scale_filter.tsx
  js/renovation/viz/common/renderers/pattern.tsx
  js/renovation/viz/common/renderers/shadow_filter.tsx
  js/renovation/viz/common/renderers/svg_path.tsx
  js/renovation/viz/common/renderers/svg_rect.tsx
  js/renovation/viz/common/renderers/svg_root.tsx
  js/renovation/viz/common/renderers/svg_text.tsx
  js/renovation/viz/common/renderers/types.d.ts
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/tooltip.tsx
  js/renovation/viz/common/tooltip_utils.ts
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/common/utils.ts
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/utils.ts
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
  js/renovation/viz/sparklines/utils.ts
Labels: 21_2, renovation

#16558 Renovation: Update generator version
  package.json
Labels: 21_1, renovation

#16554 Drawer - Correct paddings after minSize is changed (T978380)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 21_1

#16549 Use fixed tools version
  package.json
Labels: 20_1

#16548 Use fixed tools version
  package.json
Labels: 20_2

#16547 Use fixed tools version
  package.json
Labels: 21_1

#16561 Renovation: Add inferno packages for angular playground
  playground/angular/config.js
Labels: 21_1, renovation

#16556 Add ts declaration for the data/errors/setErrorHandler method
  js/data/errors.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#16559 DateBox with mask enabled should select first date part on date parts render even if input is not active element (T976144)
  js/ui/date_box/ui.date_box.mask.js
Labels: 21_1

#16443 dxScheduler - getMaxAllowedPosition should return the same value for renovated and old render
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
Labels: 21_1, renovation

#16505 dxScheduler - clean shader when renovated render is used
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.renovation.tests.js
Labels: 21_1, renovation

#16551 Renovation: Use babel-plugin-inferno to improve performance
  build/gulp/generator/ts-configs/inferno.tsconfig.json
  build/gulp/generator/ts-configs/jest.tsconfig.json
  build/gulp/transpile-config.js
  js/renovation/test_utils/transformers/declaration.js
  package.json
Labels: 21_1

#16563 DateBox with mask enabled should select first date part on date parts render even if input is not active element (T976144) (#16559)
  js/ui/date_box/ui.date_box.mask.js
Labels: 20_2, cherry-pick

#16564 DateBox with mask enabled should select first date part on date parts render even if input is not active element (T976144) (#16559)
  js/ui/date_box/ui.date_box.mask.js
Labels: 20_1, cherry-pick

#16557 Improve error info and fix typo in screenshot-comparer name
  testing/testcafe/helpers/screenshot-comparer.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  testing/testcafe/tests/scheduler/month/longAppointments.ts
Labels: 20_2

#16555 Drawer - Correct paddings after minSize is changed (T978380) #16554
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 20_2, WIP, cherry-pick

#16570 ScrollView - fix typescript compile errors
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
Labels: 21_1, renovation

#16546 Fix Promise augmentation
  js/jquery_augmentation.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 20_2

#16545 Fix Promise augmentation
  js/jquery_augmentation.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 20_1

#16577 Update generator version (148)
  package.json
Labels: 21_1, renovation

#16560 Drawer - Correct paddings after minSize is changed (T978380) #16554
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 20_1

#16573 Viz - fix typescript errors in declarations
  js/renovation/viz/common/__tests__/base_widget.test.tsx
  js/renovation/viz/common/__tests__/tooltip.test.tsx
  js/renovation/viz/common/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/common/renderers/svg_text.tsx
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
Labels: 21_1, renovation

#16582 Add sdk to pubspec
  themebuilder-scss/dart-compiler/pubspec.yaml
Labels: 21_1

#16583 Add sdk to pubspec
  themebuilder-scss/dart-compiler/pubspec.yaml
Labels: 20_2, cherry-pick

#16542 DataGrid - Fixes cell focusing when showEditorAlways is enabled (T976141)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/tests/dataGrid/editing.ts
Labels: 21_1

#16543 DataGrid - Fixes cell focusing when showEditorAlways is enabled (T976141) (#16542)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/tests/dataGrid/editing.ts
Labels: 20_2, cherry-pick

#16552 HTML Editor - rename toolbar item options
  js/ui/html_editor.d.ts
  js/ui/html_editor/modules/toolbar.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16576 File Manager - Fix splitter incorrect position after page resize (T966756)
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/splitter.js
  scss/widgets/base/fileManager/_index.scss
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
Labels: 20_2, cherry-pick

#16565 File Manager - Fix splitter incorrect position after page resize (T966756)
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/splitter.js
  scss/widgets/base/fileManager/_index.scss
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
Labels: 21_1

#16562 Viz - fix errors in d.ts
  js/renovation/viz/common/__tests__/base_widget.test.tsx
  js/renovation/viz/common/base_props.ts
  js/renovation/viz/common/base_widget.tsx
  js/renovation/viz/common/renderers/svg_path.tsx
  js/renovation/viz/common/renderers/types.d.ts
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/tooltip.tsx
  js/renovation/viz/common/tooltip_utils.ts
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/common/utils.ts
  js/renovation/viz/sparklines/__tests__/bullet.test.tsx
  js/renovation/viz/sparklines/bullet.tsx
  js/renovation/viz/sparklines/types.d.ts
  js/renovation/viz/sparklines/utils.ts
Labels: 21_2, renovation

#16592 dcScheduler - remove unused groupIndex var
  js/ui/scheduler/resources/resourceManager.js
Labels: 21_1

#16566 dxScheduler - process empty resources with grouping correctly
  js/ui/scheduler/resources/resourceManager.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Labels: 21_1

#16544 Remove Promise global augmentation
  js/data/odata/store.d.ts
  js/jquery_augmentation.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 21_1

#16571 Remove getting cssRules property (T977866)
  js/viz/chart.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 21_1, cherry-pick

#16572 Remove getting cssRules property (T977866)
  js/viz/chart.js
  js/viz/core/utils.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 20_2

#16607 Add helper method isEditor instead of using 'instanceof' for renovated editor support
  js/integration/angular/component_registrator.js
  js/integration/knockout/component_registrator.js
  js/renovation/component_wrapper/__tests__/editor.test.tsx
  js/renovation/component_wrapper/editor.ts
  js/ui/editor/editor.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 21_1, renovation

#16567 GridPager: fix QUnit test after bug fix and migration to Inferno
  js/renovation/ui/pager/common/consts.ts
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/page_size/__tests__/selector.test.tsx
  js/renovation/ui/pager/page_size/selector.tsx
  scss/widgets/base/_pager.scss
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 21_1, renovation

#16605 JEST: add .ts files to code coverage
  jest.config.js
Labels: 21_1

#16611 Renovation: fix compilation errors
  js/renovation/component_wrapper/button.ts
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  js/renovation/utils/__tests__/subscribe_to_event.test.ts
  js/renovation/utils/subscribe_to_event.ts
Labels: 20_1, 21_1, renovation

#16598 DataGrid - Fixes entering the date cell value when useMaskBehavior is enabled (T976144)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#16599 DataGrid - Fixes entering the date cell value when useMaskBehavior is enabled (T976144) (#16598)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#16600 DataGrid - Fixes entering the date cell value when useMaskBehavior is enabled (T976144) (#16598)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_1, cherry-pick

#16617 DataGrid - Fixes deleting rows on editing (T978455)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_1

#16618 DataGrid - Fixes deleting rows on editing (T978455) (#16617)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#16625 DataGrid: Fix column reordering when there is a fixed column with zero width (T975549)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/testcafe/tests/dataGrid/columnReordering.ts
Labels: 21_1, cherry-pick

#16624 DataGrid: Fix column reordering when there is a fixed column with zero width (T975549)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/testcafe/tests/dataGrid/columnReordering.ts
Labels: 20_2, cherry-pick

#16615 dxScheduler - fix test with dxCellData
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_1

#16614 dxScheduler - revert "Refactor current time indicator in Scheduler (#15278)"
  js/ui/scheduler/table_creator.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.js
Labels: 21_1

#16604 dxScheduler - improve performance for horizontal virtualization
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/utils.ts
  js/renovation/ui/scheduler/workspaces/week/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1, renovation

#16616 dxScheduler - do not create all-day panel in month view
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
Labels: 21_1, WIP

#16606 Drawer - Simplify 'drawer.renderPosition' internals
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drawer/ui.drawer.rendering.strategy.push.js
  js/ui/drawer/ui.drawer.rendering.strategy.shrink.js
Labels: 21_1

#16593 dxScheduler - don't process dates if timezones config are equal(T978267)
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/timezones/utils.timezones_data.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Labels: 21_1

#16636 Renovation: add github actions for:
  .drone.yml
  .eslintignore
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  js/renovation/ui/common/event_callback.d.ts
Labels: 21_1, renovation

#16626 TreeList: Fix multiple selection with shift key (T978760)
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_1

#16627 TreeList: Fix multiple selection with shift key (T978760)
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 20_2, cherry-pick

#16628 TreeList: Fix multiple selection with shift key (T978760)
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 21_1, cherry-pick

#16639 Renovation: Update typescript version to fix native components compilation
  package.json
Labels: 21_1

#16634 DataGrid: Fix ie11 tests on farm
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 21_1

#16635 dxScheduler - don't process dates if timezones config are equal(T978267)
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/timezones/utils.timezones_data.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.test.js
Labels: 20_2, cherry-pick

#16641 Skip the part of tests for IE11
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_1

#16643 Skip the part of tests for IE11 (#16641)
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 20_2, cherry-pick

#16644 Skip the part of tests for IE11
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 20_1, cherry-pick

#16579 dxScheduler - Enhance appointment rendering performance in virtual scrolling mode
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16637 Scheduler - Create separate instance for filtering appointments
  js/ui/scheduler/appointments/appointmentFilter.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
Labels: 21_1

#16633 DataGrid: Fix ie11 tests on farm
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 20_2

#16632 DataGrid: Fix ie11 tests on farm
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 20_1

#16619 FilterBuilder: Fix condition removing after change group operation from negative to positive (T978958)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
Labels: 21_1

#16620 FilterBuilder: Fix condition removing after change group operation from negative to positive (T978958)
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/eventsTests.js
Labels: 20_2, cherry-pick

#16648 Form - Skip test for IE
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 20_2

#16645 Use intersection for JQueryPromise type
  js/data/custom_store.d.ts
  js/file_management/custom_provider.d.ts
  js/ui/data_grid.d.ts
  js/ui/defer_rendering.d.ts
  js/ui/file_uploader.d.ts
  js/ui/list.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/scheduler.d.ts
  js/ui/select_box.d.ts
  js/ui/sortable.d.ts
  js/ui/tree_view.d.ts
  js/ui/validation_engine.d.ts
  js/ui/validation_group.d.ts
  js/ui/validator.d.ts
  js/viz/core/base_widget.d.ts
Labels: 20_1

#16652 Bump DevExtreme version
  package.json
Labels: 20_1

#16649 Form - Skip test for IE
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 21_1, cherry-pick

#16651 Form - Skip test for IE
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 20_1, cherry-pick

#16654 Use intersection for JQueryPromise type
  js/data/custom_store.d.ts
  js/file_management/custom_provider.d.ts
  js/ui/data_grid.d.ts
  js/ui/defer_rendering.d.ts
  js/ui/file_uploader.d.ts
  js/ui/list.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/scheduler.d.ts
  js/ui/select_box.d.ts
  js/ui/sortable.d.ts
  js/ui/tree_view.d.ts
  js/ui/validation_group.d.ts
  js/ui/validation_rules.d.ts
  js/ui/validator.d.ts
  js/viz/core/base_widget.d.ts
Labels: 20_2

#16518 Form - screenByWidth function is not executed if it's defined in defaultOptions (T977436)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 20_2

#16646 Scheduler - Add separate filter for the all day appointments
  js/ui/scheduler/appointment_model.js
  js/ui/scheduler/appointments/appointmentFilter.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16647 Scheduler - Rename scrolling.type -> scrolling.orientation
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/virtualScrollingCellSelection/bothDirectionsVirtualScrolling.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
Labels: 21_1

#16650 Fix padding for form in grid popup (T977287)
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/helpers/changeTheme.ts
  testing/testcafe/tests/container.html
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
Labels: 20_2, cherry-pick

#16659 Fixes tests for T976144 with Time-Zones
  .drone.yml
  .travis.yml
  shippable.yml
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#16658 Fixes tests for T976144 with Time-Zones
  .drone.yml
  .travis.yml
  shippable.yml
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#16622 DataGrid: Fix unit tests on mac
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1

#16623 DataGrid: Fix unit tests on mac
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2

#16660 Fixes tests for T976144 with Time-Zones
  .drone.yml
  .travis.yml
  shippable.yml
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_1, cherry-pick

#16612 DataGrid: Fix data loading after filtering on two columns if scrolling mode is virtual (T978539)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_2

#16613 DataGrid: Fix data loading after filtering on two columns if scrolling mode is virtual (T978539)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1

#16640 Renovation: Fix DataGrid keyboardNavigation tests
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/content.tsx
  js/ui/shared/accessibility.js
Labels: 21_1

#16629 DataGrid: Fix deselecting item after selecting it if complex key with three fields is defined and selection is deferred (T978952)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 21_1

#16630 DataGrid: Fix deselecting item after selecting it if complex key with three fields is defined and selection is deferred (T978952)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 20_2

#16631 DataGrid: Fix deselecting item after selecting it if complex key with three fields is defined and selection is deferred (T978952)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 20_1, cherry-pick

#16661 Bump DevExtreme version
  package.json
Labels: 20_2

#16676 Form - screenByWidth function is not executed if it's defined in defaultOptions (T977436)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 20_1, cherry-pick

#16678 dxScheduler - skip tests for recurrent editor
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 21_1

#16680 dxScheduler - skip tests for recurrent editor
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: 20_2, cherry-pick

#16677 Form - screenByWidth function is not executed if it's defined in defaultOptions (T977436)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 21_1, cherry-pick

#16681 Bring back unions for JQueryPromise for input cases
  js/data/custom_store.d.ts
  js/file_management/custom_provider.d.ts
  js/ui/data_grid.d.ts
  js/ui/defer_rendering.d.ts
  js/ui/file_uploader.d.ts
  js/ui/list.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/scheduler.d.ts
  js/ui/select_box.d.ts
  js/ui/sortable.d.ts
  js/ui/tree_view.d.ts
  js/ui/validation_rules.d.ts
  js/viz/core/base_widget.d.ts
Labels: 20_2

#16682 Bring back unions for JQueryPromise for input cases
  js/data/custom_store.d.ts
  js/file_management/custom_provider.d.ts
  js/ui/data_grid.d.ts
  js/ui/defer_rendering.d.ts
  js/ui/file_uploader.d.ts
  js/ui/list.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/scheduler.d.ts
  js/ui/select_box.d.ts
  js/ui/sortable.d.ts
  js/ui/tree_view.d.ts
  js/ui/validation_engine.d.ts
  js/viz/core/base_widget.d.ts
Labels: 20_1

#16653 dxScheduler - fix incorrect style recalculations number
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_1, renovation

#16665 dxScheduler - remove workaround for preact
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
Labels: 21_1, renovation

#16687 Update devextreme-quill version (T978924)
  package.json
Labels: 21_1
