Repository DevExpress/DevExtreme, pull requests merged in 2021-12, with the labels that each got.

#20348 TreeList: Fix aria-level attribute (T1047472)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_2

#20347 TreeList: Fix aria-level attribute (T1047472)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1

#20349 TreeList: Fix aria-level attribute (T1047472)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 22_1

#20366 Update types for v21.1.7
  js/animation/fx.d.ts
  js/animation/position.d.ts
  js/core/component.js
  js/core/config.d.ts
  js/core/index.d.ts
  js/data/abstract_store.d.ts
  js/data/custom_store.d.ts
  js/data/index.d.ts
  js/data/load_options.d.ts
  js/data/odata/store.d.ts
  js/events/index.d.ts
  js/ui/context_menu.d.ts
  js/ui/data_grid.d.ts
  js/ui/filter_builder.d.ts
  js/ui/filter_builder.js
  js/ui/load_panel.d.ts
  js/ui/popover.d.ts
  js/ui/popup.d.ts
  js/ui/tree_list.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 21_1

#20338 Form - Simplify optionChanged conditions
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.utils.tests.js
Labels: 22_1

#20363 DataSource: delete items on disposing (T1045202) (#20277)
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: type/bug, cherry-pick, 21_1

#20367 Renovated Npm - Publish scss bundles (entrypoints)
  build/gulp/renovation-npm/create-scss-bundles.js
  build/gulp/renovation-npm/index.js
  build/gulp/styles/style-compiler.js
  testing/renovation-npm/react-app/src/App.js
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Labels: 22_1

#20373 form: freeze calendar date for testcafe tests
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Labels: 22_1

#20327 scrollable: refactor tileview code to take into account perticularities specific for renovated widget (#20324)
  js/renovation/ui/form/form.tsx
  js/renovation/ui/scroll_view/common/simulated_strategy_props.ts
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollbar/animated_scrollbar.tsx
  js/ui/tile_view.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
Labels: cherry-pick, renovation, 22_1

#20359 Update internal-tools to 7.5.0
  package.json
Labels: 21_1

#20328 scrollable: refactor list code to take into account perticularities specific for renovated widget
  js/ui/list/ui.list.base.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
Labels: renovation, 22_1

#20388 force install devextreme-angular
  .github/workflows/devextreme_npm_tests.yml
Labels: 21_2

#20393 Fix sass version to 1.43
  package-lock.json
  package.json
  themebuilder-scss/dart-compiler/pubspec.yaml
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Labels: cherry-pick, 22_1

#20392 Fix sass version to 1.43
  package-lock.json
  package.json
  themebuilder-scss/dart-compiler/pubspec.yaml
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Labels: 21_2

#20391 Scheduler - TestCafe tests - Controlled mode for the two way options
  testing/renovation/platforms/declaration/scheduler.tsx
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
Labels: renovation, 22_1

#20354 DataGrid - Fix focused row changing during scrolling (T1047794, T1045577, T1046754)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: cherry-pick, 21_2

#20355 DataGrid - Fix focused row changing during scrolling (T1047794, T1045577, T1046754)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 22_1

#20395 Renovated Npm - Fix QUnit Build
  build/gulp/transpile.js
Labels: 22_1

#20372 form: freeze calendar date for testcafe tests
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=floating,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=hidden,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=outside,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=false,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=true,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=floating.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=hidden.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=static.png
  testing/testcafe/tests/navigation/form/etalons/labelMode priorities, frmLblMode=static,lblVis=undefined,edtr.lblMode=undefined.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Labels: 21_2

#20368 Popover: add tests for target option
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 22_1

#20253 Popup and Overlay: move drag and resize logic from Overlay to Popup
  js/ui/load_panel.js
  js/ui/overlay.d.ts
  js/ui/overlay/overlay_position_controller.js
  js/ui/overlay/ui.overlay.js
  js/ui/popup.d.ts
  js/ui/popup/popup_drag.js
  js/ui/popup/popup_position_controller.js
  js/ui/popup/ui.popup.js
  js/ui/toast.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/popupDrag.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#20384 DataGrid: Fix the "TypeError: Cannot read properties of undefined (reading 'key')" error occurs on an attempt to add a new record if newRowPosition is 'pageTop' or 'pageBottom' (T1048652)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 22_1

#20282 DataGrid: Fix the 'E1059 - The following column names are not unique:"buttons"' error occurs when a banded column's lookup option is updated and the command column 'buttons' is specified (T1046609)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 22_1

#20400 Use Node v14
  .github/workflows/CI.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_dart_tests.yml
  js/renovation/preact_wrapper/__tests__/component.test.tsx
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=true.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=true.png
Labels: 20_2

#20360 datagrid - fixes rendering rows in legacy scrolling mode
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2

#20362 datagrid - fixes rendering rows in legacy scrolling mode (#20360)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_1

#20407 Remove fibers package
  build/gulp/styles/style-compiler.js
  package.json
Labels: 21_1

#20358 datagrid - fixes adding new row to the last position when virtual scrolling enabled (#20312)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_1

#20312 datagrid - fixes adding new row to the last position when virtual scrolling enabled
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 21_2

#20383 DataGrid: Fix the "TypeError: Cannot read properties of undefined (reading 'key')" error occurs on an attempt to add a new record if newRowPosition is 'pageTop' or 'pageBottom' (T1048652)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_2

#20281 DataGrid: Fix the 'E1059 - The following column names are not unique:"buttons"' error occurs when a banded column's lookup option is updated and the command column 'buttons' is specified (T1046609)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 21_2

#20411 Update version to 21.1.7
  package.json
Labels: 21_1

#20365 HtmlEditor - support valueChange event and support history on table resizing (T1041884)
  js/ui/html_editor/modules/tableResizing.js
  js/ui/html_editor/utils/table_helper.js
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableResizingIntegration.tests.js
Labels: 21_2

#20323 scrollable: refactor datagrid code to take into account perticularities specific for renovated widget
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: renovation, 22_1

#20385 Dashboard for Web - A scrollbar for the Grid item is not rendered in the Chrome browser on Mac (T1043437)
  scss/widgets/base/_scrollable.scss
  testing/tests/DevExpress.ui.widgets/scrollable.genericTheme.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: 22_1

#20394 Update version to 20.2.10
  package.json
Labels: 20_2

#20405 File Uploader - Fixes dropzone behavior in useForms mode (T1041960)
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_uploader.js
  js/ui/splitter.js
  scss/widgets/generic/fileUploader/_index.scss
  scss/widgets/material/fileUploader/_index.scss
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 22_1

#20408 Fix placeholder with Chrome autofill
  package-lock.json
  package.json
  scss/widgets/base/textEditor/_index.scss
Labels: 22_1

#20375 Update types for v21.2.4
  .github/workflows/devextreme_npm_tests.yml
  js/animation/fx.d.ts
  js/core/component.js
  js/events/index.d.ts
  js/ui/data_grid.d.ts
  js/ui/filter_builder.d.ts
  js/ui/filter_builder.js
  js/ui/tree_list.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 22_1

#20374 Update types for v21.2.4
  .github/workflows/devextreme_npm_tests.yml
  js/animation/fx.d.ts
  js/core/component.js
  js/events/index.d.ts
  js/ui/data_grid.d.ts
  js/ui/filter_builder.d.ts
  js/ui/filter_builder.js
  js/ui/tree_list.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 21_2

#20132 TS - fix DeepPartial
  js/core/index.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#20413 Remove elementAttr from tooltip wrapper
  js/renovation/ui/overlays/__tests__/tooltip.test.tsx
  js/renovation/ui/overlays/tooltip.tsx
Labels: renovation, 22_1

#20423 HtmlEditor - support valueChange event and support history on table resizing (T1041884)
  js/ui/html_editor/modules/tableResizing.js
  js/ui/html_editor/utils/table_helper.js
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableResizingIntegration.tests.js
Labels: cherry-pick, 22_1

#20311 File Uploader - Fixes dropzone behavior in useForms mode (T1041960)
  js/core/utils/size.js
  js/ui/file_manager/ui.file_manager.adaptivity.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_uploader.js
  js/ui/splitter.js
  scss/widgets/generic/fileUploader/_index.scss
  scss/widgets/material/fileUploader/_index.scss
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, WIP, 21_1

#20426 Fix placeholder with Chrome autofill (#20408)
  package-lock.json
  package.json
  scss/widgets/base/textEditor/_index.scss
Labels: cherry-pick, 21_2

#20257 DataGrid - state storing - fix clearing `searchPanel.text` (T1046195)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: 22_1

#20258 DataGrid - state storing - fix clearing `searchPanel.text` (T1046195)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: cherry-pick, 21_2

#20259 DataGrid - state storing - fix clearing `searchPanel.text` (T1046195)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: cherry-pick, 21_1

#20404 Form - Avoid nullref when changing tab items on the fly (T1040296)
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 22_1

#20386 Dashboard for Web - A scrollbar for the Grid item is not rendered in the Chrome browser on Mac (T1043437)
  scss/widgets/base/_scrollable.scss
  testing/tests/DevExpress.ui.widgets/scrollable.genericTheme.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: cherry-pick, 21_2

#20429 Form - Avoid nullref when changing tab items on the fly (#20404)
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 21_2

#20434 dxScheduler - assign virtual scrolling class when scrolling is virtual
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  testing/testcafe/tests/renovation/scheduler/views/etalons/virtual_scrolling_in_timelineDay.png
  testing/testcafe/tests/renovation/scheduler/views/etalons/virtual_scrolling_in_timelineMonth.png
  testing/testcafe/tests/renovation/scheduler/views/etalons/virtual_scrolling_in_timelineWeek.png
Labels: renovation, 22_1

#20433 dxScheduler - delete component instance from renovated scheduler
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/scheduler.tsx
Labels: renovation, 22_1

#20432 Renovated Npm - Remove scss reexport
  build/gulp/renovation-npm/create-scss-bundles.js
  build/gulp/renovation-npm/index.js
  testing/renovation-npm/react-app/src/App.js
Labels: 22_1

#20401 dxScheduler - add mouse cell selection
  js/renovation/test_utils/events_mock.ts
  js/renovation/ui/scheduler/model/appointments.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/utils.test.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/utils.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/const.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  js/renovation/utils/__tests__/subscribe_to_event.test.ts
  js/renovation/utils/subscribe_to_event.ts
  js/ui/scheduler/appointments/dataProvider/appointmentFilter.js
  js/ui/scheduler/workspaces/cells_selection_state.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: renovation, 22_1

#20379 DataGrid: Fix virtual scrolling performance decrease after virtual scrolling using (T1047506)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#20378 DataGrid: Fix virtual scrolling performance decrease after virtual scrolling using (T1047506)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#20444 Fix printing wide viz.widgets (T1047390)
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: cherry-pick, 21_1

#20446 Fix printing wide viz.widgets (T1047390)
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: cherry-pick, 21_2

#20431 Renovated Npm - Rework react entrypoints
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
Labels: 22_1

#20377 CheckBox: add multiplatform tests
  js/renovation/ui/editors/check_box/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box/check_box.tsx
  testing/renovation/platforms/declaration/check_box.tsx
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/helpers/multi-platform-test/multi-platform-test.ts
  testing/testcafe/tests/renovation/check_box.ts
  testing/testcafe/tests/renovation/etalons/check_box_checked.png
  testing/testcafe/tests/renovation/etalons/check_box_indeterminate.png
  testing/testcafe/tests/renovation/etalons/check_box_unchecked.png
Labels: renovation, 22_1

#20438 dxScheduler - update cellDuration correctly
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  testing/testcafe/tests/renovation/scheduler/views/cell_duration.ts
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_duration_modification.png
Labels: renovation, 22_1

#20371 Cross-platform fixes + using installed ng-packagr instead of npx
  .gitattributes
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/utils/index.js
  package.json
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.spec.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/favicon.ico
  testing/renovation-npm/angular-app/src/index.html
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/src/test.ts
  testing/renovation-npm/angular-app/tsconfig.json
  testing/renovation-npm/angular-app/tsconfig.spec.json
Labels: 22_1

#20336 Lookup - Fix placeholder displaying if label is defined
  scss/widgets/generic/lookup/_index.scss
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=underlined.png
  testing/testcafe/tests/editors/label.ts
Labels: 21_2

#20447 Scheduler - Fix performance issue
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/scheduler.tsx
Labels: renovation, 22_1

#20448 datagrid - fixes scrolling to the last row when wordWrap is enabled (T1047239)
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 21_2

#20449 datagrid - fixes scrolling to the last row when wordWrap is enabled (T1047239) (#20448)
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_1

#20455 dxScheduler - use props destructuring in getters
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/common.ts
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/model/__tests__/views.test.ts
  js/renovation/ui/scheduler/model/views.ts
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
Labels: renovation, 22_1

#20461 Lookup: add test on Popover position (T1048830)
  testing/testcafe/tests/editors/lookup.ts
  testing/testcafe/tests/editors/pages/lookup.html
Labels: 22_1

#20457 Overlay: fix Popover's position in Lookup (T1048830)
  js/ui/overlay/ui.overlay.js
  testing/testcafe/tests/editors/lookup.ts
  testing/testcafe/tests/editors/pages/lookup.html
Labels: 21_2

#20463 Renovation packages: production mode and dependencies fixes
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  package-lock.json
  package.json
Labels: 22_1

#20456 Fix dataGrid.widgetElementRef type.
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 22_1

#20452 DataGrid: Fix new row saving on click in another cell if startEditAction option is set to "dblClick" (T1041291)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#20453 DataGrid: Fix new row saving on click in another cell if startEditAction option is set to "dblClick" (T1041291)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#20454 DataGrid: Fix new row saving on click in another cell if startEditAction option is set to "dblClick" (T1041291)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#20451 Lookup - Fix placeholder displaying if label is defined
  scss/widgets/generic/lookup/_index.scss
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=underlined.png
  testing/testcafe/tests/editors/label.ts
Labels: cherry-pick, 22_1

#20464 datagrid - fixes rendering error row in virtual scrolling mode (T1048220)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#20465 datagrid - fixes rendering error row in virtual scrolling mode (T1048220) (#20464)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#20459 datagrid - fixes row rendering when pageSize is set to all
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#20460 datagrid - fixes row rendering when pageSize is set to all (#20459)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#20474 Fix visualRange updating after zooming(T1049139)
  js/viz/axes/base_axis.js
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
Labels: 21_2

#20470 HtmlEditor - support selection area editing by thumbs on ios devices (T1045869)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: 21_2

#20486 Fix visualRange updating after zooming(T1049139)
  js/viz/axes/base_axis.js
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
Labels: cherry-pick, 22_1

#20487 Fix visualRange updating after zooming(T1049139)
  js/viz/axes/base_axis.js
  js/viz/translators/range.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/range.tests.js
Labels: cherry-pick, 21_1

#20481 Overlay: add alias for deprecated elementAttr option
  js/ui/overlay.d.ts
Labels: 22_1

#20485 Overlay: add alias for deprecated elementAttr option
  js/ui/overlay.d.ts
Labels: cherry-pick, 21_2

#20488 HtmlEditor - support selection area editing by thumbs on ios devices (T1045869)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: cherry-pick, 22_1

#20489 HtmlEditor - support selection area editing by thumbs on ios devices (T1045869)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
Labels: cherry-pick, 21_1

#20473 CheckBox wrapper: implement _isFocused method for backward compatibility (T1041886)
  js/renovation/component_wrapper/editors/check_box.ts
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Labels: renovation, 22_1

#20472 CheckBox wrapper: implement _isFocused method for backward compatibility (T1041886)
  js/renovation/component_wrapper/editors/check_box.ts
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Labels: cherry-pick, renovation, 21_2

#20390 DataGridLight - add pager
  js/renovation/ui/grids/data_grid_light/__tests__/data_grid_light.test.tsx
  js/renovation/ui/grids/data_grid_light/__tests__/test_data.ts
  js/renovation/ui/grids/data_grid_light/data_grid_light.tsx
  js/renovation/ui/grids/data_grid_light/types.ts
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/pager.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/pager.tsx
Labels: 22_1

#20406 TextBox - Fix label overlapping search icon on Material theme if mode is "search"
  scss/widgets/material/textBox/_index.scss
Labels: 21_2

#20435 TreeList - state(null) does not restore the initial state of the following options: expandedRowKeys, focusedRowKey, and selectedRowKeys (T1049850)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/tree_list/ui.tree_list.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: 22_1

#20436 TreeList - state(null) does not restore the initial state of the following options: expandedRowKeys, focusedRowKey, and selectedRowKeys (T1049850)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/tree_list/ui.tree_list.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: cherry-pick, 21_2

#20437 TreeList - state(null) does not restore the initial state of the following options: expandedRowKeys, focusedRowKey, and selectedRowKeys (T1049850)
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/tree_list/ui.tree_list.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Labels: cherry-pick, 21_1

#20492 dxScheduler - fix selection when allDayPanel is visible (T1050973)
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/table.tsx
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/cellsSelection/bothDirectionsVirtualScrolling.ts
  testing/testcafe/tests/scheduler/cellsSelection/cellsSelection.ts
  testing/testcafe/tests/scheduler/cellsSelection/init/widget.setup.ts
  testing/testcafe/tests/scheduler/cellsSelection/virtualScrollingCellSelection.ts
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
Labels: 22_1

#20462 Form - Simplify renderLayoutManager
  js/ui/form/components/field_item.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.layout_manager.utils.js
  js/ui/form/ui.form.utils.js
Labels: WIP, 22_1

#20506 Add diagnostic output to GA & Exclude *.d.ts from the `lint-ts` task
  .github/workflows/lint.yml
  package.json
Labels: 22_1

#20403 Change ExternalFormat type to `never` ( fixes #20356 )
  js/format_helper.d.ts
  js/localization.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#20466 Change ExternalFormat type to `never` ( fixes #20356 )
  js/format_helper.d.ts
  js/localization.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#20491 Build components using angular 12
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/steps-angular.js
  testing/renovation-npm/angular-app/.browserslistrc
  testing/renovation-npm/angular-app/.gitignore
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/karma.conf.js
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/main.ts
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/tsconfig.json
Labels: 22_1

#20471 DataGrid: Fix select all state after row deselecting if refresh method is called inside onSelectionChanged (T1048081)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/selection.ts
Labels: 22_1

#20469 DataGrid: Fix select all state after row deselecting if refresh method is called inside onSelectionChanged (T1048081)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/selection.ts
Labels: cherry-pick, 21_2

#20468 DataGrid: Fix select all state after row deselecting if refresh method is called inside onSelectionChanged (T1048081)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/selection.ts
Labels: cherry-pick, 21_1

#20490 Scheduler - Workspace performance tests
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/utils/diagnostic.ts
  testing/testcafe/helpers/diagnostic.ts
  testing/testcafe/tests/renovation/scheduler/performance/appointments.ts
  testing/testcafe/tests/renovation/scheduler/performance/workspace.ts
Labels: renovation, 22_1

#20499 Scheduler - Appointment popup form should be recreated on changing resources (T1050978)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
Labels: 22_1

#20501 dxScheduler - fix import in WorkSpace
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
Labels: 22_1

#20337 scrollable: refactor pivotgrid code to take into account perticularities specific for renovated widget
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.headers_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: renovation, 22_1

#20515 Scheduler - Appointment popup form should be recreated on changing resources (T1050978)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
Labels: cherry-pick, 21_2

#20507 dxScheduler - fix selection when allDayPanel is visible (T1050973)
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/table.tsx
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/cellsSelection/bothDirectionsVirtualScrolling.ts
  testing/testcafe/tests/scheduler/cellsSelection/cellsSelection.ts
  testing/testcafe/tests/scheduler/cellsSelection/init/widget.setup.ts
  testing/testcafe/tests/scheduler/cellsSelection/virtualScrollingCellSelection.ts
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
Labels: 21_2

#20508 Form - Simplify renderLayoutManager (#20462)
  js/ui/form/components/field_item.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.layout_manager.utils.js
  js/ui/form/ui.form.utils.js
Labels: cherry-pick, 21_2

#20389 scrollable: run qunit tests with renovated widget
  .github/workflows/qunit_tests-renovation.yml
  js/renovation/components.js
  testing/tests/DevExpress.angular/widgets.tests.js
  testing/tests/DevExpress.knockout/scheduler.tests.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#20498 Validator: fix editor accessibility attributes render for renovation and framework wrappers (T1048128, T1049206)
  js/core/component.js
  js/renovation/component_wrapper/editors/editor.ts
  js/ui/editor/editor.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: 22_1

#20497 Validator: fix editor accessibility attributes render for renovation and framework wrappers (T1048128, T1049206)
  js/core/component.js
  js/renovation/component_wrapper/editors/editor.ts
  js/ui/editor/editor.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: cherry-pick, 21_2

#20496 Validator: fix editor accessibility attributes render for renovation and framework wrappers (T1048128, T1049206)
  js/core/component.js
  js/ui/editor/editor.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: cherry-pick, 21_1

#20495 Validator: fix editor accessibility attributes render for renovation and framework wrappers (T1048128, T1049206)
  js/core/component.js
  js/ui/editor/editor.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Labels: cherry-pick, 20_2

#20483 DataGrid: Fix filter cleaning when using multiple columns with the same data field (T1049956)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 21_2

#20482 DataGrid: Fix filter cleaning when using multiple columns with the same data field (T1049956)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: cherry-pick, 21_1

#20484 DataGrid: Fix filter cleaning when using multiple columns with the same data field (T1049956)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: cherry-pick, 22_1

#20509 scrollable: get rid of using getScrollBehavior utility
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 21_1

#20510 scrollable: get rid of using getScrollBehavior utility
  js/renovation/ui/scroll_view/strategy/__tests__/native.test.tsx
  js/renovation/ui/scroll_view/strategy/__tests__/strategies.test.tsx
  js/renovation/ui/scroll_view/strategy/native.tsx
  js/renovation/ui/scroll_view/utils/normalize_offset_left.ts
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 21_2

#20511 scrollable: get rid of using getScrollBehavior utility
  js/renovation/ui/scroll_view/strategy/__tests__/native.test.tsx
  js/renovation/ui/scroll_view/strategy/__tests__/strategies.test.tsx
  js/renovation/ui/scroll_view/strategy/native.tsx
  js/renovation/ui/scroll_view/utils/normalize_offset_left.ts
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: cherry-pick, 22_1

#20524 Form - rename isExpectedItem
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.utils.js
Labels: 22_1

#20525 Form - rename isExpectedItem (#20524)
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.utils.js
Labels: cherry-pick, 21_2

#20530 Fix dashboards compilation
  js/format_helper.d.ts
Labels: 22_1

#20427 Change boolean to false
  js/ui/progress_bar.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#20532 Fix dashboards compilation
  js/format_helper.d.ts
Labels: cherry-pick, 21_2

#20521 DataGrid: Fix deleteColumn for band column inside beginUpdate/endUpdate (T1049616)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 22_1

#20520 DataGrid: Fix deleteColumn for band column inside beginUpdate/endUpdate (T1049616)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 21_2

#20519 DataGrid: Fix deleteColumn for band column inside beginUpdate/endUpdate (T1049616)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 21_1

#20518 DataGrid: Fix deleteColumn for band column inside beginUpdate/endUpdate (T1049616)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 20_2

#20541 TextBox - Fix label overlapping search icon on Material theme if mode is "search"
  scss/widgets/material/textBox/_index.scss
Labels: cherry-pick, 22_1

#20517 DataGrid: Fix deleteColumn for band column inside beginUpdate/endUpdate (T1049616)
  .github/workflows/CI.yml
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 20_1

#20544 DataGridLight: Fix angular and add testcafe tests for react and angular
  build/gulp/generator/gulpfile.js
  js/renovation/ui/grids/data_grid_light/data_grid_light.tsx
  js/renovation/ui/grids/data_grid_light/views/table_content.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/pager.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/pager.tsx
  js/renovation/ui/pager/common/consts.ts
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/page_size/__tests__/large.test.tsx
  js/renovation/ui/pager/page_size/large.tsx
  scss/widgets/base/_pager.scss
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  scss/widgets/material/pager/_index.scss
  testing/renovation/platforms/declaration/data_grid_light.tsx
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_change_page.png
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_change_page_size.png
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_change_page_size_all.png
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_pager.png
  testing/testcafe/tests/renovation/data_grid_light/pager.ts
Labels: 22_1

#20543 Scheduler - TestCafe tests - Add layout views
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/etalons/material-week-all-day-panel-false.png
  testing/testcafe/tests/renovation/scheduler/layout/views/material/etalons/material-week-all-day-panel-true.png
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/etalons/timeline-month-change-current-date.png
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
Labels: renovation, 22_1

#20554 Bundles - fix minimizing debug bundles
  build/gulp/js-bundles.js
Labels: 21_2

#20555 Bundles - fix minimizing debug bundles
  build/gulp/js-bundles.js
Labels: cherry-pick, 22_1

#20523 DropDownButton: Remove template value from filter (T1021257)
  js/ui/selection/selection.strategy.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: 22_1

#20552 Update vdom version
  package.json
Labels: 21_1

#20556 Renovation: add build typescript tasks to debug native widget problems
  build/gulp/generator/gulpfile.js
  build/gulp/renovation-npm/index.js
  package.json
Labels: 22_1

#20563 DropDownButton: Remove template value from filter (T1021257)
  js/ui/selection/selection.strategy.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: cherry-pick, 21_1

#20564 DropDownButton: Remove template value from filter (T1021257)
  js/ui/selection/selection.strategy.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: cherry-pick, 20_2

#20562 DropDownButton: Remove template value from filter (T1021257)
  js/ui/selection/selection.strategy.js
  testing/tests/DevExpress.ui.widgets/selection.test.js
Labels: cherry-pick, 21_2

#20538 dxScheduler - refactor templates
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/model/__tests__/views.test.ts
  js/renovation/ui/scheduler/model/views.ts
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_templates_in_month.png
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_templates_in_timelineDay.png
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_templates_in_timelineMonth.png
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_templates_in_week.png
  testing/testcafe/tests/renovation/scheduler/views/templates.ts
Labels: renovation, 22_1

#20553 Scheduler - TestCafe tests - Add virtual scrolling
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timeline-month-change-current-date-virtual.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll.png
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/utils.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
Labels: renovation, 22_1

#20566 CI - Getting rid of the `scheduler/renovation` task
  .github/workflows/testcafe_tests.yml
Labels: renovation, 22_1

#20560 Add .NET 3.1 SDK to Drone image
  build/docker-image/Dockerfile
Labels: 21_1

#20567 SelectBox: clear button click should clear items if minSearchLength > 0 (T1051100)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_1

#20568 SelectBox: clear button click should clear items if minSearchLength > 0 (T1051100)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_2

#20569 SelectBox: clear button click should clear items if minSearchLength > 0 (T1051100)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 22_1
