Repository DevExpress/DevExtreme, pull requests merged in 2021-06, with the labels that each got.

#17693 DataGrid.Pdf - Implement BuiltIn calculation of table rects
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#17705 DataGrid.Pdf - Implement BuiltIn calculation of table rects
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_2, cherry-pick

#17703 TS: Add Store into dataSource option declarations (T982894)
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/list.tsx
  js/renovation/ui/select_box.tsx
  js/ui/accordion.d.ts
  js/ui/action_sheet.d.ts
  js/ui/box.d.ts
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/context_menu/ui.menu_base.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/editor/ui.data_expression.d.ts
  js/ui/filter_builder.d.ts
  js/ui/gallery.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/list.d.ts
  js/ui/menu.d.ts
  js/ui/multi_view.d.ts
  js/ui/responsive_box.d.ts
  js/ui/scheduler.d.ts
  js/ui/slide_out.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tabs.d.ts
  js/ui/tile_view.d.ts
  js/ui/toolbar.d.ts
  js/ui/tree_view.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/docs/docBaseWidget.js
  js/viz/funnel.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#17706 ESLint: enable init-declarations, return-await, no-invalid-void-type, prefer-includes, no-invalid-this, typedef rules
  .eslintrc
  js/renovation/common/types.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/editor.ts
  js/renovation/component_wrapper/common/types.ts
  js/renovation/component_wrapper/grid_pager.ts
  js/renovation/component_wrapper/scroll_view.ts
  js/renovation/component_wrapper/scrollable.ts
  js/renovation/test_utils/events_mock.ts
  js/renovation/ui/button.tsx
  js/renovation/ui/calendar.tsx
  js/renovation/ui/check_box.tsx
  js/renovation/ui/common/event_callback.d.ts
  js/renovation/ui/date_box.tsx
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/overlay.tsx
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/common/keyboard_action_context.tsx
  js/renovation/ui/pager/pages/large.tsx
  js/renovation/ui/scheduler/view_model/views/common.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
  js/renovation/ui/validation_message.tsx
  js/renovation/utils/effect_return.d.ts
  js/renovation/utils/get_computed_style.ts
  js/renovation/viz/common/renderers/shadow_filter.tsx
  js/renovation/viz/common/renderers/svg_path.tsx
  js/renovation/viz/common/renderers/svg_rect.tsx
  js/renovation/viz/common/renderers/svg_text.tsx
  js/renovation/viz/common/renderers/types.d.ts
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/tooltip_utils.ts
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/common/utils.ts
  js/renovation/viz/sparklines/bullet.tsx
  testing/testcafe/helpers/screenshot-comparer.ts
  testing/testcafe/model/contextMenu/index.ts
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/model/gallery/index.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/radioGroup/index.ts
  testing/testcafe/model/scrollView.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  themebuilder-scss/src/metadata/dependency-collector.ts
  themebuilder-scss/src/modules/dart-client.ts
  themebuilder-scss/tests/modules/compiler-dart-support.test.ts
  themebuilder-scss/tests/modules/dart-client.test.ts
Labels: 21_2, type/enhancement

#17711 TextEditor: fix error when there is custom button and visible option is true (T998843)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 20_2

#17710 TextEditor: fix error when there is custom button and visible option is true (T998843)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 21_1, cherry-pick

#17637 DataGrid: Fix summary item flickering when the grid is scrolled if the rowRenderingMode option is set to virtual (T996914)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 19_1

#17718 scrollable: get rid TwoWay() property pocketState inside internal Scrollbar component
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_2, renovation

#17719 ESLint: fix new linter errors
  js/renovation/ui/check_box.tsx
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/overlay.tsx
  js/renovation/ui/pager/common/keyboard_action_context.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
  js/renovation/ui/validation_message.tsx
  js/renovation/utils/get_computed_style.ts
  js/renovation/viz/common/renderers/shadow_filter.tsx
  js/renovation/viz/common/renderers/svg_path.tsx
  js/renovation/viz/common/renderers/types.d.ts
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/common/utils.ts
  testing/testcafe/model/contextMenu/index.ts
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/model/gallery/index.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/radioGroup/index.ts
  testing/testcafe/model/scrollView.ts
Labels: 21_1

#17715 TS: Add Store into dataSource option declarations (T982894)
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/list.tsx
  js/renovation/ui/select_box.tsx
  js/ui/accordion.d.ts
  js/ui/action_sheet.d.ts
  js/ui/box.d.ts
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/context_menu/ui.menu_base.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/editor/ui.data_expression.d.ts
  js/ui/filter_builder.d.ts
  js/ui/gallery.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/list.d.ts
  js/ui/menu.d.ts
  js/ui/multi_view.d.ts
  js/ui/responsive_box.d.ts
  js/ui/scheduler.d.ts
  js/ui/slide_out.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tabs.d.ts
  js/ui/tile_view.d.ts
  js/ui/toolbar.d.ts
  js/ui/tree_view.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/docs/docBaseWidget.js
  js/viz/funnel.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/dx.all.d.ts
Labels: 21_2, cherry-pick

#17700 Add explicit `any` in type definitions
  js/core/component.d.ts
  js/events/core/events_engine.d.ts
  ts/dx.all.d.ts
Labels: 21_2, cherry-pick, type/bug

#17699 Add explicit `any` in type definitions
  js/core/component.d.ts
  js/events/core/events_engine.d.ts
  ts/dx.all.d.ts
Labels: 21_1, type/bug

#17340 dxScheduler - init renovate root component
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
Labels: 21_2

#17680 dxScheduler - Add dataCellTemplate all day cells tests
  testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: 21_1

#17726 Bump internal-tools version. Fix Build DevExtreme task
  package.json
Labels: 21_1

#17727 Bump internal-tools version. Fix Build DevExtreme task
  package.json
Labels: 21_2, cherry-pick

#17729 DropDownEditor: click on inner DropDownEditor should not close parent DropDownEditor (T998926)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 21_2

#17734 DropDownEditor: click on inner DropDownEditor should not close parent DropDownEditor (T998926)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 21_1, cherry-pick

#17733 DropDownEditor: click on inner DropDownEditor should not close parent DropDownEditor (T998926)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 20_2, cherry-pick

#17651 virtual scrolling: enables infinite mode (#17650)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2, cherry-pick

#17650 virtual scrolling: enables infinite mode
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1

#17731 HtmlEditor: add integration tests for multiline module (#17632)
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/multilineIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 21_2, cherry-pick

#17601 Renovation: Make `children` render in right order if placed with other nodes
  js/core/utils/dom.js
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/children.tsx
  js/renovation/component_wrapper/common/template_wrapper.ts
Labels: 21_2, renovation

#17736 scrollable: fix default topPocketSize in swipeDown, pullDown native strategy
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/top_pocket.test.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/top_pocket.tsx
Labels: 21_2, renovation

#17667 DataGrid: Fix column width updating on browser zoom for column with auto width (T998665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 21_2

#17666 DataGrid: Fix column width updating on browser zoom for column with auto width (T998665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 21_1, cherry-pick

#17665 DataGrid: Fix column width updating on browser zoom for column with auto width (T998665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 20_2, cherry-pick

#17675 dxScheduler - use DOM wrapper to get cell coordinates
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_2

#17657 Renovation: get rid of "any" in "component_wrapper/*"
  js/renovation/component_wrapper/check_box.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/editor.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
  js/renovation/component_wrapper/common/types.ts
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/component_wrapper/grid_pager.ts
  js/renovation/component_wrapper/utils/update-props-immutable.ts
  js/renovation/component_wrapper/utils/utils.ts
Labels: 21_2, renovation

#17747 dxScheduler - fix scheduler's screenshot tests
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=agenda.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=day.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=timelineDay.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=timelineWorkWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-tooltip-template.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=day.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=month.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineDay.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineMonth.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineWorkWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=workWeek.png
Labels: 21_2

#17748 dxScheduler - fix scheduler's screenshot tests
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=agenda.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=day.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=timelineDay.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=timelineWorkWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-tooltip-template.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=day.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=month.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineDay.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineMonth.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=timelineWorkWeek.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/data-cell-template-currentView=workWeek.png
Labels: 21_1, cherry-pick

#17722 File Uploader - Fix possibility to select the same file twice (T969288)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 21_2

#17724 File Uploader - Fix possibility to select the same file twice (T969288)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 21_1, cherry-pick

#17725 File Uploader - Fix possibility to select the same file twice (T969288)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 20_2, cherry-pick

#17737 Overlay.baseZIndex: fix ES module named export
  js/bundles/modules/parts/widgets-base.js
  js/renovation/ui/__tests__/overlay.test.tsx
  js/renovation/ui/overlay.tsx
  js/ui/context_menu/ui.context_menu.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/list/ui.list.edit.decorator.context.js
  js/ui/load_panel.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.d.ts
  js/ui/overlay.js
  js/ui/popup.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/toast.js
  js/ui/validation_message.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_2

#17739 Overlay.baseZIndex: fix ES module named export
  js/bundles/modules/parts/widgets-base.js
  js/renovation/ui/__tests__/overlay.test.tsx
  js/renovation/ui/overlay.tsx
  js/ui/context_menu/ui.context_menu.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/list/ui.list.edit.decorator.context.js
  js/ui/load_panel.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.d.ts
  js/ui/overlay.js
  js/ui/popup.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/toast.js
  js/ui/validation_message.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_1, cherry-pick

#17749 DateBox mask: refactor renderDateParts util to prevent Rollup bundler warning logging
  js/ui/date_box/ui.date_box.mask.parts.js
Labels: 21_2

#17728 dxScheduler - Add dataCellTemplate test for startDate option
  testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: 21_1

#17755 DateBox mask: refactor renderDateParts util to prevent Rollup bundler warning logging (#17749)
  js/ui/date_box/ui.date_box.mask.parts.js
Labels: 20_2, cherry-pick

#17732 HtmlEditor - fix markdown table rendering (T1000855)
  js/ui/html_editor/converters/markdown.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 21_2

#17754 DateBox mask: refactor renderDateParts util to prevent Rollup bundler warning logging (#17749)
  js/ui/date_box/ui.date_box.mask.parts.js
Labels: 21_1, cherry-pick

#17753 List: items with index bigger then 255 can be selected in grouped list (T996851)
  js/ui/list/ui.list.edit.strategy.grouped.js
  testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
Labels: 21_2

#17756 scrollview: add preventScrollBottom argument to public release() method
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scroll_view.tsx
Labels: 21_2, renovation

#17713 Scheduler - Virtual scrolling - Appointment should not repaint if it's geometry is not changed
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 21_1

#17766 scrollable: fix wrapper in some cases brokes `children` render
  js/renovation/component_wrapper/scroll_view.ts
  js/renovation/component_wrapper/scrollable.ts
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_2, renovation

#17685 dxScheduler - do not use workspace in ViewDataGenerator
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_model/grouped_data_map_provider.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 21_2

#17764 HtmlEditor - fix markdown table rendering (T1000855) (#17732)
  js/ui/html_editor/converters/markdown.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 21_1, cherry-pick

#17765 HtmlEditor - fix markdown table rendering (T1000855) (#17732)
  js/ui/html_editor/converters/markdown.js
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 20_2, cherry-pick

#17762 List: change selection_mask to allow use more then 255 items (T996851)
  js/ui/list/ui.list.edit.strategy.grouped.js
  testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
Labels: 20_2, cherry-pick

#17763 List: change selection_mask to allow use more then 255 items (T996851)
  js/ui/list/ui.list.edit.strategy.grouped.js
  testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
Labels: 21_1, cherry-pick

#17644 DataGrid: Fix duplicate digit in column editor when editing starts when editOnKeyPress is set to 'true' and format.precision is specified in editorOptions (T998365)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 20_2

#17645 DataGrid: Fix duplicate digit in column editor when editing starts when editOnKeyPress is set to 'true' and format.precision is specified in editorOptions (T998365)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 21_1, cherry-pick

#17646 DataGrid: Fix duplicate digit in column editor when editing starts when editOnKeyPress is set to 'true' and format.precision is specified in editorOptions (T998365)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 21_2, cherry-pick

#17769 DataGrid: Fix test after T998665 for jquery 2
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 20_2, cherry-pick

#17770 DataGrid: Fix test after T998665 for jquery 2
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 21_1, cherry-pick

#17771 DataGrid: Fix test after T998665 for jquery 2
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 21_2

#17757 Scheduler - Fix - Resource color should apply if 'groups' option is set inside 'views'
  js/ui/scheduler/appointments/appointment.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/resources/resourceManager.js
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/model/scheduler/appointment/index.ts
  testing/testcafe/tests/scheduler/appointments/resources.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 21_2, renovation

#17752 scrollable: remove redundant warning E1030
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/widget/ui.errors.js
Labels: 21_2, type/enhancement

#17751 dxScheduler - Fix setting type to startDate and endDate item when allDay editor changes(T1002864)
  js/ui/scheduler/appointment_form.js
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/tests/scheduler/appointmentForm.ts
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/etalons/form-before-change-allday-and-reccurence-options.png
Labels: 21_2

#17767 scrollable: remove redundant warning E1030
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/widget/ui.errors.js
Labels: 20_2, cherry-pick

#17768 scrollable: remove redundant warning E1030
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/widget/ui.errors.js
Labels: 21_1, cherry-pick

#17761 datagrid - repairs tests on Chrome
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 21_1

#17774 datagrid - repairs tests on Chrome (#17761)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 21_2, cherry-pick

#17775 datagrid - repairs tests on Chrome (#17761)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 20_2, cherry-pick

#17777 datagrid - repairs tests on Chrome (#17761)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 20_1, cherry-pick

#17782 Overlays: refactor Safari-specific code
  js/ui/lookup.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  js/ui/slider/ui.slider_handle.js
  js/ui/speed_dial_action/speed_dial_item.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 21_2, renovation

#17786 dxScheduler - add dataCellTemplate tests
  testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: 21_2, cherry-pick

#17780 Fix errors on drawing charts in draggable container(T1001697)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: 21_2

#17779 Fix errors on drawing charts in draggable container(T1001697)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: 20_2, cherry-pick

#17778 Fix errors on drawing charts in draggable container(T1001697)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: 21_1, cherry-pick

#17799 TextEditor mask: no error should be raised on autofill on mobile devices (T996580)
  js/ui/text_box/ui.text_editor.mask.strategy.input_events.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 20_2, cherry-pick

#17800 TextEditor mask: no error should be raised on autofill on mobile devices (T996580)
  js/ui/text_box/ui.text_editor.mask.strategy.input_events.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 21_1, cherry-pick

#17814 scrollable: pass methods for start & finish loading into scrollview
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
Labels: 21_2, renovation

#17787 Overlay: remove named export in 'ui/overlay'
  js/bundles/modules/parts/widgets-base.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/list/ui.list.edit.decorator.context.js
  js/ui/load_panel.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.js
  js/ui/popup.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/toast.js
  js/ui/validation_message.js
  testing/tests/DevExpress.knockout/overlay.tests.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.serverSide/overlay.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_2

#17788 Overlay: remove named export in 'ui/overlay'
  js/bundles/modules/parts/widgets-base.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/list/ui.list.edit.decorator.context.js
  js/ui/load_panel.js
  js/ui/menu/ui.menu.js
  js/ui/overlay.js
  js/ui/popup.js
  js/ui/scheduler/tooltip_strategies/mobileTooltipStrategy.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/toast.js
  js/ui/validation_message.js
  testing/tests/DevExpress.knockout/overlay.tests.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.serverSide/overlay.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_1, cherry-pick

#17793 Renovated editors: fix 'no-explicit-any' lint errors and enable lint for button.ts
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/editor.ts
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/__tests__/check_box.test.tsx
  js/renovation/ui/overlay.tsx
  js/renovation/ui/select_box.tsx
Labels: 21_2, renovation

#17798 Renovation: enable 'prefer-nullish-coalescing' eslint rule
  .eslintrc
  js/renovation/component_wrapper/common/component.ts
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/button.tsx
  js/renovation/ui/common/dom_component_wrapper.tsx
  js/renovation/ui/pager/info.tsx
  js/renovation/ui/pager/pages/__tests__/small.test.tsx
  js/renovation/ui/pager/pages/small.tsx
  js/renovation/ui/pager/utils/get_element_width.ts
  js/renovation/ui/scheduler/view_model/views/common.ts
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/utils.ts
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/utils/get_element_style.ts
  js/renovation/viz/common/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/common/renderers/pattern.tsx
  js/renovation/viz/common/renderers/svg_text.tsx
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/tooltip_utils.ts
  js/renovation/viz/sparklines/bullet.tsx
  js/renovation/viz/sparklines/utils.ts
  testing/testcafe/helpers/screenshot-comparer.ts
  themebuilder-scss/src/modules/config-normalizer.ts
Labels: 21_2, renovation

#17783 dxScheduler - Fix setting type to startDate and endDate item when allDay editor changes(T1002864)
  js/ui/scheduler/appointment_form.js
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/tests/scheduler/appointmentForm.ts
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/etalons/form-before-change-allday-and-reccurence-options.png
Labels: 21_1, cherry-pick

#17784 dxScheduler - Fix setting type to startDate and endDate item when allDay editor changes(T1002864)
  js/ui/scheduler/ui.scheduler.appointment_form.js
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  testing/testcafe/tests/scheduler/appointmentForm.ts
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/etalons/form-before-change-allday-and-reccurence-options.png
Labels: 20_2, cherry-pick

#17781 Renovation: Make inferno remove content on unmount by itself
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/template_wrapper.ts
Labels: 21_2, renovation

#17794 scrollable: add container() method for external use
  js/ui/scroll_view/ui.scrollable.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: 21_2

#17805 Sortable: fix apply bindings on the content of the sortable widget (T999286)
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/sortable.tests.js
Labels: 21_1

#17819 Sortable: fix apply bindings on the content of the sortable widget (T999286)
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/sortable.tests.js
Labels: 20_2, cherry-pick

#17818 Sortable: fix apply bindings on the content of the sortable widget (T999286)
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/sortable.tests.js
Labels: 21_2, cherry-pick

#17801 scrollable: add missed methods for external use
  js/renovation/component_wrapper/scrollable.ts
  js/renovation/components.js
  js/renovation/ui/scroll_view/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/ui/scroll_view/ui.scrollable.js
Labels: 21_2, renovation

#17744 DataGrid - Remove code for ie
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/grid_core/ui.grid_core.state_storing_core.js
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/helpers/grid/getPointsByColumnsHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 21_2

#17698 GridCore - add sortOrder option to columnChooser
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#17730 Menu & ContextMenu -Fix text alignment (T995554)
  scss/widgets/generic/contextMenu/_index.scss
  scss/widgets/generic/menu/_index.scss
  scss/widgets/generic/menuBase/_index.scss
Labels: 20_2

#17621 DataGrid.Pdf - Indents for grouped rows
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#17828 DataGrid.Pdf - Indents for grouped rows
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_2, cherry-pick

#17772 Renovation: implement Button._toggleActiveState method
  js/renovation/component_wrapper/button.ts
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/button.tsx
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
Labels: 21_2, renovation, type/bug

#17829 Renovation: Make inferno remove content on unmount by itself (#17781)
  js/renovation/component_wrapper/__tests__/component.test.tsx
  js/renovation/component_wrapper/template_wrapper.ts
Labels: 21_1, cherry-pick, renovation

#17807 datagrid - fixes unstable tests
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1

#17808 datagrid - fixes unstable tests
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2, cherry-pick

#17809 datagrid - fixes unstable tests
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 20_2, cherry-pick

#17827 Update devextreme-quill version (T1001941)
  package.json
Labels: 20_1, cherry-pick

#17826 Update devextreme-quill version (T1001941)
  package.json
Labels: 21_1, cherry-pick

#17825 Update devextreme-quill version (T1001941)
  package.json
Labels: 21_2

#17815 Overlay: wrapper dimensions should be equal to client width when container is window
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_2

#17791 dxScheduler - use virtual scrolling dispatcher always
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_2

#17816 Renovated editors: fix 'no-magic-numbers' lint errors
  js/renovation/component_wrapper/common/editor.ts
  js/renovation/ui/check_box.tsx
  js/renovation/ui/common/widget.tsx
  js/renovation/ui/number_box.tsx
  package.json
Labels: 21_2, renovation

#17823 Update DropDownList types (T1004768)
  js/ui/autocomplete.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/select_box.d.ts
  js/ui/tag_box.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#17833 Update DropDownList types (T1004768)
  js/ui/autocomplete.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/select_box.d.ts
  js/ui/tag_box.d.ts
  ts/dx.all.d.ts
Labels: 21_2, cherry-pick

#17835 scrollable: fix scrollbar test in jquery mode
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: 21_2

#17785 dxScheduler - Fix dnd endDate definition
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/externalDragging.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerWithDnD.html
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_2, WIP

#17804 Renovation: fix template integration with angular and vue
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/component_wrapper/templated.ts
  js/renovation/component_wrapper/common/component.ts
Labels: 21_2, renovation

#17834 delete renovationHelper.js file
  testing/helpers/renovationHelper.js
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
Labels: 21_2

#17803 Update commit naming examples
  README_DEVELOPERS.md
Labels: 21_1

#17789 Renovated editors: refactor directory structure
  js/renovation/component_wrapper/editors/__tests__/check_box.test.tsx
  js/renovation/component_wrapper/editors/__tests__/editor.test.tsx
  js/renovation/component_wrapper/editors/check_box.ts
  js/renovation/component_wrapper/editors/editor.ts
  js/renovation/components.js
  js/renovation/ui/button.tsx
  js/renovation/ui/editors/__tests__/calendar.test.tsx
  js/renovation/ui/editors/__tests__/check_box.test.tsx
  js/renovation/ui/editors/__tests__/number_box.test.tsx
  js/renovation/ui/editors/calendar.tsx
  js/renovation/ui/editors/check_box.tsx
  js/renovation/ui/editors/drop_down_editors/__tests__/date_box.test.tsx
  js/renovation/ui/editors/drop_down_editors/__tests__/select_box.test.tsx
  js/renovation/ui/editors/drop_down_editors/date_box.tsx
  js/renovation/ui/editors/drop_down_editors/select_box.tsx
  js/renovation/ui/editors/number_box.tsx
  js/renovation/ui/overlays/__tests__/overlay.test.tsx
  js/renovation/ui/overlays/__tests__/validation_message.test.tsx
  js/renovation/ui/overlays/load_panel.tsx
  js/renovation/ui/overlays/overlay.tsx
  js/renovation/ui/overlays/validation_message.tsx
  js/renovation/ui/pager/__tests__/pager.test.tsx
  js/renovation/ui/pager/page_size/__tests__/small.test.tsx
  js/renovation/ui/pager/page_size/small.tsx
  js/renovation/ui/pager/pages/__tests__/small.test.tsx
  js/renovation/ui/pager/pages/small.tsx
  js/renovation/ui/scroll_view/load_panel.tsx
Labels: 21_2, renovation

#17723 dxScheduler - use CellsSelectionController to work with mouse selection
  js/ui/scheduler/workspaces/cells_selection_controller.js
  js/ui/scheduler/workspaces/cells_selection_state.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_2

#17773 Add Xor type
  js/core/index.d.ts
  package.json
Labels: 21_2

#17839 Menu & ContextMenu -Fix text alignment (T995554)
  scss/widgets/generic/contextMenu/_index.scss
  scss/widgets/generic/menu/_index.scss
  scss/widgets/generic/menuBase/_index.scss
  scss/widgets/generic/menuBase/_sizes.scss
Labels: 20_2

#17812 Scheduler - Get rid of singleton instances
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/DataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/DataProvider/appointmentFilter.js
  js/ui/scheduler/appointments/appointment.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/instanceFactory.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/resources/resourceManager.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/helpers/scheduler/workspaceTestHelper.js
  testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.initialization.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dateNavigator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.api.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.cache.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 21_2

#17846 Menu & ContextMenu -Fix text alignment (T995554)
  scss/widgets/generic/contextMenu/_index.scss
  scss/widgets/generic/menu/_index.scss
  scss/widgets/generic/menuBase/_index.scss
  scss/widgets/generic/menuBase/_sizes.scss
Labels: 21_2, cherry-pick

#17845 Menu & ContextMenu -Fix text alignment (T995554)
  scss/widgets/generic/contextMenu/_index.scss
  scss/widgets/generic/menu/_index.scss
  scss/widgets/generic/menuBase/_index.scss
  scss/widgets/generic/menuBase/_sizes.scss
Labels: 21_1, cherry-pick

#17750 Extract private augmentation for Component
  js/animation/presets/presets.js
  js/bundles/modules/core.js
  js/core/component.d.ts
  js/core/component.js
  js/core/dom_component.d.ts
  js/core/dom_component.js
  js/renovation/ui/common/component.d.ts
  js/renovation/ui/common/core.d.ts
  js/renovation/ui/grids/data_grid/common/types.ts
  js/ui/diagram/diagram.items_option.js
  js/ui/dialog.js
  js/ui/gantt/ui.gantt.data.option.js
  testing/tests/DevExpress.core/component.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#17824 dxScheduler - fix dragging in container which has transform style(T1003363)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/containerWithTransform.html
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-bottom.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-right.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-top.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-bottom.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-left.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-right.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-top.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/schedulerInContainer.ts
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/schedulerInTransformContainer.ts
Labels: 21_2

#17836 dxScheduler - fix dragging from tooltip to the cell below (T1005115)
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/appointmentCollector.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-cell-below-in-month.png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-left-cell-in-week.png
Labels: 21_2

#17850 dxScheduler - fix dragging in container which has transform style(T1003363)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/containerWithTransform.html
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-bottom.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-right.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-dxTabPanel-drag-to-top.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-bottom.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-left.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-right.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/etalons/dxScheduler-placed-in-transform-container-drag-to-top.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/schedulerInContainer.ts
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/schedulerInContainer/schedulerInTransformContainer.ts
Labels: 21_1, cherry-pick

#17735 Switch to Renovated DataGrid
  jest.config.js
  js/core/dom_component.d.ts
  js/core/options/utils.d.ts
  js/renovation/component_wrapper/__tests__/data_grid.test.tsx
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/component_wrapper/utils/__tests__/update-props-immutable.test.ts
  js/renovation/component_wrapper/utils/update_props_immutable.ts
  js/renovation/components.js
  js/renovation/ui/grids/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/grids/data_grid/__tests__/data_grid_views.test.tsx
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/renovation/ui/grids/data_grid/data_grid_views.tsx
  js/renovation/ui/grids/grid_base/__tests__/grid_base_view_wrapper.test.tsx
  js/renovation/ui/grids/grid_base/__tests__/grid_base_views.test.tsx
  js/renovation/ui/grids/grid_base/common/grid_base_view_props.ts
  js/renovation/ui/grids/grid_base/grid_base_view_wrapper.tsx
  js/renovation/ui/grids/grid_base/grid_base_views.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/Renovation/compatibility.test.js
  ts/dx.all.d.ts
Labels: 21_2

#17853 dxScheduler - fix dragging from tooltip to the cell below (T1005115)
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/appointmentCollector.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-cell-below-in-month.png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-left-cell-in-week.png
Labels: 21_1, cherry-pick

#17854 dxScheduler - fix dragging from tooltip to the cell below (T1005115)
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/appointmentCollector.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-cell-below-in-month.png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-left-cell-in-week.png
Labels: 20_2, cherry-pick

#17858 DataGrid: Revert null from data_grid.d.ts
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#17848 Renovation: Update vDom package
  package.json
Labels: 21_2, renovation

#17849 Renovation: Update vDom package
  package.json
Labels: 21_1, renovation

#17841 dateviewroller: convert to ES6 syntax
  js/ui/date_box/ui.date_view_roller.js
Labels: 21_2

#17861 Fix TS backward compatibility after #17823
  js/ui/tag_box.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#17862 Fix TS backward compatibility after #17823
  js/ui/tag_box.d.ts
  ts/dx.all.d.ts
Labels: 21_2, cherry-pick

#17618 DataGrid & TreeList - add return promise to navigateToRow method
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list.d.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  ts/dx.all.d.ts
Labels: 21_2, cherry-pick

#17821 Sortable: fix apply bindings on the content of the sortable widget (T999286)
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/sortable.tests.js
Labels: 20_1, cherry-pick

#17817 dxScheduler - Get rid of unnecessary properties in renovated components
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 21_1

#17879 scrollable: restore scroll position when visibility was changed
  js/renovation/ui/scroll_view/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 21_2, renovation

#17883 scrollable: remove files from coverage ignore
  jest.config.js
  js/renovation/component_wrapper/navigation/scroll_view.ts
  js/renovation/component_wrapper/navigation/scrollable.ts
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/utils/get_element_style.ts
  js/renovation/ui/scroll_view/utils/get_translate_values.ts
Labels: 21_2, renovation

#17859 dxScheduler - Fix dnd endDate definition
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/externalDragging.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerWithDnD.html
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 20_2, cherry-pick

#17855 dxScheduler - Fix dnd endDate definition
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/externalDragging.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerWithDnD.html
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_1, cherry-pick

#17865 dxScheduler - replace any type on dxSchedulerAppointment type in arguments
  js/renovation/ui/scheduler/scheduler.tsx
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#17891 Button: DropDownMenu's button should ignore hover actions
  js/ui/drop_down_menu.js
  testing/testcafe/model/dropDownMenu.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/tests/navigation/dropDownMenu.ts
Labels: 21_2, renovation

#17867 dxChart - fix label visibility with inside position (T1001159)
  js/viz/axes/base_axis.js
  js/viz/axes/polar_axes.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/gauges/common.js
  js/viz/range_selector/range_selector.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part3.tests.js
Labels: 21_1

#17868 dxChart - fix label visibility with inside position (T1001159)
  js/viz/axes/base_axis.js
  js/viz/axes/polar_axes.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/gauges/common.js
  js/viz/range_selector/range_selector.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core/axesTicksGeneration.tests.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
  testing/tests/DevExpress.viz.core/polarAxes.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common.part3.tests.js
Labels: 20_2, cherry-pick

#17887 Fix LGTM warnings. viz part
  js/exporter/image_creator.js
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/components/chart_theme_manager.js
  js/viz/core/layout.js
  js/viz/core/renderers/renderer.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/common.js
  js/viz/gauges/linear_indicators.js
  js/viz/sankey/layout.js
  js/viz/series/base_series.js
  js/viz/series/points/range_symbol_point.js
  js/viz/translators/translator2d.js
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 21_1

#17888 Fix LGTM warnings. viz part
  js/exporter/image_creator.js
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/components/chart_theme_manager.js
  js/viz/core/layout.js
  js/viz/core/renderers/renderer.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/common.js
  js/viz/gauges/linear_indicators.js
  js/viz/sankey/layout.js
  js/viz/series/base_series.js
  js/viz/series/points/range_symbol_point.js
  js/viz/translators/translator2d.js
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 21_2, cherry-pick

#17889 Fix LGTM warnings. viz part
  js/exporter/image_creator.js
  js/viz/axes/base_axis.js
  js/viz/axes/tick_generator.js
  js/viz/components/chart_theme_manager.js
  js/viz/core/layout.js
  js/viz/core/renderers/renderer.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/common.js
  js/viz/gauges/linear_indicators.js
  js/viz/sankey/layout.js
  js/viz/series/base_series.js
  js/viz/series/points/range_symbol_point.js
  js/viz/translators/translator2d.js
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 20_2, cherry-pick

#17893 Scheduler - Tests refactoring
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.api.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.cache.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.month.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 21_2

#17869 Renovation: enable 'require-array-sort-compare' and 'restrict-plus-operands' lint rules
  .eslintrc
  js/renovation/ui/scheduler/view_model/views/common.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/utils/get_element_location_internal.ts
  js/renovation/viz/common/renderers/utils.ts
  js/renovation/viz/common/tooltip_utils.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  themebuilder-scss/src/modules/post-compiler.ts
  themebuilder-scss/tests/modules/bootstrap-extractor.test.ts
Labels: 21_2, renovation

#17882 CSP: Fix inline style for animation
  js/animation/position.js
  testing/testcafe/tests/editors/pages/T941581.html
  testing/testcafe/tests/editors/validationMessage.ts
Labels: 21_2

#17890 Overlays: improve safari scrolling preventing
  js/ui/overlay/ui.overlay.js
  js/ui/popup.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 21_2

#17837 Update commit naming examples (#17803)
  README_DEVELOPERS.md
Labels: 21_2, cherry-pick

#17884 DateViewRoller: support backward compatibility with using renovated & old scrollable
  js/ui/date_box/ui.date_view.js
  js/ui/date_box/ui.date_view_roller.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_2, renovation

#17908 Chart - fix group order for polar chart after fix T1001159
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 21_2

#17909 Chart - fix group order for polar chart after fix T1001159
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 21_1, cherry-pick
