Repository DevExpress/DevExtreme, pull requests merged in 2021-10, with the labels that each got.

#19468 Editor: add validation options synchronization on init
  js/renovation/component_wrapper/editors/editor.ts
  js/renovation/ui/common/core.d.ts
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  ts/dx.all.d.ts
Labels: renovation, 21_2

#19469 Scheduler - ExpressionUtils - Remove extra
  js/ui/scheduler/expressionUtils.js
Labels: renovation, 21_2

#19477 dxScheduler - fix header in Safari
  scss/widgets/base/scheduler/views/_index.scss
Labels: 21_2

#19459 dxScheduler - use cross-scrolling when necessary
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space_config.test.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space_config.ts
  js/renovation/ui/scheduler/workspaces/props.ts
Labels: renovation, 21_2

#19480 Update HtmlEditor d.ts
  js/docEnums.js
  js/ui/html_editor.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#19437 DataGrid Export - Allow set color for text and background in alternative formats
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/normalizeOptions.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
Labels: 21_2

#19467 TreeList - fix toolbar `disabled` option declaration
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#19482 dxScheduler - add tests for layout customization
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-month-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-month-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-timelineMonth-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-timelineMonth-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-timelineWeek-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-timelineWeek-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-week-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-group-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-month-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-month-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-timelineMonth-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-timelineMonth-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-timelineWeek-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-timelineWeek-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-week-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-header-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-agenda-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-agenda-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=false.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/scheduler/layout/customization/groupPanelCustomizationContainer.html
  testing/testcafe/tests/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/scheduler/layout/customization/headerPanelCustomizationContainer.html
  testing/testcafe/tests/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/scheduler/layout/customization/timePanelCustomizationContainer.html
Labels: 21_2

#19479 dxScheduler - move filteredItems state to root component
  js/ui/scheduler/appointments/DataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_2

#19472 Scheduler - Rework date serialization format
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/utils.js
Labels: renovation, 21_2

#19379 Review deprecated types (FS Providers Options, ValidationResult, Device, etc.) (#19310)
  js/core/devices.d.ts
  js/file_management/custom_provider.d.ts
  js/file_management/object_provider.d.ts
  js/file_management/remote_provider.d.ts
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/ui/data_grid.d.ts
  js/ui/form.d.ts
  js/ui/tree_list.d.ts
  js/ui/tree_view.d.ts
  js/ui/validation_engine.d.ts
  js/ui/validation_group.d.ts
  js/ui/validator.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#19508 Review DataSources and Store Options types (#19388)
  js/data/abstract_store.d.ts
  js/data/array_store.d.ts
  js/data/custom_store.d.ts
  js/data/data_source.d.ts
  js/renovation/ui/editors/drop_down_editors/select_box.tsx
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/list.tsx
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/context_menu/ui.menu_base.d.ts
  js/ui/data_grid.d.ts
  js/ui/editor/ui.data_expression.d.ts
  js/ui/filter_builder.d.ts
  js/ui/list.d.ts
  js/ui/menu.d.ts
  js/ui/multi_view.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid/data_source.d.ts
  js/ui/scheduler.d.ts
  js/ui/tab_panel.d.ts
  js/ui/toolbar.d.ts
  js/ui/tree_view.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#19513 dxScheduler - add coverage for several cases
  js/renovation/ui/scheduler/appointment/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/ordinary_layout.test.tsx
Labels: renovation, 21_2

#19495 DataGrid: Fix changing scrolling.mode from 'virtual' to 'standart'
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2

#19471 DataGrid: Add dataRowTemplate to fix several issues with rowTemplate in React (T1031218, T859033, T836517, T901222)
  js/renovation/component_wrapper/__tests__/data_grid.test.tsx
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/datagrid_component.ts
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.base.js
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.editing_row_based.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#19407 DataGrid: Fix duplicated loads for filterPanel if headerFilter.dataSource is defined (T1030763)
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Labels: cherry-pick, 21_1

#19408 DataGrid: Fix duplicated loads for filterPanel if headerFilter.dataSource is defined (T1030763)
  js/ui/filter_builder/utils.js
  js/ui/grid_core/ui.grid_core.filter_custom_operations.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterPanel.tests.js
Labels: 21_2

#19501 CheckBox in DataGrid: revert icon font size
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/generic/gridBase/_sizes.scss
Labels: 21_2

#19499 DataGrid: FIx newRowPosition 'last' if scrolling.mode is 'virtual'
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_2

#19464 DataGrid - getting rid of any - TKey, TRowData
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#19465 DataGrid - Keyboard Navigation - fix selection on editing (IE)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: cherry-pick, 21_1

#19514 scrollable: change code to take into account perticularities specific in vue approach
  js/renovation/ui/scroll_view/internal/pocket/top.tsx
  js/renovation/ui/scroll_view/scrollbar/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar/scrollbar.tsx
  js/renovation/ui/scroll_view/strategy/__tests__/simulated.test.tsx
  js/renovation/ui/scroll_view/strategy/__tests__/strategies.test.tsx
  js/renovation/ui/scroll_view/strategy/native.tsx
  js/renovation/ui/scroll_view/strategy/simulated.tsx
  js/renovation/ui/scroll_view/utils/__tests__/subscribe_to_event.test.tsx
  js/renovation/ui/scroll_view/utils/get_allowed_direction.ts
  js/renovation/ui/scroll_view/utils/get_bounding_rect.ts
  js/renovation/ui/scroll_view/utils/get_permissible_wheel_direction.ts
  js/renovation/ui/scroll_view/utils/subscribe_to_resize.ts
Labels: renovation, 21_2

#19518 Update tools to v7.2.3
  package-lock.json
  package.json
Labels: 21_2

#19517 Update tools to v7.2.3
  package.json
Labels: 21_1

#19509 dxScheduler - put back dropDownTemplate
  js/ui/scheduler.d.ts
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#19460 dxScheduler - Change customizeDateNavigatorText prop annotation
  js/renovation/ui/scheduler/props.ts
Labels: renovation, 21_2

#19531 Popup and Popover: move components and its position controller to a new appropriate directory
  js/ui/overlay/overlay_position_controller.js
  js/ui/popover.js
  js/ui/popover/popover_position_controller.js
  js/ui/popover/ui.popover.js
  js/ui/popup.js
  js/ui/popup/popup_position_controller.js
  js/ui/popup/ui.popup.js
Labels: renovation, 21_2

#19534 dxScheduler - delete unnecessary test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_2

#19530 dxScheduler - Add test coverage for scheduler header
  js/renovation/ui/scheduler/header/__tests__/header.test.tsx
  js/renovation/ui/scheduler/header/utils.ts
Labels: renovation, 21_2

#19519 Form - Exclude 'label.location: top' labels from alignByLabelWidth (T1007073)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.scenarios.tests.js
Labels: 21_2

#19528 scrollable: utility method enchancements to calculate offset to target element
  js/renovation/ui/scroll_view/utils/__tests__/get_relative_offset.test.tsx
  js/renovation/ui/scroll_view/utils/get_element_location_internal.ts
  js/renovation/ui/scroll_view/utils/get_relative_offset.ts
  js/ui/tree_view/ui.tree_view.base.js
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromB.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromBLCorner.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromBRCorner.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromInsideRBPart.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromInsideTLPart.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromL.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromR.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromT.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromTLCorner.png
  testing/testcafe/tests/navigation/scrollable/etalons/STE(),scale(1.5),nat=false-dir=both-fromTRCorner.png
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Labels: 21_2
