Repository DevExpress/DevExtreme, pull requests merged in 2021-05, with the labels that each got.

#17348 scrollview: update scroll location on tab
  js/events/short.js
  js/renovation/component_wrapper/scrollable.ts
  js/renovation/ui/scroll_view/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  scss/widgets/base/_scrollable.scss
Labels: 21_2, renovation

#17352 Move @types/clean-css to the dev deps (devextreme-themebuilder) (T995348)
  themebuilder-scss/package.json
Labels: 21_1

#17342 ResponsiveBox - Applying screenSize css class
  js/renovation/ui/responsive_box/__tests__/responsive_box.test.tsx
  js/renovation/ui/responsive_box/_toDelete/responsive_box.js
  js/renovation/ui/responsive_box/responsive_box.tsx
  js/renovation/ui/responsive_box/responsive_box_props.ts
  js/renovation/ui/responsive_box/screen_utils.ts
  js/renovation/ui/responsive_box/types.d.ts
Labels: 21_2, renovation

#17316 Renovation: fix component element removing after #17133
  js/renovation/component_wrapper/component.ts
  testing/tests/Renovation/widget.tests.js
Labels: 21_2, renovation

#17334 Renovation: fix component element removing after #17133
  js/renovation/component_wrapper/component.ts
  testing/tests/Renovation/widget.tests.js
Labels: 21_1, cherry-pick, renovation

#17307 Data_grid small refactoring
  js/renovation/ui/grids/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 21_2, renovation

#17314 widget: implement capability to prevent 'widget' class adding
  js/renovation/ui/__tests__/calendar.test.tsx
  js/renovation/ui/__tests__/date_box.test.tsx
  js/renovation/ui/__tests__/overlay.test.tsx
  js/renovation/ui/__tests__/validation_message.test.tsx
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
Labels: 21_2, renovation

#17365 Move @types/clean-css to the dev deps (devextreme-themebuilder) (T995348)
  themebuilder-scss/package.json
Labels: 20_2

#17355 Move @types/clean-css to the dev deps (devextreme-themebuilder)
  themebuilder-scss/package.json
Labels: 21_2, cherry-pick

#17324 DateBox with the 'datetime' type: enhance logic for applying a value when using keyboard navigation (T988958)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_2

#17333 dxScheduler - Fix calculation of appointment resizing bounds for virtual scrolling
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_2, cherry-pick

#17356 HtmlEditor - fix adaptive Toolbar menu localization
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 21_2

#17367 Scheduler - Fix appointment should be rendered correctly in month view with grouping by date
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
Labels: 21_2

#17349 Renovation: Fix disposing nested widgets
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
Labels: 21_2, renovation

#17373 HtmlEditor - fix adaptive Toolbar menu localization (#17356)
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/html_editor/modules/toolbar.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 21_1, cherry-pick

#17370 DateBox with the 'datetime' type: enhance logic for applying a value when using keyboard navigation (T988958) (#17324)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 21_1, cherry-pick

#17371 DateBox with the 'datetime' type: enhance logic for applying a value when using keyboard navigation (T988958) (#17324)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_2, cherry-pick

#17372 DateBox with the 'datetime' type: enhance logic for applying a value when using keyboard navigation (T988958) (#17324)
  js/ui/date_box/ui.date_box.strategy.calendar.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 20_1, cherry-pick

#17374 dxScheduler - fix container height for case intervalCount > 1(T992123)
  scss/widgets/generic/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/views/day/allDay.ts
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=2.png
Labels: 21_1

#17380 dxScheduler - fix container height for case intervalCount > 1(T992123)
  scss/widgets/generic/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/views/day/allDay.ts
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=2.png
Labels: 21_2, cherry-pick

#17377 ScrollView - remove widget class from strategies
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/top_pocket.tsx
Labels: 21_2, renovation

#17350 Form - Passing screenByWidth prop from form to ResponsiveBox
  js/renovation/ui/form/__tests__/form.test.tsx
  js/renovation/ui/form/__tests__/layout_manager.test.tsx
  js/renovation/ui/form/_toDelete/ui.form.js
  js/renovation/ui/form/_toDelete/ui.form.layout_manager.js
  js/renovation/ui/form/form.tsx
  js/renovation/ui/form/form_props.ts
  js/renovation/ui/form/layout_manager.tsx
  js/renovation/ui/form/layout_manager_props.tsx
  js/renovation/ui/responsive_box/__tests__/responsive_box.test.tsx
Labels: 21_2, renovation

#17351 ResponsiveBox - Render Box widget
  js/renovation/ui/box/__tests__/box.test.tsx
  js/renovation/ui/box/_toDelete/box.js
  js/renovation/ui/box/box.tsx
  js/renovation/ui/responsive_box/__tests__/responsive_box.test.tsx
  js/renovation/ui/responsive_box/_toDelete/responsive_box.js
  js/renovation/ui/responsive_box/responsive_box.tsx
Labels: 21_2, renovation

#17375 dxScheduler - add getStartViewDate functions
  js/renovation/ui/scheduler/view_model/views/__tests__/common.test.ts
  js/renovation/ui/scheduler/view_model/views/__tests__/month.test.ts
  js/renovation/ui/scheduler/view_model/views/__tests__/timeline_month.test.ts
  js/renovation/ui/scheduler/view_model/views/__tests__/week.test.ts
  js/renovation/ui/scheduler/view_model/views/common.ts
  js/renovation/ui/scheduler/view_model/views/month.ts
  js/renovation/ui/scheduler/view_model/views/timeline_month.ts
  js/renovation/ui/scheduler/view_model/views/week.ts
Labels: 21_2, renovation

#17361 DataGrid / TreeList: Fix row focus after filtering (T993300)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2

#17362 DataGrid / TreeList: Fix row focus after filtering (T993300)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1, cherry-pick

#17363 DataGrid / TreeList: Fix row focus after filtering (T993300)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_2, cherry-pick

#17381 dxScheduler - fix container height for case intervalCount > 1(T992123)
  scss/widgets/generic/scheduler/_index.scss
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  testing/testcafe/tests/scheduler/layout/views/day/allDay.ts
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-february.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-january.png
Labels: 20_2, cherry-pick

#17383 Autocomplete - update selectedItem option if new list value is equal to input text (T991350)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 21_1

#17400 Autocomplete - update selectedItem option if new list value is equal to input text (T991350)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 20_2, cherry-pick

#17401 Autocomplete - update selectedItem option if new list value is equal to input text (T991350)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 20_1, cherry-pick

#17403 Update typescript to 4.2.4 to solve compilation problem
  package.json
Labels: 21_2

#17404 Fix renovation compilation
  package.json
Labels: 21_1

#17399 Autocomplete - update selectedItem option if new list value is equal to input text (T991350)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 21_2, cherry-pick

#17364 scrollable: remove onStop action (too complex for renovated code)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
Labels: 21_2, type/enhancement

#17384 dxScheduler - fix Scheduler header is not aligned with date table (T995906)
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/layout/views/timeline/etalons/timeline-month-change-current-date.png
  testing/testcafe/tests/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timeline-month-change-current-date-virtual.png
  testing/testcafe/tests/scheduler/virtualScrolling/layout.ts
Labels: 21_1

#17415 Overlays: refactor accessors
  js/ui/action_sheet.js
  js/ui/color_box/color_box.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/dialog.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/drop_down_menu.js
  js/ui/editor/editor.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/html_editor/modules/popup.js
  js/ui/load_panel.js
  js/ui/lookup.js
  js/ui/menu/ui.menu.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  js/ui/scheduler/appointmentPopup.js
  js/ui/select_box.js
  js/ui/toast.js
  js/ui/tooltip/tooltip.js
  js/ui/validation_message.js
  testing/tests/DevExpress.knockout/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationMessage.markup.tests.js
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Labels: 20_2, cherry-pick

#17414 Overlays: refactor accessors (#17338)
  js/ui/action_sheet.js
  js/ui/color_box/color_box.js
  js/ui/context_menu/ui.context_menu.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/dialog.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/drop_down_menu.js
  js/ui/editor/editor.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/html_editor/modules/popup.js
  js/ui/load_panel.js
  js/ui/lookup.js
  js/ui/menu/ui.menu.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.js
  js/ui/popup.js
  js/ui/scheduler/appointmentPopup.js
  js/ui/select_box.js
  js/ui/toast.js
  js/ui/tooltip/tooltip.js
  js/ui/validation_message.js
  testing/tests/DevExpress.knockout/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationMessage.markup.tests.js
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Labels: 21_1, cherry-pick

#17395 scrollview: fire onEnd action when scroll was completed
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_2, renovation

#17385 Update German and Japanese localization strings
  js/localization/messages/de.json
  js/localization/messages/ja.json
Labels: 21_1

#17411 Scheduler - Sync fix scaling problem in virtual scrolling
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 20_2

#17386 Update German and Japanese localization strings
  js/localization/messages/de.json
  js/localization/messages/ja.json
Labels: 21_2, cherry-pick

#17376 Refactoring: Fix the part of code scanner warnings
  js/core/renderer_base.js
  js/renovation/viz/common/tooltip_utils.ts
  js/ui/calendar/ui.calendar.js
  js/ui/diagram/ui.diagram.menu_helper.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.error_handling.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/list/ui.list.edit.decorator_registry.js
  js/ui/number_box/number_box.caret.js
  js/ui/pivot_grid/xmla_store/xmla_store.js
  js/viz/chart_components/zoom_and_pan.js
  js/viz/core/plaque.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
Labels: 21_1

#17412 Scheduler - Fix round up cell sizes in virtual scrolling
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1

#17413 Scheduler - Fix round up cell sizes in virtual scrolling
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_2, cherry-pick

#17421 List: add return type "void" to doccoments for menuItems/action
  js/ui/list.d.ts
Labels: 21_2

#17419 Add a note for the further researches
  js/localization/globalize/number.js
  js/localization/number.js
Labels: 21_1

#17422 List: add return type "void" to doccoments for menuItems/action
  js/ui/list.d.ts
Labels: 21_1, cherry-pick

#17225 DataGrid.Pdf - Implement BuiltIn calculation/drawing of rects for BANDs
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#17432 dxViz: Fix throwing exceptions for category translator (T801302)
  js/viz/translators/category_translator.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 20_2

#17433 dxViz: Fix throwing exceptions for category translator (T801302)
  js/viz/translators/category_translator.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 21_1, cherry-pick

#17394 Right path to TestWrapper and component_registrator
  build/gulp/overwrite-qunit-renovation-widget.js
  build/gulp/renovation-pipes.js
  js/renovation/components.js
Labels: 21_2

#17420 add a note for the further researches
  js/localization/globalize/number.js
  js/localization/number.js
Labels: 21_2, cherry-pick

#17437 dxChart - fix adjustOnZoom option with aggregation (T996183)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
Labels: 21_1

#17439 dxChart - fix adjustOnZoom option with aggregation (T996183)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
Labels: 21_2

#17427 Renovation: Fix state changing with anonymous template
  js/renovation/component_wrapper/component.ts
  js/renovation/component_wrapper/template_wrapper.ts
  testing/tests/Renovation/button.tests.js
Labels: 21_1, renovation

#17426 Renovation: Add missing test for recently fixed scenario
  testing/tests/Renovation/button.tests.js
Labels: 21_2, renovation

#17438 dxChart - fix adjustOnZoom option with aggregation (T996183)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
Labels: 20_2

#17391 DataGrid: fix columns synchronization after expanding several nested grids (T995035)
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: 20_2, cherry-pick

#17392 DataGrid: fix columns synchronization after expanding several nested grids (T995035)
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: 21_1, cherry-pick

#17393 DataGrid: fix columns synchronization after expanding several nested grids (T995035)
  js/ui/grid_core/ui.grid_core.master_detail.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: 21_2

#17429 Add configuraion to debug jest tests in the watch mode
  .vscode/launch.json
Labels: 21_2, renovation

#17440 Revert "ContextMenu - A browser's context menu appears above the ContextMenu on desktop touch screens (T983617)"
  js/events/contextmenu.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
Labels: 20_1, cherry-pick

#17441 Revert "ContextMenu - A browser's context menu appears above the ContextMenu on desktop touch screens (T983617)"
  js/events/contextmenu.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
Labels: 20_2, cherry-pick

#17442 Revert "ContextMenu - A browser's context menu appears above the ContextMenu on desktop touch screens (T983617)"
  js/events/contextmenu.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
Labels: 21_1

#17443 Revert "ContextMenu - A browser's context menu appears above the ContextMenu on desktop touch screens (T983617)
  js/events/contextmenu.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
Labels: 21_2, cherry-pick

#17417 scrollview: remove onStop action from renovated code
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/utils/is_element_visible.ts
Labels: 21_2, renovation

#17407 scrollable: remove onStop action (#17364)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
Labels: 21_1, cherry-pick

#17405 Renovation: add DraggableContainer component
  js/renovation/test_utils/events_mock.ts
  js/renovation/ui/draggable/__tests__/container.test.tsx
  js/renovation/ui/draggable/container.tsx
  testing/tests/Renovation/compatibility.test.js
Labels: 21_2

#17444 dxScheduler - validate currentView option (T995794)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Labels: 20_2, cherry-pick

#17445 dxScheduler - validate currentView option (T995794) (#17402)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/scrollTo.tests.js
Labels: 21_2, cherry-pick

#17379 Remove Edge QUnit testing.
  .github/workflows/CI.yml
  .github/workflows/qunit_tests.yml
Labels: 21_2, renovation

#17457 HtmlEditor - extract a base module (#17406)
  js/ui/html_editor/modules/base.js
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/empty.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/modules/popup.js
  js/ui/html_editor/modules/resizing.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/variables.js
Labels: 21_1, cherry-pick

#17416 dxScheduler - fix startDate and endDate options for remote filtering
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
Labels: 21_2

#17423 DateUtils - intervalsOverlap method should return correct value if intervals intersects from the left
  js/core/utils/date.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-grouping-by-date.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-grouping-by-date.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-grouping-by-date.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-grouping-by-date.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll.png
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#17425 DateUtils - intervalsOverlap method should return correct value if intervals intersects from the left
  js/core/utils/date.js
  testing/tests/DevExpress.core/utils.date.tests.js
Labels: 21_2, cherry-pick

#17463 scrollview: fire onEnd action once for both scrollbars
  js/renovation/ui/scroll_view/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_2, renovation

#17461 Renovation: improve jQuery template performance
  js/renovation/component_wrapper/component.ts
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/component_wrapper/template_wrapper.ts
  package.json
Labels: 21_1, renovation

#17368 Box - remove fallback strategy
  js/renovation/ui/box/_toDelete/box.js
Labels: 21_2, renovation

#17474 Scheduler - Rename test file name
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Labels: 21_2, cherry-pick

#17472 Scheduler - Rename test file name
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Labels: 21_1

#17476 TagBox: Fix an error when changing the data source when the search is active (T997604)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#17477 HtmlEditor: Fix adding a new line when inserting a variable using the toolbar (T994614)
  js/ui/html_editor/modules/variables.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 21_1

#17471 Move widget-specific warnings to ui.error
  js/core/errors.js
  js/ui/popover.js
  js/ui/tag_box.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 21_2

#17473 Move widget-specific warnings to ui.error
  js/core/errors.js
  js/ui/tag_box.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1, cherry-pick

#17459 dxScheduler - fix startDate and endDate options for remote filtering
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
Labels: 21_1, cherry-pick

#17382 Remove duplicated css rules (T853294)
  .github/workflows/themebuilder_dart_tests.yml
  package.json
  scss/widgets/base/_accordion.scss
  scss/widgets/base/_badge.scss
  scss/widgets/base/_textBox.scss
  scss/widgets/base/colorView/_index.scss
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/generic/colorView/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/generic/textBox/_index.scss
  scss/widgets/material/gridBase/_index.scss
  scss/widgets/material/textBox/_index.scss
  testing/styles/bundles-stylelint-config.json
Labels: 21_1

#17490 HtmlEditor: Fix adding a new line when inserting a variable using the toolbar (T994614)
  js/ui/html_editor/modules/variables.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 20_2, cherry-pick

#17491 HtmlEditor: Fix adding a new line when inserting a variable using the toolbar (T994614) (#17477)
  js/ui/html_editor/modules/variables.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Labels: 21_2, cherry-pick

#17488 TagBox: Fix an error when changing the data source when the search is active (T997604) (#17476)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#17492 Remove duplicated css rules (T853294) (#17382)
  .github/workflows/themebuilder_dart_tests.yml
  package.json
  scss/widgets/base/_accordion.scss
  scss/widgets/base/_badge.scss
  scss/widgets/base/_textBox.scss
  scss/widgets/base/colorView/_index.scss
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/generic/colorView/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/generic/textBox/_index.scss
  scss/widgets/material/gridBase/_index.scss
  scss/widgets/material/textBox/_index.scss
  testing/styles/bundles-stylelint-config.json
Labels: 21_2, cherry-pick

#17478 File Manager - Fix selection resetting for single selection mode (T972613)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 21_2

#17479 File Manager - Fix selection resetting for single selection mode (T972613)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 21_1, cherry-pick

#17480 File Manager - Fix selection resetting for single selection mode (T972613)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 20_2, cherry-pick

#17482 File Manager - Fix selection resetting for single selection mode (T972613)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Labels: 20_1, cherry-pick

#17489 TagBox: Fix an error when changing the data source when the search is active (T997604) (#17476)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_2, cherry-pick

#17493 Remap onKeyboardHandled option to onKeyDown widget props
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  js/renovation/ui/common/widget.tsx
Labels: 21_2, renovation

#17466 dxScheduler - remove unused code
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: 21_2

#17462 Renovated Button: fix template issues
  js/core/renderer.d.ts
  js/core/template_manager.d.ts
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/templated_test_widget.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/templated_test_widget_jquery_wrapper.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/button.tsx
  js/ui/drop_down_button.js
Labels: renovation

#17460 Renovation fix button Qunit
  js/renovation/component_wrapper/common/component.ts
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  testing/tests/Renovation/compatibility.test.js
Labels: 21_2, renovation

#17510 Renovated DataGrid: fix dependency cycle eslint error
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/grids/data_grid/common/types.ts
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 21_1

#17511 Renovated DataGrid: fix dependency cycle eslint error
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/grids/data_grid/common/types.ts
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 21_2, cherry-pick

#17431 dxScheduler - display header and date-table correctly when virtual scrolling and scaling are used
  js/renovation/ui/scheduler/workspaces/base/__tests__/row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/table.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual_row.tsx
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month_line.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/utils.ts
  testing/testcafe/tests/scheduler/virtualScrolling/zooming.ts
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1

#17512 Bump DevExtreme version (21.1.3)
  package.json
Labels: 21_1

#17446 DataGrid: fix row dragging after autoscroll when column fixing and showDragIcons is enabled (T996293)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 21_1, cherry-pick

#17447 DataGrid: fix row dragging after autoscroll when column fixing and showDragIcons is enabled (T996293)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 21_2

#17448 DataGrid: fix row dragging after autoscroll when column fixing and showDragIcons is enabled (T996293)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 20_2, cherry-pick

#17516 Renovated DataGrid: Rename IDataGrid to DataGridForComponentWrapper
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/grids/data_grid/common/types.ts
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 21_1, cherry-pick

#17517 Renovated DataGrid: Rename IDataGrid to DataGridForComponentWrapper
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/grids/data_grid/common/types.ts
  js/renovation/ui/grids/data_grid/data_grid.tsx
Labels: 21_2

#17469 TreeList: Fix restoring row focus after filtering is cleared (T996500)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1, cherry-pick

#17470 TreeList: Fix restoring row focus after filtering is cleared (T996500)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_2, cherry-pick

#17468 TreeList: Fix restoring row focus after filtering is cleared (T996500)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/tree_list/ui.tree_list.focus.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2

#17481 PieChart - Fix centerTemplate container order in DOM(T997232)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_2

#17486 PieChart - Fix centerTemplate container order in DOM(T997232)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_1, cherry-pick

#17487 PieChart - Fix centerTemplate container order in DOM(T997232)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_2, cherry-pick

#17499 PieChart Fix centerTemplate changing(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_2

#17506 Fix axis.label.template option changing(t998224)
  js/viz/axes/base_axis.js
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 21_2

#17507 PieChart Fix centerTemplate changing(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_1, cherry-pick

#17508 PieChart Fix centerTemplate changing(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_2, cherry-pick

#17509 Fix axis.label.template option changing(t998224)
  js/viz/axes/base_axis.js
  js/viz/chart_components/advanced_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Labels: 21_1, cherry-pick

#17452 datagrid - fixes focusing cells in fixed banded columns (T996394)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#17453 datagrid - fixes focusing cells in fixed banded columns (T996394) (#17452)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
Labels: 20_1, cherry-pick

#17454 datagrid - fixes focusing cells in fixed banded columns (T996394) (#17452)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#17455 datagrid - fixes focusing cells in fixed banded columns (T996394) (#17452)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_2, cherry-pick

#17483 datagrid: fixes selectAll visibility (T997734)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: 21_1

#17484 datagrid: fixes selectAll visibility (T997734) (#17483)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: 21_2, cherry-pick

#17485 datagrid: fixes selectAll visibility (T997734) (#17483)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: 20_2, cherry-pick

#17524 Revert "PieChart Fix centerTemplate changing(t998109)"
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_2

#17526 Revert "PieChart Fix centerTemplate changing(t998109)"
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_1, cherry-pick

#17523 HtmlEditor - support deprecation warnings for old toolbar items properties
  js/ui/html_editor.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#17530 Revert "PieChart Fix centerTemplate changing(t998109)"
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_2, cherry-pick

#17528 File Manager - Fix optionChanged_bundled tests for T972613
  js/ui/file_manager/ui.file_manager.item_list.details.js
Labels: 20_2, cherry-pick

#17525 File Manager - Fix optionChanged_bundled tests for T972613
  js/ui/file_manager/ui.file_manager.item_list.details.js
Labels: 21_2

#17532 PieChart Fix centerTemplate changing. Refix(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_2

#17534 PieChart Fix centerTemplate changing. Refix(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_1, cherry-pick

#17535 PieChart Fix centerTemplate changing. Refix(t998109)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_2, cherry-pick

#17527 File Manager - Fix optionChanged_bundled tests for T972613
  js/ui/file_manager/ui.file_manager.item_list.details.js
Labels: 21_1, cherry-pick

#17519 Scheduler - Increase timeout in test
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 21_1

#17388 dxScheduler - show correct header in timeline views when grouping by date is used
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.renovation.tests.js
Labels: 21_1

#17430 Prevent call 'get' method in item model (T996102)
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: 21_1, type/bug

#17529 File Manager - Fix optionChanged_bundled tests for T972613
  js/ui/file_manager/ui.file_manager.item_list.details.js
Labels: 20_1, cherry-pick

#17497 scrollable: CSS doesn't have 'dx-scrollable-scrollbars-hidden' declarations for 'dx-scrollable-simulated' childrens
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 21_2, type/enhancement

#17498 scrollable: CSS doesn't have 'dx-scrollable-scrollbars-hidden' declarations for 'dx-scrollable-simulated' childrens
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: 21_1, cherry-pick

#17537 dxScheduler - show correct header in timeline views when grouping by date is used
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.renovation.tests.js
Labels: 21_2, cherry-pick

#17435 Renovation: Fix most of lint error and disable few rules for all component wrappers
  js/renovation/component_wrapper/.eslintrc
  js/renovation/component_wrapper/common/__tests__/utils/test_components/base_test_widget.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/editor.ts
  js/renovation/component_wrapper/common/template_wrapper.ts
  js/renovation/component_wrapper/common/types.ts.ts
  js/renovation/component_wrapper/grid_pager.ts
Labels: 21_2, renovation

#17536 scrollview: implement scrollToElementTopLeft method for treeview
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 21_2, renovation

#17521 Scheduler - Increase timeout in test
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: 21_2

#17538 Prevent call 'get' method in item model (T996102) (#17430)
  js/ui/collection/ui.collection_widget.edit.strategy.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: 20_2, cherry-pick, type/bug

#17456 Editors: get rid of IE
  js/ui/calendar/ui.calendar.js
  js/ui/color_box/color_view.js
  js/ui/date_box/ui.date_box.mask.js
  js/ui/date_box/ui.date_box.strategy.native.js
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/ui/formDialog.js
  js/ui/number_box/number_box.base.js
  js/ui/number_box/number_box.mask.js
  js/ui/popup.js
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/text_box.js
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  js/ui/text_box/utils.caret.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/caretWorkaround.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.utils/utils.caret.tests.js
Labels: 21_2

#17547 Component: fix init with no template
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/non_templated_test_widget.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/non_templated_test_widget_jquery_wrapper.ts
  js/renovation/component_wrapper/common/component.ts
Labels: 21_2, renovation
