Repository DevExpress/DevExtreme, pull requests merged in 2021-01, with the labels that each got.

#15907 dxScheduler - pass store's appointment to args instead mock appointment(T961110)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Labels: 21_1

#15858 Update eslint rules in TS
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/__tests__/check_box.test.tsx
  js/renovation/ui/button.tsx
  js/renovation/ui/check_box.tsx
  js/ui/button.js
  js/ui/themes.d.ts
  js/ui/themes.js
  package.json
Labels: 21_1

#15913 DataGrid: Fix the size of column with minWidth (T958665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 21_1, cherry-pick

#15912 DataGrid: Fix the size of column with minWidth (T958665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1, cherry-pick

#15911 DataGrid: Fix the size of column with minWidth (T958665)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2

#15867 dxScheduler - add grid's virtualization to Month View
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/testcafe/tests/scheduler/virtualScrollingCellSelection/virtualScrollingCellSelection.ts
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 21_1

#15920 DataGrid - Fixes rendering hidden validators (T960813)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_1

#15921 DataGrid - Fixes rendering hidden validators (T960813) (#15920)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2, cherry-pick

#15922 DataGrid - Fixes rendering hidden validators (T960813) (#15920)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_1, cherry-pick

#15917 Viz - Tooltip renovation ( add rtl and events)
  js/renovation/viz/common/types.d.ts
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/common/__tests__/tooltip_utils.test.tsx
  js/renovation/viz/core/common/tooltip_utils.ts
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#15930 Remove navBar from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_navBar.scss
  scss/widgets/generic/navBar/_index.scss
  scss/widgets/material/navBar/_index.scss
Labels: 21_1

#15932 Update eslint rules in TS (#15858)
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/__tests__/check_box.test.tsx
  js/renovation/ui/button.tsx
  js/renovation/ui/check_box.tsx
  js/ui/button.js
  js/ui/themes.d.ts
  js/ui/themes.js
  package.json
  testing/testcafe/helpers/screenshort-comparer.ts
Labels: 20_2, cherry-pick

#15929 dxScheduler - pass store's appointment to args instead mock appointment(T961110)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Labels: 20_2, cherry-pick

#15931 Remove actionSheet from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_actionSheet.scss
  scss/widgets/generic/actionSheet/_index.scss
  scss/widgets/material/actionSheet/_index.scss
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
Labels: 21_1

#15938 Remove navBar from dx.common.css (#15930)
  scss/bundles/dx.common.scss
  scss/widgets/base/_navBar.scss
  scss/widgets/generic/navBar/_index.scss
  scss/widgets/material/navBar/_index.scss
Labels: 20_2, cherry-pick

#15939 Remove actionSheet from dx.common.css (#15931)
  scss/bundles/dx.common.scss
  scss/widgets/base/_actionSheet.scss
  scss/widgets/generic/actionSheet/_index.scss
  scss/widgets/material/actionSheet/_index.scss
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
Labels: 20_2, cherry-pick

#15940 Remove radiogroup from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_radioGroup.scss
  scss/widgets/generic/radioGroup/_index.scss
  scss/widgets/material/radioGroup/_index.scss
Labels: 21_1

#15699 Fix missed dev dependency
  package.json
Labels: 21_1

#15943 Autocomplete: correct event should be passed to valueChanged handler after item select using click (T963574)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 21_1

#15918 Resolve some Or and Nullish coalescing
  js/ui/calendar/ui.calendar.js
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view_roller.js
  js/ui/editor/ui.data_expression.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/number_box/number_box.mask.js
  js/ui/radio_group/radio_group.js
  js/ui/select_box.js
  js/ui/selection/selection.js
  js/ui/slider/ui.slider.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#15949 Autocomplete: correct event should be passed to valueChanged handler after item select using click (T963574) (#15943)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 20_2, cherry-pick

#15948 Autocomplete: correct event should be passed to valueChanged handler after item select using click (T963574) (#15943)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Labels: 20_1, cherry-pick

#15951 Remove radiogroup from dx.common.css (#15940)
  scss/bundles/dx.common.scss
  scss/widgets/base/_radioGroup.scss
  scss/widgets/generic/radioGroup/_index.scss
  scss/widgets/material/radioGroup/_index.scss
Labels: 20_2, cherry-pick

#15934 ScrollView - add the SCROLLVIEW_PULLDOWN_VISIBLE_TEXT_CLASS depending of the TopPocket state
  js/renovation/ui/scroll_view/__tests__/topPocket.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.native.pull_down.js
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.simulated.js
  js/renovation/ui/scroll_view/topPocket.tsx
  js/renovation/ui/scroll_view/topPocket_props.ts
Labels: 21_1, renovation

#15937 dxScheduler - use CSSAttributes in renovated code
  js/renovation/ui/scheduler/appointment_tooltip/marker.tsx
  js/renovation/ui/scheduler/types.d.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-cell.tsx
  js/renovation/ui/scheduler/workspaces/base/virtual-row.tsx
  js/renovation/ui/scheduler/workspaces/utils.ts
Labels: 21_1, renovation

#15936 Scrollable - add scrollbar styles
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollbar.js
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 21_1, renovation

#15941 Scheduler - Enhance helper methods for testing scrolling
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1

#15870 DataGrid: Implement insert changes assignment
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_1

#15927 dxScheduler - newData in onAppointmentUpdating event should be immutable(T962749)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
Labels: 21_1

#15956 jQuery playground improvement: added Quill import and meta tag to control layout on mobile
  playground/jquery.html
Labels: 21_1

#15952 Calendar: navigator caption should be updated correctly after navigate if animation is off (T962871)
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 21_1

#15944 ScrollView - resolve ref type for Native & Simulated strategy
  js/renovation/ui/scroll_view/scrollable.tsx
Labels: 21_1

#15933 ScrollView - implement 'pushBackValue' option
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.native.js
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_utils.ts
Labels: 21_1, renovation

#15958 dxScheduler - newData in onAppointmentUpdating event should be immutable(T962749)
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
Labels: 20_2, cherry-pick

#15960 jQuery playground improvement: added Quill import and meta tag to control layout on mobile (#15956)
  playground/jquery.html
Labels: 20_2, cherry-pick

#15959 jQuery playground improvement: added Quill import and meta tag to control layout on mobile (#15956)
  playground/jquery.html
Labels: 20_1, cherry-pick

#15961 Calendar: navigator caption should be updated correctly after navigate if animation is off (T962871) (#15952)
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 20_2, cherry-pick

#15962 Calendar: navigator caption should be updated correctly after navigate if animation is off (T962871) (#15952)
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 20_1, cherry-pick

#15963 DataGrid - Fixes context menu items for fixed columns (T964011)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 21_1

#15964 ScrollView - add hoverable class
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollbar.js
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_1, cherry-pick

#15957 Scheduler - Virtual scrolling - Replace recreate instances with reinit state on update dimensions
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Labels: 21_1

#15900 dxScheduler - add grid's virtualization support for timeline views
  js/ui/scheduler/constants.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/helpers/scheduler/helpers.js
  testing/testcafe/tests/scheduler/virtualScrollingCellSelection/virtualScrollingCellSelection.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Labels: 21_1

#15967 Sortable - Fix item points updating during autoscroll on mac os (T960381)
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 21_1

#15966 Sortable - Fix item points updating during autoscroll on mac os (T960381)
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 20_2

#15969 DataGrid - extract dataGrid.resizing.tests from dataGrid.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 21_1

#15970 DataGrid - extract dataGrid.resizing.tests from dataGrid.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_2, cherry-pick

#15971 DataGrid - extract dataGrid.resizing.tests from dataGrid.tests
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 20_1

#15942 dxScheduler - remove invalid css styles for agenda view(T963128)
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=true.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
Labels: 21_1

#15972 Fix display of correct cursor when hovering over DropDownEditor in the IE (T962189)
  scss/widgets/base/_dropDownEditor.scss
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 21_1

#15973 Fix display of correct cursor when hovering over DropDownEditor in the IE (T962189)
  scss/widgets/base/_dropDownEditor.scss
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_2, cherry-pick

#15974 Fix display of correct cursor when hovering over DropDownEditor in the IE (T962189)
  styles/widgets/common/dropDownEditor.less
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 20_1

#15981 ScrollView - remove transferred parts
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.native.js
Labels: 21_1, renovation

#15983 Remove buttonGroup from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_buttonGroup.scss
  scss/widgets/generic/buttonGroup/_index.scss
  scss/widgets/material/buttonGroup/_index.scss
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
Labels: 21_1

#15977 dxScheduler - remove invalid css styles for agenda view(T963128)
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-groups-adaptive-rtl=true.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=false.png
  testing/testcafe/tests/scheduler/agenda/etalons/agenda-without-groups-adaptive-rtl=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
Labels: 20_2, cherry-pick

#15985 Remove badge from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_badge.scss
  scss/widgets/generic/badge/_index.scss
  scss/widgets/material/badge/_index.scss
  testing/tests/DevExpress.ui.widgets/listItem.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabsItem.tests.js
Labels: 21_1

#15979 ScrollView - add default option rules
  js/core/options/utils.d.ts
  js/renovation/ui/scroll_view/__tests__/scrollview.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.device.js
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#15950 Try to add missed dependency
  .github/workflows/CI.yml
  package.json
Labels: 21_1

#15982 Form - fix vertical label alignment (T964073)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 20_2

#15993 Form - fix vertical label alignment (T964073) (#15982)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 20_1, cherry-pick

#15992 Form - fix vertical label alignment (T964073) (#15982)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Labels: 21_1, cherry-pick

#15994 Set 14 node version
  .github/workflows/CI.yml
Labels: 21_1

#15989 ScrollView - define the missed default options
  js/renovation/ui/scroll_view/__tests__/scrollview.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.device.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
Labels: 21_1, renovation

#15996 dxScheduler - exclude appointment template from appointmentCollection to separate class
  js/ui/scheduler/appointments/appointment.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/appointmentLayout.js
  js/ui/scheduler/constants.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
Labels: 21_1

#15987 DataGrid - Removes the legacyRendering option
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1

#15955 Popup close button - add focused and hovered states (T957552)
  js/ui/popup.js
  scss/widgets/generic/button/_mixins.scss
  scss/widgets/generic/popup/_index.scss
  scss/widgets/generic/popup/_sizes.scss
  scss/widgets/material/button/_mixins.scss
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 21_1

#16000 Bump DevExtreme version
  package.json
Labels: 20_1

#16006 Fix update of resizing frame position when formatting HtmlEditor content (T963166)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 21_1

#15984 Viz - Change applying transform and dash style for elements
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_path.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_rect.test.tsx
  js/renovation/viz/core/renderers/__tests__/svg_text.test.tsx
  js/renovation/viz/core/renderers/__tests__/utils.test.tsx
  js/renovation/viz/core/renderers/svg_path.tsx
  js/renovation/viz/core/renderers/svg_rect.tsx
  js/renovation/viz/core/renderers/svg_text.tsx
  js/renovation/viz/core/renderers/types.d.ts
  js/renovation/viz/core/renderers/utils.ts
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#15997 ScrollView - add tabIndex to container
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: renovation

#16011 ScrollView - add subscription on 'dxscrollinit' event
  js/events/short.js
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#16015 Bump DevExtreme version
  package.json
Labels: 20_2

#16012 Viz - fix console errors
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/renderers/__tests__/gray_scale_filter.test.tsx
Labels: 21_1, renovation

#16007 Gauge - fix zero range color (T961251)
  js/viz/gauges/base_range_container.js
  testing/tests/DevExpress.viz.gauges/rangeContainer.tests.js
Labels: 21_1

#16008 Gauge - fix zero range color (T961251)
  js/viz/gauges/base_range_container.js
  testing/tests/DevExpress.viz.gauges/rangeContainer.tests.js
Labels: 20_2, cherry-pick

#16001 TextEditor input should be focused even after focus from inner button move (T963822)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 21_1

#16016 Fix IE tests after #16006
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 21_1

#16009 Fix update of resizing frame position when formatting HtmlEditor content (T963166) (#16006)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 20_2, cherry-pick

#16010 Fix update of resizing frame position when formatting HtmlEditor content (T963166) (#16006)
  js/ui/html_editor/modules/resizing.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
Labels: 20_1, cherry-pick

#16018 TextEditor input should be focused even after focus from inner button move (T963822) (#16001)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_1, cherry-pick

#16017 TextEditor input should be focused even after focus from inner button move (T963822) (#16001)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 20_2, cherry-pick

#15986 Remove buttonGroup from dx.common.css (#15983)
  scss/bundles/dx.common.scss
  scss/widgets/base/_buttonGroup.scss
  scss/widgets/generic/buttonGroup/_index.scss
  scss/widgets/material/buttonGroup/_index.scss
  testing/tests/DevExpress.ui.widgets/buttonGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
Labels: 20_2, cherry-pick

#15988 Remove badge from dx.common.css (#15985)
  scss/bundles/dx.common.scss
  scss/widgets/base/_badge.scss
  scss/widgets/generic/badge/_index.scss
  scss/widgets/material/badge/_index.scss
  testing/tests/DevExpress.ui.widgets/listItem.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabsItem.tests.js
Labels: 20_2, cherry-pick

#16019 TagBox: tagTemplate should receive item object if display value if empty string (T965054)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#16021 DataGrid:The paging info section is not rendered under certain conditions (T962160)
  js/ui/pager.js
Labels: 20_1, cherry-pick, type/bug

#16020 DataGrid:The paging info section is not rendered under certain conditions (T962160)
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/renovation/ui/pager/utils/get_element_width.ts
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 20_2, cherry-pick, type/bug

#15954 dxScheduler - add renovated vertical group panel
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/group_panel.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/Renovation/compatibility.test.js
Labels: 21_1, renovation

#16023 TagBox: tagTemplate should receive item object if display value if empty string (T965054) (#16019)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#16022 TagBox: tagTemplate should receive item object if display value if empty string (T965054) (#16019)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#16025 Funnel - fix rendering with zero values (T962200)
  js/viz/funnel/funnel.js
  testing/tests/DevExpress.viz.funnel/funnel.base.tests.js
Labels: 21_1

#16026 Funnel - fix rendering with zero values (T962200)
  js/viz/funnel/funnel.js
  testing/tests/DevExpress.viz.funnel/funnel.base.tests.js
Labels: 20_2, cherry-pick

#16028 Rename ErrorsViz to ErrorsUIWidgets (21.1)
  js/viz/core/errors_warnings.js
Labels: 21_1, cherry-pick

#16024 Rename ErrorsViz to ErrorsUIWidgets (20.1)
  js/viz/core/errors_warnings.js
Labels: 20_1

#16027 Rename ErrorsViz to ErrorsUIWidgets (20.2)
  js/viz/core/errors_warnings.js
Labels: 20_2, cherry-pick

#16034 Popup close button - update position in toolbar (T957552)
  js/ui/popup.js
  scss/widgets/generic/popup/_index.scss
  scss/widgets/generic/popup/_sizes.scss
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 21_1

#16037 Update code cases with or and nullish coalescing
  js/ui/calendar/ui.calendar.js
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view_roller.js
  js/ui/editor/ui.data_expression.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/number_box/number_box.mask.js
  js/ui/radio_group/radio_group.js
  js/ui/select_box.js
  js/ui/selection/selection.js
  js/ui/slider/ui.slider.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#15315 DataGrid: Fix toolbar and adaptive command cells have not aria-label (T947070)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.header_panel.js
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 20_2

#16038 Update code cases with or and nullish coalescing
  js/ui/calendar/ui.calendar.js
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_view_roller.js
  js/ui/editor/ui.data_expression.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/number_box/number_box.mask.js
  js/ui/radio_group/radio_group.js
  js/ui/select_box.js
  js/ui/selection/selection.js
  js/ui/slider/ui.slider.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.mask.rule.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#16041 Viz - fix tooltip showing with null and '' text
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/common/__tests__/tooltip_utils.test.tsx
  js/renovation/viz/core/common/tooltip_utils.ts
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#15894 DropDownOptions: improve test coverage
  js/ui/autocomplete.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/helpers/dropDownOptions.js
  testing/helpers/widgetsList.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownOptions.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 21_1

#16036 ScrollView - keyboard support
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_utils.ts
Labels: 21_1, renovation

#16047 DropDownOptions: improve test coverage (#15894)
  js/ui/autocomplete.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/helpers/dropDownOptions.js
  testing/helpers/widgetsList.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownOptions.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_2, cherry-pick

#16048 DropDownOptions: improve test coverage (#15894)
  js/ui/autocomplete.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/helpers/dropDownOptions.js
  testing/helpers/widgetsList.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownOptions.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 20_1, cherry-pick

#16055 Popup close button - fix option name in test
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 21_1

#16003 ScrollView - show and hide scrollbars on hover
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollbar.js
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: 21_1, renovation

#16057 SelectBox and TagBox dataSource should be non-filtered when there is no search value (#15741)
  js/ui/overlay/ui.overlay.js
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_1, cherry-pick

#16039 dxScheduler - render no more than one appointment collector per cell (T965267)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 21_1

#16060 Viz - fix showing tooltip with empty container
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#16058 SelectBox: search should be canceled after item selecting even if minSearchLength is specified (T943466)
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 21_1

#16056 SelectBox and TagBox dataSource should be non-filtered when there is no search value (#15741)
  js/ui/overlay/ui.overlay.js
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 20_2, cherry-pick

#16005 fix: elementAttr.class should overwrite previous value (T962695)
  js/core/dom_component.js
  testing/tests/DevExpress.core/domComponent.tests.js
Labels: 21_1

#16059 Tree Shaking: Optimize esm source code
  build/gulp/transpile-config.js
  package.json
Labels: 21_1

#16044 DataGrid: Fix toolbar and adaptive command cells have not aria-label (T947070) (#15315)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.header_panel.js
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_1, cherry-pick

#16066 ScrollView - create scroll actions for strategies
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.native.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Labels: 21_1, renovation

#16053 Fix cache updating after calling the ArrayStore.push method with change type insert (T958523)
  js/data/array_utils.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 20_1, cherry-pick

#16052 Fix cache updating after calling the ArrayStore.push method with change type insert (T958523)
  js/data/array_utils.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 21_1

#16051 Fix cache updating after calling the ArrayStore.push method with change type insert (T958523)
  js/data/array_utils.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 19_2, cherry-pick

#16050 Fix cache updating after calling the ArrayStore.push method with change type insert (T958523)
  js/data/array_utils.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: 20_2, cherry-pick

#16049 Remove checkbox from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_checkBox.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/material/checkBox/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/checkbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Labels: 21_1

#16042 DataGrid: Fix impossibility to delete row after inserted row deleting (T965419)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 20_2, cherry-pick

#16043 DataGrid: Fix impossibility to delete row after inserted row deleting (T965419)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_1

#15978 Scheduler - Horizontal virtual scrolling - Support appointment rendering
  .drone.yml
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.resource_manager.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.horizontal.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Labels: 21_1

#16035 dxScheduler - add horizontal group panel
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/group_panel.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/utils.test.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel_layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/__tests__/row.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/row.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/utils.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 21_1, renovation

#16071 popup close button - fix for Diagram toolbox
  scss/widgets/generic/diagram/_index.scss
Labels: 21_1

#16078 Update DropDownBox "items" and "dataSource" option types
  js/ui/drop_down_box.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#16079 Remove draggable from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_draggable.scss
  scss/widgets/generic/_index.scss
  scss/widgets/material/_index.scss
Labels: 21_1

#16082 dxScheduler - replace spy with stubs in tests for scrollTo
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16062 Fix date parsing if format string doesn't contain a separator between values (T960532)
  js/localization/ldml/date.format.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 21_1

#16063 Fix date parsing if format string doesn't contain a separator between values (T960532)
  js/localization/ldml/date.format.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 20_2, cherry-pick

#16064 Fix date parsing if format string doesn't contain a separator between values (T960532)
  js/localization/ldml/date.format.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.localization/ldml.tests.js
Labels: 20_1, cherry-pick

#16089 dxScheduler - skip unstable test on mobile devices
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16075 Publish paletteIndex
  js/viz/vector_map.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#16074 Publish paletteIndex
  js/viz/docs/docvectormap.js
  ts/dx.all.d.ts
Labels: 20_2

#16080 Improve error info and fix typo in screenshot-comparer name
  testing/testcafe/helpers/screenshot-comparer.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/scheduler/agenda/adaptive.ts
Labels: 21_1, type/enhancement

#16091 Update DropDownBox "items" and "dataSource" option types (#16078)
  js/ui/drop_down_box.d.ts
  ts/dx.all.d.ts
Labels: 20_2, cherry-pick

#16085 Remove draggable from dx.common.css (#16079)
  scss/bundles/dx.common.scss
  scss/widgets/base/_draggable.scss
  scss/widgets/generic/_index.scss
  scss/widgets/material/_index.scss
Labels: 20_2, cherry-pick

#16083 dxScheduler - update types for StartDate and EndDate
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 20_1

#16073 dxScheduler - update types for StartDate and EndDate
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 20_2, cherry-pick

#16072 dxScheduler - update types for StartDate and EndDate
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 21_1

#16088 TagBox: publish maxFilterLength option and add warning about filter length excess
  js/core/errors.js
  js/ui/tag_box.d.ts
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  ts/dx.all.d.ts
Labels: 21_1

#16087 dxScheduler - add firstDayOfWeek to today tests
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 20_2, cherry-pick

#16086 dxScheduler - add firstDayOfWeek to today tests
  testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
Labels: 21_1

#16033 Renovated DataGrid - Base implementation
  build/gulp/modules_metadata.json
  js/renovation/ui/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/data_grid/__tests__/data_grid_view_wrapper.test.tsx
  js/renovation/ui/data_grid/__tests__/data_grid_views.test.tsx
  js/renovation/ui/data_grid/common/data_grid_view_props.ts
  js/renovation/ui/data_grid/common/types.ts
  js/renovation/ui/data_grid/data_grid.tsx
  js/renovation/ui/data_grid/data_grid_view_wrapper.tsx
  js/renovation/ui/data_grid/data_grid_views.tsx
  js/renovation/ui/data_grid/datagrid_component.ts
  js/renovation/ui/data_grid/props.tsx
  js/ui/data_grid/ui.data_grid.base.d.ts
  js/ui/grid_core/ui.grid_core.grid_view.js
Labels: 21_1, renovation

#16065 Viz - fix Size type
  js/renovation/viz/core/__tests__/base_widget.test.tsx
  js/renovation/viz/core/base_props.ts
  js/renovation/viz/core/common/tooltip_utils.ts
  js/renovation/viz/core/common/types.d.ts
  js/renovation/viz/core/tooltip.tsx
Labels: 21_1, renovation

#16092 Popup close button - add focused and hovered states (T957552)
  js/ui/popup.js
  scss/widgets/generic/button/_mixins.scss
  scss/widgets/generic/diagram/_index.scss
  scss/widgets/generic/popup/_index.scss
  scss/widgets/generic/popup/_sizes.scss
  scss/widgets/material/button/_mixins.scss
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 20_2, cherry-pick

#16096 Remove dropDownList from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownList.scss
  scss/widgets/generic/dropDownList/_index.scss
  scss/widgets/material/dropDownList/_index.scss
  testing/tests/DevExpress.knockout/dropDownList.tests.js
Labels: 21_1

#16102 Scheduler - Virtual scrolling - Skip test for devices
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_1

#16067 Scrollable - transfer getDirection() from init data event
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.native.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_utils.ts
  js/renovation/ui/scroll_view/types.d.ts
Labels: 20_1, WIP, renovation

#16094 ScrollView - add moveTo() method to scrollbar
  js/animation/translator.js
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollbar.js
  js/renovation/ui/scroll_view/scrollbar.tsx
Labels: 20_1, renovation

#16090 dxScheduler - display current time indicator at midnight correctly
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 21_1

#16097 dxScheduler - render no more than one appointment collector per cell (T965267)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 20_2, cherry-pick
