Repository DevExpress/DevExtreme, pull requests merged in 2021-08, with the labels that each got.

#18497 FileManager - Fix contextMenu for navPane when control is inside dxTabPanel (T1009625)
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Labels: 21_1, cherry-pick

#18484 dxScheduler - Move toolbar styles into mixins
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/base/scheduler/layout/_header.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
Labels: 21_2

#18547 dxScheduler - get rid of displayedDate option
  js/ui/scheduler/header/dateNavigator.js
  js/ui/scheduler/header/header.js
  js/ui/scheduler/header/utils.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/header.dateNavigator.tests.js
Labels: 21_2

#18550 eventEngine.Event - Fix copying event properties to a wrapper object(T1015342)
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 21_1

#18551 eventEngine.Event - Fix copying event properties to a wrapper object(T1015342)
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 21_2, cherry-pick

#18552 eventEngine.Event - Fix copying event properties to a wrapper object(T1015342)
  js/events/core/events_engine.js
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 20_2

#18511 ESLint: enable no-unsafe-member-access rule
  .eslintrc.js
  js/core/dom_adapter.d.ts
  js/core/utils/browser.d.ts
  js/core/utils/data.d.ts
  js/core/utils/scroll_rtl_behavior.d.ts
  js/format_helper.d.ts
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/component_wrapper/navigation/scroll_view.ts
  js/renovation/component_wrapper/navigation/scrollable.ts
  js/renovation/test_utils/events_mock.ts
  js/renovation/ui/box/box.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/renovation/ui/grids/data_grid/utils/get_updated_options.ts
  js/renovation/ui/responsive_box/__tests__/responsive_box.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/utils.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/types.d.ts
  js/renovation/ui/scroll_view/utils/normalize_offset_left.ts
  js/renovation/viz/common/__tests__/tooltip.test.tsx
  js/renovation/viz/common/tooltip.tsx
  js/renovation/viz/common/utils.ts
  js/ui/themes_callback.d.ts
Labels: 21_2

#18555 CheckBox: replace 2 'iconHeight/iconWidth' options with 1 'iconSize' option
  js/renovation/ui/editors/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box.tsx
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Labels: 21_2, renovation

#18562 Fix centerTemplate updating issue (T1014761)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_2

#18563 Fix centerTemplate updating issue (T1014761)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 21_1, cherry-pick

#18564 Fix centerTemplate updating issue (T1014761)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Labels: 20_2, cherry-pick

#18571 eventsEngine.Event - Fix test (own properties) for farm
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 20_2

#18572 eventsEngine.Event - Fix test (own properties) for farm
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 21_1, cherry-pick

#18573 eventsEngine.Event - Fix test (own properties) for farm
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 21_2, cherry-pick

#18526 Move to webpack 5
  build/npm-bin/bundler.js
  package.json
  webpack.config.dev.js
  webpack.config.js
Labels: 21_2

#18575 Fix api reference for ExcelDataGridCell and dxPivotGridPivotGridCell
  js/excel_exporter.js
  js/ui/pivot_grid.js
Labels: 21_1

#18509 DataGrid: Fix tests in chrome on mac os
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_1, cherry-pick

#18508 DataGrid: Fix tests in chrome on mac os
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_2

#18554 Form - Move "layoutManager._createEditor" to "form.utils.js" (#18504)
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
Labels: 21_1, cherry-pick

#18553 Form - Move "layoutManager._createEditor" to "form.utils.js" (#18504)
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
Labels: 20_2, cherry-pick

#18558 dxScheduler - update testcafe etalons for chrome 92
  .github/workflows/testcafe_tests.yml
  testing/testcafe/tests/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-cell-below-in-month.png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-from-tooltip-to-left-cell-in-week.png
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/etalons/form-before-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=false-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=false-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineDay-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineDay.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineMonth-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineMonth.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineWeek-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineWeek.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineWorkWeek-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-timelineWorkWeek.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-week-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-week.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-workWeek-with-appointment-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-workWeek.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=false, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 2 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans 3 rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment(rtl=true, text=Appointment spans all rows).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-february(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-january(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=false).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-appointment-several-months-march(rtl=true).png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-february.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-january.png
Labels: 20_2

#18501 Scheduler - Move settingsGenerator to the rendering strategy
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/DataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_horizontal_month.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_horizontal_month_line.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  js/ui/scheduler/modelProvider.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
Labels: 21_2, renovation

#18579 dxScheduler - uncomment test 'overlap appointments' test in testcafe
  testing/testcafe/tests/scheduler/appointmentOverlapping/basic.ts
Labels: 21_1, cherry-pick

#18559 DataGrid.Pdf - Pass all gridCell properties into customizeCell event
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/export_data_grid_row_info.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#18574 DataGrid.Pdf - Pass all gridCell properties into customizeCell event
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/export_data_grid_row_info.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_2, cherry-pick

#18578 dxScheduler - uncomment test 'overlap appointments' test in testcafe
  testing/testcafe/tests/scheduler/appointmentOverlapping/basic.ts
Labels: 21_2

#18565 FilterBuilder: fix operation popup styles
  js/ui/filter_builder/filter_builder.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 21_2

#17335 Add Demos CI workflow
  .github/workflows/demos_tests.yml
Labels: 21_2, WIP

#18529 ResizeObserver: implement singletone pattern and move initialization to Widget
  js/core/resize_observer.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/overlay/ui.overlay.js
  js/ui/slider/ui.slider_handle.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.core/resizeObserver.tests.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/Renovation/dataGrid.test.js
Labels: 21_2

#18586 HtmlEditor: Fix keyboard navigation for Embeds (T1012862)
  package.json
Labels: 20_2

#18531 scrollable: repair syncronization for varios areas on scrolling inside the pivotgrid (#18458)
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.data_area.js
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  js/ui/pivot_grid/ui.pivot_grid.headers_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/pivot_grid/utils/get_scrollbar_info.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 21_1, cherry-pick

#18533 scrollable: repair syncronization for varios areas on scrolling inside the pivotgrid (#18458)
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.data_area.js
  js/ui/pivot_grid/ui.pivot_grid.fields_area.js
  js/ui/pivot_grid/ui.pivot_grid.headers_area.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/pivot_grid/utils/get_scrollbar_info.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 20_2, cherry-pick

#18523 DataGrid: Fix exception when adding a change object for an invisible row to the editing.changes option (T1016329)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 20_2

#18524 DataGrid: Fix exception when adding a change object for an invisible row to the editing.changes option (T1016329)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_1, cherry-pick

#18525 DataGrid: Fix exception when adding a change object for an invisible row to the editing.changes option (T1016329)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_2, cherry-pick

#18585 HtmlEditor: Fix keyboard navigation for Embeds (T1012862)
  package.json
Labels: 21_1, cherry-pick

#18596 Rollback webpack version
  package.json
  webpack.config.js
Labels: 21_2

#18600 Scheduler - Temporary skip unstable test fixture
  testing/testcafe/tests/scheduler/layout/views/day/allDay.ts
Labels: 21_2

#18548 dxScheduler - replace indexOf on contains method for search DOM element(T1017720)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/T1017720.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-left(T1017720).png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-right(T1017720).png
Labels: 21_2

#18587 Change padding and font-size for lookup in datagrid editing (T1018716)
  scss/widgets/material/gridBase/_index.scss
Labels: 21_1, cherry-pick

#18581 Change padding and font-size for lookup in datagrid editing (T1018716)
  scss/widgets/material/gridBase/_index.scss
Labels: 21_2

#18561 Change switch background in dark material theme (T739345)
  scss/widgets/material/switch/_colors.scss
  scss/widgets/material/switch/_index.scss
Labels: 21_2

#18359 dxScheduler - add renovated week-view
  js/renovation/ui/scheduler/workspaces/base/__tests__/ordinary_layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/utils.test.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/ordinary_layout.tsx
  js/renovation/ui/scheduler/workspaces/base/utils.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/week/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/week/work_space.tsx
Labels: 21_2, renovation

#18570 Add package-lock files and renovate config
  .github/workflows/angular_tests.yml
  .github/workflows/bundlers_tests.yml
  .github/workflows/demos_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_dart_tests.yml
  .gitignore
  build/docker-image/Dockerfile
  package-lock.json
  renovate.json
  testing/bundlers/package-lock.json
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  themebuilder-scss/package-lock.json
Labels: 21_2

#18621 Diagram: Update package-lock file
  package-lock.json
Labels: 21_2

#18597 dxScheduler - fix All-day appointments overlap standard appointments (T1017889)
  js/ui/scheduler/appointments/rendering_strategies/strategy_horizontal.js
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/appointments/timelines.ts
Labels: 21_2

#18580 dxScheduler - uncomment test 'disable' test in testcafe
  testing/testcafe/tests/scheduler/layout/appointments/disable.ts
Labels: 21_2

#18560 scrollable: use container() method instead of _$container property
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 21_2, renovation

#18592 Form - Move "layoutManager._renderEditor" to "form.utils.js"
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
Labels: 21_2

#18633 Update renovate.json
  renovate.json
Labels: 21_2

#18604 dxScheduler - generate groupPanelData in the ViewDataProvider
  js/renovation/ui/scheduler/view_model/group_panel/__tests__/utils.test.ts
  js/renovation/ui/scheduler/view_model/group_panel/utils.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/ordinary_layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/group_panel.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/utils.test.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel_layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/ordinary_layout.tsx
  js/renovation/ui/scheduler/workspaces/timeline/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/timeline/header_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 21_2, renovation

#18577 pivot: refactor get_scrollbar_info utility
  js/ui/pivot_grid/utils/get_scrollbar_info.js
  js/ui/pivot_grid/utils/get_scrollbar_width.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 21_2, renovation

#18641 Add concurrency, remove `push` from event triggers
  .github/workflows/angular_tests.yml
  .github/workflows/bundlers_tests.yml
  .github/workflows/demos_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_dart_tests.yml
Labels: 21_2

#18599 CheckBox: update d.ts file after adding 'iconSize' option
  js/renovation/ui/editors/__tests__/check_box.test.tsx
  js/ui/check_box.d.ts
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  ts/dx.all.d.ts
Labels: 21_2, renovation

#18434 DataGrid - Multiple Selection - The row becomes blue except for the column with checkboxes (T1016005)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_2

#18435 DataGrid - Multiple Selection - The row becomes blue except for the column with checkboxes (T1016005)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1, cherry-pick

#18436 DataGrid - Multiple Selection - The row becomes blue except for the column with checkboxes (T1016005)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 20_2, cherry-pick

#18636 dxScheduler - fix All-day appointments overlap standard appointments (T1017889)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/appointments/timelines.ts
Labels: 20_2, cherry-pick

#18635 dxScheduler - fix All-day appointments overlap standard appointments (T1017889)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/appointments/timelines.ts
Labels: 21_1, cherry-pick

#18642 dxScheduler - remove totalCellCount and totalRowCount from data generation options
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/utils/base.js
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/time_panel_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 21_2, renovation

#18638 scrollable: add container() method for external use (#17794)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scroll_view/ui.scroll_view.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: 21_1, cherry-pick

#18594 DataGrid.Pdf - Add textColor parameter for the pdfCell member in customizeCell
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#18645 dxScheduler - do not use old render when switching between scrolling modes
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.renovation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 21_2

#18648 dxScheduler - display current time cell correctly when grouping by date is used (T1019301)
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.renovation.tests.js
Labels: 21_1

#18632 dxScheduler - replace indexOf on contains method for search DOM element(T1017720)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/T1017720.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-left(T1017720).png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-right(T1017720).png
Labels: cherry-pick, 21_1

#18655 DataGrid.Pdf - Add textColor parameter for the pdfCell member in customizeCell
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: cherry-pick, 21_2

#18644 pivot: refactor get_scrollbar_info utility (#18577)
  js/ui/pivot_grid/utils/get_scrollbar_info.js
  js/ui/pivot_grid/utils/get_scrollbar_width.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: cherry-pick, 21_1

#18451 DataGrid: Fix native components in react/angular/vue
  js/renovation/ui/common/component.js
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/renovation/ui/grids/grid_base/grid_base_views.tsx
Labels: 21_2

#18595 Material update. Change accordion paddings
  scss/widgets/material/accordion/_index.scss
  scss/widgets/material/accordion/_sizes.scss
Labels: 21_2

#18652 Scheduler - Refactoring - Extend renovation utils with renderComponent function
  js/ui/scheduler/utils.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
Labels: renovation, 21_2

#18593 dxScheduler - remove adding day for all day property in appointment popup form(T1018957)
  js/ui/scheduler/appointmentPopup/form.js
  testing/testcafe/tests/scheduler/appointmentForm.ts
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/all-day-appointment-on-tables.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-render-on-table.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-switch-off-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-before-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-before-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-all-day-appointment-on-tables.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-render-on-table.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-switch-off-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-before-click-all-day.png
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 21_2

#18647 Material update. Change radiogroup line height
  scss/widgets/material/radioGroup/_index.scss
  scss/widgets/material/radioGroup/_sizes.scss
Labels: 21_2

#18646 Refactoring: extract inferno renderer
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/common/renderer.ts
Labels: 21_2

#18568 DataGrid: Fix filterValue after blanks item selecting in header filter (T1017975)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: 21_2

#18567 DataGrid: Fix filterValue after blanks item selecting in header filter (T1017975)
  js/ui/grid_core/ui.grid_core.filter_sync.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
Labels: cherry-pick, 21_1

#18649 File Uploader - Fix event subscriptions resetting on widget disposing (T1016127)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 21_2

#18650 File Uploader - Fix event subscriptions resetting on widget disposing (T1016127)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_1

#18651 File Uploader - Fix event subscriptions resetting on widget disposing (T1016127)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 20_2

#18663 dxScheduler - remove adding day for all day property in appointment popup form(T1018957)
  js/ui/scheduler/appointment_form.js
  testing/testcafe/tests/scheduler/appointmentForm.ts
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/all-day-appointment-on-tables.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-render-on-table.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-after-switch-off-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/appointment-form-before-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-before-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-all-day-appointment-on-tables.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-click-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-render-on-table.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-after-switch-off-all-day.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/new-appointment-form-before-click-all-day.png
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: cherry-pick, 21_1

#18668 Popover: should not raise any error is target=undefined (T1019015)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: 21_1

#18667 Popover: should not raise any error is target=undefined (T1019015)
  js/ui/popover.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Labels: cherry-pick, 20_2

#18601 Lookup: fix popup opening if lookup is placed at the page bottom in Material theme (T1018037)
  js/ui/lookup.js
  testing/testcafe/model/lookup.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/lookup.ts
  testing/testcafe/tests/editors/pages/T1018037.html
  testing/testcafe/tests/editors/pages/lookupMaterial.html
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 21_2

#18669 Lookup: fix popup opening if lookup is placed at the page bottom in Material theme (T1018037)
  js/ui/lookup.js
  testing/testcafe/model/lookup.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/lookup.ts
  testing/testcafe/tests/editors/pages/T1018037.html
  testing/testcafe/tests/editors/pages/lookupMaterial.html
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 20_2

#18670 Lookup: fix popup opening if lookup is placed at the page bottom in Material theme (T1018037)
  js/ui/lookup.js
  testing/testcafe/model/lookup.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/lookup.ts
  testing/testcafe/tests/editors/pages/T1018037.html
  testing/testcafe/tests/editors/pages/lookupMaterial.html
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 21_1

#18671 dxScheduler - remove adding day for all day property in appointment popup form(T1018957)
  js/ui/scheduler/ui.scheduler.appointment_form.js
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: cherry-pick, 20_2

#18602 Update internal tools to v6.4.11
  js/ui/context_menu.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/file_manager.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/menu.d.ts
  js/ui/nav_bar.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tree_view.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 21_1

#18654 dxScheduler - remove unnecessary options props from data generation options
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_work_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  js/ui/scheduler/workspaces/utils/base.js
  js/ui/scheduler/workspaces/utils/work_week.js
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_week.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_work_week.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: renovation, 21_2

#18657 Create single devextreme_npm_tests workflow
  .github/workflows/angular_tests.yml
  .github/workflows/bundlers_tests.yml
  .github/workflows/demos_tests.yml
  .github/workflows/devextreme_npm_tests.yml
Labels: 21_2

#18385 Overlays: rework private options
  js/ui/dialog.js
  js/ui/overlay/ui.overlay.js
  js/ui/popover.d.ts
  js/ui/popover.js
  js/ui/speed_dial_action/speed_dial_main_item.js
  js/ui/toast.js
  testing/tests/DevExpress.ui.widgets.editors/validationMessage.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
Labels: renovation, 21_2

#18610 scrollable: not update scrollbar location when container doesn't have sizes
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Labels: renovation, 21_2

#18678 scrollable: transfer emittre.gesture.scroll utility file into events folder
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/ui/html_editor/ui.html_editor.js
  js/ui/scroll_view/ui.events.emitter.gesture.scroll.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/scroll.tests.js
Labels: renovation, 21_2

#18680 scheduler: refactor qunit tests for renovate scrollable
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.multiWeekAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: renovation, 21_2

#18665 Material update. Change menu paddings and font.
  scss/widgets/material/contextMenu/_index.scss
  scss/widgets/material/menu/_index.scss
  scss/widgets/material/menu/_sizes.scss
  scss/widgets/material/menuBase/_index.scss
  scss/widgets/material/menuBase/_sizes.scss
Labels: 21_2

#18686 Update internal tools to v7.0.0-beta.2
  .github/workflows/devextreme_npm_tests.yml
  js/excel_exporter.d.ts
  js/ui/context_menu.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/file_manager.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/menu.d.ts
  js/ui/nav_bar.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tree_view.d.ts
  package-lock.json
  package.json
  ts/dx.all.d.ts
Labels: 21_2

#18682 scrollable: use utility method correct subscribe and unsubscribe from events
  js/events/gesture/emitter.gesture.scroll.js
  js/events/short.js
  js/renovation/test_utils/events_mock.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/utils/convert_location.ts
  js/renovation/utils/__tests__/subscribe_to_event.test.ts
  js/renovation/utils/subscribe_to_event.ts
Labels: renovation, 21_2

#18705 Overlay: fix tests after #18385
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_2

#18690 treeview: get rid using private _scrollableContainer property to return an instance and use getScrollable() method instead
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/optionChanged.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/rendering.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: 21_2

#18688 scrollable: support SSR mode
  jest.config.js
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/utils/__tests__/get_augmented_location.test.tsx
  js/renovation/ui/scroll_view/utils/__tests__/get_element_style.test.tsx
  js/renovation/ui/scroll_view/utils/__tests__/get_translate_values.test.tsx
  js/renovation/ui/scroll_view/utils/get_element_computed_style.ts
  js/renovation/ui/scroll_view/utils/get_element_padding.ts
  js/renovation/ui/scroll_view/utils/get_element_style.ts
  js/renovation/ui/scroll_view/utils/get_translate_values.ts
  js/renovation/utils/get_element_offset.ts
  js/renovation/viz/sparklines/bullet.tsx
  testing/tests/DevExpress.serverSide/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
Labels: renovation, 21_2

#18679 scrollable: call onscroll callback within effect
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  package.json
Labels: renovation, 21_2

#18708 Print log when runner stalled
  docker-ci.sh
  testing/runner/Controllers/MainController.cs
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Controllers/ThemesTestController.cs
  testing/runner/Program.cs
  testing/runner/Tools/ConsoleHelper.cs
  testing/runner/Tools/ExtensionMethods.cs
  testing/runner/Views/Main/RunAll.cshtml
Labels: 21_2

#18703 ESLint: update global config version
  .eslintrc.js
  build/rules/no-non-null-assertion.js
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/renovation/viz/common/__tests__/tooltip.test.tsx
  js/renovation/viz/common/tooltip.tsx
  package-lock.json
  package.json
Labels: 21_2

#18662 Scheduler - Make view model generator object
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/rendering_strategies/appointmentsPositioning_strategy_base.js
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_agenda.js
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/appointments/textUtils.js
  js/ui/scheduler/appointments/viewModelGenerator.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Labels: WIP, renovation, 21_2

#18697 dxScheduler - create currentViewConfig in renovated Scheduler
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/model/__tests__/views.test.ts
  js/renovation/ui/scheduler/model/views.ts
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/types.d.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/renovation/ui/scheduler/workspaces/week/work_space.tsx
  js/ui/scheduler/modelProvider.js
Labels: renovation, 21_2

#18701 Fix context menu font size
  scss/widgets/material/contextMenu/_sizes.scss
Labels: 21_2

#18696 Update devextreme-internal-tools to v6.4.12
  js/viz/funnel.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 21_1

#18704 Update devextreme-internal-tools to v7.0.0-beta.3
  js/viz/funnel.d.ts
  package-lock.json
  package.json
  ts/dx.all.d.ts
Labels: 21_2

#18698 Renovation: prepare datagrid for the server side rendering
  js/renovation/component_wrapper/__tests__/data_grid.test.tsx
  js/renovation/component_wrapper/data_grid.ts
Labels: renovation, 21_2

#18691 DataGrid.Pdf - Add font parameter for the pdfCell member in customizeCell
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#18685 dxScheduler - refactoring appointment popup and form
  js/ui/scheduler/appointmentPopup/form.js
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/recurrence_editor.js
  js/ui/scheduler/ui.scheduler.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 21_2

#18715 TagBox: fix event listeners (T1020397) (#18709)
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_1

#18711 treeview: get rid using private _scrollableContainer property to return an instance and use getScrollable() method instead (#18690)
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/tree_view/ui.tree_view.base.js
  js/ui/tree_view/ui.tree_view.search.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/optionChanged.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/rendering.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: cherry-pick, 21_1

#18710 scrollable: pass activeStateUnit property to strategies for correct unsubscribe from events
  js/renovation/component_wrapper/navigation/scrollable.ts
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollable_simulated_props.ts
Labels: renovation, 21_2

#18656 Scheduler - Base renovated render of appointments
  js/renovation/ui/scheduler/appointment/__tests__/appointment.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/layout.tsx
  js/renovation/ui/scheduler/appointment/types.d.ts
  js/renovation/ui/scheduler/appointment/utils.ts
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/utils.ts
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/render.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/appointments/viewModelGenerator.js
  js/ui/scheduler/modelProvider.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/Renovation/compatibility.test.js
Labels: renovation, 21_2

#18689 Form - fix rerendering after changing onFieldDataChanged option
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 21_1

#18721 PDF - implement height calculation of the row (without text wrapping)
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: cherry-pick, 21_1

#18728 scrollable: refactor tests
  testing/helpers/wrappers/tabsWrappers.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.serverSide/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/multiView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/tileView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalDataAdapter.js
Labels: 21_2

#18722 Add font parameter for the pdfCell member in customizeCell (#18691)
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: cherry-pick, 21_2

#18653 Single build for all tests
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
Labels: 21_2

#18716 TagBox: fix event listeners (T1020397) (#18709)
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/tag_box.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 20_2

#18731 treeview: implement useNativeScrolling option
  js/ui/tree_view.d.ts
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.constants.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#18730 scrollable: refactor tests
  js/ui/date_box/ui.date_view.js
  js/ui/date_box/ui.date_view_roller.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/tile_view.js
  testing/helpers/wrappers/tabsWrappers.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.serverSide/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
  testing/tests/DevExpress.ui.widgets/actionSheet.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/multiView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/tileView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalDataAdapter.js
Labels: cherry-pick, 21_1

#18741 Form - fix rerendering after changing onFieldDataChanged option (T1014577)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 21_1

#18740 dxScheduler - fix required property in Appointment
  js/renovation/ui/scheduler/appointment/appointment.tsx
Labels: renovation, 21_2

#18742 Form - fix rerendering after changing onFieldDataChanged option (T1014577)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 20_2

#18743 Form - fix rerendering after changing onFieldDataChanged option (T1014577)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 20_1

#18745 scrollable: small enchacements
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: renovation, 21_2

#18714 ResizeObserver integration: refactoring
  js/core/resize_observer.js
  js/ui/overlay/ui.overlay.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.core/resizeObserver.tests.js
Labels: 21_2

#18727 dxScheduler - render WeekView in renovated Scheduler
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/model/__tests__/views.test.ts
  js/renovation/ui/scheduler/model/views.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/utils.test.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/utils.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/renovation/ui/scheduler/workspaces/week/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/week/work_space.tsx
Labels: renovation, 21_2

#18746 List - remove unused code
  js/ui/list/ui.list.edit.provider.js
Labels: 21_2

#18749 Update version to 20.2.9
  package.json
Labels: 20_2

#18756 scrollable: fix test on device after #18728
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 21_2

#18757 scrollable: fix test on device after #18728
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: cherry-pick, 21_1

#18619 Move QUnit from drone to github action
  .drone.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2

#18734 Editor: implement renovated component
  js/renovation/component_wrapper/editors/check_box.ts
  js/renovation/component_wrapper/editors/editor.ts
  js/renovation/ui/editors/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box.tsx
  js/renovation/ui/editors/internal/__tests__/editor.test.tsx
  js/renovation/ui/editors/internal/editor.tsx
  testing/tests/DevExpress.ui.widgets.editors/editor.markup.tests.js
  testing/tests/Renovation/compatibility.test.js
Labels: renovation, 21_2

#18748 Fix hor. radio group validation message (T1020449)
  scss/widgets/base/_radioGroup.scss
  testing/testcafe/tests/editors/etalons/radiogroup-horizontal-validation.png
  testing/testcafe/tests/editors/pages/t1020449.html
  testing/testcafe/tests/editors/radioGroup.ts
Labels: 21_2

#18733 Scheduler - Enhance appointment filtering performance
  js/ui/scheduler/appointments/DataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/DataProvider/appointmentFilter.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.serverSide/widgetsCreation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Labels: 21_2

#18747 DataGrid.Pdf - Add borderColor parameter for the pdfCell member in customizeCell
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: 21_1

#18674 dxScheduler - Add renovated scheduler toolbar
  js/renovation/ui/scheduler/header/__tests__/header.test.tsx
  js/renovation/ui/scheduler/header/date_navigator.ts
  js/renovation/ui/scheduler/header/header.tsx
  js/renovation/ui/scheduler/header/props.ts
  js/renovation/ui/scheduler/header/types.d.ts
  js/renovation/ui/scheduler/header/utils.ts
  js/renovation/ui/scheduler/header/view_switcher.ts
  js/renovation/ui/scheduler/props.ts
Labels: renovation, 21_2

#18755 Fix wrong key for re-run jobs
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
Labels: 21_2

#18765 treeview: simplify scrollToElementTopLeft() method
  js/renovation/ui/scroll_view/utils/__tests__/get_relative_offset.test.tsx
  js/renovation/ui/scroll_view/utils/get_relative_offset.ts
  js/ui/scroll_view/ui.scrollable.js
  js/ui/tree_view/ui.tree_view.base.js
Labels: 21_2

#18760 dxScheduler - remove dx-scheduler-fixed class
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 21_2

#18764 DataGrid.Pdf - Add borderColor parameter for the pdfCell member in customizeCell
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.tests.js
Labels: cherry-pick, 21_2

#18774 Scheduler - Appointment filter preparing should add 'recurrenceException' field to the prepared item.
  js/ui/scheduler/appointments/DataProvider/appointmentFilter.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Labels: 21_2

#18783 Update sass version
  package-lock.json
  package.json
  themebuilder-scss/dart-compiler/pubspec.yaml
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Labels: 21_2

#18754 dxScheduler - add all views except agenda to the renovated Scheduler
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space_config.test.ts
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space_config.ts
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/week/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/week/work_space.tsx
Labels: renovation, 21_2

#18778 ButtonGroup - publish selection 'none' option
  js/ui/button_group.d.ts
  testing/tests/DevExpress.ui.widgets/buttonGroup.selection.tests.js
  ts/dx.all.d.ts
Labels: 21_2

#18769 scrollable: utility methods refactor
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/utils/__tests__/get_element_style.test.tsx
  js/renovation/ui/scroll_view/utils/__tests__/get_scrollbar_size.test.tsx
  js/renovation/ui/scroll_view/utils/get_element_style.ts
  js/renovation/ui/scroll_view/utils/get_scroll_left_max.ts
  js/renovation/ui/scroll_view/utils/get_scroll_top_max.ts
  js/renovation/ui/scroll_view/utils/get_scrollbar_size.ts
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Labels: renovation, 21_2

#18776 Editor: refactor unit tests and improve validation
  js/renovation/ui/editors/internal/__tests__/editor.test.tsx
  js/renovation/ui/editors/internal/editor.tsx
  testing/tests/DevExpress.ui.widgets.editors/checkbox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: renovation, 21_2

#18771 scrollable: scrollToElement() method rework
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/utils/get_element_location_internal.ts
  js/renovation/ui/scroll_view/utils/get_relative_offset.ts
  js/ui/scroll_view/ui.scrollable.js
Labels: renovation, 21_2

#18788 datagrid - repairs tests on drone
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_1
