Repository DevExpress/DevExtreme, pull requests merged in 2022-01, with the labels that each got.

#20759 DateBox: fix unstable timers
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 22_1

#20767 DataGrid: Fix blinking tests
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: cherry-pick, 21_1

#20768 DataGrid: Fix blinking tests
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 21_2

#20769 DataGrid: Fix blinking tests
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: cherry-pick, 22_1

#20772 datagrid - fixes sending redundant requests in virtual scrolling (T1056318)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#20773 datagrid - fixes sending redundant requests in virtual scrolling (T1056318) (#20772)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#20734 File Manager - Fixes repainting of the entire widget when changing the permissions option (T1051605)
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: 22_1

#20738 File Manager - Fixes repainting of the entire widget when changing the permissions option (T1051605)
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: cherry-pick, 21_2

#20739 File Manager - Fixes repainting of the entire widget when changing the permissions option (T1051605)
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Labels: cherry-pick, 21_1

#20771 File Manager - Fix IE tests (T1045617) for #20697
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 21_1

#20685 TS - Add ts testing for regression cases (T1052277, T1051918)
  .github/workflows/lint.yml
  .github/workflows/ts_declarations.yml
  build/gulp/ts.js
  js/data/custom_store.d.ts
  package-lock.json
  package.json
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/typescript/data/custom_store.ts
  testing/typescript/package-lock.json
  testing/typescript/package.json
  ts/dx.all.d.ts
Labels: 21_2

#20711 DataGridLight - add selection
  build/gulp/generator/gulpfile.js
  js/renovation/ui/grids/data_grid_light/__tests__/data_grid_light.test.tsx
  js/renovation/ui/grids/data_grid_light/data_grid_light.tsx
  js/renovation/ui/grids/data_grid_light/pager/__tests__/pager.test.tsx
  js/renovation/ui/grids/data_grid_light/pager/pager.tsx
  js/renovation/ui/grids/data_grid_light/paging/__tests__/paging.test.tsx
  js/renovation/ui/grids/data_grid_light/paging/paging.tsx
  js/renovation/ui/grids/data_grid_light/paging/plugins.tsx
  js/renovation/ui/grids/data_grid_light/selection/__tests__/select_all_checkbox.test.tsx
  js/renovation/ui/grids/data_grid_light/selection/__tests__/select_checkbox.test.tsx
  js/renovation/ui/grids/data_grid_light/selection/__tests__/selection.test.tsx
  js/renovation/ui/grids/data_grid_light/selection/plugins.tsx
  js/renovation/ui/grids/data_grid_light/selection/select_all_checkbox.tsx
  js/renovation/ui/grids/data_grid_light/selection/select_checkbox.tsx
  js/renovation/ui/grids/data_grid_light/selection/selection.tsx
  js/renovation/ui/grids/data_grid_light/types.ts
  js/renovation/ui/grids/data_grid_light/views/__tests__/table_content.test.tsx
  js/renovation/ui/grids/data_grid_light/views/table_content.tsx
  js/renovation/ui/grids/data_grid_light/views/table_header.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/data_row.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/header_row.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_row.tsx
  js/renovation/utils/plugin/__tests__/context.test.ts
  js/renovation/utils/plugin/context.ts
  testing/renovation/platforms/declaration/data_grid_light.tsx
Labels: 22_1

#20751 DataGrid: Fix selection after virtual scrolling if grouping is used with ODataStore and fix selection after paging if rowRenderingMode is virtual (T1056403, T1058757)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: cherry-pick, 21_2

#20763 DataGrid: Fix loading data on scroll if scrolling mode is infinite and legacyMode is true (T1053933)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#20765 DataGrid: Fix loading data on scroll if scrolling mode is infinite and legacyMode is true (T1053933)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#20760 DataSource: delete _delayedLoadTask on disposing
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: type/bug, 22_1

#20785 DataSource: delete _delayedLoadTask on disposing (#20760)
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/dataSource.tests.js
Labels: type/bug, cherry-pick, 21_2

#20788 Scheduler - Update etalons due to the update Chrome
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
Labels: 21_1

#20790 Scheduler - Update etalons due to the bump Chrome version
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointments-in-grid.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
  testing/testcafe/tests/scheduler/month/etalons/month-long-recurrence-appointment-several-months-february.png
Labels: 21_2

#20775 Scheduler - Implement async appointment color loading
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/appointment.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/layout.tsx
  js/renovation/ui/scheduler/appointment/overflow_indicator/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/appointment/overflow_indicator/__tests__/utils.test.ts
  js/renovation/ui/scheduler/appointment/overflow_indicator/layout.tsx
  js/renovation/ui/scheduler/appointment/overflow_indicator/utils.ts
  js/renovation/ui/scheduler/appointment/types.ts
  js/renovation/ui/scheduler/appointment/utils.ts
  js/renovation/ui/scheduler/appointments_context.ts
  js/renovation/ui/scheduler/appointments_context_provider.tsx
  js/renovation/ui/scheduler/model/appointments.ts
  js/renovation/ui/scheduler/model/types.ts
  js/renovation/ui/scheduler/resources/__tests__/utils.test.ts
  js/renovation/ui/scheduler/resources/utils.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/appointments/viewModelGenerator.js
  js/ui/scheduler/resources/utils.js
Labels: renovation, 22_1

#20791 Scheduler - Update etalons due to the bump Chrome version
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointments-in-grid.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
Labels: 22_1

#20754 DataGrid - The columns are misaligned if group summaries, column width, columnAutoWidth, and width are used (T1054931)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: cherry-pick, 21_2

#20755 DataGrid - The columns are misaligned if group summaries, column width, columnAutoWidth, and width are used (T1054931)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: cherry-pick, 21_1

#20713 Fix DataSource's store prop typings
  js/data/data_source.d.ts
  js/data/index.d.ts
  js/ui/pivot_grid/data_source.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#20805 File Manager - Additional fix (T1051605)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.js
Labels: 21_1

#20803 TS - Add ts testing for regression cases (T1052277, T1051918)
  .github/workflows/lint.yml
  .github/workflows/ts_declarations.yml
  build/gulp/ts.js
  js/data/custom_store.d.ts
  package.json
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/typescript/data/custom_store.ts
  testing/typescript/package-lock.json
  testing/typescript/package.json
  ts/dx.all.d.ts
Labels: 22_1

#20808 File Manager - Additional fix (T1051605)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.js
Labels: cherry-pick, 21_2

#20809 File Manager - Additional fix (T1051605)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.js
Labels: cherry-pick, 22_1

#20812 Scheduler - Should correctly synchronize scrollbars if asynchronous scrolling (T1059060)
  js/renovation/ui/scheduler/utils/semaphore/__tests__/scrollSemaphore.test.ts
  js/renovation/ui/scheduler/utils/semaphore/__tests__/semaphore.test.ts
  js/renovation/ui/scheduler/utils/semaphore/scrollSemaphore.ts
  js/renovation/ui/scheduler/utils/semaphore/semaphore.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/cross_scrolling_layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/cross_scrolling_layout.tsx
  js/ui/scheduler/appointmentPopup/form.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 21_2

#20811 Scheduler - Should correctly synchronize scrollbars if asynchronous scrolling (T1059060)
  js/renovation/ui/scheduler/utils/semaphore/__tests__/scrollSemaphore.test.ts
  js/renovation/ui/scheduler/utils/semaphore/__tests__/semaphore.test.ts
  js/renovation/ui/scheduler/utils/semaphore/scrollSemaphore.ts
  js/renovation/ui/scheduler/utils/semaphore/semaphore.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/cross_scrolling_layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/cross_scrolling_layout.tsx
  js/ui/scheduler/appointmentPopup/form.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 22_1

#20795 datagrid - fixes load page params for the same scroll position (T1052705)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#20796 datagrid - fixes load page params for the same scroll position (T1052705) (#20795)
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Labels: cherry-pick, 21_2

#20821 datagrid - fixes editing new row (T1059412) (#20820)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: cherry-pick, 21_2

#20822 datagrid - fixes editing new row (T1059412) (#20820)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: cherry-pick, 21_1

#20779 DataGrid.PDF - Separate content of split horizontally merged cells
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
Labels: 22_1

#20770 Editors Label - Fix editor doesn't provide accessibility information about it's label
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.label.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 21_2

#20819 DataGrid: Fix components rendering inside dataRowTemplate in MVC (T1054609)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 22_1

#20818 DataGrid: Fix components rendering inside dataRowTemplate in MVC (T1054609)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: cherry-pick, 21_2

#20824 PDF Export - Refactor code before implementing header copying (while splitting)
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/pdf_utils_v3.js
  js/exporter/jspdf/v3/row_utils.js
  js/exporter/jspdf/v3/rows_splitting.js
Labels: 22_1

#20615 HtmlEditor - Update toolbar buttons state on format change by hotkey (T1027453)
  js/ui/html_editor/modules/toolbar.js
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 22_1

#20832 DataGrid: Fix editing if data item has class field with deep circular link (T1053794)
  js/data/array_utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#20833 DataGrid: Fix editing if data item has class field with deep circular link (T1053794)
  js/data/array_utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#20831 DataGrid: Fix editing if data item has class field with deep circular link (T1053794)
  js/data/array_utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#20839 Tests - Change Renovated NPM testing machine (docker to instance)
  .github/workflows/devextreme_npm_tests.yml
Labels: 22_1

#20857 Fix after PR#20770 for react/vue approaches
  js/ui/text_box/ui.text_editor.base.js
Labels: 21_2

#20840 dxScheduler - recurrent form prevent enter not integer chars(T1058092)
  js/ui/scheduler/recurrence_editor.js
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/screenshots/dx-number-boxes-not-integer-chars.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/dx-number-boxes-not-integer-chars.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/integerFormatNumberBox.ts
Labels: 22_1

#20860 dxScheduler - recurrent form prevent enter not integer chars(T1058092)
  js/ui/scheduler/recurrence_editor.js
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/screenshots/dx-number-boxes-not-integer-chars.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/dx-number-boxes-not-integer-chars.png
  testing/testcafe/tests/scheduler/layout/appointmentForm/integerFormatNumberBox.ts
Labels: cherry-pick, 21_2

#20841 HtmlEditor - Update toolbar buttons state on format change by hotkey (T1027453)
  js/ui/html_editor/modules/toolbar.js
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: cherry-pick, 21_2

#20858 Fix chart's tooltip rendering when template used(T1015148)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 22_1

#20862 Fix chart's tooltip rendering when template used(T1015148)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: cherry-pick, 21_1

#20861 Fix chart's tooltip rendering when template used(T1015148)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: cherry-pick, 21_2

#20866 Scheduler - Add functional tests for deferred loading resource colors
  testing/testcafe/tests/renovation/scheduler/resources/resources.ts
Labels: renovation, 22_1

#20848 treelist - fixes navigating to focused row (T1058983)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/treeList/focusedRow.ts
Labels: 22_1

#20849 treelist - fixes navigating to focused row (T1058983) (#20848)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/treeList/focusedRow.ts
Labels: cherry-pick, 21_2

#20856 Add sideEffect modules validation (T1054272)
  build/gulp/transpile.js
Labels: type/bug, 21_2

#20825 DataGrid - width becomes incorrect on an attempt to expand a detail row if an error row is visible in the first record (T1058684)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
Labels: 22_1

#20826 DataGrid - width becomes incorrect on an attempt to expand a detail row if an error row is visible in the first record (T1058684)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
Labels: cherry-pick, 21_2

#20827 DataGrid - width becomes incorrect on an attempt to expand a detail row if an error row is visible in the first record (T1058684)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
Labels: cherry-pick, 21_1

#20869 dxChart - Fix aggregating single interval (T1060164)
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
Labels: cherry-pick, 21_1

#20871 dxChart - Fix aggregating single interval (T1060164)
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
Labels: cherry-pick, 22_1

#20868 Scheduler - It should correctly be rendered if virtual scrolling and groupByDate (T1060420)
  js/ui/scheduler/workspaces/helpers/positionHelper.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/testcafe/tests/scheduler/virtualScrolling/resources.ts
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 21_2

#20877 Add sideEffect modules validation (T1054272) (#20856)
  build/gulp/transpile.js
Labels: type/bug, 22_1

#20885 Viz export - add default values for coords of image(T1060306)
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 22_1

#20886 Viz export - add default values for coords of image(T1060306)
  js/exporter/image_creator.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: cherry-pick, 21_2

#20829 Editors Label - Fix editor doesn't provide accessibility information about it's label
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.label.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: cherry-pick, 22_1

#20863 DropDownLists - Stop using composition events to detect IME input for Android devices (T1058956)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: 22_1

#20896 DropDownLists - Stop using composition events to detect IME input for Android devices (T1058956)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: cherry-pick, 21_2

#20897 DropDownLists - Stop using composition events to detect IME input for Android devices (T1058956)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Labels: cherry-pick, 21_1

#20864 pager - fixes the isLargeDisplayMode property calculation when the widget is invisible (T1047513)
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/resizable_container.tsx
Labels: 22_1

#20865 pager - fixes the isLargeDisplayMode property calculation when the widget is invisible (T1047513) (#20864)
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/resizable_container.tsx
Labels: cherry-pick, 21_2

#20903 TagBox: add possibility to change caret position by mousedown (T1046705)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_1

#20902 TagBox: add possibility to change caret position by mousedown (T1046705)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_2

#20876 TagBox: add possibility to change caret position by mousedown (T1046705)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 22_1

#20901 SelectBox - Update dataSource after the delete part of input value by selection and press delete/backspace (T1058326)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 22_1

#20906 SelectBox - Update dataSource after the delete part of input value by selection and press delete/backspace (T1058326)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 21_2

#20907 SelectBox - Update dataSource after the delete part of input value by selection and press delete/backspace (T1058326)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 21_1

#20843 DataGrid: Fix columns synchronization for DataGrid inside editing popup (T1059401)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
Labels: cherry-pick, 21_1

#20845 DataGrid: Fix columns synchronization for DataGrid inside editing popup (T1059401)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
Labels: 22_1

#20844 DataGrid: Fix columns synchronization for DataGrid inside editing popup (T1059401)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
Labels: cherry-pick, 21_2

#20872 HtmlEditor: fix sync of active formatting in the toolbar (T922236)
  js/ui/html_editor/modules/toolbar.js
  testing/testcafe/tests/editors/etalons/htmleditor-with-toolbar-focused.png
  testing/testcafe/tests/editors/htmlEditor.ts
  testing/testcafe/tests/editors/pages/t922236.html
  testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
Labels: 22_1

#20910 Add node version to renovate.json constraints
  renovate.json
Labels: 22_1

#20900 Update generators to 3.0.4
  package-lock.json
  package.json
Labels: 22_1

#20909 HtmlEditor: fix sync of active formatting in the toolbar (T922236) (#20872)
  js/ui/html_editor/modules/toolbar.js
  testing/testcafe/tests/editors/htmlEditor.ts
  testing/testcafe/tests/editors/pages/t922236.html
Labels: cherry-pick, 21_1

#20892 Editors Label - Fix editor doesn't provide accessibility information about it's label (Form)
  js/ui/form/components/field_item.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 22_1

#20924 Update devextreme-quill version
  package.json
Labels: cherry-pick, 21_1

#20908 HtmlEditor: fix sync of active formatting in the toolbar (T922236) (#20872)
  js/ui/html_editor/modules/toolbar.js
  testing/testcafe/tests/editors/etalons/htmleditor-with-toolbar-focused.png
  testing/testcafe/tests/editors/htmlEditor.ts
  testing/testcafe/tests/editors/pages/t922236.html
Labels: cherry-pick, 21_2

#20922 Update devextreme-quill version
  package-lock.json
  package.json
Labels: 22_1

#20889 DataGrid - Custom options are not applied to exportButton when located in the toolbar's overflow menu (T1061071)
  js/ui/data_grid/ui.data_grid.export.js
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-in-menu.png
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 21_2

#20888 DataGrid - Custom options are not applied to exportButton when located in the toolbar's overflow menu (T1061071)
  js/ui/data_grid/ui.data_grid.export.js
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-in-menu.png
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 22_1

#20923 Update devextreme-quill version
  package-lock.json
  package.json
Labels: cherry-pick, 21_2

#20802 Resizable: implement aspect ratio keeping during resize by corner handles
  js/ui/html_editor/modules/resizing.js
  js/ui/resizable.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets/resizable.tests.js
Labels: 22_1

#20926 Scheduler - Cell selection should not affect header cell re-renders (T1061004)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.cellsSelection.tests.js
Labels: 22_1

#20929 Resizable: implement aspect ratio keeping during resize by corner handles (#20802)
  js/ui/html_editor/modules/resizing.js
  js/ui/resizable.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets/resizable.tests.js
Labels: cherry-pick, 21_2

#20930 Resizable: implement aspect ratio keeping during resize by corner handles (#20802)
  js/ui/html_editor/modules/resizing.js
  js/ui/resizable.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets/resizable.tests.js
Labels: cherry-pick, 21_1

#20927 Scheduler - Cell selection should not affect header cell re-renders (T1061004)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/model/scheduler/appointment/tooltip/index.ts
  testing/testcafe/tests/scheduler/appointments/overflowIndicator.ts
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-0.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-1.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.dragging.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/views.cellsSelection.tests.js
Labels: cherry-pick, 21_2

#20879 pager - fixes page size selector and navigation buttons in the compact mode for the material theme (T1057735)
  build/gulp/styles/style-compiler.js
  scss/widgets/material/pager/_index.scss
  scss/widgets/material/pager/_sizes.scss
  testing/testcafe/tests/container.html
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-theme.png
  testing/testcafe/tests/dataGrid/pager.ts
Labels: 22_1

#20880 pager - fixes page size selector and navigation buttons in the compact mode for the material theme (T1057735) (#20879)
  build/gulp/styles/style-compiler.js
  scss/widgets/material/pager/_index.scss
  scss/widgets/material/pager/_sizes.scss
  testing/testcafe/tests/container.html
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-theme.png
  testing/testcafe/tests/dataGrid/pager.ts
Labels: cherry-pick, 21_2

#20932 Scheduler - Cells should be extended according to the view width (T1061728)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/timelines/_index.scss
  testing/testcafe/tests/renovation/scheduler/views/etalons/cell_templates_in_timelineDay.png
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-work-week_all-day_appointments_skip_weekend.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
Labels: 22_1

#20884 DataGrid.PDF - Split grid into pages by Rows
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/pdf_utils_v3.js
  js/exporter/jspdf/v3/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#20804 DataGridLight: Fix plugins for angular
  build/gulp/generator/gulpfile.js
  js/renovation/ui/grids/data_grid_light/pager/__tests__/pager.test.tsx
  js/renovation/ui/grids/data_grid_light/pager/pager.tsx
  js/renovation/ui/grids/data_grid_light/paging/__tests__/paging.test.tsx
  js/renovation/ui/grids/data_grid_light/paging/paging.tsx
  js/renovation/ui/grids/data_grid_light/selection/__tests__/selection.test.tsx
  js/renovation/ui/grids/data_grid_light/selection/selection.tsx
  js/renovation/ui/grids/data_grid_light/views/table_content.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_row.tsx
  js/renovation/utils/plugin/__tests__/getter_extender.test.tsx
  js/renovation/utils/plugin/__tests__/placeholder_extender.test.tsx
  js/renovation/utils/plugin/__tests__/placeholder_item.test.tsx
  js/renovation/utils/plugin/__tests__/value_setter.test.tsx
  js/renovation/utils/plugin/getter_extender.tsx
  js/renovation/utils/plugin/placeholder.tsx
  js/renovation/utils/plugin/placeholder_extender.tsx
  js/renovation/utils/plugin/placeholder_item.tsx
  js/renovation/utils/plugin/placeholder_item_renderer.tsx
  js/renovation/utils/plugin/value_setter.tsx
  scss/widgets/base/_gridBase.scss
  testing/testcafe/tests/renovation/data_grid_light/pager.ts
Labels: 22_1

#20948 Editors - Fix floating label shifting the content of the component after typing the value
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 21_2

#20954 dxScheduler - Add pageLoadMode option to tooltip list(T1062566)
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
Labels: 22_1

#20946 Component wrapper: props should be updated if options are updated on initialized event handler (T1057680)
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/component_wrapper/base.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/editors/editor.ts
Labels: renovation, 22_1

#20955 Component wrapper: props should be updated if options are updated on initialized event handler (T1057680)
  js/renovation/component_wrapper/button.ts
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/component_wrapper/base.ts
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/editors/editor.ts
Labels: cherry-pick, renovation, 21_2

#20931 tabPanel - rendering the template from two items at once, on top of each other(T1037592)
  scss/widgets/base/_multiView.scss
Labels: 22_1

#20939 File Uploader - Display validation message for the dragged files (T1061979)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 22_1

#20940 File Uploader - Display validation message for the dragged files (T1061979)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_2

#20943 File Uploader - Display validation message for the dragged files (T1061979)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_1

#20962 Fix npm@6
  .node-version
  package-lock.json
  testing/bundlers/package-lock.json
  testing/renovation/package-lock.json
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/tests/modules/bootstrap-extractor.test.ts
Labels: 21_2

#20934 dxScheduler - Correct the behavior when displaying single view(T1061659)
  js/renovation/ui/scheduler/header/__tests__/header.test.tsx
  js/renovation/ui/scheduler/header/view_switcher.ts
  js/ui/scheduler/header/header.js
  js/ui/scheduler/header/utils.js
  js/ui/scheduler/header/viewSwitcher.js
  testing/testcafe/tests/scheduler/header/etalons/drop-down-with-one-view.png
  testing/testcafe/tests/scheduler/header/etalons/scheduler-with-non-empty-toolbar-config.png
  testing/testcafe/tests/scheduler/header/header.ts
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=agenda-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=agenda-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=day-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=day-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=week-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=week-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=workWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=workWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=agenda-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=agenda-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=vertical).png
Labels: 22_1

#20963 tabPanel - rendering the template from two items at once, on top of each other(T1037592) (#20931)
  scss/widgets/base/_multiView.scss
Labels: cherry-pick, 21_1

#20964 tabPanel - rendering the template from two items at once, on top of each other(T1037592) (#20931)
  scss/widgets/base/_multiView.scss
Labels: cherry-pick, 21_2

#20966 Fix list dependencies for dxList (T1061555) (#20956)
  js/ui/list.js
  js/ui/list_light.js
  themebuilder-scss/tests/data/dependencies.ts
  themebuilder-scss/tests/metadata/dependency-collector.test.ts
Labels: cherry-pick, 21_2

#20972 Fix fsevents #2
  package-lock.json
  testing/bundlers/package-lock.json
  themebuilder-scss/package-lock.json
Labels: 21_2

#20965 DataGrid.PDF - Support horizontalAlign for split cells
  js/exporter/jspdf/v3/export_data_grid_3.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#20967 dxScheduler - Correct the behavior when displaying single view(T1061659)
  js/renovation/ui/scheduler/header/__tests__/header.test.tsx
  js/renovation/ui/scheduler/header/view_switcher.ts
  js/ui/scheduler/header/header.js
  js/ui/scheduler/header/utils.js
  js/ui/scheduler/header/viewSwitcher.js
  testing/testcafe/tests/scheduler/header/etalons/drop-down-with-one-view.png
  testing/testcafe/tests/scheduler/header/etalons/scheduler-with-non-empty-toolbar-config.png
  testing/testcafe/tests/scheduler/header/header.ts
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=agenda-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=agenda-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=day-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=day-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=week-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=week-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=workWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=workWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=agenda-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=agenda-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=vertical).png
Labels: 21_2

#20958 dxScheduler - Add pageLoadMode option to tooltip list(T1062566)
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
Labels: 21_2

#20960 dxScheduler - Add pageLoadMode option to tooltip list(T1062566)
  js/ui/scheduler/tooltip_strategies/tooltipStrategyBase.js
  testing/tests/DevExpress.ui.widgets.scheduler/desktopTooltip.tests.js
Labels: 21_1

#20977 Revert "Add sideEffect modules validation (T1054272) (#20856)"
  build/gulp/transpile.js
Labels: 22_1

#20978 Revert "Add sideEffect modules validation (T1054272)"
  build/gulp/transpile.js
Labels: 21_2

#20936 PDF - "show headers on each page while splitting" option
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#20959 Editors - Fix floating label shifting the content of the component after typing the value (T1052269)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: cherry-pick, 22_1

#20981 Get rid of unsupported operating systems: Android 4.4 and less, IOS 9.3 and less.
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
  js/animation/frame.js
  js/core/utils/support.js
  js/events/click.js
  js/events/gesture/emitter.gesture.scroll.js
  js/ui/date_box.d.ts
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.mask.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/lookup.js
  js/ui/map.js
  js/ui/popup/ui.popup.js
  js/ui/tag_box.js
  js/ui/widget/ui.widget.js
  package.json
  scss/widgets/base/list/_index.scss
  testing/tests/DevExpress.core/devices.tests.js
  testing/tests/DevExpress.ui.events/click.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/Renovation/button.tests.js
Labels: type/enhancement, 22_1

#20983 ValidationSummary: publish "refreshValidationGroup" method to resubscribe on group
  js/renovation/ui/form/_toDelete/ui.form.js
  js/ui/form/ui.form.js
  js/ui/validation_group.js
  js/ui/validation_summary.d.ts
  js/ui/validation_summary.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#20980 Add debug info & Trying to stabilize qunit tests
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
Labels: 22_1

#20985 PDF - fix cell height, if wordwrap is enabled and custom font style is used
  js/exporter/jspdf/v3/pdf_utils_v3.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#20975 TextArea: input field size should adapt to the root size (T1060052)
  js/core/utils/size.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 22_1

#20976 Scheduler - All day appointment in workWeek view should correctly skip week end days (T1062742)
  js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay.ts
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-work-week_all-day_appointments_skip_weekend.png
  testing/testcafe/tests/scheduler/appointments/etalons/workweek_all-day_appointments_skip_weekend.png
Labels: 22_1

#20992 Scheduler - All day appointment in workWeek view should correctly skip week end days (T1062742)
  js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay.ts
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-work-week_all-day_appointments_skip_weekend.png
  testing/testcafe/tests/scheduler/appointments/etalons/workweek_all-day_appointments_skip_weekend.png
Labels: cherry-pick, 21_2

#20991 Fix Gantt's Column type declaration
  js/ui/gantt.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#20986 dxScheduler - Fix removing model provider instance (T1063130)
  js/ui/scheduler/instanceFactory.js
  testing/testcafe/tests/scheduler/twoSchedulers.ts
  testing/testcafe/tests/scheduler/virtualScrolling/layout.ts
Labels: 22_1

#20989 TextArea: input field size should adapt to the root size (T1060052)
  js/core/utils/size.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: cherry-pick, 21_2

#20990 TextArea: input field size should adapt to the root size (T1060052)
  js/core/utils/size.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: cherry-pick, 21_1

#20993 dxScheduler - Fix removing model provider instance (T1063130) (#20986)
  js/ui/scheduler/instanceFactory.js
  testing/testcafe/tests/scheduler/twoSchedulers.ts
  testing/testcafe/tests/scheduler/virtualScrolling/layout.ts
Labels: 21_2

#20807 Fix DataSource's store prop typings
  js/data/data_source.d.ts
  js/data/index.d.ts
  js/ui/pivot_grid/data_source.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#20987 TagBox - wait for fieldTemplate textBox initialization before the tags rendering (T1056792)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 22_1

#20994 TagBox - wait for fieldTemplate textBox initialization before the tags rendering (T1056792)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_2

#20961 Export PDF TypeError: Cannot use 'in' operator to search for 'animation' in false (T985272)
  js/exporter/exceljs/export.js
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/commonParts/loadPanel.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: 22_1

#20995 TagBox - wait for fieldTemplate textBox initialization before the tags rendering (T1056792)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_1

#21000 Export PDF TypeError: Cannot use 'in' operator to search for 'animation' in false (T985272) (#20961)
  js/exporter/exceljs/export.js
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/commonParts/loadPanel.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: cherry-pick, 21_2

#20999 Export PDF TypeError: Cannot use 'in' operator to search for 'animation' in false (T985272) (#20961)
  js/exporter/exceljs/export.js
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/commonParts/loadPanel.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: cherry-pick, 21_1

#20979 scrollable: move blinking qunit test to testcafe
  js/renovation/ui/scroll_view/strategy/__tests__/simulated.test.tsx
  js/renovation/ui/scroll_view/strategy/simulated.tsx
  testing/testcafe/model/scrollView/internal/scrollable.ts
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=false,rtl=false,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=false,rtl=false,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=false,rtl=true,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=false,rtl=true,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=true,rtl=false,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=true,rtl=false,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=true,rtl=true,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position after show, useNative=true,rtl=true,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=false,rtl=false,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=false,rtl=false,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=false,rtl=true,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=false,rtl=true,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=true,rtl=false,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=true,rtl=false,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=true,rtl=true,useSimScrollbar=false.png
  testing/testcafe/tests/navigation/scrollable/etalons/Scroll position before hide, useNative=true,rtl=true,useSimScrollbar=true.png
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
  testing/testcafe/tests/navigation/scrollable/visibility.ts
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=both_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=both_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=both_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=both_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=horizontal_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=horizontal_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=horizontal_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=horizontal_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=vertical_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=vertical_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=vertical_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position after show_dir=vertical_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=both_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=both_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=both_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=both_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=horizontal_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=horizontal_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=horizontal_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=horizontal_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=vertical_useNative=false_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=vertical_useNative=false_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=vertical_useNative=true_rtl=false.png
  testing/testcafe/tests/renovation/navigation/scrollView/etalons/Scroll position before hide_dir=vertical_useNative=true_rtl=true.png
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
Labels: 22_1

#20942 DataGrid: Fix adaptive form text alignment in material theme (T1062084)
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/model/dataGrid/command-cell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-item-text.png
Labels: 22_1

#20941 DataGrid: Fix adaptive form text alignment in material theme (T1062084)
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/model/dataGrid/command-cell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-item-text.png
Labels: cherry-pick, 21_2

#20881 DataGrid - Incorrect results for a lookup column when searching in the search panel (T1059631)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 22_1

#20882 DataGrid - Incorrect results for a lookup column when searching in the search panel (T1059631)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 21_2

#20883 DataGrid - Incorrect results for a lookup column when searching in the search panel (T1059631)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 21_1

#20947 TS - fix promise resolving with multiple arguments (T1055063)
  js/core/utils/deferred.d.ts
  js/data/abstract_store.d.ts
  js/data/data_source.d.ts
  js/data/odata/store.d.ts
  testing/typescript/.eslintrc.js
  testing/typescript/consts.ts
  testing/typescript/data/data_source.ts
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: 22_1

#20988 Number localization: fix parsing when '-' is used in prefix stub or '0'/'#' is used in suffix stub (T1061646)
  js/localization/ldml/number.js
  js/localization/number.js
  testing/tests/DevExpress.localization/sharedParts/localization.shared.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 22_1

#21008 Number localization: fix parsing when '-' is used in prefix stub or '0'/'#' is used in suffix stub (T1061646) (#20988)
  js/localization/ldml/number.js
  js/localization/number.js
  testing/tests/DevExpress.localization/sharedParts/localization.shared.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_2
