Repository DevExpress/DevExtreme, pull requests merged in 2022-12, with the labels that each got.

#23328 Button: fix text cropping in compact theme
  scss/widgets/generic/button/_mixins.scss
  scss/widgets/generic/button/_sizes.scss
  testing/testcafe/tests/editors/button/etalons/Button stretch of large text-theme=generic-light-compact.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar1_buttonGroup_openedMenuAppearence_,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar2_buttonGroup_openedMenuAppearence_,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar3_buttonGroup_openedMenuAppearence_,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar4_buttonGroup_openedMenuAppearence_,theme=generic-light-compact.png
Labels: 22_2

#22554 Fix DataChange alias
  ts/aliases.d.ts
Labels: 21_2

#23329 Fix angular repo branch name
  .github/workflows/devextreme_npm_tests.yml
Labels: 22_1

#23332 DateBox, ColorBox: first focused input on tab should have selected text (T1130051)
  js/core/renderer_base.js
  js/ui/color_box/color_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 22_2

#23323 DataGrid - Fix draggable drop location offsetting when dragging row from a different page (T1126013)
  js/ui/sortable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: 22_1

#23315 dxScheduler - fixed esc action issue during resize
  js/ui/scheduler/appointments/appointmentCollection.js
  testing/testcafe/tests/scheduler/resizeAppointments/cancelAppointmentResize.ts
Labels: 22_1

#23344 Suspend resize and drag on escape 22 2
  js/ui/scheduler/appointments/appointmentCollection.js
  testing/testcafe/tests/scheduler/resizeAppointments/cancelAppointmentResize.ts
Labels: cherry-pick, 22_2

#23343 DataGrid - Fix draggable drop location offsetting when dragging row from a different page (T1126013)
  js/ui/sortable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: cherry-pick, 22_2

#23236 TreeList: Fix fixed columns' border width issue in FireFox
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/columnFixing.integration.tests.js
Labels: 22_2

#23238 TreeList: Fix fixed columns' border width issue in FireFox
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/columnFixing.integration.tests.js
Labels: cherry-pick, 21_2

#23354 Change 'latest' to '*' in package.json
  package-lock.json
  package.json
Labels: dependencies, 22_2

#23342 DropDownEditor: no errors and deprecation logs should be logged when dropDownOptions are changed while compnent refreshing (T1129836)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 22_1

#23339 DateBox, ColorBox: first focused input on tab should have selected text (T1130051)
  js/core/renderer_base.js
  js/ui/color_box/color_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 21_2

#23340 DateBox, ColorBox: first focused input on tab should have selected text (T1130051)
  js/core/renderer_base.js
  js/ui/color_box/color_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 22_1

#23365 Set up the initial Angular environment
  package-lock.json
  package.json
  packages/angular/.eslintrc.js
  packages/angular/package.json
  packages/angular/projects/angular/karma.conf.js
  packages/angular/projects/angular/ng-package.json
  packages/angular/projects/angular/package.json
  packages/angular/projects/angular/src/components/radio-group/index.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.module.ts
  packages/angular/projects/angular/src/index.ts
  packages/angular/rollup/package.build.json
  packages/angular/rollup/rollup.config.js
  packages/angular/rollup/rollup.utils.js
  playgrounds/angular/.eslintrc.js
  playgrounds/angular/package.json
  playgrounds/angular/src/app/app.component.ts
  playgrounds/angular/src/app/app.module.ts
  playgrounds/angular/src/app/examples/radio-group/index.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.component.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.module.ts
  playgrounds/angular/src/app/home.component.ts
  playgrounds/angular/src/app/routing/app.routes.ts
  playgrounds/angular/src/app/routing/app.routing-module.ts
Labels: renovation

#23241 DataGrid - editing.editCell was called two times on clicking a cell with showEditorAlways='true' (T1126699)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#23243 DataGrid - editing.editCell was called two times on clicking a cell with showEditorAlways='true' (T1126699)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#23242 DataGrid - editing.editCell was called two times on clicking a cell with showEditorAlways='true' (T1126699)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#23368 Pin 'cldr-core' and 'cldr-numbers-full' versions
  package-lock.json
  package.json
Labels: 22_2

#23327 DataGrid: Fix the focus of the first element instead of the last when adding a new row (T1130497)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-cell-edit-mode-and-new-row-position-last.png
Labels: cherry-pick, 22_2

#23326 DataGrid: Fix the focus of the first element instead of the last when adding a new row (T1130497)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-cell-edit-mode-and-new-row-position-last.png
Labels: 22_1

#23378 Renovation: Rename packages @devexpress -> @devextreme.
  package-lock.json
  package.json
  packages/angular/angular.json
  packages/angular/package-lock.json
  packages/angular/package.json
  packages/angular/projects/angular/ng-package.json
  packages/angular/projects/angular/package.json
  packages/angular/projects/angular/src/index.ts
  packages/angular/tsconfig.json
  packages/components/package.json
  packages/components/rollup/rollup.config.mjs
  packages/components/src/radio-group/index.ts
  packages/core/package-lock.json
  packages/core/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/project.json
  packages/react/rollup/rollup.config.mjs
  packages/react/src/components/radio-button/types.ts
  packages/react/src/components/radio-group/radio-group-context.ts
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/hooks/use-core-state.ts
  playgrounds/angular/package-lock.json
  playgrounds/angular/package.json
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.module.ts
  playgrounds/angular/tsconfig.app.json
  playgrounds/angular/tsconfig.json
  playgrounds/react/package.json
  playgrounds/react/src/examples/radio-button/radio-button-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-controlled-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-uncontrolled-example.tsx
  playgrounds/react/tsconfig.json
  tsconfig.base.json
Labels: renovation

#23385 Renovation: Fix eslint ignore
  .eslintignore
  package.json
Labels: renovation

#23389 Renovation: Fix typo in eslintignore
  .eslintignore
Labels: renovation

#23324 Fix angular repo working directory in action
  .github/workflows/devextreme_npm_tests.yml
Labels: 21_2

#23360 DateBox: enter key should submit form when useMaskBehavior is enabled (T1131035)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 22_2

#23396 DateBox: enter key should submit form when useMaskBehavior is enabled (T1131035)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 22_1

#23313 HtmlEditor - Implement insert image UI(T1126773)
  js/ui/html_editor/ui/formDialog.js
  js/ui/html_editor/utils/image_uploader_helper.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/button.ts
  testing/testcafe/model/fileUploader/fileContent.ts
  testing/testcafe/model/fileUploader/index.ts
  testing/testcafe/model/form/form.ts
  testing/testcafe/model/htmlEditor/dialog/addImageFileForm.ts
  testing/testcafe/model/htmlEditor/dialog/addImageUrlForm.ts
  testing/testcafe/model/htmlEditor/dialog/dialog.ts
  testing/testcafe/model/htmlEditor/dialog/footerToolbar.ts
  testing/testcafe/model/htmlEditor/index.ts
  testing/testcafe/model/htmlEditor/rootToolbar.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/tabs/index.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/model/toolbar/index.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/add-validated-url-image-by-click.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-url-image-after-updated.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-url-image-before-updated.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-validated-url-image-by-enter.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-after-add-image-from-device.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-after-click-add-button-and-validation.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/base64.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/test-image-1.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/test-image-2.png
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/imageUploadIntegration.tests.js
Labels: 22_2

#23376 HtmlEditor: Update the quill version.
  package-lock.json
  package.json
Labels: 22_2

#23377 HtmlEditor: Update the quill version.
  package-lock.json
  package.json
Labels: 22_1

#23398 DateBox: suport both submittion and section switch on enter (T1131035)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 22_2

#23399 DateBox: suport both submittion and section switch on enter (T1131035)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 22_1

#23395 DateBox: enter key should submit form when useMaskBehavior is enabled (T1131035)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 21_2

#23400 Viz - refactoring of smart formatter
  js/viz/axes/smart_formatter.js
Labels: 22_2

#23401 HtmlEditor - Implement insert image UI(T1126773)
  js/ui/html_editor/ui/formDialog.js
  js/ui/html_editor/utils/image_uploader_helper.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/button.ts
  testing/testcafe/model/fileUploader/fileContent.ts
  testing/testcafe/model/fileUploader/index.ts
  testing/testcafe/model/form/form.ts
  testing/testcafe/model/htmlEditor/dialog/addImageFileForm.ts
  testing/testcafe/model/htmlEditor/dialog/addImageUrlForm.ts
  testing/testcafe/model/htmlEditor/dialog/dialog.ts
  testing/testcafe/model/htmlEditor/dialog/footerToolbar.ts
  testing/testcafe/model/htmlEditor/index.ts
  testing/testcafe/model/htmlEditor/rootToolbar.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/tabs/index.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/model/toolbar/dropDownMenu.ts
  testing/testcafe/model/toolbar/index.ts
  testing/testcafe/model/toolbar/toolbar.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/add-validated-url-image-by-click.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-url-image-after-updated.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-url-image-before-updated.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-add-validated-url-image-by-enter.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-after-add-image-from-device.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-after-click-add-button-and-validation.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/base64.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/test-image-1.png
  testing/testcafe/tests/htmlEditor/dialogs/addImage/images/test-image-2.png
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/imageUploadIntegration.tests.js
Labels: cherry-pick, 22_1

#23162 DataGrid - Remove useless property: focusStateEnabled (T1118938)
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#23163 DataGrid - Remove useless property: focusStateEnabled (T1118938)
  js/common/grids.d.ts
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23412 Renovation: Small fixes in the Angular configs.
  packages/angular/.eslintrc.js
  packages/angular/package.json
  packages/angular/projects/angular/ng-package.json
  packages/angular/projects/angular/package.json
  packages/angular/projects/angular/tsconfig.lib.json
  playgrounds/angular/.eslintrc.js
Labels: renovation

#23413 Renovation: The first version of the Angular RG
  packages/angular/projects/angular/src/components/radio-button/index.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.module.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.strategies.ts
  packages/angular/projects/angular/src/components/radio-group/index.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.module.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.service.ts
  packages/angular/projects/angular/src/components/radio-group/types.ts
  packages/angular/projects/angular/src/index.ts
  packages/angular/projects/angular/src/internal/context.ts
  packages/angular/projects/angular/src/internal/index.ts
  packages/angular/projects/angular/src/internal/types.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.component.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.module.ts
Labels: renovation

#23422 Renovation: Fix onChange call for RadioButton inside RadioGroup
  packages/jquery/patch/radio-button-hocs.jsx
  packages/react/src/components/radio-button/radio-button-hocs.tsx
Labels: renovation

#23005 DataGrid - Fix unstable tests
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: 22_2

#23268 DataGrid - It is not possible to navigate to another data page after focusing a row when sortOrder is applied and a lookup column is declared (T1126967)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 22_2

#23269 DataGrid - It is not possible to navigate to another data page after focusing a row when sortOrder is applied and a lookup column is declared (T1126967)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 22_1

#23270 DataGrid - It is not possible to navigate to another data page after focusing a row when sortOrder is applied and a lookup column is declared (T1126967)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_2

#23349 DataGrid - Accessibility - The triggering element is not focused when the header filter popup is closed in certain cases (T1129825)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 22_1

#23348 DataGrid - Accessibility - The triggering element is not focused when the header filter popup is closed in certain cases (T1129825)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 22_2

#23350 DataGrid - Accessibility - The triggering element is not focused when the header filter popup is closed in certain cases (T1129825)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/shared/accessibility.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 21_2

#23437 dxScheduler - removed createDragBehavior for alldaypanel
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 22_2

#23432 ThemeBuilder: allow customize/import contrast theme (T1128574)
  build/gulp/styles/style-compiler.js
  build/gulp/styles/theme-options.js
  themebuilder-scss/src/modules/logger.ts
  themebuilder-scss/src/modules/themes.ts
  themebuilder-scss/tests/modules/themes.test.ts
Labels: 22_2

#23439 scheduler - suspend dragging on escape
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/appointments/appointmentCollection.js
  testing/testcafe/tests/scheduler/dragAndDrop/cancelAppointmentDrag.ts
  testing/testcafe/tests/scheduler/resizeAppointments/cancelAppointmentResize.ts
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: cherry-pick, 22_2

#23441 Fix comparer name
  packages/core/src/utils/__test__/shallow-comparer.test.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/shallow-comparer.ts
  packages/core/src/view-model.ts
Labels: renovation

#23448 Fix env in 'devextreme_npm_tests' workflow
  .github/workflows/devextreme_npm_tests.yml
Labels: 22_2

#23449 Viz - Improve smartFormatter module
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 22_2

#23442 ThemeBuilder: allow customize/import contrast theme (T1128574)
  build/gulp/styles/style-compiler.js
  build/gulp/styles/theme-options.js
  themebuilder-scss/src/modules/logger.ts
  themebuilder-scss/src/modules/themes.ts
  themebuilder-scss/tests/modules/themes.test.ts
Labels: cherry-pick, 22_1

#23409 Gauge: fix the measure function for the triangle indicator (T1131956)
  js/viz/gauges/linear_indicators.js
  testing/tests/DevExpress.viz.gauges/linearMarker.tests.js
Labels: cherry-pick, 21_2

#23451 Angular: Remove dependencies between the radio-button and the radio-group component
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-common/index.ts
  packages/angular/projects/angular/src/components/radio-common/radio-group.service.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
Labels: renovation

#23445 React: Remove dependencies between the radio-button and the radio-group component
  packages/react/src/components/radio-button/radio-button.tsx
  packages/react/src/components/radio-common/index.ts
  packages/react/src/components/radio-common/radio-group-context.ts
  packages/react/src/components/radio-group/radio-group.tsx
Labels: renovation

#23427 DataGrid: Fix displaying of the skeleton loader after changing the dataSource and focusedRowIndex/focusedRowKey options (T1129252)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling-T1129252.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 22_2

#23426 DataGrid: Fix displaying of the skeleton loader after changing the dataSource and focusedRowIndex/focusedRowKey options (T1129252)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling-T1129252.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 22_1

#23144 DataGrid - Fix unstable tests
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 22_1

#23406 DataGrid - Fix incorrect group summaries in export when a "buttons" column is present (T1130167)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: 22_1

#23382 DataGrid: Fix selection with Shift for alternative declaration of column:dataField when virtual scrolling is enabled (T1130614)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 22_2

#23381 DataGrid: Fix selection with Shift for alternative declaration of column:dataField when virtual scrolling is enabled (T1130614)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 22_1

#23457 Temporarily downgrade devextreme-quill version to 1.5.18
  package-lock.json
  package.json
Labels: cherry-pick, 22_1

#23444 Move compatible component types to the @devextreme/interim package
  .eslintignore
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/interim/src/common.d.ts
  packages/interim/src/data/abstract_store.d.ts
  packages/interim/src/data/array_store.d.ts
  packages/interim/src/data/custom_store.d.ts
  packages/interim/src/data/data_source.d.ts
  packages/interim/src/data/index.d.ts
  packages/interim/src/data/local_store.d.ts
  packages/interim/src/data/odata/context.d.ts
  packages/interim/src/data/odata/store.d.ts
  packages/interim/src/index.ts
  packages/interim/src/localization.d.ts
  packages/interim/src/ui/collection/ui.collection_widget.base.d.ts
  packages/interim/src/ui/draggable.d.ts
  packages/interim/src/ui/scroll_view/ui.scrollable.d.ts
  packages/interim/src/ui/sortable.d.ts
  packages/interim/src/ui/widget/ui.widget.d.ts
  packages/interim/tsconfig.package.json
  packages/react/package.json
  packages/react/src/compatible-components/radio-group/compatible-types.ts
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/tsconfig.package.json
  playgrounds/angular/project.json
  playgrounds/react/.babelrc
  playgrounds/react/.eslintrc.js
  playgrounds/react/build/asset-manifest.json
  playgrounds/react/build/index.html
  playgrounds/react/build/static/css/main.ea434c2b.css
  playgrounds/react/build/static/css/main.ea434c2b.css.map
  playgrounds/react/build/static/js/966.771eb6b9.chunk.js
  playgrounds/react/build/static/js/966.771eb6b9.chunk.js.map
  playgrounds/react/build/static/js/main.38014474.js
  playgrounds/react/build/static/js/main.38014474.js.LICENSE.txt
  playgrounds/react/build/static/js/main.38014474.js.map
  playgrounds/react/build/static/media/cat.68d8160c47f99eabf84f.jpeg
  playgrounds/react/build/static/media/dog.f932bd7f4bc458744ea9.webp
  playgrounds/react/package.json
  playgrounds/react/project.json
  playgrounds/react/src/assets/logo192.png
  playgrounds/react/src/assets/logo512.png
  playgrounds/react/src/assets/manifest.json
  playgrounds/react/src/assets/robots.txt
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-example.tsx
  playgrounds/react/src/favicon.ico
  playgrounds/react/src/index.html
  playgrounds/react/tsconfig.json
  playgrounds/react/tsconfig.package.json
  tsconfig.base.json
Labels: renovation

#23356 DataGrid - Rerender occurs on changing editing.changes with two-way binding (T1128881)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#23357 DataGrid - Rerender occurs on changing editing.changes with two-way binding (T1128881)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#23482 fix return type for CustomStore.load() (T1128989)
  js/data/abstract_store.d.ts
  js/data/custom_store.d.ts
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#23458 Update the script that downloads screenshots from TestCafe Dashboard
  package-lock.json
  package.json
Labels: 22_2

#23459 Update the script that downloads screenshots from TestCafe Dashboard
  package-lock.json
  package.json
Labels: 22_1

#23455 TreeList: Fix twitch in virtual scrolling mode (T1129106)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-3.png
  testing/testcafe/tests/treeList/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: cherry-pick, 22_2

#23454 TreeList: Fix twitch in virtual scrolling mode (T1129106)
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/etalons/T1129106-treelist-virtual-scrolling-3.png
  testing/testcafe/tests/treeList/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 22_1

#23485 Renovation: Add the @angular-eslint config for Angular.
  package-lock.json
  packages/angular/.eslintrc.js
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/internal/dynamic-template/view.component.ts
  playgrounds/angular/.eslintrc.js
  playgrounds/angular/angular.json
  playgrounds/angular/package.json
  playgrounds/angular/src/main.ts
Labels: renovation

#23490 DataGrid: Fix highlight rows when the scrolling mode is set to 'virtual' and the rowAlternationEnabled property is set to 'true' (T1131109)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#23491 DataGrid: Fix highlight rows when the scrolling mode is set to 'virtual' and the rowAlternationEnabled property is set to 'true' (T1131109)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_2

#23497 dxScheduler - rename end date path in appointment form
  js/ui/scheduler/appointmentPopup/form.js
Labels: 22_2

#23498 Update devextreme-quill version to 1.5.20
  package-lock.json
  package.json
Labels: 22_2

#23499 Update devextreme-quill version to 1.5.20
  package-lock.json
  package.json
Labels: cherry-pick, 22_1

#23488 Renovation: Implement Angular compatible RG.
  package-lock.json
  packages/angular/package.json
  packages/angular/projects/angular/ng-package.json
  packages/angular/projects/angular/package.json
  packages/angular/projects/angular/src/compatible-components/radio-group/index.ts
  packages/angular/projects/angular/src/compatible-components/radio-group/radio-group-compatible.component.ts
  packages/angular/projects/angular/src/compatible-components/radio-group/radio-group-compatible.module.ts
  packages/angular/projects/angular/src/compatible-directives/template/index.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-common/index.ts
  packages/angular/projects/angular/src/components/radio-common/radio-group-base.component.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/index.ts
  packages/angular/projects/angular/src/internal/apply-pipe/index.ts
  packages/angular/projects/angular/src/internal/index.ts
  packages/interim/package.json
  playgrounds/angular/src/app/examples/radio-group-compat/index.ts
  playgrounds/angular/src/app/examples/radio-group-compat/radio-group-compat-example.component.ts
  playgrounds/angular/src/app/examples/radio-group-compat/radio-group-compat-expr.component.ts
  playgrounds/angular/src/app/examples/radio-group-compat/radio-group-compat-simple.component.ts
  playgrounds/angular/src/app/examples/radio-group-compat/radio-group-compat-template.component.ts
  playgrounds/angular/src/app/examples/radio-group-compat/radio-group-compat.module.ts
  playgrounds/angular/src/app/home.component.ts
  playgrounds/angular/src/app/routing/app.routes.ts
  playgrounds/angular/src/app/routing/app.routing-module.ts
Labels: renovation

#23502 Bump version and update ports
  .github/renovate.json
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  package-lock.json
  package.json
  ports.json
Labels: 23_1

#23316 Popup: move ResizeObserver subscription to renderContent (T1130045)
  js/ui/overlay/ui.overlay.js
  js/ui/popup/ui.popup.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/dropDownBox/etalons/popup_has_correct_height.png
  testing/testcafe/tests/editors/dropDownBox/popup.ts
Labels: 22_2

#23513 Popup: move ResizeObserver subscription to renderContent (T1130045)
  js/ui/overlay/ui.overlay.js
  js/ui/popup/ui.popup.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/dropDownBox/etalons/popup_has_correct_height.png
  testing/testcafe/tests/editors/dropDownBox/popup.ts
Labels: cherry-pick, 23_1

#23512 Popup: move ResizeObserver subscription to renderContent (T1130045)
  js/ui/overlay/ui.overlay.js
  js/ui/popup/ui.popup.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/dropDownBox/etalons/popup_has_correct_height.png
  testing/testcafe/tests/editors/dropDownBox/popup.ts
Labels: cherry-pick, 22_1

#23483 Toolbar: items aren't closed after automatically moving the in/out overflow menu (T1133813)
  js/ui/autocomplete.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 22_2

#23428 DataGrid: Fix the type of calculateFilterExpression's selectedFilterOperation parameter
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23429 DataGrid: Fix the type of calculateFilterExpression's selectedFilterOperation parameter
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#23519 DataGrid: Fix the type of calculateFilterExpression's selectedFilterOperation parameter
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#23520 Gauge: fix the measure function for the triangle indicator (T1131956)
  js/viz/gauges/linear_indicators.js
  testing/tests/DevExpress.viz.gauges/linearMarker.tests.js
Labels: cherry-pick, 22_1

#23493 TreeView: expand animation should work on expandAll (T1126510)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: 22_2

#23514 TreeView: expand animation should work on expenAll (T1126510)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: cherry-pick, 22_1

#23515 TreeView: expand animation should work on expenAll (T1126510)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/expandedItems.js
Labels: cherry-pick, 23_1

#23425 DataGrid: Fix displaying of the skeleton loader after changing the dataSource and focusedRowIndex/focusedRowKey options (T1129252)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling-T1129252.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 21_2

#23518 Toolbar: items aren't closed after automatically moving the in/out overflow menu (T1133813) (#23483)
  js/ui/autocomplete.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 23_1

#23517 Toolbar: items aren't closed after automatically moving the in/out overflow menu (T1133813) (#23483)
  js/ui/autocomplete.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/lookup.js
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 22_1

#23524 Renovation: Make React radio group generic
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-button/radio-button-hocs.tsx
  packages/react/src/components/radio-button/radio-button-internal.tsx
  packages/react/src/components/radio-button/radio-button.tsx
  packages/react/src/components/radio-button/types.ts
  packages/react/src/components/radio-group/radio-group.tsx
  playgrounds/react/src/examples/radio-button/radio-button-example.tsx
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-controlled-example.tsx
Labels: renovation

#23521 CI: Send security notifications
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
Labels: 23_1

#23532 File Manager - fix changing current path after renaming (T1132584)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: cherry-pick, 21_2

#23531 File Manager - fix changing current path after renaming (T1132584)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: cherry-pick, 22_1

#23525 File Manager - fix changing current path after renaming (T1132584)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: 22_2

#23530 File Manager - fix changing current path after renaming (T1132584)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Labels: cherry-pick, 23_1

#23516 Form - Labels in Form inside the Modal Dialog are not shown correctly after upgrading to v22.2.3
  js/ui/form/ui.form.js
  testing/testcafe/helpers/domUtils.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/navigation/form/common.ts
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=lg-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=md-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=xs-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form labels width after render in invisible container-theme=generic-light.png
  testing/testcafe/tests/navigation/form/etalons/Form labels width after render in invisible container-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form with labelLocation=left-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form with labelLocation=right-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
Labels: 22_2

#23555 Form - Labels in Form inside the Modal Dialog are not shown correctly after upgrading to v22.2.3 (#23516)
  js/ui/form/ui.form.js
  testing/testcafe/helpers/domUtils.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/navigation/form/common.ts
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=lg-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=md-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form item padding with screenByWidth=xs-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form labels width after render in invisible container-theme=generic-light.png
  testing/testcafe/tests/navigation/form/etalons/Form labels width after render in invisible container-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form with labelLocation=left-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/Form with labelLocation=right-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_outside,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_outside,colon_true-theme=material-blue-light.png
Labels: cherry-pick, 23_1

#23556 CI: change @rollup/plugin-typescript to rollup-plugin-esbuild
  build/rollup/utils.js
  nx.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/rollup/rollup.config.mjs
  packages/components/tsconfig.package.json
  packages/core/package.json
  packages/core/rollup/rollup.config.mjs
  packages/interim/rollup/rollup.config.mjs
  packages/interim/src/data/query.d.ts
  packages/interim/tsconfig.json
  packages/interim/tsconfig.package.json
  packages/jquery/tsconfig.package.json
  packages/react/tsconfig.package.json
  playgrounds/react/src/index.html
  tsconfig.base.json
  tsconfig.project.json
Labels: renovation

#23559 TestCafe: remove unnecessary test pages (#23552)
  .github/workflows/testcafe_tests.yml
  testing/renovation/platforms/jquery/schedulerAdaptiveRTL.html
  testing/renovation/platforms/jquery/schedulerCellSizesCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerGroupPanelCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerHeaderPanelCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerMaterial.html
  testing/renovation/platforms/jquery/schedulerTimePanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerAdaptiveRTL.html
  testing/renovation/platforms/react/dist/declaration/schedulerCellSizesCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerGroupPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerHeaderPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerMaterial.html
  testing/renovation/platforms/react/dist/declaration/schedulerTimePanelCustomizationContainer.html
  testing/testcafe/helpers/clearPage.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
Labels: cherry-pick, 23_1

#23543 Renovation: Sync jQuery HOCs with React
  packages/jquery/patch/radio-button-hocs.jsx
  packages/react/src/components/radio-button/radio-button-hocs.tsx
Labels: renovation

#23558 TestCafe: remove unnecessary test pages (#23552)
  .github/workflows/testcafe_tests.yml
  testing/renovation/platforms/jquery/schedulerAdaptiveRTL.html
  testing/renovation/platforms/jquery/schedulerCellSizesCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerGroupPanelCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerHeaderPanelCustomizationContainer.html
  testing/renovation/platforms/jquery/schedulerMaterial.html
  testing/renovation/platforms/jquery/schedulerTimePanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerAdaptiveRTL.html
  testing/renovation/platforms/react/dist/declaration/schedulerCellSizesCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerGroupPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerHeaderPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerMaterial.html
  testing/renovation/platforms/react/dist/declaration/schedulerTimePanelCustomizationContainer.html
  testing/testcafe/helpers/clearPage.ts
  testing/testcafe/helpers/domUtils.ts
  testing/testcafe/runner.js
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
Labels: cherry-pick, 22_1

#23562 Popup & Popover: defaultOptions should affect Popups/Popovers used in other components(T1133910)
  js/ui/popover/ui.popover.full.js
  js/ui/popup/ui.popup.full.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 23_1

#23563 Popup & Popover: defaultOptions should affect Popups/Popovers used in other components(T1133910)
  js/ui/popover/ui.popover.full.js
  js/ui/popup/ui.popup.full.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 22_2

#23553 Viz components: Printing shoudl use base64 format (T1136337)
  js/exporter/image_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: cherry-pick, 23_1

#23533 Popup - The close icon is misaligned in material themes (T1135851)
  scss/widgets/base/_toolbar.scss
  scss/widgets/generic/popover/_index.scss
  scss/widgets/generic/popup/_index.scss
  scss/widgets/material/popover/_index.scss
  scss/widgets/material/popup/_index.scss
  scss/widgets/material/popup/_sizes.scss
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
  testing/testcafe/tests/editors/dateBox/dateBoxGeometry.ts
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
Labels: 22_2

#23561 Text Editor - Fix detection of material theme in Firefox when bundled with Vite (T1133609) (#23545)
  js/ui/text_box/ui.text_editor.base.js
Labels: cherry-pick, 23_1

#23560 Text Editor - Fix detection of material theme in Firefox when bundled with Vite (T1133609)
  js/ui/text_box/ui.text_editor.base.js
Labels: cherry-pick, 22_2

#23529 DataGrid: Fix row repaint on editing a column with setCellValue even if repaintChangesOnly is enabled (T1135692)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 22_2

#23528 DataGrid: Fix row repaint on editing a column with setCellValue even if repaintChangesOnly is enabled (T1135692)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 23_1

#23527 DataGrid: Fix row repaint on editing a column with setCellValue even if repaintChangesOnly is enabled (T1135692)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 22_1

#23568 Popup - The close icon is misaligned in material themes (T1135851) (#23533)
  scss/widgets/base/_toolbar.scss
  scss/widgets/generic/popover/_index.scss
  scss/widgets/generic/popup/_index.scss
  scss/widgets/material/popover/_index.scss
  scss/widgets/material/popup/_index.scss
  scss/widgets/material/popup/_sizes.scss
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-grid.png
  testing/testcafe/tests/editors/dateBox/dateBoxGeometry.ts
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without analog clock-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=generic-light.png
  testing/testcafe/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
Labels: cherry-pick, 23_1

#23570 Revert "Viz - Improve smartFormatter module"
  js/viz/axes/smart_formatter.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
Labels: 22_2

#23565 viz ImageCreator: refactor tests
  testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 23_1

#23554 Viz components: Printing must use base64 format (T1136337)
  js/exporter/image_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
Labels: 22_2

#23542 DropDownEditor: should not crush on opening in fullScreen mode(T1135997)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#23541 DropDownEditor: should not crush on opening in fullScreen mode(T1135997)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 21_2

#23536 DropDownEditor: should not crush on opening in fullScreen mode(T1135997)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 22_2

#23501 dxScheduler - rename end date path in appointment form
  js/ui/scheduler/appointmentPopup/form.js
Labels: 22_1

#23566 Renovation: jQuery radio group
  packages/jquery/src/bundle.js
  packages/jquery/src/compatible-radio-group.js
  packages/jquery/src/radio-button.js
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  playgrounds/jquery/index.html
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-example.tsx
Labels: renovation

#23551 DataGrid - try adding ts jsdocs
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Labels: cherry-pick, 22_1

#23550 DataGrid - try adding ts jsdocs
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Labels: cherry-pick, 22_2

#23508 DataGrid - try adding ts jsdocs
  build/gulp/ts.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
Labels: 23_1

#23572 Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: cherry-pick, 23_1

#23571 Gallery - Fix loop slide show when itemTemplate is used in React (T1132935) (#23534)
  js/ui/collection/ui.collection_widget.async.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: cherry-pick, 22_2

#23586 Renovation: Fix jQuery ComponentWrapper _props undefined exception
  packages/interim/src/renovation/component_wrapper/common/component.ts
Labels: renovation

#23585 TestCafe Dashboard Integration: Post test reports from 23.1 to a dedicated project (not "22.2")
  .github/workflows/testcafe_tests.yml
Labels: 23_1

#23577 TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 22_1

#23578 TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 22_2

#23579 TreeList: Fix the "Cannot read properties of undefined (reading 'index')" error is thrown when a custom command button's template is defined (T1136079)
  js/ui/tree_list/ui.tree_list.rows.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 23_1

#23594 DataGrid - Lookup column shows incorrect values if calculateDisplayValue is set to true and the 'form' or 'popup' editing mode is used (T1136955)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 23_1

#23595 DataGrid - Lookup column shows incorrect values if calculateDisplayValue is set to true and the 'form' or 'popup' editing mode is used (T1136955)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_2

#23596 DataGrid - Lookup column shows incorrect values if calculateDisplayValue is set to true and the 'form' or 'popup' editing mode is used (T1136955)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#23601 DataGrid - Revert focusStateEnabled property and add hidden tag
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#23589 Update template_wrapper to support generates js-widgets wrapping
  packages/interim/src/core/utils/common.d.ts
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/interim/src/renovation/component_wrapper/common/mutations_recording.ts
  packages/interim/src/renovation/component_wrapper/common/template_wrapper.ts
  packages/interim/src/renovation/component_wrapper/utils/utils.ts
  packages/jquery/src/compatible-radio-group.js
  packages/jquery/src/component-wrapper.js
  packages/jquery/src/radio-button.js
  playgrounds/jquery/index.html
Labels: renovation
