Repository DevExpress/DevExtreme, pull requests merged in 2022-09, with the labels that each got.

#22471 TagBox\SelectBox: A popup window is displayed with a gap when it's opened the second time if floating labels are used (T1104913)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/tag_box.js
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/label.ts
Labels: WIP, 22_2

#22539 TagBox\SelectBox: A popup window is displayed with a gap when it's opened the second time if floating labels are used (T1104913)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/tag_box.js
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/label.ts
Labels: cherry-pick, 22_1

#22533 Overlay: stop animation on geometry rerendering (T1104748)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 22_1

#22534 Overlay: stop animation on geometry rerendering (T1104748)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_2

#22536 Calendar: Keyboard Support tests
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 22_2

#22541 Calendar: Keyboard Support tests
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: cherry-pick, 22_1

#22540 TagBox\SelectBox: A popup window is displayed with a gap when it's opened the second time if floating labels are used (T1104913)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/tag_box.js
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=filled,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=outlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=floating,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=hidden,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=generic-light.png
  testing/testcafe/tests/editors/tagBox/etalons/label-tag-box-styleMode=underlined,labelMode=static,theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/label.ts
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Labels: cherry-pick, 21_2

#22542 Calendar: Keyboard Support tests
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: cherry-pick, 21_2

#22547 Update internal-tools to v9.1.1
  package-lock.json
  package.json
  ts/dx.all.d.ts
Labels: 22_1

#22430 ShadowDOM: fix missing original event.target
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/events.js
Labels: 22_1

#22516 ShadowDOM: fix missing original event.target
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/events.js
Labels: cherry-pick, 22_2

#22505 DataGrid - TestCafe tests refactoring - Use POM
  testing/testcafe/model/dataGrid/classNames.ts
  testing/testcafe/model/dataGrid/commandCell.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/data/cellEditor.ts
  testing/testcafe/model/dataGrid/data/row.ts
  testing/testcafe/model/dataGrid/headers/dropDownSelectPopup.ts
  testing/testcafe/model/dataGrid/headers/panel.ts
  testing/testcafe/model/dataGrid/headers/row.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/model/dataGrid/overlay.ts
  testing/testcafe/model/dataGrid/pager.ts
  testing/testcafe/model/filterBuilder/dateboxPopup.ts
  testing/testcafe/model/filterBuilder/field.ts
  testing/testcafe/tests/dataGrid/builder.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/dataGrid/grouping.ts
  testing/testcafe/tests/dataGrid/headerPanel.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 22_2

#22552 DateBox with mask: up/down arrow press after mask part focus using click should not revert previous changes of other mask part (T1106659)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 22_2

#22551 DateBox with mask: up/down arrow press after mask part focus using click should not revert previous changes of other mask part (T1106659)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 22_1

#22550 DateBox with mask: up/down arrow press after mask part focus using click should not revert previous changes of other mask part (T1106659)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 21_2

#22560 Update fr.json
  js/localization/messages/fr.json
Labels: area/localization

#22557 Revert "fix(deps): update dependency sass-embedded to v1.54.8 (#22538)"
  package-lock.json
  package.json
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Labels: 22_2

#22544 Scheduler: extends load options in DataSource
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/dataSource/load.ts
Labels: 22_2

#22556 Popup.accessibility: The aria-label attribute in the Popup's Close button is not translated (T1109711)
  js/localization/messages/ar.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/renovation/ui/button.tsx
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 22_2

#22558 Popup.accessibility: The aria-label attribute in the Popup's Close button is not translated (T1109711)
  js/localization/messages/ar.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/renovation/ui/button.tsx
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: cherry-pick, 21_2

#22559 Popup.accessibility: The aria-label attribute in the Popup's Close button is not translated (T1109711)
  js/localization/messages/ar.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/renovation/ui/button.tsx
  testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: cherry-pick, 22_1

#22564 Popup: window resize should not reset content height to not restore content scroll position (T1113123)
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 22_2

#22563 Popup: window resize should not reset content height to not restore content scroll position (T1113123)
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 22_1

#22565 Popup: window resize should not reset content height to not restore content scroll position (T1113123)
  js/ui/overlay/ui.overlay.js
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 21_2

#22528 DataGrid - Paging is not applied in a lookup column's filter row editor (T1111398)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 22_2

#22529 DataGrid - Paging is not applied in a lookup column's filter row editor (T1111398)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: cherry-pick, 22_1

#22584 Form: Required text of template editors overlaps the helpText property (T1107088)
  js/ui/form/components/field_item.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: cherry-pick, 22_2

#22512 DataGrid - Pager - Add aria- attributes (T1109686)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/pager.test.tsx
  js/renovation/ui/pager/common/__tests__/light_button.test.tsx
  js/renovation/ui/pager/common/base_pager_props.ts
  js/renovation/ui/pager/common/light_button.tsx
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/pages/__tests__/page.test.tsx
  js/renovation/ui/pager/pages/page.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#22581 DataGrid - Pager - Add aria- attributes (T1109686)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/pager.test.tsx
  js/renovation/ui/pager/common/__tests__/light_button.test.tsx
  js/renovation/ui/pager/common/base_pager_props.ts
  js/renovation/ui/pager/common/light_button.tsx
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/pages/__tests__/page.test.tsx
  js/renovation/ui/pager/pages/page.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#22589 Form: Required text of template editors overlaps the helpText property (T1107088) (#22584)
  js/ui/form/components/field_item.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: cherry-pick, 21_2

#22588 Form: Required text of template editors overlaps the helpText property (T1107088) (#22584)
  js/ui/form/components/field_item.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Labels: cherry-pick, 22_1

#22572 DataGrid: Fix content render after setting the grouping.autoExpandAll property to true when dataRowTemplate is used (T1112573)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/expanded-groups-content.png
  testing/testcafe/tests/dataGrid/grouping.ts
Labels: cherry-pick, 22_2

#22571 DataGrid: Fix content render after setting the grouping.autoExpandAll property to true when dataRowTemplate is used (T1112573)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/expanded-groups-content.png
  testing/testcafe/tests/dataGrid/grouping.ts
Labels: cherry-pick, 22_1

#22570 DataGrid: Fix content render after setting the grouping.autoExpandAll property to true when dataRowTemplate is used (T1112573)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/expanded-groups-content.png
  testing/testcafe/tests/dataGrid/grouping.ts
Labels: 21_2

#22579 DataGrid - bring back skipped testcafe matrix tests for editing
  testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: 21_2

#22562 DataGrid - fix falsy sortOrder values not applying when filtering is changed in a begin/end update block(T1112142)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: 21_2

#22591 dxVectorMap - fix triggering the document's click event (T1113158)
  js/viz/vector_map/tracker.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Labels: cherry-pick, 22_1

#22590 dxVectorMap - fix triggering the document's click event (T1113158)
  js/viz/vector_map/tracker.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Labels: 22_2

#22595 PivotGrid.export: avoid 'Cannot merge already merged cells' exception
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Labels: 22_2

#22603 DataGrid - fix falsy sortOrder values not applying when filtering is changed in a begin/end update block(T1112142)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: cherry-pick, 22_2

#22604 DataGrid - fix falsy sortOrder values not applying when filtering is changed in a begin/end update block(T1112142)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
Labels: cherry-pick, 22_1

#22592 HtmlEditor: mention's popup should be positioned correctly when mention is inserted on the new line's start (T1087787)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 21_2

#22593 HtmlEditor: mention's popup should be positioned correctly when mention is inserted on the new line's start (T1087787)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 22_1

#22594 HtmlEditor: mention's popup should be positioned correctly when mention is inserted on the new line's start (T1087787)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Labels: 22_2

#22612 Disable sass-embedded package update
  .github/renovate.json
  package-lock.json
  package.json
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
Labels: 22_2

#22614 DataGrid - Fix github code scan alerts
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Labels: cherry-pick, 21_2

#22613 DataGrid - Fix github code scan alerts
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Labels: cherry-pick, 22_1

#22611 DataGrid - Fix github code scan alerts
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.header_filter_core.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Labels: 22_2

#22366 ShadowDOM: grid task
  .github/workflows/qunit_tests-additional-renovation.yml
  js/core/utils/dom.js
  js/core/utils/shadow_dom.js
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  js/ui/pivot_grid/ui.sortable.js
  js/ui/shared/accessibility.js
  testing/helpers/checkDxFontIconHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldsArea.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 22_2

#22618 Add verification task for localization messages
  build/gulp/localization.js
  js/localization/messages/ar.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  package-lock.json
  package.json
Labels: 22_2

#22622 Scheduler (T1114333): Fix removeDroppableClasses error call.
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 22_1

#22628 Update it.json (#22627)
  js/localization/messages/it.json
Labels: area/localization

#22623 Scheduler (T1114333): Fix removeDroppableClasses error call.
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 21_2

#22573 DataGrid - Pager - Add aria- attributes (T1109686)
  build/gulp/generator/gulpfile.js
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/pager.test.tsx
  js/renovation/ui/pager/common/__tests__/light_button.test.tsx
  js/renovation/ui/pager/common/base_pager_props.ts
  js/renovation/ui/pager/common/light_button.tsx
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/pages/__tests__/page.test.tsx
  js/renovation/ui/pager/pages/page.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  testing/tests/Renovation/dataGrid.test.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#22630 TreeView: expandItem returns promise that is not resolved in certain cases (T1114997)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 22_2

#22640 TreeView: expandItem returns promise that is not resolved in certain cases (T1114997)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: cherry-pick, 22_1

#22641 TreeView: expandItem returns promise that is not resolved in certain cases (T1114997) (#22630)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 21_2

#22626 DropDownButton: The list of items doesn't appear in the Toolbar's menu if the toolbar item's 'locateInMenu' is 'auto' (T1102197)
  js/ui/toolbar/strategy/toolbar.singleline.js
  scss/widgets/generic/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=auto.png
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 22_2

#22616 CheckBox: Add possibility to set indeterminate value in UI
  js/renovation/ui/editors/check_box/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box/check_box.tsx
  js/ui/check_box.d.ts
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#22625 Toolbar: get the same appearance for buttonGroup item when item has been initialized via template
  scss/widgets/base/_toolbar.scss
  scss/widgets/generic/toolbar/_index.scss
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/toolbar-menu,theme=generic-light.png
  testing/testcafe/tests/navigation/toolbar/etalons/toolbar-menu,theme=material-blue-light.png
  testing/testcafe/tests/navigation/toolbar/etalons/toolbar-menu-rtl,theme=generic-light.png
  testing/testcafe/tests/navigation/toolbar/etalons/toolbar-menu-rtl,theme=material-blue-light.png
  testing/testcafe/tests/navigation/toolbar/integration.ts
Labels: 22_2

#22644 Fix support bootstrap 5.2
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap3-metadata.ts
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/tests/modules/builder.test.ts
Labels: 22_1

#22649 Fix bootstrap 5
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap3-metadata.ts
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/tests/modules/builder.test.ts
Labels: cherry-pick, 22_2

#22654 Update devextreme-quill version to 1.5.17
  package-lock.json
  package.json
Labels: 22_2

#22653 Update devextreme-quill version to 1.5.17
  package-lock.json
  package.json
Labels: cherry-pick, 22_1

#22652 Update devextreme-quill version to 1.5.17
  package-lock.json
  package.json
Labels: cherry-pick, 21_2

#22658 DataGrid — blinking tests
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 22_1

#22659 DataGrid — blinking tests
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 21_2

#22639 TreeList: Fix updating data via push api when changes with the 'data' property (T1113826)
  js/data/data_source/data_source.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: cherry-pick, 22_2

#22638 TreeList: Fix updating data via push api when changes with the 'data' property (T1113826)
  js/data/data_source/data_source.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: cherry-pick, 22_1

#22637 TreeList: Fix updating data via push api when changes with the 'data' property (T1113826)
  js/data/data_source/data_source.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 21_2

#22633 dxChart - fix zooming empty chart with constantlines (T1102487)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 22_2

#22634 dxChart - fix zooming empty chart with constantlines (T1102487)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: cherry-pick, 22_1

#22643 DropDownButton: The list of items doesn't appear in the Toolbar's menu if the toolbar item's 'locateInMenu' is 'auto' (T1102197) (#22626)
  js/ui/toolbar.js
  scss/widgets/generic/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=auto.png
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: cherry-pick, 21_2

#22642 DropDownButton: The list of items doesn't appear in the Toolbar's menu if the toolbar item's 'locateInMenu' is 'auto' (T1102197) (#22626)
  js/ui/toolbar.js
  scss/widgets/generic/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=auto.png
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: cherry-pick, 22_1

#22661 DataGrid - Add defaultSetCellValue to ColumnBase (T1114862)
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#22662 DataGrid - Add defaultSetCellValue to ColumnBase (T1114862)
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#22663 DataGrid - Add defaultSetCellValue to ColumnBase (T1114862)
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#22624 Scheduler (T1115028): Fix missing options in wrapped resource dataSource.
  js/ui/scheduler/resources/utils.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.dataSource.tests.js
Labels: 22_2

#22619 DataGrid - incorrect pageSizeSelector appearance in nested DataGrid (T1113525)
  scss/widgets/generic/gridBase/_index.scss
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/model/dataGrid/masterRow.ts
  testing/testcafe/tests/dataGrid/etalons/T1113525.page-size-select.png
  testing/testcafe/tests/dataGrid/masterDetail.ts
Labels: 22_2

#22621 DataGrid - incorrect pageSizeSelector appearance in nested DataGrid (T1113525)
  scss/widgets/generic/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/etalons/T1113525.page-size-select.png
  testing/testcafe/tests/dataGrid/masterDetail.ts
Labels: 21_2

#22620 DataGrid - incorrect pageSizeSelector appearance in nested DataGrid (T1113525)
  scss/widgets/generic/gridBase/_index.scss
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/model/dataGrid/masterRow.ts
  testing/testcafe/tests/dataGrid/etalons/T1113525.page-size-select.png
  testing/testcafe/tests/dataGrid/masterDetail.ts
Labels: cherry-pick, 22_1

#22665 Scheduler (T1115028): Fix missing options in wrapped resource dataSource.
  js/ui/scheduler/resources/utils.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.dataSource.tests.js
Labels: cherry-pick, 22_1

#22669 Resolve load method with class instance
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/storeCustom.tests.js
Labels: cherry-pick

#22668 Resolve load method with class instance
  js/data/data_source/data_source.js
  testing/tests/DevExpress.data/storeCustom.tests.js
Labels: cherry-pick

#22532 Datagrid - HighlightDataCell should not trigger on initialization for non-editable cells with cellTemplate (T1109778)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_2

#22682 Datagrid - HighlightDataCell should not trigger on initialization for non-editable cells with cellTemplate (T1109778)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 22_1

#22683 Datagrid - HighlightDataCell should not trigger on initialization for non-editable cells with cellTemplate (T1109778)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 22_2

#22598 DataGrid - bring back skipped testcafe matrix tests for editing
  testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: cherry-pick, 22_1

#22599 DataGrid - bring back skipped testcafe matrix tests for editing
  testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: cherry-pick, 22_2

#22673 Button - The `aria-label` attribute is not changed by specifying it in the elementAttr option (T1115877)
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
Labels: 22_2

#22685 Button - The `aria-label` attribute is not changed by specifying it in the elementAttr option (T1115877) (#22673)
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
Labels: cherry-pick, 22_1

#22686 Button - The `aria-label` attribute is not changed by specifying it in the elementAttr option (T1115877) (#22673)
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
Labels: cherry-pick, 21_2

#22674 Calendar: implement new showWeekNumbers option
  js/core/utils/date.js
  js/ui/calendar.d.ts
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.views.js
  scss/widgets/base/_calendar.scss
  scss/widgets/generic/calendar/_index.scss
  scss/widgets/generic/calendar/_sizes.scss
  scss/widgets/material/calendar/_index.scss
  scss/widgets/material/calendar/_sizes.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/calendar.ts
  testing/testcafe/tests/editors/calendar/calendar.ts
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-and-cell-template.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-last-week.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-rtl-enabled.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-theme=generic-light-compact.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-theme=generic-light.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/calendar/etalons/calendar-with-showWeekNumbers-theme=material-blue-light.png
  testing/tests/DevExpress.core/utils.date.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#22692 Form: The template is not re-evaluated under certain conditions (T1085831)
  js/ui/form/ui.form.item_options_actions.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 22_2

#22695 Form: template is not re-evaluated under certain conditions (T1085831) (#22692)
  js/ui/form/ui.form.item_options_actions.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 22_1

#22698 ColorBox: text input should be empty when value is undefined and editAlphaChannel is true (T1115876)
  js/ui/color_box/color_box.js
  scss/widgets/base/_colorBox.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/colorbox.ts
  testing/testcafe/tests/editors/colorbox/colorbox.ts
  testing/testcafe/tests/editors/colorbox/etalons/colorbox-with-placeholder.png
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 22_1

#22697 ColorBox: text input should be empty when value is undefined and editAlphaChannel is true (T1115876)
  js/ui/color_box/color_box.js
  scss/widgets/base/_colorBox.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/colorbox.ts
  testing/testcafe/tests/editors/colorbox/colorbox.ts
  testing/testcafe/tests/editors/colorbox/etalons/colorbox-with-placeholder.png
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 21_2

#22676 DataGrid - Show editing popup on init if editRowKey is specified (T1113974)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#22677 DataGrid - Show editing popup on init if editRowKey is specified (T1113974)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#22678 DataGrid - Show editing popup on init if editRowKey is specified (T1113974)
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#22703 Update internal-tools to v7.8.3
  package-lock.json
  package.json
  ts/dx.all.d.ts
Labels: 21_2

#22699 DataGrid - Do not return visible columns while stateStoring is still loading (T1115547)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2

#22587 DataGrid - Adaptive detail column should not be available to keyboard navigation while hidden (T1112866)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
Labels: 21_2

#22710 Scheduler: Change etalons after chrome update.
  testing/testcafe/tests/editors/textBox/mask.ts
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
Labels: 22_2

#22704 Scheduler: Fix drag-n-drop an appointment to the left column
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/basic.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-appointment-to-left-column.png
Labels: 22_2

#22675 dxScheduler - added types to start and end dates to load options
  js/data/index.d.ts
  package.json
  ts/dx.all.d.ts
Labels: 22_2

#22705 Form: template is not re-evaluated under certain conditions (T1085831)
  js/ui/form/ui.form.item_options_actions.js
Labels: 22_2

#22693 ColorBox: text input should be empty when value is undefined and editAlphaChannel is true (T1115876)
  js/ui/color_box/color_box.js
  scss/widgets/base/_colorBox.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/colorbox.ts
  testing/testcafe/tests/editors/colorbox/colorbox.ts
  testing/testcafe/tests/editors/colorbox/etalons/colorbox-with-placeholder.png
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: 22_2

#22723 Scheduler: Change etalons after chrome update.
  testing/testcafe/tests/editors/textBox/mask.ts
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
Labels: cherry-pick, 22_1

#22724 Scheduler: Change etalons after chrome update.
  testing/testcafe/tests/editors/textBox/mask.ts
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
Labels: cherry-pick, 21_2

#22721 Scheduler: Fix drag-n-drop an appointment to the left column (#22704)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/basic.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-appointment-to-left-column.png
Labels: cherry-pick, 21_2

#22720 Scheduler: Fix drag-n-drop an appointment to the left column (#22704)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/basic.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-appointment-to-left-column.png
Labels: cherry-pick, 22_1

#22712 DataGrid - Adaptive detail column should not be available to keyboard navigation while hidden (T1112866)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
Labels: cherry-pick, 22_2

#22711 DataGrid - Adaptive detail column should not be available to keyboard navigation while hidden (T1112866)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.integration.tests.js
Labels: cherry-pick, 22_1

#22714 DataGrid - Do not return visible columns while stateStoring is still loading (T1115547)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_2

#22713 DataGrid - Do not return visible columns while stateStoring is still loading (T1115547)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_1

#22716 DataGrid - store selectionFilter correctly when state storing is enabled (T1116383)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 22_2

#22718 DataGrid - store selectionFilter correctly when state storing is enabled (T1116383)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 21_2

#22719 DataGrid - store selectionFilter correctly when state storing is enabled (T1116383)
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 22_1

#22715 Fix mask strategy after chrome update with support input events L2
  js/ui/text_box/utils.support.js
  testing/testcafe/tests/editors/textBox/mask.ts
Labels: 22_2

#22706 Tree View reject pending 'createChildren()' promises (T1114072)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: 22_2

#22725 Form: template is not re-evaluated under certain conditions (T1085831) (#22705)
  js/ui/form/ui.form.item_options_actions.js
Labels: cherry-pick, 22_1

#22730 SelectBox: Focus moves to the component when you click on a disabled button (T1117453)
  scss/widgets/base/_dropDownEditor.scss
  testing/testcafe/tests/editors/selectBox/actionButton.ts
Labels: 22_2

#22684 Menu.accessibility: It is not possible to close hovered menu on escape key click (T1115916)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/menu/ui.menu.js
  testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  testing/testcafe/model/menu/index.ts
  testing/testcafe/tests/navigation/menu/keyboard.ts
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 22_2

#22751 Tree View reject pending 'createChildren()' promises (T1114072) (#22706)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: cherry-pick, 22_1

#22752 Tree View reject pending 'createChildren()' promises (T1114072) (#22706)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Labels: cherry-pick, 21_2

#22750 Fix mask strategy after chrome update and support input events L2 (#22715)
  js/ui/text_box/utils.support.js
  testing/testcafe/tests/editors/textBox/mask.ts
Labels: cherry-pick, 21_2

#22749 Fix mask strategy after chrome update and support input events L2 (#22715)
  js/ui/text_box/utils.support.js
  testing/testcafe/tests/editors/textBox/mask.ts
Labels: cherry-pick, 22_1

#22754 SelectBox: Focus moves to the component when you click on a disabled button (T1117453)
  scss/widgets/base/_dropDownEditor.scss
  testing/testcafe/tests/editors/selectBox/actionButton.ts
Labels: cherry-pick, 21_2

#22753 SelectBox: Focus moves to the component when you click on a disabled button (T1117453)
  scss/widgets/base/_dropDownEditor.scss
  testing/testcafe/tests/editors/selectBox/actionButton.ts
Labels: cherry-pick, 22_1

#22756 TextEditors: The floating label is cut off in the material theme (T1116729)
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/label.ts
Labels: WIP, 22_2

#22746 DataGrid - Fix keyboard navigation breaks if the last row is expanded and collapsed in a master-detail view (T1117801)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: 21_2

#22747 DataGrid - Fix keyboard navigation breaks if the last row is expanded and collapsed in a master-detail view (T1117801)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: cherry-pick, 22_1

#22748 DataGrid - Fix keyboard navigation breaks if the last row is expanded and collapsed in a master-detail view (T1117801)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
Labels: cherry-pick, 22_2

#22680 DataGrid: Fix the 'Cannot read properties of undefined (reading 'length')' error occurs if a cell value does not match a specified mask rule (T1116105)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: cherry-pick, 22_1

#22679 DataGrid: Fix the 'Cannot read properties of undefined (reading 'length')' error occurs if a cell value does not match a specified mask rule (T1116105)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: 21_2

#22762 Menu.accessibility: It is not possible to close hovered menu on escape key click (T1115916) (#22684)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/menu/ui.menu.js
  testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  testing/testcafe/model/menu/index.ts
  testing/testcafe/tests/navigation/menu/keyboard.ts
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 21_2

#22761 Menu.accessibility: It is not possible to close hovered menu on escape key click (T1115916) (#22684)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/menu/ui.menu.js
  testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  testing/testcafe/model/menu/index.ts
  testing/testcafe/tests/navigation/menu/keyboard.ts
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 22_1

#22708 SelectBox: fix adding two items instead of one if acceptCustomValue is enabled (T1116923)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 22_2

#22770 SelectBox: fix adding two items instead of one if acceptCustomValue is enabled (T1116923) (#22708)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 21_2

#22769 SelectBox: fix adding two items instead of one if acceptCustomValue is enabled (T1116923) (#22708)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 22_1

#22681 DataGrid: Fix the 'Cannot read properties of undefined (reading 'length')' error occurs if a cell value does not match a specified mask rule (T1116105)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: cherry-pick, 22_2

#22745 Add bell icon
  icons/dxicons.ttf
  icons/dxicons.woff
  icons/dxicons.woff2
  icons/dxiconsmaterial.ttf
  icons/dxiconsmaterial.woff
  icons/dxiconsmaterial.woff2
  images/icons/generic/bell.svg
  images/icons/material/bell.svg
  scss/widgets/base/_icons.scss
  testing/styles/icon-font.test.ts
Labels: 22_1

#22763 TextEditors: The floating label is cut off in the material theme (T1116729) (#22756)
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/label.ts
Labels: cherry-pick, 22_1

#22764 TextEditors: The floating label is cut off in the material theme (T1116729) (#22756)
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=filled,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=outlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/label-symbols-stylingMode=underlined,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/label.ts
Labels: cherry-pick, 21_2

#22766 DataGrid: The header filter list in the material theme doesn't load new items after reaching the bottom with keyboard navigation (T1117828)
  js/ui/list/ui.list.base.js
  testing/testcafe/tests/editors/list/paging.ts
Labels: cherry-pick, 22_1

#22767 DataGrid: The header filter list in the material theme doesn't load new items after reaching the bottom with keyboard navigation (T1117828)
  js/ui/list/ui.list.base.js
  testing/testcafe/tests/editors/list/paging.ts
Labels: cherry-pick, 21_2

#22760 DataGrid: The header filter list in the material theme doesn't load new items after reaching the bottom with keyboard navigation (T1117828)
  js/ui/list/ui.list.base.js
  testing/testcafe/tests/editors/list/paging.ts
Labels: 22_2

#22773 Calendar: onCellClick should not be fired on week number cells
  js/ui/calendar/ui.calendar.base_view.js
  testing/testcafe/tests/editors/dateBox/label.ts
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 22_2

#22785 extract ValueChangedCallMode enum to common file
  js/common.d.ts
  js/ui/slider.d.ts
  js/viz/range_selector.d.ts
  ts/dx.all.d.ts
Labels: 22_2
