Repository DevExpress/DevExtreme, pull requests merged in 2022-02, with the labels that each got.

#21007 TS - fix promise resolving with multiple arguments (T1055063)
  js/core/utils/deferred.d.ts
  js/data/abstract_store.d.ts
  js/data/data_source.d.ts
  js/data/odata/store.d.ts
  testing/typescript/.eslintrc.js
  testing/typescript/consts.ts
  testing/typescript/data/data_source.ts
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21001 PDF - Fix splitting with enabled wordWrap
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/pdf_utils_v3.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#20998 DataGrid.PDF - Check topLeft for new pages
  js/exporter/jspdf/v3/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#21005 TreeView - The "Select All" section has too much space between a checkbox and text (T1063399)
  scss/widgets/generic/treeView/_sizes.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/treeView/selection/data.js
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/treeView.ts
Labels: 22_1

#21014 TreeView - The "Select All" section has too much space between a checkbox and text (T1063399) (#21005)
  scss/widgets/generic/treeView/_sizes.scss
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/treeView/selection/data.js
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.contrast,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.dark,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=none,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=none,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=normal,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=normal,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=selectAll,selMode='multiple',rtl=false.png
  testing/testcafe/tests/navigation/treeView/selection/etalons/selectAll,theme=generic.light,cbm=selectAll,selMode='multiple',rtl=true.png
  testing/testcafe/tests/navigation/treeView/selection/treeView.ts
Labels: cherry-pick, 21_2

#21015 PDF - Fix tests after merging splitting
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#21013 DataGrid: Fix showEditorAlways if column.lookup is defined with boolean values (T1063568)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 22_1

#21012 DataGrid: Fix showEditorAlways if column.lookup is defined with boolean values (T1063568)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 21_2

#21011 DataGrid: Fix showEditorAlways if column.lookup is defined with boolean values (T1063568)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 21_1

#21026 Button: fix tests on ios10 user agent
  testing/tests/Renovation/button.tests.js
Labels: 22_1

#21016 PDF - default export settings
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/row_utils.js
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.multiline.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.verticalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21023 Core: get rid of Polyfills folder
  js/core/element_data.js
  js/core/polyfills/number.d.ts
  js/core/polyfills/number.js
  js/core/polyfills/promise.js
  js/core/polyfills/weak_map.js
  js/core/utils/ajax.js
  js/core/utils/public_component.js
  js/events/core/events_engine.js
  js/renovation/component_wrapper/common/template_wrapper.ts
  js/renovation/viz/sparklines/bullet.tsx
  js/ui/map.js
  js/ui/map/provider.dynamic.bing.js
  js/ui/map/provider.dynamic.google.js
  js/ui/map/provider.dynamic.js
  js/ui/map/provider.google_static.js
  js/ui/map/provider.js
  js/ui/text_box/ui.text_editor.mask.strategy.default.js
  js/ui/themes.js
  js/ui/toolbar/ui.toolbar.base.js
  js/ui/validation_engine.js
  testing/tests/DevExpress.core/polyfills.weakMap.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: type/enhancement, 22_1

#21020 Refactor TS compilation cases
  testing/typescript/consts.ts
  testing/typescript/data/stores.ts
Labels: 22_1

#21031 Manually reconnect DxValidationSummary to editors (T1036547)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: 21_2

#21019 DataGrid - The Export button has a transparent background (T1063993)
  js/ui/toolbar/ui.toolbar.base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light-compact,items[]locateInMenu=never.png
Labels: 22_1

#21041 Bump DevExtreme
  package.json
Labels: 21_1

#21038 DataGrid - The Export button has a transparent background (T1063993) (#21019)
  js/ui/toolbar/ui.toolbar.base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=material-blue-light-compact,items[]locateInMenu=never.png
Labels: cherry-pick, 21_2

#21036 Refactor TS compilation cases
  testing/typescript/consts.ts
  testing/typescript/data/stores.ts
Labels: cherry-pick, 21_2

#21033 TreeList: Fix error in onDragChange during auto scrolling if virtual scrolling is enabled (T1063585)
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: cherry-pick, 21_2

#21044 trying to fix ts task on drone
  docker-ci.sh
Labels: 21_1

#21032 HtmlEditor - prevent focusOut event on mention popup click (T1063461)
  js/ui/html_editor/modules/popup.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
Labels: 22_1

#21042 Manually reconnect DxValidationSummary to editors (T1036547) (#21031)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: 21_1

#21043 Manually reconnect DxValidationSummary to editors (T1036547) (#21031)
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
Labels: cherry-pick, 22_1

#21035 PDF - Support different measure unit
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/pdf_utils_v3.js
  js/exporter/jspdf/v3/row_utils.js
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.measureUnits.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
Labels: 22_1

#21048 HtmlEditor - prevent focusOut event on mention popup click (T1063461)
  js/ui/html_editor/modules/popup.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
Labels: cherry-pick, 21_1

#21047 HtmlEditor - prevent focusOut event on mention popup click (T1063461)
  js/ui/html_editor/modules/popup.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
Labels: cherry-pick, 21_2

#21052 Scheduler - Rework appointment resizing for all day panel (T1062719)
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/cellPositionCalculator.js
  js/ui/scheduler/appointments/resizing/core.js
  js/ui/scheduler/appointments/resizing/utils.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/testcafe/tests/scheduler/resizeAppointments/allDay.ts
  testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-0.png
  testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-1.png
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-0.tests.js
Labels: 21_2

#21051 Scheduler - Rework appointment resizing for all day panel (T1062719)
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/cellPositionCalculator.js
  js/ui/scheduler/appointments/resizing/core.js
  js/ui/scheduler/appointments/resizing/utils.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/testcafe/tests/scheduler/resizeAppointments/allDay.ts
  testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-0.png
  testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-1.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
Labels: 22_1

#21060 DataGrid: Fix multiple content rendering on dataSource option change if virtual scrolling is enabled (T1056035)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 22_1

#21059 DataGrid: Fix multiple content rendering on dataSource option change if virtual scrolling is enabled (T1056035)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: cherry-pick, 21_2

#21064 Scheduler - Refactoring - Split test of the all day appointments
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-0.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-1.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.dragging.tests.js
Labels: 22_1

#21017 datagrid - fixes multiple selection in the infinite scrolling mode (T1059242)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21018 datagrid - fixes multiple selection in the infinite scrolling mode (T1059242) (#21017)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21050 Events - Fix `normalizeKeyName` behavior when sending input in a non-invariant locale
  js/events/utils/index.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 22_1

#21027 Widget: split active/focus/hover effects in half to fix onInctive/onFocusOut/onHoverEnd events calling after widget disabling
  js/events/short.js
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  js/renovation/utils/subscribe_to_event.ts
Labels: 22_1

#21079 Widget: split active/focus/hover effects in half to fix onInctive/onFocusOut/onHoverEnd events calling after widget disabling
  js/events/short.js
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
  js/renovation/utils/subscribe_to_event.ts
Labels: cherry-pick, 21_2

#21065 DataGrid.PDF - Supports column formats
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
Labels: 22_1

#21062 datagrid - fixes resetting focused cell on page size changes (T1063530)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 22_1

#21063 datagrid - fixes resetting focused cell on page size changes (T1063530)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_2

#21067 dxScheduler - Fix broken layout after triggerResizeEvent when scheduler was invisible(T1063540)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/etalons/scheduler-after-hiding-and-resizing.png
  testing/testcafe/tests/scheduler/workSpace.ts
Labels: 22_1

#21101 treelist - disables range selection with Shift
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 22_1

#21102 treelist - disables range selection with Shift (#21101)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_2

#21104 Scheduler - Refactoring
  js/renovation/ui/scheduler/common.ts
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/timeZoneCalculator/createTimeZoneCalculator.ts
  js/renovation/ui/scheduler/timeZoneCalculator/types.ts
  js/renovation/ui/scheduler/utils/__tests__/data.test.ts
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/instanceFactory.js
  js/ui/scheduler/modelProvider.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 22_1

#21103 dxScheduler - Fix broken layout after triggerResizeEvent when scheduler was invisible(T1063540)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/etalons/scheduler-after-hiding-and-resizing.png
  testing/testcafe/tests/scheduler/workSpace.ts
Labels: cherry-pick, 21_2

#21105 Scheduler - Getting rid of extra code
  js/renovation/ui/scheduler/common.ts
  js/renovation/ui/scheduler/model/__tests__/appointments.test.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/timeZoneCalculator/createTimeZoneCalculator.ts
  js/renovation/ui/scheduler/timeZoneCalculator/types.ts
  js/renovation/ui/scheduler/utils/__tests__/data.test.ts
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/appointments.layout_manager.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/rendering_strategies/strategy.base.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/instanceFactory.js
  js/ui/scheduler/modelProvider.js
  js/ui/scheduler/subscribes.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Labels: 21_2

#21085 Fix double onSelectionChanged
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 22_1

#21106 Scheduler - Refactoring
  js/ui/scheduler/appointments/resizing/core.js
  js/ui/scheduler/appointments/resizing/utils.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Labels: 22_1

#21111 Scheduler - Refactoring (#21106)
  js/ui/scheduler/appointments/resizing/core.js
  js/ui/scheduler/appointments/resizing/utils.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Labels: 21_2

#21107 Fix double onSelectionChanged (T1020953) (#21085)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 21_2

#21081 DataGrid: Fix adding row second time in angular if dataSource is array, editing.mode is cell and validationRules are defined (T1064325)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21080 DataGrid: Fix adding row second time in angular if dataSource is array, editing.mode is cell and validationRules are defined (T1064325)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21116 TestRunner - install dotnet v 2.1 for qunit tests
  .github/workflows/CI.yml
  .github/workflows/qunit_tests.yml
Labels: 21_1

#21098 DataGrid - editing.changes - remove highlight if current row is editing
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 22_1

#21099 DataGrid - editing.changes - remove highlight if current row is editing
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_2

#21100 DataGrid - editing.changes - remove highlight if current row is editing
  js/ui/grid_core/ui.grid_core.editing.js
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_1

#21120 Sortable: move useKeyboard check from viewModel to event handler to fix native angular compilation
  js/renovation/ui/scroll_view/strategy/simulated.tsx
Labels: 22_1

#21109 DataGrid.PDF - Supports styles from DataGrid
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
Labels: 22_1

#21061 PDF - rtl implementation (without splitting)
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/pdf_utils_v3.js
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21097 dxScheduler - remove getResourceItem method that perform to modify data object (T1050290)
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/resources/utils.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Labels: 21_2

#21113 RangeSelector - Rework axis inheritance(T1066265)
  js/viz/range_selector/range_selector.js
Labels: cherry-pick, 21_2

#21112 RangeSelector - Rework axis inheritance(T1066265)
  js/viz/range_selector/range_selector.js
Labels: 22_1

#21114 RangeSelector - Rework axis inheritance(T1066265)
  js/viz/range_selector/range_selector.js
Labels: cherry-pick, 21_1

#21076 Chart - Fix mouse event handling after dispose(T1063025)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: 22_1

#21077 Chart - Fix mouse event handling after dispose(T1063025)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: cherry-pick, 21_2

#21078 Chart - Fix mouse event handling after dispose(T1063025)
  js/viz/core/annotations.js
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: cherry-pick, 21_1

#21115 datagrid - fixes focused row when focusedRowKey and dataSource are changed simulatenaously (T1062545)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 22_1

#21117 datagrid - fixes focused row when focusedRowKey and dataSource are changed simulatenaously (T1062545) (#21115)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_2

#21118 datagrid - fixes focused row when focusedRowKey and dataSource are changed simulatenaously (T1062545) (#21115)
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_1

#21124 dxScheduler - remove getResourceItem method that perform to modify data object (T1050290)
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/resources/utils.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Labels: cherry-pick, 22_1

#21056 DataGrid - Row selection becomes incorrect after multiple filtration (T1063462)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 22_1

#21057 DataGrid - Row selection becomes incorrect after multiple filtration (T1063462)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 21_2

#21058 DataGrid - Row selection becomes incorrect after multiple filtration (T1063462)
  js/ui/selection/selection.strategy.deferred.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 21_1

#21082 TreeList - The drop indicator doesn't appear when dragging a node for the 2nd time (T1063579)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 22_1

#21083 TreeList - The drop indicator doesn't appear when dragging a node for the 2nd time (T1063579)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: cherry-pick, 21_2

#21084 TreeList - The drop indicator doesn't appear when dragging a node for the 2nd time (T1063579)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: cherry-pick, 21_1

#21071 Chart - Fix exception on breaks generation(T1062891)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 22_1

#21072 Chart - Fix exception on breaks generation(T1062891)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 21_2

#21073 Chart - Fix exception on breaks generation(T1062891)
  js/viz/axes/tick_generator.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 21_1

#21127 datagrid - fixes redundant load with filter (T1063237)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21128 datagrid - fixes redundant load with filter (T1063237) (#21127)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21130 DataGrid.Pdf - customize border width
  js/exporter/jspdf/v3/draw_utils.js
  js/exporter/jspdf/v3/export_data_grid_3.js
  js/exporter/jspdf/v3/row_utils.js
  js/exporter/jspdf/v3/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderWidths.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.measureUnits.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.multiline.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.verticalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21132 datagrid - disable loadInRange for grouping (T1059242)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21133 datagrid - disable loadInRange for grouping (T1059242) (#21132)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21135 TextEditor: fix focusout after last custom button focusout (T1066348)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 22_1

#21137 TextEditor: fix focusout after last custom button focusout (T1066348)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: cherry-pick, 21_1

#21138 TextEditor: fix focusout after last custom button focusout (T1066348)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: cherry-pick, 21_2

#21136 Scheduler - Fixes for angular generator
  js/renovation/ui/scheduler/props.ts
  testing/renovation/platforms/declaration/scheduler.tsx
Labels: renovation, 22_1

#21121 DataGridLight: Implement master detail
  js/core/index.d.ts
  js/renovation/ui/grids/data_grid_light/__tests__/data_grid_light.test.tsx
  js/renovation/ui/grids/data_grid_light/__tests__/test_data.ts
  js/renovation/ui/grids/data_grid_light/data_grid_light.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/__tests__/expand_column.test.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/__tests__/master_detail.test.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/__tests__/master_detail_row.test.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/expand_column.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/master_detail.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/master_detail_row.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/plugins.tsx
  js/renovation/ui/grids/data_grid_light/selection/__tests__/selection.test.tsx
  js/renovation/ui/grids/data_grid_light/selection/selection.tsx
  js/renovation/ui/grids/data_grid_light/types.ts
  js/renovation/ui/grids/data_grid_light/views/__tests__/table_content.test.tsx
  js/renovation/ui/grids/data_grid_light/views/table_content.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/data_row.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/header_row.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/__tests__/row_base.test.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/row_base.tsx
  scss/widgets/base/_gridBase.scss
  testing/renovation/platforms/declaration/data_grid_light.tsx
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_expand_master_detail.png
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_master_detail.png
  testing/testcafe/tests/renovation/data_grid_light/etalons/data_grid_light_master_detail_with_expandedRowKeys.png
  testing/testcafe/tests/renovation/data_grid_light/master_detail.ts
  ts/dx.all.d.ts
Labels: 22_1

#21037 Overlays: rework container & position.of options processing, implement visualContainer option
  js/renovation/ui/editors/internal/__tests__/editor.test.tsx
  js/renovation/ui/editors/internal/editor.tsx
  js/renovation/ui/overlays/validation_message.tsx
  js/ui/dialog.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/editor/editor.js
  js/ui/file_manager/ui.file_manager.dialog.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/lookup.js
  js/ui/overlay/overlay_position_controller.js
  js/ui/overlay/ui.overlay.js
  js/ui/popup/popup_position_controller.js
  js/ui/popup/ui.popup.js
  js/ui/slider/ui.slider_handle.js
  js/ui/slider/ui.slider_tooltip.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/validation_message.js
  scss/widgets/base/_overlay.scss
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/sliderHandle.tests.js
  testing/tests/DevExpress.ui.widgets.editors/sliderTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationMessage.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurrenceRuleValidation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  testing/tests/DevExpress.ui/tooltip.tests.js
Labels: 22_1

#20887 Toolbar doesn't disable items inside it (T1057126)
  js/ui/drop_down_menu.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  js/ui/toolbar/ui.toolbar.strategy.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.js
  js/ui/toolbar/ui.toolbar.utils.js
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: WIP, 22_1

#21146 scrollable: do not reset scroll position when changing scrollByContent option (T1068878)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: 22_1

#21141 Toolbar - Button with the "danger" type has an incorrect text color when the Generic Dark theme is used (T1068539)
  js/ui/scroll_view/ui.scrollable.js
  scss/widgets/generic/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-dark,items[]locateInMenu=never.png
Labels: 22_1

#21148 Toolbar doesn't disable items inside it (T1057126) (#20887)
  js/ui/drop_down_menu.js
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  js/ui/toolbar/ui.toolbar.strategy.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.js
  js/ui/toolbar/ui.toolbar.utils.js
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: cherry-pick, 21_2

#21149 scrollable: do not reset position when changing scrollByContent option
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Labels: cherry-pick, 21_2

#21150 scrollable: do not reset position when changing scrollByContent option (T1068878)
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
Labels: cherry-pick, 21_1

#21151 Toolbar - Button with the "danger" type has an incorrect text color when the Generic Dark theme is used (T1068539)
  scss/widgets/generic/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-button,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-dropDownButton,theme=generic-dark,items[]locateInMenu=never.png
Labels: cherry-pick, 21_2

#21144 DataGrid.Pdf - Support selectedRowsOnly option
  js/exporter/jspdf/current/export.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.grouping.tests.js
Labels: 22_1

#21154 Split long-running tests, reduce 'stalled' interval
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
Labels: 22_1

#21145 Add deprecated tag to DataGrid's rowTemplate
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21053 Add compilation cases for DataSourceLike narrowing
  testing/typescript/consts.ts
  testing/typescript/data/data_source.ts
Labels: 22_1

#21162 Add compilation cases for DataSourceLike narrowing
  testing/typescript/consts.ts
  testing/typescript/data/data_source.ts
Labels: cherry-pick, 21_2

#21157 Add deprecated tag to DataGrid's rowTemplate
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21161 DataGrid.Pdf - Support load panel
  js/exporter/jspdf/current/export.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.loadPanel.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.tests.js
Labels: 22_1

#21139 pager - showInfo in the compact mode
  js/renovation/ui/pager/__tests__/content.test.tsx
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/content.tsx
  js/renovation/ui/pager/resizable_container.tsx
  scss/widgets/generic/pager/_index.scss
  scss/widgets/material/pager/_index.scss
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-generic-light-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-theme.png
Labels: 22_1

#21140 DataGridLight - improvements
  js/renovation/ui/grids/data_grid_light/__tests__/data_grid_light.test.tsx
  js/renovation/ui/grids/data_grid_light/__tests__/utils.test.ts
  js/renovation/ui/grids/data_grid_light/classes.ts
  js/renovation/ui/grids/data_grid_light/data_grid_light.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/expand_column.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/master_detail.tsx
  js/renovation/ui/grids/data_grid_light/master_detail/master_detail_row.tsx
  js/renovation/ui/grids/data_grid_light/pager/__tests__/pager.test.tsx
  js/renovation/ui/grids/data_grid_light/pager/pager.tsx
  js/renovation/ui/grids/data_grid_light/selection/select_all_checkbox.tsx
  js/renovation/ui/grids/data_grid_light/selection/select_checkbox.tsx
  js/renovation/ui/grids/data_grid_light/selection/selection.tsx
  js/renovation/ui/grids/data_grid_light/types.ts
  js/renovation/ui/grids/data_grid_light/utils.ts
  js/renovation/ui/grids/data_grid_light/views/__tests__/table_content.test.tsx
  js/renovation/ui/grids/data_grid_light/views/table_content.tsx
  js/renovation/ui/grids/data_grid_light/views/table_header.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/data_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_cell.tsx
  js/renovation/ui/grids/data_grid_light/widgets/header_row.tsx
  js/renovation/ui/grids/data_grid_light/widgets/row_base.tsx
  js/renovation/ui/grids/data_grid_light/widgets/table.tsx
Labels: 22_1

#21173 Scheduler - Fix for angular - Correct style
  scss/widgets/base/scheduler/views/_index.scss
Labels: renovation, 22_1

#21174 Scheduler - Fix for angular - Replace dynamic component with condition in view
  js/renovation/ui/scheduler/workspaces/base/group_panel/__tests__/group_panel.test.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/group_panel.tsx
Labels: renovation, 22_1

#21159 Upgrade `postcss` to 8.x.x
  .github/workflows/lint.yml
  .stylelintrc.json
  package-lock.json
  package.json
  scss/widgets/base/_dateBox.scss
  scss/widgets/base/_htmlEditor.scss
  scss/widgets/base/_icons.scss
  scss/widgets/base/_numberBox.scss
  scss/widgets/base/colorView/_mixins.scss
  scss/widgets/base/list/_index.scss
  scss/widgets/generic/_colors.scss
  scss/widgets/generic/accordion/_index.scss
  scss/widgets/generic/validation/_index.scss
  scss/widgets/material/_colors.scss
  scss/widgets/material/accordion/_index.scss
  scss/widgets/material/validation/_index.scss
  testing/renovation/package-lock.json
  testing/renovation/package.json
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
  themebuilder-scss/tests/metadata/dependency-collector.test.ts
Labels: 22_1

#21171 Chart - Fix tooltip formating with aggregation(T1067009)
  js/viz/axes/base_axis.js
  js/viz/axes/smart_formatter.js
  js/viz/core/tooltip.js
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 21_2

#21160 Chart - Fix tooltip formating with aggregation(T1067009)
  js/viz/axes/base_axis.js
  js/viz/axes/smart_formatter.js
  js/viz/core/tooltip.js
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 22_1

#21172 Chart - Fix tooltip formating with aggregation(T1067009)
  js/viz/axes/base_axis.js
  js/viz/axes/smart_formatter.js
  js/viz/core/tooltip.js
  js/viz/series/points/base_point.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
  testing/tests/DevExpress.viz.core/axisFormatting.tests.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: cherry-pick, 21_1

#21176 Scheduler - Add adaptivity enabled class
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/scheduler.tsx
  testing/testcafe/tests/renovation/scheduler/appointments/etalons/appointment-collector-adaptability-timelineMonth.png
  testing/testcafe/tests/renovation/scheduler/appointments/etalons/scheduler_adaptive_appointments_horizontal_rtl-false.png
  testing/testcafe/tests/renovation/scheduler/appointments/etalons/scheduler_adaptive_appointments_horizontal_rtl-true.png
  testing/testcafe/tests/renovation/scheduler/appointments/etalons/scheduler_adaptive_appointments_vertical_rtl-false.png
  testing/testcafe/tests/renovation/scheduler/appointments/etalons/scheduler_adaptive_appointments_vertical_rtl-true.png
Labels: renovation, 22_1

#21177 Use `opentype.js` instead of `font-carrier` to get rid of `lodash` <4.17.21
  package-lock.json
  package.json
  testing/styles/font-carrier.d.ts
  testing/styles/icon-font.test.ts
  testing/styles/opentype.js.d.ts
Labels: 22_1

#21175 toolbar: remove absolete 'submenuType' option with action sheet strategy
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.action_sheet.js
  js/ui/toolbar/ui.toolbar.strategy.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.js
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  themebuilder-scss/tests/data/dependencies.ts
Labels: 22_1

#21179 treeview: make getScrollable() method public
  js/ui/tree_view.d.ts
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21180 PDF - pass rtl flags to jsPDF
  js/exporter/jspdf/current/draw_utils.js
  js/exporter/jspdf/current/rows_generator.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_old.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part1.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part2.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.test.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid_utils.js
Labels: 22_1

#21188 TestRunner - Update .Net version to 3.1
  .github/workflows/CI.yml
  .github/workflows/qunit_tests.yml
  docker-ci.sh
  testing/runner/Controllers/MainController.cs
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Controllers/ThemesTestController.cs
  testing/runner/Program.cs
  testing/runner/Tools/UIModelHelper.cs
  testing/runner/runner.csproj
Labels: 21_1

#21184 Upgrade: `gulp-footer`, `gulp-template`; Remove: `gulp-uglify`, `run-sequence`
  package-lock.json
  package.json
Labels: 22_1

#21190 TestRunner - Update .Net version to 3.1
  testing/runner/Controllers/MainController.cs
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Controllers/ThemesTestController.cs
  testing/runner/Program.cs
  testing/runner/Tools/UIModelHelper.cs
  testing/runner/runner.csproj
Labels: cherry-pick, 21_2

#21183 treeview: make getScrollable() method public (#21179)
  js/ui/tree_view.d.ts
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21189 Scheduler - Fix - It throw exception while opening appointment popup form with deferredRendering = false (T1069753)
  js/ui/scheduler/appointmentPopup/popup.js
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Labels: 21_2

#21185 DataGrid.Pdf - Wrong horizontal alignment for group columns
  js/exporter/jspdf/current/rows_generator.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
Labels: 22_1

#21192 Scheduler - Fix - It throw exception while opening appointment popup form with deferredRendering = false (T1069753)
  js/ui/scheduler/appointmentPopup/popup.js
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Labels: cherry-pick, 22_1

#21152 dxSheduler - Add marker color and List to tooltip
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/appointment_list.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/delete_button.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/item_layout.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/marker.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/appointment_list.tsx
  js/renovation/ui/scheduler/appointment/tooltip/item_layout.tsx
  js/renovation/ui/scheduler/appointment/tooltip/marker.tsx
  js/renovation/ui/scheduler/appointment/types.ts
Labels: renovation, 21_2

#21070 Configure jest plugin to run only for Devextreme folder in workspace
  .vscode/launch.json
  .vscode/settings.json
Labels: 22_1

#21181 toolbar: remove absolete 'submenuType' option with action sheet strategy (#21175)
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.action_sheet.js
  js/ui/toolbar/ui.toolbar.strategy.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.strategy.js
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  themebuilder-scss/tests/data/dependencies.ts
Labels: cherry-pick, 21_2

#21165 DataGrid: Fix scrolling to a focused row after filtering when autoNavigateToFocusedRow is enabled (T1062536)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 22_1

#21163 DataGrid: Fix scrolling to a focused row after filtering when autoNavigateToFocusedRow is enabled (T1062536)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_1

#21198 Revert "dxSheduler - Add marker color and List to tooltip (#21152)"
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/appointment_list.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/delete_button.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/item_layout.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/__tests__/marker.test.tsx
  js/renovation/ui/scheduler/appointment/tooltip/appointment_list.tsx
  js/renovation/ui/scheduler/appointment/tooltip/item_layout.tsx
  js/renovation/ui/scheduler/appointment/tooltip/marker.tsx
  js/renovation/ui/scheduler/appointment/types.ts
Labels: renovation, 22_1

#21195 datagrid - fixes multiple selection with Shift not on the first data page (T1070776)
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21196 datagrid - fixes multiple selection with Shift not on the first data page (T1070776) (#21195)
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21203 DataGrid: Fix removing a focus from editor in the masterDetail section when the 'a' or 'f' key is pressed (T1069664)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 22_1

#21202 DataGrid: Fix removing a focus from editor in the masterDetail section when the 'a' or 'f' key is pressed (T1069664)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 21_2

#21201 DataGrid: Fix removing a focus from editor in the masterDetail section when the 'a' or 'f' key is pressed (T1069664)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 21_1

#21215 Bump minor version to 21.2.6
  package-lock.json
  package.json
Labels: 21_2

#21205 Overlay: make position.of to be a visual container if container and visualContainer props are not specified (BC retrieve)
  js/ui/overlay/overlay_position_controller.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 22_1

#21216 PDF - Fix stuck if text is too long
  js/exporter/jspdf/current/draw_utils.js
  js/exporter/jspdf/current/pdf_utils.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21200 DataGrid: Add checking for changes and for editRowKey after dataSource change if dataSource is array (T1065721)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21220 Scheduler - Correct condition due to the MVC / Core serialisation
  js/ui/scheduler/appointments/appointmentCollection.js
Labels: 21_2
