Repository DevExpress/DevExtreme, pull requests merged in 2022-11, with the labels that each got.

#23042 dxScheduler - replace AppointmentTemplateData on AppointmentTooltipTemplateData in d.ts
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#23055 TestCafe Dashboard: use a plugin version that logs errors, not throws
  package-lock.json
  package.json
Labels: 22_2

#23044 Slider, RangeSlider: rename callValueChange with valueChangeMode
  js/common.d.ts
  js/ui/range_slider.d.ts
  js/ui/range_slider.js
  js/ui/slider.d.ts
  js/ui/slider/ui.slider.js
  js/viz/range_selector.d.ts
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#23049 Form - The TabPanelOptions.onItemRendered event is not raised (T1124698)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_tabs.tests.js
Labels: cherry-pick, 22_1

#23050 Form - The TabPanelOptions.onItemRendered event is not raised (T1124698)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_tabs.tests.js
Labels: cherry-pick, 21_2

#23048 Form - The TabPanelOptions.onItemRendered event is not raised (T1124698)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_tabs.tests.js
Labels: 22_2

#23067 PivotGridDataSource: make calculateSummaryValue type to accept function returning null (T1124668)
  js/ui/pivot_grid/data_source.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23068 PivotGridDataSource: make calculateSummaryValue type to accept function returning null (T1124668)
  js/ui/pivot_grid/data_source.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#23069 PivotGridDataSource: make calculateSummaryValue type to accept function returning null (T1124668)
  js/ui/pivot_grid/data_source.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#23054 ASP.NET: disable alternative template syntax warning
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 22_2

#22914 Update lt and ca localization files
  js/localization/messages/ca.json
  js/localization/messages/lt.json
Labels: area/localization

#23051 CollectionWidget: reset active state when refresh content (T1110076)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/list/ui.list.base.js
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/list/item.ts
  testing/testcafe/tests/editors/list/common.ts
Labels: 22_2

#23070 Minor fixes and missing keys added to lt and ca
  js/localization/messages/ca.json
  js/localization/messages/lt.json
Labels: area/localization

#23071 CollectionWidget: reset active state when refresh content (T1110076)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/list/ui.list.base.js
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/list/item.ts
  testing/testcafe/tests/editors/list/common.ts
Labels: cherry-pick, 22_1

#23072 CollectionWidget: reset active state when refresh content (T1110076)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/list/ui.list.base.js
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/list/item.ts
  testing/testcafe/tests/editors/list/common.ts
Labels: cherry-pick, 21_2

#23076 Toolbar menu: list item with buttongroup should not have any states
  js/ui/toolbar/internal/ui.toolbar.menu.list.js
  scss/widgets/base/_toolbar.scss
  testing/testcafe/model/toolbar/dropDownMenu.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-dark,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=generic-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light-compact,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
Labels: 22_2

#23074 FileManager - Fix empty files uploading (T1122867)
  js/ui/file_uploader.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 22_1

#23075 FileManager - Fix empty files uploading (T1122867)
  js/ui/file_uploader.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_2

#23082 Tabs: improve the logic of adding 'dx-tabs-stretched' class in case when tabs as template is rendered asynch
  js/ui/tabs.js
Labels: 22_2

#22999 TreeList - Fix scrolling issues with virtual scrolling and wordwrap (T1121483)
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: 21_2

#23083 T1125402 - DataGrid - The pager element is rendered in two lines in the Material theme
  js/renovation/ui/pager/__tests__/resizable_container.test.tsx
  js/renovation/ui/pager/resizable_container.tsx
  js/renovation/ui/pager/utils/get_element_width.ts
Labels: 22_2

#23057 DataGrid - Form edit mode - Fields are not validated if custom setCellValue is set (T1122209)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#23058 DataGrid - Form edit mode - Fields are not validated if custom setCellValue is set (T1122209)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#23059 DataGrid - Form edit mode - Fields are not validated if custom setCellValue is set (T1122209)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#23104 DataGrid Export: remove deprecated 'cell' field as argument of customizeCell handler
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Labels: 22_2

#23111 TreeList - Fix new rows not appearing when index is unspecified (T1123345)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: cherry-pick, 22_2

#23112 TreeList - Fix new rows not appearing when index is unspecified (T1123345)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: cherry-pick, 22_1

#23064 TreeList - Fix new rows not appearing when index is unspecified (T1123345)
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
Labels: 21_2

#23122 Fix 'Copy compared screenshot artifacts' step
  .github/workflows/devextreme_npm_tests.yml
Labels: 22_2

#23130 Scheduler: prepare styles for flex button
  scss/widgets/base/scheduler/_common.scss
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/base/scheduler/layout/_header.scss
  scss/widgets/material/scheduler/_index.scss
  scss/widgets/material/scheduler/_sizes.scss
Labels: 22_2

#23020 DataGrid: Fix flickering/blinking on paging, sorting and other data operations in React 18 (T1107403, T1112852, T1100603)
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 22_1

#23137 Toolbar: use flex for dx-toolbar-items container in multiline mode
  scss/widgets/base/_toolbar.scss
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/buttons-render-in-toolbar-theme=material-blue-light-compact.png
  testing/testcafe/tests/navigation/toolbar/etalons/buttons-render-in-toolbar-theme=material-blue-light.png
Labels: 22_2

#23079 DataGrid - A validation message appears twice in 'form' editing mode (T1121812)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#23080 DataGrid - A validation message appears twice in 'form' editing mode (T1121812)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#23081 DataGrid - A validation message appears twice in 'form' editing mode (T1121812)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#23143 test cafe: split editor's & datagrid's tests
  .github/workflows/testcafe_tests.yml
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 22_2

#23114 FileManager - empty files loading additional fix (T1122867)
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  js/ui/file_manager/ui.file_manager.notification_manager.js
  js/ui/file_uploader.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 22_2

#23116 FileManager - empty files loading additional fix (T1122867)
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  js/ui/file_manager/ui.file_manager.notification_manager.js
  js/ui/file_uploader.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_2

#23148 test cafe: split editor's & datagrid's tests (#23143)
  .github/workflows/testcafe_tests.yml
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 22_1

#23115 FileManager - empty files loading additional fix (T1122867)
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.file_uploader.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
  js/ui/file_manager/ui.file_manager.notification_manager.js
  js/ui/file_uploader.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 22_1

#23150 Toolbar: styles enchancements for Vue templates specifity
  scss/widgets/base/_toolbar.scss
  scss/widgets/generic/toolbar/_index.scss
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
Labels: 22_2

#23152 Button: get rid of use static line-height property value
  scss/widgets/generic/button/_sizes.scss
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=true.png
Labels: 22_2

#23117 Overlays: remove default animation fields in .d.ts (T1118761)
  js/ui/overlay.d.ts
  js/ui/overlay/ui.overlay.js
  js/ui/popover.d.ts
  js/ui/popup.d.ts
  js/ui/toast.d.ts
Labels: 22_2

#23120 Overlays: remove default animation fields in .d.ts (T1118761)
  js/ui/overlay.d.ts
  js/ui/overlay/ui.overlay.js
  js/ui/popover.d.ts
  js/ui/popup.d.ts
  js/ui/toast.d.ts
Labels: cherry-pick, 21_2

#23121 Overlays: remove default animation fields in .d.ts (T1118761)
  js/ui/overlay.d.ts
  js/ui/overlay/ui.overlay.js
  js/ui/popover.d.ts
  js/ui/popup.d.ts
  js/ui/toast.d.ts
Labels: cherry-pick, 22_1

#23153 Toolbar: get rid of use additional class for separator
  scss/widgets/base/_toolbar.scss
Labels: 22_2

#23154 Button: container should be stretched if the font-size of text is large
  testing/testcafe/tests/editors/button/common.ts
  testing/testcafe/tests/editors/button/etalons/buttons-stretch-of-large-text-theme=generic-light-compact.png
  testing/testcafe/tests/editors/button/etalons/buttons-stretch-of-large-text-theme=generic-light.png
  testing/testcafe/tests/editors/button/etalons/buttons-stretch-of-large-text-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/button/etalons/buttons-stretch-of-large-text-theme=material-blue-light.png
Labels: 22_2

#23160 DataGrid: Fix flickering/blinking on paging, sorting and other data operations in React 18 (T1107403, T1112852, T1100603)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/helpers/baseDataGridHelper.js
  testing/helpers/dataGridHelper.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.knockout/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 22_2

#23145 TreeView: focusing of elements in the direct order (T1109632)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
Labels: 22_2

#23151 Errors: update an editor error message
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: 22_2

#23166 TreeView: Remove deprecated 'getSelectedNodesKeys' option
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/selection.js
Labels: 22_2

#23165 Button: The "type" option does not accept the "back" value
  js/renovation/ui/__tests__/button.test.tsx
  js/renovation/ui/button.tsx
Labels: 22_2

#23177 TreeView: focusing of elements in the direct order (T1109632)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
Labels: cherry-pick, 22_1

#23178 TreeView: focusing of elements in the direct order (T1109632)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
Labels: cherry-pick, 21_2

#23180 Errors: update an editor error message
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: cherry-pick, 21_2

#23060 DataGrid - update d.ts files (public default methods, this: ColumnBase, public ToolbarItem)
  js/common/grids.d.ts
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23108 Add localization to pager labels (T1124396)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/renovation/ui/pager/page_size/__tests__/large.test.tsx
  js/renovation/ui/pager/page_size/large.tsx
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: 22_2

#23109 Add localization to pager labels (T1124396)
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/renovation/ui/pager/page_size/__tests__/large.test.tsx
  js/renovation/ui/pager/page_size/large.tsx
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Labels: cherry-pick, 22_1

#23179 Errors: update an editor error message
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: cherry-pick, 22_1

#23171 PivotGrid ds & SpeedDialAction: fix lgtm warnings
  js/ui/pivot_grid/data_source.js
  js/ui/speed_dial_action/speed_dial_main_item.js
Labels: 22_2

#23155 Gallery: content should not be removed from component in template when loop is enabled (T1125857)
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 22_2

#23184 PivotGrid ds & SpeedDialAction: fix lgtm warnings
  js/ui/pivot_grid/data_source.js
  js/ui/speed_dial_action/speed_dial_main_item.js
Labels: cherry-pick, 21_2

#23186 Gallery: content should not be removed from component in template when loop is enabled (T1125857)
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: cherry-pick, 21_2

#23183 Review validation rules and viz/common types
  js/common.d.ts
  js/common/charts.d.ts
  js/common/grids.d.ts
  js/ui/form.d.ts
  js/ui/validation_group.d.ts
  js/ui/validation_rules.d.ts
  js/ui/validator.d.ts
  js/viz/chart.d.ts
  js/viz/common.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23185 PivotGrid ds & SpeedDialAction: fix lgtm warnings
  js/ui/pivot_grid/data_source.js
  js/ui/speed_dial_action/speed_dial_main_item.js
Labels: cherry-pick, 22_1

#23188 Toolbar: overflow menu list items should not have focused state
  js/ui/toolbar/internal/ui.toolbar.menu.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 22_2

#23187 Gallery: content should not be removed from component in template when loop is enabled (T1125857)
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: cherry-pick, 22_1

#23196 DataGrid: Refix flickering/blinking on paging, sorting and other dataoperations in React 18 (T1107403, T1112852, T1100603)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.knockout/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 22_2

#23193 Tabs & export: get rid of using code for IE support
  js/ui/tabs.js
  scss/widgets/base/_tabs.scss
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/arrayFindHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 22_2

#23195 Bump DevExtreme version
  package-lock.json
  package.json
Labels: 22_2

#23181 dxScheduler - remove code that lead to break appointment position in all day panel
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/maxAppointmentsPerCell/allDay.ts
  testing/testcafe/tests/scheduler/appointments/maxAppointmentsPerCell/etalons/all-day-appointment-maxAppointmentsPerCell=1.png
Labels: 22_2

#23198 DataGrid: Refix flickering/blinking on paging, sorting and other data operations in React 18 (T1107403, T1112852, T1100603)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 22_1

#23197 DataGrid, PivotGrid, Diagram, Charts: remove deprecated proxyUrl option
  js/exporter.js
  js/exporter/file_saver.js
  js/exporter/image_creator.js
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/diagram.d.ts
  js/ui/diagram/diagram.commands_manager.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.toolbar.js
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid/ui.pivot_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/viz/core/base_widget.d.ts
  js/viz/core/export.js
  js/viz/export.d.ts
  testing/tests/DevExpress.exporter/fileSaver.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/export.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#23203 DataGrid, PivotGrid: remove old deprecated options and types
  js/exporter/excel/excel.doc_comments.d.ts
  js/exporter/excel_creator.js
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid/ui.pivot_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/helpers/pivotGridExportTestsHelper.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/export.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#23202 dxScheduler - remove code that lead to break appointment position in all day panel(T1125239)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/maxAppointmentsPerCell/allDay.ts
  testing/testcafe/tests/scheduler/appointments/maxAppointmentsPerCell/etalons/all-day-appointment-maxAppointmentsPerCell=1.png
Labels: cherry-pick, 22_1

#23096 TreeList - Fix scrolling issues with virtual scrolling and wordwrap (T1121483)
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_1

#23097 TreeList - Fix scrolling issues with virtual scrolling and wordwrap (T1121483)
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_2

#23217 HtmlEditor: Move tests to the separate matrix jobs.
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  testing/runner/Tools/UIModelHelper.cs
  testing/testcafe/tests/htmlEditor/common.ts
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-with-toolbar-focused.png
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-with-toolbar.png
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-without-toolbar-focused.png
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-without-toolbar.png
  testing/testcafe/tests/htmlEditor/format.ts
  testing/tests/DevExpress.serverSide.htmlEditor/__meta.json
  testing/tests/DevExpress.serverSide.htmlEditor/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/__meta.json
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.converterController.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.missingModules.tests.part1.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.missingModules.tests.part2.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converterController.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/imageCursorModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/imageUploadIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/imageUploadModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importQuill.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importTurnDown.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/initFixture.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/multilineIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/popupModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/quillMarkup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/quillRegistrator.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableContextMenuIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableContextMenuModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableResizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableResizingModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/variablesModule.tests.js
Labels: cherry-pick, 22_1

#23213 DataGrid - The "TypeError: Cannot read properties of null (reading 'remoteOperations')" error is thrown if the data source is null (T1123779)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/searchPanel.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: cherry-pick, 22_1

#23206 PivotGrid: Hierarchy icons overlap in fieldChooser in the `IntegratedField Chooser` demo (T1126747)
  scss/widgets/base/pivotGrid/_index.scss
Labels: 22_2

#23225 HtmlEditor: CI fixes.
  .github/workflows/qunit_tests-additional-renovation.yml
Labels: 22_2

#23226 PivotGrid: Hierarchy icons overlap in fieldChooser in the `IntegratedField Chooser` demo (#23206)
  scss/widgets/base/pivotGrid/_index.scss
Labels: cherry-pick, 22_1

#23227 PivotGrid: Hierarchy icons overlap in fieldChooser in the `IntegratedField Chooser` demo (#23206)
  scss/widgets/base/pivotGrid/_index.scss
Labels: cherry-pick, 21_2

#23012 TreeList - Layout is broken if a boolean column is placed in the first position (T1109666)
  scss/widgets/base/_gridBase.scss
  scss/widgets/generic/treeList/_index.scss
  testing/testcafe/tests/treeList/etalons/T1109666-selection.png
  testing/testcafe/tests/treeList/selection.ts
Labels: 22_2

#23233 TreeList - Layout is broken if a boolean column is placed in the first position (T1109666)
  scss/widgets/base/_gridBase.scss
  scss/widgets/generic/treeList/_index.scss
  testing/testcafe/tests/treeList/etalons/T1109666-selection.png
  testing/testcafe/tests/treeList/selection.ts
Labels: cherry-pick, 22_1

#23234 TreeList - Layout is broken if a boolean column is placed in the first position (T1109666)
  scss/widgets/base/_gridBase.scss
  scss/widgets/generic/treeList/_index.scss
  testing/testcafe/tests/treeList/etalons/T1109666-selection.png
  testing/testcafe/tests/treeList/selection.ts
Labels: cherry-pick, 21_2

#23047 DataGrid performs an unnecessary request with the "group" parameter after a user selected a value in a lookup column editor in Filter Row (T1122553)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 22_2

#23235 DataGrid performs an unnecessary request with the "group" parameter after a user selected a value in a lookup column editor in Filter Row (T1122553)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 22_1

#23061 DataGrid - update d.ts files (public default methods, this: ColumnBase, public ToolbarItem)
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#23239 DataGrid: Fix row placeholders render after horizontal scrolling when virtual scrolling is enabled (T1124157)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 21_2

#23246 TreeList: Fix selection with space when there is no data(T1127554)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: 21_2

#23251 TreeList: Fix selection with space when there is no data(T1127554)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: cherry-pick, 22_1

#23248 DataGrid: Fix row placeholders render after horizontal scrolling when virtual scrolling is enabled (T1124157)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_1

#23249 DataGrid: Fix row placeholders render after horizontal scrolling when virtual scrolling is enabled (T1124157)
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_2

#23201 DataGrid - fix cell templates with links in them blocking tab navigation (T1123129)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: 22_1

#23250 TreeList: Fix selection with space when there is no data(T1127554)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/selection.tests.js
Labels: cherry-pick, 22_2

#23254 DataGrid - fix cell templates with links in them blocking tab navigation(T1123129)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
Labels: cherry-pick, 22_2

#23256 dxScheduler - fixed onAppointmentDeleting promise resolved issue
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/appointments/onAppointmentDeleting.ts
Labels: 22_1

#23261 dxScheduler - fixed onAppointmentDeleting promise resolved issue 22_2
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/appointments/onAppointmentDeleting.ts
Labels: cherry-pick, 22_2

#23207 DataGrid - Focus doesn't move if dataRowTemplate is specified - T1125984
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 22_1

#23209 DataGrid - Focus doesn't move if dataRowTemplate is specified - T1125984
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 21_2

#23262 Remove unused rootElementRef
  js/renovation/ui/common/__tests__/dom_component_wrapper.test.tsx
  js/renovation/ui/common/dom_component_wrapper.tsx
Labels: 22_2

#23257 DropDownEditor: add input aria-controls attribute (T1127573)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 22_2

#23263 Reporting Viewer XSS issue (T1128082)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: 22_2

#23273 DropDownEditor: add input aria-controls attribute (T1127573)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 21_2

#23272 DropDownEditor: add input aria-controls attribute (T1127573)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 22_1

#23276 Reporting Viewer XSS issue (T1128082) (#23263)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: cherry-pick, 22_1

#23277 Reporting Viewer XSS issue (T1128082) (#23263)
  js/ui/collection/ui.collection_widget.base.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Labels: cherry-pick, 21_2

#23282 Update context doctag
  js/ui/data_grid.d.ts
  package-lock.json
  package.json
Labels: cherry-pick, 22_1

#23283 Update context doctag
  js/common/grids.d.ts
  js/ui/data_grid.d.ts
  package-lock.json
  package.json
Labels: 22_2

#23288 TestCafe: getting rid of use additional html pages for testing
  testing/testcafe/tests/container.html
  testing/testcafe/tests/containerAspNetData.html
  testing/testcafe/tests/containerMaterial.html
  testing/testcafe/tests/dataGrid/filterRow.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/searchPanel.ts
  testing/testcafe/tests/scheduler/header/header_material.ts
  testing/testcafe/tests/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/scheduler/layout/resources/base/material.ts
  testing/testcafe/tests/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/treeList/columns.ts
Labels: 22_2

#23281 Editors: Floating labels appearance problem when browser is zoomed in Material (T1077981)
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=false-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=true-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active rtl=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=false-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=true-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused rtl=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox label symbols with stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=false-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=true-theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox rtl=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=floating-styleMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox with label-labelMode=floating-stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox with label-labelMode=static-stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=floating-theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined,labelMode=static-theme=material-blue-light.png
  testing/testcafe/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea with label-labelMode=floating-stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea with label-labelMode=static-stylingMode=outlined-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=false-focused-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=false-hover-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=false-invalid focused-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=false-invalid-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=true-focused-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=true-hover-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=true-invalid focused-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=true-invalid-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render rtl=true-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with limited width rtl=false-theme=material-blue-light.png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with limited width rtl=true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_floating,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_floating,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_static,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_false,labelMode_static,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_floating,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_floating,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_static,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_false,optMark_true,labelMode_static,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_floating,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_floating,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_static,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_false,labelMode_static,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_floating,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_floating,colon_true-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_static,colon_false-theme=material-blue-light.png
  testing/testcafe/tests/navigation/form/etalons/SimpleItem,rtl_true,optMark_true,labelMode_static,colon_true-theme=material-blue-light.png
Labels: 22_2

#23304 TestCafe: option method supports change several option simultaneously
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/tests/editors/dateBox/dateBoxGeometry.ts
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar-theme=generic-light.png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar-theme=material-blue-light.png
Labels: 22_2

#23306 Scrollable: skip testing of renovated version
  js/renovation/components.js
  testing/testcafe/tests/renovation/navigation/scrollView/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
Labels: 22_2

#23308 Fix a regression when TestCafe tests failed with a timeout again
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Labels: 22_1
