Repository DevExpress/DevExtreme, pull requests merged in 2022-04, with the labels that each got.

#21397 Viz. Tre to fix tests in FF
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 22_1

#21399 Viz. Fix tests in FF
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 21_1

#21398 Viz. Fix tests in FF
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 21_2

#20505 added missing french messages in fr.json
  js/localization/messages/fr.json
Labels: area/localization, 22_1

#21411 Chart - Add option for manage view of argumentAxis with aggregation(T1068023)
  js/docEnums.js
  js/viz/axes/base_axis.js
  js/viz/chart.d.ts
  js/viz/core/themes/generic.light.js
  js/viz/range_selector.d.ts
  js/viz/series/bar_series.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/scatter_series.js
  js/viz/sparklines/base_sparkline.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21409 TagBox: no excess items should be selected if popup is closed on selectAllValueChanged (T1066477)
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 22_1

#21413 TagBox: no excess items should be selected if popup is closed on selectAllValueChanged (T1066477)
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: cherry-pick, 21_2

#21412 TagBox: no excess items should be selected if popup is closed on selectAllValueChanged (T1066477)
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: cherry-pick, 21_1

#21418 Bumps generator version
  package-lock.json
  package.json
Labels: 22_1

#21419 Chart - Add option for manage view of argumentAxis with aggregation(T1068023)
  js/docEnums.js
  js/viz/axes/base_axis.js
  js/viz/chart.d.ts
  js/viz/core/themes/generic.light.js
  js/viz/range_selector.d.ts
  js/viz/series/bar_series.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/scatter_series.js
  js/viz/sparklines/base_sparkline.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21420 Chart - Add option for manage view of argumentAxis with aggregation(T1068023)
  js/docEnums.js
  js/viz/axes/base_axis.js
  js/viz/chart.d.ts
  js/viz/core/themes/generic.light.js
  js/viz/range_selector.d.ts
  js/viz/series/bar_series.js
  js/viz/series/helpers/range_data_calculator.js
  js/viz/series/scatter_series.js
  js/viz/sparklines/base_sparkline.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.core.series/aggregation.tests.js
  testing/tests/DevExpress.viz.core.series/barSeries.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_1

#21404 hideToasts util: get rid of container parameter
  js/ui/toast/hide_toasts.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21406 pdf export: an exception will occur if hidden fields become visible for export
  js/exporter/jspdf/current/row_utils.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part1.tests.js
Labels: 22_1

#21275 HtmlEditor - add base image uploading functionality
  js/docEnums.js
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/html_editor.d.ts
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/ui/formDialog.js
  js/ui/html_editor/utils/image_uploader_helper.js
  js/ui/html_editor/utils/toolbar_helper.js
  scss/widgets/base/_htmlEditor.scss
  scss/widgets/generic/htmlEditor/_index.scss
  scss/widgets/generic/htmlEditor/_sizes.scss
  scss/widgets/material/_sizes.scss
  scss/widgets/material/htmlEditor/_index.scss
  scss/widgets/material/htmlEditor/_sizes.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/imageUploading.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableContextMenuModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  themebuilder-scss/tests/data/dependencies.ts
  ts/dx.all.d.ts
Labels: 22_1

#21367 Sortable: fix dragging in scenarios with scrollable and windows scale not equal to 100% (T1077903)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 22_1

#21423 PDF - Fix incorrect splitting because of rounding
  js/exporter/jspdf/current/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
Labels: 22_1

#21432 Sortable: fix dragging in scenarios with scrollable and windows scale not equal to 100% (T1077903) (#21367)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 21_1

#21431 Sortable: fix dragging in scenarios with scrollable and windows scale not equal to 100% (T1077903)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 21_2

#21395 DropDownButton: fix right padding for button group item content when arrow button is hidden
  scss/widgets/material/dropDownButton/_index.scss
Labels: cherry-pick, 21_2

#21389 DataGrid: Fix clearing validation state of editors when a user modifies the value of an editor that has a defined setCellValue function (T1077720)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 22_1

#21388 DataGrid: Fix clearing validation state of editors when a user modifies the value of an editor that has a defined setCellValue function (T1077720)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 21_2

#21387 DataGrid: Fix clearing validation state of editors when a user modifies the value of an editor that has a defined setCellValue function (T1077720)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 21_1

#21428 PolarChart - Fix useSpiderWeb option changing(T1069784)
  js/viz/chart_components/base_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
Labels: cherry-pick, 21_1

#21429 PolarChart - Fix useSpiderWeb option changing(T1069784)
  js/viz/chart_components/base_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
Labels: cherry-pick, 21_2

#21430 PolarChart - Fix useSpiderWeb option changing(T1069784)
  js/viz/chart_components/base_chart.js
  js/viz/polar_chart.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
Labels: 22_1

#21417 saving failed screenshots for Renovated NPM
  .github/workflows/devextreme_npm_tests.yml
Labels: 22_1

#21441 DataGrid: Fix display of the grouped rows after changing page when remote group paging is used (T1077558)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: cherry-pick, 22_1

#21440 DataGrid: Fix display of the grouped rows after changing page when remote group paging is used (T1077558)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataSource.tests.js
Labels: 21_2

#21390 datagrid - fixes adding a new row when a row is modified (T1076827)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.editing_row_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21391 datagrid - fixes adding a new row when a row is modified (T1076827) (#21390)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.editing_row_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21392 datagrid - fixes adding a new row when a row is modified (T1076827) (#21390)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  js/ui/grid_core/ui.grid_core.editing_row_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#21437 datagrid - fixes resizing columns (T1078605) (#21436)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
Labels: cherry-pick, 21_2

#21436 datagrid - fixes resizing columns (T1078605)
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
Labels: 22_1

#21400 DataGrid: Fix scroll position reseting on scrolling during refresh call if scrolling.mode is virtual (T1076187)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21401 DataGrid: Fix scroll position reseting on scrolling during refresh call if scrolling.mode is virtual (T1076187)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21416 pivotgrid: it is impossible to change the order of data fields in the Pivot Column Chooser when hidden fields exist in the config file as a data field (T1079461)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/pivotGrid/data.js
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_with_invisible_fields.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 21_1

#21415 pivotgrid: it is impossible to change the order of data fields in the Pivot Column Chooser when hidden fields exist in the config file as a data field (T1079461)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/navigation/pivotGrid/data.js
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_with_invisible_fields.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 21_2

#21442 TS - The Query.select method applies many args (T1079945)
  js/data/query.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21443 TS - The Query.select method applies many args (T1079945)
  js/data/query.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21421 DataGrid: Fix navigation to last row using keyboard after adding new row if scrolling mode is virtual (T1069849)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 21_2

#21422 DataGrid: Fix navigation to last row using keyboard after adding new row if scrolling mode is virtual (T1069849)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 22_1

#21433 DataGrid: Fix warning on using search panel if number column has format as object (T1079297)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 21_2

#21434 DataGrid: Fix warning on using search panel if number column has format as object (T1079297)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 22_1

#21453 Viz. Fix events rising from disabled state(T1072310)
  js/viz/chart_components/base_chart.js
  js/viz/core/base_widget.js
  js/viz/core/base_widget.utils.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
Labels: cherry-pick, 21_2

#21281 Notify: add possibility to stack toasts
  js/ui/notify.d.ts
  js/ui/notify.js
  scss/widgets/base/_toast.scss
  testing/tests/DevExpress.ui/notify.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21448 pdf export: remove duplicate color settings
  js/exporter/jspdf/current/draw_utils.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part1.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderWidths.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.measureUnits.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.multiline.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21468 Update min DevExtreme-Quill version
  package-lock.json
  package.json
Labels: 21_2

#21464 HtmlEditor: Fix component height when the placeholder is set (T1016472)
  scss/widgets/base/_htmlEditor.scss
Labels: cherry-pick, 21_2

#21465 HtmlEditor: Fix component height when the placeholder is set (T1016472)
  scss/widgets/base/_htmlEditor.scss
Labels: cherry-pick, 21_1

#21451 DataGrid: Fix closing cell on button click inside dropdowneditor overlay (T1080088)
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 22_1

#21450 DataGrid: Fix closing cell on button click inside dropdowneditor overlay (T1080088)
  js/ui/grid_core/ui.grid_core.editing_cell_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 21_2

#21467 Update min DevExtreme-Quill version
  package-lock.json
  package.json
Labels: 22_1

#21463 HtmlEditor: Fix component height when the placeholder is set (T1016472)
  scss/widgets/base/_htmlEditor.scss
Labels: 22_1

#21458 treelist - fixes recursive selection with Shift (T1072845)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: 22_1

#21460 treelist - fixes recursive selection with Shift (T1072845) (#21458)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_2

#21461 treelist - fixes recursive selection with Shift (T1072845) (#21458)
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/selection/selection.js
  js/ui/tree_list/ui.tree_list.selection.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: cherry-pick, 21_1

#21452 Viz. Fix events rising from disabled state(T1072310)
  js/viz/chart_components/base_chart.js
  js/viz/core/base_widget.js
  js/viz/core/base_widget.utils.js
  js/viz/core/export.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
Labels: 22_1

#21476 Bump version to 21.2.7
  package-lock.json
  package.json
Labels: 21_2

#21469 Update typescript min version to 4.2
  package-lock.json
  package.json
Labels: 22_1

#21454 Add missing french messages in fr.json
  js/localization/messages/fr.json
Labels: cherry-pick, area/localization, 21_2

#21475 DataGrid: Fix headers disappearing when a row is dragged (T1078513)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Labels: cherry-pick, 22_1

#21474 DataGrid: Fix headers disappearing when a row is dragged (T1078513)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Labels: 21_2

#21459 Localization - Support the fractionalSecondDigits option for Intl (T1079944)
  js/localization/intl/date.js
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.exporter/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljs.pivotGrid.tests.js
  testing/tests/DevExpress.localization/localization.base.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.test.js
  testing/tests/DevExpress.localization/sharedParts/localization.shared.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
Labels: 22_1

#21493 HtmlEditor: Dialog should not pass a href for zero-length selection (T1071494)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: cherry-pick, 21_2

#21466 GHActions - Switch to ubuntu-latest to repair CI
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_dart_tests.yml
  .github/workflows/ts_declarations.yml
  docker-ci.sh
  testing/runner/Controllers/MainController.cs
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Controllers/ThemesTestController.cs
  testing/runner/Program.cs
  testing/runner/Tools/UIModelHelper.cs
  testing/runner/runner.csproj
  testing/testcafe/tests/navigation/form/etalons/Form_color_of_the_marks,theme=material-blue-light.png
  testing/testcafe/tests/renovation/scheduler/layout/templates/etalons/appointment-template-currentView=day.png
  testing/testcafe/tests/renovation/scheduler/layout/templates/etalons/appointment-template-currentView=month.png
  testing/testcafe/tests/renovation/scheduler/layout/templates/etalons/appointment-template-currentView=timelineDay.png
  testing/testcafe/tests/renovation/scheduler/layout/templates/etalons/appointment-template-currentView=timelineWorkWeek.png
  testing/testcafe/tests/renovation/scheduler/layout/templates/etalons/appointment-template-currentView=workWeek.png
Labels: 22_1

#21478 HtmlEditor: Dialog should not pass a href for zero-length selection (T1071494)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
Labels: 22_1

#21498 Update devextreme-quill version
  package-lock.json
  package.json
Labels: 22_1

#21499 Update devextreme-quill version
  package-lock.json
  package.json
Labels: 21_2

#21477 Notify: should reset classes on stack container
  js/ui/notify.js
  testing/tests/DevExpress.ui/notify.tests.js
Labels: 22_1

#21490 ColorBox: fix handles position when closing Popup after drag without changing value (T1080535)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: 22_1

#21492 ColorBox: fix handles position when closing Popup after drag without changing value (T1080535)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 21_2

#21470 Add exceljs, file-saver, jspdf to ZIP packages
  build/gulp/npm.js
  build/gulp/vendor.js
  package-lock.json
  package.json
  playground/angular.html
  playground/jquery.html
  playground/knockout.html
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21496 DataGrid: Fix an unexpected scrolling behavior when columnRenderingMode is virtual (T1076052)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#21494 DataGrid: Fix an unexpected scrolling behavior when columnRenderingMode is virtual (T1076052)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: 21_1

#21495 DataGrid: Fix an unexpected scrolling behavior when columnRenderingMode is virtual (T1076052)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21234 Property type extractor
  js/core/index.d.ts
  testing/testcafe/runner.js
  testing/typescript/core.ts
Labels: type/enhancement, 22_1

#21425 Fix wrong field number in tags
  js/ui/accordion.d.ts
  js/ui/action_sheet.d.ts
  js/ui/button_group.d.ts
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/data_grid.d.ts
  js/ui/draggable.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/editor/editor.d.ts
  js/ui/file_manager.d.ts
  js/ui/file_uploader.d.ts
  js/ui/filter_builder.d.ts
  js/ui/gantt.d.ts
  js/ui/list.d.ts
  js/ui/lookup.d.ts
  js/ui/map.d.ts
  js/ui/menu.d.ts
  js/ui/overlay.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid_field_chooser.d.ts
  js/ui/range_slider.d.ts
  js/ui/scheduler.d.ts
  js/ui/scroll_view/ui.scrollable.d.ts
  js/ui/sortable.d.ts
  js/ui/speed_dial_action.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tag_box.d.ts
  js/ui/tree_list.d.ts
  js/ui/tree_view.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/polar_chart.d.ts
  js/viz/range_selector.d.ts
Labels: 22_1

#21491 ColorBox: fix handles position when closing Popup after drag without changing value (T1080535)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 21_1

#21424 Remove tags for nonexisting fields
  js/ui/button_group.d.ts
  js/ui/gantt.d.ts
  js/ui/map.d.ts
  js/ui/tree_list.d.ts
  js/viz/core/base_widget.d.ts
Labels: 22_1

#21480 pdf export: change folder structure
  js/exporter/jspdf/autotable/export.js
  js/exporter/jspdf/autotable/export_data_grid.js
  js/exporter/jspdf/common/draw_utils.js
  js/exporter/jspdf/common/export.js
  js/exporter/jspdf/common/height_updater.js
  js/exporter/jspdf/common/normalizeOptions.js
  js/exporter/jspdf/common/pdf_utils.js
  js/exporter/jspdf/common/row_utils.js
  js/exporter/jspdf/common/rows_generator.js
  js/exporter/jspdf/common/rows_splitting.js
  js/exporter/jspdf/export_data_grid.js
  js/pdf_exporter.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_autotable.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_old.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part1.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part2.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/autotable/jspdf.options.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/autotable/jspdfTestHelper.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.borderWidths.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.loadPanel.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.measureUnits.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.multiline.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.options.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.table.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.verticalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.wordwrap.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.bands.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderColors.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.borderWidths.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnAutoWidth.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.columnDataTypes.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.customDrawCell.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.grouping.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.horizontalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.loadPanel.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.measureUnits.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.multiline.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.options.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.pageMargin.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.styles.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.summaries.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.verticalAlign.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/v3/jspdf_v3.dataGrid.wordwrap.tests.js
Labels: 22_1

#21509 Update devextreme-quill version
  package.json
Labels: 21_1

#21485 PDF - fix splitting
  js/exporter/jspdf/common/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splitting.tests.js
Labels: 22_1

#21507 toolbar: support all type of buttons with stylingMode setting in material theme
  scss/widgets/base/_toolbar.scss
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
Labels: 22_1

#21520 toolbar: support all type of buttons with stylingMode setting in material theme (#21507)
  scss/widgets/base/_toolbar.scss
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render,theme=material-blue-light,items[]locateInMenu=auto.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-contained-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-outlined-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-dark,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-dark,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=generic-light-compact,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light,items[]locateInMenu=never.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light-compact,items[]locateInMenu=always.png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-with-text-buttons,theme=material-blue-light-compact,items[]locateInMenu=never.png
Labels: cherry-pick, 21_2

#21518 DataGrid: Fix validation message of a nested grid was not displayed if the form editing mode is used in the main grid (T1080084)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.modules.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: cherry-pick, 22_1

#21517 DataGrid: Fix validation message of a nested grid was not displayed if the form editing mode is used in the main grid (T1080084)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.modules.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: cherry-pick, 21_2

#21516 DataGrid: Fix validation message of a nested grid was not displayed if the form editing mode is used in the main grid (T1080084)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.modules.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
Labels: 21_1

#21482 File Manager - Cancel changing current directory after completely cancelled move/copy operation (T1080473)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 22_1

#21483 File Manager - Cancel changing current directory after completely cancelled move/copy operation (T1080473)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_2

#21487 File Uploader - Fix the bytesTotal argument calculation for the onProgress event (T1081131)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 22_1

#21488 File Uploader - Fix the bytesTotal argument calculation for the onProgress event (T1081131)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_2

#21481 Overlay: refactor closeOnOutsideClick deprecation
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 22_1

#21479 Lookup: rename valueChangeEvent to searchStartEvent
  js/ui/lookup.d.ts
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21524 Chart, Polar - Deprecate event.cancel field(T1061174)
  js/viz/chart.d.ts
  js/viz/chart_components/tracker.js
  js/viz/polar_chart.d.ts
  testing/tests/DevExpress.viz.charts/tracker.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21523 Notify: update stack types
  js/ui/notify.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21519 PivotGrid - Data cell alignment issue when the native scroll is used and encodeHtml is set to false (T1081956)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/tests/navigation/pivotGrid/data.js
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=false_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=false_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=true_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=true_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=false_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=false_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=true_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=true_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/pages/T1081956.html
  testing/testcafe/tests/navigation/pivotGrid/scrolling.ts
  testing/testcafe/tests/navigation/pivotGrid/virtualData.js
  testing/testcafe/tests/navigation/pivotGrid/virtualDataOptions.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 22_1

#21522 Add new icons
  icons/dxicons.ttf
  icons/dxicons.woff
  icons/dxicons.woff2
  icons/dxiconsmaterial.ttf
  icons/dxiconsmaterial.woff
  icons/dxiconsmaterial.woff2
  images/icons/generic/img-ar-lock.svg
  images/icons/generic/img-ar-unlock.svg
  images/icons/generic/lock.svg
  images/icons/generic/unlock.svg
  images/icons/material/img-ar-lock.svg
  images/icons/material/img-ar-unlock.svg
  images/icons/material/lock.svg
  images/icons/material/unlock.svg
  scss/widgets/base/_icons.scss
Labels: 22_1

#21531 PivotGrid - Data cell alignment issue when the native scroll is used and encodeHtml is set to false (T1081956) (#21519)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/tests/navigation/pivotGrid/data.js
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=false_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=false_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=true_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_both_scrollbars_useNative=true_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=false_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=false_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=true_mode=standart.png
  testing/testcafe/tests/navigation/pivotGrid/etalons/Rows_sinc_vert_scrollbar_useNative=true_mode=virtual.png
  testing/testcafe/tests/navigation/pivotGrid/pages/T1081956.html
  testing/testcafe/tests/navigation/pivotGrid/scrolling.ts
  testing/testcafe/tests/navigation/pivotGrid/virtualData.js
  testing/testcafe/tests/navigation/pivotGrid/virtualDataOptions.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 21_2

#21527 Notify and FilterBuilder: fix declaration warnings
  js/ui/filter_builder.d.ts
  js/ui/notify.d.ts
Labels: 22_1

#21534 File Manager - Cancel changing current directory after completely cancelled move/copy operation (T1080473)
  js/ui/file_manager/file_items_controller.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_1

#21538 File Uploader - Fix the bytesTotal argument calculation for the onProgress event (T1081131)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_1

#21530 DataGrid - Fix dragged row position after horizontal scrolling when columnRenderingMode is virtual (T1082538)
  js/ui/draggable.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: cherry-pick, 22_1

#21529 DataGrid - Fix dragged row position after horizontal scrolling when columnRenderingMode is virtual (T1082538)
  js/ui/draggable.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: cherry-pick, 21_2

#21528 DataGrid - Fix dragged row position after horizontal scrolling when columnRenderingMode is virtual (T1082538)
  js/ui/draggable.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Labels: 21_1

#21537 DataGrid: Add tests for T1082426
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_1

#21535 DataGrid: Add tests for T1082426
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 21_1

#21536 DataGrid: Add tests for T1082426
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21508 Call cleanData only for node with widget created by knockout integration (T1081028)
  js/integration/knockout/clean_node.js
  js/integration/knockout/utils.js
  testing/tests/DevExpress.knockout/cleanNode.tests.js
Labels: 22_1

#21542 toolbar: fix ddmenu container class name
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
Labels: cherry-pick, 21_2

#21543 toolbar: fix ddmenu container class name
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
Labels: 22_1

#21541 Call cleanData only for node with widget created by knockout integrtaion (T1081028) (#21508)
  js/integration/knockout/clean_node.js
  js/integration/knockout/utils.js
  testing/tests/DevExpress.knockout/cleanNode.tests.js
Labels: cherry-pick, 21_2

#21513 HtmlEditor - add ImageUpload advanced functionality
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/html_editor.d.ts
  js/ui/html_editor.js
  js/ui/html_editor/modules/imageCursor.js
  js/ui/html_editor/modules/imageUpload.js
  js/ui/html_editor/quill_registrator.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/utils/image_uploader_helper.js
  package-lock.json
  package.json
  scss/widgets/base/_htmlEditor.scss
  scss/widgets/generic/htmlEditor/_index.scss
  scss/widgets/material/htmlEditor/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/imageCursorModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/imageUploadIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/imageUploadModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21548 updates packages in react playground
  playground/react/package.json
Labels: 22_1

#21235 DataGrid - add export to pdf button
  js/exporter.js
  js/localization/messages/en.json
  js/localization/messages/ru.json
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.export.js
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/etalons/grid-export-dropdown-button-in-menu.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-dropdown-button.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-in-menu.png
  testing/testcafe/tests/dataGrid/etalons/grid-export-one-button-pdf.png
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/navigation/etalons/toolbar-menu-rtl.png
  testing/testcafe/tests/navigation/etalons/toolbar-menu.png
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
  testing/tests/Renovation/dataGrid.test.js
  ts/dx.all.d.ts
Labels: 22_1

#21544 datagrid - fixes row rendering when refresh mode is repaint and virtual scrolling is enabled (T1082889)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21545 datagrid - fixes row rendering when refresh mode is repaint and virtual scrolling is enabled (T1082889) (#21544)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21555 Update devextreme-quill version
  package-lock.json
  package.json
Labels: 21_2

#21553 HtmlEditor - update localization strings
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/html_editor.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21558 Localization - Update uploader, diagram consts
  js/localization/messages/en.json
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 22_1

#21559 Localization - Update uploader, diagram consts
  js/localization/messages/en.json
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 21_2

#21554 DataGrid - Export - fix SMD
  js/docEnums.js
  js/ui/data_grid.d.ts
Labels: 22_1

#21549 export: get rid using mixin in export
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/grid_core/ui.grid_core.export.js
  js/ui/grid_core/ui.grid_core.export_mixin.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 22_1

#21556 datagrid - fixes focusing row after delete (T1083644)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 22_1

#21557 datagrid - fixes focusing row after delete (T1083644) (#21556)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_2

#21561 datagrid - fixes focusing row after delete (T1083644) (#21556)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_1

#21550 DataGrid - Uncaught TypeError: Cannot read properties of undefined (T1083488)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 22_1

#21551 DataGrid - Uncaught TypeError: Cannot read properties of undefined (T1083488)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21552 DataGrid - Uncaught TypeError: Cannot read properties of undefined (T1083488)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: cherry-pick, 21_1

#21565 HtmlEditor - update localization string
  js/localization/messages/en.json
Labels: 22_1

#21208 DataGrid - Lookup - Display in a filter row/header filter only existing items in a column
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/ui/data_grid.d.ts
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterBuilder.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21564 constextmenu: the <div> container is displayed and submenus remain unchanged when cssClass is set for the container(T1083837)
  js/ui/context_menu/ui.context_menu.js
  js/ui/context_menu/ui.menu_base.js
  js/ui/menu/ui.menu.js
  testing/testcafe/tests/navigation/contextMenu/common.ts
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-contrast.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-dark.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-light.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=material-blue-light-compact.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=material-blue-light.png
  testing/testcafe/tests/navigation/helpers/domUtils.ts
  testing/testcafe/tests/navigation/menu/common.ts
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-contrast.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-dark.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-light.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=material-blue-light-compact.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=material-blue-light.png
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
Labels: 22_1

#21569 DataGrid: Fix row offset when columnFixed and rowDragging are enabled (T1083805)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: cherry-pick, 22_1

#21568 DataGrid: Fix row offset when columnFixed and rowDragging are enabled (T1083805)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: cherry-pick, 21_2

#21567 DataGrid: Fix row offset when columnFixed and rowDragging are enabled (T1083805)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
Labels: 21_1

#21570 export to pdf: fix doc comments
  js/pdf_exporter.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21580 Slider: Fix sync of the handle options setting (T1083704)
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: cherry-pick, 21_2

#21579 Slider: Fix sync of the handle options setting (T1083704)
  js/ui/slider/ui.slider_handle.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Labels: 22_1

#21577 PDF - simplify code and move borderWidth/borderColor props to pdfCell
  js/exporter/jspdf/common/export.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.borderWidths.tests.js
Labels: 22_1

#21571 constextmenu: the <div> container is displayed and submenus remain unchanged when cssClass is set for the container(T1083837) (#21564)
  js/ui/context_menu/ui.context_menu.js
  js/ui/context_menu/ui.menu_base.js
  js/ui/menu/ui.menu.js
  testing/testcafe/tests/navigation/contextMenu/common.ts
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-contrast.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-dark.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=generic-light.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=material-blue-light-compact.png
  testing/testcafe/tests/navigation/contextMenu/etalons/ContextMenu_items,theme=material-blue-light.png
  testing/testcafe/tests/navigation/helpers/domUtils.ts
  testing/testcafe/tests/navigation/menu/common.ts
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-contrast.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-dark.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-light-compact.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=generic-light.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=material-blue-light-compact.png
  testing/testcafe/tests/navigation/menu/etalons/Menu_items,theme=material-blue-light.png
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets/contextMenu.markup.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
Labels: cherry-pick, 21_2

#21581 update dependency minimist to 1.2.6 [security]
  package-lock.json
  package.json
Labels: 22_1

#21572 update dependency minimist to 1.2.6 [security]
  package-lock.json
  package.json
Labels: 21_2

#21584 PDF - Fix drawing of the background color
  js/exporter/jspdf/common/draw_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splitting.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.styles.tests.js
Labels: 22_1

#21578 pdf export: make PdfCell type public
  js/pdf_exporter.d.ts
  js/pdf_exporter.js
  ts/dx.all.d.ts
Labels: 22_1

#21591 DataGrid - PDF export - locales (ja, de)
  js/localization/messages/de.json
  js/localization/messages/ja.json
Labels: 22_1

#21592 Bump DevExtreme version to 20.1.15
  package.json
Labels: 20_1

#21588 Bump DevExtreme version to 19.1.15
  package.json
Labels: 19_1

#21589 Bump DevExtreme version to 18.1.18
  package.json
Labels: 18_1

#21587 Bump minor version to 19.2.14
  package.json
Labels: 19_2

#21590 Bump minor version to 18.2.17
  package.json
Labels: 18_2

#21586 Bump minor version to 20.2.11
  package.json
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
Labels: 20_2
