Repository DevExpress/DevExtreme, pull requests merged in 2022-06, with the labels that each got.

#21792 Fix allDayPanelMode declaration
  js/types/enums.d.ts
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21784 FileManager - Fix the getItems method invocation count after exception (T1085224)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 22_1

#21786 FileManager - Fix the getItems method invocation count after exception (T1085224)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: cherry-pick, 21_2

#21795 Add target type as intersection of types Element & HTMLInputElement
  js/ui/autocomplete.d.ts
  js/ui/color_box.d.ts
  js/ui/date_box.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/number_box.d.ts
  js/ui/select_box.d.ts
  js/ui/tag_box.d.ts
  js/ui/text_area.d.ts
  js/ui/text_box.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#21797 DropDownList: get rid of dx-skip-gesture-event class (T1082501)
  js/events/utils/index.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.toolbox.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_2

#21798 DropDownList: get rid of dx-skip-gesture-event class (T1082501)
  js/events/utils/index.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 21_1

#21802 FileManager - Fix incorrect error text on renaming non-existent directory (T1086802)
  js/ui/file_manager/ui.file_manager.editing.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_2

#21803 FileManager - Fix incorrect error text on renaming non-existent directory (T1086802)
  js/ui/file_manager/ui.file_manager.editing.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_1

#21796 NumberBox: tabindex attribute shouldn't be removed after changing min/max/step options (T1090255)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: 22_1

#21807 NumberBox: tabindex attribute shouldn't be removed after changing min/max/step options (T1090255) (#21796)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: cherry-pick, 21_2

#21808 NumberBox: tabindex attribute shouldn't be removed after changing min/max/step options (T1090255)
  js/ui/number_box/number_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: cherry-pick, 21_1

#21809 Update runtime package
  package-lock.json
  package.json
Labels: 21_2

#21750 DataGrid - A row is not added when the focusedRowKey property is changed via property binding (T1088316)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21805 Fix npm install on Windows
  .github/workflows/CI.yml
  .github/workflows/themebuilder_dart_tests.yml
  package.json
  testing/styles/font-carrier.d.ts
  testing/styles/icon-font.test.ts
  testing/styles/opentype.js.d.ts
  testing/testcafe/tests/scheduler/dragAndDrop/verticalGrouping.ts
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-view-interval-orientation=vertical-allDay=true-interval=2.png
  themebuilder-scss/package.json
Labels: cherry-pick, 20_2

#21818 NumberBox: get rid of use modern syntax
  js/ui/number_box/number_box.base.js
Labels: cherry-pick, 21_1

#21826 DataGrid - TypeError when DataGrid's data source is empty and focusedRowEnabled is set to true (T1090672)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 22_1

#21827 DataGrid - TypeError when DataGrid's data source is empty and focusedRowEnabled is set to true (T1090672)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 21_2

#21716 DataGrid - Pager display incorrect information in a certain scenario (T1087908)
  js/renovation/ui/pager/pages/__tests__/large.test.tsx
  js/renovation/ui/pager/pages/large.tsx
Labels: 22_1

#21717 DataGrid - Pager display incorrect information in a certain scenario (T1087908)
  js/renovation/ui/pager/pages/__tests__/large.test.tsx
  js/renovation/ui/pager/pages/large.tsx
Labels: cherry-pick, 21_2

#21718 DataGrid - Pager display incorrect information in a certain scenario (T1087908)
  js/renovation/ui/pager/pages/__tests__/large.test.tsx
  js/renovation/ui/pager/pages/large.tsx
Labels: cherry-pick, 21_1

#21831 DataGrid - Fix the cellValue method in popup editing mode (T1090487)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21829 DataGrid - Fix the cellValue method in popup editing mode (T1090487)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#21830 DataGrid - Fix the cellValue method in popup editing mode (T1090487)
  js/ui/grid_core/ui.grid_core.data_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21822 DataGrid: Fix applying the 'editing.changes' option for editable row in popup and form editing modes (T1089969)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21821 DataGrid: Fix applying the 'editing.changes' option for editable row in popup and form editing modes (T1089969)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21820 DataGrid: Fix applying the 'editing.changes' option for editable row in popup and form editing modes (T1089969)
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#21823 DataGrid - Unable to change the page size to 'All' in compact mode if virtual rowRenderingMode is used (T1090331)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/testcafe/tests/dataGrid/pager.ts
Labels: 22_1

#21834 DataGrid - Unable to change the page size to 'All' in compact mode if virtual rowRenderingMode is used (T1090331)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/testcafe/tests/dataGrid/pager.ts
Labels: cherry-pick, 21_2

#21835 DataGrid - Unable to change the page size to 'All' in compact mode if virtual rowRenderingMode is used (T1090331)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/testcafe/tests/dataGrid/pager.ts
Labels: cherry-pick, 21_1

#21815 DataGrid - The component returns undefined data when the Shift key is used for multiple selection in a certain scenario (T1092804)
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21845 DataGrid: Fix aria-selected attribute for cells (T1093760)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 22_1

#21844 DataGrid: Fix aria-selected attribute for cells (T1093760)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 21_2

#21843 DataGrid: Fix aria-selected attribute for cells (T1093760)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 21_1

#21852 RenovateBot - Update config
  .github/renovate.json
  renovate.json
Labels: 22_1

#21804 NumberBox: the value resets after "-" is clicked if format is "0.00" (T1092593)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 22_1

#21861 NumberBox: the value resets after "-" is clicked if format is "0.00" (T1092593) (#21804)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_2

#21862 NumberBox: the value resets after "-" is clicked if format is "0.00" (T1092593) (#21804)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_1

#21806 NumberBox: The caret jumps to the beginning of the input after the minus sign is typed if the format is '#' (T1093688)
  js/localization/number.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 22_1

#21833 NumberBox: float values with percent format should be rounded correctly (T1093736)
  js/localization/ldml/number.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 22_1

#21859 Splitter - Fix inablility to resize when there is more than one splitter on a page (T1091934)
  js/ui/splitter.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/actions.tests.js
Labels: cherry-pick, 21_2

#21858 Splitter - Fix inablility to resize when there is more than one splitter on a page (T1091934)
  js/ui/splitter.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/adaptivity.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/actions.tests.js
Labels: 22_1

#21866 RenovateBot - Fix math types
  .github/renovate.json
Labels: 22_1

#21863 NumberBox: The caret jumps to the beginning of the input after the minus sign is typed if the format is '#' (T1093688) (#21806)
  js/localization/number.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_2

#21857 Sankey fix:Tooltip format is not working (T1090444)
  js/viz/sankey/tooltip.js
  testing/tests/DevExpress.viz.sankey/sankey.tracker.tests.js
Labels: cherry-pick, 21_2

#21855 DataGrid: Fix updateDimensions method that didn't re-render the table if a container was hidden using "display:none" and columnRenderingMode is "virtual" (T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/T1090735-grid-virtual-columns.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: 22_1

#21854 DataGrid: Fix updateDimensions method that didn't re-render the table if a container was hidden using "display:none" and columnRenderingMode is "virtual" (T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/T1090735-grid-virtual-columns.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 21_2

#21683 DataGrid creates ghost pages after collapsing several rows when the virtual scrolling is active (T1086347)
  js/ui/data_grid/ui.data_grid.grouping.expanded.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21853 DataGrid: Fix updateDimensions method that didn't re-render the table if a container was hidden using "display:none" and columnRenderingMode is "virtual" (T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/T1090735-grid-virtual-columns.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 21_1

#21685 DataGrid creates ghost pages after collapsing several rows when the virtual scrolling is active (T1086347)
  js/ui/data_grid/ui.data_grid.grouping.expanded.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_1

#21811 DataGrid - Selection of a row stored in local storage is missing when using stateStoring and the scrolling mode is set to 'virtual' (T1092443)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21812 DataGrid - Selection of a row stored in local storage is missing when using stateStoring and the scrolling mode is set to 'virtual' (T1092443)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21864 NumberBox: float values with percent format should be rounded correctly (T1093736) (#21833)
  js/localization/ldml/number.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_2

#21883 NumberBox: The value is not displayed on Android 11 if the format property is set (T1094645) (#21875)
  js/localization/number.js
Labels: cherry-pick, 21_2

#21879 DataGrid - Fix display of modified cell value when the editing.mode is set to batch and the columnHidingEnabled option is set to true (T1094572)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: cherry-pick, 22_1

#21832 FileManager - Fix error that is specified in the itemDownloading event (T1086905)
  js/file_management/custom_provider.js
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fr.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManager/file_provider.test.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingEvents.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
Labels: 22_1

#21846 FileManager - Fix error that is specified in the itemDownloading event (T1086905)
  js/file_management/custom_provider.js
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fr.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManager/file_provider.test.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingEvents.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
Labels: cherry-pick, 21_2

#21884 DateBox: The "Cannot read properties of undefined (reading 'length')" error on an attempt to edit data (T1094710)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 22_1

#21898 DateBox: The "Cannot read properties of undefined (reading 'length')" error on an attempt to edit data (T1094710) (#21884)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 21_2

#21897 DateBox: The "Cannot read properties of undefined (reading 'length')" error on an attempt to edit data (T1094710) (#21884)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 21_1

#21910 export: fix tests after Firefox update
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_autotable.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnDataFormats.tests.js
Labels: 22_1

#21900 Scheduler: fix incorrect behavior of dragging appointments between two schedulers with async DataSource (T1094033)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/utils/isSchedulerComponent.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/model/scheduler/appointment/index.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentWithDataSource.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/insideScheduler/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerForTwoSchedulers.html
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
Labels: 21_2

#21887 DateBox: The onValueChanged event does not fire when an outranged value is picked with a datepicker(T1090826)
  js/core/utils/date.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 22_1

#21885 DataGrid fix: Keyboard Navigation - The "F2" key doesn't switch a cell into editing mode (T1094718)
  js/events/utils/index.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 21_2

#21912 export: fix tests after Firefox update
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: cherry-pick, 21_1

#21914 export: fix tests after Firefox update
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Labels: cherry-pick, 21_2

#21899 Scheduler - fix disappeared appointments issue on appointment drag&drop (T1094035)
  js/ui/scheduler/subscribes.js
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentInEqualCellIndexes.ts
Labels: 21_2

#21924 DataGrid - Fix a fixed cells with empty values when columns are generated from data and scrolling.columnRenderingMode is 'virtual' (Refression after T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
Labels: 22_1

#21923 DataGrid - Fix a fixed cells with empty values when columns are generated from data and scrolling.columnRenderingMode is 'virtual' (Refression after T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
Labels: cherry-pick, 21_2

#21922 DataGrid - Fix a fixed cells with empty values when columns are generated from data and scrolling.columnRenderingMode is 'virtual' (Refression after T1090735)
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
Labels: cherry-pick, 21_1

#21926 FileManager - Fix synchronisation of disabled state of copy/move dialog buttons with a folder selection (T1092300)
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_2

#21927 FileManager - Fix synchronisation of disabled state of copy/move dialog buttons with a folder selection (T1092300)
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 21_1

#21925 FileManager - Fix synchronisation of disabled state of copy/move dialog buttons with a folder selection (T1092300)
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 22_1

#21920 DateBox: The onValueChanged event does not fire when an outranged value is picked with a datepicker(T1090826) (#21887)
  js/core/utils/date.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 21_2

#21919 DateBox: The onValueChanged event does not fire when an outranged value is picked with a datepicker(T1090826) (#21887)
  js/core/utils/date.js
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 21_1

#21901 Lookup: a popup with a loading indicator is displayed incorrectly (T1095592)
  js/ui/lookup.js
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light-compact_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light-compact_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=generic-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/radiogroup-horizontal-validation.png
  testing/testcafe/tests/editors/lookup.ts
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 22_1

#21907 Button: remove duplicated tests in renovation
  testing/tests/DevExpress.serverSide/renovation.tests.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/Renovation/button.markup.tests.js
  testing/tests/Renovation/button.tests.js
Labels: renovation, 22_1

#21944 Lookup: a popup with a loading indicator is displayed incorrectly (T1095592) (#21901)
  js/ui/lookup.js
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light-compact_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light-compact_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=generic-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/radiogroup-horizontal-validation.png
  testing/testcafe/tests/editors/lookup.ts
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 21_2

#21906 Add target type as intersection of types Element & HTMLInputElement (…
  js/ui/autocomplete.d.ts
  js/ui/color_box.d.ts
  js/ui/date_box.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/number_box.d.ts
  js/ui/select_box.d.ts
  js/ui/tag_box.d.ts
  js/ui/text_area.d.ts
  js/ui/text_box.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_1

#21905 Add target type as intersection of types Element & HTMLInputElement (…
  js/ui/autocomplete.d.ts
  js/ui/color_box.d.ts
  js/ui/date_box.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/number_box.d.ts
  js/ui/select_box.d.ts
  js/ui/tag_box.d.ts
  js/ui/text_area.d.ts
  js/ui/text_box.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#21941 DataGrid - Two rows disappear when the virtual scrolling mode is used and refreshMode is set to reshape (T1089428)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_1

#21940 DataGrid - Two rows disappear when the virtual scrolling mode is used and refreshMode is set to reshape (T1089428)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#21939 DataGrid - Two rows disappear when the virtual scrolling mode is used and refreshMode is set to reshape (T1089428)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_1

#21918 Scheduler (21_2): fix incorrect behavior of dragging appointments between two schedulers with async DataSource (T1094033)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/utils/isSchedulerComponent.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/model/scheduler/appointment/index.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentWithDataSource.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/insideScheduler/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerForTwoSchedulers.html
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
Labels: 21_2

#21921 Scheduler (21_2) - fix disappeared appointments issue on appointment drag&drop (T1094035)
  js/ui/scheduler/subscribes.js
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentInEqualCellIndexes.ts
Labels: 21_2

#21937 Editors: validation message position is not correct if a parent container was hidden (T1095900)
  js/ui/overlay/ui.overlay.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/etalons/Textbox_validation_message.png
  testing/testcafe/tests/editors/validationMessage.ts
  testing/testcafe/tests/navigation/helpers/domUtils.ts
Labels: 21_2

#21936 Editors: validation message position is not correct if a parent container was hidden (T1095900)
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/etalons/Textbox_validation_message.png
  testing/testcafe/tests/editors/validationMessage.ts
  testing/testcafe/tests/navigation/helpers/domUtils.ts
Labels: cherry-pick, 22_1

#21953 DataGrid: Fix filter row was losing focus after changing column filterValue when another column was filtered and filter panel is visible (T1093656, T1096053)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 22_1

#21951 DataGrid: Fix filter row was losing focus after changing column filterValue when another column was filtered and filter panel is visible (T1093656, T1096053)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 21_1

#21945 Lookup: a popup with a loading indicator is displayed incorrectly (T1095592) (#21901)
  build/gulp/styles/style-compiler.js
  js/ui/lookup.js
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=generic-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/Lookup_in_loading,theme=material-blue-light_mask.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=generic-light.png
  testing/testcafe/tests/editors/etalons/Lookup_with_no_found_data,theme=material-blue-light.png
  testing/testcafe/tests/editors/etalons/radiogroup-horizontal-validation.png
  testing/testcafe/tests/editors/lookup.ts
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 21_1

#21949 Scheduler - fix incorrect behavior of dragging appointments between two schedulers with async DataSource (T1094033)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/utils/isSchedulerComponent.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/model/scheduler/appointment/index.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentWithDataSource.ts
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/insideScheduler/removeDroppableCellClass.ts
  testing/testcafe/tests/scheduler/dragAndDrop/pages/containerForTwoSchedulers.html
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
Labels: 21_1

#21957 Scheduler - fix disappeared appointments issue on appointment drag&drop (T1094035)
  js/ui/scheduler/subscribes.js
  testing/testcafe/tests/scheduler/dragAndDrop/betweenSchedulers/dragAppointmentInEqualCellIndexes.ts
Labels: 21_1

#21895 Shadow DOM support: support dxList reordering/focusing items
  js/events/core/events_engine.js
  js/events/pointer/base.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/listParts/utils.js
Labels: WIP, 22_1

#17061 Fix french spelling of "drop file"
  js/localization/messages/fr.json
Labels: WIP

#21967 Revert "Grids: Deprecate onToolbarPreparing event (#19599)"
  js/core/component.js
  js/renovation/component_wrapper/__tests__/data_grid.test.tsx
  js/renovation/component_wrapper/data_grid.ts
  js/ui/data_grid.d.ts
  js/ui/data_grid/ui.data_grid.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  ts/dx.all.d.ts
Labels: 22_1

#21962 DataGrid: Fix the "TypeError: Cannot read properties of null" error occurs when the legacyMode is set to true and rowRenderingMode is set to virtual (T1094867)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#21956 Form: remove material theme from test for fix blinking
  testing/testcafe/tests/navigation/form/common.ts
  testing/testcafe/tests/navigation/form/etalons/Form_color_of_the_marks,theme=material-blue-light.png
Labels: 22_1

#21961 DataGrid: Fix the "TypeError: Cannot read properties of null" error occurs when the legacyMode is set to true and rowRenderingMode is set to virtual (T1094867)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21948 NumberBox: float values with percent format should be rounded correctly (refix T1093736)
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 22_1

#21902 DataGrid fix: Keyboard Navigation - The "F2" key doesn't switch a cell into editing mode (T1094718)
  js/events/utils/index.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: cherry-pick, 22_1

#21970 NumberBox: float values with percent format should be rounded correctly (refix T1093736) (#21948)
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_2

#21969 NumberBox: float values with percent format should be rounded correctly (refix T1093736) (#21948)
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 21_1

#21978 Increment versions and ports
  .github/renovate.json
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  package-lock.json
  package.json
  ports.json
Labels: 22_2

#21958 dxChart: fix tooltip renderer (T1089960, T1086785)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: 22_1

#21959 dxChart: fix tooltip renderer (T1089960, T1086785)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: cherry-pick, 21_2

#21985 dxChart: fix tooltip renderer (T1089960, T1086785)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Labels: cherry-pick, 22_2

#21988 Fix GroupPanel.visible prop declaration
  js/ui/data_grid.d.ts
Labels: 21_2

#21986 SelectBox: popup height should be calculated correctly for the first opening if the pageSize is equal to dataSource items count (refix T942881)
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/list/ui.list.base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/selectBox.ts
  testing/testcafe/tests/editors/pages/selectBox.html
  testing/testcafe/tests/editors/pages/t949859.html
  testing/testcafe/tests/editors/selectBox.ts
  testing/testcafe/tests/editors/selectBox/actionButton.ts
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_no_data,theme=generic-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_no_data,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_equal_datasource_items_count,theme=generic-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_equal_datasource_items_count,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_less_datasource_items_count,theme=generic-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_less_datasource_items_count,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_more_datasource_items_count,theme=generic-light.png
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_pagesize_more_datasource_items_count,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/popup.ts
  testing/testcafe/tests/editors/selectBox/toolbarIntegration.ts
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 22_1

#21992 Scheduler - Renovation of the Appointment Edit Form
  js/renovation/ui/editors/drop_down_editors/date_box.tsx
  js/renovation/ui/editors/drop_down_editors/select_box.tsx
  js/renovation/ui/form/wrapper/form_props.tsx
  js/renovation/ui/form/wrapper/simple_item.tsx
  js/renovation/ui/scheduler/__tests__/form_context_provider.test.ts
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/appointment/types.ts
  js/renovation/ui/scheduler/appointment_edit_form/__tests__/utils.test.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/__tests__/layout.test.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/dateEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/descriptionEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/endDateEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/startDateEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/switchEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/__tests__/timeZoneEditor.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/dateEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/descriptionEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/endDateEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/startDateEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/switchEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/editors/timeZoneEditor.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/__tests__/dateBox.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/__tests__/description.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/__tests__/formLayout.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/__tests__/switch.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/__tests__/timeZone.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/const.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/dateBox.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/description.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/formLayout.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/groups/__tests__/dateBoxGroup.test.tsx
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/groups/dateBoxGroup.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/groups/switchGroup.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/switch.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/layout_items/timeZone.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/type.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/utils/__tests__/utils.test.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/utils/normalizeDate.ts
  js/renovation/ui/scheduler/appointment_edit_form/edit_form/utils/renderTemplate.ts
  js/renovation/ui/scheduler/appointment_edit_form/layout.tsx
  js/renovation/ui/scheduler/appointment_edit_form/utils.ts
  js/renovation/ui/scheduler/form_context.ts
  js/renovation/ui/scheduler/form_context_provider.tsx
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/types.ts
  js/renovation/ui/scheduler/utils/__tests__/data.test.ts
  js/renovation/ui/scheduler/utils/editing/formData.ts
  js/renovation/ui/scheduler/view_model/appointments/__tests__/appointments.test.ts
Labels: renovation, 22_2

#22004 Renovate - Support 22.2 version
  .github/renovate.json
Labels: dependencies

#21972 TreeList - Last row disappears after adding a new row if editing.refreshMode is set 'repaint' (T1097528)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: cherry-pick, 21_2

#21971 TreeList - Last row disappears after adding a new row if editing.refreshMode is set 'repaint' (T1097528)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: 22_1

#22007 Scheduler - Support complex objects for the resource IDs (T1097931)
  js/renovation/ui/scheduler/resources/__tests__/hasResourceValue.test.ts
  js/renovation/ui/scheduler/resources/hasResourceValue.ts
  js/ui/scheduler/appointments/dataProvider/appointmentFilter.js
  js/ui/scheduler/resources/utils.js
  testing/testcafe/tests/scheduler/appointments/resources.ts
Labels: cherry-pick, 22_2

#22006 Scheduler - Support complex objects for the resource IDs (T1097931)
  js/renovation/ui/scheduler/resources/__tests__/hasResourceValue.test.ts
  js/renovation/ui/scheduler/resources/hasResourceValue.ts
  js/ui/scheduler/appointments/dataProvider/appointmentFilter.js
  js/ui/scheduler/resources/utils.js
  testing/testcafe/tests/scheduler/appointments/resources.ts
Labels: cherry-pick, 22_1

#22005 SelectBox: popup height should be calculated correctly for the first opening if the pageSize is equal to dataSource items count (refix T942881) (#21986)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  testing/testcafe/model/buttonGroup/buttonGroup.ts
  testing/testcafe/model/checkBox.ts
  testing/testcafe/model/contextMenu/index.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/model/dateBox/index.ts
  testing/testcafe/model/dropDownButton.ts
  testing/testcafe/model/dropDownMenu.ts
  testing/testcafe/model/filterBuilder/index.ts
  testing/testcafe/model/gallery/index.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/model/list/index.ts
  testing/testcafe/model/lookup.ts
  testing/testcafe/model/multiView/index.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/radioGroup/index.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/model/scrollView/internal/scrollable.ts
  testing/testcafe/model/scrollView/scrollView.ts
  testing/testcafe/model/selectBox.ts
  testing/testcafe/model/tabPanel.ts
  testing/testcafe/model/tabs/index.ts
  testing/testcafe/model/tagBox.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/model/treeList.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/editors/list/common.ts
  testing/testcafe/tests/editors/lookup/common.ts
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=generic-light-compact.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=generic-light-compact_mask.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=generic-light.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=generic-light_mask.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=material-blue-light-compact_mask.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=material-blue-light.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_in_loading,theme=material-blue-light_mask.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_with_no_found_data,theme=generic-light-compact.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_with_no_found_data,theme=generic-light.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_with_no_found_data,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/lookup/etalons/Lookup_with_no_found_data,theme=material-blue-light.png
  testing/testcafe/tests/editors/pages/T1018037.html
  testing/testcafe/tests/editors/pages/lookup.html
  testing/testcafe/tests/editors/pages/lookupMaterial.html
  testing/testcafe/tests/editors/pages/selectBoxWithActionButton.html
  testing/testcafe/tests/editors/pages/t727360.html
  testing/testcafe/tests/editors/pages/t815151.html
  testing/testcafe/tests/editors/pages/t845082.html
  testing/testcafe/tests/editors/selectBox/actionButton.ts
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_popup_height_after_last_page_load.png
  testing/testcafe/tests/editors/selectBox/popup.ts
  testing/testcafe/tests/navigation/contextMenu/common.ts
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
  testing/testcafe/tests/navigation/scrollable/visibility.ts
Labels: 22_1

#21994 Chart - Fix incorrect labels position with negative value in 'stackedbar' series type (T1093233)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Labels: 22_1

#22020 TreeList - Last row disappears after adding a new row if editing.refreshMode is set 'repaint' (T1097528)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: 22_2

#22024 Scheduler - Extend test
  js/renovation/ui/scheduler/resources/__tests__/hasResourceValue.test.ts
Labels: 22_2

#22025 Scheduler - Extend test
  js/renovation/ui/scheduler/resources/__tests__/hasResourceValue.test.ts
  js/renovation/ui/scheduler/resources/hasResourceValue.ts
Labels: 22_1

#22027 ShadowDOM Support: fix active element receive and caret position calculation
  js/core/dom_adapter.js
  js/core/renderer_base.js
  js/ui/text_box/utils.caret.js
  js/ui/widget/selectors.js
  testing/helpers/shadowDOM.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 22_2

#22023 Chart - Fix incorrect labels position with negative value in 'stackedbar' series type (T1093233)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Labels: cherry-pick, 21_1

#22021 Chart - Fix incorrect labels position with negative value in 'stackedbar' series type (T1093233)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Labels: cherry-pick, 22_2

#22017 fix tests after Chrome update
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-generic.png
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-material.png
  testing/testcafe/tests/editors/label.ts
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_autotable.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.knockout/datebox.tests.js
Labels: cherry-pick, 22_1

#22034 fix tests after Chrome update (#22017)
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-generic.png
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-material.png
  testing/testcafe/tests/editors/label.ts
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_autotable.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.columnDataFormats.tests.js
  testing/tests/DevExpress.knockout/datebox.tests.js
Labels: cherry-pick, 22_2

#22035 fix tests after chrome update
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-generic.png
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-material.png
  testing/testcafe/tests/editors/label.ts
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.knockout/datebox.tests.js
Labels: cherry-pick, 21_2

#22026 Scheduler - Extend test
  js/renovation/ui/scheduler/resources/__tests__/hasResourceValue.test.ts
  js/renovation/ui/scheduler/resources/hasResourceValue.ts
Labels: 21_2

#22036 fix tests after Chrome update (#22017)
  testing/testcafe/tests/dataGrid/editing_matrix.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
  testing/tests/DevExpress.knockout/datebox.tests.js
Labels: cherry-pick, 21_1

#22038 NumberBox: the field accepts only the dot as the decimal separator in 'en' locale (T1099277)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: 22_1

#22042 NumberBox: the field accepts only the dot as the decimal separator in 'en' locale (T1099277) (#22038)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: cherry-pick, 22_2

#22041 SelectBox: data is loaded infinitely if the visible option of items in subsequent pages are set to false (T1092746) (#22014)
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/ui/list/ui.list.base.js
  js/ui/scroll_view/ui.scroll_view.js
  testing/testcafe/model/list/index.ts
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-generic.png
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-material.png
  testing/testcafe/tests/editors/label.ts
  testing/testcafe/tests/editors/list/etalons/List_first_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_last_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_middle_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_part_items_invisible_on_loaded_page.png
  testing/testcafe/tests/editors/list/paging.ts
Labels: cherry-pick, 22_2

#22043 NumberBox: the field accepts only the dot as the decimal separator in 'en' locale (T1099277) (#22038)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: cherry-pick, 21_2

#22044 SelectBox: data is loaded infinitely if the visible option of items in subsequent pages are set to false (T1092746) (#22014)
  js/ui/list/ui.list.base.js
  js/ui/scroll_view/ui.scroll_view.js
  testing/testcafe/model/list/index.ts
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-generic.png
  testing/testcafe/tests/editors/etalons/label-scroll-text-area-material.png
  testing/testcafe/tests/editors/label.ts
  testing/testcafe/tests/editors/list/etalons/List_first_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_last_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_middle_items_invisible.png
  testing/testcafe/tests/editors/list/etalons/List_part_items_invisible_on_loaded_page.png
  testing/testcafe/tests/editors/list/paging.ts
Labels: cherry-pick, 21_2
