Repository DevExpress/DevExtreme, pull requests merged in 2022-07, with the labels that each got.

#22033 DataGrid - An error appears on an attempt to filter a lookup column (T1098872)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: cherry-pick, 22_1

#22045 ScrollView: onReachBottom action is not fired when scrollable content bottom is not reached in pullDown mode
  js/ui/scroll_view/ui.scroll_view.simulated.js
  testing/testcafe/tests/editors/list/paging.ts
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 22_1

#22040 DataGrid - Lookup filter row values are not updated on dataSource load (T1099516)
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: cherry-pick, 22_1

#22053 ScrollView: onReachBottom action is not fired when scrollable content bottom is not reached in pullDown mode
  js/ui/scroll_view/ui.scroll_view.simulated.js
  testing/testcafe/tests/editors/list/paging.ts
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: cherry-pick, 21_2

#22060 Box: remove fallback strategy
  js/renovation/ui/box/_toDelete/box.js
  js/renovation/ui/form/_toDelete/constants.js
  js/renovation/ui/form/_toDelete/ui.form.item_option_action.js
  js/renovation/ui/form/_toDelete/ui.form.item_options_actions.js
  js/renovation/ui/form/_toDelete/ui.form.items_runtime_info.js
  js/renovation/ui/form/_toDelete/ui.form.js
  js/renovation/ui/form/_toDelete/ui.form.layout_manager.js
  js/renovation/ui/form/_toDelete/ui.form.utils.js
  js/renovation/ui/responsive_box/_toDelete/responsive_box.js
  js/ui/box.js
  js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  js/ui/form/components/field_item.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.layout_manager.utils.js
  js/ui/responsive_box.js
  scss/widgets/base/_box.scss
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  testing/tests/DevExpress.ui.widgets/box.markup.tests.js
  testing/tests/DevExpress.ui.widgets/box.tests.js
  testing/tests/DevExpress.ui.widgets/responsiveBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets/responsiveBox.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.size.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/treeview.size.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 22_2

#22046 Overlay: add "_ignoreElementAttrDeprecation" option
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 21_2

#22030 ShadomDOM support: experimental css inside shadow DOM, shadowDOM mode for QUnit tests
  js/core/dom_component.js
  js/core/utils/shadow_dom.js
  js/ui/text_box/ui.text_editor.base.js
  testing/helpers/qunitExtensions.js
  testing/helpers/shadowDOM.js
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/dataSourceFromUrlTests.js
  testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 22_2

#22063 NumberBox: float values with percent format should be rounded correctly (refix T1093736)
  js/core/utils/math.js
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: 22_2

#22066 Overlay: add "_ignoreElementAttrDeprecation" option
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_1

#22031 Add Norwegian (nb-NO) to messages localization
  js/localization/messages/nb.json
Labels: area/localization

#22073 Add Norwegian (nb-NO) to messages localization (#22031)
  js/localization/messages/nb.json
Labels: area/localization

#22074 Add Norwegian (nb-NO) to messages localization (#22031)
  js/localization/messages/nb.json
Labels: area/localization

#22069 NumberBox: float values with percent format should be rounded correctly (refix T1093736) (#22063)
  js/core/utils/math.js
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: cherry-pick, 21_1

#22070 NumberBox: float values with percent format should be rounded correctly (refix T1093736) (#22063)
  js/core/utils/math.js
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: cherry-pick, 21_2

#22071 NumberBox: float values with percent format should be rounded correctly (refix T1093736) (#22063)
  js/core/utils/math.js
  js/localization/ldml/number.js
  js/localization/utils.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Labels: cherry-pick, 22_1

#22064 Lookup: Placeholder shouldn't be removed when the items option is changed (T1099804)
  js/ui/lookup.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/autocomplete.ts
  testing/testcafe/model/tagBox.ts
  testing/testcafe/tests/editors/autocomplete/common.ts
  testing/testcafe/tests/editors/autocomplete/etalons/Autocomplete_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/lookup/common.ts
  testing/testcafe/tests/editors/lookup/etalons/Lookup_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/selectBox/common.ts
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/tagBox/common.ts
  testing/testcafe/tests/editors/tagBox/etalons/TagBox_placeholder_after_items_change_if_value_is_not_choosen.png
Labels: 22_1

#22051 CheckBox: The check icon is not shown if the component is inside an element with the column-count style (T1098716)
  scss/widgets/base/_icons.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/material/checkBox/_index.scss
  testing/testcafe/tests/editors/checkBox/common.ts
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/toolbarIntegration.ts
  testing/testcafe/tests/navigation/helpers/domUtils.ts
Labels: 22_2

#22058 DataGrid: Fix columns resizing if allowResizing is disabled when columnResizingMode is set to 'widget' while a column is fixed on the right (T1098769)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: cherry-pick, 22_1

#22019 Collection, List, DDList, SelectBox, TagBox: replace all ds requests with DataController requests
  js/data_helper.js
  js/ui/collection/data_controller.js
  js/ui/collection/ui.collection_widget.base.js
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/editor/ui.data_expression.js
  js/ui/list/ui.list.base.js
  js/ui/list/ui.list.edit.decorator.selection.js
  js/ui/list/ui.list.edit.js
  js/ui/list/ui.list.edit.search.js
  js/ui/list/ui.list.edit.strategy.grouped.js
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Labels: 22_2

#22076 Lookup: Placeholder shouldn't be removed when the items option is changed (T1099804) (#22064)
  js/ui/lookup.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/autocomplete.ts
  testing/testcafe/model/tagBox.ts
  testing/testcafe/tests/editors/autocomplete/common.ts
  testing/testcafe/tests/editors/autocomplete/etalons/Autocomplete_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/lookup/common.ts
  testing/testcafe/tests/editors/lookup/etalons/Lookup_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/selectBox/common.ts
  testing/testcafe/tests/editors/selectBox/etalons/SelectBox_placeholder_after_items_change_if_value_is_not_choosen.png
  testing/testcafe/tests/editors/tagBox/common.ts
  testing/testcafe/tests/editors/tagBox/etalons/TagBox_placeholder_after_items_change_if_value_is_not_choosen.png
Labels: cherry-pick, 21_2

#22077 CheckBox: The check icon is not shown if the component is inside an element with the column-count style (T1098716) (#22051)
  scss/widgets/base/_icons.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/material/checkBox/_index.scss
  testing/testcafe/tests/editors/checkBox/common.ts
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/toolbarIntegration.ts
  testing/testcafe/tests/navigation/helpers/domUtils.ts
Labels: cherry-pick, 22_1

#22078 CheckBox: The check icon is not shown if the component is inside an element with the column-count style (T1098716) (#22051)
  scss/widgets/base/_icons.scss
  scss/widgets/generic/checkBox/_index.scss
  scss/widgets/material/checkBox/_index.scss
  testing/testcafe/tests/editors/checkBox/common.ts
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states,theme=material-blue-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=generic-light.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/checkBox/etalons/Checkbox_states_with_column_count_style,theme=material-blue-light.png
  testing/testcafe/tests/editors/selectBox/toolbarIntegration.ts
  testing/testcafe/tests/navigation/helpers/domUtils.ts
Labels: cherry-pick, 21_2

#22079 Update Turkish localization (based on #18629)
  js/localization/messages/tr.json
Labels: area/localization

#22072 Popup: An unnecessary scrollbar appears inside the popup if stylingMode is set to 'outlined' for the DateBox component in the material theme (T1100188)
  scss/widgets/material/textEditor/_index.scss
  testing/tests/DevExpress.ui.widgets/popup.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 22_2

#22081 Popup: An unnecessary scrollbar appears inside the popup if stylingMode is set to 'outlined' for the DateBox component in the material theme (T1100188) (#22072)
  scss/widgets/material/textEditor/_index.scss
  testing/tests/DevExpress.ui.widgets/popup.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 21_2

#22084 Update Turkish localization (based on #18629) (#22079)
  js/localization/messages/tr.json
Labels: cherry-pick, area/localization

#22085 Update Turkish localization (based on #18629) (#22079) (#22084)
  js/localization/messages/tr.json
Labels: cherry-pick, area/localization

#15365 Add czech translation (resolves #15364)
  js/localization/messages/cs.json
Labels: area/localization, WIP, 20_2

#22089 scrollView: enchancements of reachBottom() event handling
  js/renovation/ui/scroll_view/scrollbar/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/scrollbar/animated_scrollbar.tsx
  testing/tests/Renovation/compatibility.test.js
Labels: 22_2

#22088 PivotGrid: make fieldChoser's encodeHtml option public (T1100787)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/pivot_grid_field_chooser.d.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#22061 DataGrid - fix syncLookupFilterValues is not updated in runtime
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 22_2

#22062 DataGrid - fix syncLookupFilterValues is not updated in runtime
  js/ui/grid_core/ui.grid_core.filter_row.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: cherry-pick, 22_1

#22091 Add czech translation (#15364) (#15365)
  js/localization/messages/cs.json
Labels: cherry-pick, area/localization

#22094 Add czech translation (#15364) (#15365) (#22091)
  js/localization/messages/cs.json
Labels: cherry-pick, area/localization

#22093 PivotGrid: make fieldChoser's encodeHtml option public (T1100787) (#22088)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/pivot_grid_field_chooser.d.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#22092 PivotGrid: make fieldChoser's encodeHtml option public (T1100787) (#22088)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/pivot_grid_field_chooser.d.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#22096 Add czech translation (#15364) (#15365) (#22091) (#22094)
  js/localization/messages/cs.json
Labels: cherry-pick, area/localization

#22015 ScrollView & Scrollable: switch on renovated version
  js/renovation/components.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#22102 Add czech translation (#15364) (#15365) (#22091) (#22094) (#22096)
  js/localization/messages/cs.json
Labels: cherry-pick, area/localization

#22114 Update nb.json
  js/localization/messages/nb.json
Labels: area/localization

#22113 PivotGrid: An item labeled 'Total' cannot be moved correctly in the Column Chooser (T1097764)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/pivotGrid/fieldChooser.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 21_2

#22112 PivotGrid - An item labeled 'Total' cannot be moved correctly in the Column Chooser (T1097764)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/pivotGrid/fieldChooser.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 22_1

#22103 PivotGrid: An item labeled 'Total' cannot be moved correctly in the Column Chooser (T1097764)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/pivotGrid/fieldChooser.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: 22_2

#22118 Update nb.json (#22114)
  js/localization/messages/nb.json
Labels: cherry-pick, area/localization

#16040 add ar lang
  js/localization/messages/ar.json
Labels: WIP

#22123 add ar lang (#16040)
  js/localization/messages/ar.json
Labels: cherry-pick, area/localization

#22119 ScrollView & Scrollable: switch off the renovated version
  js/renovation/components.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
Labels: 22_2

#22126 add ar lang (#16040) (#22123)
  js/localization/messages/ar.json
Labels: cherry-pick, area/localization

#22127 add ar lang (#16040) (#22123)
  js/localization/messages/ar.json
Labels: cherry-pick, area/localization

#22129 PivotGrid: An item labeled 'Total' cannot be moved correctly in the Column Chooser (T1097764)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/pivotGrid/fieldChooser.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 21_1

#22132 DropDownMenu: make popover behavior consistent between themes
  js/ui/toolbar/drop_down_menu.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  testing/tests/DevExpress.ui.widgets/toolbar.dropDownMenu.tests.js
Labels: 22_2

#22135 PivotGrid: fix blinking testcafe test
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: cherry-pick, 22_1

#22134 PivotGrid: fix blinking testcafe test
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: 21_2

#22133 PivotGrid: fix blinking testcafe test
  testing/testcafe/tests/navigation/pivotGrid/etalons/Change_dataField_order_applyChangesMode_onDemand.png
  testing/testcafe/tests/navigation/pivotGrid/fieldChooser.ts
Labels: 22_2

#22137 DropDownMenu: get rid of use DataHelper mixin
  js/ui/toolbar/drop_down_menu.js
  js/ui/toolbar/ui.toolbar.menu.list.js
  testing/tests/DevExpress.ui.widgets/toolbar.dropDownMenu.tests.js
Labels: 22_2

#22097 DataGrid - A lookup column's header filter loads data infinitely when scrolling (T1100536 and T1100782)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 22_2

#22098 DataGrid - A lookup column's header filter loads data infinitely when scrolling (T1100536 and T1100782)
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: cherry-pick, 22_1

#22142 Added Romanian dictionary (#15926)
  js/localization/messages/ro.json
Labels: cherry-pick, area/localization

#22138 DropDownMenu: remove redundant options
  js/ui/scheduler/ui.scheduler.js
  js/ui/toolbar/drop_down_menu.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  testing/testcafe/model/internal/widget.ts
  testing/testcafe/tests/navigation/dropDownMenu.ts
  testing/tests/DevExpress.ui.widgets/toolbar.dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 22_2

#22146 Added Romanian dictionary (#15926) (#22142)
  js/localization/messages/ro.json
Labels: cherry-pick, area/localization

#22147 Added Romanian dictionary (#15926) (#22142)
  js/localization/messages/ro.json
Labels: cherry-pick, area/localization

#22140 DataGrid - public syncLookupFilterValues
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#22141 DataGrid - public syncLookupFilterValues
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#22149 Add null to datasource props types
  js/data/data_source.d.ts
  js/ui/accordion.d.ts
  js/ui/action_sheet.d.ts
  js/ui/box.d.ts
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/context_menu/ui.menu_base.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/editor/ui.data_expression.d.ts
  js/ui/filter_builder.d.ts
  js/ui/gallery.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/list.d.ts
  js/ui/menu.d.ts
  js/ui/multi_view.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid_field_chooser.d.ts
  js/ui/responsive_box.d.ts
  js/ui/scheduler.d.ts
  js/ui/slide_out.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tabs.d.ts
  js/ui/tile_view.d.ts
  js/ui/toolbar.d.ts
  js/ui/tree_view.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/funnel.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/dx.all.d.ts
Labels: 22_1

#22150 Add null to datasource props types
  js/data/data_source.d.ts
  js/ui/accordion.d.ts
  js/ui/action_sheet.d.ts
  js/ui/box.d.ts
  js/ui/collection/ui.collection_widget.base.d.ts
  js/ui/context_menu.d.ts
  js/ui/context_menu/ui.menu_base.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/drop_down_box.d.ts
  js/ui/drop_down_button.d.ts
  js/ui/editor/ui.data_expression.d.ts
  js/ui/filter_builder.d.ts
  js/ui/gallery.d.ts
  js/ui/gantt.d.ts
  js/ui/html_editor.d.ts
  js/ui/list.d.ts
  js/ui/menu.d.ts
  js/ui/multi_view.d.ts
  js/ui/pivot_grid.d.ts
  js/ui/pivot_grid_field_chooser.d.ts
  js/ui/responsive_box.d.ts
  js/ui/scheduler.d.ts
  js/ui/slide_out.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tabs.d.ts
  js/ui/tile_view.d.ts
  js/ui/toolbar.d.ts
  js/ui/tree_view.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/funnel.d.ts
  js/viz/range_selector.d.ts
  js/viz/sankey.d.ts
  js/viz/sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/vector_map.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#22154 DataGrid: Fix customizeColumns was fired twice when setting the UI component state to null (T1101718)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
Labels: cherry-pick, 22_2

#22153 DataGrid: Fix customizeColumns was fired twice when setting the UI component state to null (T1101718)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
Labels: cherry-pick, 22_1

#22151 Toolbar: hide deprecated 'height' option
  js/ui/toolbar.d.ts
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#22143 dxChart - fix zooming on touch devices (T1098782)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 22_1

#22144 dxChart - fix zooming on touch devices (T1098782)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: cherry-pick, 22_2

#22162 Make common grids types public
  js/ui/data_grid.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#22109 Allow using custom properties in Scheduler's appointment (T1062511)
  js/ui/scheduler.d.ts
  package-lock.json
  package.json
  testing/typescript/scheduler.ts
  ts/dx.all.d.ts
Labels: 22_2

#22169 Allow using custom properties in Scheduler's appointment (T1062511)
  js/ui/scheduler.d.ts
  testing/typescript/scheduler.ts
  ts/dx.all.d.ts
Labels: 21_2

#22168 Allow using custom properties in Scheduler's appointment (T1062511)
  js/ui/scheduler.d.ts
  package-lock.json
  package.json
  testing/typescript/scheduler.ts
  ts/dx.all.d.ts
Labels: 22_1

#22173 Upgrade testing/runner to .NET 6
  .gitignore
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Program.cs
  testing/runner/runner.csproj
Labels: 22_2

#22174 Upgrade testing/runner to .NET 6
  .gitignore
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Program.cs
  testing/runner/runner.csproj
Labels: 22_1

#22175 Upgrade testing/runner to .NET 6
  .gitignore
  testing/runner/Controllers/TestVectorMapDataController.cs
  testing/runner/Program.cs
  testing/runner/runner.csproj
Labels: 21_2

#22171 Toolbar: replace devextreme inherits to ES6 class
  js/ui/toolbar.js
  js/ui/toolbar/ui.toolbar.base.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.js
  js/ui/toolbar/ui.toolbar.menu.list.js
  js/ui/toolbar/ui.toolbar.utils.js
  testing/tests/DevExpress.ui.widgets/toolbar.dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 22_2

#22121 Use 'devextreme-shr2' self-hosted runners
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  testing/testcafe/runner.js
Labels: 22_2

#22124 Use 'devextreme-shr2' self-hosted runners
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_dart_tests.yml
  .github/workflows/ts_declarations.yml
  testing/testcafe/runner.js
Labels: 21_2

#22122 Use 'devextreme-shr2' self-hosted runners
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovate_autoapprove.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  testing/testcafe/runner.js
Labels: 22_1

#22179 TagBox: refactor to improve selection performance
  js/core/utils/array.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 22_2

#22184 DateBox: disable blinking ValidationMessagePosition tests for material
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=bottom,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=bottom,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=left,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=left,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=right,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=right,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=top,theme=material-blue-light-compact.png
  testing/testcafe/tests/editors/dateBox/etalons/datebox-validation-message-position=top,theme=material-blue-light.png
  testing/testcafe/tests/editors/dateBox/validationMessage.ts
Labels: 22_2

#22183 Testcafe CI: Set reporter to 'minimal'
  testing/testcafe/runner.js
Labels: cherry-pick, 21_2

#22182 Testcafe CI: Set reporter to 'minimal'.
  testing/testcafe/runner.js
Labels: cherry-pick, 22_1

#22181 Testcafe CI: Set reporter to 'minimal'.
  testing/testcafe/runner.js
Labels: 22_2

#22100 Button displays "true" when its text is set to an empty (T1098771)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  testing/tests/Renovation/button.tests.js
Labels: 22_1

#22189 TagBox: refactor to improve selection performance (#22179)
  js/core/utils/array.js
  js/ui/tag_box.js
  testing/tests/DevExpress.core/utils.array.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 21_2

#22176 Toolbar: implement multiline mode
  js/ui/html_editor/modules/toolbar.js
  js/ui/toolbar.d.ts
  js/ui/toolbar/internal/ui.toolbar.menu.js
  js/ui/toolbar/internal/ui.toolbar.menu.list.js
  js/ui/toolbar/strategy/toolbar.multiline.js
  js/ui/toolbar/strategy/toolbar.singleline.js
  js/ui/toolbar/ui.toolbar.base.js
  js/ui/toolbar/ui.toolbar.drop_down_menu.js
  js/ui/toolbar/ui.toolbar.js
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render-in-multiline,rtlEnabled=false.png
  testing/testcafe/tests/navigation/toolbar/etalons/Default-nested-widgets-render-in-multiline,rtlEnabled=true.png
  testing/testcafe/tests/navigation/toolbar/multiline.ts
  testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.table.tests.js
  testing/tests/DevExpress.knockout/dropDownList.tests.js
  testing/tests/DevExpress.knockout/dropDownMenu.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.markup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.menu.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.multiline.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  themebuilder-scss/tests/data/dependencies.ts
  ts/dx.all.d.ts
Labels: 22_2

#22160 ValidationEngine: validator should be detected as a part of a validation group if they are created on the same element (T1102012)
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
Labels: 22_1

#22195 Component. Fix error in setting attribute value (T1098771)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  testing/tests/Renovation/button.tests.js
Labels: cherry-pick, 22_2

#22120 TransitionExecutor - api requires jqury but it should not (T1101319)
  js/animation/transition_executor/transition_executor.js
  testing/tests/DevExpress.animation/transitionExecutors.tests.js
Labels: 22_1

#22194 ContextMenu - overlay wrapper should have the same size as window (T1102095)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 22_2

#22136 ArrayStore - Fix comparing number with null in compileCriteria (T1102116 )
  js/data/array_query.js
  testing/tests/DevExpress.data/queryArray.tests.js
Labels: 22_1

#22198 ContextMenu - overlay wrapper should have the same size as window (T1102095)
  js/ui/context_menu/ui.context_menu.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 22_1

#22197 Overlays: refactor testcafe tests
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/overlays/pages/T920408.html
  testing/testcafe/tests/overlays/pages/T946851.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerBorders.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerSmallerThanContent.html
  testing/testcafe/tests/overlays/pages/popupDrag/dragOutsideBoundary.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupContentDimensionChange.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionOptionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupSizesAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/shownAfterResizeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/windowResize.html
  testing/testcafe/tests/overlays/popup.drag.ts
  testing/testcafe/tests/overlays/popup.ts
  testing/testcafe/tests/overlays/resizeObserverIntegration.ts
Labels: 22_2

#22172 Popup: use existed dxToolbarItem interface to extend PopupToolbarItem
  js/ui/popup.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#22204 TileView: Fix `showScrollbar` doc comment
  js/ui/tile_view.d.ts
Labels: 21_2

#22196 Component. Fix error in setting attribute value (T1098771)
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
Labels: cherry-pick, 21_2

#22212 Revert "Popup: use existed dxToolbarItem interface to extend PopupToolbarItem (#22172)"
  js/ui/popup.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#22208 Popup: add tests on toolbar integration
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/popover.ts
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/dataGrid/builder.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopover_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_bottom_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=false.png
  testing/testcafe/tests/editors/overlays/etalons/dxPopup_top_toolbar_menu,rtlEnabled=true.png
  testing/testcafe/tests/editors/overlays/popup.drag.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
  testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
  testing/testcafe/tests/editors/radioGroup/etalons/radiogroup-horizontal-validation,theme=generic-light.png
  testing/testcafe/tests/editors/radioGroup/etalons/radiogroup-horizontal-validation,theme=material-blue-light.png
  testing/testcafe/tests/editors/radioGroup/validationMessage.ts
  testing/testcafe/tests/filterBuilder/pages/T1051831.html
  testing/testcafe/tests/filterBuilder/pages/T852701.html
  testing/testcafe/tests/navigation/collections/galleryIndicator.ts
Labels: 22_2

#22201 TransitionExecutor - fix: api requires jqury but it should not (T1101319)
  js/animation/transition_executor/transition_executor.js
  testing/tests/DevExpress.animation/transitionExecutors.tests.js
Labels: cherry-pick, 22_2

#22202 TransitionExecutor - fix: api requires jqury but it should not (T1101319)
  js/animation/transition_executor/transition_executor.js
  testing/tests/DevExpress.animation/transitionExecutors.tests.js
Labels: cherry-pick, 21_2

#22037 Scheduler - Fix vertical virtual scrolling groupBounds calculation(T1098779)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 22_2

#22218 Scheduler - Fix vertical virtual scrolling groupBounds calculation(T1098779)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 22_1

#22217 Scheduler - Fix vertical virtual scrolling groupBounds calculation(T1098779)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 21_2

#22200 ArrayStore: fix comparing with 'null' (T1098665)
  js/data/array_query.js
  testing/tests/DevExpress.data/queryArray.tests.js
Labels: cherry-pick, 21_2

#22220 ValidationEngine: validator should be detected as a part of a validation group if they are created on the same element (T1102012)
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
Labels: cherry-pick, 22_2

#22205 Overlays: refactor testcafe tests
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/collections/galleryIndicator.ts
  testing/testcafe/tests/dataGrid/builder.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/editors/overlays/popup.drag.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
  testing/testcafe/tests/editors/radioGroup/etalons/radiogroup-horizontal-validation,theme=generic-light.png
  testing/testcafe/tests/editors/radioGroup/validationMessage.ts
  testing/testcafe/tests/filterBuilder/pages/T1051831.html
  testing/testcafe/tests/filterBuilder/pages/T852701.html
  testing/testcafe/tests/navigation/helpers/domUtils.ts
  testing/testcafe/tests/overlays/pages/T920408.html
  testing/testcafe/tests/overlays/pages/T946851.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerBorders.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerSmallerThanContent.html
  testing/testcafe/tests/overlays/pages/popupDrag/dragOutsideBoundary.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupContentDimensionChange.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionOptionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupSizesAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/shownAfterResizeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/windowResize.html
  testing/testcafe/tests/overlays/popup.ts
  testing/testcafe/tests/overlays/resizeObserverIntegration.ts
Labels: cherry-pick, 22_1

#22206 Overlays: refactor testcafe tests
  testing/testcafe/model/popup.ts
  testing/testcafe/tests/collections/galleryIndicator.ts
  testing/testcafe/tests/dataGrid/builder.ts
  testing/testcafe/tests/dataGrid/columnReordering.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/editors/overlays/popup.drag.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
  testing/testcafe/tests/editors/radioGroup/etalons/radiogroup-horizontal-validation,theme=generic-light.png
  testing/testcafe/tests/editors/radioGroup/validationMessage.ts
  testing/testcafe/tests/filterBuilder/pages/T1051831.html
  testing/testcafe/tests/filterBuilder/pages/T852701.html
  testing/testcafe/tests/navigation/helpers/domUtils.ts
  testing/testcafe/tests/overlays/pages/T920408.html
  testing/testcafe/tests/overlays/pages/T946851.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerBorders.html
  testing/testcafe/tests/overlays/pages/popupDrag/containerSmallerThanContent.html
  testing/testcafe/tests/overlays/pages/popupDrag/dragOutsideBoundary.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupContentDimensionChange.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupDimensionOptionChangeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/popupSizesAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/shownAfterResizeDuringAnimation.html
  testing/testcafe/tests/overlays/pages/resizeObserverIntegration/windowResize.html
  testing/testcafe/tests/overlays/popup.ts
  testing/testcafe/tests/overlays/resizeObserverIntegration.ts
Labels: cherry-pick, 21_2

#22219 Scheduler - Add delay for the async scrollable in testCafe test
  testing/testcafe/tests/scheduler/virtualScrolling/zooming.ts
Labels: 22_2

#22229 Scheduler - Add delay for the async scrollable in testCafe test
  testing/testcafe/tests/scheduler/virtualScrolling/zooming.ts
Labels: cherry-pick, 22_1

#22221 ValidationEngine: validator should be detected as a part of a validation group if they are created on the same element (T1102012)
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
Labels: cherry-pick, 21_2

#22106 DataGrid - Fix last fixed row offset when the scrolling mode is set to 'virtual' and showScrollbar is set to 'always' (T1100701)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: cherry-pick, 22_2

#22105 DataGrid - Fix last fixed row offset when the scrolling mode is set to 'virtual' and showScrollbar is set to 'always' (T1100701)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: cherry-pick, 22_1

#22104 DataGrid - Fix last fixed row offset when the scrolling mode is set to 'virtual' and showScrollbar is set to 'always' (T1100701)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Labels: 21_2

#22161 DataGrid - deprecate `rowDragging.filter`
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#22239 HtmlEditor: table formDialog should have correct width when tableResizing is enabled (T1093235)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableProperties.tests.js
Labels: 22_2

#22233 Fix GroupPanel overflowing when empty in a narrow grid (T1103925)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/testcafe/tests/dataGrid/etalons/groupingPanel.png
  testing/testcafe/tests/dataGrid/grouping.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: 22_1

#22234 Fix GroupPanel overflowing when empty in a narrow grid (T1103925)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/testcafe/tests/dataGrid/etalons/groupingPanel.png
  testing/testcafe/tests/dataGrid/grouping.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: cherry-pick, 21_2

#22235 Fix GroupPanel overflowing when empty in a narrow grid (T1103925)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/testcafe/tests/dataGrid/etalons/groupingPanel.png
  testing/testcafe/tests/dataGrid/grouping.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
Labels: cherry-pick, 22_2

#22230 DataGrid - filtering lookup columns with calculateCellValue doesn't work (T1103389)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 22_2

#22231 DataGrid - filtering lookup columns with calculateCellValue doesn't work (T1103389)
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
Labels: 22_1

#22222 Restore tests related to android chrome 92
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 21_2

#22225 Restore tests related to android chrome 92
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: cherry-pick, 22_2

#22226 Restore tests related to android chrome 92
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: cherry-pick, 22_1

#22241 HtmlEditor: table formDialog should have correct width when tableResizing is enabled (T1093235)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 22_1

#22236 DataGrid: Fix grid rerender on scroll when there is a master detail and virtual scrolling is enabled (T1100018)
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 21_2

#22237 DataGrid: Fix grid rerender on scroll when there is a master detail and virtual scrolling is enabled (T1100018)
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_1

#22238 DataGrid: Fix grid rerender on scroll when there is a master detail and virtual scrolling is enabled (T1100018)
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling_core.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_2

#22240 Scheduler - Rework testCafe test with zooming
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/zooming.ts
Labels: 22_2

#22246 HtmlEditor: table formDialog should have correct width when tableResizing is enabled (T1093235)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 21_2

#22243 Remove sudo steps from workflows
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  docker-ci.sh
Labels: 22_2

#22244 Remove sudo steps from workflows
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  docker-ci.sh
Labels: 22_1

#22245 Remove sudo steps from workflows
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/qunit_tests.yml
  docker-ci.sh
Labels: 21_2

#22253 Revert "Scheduler - Rework testCafe test with zooming (#22240)"
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/zooming.ts
Labels: 22_2

#22255 File Manager - Fix calculation of custom thumbnail icon size in progress panel (T1103197)
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/material/fileManager/_index.scss
  testing/content/customFileIcon.png
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: 22_2

#22256 File Manager - Fix calculation of custom thumbnail icon size in progress panel (T1103197)
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/material/fileManager/_index.scss
  testing/content/customFileIcon.png
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: cherry-pick, 22_1

#22257 File Manager - Fix calculation of custom thumbnail icon size in progress panel (T1103197)
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/material/fileManager/_index.scss
  testing/content/customFileIcon.png
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: cherry-pick, 21_2

#22254 Fix bash -e behavior in docker-ci.sh
  docker-ci.sh
Labels: 22_2

#22261 Fix bash -e behavior in docker-ci.sh
  docker-ci.sh
Labels: cherry-pick, 22_1

#22269 File Manager - Fix error on fast navigation (T1103086)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: cherry-pick, 21_2

#22268 File Manager - Fix error on fast navigation (T1103086)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: cherry-pick, 22_1

#22267 File Manager - Fix error on fast navigation (T1103086)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
Labels: 22_2

#22264 DataGrid: Fix row focusing when keyboard navigation is disabled (T1105542)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: 21_2

#22265 DataGrid: Fix row focusing when keyboard navigation is disabled (T1105542)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 22_1

#22266 DataGrid: Fix row focusing when keyboard navigation is disabled (T1105542)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Labels: cherry-pick, 22_2
