Repository DevExpress/DevExtreme, pull requests merged in 2023-07, with the labels that each got.

#24990 hotfix: temp fix testcafe tests
  .github/workflows/devextreme_npm_tests.yml
Labels: cherry-pick, 23_1

#24979 NumberBox: valueChanged event should be raised on a minus sign remove by backspace (T1170374)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 23_2

#24978 GridCore - Show empty header message when there are command columns
  js/__internal/grids/grid_core/columns_controller/const.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/empty-header-message-with-selection-enabled.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: 23_1

#24992 GridCore - Show empty header message when there are command columns
  js/__internal/grids/grid_core/columns_controller/const.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/empty-header-message-with-selection-enabled.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: 23_2

#24983 TS Build: Add removing the #DEBUG section functionality.
  build/gulp/transpile.js
Labels: cherry-pick, 23_1

#24775 Popup: fix position after toggle fullScreen
  js/ui/popup/popup_position_controller.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: type/bug, 23_1

#24987 Popup: fix position after toggle fullScreen
  js/ui/popup/popup_position_controller.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: type/bug, cherry-pick, 23_2

#24974 Review charts types shown in the api reference
  js/viz/bar_gauge.d.ts
  js/viz/bar_gauge_types.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/chart_types.d.ts
  js/viz/circular_gauge.d.ts
  js/viz/circular_gauge_types.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/funnel.d.ts
  js/viz/funnel_types.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/linear_gauge.d.ts
  js/viz/linear_gauge_types.d.ts
  js/viz/pie_chart.d.ts
  js/viz/pie_chart_types.d.ts
  js/viz/polar_chart.d.ts
  js/viz/polar_chart_types.d.ts
  js/viz/sankey.d.ts
  js/viz/sankey_types.d.ts
  js/viz/sparklines/base_sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/tree_map_types.d.ts
  js/viz/vector_map.d.ts
  js/viz/vector_map_types.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#24980 Toast: change animation type and width for tablets and mobiles (T1169464)
  js/ui/toast/ui.toast.js
  testing/tests/DevExpress.ui.widgets/toast.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 23_2

#24976 TextEditors: test appearance of editor buttons container with spins, dropDown, clear and custom buttons
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=false (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=false (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=false (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=false (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=true (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=true (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=true (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox render with buttons container, isValid=true (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/label.ts
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (generic-light).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (generic-light-compact).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (material-blue-light).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=false (material-blue-light-compact).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=true (generic-light).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=true (generic-light-compact).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=true (material-blue-light).png
  testing/testcafe/tests/editors/numberBox/etalons/NumberBox render with buttons container, isValid=true (material-blue-light-compact).png
  testing/testcafe/tests/editors/numberBox/label.ts
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light).png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light-compact).png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light).png
  testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light-compact).png
  testing/testcafe/tests/editors/textBox/label.ts
Labels: 23_2

#24994 chore: bump versions in gha
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 23_2

#25002 Review charts types shown in the api reference
  js/viz/bar_gauge.d.ts
  js/viz/bar_gauge_types.d.ts
  js/viz/chart.d.ts
  js/viz/chart_components/base_chart.d.ts
  js/viz/chart_types.d.ts
  js/viz/circular_gauge.d.ts
  js/viz/circular_gauge_types.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/funnel.d.ts
  js/viz/funnel_types.d.ts
  js/viz/gauges/base_gauge.d.ts
  js/viz/linear_gauge.d.ts
  js/viz/linear_gauge_types.d.ts
  js/viz/pie_chart.d.ts
  js/viz/pie_chart_types.d.ts
  js/viz/polar_chart.d.ts
  js/viz/polar_chart_types.d.ts
  js/viz/sankey.d.ts
  js/viz/sankey_types.d.ts
  js/viz/sparklines/base_sparkline.d.ts
  js/viz/tree_map.d.ts
  js/viz/tree_map_types.d.ts
  js/viz/vector_map.d.ts
  js/viz/vector_map_types.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#24985 PivotGrid(T1173442): PivotGrid - Sort order doesn't change immediately
  js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/localSort_T1150523.ts
  testing/testcafe/tests/pivotGrid/sort/sortWithSummaryDisplayMode_T1173442.ts
Labels: 23_2

#24991 Scheduler(T1171988): The onDragEnd callback does not hold the updated itemData at the time it is triggered
  js/ui/scheduler.d.ts
  js/ui/scheduler/appointmentDragBehavior.js
  testing/testcafe/tests/scheduler/dragAndDrop/dragEvents.ts
  ts/dx.all.d.ts
Labels: 23_2

#25008 DataGrid - "Maximum call stack size exceeded" error occurs on navigating summary items in the group footer via arrow keys (T1175253)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 23_1

#25010 PivotGrid(T1173442): PivotGrid - Sort order doesn't change immediatel…
  js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/localSort_T1150523.ts
  testing/testcafe/tests/pivotGrid/sort/sortWithSummaryDisplayMode_T1173442.ts
Labels: cherry-pick, 23_1

#25009 PivotGrid(T1173442): PivotGrid - Sort order doesn't change immediately
  js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_after_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (generic-light).png
  testing/testcafe/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (material-blue-light).png
  testing/testcafe/tests/pivotGrid/sort/localSort_T1150523.ts
  testing/testcafe/tests/pivotGrid/sort/sortWithSummaryDisplayMode_T1173442.ts
Labels: cherry-pick, 22_2

#25014 DataGrid - "Maximum call stack size exceeded" error occurs on navigating summary items in the group footer via arrow keys (T1175253)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: type/bug, cherry-pick, 23_2

#25015 DataGrid - "Maximum call stack size exceeded" error occurs on navigating summary items in the group footer via arrow keys (T1175253)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: type/bug

#25007 Toast: Fix position for Android tablets (T1169464)
  js/ui/toast/ui.toast.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: cherry-pick, 22_2

#25006 Toast: Fix position for Android tablets (T1169464)
  js/ui/toast/ui.toast.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 23_1

#25022 dxScheduler - throw warning in agenda, if appointment doesn't have key(T1100758)
  js/ui/scheduler/appointments/dataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/dataProvider/appointmentDataSource.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/scheduler/agenda/keyField.ts
Labels: cherry-pick, 23_2

#25021 dxScheduler - throw warning in agenda, if appointment doesn't have key(T1100758)
  js/ui/scheduler/appointments/dataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/dataProvider/appointmentDataSource.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/scheduler/agenda/keyField.ts
Labels: cherry-pick, 23_1

#25012 DataGrid - Grouped rows and cells must have correct aria attributes
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 23_2

#25028 Assign techwriters group on localization strings
  .github/CODEOWNERS
Labels: cherry-pick, 23_1

#25027 Assign techwriters group on localization strings
  .github/CODEOWNERS
Labels: 23_2

#25029 Assign techwriters group on localization strings
  .github/CODEOWNERS
Labels: cherry-pick, 22_2

#24999 DataGrid - Disable export button when data columns are not visible (T1174225)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/testcafe/tests/dataGrid/etalons/disabled-export-in-menu_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/etalons/disabled-export_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (material-blue-light).png
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 23_1

#25031 DataGrid - Disable export button when data columns are not visible (T1174225)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/testcafe/tests/dataGrid/etalons/disabled-export-in-menu_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/etalons/disabled-export_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (material-blue-light).png
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 22_2

#25032 DataGrid - Disable export button when data columns are not visible (T1174225)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/testcafe/tests/dataGrid/etalons/disabled-export-in-menu_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/etalons/disabled-export_when-no-columns-visible.png
  testing/testcafe/tests/dataGrid/exportButton.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar menu in rtl (material-blue-light).png
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 23_2

#25024 DataGrid - focusedRowIndex is -1 when the first data cell is focused with the keyboard (T1175896)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, 23_1

#25025 Scheduler(T1171988): The onDragEnd callback does not hold the updated itemData at the time it is triggered
  js/ui/scheduler.d.ts
  js/ui/scheduler/appointmentDragBehavior.js
  testing/testcafe/tests/scheduler/dragAndDrop/dragEvents.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#25026 Scheduler(T1171988): The onDragEnd callback does not hold the updated itemData at the time it is triggered
  js/ui/scheduler.d.ts
  js/ui/scheduler/appointmentDragBehavior.js
  testing/testcafe/tests/scheduler/dragAndDrop/dragEvents.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#25034 DataGrid - focusedRowIndex is -1 when the first data cell is focused with the keyboard (T1175896)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, cherry-pick

#25033 DataGrid - focusedRowIndex is -1 when the first data cell is focused with the keyboard (T1175896)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, cherry-pick, 22_2

#25001 DateRangeBox: support for integration with the Form
  js/ui/form.d.ts
  js/ui/form/ui.form.layout_manager.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  ts/dx.all.d.ts
Labels: 23_2

#25044 DateRangeBox: support for integration with the Form (#25001)
  js/ui/form.d.ts
  js/ui/form/ui.form.layout_manager.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#25051 Funnel: fix crash on init when datasource has zero values (T1172293)
  js/viz/funnel/label.js
  testing/tests/DevExpress.viz.funnel/commonParts/common.js
  testing/tests/DevExpress.viz.funnel/commonParts/label.js
  testing/tests/DevExpress.viz.funnel/funnel.label.tests.js
Labels: cherry-pick, 23_1

#25050 Funnel: fix crash on init when datasource has zero values (T1172293)
  js/viz/funnel/label.js
  testing/tests/DevExpress.viz.funnel/commonParts/common.js
  testing/tests/DevExpress.viz.funnel/commonParts/label.js
  testing/tests/DevExpress.viz.funnel/funnel.label.tests.js
Labels: cherry-pick, 22_2

#25040 Fix "TestCafe editors - material" task
  testing/testcafe/tests/editors/radioGroup/common.ts
Labels: 23_2

#25041 Scheduler - Full month (December) is not displayed for the view type is "Month" and the IntervalCount is set to 12 (T1171186)
  jest.config.js
  js/ui/scheduler/workspaces/view_model/__tests__/utils.test.js
  js/ui/scheduler/workspaces/view_model/utils.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_month.js
  testing/testcafe/tests/scheduler/month/diferrentInvtervalCounts.ts
  testing/testcafe/tests/scheduler/month/etalons/month-february-2021.png
  testing/testcafe/tests/scheduler/month/etalons/month-interval-count-12.png
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: cherry-pick, 23_1

#25054 Review grids types shown in the api reference
  js/common/grids.d.ts
  js/ui/data_grid.d.ts
  js/ui/data_grid_types.d.ts
  js/ui/tree_list.d.ts
  js/ui/tree_list_types.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#24967 Add typeguards for checking the load function result type for custom store
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  js/data/custom_store.d.ts
  testing/tests/DevExpress.data/storeCustom.tests.js
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: 23_1

#25048 MultiView: Fix item skipping in loop mode (T1177193)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 23_2

#25052 MultiView: Fix item skipping in loop mode (T1177193)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: cherry-pick, 23_1

#25053 Calendar: allow customize navigator button color via ThemeBuilder
  scss/widgets/base/calendar/_mixins.scss
  scss/widgets/generic/calendar/_colors.scss
  scss/widgets/generic/calendar/_index.scss
  scss/widgets/material/calendar/_colors.scss
  scss/widgets/material/calendar/_index.scss
Labels: 23_2

#25055 Add typeguards for checking the load function result type for custom store
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  js/data/custom_store.d.ts
  testing/tests/DevExpress.data/storeCustom.tests.js
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#24975 Renovate - update config
  .github/renovate.json
Labels: 23_2

#25059 Build TS: fixed regular expression removing code.
  build/gulp/compression-pipes.js
Labels: 23_1

#25030 GridCore - Update cached selected items on data source push event (T1171774)
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 23_1

#25061 GridCore - Update cached selected items on data source push event (T1171774)
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 23_2

#25062 GridCore - Update cached selected items on data source push event (T1171774)
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 22_2

#25063 Build TS: fixed regular expression removing code. (#25059)
  build/gulp/compression-pipes.js
Labels: cherry-pick, 23_2

#25064 Build TS: fixed regular expression removing code. (#25059)
  build/gulp/compression-pipes.js
Labels: cherry-pick, 22_2

#25056 Add typeguards for checking the load function result type for custom store
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  js/data/custom_store.d.ts
  package-lock.json
  package.json
  testing/tests/DevExpress.data/storeCustom.tests.js
  testing/typescript/data/stores.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_1

#25058 Create TestCafe aXe tests
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  package-lock.json
  package.json
  playground/jquery.html
  testing/testcafe/helpers/accessibilityUtils.ts
  testing/testcafe/tests/container.html
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: 23_2

#25043 DataGrid - Excel export of selected items exports an empty array if the filtered column is bound to a collection and remote filtering is used (T1173757)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/core/utils/selection_filter.js
  js/ui/selection/selection.js
  js/ui/selection/selection.strategy.deferred.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 23_2

#25074 Rename LoadedSummary type to LoadResultObject, rename related typeguard
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  testing/tests/DevExpress.data/storeCustom.tests.js
  ts/dx.all.d.ts
Labels: 23_1, refactoring

#25078 Rename LoadedSummary type to LoadResultObject, rename related typeguard
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  testing/tests/DevExpress.data/storeCustom.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#25079 Rename LoadedSummary type to LoadResultObject, rename related typeguard
  js/common/data/custom-store.d.ts
  js/common/data/custom-store.js
  testing/tests/DevExpress.data/storeCustom.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#25077 Make playground accessible
  package-lock.json
  package.json
  playground/jquery.html
  testing/testcafe/tests/container.html
Labels: 22_2

#25076 Make playground accessible
  package-lock.json
  package.json
  playground/jquery.html
  testing/testcafe/tests/container.html
Labels: 23_1

#25081 Fix Blinking test (T1166649)
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling_with_fixed_columns-T1166649.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 23_2

#25083 Fix blinking test (T1166649)
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling_with_fixed_columns-T1166649.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 23_1

#25094 Fix "TestCafe editors - material" task (#25040)
  testing/testcafe/tests/editors/radioGroup/common.ts
Labels: cherry-pick, 23_1

#25095 Fix "TestCafe editors - material" task (#25040)
  testing/testcafe/tests/editors/radioGroup/common.ts
Labels: cherry-pick, 22_2

#25072 DataGrid - Excel export of selected items exports an empty array if the filtered column is bound to a collection and remote filtering is used (T1173757)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/core/utils/selection_filter.js
  js/ui/selection/selection.js
  js/ui/selection/selection.strategy.deferred.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 23_1

#25073 DataGrid - Excel export of selected items exports an empty array if the filtered column is bound to a collection and remote filtering is used (T1173757)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/core/utils/selection_filter.js
  js/ui/selection/selection.js
  js/ui/selection/selection.strategy.deferred.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 22_2

#25088 DataGrid: Fix auto scroll up when scrolling horizontally (T1176160)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: 22_2

#25089 DataGrid: Fix auto scroll up when scrolling horizontally (T1176160)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_1

#25101 CustomStore: add doc tags for result types
  js/common/data/custom-store.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#25102 CustomStore: add doc tags for result types
  js/common/data/custom-store.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#25117 CI: get rid of unnecessary build step
  packages/devextreme/gulpfile.js
Labels: 23_2

#25100 Ignore case sensitivity of locale in getting localized data for forma…
  packages/devextreme/js/localization/message.js
  packages/devextreme/testing/tests/DevExpress.localization/localization.messages.test.js
Labels: cherry-pick, 23_2

#25127 CI: fix QUnit tests
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/ts_declarations.yml
  packages/devextreme/docker-ci.sh
  packages/devextreme/testing/runner/Controllers/MainController.cs
  packages/devextreme/testing/systemjs-builder.js
Labels: 23_2

#25104 CustomStore: add doc tags for result types
  packages/devextreme/js/common/data/custom-store.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#25134 CI: fix QUnit tests (#25127)
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/ts_declarations.yml
  docker-ci.sh
  testing/runner/Controllers/MainController.cs
Labels: cherry-pick, 23_1

#25086 Scheduler(T1175936): It's not possible to scroll with one finger on iPad
  packages/devextreme/js/core/devices.js
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: 23_2

#25087 Editors: extract buttons container styles to mixins
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Labels: 23_2

#25137 Scheduler(T1175936): It's not possible to scroll with one finger on iPad (#25086)
  js/core/devices.js
  testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 23_1

#25138 Scheduler(T1175936): It's not possible to scroll with one finger on iPad (#25086)
  js/core/devices.js
  testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 22_2

#25057 Browserlist: reduce browsers prefixes in styles
  package.json
  packages/devextreme-themebuilder/tests/modules/post-compiler.test.ts
  packages/devextreme/package.json
  packages/devextreme/scss/widgets/base/_gridBase.scss
Labels: 23_2

#25135 Menu: delimiter beetween root menu item and submenu should be positioned correctly (T1174356)
  js/animation/position.js
  js/ui/menu/ui.menu.js
  js/ui/menu/ui.submenu.js
  scss/widgets/generic/menu/_index.scss
  testing/testcafe/model/menu/index.ts
  testing/testcafe/tests/navigation/menu/common.ts
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submen less than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-contrast).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-dark).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light-compact).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light-compact).png
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_1

#25133 Menu: delimiter beetween root menu item and submenu should be positioned correctly (T1174356)
  packages/devextreme/js/animation/position.js
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/js/ui/menu/ui.submenu.js
  packages/devextreme/scss/widgets/generic/menu/_index.scss
  packages/devextreme/testing/testcafe/model/menu/index.ts
  packages/devextreme/testing/testcafe/tests/navigation/menu/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submen less than root item, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 23_2

#25136 Menu: delimiter beetween root menu item and submenu should be positioned correctly (T1174356)
  js/animation/position.js
  js/ui/menu/ui.menu.js
  js/ui/menu/ui.submenu.js
  scss/widgets/generic/menu/_index.scss
  testing/testcafe/model/menu/index.ts
  testing/testcafe/tests/navigation/menu/common.ts
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu less than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, horizontal, submenu more than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submen less than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-contrast).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-dark).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light-compact).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light-compact).png
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 22_2

#25113 Button: remove deprecated type 'back'
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/renovation/ui/__tests__/button.test.tsx
  packages/devextreme/js/renovation/ui/button.tsx
  packages/devextreme/js/renovation/ui/toolbar/toolbar_props.tsx
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/scss/widgets/generic/button/_index.scss
  packages/devextreme/scss/widgets/material/button/_index.scss
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/button/common.ts
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/toolbarIntegration.ts
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup-custom-template (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttonGroup-custom-template (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttons (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttons (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttons-custom-template (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar-buttons-custom-template (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/multiline.ts
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/overflowMenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.multiline.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25109 DataGrid: Fix new rows rendering when scrolling horizontally then collapsing a row (T1176161)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: 22_2

#25110 DataGrid: Fix new rows rendering when scrolling horizontally then collapsing a row (T1176161)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_1

#25114 Scheduler - Remove warning about the deprecated 'preventScrollEvents' property in appointment popups
  js/ui/scheduler/appointmentPopup/popup.js
Labels: 23_1

#25142 Scheduler - Remove warning about the deprecated 'preventScrollEvents' property in appointment popups
  packages/devextreme/js/ui/scheduler/appointmentPopup/popup.js
Labels: cherry-pick, 23_2

#25120 Chart: bar should be rendered when value is on border (T1176892)
  packages/devextreme/js/viz/series/points/bar_point.js
  packages/devextreme/testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 23_2

#25143 Chart: bar should be rendered when value is on border (T1176892)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 23_1

#25121 DataGrid - Cell focus in edit mode does not work correctly if a cell has a disabled editor (T1177434)
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: 23_1

#25122 Calendar: add selectionMode option to declaration
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/calendar_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25145 DataGrid - Cell focus in edit mode does not work correctly if a cell has a disabled editor (T1177434)
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 22_2

#25111 DataGrid: Fix new rows rendering when scrolling horizontally then collapsing a row (T1176161)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1176161-master-detail-with-virtual-columns-2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_2

#25154 TS build: rollback of accidental merge changes.
  packages/devextreme/build/gulp/transpile.js
Labels: 23_2

#25155 TS Build: fixed ts watch remove debug issue.
  build/gulp/transpile.js
Labels: 23_1

#25161 Accessibility: DataGrid Editing - Add aria-label attributes for editors
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 23_1

#25162 Accessibility: DataGrid Editing - Add aria-label attributes for editors
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/shared/ui.editor_factory_mixin.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 22_2

#25153 DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, 23_2

#25147 List: add extra div with list items inside scrollView
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
  packages/devextreme/js/ui/collection/ui.collection_widget.live_update.js
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.reorder.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/list/_index.scss
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: 23_2

#25130 DataGrid: Fix noDataText not being centered if stateStoring is enabled and dataSource is not supplied (T1178289)
  js/__internal/grids/grid_core/m_utils.ts
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  testing/testcafe/tests/dataGrid/markup/noDataText.ts
Labels: 23_1

#25067 Form: prepare declaration for isDirty prop
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25085 FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596)
  packages/devextreme/js/ui/filter_builder/utils.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: 23_2

#25167 DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, cherry-pick, 22_2

#25166 DataGrid - Cell focus works incorrectly if the command column has a disabled native button element (T1179207)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: type/bug, cherry-pick, 22_2

#25170 RadioGroup: fix blinking testcafe test
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Labels: cherry-pick, 22_2

#25169 RadioGroup: fix blinking testcafe test
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Labels: cherry-pick, 23_1

#25168 RadioGroup: fix blinking testcafe test
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/common.ts
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
Labels: 23_2

#25151 Icons: refactor build cycle
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/material/icons/_index.scss
Labels: 23_2

#25157 Correct @type doc tags on Event Types members
  js/common/grids.d.ts
  js/events/index.d.ts
  js/ui/data_grid.d.ts
  js/ui/diagram.d.ts
  js/ui/draggable.d.ts
  js/ui/drop_down_editor/ui.drop_down_list.d.ts
  js/ui/editor/editor.d.ts
  js/ui/gantt.d.ts
  js/ui/list.d.ts
  js/ui/sortable.d.ts
  js/ui/tab_panel.d.ts
  js/ui/tree_list.d.ts
  js/viz/bar_gauge.d.ts
  js/viz/core/base_widget.d.ts
  js/viz/gauges/base_gauge.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#25179 PivotGrid(T1178847): shows CSP errors in the console when jQuery is referenced
  js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 23_1

#25175 DataGrid: Fix noDataText not being centered if stateStoring is enabled and dataSource is not supplied (T1178289)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/noDataText.ts
Labels: cherry-pick, 23_2

#25176 DataGrid: Fix noDataText not being centered if stateStoring is enabled and dataSource is not supplied (T1178289)
  js/__internal/grids/grid_core/m_utils.ts
  testing/testcafe/tests/dataGrid/markup/etalons/grid-no-data-text-position.png
  testing/testcafe/tests/dataGrid/markup/noDataText.ts
Labels: cherry-pick, 22_2

#25160 Lookup: fix pronounce of items
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: 23_2

#25183 Correct @type doc tags on Event Types members
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/js/events/index.d.ts
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/draggable.d.ts
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.d.ts
  packages/devextreme/js/ui/editor/editor.d.ts
  packages/devextreme/js/ui/gantt.d.ts
  packages/devextreme/js/ui/list.d.ts
  packages/devextreme/js/ui/sortable.d.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tree_list.d.ts
  packages/devextreme/js/viz/bar_gauge.d.ts
  packages/devextreme/js/viz/core/base_widget.d.ts
  packages/devextreme/js/viz/gauges/base_gauge.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#25149 Chart: bar should be rendered when value is on border, refactor (T1176892)
  packages/devextreme/js/viz/series/points/bar_point.js
Labels: 23_2

#25144 Chart: bar should be rendered when value is on border (T1176892)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Labels: 22_2

#25187 FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: cherry-pick, 22_2

#25186 FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Labels: cherry-pick, 23_1

#25150 Scheduler - All Day Panel works incorrectly with certain appointments (T1177505)
  packages/devextreme/js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Labels: 23_2

#25188 Scheduler - All Day Panel works incorrectly with certain appointments (T1177505)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Labels: cherry-pick, 22_2

#25189 Scheduler - All Day Panel works incorrectly with certain appointments (T1177505)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Labels: cherry-pick, 23_1

#25182 TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/angular.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/react.tsconfig.json
  packages/devextreme/build/gulp/renovation-npm/.gitignore
  packages/devextreme/build/gulp/renovation-npm/common-steps.js
  packages/devextreme/build/gulp/renovation-npm/data/messages.js
  packages/devextreme/build/gulp/renovation-npm/index.js
  packages/devextreme/build/gulp/renovation-npm/package.json
  packages/devextreme/build/gulp/renovation-npm/remove-unused-modules.js
  packages/devextreme/build/gulp/renovation-npm/replacements-import.js
  packages/devextreme/build/gulp/renovation-npm/replacements-package.js
  packages/devextreme/build/gulp/renovation-npm/steps-angular.js
  packages/devextreme/build/gulp/renovation-npm/steps-react.js
  packages/devextreme/build/gulp/renovation-npm/utils/create-gulp-file.js
  packages/devextreme/build/gulp/renovation-npm/utils/index.js
  packages/devextreme/build/gulp/renovation-npm/utils/version-utils.js
  packages/devextreme/build/gulp/renovation-testing-playground.js
  packages/devextreme/gulpfile.js
  packages/devextreme/jest.config.js
  packages/devextreme/renovation.tsconfig.json
Labels: WIP, 23_2

#25159 DataGrid: Fix the error thrown when editing is enabled while the column chooser is visible (T1178698)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
Labels: 23_1

#25178 DataGrid: Throw a warning if exporting is enabled and the onExporting function is not specified
  js/__internal/grids/data_grid/export/m_export.ts
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/dataGrid/export/export.ts
Labels: 23_1

#25092 Migrate Charts to TS
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/core/base_widget.js
  js/viz/funnel/funnel.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: cherry-pick, 22_2

#25184 Calendar: refactor selectionMode option for publish
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.single.selection.strategy.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 23_2

#25158 Update chrome version
  .github/actions/pin-browsers/action.yml
Labels: 23_2

#25199 TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  build/gulp/generator/generator-options.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/data/messages.js
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/remove-unused-modules.js
  build/gulp/renovation-npm/replacements-import.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  build/gulp/renovation-npm/utils/create-gulp-file.js
  build/gulp/renovation-npm/utils/index.js
  build/gulp/renovation-npm/utils/version-utils.js
  build/gulp/renovation-testing-playground.js
  gulpfile.js
  jest.config.js
  renovation.tsconfig.json
Labels: 23_1

#25198 TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  build/gulp/generator/generator-options.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/data/messages.js
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/remove-unused-modules.js
  build/gulp/renovation-npm/replacements-import.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  build/gulp/renovation-npm/utils/create-gulp-file.js
  build/gulp/renovation-npm/utils/index.js
  build/gulp/renovation-npm/utils/version-utils.js
  build/gulp/renovation-testing-playground.js
  gulpfile.js
  jest.config.js
  renovation.tsconfig.json
Labels: 22_2

#25123 Tabs/TabPanel: Replace display table with flex-box
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/base/_toolbar.scss
  packages/devextreme/scss/widgets/generic/tabPanel/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/_index.scss
  packages/devextreme/scss/widgets/generic/tabs/_sizes.scss
  packages/devextreme/scss/widgets/material/tabPanel/_index.scss
  packages/devextreme/scss/widgets/material/tabs/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.width.tests.js
Labels: 23_2

#25214 CI: Revert changes in angular tests
  .github/workflows/devextreme_npm_tests.yml
Labels: 23_2

#25202 GridCore - Column Fixing - When any column's width is unspecified, fixed to right columns should appear correctly (T1176997)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-2.png
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: cherry-pick, 22_2

#25129 GridCore - Column Fixing - When any column's width is unspecified, fixed to right columns should appear correctly (T1176997)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-2.png
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: 23_1

#25098 GridCore - Column Fixing - When any column's width is unspecified, fixed to right columns should appear correctly (T1176997)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Labels: cherry-pick, 23_2

#25080 Form: isDirty property implemented
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/js/ui/range_slider.js
  packages/devextreme/testing/tests/DevExpress.angular/modelIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 23_2

#25220 Recover doc tags for PieChartLegendItem
  js/__internal/viz/m_pie_chart.ts
  js/viz/pie_chart.d.ts
  ts/dx.all.d.ts
Labels: 22_2
