Repository DevExpress/DevExtreme, pull requests merged in 2023-01, with the labels that each got.

#23468 DataGrid - Fix incorrect group summaries in export when a "buttons" column is present (T1130167)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: cherry-pick, 22_2

#23569 DataGrid - Fix incorrect group summaries in export when a "buttons" column is present (T1130167)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Labels: cherry-pick, 23_1

#23544 Renovation: A little dx-dynamic-template improvements.
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/internal/dynamic-template/dynamic-template.component.ts
  packages/angular/projects/angular/src/internal/dynamic-template/index.ts
  packages/angular/projects/angular/src/internal/index.ts
Labels: renovation

#23603 Update testcafe to v.2.2.0
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
Labels: 22_2

#23608 TestCafe: fix unstable tests
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 22_2

#23613 TestCafe: fix unstable tests (#23608)
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: cherry-pick, 23_1

#23612 TestCafe: fix unstable tests (#23608)
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/editors/pages/t901779.html
  testing/testcafe/tests/editors/radioGroup/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/common.ts
  testing/testcafe/tests/renovation/navigation/scrollView/scrollable.ts
  testing/testcafe/tests/renovation/scheduler/appointmentOverlapping/basic.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/cross-scrolling.ts
  testing/testcafe/tests/renovation/scheduler/appointments/dataSource/load.ts
  testing/testcafe/tests/renovation/scheduler/appointments/month/longAppointments.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/header/viewSwitcher.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/cellTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/tooltipTemplate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/intervalCount/viewsWithStartDate.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/material/withoutAllDay.ts
  testing/testcafe/tests/renovation/scheduler/layout/views/timeline/month.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/layout.ts
  testing/testcafe/tests/renovation/scheduler/virtualScrolling/zooming.ts
  testing/testcafe/tests/scheduler/appointmentForm/dataEditors.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
  testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/scheduler/recurrences/basic.ts
  testing/testcafe/tests/scheduler/recurrences/init/widget.setup.ts
  testing/testcafe/tests/treeList/columns.ts
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: cherry-pick, 22_1

#23547 Create CODEOWNERS file
  .github/CODEOWNERS
Labels: 23_1

#23548 Create CODEOWNERS file
  .github/CODEOWNERS
Labels: cherry-pick, 22_2

#23549 Create CODEOWNERS file
  .github/CODEOWNERS
Labels: cherry-pick, 22_1

#23621 Update devextreme-internal-tools package to 7.8.5
  package-lock.json
  package.json
Labels: 21_2

#23645 Scheduler(T1135635): Fix extra DataSource loads.
  js/ui/scheduler/appointments/dataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/dataProvider/appointmentDataSource.js
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/dataSource/load.ts
Labels: 23_1

#23617 Fix TS - make GlobalConfig type public
  js/common.d.ts
  js/core/config.d.ts
  js/core/config.js
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 22_2

#23642 RangeSelector: Fix value parsing error when no data(T1136921)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: cherry-pick, 22_2

#23641 RangeSelector: Fix value parsing error when no data(T1136921)
  js/viz/range_selector/range_selector.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: 23_1

#23650 Scheduler(T1135635): Fix extra DataSource loads. (#23645)
  js/ui/scheduler/appointments/dataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/dataProvider/appointmentDataSource.js
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/dataSource/load.ts
Labels: cherry-pick, 22_2

#23651 Scheduler(T1135635): Fix extra DataSource loads. (#23645)
  js/ui/scheduler/appointments/dataProvider/appointmentDataProvider.js
  js/ui/scheduler/appointments/dataProvider/appointmentDataSource.js
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/dataSource/load.ts
Labels: cherry-pick, 22_1

#23652 Fix TS - make GlobalConfig type public
  js/common.d.ts
  js/core/config.d.ts
  js/core/config.js
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#23639 RangeSelector: deprecate callValueChanged and add valueChangeMode
  js/common.d.ts
  js/ui/range_slider.d.ts
  js/ui/slider.d.ts
  js/viz/core/themes/generic.light.js
  js/viz/range_selector.d.ts
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
  testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#23600 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
  ts/dx.all.d.ts
Labels: 22_2

#23643 Export: remove old export functionality
  js/exporter.js
  js/exporter/excel/excel.cell_alignment_helper.js
  js/exporter/excel/excel.cell_format_helper.js
  js/exporter/excel/excel.color_helper.js
  js/exporter/excel/excel.file.js
  js/exporter/excel/excel.fill_helper.js
  js/exporter/excel/excel.font_helper.js
  js/exporter/excel/excel.number_format_helper.js
  js/exporter/excel/excel.pattern_fill_helper.js
  js/exporter/excel/excel.tag_helper.js
  js/exporter/excel_creator.js
  js/exporter/excel_format_converter.js
  js/ui/data_grid/ui.data_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.export.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/helpers/dataGridExportTestsHelper.js
  testing/helpers/exportTestsHelper.js
  testing/helpers/jszipMock.js
  testing/helpers/pivotGridExportTestsHelper.js
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/excelFile.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.localization/localization.intl.widgets.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.customizeExcelCell.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/export.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.export.tests.js
Labels: 23_1

#23656 Cache nested node_modules paths
  .github/workflows/_lint.yml
  nx.json
  package.json
  packages/jquery/project.json
Labels: renovation

#23598 CI: improve VS Code support
  .eslintignore
  .off.eslintrc.js
  packages/components/rollup/rollup.config.mjs
  packages/core/rollup/rollup.config.mjs
Labels: renovation

#23655 dxScheduler - increment rrule package version
  build/gulp/check_licenses.js
  package-lock.json
  package.json
Labels: 22_2

#23668 PivotGrid (T1138119): Fix popup items drag-n-drop (#23627)
  js/ui/pivot_grid/sortable/const.js
  js/ui/pivot_grid/sortable/index.js
  js/ui/pivot_grid/sortable/item_render.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  scss/widgets/base/pivotGrid/_index.scss
  testing/testcafe/model/pivotGrid/fieldChooser.ts
  testing/testcafe/tests/pivotGrid/fieldChooser/T1138119_dragAndDropAreaItems.ts
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with invisible fields (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with invisible fields (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with three invisible fields (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with three invisible fields (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with two invisible fields (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/FieldChooser change dataField order with two invisible fields (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_bottom (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_bottom (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_left (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_left (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_right (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_right (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_top (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_row-area-item_dnd_top (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (generic-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (material-blue-light).png
  testing/testcafe/tests/pivotGrid/fieldChooser/fieldChooser.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
Labels: cherry-pick, 22_1

#23670 dxScheduler - increment rrule package version
  build/gulp/check_licenses.js
  package-lock.json
  package.json
Labels: cherry-pick, 22_1

#23660 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295) (#23600)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#23664 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295) (#23600)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_2

#23674 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295) (#23600)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
Labels: cherry-pick, 20_2

#23666 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295) (#23600)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 20_1

#23681 DataGrid - It is not possible to reorder columns when headerCellRender is used in React (T1139245)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.modules.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: type/bug, cherry-pick, 23_1

#23658 DataGrid - It is not possible to reorder columns when headerCellRender is used in React (T1139245)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.filter_row.js
  js/ui/grid_core/ui.grid_core.modules.js
  js/ui/grid_core/ui.grid_core.virtual_columns.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: type/bug, 22_2

#23680 fix security alerts
  .github/workflows/_security-alerts.yml
Labels: type/bug, 23_1

#23665 DataGrid, PivotGrid CSV export: add capability to prevent executable content (T1135295) (#23600)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_format.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.options.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 21_1

#23649 TreeView: fix height calculations when searchEnabled is true in Material theme (T1138605)
  scss/widgets/material/treeView/_index.scss
  scss/widgets/material/treeView/_sizes.scss
  testing/testcafe/model/scrollView/scrollable.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/treeView/common.ts
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light-compact).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light-compact).png
Labels: 23_1

#23685 TreeView: fix height calculations when searchEnabled is true in Material theme (T1138605)
  scss/widgets/material/treeView/_index.scss
  scss/widgets/material/treeView/_sizes.scss
  testing/testcafe/model/scrollView/scrollable.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/treeView/common.ts
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light-compact).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light-compact).png
Labels: cherry-pick, 22_1

#23684 TreeView: fix height calculations when searchEnabled is true in Material theme (T1138605)
  scss/widgets/material/treeView/_index.scss
  scss/widgets/material/treeView/_sizes.scss
  testing/testcafe/model/scrollView/scrollable.ts
  testing/testcafe/model/treeView/index.ts
  testing/testcafe/tests/navigation/treeView/common.ts
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (generic-light-compact).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light).png
  testing/testcafe/tests/navigation/treeView/etalons/TreeView scrollable has correct height (material-blue-light-compact).png
Labels: cherry-pick, 22_2

#23576 DataGrid: Fix keyboard navigation by tab key for adaptive detail row (T1134231)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/model/dataGrid/adaptiveDetailRow.ts
  testing/testcafe/model/dataGrid/data/adaptiveCell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: cherry-pick, 23_1

#23575 DataGrid: Fix keyboard navigation by tab key for adaptive detail row (T1134231)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/model/dataGrid/adaptiveDetailRow.ts
  testing/testcafe/model/dataGrid/data/adaptiveCell.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: cherry-pick, 22_2

#23683 Review all _renderCore and return deferred then need
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
Labels: cherry-pick, 22_2

#23657 Сhart: remove displaying unexpected parts of chart after zooming (T1137760)
  js/viz/series/points/bar_point.js
  js/viz/series/points/base_point.js
  js/viz/series/points/candlestick_point.js
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: 23_1

#23661 Chart: remove displaying unexpected parts of chart after zooming (T1137760)
  js/viz/series/points/bar_point.js
  js/viz/series/points/base_point.js
  js/viz/series/points/candlestick_point.js
  js/viz/series/points/symbol_point.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
  testing/tests/DevExpress.viz.core.series/financialPoint.tests.js
  testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: type/bug, cherry-pick, 22_2

#23694 DataGrid - Fix toolbar item duplication caused by repaint (T1138904)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: 22_2

#23693 DataGrid - unskip testcafe test
  testing/testcafe/tests/dataGrid/masterDetail.ts
Labels: 22_1

#23705 fix missing deferUpdate definition error
  js/core/utils/common.d.ts
Labels: type/bug, 23_1

#23673 dxScheduler - increment rrule package version
  build/gulp/check_licenses.js
  package.json
Labels: cherry-pick, 20_2

#23671 dxScheduler - increment rrule package version
  build/gulp/check_licenses.js
  package-lock.json
  package.json
Labels: cherry-pick, 21_2

#23706 DataGrid - Remove this context in d.ts
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: 21_2

#23708 dxScheduler - increment rrule package version
  package.json
Labels: WIP, 21_1

#23688 Add missing tag for dxLookup dropDownButtonTemplate
  js/ui/lookup.js
Labels: 22_2

#23689 Add missing tag for dxLookup dropDownButtonTemplate
  js/ui/lookup.js
Labels: cherry-pick, 23_1

#23690 Add missing tag for dxLookup dropDownButtonTemplate
  js/ui/lookup.js
Labels: cherry-pick, 22_1

#23691 Add missing tag for dxLookup dropDownButtonTemplate
  js/ui/lookup.js
Labels: cherry-pick, 21_2

#23692 Add missing tag for dxLookup dropDownButtonTemplate
  js/ui/lookup.js
Labels: cherry-pick, 21_1

#23699 DataGrid - Fix toolbar item duplication cause by repaint (TT1138904)
  js/ui/data_grid/ui.data_grid.grouping.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Labels: cherry-pick, 23_1

#23677 TestCafe: try switch off renovation build task
  .github/workflows/testcafe_tests.yml
  js/renovation/components.js
  testing/renovation-npm/react-app/src/App.js
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/testcafe/runner.js
  testing/testcafe/tests/renovation/scheduler/appointmentEditForm/popup.ts
  testing/testcafe/tests/renovation/scheduler/appointments/adaptivity.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/workWeek.ts
  testing/testcafe/tests/renovation/scheduler/appointments/focus.ts
  testing/testcafe/tests/renovation/scheduler/appointments/overflow-indicators.ts
  testing/testcafe/tests/renovation/scheduler/appointments/recurrence.ts
  testing/testcafe/tests/renovation/scheduler/appointments/reduced.ts
  testing/testcafe/tests/renovation/scheduler/appointments/reducedIconTooltip.ts
  testing/testcafe/tests/renovation/scheduler/appointments/regular.ts
  testing/testcafe/tests/renovation/scheduler/appointments/resources.ts
  testing/testcafe/tests/renovation/scheduler/appointments/templates.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/appointmentTemplate.ts
  testing/testcafe/tests/renovation/scheduler/performance/appointments.ts
  testing/testcafe/tests/renovation/scheduler/performance/workspace.ts
  testing/testcafe/tests/renovation/scheduler/resources/resources.ts
  testing/testcafe/tests/renovation/scheduler/views/cell_duration.ts
  testing/testcafe/tests/renovation/scheduler/views/firstDayOfWeek.ts
  testing/testcafe/tests/renovation/scheduler/views/templates.ts
  testing/testcafe/tests/renovation/scheduler/views/virtual_scroling.ts
Labels: cherry-pick, 22_2

#23678 TestCafe: try switch off renovation build task
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
  js/renovation/components.js
  testing/renovation-npm/react-app/src/App.js
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/testcafe/runner.js
  testing/testcafe/tests/renovation/scheduler/appointmentEditForm/popup.ts
  testing/testcafe/tests/renovation/scheduler/appointments/adaptivity.ts
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/workWeek.ts
  testing/testcafe/tests/renovation/scheduler/appointments/focus.ts
  testing/testcafe/tests/renovation/scheduler/appointments/overflow-indicators.ts
  testing/testcafe/tests/renovation/scheduler/appointments/recurrence.ts
  testing/testcafe/tests/renovation/scheduler/appointments/reduced.ts
  testing/testcafe/tests/renovation/scheduler/appointments/reducedIconTooltip.ts
  testing/testcafe/tests/renovation/scheduler/appointments/regular.ts
  testing/testcafe/tests/renovation/scheduler/appointments/resources.ts
  testing/testcafe/tests/renovation/scheduler/appointments/templates.ts
  testing/testcafe/tests/renovation/scheduler/layout/templates/appointmentTemplate.ts
  testing/testcafe/tests/renovation/scheduler/performance/appointments.ts
  testing/testcafe/tests/renovation/scheduler/performance/workspace.ts
  testing/testcafe/tests/renovation/scheduler/resources/resources.ts
  testing/testcafe/tests/renovation/scheduler/views/cell_duration.ts
  testing/testcafe/tests/renovation/scheduler/views/firstDayOfWeek.ts
  testing/testcafe/tests/renovation/scheduler/views/templates.ts
  testing/testcafe/tests/renovation/scheduler/views/virtual_scroling.ts
Labels: cherry-pick, 22_1

#23686 TagBox: remove tag button click should not remove tags in other TagBoxes with fieldTemplate (T1137828)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 23_1

#23704 TestCafe: switch on fx animation for Popup tests
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/map/map.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
Labels: cherry-pick, 22_1

#23703 TestCafe: switch on fx animation for Popup tests
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/map/map.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
Labels: cherry-pick, 22_2

#23702 TestCafe: switch on fx animation for Popup tests
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/editors/map/map.ts
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/testcafe/tests/editors/overlays/resizeObserverIntegration.ts
Labels: 23_1

#23701 Notify: show/hide events argument should be plain object (T1139680)
  js/ui/notify.js
  testing/tests/DevExpress.ui/notify.tests.js
Labels: 23_1

#23700 TextEditor: fix invalid field's double border
  scss/widgets/material/textEditor/_index.scss
Labels: 23_1

#23710 TagBox: remove tag button click should not remove tags in other TagBoxes with fieldTemplate (T1137828)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 22_1

#23711 TagBox: remove tag button click should not remove tags in other TagBoxes with fieldTemplate (T1137828)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 22_2

#23712 Notify: show/hide events argument should be plain object (T1139680)
  js/ui/notify.js
  testing/tests/DevExpress.ui/notify.tests.js
Labels: cherry-pick, 22_1

#23713 Notify: show/hide events argument should be plain object (T1139680)
  js/ui/notify.js
  testing/tests/DevExpress.ui/notify.tests.js
Labels: cherry-pick, 22_2

#23715 TextEditor: fix invalid field's double border (#23700)
  scss/widgets/material/textEditor/_index.scss
Labels: cherry-pick, 22_2

#23714 TextEditor: fix invalid field's double border (#23700)
  scss/widgets/material/textEditor/_index.scss
Labels: cherry-pick, 22_1

#23695 DataGrid - add more types
  build/gulp/ts.js
  js/core/renderer.d.ts
  js/core/utils/deferred.d.ts
  js/core/utils/iterator.js
  js/ui/grid_core/ui.grid_core.adaptivity.d.ts
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_chooser.d.ts
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.column_headers.d.ts
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.d.ts
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.editing.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.grid_view.d.ts
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.header_panel.d.ts
  js/ui/grid_core/ui.grid_core.header_panel.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.d.ts
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
Labels: 23_1

#23709 DataGrid - add more types
  build/gulp/ts.js
  js/core/renderer.d.ts
  js/core/utils/deferred.d.ts
  js/core/utils/iterator.js
  js/renovation/component_wrapper/utils/utils.ts
  js/ui/grid_core/ui.grid_core.adaptivity.d.ts
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_chooser.d.ts
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.column_headers.d.ts
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.columns_controller.d.ts
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.data_source_adapter.d.ts
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/grid_core/ui.grid_core.editing.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.grid_view.d.ts
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.header_panel.d.ts
  js/ui/grid_core/ui.grid_core.header_panel.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.d.ts
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
Labels: cherry-pick, 22_2

#23591 DataGrid - defaultFilterOperation of lookup column is undefined if calculateDisplayValue is set - T1130874
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 22_1

#23592 DataGrid - defaultFilterOperation of lookup column is undefined if calculateDisplayValue is set - T1130874
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: cherry-pick, 23_1

#23593 DataGrid - defaultFilterOperation of lookup column is undefined if calculateDisplayValue is set - T1130874
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Labels: 22_2

#23564 Overlay: support position.boundary=window
  js/animation/position.js
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 23_1

#23723 DataGrid - fix deferUpdate import
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.rows.js
Labels: 23_1

#23582 scheduler - fixing maximum call stack error (T1128905)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 23_1

#23724 scheduler - fixing maximum call stack error (T1128905) 22_1
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 22_1

#23725 scheduler - fixing maximum call stack error (T1128905) 22_2
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 22_2

#23682 Review all _renderCore and return deferred then need
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.search.js
  js/ui/grid_core/ui.grid_core.selection.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
Labels: 23_1

#23717 Renovation: Replace view models with selectors + simplify the core
  packages/angular/projects/angular/src/components/radio-button/radio-button.strategies.ts
  packages/angular/projects/angular/src/components/radio-common/radio-group.service.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/internal/index.ts
  packages/angular/projects/angular/src/internal/rxjs/index.ts
  packages/angular/projects/angular/src/internal/rxjs/use-store-selector.ts
  packages/components/src/radio-group/index.ts
  packages/core/src/__test__/create-core.test.ts
  packages/core/src/__test__/state-manager.test.ts
  packages/core/src/__test__/state.test.ts
  packages/core/src/__test__/view-model-manager.test.ts
  packages/core/src/__test__/view-model.test.ts
  packages/core/src/create-core.ts
  packages/core/src/index.ts
  packages/core/src/middlewares/__test__/callbacks-middleware.test.ts
  packages/core/src/middlewares/__test__/controlled-mode-middleware.test.ts
  packages/core/src/middlewares/__test__/get-changed-keys.test.ts
  packages/core/src/middlewares/callbacks-middleware.ts
  packages/core/src/middlewares/controlled-mode-middleware.ts
  packages/core/src/middlewares/get-changed-keys.ts
  packages/core/src/selector.ts
  packages/core/src/state-manager.ts
  packages/core/src/state.ts
  packages/core/src/store.ts
  packages/core/src/utils/__test__/get-keys.test.ts
  packages/core/src/utils/get-keys.ts
  packages/core/src/view-model-manager.ts
  packages/core/src/view-model.ts
  packages/react/src/components/radio-button/radio-button-hocs.tsx
  packages/react/src/components/radio-button/radio-button.tsx
  packages/react/src/components/radio-button/types.ts
  packages/react/src/components/radio-common/index.ts
  packages/react/src/components/radio-common/radio-group-context.ts
  packages/react/src/components/radio-common/radio-group-store-context.ts
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/hooks/index.ts
  packages/react/src/internal/hooks/use-core-state.ts
  packages/react/src/internal/hooks/use-store.ts
Labels: renovation

#23716 Button: extract texteditor styles
  scss/widgets/generic/button/_index.scss
  scss/widgets/generic/button/_mixins.scss
  scss/widgets/generic/button/_sizes.scss
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/generic/textEditor/_sizes.scss
Labels: 23_1

#23728 DataGrid - fix wrongly removed jsdocs
  js/ui/grid_core/ui.grid_core.columns_controller.js
Labels: 23_1

#23729 DataGrid - fix wrongly removed jsdocs
  js/ui/grid_core/ui.grid_core.columns_controller.js
Labels: cherry-pick, 22_2

#23726 Preserve rrule license header
  build/gulp/compression-pipes.js
Labels: 22_2

#23721 Overlay: support position.boundary=window
  js/animation/position.js
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_1

#23732 Overlay: increase the rough asserts' delta to make tests more stable
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 23_1

#23720 Overlay: support position.boundary=window
  js/animation/position.js
  testing/testcafe/tests/editors/overlays/popup.ts
  testing/tests/DevExpress.animation/position.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_2

#23733 Preserve rrule license header (#23726)
  build/gulp/compression-pipes.js
Labels: cherry-pick, 22_1

#23735 Preserve rrule license header (#23726)
  build/gulp/compression-pipes.js
Labels: cherry-pick, 21_2

#23718 Renovation: Replace the reducer via universal addUpdate
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.strategies.ts
  packages/angular/projects/angular/src/components/radio-common/radio-group.service.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/internal/rxjs/use-store-selector.ts
  packages/components/src/radio-group/index.ts
  packages/core/src/__test__/reducer.test.ts
  packages/core/src/index.ts
  packages/core/src/reducer.ts
  packages/core/src/store.ts
  packages/react/src/components/radio-button/radio-button-hocs.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/hooks/use-store.ts
Labels: renovation

#23736 Scheduler(T1128938): AllDay appointment ending before startDayHour is not displayed in TimelineDay view
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/workspaces/view_model/grouped_data_map_provider.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDayEndsAtMidnight.ts
  testing/testcafe/tests/scheduler/appointments/allDay/allDayTimelines.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineDay_first.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineDay_second.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineMonth_first.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineMonth_second.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/timeline-month_all-day-midnight-first-day.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/timeline-month_all-day-midnight-second-day.png
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: cherry-pick, 22_2

#23737 Scheduler(T1128938): AllDay appointment ending before startDayHour is not displayed in TimelineDay view
  js/ui/scheduler/appointments/settingsGenerator.js
  js/ui/scheduler/workspaces/view_model/grouped_data_map_provider.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDayEndsAtMidnight.ts
  testing/testcafe/tests/scheduler/appointments/allDay/allDayTimelines.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineDay_first.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineDay_second.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineMonth_first.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight-next-month_all-day-appt_view=timelineMonth_second.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=month_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineDay_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=timelineMonth_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=6_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=18.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/midnight_all-day-appt_view=week_start=undefined_end=undefined.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/timeline-month_all-day-midnight-first-day.png
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/timeline-month_all-day-midnight-second-day.png
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: cherry-pick, 22_1

#23719 [Blocked by #23718] Renovation: Refactor the core package tests + add new ones
  .gitignore
  packages/core/jest.config.ts
  packages/core/src/__test__/selector.test.ts
  packages/core/src/__test__/store.test.ts
  packages/core/src/middlewares/__test__/callbacks-middleware.test.ts
  packages/core/src/middlewares/__test__/controlled-mode-middleware.test.ts
  packages/core/src/store.ts
  packages/core/src/utils/__test__/get-keys.test.ts
  packages/core/src/utils/__test__/memoize.test.ts
  packages/core/src/utils/__test__/observable.test.ts
  packages/core/src/utils/__test__/pipe.test.ts
  packages/core/src/utils/__test__/shallow-comparer.test.ts
Labels: renovation

#23662 Renovation: Basic React form spike
  packages/react/.eslintrc.js
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/index.ts
  packages/react/src/internal/props.ts
  playgrounds/react/.eslintrc.js
  playgrounds/react/src/app.tsx
  playgrounds/react/src/examples/form/components/contexts/form-context.ts
  playgrounds/react/src/examples/form/components/contexts/validation-context.ts
  playgrounds/react/src/examples/form/components/dummy-validation.tsx
  playgrounds/react/src/examples/form/components/form-item-hoc-approach/form-item.tsx
  playgrounds/react/src/examples/form/components/form-item-hoc-approach/radio-group-form-editor.tsx
  playgrounds/react/src/examples/form/components/form-item-hoc-approach/with-form-context.tsx
  playgrounds/react/src/examples/form/components/form-item-parts.tsx
  playgrounds/react/src/examples/form/components/form-item-plain-approach/form-item.tsx
  playgrounds/react/src/examples/form/components/form.tsx
  playgrounds/react/src/examples/form/components/hooks/use-form-item-layout.tsx
  playgrounds/react/src/examples/form/components/hooks/use-validation-rules-extractor.ts
  playgrounds/react/src/examples/form/components/hooks/use-validation.ts
  playgrounds/react/src/examples/form/components/index.ts
  playgrounds/react/src/examples/form/components/types.ts
  playgrounds/react/src/examples/form/components/utils.ts
  playgrounds/react/src/examples/form/form-example.tsx
  playgrounds/react/src/home.tsx
Labels: renovation

#23741 dxDataGrid - the selectedRowKeys option and the 'Select all' checkbox state are not reset after both the dataSource and paging.pageIndex options are changed at the same time (T1136904)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: cherry-pick, 22_1

#23740 dxDataGrid - the selectedRowKeys option and the 'Select all' checkbox state are not reset after both the dataSource and paging.pageIndex options are changed at the same time (T1136904)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: cherry-pick, 22_2

#23739 dxDataGrid - the selectedRowKeys option and the 'Select all' checkbox state are not reset after both the dataSource and paging.pageIndex options are changed at the same time (T1136904)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Labels: 23_1

#23687 DataGrid - Remove redundant outlines from checkbox in adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-checkbox-outline.png
Labels: 23_1

#23696 DataGrid - Remove redundant outlines from checkbox in adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-checkbox-outline.png
Labels: cherry-pick, 22_1

#23697 DataGrid - Remove redundant outlines from checkbox in adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-checkbox-outline.png
Labels: cherry-pick, 22_2

#23698 DataGrid - Remove redundant outlines from checkbox in adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editor_factory.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-adaptive-checkbox.png
  testing/testcafe/tests/dataGrid/etalons/grid-checkbox-outline.png
  testing/testcafe/tests/dataGrid/etalons/grid-popup-editing-checkbox.png
Labels: cherry-pick, 21_2

#23745 PivotGrid - A bound chart's value axis has incorrect value type (T1141142)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: cherry-pick, 22_1

#23744 PivotGrid - A bound chart's value axis has incorrect value type (T1141142)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: cherry-pick, 22_2

#23743 PivotGrid - A bound chart's value axis has incorrect value type (T1141142)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Labels: 23_1

#23063 BarGauge: make resolveLabelOverlapping to support "shift" mode
  js/common/charts.d.ts
  js/viz/bar_gauge.d.ts
  js/viz/core/renderers/renderer.js
  js/viz/core/utils.js
  js/viz/funnel.d.ts
  js/viz/gauges/bar_gauge.js
  js/viz/pie_chart.d.ts
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#23675 scheduler - fixed dxScheduler re-render of all the appointments when browser window is resized (T1136508)
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/rerenderOnResize.ts
Labels: 23_1

#23753 scheduler - fixed dxScheduler re-render of all the appointments when browser window is resized (T1136508)
  testing/testcafe/tests/scheduler/rerenderOnResize.ts
Labels: 23_1

#23751 scheduler - fixed dxScheduler re-render of all the appointments when browser window is resized (T1136508)
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/rerenderOnResize.ts
Labels: cherry-pick, 22_2

#23746 R2 Core RG: Fix missed after refactoring update from props scenario.
  packages/core/src/__test__/store.test.ts
  packages/core/src/store.ts
Labels: renovation

#23747 R2 Angular RG: Fix dynamic inputs update issues + simplify the component
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-button/radio-button.strategies.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/angular/projects/angular/src/internal/context.ts
  packages/angular/projects/angular/src/internal/index.ts
  packages/angular/projects/angular/src/internal/rxjs/index.ts
  packages/angular/projects/angular/src/internal/rxjs/use-selector.ts
  packages/angular/projects/angular/src/internal/rxjs/use-store-selector.ts
  packages/angular/projects/angular/src/internal/types.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.component.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-example.module.ts
  playgrounds/angular/src/app/examples/radio-group/radio-group-playground.component.ts
  playgrounds/angular/src/app/styles/index.scss
Labels: renovation

#23750 DataGrid - The `TypeError: this._contentReadyAction is not a function` is thrown after widget disposed if renderAsync property is set to `true` (T1138639)
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: type/bug, 23_1

#23730 Button: extract some common styles to base file
  scss/widgets/base/button/_index.scss
  scss/widgets/generic/button/_index.scss
  scss/widgets/generic/button/_mixins.scss
  scss/widgets/generic/button/_sizes.scss
  scss/widgets/generic/calendar/_index.scss
  scss/widgets/material/button/_index.scss
  scss/widgets/material/button/_sizes.scss
  scss/widgets/material/dropDownButton/_sizes.scss
Labels: 23_1

#23472 DataGrid - Fix lookup cell unfocusing on iPad - T1131810
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 22_2

#23573 DataGrid - Fix lookup cell unfocusing on iPad - T1131810
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.editor_factory.d.ts
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 23_1

#23597 DataGrid - Fix lookup cell unfocusing on iPad - T1131810
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 21_2

#23758 Fix radio-button-hocs.jsx
  packages/jquery/patch/radio-button-hocs.jsx
Labels: renovation

#23769 Scheduler: change etalons after Chrome update
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 23_1

#23768 Scheduler: Change etalons after Chrome update.
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 22_2

#23767 Scheduler: change etalons after Chrome update
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
Labels: 22_1

#23766 Scheduler: change etalons after Chrome update
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
Labels: 21_2

#23765 Scheduler: change etalons after Chrome update
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-before-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-before-scroll-horizontal-grouping-scaling.png
Labels: 21_1

#23748 HtmlEditor: Rework static storage templates of mentions for different editors(T1110266)
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/utils/templates_storage.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: 23_1

#23759 HtmlEditor: Rework static storage templates of mentions for different editors(T1110266)
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/utils/templates_storage.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 22_2

#23760 HtmlEditor: Rework static storage templates of mentions for different editors(T1110266)
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/ui.html_editor.js
  js/ui/html_editor/utils/templates_storage.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 22_1

#23764 DataGrid doesn't re-filter rows when changing a FilterRow's operation and using a getter-function in calculateFilterExpression (T1141898)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 23_1

#23776 DataGrid doesn't re-filter rows when changing a FilterRow's operation and using a getter-function in calculateFilterExpression (T1141898)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 22_2

#23774 DropDownBox, TagBox: add keyboard navigation tests
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 23_1

#23782 R2 Core: swap createSelector params.
  packages/core/src/__test__/selector.test.ts
  packages/core/src/selector.ts
Labels: renovation

#23761 Add R2 Vue Wrappers
  .eslintignore
  .github/workflows/_lint.yml
  .github/workflows/_tests.yml
  package-lock.json
  package.json
  packages/interim/src/renovation/component_wrapper/common/component.ts
  packages/jquery/src/radio-button.d.ts
  packages/jquery/src/radio-button.js
  packages/vue/.gitignore
  packages/vue/generate.ts
  packages/vue/package.json
  packages/vue/src/index.ts
  packages/vue/src/radio-button.ts
  packages/vue/src/ui/radio-button.ts
  playgrounds/vue/.vscode/extensions.json
  playgrounds/vue/env.d.ts
  playgrounds/vue/index.html
  playgrounds/vue/package.json
  playgrounds/vue/public/favicon.ico
  playgrounds/vue/src/App.vue
  playgrounds/vue/src/assets/main.css
  playgrounds/vue/src/components/RadioButtonExample.vue
  playgrounds/vue/src/main.ts
  playgrounds/vue/tsconfig.config.json
  playgrounds/vue/tsconfig.json
  playgrounds/vue/vite.config.ts
Labels: renovation

#23771 SpeedDialAction: Provide elementAttr from SDA to Overlay (T1140620)
  js/ui/speed_dial_action/speed_dial_main_item.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Labels: 23_1

#23793 SpeedDialAction: Provide elementAttr from SDA to Overlay (T1140620)
  js/ui/speed_dial_action/speed_dial_main_item.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Labels: cherry-pick, 22_1

#23773 File Manager - Fix upload operation finalization without notification panel (T1136702)
  js/ui/file_manager/ui.file_manager.notification_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: 23_1

#23783 File Manager - Fix upload operation finalization without notification panel (T1136702)
  js/ui/file_manager/ui.file_manager.notification_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: cherry-pick, 22_2

#23784 File Manager - Fix upload operation finalization without notification panel (T1136702)
  js/ui/file_manager/ui.file_manager.notification_manager.js
  testing/helpers/fileManager/file_provider.slow.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/progressPanel.tests.js
Labels: cherry-pick, 22_1

#23749 T1137090 - ThemeBuilder - It is not possible to create a theme using a file with Bootstrap variables 5.1 & Support css variables in bootstrap
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/tests/modules/bootstrap-extractor.test.ts
Labels: 22_2

#23789 HtmlEditor: ValueChanged event should be triggered once when value contains non optimized markup(T1137577)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
Labels: 23_1

#23799 HtmlEditor: ValueChanged event should be triggered once when value contains non optimized markup(T1137577)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
Labels: cherry-pick, 22_1

#23770 Grid: Enable skipped virtual scrolling QUnit test case.
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: 23_1

#23800 T1137090 - ThemeBuilder - It is not possible to create a theme using a file with Bootstrap variables 5.1 & Support css variables in bootstrap
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/tests/modules/bootstrap-extractor.test.ts
Labels: cherry-pick, 23_1

#23632 DataGrid - The type information is incorrect when the customizeText cellInfo value is an object (T1128631)
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#23633 DataGrid - The type information is incorrect when the customizeText cellInfo value is an object (T1128631)
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#23794 TagBox: fix tags selection when items are objects, valueExpr="this" and applyValueMode='useButtons' (T1141799)
  js/core/utils/array.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 23_1

#23801 Grid: Enable skipped virtual scrolling QUnit test case. (#23770)
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_2

#23802 Grid: Enable skipped virtual scrolling QUnit test case. (#23770)
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.tests.js
Labels: cherry-pick, 22_1

#23806 TagBox: fix tags selection when items are objects, valueExpr="this" and applyValueMode='useButtons' (T1141799)
  js/core/utils/array.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 22_1

#23805 TagBox: fix tags selection when items are objects, valueExpr="this" and applyValueMode='useButtons' (T1141799)
  js/core/utils/array.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 22_2

#23809 R2 React: Fix issue with cached selectors.
  package.json
  packages/components/src/radio-group/index.ts
  packages/core/src/selector.ts
  packages/core/src/utils/__test__/memoize.test.ts
  packages/core/src/utils/memoize.ts
  packages/react/src/components/radio-button/radio-button-hocs.tsx
  packages/react/src/internal/hooks/use-store.ts
Labels: renovation
