Repository DevExpress/DevExtreme, pull requests merged in 2023-12, with the labels that each got.

#26121 HierarchicalCollection: icon alt text should not duplicate item text
  packages/devextreme/js/ui/hierarchical_collection/ui.hierarchical_collection_widget.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: 23_2

#26107 DropDownEditor: popup should be closed on parent element scroll (T1195950)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/js/ui/popover/ui.popover.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 23_2

#26125 Added pl.json for Polish localization
  js/localization/messages/pl.json
Labels: area/localization

#26082 DateBox: time inputs should have values when root element is used as container (T1193495)
  packages/devextreme/scss/widgets/base/dropDownEditor/_mixins.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBox.ts
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Labels: 23_2

#26073 DataGrid - Fix the E0110 error that occurs when editing a column with setCellValue in form mode (T1193894)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Labels: type/bug, 23_2

#26123 Added pl.json for Polish localization
  js/localization/messages/pl.json
Labels: area/localization

#26118 DataGrid - The collapse icon is missing in a group row in certain usage scenarios
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: type/bug, 23_2

#26086 Chart - Remove rounding values on translation for line/area series(T1195064)
  packages/devextreme/js/viz/series/points/symbol_point.js
  packages/devextreme/js/viz/translators/translator2d.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: 23_2

#26079 Chart - RangePoint should be visible when minValue less minVisible but value above minVisible(T1198830)
  packages/devextreme/js/viz/series/points/bar_point.js
  packages/devextreme/testing/tests/DevExpress.viz.core.series/rangePoint.tests.js
Labels: 23_2

#26129 Chart - RangePoint should be visible when minValue less minVisible but value above minVisible(T1198830)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/rangePoint.tests.js
Labels: cherry-pick, 22_2

#26137 Chart - Remove rounding values on translation for line/area series(T1195064)
  js/viz/series/points/symbol_point.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: cherry-pick, 22_2

#26141 DataGrid - The collapse icon is missing in a group row in certain usage scenarios
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/continued_group-collapse_icon-T1201981.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: cherry-pick, 23_1

#26133 DateBox: time inputs should have values when root element is used as container (T1193495)
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/dateBox.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Labels: 23_1

#26144 Chart: fix tooltip for hovered series after zooming (T1197697)
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/viz/utils.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: cherry-pick, 23_1

#26146 DateBox: time inputs should have values when root element is used as container (T1193495) (#26133)
  scss/widgets/generic/dropDownEditor/_index.scss
  scss/widgets/material/dropDownEditor/_index.scss
  testing/testcafe/tests/editors/dateBox/dateBox.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
Labels: cherry-pick, 22_2

#26136 Chart - Remove rounding values on translation for line/area series(T1195064)
  js/viz/series/points/symbol_point.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: cherry-pick, 23_1

#26127 DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731)
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 23_2

#26160 DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 22_2

#26161 DataGrid: Fix keyboard event bubbling when pressing escape key (T1202731)
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 23_1

#26094 FilterBuilder - add tests for treeview items
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/model/filterBuilder/index.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/data.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (generic-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/field-dropdown (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (generic-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/operation-dropdown (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Labels: 23_2

#26109 TreeList - Parent elements can be dropped into child elements in certain cases (T1179555)
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: 23_2

#26134 DataGrid - Fix the E0110 error that occurs when editing a column with setCellValue in form mode (T1193894)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Labels: cherry-pick, 23_1

#26135 DataGrid - Fix the E0110 error that occurs when editing a column with setCellValue in form mode (T1193894)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-form-editing-T1193894.png
Labels: cherry-pick, 22_2

#26041 Scheduler: Fix popup deprecation warning.
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/appointmentPopupErrors.ts
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Labels: cherry-pick, 23_1

#26168 Update renovate to automatically merge minor and patch version updates
  .github/renovate.json
Labels: 23_2

#26165 Bump `devextreme-quill` version to 1.6.3
  package-lock.json
  package.json
Labels: 22_2

#26166 Bump `devextreme-quill` version to 1.6.3
  package-lock.json
  package.json
Labels: 23_1

#26167 Bump `devextreme-quill` version to 1.6.3
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 23_2

#26164 Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736)
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/views/month/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/fluent-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/workSpace.ts
Labels: type/bug, 23_2

#26170 Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Labels: cherry-pick, 23_1

#26159 DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 23_1

#26158 DataGrid: Fix tab navigation by cells when there is a cell with a checkbox (T1203057)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: cherry-pick, 22_2

#26140 NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553]
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 23_2

#26190 Scheduler - A scrollbar doesn't appear in the month view in material themes in certain cases (T1202736)
  scss/widgets/base/scheduler/views/_index.scss
  scss/widgets/base/scheduler/views/month/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-generic.light.png
  testing/testcafe/tests/scheduler/etalons/scrollable-month-workspace-material.blue.light.png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/workSpace.ts
Labels: cherry-pick, 22_2

#26195 NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553]
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 22_2

#26194 NumberBox: allow to clear the selected text by pressing the decimal separator when the format is specified [T1199553]
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 23_1

#26157 DataGrid: Fix closing editable cell when mouse pointer is dragged to copy data to other cells of the current row (T1203250)
  js/__internal/grids/grid_core/editing/m_editing.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 23_1

#26155 DataGrid: Fix closing editable cell when mouse pointer is dragged to copy data to other cells of the current row (T1203250)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 23_2

#26218 Chart: Negative values are not displayed when multiple value axes are synchronized to zero ( T1193670 )
  js/viz/chart_components/multi_axes_synchronizer.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 22_2

#26217 Chart: Negative values are not displayed when multiple value axes are synchronized to zero ( T1193670 )
  js/viz/chart_components/multi_axes_synchronizer.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 23_1

#26202 TreeList - Parent elements can be dropped into child elements in certain cases (T1179555)
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: cherry-pick, 23_1

#26201 TreeList - Parent elements can be dropped into child elements in certain cases (T1179555)
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: cherry-pick, 22_2

#26154 TabPanel: Fix tabpanel container height (T1203780)
  packages/devextreme/scss/widgets/base/_tabPanel.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 23_2

#26229 Chart: Prevent stopping the current handling after dispose (T1200461)
  js/__internal/viz/chart_components/m_base_chart.ts
  testing/tests/DevExpress.viz.charts/chartSync.tests.js
Labels: cherry-pick, 23_1

#26204 Scheduler - The selected date in the date navigator calendar is not changed when the currentDate option is changed (T1202368)
  js/__internal/scheduler/header/m_header.ts
  testing/testcafe/tests/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/scheduler/header/etalons/navigator-state-after-change-currentDate-option.png
Labels: cherry-pick, 22_2

#26203 Scheduler - The selected date in the date navigator calendar is not changed when the currentDate option is changed (T1202368)
  js/__internal/scheduler/header/m_header.ts
  testing/testcafe/tests/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/scheduler/header/etalons/navigator-state-after-change-currentDate-option.png
Labels: cherry-pick, 23_1

#26152 Align switch in toolbar to vertical center in material and fluent themes (T1197045)
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
Labels: 23_2

#26187 TreeView - Fix rising onItemCollapsed event when 'collapseItem' called after expandAll(T1202248)
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Labels: 23_2

#26148 Add tests for DropDownButton width in FileManager
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/fileManager/common.ts
  packages/devextreme/testing/testcafe/tests/fileManager/etalons/drop down width (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/fileManager/etalons/drop down width (generic-light).png
  packages/devextreme/testing/testcafe/tests/fileManager/etalons/drop down width (material-blue-light).png
Labels: 23_2

#26241 TagBox - Fix custom item rendering after deleting equal value(T1197444)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 22_2

#26240 TagBox - Fix custom item rendering after deleting equal value(T1197444)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 23_1

#26243 TreeView - Fix rising onItemCollapsed event when 'collapseItem' called after expandAll(T1202248)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Labels: 22_2

#26242 TreeView - Fix rising onItemCollapsed event when 'collapseItem' called after expandAll(T1202248)
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeView.expanded.tests.js
Labels: cherry-pick, 23_1

#26248 Remove Fluent PivotGrid scrolling tests
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=both,useNative=false,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=both,useNative=true,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=vertical,useNative=false,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/PivotGrid rows sync dir=vertical,useNative=true,mode=standart (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/pivotGrid/scrolling.ts
Labels: 23_2

#26115 TreeView: fix setting of role when items are empty && add axe tests
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: 23_2

#26262 Scheduler(T1192564): Fix allDayPanelMode option runtime issue.
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/model/scheduler/index.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/allDayPanel/allDayPanelMode.ts
Labels: 23_2

#26272 T1204120 - Fix casing in KB, MB and GB keys
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (generic-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: area/localization

#26251 Set up packages publishing
  .github/workflows/packages_publishing.yml
  .github/workflows/renovation.yml
  build/common/version-utils.test.ts
  build/common/version-utils.ts
  build/jest.config.js
  build/make-artifacts-package.ts
  build/set-timestamp-version.ts
  build/tsconfig.json
  build/update-version.ts
  package.json
Labels: 23_2

#26245 Align switch in toolbar to vertical center in material theme (T1197045)
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
Labels: cherry-pick, 23_1

#26246 Align switch in toolbar to vertical center in material theme (T1197045)
  scss/widgets/material/toolbar/_index.scss
  testing/testcafe/tests/navigation/toolbar/common.ts
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (generic-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=always (material-blue-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (generic-light-compact).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light).png
  testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with dropDownButton,items[]locateInMenu=never (material-blue-light-compact).png
Labels: cherry-pick, 22_2

#26250 Align switch in toolbar to vertical center in material theme (T1197045)
  packages/devextreme/scss/widgets/material/toolbar/_index.scss
Labels: 23_2

#26273 Cherry-pick #26272 (T1204120)
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/lv.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (generic-light).png
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: area/localization

#26263 Scheduler(T1192564): Fix allDayPanelMode option runtime issue.
  js/__internal/scheduler/m_scheduler.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/allDayPanel/allDayPanelMode.ts
Labels: cherry-pick, 23_1

#26264 Scheduler(T1192564): Fix allDayPanelMode option runtime issue.
  js/__internal/scheduler/m_scheduler.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/scheduler/layout/allDayPanel/allDayPanelMode.ts
Labels: cherry-pick, 22_2

#26274 Cherry-pick T1204120
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (generic-light).png
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: area/localization

#26197 Scheduler(T1202735 + T1205763 + ⁠⁠T1205768 + T1205772): Fix current time indicator related issues
  packages/devextreme/js/__internal/core/utils/date.test.ts
  packages/devextreme/js/__internal/core/utils/math.test.ts
  packages/devextreme/js/__internal/core/utils/math.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/props.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 23_2

#26231 Scheduler(T1202735): Added e2e tests for the offset + current time indicator features intersection issue.
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/currentTimeIndicator.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-02T12-00-00_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-02T12-00-00_offset--1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-03T00-00-00_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-03T00-00-00_offset--720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-04T00-00-00_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-04T00-00-00_offset-720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-04T12-00-00_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-day_now-2023-12-04T12-00-00_offset-1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-02T12-00-00_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-02T12-00-00_offset--1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-03T00-00-00_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-03T00-00-00_offset--720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-04T00-00-00_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-04T00-00-00_offset-720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-04T12-00-00_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineDay_now-2023-12-04T12-00-00_offset-1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-02T12-00-00_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-02T12-00-00_offset--1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-03T00-00-00_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-03T00-00-00_offset--720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-04T00-00-00_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-04T00-00-00_offset-720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-04T12-00-00_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineMonth_now-2023-12-04T12-00-00_offset-1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-02T12-00-00_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-02T12-00-00_offset--1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-03T00-00-00_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-03T00-00-00_offset--720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-04T00-00-00_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-04T00-00-00_offset-720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-04T12-00-00_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-timelineWeek_now-2023-12-04T12-00-00_offset-1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-04T12-00-00_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-04T12-00-00_offset--1440_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-05T00-00-00_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-05T00-00-00_offset--720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-06T00-00-00_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-06T00-00-00_offset-720_start-6_end-18.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-06T12-00-00_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_time-indicator_view-week_now-2023-12-06T12-00-00_offset-1440_start-6_end-18.png
Labels: 23_2

#26277 Remove absent package from lock file
  package-lock.json
Labels: 23_2

#26002 Grouped list - Add test for rtl mode
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 23_2

#26232 T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly
  packages/devextreme/js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.dialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: 23_2

#26275 T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 23_1

#26276 T1202022 - dxFileManager - A directory is not created when clicking "New Directory" quickly
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialog.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: cherry-pick, 22_2

#26278 Fix missing dx.custom.config.js file in internal packages
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/build/gulp/utils.js
Labels: 23_2

#26281 Fix scheduled packages publishing
  .github/workflows/packages_publishing.yml
Labels: 23_2

#26249 DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Labels: type/bug, 23_2

#26279 Calendar: it should not be possible to focus dates that are disabled using combination of disabledDates+min/max
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 23_2

#26080 DataGrid - Cannot focus an inserted row if it appears on the same position as the currently focused row (T1202646)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Labels: type/bug, 23_2

#26189 TextBox: clear button should work without focus out if a mask is applied (T1193735)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 23_2

#26247 TextEditor: improve performance of initial rendering
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/testing/testcafe/model/textBox.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 23_2

#26280 Form: prevent DropDownBox from losing its value after the Form is resized (T1196835)
  packages/devextreme/js/ui/drop_down_box.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 23_2

#26305 Pin Chrome 120.0.6099.71 version
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Labels: 23_1

#26309 DateBox - Should not render two dropdown icons in FF on mobile device(T1197922)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 23_1

#26283 DateBox - Should not render two dropdown icons in FF on mobile device(T1197922)
  packages/devextreme/js/ui/date_box/ui.date_box.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 23_2

#26310 DateBox - Should not render two dropdown icons in FF on mobile device(T1197922)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 22_2

#26298 TextBox: clear button should work without focus out if a mask is applied (T1193735)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 23_1

#26289 DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Labels: cherry-pick, 22_2

#26288 DataGrid briefly shows and then removes the 'minus' sign if you press the minus key to start editing a cell with a numeric value (T1201166)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Labels: cherry-pick, 23_1

#26149 DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: 23_2

#26307 Form: prevent DropDownBox from losing its value after the Form is resized (T1196835)
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 23_1

#26308 Form: prevent DropDownBox from losing its value after the Form is resized (T1196835)
  js/ui/drop_down_box.js
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 22_2

#26150 Viz: make LegendItem public (T1191979)
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-react/src/chart.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-react/src/polar-chart.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#26306 TextEditor: rendering process takes much time (T1192938)
  js/ui/text_box/ui.text_editor.base.js
  js/ui/text_box/ui.text_editor.label.js
  testing/testcafe/helpers/themeUtils.ts
  testing/testcafe/model/textBox.ts
  testing/testcafe/tests/editors/textBox/label.ts
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: 22_2

#26314 DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 22_2

#26313 DataGrid - Modified cells should not require multiple Enter keys before the focus is moved to the next cell if showEditorAlways is enabled and enterKeyAction is set to 'startEdit' (T1196539)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_1

#26286 Jest: Add jest types to __internal TS config and fix types in grid_core.
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/tsconfig.json
Labels: 23_1

#26287 Jest: Add jest types to __internal TS config and fix types in grid_core.
  js/__internal/tsconfig.json
Labels: cherry-pick, 22_2

#26284 Scheduler(T1205763 + T1205768 + T1205772): Fix the current time indicator related issues
  js/__internal/core/utils/math.test.ts
  js/__internal/core/utils/math.ts
  js/__internal/scheduler/m_scheduler.ts
  js/__internal/scheduler/workspaces/m_timeline.ts
  js/__internal/scheduler/workspaces/m_work_space.ts
  js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  js/renovation/ui/scheduler/workspaces/props.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  scss/widgets/base/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true-vertical-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-timelineWeek-crossScrolling=true.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Labels: 23_1

#26297 DataGrid - Cannot focus an inserted row if it appears on the same position as the currently focused row (T1202646)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Labels: cherry-pick, 22_2

#26296 DataGrid - Cannot focus an inserted row if it appears on the same position as the currently focused row (T1202646)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
Labels: cherry-pick, 23_1

#26317 Viz: make LegendItem public (T1191979)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#26319 HtmlEditor: Remove browser version check when inserting an image
  packages/devextreme/js/ui/html_editor/modules/dropImage.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/dropImageModule.tests.js
Labels: 23_2

#26295 DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Labels: 23_2

#26293 DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Labels: cherry-pick, 22_2

#26294 DataGrid: Fix the "Cannot read properties of undefined (reading 'isValid')" error occurs when a promise is used in onSaving (T1201724)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/grid-editing-with-onSaving-T1201724.png
Labels: cherry-pick, 23_1

#26323 Viz: make LegendItem public - 2 (T1191979)
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#26331 Viz: make LegendItem public - 2 (T1191979)
  js/common/charts.d.ts
  js/viz/chart_components/base_chart.d.ts
  ts/aliases.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#26261 Accessibility: Add testAccessibility helper, add configuration import util, test Tabs and TreeView
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/accessibility/test.ts
  packages/devextreme/testing/testcafe/helpers/accessibility/utils.ts
  packages/devextreme/testing/testcafe/helpers/generateOptionMatrix.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tabs.ts
  packages/devextreme/testing/testcafe/tests/accessibility/treeView.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/gallery/accessibility.ts
  packages/devextreme/testing/testcafe/tests/navigation/treeView/accessibility.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/common.ts
Labels: 23_2

#26312 DataGrid - Fix invalid filter expression when sortingMethod is defined for a sorted column and remoteOperations and autoNavigateToFocusedRow are enabled (T1200546)
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/sorting/sorting.ts
Labels: type/bug, 23_2

#26340 DataGrid - Fix invalid filter expression when sortingMethod is defined for a sorted column and remoteOperations and autoNavigateToFocusedRow are enabled (T1200546)
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/sorting/sorting.ts
Labels: cherry-pick, 23_1

#26341 DataGrid - Fix invalid filter expression when sortingMethod is defined for a sorted column and remoteOperations and autoNavigateToFocusedRow are enabled (T1200546)
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/sorting/sorting.ts
Labels: cherry-pick, 22_2

#26244 TypeScript - CustomStore onLoaded result own param type (T1197789)
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/vector-map.ts
  packages/devextreme/js/data/abstract_store.d.ts
  packages/devextreme/js/data/array_store.d.ts
  packages/devextreme/js/data/custom_store.d.ts
  packages/devextreme/js/data/local_store.d.ts
  packages/devextreme/js/data/odata/store.d.ts
  packages/devextreme/js/data/store.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#26342 Skip unstable tests
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing_matrix.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/masterDetail.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
  packages/devextreme/testing/testcafe/tests/scheduler/deleteAppointments.ts
Labels: 23_2

#26343 TypeScript - CustomStore onLoaded result own param type
  js/data/custom_store.d.ts
  js/data/odata/store.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#26327 HtmlEditor: add an ability to localize border style names
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/html_editor/utils/toolbar_helper.js
Labels: area/localization, 23_2

#26321 Chore - update nx version
  .gitignore
  nx.json
  package-lock.json
  package.json
Labels: 23_2

#26348 CI: Branch 24_1
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/wrapper_tests.yml
  packages/devextreme/ports.json
Labels: 24_1

#26345 HtmlEditor: add an ability to localize border style names
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fa.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/lv.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/html_editor/utils/toolbar_helper.js
Labels: cherry-pick, 23_1

#26346 HtmlEditor: add an ability to localize border style names
  js/localization/messages/ar.json
  js/localization/messages/ca.json
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/lt.json
  js/localization/messages/nb.json
  js/localization/messages/nl.json
  js/localization/messages/pl.json
  js/localization/messages/pt.json
  js/localization/messages/ro.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh-tw.json
  js/localization/messages/zh.json
  js/ui/html_editor/utils/toolbar_helper.js
Labels: cherry-pick, 22_2

#26320 Scheduler(T1201196): Fix nested expressions issue.
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/model/scheduler/appointment/popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: 23_2

#26350 Scheduler(T1201196): Fix nested expressions issue. (#26320)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/model/scheduler/appointment/popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: cherry-pick, 24_1

#26349 Scheduler(T1201196): Fix nested expressions issue. (#26320)
  js/__internal/scheduler/appointment_popup/m_form.ts
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/model/scheduler/appointment/popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr.png
  testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: cherry-pick, 23_1

#26338 TestCafe: fix tests with 'unstable' badge
  packages/devextreme/testing/testcafe/tests/editors/map/map.ts
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/label.ts
  packages/devextreme/testing/testcafe/tests/form/common.ts
Labels: 23_2

#26358 Update devextreme-internal-tools to support version 24_1
  package-lock.json
  package.json
Labels: 24_1

#26359 Menu: items should be navigable if adaptabilityEnabled is true (T1207839)
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#26354 TestCafe: fix tests with 'unstable' badge (#26338)
  testing/testcafe/tests/editors/map/map.ts
Labels: cherry-pick, 22_2

#26353 TestCafe: fix tests with 'unstable' badge (#26338)
  testing/testcafe/tests/editors/map/map.ts
Labels: cherry-pick, 23_1

#26352 TestCafe: fix tests with 'unstable' badge (#26338)
  packages/devextreme/testing/testcafe/tests/editors/map/map.ts
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/etalons/NumberBox label with stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/numberBox/label.ts
  packages/devextreme/testing/testcafe/tests/form/common.ts
Labels: cherry-pick, 24_1

#26365 Scheduler: add mask to etalon.
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr_mask.png
Labels: cherry-pick, 23_2

#26364 Scheduler: add missing mask to etalon.
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr_mask.png
Labels: 24_1

#26366 Scheduler: add mask to etalon.
  testing/testcafe/tests/scheduler/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr_mask.png
Labels: cherry-pick, 23_1

#26355 Toolbar: extend ToolbarItemComponent type 'dxSwitch' new value
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/file-manager.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/popover.ts
  packages/devextreme-react/src/popup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/toolbar.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26356 Toolbar: extend ToolbarItemComponent type 'dxSwitch' new value
  js/common.d.ts
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#26357 Toolbar: extend ToolbarItemComponent type 'dxSwitch' new value
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/file-manager.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/popover.ts
  packages/devextreme-react/src/popup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/toolbar.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#26361 Menu: items should be navigable if adaptabilityEnabled is true (T1207839)
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_2

#26362 Menu: items should be navigable if adaptabilityEnabled is true (T1207839)
  js/ui/menu/ui.menu.js
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_1

#26363 Menu: items should be navigable if adaptabilityEnabled is true (T1207839)
  js/ui/menu/ui.menu.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 22_2

#26330 TreeView: selectAll checkBox should change value on enter key
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: 23_2

#26351 Overlay: content should not scroll on bigger inner overlay showing
  packages/devextreme/scss/widgets/base/_drawer.scss
  packages/devextreme/scss/widgets/base/_overlay.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 24_1

#26367 Popup: the styles for body overflow should not be changed if showing, hiding is prevented
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/testcafe/tests/editors/overlays/scrolling.ts
  packages/devextreme/testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 24_1

#26373 Overlay: content should not scroll on bigger inner overlay showing
  packages/devextreme/scss/widgets/base/_drawer.scss
  packages/devextreme/scss/widgets/base/_overlay.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 23_2

#26374 TreeView: selectAll checkBox should change value on enter key
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: cherry-pick, 24_1

#26375 TreeView: selectAll checkBox should change value on enter key
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: cherry-pick, 23_1

#26381 Popup: the styles for body overflow should not be changed if showing, hiding is prevented (#26367)
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/js/ui/popup/ui.popup.js
  packages/devextreme/testing/testcafe/tests/editors/overlays/scrolling.ts
  packages/devextreme/testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 23_2

#26380 Popup: the styles for body overflow should not be changed if showing, hiding is prevented (#26367)
  js/ui/overlay/ui.overlay.js
  js/ui/popup/ui.popup.js
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 23_1

#26377 TextEditors: improve base-radius-small и base-radius-large variables using
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/loadPanel/_colors.scss
  packages/devextreme/scss/widgets/generic/numberBox/_colors.scss
  packages/devextreme/scss/widgets/generic/overlay/_colors.scss
  packages/devextreme/scss/widgets/generic/popup/_colors.scss
  packages/devextreme/scss/widgets/generic/toast/_colors.scss
Labels: 24_1

#26378 TextEditors: improve base-radius-small и base-radius-large variables using
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/loadPanel/_colors.scss
  packages/devextreme/scss/widgets/generic/numberBox/_colors.scss
  packages/devextreme/scss/widgets/generic/overlay/_colors.scss
  packages/devextreme/scss/widgets/generic/popup/_colors.scss
  packages/devextreme/scss/widgets/generic/toast/_colors.scss
Labels: cherry-pick, 23_2

#26379 TextEditors: improve base-radius-small и base-radius-large variables using
  scss/widgets/generic/_colors.scss
  scss/widgets/generic/dropDownEditor/_colors.scss
  scss/widgets/generic/gridBase/_colors.scss
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/generic/loadPanel/_colors.scss
  scss/widgets/generic/numberBox/_colors.scss
  scss/widgets/generic/overlay/_colors.scss
  scss/widgets/generic/popup/_colors.scss
  scss/widgets/generic/toast/_colors.scss
Labels: cherry-pick, 23_1

#26383 HtmlEditor: bump devextreme-quill version to 1.6.4
  package-lock.json
  package.json
Labels: 23_1

#26384 HtmlEditor: bump devextreme-quill version to 1.6.4
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 23_2

#26385 HtmlEditor: bump devextreme-quill version to 1.6.4
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 24_1
