Repository DevExpress/DevExtreme, pull requests merged in 2023-02, with the labels that each got.

#23814 ColorBox: support 4 and 8-digit hex color
  js/color.js
  testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  testing/tests/DevExpress/color.tests.js
Labels: 23_1

#23815 Fix radio-button-hocs.jsx (2)
  packages/jquery/patch/radio-button-hocs.jsx
Labels: renovation

#23790 FileManager - fix scroll resetting on directory change (T1125089, T1125526)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Labels: 23_1

#23289 FileManager - fix scroll resetting on directory change (T1125089, T1125526)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Labels: 22_2

#23791 FileManager - fix scroll resetting on directory change (T1125089, T1125526)
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  js/ui/file_manager/ui.file_manager.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Labels: cherry-pick, 22_1

#23808 Overlay: Skip check for container existence if container is not defined (T1143527)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 23_1

#23817 Overlay: Skip check for container existence if container is not defined (T1143527)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_1

#23816 Overlay: Skip check for container existence if container is not defined (T1143527)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 22_2

#23823 Knockout Integration - Patch OptionManager to disable setting an observable to attribute (#23785)
  js/core/options/option_manager.js
  js/core/options/utils.js
  js/integration/knockout.js
  js/integration/knockout/attributes_config.js
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/attributes_config.tests.js
Labels: cherry-pick, 23_1

#23821 R2 Angular: Fix typo in use-selector.ts
  packages/angular/projects/angular/src/internal/rxjs/use-selector.ts
Labels: renovation

#23775 R2 React: base component functionality in the new RG.
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/components/src/index.ts
  packages/components/src/radio-group/index.ts
  packages/components/src/root-container/consts.ts
  packages/components/src/root-container/index.ts
  packages/components/src/root-container/prop-builders.ts
  packages/components/src/root-container/types.ts
  packages/components/src/root-container/utils.ts
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-button/radio-button-internal.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/hooks/use-second-effect.ts
  packages/react/src/internal/props.ts
  packages/styles/src/radio-button/radio-button.scss
  packages/styles/src/radio-group/radio-group.scss
  playgrounds/react/src/app.css
  playgrounds/react/src/examples/form/components/form-item-parts.tsx
  playgrounds/react/src/examples/form/components/hooks/use-form-item-layout.tsx
  playgrounds/react/src/examples/form/components/utils.ts
  playgrounds/react/src/examples/radio-group/radio-group-controlled-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-controlled-playground.tsx
  playgrounds/react/src/examples/radio-group/radio-group-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-uncontrolled-example.tsx
  playgrounds/react/src/examples/radio-group/radio-group-uncontrolled-playgorund.tsx
Labels: renovation

#23795 Scheduler (T1141454): Fix the scroll synchronization.
  js/renovation/ui/scheduler/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/scheduler/utils/scroll/getMemoizeScrollTo.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 23_1

#23818 Copy editor's functionality for onValueChanged event
  packages/jquery/src/editor-wrapper.js
  packages/jquery/src/radio-group.js
  playgrounds/jquery/index.html
Labels: renovation

#23819 Add onClick and onSelected to js and vue examples
  packages/jquery/src/radio-button.js
  playgrounds/jquery/index.html
  playgrounds/vue/src/components/RadioButtonExample.vue
Labels: renovation

#23828 Scheduler (T1141454): Fix the scroll synchronization.
  js/renovation/ui/scheduler/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/scheduler/utils/scroll/getMemoizeScrollTo.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 22_2

#23829 Scheduler (T1141454): Fix the scroll synchronization.
  js/renovation/ui/scheduler/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/scheduler/utils/scroll/getMemoizeScrollTo.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineDay-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineMonth-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-timelineWeek-after-scroll-horizontal-grouping-scaling.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-week-after-scroll-horizontal-grouping-scaling.png
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Labels: 22_1

#23830 Fix error of rendering order of renovated component in react strict mode (T1144694)
  js/core/inferno_renderer.js
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
Labels: cherry-pick, 22_2

#23822 R2 Styles: Add Angular styles example + modify React styles example.
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.scss
  packages/angular/projects/angular/src/components/radio-button/radio-button.component.ts
  packages/angular/projects/angular/src/components/radio-button/views/label-view.component.ts
  packages/angular/projects/angular/src/components/radio-button/views/radio-view.component.scss
  packages/angular/projects/angular/src/components/radio-button/views/radio-view.component.ts
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.scss
  packages/angular/projects/angular/src/components/radio-group/radio-group.component.ts
  packages/react/src/components/radio-button/radio-button-internal.tsx
  packages/styles/src/radio-button/radio-button.scss
  packages/styles/src/radio-button/radio-view.scss
  playgrounds/angular/src/app/examples/themes/themes-dynamic-example.component.ts
  playgrounds/angular/src/app/examples/themes/themes-example.component.ts
  playgrounds/angular/src/app/examples/themes/themes-example.module.ts
  playgrounds/angular/src/app/examples/themes/themes-scoped-example.component.ts
  playgrounds/angular/src/app/home.component.ts
  playgrounds/angular/src/app/routing/app.routes.ts
  playgrounds/angular/src/app/routing/app.routing-module.ts
  playgrounds/angular/src/app/styles/index.scss
  playgrounds/angular/src/styles.scss
  playgrounds/react/src/app.tsx
  playgrounds/react/src/examples/themes/dynamic-theme-example.tsx
  playgrounds/react/src/examples/themes/theme-example.tsx
  playgrounds/react/src/examples/themes/themes-dynamic-example.tsx
  playgrounds/react/src/examples/themes/themes-example.tsx
  playgrounds/react/src/examples/themes/themes-scoped-example.tsx
  playgrounds/react/src/home.tsx
Labels: renovation

#23840 Add simple integration test
  packages/core/src/__test__/integration/uncontrolled-component.test.ts
Labels: renovation

#23812 R2: Basic React validation
  .prettierrc
  packages/interim/src/core/utils/common.d.ts
  packages/interim/src/index.ts
  packages/interim/src/localization/cldr-data/accounting_formats.js
  packages/interim/src/localization/cldr-data/parent_locales.js
  packages/interim/src/localization/core.js
  packages/interim/src/localization/currency.js
  packages/interim/src/localization/default_messages.js
  packages/interim/src/localization/intl/number.js
  packages/interim/src/localization/ldml/number.js
  packages/interim/src/localization/message.d.ts
  packages/interim/src/localization/message.js
  packages/interim/src/localization/number.js
  packages/interim/src/localization/open_xml_currency_format.js
  packages/interim/src/localization/parentLocale.js
  packages/interim/src/localization/utils.js
  packages/interim/src/ui/validation_engine.d.ts
  packages/interim/src/ui/validation_engine.js
  packages/interim/src/ui/validation_group.d.ts
  packages/interim/src/ui/validation_rules.d.ts
  packages/interim/src/ui/validator.d.ts
  packages/react/src/components/common/contexts/editor-context.ts
  packages/react/src/components/common/hocs/with-editor.tsx
  packages/react/src/components/common/index.ts
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/components/validation/components/validation-group.tsx
  packages/react/src/components/validation/components/validation-rules.tsx
  packages/react/src/components/validation/components/validator.tsx
  packages/react/src/components/validation/contexts/validation-engine-context.ts
  packages/react/src/components/validation/contexts/validation-group-context.ts
  packages/react/src/components/validation/contexts/validator-context.ts
  packages/react/src/components/validation/hooks/use-validation-rule-registration.tsx
  packages/react/src/components/validation/index.ts
  packages/react/src/components/validation/types.ts
  packages/react/src/index.ts
  packages/react/src/internal/props.ts
  playgrounds/react/src/app.tsx
  playgrounds/react/src/examples/form/components/contexts/validation-context.ts
  playgrounds/react/src/examples/form/components/dummy-validation.tsx
  playgrounds/react/src/examples/form/components/form-item-hoc-approach/form-item.tsx
  playgrounds/react/src/examples/form/components/form-item-hoc-approach/with-form-context.tsx
  playgrounds/react/src/examples/form/components/form-item-plain-approach/form-item.tsx
  playgrounds/react/src/examples/form/components/form.tsx
  playgrounds/react/src/examples/form/components/hooks/use-form-item-layout.tsx
  playgrounds/react/src/examples/form/components/hooks/use-validation-rules-extractor.ts
  playgrounds/react/src/examples/form/components/hooks/use-validation.ts
  playgrounds/react/src/examples/form/components/index.ts
  playgrounds/react/src/examples/form/components/types.ts
  playgrounds/react/src/examples/form/form-example.tsx
  playgrounds/react/src/examples/validation/radio-group-validator-example.tsx
  playgrounds/react/src/home.tsx
Labels: renovation

#23845 Reduce npm package size
  build/gulp/npm.js
Labels: 22_2

#23825 HtmlEditor: first selected cell's color should be passed as a colorBox default when editing several cells color (T1127428)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: 23_1

#23824 ColorView: Use black color when multiple colors are passed to value(T1127428)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Labels: 23_1

#23826 ColorView: Use black color when multiple colors are passed to value(T1127428)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Labels: cherry-pick, 22_2

#23827 ColorView: Use black color when multiple colors are passed to value(T1127428)
  js/ui/color_box/color_view.js
  testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Labels: cherry-pick, 22_1

#23849 HtmlEditor: first selected cell's color should be passed as a colorBox default when editing several cells color (T1127428)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 22_2

#23850 HtmlEditor: first selected cell's color should be passed as a colorBox default when editing several cells color (T1127428)
  js/ui/html_editor/utils/toolbar_helper.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 22_1

#23820 R2 React: Add CSS class & styles forwarding
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/props.ts
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-controlled-playground.tsx
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-uncontrolled-playground.tsx
  playgrounds/react/src/examples/radio-group/radio-group-controlled-playground.tsx
  playgrounds/react/src/examples/radio-group/radio-group-uncontrolled-playgorund.tsx
Labels: renovation

#23848 Run testcafe tests in docker locally
  .dockerignore
  package-lock.json
  package.json
  testing/testcafe/docker/Dockerfile
  testing/testcafe/docker/run-testcafe.js
  testing/testcafe/runner.js
Labels: 23_1

#23842 Revert "Knockout Integration - Patch OptionManager to disable setting an observable to attribute (#23785)"
  js/core/options/option_manager.js
  js/core/options/utils.js
  js/integration/knockout.js
  js/integration/knockout/attributes_config.js
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/attributes_config.tests.js
Labels: 22_2

#23851 Calendar: aria-selected should be added to selected cell after view change
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 23_1

#23855 Calendar: aria-selected should be added to selected cell after view change
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: cherry-pick, 22_1

#23856 Calendar: aria-selected should be added to selected cell after view change
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: cherry-pick, 22_2

#23679 DataGrid - Columns have incorrect width on the first render after updating from 22.1.4 to 22.1.6 if renderAsync and columnAutoWidth are set to "true" (T1126234)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: 23_1

#23526 DataGrid - The Header Filter drop down shows two (Blanks) items for a lookup column if its data source has one empty item (T1133935)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: 23_1

#23852 Slider - The page and slider are scrolled simultaneously if page scrolling starts before slider scrolling on Android (T1141822)
  js/events/gesture/emitter.gesture.js
  js/events/gesture/swipeable.js
  js/events/swipe.js
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/swipe.tests.js
Labels: 22_2

#23860 R2: Fix jQuery generation of RadioButton HOCs
  packages/jquery/gulpfile.mjs
  packages/jquery/patch/radio-button-hocs.jsx
  packages/react/src/components/radio-button/radio-button-hocs.tsx
Labels: renovation

#23859 R2: Support using legacy editors with new validation components
  package-lock.json
  packages/interim/src/index.ts
  packages/interim/src/ui/validation/default_adapter.js
  packages/react/src/components/validation/components/legacy-editor-connector.tsx
  packages/react/src/components/validation/components/validator.tsx
  packages/react/src/components/validation/index.ts
  packages/react/src/components/validation/types.ts
  playgrounds/react/package.json
  playgrounds/react/src/examples/validation/radio-group-validator-example.tsx
  playgrounds/react/src/index.html
Labels: renovation

#23868 R2 React: Remove compatible methods + replace crutch with useImperativeHandler.
  packages/react/src/compatible-components/radio-group/radio-group.tsx
  packages/react/src/components/common/hocs/with-editor.tsx
  packages/react/src/components/radio-group/radio-group.tsx
  packages/react/src/internal/hooks/index.ts
  packages/react/src/internal/hooks/use-compatible-lifecycle.ts
  packages/react/src/internal/hooks/use-custom-component-ref.ts
  packages/react/src/internal/props.ts
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-controlled-playground.tsx
  playgrounds/react/src/examples/radio-group-compatible/radio-group-compatible-uncontrolled-playground.tsx
  playgrounds/react/src/examples/radio-group/radio-group-controlled-playground.tsx
  playgrounds/react/src/examples/radio-group/radio-group-uncontrolled-playgorund.tsx
Labels: renovation

#23861 Slider - The page and slider are scrolled simultaneously if page scrolling starts before slider scrolling on Android (T1141822) (#23852)
  js/events/gesture/emitter.gesture.js
  js/events/gesture/swipeable.js
  js/events/swipe.js
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/swipe.tests.js
Labels: cherry-pick, 23_1

#23867 R2: Add tests for validator and selector
  packages/core/src/__test__/integration/binding-component.test.ts
  packages/core/src/__test__/integration/controlled-component.test.ts
  packages/core/src/__test__/integration/shared.ts
  packages/core/src/__test__/integration/uncontrolled-component.test.ts
Labels: renovation

#23847 PivotGrid (T1144106): Content is shaking after scrolling in Edge with zooming enabled
  js/renovation/ui/common/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/common/utils/scroll/getMemoizeScrollTo.ts
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: 23_1

#23869 PivotGrid (T1144106): Content is shaking after scrolling in Edge with zooming enabled (#23847)
  js/renovation/ui/common/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/common/utils/scroll/getMemoizeScrollTo.ts
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: cherry-pick, 22_2

#23870 PivotGrid (T1144106): Content is shaking after scrolling in Edge with zooming enabled (#23847)
  js/renovation/ui/common/utils/scroll/__tests__/getMemoizeScrollTo.test.ts
  js/renovation/ui/common/utils/scroll/getMemoizeScrollTo.ts
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Labels: cherry-pick, 22_1

#23876 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: 23_1

#23885 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346) (#23876)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: cherry-pick, 22_2

#23880 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346) (#23876)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: cherry-pick, 20_1

#23883 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346) (#23876)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: cherry-pick, 20_2

#23879 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346) (#23876)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: cherry-pick, 21_1

#23882 DateBox: The "Uncaught TypeError: Cannot read properties of null (reading 'length')" error occurs when using useMaskBehavior on Chrome 110 (T1146346) (#23876)
  js/localization/intl/date.js
  testing/tests/DevExpress.localization/localization.nativeIntl.base.tests.js
Labels: cherry-pick, 22_1

#23839 Chart: change the default value of aggregateByCategory and deprecate it
  js/viz/chart.d.ts
  js/viz/chart.js
  js/viz/core/themes/generic.light.js
  js/viz/range_selector.d.ts
  js/viz/range_selector/range_selector.js
  js/viz/series/base_series.js
  testing/tests/DevExpress.viz.charts/chart.tests.js
  testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  ts/dx.all.d.ts
Labels: 23_1

#23884 Run testcafe tests in docker locally (#23848)
  .dockerignore
  package-lock.json
  package.json
  testing/testcafe/docker/Dockerfile
  testing/testcafe/docker/run-testcafe.js
  testing/testcafe/runner.js
Labels: cherry-pick, 22_2

#23866 Scrollable: Remove deferred from updateRtlPosition.
  js/ui/scroll_view/ui.scrollable.simulated.js
Labels: 23_1

#23887 Scrollable: Remove deferred from updateRtlPosition. (#23866)
  js/ui/scroll_view/ui.scrollable.simulated.js
Labels: cherry-pick, 22_1

#23889 Fix KeyboardProcessor import
  packages/interim-renovation/src/renovation/component_wrapper/common/component.ts
Labels: renovation

#23891 Synс with mono branch (2e8a2a5)
  js/core/utils/common.d.ts
  js/renovation/component_wrapper/common/mutations_recording.ts
Labels: renovation, 23_1

#23890 Rename jquery to js-widgets
  .eslintignore
  .github/workflows/_lint.yml
  package-lock.json
  package.json
  packages/jquery/package-lock.json
  packages/js-widgets/.eslintrc.js
  packages/js-widgets/.gitignore
  packages/js-widgets/gulp/inferno-from-react.mjs
  packages/js-widgets/gulp/js-bundles.mjs
  packages/js-widgets/gulp/transpile-config.mjs
  packages/js-widgets/gulp/typescript-configs/tsconfig.json
  packages/js-widgets/gulpfile.mjs
  packages/js-widgets/package.json
  packages/js-widgets/patch/radio-group.jsx
  packages/js-widgets/project.json
  packages/js-widgets/src/bundle.js
  packages/js-widgets/src/component-wrapper.js
  packages/js-widgets/src/editor-wrapper.js
  packages/js-widgets/src/radio-button.d.ts
  packages/js-widgets/src/radio-button.js
  packages/js-widgets/src/radio-group.js
  packages/js-widgets/tsconfig.package.json
  packages/vue/generate.ts
  packages/vue/package.json
  packages/vue/src/radio-button.ts
  playgrounds/jquery/index.html
  playgrounds/jquery/theme-example.html
Labels: renovation

#23872 DataGrid - Fix resize not triggering on slow scrolling with rowRenderingMode:'virtual' (T1142400)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 22_1

#23894 DataGrid - Fix resize not triggering on slow scrolling with rowRenderingMode:'virtual' (T1142400)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 23_1

#23895 DataGrid - Fix resize not triggering on slow scrolling with rowRenderingMode:'virtual' (T1142400)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 22_2

#23898 Move @types/babel__traverse to devDependencies
  package.json
Labels: 21_1

#23763 DataGrid - Scrollbar doesn't appear if maxHeight is specified - T1139557
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/etalons/grid-header-row-scrollbar-padding.png
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: 23_1

#23786 DataGrid - Scrollbar doesn't appear if maxHeight is specified - T1139557
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/etalons/grid-header-row-scrollbar-padding.png
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: cherry-pick, 22_2

#23787 DataGrid - Scrollbar doesn't appear if maxHeight is specified - T1139557
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/etalons/grid-header-row-scrollbar-padding.png
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: cherry-pick, 22_1

#23788 DataGrid - Scrollbar doesn't appear if maxHeight is specified - T1139557
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.editing_form_based.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/testcafe/tests/dataGrid/etalons/grid-header-row-scrollbar-padding.png
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
Labels: cherry-pick, 21_2

#23899 DataGrid(T1147560): Add missed date -> string serialization in the ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.focus.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: 23_1

#23904 DataGrid(T1147560): Add missed date -> string serialization in the ui.grid_core.focus.js (#23899)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.focus.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 22_2

#23905 DataGrid(T1147560): Add missed date -> string serialization in the ui.grid_core.focus.js (#23899)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.focus.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/filtering.integration.tests.js
Labels: cherry-pick, 22_1

#23896 Common types: add 'docid'
  js/common.d.ts
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#23914 Button: revert unification dx-button-text styles within themes
  scss/widgets/generic/button/_index.scss
  scss/widgets/generic/calendar/_index.scss
Labels: 23_1

#23916 Scheduler - Fixed synchronization issue between group panel and date table when using material compact themes in Scheduler (T1146448)
  scss/widgets/material/scheduler/_index.scss
  scss/widgets/material/scheduler/_sizes.scss
  testing/testcafe/tests/scheduler/grouping/etalons/material-theme-scrolling-vertical.png
  testing/testcafe/tests/scheduler/grouping/smoothCellLines.ts
  testing/testcafe/tests/scheduler/scrollToTime.ts
Labels: cherry-pick, 22_2

#23917 Scheduler - Fixed synchronization issue between group panel and date table when using material compact themes in Scheduler (T1146448)
  scss/widgets/material/scheduler/_index.scss
  scss/widgets/material/scheduler/_sizes.scss
  testing/testcafe/tests/scheduler/grouping/etalons/material-theme-scrolling-vertical.png
  testing/testcafe/tests/scheduler/grouping/smoothCellLines.ts
  testing/testcafe/tests/scheduler/scrollToTime.ts
Labels: cherry-pick, 22_1

#23908 Scheduler - Fixed synchronization issue between group panel and date table when using material compact themes in Scheduler (T1146448)
  scss/widgets/material/scheduler/_index.scss
  scss/widgets/material/scheduler/_sizes.scss
  testing/testcafe/tests/scheduler/grouping/etalons/material-theme-scrolling-vertical.png
  testing/testcafe/tests/scheduler/grouping/smoothCellLines.ts
  testing/testcafe/tests/scheduler/scrollToTime.ts
Labels: 23_1

#23901 TreeList(T1147695): Keyboard navigation works incorrectly when Drag and Drop is enabled
  js/ui/data_grid/ui.data_grid.keyboard_navigation.js
  js/ui/data_grid/ui.data_grid.row_dragging.js
  js/ui/grid_core/keyboard_navigation/const.js
  js/ui/grid_core/keyboard_navigation/dom.js
  js/ui/grid_core/keyboard_navigation/module.js
  js/ui/grid_core/keyboard_navigation/types.d.ts
  js/ui/grid_core/row_dragging/const.js
  js/ui/grid_core/row_dragging/dom.js
  js/ui/grid_core/row_dragging/module.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/tree_list/ui.tree_list.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.row_dragging.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree_list_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/treeList/keyboardNavigation/onClick.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: 23_1

#23921 TreeList(T1147695): Add missed renaming after code review.
  js/ui/grid_core/keyboard_navigation/dom.js
  js/ui/grid_core/keyboard_navigation/module.js
Labels: 23_1

#23920 TreeList(T1147695): Keyboard navigation works incorrectly when Drag and Drop is enabled
  js/ui/data_grid/ui.data_grid.keyboard_navigation.js
  js/ui/data_grid/ui.data_grid.row_dragging.js
  js/ui/grid_core/keyboard_navigation/const.js
  js/ui/grid_core/keyboard_navigation/dom.js
  js/ui/grid_core/keyboard_navigation/module.js
  js/ui/grid_core/row_dragging/const.js
  js/ui/grid_core/row_dragging/dom.js
  js/ui/grid_core/row_dragging/module.js
  js/ui/tree_list/ui.tree_list.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.row_dragging.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree_list_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/treeList/keyboardNavigation/onClick.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: cherry-pick, 22_1

#23919 TreeList(T1147695): Keyboard navigation works incorrectly when Drag and Drop is enabled
  js/ui/data_grid/ui.data_grid.keyboard_navigation.js
  js/ui/data_grid/ui.data_grid.row_dragging.js
  js/ui/grid_core/keyboard_navigation/const.js
  js/ui/grid_core/keyboard_navigation/dom.js
  js/ui/grid_core/keyboard_navigation/module.js
  js/ui/grid_core/keyboard_navigation/types.d.ts
  js/ui/grid_core/row_dragging/const.js
  js/ui/grid_core/row_dragging/dom.js
  js/ui/grid_core/row_dragging/module.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/tree_list/ui.tree_list.keyboard_navigation.js
  js/ui/tree_list/ui.tree_list.row_dragging.js
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/dataGrid/headers/cell.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/customButtons.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-button-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-buttons-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-header-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree_list_keyboard-navigation-data-cell-focused.png
  testing/testcafe/tests/treeList/keyboardNavigation/markup.screenshots.ts
  testing/testcafe/tests/treeList/keyboardNavigation/onClick.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: cherry-pick, 22_2

#23864 DataGrid - The Header Filter drop down shows two (Blanks) items for a lookup column if its data source has one empty item (T1133935)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: cherry-pick, 22_2

#23865 DataGrid - The Header Filter drop down shows two (Blanks) items for a lookup column if its data source has one empty item (T1133935)
  js/ui/grid_core/ui.grid_core.header_filter.js
  js/ui/grid_core/ui.grid_core.utils.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Labels: cherry-pick, 22_1

#23893 List: publish selectByClick property
  js/ui/list.d.ts
  js/ui/list/ui.list.base.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
  ts/dx.all.d.ts
Labels: 23_1

#23755 DataGrid - Use offset aware fromIndex when dragging rows (T1139685)
  js/ui/sortable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: 22_2

#23918 HtmlEditor: Fix history buttons state after call clearHistory method(T1133799)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
Labels: 23_1

#23923 HtmlEditor: Fix history buttons state after call clearHistory method(T1133799)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
Labels: cherry-pick, 22_2

#23924 HtmlEditor: Fix history buttons state after call clearHistory method(T1133799)
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
Labels: cherry-pick, 22_1

#23863 DataGrid - Columns have incorrect width on the first render after updating from 22.1.4 to 22.1.6 if renderAsync and columnAutoWidth are set to "true" (T1126234)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: cherry-pick, 22_1

#23862 DataGrid - Columns have incorrect width on the first render after updating from 22.1.4 to 22.1.6 if renderAsync and columnAutoWidth are set to "true" (T1126234)
  js/ui/data_grid/ui.data_grid.summary.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.master_detail.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
Labels: cherry-pick, 22_2

#23900 Gauges: add centerTemplate property
  js/viz/bar_gauge.d.ts
  js/viz/circular_gauge.d.ts
  js/viz/core/center_template.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/circular_gauge.js
  js/viz/pie_chart.d.ts
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  ts/dx.all.d.ts
Labels: 23_1

#23929 DataGrid/TreeList: Fix doc comment for column.sortIndex
  js/ui/data_grid.d.ts
Labels: 22_1

#23931 DataGrid/TreeList: Fix doc comment for column.sortIndex
  js/common/grids.d.ts
Labels: 23_1

#23927 DataGrid - Use offset aware fromIndex when dragging rows (T1139685)
  js/ui/sortable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Labels: cherry-pick, 23_1

#23810 DataGrid - small ts improvements
  js/core/utils/callbacks.d.ts
  js/ui/grid_core/keyboard_navigation/module.js
  js/ui/grid_core/ui.grid_core.adaptivity.d.ts
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_source_adapter.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.grid_view.d.ts
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.utils.d.ts
  js/ui/grid_core/ui.grid_core.utils.js
Labels: 23_1

#23932 GridCore: Fix broken d.ts checks
  build/gulp/ts.js
  js/.eslintrc.js
  js/.eslintrc.json
  js/ui/grid_core/keyboard_navigation/module.js
Labels: 23_1

#23934 GridCore: Fix broken d.ts checks (#23932)
  build/gulp/ts.js
  js/.eslintrc.js
  js/.eslintrc.json
  js/ui/grid_core/keyboard_navigation/module.js
Labels: cherry-pick, 22_2

#23933 DataGrid - small ts improvements (#23810)
  js/core/utils/callbacks.d.ts
  js/ui/grid_core/keyboard_navigation/module.js
  js/ui/grid_core/ui.grid_core.adaptivity.d.ts
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.column_chooser.js
  js/ui/grid_core/ui.grid_core.columns_view.d.ts
  js/ui/grid_core/ui.grid_core.data_controller.d.ts
  js/ui/grid_core/ui.grid_core.data_source_adapter.d.ts
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.focus.d.ts
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.grid_view.d.ts
  js/ui/grid_core/ui.grid_core.modules.d.ts
  js/ui/grid_core/ui.grid_core.rows.d.ts
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.utils.d.ts
  js/ui/grid_core/ui.grid_core.utils.js
Labels: cherry-pick, 22_2

#23935 CircularGauge: fix update centerTemplate on values update
  js/viz/core/center_template.js
  js/viz/gauges/base_gauge.js
  js/viz/gauges/common.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
Labels: 23_1

#23909 T1145596: DataGrid - When exporting to PDF a row is moved to the next page if the row's height is bigger than the page height.
  js/exporter/jspdf/common/pdf_utils.js
  js/exporter/jspdf/common/rows_spliting_utils/create_on_split_multipage_row.js
  js/exporter/jspdf/common/rows_spliting_utils/get_multipage_row_pages.js
  js/exporter/jspdf/common/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splittingMultipageRow.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.wordwrap.tests.js
Labels: type/bug, 23_1

#23930 DataGrid/TreeList: Fix doc comment for column.sortIndex
  js/common/grids.d.ts
Labels: 22_2

#23937 T1145596: DataGrid - When exporting to PDF a row is moved to the next page if the row's height is bigger than the page height. (#23909)
  js/exporter/jspdf/common/pdf_utils.js
  js/exporter/jspdf/common/rows_spliting_utils/create_on_split_multipage_row.js
  js/exporter/jspdf/common/rows_spliting_utils/get_multipage_row_pages.js
  js/exporter/jspdf/common/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splittingMultipageRow.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.wordwrap.tests.js
Labels: cherry-pick, 22_2

#23938 T1145596: DataGrid - When exporting to PDF a row is moved to the next page if the row's height is bigger than the page height. (#23909)
  js/exporter/jspdf/common/pdf_utils.js
  js/exporter/jspdf/common/rows_spliting_utils/create_on_split_multipage_row.js
  js/exporter/jspdf/common/rows_spliting_utils/get_multipage_row_pages.js
  js/exporter/jspdf/common/rows_splitting.js
  testing/tests/DevExpress.exporter/jspdf.dataGrid_part3.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.splittingMultipageRow.tests.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.wordwrap.tests.js
Labels: cherry-pick, 22_1

#23939 DataGrid/TreeList - Fix scroll jumping during scrolling to the bottom when wordWrapEnabled is set to true and rowDragging is enabled (T1147345)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: 22_2

#23940 DataGrid/TreeList - Fix scroll jumping during scrolling to the bottom when wordWrapEnabled is set to true and rowDragging is enabled (T1147345)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  js/ui/grid_core/ui.grid_core.grid_view.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  js/ui/tree_list/ui.tree_list.grid_view.js
  testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: cherry-pick, 23_1

#23936 Form: do not add paddings for CheckBox/Switch/RadioGroup if template is used
  js/ui/form/components/field_item.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Labels: 23_1

#23942 Types: remove docid namings
  js/common.d.ts
  js/common/grids.d.ts
  ts/dx.all.d.ts
Labels: 23_1
