Repository DevExpress/DevExtreme, pull requests merged in 2023-09, with the labels that each got.

#25492 hotfix: do not run gulp clean tasks on pack
  packages/devextreme-react/package.json
  packages/devextreme-vue/gulpfile.js
Labels: 23_2

#25489 ♿️ Accessibility: The validation state and error message of cells
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 23_2

#25495 DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: 22_2

#25496 DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/model/internal/dropDownList.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_1

#25497 DataGrid: Fix focus looping in certain cases if the first column has a DropDownButton (T1185341)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/model/internal/dropDownList.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_2

#25507 R1 - remove testing/renovation-npm
  build/gulp/transpile.js
  testing/renovation-npm/.gitignore
  testing/renovation-npm/.testcaferc.json
  testing/renovation-npm/angular-app/.browserslistrc
  testing/renovation-npm/angular-app/.editorconfig
  testing/renovation-npm/angular-app/.gitignore
  testing/renovation-npm/angular-app/angular.json
  testing/renovation-npm/angular-app/karma.conf.js
  testing/renovation-npm/angular-app/package.json
  testing/renovation-npm/angular-app/src/app/app.component.css
  testing/renovation-npm/angular-app/src/app/app.component.html
  testing/renovation-npm/angular-app/src/app/app.component.ts
  testing/renovation-npm/angular-app/src/app/app.module.ts
  testing/renovation-npm/angular-app/src/assets/.gitkeep
  testing/renovation-npm/angular-app/src/environments/environment.prod.ts
  testing/renovation-npm/angular-app/src/environments/environment.ts
  testing/renovation-npm/angular-app/src/favicon.ico
  testing/renovation-npm/angular-app/src/index.html
  testing/renovation-npm/angular-app/src/main.ts
  testing/renovation-npm/angular-app/src/polyfills.ts
  testing/renovation-npm/angular-app/src/styles.css
  testing/renovation-npm/angular-app/tsconfig.app.json
  testing/renovation-npm/angular-app/tsconfig.json
  testing/renovation-npm/angular-app/tsconfig.spec.json
  testing/renovation-npm/gulpfile.js
  testing/renovation-npm/package.json
  testing/renovation-npm/react-app/.env
  testing/renovation-npm/react-app/.gitignore
  testing/renovation-npm/react-app/README.md
  testing/renovation-npm/react-app/package.json
  testing/renovation-npm/react-app/public/index.html
  testing/renovation-npm/react-app/src/App.jsx
  testing/renovation-npm/react-app/src/index.jsx
  testing/renovation-npm/tests/.eslintrc
  testing/renovation-npm/tests/etalons/shot-angular.png
  testing/renovation-npm/tests/etalons/shot-react.png
  testing/renovation-npm/tests/run-and-capture.test.js
Labels: cherry-pick, 23_1

#25502 Form: fix for dateRangeBox and validation summary
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 23_2

#25476 HtmlEditor - Fix validation's aria labels rendering
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Labels: 23_2

#25512 Update renovate bot config to watch .github folder
  .github/renovate.json
Labels: 23_2

#25505 DataGrid - fix focusing for groupFooter & footer
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/group-summary-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/total-summary-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/summary.ts
Labels: 23_2

#25411 TabPanel: Add iconPosition option
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/tab-panel/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tab-panel.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tab-panel.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tab_panel_types.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/js/ui/tabs_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/ts/dx.all.d.ts
  packages/vue2-strategy/src/common/index.ts
  packages/vue2-strategy/src/form.ts
  packages/vue2-strategy/src/tab-panel.ts
Labels: 23_2, skip-cache

#25516 R1 - remove old playgrounds
  packages/devextreme/playground/react/.gitignore
  packages/devextreme/playground/react/README.md
  packages/devextreme/playground/react/config/env.js
  packages/devextreme/playground/react/config/getHttpsConfig.js
  packages/devextreme/playground/react/config/jest/cssTransform.js
  packages/devextreme/playground/react/config/jest/fileTransform.js
  packages/devextreme/playground/react/config/modules.js
  packages/devextreme/playground/react/config/paths.js
  packages/devextreme/playground/react/config/pnpTs.js
  packages/devextreme/playground/react/config/webpack.config.js
  packages/devextreme/playground/react/config/webpackDevServer.config.js
  packages/devextreme/playground/react/package.json
  packages/devextreme/playground/react/public/index.html
  packages/devextreme/playground/react/scripts/start.js
  packages/devextreme/playground/react/src/App.tsx
  packages/devextreme/playground/react/src/index.tsx
  packages/devextreme/playground/react/src/react-app-env.d.ts
  packages/devextreme/playground/react/src/serviceWorker.js
  packages/devextreme/playground/react/tsconfig.json
  packages/devextreme/playground/vue/.gitignore
  packages/devextreme/playground/vue/README.md
  packages/devextreme/playground/vue/babel.config.js
  packages/devextreme/playground/vue/package.json
  packages/devextreme/playground/vue/public/favicon.ico
  packages/devextreme/playground/vue/public/index.html
  packages/devextreme/playground/vue/src/App.vue
  packages/devextreme/playground/vue/src/assets/logo.png
  packages/devextreme/playground/vue/src/main.js
  packages/devextreme/playground/vue/tsconfig.json
Labels: 23_2

#25517 R1 - remove old playgrounds
  playground/react/.gitignore
  playground/react/README.md
  playground/react/config/env.js
  playground/react/config/getHttpsConfig.js
  playground/react/config/jest/cssTransform.js
  playground/react/config/jest/fileTransform.js
  playground/react/config/modules.js
  playground/react/config/paths.js
  playground/react/config/pnpTs.js
  playground/react/config/webpack.config.js
  playground/react/config/webpackDevServer.config.js
  playground/react/package.json
  playground/react/public/index.html
  playground/react/scripts/start.js
  playground/react/src/App.tsx
  playground/react/src/index.tsx
  playground/react/src/react-app-env.d.ts
  playground/react/src/serviceWorker.js
  playground/react/tsconfig.json
  playground/vue/.gitignore
  playground/vue/README.md
  playground/vue/babel.config.js
  playground/vue/package.json
  playground/vue/public/favicon.ico
  playground/vue/public/index.html
  playground/vue/src/App.vue
  playground/vue/src/assets/logo.png
  playground/vue/src/main.js
  playground/vue/tsconfig.json
Labels: cherry-pick, 23_1

#25520 Calendar: delete 'values' option and use 'value' for all selection modes
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.selection.strategy.js
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
  packages/devextreme/js/ui/date_range_box/ui.multiselect_date_box.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/behavior.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.strategy.tests.js
Labels: 23_2

#25415 Tabs/TabPanel: icon position in Generic
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/scss/widgets/base/_tabs.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=end,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=end,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=start,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=start,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs items alignment (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs items alignment (material-blue-light-compact).png
Labels: 23_2, skip-cache

#25425 Tabs/TabPanel: icon position in Material
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/scss/widgets/material/tabs/_index.scss
  packages/devextreme/scss/widgets/material/tabs/_sizes.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=bottom,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=end,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=end,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=start,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=start,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel iconPosition=top,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=bottom,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=top,rtl=true (material-blue-light-compact).png
Labels: 23_2, skip-cache

#25528 Calendar: week number click should not select dates disabled by min/max options
  packages/devextreme/js/ui/calendar/ui.calendar.selection.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 23_2

#25529 Fix "Invalid value used as weak map key" error (T1186521) (#25491)
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Labels: cherry-pick, 23_1

#25527 Button: Fix axe errors. Add visibility="hidden" style to submit input
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 23_2

#25536 Update devextreme-generator packages versions.
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/renovation/test_utils/transformers/declaration.js
  packages/devextreme/package.json
Labels: 23_2

#25539 Update devextreme-generator packages versions.
  js/renovation/test_utils/transformers/declaration.js
  package-lock.json
  package.json
Labels: cherry-pick, 23_1

#25542 Fluent: switch component redesign
  packages/devextreme/scss/widgets/base/switch/_index.scss
  packages/devextreme/scss/widgets/base/switch/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_sizes.scss
  packages/devextreme/scss/widgets/material/switch/_index.scss
  packages/devextreme/scss/widgets/material/switch/_sizes.scss
Labels: 23_2

#25532 T1186741: Scheduler - It's impossible to drag and drop an element in all day panel cells
  packages/devextreme/js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: 23_2

#25494 Calendar: delete 'values' option and extend 'value' type in declaration
  packages/devextreme-angular/src/ui/calendar/index.ts
  packages/devextreme-angular/src/ui/nested/base/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/calendar-options.ts
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25535 Tabs: Add icons
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/generic/account-box.svg
  packages/devextreme/images/icons/generic/clear-circle.svg
  packages/devextreme/images/icons/generic/orders-box.svg
  packages/devextreme/images/icons/generic/task-complete.svg
  packages/devextreme/images/icons/generic/task-helpneeded.svg
  packages/devextreme/images/icons/generic/task-inprogress.svg
  packages/devextreme/images/icons/generic/task-rejected.svg
  packages/devextreme/images/icons/generic/task-stop.svg
  packages/devextreme/images/icons/material/account-box.svg
  packages/devextreme/images/icons/material/clear-circle.svg
  packages/devextreme/images/icons/material/orders-box.svg
  packages/devextreme/images/icons/material/task-complete.svg
  packages/devextreme/images/icons/material/task-helpneeded.svg
  packages/devextreme/images/icons/material/task-inprogress.svg
  packages/devextreme/images/icons/material/task-rejected.svg
  packages/devextreme/images/icons/material/task-stop.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Labels: 23_2, skip-cache

#25488 Tabs: Add stylingMode option
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-angular/src/ui/tabs/index.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/tabs.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/tabs.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/js/ui/tabs_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2, skip-cache

#25548 Tabs: Update icon etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Labels: 23_2

#25504 dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  ts/dx.all.d.ts
Labels: 23_1

#25524 dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997)
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/data/cell.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#25525 dxGrid - Add more TS typing in onRowUpdating, onRowDeleting, onRowAdding events(T1186997)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/data/cell.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 22_2

#25545 T1186741: Scheduler - It's impossible to drag and drop an element in all day panel cells (#25532)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Labels: cherry-pick, 23_1

#25551 T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Labels: type/bug, 23_2

#25556 T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Labels: cherry-pick, 23_1

#25557 T1187314 - DataGrid displays an incorrect row count in "aria-label" if there is no data after filtering
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/accessibility/bugs.ts
Labels: cherry-pick, 22_2

#25490 TabPanel: Add stylingMode option
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/tab-panel/index.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tab-panel.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tab-panel.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tab_panel_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2, skip-cache

#25550 Tabs/TabPanel: Add stylingMode, iconPosition in Fluent
  packages/devextreme/scss/widgets/fluent/tabPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/navigation-button/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_primary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme/scss/widgets/fluent/tabs/layout/tabs/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/mixins/_index.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_sizes.scss
Labels: 23_2, skip-cache

#25560 Scheduler: Remove redundant type cast.
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: 23_2

#25562 Scheduler: Remove redundant type cast.
  js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 23_1

#25563 Scheduler: Remove redundant type cast.
  js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 22_2

#25559 Tabs: Toggle render scrolling after iconPosition has changed
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 23_2

#25383 ThemeBuilder: Rework use customer variables
  package-lock.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/src/metadata/generator.ts
  packages/devextreme-themebuilder/src/modules/compiler.ts
  packages/devextreme-themebuilder/src/modules/parse-value.ts
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/accordion/_colors.scss
  packages/devextreme-themebuilder/tests/metadata/generator.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler-sass.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
Labels: 23_2

#25543 DataGrid - Master-detail - It's not possible to focus all rows after rows are expanded and collapsed (T1187124)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: 23_2

#25567 Fluent: new design for Slider & RangeSlider & Progressbar components
  packages/devextreme/js/ui/themes.js
  packages/devextreme/scss/widgets/base/_rangeSlider.scss
  packages/devextreme/scss/widgets/base/_slider.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_sizes.scss
  packages/devextreme/scss/widgets/fluent/rangeSlider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_sizes.scss
  packages/devextreme/scss/widgets/generic/rangeSlider/_index.scss
  packages/devextreme/scss/widgets/generic/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/slider/_sizes.scss
Labels: 23_2

#25534 R1 - remove testing/renovation
  testing/renovation/.gitignore
  testing/renovation/package-lock.json
  testing/renovation/package.json
  testing/renovation/platforms/.eslintrc.js
  testing/renovation/platforms/angular/src/button/app.component.html
  testing/renovation/platforms/angular/src/button/app.component.ts
  testing/renovation/platforms/angular/src/typings.d.ts
  testing/renovation/platforms/angular/tsconfig.json
  testing/renovation/platforms/angular/webpack.config.js
  testing/renovation/platforms/declaration/check_box.tsx
  testing/renovation/platforms/declaration/pager.tsx
  testing/renovation/platforms/declaration/scheduler.tsx
  testing/renovation/platforms/declaration/scrollView.tsx
  testing/renovation/platforms/declaration/scrollable.tsx
  testing/renovation/platforms/declaration/tsconfig.json
  testing/renovation/platforms/jquery/button.html
  testing/renovation/platforms/jquery/container.html
  testing/renovation/platforms/jquery/pager.html
  testing/renovation/platforms/jquery/scrollView.html
  testing/renovation/platforms/jquery/scrollable.html
  testing/renovation/platforms/react/.babelrc
  testing/renovation/platforms/react/src/button.jsx
  testing/renovation/platforms/react/tsconfig.json
  testing/renovation/platforms/react/webpack.config.js
  testing/renovation/platforms/vue/src/button.vue
  testing/renovation/platforms/vue/webpack.config.js
  testing/testcafe/tests/renovation/button.ts
  testing/testcafe/tests/renovation/check_box.ts
  testing/testcafe/tests/renovation/etalons/button.png
  testing/testcafe/tests/renovation/etalons/check_box_checked.png
  testing/testcafe/tests/renovation/etalons/check_box_indeterminate.png
  testing/testcafe/tests/renovation/etalons/check_box_unchecked.png
  testing/testcafe/tests/renovation/etalons/pager-compact.png
  testing/testcafe/tests/renovation/etalons/pager-full-allpages.png
  testing/testcafe/tests/renovation/etalons/pager-resize-large-enlarge.png
  testing/testcafe/tests/renovation/etalons/pager-resize-large-noinfo-enlarge.png
  testing/testcafe/tests/renovation/etalons/pager-resize-large-noinfo.png
  testing/testcafe/tests/renovation/etalons/pager-resize-large.png
  testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-enlarge.png
  testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-noinfo-enlarge.png
  testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-noinfo.png
  testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large.png
  testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-small.png
  testing/testcafe/tests/renovation/etalons/pager-resize-small.png
  testing/testcafe/tests/renovation/pager.ts
Labels: cherry-pick, 23_1

#25533 R1 - remove testing/renovation
  packages/devextreme/testing/renovation/.gitignore
  packages/devextreme/testing/renovation/package-lock.json
  packages/devextreme/testing/renovation/package.json
  packages/devextreme/testing/renovation/platforms/.eslintrc.js
  packages/devextreme/testing/renovation/platforms/angular/src/button/app.component.html
  packages/devextreme/testing/renovation/platforms/angular/src/button/app.component.ts
  packages/devextreme/testing/renovation/platforms/angular/src/typings.d.ts
  packages/devextreme/testing/renovation/platforms/angular/tsconfig.json
  packages/devextreme/testing/renovation/platforms/angular/webpack.config.js
  packages/devextreme/testing/renovation/platforms/declaration/check_box.tsx
  packages/devextreme/testing/renovation/platforms/declaration/pager.tsx
  packages/devextreme/testing/renovation/platforms/declaration/scheduler.tsx
  packages/devextreme/testing/renovation/platforms/declaration/scrollView.tsx
  packages/devextreme/testing/renovation/platforms/declaration/scrollable.tsx
  packages/devextreme/testing/renovation/platforms/declaration/tsconfig.json
  packages/devextreme/testing/renovation/platforms/jquery/button.html
  packages/devextreme/testing/renovation/platforms/jquery/container.html
  packages/devextreme/testing/renovation/platforms/jquery/pager.html
  packages/devextreme/testing/renovation/platforms/jquery/scrollView.html
  packages/devextreme/testing/renovation/platforms/jquery/scrollable.html
  packages/devextreme/testing/renovation/platforms/react/.babelrc
  packages/devextreme/testing/renovation/platforms/react/src/button.jsx
  packages/devextreme/testing/renovation/platforms/react/tsconfig.json
  packages/devextreme/testing/renovation/platforms/react/webpack.config.js
  packages/devextreme/testing/renovation/platforms/vue/src/button.vue
  packages/devextreme/testing/renovation/platforms/vue/webpack.config.js
  packages/devextreme/testing/testcafe/tests/renovation/button.ts
  packages/devextreme/testing/testcafe/tests/renovation/check_box.ts
  packages/devextreme/testing/testcafe/tests/renovation/etalons/button.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/check_box_checked.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/check_box_indeterminate.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/check_box_unchecked.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-compact.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-full-allpages.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-large-enlarge.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-large-noinfo-enlarge.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-large-noinfo.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-large.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-enlarge.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-noinfo-enlarge.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large-noinfo.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-large.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-nobutton-small.png
  packages/devextreme/testing/testcafe/tests/renovation/etalons/pager-resize-small.png
  packages/devextreme/testing/testcafe/tests/renovation/pager.ts
Labels: 23_2

#25467 SelectBox: should not throw an error if its detached template is re-mounted by a framework (T1178295)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 23_2

#25531 T1185479: Scheduler - Incorrect date shown for recurrence in the New Zealand timezone
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/core/utils/date.js
Labels: 23_2

#25574 T1185479: Scheduler - Incorrect date shown for recurrence in the New Zealand timezone
  js/__internal/scheduler/m_recurrence.ts
  js/core/utils/date.js
Labels: cherry-pick, 23_1

#25575 T1185479: Scheduler - Incorrect date shown for recurrence in the New Zealand timezone
  js/__internal/scheduler/m_recurrence.ts
  js/core/utils/date.js
Labels: cherry-pick, 22_2

#25571 SelectBox: should not throw an error if its detached template is re-mounted by a framework (T1178295)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 23_1

#25572 SelectBox: should not throw an error if its detached template is re-mounted by a framework (T1178295)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 22_2

#25573 Fluent: Scheduler - Make minor interval lines dotted
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Labels: 23_2

#25509 Fluent: DataGrid/TreeList - Set border radius
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/const.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Labels: 23_2

#25569 DataGrid - Master-detail - It's not possible to focus all rows after rows are expanded and collapsed (T1187124)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 22_2

#25568 DataGrid - Master-detail - It's not possible to focus all rows after rows are expanded and collapsed (T1187124)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_1

#25565 Update tools to v12
  package-lock.json
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
Labels: 23_2

#25570 DataGrid - throw warning when virtual scrolling is enabled and height is not specified
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/ui/widget/ui.errors.js
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Labels: 23_2

#25577 TreeList: Fix incorrect sorting after nodes are filtered (T1188243)
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: cherry-pick, 22_2

#25578 TreeList: Fix incorrect sorting after nodes are filtered (T1188243)
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: cherry-pick, 23_1

#25579 TreeList: Fix incorrect sorting after nodes are filtered (T1188243)
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Labels: 23_2

#25587 DataGrid - throw warning when virtual scrolling is enabled and height is not specified
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 22_2

#25586 DataGrid - throw warning when virtual scrolling is enabled and height is not specified
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/dataGrid/scrolling.ts
Labels: cherry-pick, 23_1

#25566 Use generators from the internal-tools package
  package-lock.json
  package.json
  packages/devextreme-angular/build.config.js
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/gulpfile.js
  packages/devextreme-react/package.json
  packages/devextreme-react/project.json
  packages/devextreme-vue/gulpfile.js
  packages/devextreme-vue/package.json
  packages/devextreme-vue/project.json
Labels: 23_2

#25580 T1186613 - DataGrid - Toolbar items are vertically misaligned
  packages/devextreme/scss/widgets/base/dataGrid/_common.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/dataGrid/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/dataGrid/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/etalons/group-panel-message-align.png
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/etalons/groupingPanel.png
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: type/bug, 23_2

#25599 Bump devextreme-internal-tools
  package-lock.json
  package.json
Labels: type/bug, 23_2

#25558 Fluent: Scheduler - Make a circle around today date (apply dxCalendar style)
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/dateHeaderText.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/layout.tsx
  packages/devextreme/js/renovation/utils/__tests__/getThemeType.test.ts
  packages/devextreme/js/renovation/utils/getThemeType.ts
  packages/devextreme/js/ui/themes.d.ts
  packages/devextreme/js/ui/themes.js
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25607 Fix deprecated "set-output" command in workflows
  .github/workflows/codeql.yml
Labels: 23_2

#25609 Fix deprecated "set-output" command in workflows (#25607)
  .github/workflows/codeql.yml
Labels: cherry-pick, 23_1

#25588 RadioGroup: validation message should be pronounced on value change
  packages/devextreme/js/ui/radio_group/radio_group.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Labels: 23_2

#25596 Scheduler - Toggling the All day switch should not change the End Date value (T1167123)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: 23_2

#25602 DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/stateStoring/etalons/T1188828-state-storing-with-selected-row-keys.png
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Labels: cherry-pick, 22_2

#25603 DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/stateStoring/etalons/T1188828-state-storing-with-selected-row-keys.png
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Labels: cherry-pick, 23_1

#25604 DataGrid: Fix gray boxes rendering when cellTemplates are used and the selectedRowKeys array contains an invalid key (T1188828)
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/etalons/T1188828-state-storing-with-selected-row-keys.png
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Labels: 23_2

#25616 Scheduler - Toggling the All day switch should not change the End Date value (T1167123)
  js/__internal/scheduler/appointment_popup/m_form.ts
  js/__internal/scheduler/m_scheduler.ts
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: cherry-pick, 23_1

#25617 Scheduler - Toggling the All day switch should not change the End Date value (T1167123)
  js/__internal/scheduler/appointment_popup/m_form.ts
  js/__internal/scheduler/m_scheduler.ts
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: cherry-pick, 22_2

#25605 Fluent: DataGrid - CSS fixes
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
Labels: 23_2

#25606 Scheduler - The `E1035 - The editor cannot be created` error appears on an attempt to edit a recurring appointment (T1188098)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Labels: 23_2

#25625 Add automatic update of Chrome, Firefox and Node.js version in workflow into renovate bot config
  .github/renovate.json
  .github/workflows/devextreme_angular_tests.yml
  .github/workflows/devextreme_react_tests.yml
  .github/workflows/devextreme_vue_tests.yml
Labels: 23_2

#25628 Scheduler - The E1035 - The editor cannot be created error appears on an attempt to edit a recurring appointment (T1188098)
  js/__internal/scheduler/appointment_popup/m_form.ts
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Labels: cherry-pick, 23_1

#25626 Fluent: DataGrid - Change button style
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Labels: 23_2

#25635 Fluent: make colors contrast in all types of buttons
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/button/_sizes.scss
  packages/devextreme/scss/widgets/fluent/radioButton/_index.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
Labels: 23_2

#25637 Tabs: Fix icon gaps
  packages/devextreme/scss/widgets/fluent/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/generic/tabs/layout/tab/_base.scss
  packages/devextreme/scss/widgets/material/tabs/layout/tab/_base.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=end,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs iconPosition=start,rtl=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/tabs/etalons/Tabs in contrast theme if first tab is focused (generic-contrast).png
Labels: 23_2

#25644 Fix onClick event for column button
  js/ui/data_grid.d.ts
  ts/dx.all.d.ts
Labels: type/bug, cherry-pick, 23_1

#25643 Fluent: toolbar, menu, contextMenu redesign
  packages/devextreme/js/ui/toolbar/internal/ui.toolbar.menu.js
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/contextMenu/_index.scss
  packages/devextreme/scss/widgets/fluent/contextMenu/_sizes.scss
  packages/devextreme/scss/widgets/fluent/menu/_colors.scss
  packages/devextreme/scss/widgets/fluent/menu/_index.scss
  packages/devextreme/scss/widgets/fluent/menu/_sizes.scss
  packages/devextreme/scss/widgets/fluent/menuBase/_index.scss
  packages/devextreme/scss/widgets/fluent/menuBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/popup/_colors.scss
  packages/devextreme/scss/widgets/fluent/popup/_index.scss
  packages/devextreme/scss/widgets/fluent/popup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/radioGroup/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_sizes.scss
Labels: 23_2

#25640 DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: 23_2

#25639 DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 23_1

#25638 DataGrid: Fix disabled state for export button when using the `toolbar|items|disabled` option (T1189621)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Labels: cherry-pick, 22_2

#25621 DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: cherry-pick, 22_2

#25622 DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: cherry-pick, 23_1

#25623 DataGrid: Fix onContentReady was not called when the grid is rendered in DropDownBox (T1188486)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 23_2

#25614 Calendar: range should not be rendered on non month views (T1186223)
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Labels: 23_2

#25641 🎨 Fluent: Redesign group panel header cells and make icons 20x20
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Labels: 23_2

#25634 Do not ignore scss bundles when packing devextreme package
  packages/devextreme/build/gulp/npm.js
Labels: 23_2

#25654 Fluent: change background color for outlined editors
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Labels: 23_2

#25658 Calendar: range should not be rendered on non month views (T1186223)
  js/ui/calendar/ui.calendar.base_view.js
  testing/testcafe/tests/editors/calendar/common.ts
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Labels: cherry-pick, 23_1

#25636 Tabs: Update scrollable after change the orientation option in runtime
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 23_2

#25663 Fluent: List redesign
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.switchable.button.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/scss/widgets/base/_badge.scss
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/badge/_colors.scss
  packages/devextreme/scss/widgets/fluent/badge/_index.scss
  packages/devextreme/scss/widgets/fluent/badge/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
  packages/devextreme/scss/widgets/fluent/contextMenu/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_sizes.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/lookup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/overlay/_colors.scss
  packages/devextreme/scss/widgets/fluent/selectBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textBox/_index.scss
  packages/devextreme/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme/scss/widgets/generic/badge/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/badge/_index.scss
  packages/devextreme/scss/widgets/material/list/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 23_2

#25615 DataGrid - "W1024 - The client-side export is enabled" warning occurs when the exporting feature is used in Angular (T1188932)
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/export/export.ts
Labels: 23_2

#25656 Fluent: Scheduler - Redesign appointment tooltip
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Labels: 23_2

#25661 Fluent: Scheduler - CSS fixes (part 1)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/header.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 23_2

#25662 FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Labels: 23_2

#25669 FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Labels: cherry-pick, 22_2

#25668 FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Labels: cherry-pick, 23_1

#25657 Fix react playground
  package-lock.json
  playgrounds/angular/package.json
  playgrounds/react/app.tsx
  playgrounds/react/drawer-example.tsx
  playgrounds/react/package.json
  playgrounds/react/tsconfig.json
  playgrounds/react/webpack.config.js
  playgrounds/vue/package.json
Labels: 23_2

#25592 Fluent: Remove Roboto font imports
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Labels: 23_2

#25665 DataGrid - "W1024 - The client-side export is enabled" warning occurs when the exporting feature is used in Angular (T1188932)
  js/__internal/grids/data_grid/export/m_export.ts
  testing/testcafe/tests/dataGrid/export/export.ts
Labels: cherry-pick, 23_1

#25667 FileUploader: onDropZoneEnter event should fire in Firefox (T1188612)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: 23_2

#25678 FileUploader: onDropZoneEnter event should fire in Firefox (T1188612)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 22_2

#25677 FileUploader: onDropZoneEnter event should fire in Firefox (T1188612)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 23_1

#25676 DataGrid - Opening an editor with the Enter key is inconsistent when scrolling is enabled (T1190668)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/startEditing.functional.ts
Labels: 23_2

#25611 TextEditor: Fill placeholder attribute with placeholder option value
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Labels: 23_2

#25685 DropDownBox: items in the value should be sorted by selection order on async load (T1181665)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: cherry-pick, 23_1

#25686 DropDownBox: items in the value should be sorted by selection order on async load (T1181665)
  js/ui/drop_down_box.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: cherry-pick, 22_2

#25646 DropDownButton: type option should be passed to buttons of nested buttonGroup
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/common.ts
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 23_2

#25680 Update packages and renovate config
  .github/renovate.json
  package-lock.json
  playgrounds/vue/package.json
Labels: 23_2

#25664 Fluent: Scheduler - CSS fixes (part 2)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/dialog.ts
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/reccurence-dialog-screenshot.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/recurrence-delete-dialog-screenshot.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/recurrence-edit-dialog-screenshot.png
Labels: 23_2

#25544 Testcafe - add typing for createWidget
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/grouping.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/masterDetail.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/integration.ts
Labels: 23_2

#25690 TabPanel: Fix incorrect focus borders in Generic (T1191269)
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_base.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-bottom.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-left.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-right.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab-panel/_position-top.scss
  packages/devextreme/scss/widgets/generic/tabPanel/layout/tab/_base.scss
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel focus borders (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/tabPanel/etalons/TabPanel focus borders (material-blue-light).png
Labels: 23_2

#25463 Add npm script to build and pack all npm packages
  .github/workflows/pack_all.yml
  .gitignore
  build/pack-all.ts
  package-lock.json
  package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
Labels: 23_2

#25681 DataGrid - move HeaderPanel to native class
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Labels: 23_2

#25682 DataGrid - move HeaderPanel to native class
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
Labels: cherry-pick, 22_2

#25683 DataGrid - move HeaderPanel to native class
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
Labels: cherry-pick, 23_1

#25608 Charts - Publish SeriesPoint & SeriesLabel types
  packages/devextreme-angular/src/common/charts.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme/js/common/charts.d.ts
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/js/viz/chart_components/base_chart.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 23_2

#25694 Testcafe - add typing for createWidget
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  testing/testcafe/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/navigation/toolbar/integration.ts
Labels: cherry-pick, 23_1

#25695 Testcafe - add typing for createWidget
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/editing/editingEvents.ts
  testing/testcafe/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/testcafe/tests/dataGrid/markup/T838734_alternateRowSizes.ts
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/testcafe/tests/dataGrid/scrolling.ts
  testing/testcafe/tests/dataGrid/selection.ts
  testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/navigation/toolbar/integration.ts
Labels: cherry-pick, 22_2

#25700 TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  packages/devextreme/testing/testcafe/tests/treeList/scrolling.ts
Labels: 23_2

#25704 TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Labels: cherry-pick, 23_1

#25705 TreeList - Select All should work correctly when virtual scrolling is enabled - T1189118
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-1.png
  testing/testcafe/tests/treeList/etalons/T1189118-treelist-select-all-with-virtual-scrolling-2.png
  testing/testcafe/tests/treeList/scrolling.ts
Labels: cherry-pick, 22_2

#25540 Gallery - fix Axe errors
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/gallery.js
  packages/devextreme/testing/testcafe/tests/gallery/accessibility.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gallery.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gallery.tests.js
Labels: 23_2

#25709 Themebuilder - fix type imports
  packages/devextreme-themebuilder/src/metadata/dependency-collector.ts
Labels: 23_2

#25710 Themebuilder - fix type imports
  themebuilder-scss/src/metadata/dependency-collector.ts
Labels: cherry-pick, 23_1

#25711 Themebuilder - fix type imports
  themebuilder-scss/src/metadata/dependency-collector.ts
Labels: cherry-pick, 22_2
