Repository DevExpress/DevExtreme, pull requests merged in 2024-06, with the labels that each got.

#27501 Unskip QUnit tests after updating Chrome to version 121
  .github/workflows/devextreme_npm_tests.yml
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
Labels: 22_2

#27499 Chart: add links to Zooming and Panning demo description
  apps/demos/Demos/Charts/ZoomingAndScrolling/description.md
Labels: 24_1

#27497 Demos: add Layout group
  apps/demos/menuMeta.json
Labels: 24_1

#27451 NX: devextreme package scripts configs
  packages/devextreme/project.json
Labels: 24_1

#27489 🕛 Decrease bundle size(Time Zones): Add backward compatibility e2e tests
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/appointments_support_old_timezone_db.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/globalConfigTimezoneDB.ts
Labels: 24_1

#27471 DropDownEditors: Fix custom button onClick when fieldTemplate is used (T1225549)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 24_1

#27505 DropDownEditors: Fix custom button onClick when fieldTemplate is used (T1225549)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/lookup.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 23_2

#27506 DropDownEditors: Fix custom button onClick when fieldTemplate is used (T1225549)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/lookup.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: cherry-pick, 23_1

#27516 Fix EINVAL error on npm run build-themes 23_2
  package-lock.json
  packages/devextreme/package.json
Labels: cherry-pick, 23_2

#27517 Splitter: hide repaintChangesOnly option from types and documentation
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27478 chore: add comparing DevExtreme version with dependent product version
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/utils/version.ts
  packages/devextreme/js/bundles/modules/core.js
  packages/devextreme/js/core/errors.js
  packages/devextreme/js/core/version_check.js
Labels: 24_1

#27538 Fix version check (4th segment)
  packages/devextreme-monorepo-tools/src/version-utils.test.ts
  packages/devextreme-monorepo-tools/src/version-utils.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/utils/version.ts
  packages/devextreme/js/core/version.js
  tools/scripts/common/version.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/update-version.ts
Labels: 24_1

#27529 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#27482 a11y: Fix unstable accessibility tests
  e2e/testcafe-devextreme/tests/accessibility/fileUploader.ts
  e2e/testcafe-devextreme/tests/accessibility/htmlEditor.ts
  e2e/testcafe-devextreme/tests/accessibility/map.ts
  e2e/testcafe-devextreme/tests/accessibility/menu.ts
  e2e/testcafe-devextreme/tests/accessibility/numberBox.ts
  e2e/testcafe-devextreme/tests/accessibility/radioGroup.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Labels: 24_1

#27526 TreeView: Fix demos and unskip Testcafe tests (React and Vue)
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/data.ts
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/jQuery/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Angular/app/app.component.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/React/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/ReactJs/styles.css
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/jQuery/styles.css
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27540 Bump React Peer Dependencies
  package-lock.json
  packages/devextreme-react/package.json
Labels: 23_2

#27541 Fix incompatible versions case in license check
  packages/devextreme/js/__internal/core/license/license_validation.ts
Labels: 24_1

#27545 Revert: "add fake generic type params for affected narrowed events"
  package-lock.json
  package.json
  packages/devextreme-react/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27524 PivotGrid - Row fields overlap data fields if dataFieldArea is set to "row" and virtual scrolling is enabled (T1210807)
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807.png
  e2e/testcafe-devextreme/tests/pivotGrid/virtualScrolling_T1210807.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  packages/testcafe-models/pivotGrid/index.ts
  packages/testcafe-models/pivotGrid/rowsArea.ts
Labels: type/bug, 24_1

#27548 PivotGrid - Row fields overlap data fields if dataFieldArea is set to "row" and virtual scrolling is enabled (T1210807)
  js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/pivotGrid/rowsArea.ts
  testing/testcafe/tests/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807.png
  testing/testcafe/tests/pivotGrid/virtualScrolling_T1210807.ts
Labels: type/bug, cherry-pick, 23_1

#27547 PivotGrid - Row fields overlap data fields if dataFieldArea is set to "row" and virtual scrolling is enabled (T1210807)
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_source/m_data_source.ts
  packages/devextreme/testing/testcafe/model/pivotGrid/index.ts
  packages/devextreme/testing/testcafe/model/pivotGrid/rowsArea.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/virtualScrolling_T1210807.ts
Labels: type/bug, cherry-pick, 23_2

#27550 CI: Setup npm deps scanner
  .github/workflows/packages_publishing.yml
  tools/scripts/common/paths.ts
  tools/scripts/make-artifacts-package.ts
Labels: 24_1

#27533 DropDownButton: move files to TS
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/ui/drop_down_button.js
Labels: 24_1

#27531 ProgressBar: move files to TS
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
  packages/devextreme/js/ui/progress_bar.js
Labels: 24_1

#27530 Lookup: move files to TS
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/ui/lookup.js
Labels: 24_1

#27539 DataGrid: Fix the 'Cannot read properties of undefined (reading 'done')' error that occurs under certain conditions (T1219612)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: 24_1

#27493 DataGrid: Fix row going into edit mode when popup edit mode is enabled and editRowKey is initially specified (T1218553)
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/popup-edit-form-with-initial-editrowkey.png
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: 24_1

#27514 NX: scripts configs for cloud caches
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/wrapper_tests.yml
  apps/angular/project.json
  apps/demos/.npmrc
  apps/demos/package.json
  apps/demos/project.json
  apps/react/project.json
  apps/vue/project.json
  e2e/testcafe-devextreme/project.json
  packages/devextreme-angular/project.json
  packages/devextreme-react/project.json
  packages/devextreme-themebuilder/project.json
  packages/devextreme-vue/project.json
  packages/devextreme/project.json
Labels: 24_1, github_actions

#27542 TabPanel: Remove extra div during panel creation in React framework
  apps/demos/Demos/TabPanel/SortableClosableTabs/React/App.tsx
  apps/demos/Demos/TabPanel/SortableClosableTabs/ReactJs/App.js
  apps/demos/testing/common.test.js
Labels: 24_1, force all tests

#27402 SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#27568 SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27569 SelectBox: Set appropriate "aria-invalid" attribute value when input is empty or not (T1230706)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#27575 Update Trial Panel Buy Now Links
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-vue/src/core/component.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#27574 DataGrid: Fix the 'Cannot read properties of undefined (reading 'done')' error that occurs under certain conditions (T1219612)
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: cherry-pick, 23_1

#27572 DataGrid: Fix the 'Cannot read properties of undefined (reading 'done')' error that occurs under certain conditions (T1219612)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: cherry-pick, 23_2

#27581 Add display: none to DxLicenseTrigger
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Labels: 24_1

#27537 FileUploader: move files to TS
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/file_uploader.js
Labels: 24_1

#27546 DropDownBox: update demo descriptions
  apps/demos/Demos/DropDownBox/MultipleSelection/Angular/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/React/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/ReactJs/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/Vue/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/jQuery/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/description.md
Labels: 24_1

#27583 Editor, DataExpressionMixin: move files to TS
  packages/devextreme/js/__internal/ui/editor/m_data_expression.ts
  packages/devextreme/js/__internal/ui/editor/m_editor.ts
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/js/ui/editor/ui.data_expression.js
Labels: 24_1

#27573 DataGrid: Fix row going into edit mode when popup edit mode is enabled and editRowKey is initially specified (T1218553)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/popup-edit-form-with-initial-editrowkey.png
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 23_1

#27571 DataGrid: Fix row going into edit mode when popup edit mode is enabled and editRowKey is initially specified (T1218553)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/popup-edit-form-with-initial-editrowkey.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Labels: cherry-pick, 23_2

#27587 Chart: recreate legend's title to prevent caching leading to stale values (T1210271)
  packages/devextreme/js/viz/components/legend.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/legend.tests.js
Labels: cherry-pick, 23_2

#27588 Chart: recreate legend's title to prevent caching leading to stale values (T1210271)
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
  testing/tests/DevExpress.viz.vectorMap/legend.tests.js
Labels: cherry-pick, 23_1

#27592 DeferRendering: move files to TS
  packages/devextreme/js/__internal/ui/m_defer_rendering.ts
  packages/devextreme/js/ui/defer_rendering.js
Labels: 24_1

#27555 Tabs/Selection: Corrected classname appending in Vue template by adding wrapper div
  apps/demos/Demos/Tabs/Selection/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27580 Add display: none to DxLicenseTrigger
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Labels: 24_1

#27563 Fix modules relative paths after moving Demos
  apps/demos/utils/bundle/index.js
Labels: skip-cache, 24_1

#27553 List/Selection: Apply standardized width and added space between span and input in Vue template
  apps/demos/Demos/List/ListSelection/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27590 DropDownButton: Use isObject instead of isPlainObject to support custom constructors in datasource (T1233565)
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 24_1

#27603 FilterBuilder: import Popup without Toolbar
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
Labels: 24_1

#27602 ToolbarMenu: import Popup without Toolbar
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
Labels: 24_1

#27104 Monorepo - move out bundlers e2e
  .github/workflows/devextreme_npm_tests.yml
  e2e/bundlers/.eslintrc.js
  e2e/bundlers/.gitignore
  e2e/bundlers/generate_entry_files.js
  e2e/bundlers/package.json
  e2e/bundlers/project.json
  e2e/bundlers/rollup.config.js
  e2e/bundlers/vite.config.js
  e2e/bundlers/webpack.config.cjs.js
  e2e/bundlers/webpack.config.js
  package-lock.json
  packages/devextreme/.gitignore
  packages/devextreme/testing/bundlers/package-lock.json
  packages/devextreme/testing/bundlers/package.json
  packages/devextreme/testing/bundlers/rollup.config.js
  packages/devextreme/testing/bundlers/webpack.config.cjs.js
  packages/devextreme/testing/bundlers/webpack.config.js
Labels: 24_1

#27600 DropDownButton: Use isObject instead of isPlainObject to support custom constructors in datasource (T1233565)
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: cherry-pick, 23_2

#27609 DropDownButton: Use isObject instead of isPlainObject to support custom constructors in datasource (T1233565)
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: cherry-pick, 23_1

#27610 Documentation - Fix - Framework dependant desriptions missing
  apps/demos/Demos/DataGrid/EditStateManagement/React/description.md
  apps/demos/Demos/DataGrid/EditStateManagement/ReactJs/description.md
  apps/demos/Demos/DataGrid/EditStateManagement/Vue/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/Angular/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/React/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/Vue/description.md
Labels: 24_1

#27509 Toolbar Adaptability: Fix demos and unskip Testcafe tests (Angular, React and Vue)
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.ts
  apps/demos/Demos/Toolbar/Adaptability/React/App.tsx
  apps/demos/Demos/Toolbar/Adaptability/ReactJs/App.js
  apps/demos/Demos/Toolbar/Adaptability/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27552 TabPanel/Overview: Corrected classname appending in Vue template by adding wrapper div
  apps/demos/Demos/TabPanel/Overview/Vue/TabPanelItem.vue
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27612 revert: Fix modules relative paths after moving Demos (#27563)
  apps/demos/utils/bundle/index.js
Labels: 24_1, force all tests

#27613 revert: Fix modules relative paths after moving Demos (#27563) (#27612)
  apps/demos/utils/bundle/index.js
Labels: cherry-pick, force all tests, 24_2

#27617 DataGrid - Flickering of cell focus / revert button during DataGrid update, when edited data is saved using keyboard navigation (T1206435)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/editOnKeyPress.screenshots.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: cherry-pick, 23_2

#27616 DataGrid - Flickering of cell focus / revert button during DataGrid update, when edited data is saved using keyboard navigation (T1206435)
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/editOnKeyPress.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.customization.tests.js
Labels: cherry-pick, 24_1

#27615 Toolbar Adaptability: Fix demos and unskip Testcafe tests (Angular, React and Vue)
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.ts
  apps/demos/Demos/Toolbar/Adaptability/React/App.tsx
  apps/demos/Demos/Toolbar/Adaptability/ReactJs/App.js
  apps/demos/Demos/Toolbar/Adaptability/Vue/App.vue
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: cherry-pick, force all tests, 24_2

#27554 TileView/Directions: Apply standardized width and added space between span and input in Vue template
  apps/demos/Demos/TileView/Directions/Vue/App.vue
  apps/demos/testing/common.test.js
Labels: skip-cache, 24_1, force all tests

#27619 TabPanel/Overview: Corrected classname appending in Vue template by adding wrapper div
  apps/demos/Demos/TabPanel/Overview/Vue/TabPanelItem.vue
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: cherry-pick, 24_2

#27620 TileView/Directions: Apply standardized width and added space between span and input in Vue template
  apps/demos/Demos/TileView/Directions/Vue/App.vue
  apps/demos/testing/common.test.js
Labels: cherry-pick, 24_2

#27551 DataGrid - Dragged column from the column chooser is frozen when the Esc key is pressed (T1219785)
  e2e/testcafe-devextreme/tests/dataGrid/columnChooser.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-2.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-3.png
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/testcafe-models/dataGrid/columnChooser.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: type/bug, WIP, 24_1

#27577 TestCafe testing: Merge all pages for testing into one page
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/containerAspNet.html
  e2e/testcafe-devextreme/tests/containerQuill.html
  e2e/testcafe-devextreme/tests/dataGrid/editing/T1154721_editingCellFocus.ts
  e2e/testcafe-devextreme/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/form/common.ts
  e2e/testcafe-devextreme/tests/form/form.buttonItem.ts
  e2e/testcafe-devextreme/tests/form/form.emptyItem.ts
  e2e/testcafe-devextreme/tests/form/form.groupItem.ts
  e2e/testcafe-devextreme/tests/form/form.labelMode.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.colSpan.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.labelMode.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.ts
  e2e/testcafe-devextreme/tests/form/form.tabbedItem.ts
  e2e/testcafe-devextreme/tests/htmlEditor/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/format.ts
  e2e/testcafe-devextreme/tests/htmlEditor/list.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
Labels: skip-cache

#27638 Fix demo tests
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Labels: skip-cache, force all tests, 24_2

#27639 Fix demo tests
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Labels: skip-cache, 24_1, force all tests

#27644 TestCafe testing: Merge all pages for testing into one page
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/containerAspNet.html
  e2e/testcafe-devextreme/tests/containerQuill.html
  e2e/testcafe-devextreme/tests/dataGrid/editing/T1154721_editingCellFocus.ts
  e2e/testcafe-devextreme/tests/dataGrid/grouping/T1162057_oneGroupOnDifferentPages.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/form/common.ts
  e2e/testcafe-devextreme/tests/form/form.buttonItem.ts
  e2e/testcafe-devextreme/tests/form/form.emptyItem.ts
  e2e/testcafe-devextreme/tests/form/form.groupItem.ts
  e2e/testcafe-devextreme/tests/form/form.labelMode.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.colSpan.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.labelMode.ts
  e2e/testcafe-devextreme/tests/form/form.simpleItem.ts
  e2e/testcafe-devextreme/tests/form/form.tabbedItem.ts
  e2e/testcafe-devextreme/tests/htmlEditor/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/addImageFromDevice.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/addImage/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/format.ts
  e2e/testcafe-devextreme/tests/htmlEditor/list.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
Labels: cherry-pick, 24_2

#27618 Fix React Drawer Component
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.tsx
  packages/devextreme-react/src/core/component-base.tsx
Labels: 24_1

#27634 Fix React Drawer Component 24_2
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.tsx
  packages/devextreme-react/src/core/component-base.tsx
Labels: 24_2

#27641 Map: add a note about Bing maps deprecation
  apps/demos/Demos/Map/Markers/description.md
  apps/demos/Demos/Map/ProvidersAndTypes/description.md
  apps/demos/Demos/Map/Routes/description.md
Labels: 24_1

#27633 DataGrid - Dragged column from the column chooser is frozen when the Esc key is pressed (T1219785)
  e2e/testcafe-devextreme/tests/dataGrid/columnChooser.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-2.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1219785-column-chooser-3.png
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/testcafe-models/dataGrid/columnChooser.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, skip-cache, 24_2

#27632 DataGrid - Dragged column from the column chooser is frozen when the Esc key is pressed (T1219785)
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1219785-column-chooser-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1219785-column-chooser-2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1219785-column-chooser-3.png
Labels: cherry-pick, 23_2

#27624 24_2 fix Vue warnings
  apps/demos/Demos/Accordion/Overview/Vue/App.vue
  apps/demos/Demos/Common/NavigationOverview/Vue/App.vue
  apps/demos/Demos/Gantt/TaskTemplate/Vue/App.vue
  apps/demos/Demos/Gantt/Toolbar/Vue/App.vue
  apps/demos/Demos/TabPanel/SortableClosableTabs/Vue/App.vue
  apps/demos/Demos/TabPanel/Templates/Vue/App.vue
  apps/demos/Demos/VectorMap/ImageMarkers/Vue/App.vue
  apps/demos/testing/known-warnings.json
Labels: skip-cache, force all tests

#27645 chore: try remove some SSR-related workarounds (24_2)
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/core/trial_panel.js
Labels: cherry-pick, 24_2

#27642 DataGrid - Summary values in the fixed column disappear when virtual scrolling and grouping are used (T1221369)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_0.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_2.png
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Labels: skip-cache, 24_2

#27628 chore: cherry-pick version mismatch warning
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/utils/version.ts
  packages/devextreme/js/bundles/modules/core.js
  packages/devextreme/js/core/errors.js
  packages/devextreme/js/core/version_check.js
Labels: cherry-pick, 23_2

#27650 DataGrid - Summary values in the fixed column disappear when virtual …
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_0.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_2.png
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Labels: cherry-pick, skip-cache, 24_1

#27646 Add Buy Now Links Tests 24_2
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
Labels: cherry-pick, 24_2

#27611 BarGauge: Fix when font|opacity option is applied to BarGauge labels (T1238556)
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 24_1, force all tests

#27625 BarGauge: Fix when font|opacity option is applied to BarGauge labels (T1238556)
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 24_2

#27626 BarGauge: Fix when font|opacity option is applied to BarGauge labels (T1238556)
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge.tests.js
Labels: 23_2

#27435 Form: Fix form validation error when items are cleared (T1233487)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 24_1

#27629 Form: Fix form validation error when items are cleared (T1233487)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 24_2

#27631 Form: Fix form validation error when items are cleared (T1233487)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Labels: 23_2

#27656 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#27655 Fix WG Angular HttpClientModule (#27653)
  apps/demos/configs/Angular/config.js
Labels: 24_2

#27661 Maps: fix notes in demo descriptions
  apps/demos/Demos/Map/Markers/description.md
  apps/demos/Demos/Map/ProvidersAndTypes/description.md
  apps/demos/Demos/Map/Routes/description.md
Labels: 24_1

#27651 DataGrid - Summary values in the fixed column disappear when virtual …
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_0.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1221369_fixed-summary-with-virtual-cols_2.png
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_2, skip-cache

#27666 DateRangeBox: hotfix import from d.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
Labels: 23_2

#27671 PivotGrid - Simple Array demo - 'Sales' variable is not used
  apps/demos/Demos/PivotGrid/SimpleArray/Angular/app/app.component.ts
Labels: 24_2

#27664 List: Fix "Select All" aria-label localization (T1239880)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: 24_2

#27677 List: Fix "Select All" aria-label localization (T1239880)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: cherry-pick, 24_1

#27652 TreeList: Fix the width of the first column when it has a specified template (T1221037)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-material.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/scss/widgets/base/treeList/_common.scss
Labels: skip-cache, 24_1

#27672 Accordion: use optional chaining when resolving deffered items (T1239052)
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: type/bug, 24_2

#27636 HtmlEditor: retain formats when creating mentions (T1236869)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_mentions.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: type/bug, 24_2

#27683 HtmlEditor: retain formats when creating mentions (T1236869)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_mentions.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 23_2

#27682 HtmlEditor: retain formats when creating mentions (T1236869)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_mentions.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
Labels: cherry-pick, 24_1

#27684 Accordion: use optional chaining when resolving deffered items (T1239052)
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: cherry-pick, 24_1

#27685 Accordion: use optional chaining when resolving deffered items (T1239052)
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: cherry-pick, 23_2

#27681 TreeList: Fix the width of the first column when it has a specified template (T1221037)
  packages/devextreme/scss/widgets/base/treeList/_common.scss
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1221037-cell-with-template-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1221037-cell-with-template-generic.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1221037-cell-with-template-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/markup.ts
Labels: cherry-pick, 23_2

#27680 TreeList: Fix the width of the first column when it has a specified template (T1221037)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1221037-cell-with-template-material.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/scss/widgets/base/treeList/_common.scss
Labels: cherry-pick, skip-cache, 24_2

#27686 DataGrid: Fix the XSS test
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  packages/devextreme/testing/testcafe/tests/dataGrid/security/xss.ts
Labels: 23_2
