Repository DevExpress/DevExtreme, pull requests merged in 2024-05, with the labels that each got.

#27278 Context Menu: add Scrolling demo for React, Vue, Angular
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.css
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/index.html
  apps/demos/Demos/ContextMenu/Scrolling/React/App.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/index.html
  apps/demos/Demos/ContextMenu/Scrolling/React/index.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/styles.css
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/App.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/index.html
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/index.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/styles.css
  apps/demos/Demos/ContextMenu/Scrolling/Vue/App.vue
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/Vue/index.html
  apps/demos/Demos/ContextMenu/Scrolling/Vue/index.ts
Labels: 24_1

#27300 Demos - Fix convert-to-js to exclude md files from prettier
  apps/demos/Demos/Charts/Overview/ReactJs/description.md
  apps/demos/Demos/Charts/PiesWithEqualSize/ReactJs/description.md
  apps/demos/Demos/Common/ActionAndListsOverview/ReactJs/description.md
  apps/demos/Demos/Common/DialogsAndNotificationsOverview/ReactJs/description.md
  apps/demos/Demos/Common/EditorsOverview/ReactJs/description.md
  apps/demos/Demos/Common/EditorsRightToLeftSupport/ReactJs/description.md
  apps/demos/Demos/Common/FormsAndMultiPurposeOverview/ReactJs/description.md
  apps/demos/Demos/DataGrid/EditStateManagement/ReactJs/description.md
  apps/demos/Demos/DataGrid/Overview/ReactJs/description.md
  apps/demos/Demos/DropDownBox/MultipleSelection/ReactJs/description.md
  apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/description.md
  apps/demos/Demos/Gauges/GaugeTitleCustomized/ReactJs/description.md
  apps/demos/Demos/Gauges/Overview/ReactJs/description.md
  apps/demos/Demos/PivotGrid/Overview/ReactJs/description.md
  apps/demos/Demos/Popup/Overview/ReactJs/description.md
  apps/demos/Demos/Scheduler/CustomTemplates/ReactJs/description.md
  apps/demos/Demos/Scheduler/Overview/ReactJs/description.md
  apps/demos/Demos/Slider/Overview/ReactJs/description.md
  apps/demos/Demos/TabPanel/Templates/ReactJs/description.md
  apps/demos/Demos/TreeList/Overview/ReactJs/description.md
  apps/demos/Demos/VectorMap/Overview/ReactJs/description.md
  apps/demos/utils/ts-to-js-converter/converter.ts
Labels: 24_1

#27256 Splitter: specify the permissible types for data
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
Labels: 24_1

#27305 Splitter: items with no size should have visibility hidden to prevent focus on tab
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27311 Quill: Bump version to 1.7.1
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 24_1

#27308 Accessibility: Reduce the number of testAccessibility configurations
  e2e/testcafe-devextreme/tests/accessibility/calendar.ts
  e2e/testcafe-devextreme/tests/accessibility/checkBox.ts
  e2e/testcafe-devextreme/tests/accessibility/dateRangeBox.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
Labels: 24_1

#27306 Splitter: change focusable element
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
  apps/demos/testing/widgets/splitter/Overview.test.js
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane.png
Labels: 24_1, force all tests

#27309 Fix skipped visual demos tests
  apps/demos/testing/widgets/datagrid/BatchUpdateRequest.test.js
  apps/demos/testing/widgets/datagrid/CellEditingAndEditingAPI.test.js
  apps/demos/testing/widgets/datagrid/EditStateManagement.test.js
  apps/demos/testing/widgets/datagrid/MultipleRecordSelectionAPI.test.js
  apps/demos/testing/widgets/datagrid/RowEditingAndEditingEvents.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/list/ItemDragging.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#27230 List: focusStateEnabled should be considered when applying focus on deleting items (T1226030)
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should be focused when deleted (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should be focused when deleted (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should be focused when deleted (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should not be focused when deleted (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should not be focused when deleted (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/First item should not be focused when deleted (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/focus.ts
  packages/devextreme/js/ui/list/ui.list.edit.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: type/bug, 24_1

#27283 TabPanel - Hide visible property in the dxTabPaneltem type (T1227243)
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27284 TabPanel - Hide visible property in the dxTabPaneltem type (T1227243)
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#27285 TabPanel - Hide visible property in the dxTabPaneltem type (T1227243)
  js/ui/tab_panel.d.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#27289 Splitter: improve typing
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/core/renderer.d.ts
Labels: 24_1, force all tests

#27325 List: focusStateEnabled should be considered when applying focus on deleting items (T1226030)
  js/ui/list/ui.list.edit.js
  testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (fluent-blue-light).png
  testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (generic-light).png
  testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (material-blue-light).png
  testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (fluent-blue-light).png
  testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (generic-light).png
  testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (material-blue-light).png
  testing/testcafe/tests/editors/list/focus.ts
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 23_1, force all tests

#27324 List: focusStateEnabled should be considered when applying focus on deleting items (T1226030)
  packages/devextreme/js/ui/list/ui.list.edit.js
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should be focused when deleted (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/First item should not be focused when deleted (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/focus.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 23_2, force all tests

#27304 ContextMenu: Update target area sizes for JS Frameworks
  apps/demos/Demos/ContextMenu/Basics/Angular/app/app.component.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.css
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/App.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/styles.css
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/styles.css
  apps/demos/Demos/ContextMenu/Scrolling/Vue/App.vue
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/styles.css
  apps/demos/Demos/ContextMenu/Templates/Angular/app/app.component.ts
  apps/demos/testing/etalons/ContextMenu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling.png
Labels: 24_1

#27326 Scheduler - increase qunit tests timeout
  .github/workflows/qunit_tests-additional-renovation.yml
Labels: 24_1

#27316 Splitter: add collapsedSize option on Central Pane on all demos
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane.png
Labels: 24_1, force all tests

#27315 Menu/ContextMenu: add Scrolling demo descriptions
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
Labels: 24_1

#27330 getEventTarget: Fix getting element from nullish path
  packages/devextreme/js/events/utils/event_target.js
  packages/devextreme/testing/tests/DevExpress.ui.events/events.utils.tests.js
Labels: 24_1

#27328 TextBox: Safeguard against undefined inputAttr option
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: type/bug, 24_1, force all tests

#27334 TextBox: Safeguard against undefined inputAttr option
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Labels: cherry-pick, 23_1, force all tests

#27331 List: fix Knockout issue with console error on selectAll click
  packages/devextreme/js/ui/list/ui.list.edit.decorator.selection.js
Labels: 24_1

#27313 Fix react wrapper guard handlers (T1226902)
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/options-manager.ts
Labels: 24_1

#27314 Fix react wrapper guard handlers in 23_2 (T1226902)
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/options-manager.ts
Labels: cherry-pick, 23_2

#27195 Update transpiling target
  apps/demos/utils/bundle/index.js
  package-lock.json
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-angular/tsconfig.tests.json
  packages/devextreme-vue/tsconfig.json
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/transpile-config.js
  packages/devextreme/js/__internal/tsconfig.json
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests.babelrc.json
  tsconfig.json
Labels: 24_1

#27342 Rollback transpiling in platform packages to fix demos bundling
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-vue/tsconfig.json
  tsconfig.json
Labels: 24_1

#27343 Fix error catching in bundling for demos
  apps/demos/utils/bundle/index.js
Labels: 24_1

#27353 Fix R1 editor css classes map
  packages/devextreme/js/renovation/ui/editors/common/editor.tsx
Labels: 24_1

#27358 Fix R1 editor css classes map
  packages/devextreme/js/renovation/ui/editors/common/editor.tsx
Labels: cherry-pick

#27351 Migrate Calendar component to TS
  packages/devextreme/js/__internal/ui/calendar/m_calendar.base_view.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.multiple.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.navigator.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.range.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.views.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/ui/calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.navigator.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.single.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.views.js
  packages/devextreme/testing/helpers/calendarFixtures.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarView.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 24_1

#27352 Add variables dark to sass processing (fix T1226973)
  packages/devextreme-themebuilder/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
  packages/devextreme-themebuilder/tests/modules/bootstrap-extractor.test.ts
Labels: 24_1

#27360 Add variables dark to sass processing (fix T1226973)
  packages/devextreme-themebuilder/src/data/bootstrap-metadata/bootstrap5-metadata.ts
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
  packages/devextreme-themebuilder/tests/modules/bootstrap-extractor.test.ts
Labels: cherry-pick, 23_2

#27356 Splitter: improve behavior on window resize
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/resize.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27361 chore: trial panel button refactoring
  packages/devextreme/js/__internal/core/license/trial_panel.ts
Labels: cherry-pick

#27365 DateBox types: the public DateBox class shouldn't have a generic type (revert after migration to TS)
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27327 Overlays: Add configurations for accessibility testing
  e2e/testcafe-devextreme/tests/accessibility/floatingActionButton.ts
  e2e/testcafe-devextreme/tests/accessibility/loadPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/popover.ts
  e2e/testcafe-devextreme/tests/accessibility/toast.ts
  e2e/testcafe-devextreme/tests/accessibility/tooltip.ts
  packages/testcafe-models/types.ts
Labels: 24_1

#27341 Tagbox: Handle list not rendering immediately when setting tag values [T1230995]
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: type/bug, 24_1

#27389 Tagbox: Handle list not rendering immediately when setting tag values [T1230995]
  js/__internal/ui/m_tag_box.ts
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 23_1

#27388 Tagbox: Handle list not rendering immediately when setting tag values [T1230995]
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 23_2

#27367 ContextMenu / Menu: Apply New Data set in Context Menu and Menu component in all JS Demos
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
  apps/demos/testing/widgets/contextmenu/ContextMenuScrolling.test.js
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_scrolling_appearance (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_scrolling_appearance (material.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_scrolling_appearance.png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (material.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible.png
Labels: 24_1, force all tests

#27384 Accessibility: Get rid of Splitter and TabPanel from skipped tests
  apps/demos/testing/common.test.js
Labels: 24_1

#27349 Others: Add configurations for accessibility testing
  e2e/testcafe-devextreme/tests/accessibility/drawer.ts
  e2e/testcafe-devextreme/tests/accessibility/dropDownBox.ts
  e2e/testcafe-devextreme/tests/accessibility/form.ts
  e2e/testcafe-devextreme/tests/accessibility/loadIndicator.ts
  e2e/testcafe-devextreme/tests/accessibility/map.ts
  e2e/testcafe-devextreme/tests/accessibility/validationSummary.ts
  packages/testcafe-models/types.ts
Labels: 24_1

#27357 Collections: Add configurations for accessibility testing
  e2e/testcafe-devextreme/tests/accessibility/accordion.ts
  e2e/testcafe-devextreme/tests/accessibility/actionSheet.ts
  e2e/testcafe-devextreme/tests/accessibility/contextMenu.ts
  e2e/testcafe-devextreme/tests/accessibility/gallery.ts
  e2e/testcafe-devextreme/tests/accessibility/menu.ts
  e2e/testcafe-devextreme/tests/accessibility/multiView.ts
  e2e/testcafe-devextreme/tests/accessibility/radioGroup.ts
  e2e/testcafe-devextreme/tests/accessibility/toolbar.ts
  packages/testcafe-models/types.ts
Labels: 24_1

#27390 Update demos launch instructions
  apps/demos/README.md
  apps/demos/utils/shell/server.js
Labels: 24_1

#27393 Upgrade stylelint packages
  apps/demos/.stylelintrc.json
  apps/demos/Demos/ColorBox/Overview/Angular/app/app.component.css
  apps/demos/Demos/ColorBox/Overview/React/styles.css
  apps/demos/Demos/ColorBox/Overview/ReactJs/styles.css
  apps/demos/Demos/ColorBox/Overview/Vue/App.vue
  apps/demos/Demos/ColorBox/Overview/jQuery/styles.css
  apps/demos/Demos/DataGrid/FocusedRow/Angular/app/app.component.css
  apps/demos/Demos/DataGrid/FocusedRow/React/styles.css
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/styles.css
  apps/demos/Demos/DataGrid/FocusedRow/Vue/styles.css
  apps/demos/Demos/DataGrid/FocusedRow/jQuery/styles.css
  apps/demos/Demos/TreeList/FocusedRow/Angular/app/app.component.css
  apps/demos/Demos/TreeList/FocusedRow/React/styles.css
  apps/demos/Demos/TreeList/FocusedRow/ReactJs/styles.css
  apps/demos/Demos/TreeList/FocusedRow/Vue/styles.css
  apps/demos/Demos/TreeList/FocusedRow/jQuery/styles.css
  apps/demos/package.json
  apps/demos/utils/visual-tests/inject/test-styles.css
  package-lock.json
Labels: 24_1

#27276 TestCafe - skip unstable tests
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
Labels: 24_1

#27371 SelectBox: Fix loss of "aria-required" attribute when textbox is used for search with fieldTemplate (T1230696)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#27378 SelectBox: Fix loss of "aria-required" attribute when textbox is used for search with fieldTemplate (T1230696)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27381 SelectBox: Fix loss of "aria-required" attribute when textbox is used for search with fieldTemplate (T1230696)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#27392 BarGauge / Palette: Scale down data units
  apps/demos/Demos/Gauges/Palette/Angular/app/app.component.html
  apps/demos/Demos/Gauges/Palette/Angular/app/app.component.ts
  apps/demos/Demos/Gauges/Palette/React/App.tsx
  apps/demos/Demos/Gauges/Palette/ReactJs/App.js
  apps/demos/Demos/Gauges/Palette/Vue/App.vue
  apps/demos/Demos/Gauges/Palette/jQuery/index.js
  apps/demos/testing/etalons/Gauges-Palette (fluent.blue.light).png
  apps/demos/testing/etalons/Gauges-Palette (material.blue.light).png
  apps/demos/testing/etalons/Gauges-Palette.png
Labels: 24_1, force all tests

#27362 SelectBox: Set "aria-haspopup" and "aria-autocomplete" when fieldTemplate is rendered (T1230971)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#27363 SelectBox: Set "aria-haspopup" and "aria-autocomplete" when fieldTemplate is rendered (T1230971)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27364 SelectBox: Set "aria-haspopup" and "aria-autocomplete" when fieldTemplate is rendered (T1230971)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#27379 DataGrid - Accessibility issue: Fix the axe error occurs when the load indicator has a role
  apps/demos/testing/common.test.js
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: 24_1

#27407 Turn on packages publishing on weekend days
  .github/workflows/packages_publishing_scheduler.yml
Labels: 24_1

#27346 Add minor corrections for recent transpiling update
  apps/demos/utils/bundle/index.js
  packages/devextreme-angular/tsconfig.json
  packages/devextreme-vue/tsconfig.json
  tsconfig.json
Labels: 24_1

#27396 CI: Add dev mode for all:build script
  package.json
  tools/scripts/build-all.ts
Labels: 24_1

#27386 DataGrid - Accessibility issue: Fix header issue when horizontal virtual scrolling is enabled
  apps/demos/testing/common.test.js
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: 24_1

#27412 ColorView: return the color_view.js file to allow external import of the private component (revert after moving ColorBox to TS)
  packages/devextreme/js/ui/color_box/color_view.js
Labels: 24_1

#27404 GridCore(T1232532): Change access modifier + add private WA comments
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_custom_operations.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Labels: 24_1

#27405 GridCore(T1232532): Change access modifier + add private WA comments
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_custom_operations.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Labels: cherry-pick, 23_2

#27406 GridCore(T1232532): Change access modifier + add private WA comments
  js/__internal/grids/grid_core/filter/m_filter_custom_operations.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Labels: cherry-pick, 23_1

#27374 DateBox, DateView, DateViewRollers, TimeView: move files to TS
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.parts.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar_with_time.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.list.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.native.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_utils.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view_roller.ts
  packages/devextreme/js/__internal/ui/date_box/m_time_view.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
  packages/devextreme/js/ui/date_box.js
  packages/devextreme/js/ui/date_box/ui.date_box.base.js
  packages/devextreme/js/ui/date_box/ui.date_box.js
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
  packages/devextreme/js/ui/date_box/ui.date_box.mask.parts.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.date_view.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.list.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.native.js
  packages/devextreme/js/ui/date_box/ui.date_utils.js
  packages/devextreme/js/ui/date_box/ui.date_view.js
  packages/devextreme/js/ui/date_box/ui.date_view_roller.js
  packages/devextreme/js/ui/date_box/ui.time_view.js
  packages/devextreme/testing/tests/DevExpress.knockout/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 24_1

#27419 Splitter and ContextMenu: update demo descriptions after review
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Splitter/Overview/description.md
Labels: 24_1

#27382 TagBox: Add alt text into Overview demos
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.html
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TagBox/Overview/React/App.tsx
  apps/demos/Demos/TagBox/Overview/React/Item.tsx
  apps/demos/Demos/TagBox/Overview/React/Tag.tsx
  apps/demos/Demos/TagBox/Overview/ReactJs/App.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Item.js
  apps/demos/Demos/TagBox/Overview/ReactJs/Tag.js
  apps/demos/Demos/TagBox/Overview/Vue/Item.vue
  apps/demos/Demos/TagBox/Overview/Vue/Tag.vue
  apps/demos/Demos/TagBox/Overview/jQuery/index.js
  apps/demos/testing/common.test.js
Labels: 24_1

#27415 ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079)
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/selection.ts
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  packages/testcafe-models/button.ts
  packages/testcafe-models/buttonGroup/index.ts
Labels: 24_1

#27344 Publish dxDiagram types, arrange "commands" props types (T1227506)
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/React/App.tsx
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/ReactJs/App.js
  apps/demos/Demos/Diagram/UICustomization/React/App.tsx
  apps/demos/Demos/Diagram/UICustomization/ReactJs/App.js
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27422 ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: cherry-pick, 23_2

#27387 chore: update jest
  apps/demos/jest.config.js
  apps/demos/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/.eslintrc.js
  jest.config.base.js
  package-lock.json
  package.json
  packages/devextreme-monorepo-tools/jest.config.ts
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/__tests__/template.test.tsx
  packages/devextreme-react/tsconfig.json
  packages/devextreme-themebuilder/jest.config.js
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/tests/modules/logger.test.ts
  packages/devextreme-vue/package.json
  packages/devextreme-vue/src/core/__tests__/button.test.ts
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/__tests__/data-grid.test.ts
  packages/devextreme-vue/src/core/__tests__/form.test.ts
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/tsconfig.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/core/utils/date.test.ts
  packages/devextreme/js/renovation/component_wrapper/common/__tests__/component.test.tsx
  packages/devextreme/js/renovation/test_utils/transformers/declaration.js
  packages/devextreme/js/renovation/test_utils/transformers/tsx.js
  packages/devextreme/js/renovation/ui/pager/page_size/__tests__/selector.test.tsx
  packages/devextreme/js/renovation/ui/scroll_view/strategy/__tests__/native.test.tsx
  packages/devextreme/package.json
  packages/devextreme/testing/styles/.eslintrc.js
  packages/devextreme/testing/styles/tsconfig.json
  packages/devextreme/tsconfig.json
  tsconfig.json
Labels: skip-cache

#27423 ButtonGroup: button is displayed as active even if it wasn't clicked (T1222079)
  package-lock.json
  package.json
  testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: cherry-pick, 23_1

#27394 Charts: unskip testcafe tests
  apps/demos/testing/widgets/charts/Crosshair.test.js
  apps/demos/testing/widgets/charts/CustomAnnotationsDrag.test.js
  apps/demos/testing/widgets/charts/CustomLegendMarkers.test.js
  apps/demos/testing/widgets/charts/LoadDataOnDemand.test.js
  apps/demos/testing/widgets/charts/PieLabelsOverlapping.test.js
  apps/demos/testing/widgets/charts/ZoomingOnAreaSelection.test.js
  apps/demos/testing/widgets/charts/etalons/annotations_drag (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/annotations_drag (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_crosshair (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_crosshair (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_custom_legend_marker (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_custom_legend_marker (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_drag (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_drag (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/charts_overview_tooltip (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_hide (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_hide (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_none (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/pie_resolve_labels_overlapping_none (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/reset_zooming_by_selection (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/reset_zooming_by_selection (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/zooming_by_selection (fluent.blue.light).png
  apps/demos/testing/widgets/charts/etalons/zooming_by_selection (material.blue.light).png
Labels: 24_1, force all tests

#27421 Drawer: Fix setting of visibility: hidden
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/scss/widgets/base/_drawer.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 24_1

#27428 Publish dxDiagram types, arrange "commands" props types (T1227506)
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/nested/auto-layout.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/file-manager-context-menu.ts
  packages/devextreme-angular/src/ui/nested/base/html-editor-image-upload-tab-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/context-toolbox.ts
  packages/devextreme-angular/src/ui/nested/custom-shape-dxi.ts
  packages/devextreme-angular/src/ui/nested/default-item-properties.ts
  packages/devextreme-angular/src/ui/nested/group-dxi.ts
  packages/devextreme-angular/src/ui/nested/history-toolbar.ts
  packages/devextreme-angular/src/ui/nested/main-toolbar.ts
  packages/devextreme-angular/src/ui/nested/nodes.ts
  packages/devextreme-angular/src/ui/nested/properties-panel.ts
  packages/devextreme-angular/src/ui/nested/toolbox.ts
  packages/devextreme-angular/src/ui/nested/view-toolbar.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme/js/ui/diagram.d.ts
  packages/devextreme/js/ui/diagram_types.d.ts
  packages/devextreme/ts/aliases.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#27397 DataGrid: Fix focus stuck in grid when first column is fixed and it contains a link (T1216832)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Labels: 24_1

#27434 DateRangeBox: use not consistent type imports
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
Labels: 24_1

#27410 Scheduler(T1220618): fix issue with cells' sizes css classes
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizes.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/cellSizesCss.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: 24_1

#27441 Scheduler(T1220618): fix issue with cells' sizes css classes (#27410)
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizes.ts
  packages/devextreme/testing/testcafe/tests/scheduler/layout/customization/cellSizesCss.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Labels: cherry-pick, 23_2

#27446 Remake getting version implementation to eliminate the warning while build
  packages/devextreme-vue/src/core/version.ts
Labels: cherry-pick, 23_2

#27436 DataGrid: Fix focus stuck in grid when first column is fixed and it contains a link (T1216832)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Labels: cherry-pick, 23_2

#27231 TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-generic.light.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Labels: 24_1

#27411 GridCore(T1194403): remove redundant refocus of the cells editor
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  e2e/testcafe-devextreme/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
Labels: 24_1

#27449 Arrange dxToolbarItem type import in Angular toolbar component
  packages/devextreme-angular/src/ui/toolbar/index.ts
  packages/devextreme/js/ui/toolbar.js
  packages/devextreme/js/ui/toolbar/ui.toolbar.js
Labels: 24_1

#27440 Context Menu / Menu: Additional Changes in data and typo's
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/ContextMenu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/ContextMenu/Scrolling/React/App.tsx
  apps/demos/Demos/ContextMenu/Scrolling/React/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/App.js
  apps/demos/Demos/ContextMenu/Scrolling/ReactJs/data.js
  apps/demos/Demos/ContextMenu/Scrolling/Vue/App.vue
  apps/demos/Demos/ContextMenu/Scrolling/Vue/data.ts
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/data.js
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.html
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.service.ts
  apps/demos/Demos/Menu/Scrolling/React/App.tsx
  apps/demos/Demos/Menu/Scrolling/React/data.ts
  apps/demos/Demos/Menu/Scrolling/ReactJs/App.js
  apps/demos/Demos/Menu/Scrolling/ReactJs/data.js
  apps/demos/Demos/Menu/Scrolling/Vue/App.vue
  apps/demos/Demos/Menu/Scrolling/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
  apps/demos/Demos/Menu/Scrolling/jQuery/index.js
  apps/demos/testing/etalons/ContextMenu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling.png
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (material.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible.png
Labels: 24_1, force all tests

#27350 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910)
  .github/actions/pin-browsers/action.yml
  .github/workflows/devextreme_npm_tests.yml
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/cell-focus-showEditorAlways-T1196539.png
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
  testing/testcafe/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light).png
  testing/testcafe/tests/editors/radioGroup/etalons/RadioGroup in scaled container (material-blue-light-compact).png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-to-right.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=month-crossScrolling=false-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=month-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=month-crossScrolling=false-vertical.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/appointment-desktop-tooltip-screenshot.png
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/actions.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
Labels: cherry-pick, 22_2

#27460 Recover previous Diagram types names in SMD-based integrations after #27344
  package-lock.json
  package.json
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
Labels: 24_1

#27418 DateBox: Rearrange attaching mouseEvents before rendering masks
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: type/bug, 24_1

#27466 CI: Use ubuntu-latest runner in demo tests as a fallback
  .github/workflows/devextreme_npm_tests.yml
Labels: 23_2

#27467 CI: Use ubuntu-latest runner in demo tests as a fallback
  .github/workflows/devextreme_npm_tests.yml
Labels: cherry-pick, 23_1

#27464 DateBox: Rearrange attaching mouseEvents before rendering masks
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 23_1

#27468 DataGrid - skip unstable testcafe tests
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
Labels: 24_1

#27457 SelectBox: Set "role" when fieldTemplate is rendered (T1230635)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#27458 SelectBox: Set "role" when fieldTemplate is rendered (T1230635)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27459 SelectBox: Set "role" when fieldTemplate is rendered (T1230635)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#27420 Splitter: improve collapsed functionality
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27461 TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168)
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-generic.light.png
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/treeList/markup.ts
Labels: type/bug, cherry-pick, 23_2

#27462 TreeList - Expand/collapse buttons are too close to column borders if the first column is a boolean column (T1223168)
  scss/widgets/base/_gridBase.scss
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/treeList/etalons/T1223168-expandable-generic.light.png
  testing/testcafe/tests/treeList/etalons/T1223168-expandable-material.blue.light.png
  testing/testcafe/tests/treeList/markup.ts
Labels: type/bug, cherry-pick, 23_1

#27469 GridCore(T1194403): remove redundant refocus of the cells editor (#27411)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Labels: cherry-pick, 23_2

#27470 GridCore(T1194403): remove redundant refocus of the cells editor (#27411)
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-lookup-change.png
  testing/testcafe/tests/dataGrid/focus/etalons/focus-edit-cell_after-text-editor-change.png
  testing/testcafe/tests/dataGrid/focus/focusShowEditorAlwaysCell.ts
Labels: cherry-pick, 23_1

#27475 SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#27479 SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635)
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27480 SelectBox: Set "aria-labelledby" when fieldTemplate is rendered (T1230635)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_1

#26957 Monorepo - move out typescript e2e package
  .github/workflows/default_workflow.yml
  .github/workflows/lint.yml
  .github/workflows/ts_declarations.yml
  e2e/compilation-cases/.eslintrc.js
  e2e/compilation-cases/consts.ts
  e2e/compilation-cases/core.ts
  e2e/compilation-cases/data/data_source.ts
  e2e/compilation-cases/data/stores.ts
  e2e/compilation-cases/license_validation.ts
  e2e/compilation-cases/package.json
  e2e/compilation-cases/scheduler.ts
  e2e/compilation-cases/tsconfig.json
  package-lock.json
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/package.json
  packages/devextreme/testing/typescript/license_validation.ts
  packages/devextreme/testing/typescript/package-lock.json
  packages/devextreme/testing/typescript/package.json
  packages/devextreme/testing/typescript/tsconfig.json
Labels: 24_1

#27488 LoadIndicator, LoadPanel: move files to TS
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/ui/load_indicator.js
  packages/devextreme/js/ui/load_panel.js
Labels: 24_1

#27491 Update de.json
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization

#27494 Splitter: expanded pane size should not exceed maxSize
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1
