Repository DevExpress/DevExtreme, pull requests merged in 2024-03, with the labels that each got.

#26779 DropDownButton: Set aria-label to dialog
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 24_1

#26760 DropDownEditor: Set aria-label to dialog
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dateBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dateRangeBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Labels: 24_1

#26807 FileUploader: hint with "null" text should not be shown when hint option is not defined (T1218499)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 23_2

#26808 FileUploader: hint with "null" text should not be shown when hint option is not defined (T1218499)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 23_1

#26809 Diagram & FileManager : Rework With Public API
  apps/demos/Demos/Diagram/ItemSelection/Angular/app/app.component.html
  apps/demos/Demos/Diagram/ItemSelection/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/ItemSelection/Vue/App.vue
  apps/demos/Demos/Diagram/ItemSelection/jQuery/index.js
  apps/demos/Demos/Diagram/NodesAndEdgesArrays/Angular/app/app.component.html
  apps/demos/Demos/FileManager/UICustomization/Angular/app/app.component.html
  apps/demos/Demos/FileManager/UICustomization/Angular/app/app.component.ts
  apps/demos/Demos/FileManager/UICustomization/Angular/app/app.service.ts
  apps/demos/Demos/FileManager/UICustomization/Vue/App.vue
  apps/demos/Demos/FileManager/UICustomization/Vue/data.ts
  apps/demos/Demos/FileManager/UICustomization/jQuery/data.js
  apps/demos/Demos/FileManager/UICustomization/jQuery/index.js
Labels: cherry-pick, 24_1

#26810 Migrate TreeList to native classes
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  js/__internal/grids/tree_list/m_columns_controller.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_keyboard_navigation.ts
  js/__internal/grids/tree_list/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
Labels: cherry-pick, 23_1

#26812 DataGrid: Fix accessibility when dataRowTemplate is specified
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/templates.ts
Labels: cherry-pick, 23_2

#26813 Strips Demo : Update Title and Labels (Vue, Angular, React, jQuery)
  apps/demos/Demos/Charts/Strips/Angular/app/app.component.html
  apps/demos/Demos/Charts/Strips/React/App.tsx
  apps/demos/Demos/Charts/Strips/ReactJs/App.js
  apps/demos/Demos/Charts/Strips/Vue/App.vue
  apps/demos/Demos/Charts/Strips/jQuery/index.js
  apps/demos/testing/etalons/Charts-Strips.png
Labels: cherry-pick, 24_1

#26770 Fix demos launcher
  apps/demos/index.html
  build/install-wrappers.ts
  package.json
Labels: 24_1

#26764 Implement react storybook app
  apps/react-storybook/.gitignore
  apps/react-storybook/.storybook/main.ts
  apps/react-storybook/.storybook/preview.tsx
  apps/react-storybook/.storybook/themes/styles.css
  apps/react-storybook/.storybook/themes/themes.tsx
  apps/react-storybook/package.json
  apps/react-storybook/project.json
  apps/react-storybook/stories/assets/images/products/1-small.png
  apps/react-storybook/stories/assets/images/products/2-small.png
  apps/react-storybook/stories/assets/images/products/3-small.png
  apps/react-storybook/stories/assets/images/products/4-small.png
  apps/react-storybook/stories/assets/images/products/5-small.png
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  apps/react-storybook/stories/examples/datagrid/DiscountCell.tsx
  apps/react-storybook/stories/examples/piechart/PieChart.stories.tsx
  apps/react-storybook/stories/examples/piechart/data.ts
  apps/react-storybook/stories/examples/selectbox/Field.tsx
  apps/react-storybook/stories/examples/selectbox/Item.tsx
  apps/react-storybook/stories/examples/selectbox/SelectBox.stories.tsx
  apps/react-storybook/stories/examples/selectbox/data.ts
  apps/react-storybook/stories/examples/selectbox/styles.css
  apps/react-storybook/tsconfig.json
  package-lock.json
  package.json
Labels: 24_1

#26765 DataGrid - ColumnChooser - Height and width types do not include String (T1214374)
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/headerFilter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/markup.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: type/bug, 24_1

#26805 GridCore: Migrating validating module's extenders to native classes
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 23_2

#26825 DataGrid - ColumnChooser - Height and width types do not include String (T1214374)
  js/common/grids.d.ts
  testing/testcafe/model/dataGrid/headers/headerFilter.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/columnChooser.ts
  testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  testing/testcafe/tests/dataGrid/markup/markup.ts
  ts/dx.all.d.ts
Labels: cherry-pick, 23_1

#26821 DataGrid - ColumnChooser - Height and width types do not include String (T1214374)
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter.ts
  packages/devextreme-angular/src/ui/nested/column-chooser.ts
  packages/devextreme-angular/src/ui/nested/load-panel.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/headerFilter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/markup.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#26820 Bump devextreme-internal-tools
  package-lock.json
  package.json
Labels: 24_1

#26822 DataGrid: update Overview demo description
  apps/demos/Demos/DataGrid/Overview/Angular/description.md
  apps/demos/Demos/DataGrid/Overview/React/description.md
  apps/demos/Demos/DataGrid/Overview/ReactJs/description.md
  apps/demos/Demos/DataGrid/Overview/Vue/description.md
  apps/demos/Demos/DataGrid/Overview/jQuery/description.md
Labels: 24_1

#26824 GridCore: Migrating validating module's extenders to native classes
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 23_1

#26819 Failed etalons updating script - Use Node API instead manual path parsing
  packages/devextreme/testing/testcafe/update_failed_etalons.mjs
Labels: 24_1

#26794 Splitter: add handle and expand icons markup
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
Labels: 24_1

#26781 HtmlEditor - Skip tests for pasting from MS Word
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/paste.tests.js
Labels: 24_1

#26800 Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Labels: 24_1

#26838 Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553)
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/helpers/keyboardMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Labels: cherry-pick, 23_2

#26818 GridCore: adaptivity access modifiers
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 24_1

#26839 Numberbox: pressing the "." key on the numpad should clear the selected text regardless of the char produced (T1199553)
  js/ui/number_box/number_box.mask.js
  testing/helpers/keyboardMock.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.localization.tests.js
Labels: cherry-pick, 23_1

#26833 DataGrid - native classes - cherry-picks
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
  js/__internal/grids/data_grid/m_aggregate_calculator.ts
  js/__internal/grids/data_grid/m_data_controller.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
  js/__internal/grids/grid_core/m_modules.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/pager/m_pager.ts
  js/__internal/grids/grid_core/search/m_search.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/ui/filter_builder/filter_builder.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grid_core.modules.tests.js
Labels: cherry-pick, 23_1

#26829 DataGrid - native classes - cherry-picks
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
  packages/devextreme/js/__internal/grids/data_grid/m_aggregate_calculator.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/shared/ui.editor_factory_mixin.js
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/grid_core.modules.tests.js
Labels: cherry-pick, 23_2

#26834 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910)
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Labels: cherry-pick, 23_2

#26835 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910)
  js/__internal/grids/grid_core/validating/m_validating.ts
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Labels: cherry-pick, 23_1

#26842 GridCore: adaptivity access modifiers
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/m_modules.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: cherry-pick, 23_2

#26841 Exporter - add csp tests to CI
  .github/workflows/qunit_tests-additional-renovation.yml
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
Labels: 24_1

#26843 GridCore: adaptivity access modifiers
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/m_data_controller.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/m_modules.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  js/__internal/grids/grid_core/pager/m_pager.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/search/m_search.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
  js/__internal/grids/tree_list/m_columns_controller.ts
  js/__internal/grids/tree_list/m_focus.ts
  js/__internal/grids/tree_list/m_keyboard_navigation.ts
  js/__internal/grids/tree_list/m_master_detail.ts
  js/__internal/grids/tree_list/m_state_storing.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Labels: cherry-pick, 23_1

#26828 Adjusted German translations for HtmlEditor
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization, 24_1

#26844 CI - fix exporter csp job name
  .github/workflows/qunit_tests-additional-renovation.yml
Labels: 24_1

#26832 DataGrid - Changing dataField for a banded column with the columnOption method does not work as expected (T1210340)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: type/bug, 24_1

#26846 DataGrid - Changing dataField for a banded column with the columnOption method does not work as expected (T1210340)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: cherry-pick, 23_2

#26847 DataGrid - Changing dataField for a banded column with the columnOption method does not work as expected (T1210340)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: cherry-pick, 23_1

#26772 HtmlEditor - Support CSP for inline styles
  packages/devextreme/js/ui/html_editor/matchers/wordLists.js
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converters.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/paste.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
Labels: 24_1

#26831 HtmlEditor - Repair tests in ShadowDom
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/multilineIntegration.tests.js
Labels: 24_1

#26849 HtmlEditor - Update test matrix
  .github/workflows/qunit_tests-additional-renovation.yml
Labels: 24_1

#26769 ASP.NET: Pass additional fields values from DataGrid / TreeList edit form to remote attr endpoint
  packages/devextreme/js/aspnet.js
  packages/devextreme/testing/tests/DevExpress.aspnet/aspnet.tests.js
Labels: 24_1

#26855 Scheduler: fix timezone tests
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Labels: 24_1

#26860 Scheduler: fix timezone tests (#26855)
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Labels: cherry-pick, 23_2

#26851 Scheduler - fix CSP in demo
  apps/demos/Demos/Scheduler/ContextMenuIntegration/jQuery/index.js
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init.png
Labels: 24_1

#26861 T1221410
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Labels: 24_1

#26862 Demos: skip blinking scenarios in multi theme testing
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1

#26863 T1221410
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Labels: cherry-pick, 23_2

#26864 T1221410
  js/ui/filter_builder/filter_builder.js
Labels: cherry-pick, 23_1

#26869 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#26837 Sparkline: Fixing inability to change lossColor property after runtime change (T1218338)
  packages/devextreme/js/viz/sparklines/sparkline.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Labels: 24_1

#26852 Splitter: add control element icons to DevExtreme project
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/fluent/handlehorizontal.svg
  packages/devextreme/images/icons/fluent/handlevertical.svg
  packages/devextreme/images/icons/fluent/triangledown.svg
  packages/devextreme/images/icons/fluent/triangleleft.svg
  packages/devextreme/images/icons/fluent/triangleright.svg
  packages/devextreme/images/icons/fluent/triangleup.svg
  packages/devextreme/images/icons/generic/handlehorizontal.svg
  packages/devextreme/images/icons/generic/handlevertical.svg
  packages/devextreme/images/icons/generic/optionsgear.svg
  packages/devextreme/images/icons/generic/send.svg
  packages/devextreme/images/icons/generic/triangledown.svg
  packages/devextreme/images/icons/generic/triangleleft.svg
  packages/devextreme/images/icons/generic/triangleright.svg
  packages/devextreme/images/icons/generic/triangleup.svg
  packages/devextreme/images/icons/material/handlehorizontal.svg
  packages/devextreme/images/icons/material/handlevertical.svg
  packages/devextreme/images/icons/material/triangledown.svg
  packages/devextreme/images/icons/material/triangleleft.svg
  packages/devextreme/images/icons/material/triangleright.svg
  packages/devextreme/images/icons/material/triangleup.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Labels: 24_1

#26881 Demos: Fix missing code tabs in ASP.NET MVC/Core demos
  apps/demos/menuMeta.json
Labels: 24_1

#26870 Splitter: add onItemCollapsed/onItemExpanded and fix resize events arguments
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/event.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26840 Splitter: declare Item.collapsedSize, Splitter.seperatorSize and remove Splitter.resizeMode options
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26878 Splitter: create unit and testcafe testing to test new added icons
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/splitter/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='horizontal' (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Nested Splitter appearance, orientation='vertical' (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='horizontal' (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter appearance, orientation='vertical' (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
Labels: 24_1

#26880 DataGrid - Disabled toolbar buttons are not grayed out in Material themes (T1217416)
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-fluent.blue.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-generic.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-generic.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-material.blue.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/headerPanel.ts
Labels: type/bug, 24_1

#26887 DateBox Formatting Demo: Add type property to LDML DateBox
  apps/demos/Demos/DateBox/Formatting/Angular/app/app.component.html
  apps/demos/Demos/DateBox/Formatting/React/App.tsx
  apps/demos/Demos/DateBox/Formatting/ReactJs/App.js
  apps/demos/Demos/DateBox/Formatting/Vue/App.vue
  apps/demos/Demos/DateBox/Formatting/jQuery/index.js
  apps/demos/testing/etalons/DateBox-Formatting.png
Labels: 24_1

#26743 T1205597: Scheduler - Timetable becomes empty when scrolling to the far right in virtual scrolling mode
  packages/devextreme/js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/utils.ts
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: 24_1

#26893 Slider: Show Tooltip Text in Material Dark Theme (T1220836)
  packages/devextreme/scss/widgets/material/slider/_colors.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Labels: cherry-pick, 23_2

#26886 DataGrid - Disabled toolbar buttons are not grayed out in Material themes (T1217416)
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-fluent.blue.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-fluent.blue.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-generic.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-generic.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-material.blue.dark.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/disabled-toolbar-buttons-material.blue.light.png
  packages/devextreme/testing/testcafe/tests/dataGrid/headerPanel.ts
Labels: type/bug, cherry-pick, 23_2

#26877 Slider: Show Tooltip Text in Material Dark Theme (T1220836)
  packages/devextreme/scss/widgets/material/slider/_colors.scss
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/etalons/slider-appearance (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Labels: 24_1

#26894 T1205597: Scheduler - Timetable becomes empty when scrolling to the far right in virtual scrolling mode (#26743)
  packages/devextreme/js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/utils.ts
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: cherry-pick, 23_2

#26895 T1205597: Scheduler - Timetable becomes empty when scrolling to the far right in virtual scrolling mode (#26743)
  js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
  js/renovation/ui/scheduler/workspaces/base/row.tsx
  js/renovation/ui/scheduler/workspaces/base/utils.ts
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-horizontal-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-horizontal-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-horizontal-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: cherry-pick, 23_1

#26428 Set up playgrounds
  .github/workflows/playgrounds_tests.yml
  apps/README.md
  apps/angular/angular.json
  apps/angular/karma.conf.js
  apps/angular/package.json
  apps/angular/src/app/app.component.spec.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/appointment.service.ts
  apps/angular/src/test.ts
  apps/angular/tsconfig.spec.json
  apps/react/App.tsx
  apps/react/app.tsx
  apps/react/examples/Examples.tsx
  apps/react/examples/NavigationList.tsx
  apps/react/examples/accordion-example.tsx
  apps/react/examples/box-example.tsx
  apps/react/examples/chart-example.tsx
  apps/react/examples/data-grid-example.tsx
  apps/react/examples/data.ts
  apps/react/examples/date-box-example.tsx
  apps/react/examples/drawer-data.tsx
  apps/react/examples/drawer-example.tsx
  apps/react/examples/editor-component.tsx
  apps/react/examples/editor-data.tsx
  apps/react/examples/editor-example.tsx
  apps/react/examples/example-block.tsx
  apps/react/examples/form-example.tsx
  apps/react/examples/helpers.tsx
  apps/react/examples/list-example.tsx
  apps/react/examples/map-example.tsx
  apps/react/examples/popup-example.tsx
  apps/react/examples/rerendered-chart-example.tsx
  apps/react/examples/scheduler-example.tsx
  apps/react/examples/scroll-view-example.tsx
  apps/react/examples/selectbox-example.tsx
  apps/react/examples/slide-out-view-example.tsx
  apps/react/examples/standalone-validator.tsx
  apps/react/examples/text-box-example.tsx
  apps/react/examples/toolbar-example.tsx
  apps/react/examples/validation-example.tsx
  apps/react/index.tsx
  apps/react/package.json
  apps/react/runner.js
  apps/react/test.js
  apps/react/tsconfig.json
  apps/react/webpack.config.js
  apps/vue/App.vue
  apps/vue/app.vue
  apps/vue/components/examples.vue
  apps/vue/main.ts
  apps/vue/package.json
  apps/vue/public/index.html
  apps/vue/runner.js
  apps/vue/test.js
  apps/vue/webpack.config.js
  package-lock.json
  tsconfig.json
Labels: 24_1

#26891 ContextMenu Share: Create TestCafe test for ContextMenu Share
  apps/demos/testing/widgets/contextmenu/ContextMenuShare.test.js
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_share_visible.png
Labels: 24_1

#26889 DropDownButton: Create TestCafe test for DropDownButton Overview
  apps/demos/testing/widgets/dropdownbutton/DropDownButton.test.js
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action.png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text.png
Labels: 24_1

#26892 DataGrid - Repair test in ShadowDom
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: 24_1

#26890 Lookup: Create TestCafe test for Lookup Basics
  apps/demos/testing/widgets/lookup/Lookup.test.js
  apps/demos/testing/widgets/lookup/etalons/lookup_templates_custom_appearance.png
Labels: 24_1

#26901 Slider: get rid of excess string literal in testcafe test
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Labels: 24_1

#26898 Slider: get rid of excess string literal in testcafe test and move css variables to colors
  packages/devextreme/scss/widgets/material/slider/_colors.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/slider/slider.ts
Labels: cherry-pick, 23_2

#26904 DataGrid: Fix 'Header Panel - Disabled toolbar buttons are not grayed out in Material themes (T1217416) in material.blue.dark' test
  packages/devextreme/testing/testcafe/tests/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/containerQuill.html
  packages/devextreme/testing/testcafe/tests/form/etalons/Form color of the mark (generic-contrast).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Form color of the mark (generic-dark).png
Labels: 24_1

#26902 Splitter: add pane resizable option
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26885 TextArea: Bug Fix content exceed border when autoresize is true and max height is set (T1221869)
  packages/devextreme/js/ui/text_area.js
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  packages/devextreme/scss/widgets/material/textArea/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/index.ts
Labels: 24_1

#26899 🛠️ Refactoring | TreeList native classes refactoring
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: refactoring, 24_1

#26905 Accessibility: Reduce the time it takes to complete accessibility tests
  .github/workflows/testcafe_tests.yml
Labels: 24_1

#26912 TextArea: Bug Fix content exceed border when autoresize is true and max height is set (T1221869)
  packages/devextreme/js/ui/text_area.js
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  packages/devextreme/scss/widgets/material/textArea/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textArea/index.ts
Labels: cherry-pick, 23_2

#26913 TextArea: Bug Fix content exceed border when autoresize is true and max height is set (T1221869)
  js/ui/text_area.js
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  scss/widgets/material/textArea/_sizes.scss
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight is not defined (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (fluent-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (generic-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=80px (material-blue-light).png
  testing/testcafe/tests/editors/textArea/index.ts
Labels: cherry-pick, 23_1

#26409 Refactor monorepo tools structure
  .github/workflows/packages_publishing.yml
  .github/workflows/renovation.yml
  build/jest.config.js
  package-lock.json
  package.json
  packages/devextreme-monorepo-tools/README.md
  packages/devextreme-monorepo-tools/jest.config.ts
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-monorepo-tools/project.json
  packages/devextreme-monorepo-tools/src/fs-utils.ts
  packages/devextreme-monorepo-tools/src/index.ts
  packages/devextreme-monorepo-tools/src/npm-utils.ts
  packages/devextreme-monorepo-tools/src/shell-utils.test.ts
  packages/devextreme-monorepo-tools/src/shell-utils.ts
  packages/devextreme-monorepo-tools/src/version-utils.test.ts
  packages/devextreme-monorepo-tools/src/version-utils.ts
  packages/devextreme-monorepo-tools/tsconfig.build.json
  packages/devextreme-monorepo-tools/tsconfig.json
  packages/devextreme-monorepo-tools/tsconfig.test.json
  tools/scripts/build-all.ts
  tools/scripts/change-package-scope.ts
  tools/scripts/common/index.ts
  tools/scripts/common/monorepo-tools.ts
  tools/scripts/common/nx.ts
  tools/scripts/common/paths.ts
  tools/scripts/common/version.ts
  tools/scripts/make-artifacts-package.ts
  tools/scripts/overwrite-wrappers-packages.ts
  tools/scripts/pack.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/tsconfig.json
  tools/scripts/update-version.ts
  tsconfig.json
Labels: 24_1

#26914 🛠️ Refactoring | DataGrid native classes refactoring
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
  packages/devextreme/js/__internal/grids/data_grid/m_aggregate_calculator.ts
  packages/devextreme/js/__internal/grids/data_grid/m_editing.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Labels: cherry-pick, 23_2

#26850 React Storybook: add story for Splitter component
  apps/react-storybook/.storybook/main.ts
  apps/react-storybook/package.json
  apps/react-storybook/stories/splitter/Splitter.stories.tsx
  apps/react-storybook/stories/splitter/samples/DataGrid.tsx
  apps/react-storybook/stories/splitter/samples/PieChart.tsx
  apps/react-storybook/stories/splitter/samples/Scheduler.tsx
  apps/react-storybook/stories/splitter/samples/data.ts
  package-lock.json
Labels: WIP, 24_1

#26915 🛠️ Refactoring | TreeList native classes refactoring
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/rows/m_rows.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 23_2

#26917 🛠️ Refactoring | DataGrid native classes refactoring
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/focus/m_focus.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
  js/__internal/grids/data_grid/m_aggregate_calculator.ts
  js/__internal/grids/data_grid/m_editing.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/m_types.ts
Labels: cherry-pick, 23_1

#26918 🛠️ Refactoring | TreeList native classes refactoring
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
  js/__internal/grids/tree_list/m_columns_controller.ts
  js/__internal/grids/tree_list/m_focus.ts
  js/__internal/grids/tree_list/m_grid_view.ts
  js/__internal/grids/tree_list/m_validating.ts
  js/__internal/grids/tree_list/m_virtual_scrolling.ts
  js/__internal/grids/tree_list/rows/m_rows.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Labels: cherry-pick, 23_1

#26922 Splitter: add separatorSize option
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26919 PolarChart: Properly update property stackName when updating options in polarChart[stackbar] (T1215023)
  packages/devextreme/js/viz/series/stacked_series.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/polarChart.tests.js
Labels: 24_1

#26873 T1137490: Scheduler - Resource cells have an incorrect height when there are a lot of resources
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: 24_1

#26925 PolarChart: Properly update property stackName when updating option in polarChart[stackbar] (T1215023)
  packages/devextreme/js/viz/series/stacked_series.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/polarChart.tests.js
Labels: cherry-pick, 23_2

#26879 Implement launch of testcafe tests in shadowDOM
  packages/devextreme/testing/testcafe/helpers/clearPage.js
  packages/devextreme/testing/testcafe/helpers/createWidget.ts
  packages/devextreme/testing/testcafe/helpers/getPageUrl.ts
  packages/devextreme/testing/testcafe/helpers/shadowDom/shadowDomExtension.js
  packages/devextreme/testing/testcafe/helpers/shadowDom/skipInShadowDomMode.ts
  packages/devextreme/testing/testcafe/runner.js
  packages/devextreme/testing/testcafe/tests/container.html
  packages/devextreme/testing/testcafe/tests/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/containerQuill.html
  packages/devextreme/testing/testcafe/tests/dataGrid/security/xss.ts
  packages/devextreme/testing/testcafe/tests/shadowDom/container.html
  packages/devextreme/testing/testcafe/tests/shadowDom/containerAspNet.html
  packages/devextreme/testing/testcafe/tests/shadowDom/containerQuill.html
Labels: 24_1

#26929 TextArea: fix changes resulting from an incorrect cherry-pick
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  scss/widgets/material/textArea/_index.scss
Labels: 23_1

#26927 T1137490: Scheduler - Resource cells have an incorrect height when there are a lot of resources (#26873)
  packages/devextreme/scss/widgets/base/scheduler/views/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-end.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-middle.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-start.png
  packages/devextreme/testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: cherry-pick, 23_2

#26928 T1137490: Scheduler - Resource cells have an incorrect height when there are a lot of resources (#26873)
  scss/widgets/base/scheduler/views/_index.scss
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-month-vertical-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-week-vertical-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-end.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-middle.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-many-cells-workWeek-vertical-start.png
  testing/testcafe/tests/scheduler/virtualScrolling/many-cells.ts
Labels: cherry-pick, 23_1

#26931 Fix publishing to GHP
  .github/workflows/packages_publishing.yml
Labels: 24_1

#26932 TextArea: reset unnecessary files from an incorrect cherry-pick (T1221869) (#26913)
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=5em & maxHeight=7em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, height=7em & maxHeight=5em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_diff.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_etalon.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea appearance, maxHeight=5em, font-size=12px (material-blue-light)_mask.png
  testing/testcafe/tests/editors/textArea/etalons/TextArea label after scroll (material-blue-light).png
  testing/testcafe/tests/editors/textArea/etalons/TextArea label after scroll (material-blue-light)_mask.png
Labels: 23_1

#26934 Splitter: add pane collapsible option
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/splitter/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/integration.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26876 List: Add aria-label for allowItemDeleting: true and get rid of aria from nested buttons
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.static.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.switchable.button.js
  packages/devextreme/testing/testcafe/tests/accessibility/list.ts
  packages/devextreme/testing/testcafe/tests/editors/list/focus.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_1

#26897 DropDownEditor: Set correct aria-autocomplete
  packages/devextreme/js/__internal/ui/m_autocomplete.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#26945 Splitter: support collapsed panes on init
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26868 DateBox: Fixing alphanumeric key behavior for setting time to "AM" and "PM" (T1217203)
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 24_1

#26942 DateBox: Fixing alphanumeric key behavior for setting time to "AM" and "PM" (T1217203)
  packages/devextreme/js/ui/date_box/ui.date_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 23_2

#26943 DateBox: Fixing alphanumeric key behavior for setting time to "AM" and "PM" (T1217203)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 23_1

#26948 Update NX token
  nx.json
Labels: cherry-pick, 23_2

#26947 Update NX token
  nx.json
Labels: 24_1

#26920 Command icons target size 24x24 (Generic Theme)
  packages/devextreme/scss/widgets/generic/gridBase/_sizes.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-button-focused.png
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/etalons/data-grid_keyboard-navigation-custom-buttons-cell-focused.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-button-focused.png
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/etalons/tree-list_keyboard-navigation-custom-buttons-cell-focused.png
Labels: 24_1, force all tests

#26950 chore: update follow-redirects to 1.15.6
  package-lock.json
Labels: 23_2

#26956 Change time to finish publishing before inhouse tasks start
  .github/workflows/packages_publishing_scheduler.yml
Labels: 24_1

#26921 FileUploader: Fix Custom Drop Zone Multiple Files and Incorrect File Extension Handling
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.html
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.ts
  apps/demos/Demos/FileUploader/CustomDropzone/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/ReactJs/App.js
  apps/demos/Demos/FileUploader/CustomDropzone/Vue/App.vue
  apps/demos/Demos/FileUploader/CustomDropzone/jQuery/index.js
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (fluent.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (material.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file.png
Labels: 24_1

#26955 Testcafe - remove old code for multiplatform tests
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/createWidget.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/index.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/multi-platform-test.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/platform-type.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/helpers/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/model/internal/widget.ts
  packages/devextreme/testing/testcafe/model/scrollView/internal/scrollable.ts
  packages/devextreme/testing/testcafe/model/scrollView/scrollView.ts
Labels: 24_1

#26940 ShadowDOM: Fix injecting styles for some components
  packages/devextreme/js/core/dom_component.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/pager.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.width.tests.js
Labels: 24_1

#26960 Splitter: support keyboard navigation
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/event.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26952 React - File Uploader component ref fix (T1183211)
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/widget-config.ts
Labels: cherry-pick, 23_2

#26951 React - File Uploader component ref fix (T1183211)
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/widget-config.ts
Labels: 24_1

#26937 Scheduler: Migrate the dxrDateHeader R1 component
  packages/devextreme/js/__internal/core/component_wrappers/component_wrapper.ts
  packages/devextreme/js/__internal/core/component_wrappers/index.ts
  packages/devextreme/js/__internal/core/component_wrappers/template_wrapper.ts
  packages/devextreme/js/__internal/core/component_wrappers/types.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/get_template.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/index.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/shallow_equals.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/update_props_immutable.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header_text.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/header_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/header_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/ordinary_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/virtual_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/types.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/__tests__/render.test.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/base.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/render.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/themes.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-row.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/table.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/utils.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/virtual_cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/virtual_row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/utils.ts
Labels: 24_1

#26969 Splitter - add collapse/expand functionality
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26968 Splitter: support inactive resize handle mode
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/testcafe/tests/navigation/splitter/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in hover state (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in hover state (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in hover state (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in hover state (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in hover state (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (generic-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (material-blue-dark).png
  packages/devextreme/testing/testcafe/tests/navigation/splitter/etalons/Splitter apearance - handle in inactive state (material-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26966 Scheduler: Migrate the dxrDateHeader R1 component (#26937)
  packages/devextreme/js/__internal/core/component_wrappers/component_wrapper.ts
  packages/devextreme/js/__internal/core/component_wrappers/index.ts
  packages/devextreme/js/__internal/core/component_wrappers/template_wrapper.ts
  packages/devextreme/js/__internal/core/component_wrappers/types.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/get_template.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/index.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/shallow_equals.ts
  packages/devextreme/js/__internal/core/component_wrappers/utils/update_props_immutable.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header_text.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_horizontal_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/group_panel_vertical_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/header_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/header_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/ordinary_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/virtual_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/types.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/header_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/__tests__/render.test.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/base.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/render.ts
  packages/devextreme/js/__internal/scheduler/__migration/utils/themes.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/virtual-row.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/cell.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/table.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/utils.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/virtual_cell.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/virtual_row.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/timeline/header_panel/date_header/__tests__/layout.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/utils.ts
Labels: cherry-pick, 23_2

#26970 Splitter: non resizable panes shouldn't change their sizes during resize
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26974 Splitter: collapsed item size should have priority to have zero size
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26853 Include UI and VIZ constellations to ShadowDom testing
  .github/workflows/qunit_tests-additional-renovation.yml
  packages/devextreme/testing/tests/DevExpress.ui.events/drag.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseAndTouchTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/dialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/hideToasts.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/widget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/polarChart.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.funnel/commonParts/common.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/commonParts/common.js
  packages/devextreme/testing/tests/DevExpress.viz.sparklines/bullet.tests.js
Labels: WIP

#26978 CI: use NX token from repo secret
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/paths.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
  .gitignore
Labels: cherry-pick, 23_2

#26973 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#26980 Demos - Vue - Grid - Cascading Lookup fix
  apps/demos/Demos/DataGrid/CascadingLookups/Vue/App.vue
Labels: 24_1

#26976 Fix performance problem in data arrayQuery (#26911)
  packages/devextreme/js/data/array_query.js
  packages/devextreme/js/data/utils.js
  packages/devextreme/testing/tests/DevExpress.data/queryArray.tests.js
  packages/devextreme/testing/tests/DevExpress.data/utils.tests.js
Labels: cherry-pick, 23_2

#26983 Form: change group icon after designer review
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.ts
  apps/demos/Demos/Form/GroupedFields/React/App.tsx
  apps/demos/Demos/Form/GroupedFields/React/GroupCaption.tsx
  apps/demos/Demos/Form/GroupedFields/ReactJs/App.js
  apps/demos/Demos/Form/GroupedFields/ReactJs/GroupCaption.js
  apps/demos/Demos/Form/GroupedFields/Vue/App.vue
  apps/demos/Demos/Form/GroupedFields/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Form-GroupedFields (material.blue.light).png
  apps/demos/testing/etalons/Form-GroupedFields.png
Labels: 24_1

#26985 Delete ui.slide_out_view.animation.js
  packages/devextreme/js/ui/slide_out_view/ui.slide_out_view.animation.js
Labels: 24_1

#26954 Viz components - Fix CSP issues in export
  packages/devextreme/js/core/utils/svg.js
  packages/devextreme/js/exporter/image_creator.js
  packages/devextreme/js/viz/core/export.js
  packages/devextreme/js/viz/export.d.ts
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: WIP, 24_1

#26988 fix: "native click fix" for mobile devices excessively triggerred for shadow DOM elements (T1218285)
  packages/devextreme/js/events/click.js
  packages/devextreme/testing/tests/DevExpress.ui.events/click.tests.js
Labels: 24_1

#26989 fix: "native click fix" for mobile devices excessively triggerred for shadow DOM elements (T1218285)
  js/events/click.js
  testing/tests/DevExpress.ui.events/click.tests.js
Labels: 23_1

#26982 TestCafe: skip flaky tests for testing in Material & Fluent
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/Diagram-AdvancedDataBinding (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-Containers (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-CustomShapesWithIcons (material.blue.light).png
  apps/demos/testing/etalons/Diagram-CustomShapesWithIcons (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-CustomShapesWithTemplatesWithEditing (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-ImagesInShapes (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-NodesAndEdgesArrays (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-NodesArrayHierarchicalStructure (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-NodesArrayPlainStructure (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-OperationRestrictions (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-Overview (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-UICustomization (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-WebAPIService (material.blue.light)_mask.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop_mask.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop_mask.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_update_row_1_desktop_mask.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_1, force all tests

#26991 Renovate - remove sinon from auto update exceptions
  .github/renovate.json
Labels: 24_1

#26816 ContextMenu: Close menu when element lose focus
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 24_1

#26823 Menu: Close menu when element lose focus
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#26959 Drawer: Add visibility: hidden when drawer panel is fully closed
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/scss/widgets/base/_drawer.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Labels: 24_1

#26961 Scheduler - A memory leak occurs when groups and resources are used (T1221180)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: type/bug, 24_1

#26958 DropDownButton Demo: Set Button Template for DropDownButton
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.css
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.html
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.ts
  apps/demos/Demos/DropDownButton/Overview/React/App.tsx
  apps/demos/Demos/DropDownButton/Overview/React/DropDownButtonTemplate.tsx
  apps/demos/Demos/DropDownButton/Overview/React/styles.css
  apps/demos/Demos/DropDownButton/Overview/ReactJs/App.js
  apps/demos/Demos/DropDownButton/Overview/ReactJs/DropDownButtonTemplate.js
  apps/demos/Demos/DropDownButton/Overview/ReactJs/styles.css
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
  apps/demos/Demos/DropDownButton/Overview/Vue/data.ts
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.html
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
  apps/demos/Demos/DropDownButton/Overview/jQuery/styles.css
  apps/demos/images/employees/51.png
  apps/demos/testing/etalons/DropDownButton-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DropDownButton-Overview (material.blue.light).png
  apps/demos/testing/etalons/DropDownButton-Overview.png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_button_action.png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text (material.blue.light).png
  apps/demos/testing/widgets/dropdownbutton/etalons/dropdown_button_overview_custom_static_text.png
Labels: 24_1

#26995 Calendar: Add current date text to current date cell's aria-label
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.views.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Labels: 24_1

#26999 Splitter: actions should be created with validators for disabled and read-only states
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
Labels: 24_1

#26998 Splitter: add collapse/expand on resize handle double click
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26993 Accordion: Create TestCafe test for Accordion Overview
  apps/demos/testing/widgets/accordion/Accordion.test.js
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_disabled_collapsible (fluent.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_disabled_collapsible (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_disabled_collapsible.png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_enabled_multiple_and_collapsible (fluent.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_enabled_multiple_and_collapsible (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_enabled_multiple_and_collapsible.png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_electronics (fluent.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_electronics (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_electronics.png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_ksmusic_and_tomsclub (fluent.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_ksmusic_and_tomsclub (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_expanded_ksmusic_and_tomsclub.png
Labels: 24_1

#27021 Scheduler - A memory leak occurs when groups and resources are used (T1221180)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: cherry-pick, 23_2

#27022 Scheduler - A memory leak occurs when groups and resources are used (T1221180)
  js/__internal/scheduler/workspaces/m_work_space.ts
Labels: cherry-pick, 23_1

#27017 Form: update GroupedFields demo description
  apps/demos/Demos/Form/GroupedFields/description.md
Labels: 24_1

#26986 TreeList: Fix accessibility issue (2.5.8 Target Size (Minimum) (AA)) for selection checkboxes and 'Select All' checkbox
  apps/demos/testing/etalons/Gantt-ChartAppearance.png
  apps/demos/testing/etalons/Gantt-ContextMenu.png
  apps/demos/testing/etalons/Gantt-DataBinding.png
  apps/demos/testing/etalons/Gantt-ExportToPDF.png
  apps/demos/testing/etalons/Gantt-FilterRow.png
  apps/demos/testing/etalons/Gantt-HeaderFilter.png
  apps/demos/testing/etalons/Gantt-Overview.png
  apps/demos/testing/etalons/Gantt-Sorting.png
  apps/demos/testing/etalons/Gantt-StripLines.png
  apps/demos/testing/etalons/Gantt-TaskTemplate.png
  apps/demos/testing/etalons/Gantt-Toolbar.png
  apps/demos/testing/etalons/Gantt-Validation.png
  apps/demos/testing/etalons/TreeList-Adaptability.png
  apps/demos/testing/etalons/TreeList-BatchEditing.png
  apps/demos/testing/etalons/TreeList-CellEditing.png
  apps/demos/testing/etalons/TreeList-ColumnChooser.png
  apps/demos/testing/etalons/TreeList-ColumnFixing.png
  apps/demos/testing/etalons/TreeList-ColumnHeaderFilter.png
  apps/demos/testing/etalons/TreeList-CustomizeKeyboardNavigation.png
  apps/demos/testing/etalons/TreeList-FilterPanel.png
  apps/demos/testing/etalons/TreeList-FocusedRow.png
  apps/demos/testing/etalons/TreeList-FormEditing.png
  apps/demos/testing/etalons/TreeList-KeyboardNavigation.png
  apps/demos/testing/etalons/TreeList-LoadDataOnDemand.png
  apps/demos/testing/etalons/TreeList-LocalReordering.png
  apps/demos/testing/etalons/TreeList-MultipleRowSelection.png
  apps/demos/testing/etalons/TreeList-MultipleSorting.png
  apps/demos/testing/etalons/TreeList-Overview.png
  apps/demos/testing/etalons/TreeList-Paging.png
  apps/demos/testing/etalons/TreeList-PopupEditing.png
  apps/demos/testing/etalons/TreeList-Reordering.png
  apps/demos/testing/etalons/TreeList-Resizing.png
  apps/demos/testing/etalons/TreeList-RowEditing.png
  apps/demos/testing/etalons/TreeList-SimpleArrayHierarchicalStructure.png
  apps/demos/testing/etalons/TreeList-SimpleArrayPlainStructure.png
  apps/demos/testing/etalons/TreeList-SingleRowSelection.png
  apps/demos/testing/etalons/TreeList-StatePersistence.png
  apps/demos/testing/etalons/TreeList-UsingFilterRow.png
  apps/demos/testing/etalons/TreeList-UsingSearchPanel.png
  apps/demos/testing/etalons/TreeList-WebAPIService.png
  packages/devextreme/scss/widgets/generic/treeList/_index.scss
  packages/devextreme/scss/widgets/generic/treeList/_sizes.scss
  packages/devextreme/testing/testcafe/tests/treeList/etalons/T1109666-selection.png
Labels: skip-cache, 24_1

#27000 Splitter: fix inaccuracies in declarations after review of documentation
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27020 DropDownButton overview demo: add 'updated' badge
  apps/demos/menuMeta.json
Labels: 24_1

#26996 Scheduler - fix types for dragging events
  apps/demos/Demos/Scheduler/CustomDragAndDrop/Angular/app/app.component.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27006 Grids: add aria-live a11y zones
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Labels: 24_1

#27031 Splitter: pane should have an exact size if the size is specified in percentage
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27034 ESLint: add no-console rule + remove existing console.logs
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 23_1

#27018 chore(ci): temporarly turn off unstable playground tests
  .github/workflows/playgrounds_tests.yml
Labels: 24_1

#27036 Splitter: the remaining space should be evenly distributed if only the maxSize option is specified
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27043 Splitter: improving type safety for resize and collapse handlers
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
Labels: 24_1
