Repository DevExpress/DevExtreme, pull requests merged in 2024-02, with the labels that each got.

#26328 HtmlEditor: Add dx-dropdowneditor-overlay class to popups (T1141075)
  packages/devextreme/js/ui/html_editor/modules/popup.js
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/popup/_index.scss
  packages/devextreme/scss/widgets/material/popup/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/popupModule.tests.js
Labels: 23_2

#26536 HtmlEditor: Add dx-dropdowneditor-overlay class to popups
  packages/devextreme/js/ui/html_editor/modules/popup.js
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/material/popup/_index.scss
  packages/devextreme/scss/widgets/material/popup/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/popupModule.tests.js
Labels: 24_1

#26535 Update VS Code settings
  .vscode/settings.json
Labels: 24_1

#26539 T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: 24_1

#26484 Scheduler - Appointment tooltip is incorrectly displayed on the first click when adaptivity is enabled in React (T1187586)
  packages/devextreme/js/__internal/core/utils/promise.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react_mask.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Labels: type/bug, cherry-pick, 23_2

#26485 Scheduler - Appointment tooltip is incorrectly displayed on the first click when adaptivity is enabled in React (T1187586)
  js/__internal/core/utils/promise.ts
  js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/tooltip-rendering-with-react_mask.png
  testing/testcafe/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Labels: type/bug, cherry-pick, 23_1

#26545 T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539)
  js/__internal/scheduler/appointment_popup/m_popup.ts
  testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: cherry-pick, 23_1

#26544 T1213458: Scheduler - Cancel button in the edit form doesn't cancel values of nested fields (#26539)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/expressions.ts
Labels: cherry-pick, 23_2

#26549 DataGrid(T1205707): Fix empty filter with DataGrid's composite key issue
  packages/devextreme/js/core/utils/selection_filter.js
  packages/devextreme/testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Labels: 24_1

#26551 DataGrid(T1205707): Fix empty filter with DataGrid's composite key issue (#26549)
  packages/devextreme/js/core/utils/selection_filter.js
  packages/devextreme/testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Labels: cherry-pick, 23_2

#26552 DataGrid(T1205707): Fix empty filter with DataGrid's composite key issue (#26549)
  js/core/utils/selection_filter.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Labels: cherry-pick, 23_1

#26481 Build Scripts: Make version in build scripts, not in gulp tasks
  build/common/version-utils.test.ts
  build/common/version-utils.ts
  build/set-timestamp-version.ts
  build/update-version.ts
  packages/devextreme-themebuilder/src/metadata/generate.ts
  packages/devextreme/build/gulp/context.js
  packages/devextreme/build/gulp/header-pipes.js
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/build/gulp/version-spec.js
  packages/devextreme/build/gulp/version.js
  packages/devextreme/gulpfile.js
  packages/devextreme/js/core/version.js
Labels: 24_1

#26561 DataGrid - native classes - pager
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
Labels: refactoring, 24_1

#26560 DataGrid - native classes - grid view
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Labels: refactoring, 24_1

#26559 DataGrid - native classes - column headers
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Labels: refactoring, 24_1

#26553 DataGrid - native classes - error handling
  packages/devextreme/js/__internal/grids/grid_core/error_handling/m_error_handling.ts
Labels: refactoring, 24_1

#26554 DataGrid - native classes - context menu
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/core/utils/iterator.js
Labels: refactoring, 24_1

#26556 DataGrid - native classes - filter panel
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
Labels: refactoring, 24_1

#26557 DataGrid - native classes - filter builder
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_builder.ts
Labels: refactoring, 24_1

#26543 DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: 24_1

#26565 DataGrid - native classes - cherry-picks
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_builder.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/pager/m_pager.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/core/utils/iterator.js
Labels: cherry-pick, 23_1

#26567 DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: cherry-pick, 23_2

#26569 DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: cherry-pick, 22_2

#26568 DataGrid - Changing keyboardNavigation options should not invalidate the entire content (T1197829)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Labels: cherry-pick, 23_1

#26558 DataGrid - native classes - state storing
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
Labels: refactoring, 24_1

#26574 DataGrid - native classes - column chooser
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
Labels: refactoring, 24_1

#26523 Overlays: remove copyRootClassesToWrapper and hide elementAttr
  packages/devextreme-angular/src/ui/load-panel/index.ts
  packages/devextreme-angular/src/ui/nested/base/popup-options.ts
  packages/devextreme-angular/src/ui/nested/drop-down-options.ts
  packages/devextreme-angular/src/ui/nested/filter-builder-popup.ts
  packages/devextreme-angular/src/ui/nested/popup.ts
  packages/devextreme-angular/src/ui/popover/index.ts
  packages/devextreme-angular/src/ui/popup/index.ts
  packages/devextreme-angular/src/ui/toast/index.ts
  packages/devextreme-angular/src/ui/tooltip/index.ts
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/load-panel.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/popover.ts
  packages/devextreme-react/src/popup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/toast.ts
  packages/devextreme-react/src/tooltip.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/autocomplete.ts
  packages/devextreme-vue/src/color-box.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme-vue/src/drop-down-box.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme-vue/src/load-panel.ts
  packages/devextreme-vue/src/lookup.ts
  packages/devextreme-vue/src/popover.ts
  packages/devextreme-vue/src/popup.ts
  packages/devextreme-vue/src/select-box.ts
  packages/devextreme-vue/src/tag-box.ts
  packages/devextreme-vue/src/toast.ts
  packages/devextreme-vue/src/tooltip.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/ui/diagram/ui.diagram.floating_panel.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/js/ui/overlay.d.ts
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/js/ui/speed_dial_action/speed_dial_main_item.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26586 DataGrid - native classes - cherry-picks
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
Labels: cherry-pick, 23_2

#26585 DataGrid - native classes - cherry-picks
  js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  js/__internal/grids/tree_list/m_state_storing.ts
Labels: cherry-pick, 23_1

#26595 Splitter: add component stub and tests
  packages/devextreme/js/__internal/ui/m_splitter.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.adaptivity.js
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/js/ui/splitter_control.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_1

#26563 DataGrid: Disable row selection by shift for not loaded data when there is grouping and virtual scrolling is enabled (T1180554)
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/selection/selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 23_2

#26572 DataGrid: Disable row selection by shift for not loaded data when there is grouping and virtual scrolling is enabled (T1180554)
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 23_1

#26599 Improve renovate config
  .github/renovate.json
Labels: 24_1

#26588 DataGrid - native classes - filter sync
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
Labels: refactoring, 24_1

#26589 DataGrid - native classes - focus
  packages/devextreme/js/__internal/grids/data_grid/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
Labels: refactoring, 24_1

#26593 DataGrid - native classes - virtual scrolling controller
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
Labels: refactoring, 24_1

#26594 DataGrid - native classes - export
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
Labels: refactoring, 24_1

#26613 DataGrid - native classes - cherry-picks
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/focus/m_focus.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  js/__internal/grids/tree_list/m_focus.ts
Labels: 23_1, refactoring

#26612 DataGrid - native classes - cherry-picks
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling_core.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
Labels: cherry-pick, 23_2

#26577 GridCore: Migrate Adaptivity module
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Labels: 24_1

#26579 GridCore: Migrate ColumnsResizingReordering module.
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Labels: 24_1

#26578 GridCore: Migrate ColumnFixing module.
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Labels: 24_1

#26582 GridCore: Migrate KeyboardNavigation module.
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
Labels: 24_1

#26598 GridCore: Remove redundant exportVar.
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Labels: 24_1

#26617 GridCore: Migrate RowsDragging module.
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
Labels: 24_1

#26602 Performance QUnit tests: skip unstable configurations
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Labels: 24_1

#26603 Performance QUnit tests: skip unstable configurations
  testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Labels: 23_1

#26604 Performance QUnit tests: skip unstable configurations
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Labels: cherry-pick, 23_2

#26621 GridCore: Native class migration #0
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_master_detail.ts
Labels: cherry-pick, 23_2

#26622 GridCore: Native class migration #0
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/tree_list/m_master_detail.ts
Labels: cherry-pick, 23_1

#26624 fix: add Intl types to localization format
  js/localization.d.ts
  ts/dx.all.d.ts
Labels: 23_1

#26626 Fix double-click in data-grid if lazy-loading (T1208575) (#26537)
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/events/double_click.js
  packages/devextreme/js/events/utils/index.d.ts
  packages/devextreme/js/ui/number_box/number_box.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.events/dblclick.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 23_2

#26607 Splitter: implement direction support
  packages/devextreme/js/__internal/ui/m_splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
Labels: 24_1

#26611 DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/selection/selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 24_1

#26610 DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554)
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/ui/selection/selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: 23_2

#26609 DataGrid / TreeList: Add private alwaysSelectByShift option (T1180554)
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/ui/selection/selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Labels: cherry-pick, 23_1

#26587 T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
Labels: 24_1

#26631 T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
Labels: cherry-pick, 23_2

#26632 T1146048: Scheduler - Appointments that include weekends are shrunk in TimelineWorkWeek when working hours are used (#26587)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/__tests__/getSkippedHoursInRange.test.ts
  js/renovation/ui/scheduler/view_model/appointments/utils/getSkippedHoursInRange.ts
  js/renovation/ui/scheduler/workspaces/types.ts
  testing/testcafe/tests/scheduler/appointments/timelineWorkWeek.ts
Labels: cherry-pick, 23_1

#26633 Fix access level modifier in Scheduler
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Labels: 24_1

#26634 Fix access level modifier in Scheduler (#26633)
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Labels: cherry-pick, 23_2

#26562 Accessibility: get rid of aria-toggle-field-name excess issue
  packages/devextreme/testing/testcafe/tests/accessibility/autocomplete.ts
  packages/devextreme/testing/testcafe/tests/accessibility/colorBox.ts
  packages/devextreme/testing/testcafe/tests/accessibility/dropDownButton.ts
  packages/devextreme/testing/testcafe/tests/accessibility/list.ts
  packages/devextreme/testing/testcafe/tests/accessibility/lookup.ts
  packages/devextreme/testing/testcafe/tests/accessibility/selectBox.ts
Labels: skip-cache, 24_1

#26629 chore: drop core's string.utils.replaceAll
  js/core/utils/string.js
  testing/tests/DevExpress.core/utils.string.tests.js
Labels: 23_1

#26630 chore: drop core's string.utils.replaceAll
  packages/devextreme/js/core/utils/string.js
  packages/devextreme/testing/tests/DevExpress.core/utils.string.tests.js
Labels: 23_2

#26643 Improve unused variables style testing
  packages/devextreme/scss/widgets/material/tagBox/_sizes.scss
  packages/devextreme/testing/styles/unused-elements.test.ts
Labels: 24_1

#26571 Form: formData should not be considered as an array if it only has a "length" property (T1213983)
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 24_1

#26646 Form: formData should not be considered as an array if it only has a "length" property (T1213983)
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 23_2

#26647 Form: formData should not be considered as an array if it only has a length property (T1213983)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 23_1

#26584 TextBox: Remove invalid mask validation error when the mask becomes empty (T1214604)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 24_1

#26649 TextBox: Remove invalid mask validation error when the mask becomes empty (T1214604)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 23_2

#26606 GH Packages: simplify the publishing workflow args, use "daily" tag instead of "next"
  .github/workflows/packages_publishing.yml
  .github/workflows/packages_publishing_scheduler.yml
Labels: 24_1

#26652 GH Packages: simplify the publishing workflow args, use "daily" tag instead of "next"
  .github/workflows/packages_publishing.yml
Labels: cherry-pick, 23_2

#26651 Build Scripts: Fix missing descriptions in devextreme-angular (T1216426)
  build/build-all.ts
Labels: cherry-pick, 24_1

#26650 Build Scripts: Fix missing descriptions in devextreme-angular (T1216426)
  build/build-all.ts
Labels: 23_2

#26654 TagBox: Replace role group with application and set aria to dx-tag
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_1

#26664 PivotGrid(T1214743): Fix scroll margin related issue. (#26640)
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget.ts
  packages/devextreme/testing/testcafe/model/pivotGrid/index.ts
  packages/devextreme/testing/testcafe/model/pivotGrid/rowsArea.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-false_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-false_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-true_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-true_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-false_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-false_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-true_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-true_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-false_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-false_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-true_rtl-false.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-true_rtl-true.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/scrolling.ts
Labels: cherry-pick, 23_2

#26665 PivotGrid(T1214743): Fix scroll margin related issue. (#26640)
  js/__internal/grids/pivot_grid/m_widget.ts
  testing/testcafe/model/pivotGrid/index.ts
  testing/testcafe/model/pivotGrid/rowsArea.ts
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-false_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-false_rtl-true.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-true_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-0_useNative-true_rtl-true.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-false_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-false_rtl-true.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-true_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-1_useNative-true_rtl-true.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-false_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-false_rtl-true.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-true_rtl-false.png
  testing/testcafe/tests/pivotGrid/etalons/scrollbar-margin_step-2_useNative-true_rtl-true.png
  testing/testcafe/tests/pivotGrid/scrolling.ts
Labels: cherry-pick, 23_1

#26580 GridCore: Migrate Editing module.
  packages/devextreme/js/__internal/grids/data_grid/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
Labels: 24_1

#26663 Validator: add string type to Range rule min/max properties (T1215659)
  packages/devextreme-angular/src/ui/nested/validation-rule-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26662 Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799)
  packages/devextreme/js/ui/slider/ui.slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Labels: 24_1

#26657 DataGrid: Fix selection by shift when grid has real time updates (T1214734)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
Labels: 24_1

#26673 DataGrid: Fix selection by shift when grid has real time updates (T1214734)
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  testing/testcafe/tests/dataGrid/selection.ts
Labels: cherry-pick, 23_1

#26672 DataGrid: Fix selection by shift when grid has real time updates (T1214734)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/selection.ts
Labels: cherry-pick, 23_2

#26667 GridCore: Migrate Editing module. (#26580)
  js/__internal/grids/data_grid/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
Labels: cherry-pick, 23_1

#26666 GridCore: Migrate Editing module.
  packages/devextreme/js/__internal/grids/data_grid/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
Labels: cherry-pick, 23_2

#26658 RangeSelector - Update signature 'translate' method of interval translator(t1212681)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/js/viz/translators/interval_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/translator2D.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 24_1

#26678 RangeSelector - Update signature 'translate' method of interval translator(t1212681)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/js/viz/translators/interval_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/translator2D.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: cherry-pick, 23_2

#26679 RangeSelector - Update signature 'translate' method of interval translator(t1212681)
  js/viz/axes/xy_axes.js
  js/viz/translators/interval_translator.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: cherry-pick, 23_1

#26680 RangeSelector - Update signature 'translate' method of interval translator(t1212681)
  js/viz/axes/xy_axes.js
  js/viz/translators/interval_translator.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
  testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: cherry-pick, 22_2

#26642 GridCore: Migrate Selection module.
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 24_1

#26656 Splitter: add ResizeHandle component
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_1

#26681 GridCore: Migrate Selection module. (#26642)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: cherry-pick, 23_2

#26682 GridCore: Migrate Selection module. (#26642)
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Labels: cherry-pick, 23_1

#26674 Validator: add string type to Range rule min/max properties (T1215659)
  packages/devextreme-angular/src/ui/nested/validation-rule-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 23_2

#26669 Splitter: add resize options and render handle after splitter item
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/event.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_1

#26685 Splitter: supports rendering nested splitter panes
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Labels: 24_1

#26668 🛠️ Refactoring | Grid native classes: PivotGrid's related migration (6)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Labels: 24_1

#26689 🛠️ Refactoring | Grid native classes: PivotGrid's related migration
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Labels: cherry-pick, 23_2

#26690 Refactoring | Grid native classes: PivotGrid's related migration
  js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/sorting/m_sorting_mixin.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
Labels: 23_1

#26676 Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799)
  packages/devextreme/js/ui/slider/ui.slider.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Labels: cherry-pick, 23_2

#26677 Slider: wrapper should not get 'dx-rtl' class from slider on init (T1215799)
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
Labels: cherry-pick, 23_1

#26701 GridCore: native classes - dataSourceAdapter
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_state_storing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
Labels: cherry-pick, 23_2

#26671 DataGrid(T1213679): Fix nested column update React's issue
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: 24_1

#26712 DataGrid(T1213679): Fix nested column update React's issue (#26671)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: cherry-pick, 23_2

#26713 DataGrid(T1213679): Fix nested column update React's issue (#26671)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_after-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/etalons/band-columns_before-runtime-update.png
  testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: cherry-pick, 23_1

#26653 Form: add captionTemplate option to customize group caption
  packages/devextreme/js/ui/form/constants.js
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/scss/widgets/base/_form.scss
  packages/devextreme/scss/widgets/fluent/form/_index.scss
  packages/devextreme/scss/widgets/generic/form/_index.scss
  packages/devextreme/scss/widgets/material/form/_index.scss
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (generic-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/form.groupItem.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Labels: 24_1

#26538 DataGrid - Fix command edit icon sizes in the Fluent compact theme (T1207612)
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/pager/_index.scss
  packages/devextreme/scss/widgets/fluent/pager/_sizes.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/icon-sizes-fluent-compact.png
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Labels: 24_1

#26719 Fix import in tests
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Labels: 24_1

#26723 Fix import in tests [1]
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Labels: 24_1

#26721 Fix Demos GHA
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
Labels: 24_1, github_actions

#26724 CSP - enable exporter tests
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
Labels: 24_1

#26564 TextBox: correct handlers order after change mask option (T1214019)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 24_1

#26722 DataGrid - Fix command edit icon sizes in the Fluent compact theme (T1207612)
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/fluent/pager/_index.scss
  packages/devextreme/scss/widgets/fluent/pager/_sizes.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/etalons/icon-sizes-fluent-compact.png
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
Labels: cherry-pick, 23_2

#26729 ESLint - add consistent-type-imports rule
  js/__internal/.eslintrc.js
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/m_core.ts
  js/__internal/grids/data_grid/m_editing.ts
  js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  js/__internal/grids/grid_core/error_handling/m_error_handling.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/filter/m_filter_row.ts
  js/__internal/grids/grid_core/filter/m_filter_sync.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_types.ts
  js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/search/m_search.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/sorting/m_sorting.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  js/__internal/grids/pivot_grid/field_chooser/dom.ts
  js/__internal/grids/pivot_grid/field_chooser/utils.ts
  js/__internal/grids/tree_list/editing/m_editing.ts
  js/__internal/grids/tree_list/m_focus.ts
  js/__internal/grids/tree_list/m_master_detail.ts
  js/__internal/grids/tree_list/m_state_storing.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
  js/__internal/m_draggable.ts
  js/__internal/scheduler/base/m_widget_observer.ts
  js/__internal/scheduler/header/m_calendar.ts
  js/__internal/scheduler/header/m_header.ts
  js/__internal/ui/m_tag_box.ts
Labels: cherry-pick, 23_1

#26726 TextBox: correct handlers order after change mask option (T1214019)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 23_2

#26727 TextBox: correct handlers order after change mask option (T1214019)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 23_1

#26732 ContextMenu: no error should be raised on disabled submenu item click (T1218229)
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 24_1

#26704 T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Labels: 24_1

#26737 T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Labels: cherry-pick, 23_2

#26655 Splitter: add doc declarations
  package-lock.json
  package.json
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-angular/src/ui/splitter/ng-package.json
  packages/devextreme-react/src/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/package.json
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26733 ContextMenu: no error should be raised on disabled submenu item click (T1218229)
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 23_2

#26734 ContextMenu: no error should be raised on disabled submenu item click (T1218229)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 23_1

#26718 DropDownButton: add template option in declarations
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#26691 List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Labels: 24_1

#26739 T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
  testing/testcafe/tests/scheduler/etalons/view_markup_ordering-appts_T1212573.png
Labels: cherry-pick, 23_1

#26746 List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Labels: cherry-pick, 23_2

#26747 List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Labels: cherry-pick, 23_2

#26497 DropDownButton - datasource integration refactoring
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/data_controller.js
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: refactoring, 24_1

#26750 Fix ASP links in JS demo descriptions
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/DataGrid/SignalRService/description.md
  apps/demos/Demos/DataGrid/WebAPIService/description.md
  apps/demos/Demos/List/WebAPI/description.md
  apps/demos/Demos/Scheduler/SignalRService/description.md
  apps/demos/Demos/Scheduler/WebAPIService/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Labels: 24_1

#26711 TileView: Fix aria-activedescendant setting (T1217255)
  packages/devextreme/js/ui/tile_view.js
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tileView.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Labels: 24_1

#26754 TileView: Fix aria-activedescendant setting (T1217255)
  packages/devextreme/js/ui/tile_view.js
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tileView.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Labels: cherry-pick, 23_2

#26755 Add e2e timezone testing
  .github/workflows/testcafe_tests.yml
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/check.ts
Labels: 24_1

#26714 🛠️ Refactoring | Grid native classes: validating
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Labels: 24_1

#26762 🛠️ Refactoring | Grid native classes: validating
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Labels: 23_2

#26763 🛠️ Refactoring | Grid native classes: validating
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/tree_list/m_validating.ts
Labels: 23_1

#26758 Calendar: Fix aria-readonly setting
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/editor/editor.js
  packages/devextreme/testing/testcafe/tests/accessibility/calendar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: 24_1

#26756 TextBox: Fix readonly input border state (T1217197)
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Labels: cherry-pick, 23_2

#26751 TextBox: Fix readonly input border state (T1217197)
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=outlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render readonly,stylingMode=underlined (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Labels: 24_1

#26753 Drawer: fix overlap, bottom, expand configurations in React
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
  apps/demos/testing/widgets/drawer/etalons/drawer(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_after_resize(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_closed(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_opened(overlap, bottom, expand).png
  apps/demos/utils/visual-tests/matrix-test-helper.js
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: 24_1, force all tests

#26759 splitter: multiple panes resize support
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#26780 German localization message values for dxDateRangeBox*
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization, 24_1

#26775 DataGrid - native classes - grouping helpers
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_expanded.ts
Labels: refactoring, 24_1

#26776 DataGrid - native classes - summary
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Labels: refactoring, 24_1

#26777 DataGrid - native classes - other
  packages/devextreme/js/__internal/grids/data_grid/m_aggregate_calculator.ts
  packages/devextreme/js/__internal/grids/data_grid/m_data_controller.ts
Labels: refactoring, 24_1

#26752 Scheduler(T1218078): Fix machine's local time DST issues.
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 24_1

#26786 Drawer: fix overlap, bottom, expand configurations in React
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: cherry-pick, 23_2

#26791 German localization message values for dxDateRangeBox (cherry-pick #26780)
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization, 23_2

#26792 Scheduler(T1218078): Fix machine's local time DST issues. (#26752)
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/renovation/ui/scheduler/timeZoneCalculator/utils.ts
  packages/devextreme/testing/testcafe/helpers/machineTimezones.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-winter_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: cherry-pick, 23_2

#26785 CI: Fix github packages publishing
  build/common/version-utils.ts
  package-lock.json
Labels: 24_1

#26787 Drawer: fix overlap, bottom, expand configurations in React
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Labels: cherry-pick, 23_1
