Repository DevExpress/DevExtreme, pull requests merged in 2024-11, with the labels that each got.

#28288 DataGrid: add Fixed and Sticky Columns demo description
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/description.md
Labels: 24_2

#28282 Fix T1259705 - DevExtreme - "t.getClientRects is not a function"
  packages/devextreme-angular/tests/src/server/ssr-components.spec.ts
  packages/devextreme/js/core/renderer_base.js
  packages/devextreme/js/core/utils/position.js
  packages/devextreme/js/core/utils/shadow_dom.js
  packages/devextreme/js/core/utils/size.js
  packages/devextreme/testing/tests/DevExpress.serverSide/widget.tests.js
Labels: cherry-pick, 24_1

#28289 Chat: fix unstable tests with day headers
  e2e/testcafe-devextreme/tests/chat/errorList.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with date headers (fluent-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with date headers (generic-light)_mask.png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with date headers (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
Labels: 24_2

#28290 Fix T1259705 - DevExtreme - "t.getClientRects is not a function"
  packages/devextreme/js/core/renderer_base.js
  packages/devextreme/js/core/utils/position.js
  packages/devextreme/js/core/utils/shadow_dom.js
  packages/devextreme/js/core/utils/size.js
  packages/devextreme/testing/tests/DevExpress.serverSide/widget.tests.js
Labels: cherry-pick, 23_2

#28276 Lookup: avoid selection by tab action
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: type/bug, 24_2

#28300 Button: extend Button type with any string (T1255652)
  packages/devextreme-angular/src/ui/button/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-options.ts
  packages/devextreme/js/ui/button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#28280 Scheduler a11y: Contrast issue in Disabled Date/Time Ranges Demo (dinner icon)
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/CellTemplates/React/styles.css
  apps/demos/Demos/Scheduler/CellTemplates/ReactJs/styles.css
  apps/demos/Demos/Scheduler/CellTemplates/Vue/styles.css
  apps/demos/Demos/Scheduler/CellTemplates/jQuery/styles.css
  apps/demos/testing/etalons/Scheduler-CellTemplates (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-CellTemplates (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-CellTemplates.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_CellTemplates_view_dates_changed (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_CellTemplates_view_dates_changed (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_CellTemplates_view_dates_changed.png
Labels: 24_2

#28269 Scheduler a11y: Insufficient contrast of day numbers in the MonthView
  apps/demos/Demos/Scheduler/Overview/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Overview/React/styles.css
  apps/demos/Demos/Scheduler/Overview/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Overview/Vue/App.vue
  apps/demos/Demos/Scheduler/Overview/jQuery/styles.css
  apps/demos/testing/etalons/Scheduler-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Overview (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-Overview.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_overview_selection (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_overview_selection (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_overview_selection.png
Labels: 24_2

#28302 Sticky columns: Rename the context menu texts
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/context-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/context-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/columnFixingIcons.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_context_menu_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_context_menu_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_context_menu_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(material.blue.light).png
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#28301 HtmlEditor: toolbar active buttons should have aria-pressed attr to be pronounced
  packages/devextreme/js/__internal/ui/html_editor/modules/m_toolbar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Labels: 24_2

#28310 Chat: change styles and positions on initial loading
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28309 Grids a11y: Fix the header filter and the column chooser focus issue and update VPAT
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
Labels: 24_2

#28299 MultiView: fix on infinite looping issue during normalizing selectIndex
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: type/bug, skip-cache, 24_2

#28303 TabPanel: fix kbn after runtime loop activation and swipe
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: type/bug, skip-cache, 24_2

#28285 Chat - add messageTemplate in .d.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28308 Chat - last message group should have corresponding class
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28312 React: Map devextreme modules resolution to relative (npm dep) path (t1256785)
  packages/devextreme-react/tsconfig.json
Labels: WIP, skip-cache, force all tests, 24_2

#28139 Storybook - add inferno & react wrapping utils
  apps/react-storybook/package.json
  apps/react-storybook/stories/Pager.stories.tsx
  apps/react-storybook/stories/utils/index.ts
  apps/react-storybook/stories/utils/wrappers.tsx
  pnpm-lock.yaml
Labels: 24_2

#28284 Chat - add messageTimestampFormat and dayHeaderFormat in .d.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/day-header-format.ts
  packages/devextreme-angular/src/ui/chat/nested/index.ts
  packages/devextreme-angular/src/ui/chat/nested/message-timestamp-format.ts
  packages/devextreme-angular/src/ui/nested/day-header-format.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/message-timestamp-format.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28323 Chat: update of default values in the public d.ts
  packages/devextreme-angular/src/ui/chat/nested/author.ts
  packages/devextreme-angular/src/ui/chat/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/chat/nested/typing-user-dxi.ts
  packages/devextreme-angular/src/ui/chat/nested/user.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/user-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/user.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28307 DataGrid: Fix separator position during column resizing
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/separator_position_with_fixed_column_on_right_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/separator_position_with_fixed_column_on_right_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/separator_position_with_window_scroll_top_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/separator_position_with_window_scroll_top_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnResizing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: skip-cache, 24_2

#28304 Chat: support for dataSource operations 'update' and 'remove'
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28293 List: Add group header to focus order if collapsibleGroups is true
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=false (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list appearance with template. rtlEnabled=true (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list with focused header (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list with focused header (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped list with focused header (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
  packages/devextreme-scss/scss/widgets/fluent/list/_index.scss
  packages/devextreme-scss/scss/widgets/generic/list/_index.scss
  packages/devextreme-scss/scss/widgets/material/list/_index.scss
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_2

#28313 List: Improve aria for collapsible groups
  e2e/testcafe-devextreme/tests/accessibility/list.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_2

#28327 Chat: remove title and header
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/header.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28324 Storybook: added new story for chat demostrating typingUsers
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/data.ts
Labels: 24_2

#28314 DataGrid: Disable fixed columns with sticky position when virtual columns are enabled
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/context_menu_and_virtual_columns_with_fixed_columns.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/virtual_columns_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/virtual_columns_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withVirtualColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: 24_2

#28330 📌 Sticky columns: TreeList - update Column Fixing demo
  apps/demos/Demos/TreeList/ColumnFixing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/ColumnFixing/Angular/app/app.component.ts
  apps/demos/Demos/TreeList/ColumnFixing/Angular/app/app.service.ts
  apps/demos/Demos/TreeList/ColumnFixing/React/App.tsx
  apps/demos/Demos/TreeList/ColumnFixing/React/data.ts
  apps/demos/Demos/TreeList/ColumnFixing/ReactJs/App.js
  apps/demos/Demos/TreeList/ColumnFixing/ReactJs/data.js
  apps/demos/Demos/TreeList/ColumnFixing/Vue/App.vue
  apps/demos/Demos/TreeList/ColumnFixing/Vue/data.ts
  apps/demos/Demos/TreeList/ColumnFixing/jQuery/data.js
  apps/demos/Demos/TreeList/ColumnFixing/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/TreeList-ColumnFixing (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing (material.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing.png
Labels: 24_2

#28328 Storybook: Added new story for demonstrating chat time and date formats
  apps/react-storybook/stories/chat/Chat.stories.tsx
Labels: 24_2

#28298 Scheduler a11y: add root aria attrs
  e2e/testcafe-devextreme/tests/scheduler/a11y/scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#28201 Scheduler a11y: fix appointment aria attrs
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  e2e/testcafe-devextreme/tests/scheduler/dragAndDrop/T1080232.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: 24_2

#28345 DataGrid: Update the Fixed and Sticky Columns demo
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/App.tsx
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/data.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/App.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/data.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/App.vue
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/data.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/data.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/index.js
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns.png
Labels: skip-cache, 24_2

#28348 DataGrid: Remove the Column Customization demo
  apps/demos/Demos/DataGrid/ColumnCustomization/Angular/app/app.component.css
  apps/demos/Demos/DataGrid/ColumnCustomization/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ColumnCustomization/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/ColumnCustomization/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/ColumnCustomization/Angular/index.html
  apps/demos/Demos/DataGrid/ColumnCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/ColumnCustomization/React/data.ts
  apps/demos/Demos/DataGrid/ColumnCustomization/React/index.html
  apps/demos/Demos/DataGrid/ColumnCustomization/React/index.tsx
  apps/demos/Demos/DataGrid/ColumnCustomization/React/styles.css
  apps/demos/Demos/DataGrid/ColumnCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/ColumnCustomization/ReactJs/data.js
  apps/demos/Demos/DataGrid/ColumnCustomization/ReactJs/index.html
  apps/demos/Demos/DataGrid/ColumnCustomization/ReactJs/index.js
  apps/demos/Demos/DataGrid/ColumnCustomization/ReactJs/styles.css
  apps/demos/Demos/DataGrid/ColumnCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ColumnCustomization/Vue/data.ts
  apps/demos/Demos/DataGrid/ColumnCustomization/Vue/index.html
  apps/demos/Demos/DataGrid/ColumnCustomization/Vue/index.ts
  apps/demos/Demos/DataGrid/ColumnCustomization/description.md
  apps/demos/Demos/DataGrid/ColumnCustomization/jQuery/data.js
  apps/demos/Demos/DataGrid/ColumnCustomization/jQuery/index.html
  apps/demos/Demos/DataGrid/ColumnCustomization/jQuery/index.js
  apps/demos/Demos/DataGrid/ColumnCustomization/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/redirects.json
  apps/demos/testing/etalons/DataGrid-ColumnCustomization (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnCustomization (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnCustomization.png
  apps/demos/testing/widgets/datagrid/ColumnCustomization.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_2 (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_2 (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_2.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_3 (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_3 (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_3.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_4 (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_column_customization_4.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: skip-cache, 24_2

#28342 Scheduler: fix timezone of date in aria-label
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
Labels: 24_2

#28322 Scheduler - The 'date' parameter of the deleteRecurrence method cannot be a string
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: 24_2

#28347 DataGrid/TreeList: update Column Reordering descriptions
  apps/demos/Demos/DataGrid/ColumnReordering/description.md
  apps/demos/Demos/TreeList/Reordering/description.md
Labels: 24_2

#28346 TreeList: update Fixed and Sticky Columns demo description
  apps/demos/Demos/TreeList/ColumnFixing/description.md
  apps/demos/menuMeta.json
Labels: 24_2

#28315 FilterBuilder - First field uses the dataField property while subsequent fields use the name property in the filter value
  e2e/testcafe-devextreme/tests/filterBuilder/filterBuilderNaming.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/testcafe-models/filterBuilder/index.ts
Labels: 24_2

#28350 DataGrid - Sticky Columns: Fix display of the filter row when there are band columns and showColumnHeaders is disabled
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_and_band_columns_1_(showColumnHeaders_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_and_band_columns_2_(showColumnHeaders_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withFilterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
Labels: skip-cache, 24_2

#28349 DataGrid - Sticky Columns: Fix the 'Unfixed columns cannot be dragged to first/last position' issue
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stickyColumns.tests.js
Labels: skip-cache, 24_2

#28336 Jest - update configs: support inferno & add @jest/globals
  packages/devextreme/jest.config.js
  packages/devextreme/jest.tsconfig.json
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/core/license/byte_utils.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.server.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/sha1.test.ts
  packages/devextreme/js/__internal/core/r1/utils/get_updated_options.test.ts
  packages/devextreme/js/__internal/core/utils/date.test.ts
  packages/devextreme/js/__internal/core/utils/math.test.ts
  packages/devextreme/js/__internal/core/utils/scroll.test.ts
  packages/devextreme/js/__internal/pagination/utils/validate_utils.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validation_functions.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/common/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/options_validator_error_handler.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/options_validator/validator_rules.test.ts
  packages/devextreme/js/__internal/scheduler/r1/appointment_popup/__tests__/config.test.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/__tests__/remote.test.ts
  packages/devextreme/js/__internal/scheduler/r1/semaphore/__tests__/semaphore.test.ts
  packages/devextreme/js/__internal/scheduler/r1/timezone_calculator/__tests__/timeZoneCalculator.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/data.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/excludeFromRecurrence.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/render.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  packages/devextreme/js/__internal/tsconfig.json
  packages/devextreme/js/__internal/ui/resizable/utils.test.ts
  packages/devextreme/js/__internal/ui/scroll_view/utils/get_element_style.test.tsx
  packages/devextreme/js/__internal/ui/scroll_view/utils/get_relative_offset.test.tsx
  packages/devextreme/js/__internal/ui/scroll_view/utils/get_scrollbar_size.test.tsx
  packages/devextreme/js/__internal/ui/scroll_view/utils/get_translate_values.test.tsx
  packages/devextreme/js/__internal/utils/toMilliseconds.test.ts
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: 24_2

#28320 Chat: refactor implementation of messageTemplate
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28343 Scheduler a11y: remove tables from a11y tree
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click.png
  e2e/testcafe-devextreme/tests/scheduler/a11y/scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/table.tsx
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 24_2

#28351 Scheduler - The 'date' parameter of the deleteRecurrence method cannot be a string (T1252887)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: cherry-pick, 24_1

#28352 Scheduler - The 'date' parameter of the deleteRecurrence method cannot be a string (T1252887)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: cherry-pick, 23_2

#28353 FilterBuilder - First field uses the dataField property while subsequent fields use the name property in the filter value (T1253754)
  e2e/testcafe-devextreme/tests/filterBuilder/filterBuilderNaming.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/testcafe-models/filterBuilder/index.ts
Labels: cherry-pick, 24_1

#28354 FilterBuilder - First field uses the dataField property while subsequent fields use the name property in the filter value (T1253754)
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/testing/testcafe/model/filterBuilder/index.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/filterBuilderNaming.ts
Labels: cherry-pick, 23_2

#28318 HtmlEditor: Apply converter on init and runtime
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
Labels: 24_2

#28338 📌 Sticky columns: Fixed columns don't work when drag and drop rows are enabled
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_sticky_columns_with_drag_and_drop.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withDragAndDrop.ts
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_sticky_columns_with_drag_and_drop.png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/withDragAndDrop.ts
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/base/treeList/_index.scss
Labels: 24_2

#28366 📌 Sticky columns: Set autoExpandAll to TreeList demos
  apps/demos/Demos/TreeList/ColumnFixing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/ColumnFixing/React/App.tsx
  apps/demos/Demos/TreeList/ColumnFixing/ReactJs/App.js
  apps/demos/Demos/TreeList/ColumnFixing/Vue/App.vue
  apps/demos/Demos/TreeList/ColumnFixing/jQuery/index.js
  apps/demos/Demos/TreeList/Reordering/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Reordering/React/App.tsx
  apps/demos/Demos/TreeList/Reordering/ReactJs/App.js
  apps/demos/Demos/TreeList/Reordering/Vue/App.vue
  apps/demos/Demos/TreeList/Reordering/jQuery/index.js
  apps/demos/testing/etalons/TreeList-ColumnFixing (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing (material.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing.png
  apps/demos/testing/etalons/TreeList-Reordering (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-Reordering (material.blue.light).png
  apps/demos/testing/etalons/TreeList-Reordering.png
Labels: 24_2

#28372 CodeQL - fix unstable fails
  .github/codeql/codeql-config.yml
Labels: 24_2

#28358 Chat - add content element for MessageBubble
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Labels: 24_2

#28373 CodeQL - tmp disable artifacts scanning
  .github/workflows/codeql.yml
Labels: 24_2

#28286 DataGrid - Sticky Columns - fixes in master-detail, summary & grouping
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-multiple-scroll-begin.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-multiple-scroll-center.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-multiple-scroll-end.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-overflow-cell.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-begin-rtl=false.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-begin-rtl=true.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-center=false.png.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-center=true.png.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-end=false.png.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-end=true.png.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-after-resize.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-before-resize.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withGrouping.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withMasterDetail.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: 24_2

#28369 Chart: valueAxis should not restore visualRange on dataSource update (T1262610)
  packages/devextreme/js/viz/axes/base_axis.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 24_2

#28375 Chart: valueAxis should not restore visualRange on dataSource update (T1262610)
  packages/devextreme/js/viz/axes/base_axis.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: cherry-pick, 24_1

#28377 Do not specify exact version for peer deps using workspace protocol
  apps/angular/package.json
  apps/demos/package.json
  apps/react-storybook/package.json
  apps/react/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-vue/package.json
  packages/testcafe-models/package.json
  pnpm-lock.yaml
Labels: 24_2

#28362 Propagate type undefined to devextreme-react
  package.json
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/bar-gauge.ts
  packages/devextreme-react/src/box.ts
  packages/devextreme-react/src/bullet.ts
  packages/devextreme-react/src/chart.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-react/src/check-box.ts
  packages/devextreme-react/src/circular-gauge.ts
  packages/devextreme-react/src/color-box.ts
  packages/devextreme-react/src/context-menu.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/defer-rendering.ts
  packages/devextreme-react/src/diagram.ts
  packages/devextreme-react/src/drop-down-box.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-react/src/file-manager.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/funnel.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-react/src/linear-gauge.ts
  packages/devextreme-react/src/list.ts
  packages/devextreme-react/src/load-panel.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/menu.ts
  packages/devextreme-react/src/number-box.ts
  packages/devextreme-react/src/pie-chart.ts
  packages/devextreme-react/src/polar-chart.ts
  packages/devextreme-react/src/popover.ts
  packages/devextreme-react/src/popup.ts
  packages/devextreme-react/src/range-selector.ts
  packages/devextreme-react/src/responsive-box.ts
  packages/devextreme-react/src/sankey.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/sparkline.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-react/src/text-box.ts
  packages/devextreme-react/src/toast.ts
  packages/devextreme-react/src/toolbar.ts
  packages/devextreme-react/src/tooltip.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/tree-map.ts
  packages/devextreme-react/src/tree-view.ts
  packages/devextreme-react/src/vector-map.ts
  pnpm-lock.yaml
Labels: force all tests, 24_2

#28380 Map - add "updated" badge to demos
  apps/demos/menuMeta.json
Labels: 24_2

#28360 DataGrid: Fix incorrect position of validation message and revert button when scrolling
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_cell_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_cell_with_validation_rule_and_fixed_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_cell_with_validation_rule_and_fixed_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_and_validation_rule_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_and_validation_rule_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_validation_rule_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_validation_rule_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_last_unfixed_cell_with_validation_rule_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_last_unfixed_cell_with_validation_rule_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_row_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_shift_and_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_shift_and_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/vertical_scroll_and_fixed_column_with_validation_message_and_revert_button_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/vertical_scroll_and_fixed_column_with_validation_message_and_revert_button_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/vertical_scroll_and_focused_fixed_column_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/vertical_scroll_and_focused_fixed_column_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withEditing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: skip-cache, 24_2

#28383 DataGrid/TreeList - Sticky Columns: Fix background color of selection row for the material theme
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withRowSelection.ts
  packages/devextreme-scss/scss/widgets/material/gridBase/_colors.scss
Labels: skip-cache, 24_2

#28381 DataGrid/TreeList - Sticky Columns: update demos
  apps/demos/Demos/DataGrid/ColumnReordering/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ColumnReordering/React/App.tsx
  apps/demos/Demos/DataGrid/ColumnReordering/ReactJs/App.js
  apps/demos/Demos/DataGrid/ColumnReordering/Vue/App.vue
  apps/demos/Demos/DataGrid/ColumnReordering/jQuery/index.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/App.tsx
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/App.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/App.vue
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/index.js
  apps/demos/Demos/TreeList/ColumnFixing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/ColumnFixing/React/App.tsx
  apps/demos/Demos/TreeList/ColumnFixing/ReactJs/App.js
  apps/demos/Demos/TreeList/ColumnFixing/Vue/App.vue
  apps/demos/Demos/TreeList/ColumnFixing/jQuery/index.js
  apps/demos/Demos/TreeList/Reordering/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Reordering/React/App.tsx
  apps/demos/Demos/TreeList/Reordering/ReactJs/App.js
  apps/demos/Demos/TreeList/Reordering/Vue/App.vue
  apps/demos/Demos/TreeList/Reordering/jQuery/index.js
  apps/demos/testing/etalons/DataGrid-ColumnReordering (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnReordering (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnReordering.png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns.png
  apps/demos/testing/etalons/TreeList-ColumnFixing (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing (material.blue.light).png
  apps/demos/testing/etalons/TreeList-ColumnFixing.png
  apps/demos/testing/etalons/TreeList-Reordering (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-Reordering (material.blue.light).png
  apps/demos/testing/etalons/TreeList-Reordering.png
Labels: skip-cache, 24_2

#28370 Scheduler - add label for edit appointment
  e2e/testcafe-devextreme/tests/scheduler/a11y/editing.ts
  e2e/testcafe-devextreme/tests/scheduler/a11y/scheduler.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#28382 DataGrid/TreeList: Fix blinking of fixed columns when virtual scrolling
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_with_horizontal_scrolling.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_with_virtual_scrolling_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_with_virtual_scrolling_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withVirtualScrolling.ts
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/base/treeList/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: skip-cache, 24_2

#28367 Bootstrap: Bump to 5.3.3 and remove from /packages/devextreme/
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
  packages/devextreme-themebuilder/tests/modules/bootstrap-extractor.test.ts
  packages/devextreme/package.json
  packages/devextreme/testing/tests/Bootstrap Integration/widget_bundled.tests.js
  pnpm-lock.yaml
  tools/scripts/build-all.ts
Labels: skip-cache, 24_2

#28390 Map - change providers order in demo
  apps/demos/Demos/Map/ProvidersAndTypes/Angular/app/app.service.ts
  apps/demos/Demos/Map/ProvidersAndTypes/React/data.ts
  apps/demos/Demos/Map/ProvidersAndTypes/ReactJs/data.js
  apps/demos/Demos/Map/ProvidersAndTypes/Vue/data.ts
  apps/demos/Demos/Map/ProvidersAndTypes/jQuery/index.js
Labels: 24_2

#28371 DataGrid - Performance drops on adding a large number of rows via editing.changes (T1251098)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: skip-cache, 24_2

#28393 DataGrid/TreeList: update "sticky" demo descriptions
  apps/demos/Demos/DataGrid/ColumnReordering/description.md
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/description.md
  apps/demos/Demos/TreeList/ColumnFixing/description.md
  apps/demos/Demos/TreeList/Reordering/description.md
Labels: 24_2

#28389 📌 Sticky columns: The focus borders are not displayed correctly for group row, group footer and fields of adaptive row when there are fixed columns
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_adaptive_item_focused.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_group_footer_row_focused.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_group_row_focused.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/focusOverlay.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/const.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
Labels: 24_2

#28359 Calendar: should not throw any errors if value is empty string (T1257679)
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: type/bug, 24_2

#28395 Map: update demo descriptions
  apps/demos/Demos/Map/Markers/description.md
  apps/demos/Demos/Map/ProvidersAndTypes/description.md
  apps/demos/Demos/Map/Routes/description.md
Labels: 24_2

#28394 Menu: fix unable to unselect an menuitem (T1253750)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: type/bug, 24_2

#28401 Calendar: remove extra unused variable (T1257679)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 24_2

#28385 DataGrid/TreeList - Sticky Columns: Fix header and row hover for material and generic themes
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_header_hover_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_header_hover_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_header_hover_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_row_hover_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_row_hover_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_row_hover_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumns.ts
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_header_hover_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_header_hover_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_header_hover_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_row_hover_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_row_hover_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/etalons/treelist_row_hover_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/treeList/stickyColumns/stickyColumns.ts
  packages/devextreme-scss/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_colors.scss
  packages/testcafe-models/dataGrid/headers/cell.ts
Labels: skip-cache, 24_2

#28405 update chrome version
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Labels: 23_2

#28388 List: Focus group header after interaction with header if collapsibleGroups: true, skip invisible items
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_2

#28406 Chat: provide the capability to override the text color in messagebubble on the left side in Themebuilder
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
Labels: 24_2

#28397 Chat - remove avatar for typingIndicator and column gap when avatar is not shown
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 1 user (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 1 user (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 1 user (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 2 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 2 users (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 2 users (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 3 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 3 users (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 3 users (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 4 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 4 users (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 4 users (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with a lot of items (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with a lot of items (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with a lot of items (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (generic-dark).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (generic-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (material-blue-dark).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with long name (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with long name (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with long name (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator without name (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator without name (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator without name (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-typingindicator/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/typingindicator.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/typingIndicator.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/typingIndicator.tests.js
Labels: 24_2

#28402 Menu: fix unable to unselect an menuitem (T1253750)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 24_1

#28403 Menu: fix unable to unselect an menuitem (T1253750)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_2

#28398 Calendar: should not throw any errors if value is empty string (T1257679)
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 24_1

#28399 Calendar: should not throw any errors if value is empty string (T1257679)
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 23_2, skip-cache

#28391 DataGrid - Performance drops on adding a large number of rows via editing.changes (T1251098)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 24_1

#28363 Chat: implement P2P demo
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.css
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.html
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Chat/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Chat/Overview/Angular/index.html
  apps/demos/Demos/Chat/Overview/React/App.tsx
  apps/demos/Demos/Chat/Overview/React/data.ts
  apps/demos/Demos/Chat/Overview/React/index.html
  apps/demos/Demos/Chat/Overview/React/index.tsx
  apps/demos/Demos/Chat/Overview/React/styles.css
  apps/demos/Demos/Chat/Overview/Vue/App.vue
  apps/demos/Demos/Chat/Overview/Vue/index.html
  apps/demos/Demos/Chat/Overview/Vue/index.ts
  apps/demos/Demos/Chat/Overview/client-script.js
  apps/demos/Demos/Chat/Overview/jQuery/index.html
  apps/demos/Demos/Chat/Overview/jQuery/index.js
  apps/demos/Demos/Chat/Overview/jQuery/styles.css
  apps/demos/Demos/Chat/Overview/test-code.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Chat-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-Overview (material.blue.light).png
  apps/demos/testing/etalons/Chat-Overview.png
Labels: force all tests, 24_2

#28409 Chat: add missed ReactJS P2P demo
  apps/demos/Demos/Chat/Overview/ReactJs/App.js
  apps/demos/Demos/Chat/Overview/ReactJs/data.js
  apps/demos/Demos/Chat/Overview/ReactJs/index.html
  apps/demos/Demos/Chat/Overview/ReactJs/index.js
  apps/demos/Demos/Chat/Overview/ReactJs/styles.css
Labels: 24_2

#28404 Replace empty function expression types with Function type
  package.json
  packages/devextreme-angular/src/ui/autocomplete/index.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/column-header-filter-search.ts
  packages/devextreme-angular/src/ui/data-grid/nested/compare-rule-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/filter-builder.ts
  packages/devextreme-angular/src/ui/data-grid/nested/search.ts
  packages/devextreme-angular/src/ui/data-grid/nested/state-storing.ts
  packages/devextreme-angular/src/ui/data-grid/nested/validation-rule-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/index.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/form/nested/compare-rule-dxi.ts
  packages/devextreme-angular/src/ui/form/nested/validation-rule-dxi.ts
  packages/devextreme-angular/src/ui/gantt/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/gantt/nested/column-header-filter-search.ts
  packages/devextreme-angular/src/ui/gantt/nested/search.ts
  packages/devextreme-angular/src/ui/html-editor/nested/mention-dxi.ts
  packages/devextreme-angular/src/ui/list/index.ts
  packages/devextreme-angular/src/ui/lookup/index.ts
  packages/devextreme-angular/src/ui/pivot-grid/index.ts
  packages/devextreme-angular/src/ui/pivot-grid/nested/state-storing.ts
  packages/devextreme-angular/src/ui/select-box/index.ts
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/column-header-filter-search.ts
  packages/devextreme-angular/src/ui/tree-list/nested/compare-rule-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/filter-builder.ts
  packages/devextreme-angular/src/ui/tree-list/nested/search.ts
  packages/devextreme-angular/src/ui/tree-list/nested/state-storing.ts
  packages/devextreme-angular/src/ui/tree-list/nested/validation-rule-dxi.ts
  packages/devextreme-angular/src/ui/tree-view/index.ts
  packages/devextreme-angular/src/ui/validator/nested/compare-rule-dxi.ts
  packages/devextreme-angular/src/ui/validator/nested/validation-rule-dxi.ts
  pnpm-lock.yaml
Labels: force all tests, 24_2

#28413 Chat: address remarks from PMs and techwriter after reviewing the ThemeBuilder integration
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
Labels: 24_2

#28408 DataGrid - Sticky Columns: Fix borders of fixed columns when there are hidden columns
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_fixed_columns_with_small_grid_width_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_fixed_columns_with_small_grid_width_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_sticky_positions_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_sticky_positions_and_hiding_priority_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_left_fixed_column_1_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_left_fixed_column_1_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_left_fixed_column_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_left_fixed_column_2_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_right_fixed_column_1_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_right_fixed_column_1_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_right_fixed_column_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/banded_hidden_column_between_sticky_column_and_right_fixed_column_2_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_left_fixed_column_1_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_left_fixed_column_1_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_left_fixed_column_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_left_fixed_column_2_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_right_fixed_column_1_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_right_fixed_column_1_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_right_fixed_column_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/hidden_column_between_sticky_column_and_right_fixed_column_2_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withAdaptability.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/utils.ts
Labels: skip-cache, 24_2

#28384 DataGrid/TreeList: Fix grouping using column dragging when there are fixed columns
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/dragging_grouped_column_to_same_position.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/dragging_fixed_column_to_group_panel.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withGrouping.ts
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
Labels: skip-cache, 24_2

#28387 Fix running angular tests on CI
  .gitignore
  apps/angular/package.json
  apps/angular/src/polyfills.ts
  apps/demos/package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/karma.test.shim.js
  packages/devextreme-angular/package.json
  pnpm-lock.yaml
Labels: skip-cache

#28396 Remove Bootstrap < 5 (less) entities
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/src/modules/bootstrap-extractor.ts
  packages/devextreme-themebuilder/tests/modules/bootstrap-extractor.test.ts
  pnpm-lock.yaml
Labels: 24_2

#28425 Chat: override box-sizing value on scrollable-content on ios to 'border-box'
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: type/bug, 24_2

#28428 Chat: update bubble max-width
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.css
  apps/demos/Demos/Chat/Overview/React/styles.css
  apps/demos/Demos/Chat/Overview/ReactJs/styles.css
  apps/demos/Demos/Chat/Overview/Vue/App.vue
  apps/demos/Demos/Chat/Overview/jQuery/styles.css
  apps/demos/testing/etalons/Chat-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-Overview (material.blue.light).png
  apps/demos/testing/etalons/Chat-Overview.png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-typingindicator/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
Labels: skip-cache, 24_2

#28356 SelectBox: popup should have correct size when async itemTemplate is used (T1216113)
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.async.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_2

#28429 HTML Editor: update Markdown Support demo description
  apps/demos/Demos/HtmlEditor/MarkdownSupport/description.md
Labels: 24_2

#28437 Chat: add additional files into menuMeta entry point for .Net demos
  apps/demos/menuMeta.json
Labels: 24_2

#28423 Calendar: Included dates are highlighted in calendar multi-view mode (T1253076)
  packages/devextreme/js/__internal/core/utils/m_date.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.range.selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.date.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: type/bug, 24_2

#28435 HtmlEditor Markdown Support demo: update badge, name and data
  apps/demos/Demos/HtmlEditor/MarkdownSupport/Angular/app/app.service.ts
  apps/demos/Demos/HtmlEditor/MarkdownSupport/React/data.ts
  apps/demos/Demos/HtmlEditor/MarkdownSupport/ReactJs/data.js
  apps/demos/Demos/HtmlEditor/MarkdownSupport/Vue/data.ts
  apps/demos/Demos/HtmlEditor/MarkdownSupport/jQuery/data.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/HtmlEditor-MarkdownSupport (material.blue.light).png
Labels: 24_2

#28431 Header close button spike
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget_base.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
Labels: 24_2

#28438 Calendar: Included dates are highlighted in calendar multi-view mode (T1253076)
  packages/devextreme/js/__internal/ui/calendar/m_calendar.range.selection.strategy.ts
  packages/devextreme/js/core/utils/date.js
  packages/devextreme/testing/tests/DevExpress.core/utils.date.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Labels: cherry-pick, 23_2

#28386 CardView - Card - implement markup
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget_base.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/card.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/field.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/header.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/toolbar.ts
Labels: 24_2

#28432 Scheduler - The CurrentView property doesn't accept custom view names (T1256198)
  apps/demos/Demos/Scheduler/GroupOrientation/React/App.tsx
  apps/demos/Demos/Scheduler/LimitAppointmentCountPerCell/React/App.tsx
  apps/demos/Demos/Scheduler/VirtualScrolling/React/App.tsx
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28446 HtmlEditor: remove outdated jQuery description from Markdown Support …
  apps/demos/Demos/HtmlEditor/MarkdownSupport/jQuery/description.md
Labels: 24_2

#28422 CardView - implement observables
  packages/devextreme/js/__internal/core/reactive/core.ts
  packages/devextreme/js/__internal/core/reactive/index.ts
  packages/devextreme/js/__internal/core/reactive/subscription.ts
  packages/devextreme/js/__internal/core/reactive/types.ts
  packages/devextreme/js/__internal/core/reactive/utilities.test.ts
  packages/devextreme/js/__internal/core/reactive/utilities.ts
Labels: 24_2

#28444 Chat Overview demo: finishing touches
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.css
  apps/demos/Demos/Chat/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Chat/Overview/React/data.ts
  apps/demos/Demos/Chat/Overview/React/styles.css
  apps/demos/Demos/Chat/Overview/ReactJs/data.js
  apps/demos/Demos/Chat/Overview/ReactJs/styles.css
  apps/demos/Demos/Chat/Overview/Vue/App.vue
  apps/demos/Demos/Chat/Overview/Vue/data.ts
  apps/demos/Demos/Chat/Overview/jQuery/data.js
  apps/demos/Demos/Chat/Overview/jQuery/index.html
  apps/demos/Demos/Chat/Overview/jQuery/index.js
  apps/demos/Demos/Chat/Overview/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Chat-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-Overview (material.blue.light).png
  apps/demos/testing/etalons/Chat-Overview.png
Labels: 24_2

#28412 📌 Sticky columns: The row height changes when you select/focus/edit it
  e2e/testcafe-devextreme/helpers/themes.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/appearance.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_row_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_row_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: 24_2

#28436 Chat: AI Integration jQuery demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/description.md
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/data.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.html
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Chat-AIAndChatbotIntegration (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-AIAndChatbotIntegration (material.blue.light).png
  apps/demos/testing/etalons/Chat-AIAndChatbotIntegration.png
Labels: 24_2

#28443 Scheduler - The CurrentView property doesn't accept custom view names (T1256198)
  apps/demos/Demos/Scheduler/GroupOrientation/React/App.tsx
  apps/demos/Demos/Scheduler/LimitAppointmentCountPerCell/React/App.tsx
  apps/demos/Demos/Scheduler/VirtualScrolling/React/App.tsx
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#28448 Chat: Extend MessageList aria-relevant
  e2e/testcafe-devextreme/tests/accessibility/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
Labels: 24_2

#28445 Chat: change background color of bubbles in Fluent
  apps/demos/testing/etalons/Chat-Overview (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Alertlist appearance in RTL mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Alertlist with long text in error (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/chat/etalons/Alertlist with long text in error (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Alertlist with long text in error (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Alertlist with one error (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar has correct position (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar sizes do not affect indentation between bubbles (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with image (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with two word initials (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Information row with long user name (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup with 1 bubble (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup with 2 bubbles (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup with 3 bubbles (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup with 4 bubbles (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with date headers (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template after new message add (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with showDayHeaders, showUserName and showMessageTimestamp options set to false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 1 user (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 2 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 3 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with 4 users (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with a lot of items (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with emptyview (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator with long name (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Typing indicator without name (fluent-blue-light).png
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
Labels: skip-cache, 24_2

#28450 CardView - implement DI
  packages/devextreme/js/__internal/core/di/index.test.ts
  packages/devextreme/js/__internal/core/di/index.ts
Labels: 24_2

#28457 Chat: leave the badge only on the root item
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.js
  apps/demos/Demos/Chat/Overview/jQuery/index.js
  apps/demos/menuMeta.json
Labels: 24_2
