Repository DevExpress/DevExtreme, pull requests merged in 2024-07, with the labels that each got.

#27676 DataGrid: Multiple Sorting - Initially sorted columns update
  apps/demos/Demos/DataGrid/MultipleSorting/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/MultipleSorting/React/App.tsx
  apps/demos/Demos/DataGrid/MultipleSorting/ReactJs/App.js
  apps/demos/Demos/DataGrid/MultipleSorting/Vue/App.vue
  apps/demos/Demos/DataGrid/MultipleSorting/jQuery/index.js
  apps/demos/testing/etalons/DataGrid-MultipleSorting (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-MultipleSorting (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-MultipleSorting.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_2_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_3_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_4_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_4_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_4_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_5_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_5_desktop.png
Labels: 24_2

#27643 Fix e2e/testcafe inputs
  .github/workflows/testcafe_tests.yml
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
  e2e/testcafe-devextreme/project.json
Labels: 24_2

#27687 TreeList - Expand/collapse mechanism breaks after dragging action in the space between the last row and the border (T1228650)
  e2e/testcafe-devextreme/tests/treeList/rowDragging.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/testcafe-models/dataGrid/index.ts
  packages/testcafe-models/treeList/expandableCell.ts
  packages/testcafe-models/treeList/index.ts
Labels: type/bug, 24_2

#27689 Fix e2e/testcafe inputs
  .github/workflows/testcafe_tests.yml
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
  e2e/testcafe-devextreme/project.json
Labels: cherry-pick, skip-cache, 24_1

#25906 README updates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  SECURITY.md
  packages/devextreme-angular/README.md
  packages/devextreme-react/README.md
  packages/devextreme-themebuilder/README.md
  packages/devextreme-vue/README.md
  packages/devextreme/README.md
  packages/devextreme/testing/testcafe/tests/dataGrid/editing_matrix.ts
Labels: 23_2

#27695 TreeList - Expand/collapse mechanism breaks after dragging action in the space between the last row and the border (T1228650)
  e2e/testcafe-devextreme/tests/treeList/rowDragging.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/testcafe-models/dataGrid/index.ts
  packages/testcafe-models/treeList/expandableCell.ts
  packages/testcafe-models/treeList/index.ts
Labels: cherry-pick, 24_1

#27692 DataGrid: Fix horizontal virtual scrolling when the last column's width is set to auto and useNative is enabled (T1227204)
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: 24_1

#27696 README updates (#25906)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  SECURITY.md
  packages/devextreme-angular/README.md
  packages/devextreme-react/README.md
  packages/devextreme-themebuilder/README.md
  packages/devextreme-vue/README.md
  packages/devextreme/README.md
Labels: cherry-pick, 24_2

#27702 DataGrid: Fix horizontal virtual scrolling when the last column's width is set to auto and useNative is enabled (T1227204)
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: cherry-pick, 24_2

#27703 DataGrid: Fix horizontal virtual scrolling when the last column's width is set to auto and useNative is enabled (T1227204)
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: cherry-pick, 23_2

#27694 DataGrid loses grouping after the expandAll method if a grouped column has calculateDisplayValue (T1232129)
  e2e/testcafe-devextreme/tests/dataGrid/grouping/grouping.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: type/bug, 24_2

#27704 DataGrid: Fix horizontal virtual scrolling when the last column's width is set to auto and useNative is enabled (T1227204)
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: cherry-pick, 23_1

#27701 TreeList - Expand/collapse mechanism breaks after dragging action in the space between the last row and the border (T1228650)
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/model/treeList/expandableCell.ts
  testing/testcafe/model/treeList/index.ts
  testing/testcafe/tests/treeList/rowDragging.ts
Labels: cherry-pick, 23_1

#27708 DataGrid loses grouping after the expandAll method if a grouped column has calculateDisplayValue (T1232129)
  e2e/testcafe-devextreme/tests/dataGrid/grouping/grouping.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, 24_1

#27709 DataGrid loses grouping after the expandAll method if a grouped column has calculateDisplayValue (T1232129)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: cherry-pick, 23_2

#27710 DataGrid loses grouping after the expandAll method if a grouped column has calculateDisplayValue (T1232129)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Labels: cherry-pick, 23_1

#27691 Chart: axis flicker fix (T1232664)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 24_1

#27673 DataGrid - Custom Editors Demo - API calls duplicating
  apps/demos/Demos/DataGrid/CustomEditors/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/CustomEditors/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/CustomEditors/Vue/EmployeeDropDownBoxComponent.vue
  apps/demos/Demos/DataGrid/CustomEditors/jQuery/index.js
Labels: 24_2

#27660 SelectBox: Unsubscribe passed events when rendering events (T1238121)
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: type/bug, 24_2

#27715 SelectBox: Unsubscribe passed events when rendering events (T1238121)
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 24_1

#27716 SelectBox: Unsubscribe passed events when rendering events (T1238121)
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 23_2

#27712 Chart: axis flicker fix (T1232664)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 24_2

#27697 Chart: fix error on series visibility changed when minBarSize is set (T1236326)
  packages/devextreme/js/viz/core/series_family.js
  packages/devextreme/testing/helpers/chartMocks.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 24_1

#27719 Chart: fix error on series visibility changed when minBarSize is set (T1236326)
  packages/devextreme/js/viz/core/series_family.js
  packages/devextreme/testing/helpers/chartMocks.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 23_2

#27717 Descriptions: fix md links after splitting description
  apps/demos/Demos/Charts/ParetoChart/description.md
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/Scheduler/IncreaseViewDuration/description.md
  apps/demos/Demos/Scheduler/LimitAppointmentCountPerCell/description.md
Labels: 24_1

#27706 Datagrid - Pressing the Enter key in a Detail row triggers the click event of unexpected element
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: 24_2

#27718 Chart: fix error on series visibility changed when minBarSize is set (T1236326)
  packages/devextreme/js/viz/core/series_family.js
  packages/devextreme/testing/helpers/chartMocks.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.visualRangeUpdate.tests.js
Labels: 24_2

#27647 TreeView: Remove modified addContent method that appends <a> tag when url option is passed (T1237378)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: type/bug, 24_2

#27679 Drawer: Fix component open animation (T1239845)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 24_2

#27723 TreeView: Remove modified addContent method that appends <a> tag when url option is passed (T1237378)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: cherry-pick, 23_2

#27439 Fix React TreeList Memory Leak (T1230753)
  packages/devextreme-react/src/core/helpers.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/core/utils/deferred.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: 24_1

#27722 TreeView: Remove modified addContent method that appends <a> tag when url option is passed (T1237378)
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: cherry-pick, 24_1

#27725 TreeView: Remove modified addContent method that appends <a> tag when url option is passed (T1237378)
  js/ui/menu/ui.menu.js
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Labels: cherry-pick, 23_1

#27721 DataGrid - Pressing the Enter key in a Detail row triggers the click event of unexpected element (T1240353)
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: cherry-pick, 24_1

#27713 TreeView: should have focus style for CheckBox in material and fluent (T1235403)
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_treebox (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_treebox (material.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/common.ts
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (material-blue-light).png
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Labels: 24_2

#27736 TreeView: should have focus style for CheckBox in material and fluent (T1235403)
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_treebox (fluent.blue.light).png
  apps/demos/testing/widgets/dropdownbox/etalons/dropdownbox_multiple_selection_treebox (material.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/common.ts
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview checked CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview indeterminate CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview unchecked CheckBox focus (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=false (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/treeView/etalons/Treeview with custom icons cbm=normal,rtl=true (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_left (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_right (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldChooser/etalons/field-chooser_tree-item_dnd_top (material-blue-light).png
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
Labels: cherry-pick, 24_1

#27740 List: Set aria and tabindex as options (T1240184)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.static.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.button.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 24_1

#27714 VectorMap ZoomingAndCentering Demo - Use separate component methods calls instead of chain
  apps/demos/Demos/VectorMap/ZoomingAndCentering/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/ZoomingAndCentering/React/App.tsx
  apps/demos/Demos/VectorMap/ZoomingAndCentering/ReactJs/App.js
  apps/demos/Demos/VectorMap/ZoomingAndCentering/Vue/App.vue
  apps/demos/Demos/VectorMap/ZoomingAndCentering/jQuery/index.js
  apps/demos/testing/etalons/VectorMap-CustomAnnotations (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
Labels: WIP, 24_1, force all tests

#27730 chore: cherry pick react memory leak add fixes
  packages/devextreme-react/src/core/template-manager.tsx
Labels: cherry-pick, 24_1

#27727 Fix React TreeList Memory Leak (T1230753) (#27439)
  packages/devextreme-react/src/core/helpers.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/core/utils/deferred.js
  packages/devextreme/testing/tests/DevExpress.angular/widgets.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: cherry-pick, 23_2

#27726 Fix React TreeList Memory Leak (T1230753) (#27439)
  packages/devextreme-react/src/core/helpers.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme/js/__internal/events/dblclick.ts
  packages/devextreme/js/core/utils/deferred.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/views.cellTemplate.tests.js
Labels: cherry-pick, 24_2

#27745 DataGrid - Data rows are skipped during Tab navigation if the first column is hidden via hidingPriority (T1228477)
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Labels: cherry-pick, 23_2

#27743 VectorMap ZoomingAndCentering Demo - Use separate component methods calls instead of chain
  apps/demos/Demos/VectorMap/ZoomingAndCentering/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/ZoomingAndCentering/React/App.tsx
  apps/demos/Demos/VectorMap/ZoomingAndCentering/ReactJs/App.js
  apps/demos/Demos/VectorMap/ZoomingAndCentering/Vue/App.vue
  apps/demos/Demos/VectorMap/ZoomingAndCentering/jQuery/index.js
  apps/demos/testing/etalons/VectorMap-CustomAnnotations (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
Labels: cherry-pick, force all tests, 24_2

#27707 HTMLEditor: fix mediaResizing.enabled option runtime change (T1241439)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_resizing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/resizingModule.tests.js
Labels: type/bug, 24_2

#27741 Form: fix label rendering for Slider and RangeSlider (T1240185)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: type/bug, skip-cache, 24_2

#27748 HTMLEditor: fix mediaResizing.enabled option runtime change (T1241439)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_resizing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/resizingModule.tests.js
Labels: cherry-pick, 23_2

#27750 Form: fix label rendering for Slider and RangeSlider (T1240185)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 23_2

#27749 Form: fix label rendering for Slider and RangeSlider (T1240185)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 24_1

#27747 HTMLEditor: fix mediaResizing.enabled option runtime change (T1241439)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_resizing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/resizingModule.tests.js
Labels: cherry-pick, 24_1

#27705 24_1 fix vue warnings cherry pick
  apps/demos/Demos/Accordion/Overview/Vue/App.vue
  apps/demos/Demos/Common/NavigationOverview/Vue/App.vue
  apps/demos/Demos/Gantt/TaskTemplate/Vue/App.vue
  apps/demos/Demos/Gantt/Toolbar/Vue/App.vue
  apps/demos/Demos/TabPanel/SortableClosableTabs/Vue/App.vue
  apps/demos/Demos/TabPanel/Templates/Vue/App.vue
  apps/demos/Demos/VectorMap/ImageMarkers/Vue/App.vue
  apps/demos/testing/known-warnings.json
Labels: cherry-pick, skip-cache, 24_1, force all tests

#27662 Support case sensitivity option in the dataQuery
  packages/devextreme/js/core/utils/data.js
  packages/devextreme/js/data/query.d.ts
  packages/devextreme/testing/tests/DevExpress.data/queryArray.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27663 Support case sensitivity option in the dataQuery (24_2)
  packages/devextreme/js/core/utils/data.js
  packages/devextreme/js/data/query.d.ts
  packages/devextreme/testing/tests/DevExpress.data/queryArray.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#27734 Scheduler - The "element.get is not a function" error occurs in onAppointmentRendered (T1239368)
  packages/devextreme/js/core/element.js
  packages/devextreme/js/integration/jquery/element.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.JQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.nonJQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: type/bug, 24_2

#27756 Sankey: include label option in optionChangesMap (T1243009)
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
Labels: type/bug, 24_2

#27764 Sankey: include label option in optionChangesMap (T1243009)
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
Labels: cherry-pick, 23_2

#27765 Sankey: include label option in optionChangesMap (T1243009)
  packages/devextreme/js/viz/sankey/sankey.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
Labels: cherry-pick, 24_1

#27757 Scheduler - The "element.get is not a function" error occurs in onAppointmentRendered (T1239368)
  packages/devextreme/js/core/element.js
  packages/devextreme/js/integration/jquery/element.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.JQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.nonJQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: type/bug, cherry-pick, 24_1

#27758 Scheduler - The "element.get is not a function" error occurs in onAppointmentRendered (T1239368)
  packages/devextreme/js/core/element.js
  packages/devextreme/js/integration/jquery/element.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.JQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.core/getPublicElement.nonJQuery.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: type/bug, cherry-pick, 23_2

#27751 DataGrid - Hovering does not highlight rows properly (T1240074)
  e2e/testcafe-devextreme/tests/dataGrid/markup/T1240074_hoveringRows.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/grid_core/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Labels: type/bug, 24_2

#27766 DataGrid - Hovering does not highlight rows properly (T1240074)
  e2e/testcafe-devextreme/tests/dataGrid/markup/T1240074_hoveringRows.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/grid_core/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Labels: type/bug, cherry-pick, 24_1

#27762 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#27769 Chat: Register component
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/chat.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#27670 Refactor React DataGrid Simple Array demo
  apps/demos/Demos/DataGrid/SimpleArray/React/App.tsx
  apps/demos/Demos/DataGrid/SimpleArray/ReactJs/App.js
Labels: skip-cache

#27755 DataGrid - Group summary is not updated when a column is fixed on the right side (T1223764)
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Labels: type/bug, 24_2

#27784 CI: fix demos testcafe outputs
  apps/demos/project.json
Labels: 24_2

#27782 DataGrid - Group summary is not updated when a column is fixed on the right side (T1223764)
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Labels: cherry-pick, 24_1

#27783 DataGrid - Group summary is not updated when a column is fixed on the right side (T1223764)
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Labels: cherry-pick, 23_2

#27785 DataGrid - Group summary is not updated when a column is fixed on the right side (T1223764)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
Labels: 23_1

#27767 FilterBuilder - Add Condition/Group dropdown has an empty space (T1222027)
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (generic-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (material-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/index.ts
  packages/devextreme/scss/widgets/base/filterBuilder/_index.scss
  packages/testcafe-models/filterBuilder/index.ts
Labels: type/bug, skip-cache, 24_2

#27770 DateBox: update regex pattern add 'x' (T1241387)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.parts.ts
  packages/devextreme/js/localization/ldml/date.parser.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 24_2

#27788 FilterBuilder - Add Condition/Group dropdown has an empty space (T1222027)
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (generic-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/dropdown-space (material-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/index.ts
  packages/devextreme/scss/widgets/base/filterBuilder/_index.scss
  packages/testcafe-models/filterBuilder/index.ts
Labels: type/bug, cherry-pick, 24_1

#27790 FilterBuilder - Add Condition/Group dropdown has an empty space (T1222027)
  packages/devextreme/scss/widgets/base/filterBuilder/_index.scss
  packages/devextreme/testing/testcafe/model/filterBuilder/index.ts
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/dropdown-space (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/dropdown-space (generic-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/etalons/dropdown-space (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/filterBuilder/index.ts
Labels: type/bug, cherry-pick, 23_2

#27795 DateBox: update regex pattern add 'x' (T1241387)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.parts.ts
  packages/devextreme/js/localization/ldml/date.parser.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 23_2

#27794 DateBox: update regex pattern add 'x' (T1241387)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.parts.ts
  packages/devextreme/js/localization/ldml/date.parser.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 24_1

#27797 DateBox: update regex pattern add 'x' (T1241387)
  js/localization/ldml/date.parser.js
  js/ui/date_box/ui.date_box.mask.parts.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 23_1

#27786 CI: fix demos testcafe outputs
  apps/demos/project.json
Labels: 24_2

#27771 Chat: Add doc declarations
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/ng-package.json
  packages/devextreme-angular/src/ui/nested/author.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/user.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-react/src/index.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat.js
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#27774 DataGrid: Fix the onFocusedRowChanged event that does not raise when push API is used to remove a focused row (T1233973)
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: skip-cache, 24_1

#27793 Splitter: resizeEnd event should be fired after panes sizes update (T1240125)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: type/bug, 24_2

#27804 Add Chat to components list resolved against Angular umd modules for SystemJs
  apps/demos/configs/Angular/config.js
  packages/devextreme-angular/tests/src/server/component-names.ts
Labels: WIP, skip-cache, force all tests, 24_2

#27808 DataGrid: Fix the onFocusedRowChanged event that does not raise when push API is used to remove a focused row (T1233973)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/focus/focus.ts
Labels: cherry-pick, 23_2

#27807 DataGrid: Fix the onFocusedRowChanged event that does not raise when push API is used to remove a focused row (T1233973)
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: cherry-pick, 24_2

#27763 Scheduler - Appointment is rendered incorrectly in the workWeek view when the interval >= 2 (T1243027)
  e2e/testcafe-devextreme/tests/form/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  e2e/testcafe-devextreme/tests/scheduler/appointments/workWeek/etalons/work_week_interval-2.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/workWeek/interval.ts
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-0_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
Labels: type/bug, skip-cache, 24_2

#27812 Splitter: resizeEnd event should be fired after panes sizes update (T1240125)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#27813 24_2 refactor data grid simple array demo cherry-pick
  apps/demos/Demos/DataGrid/SimpleArray/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/SimpleArray/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/SimpleArray/React/App.tsx
  apps/demos/Demos/DataGrid/SimpleArray/ReactJs/App.js
  apps/demos/Demos/DataGrid/SimpleArray/Vue/App.vue
Labels: cherry-pick, 24_2

#27809 DataGrid/TreeList: add the columnFixing.legacyMode option
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/common.ts
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/fixedColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/filterRow/T1163100_changeFIlterIcon.ts
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/grouping/grouping.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/markup/group-panel/T1163515_alternateRowGroupBorders.ts
  e2e/testcafe-devextreme/tests/dataGrid/masterDetail.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/validationPopup.ts
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  e2e/testcafe-devextreme/tests/navigation/scrollable/integration.ts
  e2e/testcafe-devextreme/tests/treeList/rowDragging.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.resizing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/masterDetail.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/columnFixing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/virtualScrolling.integration.tests.js
Labels: skip-cache, 24_2

#27818 Save dx component classes when using a custom class attribute (T1243735)
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/src/core/component.ts
Labels: 24_1

#27823 NX - add widgets.json to outputs
  packages/devextreme/project.json
Labels: 24_2

#27820 CI: Fix all:build script after migration to pnpm
  .github/workflows/build_all.yml
  packages/devextreme/build/gulp/context.js
  packages/devextreme/build/gulp/gulp-data-uri.js
  tools/scripts/build-all.ts
Labels: 24_2

#27824 Save dx component classes when using a custom class attribute (T1243735)
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/src/core/component.ts
Labels: cherry-pick, 24_2

#27816 Splitter: Get rid of Cancelable from doc comment
  packages/devextreme/js/ui/splitter.d.ts
Labels: 24_2

#27817 Splitter: Get rid of Cancelable from doc comment
  packages/devextreme/js/ui/splitter.d.ts
Labels: cherry-pick, 24_1

#27815 Chat: Basic rendering
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-scss/scss/widgets/base/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat_header.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_bubble.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat.js
  packages/devextreme/testing/tests/DevExpress.serverSide/chat.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#27826 CI: Temporarily disable deps scanner
  .github/workflows/packages_publishing.yml
Labels: skip-cache, 24_2

#27819 Scheduler - Resource colors are not updated (T1243679)
  e2e/testcafe-devextreme/tests/scheduler/etalons/scheduler-appointments-should-update-color.png
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: type/bug, skip-cache, 24_2

#27833 Add GitHub Pages actions to default branch
  .github/workflows/github-pages-publish.yml
  .github/workflows/publish-demos.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
Labels: skip-cache, 24_2

#27831 NX - disable cache in themebuilder deps
  packages/devextreme-themebuilder/project.json
Labels: 24_2

#27832 Scheduler - Resource colors are not updated (T1243679)
  e2e/testcafe-devextreme/tests/scheduler/etalons/scheduler-appointments-should-update-color.png
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: type/bug, cherry-pick, skip-cache, 24_1

#27822 🎹 Pager: Migrate dom_component_wrapper from R1
  packages/devextreme/js/__internal/core/r1/dom_component_wrapper.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/number_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/number_box.tsx
Labels: skip-cache, 24_2

#27834 ScrollView UI glitch temporarily highlights text on the page when the scrollbar is used (T1240632)
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollbar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
Labels: skip-cache, 24_2

#27842 CI: fix demos testcafe outputs
  apps/demos/project.json
Labels: cherry-pick, 24_1

#27825 Chat: Add user option
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
Labels: 24_2

#27835 ScrollView UI glitch temporarily highlights text on the page when the scrollbar is used (T1240632)
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollbar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
Labels: cherry-pick, skip-cache, 24_1

#27836 ScrollView UI glitch temporarily highlights text on the page when the scrollbar is used (T1240632)
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollbar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
Labels: cherry-pick, 23_2

#27843 Fix test
  e2e/testcafe-devextreme/tests/scheduler/etalons/scheduler-appointments-should-update-color.png
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
Labels: 24_2

#27827 CI: Fix publishing to GitHub packages
  .github/workflows/packages_publishing.yml
  .github/workflows/wrapper_tests.yml
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-react/gulpfile.js
  packages/devextreme-vue/gulpfile.js
Labels: skip-cache, 24_2

#27739 Scheduler - Appointments overflow groups in certain cases (T1223907)
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/overflow.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
Labels: type/bug, skip-cache, 24_2

#27850 Fix test
  e2e/testcafe-devextreme/tests/scheduler/etalons/scheduler-appointments-should-update-color.png
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
Labels: type/bug, cherry-pick, 24_1

#27828 Chat: Add renderMessage method
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
Labels: 24_2

#27854 Scheduler - cherry-pick fixes (T1243027 & T1223907)
  e2e/testcafe-devextreme/tests/form/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  e2e/testcafe-devextreme/tests/scheduler/appointments/workWeek/etalons/work_week_interval-2.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/workWeek/interval.ts
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-0-24).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-9-14).png
  e2e/testcafe-devextreme/tests/scheduler/grouping/overflow.ts
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-0_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-1440_start-0_end-24_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
Labels: cherry-pick, 24_1

#27855 Scheduler - cherry-pick fixes (T1243027 & T1223907)
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/testing/testcafe/tests/form/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/workWeek/etalons/work_week_interval-2.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/workWeek/interval.ts
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-allDay-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-horizontal-hidden-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-allDay-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(month-vertical-hidden-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-allDay-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-horizontal-hidden-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-allDay-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-0-24).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/etalons/group-overflow-(week-vertical-hidden-9-14).png
  packages/devextreme/testing/testcafe/tests/scheduler/grouping/overflow.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_all-day_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-1440_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_timelineWorkWeek_offset-735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-0_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-1440_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_usual-appts_workWeek_offset-735_start-0_end-24_first-day-3.png
Labels: cherry-pick, 23_2

#27852 DataGrid - Grid is incorrectly rendered in DropDownBox (T1245111)
  e2e/testcafe-devextreme/tests/editors/dropDownBox/T1245111_dropDownBox_height.ts
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (generic-light).png
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Labels: type/bug, 24_2

#27841 Chat: Add onMessageSend
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
Labels: 24_2
