Repository DevExpress/DevExtreme, pull requests merged in 2024-09, with the labels that each got.

#27957 Multiview and Tabpanel: publish visible option
  packages/devextreme-angular/src/ui/multi-view/index.ts
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/tab-panel/index.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/multi-view.ts
  packages/devextreme-react/src/tab-panel.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/multi-view.ts
  packages/devextreme-vue/src/tab-panel.ts
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#27945 Update Angular to v17
  apps/angular/package.json
  apps/demos/package.json
  apps/demos/rollup.ng.umd.config.mjs
  packages/devextreme-angular/karma.test.shim.js
  packages/devextreme-angular/package.json
  pnpm-lock.yaml
Labels: force all tests

#27967 DataGrid - Add deferred selection case sensitivity support (T1234676)
  e2e/testcafe-devextreme/tests/dataGrid/selection.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/nested/base/column-chooser-selection-config.ts
  packages/devextreme-angular/src/ui/nested/selection.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.deferred.ts
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/js/ui/data_grid_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, skip-cache, 24_1

#27984 ProgressBar: Remove aria-readonly attribute
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/progressBar.tests.js
Labels: 24_2

#27969 Chat: publish dataSource option & getDataSource() method
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/core/component_registrator.d.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#27983 Chat: change the accepted types of the Message.timestamp property
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#27985 Chat: messageBox should be extended from DOMComponent
  .vscode/settings.json
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/core/widget/types.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/tsconfig.json
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat_header.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_bubble.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/core/dom_component.d.ts
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#27994 HtmlEditor: add translation for 'Border Width' in Italian (T1250873)
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: area/localization, 24_2

#27997 Icons: add `sendfilled`, `chat` icons to project
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/icons.ts
  packages/devextreme-scss/icons/dxicons.ttf
  packages/devextreme-scss/icons/dxicons.woff
  packages/devextreme-scss/icons/dxicons.woff2
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/icons/dxiconsmaterial.ttf
  packages/devextreme-scss/icons/dxiconsmaterial.woff
  packages/devextreme-scss/icons/dxiconsmaterial.woff2
  packages/devextreme-scss/images/icons/fluent/chat.svg
  packages/devextreme-scss/images/icons/fluent/sendfilled.svg
  packages/devextreme-scss/images/icons/generic/chat.svg
  packages/devextreme-scss/images/icons/generic/sendfilled.svg
  packages/devextreme-scss/images/icons/material/chat.svg
  packages/devextreme-scss/images/icons/material/sendfilled.svg
  packages/devextreme-scss/scss/widgets/base/_icons.scss
  packages/devextreme-scss/tests/icon-font.test.ts
Labels: 24_2

#27999 HtmlEditor: add translation for 'Border Width' in Italian (T1250873)
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: cherry-pick, 24_1

#28000 HtmlEditor: add translation for 'Border Width' in Italian (T1250873)
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: cherry-pick, 23_2

#27990 HtmlEditor: add aria-readonly attribute if readOnly property is initially set to true (T1248155)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Labels: 24_2

#28004 HtmlEditor: add aria-readonly attribute if readOnly property is initially set to true (T1248155)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Labels: cherry-pick, 24_1

#28005 HtmlEditor: add aria-readonly attribute if readOnly property is initially set to true (T1248155)
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
Labels: cherry-pick, 23_2

#28010 Fix filtering issues for string in different locales (T1242756)
  packages/devextreme/js/core/utils/data.js
  packages/devextreme/testing/tests/DevExpress.data/queryArray.tests.js
Labels: cherry-pick, 23_2

#28008 Fix filtering issues for string in different locales (T1242756)
  packages/devextreme/js/core/utils/data.js
  packages/devextreme/testing/tests/DevExpress.data/queryArray.tests.js
Labels: cherry-pick, 24_1

#28007 Chat: add localization keys for list empty view texts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#27982 Chat: Add basic styles by layout, mixins and variables
  packages/devextreme-scss/scss/widgets/base/chat/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-header/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-header/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-bottom.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-right.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-top.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Labels: skip-cache, 24_2

#28001 24_2 Popup Overview demo options changes
  apps/demos/Demos/Popup/Overview/React/App.tsx
  apps/demos/Demos/Popup/Overview/ReactJs/App.js
Labels: force all tests, 24_2

#27952 PivotGrid - OLAP - The E4000 error occurs if filterValues contains an item with the "unknown member" value (T1236954)
  packages/devextreme/js/__internal/grids/pivot_grid/xmla_store/m_xmla_store.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.common.tests.js
Labels: type/bug, 24_2

#27948 GitHub pages - fix a case where is no bundle.css
  apps/demos/utils/create-bundles/React/template.html
  apps/demos/utils/create-bundles/Vue/template.html
  apps/demos/utils/create-bundles/helper/index.ts
Labels: 24_1

#28003 Chat: should send message on enter key if some text is entered
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Labels: 24_2

#27893 Ignore doc changes on CI
  .github/workflows/build_all.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/pr-filter-stubs.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/wrapper_tests.yml
Labels: 24_2

#27996 Chat: Add avatarUrl
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28002 Chat: Add disabled state for button if there is no text in textarea
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Labels: skip-cache, 24_2

#27991 Chat: Hide current user name
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
Labels: skip-cache, 24_2

#28011 PivotGrid - OLAP - The E4000 error occurs if filterValues contains an…
  packages/devextreme/js/__internal/grids/pivot_grid/xmla_store/m_xmla_store.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.common.tests.js
Labels: cherry-pick, 24_1

#28018 PivotGrid - OLAP - The E4000 error occurs if filterValues contains an item with the "unknown member" value (T1236954)
  packages/devextreme/js/__internal/grids/pivot_grid/xmla_store/m_xmla_store.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.common.tests.js
Labels: cherry-pick, 23_2

#28009 Chat: implement empty list view with design
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28019 Chat: add bot.png to images/icons
  images/icons/bot.png
Labels: 24_2

#28014 Chat: Fix line breaks
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/tests/chat/common.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/testcafe-models/types.ts
Labels: 24_2

#27992 Angular: Extract DxPopupServiceComponent type
  packages/devextreme-angular/src/ui/popup/index.ts
  packages/devextreme-angular/src/ui/popup/service/service.component.ts
  packages/devextreme-angular/src/ui/popup/service/service.ts
Labels: 24_2

#28023 Chat: Fix avatar positioning
  e2e/testcafe-devextreme/tests/chat/common.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar has correct position (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar has correct position (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar has correct position (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar sizes do not affect indentation between bubbles (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar sizes do not affect indentation between bubbles (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar sizes do not affect indentation between bubbles (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Chat message bubble line breaks (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
Labels: 24_2

#28026 🎹 Pager: Support DOMComponent class properties (elementAttr, height, width)
  e2e/testcafe-devextreme/tests/pager/baseProperties.ts
  packages/devextreme/js/__internal/pager/common/base_pager_props.ts
  packages/devextreme/js/__internal/pager/common/widget.tsx
  packages/devextreme/js/__internal/pager/content.tsx
  packages/devextreme/js/__internal/pager/resizable_container.tsx
  packages/devextreme/js/__internal/pager/wrappers/pager.ts
Labels: 24_2

#28027 Update eslint-config-devextreme
  .github/renovate.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: 24_2

#28031 MessageSendEvent.message
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#28043 DataGrid - Move from depeceted 'unload' event to 'visibilitychange'
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: 24_2

#28044 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#28050 DataGrid - Move from depeceted 'unload' event to 'visibilitychange' (…
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: cherry-pick, 23_2

#28042 Update TrialPanel text
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
  packages/devextreme/testing/tests/Memory Leaks/elementsOnDispose_bundled.tests.js
Labels: 24_2

#28049 DataGrid - Move from depeceted 'unload' event to 'visibilitychange' (…
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stateStoring.tests.js
Labels: cherry-pick, 24_1

#28033 fix: selectbox keyboard navigation is broken in React Strict Mode (T1230720)
  packages/devextreme-react/build.config.js
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/template-manager.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/component-base.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Labels: cherry-pick, 23_2

#28032 fix: selectbox keyboard navigation is broken in React Strict Mode (T1230720)
  packages/devextreme-react/build.config.js
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/__tests__/template-manager.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/types.ts
Labels: cherry-pick, 24_2

#28034 🎹 Pager: Support Widget class properties (focus(), disabled, focusStateEnabled, activeStateEnabled, hoverStateEnabled)
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  e2e/testcafe-devextreme/tests/pager/baseProperties.ts
  packages/devextreme/js/__internal/core/r1/component_wrapper.ts
  packages/devextreme/js/__internal/pager/common/widget.tsx
  packages/devextreme/js/__internal/pager/content.tsx
  packages/devextreme/js/__internal/pager/resizable_container.tsx
  packages/devextreme/js/__internal/pager/wrappers/pager.ts
  packages/testcafe-models/pager/index.ts
Labels: 24_2

#28056 Chat: Normalize selectors
  e2e/testcafe-devextreme/tests/chat/messageGroup.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme/js/__internal/ui/chat/avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/header.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28057 Use version tag for DevExpress/github-actions
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/paths.yml
  .github/workflows/pr-filter-stubs.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 24_2

#28052 Update TrialPanel text
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
  packages/devextreme/testing/tests/Memory Leaks/elementsOnDispose_bundled.tests.js
Labels: 24_1

#28029 Map: implement mapId and useAdvancedMarkers options
  packages/devextreme-scss/scss/widgets/base/_map.scss
  packages/devextreme/js/__internal/ui/map/m_map.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/testing/helpers/forMap/googleMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 24_2

#28069 CI: Add automatic yes to prompts in chrome setup action
  .github/actions/setup-chrome/action.yml
Labels: force all tests

#28062 Chat: Finalize initials rendering
  e2e/testcafe-devextreme/tests/chat/avatar.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with initials (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with initials (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with initials (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with two word initials (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with two word initials (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with two word initials (material-blue-light).png
  packages/devextreme/js/__internal/ui/chat/avatar.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: skip-cache, 24_2

#28064 Chat: Update User.id default value
  packages/devextreme/js/ui/chat.d.ts
Labels: skip-cache, 24_2

#28082 Chat: Change the maxHeight of the TextArea and limit the Chat's minimum dimensions
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when input contains long text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when input contains long text (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when input contains long text (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when send button has focus (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when send button has focus (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagebox when send button has focus (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist empty with limited dimensions (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist empty with limited dimensions (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist empty with limited dimensions (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageGroup.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat/_index.scss
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Labels: 24_2

#28020 Datagrid/TreeList - Sticky Columns: Adaptation the column resizing feature
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_1_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_1_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_1_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_1_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_2_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_2_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_2_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_left_position_2_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_1_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_1_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_1_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_1_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_2_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_2_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_2_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_first_fixed_column_with_right_position_2_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_1_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_1_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_1_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_1_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_2_(nextColumn_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_2_(nextColumn_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_2_(widget_mode_and_rtl_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/resize_second_fixed_column_with_right_position_2_(widget_mode_and_rtl_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnResizing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stickyColumns.tests.js
  packages/testcafe-models/dataGrid/index.ts
Labels: skip-cache, 24_2

#27925 Scheduler - a11y - make overflow indicator accessible
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
Labels: 24_2

#28070 List: Added localization for list selectAll checkbox state (T1248140)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: area/localization, 24_2

#28071 Treeview and List: Add localization for item checkBoxes aria-label value 'Check State' (T1247518)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: area/localization, 24_2

#28085 Storybook - fix project config
  apps/react-storybook/project.json
  packages/devextreme-react/project.json
Labels: 24_2

#28087 CI: Add automatic yes to prompts in chrome setup action
  .github/actions/setup-chrome/action.yml
Labels: cherry-pick, 24_1

#28084 Chat: polish scrollable integration
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in RTL mode (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagegroup appearance in disabled state (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist empty with limited dimensions (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/testing/tests/DevExpress.serverSide/scrollView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28040 Datagrid/TreeList - Sticky Columns: Adaptation the column reordering feature
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_fixed_band_column_with_sticky_position_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_fixed_column_with_sticky_position_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_left_fixed_band_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_left_fixed_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_right_fixed_band_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/move_right_fixed_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnReordering.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/stickyColumns.tests.js
Labels: skip-cache, 24_2

#28076 Fixed a bug where the unmount component template contains two childs (T1247485)
  packages/devextreme-vue/src/core/__tests__/button.test.ts
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/templates-manager.ts
Labels: cherry-pick, skip-cache, 24_1

#28086 Chat: Add axe tests
  e2e/testcafe-devextreme/tests/accessibility/chat.ts
Labels: 24_2

#28090 Cherry Pick of Popup Overview Demo option changes
  apps/demos/Demos/Popup/Overview/React/App.tsx
  apps/demos/Demos/Popup/Overview/ReactJs/App.js
Labels: cherry-pick, skip-cache, 24_1

#28088 CI: Add automatic yes to prompts in chrome setup action
  .github/actions/setup-chrome/action.yml
Labels: cherry-pick, 23_2, skip-cache

#28091 Changed event handler parameter type
  apps/demos/Demos/DataGrid/LocalReordering/Angular/app/app.component.ts
Labels: 24_2

#28096 List: Added localization for list selectAll checkbox state (T1248140)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, skip-cache, 24_1

#28099 Treeview and List: Add localization for item checkBoxes aria-label value 'Check State' (T1247518)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: cherry-pick, 24_1

#28098 Treeview and List: Add localization for item checkBoxes aria-label value 'Check State' (T1247518)
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.checkboxes.tests.js
Labels: cherry-pick, 23_2

#28103 24_1 changed event handler parameter type cherry pick
  apps/demos/Demos/DataGrid/LocalReordering/Angular/app/app.component.ts
Labels: cherry-pick, skip-cache, 24_1

#28024 Map: add providerConfig option to .d.ts
  packages/devextreme-angular/src/ui/map/index.ts
  packages/devextreme-angular/src/ui/map/nested/index.ts
  packages/devextreme-angular/src/ui/map/nested/provider-config.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/provider-config.ts
  packages/devextreme-react/src/map.ts
  packages/devextreme-vue/src/map.ts
  packages/devextreme/js/ui/map.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28097 CI - remove dotnet from build script
  packages/devextreme/package.json
Labels: 24_2

#28074 DataGrid - Sticky Columns - support master-detail, summary & grouping
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/data.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-begin.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-center.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/grouping-scroll-end.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-begin.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-center.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-end.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withGrouping.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withMasterDetail.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/generic/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/material/dataGrid/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/const.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Labels: 24_2

#28107 DataGrid - Column Header filter does not properly work if the column caption contains double quotes (T1251768)
  e2e/testcafe-devextreme/tests/dataGrid/headerFilter/etalons/T1251768-header-filter-double-quotes.png
  e2e/testcafe-devextreme/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/js/ui/shared/accessibility.js
Labels: type/bug, 24_2

#28111 Chat: use resizeObserver to update scrollbar size and position
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist empty with limited dimensions (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar middle position after typing in textarea (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after call renderMessage() (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after send (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scrollbar position after typing in textarea (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with a lot of messages (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/testcafe-models/chat.ts
Labels: 24_2

#28094 Fixed columns: add icons for context menu
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/icons.ts
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/context-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/context-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/columnFixingIcons.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/sticky_columns_menu_icons_(material.blue.light).png
  packages/devextreme-angular/src/common/grids/index.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/data-grid/nested/icons.ts
  packages/devextreme-angular/src/ui/data-grid/nested/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/texts.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter-texts.ts
  packages/devextreme-angular/src/ui/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/nested/icons.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/texts.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/tree-list/nested/icons.ts
  packages/devextreme-angular/src/ui/tree-list/nested/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/texts.ts
  packages/devextreme-react/src/common/grids.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-scss/images/icons/fluent/fixcolumn.svg
  packages/devextreme-scss/images/icons/fluent/fixcolumnleft.svg
  packages/devextreme-scss/images/icons/fluent/fixcolumnright.svg
  packages/devextreme-scss/images/icons/fluent/stickcolumn.svg
  packages/devextreme-scss/images/icons/fluent/unfixcolumn.svg
  packages/devextreme-scss/images/icons/generic/fixcolumn.svg
  packages/devextreme-scss/images/icons/generic/fixcolumnleft.svg
  packages/devextreme-scss/images/icons/generic/fixcolumnright.svg
  packages/devextreme-scss/images/icons/generic/stickcolumn.svg
  packages/devextreme-scss/images/icons/generic/unfixcolumn.svg
  packages/devextreme-scss/images/icons/material/fixcolumn.svg
  packages/devextreme-scss/images/icons/material/fixcolumnleft.svg
  packages/devextreme-scss/images/icons/material/fixcolumnright.svg
  packages/devextreme-scss/images/icons/material/stickcolumn.svg
  packages/devextreme-scss/images/icons/material/unfixcolumn.svg
  packages/devextreme-scss/scss/widgets/base/_icons.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/tests/icon-font.test.ts
  packages/devextreme-vue/src/common/grids.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/ts/dx.all.d.ts
  packages/testcafe-models/contextMenu/index.ts
Labels: 24_2

#28119 DataGrid - Column Header filter does not properly work if the column caption contains double quotes (T1251768) #28107
  e2e/testcafe-devextreme/tests/dataGrid/headerFilter/etalons/T1251768-header-filter-double-quotes.png
  e2e/testcafe-devextreme/tests/dataGrid/headerFilter/headerFilter.ts
  packages/devextreme/js/ui/shared/accessibility.js
Labels: type/bug, cherry-pick, 24_1

#28120 DataGrid - Column Header filter does not properly work if the column caption contains double quotes (T1251768)
  packages/devextreme/js/ui/shared/accessibility.js
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/etalons/T1251768-header-filter-double-quotes.png
  packages/devextreme/testing/testcafe/tests/dataGrid/headerFilter/headerFilter.ts
Labels: type/bug, cherry-pick, 23_2

#28113 Chat: Add timeout for rendering new MessageGroup
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28106 Calendar: Improve aria-label in Multiple mode
  packages/devextreme/js/__internal/ui/calendar/m_calendar.base_view.ts
  packages/devextreme/js/core/utils/date.js
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.utils/utils.date.tests.js
Labels: 24_2

#28121 Chat: scrollable integration enhancements
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/renovation/ui/scroll_view/utils/get_scroll_top_max.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28083 Remove TWs from codeowners rules for .d.ts files
  .github/CODEOWNERS
Labels: 24_2

#28124 fix: Angular throws an error when displaying the Trial Panel in SSR mode (T1248015)
  packages/devextreme/js/__internal/core/license/license_validation.server.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
Labels: cherry-pick, 24_2
