Repository DevExpress/DevExtreme, pull requests merged in 2024-04, with the labels that each got.

#27007 fix: nested components render widgets in a detached DOM branch in React Strict Mode (T1191220, T1189864)
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/helpers.ts
Labels: 24_1

#27038 Splitter: add scenarios that were skipped to the tests
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/devextreme/testing/tests/Memory Leaks/eventsOnRefresh_bundled.tests.js
Labels: 24_1

#27008 Demos: Fix convert-to-js script
  apps/demos/Demos/Charts/BiDirectionalBarChart/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/ReactJs/App.js
  apps/demos/Demos/Gantt/ChartAppearance/React/App.tsx
  apps/demos/Demos/Gantt/ExportToPDF/React/App.tsx
  apps/demos/package.json
  package-lock.json
Labels: 24_1

#27047 Splitter: fix active state enabled when allowKeyboardNavigation is false
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_mixins.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_1

#27016 PivotGrid(T1144885): fix running total incorrect summary calculation
  packages/devextreme/js/__internal/grids/pivot_grid/summary_display_modes/m_summary_display_modes.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_partial-data_render-0.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_partial-data_render-1.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_seamless-data.png
  packages/devextreme/testing/testcafe/tests/pivotGrid/runningTotal/runningTotal.ts
Labels: 24_1

#27050 PivotGrid(T1144885): fix running total incorrect summary calculation (#27016)
  js/__internal/grids/pivot_grid/summary_display_modes/m_summary_display_modes.ts
  testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_partial-data_render-0.png
  testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_partial-data_render-1.png
  testing/testcafe/tests/pivotGrid/runningTotal/etalons/running-total_seamless-data.png
  testing/testcafe/tests/pivotGrid/runningTotal/runningTotal.ts
Labels: cherry-pick, 23_1

#27048 Splitter: avoid layout freezes during calculations in some cases while resizing or when keyboard navigation is used
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/number_comparison.ts
Labels: 24_1

#27051 Upgrade the jszip package version
  package-lock.json
  package.json
Labels: 23_1

#27052 Upgrade the jszip package version
  package-lock.json
  packages/devextreme/package.json
Labels: 23_2

#27053 Upgrade the jszip package version
  package-lock.json
  packages/devextreme/package.json
Labels: 24_1

#27054 DropDownButton: update demo description
  apps/demos/Demos/DropDownButton/Overview/description.md
Labels: 24_1

#27061 Splitter: nested splitter panes should be rendered after the rendering of all the panes of the parent splitter
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27064 BarGauge: small demo description fixes
  apps/demos/Demos/Gauges/LabelsCustomization/description.md
  apps/demos/Demos/Gauges/Palette/description.md
  apps/demos/Demos/Gauges/Tooltip/description.md
Labels: 24_1

#27058 HtmlEditor: Fix Firefox Ordered List Numbering Sequence (T1220554)
  packages/devextreme/scss/widgets/base/_htmlEditor.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/list.ts
Labels: cherry-pick, 23_2

#27059 HtmlEditor: Fix Firefox Ordered List Numbering Sequence (T1220554)
  scss/widgets/base/_htmlEditor.scss
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (fluent-blue-light).png
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (generic-light).png
  testing/testcafe/tests/htmlEditor/etalons/htmleditor-ordered-list-appearance (material-blue-light).png
  testing/testcafe/tests/htmlEditor/list.ts
Labels: cherry-pick, 23_1

#27044 Scheduler: Run QUnit tests in shadow DOM
  .github/workflows/qunit_tests-additional-renovation.yml
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.initialization.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/contentReadyEvent.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dataSource.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/keyboardNavigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/recurrenceDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/scrollToTime.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Labels: 24_1

#26972 Splitter: create Overview demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Splitter/Overview/Angular/index.html
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/index.html
  apps/demos/Demos/Splitter/Overview/React/index.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/index.html
  apps/demos/Demos/Splitter/Overview/ReactJs/index.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/Vue/index.html
  apps/demos/Demos/Splitter/Overview/Vue/index.ts
  apps/demos/Demos/Splitter/Overview/description.md
  apps/demos/Demos/Splitter/Overview/jQuery/index.html
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/Diagram-Containers (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-NodesArrayHierarchicalStructure (material.blue.light)_mask.png
  apps/demos/testing/etalons/Diagram-UICustomization (material.blue.light)_mask.png
  apps/demos/testing/etalons/Splitter-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Splitter-Overview (material.blue.light).png
  apps/demos/testing/etalons/Splitter-Overview.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_1_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_edit_state_management_insert_row_2_desktop_mask.png
Labels: 24_1, force all tests

#27079 Splitter: add pane collapsedSize option
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27071 Upgrade the jszip package version
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
Labels: 24_1

#27072 Upgrade the jszip package version [1]
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
Labels: 23_2

#27024 Calendar: Add selected date range into aria-label
  packages/devextreme/js/localization/intl/date.js
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
Labels: 24_1

#27085 CI: Update Chrome to v112
  .github/actions/pin-browsers/action.yml
  .github/workflows/qunit_tests-additional-renovation.yml
Labels: cherry-pick, 22_1

#27082 CI: Update Chrome to v112
  .github/actions/pin-browsers/action.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox active stylingMode=underlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=underlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=filled (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=outlined (material-blue-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (generic-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (generic-light-compact).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (material-blue-light).png
  testing/testcafe/tests/editors/dateBox/etalons/Datebox stylingMode=underlined (material-blue-light-compact).png
Labels: 22_2

#26924 Menu and ContextMenu: add ScrollView
  apps/demos/testing/widgets/contextmenu/ContextMenu.test.js
  apps/demos/testing/widgets/contextmenu/ContextMenuShare.test.js
  apps/demos/testing/widgets/datagrid/AjaxRequest.test.js
  apps/demos/testing/widgets/datagrid/Filtering.test.js
  apps/demos/testing/widgets/datagrid/MultipleSorting.test.js
  apps/demos/testing/widgets/datagrid/OdataService.test.js
  apps/demos/testing/widgets/datagrid/SimpleArray.test.js
  apps/demos/testing/widgets/scheduler/contextMenuIntegration.test.js
  apps/demos/testing/widgets/vectormap/TooltipHTMLSupport.test.js
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/scss/widgets/base/_contextMenu.scss
  packages/devextreme/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/testcafe/tests/navigation/contextMenu/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/drawer/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/menu/common.ts
  packages/devextreme/testing/testcafe/tests/navigation/menu/link.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/integration.ts
  packages/devextreme/testing/testcafe/tests/pivotGrid/contextMenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27062 Button: content of inner button should not be replaced (T1211763)
  packages/devextreme/js/renovation/component_wrapper/button.ts
  packages/devextreme/testing/tests/Renovation/button.tests.js
Labels: 24_1

#27090 Button: content of inner button should not be replaced (T1211763)
  packages/devextreme/js/renovation/component_wrapper/button.ts
  packages/devextreme/testing/tests/Renovation/button.tests.js
Labels: cherry-pick, 23_2

#27091 Button: content of inner button should not be replaced (T1211763)
  js/renovation/component_wrapper/button.ts
  testing/tests/Renovation/button.tests.js
Labels: cherry-pick, 23_1

#27057 VectorMap: Fix Output Order of Latitude Bounds in Viewport Array (T1213567)
  packages/devextreme/js/viz/vector_map/projection.main.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Labels: 24_1

#27084 VectorMap: Fix Output Order of Latitude Bounds in Viewport Array (T1213567)
  packages/devextreme/js/viz/vector_map/projection.main.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Labels: cherry-pick, 23_2

#27086 VectorMap: Fix Output Order of Latitude Bounds in Viewport Array (T1213567)
  js/viz/vector_map/projection.main.js
  testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Labels: cherry-pick, 23_1

#27081 Splitter: enable testing for iOS, Android, Shadow DOM
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27066 DataGrid - fix keyboard navigation of master detail
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/testcafe/model/dataGrid/masterRow.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/masterDetail/data.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/masterDetail/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/masterDetail/options.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
Labels: 24_1

#26944 Monorepo - add default workflow
  .github/workflows/default_workflow.yml
  .github/workflows/renovation.yml
Labels: skip-cache

#27055 HtmlEditor: use showdown package instead of devextreme-showdown (T1223917)
  apps/demos/Demos/HtmlEditor/OutputFormats/jQuery/description.md
  apps/demos/Demos/HtmlEditor/OutputFormats/jQuery/index.html
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/html_editor/converters/markdown.js
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  packages/devextreme/webpack.config.js
Labels: 24_1

#27073 HtmlEditor: use showdown package instead of devextreme-showdown (T1223917)
  js/ui/html_editor/converters/markdown.js
  package-lock.json
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  webpack.config.js
Labels: 23_1

#27074 HtmlEditor: use showdown package instead of devextreme-showdown (T1223917)
  js/ui/html_editor/converters/markdown.js
  package-lock.json
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  webpack.config.js
Labels: 22_2

#27076 HtmlEditor: use showdown package instead of devextreme-showdown (T1223917)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/js/ui/html_editor/converters/markdown.js
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  packages/devextreme/webpack.config.js
Labels: 23_2

#27075 HtmlEditor: use showdown package instead of devextreme-showdown (T1223917)
  js/ui/html_editor/converters/markdown.js
  package-lock.json
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  webpack.config.js
Labels: 22_1

#27088 🛠️ Refactoring | Put Grids' methods in order
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 24_1

#27098 🛠️ Refactoring | Put Grids' methods in order
  js/__internal/.eslintrc.js
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/data_grid/summary/m_summary.ts
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  js/__internal/grids/grid_core/filter/m_filter_panel.ts
  js/__internal/grids/grid_core/focus/m_focus.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  js/__internal/grids/grid_core/virtual_data_loader/m_virtual_data_loader.ts
  js/__internal/grids/tree_list/column_headers/m_column_headers.ts
  js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 23_1

#27095 🛠️ Refactoring | Put Grids' methods in order
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing_core.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Labels: 23_2

#27092 Events&Components: Fix some tests for shadow DOM
  packages/devextreme/js/core/templates/template_base.js
  packages/devextreme/testing/helpers/qunitExtensions.js
  packages/devextreme/testing/tests/DevExpress.ui.events/drag.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/baseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseAndTouchTests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/mouseTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 24_1

#27089 Splitter: localize resize handle's aria label
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
Labels: 24_1

#27097 Splitter: resize handle should not change its focused state after the pane collapses
  e2e/testcafe-devextreme/tests/navigation/splitter/keyboard.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/testcafe-models/splitter/handle.ts
Labels: 24_1

#27106 TreeList/DataGrid - Focus indicator is not visible when the Toolbar includes a DropDownButton item (T1225005)
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: type/bug, 24_1

#27110 CI - fix paths to testcafe artifacts
  .github/workflows/testcafe_tests.yml
Labels: 24_1

#27065 HtmlEditor: Add active item reading support in mentions list
  packages/devextreme/js/ui/html_editor/modules/mentions.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionIntegration.tests.js
Labels: 24_1

#27108 TreeList/DataGrid - Focus indicator is not visible when the Toolbar includes a DropDownButton item (T1225005)
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_2

#27114 Splitter: layout updating on collapse/expand
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27094 Splitter: add demo description
  apps/demos/Demos/Splitter/Overview/description.md
Labels: 24_1

#27100 Scheduler in shadow DOM: Fix drag and drop appointments
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Labels: 24_1

#27115 TreeList/DataGrid - Focus indicator is not visible when the Toolbar includes a DropDownButton item (T1225005)
  js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
Labels: cherry-pick, 23_1

#27046 CI - allow to download package-lock from artifacts
  .github/workflows/lint.yml
Labels: 24_1

#27102 Scheduler: migrate DateTableComponent
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_table_body.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table_body.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table_cell_base.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/virtual_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/const.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/types.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: 24_1

#27130 Scheduler: migrate DateTableComponent (#27102)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_table_body.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table_body.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_table_cell_base.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/virtual_row.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/const.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/types.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/date_table.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: cherry-pick, 23_2

#27124 Scheduler all day panel title migration
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: 24_1

#27134 Scheduler all day panel title migration (#27124)
  packages/devextreme/js/__internal/scheduler/__migration/components/base/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/all_day_panel_title.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: cherry-pick, 23_2

#27083 Tabs: Set correct aria and remove aria from nested buttons
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 24_1

#27093 SelectBox: add bottom margin for last item in list
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/Grouped List with correct margin bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/grouping.ts
  e2e/testcafe-devextreme/tests/editors/selectBox/common.ts
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_sizes.scss
Labels: 24_1

#27148 Build scripts: Add e2e folder to updateVersion script
  tools/scripts/common/version.ts
Labels: 24_1

#27150 CI: Add teams notifications on packages publish failure
  .github/workflows/packages_publishing.yml
Labels: 24_1

#27117 Splitter: support cancellable resize events
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27107 DataGrid - Toolbar is not shown when the toolbar.visible option is changed (T1225567)
  e2e/testcafe-devextreme/tests/dataGrid/headerPanel.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
Labels: 24_1

#27105 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (Reopen)
  e2e/testcafe-devextreme/tests/dataGrid/validation/cellEditing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: type/bug, 24_1

#27149 SelectBox: add bottom margin for last item in list
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped List with correct margin bottom (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped List with correct margin bottom (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/Grouped List with correct margin bottom (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/grouping.ts
  packages/devextreme/testing/testcafe/tests/editors/selectBox/common.ts
Labels: cherry-pick, 23_2

#27135 Scheduler: migrate TimePanelTable
  packages/devextreme/js/__internal/scheduler/__migration/components/base/time_panel_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/base/time_panel_table.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/time_panel.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: 24_1

#27063 TagBox: aria-labelledby attribute should store value of multitag id
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_1

#27120 List: Replace role with application and add aria to Select all element
  packages/devextreme/js/ui/list/ui.list.base.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.selection.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_1

#27156 Scheduler: migrate DateTableMonth
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/month/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/month/date_table_month_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: 24_1

#27152 FilterBuilder - fix demo
  apps/demos/Demos/FilterBuilder/WithList/React/App.tsx
  apps/demos/Demos/FilterBuilder/WithList/ReactJs/App.js
Labels: 24_1

#27161 Scheduler: migrate DateTableMonth (#27156)
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/month/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/month/date_table_month_cell.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/date_table_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: cherry-pick, 23_2

#27162 Scheduler: migrate DateHeaderTimeline + GroupPanel
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/timeline/date_header_timeline.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/timeline/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: 24_1

#27163 Scheduler: migrate DateHeaderTimeline + GroupPanel (#27162)
  packages/devextreme/js/__internal/scheduler/__migration/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/index.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/timeline/date_header_timeline.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/timeline/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/group_panel.ts
  packages/devextreme/js/__internal/scheduler/__migration/components/wrappers/header_panel_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: cherry-pick, 23_2

#27155 DataGrid - Horizontal Virtual Scroll - Hiding a column also hides columns to its right (T1191875)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-virtual-columns-after-reinit.png
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: 24_1

#27159 Add calling errorHandler for load in "raw" mode in customStore (T1225421)
  packages/devextreme/js/data/custom_store.js
  packages/devextreme/testing/tests/DevExpress.data/storeCustom_loadModeRaw.tests.js
Labels: cherry-pick, 24_1

#27132 FileUploader: Fix drag and drop in shadow DOM
  packages/devextreme/scss/widgets/base/_fileUploader.scss
Labels: 24_1

#27165 DataGrid - Horizontal Virtual Scroll - Hiding a column also hides columns to its right (T1191875)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-columns-after-reinit.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_1

#27164 DataGrid - Horizontal Virtual Scroll - Hiding a column also hides columns to its right (T1191875)
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/grid-virtual-columns-after-reinit.png
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
Labels: cherry-pick, 23_2

#27167 DataGrid - Toolbar is not shown when the toolbar.visible option is changed (T1225567)
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  testing/testcafe/tests/dataGrid/headerPanel.ts
Labels: cherry-pick, 23_1

#27166 DataGrid - Toolbar is not shown when the toolbar.visible option is changed (T1225567)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerPanel.ts
Labels: cherry-pick, 23_2

#27168 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (Reopen)
  js/__internal/grids/grid_core/validating/m_validating.ts
  js/__internal/grids/grid_core/views/m_rows_view.ts
  testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Labels: cherry-pick, 23_1

#27153 DataGrid/TreeList: Add GridCore widget
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/grid_core/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Labels: 24_1

#27158 DropDownButton: Replace aria roles with menu and menuitem for splitButton mode
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Labels: 24_1

#27169 DataGrid - Console displays an error when Tab navigation is used after changing the cell value (T1210910) (Reopen)
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/validation/cellEditing.ts
Labels: cherry-pick, 23_2

#27174 CI: Add teams notifications on packages publish failure
  .github/workflows/packages_publishing.yml
Labels: cherry-pick, 23_2

#27131 Chart: Fix error when scale breaks are activated (T1222629)
  packages/devextreme/js/viz/translators/translator2d.js
  packages/devextreme/testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: cherry-pick, 23_2

#27133 Chart: Fix error when scale breaks are activated (T1222629)
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.core/translator2D.tests.js
Labels: cherry-pick, 23_1

#27122 Splitter: passing props to nested splitter
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27067 DropDownButton Demo: Set Button Template for DropDownButton (Eslint Fix)
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.component.ts
  apps/demos/Demos/DropDownButton/Overview/Angular/app/app.service.ts
  apps/demos/Demos/DropDownButton/Overview/React/App.tsx
  apps/demos/Demos/DropDownButton/Overview/React/ColorIcon.tsx
  apps/demos/Demos/DropDownButton/Overview/React/DropDownButtonTemplate.tsx
  apps/demos/Demos/DropDownButton/Overview/Vue/App.vue
  apps/demos/Demos/DropDownButton/Overview/Vue/data.ts
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
Labels: 24_1

#27112 Menu and ContextMenu scrolling: fix skipped tests and improve UI/UX
  apps/demos/testing/widgets/contextmenu/ContextMenu.test.js
  apps/demos/testing/widgets/contextmenu/ContextMenuShare.test.js
  apps/demos/testing/widgets/datagrid/AjaxRequest.test.js
  apps/demos/testing/widgets/datagrid/Filtering.test.js
  apps/demos/testing/widgets/datagrid/MultipleSorting.test.js
  apps/demos/testing/widgets/datagrid/OdataService.test.js
  apps/demos/testing/widgets/datagrid/SimpleArray.test.js
  apps/demos/testing/widgets/scheduler/contextMenuIntegration.test.js
  apps/demos/testing/widgets/vectormap/TooltipHTMLSupport.test.js
  e2e/testcafe-devextreme/package.json
  e2e/testcafe-devextreme/tests/navigation/contextMenu/common.ts
  e2e/testcafe-devextreme/tests/navigation/drawer/common.ts
  e2e/testcafe-devextreme/tests/navigation/menu/common.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/menu/link.ts
  e2e/testcafe-devextreme/tests/navigation/splitter/integration.ts
  e2e/testcafe-devextreme/tests/pivotGrid/contextMenu.ts
  e2e/testcafe-devextreme/update_failed_etalons.mjs
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/package.json
  packages/devextreme/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27176 Build: enable JSX support
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/tsconfig.json
Labels: 24_1

#27180 Build: enable JSX support (#27176)
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/tsconfig.json
Labels: cherry-pick, 23_2

#27121 chore: remove angularjs integration
  apps/demos/.eslintrc.js
  apps/demos/package.json
  apps/demos/utils/interactive/add-demo.js
  apps/demos/utils/templates/AngularJS/data.js
  apps/demos/utils/templates/AngularJS/index.html
  apps/demos/utils/templates/AngularJS/index.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
  package-lock.json
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/vendor.js
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/bundles/modules/parts/core.js
  packages/devextreme/js/integration/angular.js
  packages/devextreme/js/integration/angular/action_executors.js
  packages/devextreme/js/integration/angular/component_registrator.js
  packages/devextreme/js/integration/angular/components.js
  packages/devextreme/js/integration/angular/event_registrator.js
  packages/devextreme/js/integration/angular/module.js
  packages/devextreme/js/integration/angular/template.js
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/testing/tests/Bundles/dx.all.tests.js
  packages/devextreme/testing/tests/Bundles/dx.custom.tests.js
  packages/devextreme/testing/tests/Bundles/dx.viz.tests.js
  packages/devextreme/testing/tests/Bundles/dx.web.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/__meta.json
  packages/devextreme/testing/tests/DevExpress.angular/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/componentRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/eventRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/modelIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/template.tests.js
  packages/devextreme/testing/tests/DevExpress.angular/widgets.tests.js
  packages/devextreme/webpack.config.js
Labels: 24_1

#27147 Menu: Fix disappearing of a focused root item text when menu item is opened (T1227670)
  packages/devextreme/scss/widgets/generic/menu/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27183 Menu: Fix disappearing of a focused root item text when menu item is opened (T1227670)
  packages/devextreme/scss/widgets/generic/menu/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_2

#27184 Menu: Fix disappearing of a focused root item text when menu item is opened (T1227670)
  scss/widgets/generic/menu/_index.scss
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 23_1

#27179 Build: remove redundant internal code from the artifact's bundle directory
  packages/devextreme/build/gulp/transpile.js
Labels: 24_1

#27191 Testcafe - add missing safeSizeTest
  e2e/testcafe-devextreme/helpers/safeSizeTest.ts
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/validationPopup.ts
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
Labels: 24_1

#27080 LoadPanel/LoadIndicator: set default aria configuration, and avoid loading wrapper aria when the showindicator is true
  apps/demos/testing/common.test.js
  packages/devextreme/js/ui/load_indicator.js
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
Labels: 24_1

#27193 Build: remove redundant internal code from the artifact's bundle directory
  packages/devextreme/build/gulp/transpile.js
Labels: cherry-pick, 23_2

#27194 Build: remove redundant internal code from the artifact's bundle directory
  build/gulp/transpile.js
Labels: cherry-pick, 23_1

#27203 NX - fix outputs in devextreme-main project
  packages/devextreme/project.json
Labels: 24_1

#27204 NX - fix outputs in devextreme-main project (2)
  packages/devextreme/project.json
Labels: 24_1

#27205 Scheduler: migrate Inferno components to TSX
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/core/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_title.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_text.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/ordinary_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/ordinary_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/virtual_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/virtual_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/tsconfig.json
Labels: 24_1

#27211 CI: Rollback upload-artifact action to v3
  .github/workflows/demos_visual_tests_frameworks.yml
Labels: 24_1

#27212 Scheduler: migrate Inferno components to TSX (#27205)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/core/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_title.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_text.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_vertical_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/ordinary_cell.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/ordinary_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/virtual_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/virtual_row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.ts
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/date_header_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/tsconfig.json
Labels: cherry-pick, 23_2

#27123 Splitter: consider edge cases and sync the item.size option value with the actual pane dimensions during initialization
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout_default.ts
  packages/devextreme/js/__internal/ui/splitter/utils/number_comparison.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1, force all tests

#27207 Scheduler(T1220324): resets data when Repeat switch is toggled
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-hide.png
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/recurrenceEditor.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Labels: 24_1

#27214 CI - tmp disable playground tests
  .github/workflows/playgrounds_tests.yml
Labels: 24_1

#27200 Menu scrolling: extend show and hide handlers API
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27215 Scheduler(T1220324): resets data when Repeat switch is toggled
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/testing/testcafe/model/scheduler/appointment/popup.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-hide.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointmentForm/recurrenceEditor.ts
Labels: cherry-pick, 23_2

#27210 Menu scrolling: extend show and hide handlers API (update .d.ts files)
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_1

#27181 DataGrid: Fix rows overlapping each other when dragging when virtual scrolling is enabled and rowDragging.dropFeedbackMode = "push"' (T1179218)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 24_1

#27221 Splitter: non resizable panes shouldn't change their sizes during resize
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content after window resize, pane_1.size=`100px` (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/etalons/Splitter in tab content, pane_1.size=`100px` (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/splitter/resize.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27226 Splitter: change Pane.visible option at runtime
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27224 CheckBox: Test all configuration using TestCafe
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=0.67 (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox appearance in scaled container, scale=1.15 (material-blue-light-compact).png
Labels: 24_1

#27157 TagBox: fix issue on tag aria-label being numerical instead of tagText
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_1

#27209 Splitter: fix AXE scrollable accessibility issue
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/testing/common.test.js
Labels: 24_1, force all tests

#27219 Menu Scrolling: update submenu height on dimensions changes
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27223 Scheduler(T1202036): An appointment is not distributed by day if adaptivity is enabled and the all day panel is hidden
  e2e/testcafe-devextreme/tests/scheduler/appointments/adaptive.ts
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_appts_view-month.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_appts_view-week.png
  e2e/testcafe-devextreme/tests/scheduler/appointments/etalons/adaptive_long-appts-without-all-day-panel_view-week.png
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
Labels: 24_1

#27234 DataGrid: Fix rows overlapping each other when dragging when virtual scrolling is enabled and rowDragging.dropFeedbackMode = "push"' (T1179218)
  js/__internal/m_sortable.ts
  testing/testcafe/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  testing/testcafe/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  testing/testcafe/tests/dataGrid/rowDragging.ts
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 23_1

#27235 DataGrid: Fix rows overlapping each other when dragging when virtual scrolling is enabled and rowDragging.dropFeedbackMode = "push"' (T1179218)
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179218-virtual-scrolling-dragging-row_mask.png
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 23_2

#27227 fix: ref.current.instance() is not available on ref callbacks and useLayoutEffect
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/component.tsx
  packages/devextreme-react/src/core/extension-component.tsx
Labels: 24_1

#27240 Scheduler(T1202036): An appointment is not distributed by day if adaptivity is enabled and the all day panel is hidden
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/adaptive.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/etalons/adaptive_appts_view-month.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/etalons/adaptive_appts_view-week.png
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/etalons/adaptive_long-appts-without-all-day-panel_view-week.png
Labels: cherry-pick, 23_2

#27238 DataGrid: Add displayValue and text properties for editCellTemplate (T1226432)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: 24_1

#27241 Scheduler(T1202036): An appointment is not distributed by day if adaptivity is enabled and the all day panel is hidden (#27223)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  testing/testcafe/tests/scheduler/appointments/adaptive.ts
  testing/testcafe/tests/scheduler/appointments/etalons/adaptive_appts_view-month.png
  testing/testcafe/tests/scheduler/appointments/etalons/adaptive_appts_view-week.png
  testing/testcafe/tests/scheduler/appointments/etalons/adaptive_long-appts-without-all-day-panel_view-week.png
Labels: cherry-pick, 23_1

#27247 Splitter: fix kbn collapse with rtl
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27189 ScrollView: Support for simulated scrolling in ShadowDOM
  packages/devextreme/js/events/click.js
  packages/devextreme/js/events/core/events_engine.js
  packages/devextreme/js/events/pointer/base.js
  packages/devextreme/js/events/utils/event_target.js
  packages/devextreme/testing/tests/DevExpress.ui.events/events.utils.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 24_1

#27242 Menu and ContextMenu scrolling: add visual tests
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/scrolling.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/scrolling.ts
Labels: skip-cache, 24_1

#27198 DataGrid & Scheduler - unskip stable testcafe tests
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1045321-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1045321-material.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1046688.searchPanel.png
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/masterDetail.ts
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/selection.ts
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - after scroll (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - before scroll (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/base/generic.ts
Labels: skip-cache

#27244 Splitter: it should be possible to expand the pane if it is located between already collapsed panes
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_1

#27263 Menu and ContextMenu scrolling: fix 3rd level visibility bug on iOS
  packages/devextreme/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: 24_1

#27261 DataGrid: Add displayValue and text properties for editCellTemplate (T1226432)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 23_2

#27262 DataGrid: Add displayValue and text properties for editCellTemplate (T1226432)
  js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Labels: cherry-pick, 23_1

#27232 chore: refactor trial panel
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/trial_panel.ts
  packages/devextreme/js/__internal/core/license/types.ts
  packages/devextreme/js/__internal/utils/version.ts
Labels: 24_1

#27249 Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Labels: 23_2

#27267 Scheduler(T1203033): fullscreen popup issue, add missing commit
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Labels: 23_2

#27265 Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249)
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Labels: cherry-pick, 24_1

#27266 Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices (#27249)
  js/__internal/scheduler/header/m_calendar.ts
Labels: cherry-pick, 23_1

#27185 DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903)
  e2e/testcafe-devextreme/helpers/createWidget.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: 24_1

#27250 Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: type/bug, 24_1

#27264 Scheduler: fix DST regression issue
  e2e/testcafe-devextreme/tests/scheduler/timezones/dragAndDropDst.ts
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset--60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset-60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset--60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset-60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset--60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset-60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset--60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset-60.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  e2e/testcafe-devextreme/tests/scheduler/timezones/renderCrossDst.ts
  e2e/testcafe-devextreme/tests/scheduler/timezones/renderDst.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
Labels: 24_1

#27269 Scheduler: fix DST regression issue
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/dragAndDropDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset--60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-summer_offset-60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset--60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-America-Los_Angeles-winter_offset-60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset--60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-summer_offset-60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset--60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/day_usual-appts-start-cell-dts_t-Europe-Berlin-winter_offset-60.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-local_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-summer-utc_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-local_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-America-Los_Angeles-winter-utc_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-local_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-summer-utc_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-local_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_appts-render-cross-dts_t-Europe-Berlin-winter-utc_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-America-Los_Angeles-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset--360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/etalons/week_usual-appts-render-dts_t-Europe-Berlin-summer_offset-360.png
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderCrossDst.ts
  packages/devextreme/testing/testcafe/tests/scheduler/timezones/renderDst.ts
Labels: cherry-pick, 23_2

#27277 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#27274 Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514)
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: cherry-pick, 23_2

#27275 Scheduler - targetElement parameter of the onAppointmentTooltipShowing event has a value of an unexpected type (T1226514)
  js/__internal/scheduler/m_scheduler.ts
  testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Labels: cherry-pick, 23_1

#27273 DataGrid/TreeList - It's impossible to focus a row after deleting a previous focused row with a push update (T1223903)
  js/__internal/grids/grid_core/focus/m_focus.ts
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
Labels: cherry-pick, 23_1

#27258 Scheduler(T1225772): fix horizontal workspace width calculation
  apps/demos/testing/etalons/Scheduler-CustomTemplates (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-CustomTemplates (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-CustomTemplates.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/fluent-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-rtl.png
  e2e/testcafe-devextreme/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/fluent-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  e2e/testcafe-devextreme/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  e2e/testcafe-devextreme/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=1.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=2.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=1.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=2.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-form.png
  e2e/testcafe-devextreme/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
  e2e/testcafe-devextreme/tests/scheduler/workSpace.ts
  packages/devextreme/js/__internal/scheduler/workspaces/const.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
  packages/testcafe-models/scheduler/index.ts
Labels: skip-cache, 24_1

#27271 Scheduler(T1225772): fix horizontal workspace width calculation
  js/__internal/scheduler/workspaces/const.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
  testing/testcafe/model/scheduler/index.ts
  testing/testcafe/tests/container.html
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/generic-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/etalons/material-view=day-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/customization/etalons/custom-time-panel-in-week-cross-scrolling=true.png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-day-crossScrolling=true-horizontal-grouping.png
  testing/testcafe/tests/scheduler/layout/timeIndication/etalons/shader-in-week-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=false-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=1.png
  testing/testcafe/tests/scheduler/layout/views/day/etalons/day-orientation=horizontal-allDay=true-interval=2.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month-with-form.png
  testing/testcafe/tests/scheduler/layout/views/intervalCount/etalons/start-date-in-month.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-after-scroll.png
  testing/testcafe/tests/scheduler/virtualScrolling/etalons/virtual-scrolling-month-before-scroll.png
  testing/testcafe/tests/scheduler/workSpace.ts
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.base.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpaceWithHorizontalScroll.tests.js
Labels: cherry-pick, 23_1, skip-cache

#27298 Menu scrolling demo: reduce menu width, add descriptions
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/jQuery/data.js
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
Labels: 24_1
