Repository DevExpress/DevExtreme, pull requests merged in 2024-10, with the labels that each got.

#28116 feat: add link with licensing details to warnings (24_1)
  packages/devextreme/js/core/errors.js
Labels: cherry-pick, 24_1

#28118 Chat: Support Accessibility
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
Labels: 24_2

#28125 Chat: add stories to storybook
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/data.ts
  apps/react-storybook/stories/chat/styles.css
Labels: 24_2

#28130 Revert "Storybook - fix project config (#28085)"
  apps/react-storybook/project.json
  packages/devextreme-react/project.json
Labels: 24_2

#28123 Chat: Add localization
  packages/devextreme/js/__internal/ui/chat/avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#28127 Map - deprecate Bing provider
  packages/devextreme/js/__internal/ui/map/m_map.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
Labels: 24_2

#28133 GridBaseOptions.columnFixing.texts.stickPosition -> GridBaseOptions.columnFixing.texts.stickyPosition
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/appointments.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/data-grid/nested/texts.ts
  packages/devextreme-angular/src/ui/nested/base/gantt-header-filter-texts.ts
  packages/devextreme-angular/src/ui/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/nested/texts.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/column-fixing.ts
  packages/devextreme-angular/src/ui/tree-list/nested/texts.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 24_2

#28128 MultiView: improve swipe UX when some items are hidden
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 24_2

#27874 Fix CodeQL report errors
  packages/devextreme-monorepo-tools/src/version-utils.ts
  packages/devextreme/testing/helpers/vectormaputils-tester.js
  packages/devextreme/testing/tests/DevExpress.core/utils.ajax.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
Labels: 24_2

#28141 Selection: fix selection cache updating after selection change is canceled
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.standard.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/selection.test.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: 24_2

#28137 MultiView: Add unit tests for keyboard navigation with hidden items
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 24_2

#28154 HtmlEditor: Get rid of showdown
  packages/devextreme/js/__internal/ui/html_editor/converters/m_markdown.ts
  packages/devextreme/package.json
  packages/devextreme/testing/helpers/quillDependencies/noShowdown.js
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.missingModules.tests.part1.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converters.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/events.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importShowdown.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importTurnDown.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
  packages/devextreme/webpack.config.js
  pnpm-lock.yaml
Labels: 24_2

#28163 Pager - rename filename
  packages/devextreme-angular/src/ui/pagination/index.ts
  packages/devextreme-react/src/pagination.ts
  packages/devextreme-vue/src/pagination.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/__internal/pager/common/base_pager_props.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/pagination.d.ts
  packages/devextreme/js/ui/pagination.js
  packages/devextreme/js/ui/pagination_types.d.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/pager.tests.js
  packages/devextreme/testing/tests/Renovation/compatibility.test.js
Labels: force all tests, 24_2

#28152 HtmlEditor: Get rid of turndown
  packages/devextreme/js/__internal/ui/html_editor/converters/m_markdown.ts
  packages/devextreme/package.json
  packages/devextreme/testing/helpers/quillDependencies/noTurndown.js
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.missingModules.tests.part2.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/importTurnDown.tests.js
  packages/devextreme/webpack.config.js
  pnpm-lock.yaml
Labels: 24_2

#28058 Use version tag for DevExpress/github-actions
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 24_1

#28059 Use version tag for DevExpress/github-actions
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 23_2

#28150 Replace get-changed-files action with the shared one
  .github/actions/get-changed-files/action.yml
  .github/workflows/demos_visual_tests_frameworks.yml
Labels: 24_1

#28164 Add link to EAP blog post on roadmap pages
  apps/demos/Demos/Chat/Overview/description.md
  apps/demos/Demos/DataGrid/StickyColumns/description.md
  apps/demos/Demos/TreeList/StickyColumns/description.md
Labels: 24_1

#28156 HtmlEditor: Remove markdown support
  packages/devextreme/js/__internal/ui/html_editor/converters/m_markdown.ts
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/html_editor/converters/markdown.js
  packages/devextreme/js/ui/widget/ui.errors.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converterController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/converters.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/events.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
Labels: 24_2

#28126 Map - add Azure provider in declarations
  packages/devextreme-angular/src/ui/map/index.ts
  packages/devextreme-angular/src/ui/map/nested/api-key.ts
  packages/devextreme-angular/src/ui/nested/api-key.ts
  packages/devextreme-react/src/map.ts
  packages/devextreme-vue/src/map.ts
  packages/devextreme/js/ui/map.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28173 Chat: add empty view stories
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/data.ts
Labels: 24_2

#28170 Chat: Skip message rendering on send message
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: skip-cache, 24_2

#28144 Refix "Storybook - fix project config (#28085)"
  apps/react-storybook/project.json
  packages/devextreme-react/project.json
Labels: 24_2

#28165 Scheduler a11y: appointments does not have info about reccurence
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_layout.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: 24_2

#28122 Map - support Azure provider
  packages/devextreme-scss/scss/widgets/base/_map.scss
  packages/devextreme/js/__internal/ui/map/m_map.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/js/__internal/ui/map/m_provider.ts
  packages/devextreme/testing/helpers/forMap/azureMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/map.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: 24_2

#28145 MultiView: implement selectedIndex property update when selected item is hidden
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 24_2

#28171 Chat: Add Generic color schemes
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
Labels: 24_2

#28136 Lookup: Loop focus in dropdown overlay
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 24_2

#28175 DataGrid - Toolbar values should not reset after the disabled option is changed (T1254032)
  e2e/testcafe-devextreme/tests/dataGrid/headerPanel.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
Labels: type/bug, 24_2

#28143 Grids a11y: FilterBuilder - not accessible at all
  e2e/testcafe-devextreme/tests/filterBuilder/filterBuilderA11y.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/markupTests.js
  packages/testcafe-models/filterBuilder/index.ts
Labels: 24_2

#28157 HtmlEditor: Remove valueType from .d.ts
  packages/devextreme-angular/src/ui/html-editor/index.ts
  packages/devextreme-vue/src/html-editor.ts
  packages/devextreme/js/ui/html_editor.d.ts
  packages/devextreme/js/ui/html_editor_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28181 Lookup: Update etalon
  apps/demos/testing/widgets/lookup/etalons/lookup_templates_custom_appearance.png
Labels: 24_2

#28131 Collection and DDLists - hide SelectionChanging event
  packages/devextreme-angular/src/ui/autocomplete/index.ts
  packages/devextreme-angular/src/ui/lookup/index.ts
  packages/devextreme-angular/src/ui/select-box/index.ts
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme-react/src/autocomplete.ts
  packages/devextreme-react/src/lookup.ts
  packages/devextreme-react/src/select-box.ts
  packages/devextreme-react/src/tag-box.ts
  packages/devextreme-vue/src/autocomplete.ts
  packages/devextreme-vue/src/lookup.ts
  packages/devextreme-vue/src/select-box.ts
  packages/devextreme-vue/src/tag-box.ts
  packages/devextreme/js/ui/accordion.d.ts
  packages/devextreme/js/ui/autocomplete.d.ts
  packages/devextreme/js/ui/autocomplete_types.d.ts
  packages/devextreme/js/ui/button_group.d.ts
  packages/devextreme/js/ui/collection/ui.collection_widget.base.d.ts
  packages/devextreme/js/ui/context_menu.d.ts
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_list.d.ts
  packages/devextreme/js/ui/gallery.d.ts
  packages/devextreme/js/ui/list.d.ts
  packages/devextreme/js/ui/lookup.d.ts
  packages/devextreme/js/ui/lookup_types.d.ts
  packages/devextreme/js/ui/menu.d.ts
  packages/devextreme/js/ui/multi_view.d.ts
  packages/devextreme/js/ui/select_box.d.ts
  packages/devextreme/js/ui/select_box_types.d.ts
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/js/ui/tabs.d.ts
  packages/devextreme/js/ui/tag_box.d.ts
  packages/devextreme/js/ui/tag_box_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28176 Chat: data load indication
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with long text with line breaks (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist scroll position after rendering in invisible container (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageBubble.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28179 DataGrid - Toolbar values should not reset after the disabled option is changed (T1254032)
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/headerPanel.ts
Labels: type/bug, cherry-pick, 23_2

#28177 TabPanel: test items.visible option
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: 24_2

#28142 Fix remaining CodeQL reports
  apps/demos/utils/interactive/link-repos.js
  apps/demos/utils/interactive/repos-helper.js
  packages/devextreme-monorepo-tools/src/version-utils.ts
  packages/devextreme/testing/helpers/vectormaputils-tester.js
Labels: 24_2

#28180 DataGrid - The focused state of a row with the 0 key should be restored (T1252962)
  e2e/testcafe-devextreme/tests/dataGrid/stateStoring/stateStoring.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
Labels: type/bug, 24_2

#27884 Security - scan artifacts
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/codeql_scheduler.yml
Labels: 24_2

#28186 MultiView: Fix search traversal of visible items during loop
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 24_2

#28190 DataGrid - The focused state of a row with the 0 key should be restored (T1252962)
  e2e/testcafe-devextreme/tests/dataGrid/stateStoring/stateStoring.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
Labels: type/bug, cherry-pick, 24_1

#28191 DataGrid - The focused state of a row with the 0 key should be restored (T1252962)
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Labels: type/bug, cherry-pick, 23_2

#28185 DataGrid/TreeList - Sticky Columns: Adapt the editing and filter row features
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_adaptive_detail_row_1_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_adaptive_detail_row_1_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_adaptive_detail_row_2_(rtlEnabled_=_false).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/adaptability_sticky_columns_with_adaptive_detail_row_2_(rtlEnabled_=_true).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_cell_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_cell_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_form_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_form_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_row_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_row_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-begin.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-center.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-end.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/simulated_scrollbar_with_sticky_columns_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/simulated_scrollbar_with_sticky_columns_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withFilterRow.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/const.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: skip-cache, 24_2

#28189 Map - add margin for Marker Tooltip
  packages/devextreme-scss/scss/widgets/base/_map.scss
Labels: 24_2

#28172 HtmlEditor: Implement converter option
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: skip-cache, 24_2

#28199 Chat: move markup render to QUnit.testStart() hook and use sinon's fakeTimers() for async loading
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/header.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 24_2

#28206 HtmlEditor: Get rid of markdown imports from demos
  apps/demos/Demos/HtmlEditor/OutputFormats/Angular/app/app.component.ts
  apps/demos/Demos/HtmlEditor/OutputFormats/React/App.tsx
  apps/demos/Demos/HtmlEditor/OutputFormats/ReactJs/App.js
  apps/demos/Demos/HtmlEditor/OutputFormats/Vue/App.vue
Labels: 24_2

#28207 Chat: add demonstrating of initial loading
  apps/react-storybook/stories/chat/Chat.stories.tsx
Labels: 24_2

#28192 Chat: add errors API
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/error-dxi.ts
  packages/devextreme-angular/src/ui/chat/nested/index.ts
  packages/devextreme-angular/src/ui/nested/base/chat-error-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/error-dxi.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28146 Rename validate symbols script
  packages/devextreme/build/linters/validate-non-latin-symbols.js
  packages/devextreme/package.json
Labels: 24_2

#28212 🎹 Pager: Rename to Pagination (Core)
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/pager/common/base_pagination_props.ts
  packages/devextreme/js/__internal/pager/common/pagination_props.ts
  packages/devextreme/js/__internal/pager/content.tsx
  packages/devextreme/js/__internal/pager/info.tsx
  packages/devextreme/js/__internal/pager/page_size/large.tsx
  packages/devextreme/js/__internal/pager/page_size/selector.tsx
  packages/devextreme/js/__internal/pager/page_size/small.tsx
  packages/devextreme/js/__internal/pager/pages/large.tsx
  packages/devextreme/js/__internal/pager/pages/page_index_selector.tsx
  packages/devextreme/js/__internal/pager/pages/small.tsx
  packages/devextreme/js/__internal/pager/pagination.tsx
  packages/devextreme/js/__internal/pager/resizable_container.tsx
  packages/devextreme/js/__internal/pager/wrappers/pagination.ts
  packages/devextreme/js/__internal/pager/wrappers/pagination_wrapper.ts
  packages/devextreme/js/renovation/component_wrapper/grid_pager.ts
  packages/devextreme/js/ui/pagination.js
Labels: 24_2

#28115 Fix Angular Demos for Strong Tooling
  apps/demos/Demos/Autocomplete/Overview/Angular/app/app.component.html
  apps/demos/Demos/Charts/FunnelChart/Angular/app/app.component.html
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.html
  apps/demos/Demos/FilterBuilder/WithList/Angular/app/app.component.html
  apps/demos/Demos/Gallery/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Gallery/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Gantt/ChartAppearance/Angular/app/app.component.ts
  apps/demos/Demos/Gantt/TaskTemplate/Angular/app/app.component.ts
  apps/demos/Demos/Gantt/Toolbar/Angular/app/app.component.html
  apps/demos/Demos/Gantt/Toolbar/Angular/app/app.component.ts
  apps/demos/Demos/Gauges/UpdateLinearGaugeDataAtRuntime/Angular/app/app.component.ts
  apps/demos/Demos/List/WebAPI/Angular/app/app.component.html
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.html
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/Popup/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/RangeSelector/ImageOnBackground/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/IncreaseViewDuration/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/LimitAppointmentCountPerCell/Angular/app/app.component.html
  apps/demos/Demos/Toast/Stack/Angular/app/app.component.html
  apps/demos/Demos/Toast/Stack/Angular/app/app.component.ts
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.ts
  apps/demos/Demos/TreeList/FilterPanel/Angular/app/app.component.html
Labels: skip-cache, 24_1, force all tests

#28213 ContextMenu / TabPanel onSelectionChanging
  packages/devextreme/js/ui/context_menu.js
  packages/devextreme/js/ui/tab_panel.d.ts
Labels: 24_2

#28220 Chat: skip failed tests
  e2e/testcafe-devextreme/tests/chat/errorList.ts
Labels: 24_2

#28197 🎹 Pager: Create dxPagination-* localization constants
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/pager/common/base_pagination_props.ts
  packages/devextreme/js/__internal/pager/common/pagination_config_context.ts
  packages/devextreme/js/__internal/pager/common/pagination_config_provider.tsx
  packages/devextreme/js/__internal/pager/content.tsx
  packages/devextreme/js/__internal/pager/info.tsx
  packages/devextreme/js/__internal/pager/page_size/large.tsx
  packages/devextreme/js/__internal/pager/page_size/selector.tsx
  packages/devextreme/js/__internal/pager/page_size/small.tsx
  packages/devextreme/js/__internal/pager/pages/page.tsx
  packages/devextreme/js/__internal/pager/pages/page_index_selector.tsx
  packages/devextreme/js/__internal/pager/pages/small.tsx
  packages/devextreme/js/__internal/pager/pagination.tsx
  packages/devextreme/js/__internal/pager/resizable_container.tsx
  packages/devextreme/js/__internal/pager/utils/compatibility_utils.ts
  packages/devextreme/js/__internal/pager/wrappers/pagination.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/pagination.tests.js
Labels: 24_2

#28194 Security - scan artifacts
  .github/workflows/codeql.yml
Labels: cherry-pick, 23_2

#28195 Security - scan artifacts
  .github/workflows/codeql.yml
Labels: cherry-pick, 23_1

#28196 Security - scan artifacts
  .github/workflows/codeql.yml
Labels: cherry-pick, 22_2

#28202 Scheduler a11y: Disabled time ranges are not supported
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CellTemplates/React/App.tsx
  apps/demos/Demos/Scheduler/CellTemplates/ReactJs/App.js
  apps/demos/Demos/Scheduler/CellTemplates/Vue/App.vue
  apps/demos/Demos/Scheduler/CellTemplates/jQuery/index.js
Labels: 24_2

#28218 Chat testcafe tests: mock new Date() to demonstrate 'Today' and 'Yesterday' texts inside day headers
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  e2e/testcafe-devextreme/package.json
  e2e/testcafe-devextreme/tests/chat/errorList.ts
  pnpm-lock.yaml
Labels: 24_2

#28224 Fix Angular Demos for Strong Tooling
  apps/demos/Demos/Autocomplete/Overview/Angular/app/app.component.html
  apps/demos/Demos/Charts/FunnelChart/Angular/app/app.component.html
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.html
  apps/demos/Demos/FilterBuilder/WithList/Angular/app/app.component.html
  apps/demos/Demos/Gallery/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Gallery/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Gantt/ChartAppearance/Angular/app/app.component.ts
  apps/demos/Demos/Gantt/TaskTemplate/Angular/app/app.component.ts
  apps/demos/Demos/Gantt/Toolbar/Angular/app/app.component.html
  apps/demos/Demos/Gantt/Toolbar/Angular/app/app.component.ts
  apps/demos/Demos/Gauges/UpdateLinearGaugeDataAtRuntime/Angular/app/app.component.ts
  apps/demos/Demos/List/WebAPI/Angular/app/app.component.html
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.html
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Menu/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/Popup/Scrolling/Angular/app/app.component.html
  apps/demos/Demos/RangeSelector/ImageOnBackground/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/IncreaseViewDuration/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/LimitAppointmentCountPerCell/Angular/app/app.component.html
  apps/demos/Demos/Toast/Stack/Angular/app/app.component.html
  apps/demos/Demos/Toast/Stack/Angular/app/app.component.ts
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.ts
  apps/demos/Demos/TreeList/FilterPanel/Angular/app/app.component.html
Labels: cherry-pick, force all tests, 24_2

#28221 DataGrid - Sticky columns: Stabilize testcafe tests
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/columnFixingIcons.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-begin.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-center.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/masterdetail-scroll-end.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnResizing.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withAdaptability.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withFilterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withGrouping.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withMasterDetail.ts
Labels: skip-cache, 24_2

#28205 CI: Update and enable deps scanner
  .github/workflows/packages_publishing.yml
Labels: 24_2

#28239 Splitter - skip unstable tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 24_2

#28233 🎹 Pager: Rename to Pagination (Styles)
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/base/_pagination.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/pager/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent/pagination/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/pagination/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/pagination/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/pager/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/pager/_index.scss
  packages/devextreme-scss/scss/widgets/generic/pager/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/pagination/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/pagination/_index.scss
  packages/devextreme-scss/scss/widgets/generic/pagination/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/pager/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/pagination/_colors.scss
  packages/devextreme-scss/scss/widgets/material/pagination/_index.scss
  packages/devextreme-scss/scss/widgets/material/pagination/_sizes.scss
  packages/devextreme/js/__internal/pager/common/consts.ts
  packages/devextreme/js/__internal/pager/content.tsx
  packages/devextreme/js/__internal/pager/page_size/large.tsx
  packages/devextreme/js/__internal/pager/page_size/selector.tsx
  packages/devextreme/js/__internal/pager/pages/page.tsx
  packages/devextreme/js/__internal/pager/pagination.tsx
  packages/devextreme/js/__internal/pager/utils/compatibility_utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/pagination.tests.js
Labels: 24_2

#28188 DataGrid - Only the initially focused row should be focused while scrolling in infinite/virtual mode (T1239858)
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: type/bug, 24_2

#28226 HtmlEditor: publish `converter` option
  packages/devextreme-angular/src/ui/html-editor/index.ts
  packages/devextreme-angular/src/ui/html-editor/nested/converter.ts
  packages/devextreme-angular/src/ui/html-editor/nested/index.ts
  packages/devextreme-angular/src/ui/nested/base/converter.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/converter.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-vue/src/html-editor.ts
  packages/devextreme/js/ui/html_editor.d.ts
  packages/devextreme/js/ui/html_editor_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28242 🎹 Pager: Rename to Pagination (Rename folder)
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/pagination/base_props.ts
  packages/devextreme/js/__internal/pagination/common/base_pagination_props.ts
  packages/devextreme/js/__internal/pagination/common/consts.ts
  packages/devextreme/js/__internal/pagination/common/keyboard_action_context.ts
  packages/devextreme/js/__internal/pagination/common/light_button.tsx
  packages/devextreme/js/__internal/pagination/common/pagination_config_context.ts
  packages/devextreme/js/__internal/pagination/common/pagination_config_provider.tsx
  packages/devextreme/js/__internal/pagination/common/pagination_props.ts
  packages/devextreme/js/__internal/pagination/common/types.ts
  packages/devextreme/js/__internal/pagination/common/widget.tsx
  packages/devextreme/js/__internal/pagination/content.tsx
  packages/devextreme/js/__internal/pagination/drop_down_editors/select_box.tsx
  packages/devextreme/js/__internal/pagination/editors/common/base_widget_props.ts
  packages/devextreme/js/__internal/pagination/editors/common/editor_label_props.ts
  packages/devextreme/js/__internal/pagination/editors/common/editor_props.ts
  packages/devextreme/js/__internal/pagination/editors/common/editor_state_props.ts
  packages/devextreme/js/__internal/pagination/editors/common/widget_props.ts
  packages/devextreme/js/__internal/pagination/editors/number_box.tsx
  packages/devextreme/js/__internal/pagination/info.tsx
  packages/devextreme/js/__internal/pagination/page_size/large.tsx
  packages/devextreme/js/__internal/pagination/page_size/selector.tsx
  packages/devextreme/js/__internal/pagination/page_size/small.tsx
  packages/devextreme/js/__internal/pagination/pages/large.tsx
  packages/devextreme/js/__internal/pagination/pages/page.tsx
  packages/devextreme/js/__internal/pagination/pages/page_index_selector.tsx
  packages/devextreme/js/__internal/pagination/pages/small.tsx
  packages/devextreme/js/__internal/pagination/pagination.tsx
  packages/devextreme/js/__internal/pagination/resizable_container.tsx
  packages/devextreme/js/__internal/pagination/utils/calculate_values_fitted_width.ts
  packages/devextreme/js/__internal/pagination/utils/compatibility_utils.ts
  packages/devextreme/js/__internal/pagination/utils/get_element_width.ts
  packages/devextreme/js/__internal/pagination/utils/validate_utils.test.ts
  packages/devextreme/js/__internal/pagination/utils/validation_utils.ts
  packages/devextreme/js/__internal/pagination/wrappers/pagination.ts
  packages/devextreme/js/__internal/pagination/wrappers/pagination_wrapper.ts
  packages/devextreme/js/ui/pagination.js
Labels: 24_2

#28237 Chat: implement avatarAlt in user option
  packages/devextreme/js/__internal/ui/chat/avatar.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28249 React: regenerate html-editor
  packages/devextreme-react/src/html-editor.ts
Labels: force all tests, 24_2

#28250 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#28251 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#28243 DataGrid - Only the initially focused row should be focused while scrolling in infinite/virtual mode (T1239858)
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: cherry-pick, 24_1

#28228 Chat: Publish onTyping events
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28208 DataGrid/TreeList - Sticky Columns: Adapt the keyboard navigation feature
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_shift_and_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_shift_and_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_headers_navigation_by_shift_and_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_headers_navigation_by_shift_and_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_headers_navigation_by_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_headers_navigation_by_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/withKeyboardNavigation.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/testcafe-models/dataGrid/headers/index.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: skip-cache, 24_2

#28236 Chat: add avatarAlt as User option in d.ts
  packages/devextreme-angular/src/ui/chat/nested/author.ts
  packages/devextreme-angular/src/ui/chat/nested/user.ts
  packages/devextreme-angular/src/ui/nested/author.ts
  packages/devextreme-angular/src/ui/nested/base/user.ts
  packages/devextreme-angular/src/ui/nested/user.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28258 Chat: Get rid of excessive ts-expect-error
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
Labels: 24_2

#28204 CodeQL - fix timeout in workflow
  .github/codeql/codeql-config.yml
Labels: 24_2

#28232 CI: Pass required gh-token to pr-filter action
  .github/workflows/pr-filter-stubs.yml
Labels: 24_2

#28230 DataGrid: update Toolbar Customization React demo description
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/description.md
Labels: 24_2

#28219 Chat: Add showDayHeader, showAvatar, showMessageTimestamp, showUserName properties in d.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28254 Scheduler a11y: Appointment collector button doesn't have info about date
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
Labels: 24_2

#28217 R1: move widget to common folder
  e2e/testcafe-devextreme/tests/pagination/baseProperties.ts
  packages/devextreme/js/__internal/core/r1/base_props.ts
  packages/devextreme/js/__internal/core/r1/widget.tsx
  packages/devextreme/js/__internal/pagination/common/base_pagination_props.ts
  packages/devextreme/js/__internal/pagination/content.tsx
  packages/devextreme/js/__internal/pagination/editors/common/widget_props.ts
  packages/devextreme/js/integration/knockout/component_registrator.js
Labels: 24_2

#28241 Chat: implement messageTemplate option
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template after new message add (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template after new message add (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template after new message add (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Labels: 24_2

#28261 Chat: Add showAvatar, showMessageTimestamp, showUserName properties
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28259 Map - add mapId support in google static provider
  packages/devextreme/js/__internal/ui/map/m_provider.google_static.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
Labels: 24_2

#28216 Scheduler a11y: There is no info about top-left calendar button group
  e2e/testcafe-devextreme/tests/scheduler/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 24_2

#28264 R1: remove mistaken file
  packages/devextreme/js/__internal/core/r1/utils/subscribe_to_event copy.ts
Labels: 24_2

#28240 R1: move button
  packages/devextreme/js/__internal/core/utils/combine_classes.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/button/generated_wrapper.ts
  packages/devextreme/js/__internal/ui/button/icon.tsx
  packages/devextreme/js/__internal/ui/button/index.ts
  packages/devextreme/js/__internal/ui/button/ink_ripple.tsx
  packages/devextreme/js/__internal/ui/button/props.ts
  packages/devextreme/js/__internal/ui/button/wrapper.ts
  packages/devextreme/js/renovation/components.js
  packages/devextreme/js/renovation/ui/__tests__/button.test.tsx
  packages/devextreme/js/renovation/ui/button.tsx
  packages/devextreme/js/renovation/ui/common/__tests__/icon.test.tsx
  packages/devextreme/js/renovation/ui/common/__tests__/ink_ripple.test.tsx
  packages/devextreme/js/renovation/ui/common/icon.tsx
  packages/devextreme/js/renovation/ui/common/ink_ripple.tsx
  packages/devextreme/js/ui/button.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
  packages/devextreme/testing/tests/Renovation/button.tests.js
Labels: 24_2

#28272 Bump devextreme-internal-tools to 16.0.0-beta.8
  package.json
  pnpm-lock.yaml
Labels: skip-cache, force all tests, 24_2

#28271 DataGrid - The pageIndex method should return a promise if dataSource is null (T1256070)
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
Labels: type/bug, 24_2

#28260 R1: move CheckBox
  packages/devextreme/js/__internal/core/r1/dom_component_wrapper.tsx
  packages/devextreme/js/__internal/core/r1/utils/dom.ts
  packages/devextreme/js/__internal/ui/check_box/check_box.tsx
  packages/devextreme/js/__internal/ui/check_box/check_box_icon.tsx
  packages/devextreme/js/__internal/ui/check_box/editor_base/editor.tsx
  packages/devextreme/js/__internal/ui/check_box/editor_base/editor_label_props.ts
  packages/devextreme/js/__internal/ui/check_box/editor_base/editor_state_props.ts
  packages/devextreme/js/__internal/ui/check_box/editor_base/generated_wrapper.ts
  packages/devextreme/js/__internal/ui/check_box/editor_base/text_editor_props.ts
  packages/devextreme/js/__internal/ui/check_box/editor_base/wrapper.ts
  packages/devextreme/js/__internal/ui/check_box/generated_wrapper.ts
  packages/devextreme/js/__internal/ui/check_box/index.ts
  packages/devextreme/js/__internal/ui/check_box/wrapper.ts
  packages/devextreme/js/__internal/ui/check_box/wrappers/validation_message.tsx
  packages/devextreme/js/renovation/component_wrapper/editors/__tests__/editor.test.tsx
  packages/devextreme/js/renovation/components.js
  packages/devextreme/js/renovation/ui/editors/__tests__/calendar.test.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/number_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/radio_group.test.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/switch.test.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/text_area.test.tsx
  packages/devextreme/js/renovation/ui/editors/__tests__/text_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/calendar.tsx
  packages/devextreme/js/renovation/ui/editors/check_box/__tests__/check_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/check_box/__tests__/check_box_icon.test.tsx
  packages/devextreme/js/renovation/ui/editors/check_box/check_box.tsx
  packages/devextreme/js/renovation/ui/editors/check_box/check_box_icon.tsx
  packages/devextreme/js/renovation/ui/editors/common/__tests__/editor.test.tsx
  packages/devextreme/js/renovation/ui/editors/common/editor.tsx
  packages/devextreme/js/renovation/ui/editors/common/editor_label_props.tsx
  packages/devextreme/js/renovation/ui/editors/common/editor_state_props.tsx
  packages/devextreme/js/renovation/ui/editors/common/text_editor_props.tsx
  packages/devextreme/js/renovation/ui/editors/drop_down_editors/__tests__/date_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/drop_down_editors/__tests__/select_box.test.tsx
  packages/devextreme/js/renovation/ui/editors/drop_down_editors/date_box.tsx
  packages/devextreme/js/renovation/ui/editors/drop_down_editors/select_box.tsx
  packages/devextreme/js/renovation/ui/editors/number_box.tsx
  packages/devextreme/js/renovation/ui/editors/radio_group.tsx
  packages/devextreme/js/renovation/ui/editors/switch.tsx
  packages/devextreme/js/renovation/ui/editors/text_area.tsx
  packages/devextreme/js/renovation/ui/editors/text_box.tsx
  packages/devextreme/js/renovation/ui/overlays/__tests__/validation_message.test.tsx
  packages/devextreme/js/renovation/ui/overlays/validation_message.tsx
  packages/devextreme/js/ui/check_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Labels: 24_2

#28262 Chat: add `reloadOnChange`, `Message.id` properties to d.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28268 Chat: Add showDayHeaders, showAvatar, showUserName and showMessageTimestamp options to Storybook
  apps/react-storybook/stories/chat/Chat.stories.tsx
Labels: 24_2

#28274 Chat: Add screenshot tests for Chat showAvatar, showUserName, showMessageTimeStamp options
  e2e/testcafe-devextreme/tests/chat/avatar.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Avatar with showAvatar set to false (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with showDayHeaders, showUserName and showMessageTimestamp options set to false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with showDayHeaders, showUserName and showMessageTimestamp options set to false (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with showDayHeaders, showUserName and showMessageTimestamp options set to false (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
Labels: 24_2

#28278 DataGrid - The pageIndex method should return a promise if dataSource is null (T1256070)
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
Labels: cherry-pick, skip-cache, 24_1

#28279 DataGrid - The pageIndex method should return a promise if dataSource is null (T1256070)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/pager.ts
Labels: cherry-pick, 23_2

#28265 Chat: add integration to support the DataSource's push API
  apps/react-storybook/stories/chat/Chat.stories.tsx
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 24_2

#28252 Chat: Publish typingUsers
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/index.ts
  packages/devextreme-angular/src/ui/chat/nested/typing-user-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/user-dxi.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/typing-user-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28281 Chat: Renamed onMessageSend to onMessageEntered
  apps/react-storybook/stories/chat/Chat.stories.tsx
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2

#28266 DataGrid: Add the 'Fixed and Sticky Columns' demo
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.component.css
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Angular/index.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/App.tsx
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/data.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/index.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/index.tsx
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/React/styles.css
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/App.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/data.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/index.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/index.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/ReactJs/styles.css
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/App.vue
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/data.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/index.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/Vue/index.ts
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/data.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/index.html
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/index.js
  apps/demos/Demos/DataGrid/FixedAndStickyColumns/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-FixedAndStickyColumns.png
Labels: skip-cache, 24_2

#28263 DataGrid/TreeList - Column Reordering: Change adding transparency behavior to the dragged column when there are fixed columns
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/draggable_source_column_with_fixed_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/draggable_source_column_with_fixed_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/draggable_source_column_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/stickyColumnReordering.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/const.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Labels: skip-cache, 24_2

#28256 Button: extend Button type with any string (T1255652)
  packages/devextreme-angular/src/ui/autocomplete/nested/options.ts
  packages/devextreme-angular/src/ui/button/index.ts
  packages/devextreme-angular/src/ui/color-box/nested/options.ts
  packages/devextreme-angular/src/ui/data-grid/nested/button-options.ts
  packages/devextreme-angular/src/ui/date-box/nested/options.ts
  packages/devextreme-angular/src/ui/date-range-box/nested/options.ts
  packages/devextreme-angular/src/ui/drop-down-box/nested/options.ts
  packages/devextreme-angular/src/ui/form/nested/button-options.ts
  packages/devextreme-angular/src/ui/list/nested/options.ts
  packages/devextreme-angular/src/ui/nested/base/button-options.ts
  packages/devextreme-angular/src/ui/number-box/nested/options.ts
  packages/devextreme-angular/src/ui/select-box/nested/options.ts
  packages/devextreme-angular/src/ui/tag-box/nested/options.ts
  packages/devextreme-angular/src/ui/text-box/nested/options.ts
  packages/devextreme-angular/src/ui/tree-list/nested/button-options.ts
  packages/devextreme-angular/src/ui/tree-view/nested/options.ts
  packages/devextreme/js/ui/button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 24_2
