Repository DevExpress/DevExtreme, pull requests merged in 2025-05, with the labels that each got.

#29676 CardView - create initial columns from dataSource first object
  e2e/testcafe-devextreme/tests/cardView/sorting/behavior.themes.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/sorting_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.ts
Labels: 25_1

#29747 LoadIndicator: Add Sparkle animation type
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/common.ts
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (generic-light).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with circle animation (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (fluent-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (generic-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (generic-light).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (material-blue-dark).png
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/etalons/LoadIndicator with sparkle animation (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/_loadIndicator.scss
  packages/devextreme-scss/scss/widgets/base/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/switch/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_index.scss
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_index.scss
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  packages/testcafe-models/loadindicator.ts
Labels: 25_1

#29756 HtmlEditor: Set Sparkle animation type for LoadIndicator
  packages/devextreme-scss/scss/widgets/base/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29722 AIIntegration: Remove onChunk from RequestParams in .d.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.ts
  packages/devextreme/js/__internal/core/ai_integration/test_utils/provider_mock.ts
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29638 Fix importing json module
  apps/demos/testing/common.test.js
  apps/demos/utils/create-bundles/helper/index.ts
  apps/demos/utils/visual-tests/github-ignored-list.mjs
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_2

#29736 Scheduler: fix description of appointment with template (WL0wshmQ)
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
Labels: 25_1

#29757 CardView: add playground story for card (AYjGnfon)
  apps/react-storybook/stories/assets/images/card_view/cat_small_crop.jpg
  apps/react-storybook/stories/assets/images/card_view/cat_tall.jpg
  apps/react-storybook/stories/assets/images/card_view/cat_wide.jpg
  apps/react-storybook/stories/card_view/Card.stories.tsx
Labels: 25_1

#29749 Chat.Editing: implementing API and UI for deleted messages
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template and deleted messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template and deleted messages (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with message template and deleted messages (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Labels: 25_1

#29763 Chat: implement onMessageUpdating, onMessageUpdated functionality
  e2e/testcafe-devextreme/tests/chat/etalons/Confirmation popup is shown (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Confirmation popup is shown (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/chat/etalons/Confirmation popup is shown (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Confirmation popup is shown (material-blue-light-compact).png
  packages/devextreme-scss/scss/widgets/base/_menuBase.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox-editing-preview/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/editing_preview.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/editingPreview.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/editingPreview.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29678 CardView: Page count in Pager component does not change after filtration
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
Labels: 25_1

#29772 LoadIndicator: Remove Themebuilder vars && Replace sizes in HtmlEditor
  packages/devextreme-scss/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_colors.scss
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
Labels: 25_1

#29774 Chat Editing: focus input after Edit menu item clicked
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: 25_1

#29765 Chat: add animation on edited text show/hide
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox-editing-preview/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat/_index.scss
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: 25_1

#29752 CardView - calculateCellValue should return dates for date-like type columns
  apps/react-storybook/stories/card_view/CardView.stories.tsx
  e2e/testcafe-devextreme/tests/cardView/headerFilter/etalons/card-view_header-filter_popup-with-tree (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerFilter/etalons/card-view_header-filter_popup-with-tree (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerFilter/etalons/card-view_header-filter_popup-with-tree (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerFilter/visual.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
Labels: 25_1

#29773 ContextMenu: Style in fluent theme was changed
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1257970-datagrid-menu-icon-contrast-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/context-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/context-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/filter-row-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/filter-row-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/sticky_columns_context_menu_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu selected focused item (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu less than root item, bottom collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Items should have links if item.url is set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Items with link should have correct focus style (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Items without link should have correct focus style (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu render items (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu selected focused item (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/PivotGrid contextmenu width (fluent-blue-light).png
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_sizes.scss
Labels: 25_1

#29785 Stepper: fix selected item after selection cancelled and item is updated
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29721 fix: mark Template component as 'use client'
  packages/devextreme-react/src/core/template.tsx
Labels: cherry-pick, 25_1

#29787 DataGrid: fix Ctrl+Arrow movement when in the same page more than 1 DataGrid (T1285596) (#29782)
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/ui/shared/accessibility.js
  packages/devextreme/testing/helpers/gridBaseMocks.js
Labels: type/bug, cherry-pick, 24_1

#29786 DataGrid: fix Ctrl+Arrow movement when in the same page more than 1 DataGrid (T1285596) (#29782)
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/pagination/content.tsx
  packages/devextreme/js/__internal/pagination/resizable_container.tsx
  packages/devextreme/js/__internal/pagination/wrappers/pagination.ts
  packages/devextreme/js/ui/shared/accessibility.js
  packages/devextreme/testing/helpers/gridBaseMocks.js
Labels: type/bug, cherry-pick, 24_2

#29780 Chat: implement Message Editing demo
  apps/demos/Demos/Chat/MessageEditing/Chat-Message-Edit.png
  apps/demos/Demos/Chat/MessageEditing/client-script.js
  apps/demos/Demos/Chat/MessageEditing/jQuery/data.js
  apps/demos/Demos/Chat/MessageEditing/jQuery/index.html
  apps/demos/Demos/Chat/MessageEditing/jQuery/index.js
  apps/demos/Demos/Chat/MessageEditing/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Chat-MessageEditing (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-MessageEditing (material.blue.light).png
  apps/demos/testing/etalons/Chat-MessageEditing.png
Labels: 25_1

#29784 CI: Update PR filter stubs
  .github/workflows/pr-filter-stubs.yml
Labels: cherry-pick, 24_2

#29781 Scheduler: toolbar story. Add custom set of toolbar items (qte49aJ8)
  apps/react-storybook/stories/scheduler/SchedulerToolbar.stories.tsx
  apps/react-storybook/stories/scheduler/data.ts
Labels: 25_1

#29793 HtmlEditor: add Informer to aiDialog to show error state
  apps/demos/testing/widgets/contextmenu/etalons/ccontext_menu_templates_custom_appearance (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_share_visible (fluent.blue.light).png
  apps/demos/testing/widgets/contextmenu/etalons/context_menu_templates_submenus_visible (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_ajax_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_by_range_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_multiple_sorting_5_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_odata_service_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_simple_array_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (fluent.blue.light).png
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29669 Add link to EAP blog post and 2x img on In progress pages
  apps/demos/Demos/CardView/Overview/cardview.png
  apps/demos/Demos/CardView/Overview/cardview@2x.png
  apps/demos/Demos/Chat/ImageRendering/Chat-Image.png
  apps/demos/Demos/Chat/ImageRendering/chat-image-rendering@2x.png
  apps/demos/Demos/Chat/MessageEditing/Chat-Message-Edit.png
  apps/demos/Demos/Chat/MessageEditing/chat-message-editing@2x.png
  apps/demos/Demos/HtmlEditor/AITextEditing/HtmlEditorAi.png
  apps/demos/Demos/HtmlEditor/AITextEditing/html-ai@2x.png
  apps/demos/Demos/Scheduler/ToolbarCustomization/description.md
  apps/demos/Demos/Scheduler/ToolbarCustomization/scheduler-toolbar@2x.png
  apps/demos/Demos/Stepper/Overview/Stepper.png
  apps/demos/Demos/Stepper/Overview/description.md
  apps/demos/Demos/Stepper/Overview/stepper@2x.png
Labels: 24_2

#29694 Add new common/ai-integration module SystemJs bundler mappings (all frameworks) + Angular specific umd
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.bundle.js
  apps/demos/configs/ReactJs/config.bundle.js
  apps/demos/configs/Vue/config.bundle.js
  apps/demos/rollup.devextreme-angular.umd.config.mjs
Labels: 25_1

#29790 Unskip tests after chrome 133 update
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_1

#29791 Unskip tests after chrome 133 update
  e2e/testcafe-devextreme/tests/navigation/menu/common.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_2

#29789 Unskip tests after chrome 133 update
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.async.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 25_1

#29109 Scheduler - publish Toolbar - implement API
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-angular/src/ui/scheduler/nested/index.ts
  packages/devextreme-angular/src/ui/scheduler/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/nested/options-item-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/nested/options.ts
  packages/devextreme-angular/src/ui/scheduler/nested/toolbar-item-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/nested/toolbar.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/js/ui/scheduler_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  tools/ng-smd-cfg.json
  tools/smd-cfg.json
Labels: force all tests, 25_1

#29783 ButtonGroup/AIDialog: Prevent enter keydown event && Prevent update dialog state on hide
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_formDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
Labels: 25_1

#29794 HTMLEditor: Add doc id for AIIntegration error
  packages/devextreme/js/core/errors.js
Labels: skip-cache, 25_1

#29767 Chat: the Storybook story is added for Editing feature
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/styles.css
Labels: 25_1

#29802 CardView: Add human readable story for toolbar (aqaMoxJ3)
  apps/react-storybook/stories/card_view/parts/Card.stories.tsx
  apps/react-storybook/stories/card_view/parts/Toolbar.stories.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/toolbar.ts
Labels: 25_1

#29595 DataGrid - ContextMenu - Create BC
  packages/devextreme-angular/src/common/grids/index.ts
  packages/devextreme-react/src/common/grids.ts
  packages/devextreme-vue/src/common/grids.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/js/ui/data_grid.d.ts
  packages/devextreme/js/ui/data_grid_types.d.ts
  packages/devextreme/js/ui/tree_list.d.ts
  packages/devextreme/js/ui/tree_list_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29779 DataGrid - A new row is added above the existing row if the data source is empty or contains only one record and newRowPosition is set to "pageBottom" (T1287287)
  e2e/testcafe-devextreme/tests/dataGrid/common/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/newRowPosition-pageBottom-add-row-to-bottom.png
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: 25_1

#29810 DataGrid - A new row is added above the existing row if the data source is empty or contains only one record and newRowPosition is set to "pageBottom" (T1287287)
  e2e/testcafe-devextreme/tests/dataGrid/common/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/newRowPosition-pageBottom-add-row-to-bottom.png
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 24_2

#29811 DataGrid - A new row is added above the existing row if the data source is empty or contains only one record and newRowPosition is set to "pageBottom" (T1287287)
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/newRowPosition-pageBottom-add-row-to-bottom.png
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 24_1

#29814 HtmlEditor: no empty ai request should be sent on runtime switch to askAI command
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29812 List: fix animation on collapse group (T1282693)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 25_1

#29813 List: fix animation on collapse group (T1282693)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 24_2

#29815 List: fix animation on collapse group (T1282693)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 24_1

#29820 Stepper: update screenshot tests for items (remove hover)
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/additional-form/additional-form.component.html
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/dates-form/dates-form.component.html
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/guests-form/guests-form.component.html
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/room-meal-plan-form/room-meal-plan-form.component.html
  e2e/testcafe-devextreme/tests/navigation/stepper/common.ts
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (material-blue-light).png
Labels: 25_1

#29803 HtmlEditor: Close AIDialog by esc
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/formDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/js/__internal/ui/informer/informer.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Labels: 25_1

#29822 dxDiagram - fix T1289661 (reset input after import)
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 24_1

#29824 dxDiagram - fix T1289661 (reset input after import)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 25_1

#29823 dxDiagram - fix T1289661 (reset input after import)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 24_2

#29825 Scheduler: fix recurrence editor styles (6OOuIco7)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/recurrence-editor_after-hide.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  e2e/testcafe-devextreme/tests/scheduler/common/etalons/form-after-change-allday-and-reccurence-options.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_generic.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_material.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/dx-number-boxes-not-integer-chars.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-by-function-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/enabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/enabled-by-function-appointment.png
  packages/devextreme-scss/scss/widgets/fluent/recurrenceEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/recurrenceEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/recurrenceEditor/_sizes.scss
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Labels: type/bug, cherry-pick, 24_1

#29807 Move in metadata augmentations for components generation
  package.json
  packages/devextreme-angular/build.config.js
  packages/devextreme-react/gulpfile.js
  packages/devextreme-vue/gulpfile.js
  pnpm-lock.yaml
  tools/generators-config.js
Labels: 25_1

#29751 DataGrid: Implement grouping/ungrouping via keyboard
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_column_via_context_menu_when_showWhenGrouped_is_true_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_column_via_context_menu_when_showWhenGrouped_is_true_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_column_via_keyboard_when_showWhenGrouped_is_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_last_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_last_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_last_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_second_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_second_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_second_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_single_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_single_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_single_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_when_showWhenGrouped_is_true_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_when_showWhenGrouped_is_true_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_via_context_menu_when_showWhenGrouped_is_true_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_via_context_menu_when_showWhenGrouped_is_true_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_when_pressing_delete.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_when_pressing_backspace.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_when_pressing_backspace.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_on_backspace_when_there_is_command_column.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_when_pressing_backspace.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/groupColumnReordering.visual.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_group_panel_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/const.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_column_context_menu_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_focus_dispatcher.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Labels: skip-cache, 25_1

#29828 Chat Editing configuration components for frameworks
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/editing.ts
  packages/devextreme-angular/src/ui/chat/nested/index.ts
  packages/devextreme-angular/src/ui/nested/editing.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  tools/generators-config.js
Labels: 25_1

#29827 CardView - Resolve path to @preact/signals-core in demos
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
Labels: WIP, force all tests, 25_1

#29809 Chat: extend Message type with a custom property
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29816 Chat: it should be possible to update one item or item's field (T1290746)
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: 25_1

#29800 CardView: column option updates (eQk77HTM)
  e2e/testcafe-devextreme/tests/cardView/sorting/behavior.themes.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_settings/extract_columns_options_change.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_settings/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_settings/strategy.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_settings/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_settings/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/common.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/parse_value/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/parse_value/parse_value.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/parse_value/parse_value.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/tree/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/tree/tree.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils/tree/tree.ts
Labels: 25_1

#29770 DataGrid - Column reordering: Implement autoscroll
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  apps/react-storybook/stories/examples/datagrid/data.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/columnReordering.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_left_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_left_when_column_reordering_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_right_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_right_when_column_reordering_when_virtual_columns_are_enabled.png
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: skip-cache, 25_1

#29801 DataGrid: fix height when a row is marked deleted (T1286265)
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop.png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/T1286265_deletedRowHeight.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (material.blue.light.compact).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, 25_1

#29698 Chat: Add image rendering
  e2e/testcafe-devextreme/tests/chat/data/index.ts
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with image (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with image (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with image (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with small image (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with small image (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Bubbles with small image (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageBubble.ts
  packages/devextreme-angular/src/ui/chat/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, force all tests, 25_1

#29840 Set exact devextreme peer dep version using workspace protocol
  apps/angular/package.json
  apps/demos/package.json
  apps/react-storybook/package.json
  apps/react/package.json
  apps/vue/package.json
  e2e/testcafe-devextreme/package.json
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/package.json
  packages/testcafe-models/package.json
  pnpm-lock.yaml
Labels: 25_1

#29837 HtmlEditor: add jquery "AI-powered Text Editing" demo
  apps/demos/Demos/HtmlEditor/AITextEditing/HtmlEditorAi.png
  apps/demos/Demos/HtmlEditor/AITextEditing/jQuery/data.js
  apps/demos/Demos/HtmlEditor/AITextEditing/jQuery/index.html
  apps/demos/Demos/HtmlEditor/AITextEditing/jQuery/index.js
  apps/demos/Demos/HtmlEditor/AITextEditing/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/HtmlEditor-AITextEditing (fluent.blue.light).png
  apps/demos/testing/etalons/HtmlEditor-AITextEditing (material.blue.light).png
  apps/demos/testing/etalons/HtmlEditor-AITextEditing.png
Labels: 25_1

#29838 DataGrid: fix height when a row is marked deleted (T1286265) (#29801) (24_2)
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop.png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/T1286265_deletedRowHeight.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-no-row-lines-and-no-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-fixed-column (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/etalons/datagrid-deleted-row-height-row-lines-and-no-fixed-column (material.blue.light.compact).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, cherry-pick, 24_2

#29833 HtmlEditor: Improve aria-attributes support in AIDialog and ai toolbar item
  packages/devextreme/js/__internal/ui/html_editor/modules/m_toolbar.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
Labels: 25_1

#29832 DataGrid/TreeList - Support new shortcuts for quick navigation through grid rows
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/focus_first_cell_in_first_row_when_pressing_Ctrl_+_Home_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/focus_first_cell_in_row_that_contains_focus_when_pressing_Home_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/focus_last_cell_in_last_row_when_pressing_Ctrl_+_End_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/focus_last_cell_in_row_that_contains_focus_when_pressing_End_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_first_row_when_pressing_Ctrl_+_Home_key_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_first_row_when_pressing_Ctrl_+_Home_key_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_first_row_when_virtual_scrolling_is_enabled_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_first_row_when_virtual_scrolling_is_enabled_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_row_that_contains_focus_when_pressing_Home_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_row_that_contains_focus_when_row_dragging_is_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_first_cell_in_row_that_contains_focus_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_last_cell_in_last_row_when_pressing_Ctrl_+_End_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_last_cell_in_last_row_when_virtual_scrolling_is_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_last_cell_in_row_that_contains_focus_when_focusedRowEnabled_is_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_last_cell_in_row_that_contains_focus_when_pressing_End_key.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigate_to_last_cell_in_row_that_contains_focus_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/navigation_should_not_work_when_pressing_End_when_row_is_in_edit_state.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.visual.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
Labels: skip-cache, 25_1

#29846 HtmlEditor: fix popup's padding for last toolbar item after toolbarMenu enabling
  packages/devextreme-scss/scss/widgets/base/_htmlEditor.scss
Labels: 25_1

#29758 DataGrid - Validation message gets cut off in Fluent and Material themes (T1285387)
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-material.blue.light.png
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
Labels: 25_1

#29844 DataGrid: Add shortcuts for ungroup and ungroup all columns
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_when_pressing_Shift_+_Alt_+_G.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_when_pressing_Shift_+_Alt_+_G_on_header.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_when_pressing_Ctrl_+_Shift_+_G.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_when_pressing_ctrl_+_shift_+_g_if_showWhenGrouped_is_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/groupColumnReordering.visual.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_column_keyboard_navigation_mixin.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_group_panel_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
Labels: skip-cache, 25_1

#29845 DataGrid: Fix double calling of the onKeyDown event for headers and group panel
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/m_accessibility.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
Labels: skip-cache, 25_1

#29849 DataGrid - Validation message gets cut off in Fluent and Material themes (T1285387)
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping-material.blue.light.png
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
Labels: cherry-pick, 24_2

#29850 DataGrid - Validation message gets cut off in Fluent and Material themes (T1285387)
  e2e/testcafe-devextreme/tests/dataGrid/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/etalons/Invalid-message-word-wrapping-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/validation/etalons/Invalid-message-word-wrapping-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/validation/etalons/Invalid-message-word-wrapping-material.blue.light.png
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
Labels: cherry-pick, 24_1

#29817 DataGrid - dxContextMenu is not shown for group rows if Shift+F10 or the menu key is used (T1286943)
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
Labels: 25_1

#29852 HtmlEditor: add vue, react, angular AITextEditing demo
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.component.css
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.component.html
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.component.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.service.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/index.html
  apps/demos/Demos/HtmlEditor/AITextEditing/React/App.tsx
  apps/demos/Demos/HtmlEditor/AITextEditing/React/data.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/React/index.html
  apps/demos/Demos/HtmlEditor/AITextEditing/React/index.tsx
  apps/demos/Demos/HtmlEditor/AITextEditing/React/styles.css
  apps/demos/Demos/HtmlEditor/AITextEditing/ReactJs/App.js
  apps/demos/Demos/HtmlEditor/AITextEditing/ReactJs/data.js
  apps/demos/Demos/HtmlEditor/AITextEditing/ReactJs/index.html
  apps/demos/Demos/HtmlEditor/AITextEditing/ReactJs/index.js
  apps/demos/Demos/HtmlEditor/AITextEditing/ReactJs/styles.css
  apps/demos/Demos/HtmlEditor/AITextEditing/Vue/App.vue
  apps/demos/Demos/HtmlEditor/AITextEditing/Vue/data.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/Vue/index.html
  apps/demos/Demos/HtmlEditor/AITextEditing/Vue/index.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/jQuery/index.js
  apps/demos/testing/common.test.js
Labels: 25_1

#29847 Chat MessageEditing demo: handle editing as a nested component
  apps/demos/Demos/Chat/MessageEditing/Angular/app/app.component.html
  apps/demos/Demos/Chat/MessageEditing/Angular/app/app.component.ts
  apps/demos/Demos/Chat/MessageEditing/React/App.tsx
  apps/demos/Demos/Chat/MessageEditing/ReactJs/App.js
  apps/demos/Demos/Chat/MessageEditing/Vue/App.vue
Labels: skip-cache, force all tests, 25_1

#29834 Chat: it should be possible to update one item or item's field (T1290746)
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Labels: cherry-pick, 24_2

#29857 DataGrid - dxContextMenu is not shown for group rows if Shift+F10 or the menu key is used (T1286943)
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
Labels: cherry-pick, 24_2

#29858 DataGrid - dxContextMenu is not shown for group rows if Shift+F10 or the menu key is used (T1286943)
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
Labels: cherry-pick, 24_1

#29860 HtmlEditor: Move the execution abort to Popup.onHiding && Skip execution in onValueChanged
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/formDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
Labels: 25_1

#29861 CardView: hotfix react + nextjs ssr critical issue (FFYYQZIf)
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_focus_trap.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_navigation_container.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_key_down_handler.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_navigation_item.tsx
Labels: 25_1

#29727 Demos: add missing dev peer dep for stylelint-config-recommended-vue
  apps/demos/package.json
  package-lock.json
Labels: 24_1

#29854 Menu: clear focusedElement on submenu hiding (T1291581)
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 24_2

#29853 Menu: fix focusedElement on submenu hiding (T1291581)
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: force all tests, 25_1

#29855 Menu: clear focusedElement on submenu hiding (T1291581)
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 24_1

#29880 HtmlEditor: Replace Stop button with Cancel button
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29826 Tests: The utility to help skip tests on unsupported devices was added
  packages/devextreme/testing/helpers/chat.js
  packages/devextreme/testing/helpers/device.js
  packages/devextreme/testing/helpers/fileManagerHelpers.js
  packages/devextreme/testing/tests/DevExpress.animation/position.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editorFactory.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.strategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/mentionModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/markupTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toast.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.disabled.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
  packages/devextreme/testing/tests/DevExpress.ui/dialog.tests.js
Labels: refactoring, skip-cache, force all tests, 25_1

#29868 CardView: Fix pager after filter was reset
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_controller.ts
Labels: 25_1

#29882 DataGrid - NVDA reads column information twice (T1286287)
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (material.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (material.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem_mask.png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure (material.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure (material.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure.png
  apps/demos/testing/etalons/FileManager-BindingToHierarchicalStructure_mask.png
  apps/demos/testing/etalons/FileManager-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-Overview (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-Overview (material.blue.light).png
  apps/demos/testing/etalons/FileManager-Overview (material.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-Overview.png
  apps/demos/testing/etalons/FileManager-Overview_mask.png
  apps/demos/testing/etalons/FileManager-UICustomization (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-UICustomization (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-UICustomization (material.blue.light).png
  apps/demos/testing/etalons/FileManager-UICustomization (material.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-UICustomization.png
  apps/demos/testing/etalons/FileManager-UICustomization_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/bugs.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: cherry-pick, 24_1

#29742 🎴 CardView: filter sync - implement
  apps/react-storybook/stories/card_view/CardView.stories.tsx
  e2e/testcafe-devextreme/tests/cardView/filterSync/api.functional.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.a11y.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/controller.mock.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/compatibility.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_sync/compatibility.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_sync/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_sync/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_sync/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_sync/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/clear_filter_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/filter_custom_operations_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/get_applied_filters_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/compatibility.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/legacy_header_filter.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/legacy_filter_custom_operations.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget_mock.ts
  packages/testcafe-models/cardView/headers/item.ts
Labels: 25_1

#29777 DataGrid - NVDA reads all status messages on page load when multiple components are rendered (T1288423)
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/bugs.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/status.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 25_1

#29864 TagBox - Methods specified in DevExpress.ui.dxSelectBox.defaultOptions are called (T1286533)
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
Labels: 25_1

#29895 CardView: demos menu changes
  apps/demos/menuMeta.json
Labels: 25_1

#29892 DataGrid: fix filter icon when filter cell focused (T1286345)
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/contrast.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-material.blue.light.png
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
Labels: type/bug, 25_1

#29869 Scheduler: add Customize Toolbar demo description
  apps/demos/Demos/Scheduler/ToolbarCustomization/description.md
Labels: 25_1

#29900 DataGrid: fix filter icon when filter cell focused (T1286345) (#29892) (24_2)
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/contrast.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-material.blue.light.png
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
Labels: cherry-pick, 24_2

#29901 DataGrid: fix filter icon when filter cell focused (T1286345) (#29892) (24_1)
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/contrast.ts
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/accessibility/etalons/T1286345-datagrid-menu-icon-when-focused-material.blue.light.png
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
Labels: cherry-pick, 24_1

#29891 Gauge: skip core rerender on title change with same height (T1288122)
  packages/devextreme/js/viz/gauges/bar_gauge.js
  packages/devextreme/js/viz/gauges/base_gauge.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
Labels: 25_1

#29885 Gantt: Add gantt component styles to QUnit tests (mjzPcRhC)
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
Labels: 25_1

#29776 fix: popup title bar shows [object Object] when jQuery 4.0 Beta is used (T1280032)
  packages/devextreme/js/__internal/core/utils/m_dom.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.dom.tests.js
Labels: 25_1

#29875 DropDownBox: reduce count of accessibility checks
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/lookup.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/common.ts
Labels: 25_1

#29910 CardView: Enable allow-column-reordering option in code samples demo (Nd3Cn0jg)
  apps/demos/Demos/CardView/Overview/Angular/app/app.component.html
  apps/demos/Demos/CardView/Overview/React/App.tsx
  apps/demos/Demos/CardView/Overview/ReactJs/App.js
  apps/demos/Demos/CardView/Overview/Vue/App.vue
  apps/demos/Demos/CardView/Overview/jQuery/index.js
Labels: 25_1

#29914 Storybook: fix DX component wrapper (bmJYABH7)
  apps/react-storybook/stories/card_view/parts/Card.stories.tsx
  apps/react-storybook/stories/utils/wrappers.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29922 DropDownBox: reduce count of accessibility checks
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/lookup.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/common.ts
Labels: cherry-pick, 24_2

#29923 DropDownBox: reduce count of accessibility checks
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/autocomplete/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/colorBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dateRangeBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/dropDownBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/lookup.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/buttonsAndLabels.ts
  e2e/testcafe-devextreme/tests/accessibility/common/selectBox/common.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/buttonsAndLabel.ts
  e2e/testcafe-devextreme/tests/accessibility/common/tagBox/common.ts
Labels: cherry-pick, 24_1

#29919 Stepper: fix validation rule syntax in angular from integration demo
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/guests-form/guests-form.component.html
Labels: 25_1

#29907 Viz export: remove clear default namespaces (T1292204)
  packages/devextreme/js/__internal/core/utils/m_svg.ts
  packages/devextreme/testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: 25_1

#29909 Viz export: remove clear default namespaces (T1292204)
  packages/devextreme/js/__internal/core/utils/m_svg.ts
  packages/devextreme/testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: cherry-pick, 24_2

#29925 CI - pin callsite-record package
  package.json
  pnpm-lock.yaml
Labels: 25_1

#29921 HtmlEditor: generate button should be disabled when askAi TextArea is empty
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29926 CardView - Header Filter: Fix item's selection state when headerFilter.dataSource is specified
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/options.integration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/legacy_header_filter.ts
  packages/testcafe-models/list/item.ts
Labels: skip-cache, 25_1

#29899 TagBox - Methods specified in DevExpress.ui.dxSelectBox.defaultOptions are called (T1286533)
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
Labels: cherry-pick, 24_2

#29918 CardView - Header Filter: Fix reset select state after search
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/legacy_header_filter.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.ts
Labels: skip-cache, 25_1

#29873 CardView: fix selection (throw error if needed) (oqSw9T3c)
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_validation/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_validation/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_validation/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.ts
Labels: type/bug, 25_1

#29928 CardView - Simple Array - fix menuMeta & column names
  apps/demos/Demos/CardView/SimpleArray/Angular/app/app.component.ts
  apps/demos/Demos/CardView/SimpleArray/React/App.tsx
  apps/demos/Demos/CardView/SimpleArray/ReactJs/App.js
  apps/demos/Demos/CardView/SimpleArray/Vue/App.vue
  apps/demos/Demos/CardView/SimpleArray/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/CardView-SimpleArray (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-SimpleArray (material.blue.light).png
  apps/demos/testing/etalons/CardView-SimpleArray.png
Labels: 25_1

#29913 fix: popup title bar shows [object Object] when jQuery 4.0 Beta is used (T1280032)
  packages/devextreme/js/core/utils/dom.js
  packages/devextreme/testing/tests/DevExpress.core/utils.dom.tests.js
Labels: cherry-pick, 24_1

#29912 fix: popup title bar shows [object Object] when jQuery 4.0 Beta is used (T1280032)
  packages/devextreme/js/__internal/core/utils/m_dom.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.dom.tests.js
Labels: cherry-pick, 24_2

#29871 HtmlEditor: Add screenshot, a11y tests for AI toolbar item and AIDialog
  apps/demos/testing/etalons/HtmlEditor-AITextEditing.png
  e2e/testcafe-devextreme/tests/accessibility/common/htmlEditor.ts
  e2e/testcafe-devextreme/tests/htmlEditor/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-ask-ai-result-ready-state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-ask-ai-result-ready-state (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-ask-ai-result-ready-state (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-asking-state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-asking-state (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-asking-state (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state-on-small-screen (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state-on-small-screen (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-error-state-on-small-screen (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state-on-small-screen (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state-on-small-screen (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-generating-state-on-small-screen (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-on-small-screen (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-on-small-screen (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-on-small-screen (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-resize-window (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-resize-window (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-resize-window (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-no-options (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-no-options (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-no-options (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-options (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-options (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-options (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-on-small-screen (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-on-small-screen (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-on-small-screen (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-long-result (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-long-result (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-long-result (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-short-result (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-short-result (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-state-with-short-result (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item-expanded (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item-expanded (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-ai-toolbar-item-expanded (material-blue-light).png
  packages/devextreme-scss/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
  packages/testcafe-models/htmlEditor/dialog/aiDialog.ts
  packages/testcafe-models/htmlEditor/index.ts
  packages/testcafe-models/htmlEditor/rootToolbar.ts
  packages/testcafe-models/popup.ts
Labels: skip-cache, 25_1

#29876 DataGrid - Validation message is hidden if there is only one Master-Detail row and the row is collapsed (T1287261)
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/validation-message-shown-after-master-detail-collapse.png
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: 25_1

#29897 Disable SystemJs devextreme-angular umd modules optimizations
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Angular/config.js
  apps/demos/utils/internal/create-config.js
Labels: force all tests, 25_1

#29938 HtmlEditor: fix commands binding in Angular AI-Powered Text Editing demo
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.component.html
Labels: 25_1

#29939 Demos: add @preact/signals dependency to demos (K3wQn1vv)
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
  apps/demos/package.json
  pnpm-lock.yaml
Labels: skip-cache, force all tests, 25_1

#29940 CardView: fix sotring extra data source loadings (Satsxnln)
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/controller.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: type/bug, 25_1

#29902 added E2e wrappers to 24_2
  .github/workflows/wrapper_tests_e2e.yml
  e2e/wrappers/builders/angular19/.editorconfig
  e2e/wrappers/builders/angular19/.gitignore
  e2e/wrappers/builders/angular19/angular.json
  e2e/wrappers/builders/angular19/scripts/link-external.js
  e2e/wrappers/builders/angular19/src/app/app.component.ts
  e2e/wrappers/builders/angular19/src/app/app.config.ts
  e2e/wrappers/builders/angular19/src/app/app.module.ts
  e2e/wrappers/builders/angular19/src/app/app.routes.ts
  e2e/wrappers/builders/angular19/src/app/component-view.component.ts
  e2e/wrappers/builders/angular19/src/index.html
  e2e/wrappers/builders/angular19/src/main.ts
  e2e/wrappers/builders/angular19/src/utils/componentFinder.ts
  e2e/wrappers/builders/angular19/tsconfig.app.json
  e2e/wrappers/builders/angular19/tsconfig.json
  e2e/wrappers/builders/angular19/tsconfig.spec.json
  e2e/wrappers/builders/react19/.gitignore
  e2e/wrappers/builders/react19/eslint.config.js
  e2e/wrappers/builders/react19/index.html
  e2e/wrappers/builders/react19/src/App.jsx
  e2e/wrappers/builders/react19/src/main.jsx
  e2e/wrappers/builders/react19/src/pages/ComponentView.jsx
  e2e/wrappers/builders/react19/src/utils/componentFinder.js
  e2e/wrappers/builders/react19/vite.config.js
  e2e/wrappers/builders/vue3/.gitignore
  e2e/wrappers/builders/vue3/index.html
  e2e/wrappers/builders/vue3/src/App.vue
  e2e/wrappers/builders/vue3/src/main.js
  e2e/wrappers/builders/vue3/src/pages/ComponentView.vue
  e2e/wrappers/builders/vue3/src/router/index.js
  e2e/wrappers/builders/vue3/src/utils/componentFinder.js
  e2e/wrappers/builders/vue3/vite.config.js
  e2e/wrappers/examples/button/angular19/button.component.ts
  e2e/wrappers/examples/button/angular19/index.ts
  e2e/wrappers/examples/button/react19/index.jsx
  e2e/wrappers/examples/button/vue3/index.vue
  e2e/wrappers/package.json
  e2e/wrappers/project.json
  e2e/wrappers/runner.js
  e2e/wrappers/test-helpers.js
  e2e/wrappers/tests/button.test.js
  e2e/wrappers/tsconfig.json
  e2e/wrappers/tsconfig.node.json
  pnpm-lock.yaml
Labels: cherry-pick, 24_2

#29933 DataGrid - Validation message is hidden if there is only one Master-Detail row and the row is collapsed (T1287261)
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/validation-message-shown-after-master-detail-collapse.png
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: cherry-pick, 24_2

#29945 Stepper: remove redundant SCSS variable from the ThemeBuilder publication
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
Labels: 25_1

#29941 DataGrid: Fix cell focus after column reordering when previously the data cell was focused
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/columnReordering.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/cell_focus_after_column_reordering_when_data_cell_was_focused.png
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
Labels: skip-cache, 25_1

#29948 Chart: prevent pointer out if within point circle (T1289498)
  packages/devextreme/js/viz/chart_components/tracker.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/tracker.tests.js
Labels: cherry-pick, 24_2

#29942 TextArea: it should be possible to scroll focused input (T1290309)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: 25_1

#29955 TextArea: it should be possible to scroll focused input (T1290309)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Labels: cherry-pick, 24_2

#29929 DataGrid - getSelectedRowKeys method returns incorrect keys if deferred selection is enabled (T1280037)
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.deferred.ts
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: 25_1

#29934 DataGrid - Validation message is hidden if there is only one Master-Detail row and the row is collapsed (T1287261)
  e2e/testcafe-devextreme/tests/dataGrid/validation/cellEditing.ts
  e2e/testcafe-devextreme/tests/dataGrid/validation/etalons/validation-message-shown-after-master-detail-collapse.png
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: 24_1

#29947 Scheduler: fix aria-label for radio buttons in recurrence editor (NtPNOSbH)
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/editing.ts
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/popup.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Labels: 25_1

#29954 ContextMenu: submenus should not be truncated on iOS devices (T1291385)
  packages/devextreme-scss/scss/widgets/base/scrollable/_index.scss
Labels: cherry-pick, 24_1

#29768 DataGrid - Header filter search input loses focus on first key in datetime columns (T1284663)
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/testcafe-models/dataGrid/headers/headerFilter.ts
Labels: 25_1

#29943 Chat: add Message Editing demo description
  apps/demos/Demos/Chat/MessageEditing/description.md
Labels: 25_1

#29957 DataGrid - getSelectedRowKeys method returns incorrect keys if deferred selection is enabled (T1280037)
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.deferred.ts
  packages/devextreme/js/__internal/ui/selection/m_selection.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Labels: cherry-pick, 24_2

#29960 [REFIX] DataGrid - NVDA reads all status messages on page load when multiple components are rendered (T1288423)
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Labels: 25_1

#29956 Informer: add type option and styles for info type
  apps/react-storybook/stories/informer/Informer.stories.tsx
  packages/devextreme-scss/scss/widgets/base/informer/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/informer/_index.scss
  packages/devextreme-scss/scss/widgets/generic/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/informer/_index.scss
  packages/devextreme-scss/scss/widgets/material/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/material/informer/_index.scss
  packages/devextreme/js/__internal/ui/informer/informer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/informer.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29877 CardView: dataController -> paging in the remote OData DataSource not working
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/public_methods.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/public_methods.ts
Labels: 25_1

#29961 DataGrid - Header filter search input loses focus on first key in datetime columns (T1284663)
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/testcafe-models/dataGrid/headers/headerFilter.ts
Labels: cherry-pick, 24_2

#29931 DataGrid – Header filters show "No data to display" when "not and" or "not or" operations are used in the filter panel (T1291737)
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/filter_builder/m_utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/view.integration.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.integration.test.tsx
Labels: 25_1

#29959 DataGrid - ColorBox in DataGrid causes input value to appear behind color preview (T1280023)
  e2e/testcafe-devextreme/tests/dataGrid/common/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(material.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: 25_1

#29970 HtmlEditor: implement canceled state in aiDialog
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-result-ready-after-canceletion (material-blue-light).png
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Labels: 25_1

#29924 Grids: add Home/End shortcut info to demo descriptions
  apps/demos/Demos/DataGrid/HorizontalVirtualScrolling/description.md
  apps/demos/Demos/DataGrid/InfiniteScrolling/description.md
  apps/demos/Demos/DataGrid/KeyboardNavigation/description.md
  apps/demos/Demos/DataGrid/RecordPaging/description.md
  apps/demos/Demos/DataGrid/VirtualScrolling/description.md
  apps/demos/Demos/TreeList/FixedAndStickyColumns/description.md
  apps/demos/Demos/TreeList/KeyboardNavigation/description.md
  apps/demos/Demos/TreeList/Paging/description.md
Labels: 25_1

#29979 DataGrid - ColorBox in DataGrid causes input value to appear behind color preview (T1280023)
  e2e/testcafe-devextreme/tests/dataGrid/common/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-form-editing-with-color-box_(material.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: cherry-pick, skip-cache, force all tests, 24_2

#29978 DataGrid - ColorBox in DataGrid causes input value to appear behind color preview (T1280023)
  apps/demos/testing/etalons/TreeList-Resizing (material.blue.light).png
  apps/demos/testing/etalons/TreeList-Resizing (material.blue.light)_mask.png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-form-editing-with-color-box_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-form-editing-with-color-box_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/grid-form-editing-with-color-box_(material.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: cherry-pick, skip-cache, 24_1, force all tests

#29965 Demos: change @preact/signals dependency to minified version
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
Labels: skip-cache, force all tests, 25_1

#29989 TabPanel: Added focus to the selected tab after initialization (T1277409)
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: skip-cache, force all tests, 25_1

#30001 DropDownList: Displayed text should be correct when items have nested items field and group is disabled (T1292151)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 24_2

#29962 CardView - demos - Column Header Filter
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.component.html
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.component.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/React/App.tsx
  apps/demos/Demos/CardView/ColumnHeaderFilter/React/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/ReactJs/App.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/Vue/App.vue
  apps/demos/Demos/CardView/ColumnHeaderFilter/Vue/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/jQuery/data.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/jQuery/index.js
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (material.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter.png
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
Labels: 25_1

#29964 CardView - demos - Columns Reordering
  apps/demos/Demos/CardView/ColumnsReordering/Angular/app/app.component.html
  apps/demos/Demos/CardView/ColumnsReordering/Angular/app/app.component.ts
  apps/demos/Demos/CardView/ColumnsReordering/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnsReordering/React/App.tsx
  apps/demos/Demos/CardView/ColumnsReordering/React/data.ts
  apps/demos/Demos/CardView/ColumnsReordering/ReactJs/App.js
  apps/demos/Demos/CardView/ColumnsReordering/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnsReordering/Vue/App.vue
  apps/demos/Demos/CardView/ColumnsReordering/Vue/data.ts
  apps/demos/Demos/CardView/ColumnsReordering/jQuery/data.js
  apps/demos/Demos/CardView/ColumnsReordering/jQuery/index.js
  apps/demos/testing/etalons/CardView-ColumnsReordering (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnsReordering (material.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnsReordering.png
Labels: 25_1

#29998 TabPanel: Added focus to the selected tab after initialization (T1277409)
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Labels: cherry-pick, 24_1

#30010 CardView - demos - ColumnChooser
  apps/demos/Demos/CardView/ColumnChooser/Angular/app/app.component.css
  apps/demos/Demos/CardView/ColumnChooser/Angular/app/app.component.html
  apps/demos/Demos/CardView/ColumnChooser/Angular/app/app.component.ts
  apps/demos/Demos/CardView/ColumnChooser/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnChooser/React/App.tsx
  apps/demos/Demos/CardView/ColumnChooser/React/data.ts
  apps/demos/Demos/CardView/ColumnChooser/React/index.html
  apps/demos/Demos/CardView/ColumnChooser/React/styles.css
  apps/demos/Demos/CardView/ColumnChooser/ReactJs/App.js
  apps/demos/Demos/CardView/ColumnChooser/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnChooser/ReactJs/index.html
  apps/demos/Demos/CardView/ColumnChooser/ReactJs/styles.css
  apps/demos/Demos/CardView/ColumnChooser/Vue/App.vue
  apps/demos/Demos/CardView/ColumnChooser/Vue/data.ts
  apps/demos/Demos/CardView/ColumnChooser/jQuery/data.js
  apps/demos/Demos/CardView/ColumnChooser/jQuery/index.html
  apps/demos/Demos/CardView/ColumnChooser/jQuery/index.js
  apps/demos/Demos/CardView/ColumnChooser/jQuery/styles.css
  apps/demos/testing/etalons/CardView-ColumnChooser (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnChooser (material.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnChooser.png
Labels: 25_1

#29975 CardView - demos - sorting
  apps/demos/Demos/CardView/Sorting/Angular/app/app.component.html
  apps/demos/Demos/CardView/Sorting/Angular/app/app.component.ts
  apps/demos/Demos/CardView/Sorting/Angular/app/app.service.ts
  apps/demos/Demos/CardView/Sorting/React/App.tsx
  apps/demos/Demos/CardView/Sorting/React/data.ts
  apps/demos/Demos/CardView/Sorting/ReactJs/App.js
  apps/demos/Demos/CardView/Sorting/ReactJs/data.js
  apps/demos/Demos/CardView/Sorting/Vue/App.vue
  apps/demos/Demos/CardView/Sorting/Vue/data.ts
  apps/demos/Demos/CardView/Sorting/jQuery/data.js
  apps/demos/Demos/CardView/Sorting/jQuery/index.js
  apps/demos/testing/etalons/CardView-Sorting (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-Sorting (material.blue.light).png
  apps/demos/testing/etalons/CardView-Sorting.png
Labels: 25_1
