Repository DevExpress/DevExtreme, pull requests merged in 2025-10, with the labels that each got.

#31196 Bump devextreme-quill to 1.7.5
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 25_2

#31201 Splitter: prevent exceeding maximum size on expanding (T1308778)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: force all tests, 25_2

#31203 SpeechToText Overview demo: show toast if SpeechRecognition is not supported by browser
  apps/demos/Demos/SpeechToText/Overview/Angular/app/app.component.ts
  apps/demos/Demos/SpeechToText/Overview/React/App.tsx
  apps/demos/Demos/SpeechToText/Overview/ReactJs/App.js
  apps/demos/Demos/SpeechToText/Overview/Vue/App.vue
  apps/demos/Demos/SpeechToText/Overview/jQuery/index.js
Labels: 25_2

#31207 SpeechToText: update name in menu meta
  apps/demos/menuMeta.json
Labels: 25_2

#31220 dxFileManager: fix 'First item is selected when right-clicking on an empty area' (T1307139) (cherry-pick to 25_1)
  packages/devextreme/js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
Labels: cherry-pick, 25_1

#31224 dxFileManager: fix 'First item is selected when right-clicking on an empty area' (T1307139) (cherry-pick to 24_2)
  packages/devextreme/js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/thumbnailsView.tests.js
Labels: cherry-pick, 24_2

#31213 STT: Don't change state if SR is unavailable and Reinit SR on customSpeechRecognizer runtime changing
  packages/devextreme/js/__internal/core/speech_recognition_adapter.ts
  packages/devextreme/js/__internal/ui/speech_to_text/speech_to_text.ts
  packages/devextreme/testing/tests/DevExpress.core/speechRecognitionAdapter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
Labels: skip-cache, 25_2

#31208 DeferRendering: remove deprecated component
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/defer-rendering/index.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/animation.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/at.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/boundary-offset.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/collision.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/from.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/index.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/my.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/ng-package.json
  packages/devextreme-angular/src/ui/defer-rendering/nested/offset.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/position.ts
  packages/devextreme-angular/src/ui/defer-rendering/nested/to.ts
  packages/devextreme-angular/src/ui/defer-rendering/ng-package.json
  packages/devextreme-angular/src/ui/nested/animation.ts
  packages/devextreme-angular/src/ui/nested/base/animation-config.ts
  packages/devextreme-react/src/defer-rendering.ts
  packages/devextreme-react/src/index.ts
  packages/devextreme-scss/scss/widgets/base/_deferRendering.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/deferRendering/_index.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/deferRendering/_index.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/deferRendering/_index.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme-vue/src/defer-rendering.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/__internal/ui/m_defer_rendering.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/defer_rendering.d.ts
  packages/devextreme/js/ui/defer_rendering.js
  packages/devextreme/js/ui/defer_rendering_types.d.ts
  packages/devextreme/testing/helpers/widgetsList.js
  packages/devextreme/testing/tests/Bundles/bundlesParts/widgets-base.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/deferRendering.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/deferRendering.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/deferRendering.animation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/deferRendering.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: force all tests, 25_2

#31192 InfernoWidget: fix restore classes in rerender (T1308601)
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/selection.ts
  packages/devextreme/js/__internal/core/r1/runtime/inferno/base_component.ts
Labels: force all tests, 25_2

#31131 Chart: update ServerSideDataProcessing demo to use NetCore endpoint
  apps/demos/Demos/Charts/LoadDataOnDemand/Angular/app/app.component.ts
  apps/demos/Demos/Charts/LoadDataOnDemand/React/App.tsx
  apps/demos/Demos/Charts/LoadDataOnDemand/ReactJs/App.js
  apps/demos/Demos/Charts/LoadDataOnDemand/Vue/App.vue
  apps/demos/Demos/Charts/LoadDataOnDemand/jQuery/index.js
  apps/demos/Demos/Charts/ServerSideDataProcessing/Angular/app/app.component.html
  apps/demos/Demos/Charts/ServerSideDataProcessing/Angular/app/app.component.ts
  apps/demos/Demos/Charts/ServerSideDataProcessing/React/App.tsx
  apps/demos/Demos/Charts/ServerSideDataProcessing/ReactJs/App.js
  apps/demos/Demos/Charts/ServerSideDataProcessing/Vue/App.vue
  apps/demos/Demos/Charts/ServerSideDataProcessing/jQuery/index.html
  apps/demos/Demos/Charts/ServerSideDataProcessing/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Charts-ServerSideDataProcessing (fluent.blue.light).png
  apps/demos/testing/etalons/Charts-ServerSideDataProcessing.png
Labels: 25_2

#31231 InfernoWidget: fix restore classes in rerender (T1308601) (#31192)
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/selection.ts
  packages/devextreme/js/__internal/core/r1/runtime/inferno/base_component.ts
Labels: 25_1

#31234 Scheduler: fix toolbar demos to use fixed current date
  apps/demos/Demos/Scheduler/Toolbar/Angular/app/app.service.ts
  apps/demos/Demos/Scheduler/Toolbar/React/data.ts
  apps/demos/Demos/Scheduler/Toolbar/ReactJs/data.js
  apps/demos/Demos/Scheduler/Toolbar/Vue/data.ts
  apps/demos/Demos/Scheduler/Toolbar/jQuery/data.js
  apps/demos/testing/etalons/Scheduler-Toolbar (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Toolbar (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/Scheduler-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-Toolbar (material.blue.light)_mask.png
  apps/demos/testing/etalons/Scheduler-Toolbar.png
  apps/demos/testing/etalons/Scheduler-Toolbar_mask.png
Labels: cherry-pick, 25_1

#31242 tools: update internal-tools from 18.0.0 to 18.1.2 (.net 8)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: cherry-pick, dependencies, force all tests, 25_1

#31243 Scheduler: stabilize toolbar demo
  apps/demos/testing/etalons/Scheduler-Toolbar_mask.png
Labels: 25_2

#31244 Scheduler: stabilize toolbar demo
  apps/demos/testing/etalons/Scheduler-Toolbar_mask.png
Labels: cherry-pick, 25_1

#31223 Demos: fixed eslint ignores after linter update
  apps/demos/Demos/Calendar/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Calendar/Overview/React/CustomCell.tsx
  apps/demos/Demos/Calendar/Overview/ReactJs/CustomCell.js
  apps/demos/Demos/Calendar/Overview/Vue/App.vue
  apps/demos/Demos/Calendar/Overview/jQuery/index.js
  apps/demos/Demos/Charts/Annotation/Angular/app/app.component.html
  apps/demos/Demos/Charts/Annotation/Angular/app/app.component.ts
  apps/demos/Demos/Charts/CustomizePointsAndLabels/Angular/app/app.component.ts
  apps/demos/Demos/Charts/ExportCustomMarkup/Vue/Form.vue
  apps/demos/Demos/Charts/PointImage/Angular/app/app.component.ts
  apps/demos/Demos/Charts/PointsAggregation/Angular/app/app.component.ts
  apps/demos/Demos/Charts/PointsAggregation/Vue/App.vue
  apps/demos/Demos/Charts/SignalRService/Angular/app/app.component.ts
  apps/demos/Demos/Charts/Strips/Angular/app/app.component.ts
  apps/demos/Demos/Common/EditorsOverview/Vue/SuperheroLogo.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/BatchUpdateRequest/React/App.tsx
  apps/demos/Demos/DataGrid/BatchUpdateRequest/ReactJs/App.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/jQuery/index.js
  apps/demos/Demos/DataGrid/EditStateManagement/Angular/app/app.service.ts
  apps/demos/Demos/Diagram/AdvancedDataBinding/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/AdvancedDataBinding/React/App.tsx
  apps/demos/Demos/Diagram/AdvancedDataBinding/ReactJs/App.js
  apps/demos/Demos/Diagram/AdvancedDataBinding/Vue/App.vue
  apps/demos/Demos/Diagram/AdvancedDataBinding/jQuery/index.js
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/Angular/app/app.component.ts
  apps/demos/Demos/FileManager/CustomThumbnails/Angular/app/app.component.ts
  apps/demos/Demos/HtmlEditor/AITextEditing/Vue/App.vue
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CellTemplates/React/App.tsx
  apps/demos/Demos/Scheduler/CellTemplates/ReactJs/App.js
  apps/demos/Demos/Scheduler/CellTemplates/Vue/App.vue
  apps/demos/Demos/Scheduler/CellTemplates/jQuery/index.js
  apps/demos/Demos/Sortable/Kanban/Angular/app/app.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/dates-form/dates-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/guests-form/guests-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/room-meal-plan-form/room-meal-plan-form.component.ts
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Angular/app/app.component.ts
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/React/App.tsx
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/ReactJs/App.js
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/App.vue
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/jQuery/index.js
  apps/demos/Demos/VectorMap/BubbleMarkers/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/ColorsCustomization/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/FloorPlan/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/Palette/Angular/app/app.component.ts
  apps/demos/Demos/VectorMap/ZoomingAndCentering/Angular/app/app.component.ts
Labels: force all tests, 25_2

#31253 Bump devextreme-quill to 1.7.6
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 24_1
