Repository DevExpress/DevExtreme, pull requests merged in 2025-07, with the labels that each got.

#30249 ContextMenu: fix max height calculation
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 24_2

#30246 ContextMenu: fix max height calculation
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: 25_1

#30247 Stepper Demos: arrange imports
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/additional-form/additional-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.service.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/dates-form/dates-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/guests-form/guests-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/room-meal-plan-form/room-meal-plan-form.component.ts
  apps/demos/Demos/Stepper/FormIntegration/React/App.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/data.ts
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/App.js
  apps/demos/Demos/Stepper/FormIntegration/Vue/AdditionalTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/App.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/DatesTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/GuestsTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/RoomMealPlanTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/data.ts
  apps/demos/Demos/Stepper/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Stepper/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Stepper/Overview/React/Options.tsx
  apps/demos/Demos/Stepper/Overview/ReactJs/Options.js
  apps/demos/Demos/Stepper/Overview/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.ts
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.service.ts
  apps/demos/Demos/Stepper/StepTemplate/React/CustomStepShape.tsx
Labels: force all tests, 25_1

#30243 Collections: add reorder support in the findChanges function (T968114, T953965, T1122158)
  packages/devextreme/js/__internal/core/utils/m_array_compare.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.array_compare.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Labels: skip-cache, force all tests, 25_1

#30263 List Demo: fix drag&drop behavior (jQuery)
  apps/demos/Demos/List/ItemDragging/jQuery/index.js
Labels: cherry-pick, 24_2

#30258 TabPanel: add itemIndex to the TitleClickEvent typescript definition (T1296996)
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#30257 TabPanel: add itemIndex to the TitleClickEvent typescript definition (T1296996)
  packages/devextreme/js/ui/tab_panel.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#30268 Accordion: update items without losing their states (T1190407, T1298282)
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: skip-cache, force all tests, 25_1

#30272 Accordion: update items without losing their states (T1190407, T1298282)
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Labels: cherry-pick, 24_2

#30241 Collections: get rid of correction index in live_update extension (T940677, T1141769, T1083476)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: skip-cache, force all tests, 25_1

#30267 DateBox: Fix value update validation when useMaskBehavior is used (T1296990)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: skip-cache, 25_1

#30271 DateBox: Fix value update validation when useMaskBehavior is used (T1296990)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 24_1

#30255 DateBox: fix today button text customization with todayButtonText option
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: 25_1

#30256 DateBox: fix today button text customization with todayButtonText opt…
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: cherry-pick, 24_2

#30124 CardView - column chooser - add tests for multiple show/hide
  e2e/testcafe-devextreme/tests/cardView/columnChooser/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/status.ts
  e2e/testcafe-devextreme/tests/treeList/accessibility/status.ts
  packages/testcafe-models/dataGrid/columnChooser.ts
Labels: 25_1

#30280 List: remove the use of EditDecoratorMenuHelperMixin
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.context.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.slide.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator_menu_helper.ts
Labels: cherry-pick, 24_2

#30288 Chat: Replace html() with text() in confirmation popup component
  packages/devextreme/js/__internal/ui/chat/confirmationpopup.ts
Labels: 25_1

#30291 Drawer: enable interactive states for List in the panel
  apps/demos/Demos/Drawer/LeftOrRightPosition/Angular/app/app.component.html
  apps/demos/Demos/Drawer/LeftOrRightPosition/React/NavigationList.tsx
  apps/demos/Demos/Drawer/LeftOrRightPosition/ReactJs/NavigationList.js
  apps/demos/Demos/Drawer/LeftOrRightPosition/Vue/NavigationList.vue
  apps/demos/Demos/Drawer/LeftOrRightPosition/jQuery/index.js
  apps/demos/Demos/Drawer/TopOrBottomPosition/Angular/app/app.component.html
  apps/demos/Demos/Drawer/TopOrBottomPosition/Vue/NavigationList.vue
  apps/demos/Demos/Drawer/TopOrBottomPosition/jQuery/index.js
Labels: 25_1

#30296 ExportFromMarkup: fix serialization for self closing tags (T1297767)
  packages/devextreme/js/__internal/core/utils/m_svg.ts
  packages/devextreme/testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Labels: cherry-pick, 25_1

#30298 Setup CI on branch 25_2
  .github/workflows/build_all.yml
  .github/workflows/codeql_scheduler.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing_scheduler.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/wrapper_tests.yml
  apps/demos/menuMeta.json
  packages/devextreme-metadata/make-aspnet-metadata.ts
  packages/devextreme/ports.json
Labels: 25_2

#30310 List Demos: add repaintChangesOnly to the List Drag&Drop demos (jQuery, Angular, React, Vue)
  apps/demos/Demos/List/DragAndDrop/Angular/app/app.component.html
  apps/demos/Demos/List/DragAndDrop/React/App.tsx
  apps/demos/Demos/List/DragAndDrop/ReactJs/App.js
  apps/demos/Demos/List/DragAndDrop/Vue/App.vue
  apps/demos/Demos/List/DragAndDrop/jQuery/index.js
Labels: cherry-pick, 25_1

#30309 Remove parts in tests that belong to mentions about renovation
  packages/devextreme/js/__internal/grids/grid_core/editing/const.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/js/__internal/grids/pivot_grid/headers_area/m_headers_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.knockout/scrollView.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_2

#30322 Remove parts in tests that belong to mentions about renovation
  packages/devextreme/js/__internal/grids/grid_core/editing/const.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/js/__internal/grids/pivot_grid/headers_area/m_headers_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.knockout/scrollView.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: cherry-pick, skip-cache, 25_1

#30323 Fix noop in the devextreme-metadata:build task
  packages/devextreme-metadata/project.json
Labels: 25_2

#30319 Scheduler: Stabilize performance test
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.test.ts
Labels: 25_2

#30290 Remove type assertion in vue template
  apps/demos/Demos/FilterBuilder/WithDataGrid/Vue/App.vue
  apps/demos/Demos/FilterBuilder/WithDataGrid/Vue/data.ts
  apps/demos/Demos/Stepper/Overview/Vue/App.vue
  apps/demos/Demos/Stepper/Overview/Vue/data.ts
Labels: force all tests, 25_1

#30314 Demos. Remove type assertion in props value in Vue template
  apps/demos/Demos/FilterBuilder/WithDataGrid/Vue/App.vue
  apps/demos/Demos/FilterBuilder/WithDataGrid/Vue/data.ts
  apps/demos/Demos/Stepper/Overview/Vue/App.vue
  apps/demos/Demos/Stepper/Overview/Vue/data.ts
Labels: cherry-pick, 25_2

#30315 ContextMenu: fix flickers when adding more items asynchronously or during runtime (T1247739)
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 25_2

#30316 ContextMenu: fix flickers when adding more items asynchronously or during runtime (T1247739)
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadPanel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 25_1

#30327 Scheduler: Stabilize performance test (#30319)
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.test.ts
Labels: cherry-pick, 24_2

#30311 Drawer: fix ts-errors in drawer
  packages/devextreme/js/__internal/ui/drawer/m_drawer.animation.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: refactoring, skip-cache, force all tests, 25_2

#30335 Resizable: fix ts-errors
  packages/devextreme/js/__internal/ui/resizable/m_resizable.ts
Labels: cherry-pick, 25_1

#30331 Form: remove deprecated `resetValues` method
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/ui/form.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: force all tests, 25_2

#30340 Drawer: rename drawer.rendering.strategy
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
Labels: force all tests, 25_2

#30343 Drawer: remove m_ prefix from drawer strategies files
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
Labels: 25_2

#30338 Popup: Skip tests for Toolbar integration
  e2e/testcafe-devextreme/tests/editors/overlays/toolbarIntegration.ts
Labels: 25_2

#30342 ScrollView, Scrollable, Resizable: remove 'm_' prefix from file names
  packages/devextreme/js/__internal/m_draggable.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view_roller.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/resizable/resizable.ts
  packages/devextreme/js/__internal/ui/scroll_view/animator.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.native.pull_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.native.swipe_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.device.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.native.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollbar.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/ui/resizable.js
  packages/devextreme/js/ui/scroll_view.js
  packages/devextreme/js/ui/scroll_view/ui.scrollable.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/animator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.constants.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_2

#30344 Drawer: remove m_ prefix from drawer strategies files
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
Labels: cherry-pick, 25_1

#30347 Drawer: remove m_ prefix from drawer.animation.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.animation.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 25_1

#30346 Drawer: remove m_ prefix from drawer.animation.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.animation.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: 25_2

#30350 Drawer: remove m_ prefix from drawer
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.push.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.shrink.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.ts
  packages/devextreme/js/ui/drawer.js
Labels: cherry-pick, 25_1

#30353 Popup: Toolbar integration update (T1245421)
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu after items rebinding (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu after items rebinding (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu after items rebinding (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu before items rebinding (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu before items rebinding (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup toolbars with wide elements and overflow menu before items rebinding (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was hidden without items on init (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was hidden without items on init (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was hidden without items on init (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was visible with items on init (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was visible with items on init (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar after items rebinding if it was visible with items on init (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was hidden without items on init (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was hidden without items on init (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was hidden without items on init (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was visible with items on init (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was visible with items on init (generic-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Toolbar before items rebinding if it was visible with items on init (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/toolbarIntegration.ts
  e2e/testcafe-devextreme/tests/htmlEditor/dialogs/aiDialog/etalons/htmleditor-ai-dialog-initial-state-with-no-options (material-blue-light).png
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_drag.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/testing/tests/DevExpress.knockout/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/testcafe-models/popup.ts
Labels: cherry-pick, 25_2

#30356 ResponsiveBox, ActionSheet, ButtonGroup, TileView: fix ts errors
  packages/devextreme/js/__internal/ui/box.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
Labels: 25_2

#30367 ResponsiveBox, ActionSheet, ButtonGroup, TileView: fix ts errors
  packages/devextreme/js/__internal/ui/box.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
Labels: cherry-pick, 25_1

#30332 Calendar: Publish todayButtonText option in .d.ts
  packages/devextreme-angular/src/ui/calendar/index.ts
  packages/devextreme-angular/src/ui/date-box/nested/calendar-options.ts
  packages/devextreme-angular/src/ui/date-range-box/nested/calendar-options.ts
  packages/devextreme-metadata/make-angular-metadata.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_2

#30375 ColorBox demo: use dx-icon-color for Hero outline
  apps/demos/Demos/ColorBox/Overview/Angular/app/app.component.css
  apps/demos/Demos/ColorBox/Overview/Angular/app/app.component.html
  apps/demos/Demos/ColorBox/Overview/React/App.tsx
  apps/demos/Demos/ColorBox/Overview/React/styles.css
  apps/demos/Demos/ColorBox/Overview/ReactJs/App.js
  apps/demos/Demos/ColorBox/Overview/ReactJs/styles.css
  apps/demos/Demos/ColorBox/Overview/Vue/App.vue
  apps/demos/Demos/ColorBox/Overview/jQuery/index.html
  apps/demos/Demos/ColorBox/Overview/jQuery/styles.css
  apps/demos/testing/etalons/ColorBox-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/ColorBox-Overview (material.blue.light).png
Labels: 25_1

#30376 ColorBox demo: use dx-icon-color for Hero outline
  apps/demos/Demos/ColorBox/Overview/Angular/app/app.component.css
  apps/demos/Demos/ColorBox/Overview/Angular/app/app.component.html
  apps/demos/Demos/ColorBox/Overview/React/App.tsx
  apps/demos/Demos/ColorBox/Overview/React/styles.css
  apps/demos/Demos/ColorBox/Overview/ReactJs/App.js
  apps/demos/Demos/ColorBox/Overview/ReactJs/styles.css
  apps/demos/Demos/ColorBox/Overview/Vue/App.vue
  apps/demos/Demos/ColorBox/Overview/jQuery/index.html
  apps/demos/Demos/ColorBox/Overview/jQuery/styles.css
  apps/demos/testing/etalons/ColorBox-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/ColorBox-Overview (material.blue.light).png
Labels: cherry-pick, 25_2

#30370 Toolbar: The overflow menu shouldn’t close immediately when a template is used to define a nested dropdown item (T1298858)
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: 25_2

#30378 Toolbar: The overflow menu shouldn’t close immediately when a template is used to define a nested dropdown item (T1298858) (#30370)
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Labels: cherry-pick, 25_1

#30372 Diagram: update the demo after making popup showing synchronous
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.html
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/OperationRestrictions/React/App.tsx
  apps/demos/Demos/Diagram/OperationRestrictions/ReactJs/App.js
  apps/demos/Demos/Diagram/OperationRestrictions/Vue/App.vue
  apps/demos/Demos/Diagram/OperationRestrictions/jQuery/index.js
Labels: 25_2

#30373 Diagram: update the demo after making popup showing synchronous
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.html
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/OperationRestrictions/React/App.tsx
  apps/demos/Demos/Diagram/OperationRestrictions/ReactJs/App.js
  apps/demos/Demos/Diagram/OperationRestrictions/Vue/App.vue
  apps/demos/Demos/Diagram/OperationRestrictions/jQuery/index.js
Labels: cherry-pick, 24_2

#30374 Diagram: update the demo after making popup showing synchronous
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.html
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/OperationRestrictions/React/App.tsx
  apps/demos/Demos/Diagram/OperationRestrictions/ReactJs/App.js
  apps/demos/Demos/Diagram/OperationRestrictions/Vue/App.vue
  apps/demos/Demos/Diagram/OperationRestrictions/jQuery/index.js
Labels: cherry-pick, 25_1

#30384 List: fix kbn scrolling in simulated strategy (T1298074)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: force all tests, 25_2

#30382 Toolbar: improve TS types
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.utils.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.multiline.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
Labels: 25_2

#30371 Popup: Move triggering of resize before animation
  e2e/testcafe-devextreme/tests/editors/overlays/toolbarIntegration.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: skip-cache, force all tests, 25_2

#30389 List: fix kbn scrolling in simulated strategy (T1298074) (#30384)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 25_1

#30377 dxMenu: clicking an item with a link shouldn’t sent multiple requests (T1299240)
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/hierarchical_collection_widget.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Labels: 25_2

#30395 Toolbar: remove `m_` prefix from file names
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/toolbar/constants.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/toolbar.multiline.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/toolbar.singleline.ts
  packages/devextreme/js/__internal/ui/toolbar/toolbar.base.ts
  packages/devextreme/js/__internal/ui/toolbar/toolbar.ts
  packages/devextreme/js/__internal/ui/toolbar/toolbar.utils.ts
  packages/devextreme/js/ui/toolbar/ui.toolbar.base.js
  packages/devextreme/js/ui/toolbar/ui.toolbar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.multiline.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: cherry-pick, 25_1

#30396 List: fix kbn scroll for grouped list and SelectAll item (T1300059)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 25_2

#30398 List: fix kbn scroll for grouped list and SelectAll item (T1300059)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 24_2

#30397 List: fix kbn scroll for grouped list and SelectAll item (T1300059)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, skip-cache, 25_1

#30400 Gantt - fix strip lines disappearing (T1298090)
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/stripLines.tests.js
Labels: 25_1

#30404 Gantt - fix strip lines disappearing (T1298090)
  packages/devextreme/js/ui/gantt/ui.gantt.js
  packages/devextreme/js/ui/gantt/ui.gantt.view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/stripLines.tests.js
Labels: 25_2

#30383 ProgressBar: Update progressbar status paddings for Generic & Fluent
  apps/demos/testing/etalons/CardView-FieldTemplate (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-FieldTemplate (material.blue.light).png
  apps/demos/testing/etalons/CardView-FieldTemplate.png
  apps/demos/testing/etalons/ProgressBar-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/ProgressBar-Overview.png
  packages/devextreme-scss/scss/widgets/base/_progressBar.scss
  packages/devextreme-scss/scss/widgets/fluent/progressBar/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/progressBar/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/progressBar/_index.scss
  packages/devextreme-scss/scss/widgets/generic/progressBar/_sizes.scss
Labels: skip-cache, force all tests, 25_2

#30388 Localization: German translation for Chat messages
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization

#30414 DataGrid - FilterRow's searchBox's aria-label should be customizable - T1290381
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Labels: cherry-pick, 25_2

#30415 DataGrid - FilterRow's searchBox's aria-label should be customizable - T1290381
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Labels: cherry-pick, 24_2

#30416 Localization: German translation for Chat messages
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization

#30418 FilterBuilder - Fix value formatting - T1284504
  e2e/testcafe-devextreme/tests/filterBuilder/index.ts
  packages/devextreme/js/__internal/filter_builder/m_utils.ts
Labels: 25_2

#30337 FilterBuilder - Fix value formatting - T1284504
  e2e/testcafe-devextreme/tests/filterBuilder/index.ts
  packages/devextreme/js/__internal/filter_builder/m_utils.ts
Labels: 25_1

#30369 Dialog: update Cancel button type in Fluent to "normal"
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/row-editing-mode_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/row-editing-mode_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Dialog appearance (confirm) (fluent-blue-light).png
  packages/devextreme/js/__internal/ui/m_dialog.ts
Labels: skip-cache, 25_2

#30386 TreeList: Fix row alternation when repaintChangesOnly is enabled (T1291705)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-there-is-fixed-column-and-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: 25_1

#30427 Scheduler: fix days duplication in workspace (T1252028)
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__snapshots__/santiago_timezone.test.ts.snap
  packages/devextreme/js/__internal/scheduler/__tests__/santiago_timezone.test.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.santiago.test.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_day.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_generator_utils.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_generator_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_provider_utils.ts
  packages/devextreme/jsdom-with-timezone.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: cherry-pick, 24_2

#30421 Scheduler: fix days duplication in workspace (T1252028)
  packages/devextreme/jest.config.js
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__snapshots__/santiago_timezone.test.ts.snap
  packages/devextreme/js/__internal/scheduler/__tests__/santiago_timezone.test.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.santiago.test.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/row.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_day.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_generator_utils.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_generator_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/utils/view_provider_utils.ts
  packages/devextreme/jsdom-with-timezone.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup-1.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: cherry-pick, 25_1

#30434 PivotGrid - make AreaItem & its descendants native classes
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_area/m_data_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/pivot_grid/fields_area/m_fields_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/headers_area/m_headers_area.ts
Labels: cherry-pick, 24_2

#30435 PivotGrid - make AreaItem & its descendants native classes
  packages/devextreme/js/__internal/grids/pivot_grid/area_item/m_area_item.ts
  packages/devextreme/js/__internal/grids/pivot_grid/data_area/m_data_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/pivot_grid/fields_area/m_fields_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/headers_area/m_headers_area.ts
Labels: cherry-pick, 25_1

#30432 TreeList: Fix row alternation when repaintChangesOnly is enabled (T1291705)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-there-is-fixed-column-and-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 25_2

#30431 TreeList: Fix row alternation when repaintChangesOnly is enabled (T1291705) (#30386)
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1291705-row-alternation-after-expanding-node-when-there-is-fixed-column-and-repaintChangesOnly=true.png
  e2e/testcafe-devextreme/tests/treeList/markup.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Labels: cherry-pick, 24_2

#30441 DateBox: timeview amPm popup should be inside dateBox popup content (T1300566)
  packages/devextreme/js/__internal/ui/date_box/m_time_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Labels: cherry-pick, 25_1

#30409 T1297188 - FileManager inside popup - W1025
  packages/devextreme/js/ui/file_manager/ui.file_manager.item_list.details.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/markup.tests.js
Labels: type/bug, cherry-pick, 25_2

#30444 DropDownEditor: popup repaint should only use initial dropDownOptions (T1279637)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 25_1

#30452 Editors and Overlays: get rid of toSelector outdated utility in tests
  .github/CODEOWNERS
  packages/devextreme/testing/tests/DevExpress.knockout/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.serverSide/trackBar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/radioButton.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/trackBar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/trackBar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popover.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/progressBar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/progressBar.tests.js
Labels: cherry-pick, 25_1

#30440 Tabs: focusedElement should be changed on pointerDown (T1297348)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs avail focused,sOF=false,orient=horizontal,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs disab focused,sOF=false,orient=horizontal,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs without focus,sOF=false,orient=horizontal,rtl=true (material-blue-light).png
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: cherry-pick, 24_2

#30439 Tabs: focusedElement should be changed on pointerDown (T1297348)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (material-blue-light).png
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: cherry-pick, 25_1

#30436 Tabs: focusedElement should be changed on pointerDown (T1297348)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel 1 item active,tabsPosition=right (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=primary,rtl=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabs/etalons/Tabs 3 not selected,active stylingMode=secondary,rtl=true (material-blue-light).png
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/editingTests.js
Labels: 25_2

#30451 German translations for DataGrid
  packages/devextreme/js/localization/messages/de.json
Labels: area/localization, 25_2

#30453 Navigation: get rid of outdated toSelector utility in tests
  packages/devextreme/testing/tests/DevExpress.knockout/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 25_2

#30454 Navigation: get rid of outdated toSelector utility in tests
  packages/devextreme/testing/tests/DevExpress.knockout/list.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: cherry-pick, 25_1

#30458 Scheduler: get rid of outdated toSelector utility in tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup-0.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup-1.tests.js
Labels: cherry-pick, 25_1

#30411 ContextMenu: fix ts errors
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: skip-cache, force all tests, 25_2

#30420 Scheduler: fix appointment color for remote data source (T1300252)
  apps/demos/Demos/Scheduler/Resources/jQuery/index.js
  packages/devextreme/js/__internal/scheduler/__tests__/resources.test.ts
  packages/devextreme/js/__internal/scheduler/utils/loader/loader.ts
  packages/devextreme/js/__internal/scheduler/utils/resource_manager/appointment_color_utils.test.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: 25_2

#30463 Button: add screenshot test with SVG icon
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/common.ts
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/button/_index.scss
Labels: 25_2

#30466 Button: add screenshot test with SVG icon
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/common.ts
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=contained (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=outlined (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup render states mode=text (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/button/_index.scss
Labels: cherry-pick, 25_1

#30469 Scheduler: fix appointment color for remote data source (T1300252)
  apps/demos/Demos/Scheduler/Resources/jQuery/index.js
  packages/devextreme/js/__internal/scheduler/__tests__/resources.test.ts
  packages/devextreme/js/__internal/scheduler/utils/loader/loader.ts
  packages/devextreme/js/__internal/scheduler/utils/resource_manager/appointment_color_utils.test.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.week.based.views.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Labels: cherry-pick, 25_1

#30284 CardView - Card cover is not displayed even if a custom template is specified (T1298662)
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.tsx
Labels: 25_2

#30449 CardView - Fix selectAll when some filter is applied - T1298718
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/public_methods.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.ts
  packages/testcafe-models/gridCore/index.ts
Labels: 25_1

#30480 RangeSelector: use x/y attributes instead of transform for tracker positioning on Firefox+Android (T1296261)
  packages/devextreme/js/viz/range_selector/common.js
  packages/devextreme/js/viz/range_selector/slider.js
  packages/devextreme/js/viz/range_selector/slider_marker.js
  packages/devextreme/js/viz/range_selector/sliders_controller.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Labels: cherry-pick, 24_2

#30403 DataGrid - Taps on cells do not activate cell editors in a detail DataGrid if this DataGrid is inside TabPanel on Android tablets (T1289237)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/baseDataGridHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Labels: 25_2

#30487 DataGrid - Taps on cells do not activate cell editors in a detail DataGrid if this DataGrid is inside TabPanel on Android tablets (T1289237)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/baseDataGridHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Labels: cherry-pick, 24_2

#30240 fix: final fix device detector
  packages/devextreme/js/__internal/core/m_devices.ts
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: 25_1

#30265 Scheduler: re-implement appointment filtration algorithm (T1296896, T1297019)
  e2e/testcafe-devextreme/tests/scheduler/common/month/outOfDayHours.ts
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineDay_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/js/__internal/core/utils/m_date.ts
  packages/devextreme/js/__internal/scheduler/__tests__/performance.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/filter_array.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.offset.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_occurrence_dates.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_occurrence_dates.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_raw_appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/index.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/shiftIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/shift_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Labels: 25_1

#30495 Scheduler: re-implement appointment filtration algorithm (T1296896, T1297019)
  e2e/testcafe-devextreme/tests/scheduler/common/month/outOfDayHours.ts
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineDay_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-0.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset-0_start-9_end-17_first-day-3.png
  e2e/testcafe-devextreme/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/js/__internal/core/utils/m_date.ts
  packages/devextreme/js/__internal/scheduler/__tests__/performance.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/filter_array.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.offset.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_occurrence_dates.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_occurrence_dates.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_raw_appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/index.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/shiftIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/shift_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Labels: cherry-pick, 25_2

#30494 Scheduler: fix several days appointment resize (T1294528)
  e2e/testcafe-devextreme/tests/scheduler/common/resizeAppointments/T1294528.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/resizing/m_core.ts
  packages/devextreme/js/__internal/scheduler/appointments/resizing/types.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: cherry-pick, 24_2

#30490 DataGrid(T1281192 & T1298901) - Error occurs on an attempt to group custom columns at runtime (#30448)
  e2e/testcafe-devextreme/tests/dataGrid/common/grouping/calculateGroupValueRuntimeChanges.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/index.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/selector_comparison.test.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/selector_comparison.ts
  packages/testcafe-models/dataGrid/groupRow.ts
Labels: cherry-pick, 24_2

#30505 Update all ExcelJS mentions to DevExtreme ExcelJS
  apps/demos/Demos/DataGrid/ExcelJSExportImages/description.md
  apps/demos/Demos/DataGrid/ExcelJSHeaderAndFooter/description.md
  apps/demos/Demos/DataGrid/ExcelJSOverview/description.md
  apps/demos/Demos/PivotGrid/ExcelJSOverview/description.md
  apps/demos/Demos/PivotGrid/ExcelJsHeaderAndFooter/description.md
Labels: 25_2

#30504 Scheduler: fix options updating on view change (T1297019, T1301345)
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/performance.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/resources.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/santiago_timezone.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/views.test.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: cherry-pick, 25_1

#30506 Scheduler: fix options updating on view change (T1297019, T1301345)
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/resources.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/santiago_timezone.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/views.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: cherry-pick, 24_2

#30510 Pin devexpress-quill via pnpm catalogs
  apps/demos/package.json
  e2e/wrappers/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: cherry-pick, 25_1

#30515 Menu: fix ts-errors (#30483)
  packages/devextreme/js/__internal/core/m_action.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 25_1

#30513 Localization: Update HTML Editor strings in German dictionary (#30511) 🍒
  packages/devextreme/js/localization/messages/de.json
Labels: cherry-pick, area/localization, 25_1

#30478 Update navigation CODEOWNERS
  .github/CODEOWNERS
Labels: 25_1

#30518 Menu & ContextMenu: remove m_ prefix from file names
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/context_menu/context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/menu_base.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_toolbar.ts
  packages/devextreme/js/__internal/ui/menu/menu.ts
  packages/devextreme/js/__internal/ui/menu/submenu.ts
  packages/devextreme/js/ui/context_menu.js
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/js/ui/menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Labels: cherry-pick, 25_1

#30407 TreeView: extend dts types to specify the type of custom item
  packages/devextreme-angular/src/ui/tree-view/index.ts
  packages/devextreme-react/src/tree-view.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/tree_view.ts
  packages/devextreme/js/ui/tree_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_2

#30499 DataGrid(T1293295) - Individually selecting all header filter options deselects all options
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilterList.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/testcafe-models/list/checkBox.ts
Labels: type/bug, 25_2

#30516 Pin devexpress-quill via pnpm catalogs
  apps/demos/package.json
  e2e/wrappers/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: cherry-pick, 24_2

#30523 Scheduler: simplify pivot grid export demos
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/React/App.tsx
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/ReactJs/App.js
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/Vue/App.vue
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/jQuery/index.js
Labels: 25_2

#30528 DataGrid(T1293295) - Individually selecting all header filter options deselects all options (#30499)
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilterList.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/testcafe-models/list/checkBox.ts
  packages/testcafe-models/list/item.ts
Labels: cherry-pick, 24_2

#30520 T1301121 - double fileManager - popup notification is not positioned correctly
  packages/devextreme/js/ui/file_manager/ui.file_manager.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.notification.js
  packages/devextreme/testing/helpers/fileManagerHelpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: type/bug, 25_2

#30521 T1301121 - double fileManager - popup notification is not positioned correctly
  packages/devextreme/js/ui/file_manager/ui.file_manager.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.notification.js
  packages/devextreme/testing/helpers/fileManagerHelpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: type/bug, cherry-pick, 25_1

#30522 T1301121 - double fileManager - popup notification is not positioned correctly
  packages/devextreme/js/ui/file_manager/ui.file_manager.js
  packages/devextreme/js/ui/file_manager/ui.file_manager.notification.js
  packages/devextreme/testing/helpers/fileManagerHelpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Labels: type/bug, cherry-pick, 24_2

#30519 MultiView: fix ts errors
  packages/devextreme/js/__internal/ui/collection/collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/multi_view/m_multi_view.animation.ts
  packages/devextreme/js/__internal/ui/multi_view/m_multi_view.ts
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Labels: 25_2

#30456 Overlay: Fix ESLint issues and improve typing
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/__internal/ui/popover/m_popover_position_controller.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_position_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toast.tests.js
Labels: 25_2

#30465 Form: improve TS typing
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/ui/collection/item.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/form/components/m_button_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_empty_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_field_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_label.ts
  packages/devextreme/js/__internal/ui/form/m_form.item_option_action.ts
  packages/devextreme/js/__internal/ui/form/m_form.item_options_actions.ts
  packages/devextreme/js/__internal/ui/form/m_form.items_runtime_info.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/form/m_form.utils.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/resizable/resizable.ts
  packages/devextreme/js/__internal/ui/responsive_box.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tile_view.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.knockout/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetItem.tests.js
Labels: skip-cache, force all tests, 25_2

#30538 Form: improve TS typing
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/ui/collection/item.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/form/components/m_button_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_empty_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_field_item.ts
  packages/devextreme/js/__internal/ui/form/components/m_label.ts
  packages/devextreme/js/__internal/ui/form/m_form.item_option_action.ts
  packages/devextreme/js/__internal/ui/form/m_form.item_options_actions.ts
  packages/devextreme/js/__internal/ui/form/m_form.items_runtime_info.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/form/m_form.utils.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/resizable/resizable.ts
  packages/devextreme/js/__internal/ui/responsive_box.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tile_view.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.knockout/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetItem.tests.js
Labels: cherry-pick, 25_1

#30548 Overlay: Fix ESLint issues and improve typing
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/__internal/ui/popover/m_popover_position_controller.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_position_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toast.tests.js
Labels: cherry-pick, 25_1

#30551 Overlay: Remove m_ prefix
  packages/devextreme/js/__internal/ui/context_menu/context_menu.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/drawer.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.context.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_validation_message.ts
  packages/devextreme/js/__internal/ui/menu/submenu.ts
  packages/devextreme/js/__internal/ui/overlay/overlay.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/ui/overlay/ui.overlay.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/confirmationPopup.markup.tests.js
Labels: cherry-pick, 25_1

#30549 Overlay z-index: Improve typing
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
Labels: 25_2

#30554 Overlay z-index: Improve typing
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
Labels: cherry-pick, 25_1

#30529 Scheduler: fix recurrence appointment width in month timeline for virtual scrolling (T1258030)
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/T1258030.ts
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/etalons/virtual_scroll_timeline_3000.png
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
Labels: cherry-pick, 25_1

#30531 Scheduler: simplify pivot grid export demos (#30523)
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/React/App.tsx
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/ReactJs/App.js
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/Vue/App.vue
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/jQuery/index.js
Labels: cherry-pick, 25_1

#30557 List, TreeView: remove the use of SearchBoxMixin
  packages/devextreme/js/__internal/core/utils/m_stubs.ts
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/ui/collection/m_search_box_mixin.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.list.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/data_adapter.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_popup.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.search.ts
  packages/devextreme/js/__internal/ui/list/modules/m_search.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.search.ts
  packages/devextreme/js/core/utils/stubs.js
  packages/devextreme/js/ui/list_light.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/searching.js
Labels: cherry-pick, 25_1

#30544 Switch: Improve TS types, remove ts-ignore and warnings
  packages/devextreme/js/__internal/events/gesture/m_swipeable.ts
  packages/devextreme/js/__internal/events/m_swipe.ts
  packages/devextreme/js/__internal/ui/m_switch.ts
Labels: cherry-pick, 25_1

#30555 Overlay z-index: Remove m_ prefix
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/ui/overlay/overlay.ts
  packages/devextreme/js/__internal/ui/overlay/z_index.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/ui/diagram/ui.diagram.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 25_2

#30556 Overlay z-index: Remove m_ prefix
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/ui/overlay/overlay.ts
  packages/devextreme/js/__internal/ui/overlay/z_index.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/ui/diagram/ui.diagram.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 25_1

#30422 CI: Fix missing vendor css in additional qunit tests
  .github/workflows/qunit_tests-additional-renovation.yml
  packages/devextreme-scss/project.json
  packages/devextreme/docker-ci.sh
  packages/devextreme/project.json
Labels: 25_2

#30507 LoadIndicator: Publish animationType option
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/common.ts
  packages/devextreme-angular/src/ui/load-indicator/index.ts
  packages/devextreme-vue/src/load-indicator.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/ui/load_indicator.d.ts
  packages/devextreme/js/ui/load_indicator_types.d.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_2

#30536 Remove dxTemplateModule from demos
  apps/demos/Demos/Accordion/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Autocomplete/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Calendar/Overview/Angular/app/app.component.ts
  apps/demos/Demos/CardView/CardTemplate/Angular/app/app.component.ts
  apps/demos/Demos/CardView/FieldTemplate/Angular/app/app.component.ts
  apps/demos/Demos/Common/NavigationOverview/Angular/app/app.component.ts
  apps/demos/Demos/Common/NavigationRightToLeftSupport/Angular/app/app.component.ts
  apps/demos/Demos/Common/PopupAndNotificationsOverview/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/Cell/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/Column/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/ExcelJSHeaderAndFooter/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/MasterDetailAPI/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/MasterDetailView/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/MultiRowHeadersBands/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/Overview/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/PDFHeaderAndFooter/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/RightToLeftSupport/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/Row/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/Toolbar/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/CustomShapesWithTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/Angular/app/app.component.ts
  apps/demos/Demos/Gallery/ItemTemplate/Angular/app/app.component.ts
  apps/demos/Demos/List/Grouping/Angular/app/app.component.ts
  apps/demos/Demos/List/Search/Angular/app/app.component.ts
  apps/demos/Demos/List/WebAPI/Angular/app/app.component.ts
  apps/demos/Demos/LoadIndicator/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Lookup/Templates/Angular/app/app.component.ts
  apps/demos/Demos/MultiView/Overview/Angular/app/app.component.ts
  apps/demos/Demos/PivotGrid/DrillDown/Angular/app/app.component.ts
  apps/demos/Demos/Popover/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Popup/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Popup/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/RadioGroup/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CellTemplates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Templates/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/TimeZonesSupport/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Toolbar/Angular/app/app.component.ts
  apps/demos/Demos/SelectBox/CustomizeDropDownButton/Angular/app/app.component.ts
  apps/demos/Demos/SelectBox/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TabPanel/DragAndDrop/Angular/app/app.component.ts
  apps/demos/Demos/TabPanel/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TabPanel/Templates/Angular/app/app.component.ts
  apps/demos/Demos/TagBox/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Toolbar/Adaptability/Angular/app/app.component.ts
  apps/demos/Demos/Tooltip/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Angular/app/app.component.ts
Labels: force all tests, 25_2

#30541 Form: remove 'm_' prefix from files
  packages/devextreme/js/__internal/ui/form/components/button_item.ts
  packages/devextreme/js/__internal/ui/form/components/empty_item.ts
  packages/devextreme/js/__internal/ui/form/components/field_item.ts
  packages/devextreme/js/__internal/ui/form/components/label.ts
  packages/devextreme/js/__internal/ui/form/form.item_option_action.ts
  packages/devextreme/js/__internal/ui/form/form.item_options_actions.ts
  packages/devextreme/js/__internal/ui/form/form.items_runtime_info.ts
  packages/devextreme/js/__internal/ui/form/form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/form.layout_manager.utils.ts
  packages/devextreme/js/__internal/ui/form/form.ts
  packages/devextreme/js/__internal/ui/form/form.utils.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/formDialog.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.knockout/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Labels: cherry-pick, 25_1

#30540 Form: remove 'm_' prefix from files
  packages/devextreme/js/__internal/ui/form/components/button_item.ts
  packages/devextreme/js/__internal/ui/form/components/empty_item.ts
  packages/devextreme/js/__internal/ui/form/components/field_item.ts
  packages/devextreme/js/__internal/ui/form/components/label.ts
  packages/devextreme/js/__internal/ui/form/form.item_option_action.ts
  packages/devextreme/js/__internal/ui/form/form.item_options_actions.ts
  packages/devextreme/js/__internal/ui/form/form.items_runtime_info.ts
  packages/devextreme/js/__internal/ui/form/form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/form.layout_manager.utils.ts
  packages/devextreme/js/__internal/ui/form/form.ts
  packages/devextreme/js/__internal/ui/form/form.utils.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/formDialog.ts
  packages/devextreme/js/ui/form/ui.form.js
  packages/devextreme/testing/tests/DevExpress.knockout/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Labels: 25_2

#30547 fix: final fix device detector
  packages/devextreme/js/__internal/core/m_devices.ts
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 24_2

#30552 fix: final fix device detector (#30240)
  packages/devextreme/js/__internal/core/m_devices.ts
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 25_2

#30545 Switch: Remove "m" prefix after TS refactoring
  .github/CODEOWNERS
  packages/devextreme/js/__internal/ui/switch.ts
  packages/devextreme/js/ui/switch.js
Labels: 25_2

#30571 List: improve TS typing
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.async.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.live_update.ts
  packages/devextreme/js/__internal/ui/context_menu/menu_base.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/scroll_view/scrollable.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/toolbar.singleline.ts
  packages/devextreme/js/__internal/ui/toolbar/toolbar.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 25_1
