Repository DevExpress/DevExtreme, pull requests merged in 2025-01, with the labels that each got.

#28659 Chat: refactor AIAndChatbotIntegration React demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/App.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/Message.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/useApi.ts
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/App.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/Message.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/useApi.js
Labels: skip-cache, force all tests, 25_1

#28663 Chat: refactor AIAndChatbotIntegration React demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/App.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/Message.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/useApi.ts
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/App.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/Message.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/useApi.js
Labels: cherry-pick, 24_2

#28664 DataGrid Overview demo tests are broken
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
  apps/demos/testing/etalons/DataGrid-Overview_mask.png
Labels: 25_1

#28669 DataGrid - Overview Demo - update etalons
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
  apps/demos/testing/etalons/DataGrid-Overview_mask.png
Labels: cherry-pick, 24_1

#28668 DataGrid - Overview Demo - update etalons
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
  apps/demos/testing/etalons/DataGrid-Overview_mask.png
Labels: cherry-pick, 24_2

#28647 DateBox: fix formatting of min/max attribute in datetime picker type (T1252602)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.native.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: type/bug, 25_1

#28678 Revert "vue: suppress "Invalid prop: type" warn in demos ci"
  apps/demos/testing/known-warnings.json
Labels: skip-cache, force all tests

#28682 Setup libs required for chrome installation
  .github/actions/pin-browsers/action.yml
Labels: 22_2

#28662 Chat: create storybook case for customized message
  apps/react-storybook/package.json
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/data.ts
  pnpm-lock.yaml
Labels: 25_1

#28681 DateBox: fix formatting of min/max attribute in datetime picker type (T1252602)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.native.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: type/bug, 24_2

#28679 DateBox: fix formatting of min/max attribute in datetime picker type (T1252602)
  js/ui/date_box/ui.date_box.strategy.native.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Labels: type/bug, 22_2

#28661 fix: recover after react 19 compatibility fix
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/use-option-scanning.ts
Labels: 24_2

#28658 fix: address React 19 BC due to which configuration components do not apply their options (T1269933)
  packages/devextreme-react/src/core/component-base.tsx
Labels: cherry-pick, 25_1

#28683 Revert "vue: suppress "Invalid prop: type" warn in demos ci"
  apps/demos/testing/known-warnings.json
Labels: cherry-pick, skip-cache, force all tests, 25_1

#28660 DataGrid - The "Cannot read properties of undefined error" occurs when using Tab while saving a promise
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: skip-cache, 25_1

#28684 Chat: create storybook case for customized message
  apps/react-storybook/package.json
  apps/react-storybook/stories/chat/Chat.stories.tsx
  apps/react-storybook/stories/chat/data.ts
  pnpm-lock.yaml
Labels: cherry-pick, 24_2

#28692 ThemeBuilder: it is not possible to change the background color of buttons with the 'Normal' type in the 'Outlined' and 'Text' styling modes (T1212068)
  packages/devextreme-scss/scss/widgets/fluent/button/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme-scss/scss/widgets/generic/button/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/button/_colors.scss
  packages/devextreme-scss/scss/widgets/material/button/_index.scss
  packages/devextreme-scss/scss/widgets/material/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/pivotGrid/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/tabs/layout/navigation-button/_base.scss
  packages/devextreme-scss/scss/widgets/material/toolbar/_index.scss
Labels: 24_2

#28701 ThemeBuilder: iit is not possible to change the background color of buttons with the 'Normal' type in the 'Outlined' and 'Text' styling modes (T1212068)
  packages/devextreme-scss/scss/widgets/fluent/button/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme-scss/scss/widgets/generic/button/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/button/_colors.scss
  packages/devextreme-scss/scss/widgets/material/button/_index.scss
  packages/devextreme-scss/scss/widgets/material/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/pivotGrid/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/tabs/layout/navigation-button/_base.scss
  packages/devextreme-scss/scss/widgets/material/toolbar/_index.scss
Labels: cherry-pick, skip-cache, 25_1

#28702 ThemeBuilder: iit is not possible to change the background color of buttons with the 'Normal' type in the 'Outlined' and 'Text' styling modes (T1212068)
  packages/devextreme-scss/scss/widgets/fluent/button/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/toolbar/_index.scss
  packages/devextreme-scss/scss/widgets/generic/button/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/button/_colors.scss
  packages/devextreme-scss/scss/widgets/material/button/_index.scss
  packages/devextreme-scss/scss/widgets/material/button/_mixins.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/pivotGrid/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/tabs/layout/navigation-button/_base.scss
  packages/devextreme-scss/scss/widgets/material/toolbar/_index.scss
Labels: cherry-pick, 24_1

#28688 CardView - implement dataController
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/public_methods.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/public_methods.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.mock.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.ts
  packages/devextreme/js/__internal/grids/new/grid_core/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#28709 Form: DropDownBox loses its value after the Form is resized (T1196835)
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: 25_1

#28718 Form: DropDownBox loses its value after the Form is resized (T1196835) (#28709)
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 24_2

#28722 Form: DropDownBox loses its value after the Form is resized (T1196835) (#28709)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 23_1

#28713 Added bg+da+uk and updated nl
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/uk.json
Labels: area/localization, 25_1

#28724 Widget: remove excess typing file (#28625)
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.navigator.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_formDialog.ts
  packages/devextreme/js/__internal/ui/m_defer_rendering.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/menu/m_submenu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_action.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_main_item.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
  packages/devextreme/js/__internal/ui/widget.ts
  packages/devextreme/js/core/dom_component.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 25_1

#28695 DataGrid - The "Cannot read properties of undefined error" occurs when using Tab while saving a promise (T1190566)
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: cherry-pick, skip-cache, 24_2

#28697 DataGrid - Focus gets removed from rowsview when datagrid repaints on focusChanged event - T1224663
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: 25_1

#28734 Popup: template wrapper element inherits maxHeight and minHeight styles from parent when popup dimensions are auto (T1259619)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 24_2

#28714 DataGrid - Focus gets removed from rowsview when datagrid repaints on focusChanged event - T1224663
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: cherry-pick, 24_2

#28723 DateBox: Get rid of Uncaught TypeError: this._dateParts is undefined (T1264236)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 25_1

#28746 DateBox: Get rid of Uncaught TypeError: this._dateParts is undefined (T1264236)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 24_2

#28738 Collection widget live update: fix correctionIndex applying in frameworks and after dataSource is updated at runtime (T1250900)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: 25_1

#28715 DataGrid - Focus gets removed from rowsview when datagrid repaints on focusChanged event - T1224663
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: cherry-pick, 24_1

#28747 DateBox: Get rid of Uncaught TypeError: this._dateParts is undefined (T1264236)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 24_1

#28737 Drawer: ScrollView doesn't scroll if you change the Drawer's position and openedStateMode options (T1255272)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Labels: 25_1

#28728 Popup: template wrapper element inherits maxHeight and minHeight styles from parent when popup dimensions are auto (T1259619)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: 25_1

#28711 Custom bundler scripts are not working (T1269453)
  .github/workflows/build_all.yml
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/npm-bin/bundler.js
  packages/devextreme/package.json
Labels: 24_2

#28735 Popup: template wrapper element inherits maxHeight and minHeight styles from parent when popup dimensions are auto (T1259619)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 24_1

#28741 Drawer: ScrollView doesn't scroll if you change the Drawer's position and openedStateMode options (T1255272)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Labels: cherry-pick, 24_1

#28731 Editor: convert to native class
  packages/devextreme/js/__internal/core/options/m_index.ts
  packages/devextreme/js/__internal/ui/editor.ts
  packages/devextreme/js/__internal/ui/editor/m_editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
Labels: force all tests, 25_1

#28752 Custom bundler scripts are not working (T1269453)
  .github/workflows/build_all.yml
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/npm-bin/bundler.js
  packages/devextreme/package.json
Labels: cherry-pick, 25_1

#28759 Rename `m_editor.ts` to `editor.ts`
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/ui/editor/editor.js
Labels: 25_1

#28749 Collection widget live update: fix correctionIndex applying in frameworks and after dataSource is updated at runtime (T1250900) (#28738)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Labels: cherry-pick, 24_1

#28750 fix: guard client API against SSR until CustConfComp optimizations are merged
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/nested-option.ts
  packages/devextreme-react/src/core/use-option-scanning.ts
Labels: cherry-pick, 25_1

#28768 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_2

#28693 CardView: Implement Toolbar
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/toolbar.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/defaults.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/toolbar.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerPanel.tests.js
Labels: skip-cache

#28769 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#28727 CardView - prepare to e2e testing & make simple tests
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/pager/view.tsx
  packages/testcafe-models/cardView/card.ts
  packages/testcafe-models/cardView/index.ts
  packages/testcafe-models/dataGrid/index.ts
  packages/testcafe-models/gridCore/index.ts
Labels: 25_1

#28700 DataGrid - Gray boxes appear when the push method is used to remove rows in infinite scrolling mode (T1240079)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1240079.png
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: 25_1

#28696 DataGrid - The "Cannot read properties of undefined error" occurs when using Tab while saving a promise (T1190566)
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
Labels: cherry-pick, skip-cache, 24_1

#28760 Editor: convert to ES6 class (#28731)
  packages/devextreme/js/__internal/core/options/m_index.ts
  packages/devextreme/js/__internal/ui/editor.ts
  packages/devextreme/js/__internal/ui/editor/m_editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
Labels: cherry-pick, 24_2

#28772 Chat: Fix html parsing in AI demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Angular/app/app.component.css
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Angular/app/app.service.ts
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/Message.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/styles.css
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/Message.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/styles.css
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Vue/App.vue
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Vue/data.ts
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.html
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/styles.css
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
  apps/demos/package.json
  apps/demos/rollup.external.bundles.config.mjs
  pnpm-lock.yaml
Labels: force all tests, 25_1

#28784 Popup: scrollbar appears when content does not overflow the height (T1253645) (#28779)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 24_2

#28785 Popup: scrollbar appears when content does not overflow the height (T1253645) (#28779)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 24_1

#28771 DataGrid - Gray boxes appear when the push method is used to remove rows in infinite scrolling mode (T1240079)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1240079.png
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: cherry-pick, 24_1

#28770 DataGrid - Gray boxes appear when the push method is used to remove rows in infinite scrolling mode (T1240079)
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1240079.png
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Labels: cherry-pick, 24_2

#28686 Validator - onInitialized event parameter has incorrect typing (T1269388)
  packages/devextreme-angular/src/ui/validator/index.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/ui/validator.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: force all tests, 24_2

#28687 T1261532: DataGrid - FocusedRowChanged event isn't raised when the push API is used to remove the last row
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: 25_1

#28783 Chart: zoom should work correctly on mobile devices when axis type is discrete (T1236028)
  packages/devextreme/js/viz/translators/category_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 25_1

#28716 DataGrid demos - fix toolbar customization demo appearance for small screen width
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/ToolbarCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ToolbarCustomization/jQuery/index.js
  apps/demos/testing/widgets/datagrid/ToolbarCustomization.test.js
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide.png
Labels: 25_1

#28789 Added bg+da+uk and updated nl (cherry-pick #28713)
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/uk.json
Labels: cherry-pick, area/localization, 24_2

#28788 CI: stabilize Form's TestCafe tests in Material
  packages/devextreme/testing/testcafe/tests/editors/dateBox/dateBoxGeometry.ts
  packages/devextreme/testing/testcafe/tests/form/form.labelMode.ts
  packages/devextreme/testing/testcafe/tests/form/form.simpleItem.colSpan.ts
  packages/devextreme/testing/testcafe/tests/form/form.simpleItem.labelMode.ts
  packages/devextreme/testing/testcafe/tests/form/form.simpleItem.ts
Labels: 23_2

#28762 Collection.Base: convert to ES6 Class
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
Labels: 25_1

#28786 Popup: scrollbar appears when content does not overflow the height (T1253645) (#28779)
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/scss/widgets/base/_popup.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Labels: cherry-pick, 23_2

#28797 Chart: zoom should work correctly on mobile devices when axis type is discrete (T1236028)
  packages/devextreme/js/viz/translators/category_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 24_2

#28798 Chart: zoom should work correctly on mobile devices when axis type is discrete (T1236028)
  packages/devextreme/js/viz/translators/category_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 24_1

#28799 Chart: zoom should work correctly on mobile devices when axis type is discrete (T1236028)
  packages/devextreme/js/viz/translators/category_translator.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Labels: 23_2

#28802 Enable devextreme-angular tests on CI
  .github/workflows/wrapper_tests.yml
  packages/devextreme-angular/package.json
  pnpm-lock.yaml
Labels: 24_2

#28796 Collection.Base: remove `m_` prefix from the name
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
Labels: 25_1

#28790 T1261532: DataGrid - FocusedRowChanged event isn't raised when the push API is used to remove the last row
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: type/bug, cherry-pick, 24_2

#28792 T1261532: DataGrid - FocusedRowChanged event isn't raised when the push API is used to remove the last row
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Labels: cherry-pick, 24_1

#28805 Enable devextreme-angular tests on CI
  .github/workflows/wrapper_tests.yml
  packages/devextreme-angular/package.json
  pnpm-lock.yaml
Labels: cherry-pick, 25_1

#28795 Collection.Base: convert to ES6 Class (#28762)
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/splitter/utils/types.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
Labels: cherry-pick, 24_2

#28793 Validator - onInitialized event parameter has incorrect typing (T1269388)
  packages/devextreme-angular/src/ui/validator/index.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/validator.ts
  packages/devextreme/js/ui/validator.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 25_1

#28809 TagBox - selectAll checkBox should be aligned correctly in fluent (T1252002)
  e2e/testcafe-devextreme/tests/editors/tagBox/common.ts
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (generic-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (material-blue-light-compact).png
  packages/devextreme-scss/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/dropDownEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_sizes.scss
Labels: 25_1

#28818 TagBox - selectAll checkBox should be aligned correctly in fluent (T1252002)
  e2e/testcafe-devextreme/tests/editors/tagBox/common.ts
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (generic-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox with selection controls (material-blue-light-compact).png
  packages/devextreme-scss/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/dropDownEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_sizes.scss
Labels: 24_1

#28815 Collection.Base: remove `m_` prefix from the name (#28796)
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
  packages/devextreme/js/ui/collection/ui.collection_widget.base.js
Labels: cherry-pick, 24_2

#28745 CI: Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/_security-alerts.yml
  .github/workflows/build_all.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/publish-demos.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
Labels: cherry-pick, 24_1

#28820 Fix export in chart demo
  apps/demos/Demos/Charts/ExportCustomMarkup/Angular/app/app.component.html
  apps/demos/Demos/Charts/ExportCustomMarkup/Angular/app/app.component.ts
  apps/demos/Demos/Charts/ExportCustomMarkup/React/App.tsx
  apps/demos/Demos/Charts/ExportCustomMarkup/React/Form.tsx
  apps/demos/Demos/Charts/ExportCustomMarkup/ReactJs/App.js
  apps/demos/Demos/Charts/ExportCustomMarkup/ReactJs/Form.js
  apps/demos/Demos/Charts/ExportCustomMarkup/Vue/App.vue
  apps/demos/Demos/Charts/ExportCustomMarkup/Vue/Form.vue
  apps/demos/configs/Angular/config.js
  apps/demos/configs/React/config.js
  apps/demos/configs/ReactJs/config.js
  apps/demos/configs/Vue/config.js
  apps/demos/package.json
  apps/demos/rollup.external.bundles.config.mjs
  apps/demos/testing/widgets/charts/Export.test.js
  pnpm-lock.yaml
Labels: cherry-pick, 25_1

#28667 TagBox: fix tag rendering when valueExpr is a function (T1234032)
  packages/devextreme/js/__internal/core/utils/m_selection_filter.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: type/bug, 25_1

#28801 DataGrid demos - hide context menu in table in dropdown
  apps/demos/Demos/DataGrid/CustomEditors/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/CustomEditors/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/CustomEditors/Vue/EmployeeDropDownBoxComponent.vue
  apps/demos/Demos/DataGrid/CustomEditors/jQuery/index.js
Labels: 24_2

#28808 DataGrid demos - hide context menu in table in dropdown (#28758)
  apps/demos/Demos/DataGrid/CustomEditors/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/CustomEditors/Vue/EmployeeDropDownBoxComponent.vue
  apps/demos/Demos/DataGrid/CustomEditors/jQuery/index.js
Labels: 24_1

#28822 CI: Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/pack_all.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/paths.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
Labels: 23_2

#28823 CI: Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/_security-alerts.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 23_1

#28824 TagBox: fix tag rendering when valueExpr is a function (T1234032)
  packages/devextreme/js/__internal/core/utils/m_selection_filter.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: type/bug, 24_2

#28825 TagBox: fix tag rendering when valueExpr is a function (T1234032)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/core/utils/selection_filter.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: type/bug, 24_1

#28800 DataGrid demos - fix toolbar customization demo appearance for small screen width
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/ToolbarCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ToolbarCustomization/jQuery/index.js
  apps/demos/testing/widgets/datagrid/ToolbarCustomization.test.js
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide.png
Labels: cherry-pick, 24_2

#28807 DataGrid demos - fix toolbar customization demo appearance for small screen width
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/ToolbarCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ToolbarCustomization/jQuery/index.js
  apps/demos/testing/widgets/datagrid/ToolbarCustomization.test.js
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_medium.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_thin.png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/toolbar_customization_wide.png
Labels: cherry-pick, 24_1

#28834 Lookup: Fix load indicator when minSearchLength specified (T1215813)
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 23_2

#28831 Lookup: Fix load indicator when minSearchLength specified (T1215813)
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 24_2

#28833 Lookup: Fix load indicator when minSearchLength specified (T1215813)
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Labels: cherry-pick, 24_1

#28832 Convert CollectionItem class into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_item.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
Labels: 25_1

#28736 DataGrid - Focused cell moves to the end of the table after horizontal scrolling (T1262288)
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: skip-cache, 25_1

#28838 SearchBoxMixin: move to TS
  packages/devextreme/js/__internal/ui/collection/m_search_box_mixin.ts
  packages/devextreme/js/ui/widget/ui.search_box_mixin.js
Labels: 25_1

#28814 List: Set item aria-label to make CheckBox/RadioGroup mock label not readable (T1248422)
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: 25_1

#28835 CardView: DataController: implement Remote Operations
  packages/devextreme/js/__internal/core/reactive/utilities.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.ts
Labels: 25_1

#28751 T1272535: DataGrid - fix base sensitivity search in lookup column
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/data/data_source.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#28828 DataGrid: update Toolbar Customization demo description
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/jQuery/description.md
Labels: 24_2

#28829 CI: Add new form material jobs to PR filter stubs
  .github/workflows/pr-filter-stubs.yml
Labels: 25_1

#28848 DataGrid: update Toolbar Customization demo description (#28828)
  apps/demos/Demos/DataGrid/ToolbarCustomization/React/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/ReactJs/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/description.md
  apps/demos/Demos/DataGrid/ToolbarCustomization/jQuery/description.md
Labels: cherry-pick, 25_1

#28845 Bump devextreme-quill version to 1.7.2
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: skip-cache, 24_2

#28844 Bump devextreme-quill version to 1.7.2
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: skip-cache, 25_1

#28840 DataGrid - Focused cell moves to the end of the table after horizontal scrolling (T1262288)
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: cherry-pick, 24_1

#28839 DataGrid - Focused cell moves to the end of the table after horizontal scrolling ( T1262288)
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Labels: cherry-pick, 24_2

#28837 Convert CollectionItem class into ES6 class (#28832)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_item.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
Labels: cherry-pick, 24_2

#28836 Collection[Edit, Async, LiveUpdate, Hierarchical] & selection strategies: convert into ES6 classes
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/collection/async.ts
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/edit.ts
  packages/devextreme/js/__internal/ui/collection/hierarchical.ts
  packages/devextreme/js/__internal/ui/collection/live_update.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.async.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.strategy.plain.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.strategy.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.edit.strategy.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/m_hierarchical_collection_widget.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.strategy.grouped.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/js/__internal/ui/menu/m_menu.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_collection.ts
  packages/devextreme/js/__internal/ui/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/__internal/ui/toolbar/m_toolbar.base.ts
Labels: 25_1

#28850 List: Set item aria-label to make CheckBox/RadioGroup mock label not readable (T1248422)
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: cherry-pick, skip-cache, 24_2

#28859 Rename HTML Editor in demo descriptions
  apps/demos/Demos/HtmlEditor/Mentions/description.md
  apps/demos/Demos/HtmlEditor/Overview/description.md
  apps/demos/Demos/HtmlEditor/ToolbarCustomization/description.md
Labels: 24_2

#28860 Rename HTML Editor in demo descriptions (#28859)
  apps/demos/Demos/HtmlEditor/Mentions/description.md
  apps/demos/Demos/HtmlEditor/Overview/description.md
  apps/demos/Demos/HtmlEditor/ToolbarCustomization/description.md
Labels: cherry-pick, 25_1

#28857 CI: Update themebuilder
  themebuilder-scss/package-lock.json
  themebuilder-scss/package.json
  themebuilder-scss/src/metadata/dependency-collector.ts
Labels: 22_1

#28862 Collection, TreeView, FileManager: get rid of unused this._selectionChangePromise
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
Labels: 25_1

#28865 TagBox: should not close on tab press after search when applyValueMode is "useButtons" (T1230517)
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#28866 TagBox: should not close on tab press after search when applyValueMode is "useButtons" (T1230517)
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_2

#28867 TagBox: should not close on tab press after search when applyValueMode is "useButtons" (T1230517)
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_1

#28847 Collection: move SearchBoxMixin to TS
  packages/devextreme/js/__internal/ui/collection/m_search_box_mixin.ts
  packages/devextreme/js/ui/widget/ui.search_box_mixin.js
Labels: cherry-pick, 24_2

#28851 List: Set item aria-label to make CheckBox/RadioGroup mock label not readable (T1248422)
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: cherry-pick, skip-cache, 24_1

#28710 Demos - DataGrid - Popup Editing Vue demo - TextArea isn't displayed inside the editing popup
  apps/demos/Demos/DataGrid/PopupEditing/Vue/App.vue
  apps/demos/Demos/DataGrid/PopupEditing/jQuery/index.html
  apps/demos/testing/widgets/datagrid/PopupEditing.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop.png
Labels: 25_1

#28712 Demos - DataGrid - Popup Editing Vue demo - TextArea isn't displayed inside the editing popup
  apps/demos/Demos/DataGrid/PopupEditing/Vue/App.vue
  apps/demos/Demos/DataGrid/PopupEditing/jQuery/index.html
  apps/demos/testing/widgets/datagrid/PopupEditing.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_1_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_2_desktop.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_popup_editing_3_desktop.png
Labels: cherry-pick, 24_2

#28763 Angular: Add child validation method (fix T1269950)
  package.json
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-angular/src/ui/accordion/index.ts
  packages/devextreme-angular/src/ui/action-sheet/index.ts
  packages/devextreme-angular/src/ui/autocomplete/index.ts
  packages/devextreme-angular/src/ui/box/index.ts
  packages/devextreme-angular/src/ui/button-group/index.ts
  packages/devextreme-angular/src/ui/chart/index.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/color-box/index.ts
  packages/devextreme-angular/src/ui/context-menu/index.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/date-box/index.ts
  packages/devextreme-angular/src/ui/date-range-box/index.ts
  packages/devextreme-angular/src/ui/diagram/index.ts
  packages/devextreme-angular/src/ui/drop-down-box/index.ts
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-angular/src/ui/filter-builder/index.ts
  packages/devextreme-angular/src/ui/form/index.ts
  packages/devextreme-angular/src/ui/gallery/index.ts
  packages/devextreme-angular/src/ui/gantt/index.ts
  packages/devextreme-angular/src/ui/html-editor/index.ts
  packages/devextreme-angular/src/ui/list/index.ts
  packages/devextreme-angular/src/ui/lookup/index.ts
  packages/devextreme-angular/src/ui/map/index.ts
  packages/devextreme-angular/src/ui/menu/index.ts
  packages/devextreme-angular/src/ui/multi-view/index.ts
  packages/devextreme-angular/src/ui/number-box/index.ts
  packages/devextreme-angular/src/ui/pie-chart/index.ts
  packages/devextreme-angular/src/ui/polar-chart/index.ts
  packages/devextreme-angular/src/ui/popover/index.ts
  packages/devextreme-angular/src/ui/popup/component.ts
  packages/devextreme-angular/src/ui/radio-group/index.ts
  packages/devextreme-angular/src/ui/responsive-box/index.ts
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-angular/src/ui/select-box/index.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-angular/src/ui/tab-panel/index.ts
  packages/devextreme-angular/src/ui/tabs/index.ts
  packages/devextreme-angular/src/ui/tag-box/index.ts
  packages/devextreme-angular/src/ui/text-box/index.ts
  packages/devextreme-angular/src/ui/tile-view/index.ts
  packages/devextreme-angular/src/ui/toolbar/index.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/src/ui/tree-view/index.ts
  packages/devextreme-angular/src/ui/validation-summary/index.ts
  packages/devextreme-angular/src/ui/validator/index.ts
  packages/devextreme-angular/src/ui/vector-map/index.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  pnpm-lock.yaml
Labels: cherry-pick, force all tests, 25_1

#28856 TagBox: tags should be actualized after data source change (T1253312)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#28863 T1272535: DataGrid - fix base sensitivity search in lookup column
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/data/data_source.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#28861 T1272535: DataGrid - fix base sensitivity search in lookup column
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/data/data_source.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#28874 TagBox: tags should be actualized after data source change (T1253312)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 24_2

#28852 T1264312: TreeList - restore selection after the search panel has cleared
  e2e/testcafe-devextreme/tests/treeList/apiMocks/tasksApiMock.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-searched.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-searched.png
  e2e/testcafe-devextreme/tests/treeList/selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/testcafe-models/textBox.ts
  packages/testcafe-models/treeList/expandableCell.ts
Labels: 25_1

#28876 Splitter re-initializes templates for items that are at the same level as an item being shown/hidden (T1267030)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 25_1
