Repository DevExpress/DevExtreme, pull requests merged in 2025-03, with the labels that each got.

#29153 Form: DateRangeBox, RangeSlider should be rendered with name attributes for start and end inputs (T1256743)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: 25_1

#29157 Form: DateRangeBox, RangeSlider should be rendered with name attributes for start and end inputs (T1256743)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: cherry-pick, 24_2

#29158 Form: DateRangeBox, RangeSlider should be rendered with name attributes for start and end inputs (T1256743)
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.utils.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Labels: cherry-pick, 24_1

#29155 Gantt: update version (T1279868)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 24_2

#29154 Gantt: update version (T1279868)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 25_1

#29160 TextEditorBase, TextEditorMask, TextBox: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.clear.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.label.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/__internal/ui/text_box/m_utils.caret.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_button.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_custom.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_index.ts
Labels: 25_1

#29130 devextreme-angular: update eslint to 9 version
  packages/devextreme-angular/.eslintrc
  packages/devextreme-angular/eslint.config.mjs
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/karma.conf.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/core/events-strategy.ts
  packages/devextreme-angular/src/core/iterable-differ-helper.ts
  packages/devextreme-angular/src/core/nested-option.ts
  packages/devextreme-angular/src/core/template.ts
  packages/devextreme-angular/src/core/watcher-helper.ts
  packages/devextreme-angular/src/http/ajax.ts
  packages/devextreme-angular/tests/src/core/angular-integration.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/events-strategy.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/http/ajax.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-ajax.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-components.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-is-platform-server.spec.ts
  packages/devextreme-angular/tests/src/ui/calendar.spec.ts
  packages/devextreme-angular/tests/src/ui/chart.spec.ts
  packages/devextreme-angular/tests/src/ui/custom-value-accessor-implementation.spec.ts
  packages/devextreme-angular/tests/src/ui/data-grid.spec.ts
  packages/devextreme-angular/tests/src/ui/events.spec.ts
  packages/devextreme-angular/tests/src/ui/form.spec.ts
  packages/devextreme-angular/tests/src/ui/list.spec.ts
  packages/devextreme-angular/tests/src/ui/range-selector.spec.ts
  packages/devextreme-angular/tests/src/ui/responsive-box.spec.ts
  packages/devextreme-angular/tests/src/ui/select-box.spec.ts
  packages/devextreme-angular/tests/src/ui/tab-panel.spec.ts
  packages/devextreme-angular/tests/src/ui/tag-box.spec.ts
  packages/devextreme-angular/tests/src/ui/toolbar.spec.ts
  packages/devextreme-angular/tests/src/ui/validator.spec.ts
  packages/devextreme-angular/webpack.test.js
  packages/devextreme/eslint.config.mjs
  packages/devextreme/package.json
  packages/eslint-migration-utils/package.json
  packages/eslint-migration-utils/project.json
  packages/eslint-migration-utils/src/index.mjs
  pnpm-lock.yaml
Labels: 25_1

#29163 Stepper: register component
  packages/devextreme-scss/scss/widgets/base/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/stepper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29164 TextEditorBase, TextEditorMask, TextBox: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_date_range_box.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.clear.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.label.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/__internal/ui/text_box/m_utils.caret.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_button.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_custom.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/m_index.ts
Labels: cherry-pick, 24_2

#29165 DropDownEditor, DropDownList, SelectBox, TagBox, DropDownBox: convert into ES6 class
  packages/devextreme/js/__internal/core/utils/m_array.ts
  packages/devextreme/js/__internal/core/utils/m_position.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/ui/select_box.js
  packages/devextreme/js/ui/text_box/text_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: 25_1

#29184 Draggable, Sortable, DeferRendering: convert into ES6 class
  packages/devextreme/js/__internal/m_draggable.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/js/__internal/ui/m_defer_rendering.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_animator.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
Labels: 25_1

#29182 SelectBox: Skip custom item creating if customItemCreateEvent is '' and component loses focus (T1269852)
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, skip-cache, 24_2

#28853 DataGrid Types - Extract types for the visible and disable callbacks in the buttons array (T1270796)
  packages/devextreme-angular/src/ui/data-grid/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/field-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/filter-builder.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/ui/filter_builder.d.ts
  packages/devextreme/js/ui/filter_builder_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29194 DropDownEditor, DropDownList, SelectBox, TagBox, DropDownBox: convert into ES6 class (#29165)
  packages/devextreme/js/__internal/core/utils/m_array.ts
  packages/devextreme/js/__internal/core/utils/m_position.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/m_drop_down_box.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/ui/select_box.js
  packages/devextreme/js/ui/text_box/text_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Labels: cherry-pick, 24_2

#29133 DataGrid - "Cannot read properties of undefined (reading 'values')" error occurs on adding a row to the second page if initial row values are specified in onInitNewRow (T1274123)
  e2e/testcafe-devextreme/tests/dataGrid/editing/initNewRow.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 24_1

#29200 TagBox: Should not scroll page after re-render when fieldTemplate is passed (T1259996)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_2

#29201 TagBox: Should not scroll page after re-render when fieldTemplate is passed (T1259996)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_1

#29139 T1235433: fix Drag-n-Drop inside the group with virtual scrolling
  e2e/testcafe-devextreme/tests/scheduler/common/cellsSelection/bothDirectionsVirtualScrolling.ts
  e2e/testcafe-devextreme/tests/scheduler/common/cellsSelection/init/widget.setup.ts
  e2e/testcafe-devextreme/tests/scheduler/common/cellsSelection/virtualScrollingCellSelection.ts
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/T1235433.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/appointmentTemplateTargetedData.ts
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/appointments.ts
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/layout.ts
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/utils.ts
  e2e/testcafe-devextreme/tests/scheduler/common/virtualScrolling/zooming.ts
  e2e/testcafe-devextreme/tests/scheduler/utils.ts
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: cherry-pick, 24_2

#28543 Change new demos order
  apps/demos/menuMeta.json
Labels: WIP, 24_2

#29189 Overlay, Popup, Toast, Popover, LoadIndicator, LoadPanel: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/m_dialog.ts
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_tooltip.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.full.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.full.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_overflow_manager.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_position_controller.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_main_item.ts
  packages/devextreme/js/__internal/ui/toast/m_toast.ts
  packages/devextreme/js/ui/popup/ui.popup.js
Labels: 25_1

#29190 Map, Providers: convert into ES6 class
  packages/devextreme/js/__internal/ui/map/m_map.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/js/__internal/ui/map/m_provider.google_static.ts
  packages/devextreme/js/__internal/ui/map/m_provider.ts
Labels: 25_1

#29205 ColorBox, ColorView, NumberBox(Base, Mask, Spin), TextArea, Switch, Validation: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_box.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_switch.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/m_validation_message.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/js/__internal/ui/m_validator.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/ui/number_box.js
Labels: 25_1

#29196 DataGrid Types - Extract types for the visible and disable callbacks in the buttons array (T1270796)
  packages/devextreme-angular/src/ui/data-grid/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/filter-builder/nested/field-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/custom-operation-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/field-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/filter-builder.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme/js/ui/filter_builder.d.ts
  packages/devextreme/js/ui/filter_builder_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#29132 DataGrid - "Cannot read properties of undefined (reading 'values')" error occurs on adding a row to the second page if initial row values are specified in onInitNewRow (T1274123)
  e2e/testcafe-devextreme/tests/dataGrid/common/editing/initNewRow.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Labels: cherry-pick, 24_2

#29203 Overlay, Popup, Toast, Popover, LoadIndicator, LoadPanel: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/component.ts
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/m_dialog.ts
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_tooltip.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/overlay/m_z_index.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.full.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.full.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_overflow_manager.ts
  packages/devextreme/js/__internal/ui/popup/m_popup_position_controller.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_item.ts
  packages/devextreme/js/__internal/ui/speed_dial_action/m_speed_dial_main_item.ts
  packages/devextreme/js/__internal/ui/toast/m_toast.ts
  packages/devextreme/js/ui/popup/ui.popup.js
Labels: cherry-pick, 24_2

#29191 Accordion, ActionSheet, ButtonGroup, ButtonCollection, TabItem, RadioButton: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_button.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
Labels: 25_1

#29210 CI: small configuration improvements
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/helpers/const.js
  e2e/testcafe-devextreme/helpers/restoreBrowserSize.ts
  e2e/testcafe-devextreme/helpers/safeSizeTest.ts
  e2e/testcafe-devextreme/runner.js
  packages/devextreme/testing/runner/Views/Main/RunAll.cshtml
Labels: 25_1

#29212 CI: small configuration improvements
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/helpers/const.js
  e2e/testcafe-devextreme/helpers/restoreBrowserSize.ts
  e2e/testcafe-devextreme/helpers/safeSizeTest.ts
  e2e/testcafe-devextreme/runner.js
  packages/devextreme/testing/runner/Views/Main/RunAll.cshtml
Labels: cherry-pick, 24_2

#29211 CI: small configuration improvements
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/helpers/const.js
  e2e/testcafe-devextreme/helpers/restoreBrowserSize.ts
  e2e/testcafe-devextreme/helpers/safeSizeTest.ts
  e2e/testcafe-devextreme/runner.js
  packages/devextreme/testing/runner/Views/Main/RunAll.cshtml
Labels: cherry-pick, 24_1

#29207 AutoComplete , Lookup, TrackBar, Slider, SliderTooltip, RangeSlider, Progressbar, TimeView, DateView: convert into ES6 class
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view_roller.ts
  packages/devextreme/js/__internal/ui/date_box/m_time_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/m_autocomplete.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
  packages/devextreme/js/__internal/ui/m_range_slider.ts
  packages/devextreme/js/__internal/ui/m_tooltip.ts
  packages/devextreme/js/__internal/ui/m_track_bar.ts
  packages/devextreme/js/__internal/ui/m_validator.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_handle.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip_position_controller.ts
  packages/devextreme/js/__internal/ui/validation/m_default_adapter.ts
  packages/devextreme/js/ui/slider.js
  packages/devextreme/js/ui/tooltip.js
Labels: 25_1

#29214 Stepper: enable active, hover, selected, focused states for steps
  packages/devextreme-scss/scss/widgets/base/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_mixins.scss
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29206 Drawer, Scrollbar, Scrollable, DateViewRollers, Scroller, Strategies(native, simulated): convert into ES6 class
  packages/devextreme/js/__internal/ui/date_box/m_date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view_roller.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.native.pull_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.native.swipe_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.native.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollbar.ts
Labels: 25_1

#29209 ColorBox, ColorView, NumberBox(Base, Mask, Spin), TextArea, Switch, Validation: convert into ES6 class
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_box.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
  packages/devextreme/js/__internal/ui/m_switch.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/__internal/ui/m_validation_engine.ts
  packages/devextreme/js/__internal/ui/m_validation_group.ts
  packages/devextreme/js/__internal/ui/m_validation_message.ts
  packages/devextreme/js/__internal/ui/m_validation_summary.ts
  packages/devextreme/js/__internal/ui/m_validator.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
  packages/devextreme/js/ui/number_box.js
Labels: cherry-pick, 24_2

#29215 Accordion, ActionSheet, ButtonGroup, ButtonCollection, TabItem, RadioButton: convert into ES6 class (#29191)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/m_accordion.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_button_group.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_button.ts
  packages/devextreme/js/__internal/ui/tabs/m_item.ts
Labels: cherry-pick, 24_2

#29199 Roadmap & Survey demo pages
  apps/demos/Demos/CardView/Overview/cardview.png
  apps/demos/Demos/CardView/Overview/description.md
  apps/demos/Demos/Chat/ImageRendering/Chat-Image.png
  apps/demos/Demos/Chat/ImageRendering/description.md
  apps/demos/Demos/Chat/MessageEditing/Chat-Message-Edit.png
  apps/demos/Demos/Chat/MessageEditing/description.md
  apps/demos/Demos/HtmlEditor/AITextEditing/HtmlEditorAi.png
  apps/demos/Demos/HtmlEditor/AITextEditing/description.md
  apps/demos/Demos/Scheduler/ToolbarCustomization/Scheduler.png
  apps/demos/Demos/Scheduler/ToolbarCustomization/description.md
  apps/demos/Demos/Stepper/Overview/Stepper.png
  apps/demos/Demos/Stepper/Overview/description.md
  apps/demos/menuMeta.json
Labels: 24_2

#29171 Chat: Should show correct typing user in React & Angular (T1277962)
  apps/demos/Demos/Chat/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Chat/Overview/React/App.tsx
  apps/demos/Demos/Chat/Overview/ReactJs/App.js
Labels: force all tests, 25_1

#29224 Chat: Should show correct typing user in React & Angular (T1277962)
  apps/demos/Demos/Chat/Overview/Angular/app/app.service.ts
  apps/demos/Demos/Chat/Overview/React/App.tsx
  apps/demos/Demos/Chat/Overview/ReactJs/App.js
Labels: cherry-pick, 24_2

#29226 Drawer, Scrollbar, Scrollable, DateViewRollers, Scroller, Strategies(native, simulated): convert into ES6 class
  packages/devextreme/js/__internal/ui/date_box/m_date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view_roller.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.rendering.strategy.overlap.ts
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.native.pull_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.native.swipe_down.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.native.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollbar.ts
Labels: cherry-pick, 24_2

#29218 Add scheduler toolbar multiline option
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-multiline-false-toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-multiline-true-toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/multiline_header.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/layout/_header.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Labels: 25_1

#29146 fix: Next.js hydration throws a class mismatch error
  packages/devextreme/js/core/devices.js
  packages/devextreme/js/core/dom_component.js
  packages/devextreme/js/core/utils/common.js
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 24_1

#29145 fix: Next.js hydration throws a class mismatch error (#28855)
  packages/devextreme/js/__internal/core/m_devices.ts
  packages/devextreme/js/__internal/core/utils/m_common.ts
  packages/devextreme/js/__internal/core/widget/dom_component.ts
  packages/devextreme/testing/tests/DevExpress.core/devices.tests.js
Labels: cherry-pick, 25_1

#29232 fix multiline header screenshots for scheduler toolbar
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-multiline-false-toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-multiline-true-toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/multiline_header.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_fluent.blue.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_generic.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_material.blue.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/resources/base/generic.ts
Labels: 25_1

#29217 Calendar, CalendarViews, Swipeable, DropDownButton: convert into ES6 class
  packages/devextreme/js/__internal/events/gesture/m_swipeable.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.base_view.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.multiple.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.range.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.views.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
Labels: 25_1

#29229 Map demos: remove string locations which need geocoding
  apps/demos/Demos/Map/Markers/Angular/app/app.service.ts
  apps/demos/Demos/Map/Markers/React/data.ts
  apps/demos/Demos/Map/Markers/ReactJs/data.js
  apps/demos/Demos/Map/Markers/Vue/data.ts
  apps/demos/Demos/Map/Markers/jQuery/index.js
  apps/demos/Demos/Map/Routes/Angular/app/app.service.ts
  apps/demos/Demos/Map/Routes/React/data.ts
  apps/demos/Demos/Map/Routes/ReactJs/data.js
  apps/demos/Demos/Map/Routes/Vue/data.ts
  apps/demos/Demos/Map/Routes/jQuery/index.js
Labels: 25_1

#29239 Map demos: remove string locations which need geocoding
  apps/demos/Demos/Map/Markers/Angular/app/app.service.ts
  apps/demos/Demos/Map/Markers/React/data.ts
  apps/demos/Demos/Map/Markers/ReactJs/data.js
  apps/demos/Demos/Map/Markers/Vue/data.ts
  apps/demos/Demos/Map/Markers/jQuery/index.js
  apps/demos/Demos/Map/Routes/Angular/app/app.service.ts
  apps/demos/Demos/Map/Routes/React/data.ts
  apps/demos/Demos/Map/Routes/ReactJs/data.js
  apps/demos/Demos/Map/Routes/Vue/data.ts
  apps/demos/Demos/Map/Routes/jQuery/index.js
Labels: 24_2

#29238 Calendar, CalendarViews, Swipeable, DropDownButton: convert into ES6 class (#29217)
  packages/devextreme/js/__internal/events/gesture/m_swipeable.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.base_view.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.multiple.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.range.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.single.selection.strategy.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.ts
  packages/devextreme/js/__internal/ui/calendar/m_calendar.views.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
Labels: 24_2

#29225 List(Base, Edit), Resizable, Toolbar, ScrollView: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.context.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.reorder.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.static.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.swipe.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.button.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.slide.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator_menu_helper.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.provider.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.search.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.strategy.grouped.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/__internal/ui/resizable/m_resizable.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
  packages/devextreme/js/ui/load_panel.js
Labels: 25_1

#29230 Stepper: Step base markup (icon, text, title)
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
Labels: 25_1

#29204 Scheduler(T1251590): improve R1 templates props comparison
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/cellTemplate.ts
  packages/devextreme/js/__internal/core/r1/utils/shallow_equals.ts
Labels: type/bug, 25_1

#29243 Scheduler(T1251590): improve R1 templates props comparison
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/cellTemplate.ts
  packages/devextreme/js/__internal/core/r1/utils/shallow_equals.ts
Labels: type/bug, cherry-pick, 24_2

#29244 Scheduler(T1251590): improve R1 templates props comparison
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/cellTemplate.ts
  packages/devextreme/js/__internal/core/r1/utils/shallow_equals.ts
Labels: type/bug, cherry-pick, 24_1

#29228 add jquery demo for scheduler toolbar customization
  apps/demos/Demos/Scheduler/ToolbarCustomization/jQuery/data.js
  apps/demos/Demos/Scheduler/ToolbarCustomization/jQuery/index.html
  apps/demos/Demos/Scheduler/ToolbarCustomization/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/Scheduler-ToolbarCustomization (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-ToolbarCustomization (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-ToolbarCustomization.png
  apps/demos/testing/widgets/scheduler/ToolbarCustomization.test.js
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_medium (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_medium (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_medium.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_thin (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_thin (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_thin (material.blue.light)_mask.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_thin.png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_wide (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_wide (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_toolbar_customization_wide.png
Labels: 25_1

#29248 Add @babel/preset-react to demos package.json to fix demos linting
  apps/demos/package.json
  pnpm-lock.yaml
Labels: 25_1

#29241 unskip resource tests
  e2e/testcafe-devextreme/tests/scheduler/common/layout/resources/base/generic.ts
Labels: 25_1

#29220 AutoComplete , Lookup, TrackBar, Slider, SliderTooltip, RangeSlider, Progressbar, TimeView, DateView: convert into ES6 class
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_time_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/editor/editor.ts
  packages/devextreme/js/__internal/ui/m_autocomplete.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/js/__internal/ui/m_progress_bar.ts
  packages/devextreme/js/__internal/ui/m_range_slider.ts
  packages/devextreme/js/__internal/ui/m_tooltip.ts
  packages/devextreme/js/__internal/ui/m_track_bar.ts
  packages/devextreme/js/__internal/ui/m_validator.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/slider/m_slider.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_handle.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip.ts
  packages/devextreme/js/__internal/ui/slider/m_slider_tooltip_position_controller.ts
  packages/devextreme/js/__internal/ui/validation/m_default_adapter.ts
  packages/devextreme/js/ui/slider.js
  packages/devextreme/js/ui/tooltip.js
Labels: cherry-pick, 24_2

#29250 DateBox (Base + Mask + Strategies), HTMLEditor: convert into ES6 class
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar_with_time.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.list.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.native.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/ui/box.js
Labels: 25_1

#29131 Demos: replace endpoint urls
  apps/demos/Demos/Charts/SignalRService/jQuery/index.html
  apps/demos/Demos/Charts/SignalRService/jQuery/index.js
  apps/demos/Demos/Charts/SignalRService/signalr-hub.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/BatchUpdateRequest/React/App.tsx
  apps/demos/Demos/DataGrid/BatchUpdateRequest/ReactJs/App.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/jQuery/index.js
  apps/demos/Demos/DataGrid/RemoteReordering/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/RemoteReordering/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/RemoteReordering/React/App.tsx
  apps/demos/Demos/DataGrid/RemoteReordering/ReactJs/App.js
  apps/demos/Demos/DataGrid/RemoteReordering/Vue/App.vue
  apps/demos/Demos/DataGrid/RemoteReordering/jQuery/index.js
  apps/demos/Demos/DataGrid/SignalRService/jQuery/index.html
  apps/demos/Demos/DataGrid/SignalRService/jQuery/index.js
  apps/demos/Demos/DataGrid/SignalRService/signalr-hub.js
Labels: skip-cache, force all tests, 25_1

#29259 Map - fix _geocodedLocations cache initialization
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 25_1

#29255 NumberBox: revert destructuring to make Knockout integration work
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
Labels: cherry-pick, 25_1

#29267 Map - fix _geocodedLocations cache initialization
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: cherry-pick, 24_2

#29263 Demos: replace endpoint urls
  apps/demos/Demos/Charts/SignalRService/jQuery/index.html
  apps/demos/Demos/Charts/SignalRService/jQuery/index.js
  apps/demos/Demos/Charts/SignalRService/signalr-hub.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/BatchUpdateRequest/React/App.tsx
  apps/demos/Demos/DataGrid/BatchUpdateRequest/ReactJs/App.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/jQuery/index.js
  apps/demos/Demos/DataGrid/RemoteReordering/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/RemoteReordering/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/RemoteReordering/React/App.tsx
  apps/demos/Demos/DataGrid/RemoteReordering/ReactJs/App.js
  apps/demos/Demos/DataGrid/RemoteReordering/Vue/App.vue
  apps/demos/Demos/DataGrid/RemoteReordering/jQuery/index.js
  apps/demos/Demos/DataGrid/SignalRService/jQuery/index.html
  apps/demos/Demos/DataGrid/SignalRService/jQuery/index.js
  apps/demos/Demos/DataGrid/SignalRService/signalr-hub.js
Labels: cherry-pick, 24_2

#29261 Stepper: create a connector and add initial layout styling for both orientations
  packages/devextreme-scss/scss/widgets/base/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
  packages/devextreme/js/__internal/ui/stepper/connector.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
Labels: 25_1

#29253 fix: wrong mapping in the custom bundler (T1277093)
  packages/devextreme/build/npm-bin/bundler.js
Labels: 24_2

#29260 Demos: Rollup silent mode
  apps/demos/package.json
Labels: 25_1

#29258 Map - disable all testcafe tests
  apps/demos/testing/common.test.js
  apps/demos/testing/known-warnings.json
  apps/demos/testing/skip-js-errors-components.json
  e2e/testcafe-devextreme/tests/accessibility/common/map.ts
Labels: 25_1

#29223 DataGrid - FilterRow cell in the 'buttons' column is white in the fluent dark theme in the Application Template (T1275734)
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_colors.scss
Labels: 25_1

#29274 Demos: Rollup silent mode
  apps/demos/package.json
Labels: cherry-pick, 24_2

#29275 Map - disable all testcafe tests
  apps/demos/testing/common.test.js
  apps/demos/testing/known-warnings.json
  apps/demos/testing/skip-js-errors-components.json
  e2e/testcafe-devextreme/tests/accessibility/common/map.ts
Labels: cherry-pick, 24_2

#29245 List(Base, Edit), Resizable, Toolbar, ScrollView: convert into ES6 class (#29225)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.context.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.reorder.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.static.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.swipe.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.button.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.slide.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator_menu_helper.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.provider.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.search.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.strategy.grouped.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/__internal/ui/resizable/m_resizable.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.list.ts
  packages/devextreme/js/__internal/ui/toolbar/internal/m_toolbar.menu.ts
  packages/devextreme/js/__internal/ui/toolbar/strategy/m_toolbar.singleline.ts
  packages/devextreme/js/ui/load_panel.js
Labels: cherry-pick, 24_2

#29262 Stepper: add navigation modes
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29282 DateBox (Base + Mask + Strategies), HTMLEditor: convert into ES6 class (#29250)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.calendar_with_time.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.date_view.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.list.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.native.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.strategy.ts
  packages/devextreme/js/__internal/ui/date_range_box/strategy/m_rangeCalendar.ts
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.base.ts
  packages/devextreme/js/ui/box.js
Labels: cherry-pick, 24_2

#29240 ResponsiveBox, TileView, Tabs, MultiView, TabPanel: convert into ES6 class
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/js/ui/scroll_view.js
  packages/devextreme/js/ui/tabs.js
Labels: 25_1

#29278 Update FileManager-BindingToFileSystem etalon
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Labels: 25_1

#29281 ResponsiveBox, TileView, Tabs, MultiView, TabPanel: convert into ES6 class
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_multi_view.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scroll_view.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/js/ui/scroll_view.js
  packages/devextreme/js/ui/tabs.js
Labels: cherry-pick, 24_2

#29285 Update FileManager-BindingToFileSystem etalon
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Labels: cherry-pick, 24_2

#29279 Gantt: fix tasks selection if they have null start and end dates and taskContentTemplate is specified (T1281618)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/selection.tests.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 24_2

#29277 Gantt: fix tasks selection if they have null start and end dates and taskContentTemplate is specified (T1281618)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/gantt.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/selection.tests.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 25_1

#29287 Could not resolve "inferno-create-element" fix
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: 25_1

#29273 fix: wrong mapping in the custom bundler (T1277093)
  packages/devextreme/build/npm-bin/bundler.js
Labels: cherry-pick, 25_1

#29288 TreeView: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/m_hierarchical_collection_widget.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.search.ts
Labels: 25_1

#29289 Scheduler: refactoring some e2e tests
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/basic.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.data.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.setup.ts
Labels: 25_1

#29290 Scheduler: refactoring some e2e tests
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/basic.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.data.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.setup.ts
Labels: cherry-pick, 24_2

#29291 Scheduler: refactoring some e2e tests
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/basic.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.data.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentOverlapping/init/widget.setup.ts
Labels: cherry-pick, 24_1

#29286 Gallery, GalleryNavButton, List decorators, Form, LayoutManager: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.swipe.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.button.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.slide.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/ui/action_sheet.js
  packages/devextreme/js/ui/popover/ui.popover.js
  packages/devextreme/js/ui/responsive_box.js
Labels: 25_1

#29242 Stepper: add doc declarations
  package.json
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/stepper/index.ts
  packages/devextreme-angular/src/ui/stepper/nested/index.ts
  packages/devextreme-angular/src/ui/stepper/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/stepper/nested/ng-package.json
  packages/devextreme-angular/src/ui/stepper/ng-package.json
  packages/devextreme-react/src/index.ts
  packages/devextreme-react/src/stepper.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme-vue/src/stepper.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/stepper.d.ts
  packages/devextreme/js/ui/stepper.js
  packages/devextreme/js/ui/stepper_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
  pnpm-lock.yaml
Labels: 25_1

#29297 Gallery, GalleryNavButton, List decorators, Form, LayoutManager: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/form/m_form.layout_manager.ts
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.swipe.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.button.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.slide.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.switchable.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.ts
  packages/devextreme/js/__internal/ui/m_action_sheet.ts
  packages/devextreme/js/__internal/ui/m_gallery.ts
  packages/devextreme/js/__internal/ui/m_responsive_box.ts
  packages/devextreme/js/__internal/ui/popover/m_popover.ts
  packages/devextreme/js/ui/action_sheet.js
  packages/devextreme/js/ui/popover/ui.popover.js
  packages/devextreme/js/ui/responsive_box.js
Labels: cherry-pick, 24_2

#29295 TreeView: convert into ES6 class
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/m_hierarchical_collection_widget.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.search.ts
  packages/devextreme/js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
Labels: cherry-pick, 24_2

#29300 TextEditor: prevent native placeholder from highlighting (T1241133)
  packages/devextreme-scss/scss/widgets/base/textEditor/_index.scss
Labels: 25_1

#29301 TextEditor: prevent native placeholder from highlighting (T1241133)
  packages/devextreme-scss/scss/widgets/base/textEditor/_index.scss
Labels: cherry-pick, 24_2

#29254 Map: Support custom route modes
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.bing.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/testing/helpers/forMap/bingMock.js
  packages/devextreme/testing/helpers/forMap/googleMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/bingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
Labels: 25_1

#29302 TextEditor: prevent native placeholder from highlighting (T1241133)
  packages/devextreme-scss/scss/widgets/base/textEditor/_index.scss
Labels: cherry-pick, 24_1

#29293 DataGrid - FilterRow cell in the 'buttons' column is white in the fluent dark theme in the Application Template (T1275734)
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_colors.scss
Labels: cherry-pick, 24_2

#29294 DataGrid - FilterRow cell in the 'buttons' column is white in the fluent dark theme in the Application Template (T1275734)
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_colors.scss
Labels: cherry-pick, 24_1

#29306 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_2

#29307 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#29169 fixes T1277897: fixed v-model binding in view 3 on checkbox and textbox
  apps/vue/components/check-box-example.vue
  apps/vue/components/examples.vue
  packages/devextreme-vue/src/core/__tests__/configuration.test.ts
  packages/devextreme-vue/src/core/configuration.ts
Labels: 24_2

#29311 Stepper: handle invalid state class
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29317 T1282055: fix start and end date access in compact appointments
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/testing/tests/DevExpress.knockout/scheduler.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
Labels: 25_1

#29320 Add stepper component to angular systemjs config
  apps/demos/configs/Angular/config.js
Labels: force all tests, 25_1

#29314 TagBox - should not throw an error on selectAll click when hideSelectedItems is enabled (T1278816)
  e2e/testcafe-devextreme/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (material-blue-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_2

#29309 Map - make Azure qunits more stable
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: 25_1

#29326 CardView - fix option change leak to defaultOptions
  packages/devextreme/js/__internal/grids/new/card_view/widget.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29305 Stepper: handle completed steps
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29249 DataGrid: Fix UI update if values change in the header filter and collatorOptions are used (T1273020)
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filter-method-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filter-method-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filtering-via-option-method-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filtering-via-option-method-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/filtering.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/etalons/T1273020-header-filter-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/etalons/T1273020-header-filter-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: skip-cache, 25_1

#29247 Map: extend RouteMode type with custom string
  packages/devextreme-angular/src/ui/map/index.ts
  packages/devextreme-angular/src/ui/map/nested/route-dxi.ts
  packages/devextreme-angular/src/ui/nested/route-dxi.ts
  packages/devextreme-react/src/map.ts
  packages/devextreme-vue/src/map.ts
  packages/devextreme/js/ui/map.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29332 Stepper: focusedElement should be cleared after focusout
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
Labels: 25_1

#29327 CardView - itemsController
  packages/devextreme/js/__internal/grids/new/card_view/content_view/public_methods.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29322 chore: bump canvg dependency
  pnpm-lock.yaml
Labels: 25_1

#29333 chore: bump canvg dependency
  package-lock.json
Labels: 24_1

#29335 fixes T1277897: fixed v-model binding in view 3 on checkbox and textb…
  apps/vue/components/check-box-example.vue
  apps/vue/components/examples.vue
  packages/devextreme-vue/src/core/__tests__/configuration.test.ts
  packages/devextreme-vue/src/core/configuration.ts
Labels: cherry-pick, 25_1

#29336 fixes T1277897: fixed v-model binding in view 3 on checkbox and textb…
  apps/vue/components/check-box-example.vue
  apps/vue/components/examples.vue
  packages/devextreme-vue/src/core/__tests__/configuration.test.ts
  packages/devextreme-vue/src/core/configuration.ts
Labels: cherry-pick, 24_1

#29268 fix(react-wrapper): fixed T1279646
  apps/react/examples/Examples.tsx
  apps/react/examples/example-block.tsx
  apps/react/examples/selector-custom-example.tsx
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/template-wrapper.tsx
Labels: 24_2

#29339 fix(react-wrapper): fixed T1279646 (#29268)
  apps/react/examples/Examples.tsx
  apps/react/examples/example-block.tsx
  apps/react/examples/selector-custom-example.tsx
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/template-wrapper.tsx
Labels: cherry-pick, 25_1

#29340 fix(react-wrapper): fixed T1279646 (#29268)
  apps/react/examples/Examples.tsx
  apps/react/examples/example-block.tsx
  apps/react/examples/selector-custom-example.tsx
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/template-wrapper.tsx
Labels: cherry-pick, 24_1

#29324 Map - make Azure qunits more stable
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: cherry-pick, 24_2

#29321 Overlay: tab should focus next focusable element if target is deleted (T1248343)
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: 25_1

#29342 Overlay: Should focus next focusable element if target is deleted (T1248343)
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 24_2

#29343 Overlay: Should focus next focusable element if target is deleted (T1248343)
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/overlay.tests.js
Labels: cherry-pick, 24_1

#29316 Stepper: publish rest options
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/stepper/index.ts
  packages/devextreme-angular/src/ui/stepper/nested/item-dxi.ts
  packages/devextreme-react/src/stepper.ts
  packages/devextreme-vue/src/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/ui/stepper.d.ts
  packages/devextreme/js/ui/stepper.js
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29344 Stepper: split variables values to support compact mode
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
Labels: 25_1

#29338 Stepper: render icons according to the isValid property value
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29280 CardView: HeaderFilter feature
  e2e/testcafe-devextreme/tests/cardView/headerFilter/a11y.functional.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/functional.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/visual.ts
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_item.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_sizes.scss
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/item.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/column_sortable.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/options.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/options.integration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/view.intergration.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/view.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/legacy_header_filter.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.intergration.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/multipleKeyDownHandler.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/multipleKeyDownHandler.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
  packages/devextreme/playground/jquery-grid-headerFilter.html
  packages/devextreme/playground/jquery-headerFilter.html
  packages/testcafe-models/cardView/headerItem.ts
  packages/testcafe-models/cardView/headerPanel.ts
  packages/testcafe-models/cardView/index.ts
  packages/testcafe-models/popup.ts
Labels: 25_1

#29351 TabPanel: borders of nested TabPanels should be shown correctly in generic themes (T1280729)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/common.ts
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=bottom (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=bottom (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=bottom (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=right (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=top (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=top (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/Nested TabPanel borders appearance,tabsPos=top (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel borders with scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel borders with scrolling (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel borders without scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel borders without scrolling (material-blue-light).png
  packages/devextreme-scss/scss/widgets/fluent/tabPanel/_index.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab-panel/_base.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab-panel/_position-bottom.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab-panel/_position-left.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab-panel/_position-right.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab-panel/_position-top.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-bottom.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-left.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-right.scss
  packages/devextreme-scss/scss/widgets/generic/tabPanel/layout/tab/_position-top.scss
  packages/devextreme-scss/scss/widgets/material/tabPanel/_index.scss
Labels: cherry-pick, 24_2

#29349 Fix appointment creation in scheduler demos
  apps/demos/Demos/Scheduler/ContextMenuIntegration/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/ContextMenuIntegration/React/App.tsx
  apps/demos/Demos/Scheduler/ContextMenuIntegration/ReactJs/App.js
  apps/demos/Demos/Scheduler/ContextMenuIntegration/Vue/App.vue
  apps/demos/Demos/Scheduler/ContextMenuIntegration/jQuery/index.js
  apps/demos/Demos/Scheduler/ToolbarCustomization/jQuery/index.js
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/helpers/scheduler/helpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/pacificTime.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Labels: 25_1

#29357 Stepper: use flex instead of css grid for layouting
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
Labels: 25_1

#29352 Icons: add `addpackagebox`,`checkmarkcircle`, `clipboardtasklist`, `csv` icons to project
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (generic-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/icons.ts
  packages/devextreme-scss/icons/dxicons.ttf
  packages/devextreme-scss/icons/dxicons.woff
  packages/devextreme-scss/icons/dxicons.woff2
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/icons/dxiconsmaterial.ttf
  packages/devextreme-scss/icons/dxiconsmaterial.woff
  packages/devextreme-scss/icons/dxiconsmaterial.woff2
  packages/devextreme-scss/images/icons/fluent/checkmarkcircle.svg
  packages/devextreme-scss/images/icons/fluent/clipboardtasklist.svg
  packages/devextreme-scss/images/icons/fluent/csv.svg
  packages/devextreme-scss/images/icons/fluent/packagebox.svg
  packages/devextreme-scss/images/icons/generic/checkmarkcircle.svg
  packages/devextreme-scss/images/icons/generic/clipboardtasklist.svg
  packages/devextreme-scss/images/icons/generic/csv.svg
  packages/devextreme-scss/images/icons/generic/packagebox.svg
  packages/devextreme-scss/images/icons/material/checkmarkcircle.svg
  packages/devextreme-scss/images/icons/material/clipboardtasklist.svg
  packages/devextreme-scss/images/icons/material/csv.svg
  packages/devextreme-scss/images/icons/material/gift.svg
  packages/devextreme-scss/images/icons/material/packagebox.svg
  packages/devextreme-scss/scss/widgets/base/_icons.scss
Labels: 25_1

#29361 Stepper: implement Step.hint property
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29348 List: selected item should receive focus when the list is grouped (T1278005)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 25_1

#29354 List: selected item should receive focus when the list is grouped (T1278005)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: cherry-pick, 24_2

#29366 Map - add mapReady promise for Azure provider
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/testing/helpers/forMap/azureMock.js
Labels: 25_1

#29198 DataGrid - Scrolling position is reset to far right on an attempt to scroll left if the most right cell is focused using the keyboard (T1277214)
  e2e/testcafe-devextreme/tests/dataGrid/common/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: 25_1

#29373 DataGrid - Scrolling position is reset to far right on an attempt to scroll left if the most right cell is focused using the keyboard (T1277214)
  e2e/testcafe-devextreme/tests/dataGrid/common/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: cherry-pick, 24_2

#29374 DataGrid - Scrolling position is reset to far right on an attempt to scroll left if the most right cell is focused using the keyboard (T1277214)
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualColumns.tests.js
Labels: cherry-pick, 24_1

#29197 CardView - implement styles
  packages/devextreme-scss/scss/widgets/base/cardView/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/cover/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/header/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/header/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/item/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/item/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_index.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_index.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_sizes.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/card.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.events.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/options.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/column_sortable.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/ui/card_view.js
Labels: 25_1

#29367 DateBox: Previous input key is added to succeeding input when custom displayFormat is used with useMaskBehavior (T1246215)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: 25_1

#29360 Stepper: add optional mark to default step template
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step-list/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29369 DataGrid: Fix UI update if values change in the header filter and collatorOptions are used (T1273020) (#29249)
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filter-method-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filter-method-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filtering-via-option-method-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/filtering-via-option-method-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/filtering.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/etalons/T1273020-header-filter-with-case-sensitive-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/etalons/T1273020-header-filter-with-case-sensitive-2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: skip-cache, 24_2

#29371 Overlay: ignore overlayStack type check
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
Labels: 25_1

#29370 TextBox: input should not remove excess characters in front when mask is applied (T1237175)
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: 25_1

#29362 HtmlEditor: click on variable toolbar format button before popup is hidden after variable select should not add a undefined variable (T1278577)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
Labels: 25_1

#29377 DateBox: Previous input key is added to succeeding input when custom displayFormat is used with useMaskBehavior (T1246215)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Labels: cherry-pick, 24_1

#29383 HtmlEditor: click on variable toolbar format button before popup is hidden after variable select should not add a undefined variable (T1278577)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
Labels: 24_1

#29382 HtmlEditor: click on variable toolbar format button before popup is hidden after variable select should not add a undefined variable (T1278577)
  packages/devextreme/js/__internal/ui/html_editor/modules/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
Labels: 24_2

#29303 add status a11y message to scheduler
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/scheduler.ts
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/status.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/_common.scss
  packages/devextreme/js/__internal/core/utils/m_type.ts
  packages/devextreme/js/__internal/scheduler/a11y_status/a11y_status_render.ts
  packages/devextreme/js/__internal/scheduler/a11y_status/a11y_status_text.test.ts
  packages/devextreme/js/__internal/scheduler/a11y_status/a11y_status_text.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_text_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/utils/countVisibleAppointments.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/utils/countVisibleAppointments.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/header/types.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/utils/types.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/testcafe-models/scheduler/index.ts
Labels: 25_1

#29378 Overlay: ignore overlayStack type check
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
Labels: 24_2

#29380 TextBox: input should not remove excess characters in front when mask is applied (T1237175)
  e2e/testcafe-devextreme/tests/pivotGrid/sort/etalons/T1173442_before_sort_with_summary_display_mode (material-blue-light).png
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 24_1

#29381 TextBox: input should not remove excess characters in front when mask is applied (T1237175)
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.strategy.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Labels: cherry-pick, 23_2

#29398 Stepper: connector shouldn't be rerun animation when orientation is changed at runtime
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_index.scss
  packages/devextreme/js/__internal/ui/stepper/connector.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
Labels: 25_1

#29397 Stepper: not apply hover effect for steps cannot be selected
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29337 TreeList - The W1025 warning occurs when dragging a row even if the component's height is specified. (T1280519)
  e2e/testcafe-devextreme/tests/treeList/rowDragging.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Labels: 25_1
