Repository DevExpress/DevExtreme, pull requests merged in 2025-02, with the labels that each got.

#28881 Splitter re-initializes templates for items that are at the same level as an item being shown/hidden (T1267030) (#28876)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: cherry-pick, 24_2

#28882 Splitter re-initializes templates for items that are at the same level as an item being shown/hidden (T1267030) (#28876)
  packages/devextreme/js/__internal/ui/collection/m_item.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: cherry-pick, 24_1

#28886 CI: Do not use corepack
  .github/workflows/build_all.yml
  .github/workflows/codeql.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
Labels: 25_1

#28854 HtmlEditor: make localization working for borderStyle selectbox if messages are loaded at runtime (T1234032)
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: type/bug, 25_1

#28888 CI: Do not use corepack
  .github/workflows/build_all.yml
  .github/workflows/codeql.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/update_version.yml
  .github/workflows/wrapper_tests.yml
Labels: cherry-pick, 24_2

#28887 List: loadIndicator should not be shown after dataSource option change (T1249958)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 25_1

#28889 HtmlEditor: make localization working for borderStyle selectbox if messages are loaded at runtime (T1234032)
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 24_2

#28891 List: loadIndicator should not be shown after dataSource option change (T1249958)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_1

#28890 List: loadIndicator should not be shown after dataSource option change (T1249958)
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Labels: 24_2

#28893 HtmlEditor: make localization working for borderStyle selectbox if messages are loaded at runtime (T1234032)
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 24_1

#28827 T1264497: DataGrid - fix separator height for grouped columns
  e2e/testcafe-devextreme/tests/dataGrid/columnResizing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-2.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-3.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-4.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-5.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-6.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-7.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-8.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-9.png
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: 25_1

#28898 T1264312: TreeList - restore selection after the search panel has cleared
  e2e/testcafe-devextreme/tests/treeList/apiMocks/tasksApiMock.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-searched.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-searched.png
  e2e/testcafe-devextreme/tests/treeList/selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/testcafe-models/textBox.ts
  packages/testcafe-models/treeList/expandableCell.ts
Labels: cherry-pick, 24_1

#28899 T1264312: TreeList - restore selection after the search panel has cleared
  e2e/testcafe-devextreme/tests/treeList/apiMocks/tasksApiMock.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-checked-searched.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-all.png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1264312-selection-unchecked-searched.png
  e2e/testcafe-devextreme/tests/treeList/selection.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/testcafe-models/textBox.ts
  packages/testcafe-models/treeList/expandableCell.ts
Labels: cherry-pick, 24_2

#28894 HtmlEditor: make localization working for borderStyle selectbox if messages are loaded at runtime (T1234032)
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableProperties.tests.js
Labels: cherry-pick, 23_2

#28900 T1264497: DataGrid - fix separator height for grouped columns
  e2e/testcafe-devextreme/tests/dataGrid/columnResizing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-2.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-3.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-4.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-5.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-6.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-7.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-8.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-9.png
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, 24_2

#28902 T1264497: DataGrid - fix separator height for grouped columns
  e2e/testcafe-devextreme/tests/dataGrid/columnResizing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-1.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-2.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-3.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-4.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-5.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-6.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-7.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-8.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/column-separator-9.png
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, 24_1

#28843 CardView: DataController: implement Remote Operations
  packages/devextreme/js/__internal/core/reactive/utilities.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.ts
Labels: 25_1

#28896 Add devextreme-aspnet-data to build artifacts
  apps/demos/package.json
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/shadowDom/containerAspNet.html
  packages/devextreme/build/gulp/vendor.js
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: force all tests, 25_1

#28908 CI: Update chrome
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
Labels: force all tests, 25_1

#28911 CI: Update chrome
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
Labels: cherry-pick, 24_1

#28912 CI: Update chrome
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
Labels: cherry-pick, 24_2

#28913 CI: Update chrome
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/testcafe_tests.yml
Labels: cherry-pick, 23_1

#28907 FilterBuilder - "W0001 - dxPopup - 'preventScrollEvents' option is deprecated in 23.1" warning occurs when a popup is shown (T1272080)
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Labels: 25_1

#28909 FilterBuilder - "W0001 - dxPopup - 'preventScrollEvents' option is deprecated in 23.1" warning occurs when a popup is shown (T1272080)
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Labels: cherry-pick, 24_2

#28924 FilterBuilder - "W0001 - dxPopup - 'preventScrollEvents' option is deprecated in 23.1" warning occurs when a popup is shown (T1272080)
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
Labels: cherry-pick, 24_1

#28906 DateBox: Placeholder alignment is not correct on iOS (T1256510)
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_sizes.scss
Labels: 25_1

#28927 DateBox: Placeholder alignment is not correct on iOS (T1256510)
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_sizes.scss
  packages/devextreme/scss/widgets/material/dateBox/_index.scss
  packages/devextreme/scss/widgets/material/dateBox/_sizes.scss
Labels: cherry-pick, 23_2

#28925 DateBox: Placeholder alignment is not correct on iOS (T1256510)
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_sizes.scss
Labels: 24_2

#28926 DateBox: Placeholder alignment is not correct on iOS (T1256510)
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/dateBox/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_sizes.scss
Labels: cherry-pick, 24_1

#28928 SelectBox skips pages after reloading data (T1274576)
  e2e/testcafe-devextreme/tests/editors/selectBox/common.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: 25_1

#28932 SelectBox skips pages after reloading data (T1274576)
  e2e/testcafe-devextreme/tests/editors/selectBox/common.ts
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: cherry-pick, 24_2

#28933 SelectBox skips pages after reloading data (T1274576)
  e2e/testcafe-devextreme/tests/editors/selectBox/common.ts
  e2e/testcafe-devextreme/tests/editors/selectBox/etalons/SelectBox with label-labelMode=outside-stylingMode=underlined (generic-light).png
  packages/devextreme/js/__internal/ui/scroll_view/m_scrollable.simulated.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Labels: cherry-pick, 24_1

#28869 Pagination bug in compact theme
  e2e/testcafe-devextreme/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_false-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_false-snb_true-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_false-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_true-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_false-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_true-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_false-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_true-spss_true (material-blue-light).png
  packages/devextreme-scss/scss/widgets/material/pagination/_index.scss
  packages/devextreme-scss/scss/widgets/material/pagination/_sizes.scss
  packages/devextreme/js/__internal/pagination/page_size/small.tsx
  packages/devextreme/js/__internal/pagination/pages/small.tsx
Labels: skip-cache, 25_1

#28914 CI: Update chrome
  .github/actions/pin-browsers/action.yml
Labels: cherry-pick, 22_2

#28858 CI: Update actions to v4
  .github/actions/pin-browsers/action.yml
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 22_1

#28878 Chart: reduce flicking when async templates are used for label and series visibility is changed at runtime (T1232664, partial fix)
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/viz/axes/tick.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: force all tests, 25_1

#28883 R1 - remove usage of `@devextreme-generators/declaration` package
  packages/devextreme/js/__internal/core/r1/types.ts
  packages/devextreme/js/__internal/core/r1/widget.tsx
  packages/devextreme/js/__internal/pagination/content.tsx
  packages/devextreme/js/__internal/pagination/page_size/selector.tsx
  packages/devextreme/js/__internal/pagination/resizable_container.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_table_cell_base.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/month/date_table_month.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/timeline/header_panel_timeline.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
Labels: 25_1

#28946 CI: Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/codeql.yml
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lgtm_sync.yml
  .github/workflows/lint.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
Labels: 22_2

#28892 Gantt: fix state of 'Show Resources' and 'Show Dependencies' buttons (T1264485)
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/gantt/common.ts
  e2e/testcafe-devextreme/tests/gantt/etalons/Gantt show dependencies (generic-light).png
  e2e/testcafe-devextreme/tests/gantt/etalons/Gantt show resourced (generic-light).png
  packages/devextreme/js/ui/gantt/ui.gantt.bars.js
  packages/testcafe-models/types.ts
Labels: 25_1

#28904 Gantt: fix state of 'Show Resources' and 'Show Dependencies' buttons (T1264485)
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/gantt/common.ts
  e2e/testcafe-devextreme/tests/gantt/etalons/Gantt show dependencies (generic-light).png
  e2e/testcafe-devextreme/tests/gantt/etalons/Gantt show resourced (generic-light).png
  packages/devextreme/js/ui/gantt/ui.gantt.bars.js
  packages/testcafe-models/types.ts
Labels: 24_2

#28939 Chart: reduce flicking when async templates are used for label and series visibility is changed at runtime (T1232664, partial fix) (#28878)
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/viz/axes/tick.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 24_2

#28940 Chart: reduce flicking when async templates are used for label and series visibility is changed at runtime (T1232664, partial fix) (#28878)
  packages/devextreme/js/__internal/viz/core/m_base_widget.ts
  packages/devextreme/js/viz/axes/tick.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: cherry-pick, 24_1

#28949 Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#28948 Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#28842 CardView - implement headerPanel
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/item.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/column_sortable.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/index.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/options.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/options.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/options.ts
  packages/devextreme/js/__internal/grids/new/card_view/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.mock.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/scrollable.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/sortable.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.ts
Labels: 25_1

#28871 HtmlEditor: Fix for context menu not closing when escape button pressed
  packages/devextreme/js/__internal/ui/html_editor/modules/m_tableContextMenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableContextMenuIntegration.tests.js
Labels: type/bug, 25_1

#28955 HtmlEditor: Fix for context menu not closing when escape button pressed
  packages/devextreme/js/__internal/ui/html_editor/modules/m_tableContextMenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableContextMenuIntegration.tests.js
Labels: cherry-pick, 24_2

#28954 HtmlEditor: Fix for context menu not closing when escape button pressed
  packages/devextreme/js/__internal/ui/html_editor/modules/m_tableContextMenu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/tableContextMenuIntegration.tests.js
Labels: cherry-pick, 24_1

#28957 GitHub Pages workflow - Update actions versions
  .github/workflows/publish-demos.yml
Labels: cherry-pick, 24_2

#28905 Scheduler(T1225416): fix incorrect exclude from recurrence handling
  e2e/testcafe-devextreme/tests/scheduler/timezones/recurrence/excludeFromRecurrence_T1225416 .ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
Labels: type/bug, 25_1

#28960 Scheduler(T1225416): fix incorrect exclude from recurrence handling
  e2e/testcafe-devextreme/tests/scheduler/timezones/recurrence/excludeFromRecurrence_T1225416 .ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
Labels: type/bug, cherry-pick, 24_1

#28959 Scheduler(T1225416): fix incorrect exclude from recurrence handling
  e2e/testcafe-devextreme/tests/scheduler/timezones/recurrence/excludeFromRecurrence_T1225416 .ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
Labels: type/bug, cherry-pick, 24_2

#28950 T1255474: fix date calculation if new date is in different timezone because of DST
  e2e/testcafe-devextreme/tests/scheduler/resizeAppointments/T1255474.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/r1/timezone_calculator/__tests__/timeZoneCalculator.test.ts
  packages/devextreme/js/__internal/scheduler/r1/timezone_calculator/calculator.ts
Labels: type/bug, 25_1

#28897 T1260472: fix grid async render to avoid blinking
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1260472-async-render-after-horizontal-scrolling.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1260472-async-render-during-horizontal-scrolling.png
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: 25_1

#28885 NX - fix cache settings in demos' lint-js target
  apps/demos/project.json
Labels: 25_1

#28980 ContextMenu: Fix scrollable container height calculation for theme-less usage (T1258002)
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 24_2

#28979 Testcafe: try to resize browser window before all tests run
  e2e/testcafe-devextreme/runner.js
Labels: 25_1

#28981 ContextMenu: Fix scrollable container height calculation for theme-less usage (T1258002)
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Labels: cherry-pick, 24_1

#28952 FilterBuilder - The field drop-down window moves with the page scroll (T1273328)
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (generic-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (material-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/filterBuilderScrolling.ts
  packages/devextreme-scss/scss/widgets/base/filterBuilder/_index.scss
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: 25_1

#28974 T1255474: fix date calculation if new date is in different timezone because of DST
  e2e/testcafe-devextreme/tests/scheduler/resizeAppointments/T1255474.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/r1/timezone_calculator/__tests__/timeZoneCalculator.test.ts
  packages/devextreme/js/__internal/scheduler/r1/timezone_calculator/calculator.ts
Labels: cherry-pick, 24_1

#28978 Devextreme-angular: Fix popup resizing after show by popupService
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/ui/popup/service/insertion.directive.ts
  packages/devextreme-angular/src/ui/popup/service/service.component.ts
  packages/devextreme-angular/src/ui/popup/service/service.ts
  packages/devextreme-angular/tests/src/services/popup-service.spec.ts
  packages/devextreme-angular/webpack.test.js
  pnpm-lock.yaml
Labels: cherry-pick, 25_1

#29002 CI: Install Chrome v121 from GHP
  .github/actions/setup-chrome/action.yml
Labels: cherry-pick, 23_2

#29003 CI: Install Chrome v121 from GHP
  .github/actions/setup-chrome/action.yml
Labels: cherry-pick, 23_1

#29004 Testcafe: try to resize browser window before all tests run
  e2e/testcafe-devextreme/runner.js
Labels: 24_2

#29005 Testcafe: try to resize browser window before all tests run
  e2e/testcafe-devextreme/runner.js
Labels: 24_1

#28987 Theme utils: add isGeneric method to .d.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/js/ui/themes.d.ts
Labels: skip-cache, 25_1

#28983 NumberBox: it should be possible to use percent format with more than 7 fractional digits (T1277123)
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: 25_1

#28872 CI: Setup dotnet 6 in packages_publishing workflow
  .github/workflows/packages_publishing.yml
Labels: 23_2

#29017 NumberBox: it should be possible to use percent format with more than 7 fractional digits (T1277123)
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 24_1

#29016 NumberBox: it should be possible to use percent format with more than 7 fractional digits (T1277123)
  packages/devextreme/js/__internal/ui/number_box/m_number_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Labels: cherry-pick, 24_2

#29029 QUnit: fix shadow dom tests after chrome update to v133
  packages/devextreme/testing/helpers/qunitExtensions.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 24_2

#29030 QUnit: fix shadow dom tests after chrome update to v133
  packages/devextreme/testing/helpers/qunitExtensions.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: cherry-pick, 24_1

#29012 QUnit: fix after chrome update to v133
  packages/devextreme/testing/helpers/qunitExtensions.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/sortable.tests.js
Labels: 25_1

#28947 FileUploader: Attach Enter keyup handler to select file dialog button (T1256752)
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/ui/file_manager/ui.file_manager.file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: skip-cache, 25_1

#29034 FileUploader: Attach Enter keyup handler to select file dialog button (T1256752)
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/ui/file_manager/ui.file_manager.file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 24_2

#29032 Map azure - it should be possible to pass a markup to a tooltip
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: 25_1

#29036 Map azure - it should be possible to pass a markup to a tooltip (T1277923)
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: cherry-pick, 24_2

#29031 List: empty message should be hidden when new item is inserted to empty store (T1277567)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: 25_1

#29035 FileUploader: Attach Enter keyup handler to select file dialog button (T1256752)
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/ui/file_manager/ui.file_manager.file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Labels: cherry-pick, 24_1

#28989 FilterBuilder - The field drop-down window moves with the page scroll (T1273328)
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (generic-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/etalons/filterBuilder_scroll_with_popup (material-blue-light).png
  e2e/testcafe-devextreme/tests/filterBuilder/filterBuilderScrolling.ts
  packages/devextreme-scss/scss/widgets/base/filterBuilder/_index.scss
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Labels: cherry-pick, 24_1

#29038 List: empty message should be hidden when new item is inserted to empty store (T1277567)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/liveUpdateTests.js
Labels: cherry-pick, 24_1

#29040 Drawer: hide animation should work on hide using opened option (T1277636) + Promise should be resolved after call show() for already opened drawer (T1263952)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_1

#29039 Drawer: hide animation should work on hide using opened option (T1277636) + Promise should be resolved after call show() for already opened drawer (T1263952)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_2

#29020 fix(localization): correctly format number with escaped semicolon (T1275922)
  packages/devextreme/js/common/core/localization/intl/number.js
  packages/devextreme/js/common/core/localization/ldml/number.js
  packages/devextreme/js/common/core/localization/number.js
  packages/devextreme/testing/tests/DevExpress.localization/ldml.tests.js
Labels: 25_1

#29006 PivotGrid(T1270941): fix columns header area d-n-d indicator visibility
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/PivotGrid contextmenu width (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/pivotGrid/_index.scss
  packages/testcafe-models/pivotGrid/columnHeaderArea.ts
  packages/testcafe-models/pivotGrid/rowHeaderArea.ts
Labels: type/bug, 25_1

#29046 PivotGrid(T1270941): fix columns header area d-n-d indicator visibility
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/PivotGrid contextmenu width (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/pivotGrid/_index.scss
  packages/testcafe-models/pivotGrid/columnHeaderArea.ts
  packages/testcafe-models/pivotGrid/rowHeaderArea.ts
Labels: type/bug, cherry-pick, 24_2

#28992 TreeList - display items in the original order when search is applied for local data source - T1274434
  e2e/testcafe-devextreme/tests/treeList/seachPanel.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: 24_1

#28993 TreeList - display items in the original order when search is applied for local data source - T1274434
  e2e/testcafe-devextreme/tests/treeList/seachPanel.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: 24_2

#28990 PivotGrid - Column expands after datasource reload - T1246608
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget_utils.ts
  packages/devextreme/js/__internal/grids/pivot_grid/remote_store/m_remote_store.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.remote.tests.js
Labels: 24_1

#28991 PivotGrid - Column expands after datasource reload - T1246608
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget_utils.ts
  packages/devextreme/js/__internal/grids/pivot_grid/remote_store/m_remote_store.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.remote.tests.js
Labels: 24_2

#28791 CardView - implement ContentView
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/card.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.events.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/field.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/header.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/header.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content_view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/index.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/options.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/public_methods.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/utils.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/utils.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/options.ts
  packages/devextreme/js/__internal/grids/new/card_view/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/content_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/error_row.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/load_panel.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/no_data_text.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/public_methods.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/error_controller/error_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/load_panel.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/toast.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29043 ColorBox: fix invalid value setting error (T1274477)
  packages/devextreme/js/__internal/ui/color_box/m_color_box.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 24_2

#29042 ColorBox: fix invalid value setting error (T1274477)
  packages/devextreme/js/__internal/ui/color_box/m_color_box.ts
  packages/devextreme/js/__internal/ui/color_box/m_color_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
Labels: cherry-pick, 24_1

#29060 Map - skip aria-prohibited-attr in accessibility tests
  apps/demos/testing/common.test.js
Labels: 25_1

#29062 PivotGrid: fix lint scss error
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/base/pivotGrid/_index.scss
Labels: cherry-pick, 24_2

#29063 PivotGrid: fix lint scss error
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/base/pivotGrid/_index.scss
Labels: cherry-pick, 24_1

#29055 DataGrid - Filter Row's Reset button does not work after a custom filter is set in Filter Builder (T1267481)
  e2e/testcafe-devextreme/tests/dataGrid/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Labels: cherry-pick, 24_2

#29033 NumberBox: Fix tabIndex attribute not set on init (T1275314)
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: type/bug, 25_1

#29056 DataGrid - Filter Row's Reset button does not work after a custom filter is set in Filter Builder (T1267481)
  e2e/testcafe-devextreme/tests/dataGrid/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Labels: cherry-pick, 24_1

#29050 fix(localization): correctly format number with escaped semicolon
  packages/devextreme/js/localization/ldml/number.js
  packages/devextreme/testing/tests/DevExpress.localization/ldml.tests.js
Labels: cherry-pick, 24_1

#29051 fix(localization): correctly format number with escaped semicolon
  packages/devextreme/js/common/core/localization/ldml/number.js
  packages/devextreme/testing/tests/DevExpress.localization/ldml.tests.js
Labels: cherry-pick, 24_2

#28953 T1234905: PivotGrid - Grand total row is shown when dataFieldArea is set to 'row' even if showGrandTotals is disabled
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 25_1

#29058 T1234905: PivotGrid - Grand total row is shown when dataFieldArea is set to 'row' even if showGrandTotals is disabled
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 24_2

#29057 T1234905: PivotGrid - Grand total row is shown when dataFieldArea is set to 'row' even if showGrandTotals is disabled
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Labels: 24_1

#29066 Gantt: update version after fix T1277263
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: 24_1

#29064 Gantt: update version after fix T1277263
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: 25_1

#29045 fix: address the scenario when extrenal type parameter is passed to DeepPartial (T1263537)
  e2e/compilation-cases/T1263537.ts
  packages/devextreme/js/core/index.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 25_1

#29044 fix: address the scenario when extrenal type parameter is passed to DeepPartial (T1263537)
  e2e/compilation-cases/T1263537.ts
  packages/devextreme/js/core/index.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_1

#29065 Gantt: update version after fix T1277263
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: 24_2

#28970 Angular Demos - Grid PopupEditing, FormEditing - add missing module for GH pages build process
  apps/demos/Demos/DataGrid/FormEditing/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/PopupEditing/Angular/app/app.component.ts
Labels: cherry-pick, 25_1

#28961 fix(VueWrapper): correctly sync wrapper classes with classes added by a JS component
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Vue/App.vue
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/src/core/component.ts
Labels: 25_1

#28972 T1260472: fix grid async render to avoid blinking
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1260472-async-render-after-horizontal-scrolling.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1260472-async-render-during-horizontal-scrolling.png
  e2e/testcafe-devextreme/tests/dataGrid/virtualColumns.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
Labels: cherry-pick, 24_2

#29077 Add devextreme-aspnet-data to build artifacts
  apps/demos/package.json
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/shadowDom/containerAspNet.html
  packages/devextreme/build/gulp/vendor.js
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: cherry-pick, dependencies, 24_2

#29068 Menu: Add margin-left in vertical mode for Fluent and Material
  apps/react-storybook/stories/menu/Menu.stories.tsx
  apps/react-storybook/stories/menu/data.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  packages/devextreme-scss/scss/widgets/fluent/menu/_index.scss
  packages/devextreme-scss/scss/widgets/material/menu/_index.scss
Labels: skip-cache, 25_1

#29080 Accordion: skip Vue demos tests
  apps/demos/testing/common.test.js
  apps/demos/testing/widgets/accordion/Accordion.test.js
Labels: skip-cache, force all tests, 25_1

#29076 fix(VueWrapper): correctly sync wrapper classes with classes added by…
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Vue/App.vue
  packages/devextreme-vue/src/core/__tests__/component.test.ts
  packages/devextreme-vue/src/core/__tests__/textbox.test.ts
  packages/devextreme-vue/src/core/component.ts
Labels: cherry-pick, 24_2

#29081 Remove redundant code, semaphores and todos
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_view_model_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_loading.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/m_utils.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/options_validator/core/types.ts
  packages/devextreme/js/__internal/scheduler/options_validator/types.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header_cell.tsx
  packages/devextreme/js/__internal/scheduler/r1/semaphore/__tests__/semaphore.ts
  packages/devextreme/js/__internal/scheduler/r1/semaphore/index.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/workspaces/helpers/m_position_helper.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: cherry-pick, 24_1

#29083 NumberBox: Fix tabIndex attribute not set on init (T1275314)
  packages/devextreme/js/__internal/ui/number_box/m_number_box.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Labels: cherry-pick, 24_2

#29091 Chat: Pin the OpenAI version on the AI Integration demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.html
Labels: 24_2

#29090 Chat: Pin the OpenAI version on the AI Integration demo
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.html
Labels: 25_1

#29093 Map - skip aria-prohibited-attr in accessibility tests
  apps/demos/testing/common.test.js
Labels: cherry-pick, 24_2

#29069 Scheduler(T1269168): fix appointment popup delay performance issue
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/utils/index.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/dispatcher.test.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/dispatcher.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/index.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/methods.test.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/methods.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: type/bug, 25_1

#29074 Map: Add location field to ClickEvent type and pass event to onClick
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.google.ts
  packages/devextreme/js/ui/map.d.ts
  packages/devextreme/js/ui/map.js
  packages/devextreme/testing/helpers/forMap/googleMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleStaticTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/googleTests.js
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 25_1

#29089 Add optional chain operator to this.defaultSetCellValue method
  apps/demos/Demos/DataGrid/CascadingLookups/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/CascadingLookups/React/App.tsx
  apps/demos/Demos/DataGrid/CascadingLookups/ReactJs/App.js
  apps/demos/Demos/DataGrid/CascadingLookups/Vue/App.vue
Labels: 25_1

#29099 Scheduler(T1269168): fix appointment popup delay performance issue (DevExpress#29069)
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/utils/index.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/dispatcher.test.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/dispatcher.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/index.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/methods.test.ts
  packages/devextreme/js/__internal/scheduler/utils/macro_task_array/methods.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Labels: cherry-pick, 24_1

#29100 Final test stabilization after chrome update
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/right-position-2(rLines_=_false_cLines_=_false_borders_=_false_rtl_=_true_rowAlt_=_true)_mask.png
Labels: skip-cache, force all tests, 25_1

#29103 Pin devexpress-diagram and devexpress-gantt via pnpm catalogs
  apps/demos/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: 25_1

#29106 Add optional chain operator to this.defaultSetCellValue method
  apps/demos/Demos/DataGrid/CascadingLookups/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/CascadingLookups/React/App.tsx
  apps/demos/Demos/DataGrid/CascadingLookups/ReactJs/App.js
  apps/demos/Demos/DataGrid/CascadingLookups/Vue/App.vue
Labels: cherry-pick, 24_2

#29095 Chart: fix auto breaks calculation when there are duplicated and high-precision values (T1256385)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: 25_1

#29108 Chart: fix auto breaks calculation when there are duplicated and high-precision values (T1256385)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: cherry-pick, 24_2

#29107 Chart: fix auto breaks calculation when there are duplicated and high-precision values (T1256385)
  packages/devextreme/js/viz/axes/xy_axes.js
  packages/devextreme/testing/tests/DevExpress.viz.core/xyAxes.tests.js
Labels: cherry-pick, 24_1

#28879 🐞 T1268664: DataGrid focused row twitches when at least one column is fixed
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/appearance.ts
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(generic.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, 25_1

#29094 Demos: Fix flaky E2E tests
  apps/demos/testing/widgets/accordion/Accordion.test.js
  apps/demos/testing/widgets/chat/Customization.test.js
  apps/demos/testing/widgets/selectbox/GroupedItems.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: skip-cache, force all tests, 25_1

#29102 Fix flaky Chat & SelectBox tests & skip Chart & DataGrid tests
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: cherry-pick, skip-cache, 24_1, force all tests

#29101 Fix flaky Chat & SelectBox tests & skip Chart & DataGrid tests
  apps/demos/testing/widgets/accordion/Accordion.test.js
  apps/demos/testing/widgets/chat/Customization.test.js
  apps/demos/testing/widgets/selectbox/GroupedItems.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: cherry-pick, skip-cache, force all tests, 24_2

#29112 List and VectorMap - fix incorrect 'true' type in doc
  packages/devextreme/js/ui/list.d.ts
  packages/devextreme/js/viz/vector_map.d.ts
Labels: 25_1

#29115 Drawer - fix unstable test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_2

#29116 Drawer - fix unstable test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
Labels: cherry-pick, 24_1

#29118 CI: Download Chrome
  .github/actions/run-qunit-tests/action.yml
  .github/actions/setup-chrome/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
Labels: 25_1

#29127 CI: final test fixes after chrome update
  apps/demos/testing/etalons/Diagram-UICustomization (material.blue.light)_mask.png
  apps/demos/testing/etalons/PivotGrid-ExcelJsHeaderAndFooter (material.blue.light)_mask.png
  apps/demos/testing/etalons/PivotGrid-StandaloneFieldChooser (material.blue.light)_mask.png
  apps/demos/testing/etalons/RangeSlider-Overview (material.blue.light)_mask.png
  apps/demos/testing/etalons/TreeList-ColumnChooser (material.blue.light)_mask.png
  apps/demos/testing/etalons/TreeList-Overview (material.blue.light)_mask.png
  apps/demos/testing/etalons/TreeList-Resizing (material.blue.light)_mask.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_by_range_3_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_record_grouping_3_desktop (material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/sorting/etalons/datagrid-alphabetical-icons-should-be-correct.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_1_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_2_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (material-blue-light)_mask.png
Labels: skip-cache, force all tests, 24_2

#29129 CI: final test fixes after chrome update
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_default_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=false_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/datagrid_selected_focused_edit_state_with_showRowLines=true_(material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/edit_fixed_cell_with_sticky_position_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_1_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/filter_row_with_sticky_columns_2_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_1.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/fixed_columns_data_cells_navigation_by_tab_2.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/header_row_highlight_with_fixed_columns_(material.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_1_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/stickyColumns/etalons/row_selection_with_sticky_columns_2_(material.blue.light).png
  e2e/testcafe-devextreme/tests/pagination/accessibility.ts
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_false-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_false-snb_true-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_compact-has_no_it-si_true-snb_true-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_full-has_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_full-has_it-si_true-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_full-has_it-si_true-snb_true-spss_false (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_full-has_no_it-si_false-snb_false-spss_true (material-blue-light).png
  e2e/testcafe-devextreme/tests/pagination/etalons/pagination-dm_full-has_no_it-si_true-snb_true-spss_false (material-blue-light).png
Labels: skip-cache, force all tests, 25_1

#29085 Update Grids&Scheduler codeowners
  .github/CODEOWNERS
Labels: 25_1

#29086 Update Grids&Scheduler codeowners
  .github/CODEOWNERS
Labels: 24_2

#29087 Update Grids&Scheduler codeowners
  .github/CODEOWNERS
Labels: 24_1

#29053 T1235433: fix Drag-n-Drop inside the group with virtual scrolling
  e2e/testcafe-devextreme/tests/scheduler/cellsSelection/bothDirectionsVirtualScrolling.ts
  e2e/testcafe-devextreme/tests/scheduler/cellsSelection/init/widget.setup.ts
  e2e/testcafe-devextreme/tests/scheduler/cellsSelection/virtualScrollingCellSelection.ts
  e2e/testcafe-devextreme/tests/scheduler/dragAndDrop/T1235433.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/templates/appointmentTemplateTargetedData.ts
  e2e/testcafe-devextreme/tests/scheduler/utils.ts
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/appointments.ts
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/layout.ts
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/utils.ts
  e2e/testcafe-devextreme/tests/scheduler/virtualScrolling/zooming.ts
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: 25_1

#29122 SelectBox: Should render only the latest passed value when async template is used (T1262587)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: 24_1

#29137 SelectBox: Should render only the latest passed value when async template is used (T1262587)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 24_2

#29128 CI: final test fixes after chrome update
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light)_mask.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/sorting/etalons/datagrid-alphabetical-icons-should-be-correct.png
  e2e/testcafe-devextreme/tests/dataGrid/sorting/sorting.ts
  packages/devextreme/testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: skip-cache, 24_1, force all tests

#29134 Chart: apply auto hide point logic only for series with visible points (T1256753)
  packages/devextreme/js/viz/series/scatter_series.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Labels: 25_1

#29135 Pin devexpress-diagram and devexpress-gantt via pnpm catalogs
  apps/demos/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: cherry-pick, dependencies, 24_2
