Repository DevExpress/DevExtreme, pull requests merged in 2025-04, with the labels that each got.

#29469 Chart: Fluent.SaaS themes should be registered via the Theme Manager (T1284038)
  packages/devextreme/js/__internal/viz/core/themes/fluent/index.ts
  packages/devextreme/testing/tests/DevExpress.viz.core/themes.tests.js
Labels: 25_1

#29474 DropDownEditor: async fieldTemplate should render last value if 2 requests are processed in parallel (T1262587, refix)
  apps/react/examples/Examples.tsx
  apps/react/examples/selectbox-fieldtemplate-example.tsx
  apps/react/examples/selectbox-parallel-template-render-example.tsx
  apps/react/examples/selectbox-templates-example.tsx
  apps/react/index.tsx
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 24_1

#29473 DropDownEditor: async fieldTemplate should render last value if 2 requests are processed in parallel (T1262587, refix)
  apps/react/examples/Examples.tsx
  apps/react/examples/selectbox-fieldtemplate-example.tsx
  apps/react/examples/selectbox-parallel-template-render-example.tsx
  apps/react/examples/selectbox-templates-example.tsx
  apps/react/index.tsx
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Labels: cherry-pick, 24_2

#29485 TagBox: fix async fieldTemplate rendering in React 18 (T1283948)
  apps/react/examples/Examples.tsx
  apps/react/examples/tagbox-fieldtemplate-checkboxes-example.tsx
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#29461 Button: onClick function should be triggered when custom template is used Enter, Space keys are pressed in Angular & Vue (T1260670, T1260357)
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: 25_1

#29463 Button: onClick function should be triggered when custom template is used Enter, Space keys are pressed in Angular & Vue (T1260670, T1260357)
  packages/devextreme/js/renovation/ui/__tests__/button.test.tsx
  packages/devextreme/js/renovation/ui/button.tsx
  packages/devextreme/testing/tests/DevExpress.ui.widgets/button.tests.js
Labels: cherry-pick, 24_1

#29466 Splitter: resizeHandle should not be duplicated when changing the template option at runtime (T1279224)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: 25_1

#29468 Splitter: resizeHandle should not be duplicated when changing the template option at runtime (T1279224)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: cherry-pick, 24_2

#29467 Splitter: resizeHandle should not be duplicated when changing the template option at runtime (T1279224)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Labels: cherry-pick, 24_1

#29460 DataGrid: fix sticky + virtual columns + grouping row case (#29399)
  apps/demos/testing/widgets/datagrid/etalons/datagrid_infinite_scrolling_2_desktop (fluent.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/vertical_scroll_and_focused_fixed_column_2_mask.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/virtual_columns_with_grouping_expand_scroll_right.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/virtual_columns_with_grouping_scroll_right.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/virtual_columns_with_nested_grouping_scroll_right.png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withVirtualColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/sticky/helpers/data.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Labels: cherry-pick, 24_2

#29490 TagBox: fix async fieldTemplate rendering in React 18 (T1283948)
  apps/react/examples/Examples.tsx
  apps/react/examples/tagbox-fieldtemplate-checkboxes-example.tsx
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_2

#29489 TagBox: fix async fieldTemplate rendering in React 18 (T1283948)
  apps/react/examples/Examples.tsx
  apps/react/examples/tagbox-fieldtemplate-checkboxes-example.tsx
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_1

#29426 CardView - implement rootElementUpdater
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/core/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/root_element_updater.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29447 Scheduler: add today built-in button
  e2e/testcafe-devextreme/tests/scheduler/common/header/customization.ts
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-custom toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-default toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-disabled toolbar.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/etalons/scheduler-toolbar with today.png
  e2e/testcafe-devextreme/tests/scheduler/common/header/todayButton.ts
  packages/devextreme/js/__internal/scheduler/header/constants.ts
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_date_navigator.ts
  packages/devextreme/js/__internal/scheduler/header/m_header.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
  packages/devextreme/js/__internal/scheduler/header/today.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/testcafe-models/scheduler/toolbar.ts
Labels: 25_1

#29356 DataGrid - `Cannot read properties of undefined (reading 'done')` error occurs when column fixing and state storing are used (T1283168)
  e2e/testcafe-devextreme/tests/dataGrid/common/stateStoring/stateStoring.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
Labels: 25_1

#29488 Chart: circle point symbol should be applied after changing customizePoint callback at runtime (T1284076)
  packages/devextreme/js/viz/series/points/base_point.js
  packages/devextreme/testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: 25_1

#29471 Chart: circle point symbol should be applied after changing customizePoint callback at runtime (T1284076)
  packages/devextreme/js/viz/series/points/base_point.js
  packages/devextreme/testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: cherry-pick, 24_2

#29470 Chart: circle point symbol should be applied after changing customizePoint callback at runtime (T1284076)
  packages/devextreme/js/viz/series/points/base_point.js
  packages/devextreme/testing/tests/DevExpress.viz.core.series/symbolPoint.tests.js
Labels: cherry-pick, 24_1

#29496 List: the "Select All" checkbox should be aligned in Fluent (T1282351)
  apps/demos/testing/etalons/List-ListSelection (fluent.blue.light).png
  apps/demos/testing/etalons/List-WebAPI (fluent.blue.light).png
  apps/demos/testing/etalons/TabPanel-SortableClosableTabs (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectAll checkbox value (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to multiple (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to single (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after click on item, selectionMode=all (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/header-filter-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/header-filter-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be checked after enter press in multiple mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be checked after enter press in single mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in multiple mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in single mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be checked after enter press (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be focused after tab press (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/search.ts
  packages/devextreme-scss/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_sizes.scss
Labels: skip-cache, force all tests, 25_1

#29497 List: the "Select All" checkbox should be aligned in Fluent (T1282351)
  apps/demos/testing/etalons/List-ListSelection (fluent.blue.light).png
  apps/demos/testing/etalons/List-WebAPI (fluent.blue.light).png
  apps/demos/testing/etalons/TabPanel-SortableClosableTabs (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectAll checkbox value (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to multiple (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to single (fluent.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after click on item, selectionMode=all (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/header-filter-menu_fluent.blue.dark.png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/header-filter-menu_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be checked after enter press in multiple mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be checked after enter press in single mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in multiple mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List item should be focused after tab press in single mode (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be checked after enter press (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List selectAll checkbox should be focused after tab press (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and multiple selection (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (generic-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search and single selection (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/list/search.ts
  packages/devextreme-scss/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/list/_sizes.scss
Labels: cherry-pick, 24_2

#29425 TagBox: previously rendered tags should not rerender on value change (T1246066)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#29503 TagBox: previously rendered tags should not rerender on value change (T1246066)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_1

#29502 TagBox: previously rendered tags should not rerender on value change (T1246066)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_2

#29479 Map - add test on map ready callback and route adding fail
  packages/devextreme/js/__internal/ui/map/m_provider.dynamic.azure.ts
  packages/devextreme/testing/helpers/forMap/azureMock.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/azureTests.js
Labels: 25_1

#29444 Stepper: align css variables with figma for all themes
  e2e/testcafe-devextreme/tests/accessibility/common/list/groupedItems.ts
  e2e/testcafe-devextreme/tests/accessibility/common/list/itemDeleting.ts
  e2e/testcafe-devextreme/tests/accessibility/common/list/simpleItems.ts
  e2e/testcafe-devextreme/tests/accessibility/common/stepper.ts
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.tests.js
  packages/testcafe-models/types.ts
Labels: 25_1

#29429 refactor data accessor
  packages/devextreme/js/__internal/scheduler/__mock__/appointment_data_accessor.mock.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/js/__internal/scheduler/m_expression_utils.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/remote.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/types.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/data.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/excludeFromRecurrence.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/data.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/exclude_from_recurrence.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.test.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/types.ts
  packages/devextreme/js/__internal/scheduler/utils/index.ts
  packages/devextreme/testing/helpers/scheduler/mockDataAccessor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Labels: 25_1

#29456 CardView - add testcafe tests
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/tests/cardView/etalons/header-panel (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/header-panel (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/header-panel (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/simpleArrayData.ts
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/testcafe-models/cardView/card.ts
  packages/testcafe-models/cardView/headerItem.ts
  packages/testcafe-models/cardView/headerPanel.ts
  packages/testcafe-models/cardView/headers/headers.ts
  packages/testcafe-models/cardView/headers/item.ts
  packages/testcafe-models/cardView/index.ts
  packages/testcafe-models/cardView/toolbar.ts
  packages/testcafe-models/dataGrid/index.ts
  packages/testcafe-models/gridCore/filter/builder.ts
  packages/testcafe-models/gridCore/filter/panel.ts
  packages/testcafe-models/gridCore/index.ts
  packages/testcafe-models/popup.ts
  packages/testcafe-models/selector.ts
  packages/testcafe-models/types.ts
Labels: 25_1

#29520 Lookup: get rid of unused _getSelectionChangedHandler
  packages/devextreme/js/__internal/ui/m_lookup.ts
Labels: 24_2

#29519 Lookup: get rid of unused _getSelectionChangedHandler
  packages/devextreme/js/__internal/ui/m_lookup.ts
Labels: 25_1

#29507 CardView - search highlighting
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/search/visual.ts
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_colors.scss
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/caption.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/card.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/value_text.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/caption.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/caption.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/field.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/value_text.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/value_text.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/__snapshots__/options.integration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/search/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/search_field.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/search/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29523 List: refactor tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/utils.js
Labels: 24_2

#29522 List: refactor tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/utils.js
Labels: 25_1

#29512 TagBox: should not trigger excess onSelectionChanged when value is not changed (T1259823)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#29454 CardView - fix ssr
  apps/demos/configs/Angular/config.js
  packages/devextreme-angular/src/server/render.ts
  packages/devextreme-angular/tests/src/server/component-names.ts
  packages/devextreme/js/__internal/core/m_inferno_renderer.ts
  packages/devextreme/js/__internal/grids/new/grid_core/core/view.tsx
Labels: 25_1

#29528 TagBox: should not trigger excess onSelectionChanged when value is not changed (T1259823)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_1

#29527 TagBox: should not trigger excess onSelectionChanged when value is not changed (T1259823)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_2

#29524 List: fix kbn reordering via shift+arrow when grouped (T1281674, T1281673)
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
Labels: 25_1

#29526 List: fix kbn reordering via shift+arrow when grouped (T1281674, T1281673)
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/editingTests.js
Labels: cherry-pick, 24_1

#29514 DataGrid - Cannot read properties of undefined (reading 'done') error occurs when column fixing and state storing are used (T1283168)
  e2e/testcafe-devextreme/tests/dataGrid/common/stateStoring/stateStoring.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
Labels: cherry-pick, 24_2

#29515 refactor data accessor
  packages/devextreme/js/__internal/scheduler/__mock__/appointment_data_accessor.mock.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/js/__internal/scheduler/m_expression_utils.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/remote.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/types.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/data.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/excludeFromRecurrence.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/data.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/exclude_from_recurrence.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.test.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/types.ts
  packages/devextreme/js/__internal/scheduler/utils/index.ts
  packages/devextreme/testing/helpers/scheduler/mockDataAccessor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Labels: cherry-pick, 24_2

#29518 refactor data accessor
  packages/devextreme/js/__internal/scheduler/__mock__/appointment_data_accessor.mock.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_expression_utils.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/remote.ts
  packages/devextreme/js/__internal/scheduler/r1/filterting/types.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/data.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/excludeFromRecurrence.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/data.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/exclude_from_recurrence.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.test.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/data_accessor.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/types.ts
  packages/devextreme/js/__internal/scheduler/utils/index.ts
  packages/devextreme/testing/helpers/scheduler/mockDataAccessor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.horizontalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Labels: cherry-pick, 24_1

#29495 refactor appointment date provider and filter strategies
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: 25_1

#29531 Jest config fix
  packages/devextreme/jest.config.js
Labels: 25_1

#29535 refactor appointment date provider and filter strategies (#29495)
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: cherry-pick, 24_2

#29540 Stepper: use padding instead of margin on root container
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/connector/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/stepper/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/generic/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_index.scss
  packages/devextreme-scss/scss/widgets/material/stepper/_sizes.scss
  packages/devextreme/js/__internal/ui/stepper/connector.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.connector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
Labels: 25_1

#29539 Jest config fix
  packages/devextreme/jest.config.js
Labels: cherry-pick, 24_2

#29536 refactor appointment date provider and filter strategies
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
Labels: cherry-pick, 24_1

#29505 TreeList: Fix navigation to the required node when cellRender is specified (T1275775)
  e2e/testcafe-devextreme/tests/treeList/API.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=true).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=true).png
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, 25_1

#29363 Remove globalize and cldrjs from build artifacts
  packages/devextreme/build/gulp/vendor.js
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
Labels: dependencies, force all tests, 25_1

#29547 TagBox: it should be possible to create a custom item by enter key after navigate in list and close popup (T1270280)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: 25_1

#29552 TagBox: it should be possible to create a custom item by enter key after navigate in list and close popup (T1270280)
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Labels: cherry-pick, 24_1

#29560 CardView - create storybooks
  apps/react-storybook/stories/card_view/Card.stories.tsx
  apps/react-storybook/stories/card_view/CardView.stories.tsx
  apps/react-storybook/stories/card_view/data.ts
  apps/react-storybook/stories/card_view/generatedData.ts
Labels: 25_1

#29557 Stepper: implement `Step Template` demo
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.css
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.html
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.ts
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.service.ts
  apps/demos/Demos/Stepper/StepTemplate/Angular/index.html
  apps/demos/Demos/Stepper/StepTemplate/React/App.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/CustomStepShape.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/IconOnly.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/TitleOnly.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/data.ts
  apps/demos/Demos/Stepper/StepTemplate/React/index.html
  apps/demos/Demos/Stepper/StepTemplate/React/index.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/styles.css
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/App.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/CustomStepShape.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/IconOnly.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/TitleOnly.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/data.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/index.html
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/index.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/styles.css
  apps/demos/Demos/Stepper/StepTemplate/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/Vue/data.ts
  apps/demos/Demos/Stepper/StepTemplate/Vue/index.html
  apps/demos/Demos/Stepper/StepTemplate/Vue/index.ts
  apps/demos/Demos/Stepper/StepTemplate/jQuery/data.js
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.html
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.js
  apps/demos/Demos/Stepper/StepTemplate/jQuery/styles.css
  apps/demos/menuMeta.json
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/Stepper-StepTemplate (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate (material.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate.png
  apps/demos/testing/widgets/stepper/StepTemplate.test.js
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused.png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused.png
Labels: skip-cache, force all tests, 25_1

#29554 CardView - column chooser (select mode)
  e2e/testcafe-devextreme/tests/cardView/columnChooser/a11y.functional.ts
  e2e/testcafe-devextreme/tests/cardView/columnChooser/api.functional.ts
  e2e/testcafe-devextreme/tests/cardView/columnChooser/etalons/card-view_column-chooser (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/columnChooser/etalons/card-view_column-chooser (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/columnChooser/etalons/card-view_column-chooser (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/columnChooser/visual.ts
  e2e/testcafe-devextreme/tests/cardView/etalons/headers.png
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/const.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/column_chooser.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/public_methods.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/test-utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/view.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29453 Demos: replace endpoint urls
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/BatchUpdateRequest/React/App.tsx
  apps/demos/Demos/DataGrid/BatchUpdateRequest/ReactJs/App.js
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/jQuery/index.js
Labels: cherry-pick, 24_1, force all tests

#29563 CardView - refactor tests
  packages/devextreme/js/__internal/core/di/index.ts
  packages/devextreme/js/__internal/grids/new/card_view/di.test_utils.ts
  packages/devextreme/js/__internal/grids/new/card_view/di.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/options.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/widget.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/public_methods.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.test_utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/pager/view.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29561 CardView - fix localization for select
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_checkbox_visibility_with_showCheckBoxesMode_=_onClick (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_checkbox_visibility_with_showCheckBoxesMode_=_onClick (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_checkboxes_visibility_with_showCheckBoxesMode_=_onClick (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_checkboxes_visibility_with_showCheckBoxesMode_=_onClick (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_always (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_always (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_none (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_none (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_1 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_1 (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_2 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_2 (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_3 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onClick_3 (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_1 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_1 (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_2 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_2 (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_3 (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/selection/etalons/card-view_miltiple_selection_with_showCheckBoxesMode_=_onLongTap_3 (generic-light).png
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/testcafe-models/cardView/toolbar.ts
Labels: 25_1

#29553 Stepper: add accessibility attributes and tests
  apps/demos/testing/common.test.js
  e2e/testcafe-devextreme/tests/accessibility/common/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Labels: 25_1

#29566 Fix the Vue config file to ensure correct usage of Globalize in demos
  apps/demos/configs/Vue/config.js
Labels: force all tests, 25_1

#29575 The "info" icon should be exclamation mark instead of "i" in the Fluent Theme
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/images/icons/fluent/info.svg
  packages/devextreme-scss/tests/icon-font.test.ts
Labels: 25_1

#29571 The "info" icon should be exclamation mark instead of "i" in the Fluent Theme
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/images/icons/fluent/info.svg
  packages/devextreme-scss/tests/icon-font.test.ts
Labels: 24_2

#29562 Accordion Demo
  apps/demos/Demos/Accordion/Overview/Vue/App.vue
  apps/demos/Demos/Accordion/Overview/Vue/data.ts
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: skip-cache, force all tests, 25_1

#29574 Stepper: improve accessibility of Step Template demo
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.html
  apps/demos/Demos/Stepper/StepTemplate/React/App.tsx
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/App.js
  apps/demos/Demos/Stepper/StepTemplate/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.html
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.js
Labels: skip-cache, force all tests, 25_1

#29580 List should not display "[object Object]" in the aria-label attribute in multiple selection mode, especially when displayExpr and default text field are missed (T1285078)
  apps/demos/Demos/List/ItemTemplate/Angular/app/app.component.html
  apps/demos/Demos/List/ItemTemplate/React/App.tsx
  apps/demos/Demos/List/ItemTemplate/ReactJs/App.js
  apps/demos/Demos/List/ItemTemplate/Vue/App.vue
  apps/demos/Demos/List/ItemTemplate/jQuery/index.js
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: cherry-pick, 24_2

#29415 HtmlEditor: Add AI toolbar option types
  packages/devextreme/js/ui/html_editor.d.ts
  packages/devextreme/js/ui/html_editor_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29587 Stepper: update menuMeta
  apps/demos/menuMeta.json
Labels: 25_1

#29579 List should not display "[object Object]" in the aria-label attribute in multiple selection mode, especially when displayExpr and default text field are missed (T1285078)
  apps/demos/Demos/List/ItemTemplate/Angular/app/app.component.html
  apps/demos/Demos/List/ItemTemplate/React/App.tsx
  apps/demos/Demos/List/ItemTemplate/ReactJs/App.js
  apps/demos/Demos/List/ItemTemplate/Vue/App.vue
  apps/demos/Demos/List/ItemTemplate/jQuery/index.js
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: 25_1

#29345 AI: Init, add .d.ts, add separate build, add tests
  packages/devextreme-angular/src/common/ai-integration/index.ts
  packages/devextreme-angular/src/common/ai-integration/ng-package.json
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/ai-integration.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/ai-integration.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme/build/gulp/js-bundles.js
  packages/devextreme/js/__internal/core/ai_integration/commands/base.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/base.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/translate.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/translate.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.ts
  packages/devextreme/js/__internal/core/ai_integration/core/prompt_manager.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/prompt_manager.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.ts
  packages/devextreme/js/__internal/core/ai_integration/templates/index.ts
  packages/devextreme/js/__internal/core/ai_integration/test_utils/provider_mock.ts
  packages/devextreme/js/bundles/dx.ai-integration.js
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/js/common/ai-integration.js
  packages/devextreme/package.json
  packages/devextreme/testing/runner/Tools/UIModelHelper.cs
  packages/devextreme/ts/dx.all.d.ts
  pnpm-lock.yaml
Labels: 25_1

#29581 List should not display "[object Object]" in the aria-label attribute in multiple selection mode, especially when displayExpr and default text field are missed (T1285078)
  apps/demos/Demos/List/ItemTemplate/Angular/app/app.component.html
  apps/demos/Demos/List/ItemTemplate/React/App.tsx
  apps/demos/Demos/List/ItemTemplate/ReactJs/App.js
  apps/demos/Demos/List/ItemTemplate/Vue/App.vue
  apps/demos/Demos/List/ItemTemplate/jQuery/index.js
  packages/devextreme/js/__internal/ui/list/m_list.edit.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Labels: 24_1

#29585 Accordion Demo (#29562)
  apps/demos/Demos/Accordion/Overview/Vue/App.vue
  apps/demos/Demos/Accordion/Overview/Vue/data.ts
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: cherry-pick, 24_2

#29591 Stepper: add story with multiple form integration
  apps/react-storybook/stories/stepper/Stepper.stories.tsx
  apps/react-storybook/stories/stepper/samples/formIntegration/MultipleFormIntegration.tsx
  apps/react-storybook/stories/stepper/samples/formIntegration/SingleFormIntegration.tsx
Labels: 25_1

#29588 DataGrid - overview demo - update etalons
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
Labels: 25_1

#29589 DataGrid - overview demo - update etalons
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
Labels: cherry-pick, 24_2

#29530 CardView - implement image thumbnail
  e2e/testcafe-devextreme/tests/cardView/cover.ts
  e2e/testcafe-devextreme/tests/cardView/etalons/cover-default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/cover-default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/cover-default-render (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/cover/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/cover/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_sizes.scss
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/cover.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.test.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/cover.tsx
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Labels: 25_1

#29583 TabPanel: get rid of stretching if it contains one tab in Generic vertical mode
  e2e/testcafe-devextreme/tests/navigation/tabPanel/common.ts
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (material-blue-light).png
  packages/devextreme-scss/scss/widgets/generic/tabPanel/_index.scss
Labels: skip-cache, force all tests, 25_1

#29582 CI: Update PR filter stubs
  .github/workflows/pr-filter-stubs.yml
Labels: 25_1

#29565 Globalize demo: update description
  apps/demos/Demos/Localization/UsingGlobalize/description.md
Labels: 25_1

#29590 DataGrid - overview demo - update etalons
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
Labels: cherry-pick, 24_1

#29594 TabPanel: fix incorrect height for single item in left/right tabPosition in Generic theme (T1286860)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/common.ts
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (material-blue-light).png
  packages/devextreme-scss/scss/widgets/generic/tabPanel/_index.scss
Labels: cherry-pick, 24_2

#29559 TreeList: Fix navigation to the required node when cellRender is specified (T1275775)
  e2e/testcafe-devextreme/tests/treeList/API.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=true).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=true).png
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, skip-cache, 24_2

#29597 Tabs, TabPanel: improve typing and fix all eslint errors
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Labels: 25_1

#29600 Tabs, TabPanel: improve typing and fix all eslint errors
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Labels: cherry-pick, 24_2

#29501 HtmlEditor: Add AI Toolbar Item & AI Dialog components for a Text Transform feature
  packages/devextreme-scss/scss/widgets/base/_htmlEditor.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/core/utils/capitalize.ts
  packages/devextreme/js/__internal/grids/pivot_grid/fields_area/m_fields_area.ts
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget_utils.ts
  packages/devextreme/js/__internal/grids/pivot_grid/remote_store/m_remote_store.ts
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_toolbar.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_formDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/ai.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/helpers/aiToolbarMenu.js
  packages/devextreme/testing/tests/DevExpress.core/utils.capitalize.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
  pnpm-lock.yaml
Labels: skip-cache, 25_1

#29604 FileManager BindingToFileSystem demo new etalons
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (material.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Labels: 24_1

#29602 Tabs: focusedElement should remain on the same selected tab after pressing Enter when multiple selection mode is used (T1285635)
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Labels: 25_1

#29558 TreeList: Fix navigation to the required node when cellRender is specified (T1275775)
  e2e/testcafe-devextreme/tests/treeList/API.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=true).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=true).png
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/testcafe-models/dataGrid/index.ts
Labels: cherry-pick, skip-cache, 24_1

#29619 Stepper: icon with a specified image path should fit into the step
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
Labels: 25_1

#29615 Form should not be marked as dirty after calling the reset(editorsData) method and resetting Editor to initial value, which is equal to the current value (T1279884)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Labels: cherry-pick, 24_1

#29613 fix: vue common re-export building leaves some subdirectories inacces…
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Vue/config.bundle.js
  packages/devextreme-vue/gulpfile.js
Labels: cherry-pick, 25_1

#29418 GHPages - move ignored to metadata
  apps/demos/menuMeta.json
  apps/demos/utils/create-bundles/helper/index.ts
  apps/demos/utils/visual-tests/github-ignored-list.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: 24_2

#29626 Revert "Stepper: icon with a specified image path should fit into the step (#29619)
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
Labels: 25_1

#29618 HTMLEditor: Add askAI command support for AI Text Transform feature
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/helpers/aiToolbarMenu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAIDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Labels: skip-cache, 25_1

#29538 T1261511: AppointmentCollectorTemplate provides appointments data
  e2e/testcafe-devextreme/tests/scheduler/common/appointments/appointment_collector.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29487 HtmlEditor: Add aiIntegration option in .d.ts
  packages/devextreme-angular/src/ui/html-editor/index.ts
  packages/devextreme-vue/src/html-editor.ts
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/ui/html_editor.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: skip-cache, 25_1

#29627 🎴 CardView - HeaderFilter - implement
  e2e/testcafe-devextreme/tests/cardView/headerFilter/api.functional.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/helpers/baseConfig.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/local.functional.ts
  e2e/testcafe-devextreme/tests/cardView/headerFilter/remote.functional.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/simpleArrayData.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/clear_filter_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/get_applied_filters_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/legacy_header_filter.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.intergration.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
  packages/testcafe-models/cardView/index.ts
  packages/testcafe-models/gridCore/index.ts
  packages/testcafe-models/treeView/treeViewNode.ts
Labels: 25_1

#29630 CardView: KBN
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/contentView.functional.ts
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/header.functional.ts
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/search.functional.ts
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/selection.functional.ts
  packages/devextreme-scss/scss/widgets/base/cardView/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/_index.scss
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/__snapshots__/card.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.ts
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/item.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/context_menu/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/options.integration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/widget_wrapper.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_focus_trap.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_navigation_container.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/multipleKeyDownHandler.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/multipleKeyDownHandler.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/base.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/horizontal_list.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/matrix.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/options.intergration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_key_down_handler.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_navigation_item.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/controller_ui.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/sorting_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/toolbar.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/toolbar/view.tsx
  packages/testcafe-models/cardView/index.ts
  packages/testcafe-models/cardView/toolbar.ts
Labels: 25_1

#29629 Informer - extract private component
  apps/react-storybook/stories/informer/Informer.stories.tsx
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-alertlist/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-alertlist/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/informer/_index.scss
  packages/devextreme-scss/scss/widgets/base/informer/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/informer/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/informer/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/informer/_index.scss
  packages/devextreme-scss/scss/widgets/generic/informer/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/material/informer/_index.scss
  packages/devextreme-scss/scss/widgets/material/informer/_sizes.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/chat/alertlist.ts
  packages/devextreme/js/__internal/ui/informer/informer.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/informer.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/alertList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/alertList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/informer.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/informer.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Labels: 25_1

#29636 DateRangeBox, DateBox, Calendar: extend type for date props with null (T1282901)
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-angular/src/ui/calendar/index.ts
  packages/devextreme-angular/src/ui/date-box/index.ts
  packages/devextreme-angular/src/ui/date-box/nested/calendar-options.ts
  packages/devextreme-angular/src/ui/date-range-box/index.ts
  packages/devextreme-angular/src/ui/date-range-box/nested/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/base/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/calendar-options.ts
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme/js/__internal/ui/date_box/m_date_box.base.ts
  packages/devextreme/js/__internal/ui/date_range_box/m_multiselect_date_box.ts
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/calendar_types.d.ts
  packages/devextreme/js/ui/date_box.d.ts
  packages/devextreme/js/ui/date_box_types.d.ts
  packages/devextreme/js/ui/date_range_box.d.ts
  packages/devextreme/js/ui/date_range_box_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#29643 CardView: KBN improvements
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/api.onFocusedCardChanged.functional.ts
  e2e/testcafe-devextreme/tests/cardView/keyboardNavigation/api.onKeyDown.functional.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/core/events/decorators.ts
  packages/devextreme/js/__internal/grids/new/grid_core/core/events/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/core/events/native_event_listener.ts
  packages/devextreme/js/__internal/grids/new/grid_core/core/events/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/core/events/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_focus_trap.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_navigation_container.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/base.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/navigation_strategy/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/options.intergration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_key_down_handler.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/with_navigation_item.tsx
Labels: 25_1

#29647 CardView: add stories params for kbn
  apps/react-storybook/stories/card_view/CardView.stories.tsx
Labels: 25_1

#29632 refactor resource processor with promises
  packages/devextreme/js/__internal/scheduler/appointments/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/resources/m_agenda_resource_processor.ts
  packages/devextreme/js/__internal/scheduler/resources/m_utils.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.test.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/agenda.resourceProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
Labels: 25_1

#29644 Tabs, Tabpanel: remove 'm_' prefix
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/item.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/stepper/stepper_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/item.ts
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/item.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.knockout/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetItem.tests.js
Labels: 25_1

#29648 Tabs, TabPanel: remove 'm_' prefix
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/item.ts
  packages/devextreme/js/__internal/ui/context_menu/m_menu_base.ts
  packages/devextreme/js/__internal/ui/list/m_item.ts
  packages/devextreme/js/__internal/ui/m_box.ts
  packages/devextreme/js/__internal/ui/splitter/splitter_item.ts
  packages/devextreme/js/__internal/ui/tab_panel/item.ts
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/item.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.knockout/collectionWidgetItem.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetItem.tests.js
Labels: cherry-pick, 24_2

#29576 CardView - editing
  e2e/testcafe-devextreme/tests/cardView/editing.visual.ts
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/helpers/simpleArrayData.ts
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/core/utils/promise.ts
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/header.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/content.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/public_methods.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/core/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/component.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/form.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/popup.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/kbn_focus_trap.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
  packages/testcafe-models/cardView/card.ts
  packages/testcafe-models/cardView/toolbar.ts
Labels: 25_1

#29646 Stepper: icon with a specified image path should fit into the step
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.css
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.html
  apps/demos/Demos/Stepper/StepTemplate/React/App.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/styles.css
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/App.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/styles.css
  apps/demos/Demos/Stepper/StepTemplate/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.html
  apps/demos/Demos/Stepper/StepTemplate/jQuery/styles.css
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/Stepper-StepTemplate (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate (material.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate.png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused.png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
Labels: skip-cache, force all tests, 25_1

#29645 Testcafe: revive tests after Chrome update
  e2e/testcafe-devextreme/tests/navigation/contextMenu/common.ts
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-contrast).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-dark).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (generic-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu items render (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/navigation/menu/common.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, right collision (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/common.ts
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed invalid step focused (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed invalid step focused (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed invalid step focused (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed step focused (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed step focused (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed step focused (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed valid step focused (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed valid step focused (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Completed valid step focused (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled invalid step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper disabled valid step focused,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper invalid step selected,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper last step selected,selectOnFocus=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step focused,selectOnFocus=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/stepper/etalons/Stepper valid step selected,selectOnFocus=true (material-blue-light).png
Labels: 25_1

#29625 T1283238. Fix last row in paginated dataStore
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_api.mock.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_count_columns_only_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_count_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_columns_only_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_offset_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_dimensions_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_hierarchies_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_levels_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_measure_groups_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_measures_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/T1283238_OLAP_drag_and_drop_field.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (material-blue-light).png
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/testcafe-models/pivotGrid/index.ts
  packages/testcafe-models/pivotGrid/overlay.ts
Labels: 25_1

#29653 Add missing param doctags - counter part for type doctags overriding DateLike type
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/date_box.d.ts
Labels: 25_1

#29654 Add missing param doctags - counter part for type doctags overriding DateLike type
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/js/ui/date_box.d.ts
Labels: cherry-pick, 24_2

#29659 🐞 T1284200. PivotGrid. Select all of field chooser doesn't work with remote dataSource (#29655)
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
Labels: type/bug, cherry-pick, 24_2

#29656 Chat: unskip and fix unstable test with ScrollView integration
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 25_1

#29664 Chat: unskip and fix unstable test with ScrollView integration
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: cherry-pick, 24_2

#29658 Chart: Improve performance of categories aggregation (T1278348)
  packages/devextreme/js/viz/components/data_validator.js
Labels: skip-cache, force all tests, 25_1

#29662 T1283238. Fix last row in paginated dataStore (#29625)
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_api.mock.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_count_columns_only_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_count_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_columns_only_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_offset_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_data_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_dimensions_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_hierarchies_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_levels_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_measure_groups_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/apiMocks/OLAP_measures_response.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/T1283238_OLAP_drag_and_drop_field.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=false) (material-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (generic-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/etalons/empty_table_after_dnd (showRowGrandTotals=true) (material-blue-light).png
  packages/devextreme/js/__internal/grids/pivot_grid/data_controller/m_data_controller.ts
  packages/testcafe-models/pivotGrid/index.ts
  packages/testcafe-models/pivotGrid/overlay.ts
Labels: cherry-pick, 24_2

#29573 DataGrid: Implement column reordering using keyboard navigation
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  apps/react-storybook/stories/examples/datagrid/data.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/columnReordering.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_band_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_band_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_rtlEnabled_=_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_rtlEnabled_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_there_are_hidden_columns.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_there_is_command_column.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_right_when_rtlEnabled_=_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_right_when_rtlEnabled_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_right_when_there_are_hidden_columns.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_right_when_there_is_command_column.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_when_allowColumnReordering_is_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_when_allowColumnReordering_is_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_when_there_are_async_templates_and_renderAsync_=_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_when_there_are_async_templates_and_renderAsync_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_with_allowReordering_is_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_custom_command_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_custom_command_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_left_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_left_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_nested_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_nested_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_nested_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_nested_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_sticky_column_to_left.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_sticky_column_to_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/skipDragCell.functional.ts
  e2e/testcafe-devextreme/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_chooser/m_column_chooser.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/headers_keyboard_navigation.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  packages/testcafe-models/dataGrid/headers/index.ts
Labels: skip-cache, 25_1

#29666 Chart: Improve performance of categories aggregation (T1278348)
  packages/devextreme/js/viz/components/data_validator.js
Labels: cherry-pick, 24_2

#29665 Widget render recalculations tests: remove chrome update comment
  packages/devextreme/testing/tests/DevExpress.performance/widgetsRenderStyleRecalculations.tests.js
Labels: 24_1

#29631 HtmlEditor: Remove formDialogOptions option && Improve types
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/html_sanitizer.ts
  packages/devextreme/js/ui/html_editor/ui.html_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/valueRendering.tests.js
Labels: skip-cache, 25_1

#29661 Stepper: fix Form Integration demo css and meta
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.component.css
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.component.html
  apps/demos/Demos/Stepper/FormIntegration/React/App.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/styles.css
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/App.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/styles.css
  apps/demos/Demos/Stepper/FormIntegration/Vue/App.vue
  apps/demos/Demos/Stepper/FormIntegration/jQuery/index.js
  apps/demos/Demos/Stepper/FormIntegration/jQuery/styles.css
  apps/demos/Demos/Stepper/Overview/React/data.ts
  apps/demos/menuMeta.json
  apps/demos/testing/common.test.js
  apps/demos/testing/etalons/Stepper-FormIntegration (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-FormIntegration (material.blue.light).png
  apps/demos/testing/etalons/Stepper-FormIntegration.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled.png
  apps/demos/utils/visual-tests/matrix-test-helper.js
Labels: skip-cache, force all tests, 25_1

#29657 ButtonGroup, DropDownButton, ActionSheet: extend type with plain string (T1279589)
  packages/devextreme-angular/src/ui/action-sheet/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/button-group/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-react/src/action-sheet.ts
  packages/devextreme-react/src/button-group.ts
  packages/devextreme-vue/src/action-sheet.ts
  packages/devextreme-vue/src/button-group.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/action_sheet.d.ts
  packages/devextreme/js/ui/button_group.d.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29670 ButtonGroup, DropDownButton, ActionSheet: extend type with plain string (T1279589)
  packages/devextreme-angular/src/ui/action-sheet/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/button-group/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-react/src/action-sheet.ts
  packages/devextreme-react/src/button-group.ts
  packages/devextreme-vue/src/action-sheet.ts
  packages/devextreme-vue/src/button-group.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/action_sheet.d.ts
  packages/devextreme/js/ui/button_group.d.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: cherry-pick, 24_2

#29675 CardView - fix SSR
  packages/devextreme-angular/src/server/render.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Labels: 25_1

#29635 HtmlEditor: Add aiIntegration option
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAIDialogIntegration.tests.js
Labels: skip-cache, 25_1

#29649 Improve appointment accessibility
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/appointment.ts
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/T1235433.ts
  packages/devextreme/js/__internal/scheduler/__mock__/timezone_calculator.mock.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_types.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/text_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/text_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_classes.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.test.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/testcafe-models/scheduler/appointment/index.ts
Labels: 25_1

#29672 Chat.Editing: contextmenu integration
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (material-blue-light).png
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
  packages/testcafe-models/chat.ts
Labels: 25_1

#29639 HtmlEditor: Get rid of initial text value in the result TextArea
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
Labels: skip-cache, 25_1

#29680 Fixed focused link bg color
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/markup.ts
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, 25_1

#29689 Stepper: set height=580px for all 3 demos
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.component.css
  apps/demos/Demos/Stepper/FormIntegration/React/styles.css
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/styles.css
  apps/demos/Demos/Stepper/FormIntegration/Vue/App.vue
  apps/demos/Demos/Stepper/FormIntegration/jQuery/styles.css
  apps/demos/Demos/Stepper/Overview/Angular/app/app.component.css
  apps/demos/Demos/Stepper/Overview/React/styles.css
  apps/demos/Demos/Stepper/Overview/ReactJs/styles.css
  apps/demos/Demos/Stepper/Overview/Vue/App.vue
  apps/demos/Demos/Stepper/Overview/jQuery/styles.css
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.css
  apps/demos/Demos/Stepper/StepTemplate/React/styles.css
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/styles.css
  apps/demos/Demos/Stepper/StepTemplate/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/jQuery/styles.css
  apps/demos/testing/etalons/Stepper-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-Overview (material.blue.light).png
  apps/demos/testing/etalons/Stepper-Overview.png
  apps/demos/testing/etalons/Stepper-StepTemplate (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate (material.blue.light).png
  apps/demos/testing/etalons/Stepper-StepTemplate.png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Second stepper is focused.png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=horizontal (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=horizontal (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=horizontal.png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=vertical (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=vertical (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview rtl=true, orientation=vertical.png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview selectOnFocus=false (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview selectOnFocus=false (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Stepper overview selectOnFocus=false.png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Third stepper is focused.png
Labels: 25_1

#29628 DataGrid: Implementing reordering of grouped columns using keyboard navigation
  apps/react-storybook/stories/examples/datagrid/DataGrid.stories.tsx
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/columnReordering.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_there_are_hidden_columns.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_when_allowColumnReordering_is_false_and_group_panel_is_visible.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_right_when_there_is_command_column_on_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_right_when_there_is_custom_command_column_on_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_to_left_when_rtlEnabled_=_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_to_left_when_rtlEnabled_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_to_right_when_rtlEnabled_=_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_to_right_when_rtlEnabled_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_when_group_panel_allowColumnDragging_is_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_when_onKeyDown_args_handled_=_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_group_column_with_allowGrouping_is_false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/groupColumnReordering.visual.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/const.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_group_panel_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/testing/helpers/grid/keyboardNavigationHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Labels: skip-cache, 25_1

#29682 Stepper: describe Step Template demo
  apps/demos/Demos/Stepper/StepTemplate/description.md
Labels: 25_1

#29679 chore: postpone theme class attachments until first widget creation
  apps/demos/testing/etalons/Charts-ClientSideDataProcessing (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ContextMenu (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ExportToPDF (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Sorting (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/PivotGrid-StatePersistence (material.blue.light).png
  apps/demos/testing/etalons/TreeList-Resizing (material.blue.light).png
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Labels: cherry-pick, 25_1

#29693 Fixed focused link bg color (#29680)
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/etalons/focused-row-link-background (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/markup.ts
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, cherry-pick, 24_2

#29690 fix: could not resolve "inferno-create-element" fix
  packages/devextreme/package.json
  pnpm-lock.yaml
Labels: cherry-pick, 24_2

#29691 fix: could not resolve "inferno-create-element" fix
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Labels: cherry-pick, 24_1

#29684 Stepper: describe Form Integration demo
  apps/demos/Demos/Stepper/FormIntegration/description.md
Labels: 25_1

#29692 Fixed focused link bg color (#29680)
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/etalons/focused-row-link-background (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/etalons/focused-row-link-background (generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/etalons/focused-row-link-background (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/markup.ts
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Labels: type/bug, cherry-pick, 24_1

#29633 HtmlEditor: Update AI dialog controls && Add storybook story
  apps/react-storybook/stories/htmleditor/HtmlEditor.stories.tsx
  apps/react-storybook/stories/htmleditor/data.ts
  packages/devextreme-scss/scss/widgets/base/_htmlEditor.scss
  packages/devextreme-scss/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/htmlEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/generic/htmlEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/material/htmlEditor/_sizes.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/html_editor/modules/m_toolbar.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Labels: skip-cache, 25_1

#29708 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 23_2

#29711 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_2

#29709 CI: Update internal usage id
  packages/devextreme/js/__internal/core/license/key.ts
Labels: 24_1

#29696 FileUploader: validation should not consider accept option (T1287250)
  packages/devextreme/js/__internal/ui/html_editor/utils/m_image_uploader_helper.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 25_1

#29674 Chat: add .d.ts for message editing functionality
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Labels: 25_1

#29718 Chat: editing context menu should be hidden after window resize
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 25_1

#29701 Stepper: add Overview demo description
  apps/demos/Demos/Stepper/Overview/description.md
Labels: 25_1

#29720 Chat: an error should not occur when showing if jQEvent is not passed
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Labels: 25_1

#29695 CardView - change highlight color
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/search/etalons/card-view_search_text-highlighting (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/search/visual.ts
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/content/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_colors.scss
Labels: 25_1

#29712 fix: mark Template component as 'use client'
  packages/devextreme-react/src/core/template.tsx
Labels: 24_2

#29719 Scheduler: keyboard navigation through appointments on mac
  e2e/testcafe-devextreme/tests/scheduler/common/keyboardNavigation/dateTable.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: type/bug, 25_1

#29724 Scheduler: keyboard navigation through appointments on mac (#29719)
  e2e/testcafe-devextreme/tests/scheduler/common/keyboardNavigation/dateTable.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Labels: type/bug, cherry-pick, 24_1

#29726 Stepper: refactor demos
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/app.component.html
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/dates-form/dates-form.component.html
  apps/demos/Demos/Stepper/FormIntegration/Angular/app/room-meal-plan-form/room-meal-plan-form.component.html
  apps/demos/Demos/Stepper/FormIntegration/React/App.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/DatesForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/RoomMealPlanForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/App.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/DatesForm.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/RoomMealPlanForm.js
  apps/demos/Demos/Stepper/FormIntegration/Vue/App.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/DatesTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/Vue/RoomMealPlanTemplate.vue
  apps/demos/Demos/Stepper/FormIntegration/jQuery/index.js
  apps/demos/Demos/Stepper/Overview/Angular/app/app.component.html
  apps/demos/Demos/Stepper/Overview/React/Steppers.tsx
  apps/demos/Demos/Stepper/Overview/ReactJs/Steppers.js
  apps/demos/Demos/Stepper/Overview/Vue/App.vue
  apps/demos/testing/etalons/Stepper-FormIntegration (fluent.blue.light).png
  apps/demos/testing/etalons/Stepper-FormIntegration (material.blue.light).png
  apps/demos/testing/etalons/Stepper-FormIntegration.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step confirmed.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary final.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fifth step summary.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Fourth optional step form empty.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Second step form filled.png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled (fluent.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-Third step form filled.png
Labels: 25_1
